{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}

<main id="content"><!-- for skip to content link -->
{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
{{ range $paginator.Pages }}
  <article resource="{{ .Permalink }}#post" property="blogPost" 
    typeof="BlogPosting">
    <h2 property="headline"><a property="sameAs url" href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <div property="articleBody">{{ .Content }}</div>
    <small class="postMeta">{{ printf "<time property=\"datePublished\" datetime=\"%s\">" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTML }}
      {{ .Date.Format "Monday 02 January 2006" }}
    </time>{{ with .Params.Category }} in <a href="/{{ . | urlize }}/">{{ . }}</a></small>{{ end }} 
  </article>
<hr />
{{ end }}

<nav class="secondary">
  <ul>
    {{ if .Paginator.HasPrev }}<li><a title="Previous page" href="{{ .Paginator.Prev.URL }}">&larr; Previous</a></li>{{ end }}
    <li>Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</li>
    {{ if .Paginator.HasNext }}<li><a title="Next page" href="{{ .Paginator.Next.URL }}">&rarr; Next</a></li>{{ end }}
  </ul>
</nav>

{{ partial "footer.html" . }}

