{{ partial "head.html" . }}
<main>

<div id="auxiliary">
{{ if eq .Title "Show" }}{{ partial "show.html" }}{{ else if eq .Title "Annexe" }}{{ partial "annexe.html" }}{{ else }}
<h2><a href="{{ .Permalink }}">{{ replace .Title "-" " " | title }} archive</a></h2>
<p></p>{{ end }}{{ if eq .Title "Category" }}{{ else if eq .Title "Tag" }}<p>One day I’ll get around to cleaning these up.</p>{{ end }}{{ if or (eq .Title "Category") (eq .Title "Tag") (eq .Title "Year") }}
<ul>{{ range .Data.Pages.ByTitle }}
<li><a href="{{ .Permalink }}">{{ lower .Title }}</a></li>{{ end }}
</ul>{{ else if (eq .Title "Location") }}
<p>Places where I’ve written posts. I haven’t backfilled beyond 2010-ish.</p>
<ul>{{ range .Data.Pages.ByTitle }}
<li><a href="{{ .Permalink }}">{{ replace .Title "-" " " | title }}</a></li>{{ end }}
</ul>{{ else }}
<ol>{{ range .Data.Pages }}
<li><p><a href="{{ .Permalink }}">{{ replace .Title "Rubenerd Show" "Show" }}</a><br />
{{ printf "<time class=\"postdate\" datetime=\"%s\">" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTML }}{{ .Date.Format "Monday 02 January 2006" }}</time></p></li>{{ end }}
</ol>{{ end }}
</div>

</main>

{{ partial "sidebar.html" . }}
{{ partial "foot.html" . }}
