{{ partial "head.html" . }}
<main id="start">

<article id="{{ .File.BaseFileName }}" itemprop="blogPost" itemscope="itemscope" itemtype="https://schema.org/BlogPosting" itemid="{{ .Permalink }}">
<h2 itemprop="name"><a itemprop="url" href="{{ .Permalink }}">{{ .Title }}</a></h2>{{ if eq .Section "post" }}
{{ printf "<time itemprop=\"datePublished\" datetime=\"%s\">" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTML }}{{ .Date.Format "Monday 02 January 2006" }}</time>{{ end }}
<div class="content" itemprop="articleBody">
{{ replace .Content "\n\n" "\n" | safeHTML }}</div>
<hr />{{ if eq .Section "post" }}
<ul class="meta">
<li><span>Published:</span> <a href="/year/{{ .Date.Format "2006" }}/">{{ .Date.Format "Monday 02 January 2006" }}</a></li>
{{ with .Params.Category }}<li><span>Tagged:</span> <span itemprop="keywords"><a href="/{{ lower . }}/">{{ lower . }}</a>{{ end }}{{ range .Params.Tag }}, <a href="/tag/{{ . }}/">{{ . }}</a>{{ end }}</span>{{ with .Params.Location }}
<li><span>Written in:</span> <a href="/location/{{ lower . }}/"><span itemprop="locationCreated">{{ . }}</span></a></li>{{ end }}
</ul>
<meta itemprop="wordCount" content="{{ .WordCount }}" />
{{ end }}</article>

<hr />{{ safeHTML "<!-- ***************************************************************** -->" }}{{ if eq .Section "post" }}

<div class="secondary">
<p><img src="https://rubenerd.com/files/2017/me.jpg" alt="Me!" style="float:right; margin:0 0 1em 2em; height:96px; width:96px;" /></p>
<p>I'm <a href="/about/">Ruben Schade</a>, a technical writer and IaaS engineer in Australia. Hi! You can <a href="https://www.ko-fi.com/A625HL">shout me a coffee</a> or <a href="https://rubenerd.com/about/#contact">send a comment here</a>. Thanks for reading.</p>
</div> {{ end }}

</main>

<hr />{{ safeHTML "<!-- ***************************************************************** -->" }}{{ if eq .Section "post" }}

<nav id="pagination">
<p>
{{ with .Page.Next }}Newer post <span aria-hidden="true" class="page-arrow">&larr;</span> <a href="{{ .RelPermalink }}">{{ .Title }}</a><br />{{ end }}
{{ with .Page.Prev }}Older post <span aria-hidden="true" class="page-arrow">&rarr;</span> <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}
</p>
</nav>{{ end }}<!-- / if eq .Section "post" -->

{{ partial "foot.html" . }}
