{{ define "main" }}
{{/*  Get Posts  */}}{{ $posts := where site.RegularPages "Type" "post" }}{{/*  Group Posts by Date  */}}{{ $grouped := $posts.GroupByDate "Monday, 02 January, 2006" }}{{/*  Paginate Group  */}}{{ $paginated := (.Paginate ($grouped)) }}{{/*  Range over Page Groups  */}}{{ range $paginated.PageGroups }}
<hr />{{ safeHTML "<!-- It's a brand new day です~ ************************************* -->" }}
<h2 class="date-title">{{ .Key }}</h2>
<hr />

{{/*  Range over PageGroup Pages (.Reverse for reverse)  */}}{{ range .Pages }}
<hr />{{ safeHTML "<!-- Blog post です~ ************************************************ -->" }}
<article class="post" resource="{{ .Permalink }}">
<h3 class="post-title">{{ .Title }} <a title="Permalink" href="{{ .Permalink }}">&rarr;</a></h3>
{{ printf "<time class=\"post-metadata\" datetime=\"%s\">" (.Date.Format "2006-01-02T15:04:05-07:00") 
    | safeHTML }}{{ .Date.Format "Monday, 02 January, 2006" }}</time>
<div class="post-content">
{{ .Content }}</div><!-- /post-content -->
</article>

{{ end }}{{ end }}
{{ safeHTML "<!-- End of page content です~ ******************************************** -->" }}
</main>


<hr />{{ safeHTML "<!-- Site pagination です~ ****************************************** -->" }}
<nav id="pagination">{{ if .Paginator.HasPrev }}<a rel="Next" id="page-newer" href="{{ .Paginator.Prev.URL }}">Newer posts</a> <span aria-hidden="true" class="page-arrow">&larr;</span>{{ end }}
<span id="page-number">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
{{ if .Paginator.HasNext }}<span aria-hidden="true" class="page-arrow">&rarr;</span> <a rel="Prev" id="page-older" href="{{ .Paginator.Next.URL }}">Older posts</a>{{ end }}
</nav>
{{ end }}
