---
title: '9 to 5' 
date: "2005-12-03T01:39:26+10:00"
year: "2005"
category: Media
tag:
- movies
- my-rapidweaver-blog
location: Adelaide
---
<p>Just finished watching 9 to 5 the movie, brilliant movie!</p>
<p>From the IMDB: &quot;Three female employees of a &quot;sexist, egotistical, lying, hypocritical bigot&quot; find a way to turn the tables on him.&quot;</p>
<p><img src="https://rubenerd.com/files/uploads/page0_blog_entry20_1.jpg" alt="Movie DVD cover." height="140" width="76" /></p>
<p>Aside from being side splitting (you could fill an entire comedy one-liners book with it!) it really is a rare glimpse into how sexist the workplace was even 20 years ago. I think these days guys tend to act fairly cynically towards feminists and their &#39;causes&#39; but seeing how they were treated in this movie really makes you think. If they hadn&#39;t done what they did do its quite feasible that they would be treated like crap even today… some would argue they still are.</p>
<p>This is why ads like the LYNXjet commercials showing on television are really pissing me off. Are we going backwards in time here? Is it possible another 20 years will pass and we&#39;ll be back to the satirical world shown in the movie? I hope for the sake of our condition we&#39;re not.</p>
 
