---
title: 'Choosing a blogging tool' 
date: "2005-11-26T05:40:18+10:00"
year: "2005"
category: Internet
tag:
- infocomm
- my-rapidweaver-blog
- weblog
location: Adelaide
---
<p>Been looking for a while at blogging tools, still no entirely sure which one to go with. Movable Type is out of the question (mostly because I&#39;m too lazy). I was giving some serious thought to WordPress, a lot of its users seem pretty pleased with it. Of course, it used MySQL and I really want to avoid using a database.</p>
<p>And NO I don&#39;t want to use Blogger, thank you very much ;)</p>
<p>I guess this brings me to a point on &#39;data independence&#39;. I&#39;m highly critical of sites or software that take your data and lock it up so if in future you want to migrate to another platform or software package, it&#39;s either painfully difficult or simply impossible. Call me paranoid, but that&#39;s exactly why The Rubenerd Show site still uses Perl scripts that I write myself, because if at any time I want to change it&#39;s much easier for me to do.</p>
 
