---
title: 'Linux on an iBook G3' 
date: "2005-11-27T04:38:42+10:00"
year: "2005"
category: Software
tag:
- gentoo
- ibook-g3
- infocomm
- linux
- my-rapidweaver-blog
location: Adelaide
---
<p>I was just about to sleep, but then remembered I wanted to start my Gentoo <del>intsallation</del> installation on my iBook so it could run while I slept, a real time maximiser! Yes.</p>
<p>Anyway, if you&#39;re thinking of taking the plunge, here are some useful sites I&#39;ve found:</p>
<ul>
<li><a href="http://gentoo.org/proj/en/base/ppc/">Gentoo Linux for PowerPC</a></li>
<li><a href="http://linuxjournal.com/article/7012">Linux Journal: Penguin in the Apple</a></li>
<li><a href="http://wiki.linuxquestions.org/wiki/Linux_for_Macintosh">LinuxQuestions: Linux for Macintosh</a></li>
<li><a href="http://ubuntuforums.org/archive/index.php/t-8984.html">Ubuntu Forums: Booting CDs on G3 iBooks</a></li>
</ul>
<p><img src="https://rubenerd.com/files/uploads/page1_blog_entry5_1.jpg" alt="Logo for the Gentoo Linux Project." height="124" width="190" /><br />
<cite>The Gentoo Linux Project</cite></p>
 
