<figure class="wp-block-image"><img src="http://onsug.com/shows/Feb25/onsug_Feb25_rs430.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>14:22</strong> – Bit of a weirder one today; talking about the time last week when the trolls won! But I got some amazing feedback and some help, so maybe there are lessons here I can pass on. Have you heard of this thing called the block button? I should do that! Thanks again, will be a more normal episode next time.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released February 2025 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
