<figure class="wp-block-image"><img src="http://onsug.com/shows/Apr23/onsug_Apr23_rs424.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>21:44</strong> – Join me on a brief wander through Namba Parks, then onto the Osaka Metro to Daikokujo! Talking about being back in Japan, why Clara and I love the Kansai region even more than Tokyo, topping up Suica and ICOCA cards, the growing number of bikes here, and almost walking into someone. *Sumimasen!*</p>

<p class="show-licence">Recorded in Osaka, Japan. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released April 2023 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
