<figure class="wp-block-image"><img src="http://onsug.com/shows/Jul23/onsug_Jul23_rs426.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>30:40</strong> – Join Ruben on a muggy, cold Sydney evening talking about James from <a href="https://jamesg.blog/">James’ Coffee Blog</a> starting <a href="https://onsug.com/archives/category/james">his own podcast</a>, why I’m allergic to Melbourne, and meeting my favourite ever vtuber <a href="https://hololive.hololivepro.com/en/talents/pavolia-reine/">Pavolia Reine</a> from Hololive Indonesia!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released July 2023 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
