<figure class="wp-block-image"><img src="http://onsug.com/shows/Oct24/onsug_Oct24_rs429.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>41:19</strong> – A few things today, but mostly a discussion of our beloved Amelia Watson wrapping up her regular English vtuber activities with Hololive, and the adventures of buying our first home! When one thing ends, another thing starts. ♡ Microwave ovens. Custom kitchen delivery.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released October 2024 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
