<figure class="wp-block-image"><img src="http://onsug.com/shows/May23/onsug_May23_rs425.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>25:15</strong> – This episode is dedicated to the memory of <a href="https://jimkloss.com/">Jim Kloss</a>, whom I <a href="https://rubenerd.com/show356/">interviewed on the show in 2016</a>. Jim was one of my dearest friends, a mentor in life, and a wonderful human being. Recorded late one evening wandering around a park in Sydney.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released May 2023 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
