<figure class="wp-block-image"><img src="http://onsug.com/shows/Jul22/onsug_Jul22_rs422.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>28:23</strong> – Hey, I remember when I recorded stuff! Making coffee, talking about the state of the world, some personal notes, putting the kettle on, not being fancy with tea, a letter from strata, and thoughts about travel. I’ll be back to doing these regularly again when I feel up to it, thanks for listening :).</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released July 2022 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
