<figure class="wp-block-image"><img src="http://onsug.com/shows/Sep21/onsug_Sep21_rs419.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>53:50</strong> – Join your host as he enjoys some milder Sydney weather! Talking about monsoons in Singapore and Hong Kong, wanting to live in the latter after it blew me away (metaphorically, not in a monsoon), slim Japanese clothing, water-retaining socks, always feeling the need to be productive, embarrassing nerd magazines on the train, old-school MP3 players, downtime, meditation, a rant about music streaming platforms, and collecting music again.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released September 2021 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
