<figure class="wp-block-image"><img src="http://onsug.com/shows/Jan21/onsug_Jan21_rs413.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>13:57</strong> – Jim Kloss <a href="http://wholewheatradio.duckdns.org:8000/WWR">returned</a> to the <a href="https://rubenerd.com/tag/whole-wheat-radio/">Whole Wheat Radio</a> airwaves again for a chat! I was not prepared, and even started typing over it towards the end when work pinged me, but I couldn’t let this moment of Internet audio history go unrecorded.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released January 2021 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
