<figure class="wp-block-image"><img src="http://onsug.com/shows/May21/onsug_May21_rs414.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>14:00</strong> – A discussion about how my fervour for independent writing hasn’t translated into improving podcast imposter syndrome! Also RSS, distribution, how social networks have convinced people to only write for them, and related ruminations. Thanks for your patience while I produced this one :).</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released May 2021 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
