<figure class="wp-block-image"><img src="http://onsug.com/shows/Aug21/onsug_Aug21_rs417.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>27:47</strong> – Why am I out here under a shelter while there’s a storm outside? Talking about the HoloCouncil, why am I out here, missing travel, it’s a bit windy out here, where I’d live if I had a spare billion dollars between the proverbial couch cushions, and why am I out here?</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released August 2021 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
