<figure class="wp-block-image"><img src="http://onsug.com/shows/Jul21/onsug_Jul21_rs415.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>55:49</strong> – In part one, your sophisticated host attempts to make an Aeropress coffee live on air, namedrops his friend, mentions some Minecraft LEGO adventures, and discusses some listener mail from Oskar Sharipov regarding audio recording, OGG files, and independent production. Then we timeskip a week to when your aforementioned host walks around an abandoned Chatswood street late at night to find which coffee shops are open during the Sydney lockdowns. Mmm, coffee.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released July 2021 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
