<figure class="wp-block-image"><img src="http://onsug.com/shows/Oct23/onsug_Oct23_rs427.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>20:47</strong> – The <a href="https://www.intoyourhead.com">Into Your Head</a> show is returning! I also returned to the <a href="https://onsug.com/archives/34877">Exit Ramp</a> for an episode! Join Ruben as he discusses these, along with brewing coffee, a recovered audio clip from 2008, bad accents, and adventures with audio levels.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released October 2023 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
