<figure class="wp-block-image"><img src="http://onsug.com/shows/Jun24/onsug_Jun24_rs428.png" alt="" style="width:300px; height:300px;" /></figure>

<p class="show-description"><strong>28:16</strong> – Sitting outside on this blustery winter morning talking about Mike Karels, Gordon Bell, Dave Ross, and Jim Kloss, with some trademark digressions and a hot mug of coffee.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released June 2024 on <a href="https://rubenerd.com/">Rubenerd</a> and <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>
