{{ partial "header.html" . }}

<div class="post archive-{{ urlize .Title }}" id="archive">
{{ if eq .Title "Show" }}{{ partial "show.html" }}{{ else if eq .Title "Annexe" }}{{ partial "annexe.html" }}{{ else }}
<h2>{{ replace .Title "-" " " | title }} post archive</h2>
<p></p>{{ end }}

{{ if eq .Title "Category" }}
<p>This is a list of all categories. View the <a href="/archives/">archive page</a> for more delightful taxonomies.</p>
{{ else if eq .Title "Tag" }}
<p>This is a list of all tags. View the <a href="/archives/">archive page</a> for more delightful taxonomies.</p>
{{ end }}

{{ if or (eq .Title "Category") (eq .Title "Tag") (eq .Title "Year") }}
<ul>{{ range .Data.Pages.ByTitle }}
<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
</ul>
{{ else if (eq .Title "Location") }}
<ul>{{ range .Data.Pages.ByTitle }}
<li><a href="{{ .Permalink }}">{{ replace .Title "-" " " | title }}</a></li>{{ end }}
</ul>
{{ else }}
<ol>{{ range .Data.Pages }}
<li><time>{{ .Date.Format "2006-01-02" }}</time> <a href="{{ .Permalink }}">{{ replace .Title "Rubenerd Show" "Show" }}</a></li>{{ end }}
</ol>{{ end }}

</div>

</main>

<nav id="pagination">
&larr; <a href="/archives/">Other Archives</a>
</nav>

{{ partial "footer.html" . }}
