######
## Whitelisted .gitignore for rubenerd.com
## 2017-03-30

## Ignore everything
*

## Root files
!config.yaml
!preview
!README.md
!upload

## Site content
!content/omake/*.markdown
!content/page/*.html
!content/page/*.html
!content/post/*/*.html
!content/post/*/*.markdown

## Theme
!layouts/*.html
!layouts/*.xml
!layouts/*/*.html

## Metadata
!metadata/cover.*
!metadata/*.html
!metadata/*.png
!metadata/*.txt
!metadata/*.xml

## Scripts
!scripts/*.ps1
!scripts/*.sh

## Static assets
!static/*.css
!static/*.html
!static/*.ico
!static/*.png
!static/*.svg
!static/*.xml

