---
title: 'And So This is Christmas' 
date: "2004-12-25T01:34:03+10:00"
year: "2004"
category: Thoughts 
tag: 
- family
- holidays
- my-static-html-blog
- personal
- yuletide
location: Singapore
---
<p>Well Christmas is here again. I don&#39;t know why, but this year it never really felt like Christmas was coming, and now its here it was a bit of an anti-climax. Maybe I&#39;m just getting older.</p>
<p><img src="https://rubenerd.com/files/uploads/media.tree-glitter.gif" alt="" /></p>
<p>This morning everyone was sleeping but as usual my body&#39;s clock got me up at 7.00 ready for work! It really is freaky how accurate I can be, 9 times out of 10 I wake up and look at the time an its either 7.00 or one minute.</p>
<p>I watched another one of the latest episodes of Enterprise, season 4, the one where the United Earth Embassy on Vulcan gets bombed. Most of the storylines covers 2 or 3 episodes now, so they can get a lot more involved with events etc. I heard that was the main critisism towards seasons 1 and 2: not much cohesion. I thought they were okay, though Voyager is still my favourite, heh heh. Hey, it was the first Trek I saw… I was 2 when TNG came out!</p>
<p>So later on we went downstairs to the tree which hadn&#39;t even had decorations on it 2 days ago and gave out all the stuff… Elke got an iPod Mini which was good, she didn&#39;t go to the dark &quot;Creative Zen&quot; side. Don&#39;t know why the company is called Creative if all they do in the small portable music market is rip off someone else! And they just look crap! Hey, this is good rant material, might hold off for now…</p>
<p>I got my mum a Zire 72, her old Palm m505 was fine for a while but the screen was really low res and she was finding it tough to read the screen. The new one also has RealMedia player on it so she can put MP3s on her SD card and shove it in there to listen to music. A 1.2mp camera too. Man my Tungsten W is looking cheaper every day!</p>
<p>Better still, I got my dad a 1GB Compact Flash card for his Canon digital camera which eats up memory like… something that eats really fast. But the cool thing was I was able to pay for it with my work pay not pocket money, so when he got it he didn&#39;t have to think &quot;I&#39;m paying for this!&quot;.</p>
<p>We put off having the turkey roast till tomorrow night. One of Elke&#39;s friends was leaving Singapore for good so she left in the late afternoon to the airport. I think she went by cab: taking the MRT from Orchard or Newton Station down to City Hall and changing over to the East West line and going to Changi is cheap but takes well over an hour, a cab can make it in about 15 minutes! Yeah so instead the parentage and I watched Rocky &amp; Bullwinkle DVDs, they were seriously funny! Modern cartoons suck.</p>
<p>Anything else worth mentioning? Think that&#39;s it. Oh yes, I got an email from Mr Hopkins down in the Blue Mountains to say Merry Christmas which was a pleasent surprise :). Once I get my SMTP server working again I&#39;ll send him a reply. Damned Linux, my FreeBSD and NetBSD machines all work fine, I think I&#39;ll be moving it over next year.</p>
 
