---
title: "Mothers Day 2015"
date: "2015-05-10T21:32:00+10:00"
abstract: "To all those who don't have their mums today"
year: "2015"
category: Thoughts
tag:
- family
- debra-schade
- debra-ross
location: sydney
---
<p><img src="https://rubenerd.com/files/2015/CEo7hI5UIAABq3I.jpg" alt="Photo of my mum holding our puppy Tigerlily at the time ♡." style="width:360px; height:480px;" /></p>

<p>To bring some awesomeness to your day, have this great photo of our mum Debra from my sister <a href="https://twitter.com/elkeee">@elkeee</a>. To all those who don't have their mums this Mothers Day, love and peace. ♡</p>

<p>During her chemotherapy, Debra had a ton of different wigs. She was a short–haired blond one day, and a long red–head the next. It caused no end of confusion for the security guards in our apartment building in Singapore, something she took great delight in :).</p>

<p>Pictured along with her was our then–brand new puppy Tigerlily. Her brother passed on last year, but Tiger is still getting up to mischief.</p>

