---
title: "Reading off smartphones is rote learning"
date: "2015-05-14T16:07:00+10:00"
abstract: "Australian high school students still cheat on exams"
year: "2015"
category: Thoughts
tag:
- australia
- studies
- nsw
- education
location: sydney
---
<p><a href="http://kirinyan.net/">Clara</a> and I were struck [update: last week] by <a href="http://www.smh.com.au/national/education/hsc-cheating-revealed-after-icac-recommendation-20150506-ggv5bf.html">this Sydney Morning Herald article</a> on high school exam cheats:</p>

<blockquote>
<p>Among the 75,000 teenagers who took the final year exam last year was a student who wired herself up through an earpiece and a microphone in her sleeve to get answers from a friend outside the exam room, while another tried to convince an examiner that reading off their smartphone in the middle of the exam was "rote learning".</p>
</blockquote>

<p>My favourite quote:</p>

<blockquote>
<p>BOSTES president Tom Alegounarias: "It is more stress working out a way to cheat than focusing on best result you can get."</p>
</blockquote>

<p>Clearly not, given the extrodinary lengths students are prepared to do this. It reminds me of the CityRail worker who sadly admitted suicides increase sharply after exam results are published. The pressure some of these kids are under is absurd.</p>

<p>My submitted response, which we both discussed:</p>

<blockquote>
<p>It's almost as though exams are an antiquated and ineffective way of testing knowledge. As tech advances, and as long as these arbitrary memory regurgitations are required, expect cheaters to employ more sophisticated ways to cheat. It's like an arms race.</p>

<p>(I speak as someone who's never cheated, to preempt any suggestion otherwise!)</p>
</blockquote>

<p style="font-style:italic">Originally written on the 8th of May, but forgot to publish.</p>

