


<header id="site-banner">

<a id="skip" href="#content">Skip to content</a>
<h1 id="site-title"><img src="/logo.svg" alt="" /> <a title="Latest posts on {{ .Site.Title }}" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
<span id="site-tagline">{{ .Site.Params.description }}</span>

<nav id="site-navigation">
<ul>{{ range .Site.Menus.header }}
<li><a href="{{ .URL }}">{{ .Title }}</a></li>{{ end }}
</ul>
</nav>

</header>



<main id="content">
