


<header id="site-banner">

<a id="skip" href="#content">Skip to content</a>
<h1 id="site-title"><img src="/logo.svg" alt="" /> <a title="Latest posts on {{ .Site.Title }}" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
<span id="site-tagline">{{ .Site.Params.Info.Tagline }}</span>

<nav id="site-navigation">
<ul>{{ range .Site.Params.Navigation }}
<li><a id="nav-{{ lower .title | urlize }}" {{ with .info }}title="{{ . }}" {{ end }}href="{{ .url }}">{{ .title }}</a></li>{{ end }}
</ul>
</nav>

</header>



<main id="content">
