---
title: '9/11 Programme on Channel 9' 
date: "2006-09-07T01:35:05+10:00"
year: "2006"
category: Media 
tag:
- simpletagged
- television 
---
<p>Here in Australia I&#39;m in the process of watching 9/11 on <a href="http://channelnine.ninemsn.com.au/">Channel 9</a>, perhaps my other Aussie buddies are watching it now too. Possibly one of the most moving shows I have ever seen, I am completely speechless… I can&#39;t think what else to say.</p>
<blockquote><p>9:30 pm Channel Nine Adelaide<br />
<strong>9/11 (130 mins, Rated: M)</strong><br />
Genre: Documentary</p>
<p>For millions of people alive today the most significant political event of their lifetimes will be the destruction of the World Trade Center on September 11, 2001. Combining dramatic reconstruction with the testimonies of survivors, victims’ families, emergency workers and city officials, this major television film captures the minute-by-minute events of a single day in history.</p></blockquote>
<p><strong>EDIT:</strong> Just finished watching it. My entire attitude toward the tradegy has competely changed, I had no idea the towers collapsed so slowly. I&#39;m not religious so I can&#39;t say my prayers are with those affected but I can say my thoughts are.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: 911" href="http://technorati.com/tag/911">911</a>,
<a title="Technorati tag: 9/11" href="http://technorati.com/tag/9/11">9/11</a>,
<a title="Technorati tag: 11th september" href="http://technorati.com/tag/11th-september">11th september</a>,
<a title="Technorati tag: 11 september" href="http://technorati.com/tag/11-september">11 september</a>,
<a title="Technorati tag: september 11" href="http://technorati.com/tag/september-11">september 11</a>,
<a title="Technorati tag: tragedy" href="http://technorati.com/tag/tragedy">tragedy</a>,
<a title="Technorati tag: documentray" href="http://technorati.com/tag/documentary">documentary</a></p>
 
