---
title: 'AAA Mortgage Solutions' 
date: "2006-08-31T07:41:12+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- shopping
- simpletagged 
---
<p><a href="http://aaams.com.au"><img src="https://rubenerd.com/files/uploads/media.AAA-LOGO-MAIN.gif" alt="AAA Mortgage Solutions" /></a></p>
<p>I don&#39;t know about you, but I don&#39;t really consider a company reputable if their website looks unprofessional or haphazard. These days there really isn&#39;t an excuse for any company to have a cheesy, low budget website, and corportations should be viewing their site design as being as critical to their image as other aspects of their marketing.</p>
<p>Case in point, the <a href="http://aaams.com.au/">AAA Mortgage Solutions</a> Australia site. Their website doesn&#39;t look old fashioned, it doesn&#39;t look difficult to use, it just looks rubbish. I sure as hell wouldn&#39;t part money with a company that looks like this, let alone one which is designed purely to provide financial services.</p>
<p>Of course, it also doesn&#39;t help when your company&#39;s logo looks cheesy and was obviously named back when people actually still used the <a href="http://yellowpages.com.au/">Yellow Pages</a> so they would be sorted above their competition.</p>
<p>Its all a bit hard to swallow. Maybe I should just open my mouth like the doc asked and say &quot;AAA…&quot;</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<p><a title="Technorati tag: website design" href="http://technorati.com/tag/website-design">website design</a>,
<a title="Technorati tag: web design" href="http://technorati.com/tag/web-design">web design</a>,
<a title="Technorati tag: cheesy" href="http://technorati.com/tag/cheesy">cheesy</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: corporate websites" href="http://technorati.com/tag/corporate-websites">corporate websites</a></p>
