---
title: 'Adelaide City Photos' 
date: "2006-09-03T07:27:48+10:00"
year: "2006"
category: Media 
tag:
- australia
- photos
- simpletagged 
---
<p><a href="//rubenerd.com/files/uploads/media.316A.jpg"><img src="https://rubenerd.com/files/uploads/media.316A-thumb.jpg" alt="View of Adelaide." /></a><br />
<em>Click thumbnail for full sized image</em></p>
<p><a href="http://www.news-plus.net/npindex.php?PID=62&#038;CLID=19">News Plus Communications</a> has got some great photos of <a href="http://en.wikipedia.org/wiki/Adelaide">Adelaide</a>, <a href="http://en.wikipedia.org/wiki/South_Australia">South Australia</a>, where I currently live and <a href="http://unisa.edu.au/">go to university</a>.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: adelaide" href="http://technorati.com/tag/adelaide">adelaide</a>,
<a title="Technorati tag: adelaide city" href="http://technorati.com/tag/adelaide-city">adelaide city</a>,
<a title="Technorati tag: south australia" href="http://technorati.com/tag/south-australia">south australia</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: cbd" href="http://technorati.com/tag/cbd">cbd</a>,
<a title="Technorati tag: skyline" href="http://technorati.com/tag/skyline">skyline</a>,
<a title="Technorati tag: city" href="http://technorati.com/tag/city">city</a>,
<a title="Technorati tag: photos" href="http://technorati.com/tag/photos">photos</a>,
<a title="Technorati tag: photography" href="http://technorati.com/tag/photography">photography</a></p>
 
