---
title: 'All You Would Ever Want To Know About John Howard!' 
date: "2006-11-24T10:26:03+10:00"
year: "2006"
category: Thoughts 
tag: 
- news
- politics
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/bushhowardv1200.jpg" alt="John Howard with George Dubbya Bush" style="float:right; margin: 0 0 10px 20px" /></p>
<p><a href="http://john-howard-news.newslib.com">Stumbled across an aggregation website</a> dedicated to showing articles about John Howard, my birth country of Australia&#39;s conservative Prime Minister who I think is a bit of a whackjob.</p>
<p>From the site these are the latest internet articles discussing Johnnie:</p>
<ul>
<li><a href="http://john-howard-news.newslib.com/story/701-3240606/">Iraq policy could sink John Howard &#8211; critics</a></li>
<li><a href="http://john-howard-news.newslib.com/story/701-3240605/">Australia: John Howard’s green hypocrisy</a></li>
<li><a href="http://john-howard-news.newslib.com/story/701-3240604/">John Howard’s double standards</a></li>
</ul>
<p>Looks like my kind of site!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: australian politics" href="http://technorati.com/tag/australian-politics">australian politics</a>,
<a title="Technorati tag: liberal party" href="http://technorati.com/tag/liberal-party">liberal party</a>,
<a title="Technorati tag: australian liberal party" href="http://technorati.com/tag/australian-liberal-party">australian liberal party</a>,
<a title="Technorati tag: conservatism" href="http://technorati.com/tag/conservatism">conservatism</a>,
<a title="Technorati tag: john howard" href="http://technorati.com/tag/john-howard">john howard</a>,
<a title="Technorati tag: pm john howard" href="http://technorati.com/tag/pm-john-howard">pm john howard</a></p>
 
