---
title: 'Animated Doors' 
date: "2006-08-31T08:38:11+10:00"
year: "2006"
category: Media 
tag:
- simpletagged 
---
<p>Remember the iconset in the Windows 3.0 and 3.1 Program Manager? Remember those little door icons?</p>
<p>Well thanks to the wonders of modern high definition video, they&#39;ve been animated.</p>
<p><img src="https://rubenerd.com/files/uploads/media.door-back.gif" alt="" /> <img src="https://rubenerd.com/files/uploads/media.door-forward.gif" alt="" /></p>
<p>Look at them go! Watch closely too, their timing is not quite the same so eventually they stop opening and closing in sync. Blu-Ray Video has nothing on this :D.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<p><a title="Technorati tag: windows 3.1" href="http://technorati.com/tag/windows-3.1">windows 3.1</a>,
<a title="Technorati tag: animations" href="http://technorati.com/tag/animations">animations</a>,
<a title="Technorati tag: doors" href="http://technorati.com/tag/doors">doors</a>,
<a title="Technorati tag: retro" href="http://technorati.com/tag/retro">retro</a>,
<a title="Technorati tag: classic" href="http://technorati.com/tag/classic">classic</a>,
<a title="Technorati tag: high definition" href="http://technorati.com/tag/high-definition">high definition</a>,
<a title="Technorati tag: hi-def" href="http://technorati.com/tag/hi-def">hi-def</a>,
<a title="Technorati tag: video" href="http://technorati.com/tag/video">video</a></p>
 
