---
title: 'Another eBay Error' 
date: "2006-09-02T02:34:04+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- shopping
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.ebayerror.png" alt="" /></p>
<p>Is there any end in site to the errors of which I recieve on a daily basis from <a href="http://ebay.com.au/">eBay Australia</a>, regardless of whether I&#39;m on <a href="http://apple.com/macosx/">Mac OS X</a>, <a href="http://freebsd.org/">FreeBSD</a> or <a href="http://microsoft.com/windows2000">Windows 2000</a>, using <a href="http://caminobrowser.com/">Camino</a>, <a href="http://mozilla.com/">Firefox</a> or <a href="http://www.konqueror.org/">Konqueror</a>?</p>
<p>I&#39;ve got something for your &quot;feedback fourms&quot;… your website has been proven to be as reliable as Enron&#39;s accounting.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: ebay" href="http://technorati.com/tag/ebay">ebay</a>,
<a title="Technorati tag: ebay australia" href="http://technorati.com/tag/ebay-australia">ebay australia</a>,
<a title="Technorati tag: error" href="http://technorati.com/tag/error">error</a>,
<a title="Technorati tag: stupid" href="http://technorati.com/tag/stupid">stupid</a>,
<a title="Technorati tag: unreliable" href="http://technorati.com/tag/unreliable">unreliable</a>,
<a title="Technorati tag: downtime" href="http://technorati.com/tag/downtime">downtime</a></p>
 
