---
title: 'Apple I With Aftermarket Wooden Case!' 
date: "2006-11-22T06:03:41+10:00"
year: "2006"
category: Software 
tag:
- apple
- gaming
- infocomm
- retrocomputing
- shopping
- simpletagged 
---
<p><a href="http://www.vintage.org/special/2003/apple-1/"><img style="width:280px; float:right; margin:0 0 10px 20px" id="image527" src="https://rubenerd.com/files/uploads/apple-1-front-small.jpg" alt="Apple I" /></a></p>
<p>I&#39;ve always wanted an Apple I: no Apple ][&#39;s or Macintosh Classics for me, I want the real deal! <a href="http://www.vintage.org/special/2003/apple-1/">Too bad this auction was 3 years ago now</a>, this Apple I even comes in an original aftermarket wooden case:</p>
<blockquote><p>The VCF is proud to be presenting an original Apple-1 computer up for auction from Friday, February 21 through Sunday, February 23, 2003.</p>
<p>This computer is complete, in its original after-market wooden enclosure, featuring a keyboard and power supply integrated into one unit. The lot features:</p>
<ul>
<li>&#8220;Apple Computer 1&#8243; Motherboard</li>
<li>Cassette Interface Board</li>
<li>Original (after-market) wooden enclosure</li>
<li>Original Datanetics keyboard (integrated into wooden enclosure)</li>
<li>Original power supply (integrated into wooden enclosure)</li>
</ul>
</blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: retro computers" href="http://technorati.com/tag/retro-computers">retro computers</a>,
<a title="Technorati tag: apple i" href="http://technorati.com/tag/apple-i">apple i</a>,
<a title="Technorati tag: apple 1" href="http://technorati.com/tag/apple-1">apple 1</a></p>
 
