---
title: 'Are You An Evil Liberal?' 
date: "2006-09-29T05:25:17+10:00"
year: "2006"
category: Thoughts 
tag: 
- religion
- shopping
- simpletagged 
---
<p><a href="http://www.worldviewweekend.com/secure/store/product.php?ProductID=265"><img src="https://rubenerd.com/files/uploads/putyourbeliefs.jpg" alt="Put Your Beliefs to the Test!" /></a></p>
<p>My mum and I laughed out loud when we read the blurb for this book!</p>
<blockquote><p>Too many self-professing Christians hold a schizophrenic worldview-a toxic mixture of Christian and humanist beliefs that undermine Biblical living and the potential to change the world for Christ. Recognizing the problem, Brannon Howse developed a test to help people assess their personal worldviews. Since it was first put online in 2001, more than 50,000 people have taken the test to rank themselves on a scale from &#8220;Strong Christian Thinker&#8221; to &#8221; Secular Humanist Thinker.&#8221;</p></blockquote>
<p>And what does this book help to protect you from?</p>
<blockquote><p>Here are some of the fallacious, humanistic ideas this book will protect you against:</p>
<ul>
<li>All religions are equal.</li>
<li>Since the Bible says judge not lest you be judged, no one should ever judge the actions, beliefs or behavior of others.</li>
<li>Science, history, and literature can and should be taught without a religious or philosophical foundation.</li>
<li>Evolution is scientific while creationism is religious.</li>
<li>You cannot legislate morality.</li>
<li>Jesus Christ believed in socialism, not free enterprise.</li>
<li>Since one of the Ten Commandments is &#8220;thou shall not kill,&#8221; God is opposed to all war and to capital punishment.</li>
<li>America’s Founding Fathers violated New Testament principles when they founded the United States.</li>
<li>Mankind is basically good.</li>
</ul>
</blockquote>
<p>And this guy is serious!</p>
<p>Anyway I&#39;d better not take the test, I&#39;m too much of an &quot;evil&quot; liberal I think ;). If you think you have what it takes, <a href="http://www.worldviewweekend.com/secure/store/product.php?ProductID=265">you should give it a shot</a>!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: atheism" href="http://technorati.com/tag/atheism">atheism</a>,
<a title="Technorati tag: liberal" href="http://technorati.com/tag/liberal">liberal</a>,
<a title="Technorati tag: religion" href="http://technorati.com/tag/religion">religion</a>,
<a title="Technorati tag: christianity" href="http://technorati.com/tag/christianity">christianity</a>,
<a title="Technorati tag: morality" href="http://technorati.com/tag/morality">morality</a>,
<a title="Technorati tag: bible" href="http://technorati.com/tag/bible">bible</a>,
<a title="Technorati tag: jesus christ" href="http://technorati.com/tag/jesus-christ">jesus christ</a>,
<a title="Technorati tag: Brannon Howse" href="http://technorati.com/tag/Brannon-Howse">Brannon Howse</a></p>
 
