---
title: 'Are You South Australian?' 
date: "2006-09-02T02:40:08+10:00"
year: "2006"
category: Thoughts 
tag: 
- australia
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.buy-sa.png" alt="" /></p>
<p>The South Aussie state government and SA Great have lauched a new campaign and website to promote South Australian produced goods and services. So go grab yourself a South Australia sticker!</p>
<p><a href="http://www.buysouthaustralian.com.au/artwork.php"><img src="http://www.buysouthaustralian.com.au/artwork/thumbnails/The-whole-world_10cm-rectan.jpg" alt="" /> <img src="http://www.buysouthaustralian.com.au/artwork/thumbnails/The-whole-world_15cm-square.jpg" alt="" /> <img src="http://www.buysouthaustralian.com.au/artwork/thumbnails/The-whole-world_26cm_long-s.jpg" alt="" /></a></p>
<p><a href="http://www.buysouthaustralian.com.au/artwork.php"><img src="http://www.buysouthaustralian.com.au/artwork/thumbnails/Im-South-Australian_10cm-ov.jpg" alt="" /> <img src="http://www.buysouthaustralian.com.au/artwork/thumbnails/Im-South-Australian_10cm-re.jpg" alt="" /> <img src="http://www.buysouthaustralian.com.au/artwork/thumbnails/Im-South-Australian_10cm-st.jpg" alt="" /></a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: south australia" href="http://technorati.com/tag/south-australia">south australia</a>,
<a title="Technorati tag: i&#39;m south autalian" href="http://technorati.com/tag/i&#39;m-south-autalian">i&#39;m south autalian</a>,
<a title="Technorati tag: buy south australian" href="http://technorati.com/tag/buy-south-australian">buy south australian</a>,
<a title="Technorati tag: adelaide" href="http://technorati.com/tag/adelaide">adelaide</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: sa great" href="http://technorati.com/tag/sa-great">sa great</a>,
<a title="Technorati tag: south australia great" href="http://technorati.com/tag/south-australia-great">south australia great</a></p>
 
