---
title: 'At the Boat Deck Cafe' 
date: "2006-08-28T02:33:25+10:00"
year: "2006"
category: Thoughts 
tag: 
- coffee
- personal
- simpletagged 
---
<p><a href="https://flickr.com/photos/rubenerd/226687107/"><img src="https://static.flickr.com/96/226687107_49d946c75e_m.jpg" alt="" /></a><br />
<em>click image thumbnail to expand</em></p>
<p>I&#39;m sitting here once again at the Boat Deck Cafe in <a href="http://mawsonlakes.com.au">Mawson Lakes</a> Adelaide, this time with my room mate Kevin. It&#39;s 11:27am, there&#39;s sunlight streaming in, and I have a high speed wireless connection with a gigantic frothy cup of coffee.</p>
<p>Does it get any better than this?</p>
<p><a href="https://flickr.com/photos/rubenerd/226686041/"><img src="https://static.flickr.com/91/226686041_8d1199bd14_m.jpg" alt="" /></a><br />
<em>click image thumbnail to expand</em></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: happy" href="http://technorati.com/tag/happy">happy</a>,
<a title="Technorati tag: coffee" href="http://technorati.com/tag/coffee">coffee</a>,
<a title="Technorati tag: cafe" href="http://technorati.com/tag/cafe">cafe</a>,
<a title="Technorati tag: restaurant" href="http://technorati.com/tag/restaurant">restaurant</a>,
<a title="Technorati tag: lunch" href="http://technorati.com/tag/lunch">lunch</a>,
<a title="Technorati tag: computers" href="http://technorati.com/tag/computers">computers</a>,
<a title="Technorati tag: wifi" href="http://technorati.com/tag/wifi">wifi</a>,
<a title="Technorati tag: wireless" href="http://technorati.com/tag/wireless">wireless</a></p>
 
