---
title: 'Australian NRL Game Attendance Down' 
date: "2006-09-05T02:21:05+10:00"
year: "2006"
category: Thoughts 
tag: 
- australia
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.NRLlogo.png" style="background:#FFF" alt="NRL" /></p>
<p>I just heard from <a href="http://www.channel10.com.au/">Channel 10</a> on the news that game attendance at Australian National Rugby League (NRL) games are averging 11,000 less people than last year.</p>
<p>Perhaps the sight of grown men in tiny shorts groping each other… sorry <em>tackling</em> each other just doesn&#39;t have the same appeal that it used to. Or maybe people are actually doing constructive things with their time now. Hey, maybe they&#39;re listening to the <a href="//rubenerd.com/show/">Rubenerd Show</a> instead. Yeah, that&#39;s it.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: nrl" href="http://technorati.com/tag/nrl">nrl</a>,
<a title="Technorati tag: national rugby league" href="http://technorati.com/tag/national-rugby-league">national rugby league</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: new zealand" href="http://technorati.com/tag/new-zealand">new zealand</a>,
<a title="Technorati tag: attendance" href="http://technorati.com/tag/attendance">attendance</a>,
<a title="Technorati tag: channel 10" href="http://technorati.com/tag/channel-10">channel 10</a>,
<a title="Technorati tag: channel 10 news" href="http://technorati.com/tag/channel-10-news">channel 10 news</a></p>
 
