---
title: 'Australia Quiz' 
date: "2006-09-05T02:09:50+10:00"
year: "2006"
category: Travel
tag: 
- australia
- simpletagged
---
<p><img src="https://rubenerd.com/files/uploads/media.316A-thumb.jpg" alt="" /><br />
<em>Adelaide, South Australia: Aussie home of the Rubenerd Show and Blog</em></p>
<p>How well do you know Australia? Or how well do you <em>think</em> you know Australia? A French academy website has created a page: <a href="http://pedagogie.ac-montpellier.fr/disciplines/anglais/ressources/webquests/australia.html">Australia Webquest</a>. Try answering the questions without using the sources!</p>
<p>Just don&#39;t look at the flag diagram, they got the Union Jack wrong. Which I guess if they were going to stuff up one part of the flag that bit is okay ;).</p>
<p>And don&#39;t forget on their behalf: <em>nous ne sommes pas responsables du contenu des sites externes</em>. Isn&#39;t it funny I can get the gist of that sentence without speaking a lick of French?</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: general knowledge" href="http://technorati.com/tag/general-knowledge">general knowledge</a>,
<a title="Technorati tag: australia webquest" href="http://technorati.com/tag/australia-webquest">australia webquest</a>,
<a title="Technorati tag: quiz" href="http://technorati.com/tag/quiz">quiz</a></p>
 
