---
title: 'BankSA Address, Ingle Farm Shopping Centre' 
date: "2006-03-12T07:38:11+10:00"
year: "2006"
category: Thoughts 
tag: 
- adelaide
- australia
- banks
- banksa
- shopping 
---
<p><a href="http://banksa.com.au/"><img src="https://rubenerd.com/files/uploads/media.BankSA.jpg" alt="BankSA logo." height="231" width="180"/></a></p>
<p>Need to send a telegraphic transfer to some guy/gal&#39;s <a href="http://banksa.com.au/">Bank of South Australia</a> account based in <a href="https://inglefarmshopping.com.au/">Ingle Farm?</a> Mindreader I am.</p>
<p>Anyway, here&#39;s the address:</p>
<blockquote>
<p>Shop 19, Ingle Farm Shopping Centre<br />
Montague Road, Ingle Farm<br />
South Australia 5095<br />
AUSTRALIA</p>
</blockquote>
<p>A public service announcement by the <a href="//rubenerd.com/show/">Rubenerd Show</a> and <a href="//rubenerd.com/">Rubenerd Blog</a>.</p>
<p><a href="http://www.advertiser.com.au/inglefarm"><img src="https://rubenerd.com/files/uploads/media.loveyourlocal.gif" alt="" /></a></p>
 
