---
title: 'Basque Ceasefire' 
date: "2006-03-24T12:02:47+10:00"
year: "2006"
category: Thoughts 
tag:
- news
- politics 
---
<p><img src="https://rubenerd.com/files/uploads/media.Basque_Country_location_map.png" alt="Basque location map" /></p>
<p>Bit of a geography lesson today, on the <a href="http://en.wikipedia.org/wiki/Basque_Country">Basque Country</a>.</p>
<blockquote><p>The Basque Country (Euskal Herria in Basque) is a cultural region that straddles the western Pyrenees mountains that define the border between France and Spain, extending down to the coast of the Bay of Biscay. It corresponds more or less with the historical homeland of the Basque people and language.</p></blockquote>
<p>Seems the <a href="http://en.wikipedia.org/wiki/ETA">ETA</a> has declared a ceasefire with the Spanish government. Good stuff, let&#39;s hope it lasts.</p>
<p><img src="https://rubenerd.com/files/uploads/media.150px-Flag_of_the_Basque_Country.svg.png" alt="Basque flag" /></p>
 
