---
title: 'Bender Quote' 
date: "2006-09-07T12:17:36+10:00"
year: "2006"
category: Media 
tag:
- funny
- quotes
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.bender.jpg" alt="" /></p>
<blockquote><p>Of all the friends I’ve ever had, you’re the first!</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: bender" href="http://technorati.com/tag/bender">bender</a>,
<a title="Technorati tag: futurama" href="http://technorati.com/tag/futurama">futurama</a>,
<a title="Technorati tag: quotes" href="http://technorati.com/tag/quotes">quotes</a>,
<a title="Technorati tag: funny" href="http://technorati.com/tag/funny">funny</a></p>
 
