---
title: 'Bloglines Versus Google Reader, Can’t Decide!' 
date: "2006-10-27T04:56:38+10:00"
year: "2006"
category: Software 
tag:
- infocomm
- simpletagged 
---
<p><img id="image439" src="https://rubenerd.com/files/uploads/google-reader-bloglines.png" alt="Bloglines Versus Google Reader" /></p>
<p>I&#39;m in a bit of a pickle. I&#39;ve been a proud and avid user of <a href="http://bloglines.com/">Bloglines</a> for a while now; I like the idea of having all my feeds aggregated into one easy to view screen without having to download software and have it synchronise. I chose Bloglines because at the time it was the most common reader people were using, and the little &quot;sub bloglines&quot; button was everywhere making my life much easier.</p>
<p>It&#39;s a little less clear cut now though; after hearing some good reviews from <a href="http://radiofreeporty.org/">Dadaist from     Edinburgh</a> (we went there in 1998, it&#39;s a very nice place) I&#39;m also a user of <a href="http://reader.google.com/">Google Reader</a>. The original Google Reader interface sucked which I thought was surprising given Google&#39;s previous track record, but their new interface is very polished and much less cluttered than Bloglines. I also like how you can read posts you&#39;ve already seen before; instead of &quot;deleting&quot; posts you&#39;ve already read like Bloglines does (forcing you to use the drop down menu to select previous posts), Google Reader merely shades the headings and borders a lighter colour.</p>
<p>The problem is I&#39;m not quite ready to give up on Bloglines. For one thing I&#39;m lazy and I have a ton of feeds on there that I need to move across… can Bloglines export OPML and can Google Reader import OPML? And of course the one real feature lacking in Google Reader is an automatic public page; with Bloglines I can point anyone to <a href="http://bloglines.com/public/rubenerd">http://bloglines.com/public/rubenerd</a> to see my susbcribed feeds, but for Google Reader you can only &quot;star&quot; individual items. Plus Bloglines still <em>feels like home</em>, if you get my drift.</p>
<p>Has anyone out there made the switch or refused to like I have so far? Any experience or advice?</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: bloglines" href="http://technorati.com/tag/bloglines">bloglines</a>,
<a title="Technorati tag: google" href="http://technorati.com/tag/google">google</a>,
<a title="Technorati tag: google reader" href="http://technorati.com/tag/google-reader">google reader</a>,
<a title="Technorati tag: aggregators" href="http://technorati.com/tag/aggregators">aggregators</a>,
<a title="Technorati tag: rss" href="http://technorati.com/tag/rss">rss</a>,
<a title="Technorati tag: atom" href="http://technorati.com/tag/atom">atom</a>,
<a title="Technorati tag: rdf" href="http://technorati.com/tag/rdf">rdf</a></p>
 
