---
title: 'Boatdeck Cafe Air Guitars' 
date: "2006-09-01T10:49:03+10:00"
year: "2006"
category: Thoughts 
tag: 
- coffee
- quotes
- simpletagged 
---
<p><a href="https://flickr.com/photos/rubenerd/226687107/"><img src="https://static.flickr.com/96/226687107_49d946c75e_m.jpg" alt="" /></a></p>
<p>Sitting in <a href="http://www.theboatdeck.com.au/">Boatdeck Cafe</a> in <a href="http://mawsonlakes.com/">Mawson Lakes</a> last night having pasta and coffee outside, I overheard what sounded like two Americans talking:</p>
<blockquote><p>&#8220;And so I just pulled out my air guiter.<br />
I looked like a dick, but man it felt good!&#8221;</p></blockquote>
<p>Haha, good on &#39;em ;)</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: boatdeck cafe" href="http://technorati.com/tag/boatdeck-cafe">boatdeck cafe</a>,
<a title="Technorati tag: boat deck cafe" href="http://technorati.com/tag/boat-deck-cafe">boat deck cafe</a>,
<a title="Technorati tag: quotes" href="http://technorati.com/tag/quotes">quotes</a>,
<a title="Technorati tag: mawson lakes" href="http://technorati.com/tag/mawson-lakes">mawson lakes</a>,
<a title="Technorati tag: adelaide" href="http://technorati.com/tag/adelaide">adelaide</a>,
<a title="Technorati tag: south australia" href="http://technorati.com/tag/south-australia">south australia</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a></p>
 
