---
title: 'Casino Spam' 
date: "2006-08-07T03:28:47+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- spam 
---
<p><a href="//rubenerd.com/tag/spam/"><img src="https://rubenerd.com/files/uploads/media.spam.png" alt="" /></a></p>
<p><em>Ruben picks apart the useless spam he receives from the spamming spammers who spam him with their spammingly spammish spam. For all the spam he has picked apart, visit the <a href="//rubenerd.com/tag/spam/">spam category</a>… sounds like a Monty Python routine.</em></p>
<blockquote><p>At [Some Crap Casino], we are so sure you are going to love our games<br />
that we are giving you up to $300.00 FREE just for trying our Casino.</p>
<p>[Some Crap Casino] is the best in the industry because we offer:<br />
* $300.00 FREE to new depositors<br />
* Play all your favorite games: Poker, Hold’em, Black Jack, Slots, etc.<br />
* Rapid payouts to all clientele &#038; 24/7 support<br />
* A complete and SAFE gaming experience</p>
<p>Give us a try! Remember, Free $300.00 is ON THE HOUSE!<br />
Start Winning Now!</p></blockquote>
<p>You&#39;re assuming a lot here people. First, that I gamble (stuff that), second that I trust my Spam (stuff that), and third that I&#39;m a moron… that&#39;s your cue as a reader to say &quot;stuff that&quot;.</p>
<p>In any event, I don&#39;t gamble and I can&#39;t imagine I&#39;d ever start just because I got an unauthorised junk message. And I wonder how much in &quot;fees&quot; or the like you have to part with to get your &quot;Free&quot; $300.00?</p>
 
