---
title: 'Coffee Bean and Tea Leaf WiFi Down' 
date: "2006-10-27T06:51:03+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- malaysia
- simpletagged 
---
<p><img id="image442" src="https://rubenerd.com/files/uploads/airzed.png" alt="airzed" /></p>
<p>Oh no! I was without internet for 6 minutes! Torture it was!</p>
<p><img id="image443" src="https://rubenerd.com/files/uploads/airzedzoom.png" alt="airzedzoom.png" /></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: airzed" href="http://technorati.com/tag/airzed">airzed</a>,
<a title="Technorati tag: coffee bean and tea leaf" href="http://technorati.com/tag/coffee-bean-and-tea-leaf">coffee bean and tea leaf</a>,
<a title="Technorati tag: klcc" href="http://technorati.com/tag/klcc">klcc</a>,
<a title="Technorati tag: malaysia" href="http://technorati.com/tag/malaysia">malaysia</a>,
<a title="Technorati tag: kuala lumpur" href="http://technorati.com/tag/kuala-lumpur">kuala lumpur</a>,
<a title="Technorati tag: coffee" href="http://technorati.com/tag/coffee">coffee</a></p>
 
