---
title: 'Commodore 64 T-Shirt' 
date: "2006-09-04T02:17:24+10:00"
year: "2006"
category: Hardware 
tag:
- australia
- infocomm
- shopping
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.commodore64shirt.jpg" alt="" /></p>
<p>And now for something completely different: I bid on and won a retro style Commodore 64 T-Shirt! The logo is obviously the one from the original 64, not the updated 64c in the beige case. If you&#39;re going to go retro, you might as well go the extra distance!</p>
<p>Have you bought anything pointless on eBay lately? :D.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: commodore" href="http://technorati.com/tag/commodore">commodore</a>,
<a title="Technorati tag: commodore 64" href="http://technorati.com/tag/commodore-64">commodore 64</a>,
<a title="Technorati tag: commodore 64c" href="http://technorati.com/tag/commodore-64c">commodore 64c</a>,
<a title="Technorati tag: ebay" href="http://technorati.com/tag/ebay">ebay</a>,
<a title="Technorati tag: ebay australia" href="http://technorati.com/tag/ebay-australia">ebay australia</a>,
<a title="Technorati tag: apparel" href="http://technorati.com/tag/apparel">apparel</a>,
<a title="Technorati tag: teeshirt" href="http://technorati.com/tag/teeshirt">teeshirt</a>,
<a title="Technorati tag: tshirt" href="http://technorati.com/tag/tshirt">tshirt</a>,
<a title="Technorati tag: pointless" href="http://technorati.com/tag/pointless">pointless</a>,
<a title="Technorati tag: retro" href="http://technorati.com/tag/retro">retro</a></p>
 
