---
title: 'Conan O’Brien’s Walker Texas Ranger Lever' 
date: "2006-10-21T08:39:46+10:00"
year: "2006"
category: Media
tag: 
- funny
- nonsense
- simpletagged 
---
<p><a href="https://www.youtube.com/watch?v=yrCDbvxlSMk" title="Play Walker, Texas Ranger Lever - Late Night with Conan O' Brien - Episode 1"><img src="https://rubenerd.com/files/2006/yt-yrCDbvxlSMk@1x.jpg" srcset="https://rubenerd.com/files/2006/yt-yrCDbvxlSMk@1x.jpg 1x, https://rubenerd.com/files/2006/yt-yrCDbvxlSMk@2x.jpg 2x" alt="Play Walker, Texas Ranger Lever - Late Night with Conan O' Brien - Episode 1" style="width:500px;height:281px;" /></a></p>

<blockquote><p><strong>February 2009 Update:</strong> Video edited from the original to point to YouTube instead. It isn’t the same one, but it was using up far too much of my bandwidth given this post was created back in 2006.</p></blockquote>

<p>Here it is, a video of Conan O&#39;Brien showing off his Walker Texas Ranger Clip lever!</p>

<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: conan o'brien" href="http://technorati.com/tag/conan-o'brien">conan o'brien</a>,
<a title="Technorati tag: conan obrien" href="http://technorati.com/tag/conan-obrien">conan obrien</a>,
<a title="Technorati tag: late night" href="http://technorati.com/tag/late-night">late night</a>,
<a title="Technorati tag: nbc" href="http://technorati.com/tag/nbc">nbc</a>,
<a title="Technorati tag: walker texas ranger" href="http://technorati.com/tag/walker-texas-ranger">walker texas ranger</a>,
<a title="Technorati tag: chuck norris" href="http://technorati.com/tag/chuck-norris">chuck norris</a></p>
 
