---
title: 'Creating a LinkedIn Profile' 
date: "2006-11-25T04:17:57+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- networking
- personal
- simpletagged 
---
<p><img id="image549" style="background:#FFFFFF; padding:5px; float:right; margin: 0 0 10px 20px" src="https://rubenerd.com/files/uploads/linkedin_logo.gif" alt="LinkedIn" /></p>
<p>I just found today a great site called <a href="http://linkedin.com/">LinkedIn</a> which is described as a &quot;business oriented social networking site&quot;.</p>
<p>It&#39;s still at a very rudementary stage but you can view mine profile at <a href="http://linkedin.com/in/schade/">http://linkedin.com/in/schade/</a>. Was very lucky to have my last name there… as long as a German doesn&#39;t see it ;).</p>
<p>You can connect with contacts, colleagues and classmates as well as advertise your own expertise which is invaluable for consultants; more often than not I think finding the clients is almost as challenging as actually undertaking the work.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: social networking" href="http://technorati.com/tag/social-networking">social networking</a>,
<a title="Technorati tag: business" href="http://technorati.com/tag/business">business</a>,
<a title="Technorati tag: resume" href="http://technorati.com/tag/resume">resume</a>,
<a title="Technorati tag: consulting" href="http://technorati.com/tag/consulting">consulting</a>,
<a title="Technorati tag: linkedin" href="http://technorati.com/tag/linkedin">linkedin</a></p>
 
