---
title: 'Custom Cosplay, If That’s Your Thing' 
date: "2006-08-05T07:11:54+10:00"
year: "2006"
category: Anime 
tag: 
- funny
- japanese
- shopping 
---
<p>Ever wanted to cosplay your favourite anime character?</p>
<blockquote><p>This auction is for a new first class craft-work made by experienced professional tailors,Custom-made,in your own size</p></blockquote>
<h3>Gundam Seed</h3>
<p><a href="http://stores.ebay.com.au/Cosplayying"><img style="width:80%; margin:0 0 10px 0" src="https://rubenerd.com/files/uploads/media.60_1_b.JPG" alt="" /></a><img src="https://rubenerd.com/files/uploads/media.gundam-seed-PB-newtype.jpg" alt="" /><br />
Awesome Sci Fi uniform! :D</p>
<h3>Sailor Venus from Sailor Moon</h3>
<p><a href="http://stores.ebay.com.au/Cosplayying"><img style="width:80%; margin:0 0 10px 0" src="https://rubenerd.com/files/uploads/media.25_1_b.JPG" alt="" /></a><img src="https://rubenerd.com/files/uploads/media.sailorvenus.png" alt="" /></p>
<p>Um, thanks, but I&#39;m really not into drag at the moment!</p>
<p><a style="font-weight:bold" href="http://stores.ebay.com.au/Cosplayying">eBay User Cosplayying Store</a></p>
 
