---
title: 'Dave’s Photo Gallery CafePress Store' 
date: "2006-09-28T07:07:13+10:00"
year: "2006"
category: Media 
tag:
- photos
- shopping
- simpletagged 
---
<p><img id="image386" src="https://rubenerd.com/files/uploads/75208097v2_240x240_front.jpg" alt="Dave's Photo Gallery Blog CafePress Store" /></p>
<p>Checking out <a href="http://blog.davesphotogallery.net/blog/_archives/2006/9/17/2333945.html">Dave&#39;s Photo Blog</a> recently I discovered he&#39;s opened a CafePress store.</p>
<blockquote><p>Like numerous others I have set up a shop which you can access at www.cafepress.com/davesphotostore . There are lots of gift ideas to choose from including T-shirts, apparel etc all printed with my original photos. Check it out.</p></blockquote>
<p>My favourite item is the <a href="http://www.cafepress.com/davesphotostore.75208097">Tiger Mousepad</a>, something that would also be appropritate considering the version of Mac OS X I&#39;m using! No but in all seriousness his photos are pretty amazing, <a href="http://www.cafepress.com/davesphotostore">check out his store</a>.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: cafepress" href="http://technorati.com/tag/cafepress">cafepress</a>,
<a title="Technorati tag: dave's photo gallery" href="http://technorati.com/tag/dave's-photo-gallery">dave’s photo gallery</a>,
<a title="Technorati tag: dave's photo blog" href="http://technorati.com/tag/dave's-photo-blog">dave’s photo blog</a>,
<a title="Technorati tag: photography" href="http://technorati.com/tag/photography">photography</a>,
<a title="Technorati tag: photos" href="http://technorati.com/tag/photos">photos</a>,
<a title="Technorati tag: images" href="http://technorati.com/tag/images">images</a>,
<a title="Technorati tag: tigers" href="http://technorati.com/tag/tigers">tigers</a></p>
 
