---
title: 'Democrats Sweep Republicans Out of Power!' 
date: "2006-11-08T07:20:57+10:00"
year: "2006"
category: Thoughts 
tag: 
- news
- politics
- simpletagged 
---
<p>I&#39;m sure by now if you&#39;re already interested in this sort of thing you&#39;d already know about it, but I have to post it!</p>
<p>Read the news a few hours ago on <a href="http://elections.us.reuters.com/top/news/usnN07421791.html?src=110806_0118_TOPSTORY_democrats_win_house">Reuters.com</a>:</p>
<blockquote><p>Democrats swept Republicans out of power in the House of Representatives and made gains in the Senate, riding to victory on a wave of public discontent with the Iraq war, corruption and President Bush’s leadership.</p>
<p>Two years after a decisive election victory for Bush and his Republicans, Democrats picked up at least the 15 seats they needed to win control of the House for the first time since 1994, according to TV network projections.</p>
<p>The win is likely to slam the brakes on Bush’s legislative agenda in his final two years, make Democrat Nancy Pelosi the first female Speaker of the House and give Democrats a chance to investigate his administration’s most controversial policy decisions such as the war in Iraq.</p>
</blockquote>
<p>This can only be a good thing for the United States, and global stability. George W. Bush has wrecked America&#39;s credibility in the eyes of the world, now he will have to answer for his actions and future legislation. I&#39;m sure my school friend Felix Tanjono who is now studiying in Indiana will be very pleased!</p>
<p>Wonder if <a href="//rubenerd.com/another-bushism/">another Bushism</a> will come out of this? :D.</p>
<p>Now all that needs to be done is to get John Howard&#39;s control of the Australian senate neutralised and the evil Bush-Blair-Howard&#39;s reign of evilness will be over!</p>
<p>Good on ya America :D.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: united states" href="http://technorati.com/tag/united-states">united states</a>,
<a title="Technorati tag: republican" href="http://technorati.com/tag/republican">republican</a>,
<a title="Technorati tag: democrat" href="http://technorati.com/tag/democrat">democrat</a>,
<a title="Technorati tag: america" href="http://technorati.com/tag/america">america</a>,
<a title="Technorati tag: november 7" href="http://technorati.com/tag/november-7">november 7</a>,
<a title="Technorati tag: 7th november" href="http://technorati.com/tag/7th-november">7th november</a>,
<a title="Technorati tag: senate" href="http://technorati.com/tag/senate">senate</a></p>
 
