---
title: 'Dice Testimonial' 
date: "2006-08-31T08:19:41+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.1-Dice_Testimonial_300x250_b-85.gif" alt="Dice Testimonial screnshot" /></p>
<p>Damn you!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<p><a title="Technorati tag: testimonials" href="http://technorati.com/tag/testimonials">testimonials</a>,
<a title="Technorati tag: dice" href="http://technorati.com/tag/dice">dice</a>,
<a title="Technorati tag: jobs" href="http://technorati.com/tag/jobs">jobs</a>,
<a title="Technorati tag: it" href="http://technorati.com/tag/it">it</a></p>
 
