---
title: 'England Starts Fingerprinting Drinkers' 
date: "2006-10-22T07:15:00+10:00"
year: "2006"
category: Software 
tag:
- infocomm
- news
- simpletagged 
---
<p><a href="http://yro.slashdot.org/yro/06/10/22/050218.shtml"><img id="image414" src="https://rubenerd.com/files/uploads/flag_uk_police.png" alt="UK Metro Police" /></a></p>
<p>From <a href="http://yro.slashdot.org/yro/06/10/22/050218.shtml">Slashdot</a>:</p>
<blockquote><p>&#8220;In an effort to reduce alcohol related violence, England is rolling out mandatory fingerprinting of all pub patrons. If a pub owner refuses to comply with the new system, and fails to show &#8216;considerable’ reductions in alcohol-related crimes, they will lose their license. Supposedly the town that piloted this program had a 48% reduction in alcohol-related crime.&#8221;</p>
<p>From the article: &#8220;Offenders can be banned from one pub or all of them for a specified time &#8211; usually a period of months &#8211; by a committee of landlords and police called Pub Watch. Their offenses are recorded against their names in the fingerprint system. Bradburn noted the system had a &#8216;psychological effect’ on offenders.&#8221; </p></blockquote>
<p>Come on, grow up people! The fact that the&#39;ve had to go to these extremes to control you drunkards is really pretty pathetic. Argh!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: united kingdom" href="http://technorati.com/tag/united-kingdom">united kingdom</a>,
<a title="Technorati tag: uk" href="http://technorati.com/tag/uk">uk</a>,
<a title="Technorati tag: great britain" href="http://technorati.com/tag/great-britain">great britain</a>,
<a title="Technorati tag: england" href="http://technorati.com/tag/england">england</a>,
<a title="Technorati tag: drinking" href="http://technorati.com/tag/drinking">drinking</a>,
<a title="Technorati tag: drunkards" href="http://technorati.com/tag/drunkards">drunkards</a>,
<a title="Technorati tag: alcohol" href="http://technorati.com/tag/alcohol">alcohol</a>,
<a title="Technorati tag: survellence" href="http://technorati.com/tag/survellence">survellence</a></p>
 
