---
title: 'Existance of the blog' 
date: "2006-05-02T08:13:18+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- weblog 
---
<p><img src="https://rubenerd.com/files/uploads/logo.xml144.png" alt="Rubenerd Blog" /></p>
<blockquote><p><strong>2009 UPDATE:</strong> I guess I didn’t end up doing this after all!</p></blockquote>
<p>Now that the Rubenerd Show is being released every weekday AND the fact the Rubenerd Wiki is now in place the reason for this blog&#39;s existence has been put into question.</p>
<p>So therefore, while I may add something occasionally, for more Rubenerd updates and entries you&#39;re best bet is just to visit the new Rubenerd Show Wiki, which is now the primary site once again.</p>
<p>Stressing again, this blog will remain online for now, but I won&#39;t be posting as often.</p>
<p>Cheerio,<br />
<cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
 
