---
title: 'Fixing Rubenerd Sites for Internet Explorer Users' 
date: "2006-11-19T05:58:51+10:00"
year: "2006"
category: Software 
tag:
- browsers
- infocomm
- scripting
- simpletagged
- weblog 
---
<p><a href="http://stopie.com/"><img style="float:right; margin:0 0 10px 20px" id="image512" src="https://rubenerd.com/files/uploads/gatesie.jpg" alt="Bill Gates Internet Explorer" /></a></p>
<p>As some of my internet friends on the <a href="//rubenerd.com/show/forum/comments.php?DiscussionID=27&#038;page=1">Rubenerd Forum</a> pointed out and as I talked about on <a href="//rubenerd.com/show179/">Rubenerd Show 179 (Fri 17/Nov/2006)</a> there have been some problems with viewing the <a href="//rubenerd.com/show/">Rubenerd Show</a>, <a href="//rubenerd.com/">Rubenerd Blog</a> and <a href="//rubenerd.com/show/forum/">Rubenerd Forum</a> with <a href="http://stopie.com/">Internet Explorer</a>. I really don&#39;t have an excuse other than I use Mac OS X without Interent Explorer and I forgot to even test the sites in it. Big whoops!</p>
<p>While I encourage people to try alternative web browsers such as <a href="http://getfirefox.com/">Firefox, </a><a href="http://flock.com/">Flock</a>, <a href="http://caminobrowser.org/">Camino</a> and <a href="http://konqueror.org/">Konqueror</a>, I understand some people still have to use Internet Explorer in the workplace where they don&#39;t have a choice, and I apologise for leaving you out.</p>
<p>So I&#39;ve spent today documenting and fixing all the rendering problems on the Rubenerd sites and have fixed all the bugs that I can see that prevented the site looking as it does in other browsers in IE:</p>
<p><strong><a href="//rubenerd.com/show/">Rubenerd Show</a></strong>: removed weird green bar from header, fixed CSS indentation, adjusted footer link spacing to prevent weird wrapping, reset search box size, fixed article photo gallery alignment</p>
<p><strong><a href="//rubenerd.com/">Rubenerd Blog</a></strong>: removed weird green bar from header, fixed CSS indentation, adjusted footer link spacing to prevent weird wrapping, rewrote CSS for sidebar so it actually appears on the side, adjusted line height for tag cloud</p>
<p><strong><a href="//rubenerd.com/show/forum/">Rubenerd Forum</a></strong>: updated Vanilla Forum software to 1.0.1 which fixed several bugs</p>
<p>Unfortunately the forum still looks like rubbish in Internet Explorer for some unknown reason, even with the latest update and the latest default theme! I&#39;ve registered with the Vanilla site so I&#39;ll be posting a question regarding this and will try to fix this tomorrow. For now it&#39;s 3:00 in the morning so I really need some sleep!</p>
<p>If you can see any further problems let me know by posting a comment here or creating a new thread on the Rubenerd Forum. In particular I&#39;d like to really thank my old room mate <a href="http://ths-k.com/">enaurore (aka Kevin)</a>, <a href="http://radiofreeporty.org/">surrealist (aka Matt)</a> and <a href="http://davesphotogallery.net/">Mr Bunny (aka Dave)</a> for bringing my attention to these issues.</p>
<p>Cheers,<br />
<a href="//rubenerd.com/about/">Ruben</a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: internet explorer" href="http://technorati.com/tag/internet-explorer">internet explorer</a>,
<a title="Technorati tag: rubenerd show" href="http://technorati.com/tag/rubenerd-show">rubenerd show</a>,
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: rubenerd forum" href="http://technorati.com/tag/rubenerd-forum">rubenerd forum</a>,
<a title="Technorati tag: internet explorer rendering issues" href="http://technorati.com/tag/internet-explorer-rendering-issues">internet explorer rendering issues</a></p>
 
