---
title: 'George W. Bush in Singapore' 
date: "2006-11-16T09:48:44+10:00"
year: "2006"
category: Thoughts 
tag: 
- news
- north-america
- politics
- simpletagged
- singapore 
---
<p><a href="http://news.yahoo.com/s/ap/20061116/ap_on_re_as/bush"><img src="https://rubenerd.com/files/uploads/photo.singapore-small.jpg" alt="Singapore City" style="float:right; padding-left:20px" /></a></p>
<p>According to the <a href="http://news.yahoo.com/s/ap/20061116/ap_on_re_as/bush">Associated Press</a> roughly an hour ago now, George W. Bush is in Singapore to meet Prime Minister Lee Hsien Loong and to reassure the Asian community of the United States&#39;s &quot;commitment&quot; and so forth.</p>
<blockquote><p>SINGAPORE &#8211; With China on the rise and his own stature weakened at home,<br />
President Bush sought Thursday to ease any doubts in Asia about the United States’ long-term commitment to the region.</p>
<p>&#8220;The United States hasn’t been there so much,&#8221; he said. &#8220;China has eaten America’s lunch.&#8221;</p>
<p>As a way to highlight Singapore’s success at integrating the many ethnicities and religions of its people, Bush opened the trip with a visit to the Asian Civilisations Museum overlooking the mouth of the Singapore River.</p>
<p>The president and his wife, Laura Bush, were treated to a performance of Asian fusion music by a group called &#8220;Gamelan Asmaradana,&#8221; which played a classical Javanese piece and a Singapore folk song. Bush was even talked into briefly giving the saron — an Asian-style xylophone — a few bangs with a rubber mallet.</p>
<p>In another room, the Bushes watched school children perform dances representing Chinese, Indian and Malaysian culture. Some of the children in brightly colored costumes twirled with peacock feathers and others performed acrobatics.</p>
</blockquote>
<p>I used to frequent the Asian Civilisations Museum quite regularly… I&#39;m scared! It&#39;s a fascinating place.</p>
<p>Let&#39;s hope though that his stupidity doesn&#39;t rub off on any of the Singaporean officials before he leaves ;).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: singapore" href="http://technorati.com/tag/singapore">singapore</a>,
<a title="Technorati tag: asia pacific" href="http://technorati.com/tag/asia-pacific">asia pacific</a>,
<a title="Technorati tag: asia-pacific" href="http://technorati.com/tag/asia-pacific">asia-pacific</a>,
<a title="Technorati tag: george w. bush" href="http://technorati.com/tag/george-w.-bush">george w. bush</a>,
<a title="Technorati tag: george w bush" href="http://technorati.com/tag/george-w-bush">george w bush</a>,
<a title="Technorati tag: dubbya" href="http://technorati.com/tag/dubbya">dubbya</a>,
<a title="Technorati tag: lee hsien loong" href="http://technorati.com/tag/lee-hsien-loong">lee hsien loong</a>,
<a title="Technorati tag: united states" href="http://technorati.com/tag/united-states">united states</a>,
<a title="Technorati tag: china" href="http://technorati.com/tag/china">china</a>,
<a title="Technorati tag: asia" href="http://technorati.com/tag/asia">asia</a></p>
 
