---
title: 'GoMusic like AllOfMp3' 
date: "2006-09-12T09:49:37+10:00"
year: "2006"
category: Media 
tag:
- music
- simpletagged 
---
<p><a href="http://gomusic.ru/"><img src="https://rubenerd.com/files/uploads/media.logotype.gif" alt="GoMusic." /></a></p>
<p>It seems that the Russian song download site <a href="http://allofmp3.com/">AllOfMp3</a> has inspired another Russian song downlaod site: <a href="http://gomusic.ru/">GoMusic</a>. They even have audiobooks and are going the Web 2.0 route and giving their site &quot;beta&quot; status ;).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: allofmp3" href="http://technorati.com/tag/allofmp3">allofmp3</a>,
<a title="Technorati tag: gomusic.ru" href="http://technorati.com/tag/gomusic.ru">gomusic.ru</a>,
<a title="Technorati tag: gomusic" href="http://technorati.com/tag/gomusic">gomusic</a>,
<a title="Technorati tag: mp3" href="http://technorati.com/tag/mp3">mp3</a>,
<a title="Technorati tag: mp4" href="http://technorati.com/tag/mp4">mp4</a>,
<a title="Technorati tag: m4a" href="http://technorati.com/tag/m4a">m4a</a>,
<a title="Technorati tag: download music" href="http://technorati.com/tag/download-music">download music</a>,
<a title="Technorati tag: audio" href="http://technorati.com/tag/audio">audio</a>,
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: ruben" href="http://technorati.com/tag/ruben">ruben</a>,
<a title="Technorati tag: schade" href="http://technorati.com/tag/schade">schade</a></p>
 
