---
title: 'Great IT Spares eBay Australia Store'
date: "2006-08-29T04:04:16+10:00"
year: "2006"
category: Hardware 
tag:
- apple
- infocomm
- shopping
- simpletagged 
---
<p><a href="http://stores.ebay.com.au/I-T-SPARES"><img src="http://i8.ebayimg.com/05/s/07/7a/fe/e9_11.JPG" alt="Great IT Spares eBay Australia Store" /></a></p>
<p>Just wanted to say that if you&#39;re in Australia and you want good new or used computer parts at decent prices, these guys are pretty good. They appear to be very honest about their shipping prices as well, a rareity these days on eBay. I purchased a second hand Apple DVD ROM and it was in great condition and it arrived very quickly. Good stuff.</p>
<p>And no before you ask, this was not a paid endorsement ;).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: ebay" href="http://technorati.com/tag/ebay">ebay</a>,
<a title="Technorati tag: ebay australia" href="http://technorati.com/tag/ebay-australia">ebay australia</a>,
<a title="Technorati tag: computer parts" href="http://technorati.com/tag/computer-parts">computer parts</a>,
<a title="Technorati tag: apple parts" href="http://technorati.com/tag/apple-parts">apple parts</a>,
<a title="Technorati tag: second hand" href="http://technorati.com/tag/second-hand">second hand</a>,
<a title="Technorati tag: used" href="http://technorati.com/tag/used">used</a></p>
 
