---
title: 'Guess I Should Run Software Update More Often!' 
date: "2006-12-04T04:56:06+10:00"
year: "2006"
category: Software 
tag:
- apple
- infocomm
- security
- simpletagged 
---
<p><img src="https://static.flickr.com/81/262955088_dbc9f28223_m.jpg" alt="Ruben's MacBook Pro" style="float:right; margin:0 0 10px 20px" /></p>
<p>If you have a first generation MacBook Pro and haven&#39;t run Software Update yet (yes, that would be me too!) you should run it right now not only to get <a href="http://www.apple.com/support/downloads/securityupdate20060071048clientintel.html">Security Update 2006-007</a>, but also the <a href="http://www.apple.com/support/downloads/macbookproefifirmwareupdate12.html">MacBook Pro EFI Firmware Update 1.2</a>:</p>
<blockquote><p>This EFI Firmware Update fixes several Boot Camp, start up, and wake-from-sleep issues on MacBook Pro computers.</p>
<p>After the firmware update is successfully applied to your computer, your Boot ROM Version will be:<br />
MBP11.0055.B08 (MacBook Pro 15 inch)<br />
MBP12.0061.B03 (MacBook Pro 17 inch)
</p>
</blockquote>
<p>If you&#39;d rather download directly, click on the links above to visit the download pages.</p>
<p>Personally I haven&#39;t had any of the aformentioned issues with Boot Camp, startup and wake-from-sleep modes, but I&#39;ll be applying anyway.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: mbp" href="http://technorati.com/tag/mbp">mbp</a>,
<a title="Technorati tag: macbook pro" href="http://technorati.com/tag/macbook-pro">macbook pro</a>,
<a title="Technorati tag: macbook" href="http://technorati.com/tag/macbook">macbook</a>,
<a title="Technorati tag: apple" href="http://technorati.com/tag/apple">apple</a>,
<a title="Technorati tag: efi" href="http://technorati.com/tag/efi">efi</a>,
<a title="Technorati tag: firmware update" href="http://technorati.com/tag/firmware-update">firmware update</a>,
<a title="Technorati tag: apple" href="http://technorati.com/tag/apple">apple</a>,
<a title="Technorati tag: software update" href="http://technorati.com/tag/software-update">software update</a></p>
 
