---
title: 'Homer Simpson Quote' 
date: "2006-08-26T11:47:39+10:00"
year: "2006"
category: Media 
tag:
- quotes
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.homer.gif" style="width:130px" alt="" /></p>
<blockquote><p>*Rock smashes through window*</p>
<p>A flying rock!? Call a geologist!</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: homer simpsons" href="http://technorati.com/tag/homer-simpsons">homer simpsons</a>,
<a title="Technorati tag: simpsons" href="http://technorati.com/tag/simpsons">simpsons</a>,
<a title="Technorati tag: geologist" href="http://technorati.com/tag/geologist">geologist</a></p>
 
