---
title: 'House Quote' 
date: "2006-09-14T02:43:19+10:00"
year: "2006"
category: Thoughts 
tag: 
- funny
- quotes
- religion
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.House.JPG.jpg" alt="" style="width:400px" /></p>
<blockquote><p>&#8220;If you talk to God you’re religious. If God talks to you, you’re psychotic.&#8221;<br />
&#8211; Dr House</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: house" href="http://technorati.com/tag/house">house</a>,
<a title="Technorati tag: dr house" href="http://technorati.com/tag/dr-house">dr house</a>,
<a title="Technorati tag: religion" href="http://technorati.com/tag/religion">religion</a>,
<a title="Technorati tag: god" href="http://technorati.com/tag/god">god</a>,
<a title="Technorati tag: house md" href="http://technorati.com/tag/house-md">house md</a>,
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: ruben" href="http://technorati.com/tag/ruben">ruben</a>,
<a title="Technorati tag: schade" href="http://technorati.com/tag/schade">schade</a></p>
 
