---
title: 'Is WordPress.org Down?' 
date: "2006-08-26T08:40:02+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- simpletagged
- weblog 
---
<p><img src="https://rubenerd.com/wp-admin/images/wordpress-logo.png" alt="" style="background:#FFF" /></p>
<p>Is anyone else having trouble accessing the <a href="http://wordpress.org/">WordPress</a> and <a href="http://mu.wordpress.org/">WordPress MultiUser</a> websites?</p>
<p>As of 17:36 Central Australia Standard Time (09:13 GMT/UTC) I just get this message:</p>
<blockquote><p>The requested URL could not be retrieved</p>
<p>While trying to retrieve the URL:<br />
<a href="http://wordpress.org/">http://wordpress.org/</a></p>
<p>The following error was encountered:<br />
Unable to determine IP address from host name for wordpress.org</p>
<p>The dnsserver returned:<br />
Server Failure: The name server was unable to process this query.<br />
This means: The proxy server was not able to resolve the hostname presented in the URL. The website you have tried to view may not exist. Please check if the address is correct and retry your request.</p>
<p>Please contact TPG Helpdesk or the cache administrator and quote your dialup/ADSL location and IP address if you feel this error is incorrect. If you are reporting this error to the cache administrator you must include this entire error message in your email. Without the correct details we may be unable to resolve your issue.</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: wordpress" href="http://technorati.com/tag/wordpress">wordpress</a>,
<a title="Technorati tag: wordpress mu" href="http://technorati.com/tag/wordpress-mu">wordpress mu</a>,
<a title="Technorati tag: server failure" href="http://technorati.com/tag/server-failure">server failure</a>,
<a title="Technorati tag: server down" href="http://technorati.com/tag/server-down">server down</a></p>
 
