---
title: 'Israel Brown on Legitimate E-Mail' 
date: "2006-09-28T06:36:08+10:00"
year: "2006"
category: Media 
tag:
- new-time-radio
- podcasting
- simpletagged
- spam 
---
<p><a href="http://crapandstuff.com/"><img id="image383" src="https://rubenerd.com/files/uploads/israel.jpg" alt="Israel Brown" /></a></p>
<p>Just a warning message, if you are not a human being don&#39;t email Israel Brown:</p>
<blockquote><p>I’m still concentrating on other things right now. I just wanted to pop up for a bit to comment on something I received as e-mail recently. I say that I always answer my e-mail, and it is true &#8211; I answer legitimate e-mail from *people* who don’t talk like spam-bots.</p>
<p>If you write to me and say something like &#8220;hey dude, hows the crap an stuff hangin. r u japanese???hmm?&#8221; as one &#8220;person&#8221; did, I’m probably not going to say anything in reply.</p>
<p>However, if you have a real question to ask or want to discuss something, I’ll be more than happy to carry on a conversation! Oh, and if you don’t speak English too well or something, please say so, or else I’ll just assume that your message is spam or that you’re some idiot playing around.</p>
<p>If you haven’t heard all the shows, please give them a listen. Also, feel free to comment on anything. I always answer my legitimate e-mail.</p></blockquote>
<p>This meesage brought to you by <a href="http://crapandstuff.com/">Crap and Stuff</a> and <a href="http://newtimeradio.com/">New Time Radio</a>.</p>
<p><a href="http://crapandstuff.com/"><img id="image382" src="https://rubenerd.com/files/uploads/cas.jpg" alt="Crap and Stuff - New Time Radio show" /></a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: israel brown" href="http://technorati.com/tag/israel-brown">israel brown</a>,
<a title="Technorati tag: israel j brown" href="http://technorati.com/tag/israel-j-brown">israel j brown</a>,
<a title="Technorati tag: crap and stuff" href="http://technorati.com/tag/crap-and-stuff">crap and stuff</a>,
<a title="Technorati tag: crap &#038; stuff" href="http://technorati.com/tag/crap-&#038;-stuff">crap &#038; stuff</a>,
<a title="Technorati tag: new time radio" href="http://technorati.com/tag/new-time-radio">new time radio</a>,
<a title="Technorati tag: new-time radio" href="http://technorati.com/tag/new-time-radio">new-time radio</a></p>
 
