---
title: 'Johor Floods Intensify, No Relief in Sight' 
date: "2006-12-22T03:49:03+10:00"
year: "2006"
category: Thoughts 
tag: 
- environment
- malaysia
- news
- simpletagged 
---
<p><img id="image588" src="https://rubenerd.com/files/uploads/03flood.jpg" alt="Johor Floods, from the Malaysian Star" style="float:right; margin: 0 0 10px 20px" /></p>
<p>If you haven&#39;t heard about this disaster yet, no doubt you soon will.</p>
<p>The most intense and widepsread heavy rains in over a century in the state of <a href="http://en.wikipedia.org/wiki/Johor">Johor</a> in <a href="http://en.wikipedia.org/wiki/Malaysia">Malaysia</a> (the closest Malaysian territory to Singapore) have caused wisespread flooding and property destruction; already many of the expats here in Kuala Lumpur where I live at the moment are calling the state the &quot;New Orleans of Malaysia&quot;. Whole neighbourhoods and business districts have been engulfed in floodwaters which have displaced hundreds of people and caused millions of ringgit in damage.</p>
<p>Today though the flood situation took an even more tragic turn when 6 people were killed. From the <a href="http://thestar.com.my/news/story.asp?file=/2006/12/22/nation/16396112&#038;sec=nation&#038;focus=1">Malaysian Star Newspaper</a>:</p>
<blockquote><p><a href="http://thestar.com.my/news/story.asp?file=/2006/12/22/nation/16396112&#038;sec=nation&#038;focus=1"><img id="image587" src="https://rubenerd.com/files/uploads/thestar_138x35.gif" style="float:right; margin: 0 0 10px 20px" alt="The Malaysian Star Online" /></a> JOHOR BARU: The floods have claimed six lives in Johor – four in Segamat and two in Kluang. Police discovered three bodies floating in Segamat, one of the worst hit areas.</p>
<p>The dead were identified as Ahmad Sarkawi, 70, Marsiah Ahmad, 69, and Nor Azahari Nordin, 28.</p>
<p>It is believed that all three drowned.</p>
<p>Also in Segamat, 61-year-old Teh Sook Ching died after hanging on for 24 hours for help to get her to the hospital.</p>
<p>In Kluang, two bodies were found in a car submerged along the Paloh road.</p>
<p>They were identified as M. Mageswari, 26, a teacher, and A. Muniandy, 59, believed to be her uncle.</p>
</blockquote>
<p><img id="image589" src="https://rubenerd.com/files/uploads/flag_of_johor.png" alt="Flag of Johor State, Malaysia" style="float:right; margin: 0 0 10px 20px" /> Property loss and monetary damages are terrible, but any loss of human life is infinately more tragic. I&#39;m not a religious person so I can&#39;t say my prayers are with those who have lost loved ones and friends, but I can sinderely say my thoughts are.</p>
<p>I&#39;ve pulled the scheduled episode of the <a href="//rubenerd.com/show/">Rubenerd Show</a> for today and am going to replace it with an episode talking about this. The new episode should be online in a few hours.</p>
<p>Johor Bahru is the capital of the Malaysian state of Johor, the southern most point on the Asian mainland and home to over 1.5 million people. The city is connected to Singapore across the Straits of Johor by the Johor-Singapore Causeway and the Tuas Second Link.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: johor" href="http://technorati.com/tag/johor">johor</a>,
<a title="Technorati tag: johor bahru" href="http://technorati.com/tag/johor-bahru">johor bahru</a>,
<a title="Technorati tag: malaysia" href="http://technorati.com/tag/malaysia">malaysia</a>,
<a title="Technorati tag: floods" href="http://technorati.com/tag/floods">floods</a>,
<a title="Technorati tag: johor floods" href="http://technorati.com/tag/johor-floods">johor floods</a>,
<a title="Technorati tag: flooding" href="http://technorati.com/tag/flooding">flooding</a>,
<a title="Technorati tag: singapore" href="http://technorati.com/tag/singapore">singapore</a></p>
 
