---
title: 'Keeping Your Adelaide Metroticket Safe' 
date: "2006-09-02T04:55:44+10:00"
year: "2006"
category: Travel
tag: 
- adelaide
- public-transport
- south-australia
- simpletagged
- trains
---
<p><img src="https://rubenerd.com/files/uploads/media.safe_title.gif" alt="Adelaide Metro: Keep your Metroticket SAFE from damage" style="width:300px; height:208px;" /></p>
<p>Those damned tickets are so fragile aren&#39;t they? They&#39;ve got nothing on the <a href="http://transitlink.com.sg">Singapore EZlink card</a>!</p>
<blockquote><p><strong>Electronic devices and magnets emit magnetic fields which can cause damage to Metrotickets.</strong></p>
<p>Your Metroticket is a magnetic strip ticket and the magnetic coding may be damaged by magnetic fields from these devices.</p>
<p>These magnetic fields extend into the space around these electronic devices or a magnet and Metrotickets coming within a few centimetres may be damaged.</p></blockquote>
<p>So how do you keep them safe?</p>
<blockquote><p>Keep your Metroticket away from electronic devices, magnets, magnetic jewellery and bracelets.</p></blockquote>
<p><a href="http://adelaidemetro.com.au/ticketing/ticket_care.html" style="font-size:14px">Keeping Your Metroticket Safe From Damage</a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a></p>
<p><a title="Technorati tag: public transport" href="http://technorati.com/tag/public-transport">public transport</a>,
<a title="Technorati tag: adelaide" href="http://technorati.com/tag/adelaide">adelaide</a>,
<a title="Technorati tag: adelaide metro" href="http://technorati.com/tag/adelaide-metro">adelaide metro</a>,
<a title="Technorati tag: south australia" href="http://technorati.com/tag/south-australia">south australia</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a></p>
 
