---
title: 'Kevin Keirle’s Mo and Other Observations' 
date: "2006-11-03T12:02:29+10:00"
year: "2006"
category: Thoughts 
tag: 
- australia
- personal
- simpletagged
- singapore 
---
<p><a href="https://www.flickr.com/photos/rubenerd/130765146/in/set-72057594110393092/"><img src="https://static.flickr.com/54/130765146_3063c4b46a.jpg?v=0" alt="" style="width:320px"/></a><br />
<em>My class of 2004, click image to view Flickr gallery. Kevin is furthest on the right, I&#39;m the weird one second last from right!</em></p>
<p>My buddy Kevin Keirle is doing a fundraising thing. If you have a credit card and you haven&#39;t maxed it out (yes Hotaru I&#39;m talking to you! Man I miss you :oops: :sad: ) then consider helping out, its for men&#39;s health… no <em>not the magazine</em>, the actual thing. It&#39;s like me asking you to help out the world of PCs without actually anything to do with <em>PC World magazine</em>. Ah screw it. BeyondBlue is a really good organisation to support too, they really helped me when I lived in Adelaide.</p>
<p>Kevin, and your karma will thank you. Maybe you&#39;ll even get a body massage. Because he&#39;s a computer. Insider joke ;).</p>
<blockquote><p>Hey guys</p>
<p>I just signed up as a Mo Bro for movember, now i know your all mostly poor student types who cant spare any money since youve already racked up a tonne of debt on your already mounting pile of credit cards. Although if you can manage to spare a few dollars to sponsor me an my dirty stretch of lip hair then i’d be stoked, i’m sure you may even know a rich silly bugger who when drunk will be willing to donate even more.</p>
<p>Just incase you wanted to know, Movember is raising money for mens health, making donations paticularly to the prostate foundations of New Zealand and Australia (need i say more), and to the beyondblue campaign, trying to remedy a serious problem which you will all at one point see in a friend or experience yourself, DEPRESSION.</p>
<p>Anyway like i said i’d be over the moon if you could sponsor me as a Mo bro or even join me in Singapore at the end of this month for the Movember party.</p>
<p>(the rest of this email is the generic sendout btw)</p>
<p>Help me change the face of men’s health by sponsoring my mo.</p>
<p>Please go to <a href="http://www.movember.com/sg/sponsor">http://www.movember.com/sg/sponsor</a>, enter my Rego number which is 31281 and your credit card details.</p>
<p>The money raised by Movember will be used to change the face of men’s health by creating awareness and funding research into prostate cancer and male depression.</p>
<p>Movember culminates at the end of the month at the Singapore Gala Partè where I’ll be parading my Mo on the cat walk for a chance to be crowned the Man of Movember. If you want to be part of this great night you’ll have to purchase a Gala Parte ticket for AUD$10.00.</p>
<p>Cheers</p>
<p>Kevin</p>
<p>More info is available at <a href="www.movember.com">www.movember.com</a></p>
<p>Movember is proudly grown by Motorola, Polaroid, Remington and VB.</p>
<p>Movember is proud partners with the Prostate Cancer Foundations of Australia and New Zealand and beyondblue &#8211; the national depression initiative (Australia).</p>
</blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: kevin keirle" href="http://technorati.com/tag/kevin-keirle">kevin keirle</a>,
<a title="Technorati tag: movember" href="http://technorati.com/tag/movember">movember</a>,
<a title="Technorati tag: beyondblue" href="http://technorati.com/tag/beyondblue">beyondblue</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: singapore" href="http://technorati.com/tag/singapore">singapore</a>,
<a title="Technorati tag: new zealand" href="http://technorati.com/tag/new-zealand">new zealand</a></p>
 
