---
title: 'Late Night For Ruben' 
date: "2006-09-06T05:14:19+10:00"
year: "2006"
category: Thoughts 
tag: 
- australia
- personal
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.dashboard-late.png" alt="" /></p>
<p>Wow, it&#39;s getting damned late, I&#39;m off to bed! (hint: I live in Adelaide).</p>
<p>And lets take a quick glance at the weather for tomorrow:</p>
<p><img src="https://rubenerd.com/files/uploads/media.dashboard-adel.png" alt="" /></p>
<p>Argh, 12 degrees tomorrow :(.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: weather" href="http://technorati.com/tag/weather">weather</a>,
<a title="Technorati tag: adelaide" href="http://technorati.com/tag/adelaide">adelaide</a>,
<a title="Technorati tag: south australia" href="http://technorati.com/tag/south-australia">south australia</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: time" href="http://technorati.com/tag/time">time</a>,
<a title="Technorati tag: late" href="http://technorati.com/tag/late">late</a></p>
 
