---
title: 'Latest Rubenerd Outage' 
date: "2006-11-02T11:46:00+10:00"
year: "2006"
category: Hardware 
tag:
- infocomm
- new-time-radio
- podcasting
- simpletagged 
---
<p><a href="http://tm.com.my/"><img src="https://rubenerd.com/files/uploads/logo_telekom_malaysia.gif" alt="Telekom Malaysia" /></a></p>
<p>You may have <a href="//rubenerd.com/we-have-internet-and-telephone-again/">read a few days ago</a> that our telephones were stuffing up around Gita Bayu and therefore so was our DSL: well would you believe… it intermittently happened over and over again these last few days. I&#39;ve got Nelly and Tim McGraw singing &quot;Over and Over Again&quot; in my head as I type this. Argh I hate hip hop! There&#39;s usually enough time to post a few things to my <a href="http://del.icio.us/rubenerd/">del.icio.us</a> page and to read my email but it cuts out and resets so often it&#39;s been driving me to insanity!</p>
<p>I couldn&#39;t upload <a href="//rubenerd.com/show/">Rubenerd Shows</a> because they would cut out after the first 2 megs, so I&#39;ve resorted to going all the way into the city to upload these shows. The WiFi here at the <a href="http://coffeebean.com.my">Coffee Bean and Tea Leaf</a> is a bit unreliable but much, MUCH better than at home.</p>
<p>I&#39;m thinking of a drastic way to rescue the show and bring it back to a regular schedule, it has to do with the way WordPress can submit posts with a time delay and recording shows a week in advance, but I&#39;ll discuss that in more detail next episode. Hopefully this way if there are delays the show will continue uninterrupted; the only downside I see with this is that I won&#39;t be able to talk about current events as easily.</p>
<p>Damn the monsoon season!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: telekom malaysia" href="http://technorati.com/tag/telekom-malaysia">telekom malaysia</a>,
<a title="Technorati tag: telecom malaysia" href="http://technorati.com/tag/telecom-malaysia">telecom malaysia</a>,
<a title="Technorati tag: malaysia telecom" href="http://technorati.com/tag/malaysia-telecom">malaysia telecom</a>,
<a title="Technorati tag: malaysia" href="http://technorati.com/tag/malaysia">malaysia</a>,
<a title="Technorati tag: wordpress" href="http://technorati.com/tag/wordpress">wordpress</a>,
<a title="Technorati tag: rubenerd show" href="http://technorati.com/tag/rubenerd-show">rubenerd show</a>,
<a title="Technorati tag: over and over again" href="http://technorati.com/tag/over-and-over-again">over and over again</a>,
<a title="Technorati tag: gita bayu" href="http://technorati.com/tag/gita-bayu">gita bayu</a>,
<a title="Technorati tag: streamyx" href="http://technorati.com/tag/streamyx">streamyx</a>,
<a title="Technorati tag: dsl" href="http://technorati.com/tag/dsl">dsl</a>,
<a title="Technorati tag: adsl" href="http://technorati.com/tag/adsl">adsl</a></p>
 
