---
title: 'Mac OS X on the Power Macintosh G3' 
date: "2006-08-27T12:25:10+10:00"
year: "2006"
category: Software 
tag:
- apple
- infocomm
- simpletagged
- unix 
---
<p><img src="https://rubenerd.com/files/uploads/media.yosemite.gif" alt="" /></p>
<p>For those who want to give it a crack:</p>
<p><a style="font-size:14px" href="http://resale.headgap.com/osxnotesbw.html">OSX Notes for B&amp;W G3 Systems</a></p>
<p>While they say its more than possible, they advise you back up all your data (of course) and…</p>
<blockquote><p>While we play and test our products on OSX we think most folks on older equipment should stick with OS9 for now. Unless you have a compelling reason to run it, it can be an expensive update. While Apple has put a great interface on it, it still is a completely different OS (it really is BSD Unix you know) and will require you a fair amount of time to be comfortable using it. It has many benefits and features but many day to day tasks will actually run slower on it. On older systems, you still have the ability to boot back into OS9 and many of your OS9 programs will run under OSX in the emulation mode. It also may not work with your printers and scanners. We do not provide free support for systems that are user upgraded to OSX. Your system will run it. Just make sure you go into this with your eyes open. This is a major upgrade and it is unlike any upgrade you have done before.</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: b&amp;w g3" href="http://technorati.com/tag/b&amp;w-g3">b&amp;w g3</a>,
<a title="Technorati tag: apple" href="http://technorati.com/tag/apple">apple</a>,
<a title="Technorati tag: powermac" href="http://technorati.com/tag/powermac">powermac</a>,
<a title="Technorati tag: mac" href="http://technorati.com/tag/mac">mac</a>,
<a title="Technorati tag: mac os" href="http://technorati.com/tag/mac-os">mac os</a>,
<a title="Technorati tag: mac os x" href="http://technorati.com/tag/mac-os-x">mac os x</a></p>
 
