---
title: 'Malaysian Rainforest Dilemma' 
date: "2006-11-03T12:16:56+10:00"
year: "2006"
category: Thoughts 
tag: 
- environment
- malaysia
- simpletagged 
---
<p><img id="image455" src="https://rubenerd.com/files/uploads/large_173603738244b75ceade396.jpg" alt="Leong Yueh Kwong-MNS" /><br />
<em>Photo by Leong Yueh Kwong-MNS</em></p>
<p>The <a href="http://mns.org.my/">Malaysian Nature Society</a> website is pretty eye opening, especially for a self-confessed treehugger like me.</p>
<p>Some things I didn&#39;t know, along (sadly) with some things I did know:</p>
<blockquote cite="http://mns.org.my/"><p>Malaysia has a landmass of 32.86 million ha, of which about 54% (19.22 mill ha) is covered with forests. In the last 15 years alone, we have seen natural areas being cleared, making way for development, logging, plantations, oil pipelines, mining, dams and an array of housing plans. Malaysian has lost about 60,000 species of life forms a year since 2000.</p>
</blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: malaysian nature society" href="http://technorati.com/tag/malaysian-nature-society">malaysian nature society</a>,
<a title="Technorati tag: mns" href="http://technorati.com/tag/mns">mns</a>,
<a title="Technorati tag: rainforest" href="http://technorati.com/tag/rainforest">rainforest</a>,
<a title="Technorati tag: deforestation" href="http://technorati.com/tag/deforestation">deforestation</a>,
<a title="Technorati tag: habitat loss" href="http://technorati.com/tag/habitat-loss">habitat loss</a>,
<a title="Technorati tag: urban crawl" href="http://technorati.com/tag/urban-crawl">urban crawl</a>,
<a title="Technorati tag: forest" href="http://technorati.com/tag/forest">forest</a>,
<a title="Technorati tag: south-east asia" href="http://technorati.com/tag/south-east-asia">south-east asia</a></p>
 
