---
title: 'Miyazaki Nodoka from Negima' 
date: "2006-08-27T12:20:34+10:00"
year: "2006"
category: Anime 
tag: 
- japanese
- miyasaki-nodoka
- negima
- simpletagged
- television 
---
<p><a href="http://pixelatedgraffiti.animationalliance.net/negima.html"><img src="https://rubenerd.com/files/uploads/media.miyazaki-nodoka.jpg" alt="" /></a></p>
<p>Miyazaki Nodoka arty-wallpapery art-wallpaper from Negima!: Magister Negi Magi. She was the smart, shy one ;).</p>
<blockquote><p>A collab between me and redxxii of MercurialDesign.net. It was quite a challange for the both of us, but we’re more than pleased with the result. Scenery outside was made by me, while he recged nodoka and did a lot of the inside work, followed by me pulling it all together and tweeks by both of us and here is the result :3</p>
<p>~ <a href="http://pixelatedgraffiti.animationalliance.net/negima.html">http://pixelatedgraffiti.animationalliance.net/negima.html</a></p>
</blockquote>
<p>Available as wallpaper at <a href="http://pixelatedgraffiti.animationalliance.net/Images/Wallpapers/Negima1_1024x768.jpg">1024&#215;768</a>, <a href="http://pixelatedgraffiti.animationalliance.net/Images/Wallpapers/Negima1_1280x960.jpg">1280&#215;960</a> and <a href="http://pixelatedgraffiti.animationalliance.net/Images/Wallpapers/Negima1_1280x1024.jpg">1280&#215;1024</a>.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<p><a title="Technorati tag: anime" href="http://technorati.com/tag/anime">anime</a>,
<a title="Technorati tag: manga" href="http://technorati.com/tag/manga">manga</a>,
<a title="Technorati tag: wallpapers" href="http://technorati.com/tag/wallpapers">wallpapers</a>,
<a title="Technorati tag: desktop backgrounds" href="http://technorati.com/tag/desktop-backgrounds">desktop backgrounds</a>,
<a title="Technorati tag: nodoka" href="http://technorati.com/tag/nodoka">nodoka</a>,
<a title="Technorati tag: miyazaki nodoka" href="http://technorati.com/tag/miyazaki-nodoka">miyazaki nodoka</a>,
<a title="Technorati tag: negima" href="http://technorati.com/tag/negima">negima</a>,
<a title="Technorati tag: magister negi magi" href="http://technorati.com/tag/magister-negi-magi">magister negi magi</a></p>
 
