---
title: 'Modem Versus WinModem' 
date: "2006-08-28T03:28:29+10:00"
year: "2006"
category: Hardware 
tag:
- infocomm
- simpletagged
- unix 
---
<p><img src="https://rubenerd.com/files/uploads/media.WinmodemAndRegularModem.jpg" alt="A WinModem card compared to a regular analogue hardware card." /></p>
<p>An interesting physical comparison between a <a href="http://en.wikipedia.org/wiki/modem">traditional modem card</a> and a more recent <a href="http://en.wikipedia.org/wiki/winmodem">winmodem</a> which uses the hardware in the host computer through software instead of dedicated components. Of course the earlier winmodems were; funnily enough; designed for the <a href="http://microsoft.com/windows95/">Microsoft Windows</a> operating system, so its understandable why Linux drivers etc took so long to come to fruition. <em>Mmm…. fruition.</em></p>
<p>I can&#39;t say I miss the good ol&#39; modem all that much anymore, thank you WiFi :D.</p>
<p><a style="font-size:14px" href="http://en.wikipedia.org/wiki/Image:WinmodemAndRegularModem.jpg">WinModem and Regular Modem Comparison</a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<p><a title="Technorati tag: modem" href="http://technorati.com/tag/modem">modem</a>,
<a title="Technorati tag: retro" href="http://technorati.com/tag/retro">retro</a>,
<a title="Technorati tag: classic" href="http://technorati.com/tag/classic">classic</a>,
<a title="Technorati tag: winmodem" href="http://technorati.com/tag/winmodem">winmodem</a>,
<a title="Technorati tag: drivers" href="http://technorati.com/tag/drivers">drivers</a>,
<a title="Technorati tag: software based" href="http://technorati.com/tag/software-based">software based</a></p>
 
