---
title: 'My Mugshot on Frank’s Blog' 
date: "2006-08-24T10:42:48+10:00"
year: "2006"
category: Media 
tag:
- new-time-radio
- podcasting
- simpletagged
- weblog 
---
<p>You know you&#39;ve made it as a blogger when Frank Edward Nora features you <a href="http://theovernightscape.com/blog/">on his new blog</a>! :D</p>
<blockquote><p><img title="Ruben" alt="Ruben" src="https://rubenerd.com/files/uploads/blog.ruben.jpg" /></p>
<p>Ruben from <a href="//rubenerd.com/category/show/">The Rubenerd Show</a> has done a great parody of <a href="http://theovernightscape.com/">The Overnightscape</a>!</p>
<p><a href="//rubenerd.com/rubenerdshow155/">Rubenerd Show 155 (Mon 21/Aug/2006)</a><br />
<a href="http://www.archive.org/download/RubenerdShow155/RubenerdShow155.mp3">RubenerdShow155.mp3</a></p></blockquote>
<p>If you haven&#39;t yet checked out his new blog, you&#39;re depriving yourself of some really interesting stuff!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: overnightscape" href="http://technorati.com/tag/overnightscape">overnightscape</a>,
<a title="Technorati tag: blog" href="http://technorati.com/tag/blog">blog</a>,
<a title="Technorati tag: rubenerd show" href="http://technorati.com/tag/rubenerd-show">rubenerd show</a></p>
 
