---
title: 'New Method for Ourmedia Uploading' 
date: "2006-08-26T08:59:48+10:00"
year: "2006"
category: Media 
tag:
- music
- new-time-radio
- ourmedia
- photos
- podcasting
- simpletagged
- weblog 
---
<p><img style="padding:10px; background:#FFF" src="http://www.ourmedia.org/sites/ourmedia.org/files/OM-252-full.png" alt="" /></p>
<p>This looks great. I&#39;ve had so many problems with the Ourmedia Uploader in the past with files that get uploaded to the Interent Archives but never get their own page on Ourmedia. Hopefully this tool will solve these problems.</p>
<p>Now if only they had text instructions not a gigantic tutorial flash animation that I can&#39;t download before it times out.</p>
<blockquote><p>Good news, our media now has a new publisher available for download. The SpinXpress Publisher for Ourmedia is brought to you by one of our partners &#8220;Outthink&#8221;.</p>
<p>After you’ve opened an account and have the software installed on your system, be sure to view the demo below. You’ll see exactly what you need to do in order to upload your media to ourmedia.</p>
<p>~ <a href="http://www.ourmedia.org/node/247960#comment-5980">http://www.ourmedia.org/node/247960#comment-5980</a></p>
</blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<p><a title="Technorati tag: ourmedia" href="http://technorati.com/tag/ourmedia">ourmedia</a>,
<a title="Technorati tag: internet archives" href="http://technorati.com/tag/internet-archives">internet archives</a>,
<a title="Technorati tag: ourmedia uploader" href="http://technorati.com/tag/ourmedia-uploader">ourmedia uploader</a>,
<a title="Technorati tag: spinxpress" href="http://technorati.com/tag/spinxpress">spinxpress</a>,
<a title="Technorati tag: spinxpress publisher" href="http://technorati.com/tag/spinxpress-publisher">spinxpress publisher</a>,
<a title="Technorati tag: outthink" href="http://technorati.com/tag/outthink">outthink</a></p>
 
