---
title: 'New Hang Seng and Singapore Straits Times Records!' 
date: "2006-11-15T08:18:09+10:00"
year: "2006"
category: Thoughts 
tag: 
- australia
- economics
- japanese
- malaysia
- simpletagged
- singapore 
---
<p><img style="width:300px; float:right; margin:0 0 10px 20px" id="image499" src="https://rubenerd.com/files/uploads/asiapacific_map.jpg" alt="Asia-Pacific Map" /></p>
<p><a href="http://www.bloomberg.com/apps/news?pid=20601087&#038;sid=aSW9tVh6a558&#038;refer=home">According to Bloomberg</a>, Hong Kong&#39;s Hang Seng index rose above 19,000 for the first time, and Singapore&#39;s Straits Times index posted a new record!</p>
<p>The article states that despite a cooler than expected Chinese economy Hong Kong was able to post strong gains which pushed it into record territory.</p>
<p>Elsewhere in Asia-Pacific though, Australia, New Zealand, Japan, Malaysia and Indonesia fell, led by resource stocks such as BHP Billiton in Australia and JR East, Japan&#39;s largest railway operator.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: economics" href="http://technorati.com/tag/economics">economics</a>,
<a title="Technorati tag: singapore" href="http://technorati.com/tag/singapore">singapore</a>,
<a title="Technorati tag: new zealand" href="http://technorati.com/tag/new-zealand">new zealand</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: japan" href="http://technorati.com/tag/japan">japan</a>,
<a title="Technorati tag: malaysia" href="http://technorati.com/tag/malaysia">malaysia</a>,
<a title="Technorati tag: indonesia" href="http://technorati.com/tag/indonesia">indonesia</a>,
<a title="Technorati tag: straits times" href="http://technorati.com/tag/straits-times">straits times</a>,
<a title="Technorati tag: hang seng" href="http://technorati.com/tag/hang-seng">hang seng</a>,
<a title="Technorati tag: nikkei" href="http://technorati.com/tag/nikkei">nikkei</a></p>
 
