---
title: 'Nintendo Wii Lah' 
date: "2006-11-22T10:08:38+10:00"
year: "2006"
category: Software 
tag:
- gaming
- infocomm
- simpletagged 
---
<p><img id="image529" src="https://rubenerd.com/files/uploads/wii.jpg" alt="Nintendo Wii" style="float:right; margin:0 0 10px 20px" /><br />The Nindendo Wii (pronounced &quot;wee&quot;) has a very unfortunate name doesn&#39;t it? :D.</p>
<p>Anyway I love pulling apart stuff, so of course I&#39;m always interested to see the latest photos when something new that has come to market has been pulled apart. <a href="http://www.informit.com/articles/article.asp?p=677908&#038;rl=1">Informit has an entire article</a> on the dismanteling of the Wii.</p>
<p>I don&#39;t buy game consoles; personally I think if you have a computer there&#39;s no point getting a butchered computer that doesn&#39;t have a keyboard, has to be hacked just to run normal software and is far slower and [mostly] not upgradable! However if I were to ever changed my mind, I would be getting the Wii over the PS3 or the Xbox 360. It looks sweeeeeet. I just wouldn&#39;t tell anyone in Australia or the UK the name of it ;).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: nintendo" href="http://technorati.com/tag/nintendo">nintendo</a>,
<a title="Technorati tag: nintendo wii" href="http://technorati.com/tag/nintendo-wii">nintendo wii</a>,
<a title="Technorati tag: wii" href="http://technorati.com/tag/wii">wii</a>,
<a title="Technorati tag: game consoles" href="http://technorati.com/tag/game-consoles">game consoles</a>,
<a title="Technorati tag: gaming console" href="http://technorati.com/tag/gaming-console">gaming console</a>,
<a title="Technorati tag: consoles" href="http://technorati.com/tag/consoles">consoles</a>,
<a title="Technorati tag: ps3" href="http://technorati.com/tag/ps3">ps3</a>,
<a title="Technorati tag: xbox 368" href="http://technorati.com/tag/xbox-368">xbox 368</a>,
<a title="Technorati tag: informit" href="http://technorati.com/tag/informit">informit</a></p>
 
