---
title: 'Nocturnal Spam' 
date: "2006-08-03T01:03:16+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- spam 
---
<p><a href="//rubenerd.com/tag/spam/"><img src="https://rubenerd.com/files/uploads/media.spam.png" alt="" /></a></p>
<p><em>Ruben picks apart the useless spam he receives from the spamming spammers who spam him with their spammingly spammish spam. For all the spam he has picked apart, visit the <a href="//rubenerd.com/tag/spam/">spam category</a>… sounds like a Monty Python routine.</em></p>
<blockquote><p>Say I can have sex all nocturnal long!</p></blockquote>
<p>Nocturnal long?</p>
 
