---
title: 'Online Auctions Raise Value of Charity Gifts' 
date: "2006-09-07T07:52:29+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- news
- shopping
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.cnet-news.png" alt="" /></p>
<p>CNET is reporting that <a href="http://news.com/Online+auctions+raise+value+of+celebrities+charity+gifts/2100-1038_3-6112071.html?tag=nefd.top">online auctions raise value of celebrities&#39; charity gifts</a>. This can only be a good thing. Simple economics shows that with more potential buyers, the price of a good or service will rise as a result; the extra raised revenue would help the charity even more.</p>
<blockquote><p>Charities have long sold items owned by celebrities, but eBay and the Internet have pumped new life into this fund-raising technique, increasing returns exponentially.</p>
<p>&#8220;The Internet increases your reach, drawing people from around the country and even internationally,&#8221; said Sheila Consaul, a United Way spokeswoman.</p></blockquote>
<p>Of course the only time when this wouldn&#39;t be a good thing is if it was me or <a href="http://blog.davesphotogallery.net/blog">Dave</a> trying to bid haha ;).</p>
<p><span style="font-size:14px">Link: <a href="http://news.com/Online+auctions+raise+value+of+celebrities+charity+gifts/2100-1038_3-6112071.html?tag=nefd.top">Online auctions raise value of celebrities&#39; charity gifts</a></span></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: charity" href="http://technorati.com/tag/charity">charity</a>,
<a title="Technorati tag: auctions" href="http://technorati.com/tag/auctions">auctions</a>,
<a title="Technorati tag: ebay" href="http://technorati.com/tag/ebay">ebay</a>,
<a title="Technorati tag: celebrity charity gifts" href="http://technorati.com/tag/celebrity-charity-gifts">celebrity charity gifts</a></p>
 
