---
title: 'Open Source Software on the Mac' 
date: "2006-09-02T10:57:33+10:00"
year: "2006"
category: Software 
tag:
- apple
- infocomm
- simpletagged 
---
<p><a href="http://www.macdevcenter.com/pub/a/mac/2006/07/25/software-stack-for-the-mac.html"><img src="https://rubenerd.com/files/uploads/media.macdevcenter_logo.gif" alt="" /></a></p>
<p>If you&#39;re interested in running free and open source software on your Mac, this O&#39;Reilly article (just like every O&#39;Reilly book and article I&#39;ve ever encountered!) is really good reading. Matthew Russell dives into the OSS offerings available to Mac users including mail, multimedia, web browsers, image editing and more.</p>
<blockquote><p>…this got me pondering how well Apple’s stock apps really stand up to some of the alternatives out there&#8211;especially from the OSS community. For that matter, how many high quality OSS alternatives are there for Mac users?</p>
<p>It turns out that OSS is doing amazingly well for the most part. As might be expected, there are still some gaping holes to be filled, but in many others, Apple would do well to start taking notes. I’m going to take a brief look at the landscape for some of the most common stock apps and assign each of those application categories some health grades. The more high-quality alternatives to Apple’s stock apps there are, the higher we’ll grade the category’s health, and vice versa.</p></blockquote>
<p><a href="http://www.macdevcenter.com/pub/a/mac/2006/07/25/software-stack-for-the-mac.html" style="font-size:14px">How Does Open Source Software Stack Up on the Mac?</a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: o'reilly" href="http://technorati.com/tag/o'reilly">o’reilly</a>,
<a title="Technorati tag: oreilly" href="http://technorati.com/tag/oreilly">oreilly</a>,
<a title="Technorati tag: matthew russel" href="http://technorati.com/tag/matthew-russel">matthew russel</a>,
<a title="Technorati tag: open source" href="http://technorati.com/tag/open-source">open source</a>,
<a title="Technorati tag: oss" href="http://technorati.com/tag/oss">oss</a>,
<a title="Technorati tag: open source mac" href="http://technorati.com/tag/open-source-mac">open source mac</a>,
<a title="Technorati tag: macintosh" href="http://technorati.com/tag/macintosh">macintosh</a>,
<a title="Technorati tag: apple" href="http://technorati.com/tag/apple">apple</a>,
<a title="Technorati tag: mac" href="http://technorati.com/tag/mac">mac</a>,
<a title="Technorati tag: mac os" href="http://technorati.com/tag/mac-os">mac os</a>,
<a title="Technorati tag: mac os x" href="http://technorati.com/tag/mac-os-x">mac os x</a>,
<a title="Technorati tag: thunderbird" href="http://technorati.com/tag/thunderbird">thunderbird</a>,
<a title="Technorati tag: camino" href="http://technorati.com/tag/camino">camino</a>,
<a title="Technorati tag: firefox" href="http://technorati.com/tag/firefox">firefox</a>,
<a title="Technorati tag: vlc" href="http://technorati.com/tag/vlc">vlc</a></p>
 
