---
title: 'Opening DAA Files On A Mac' 
date: "2006-09-11T09:44:26+10:00"
year: "2006"
category: Media 
tag:
- apple
- simpletagged
- television 
---
<p><a href="http://poweriso.com/"><img src="https://rubenerd.com/files/uploads/media.poweriso.gif" alt="PowerISO" style="width:300px"/></a></p>
<p>The *.DAA file format is a type of proprietary disk image created using the PowerISO program for Windows. DAA stands for Direct Access Archive. Unfortunately the only way to open these files on Macs is to install <a href="http://poweriso.com/">PowerISO</a> on a Windows box (or Windows emulator on your Mac) and convert them to ISO files.</p>
<p>It&#39;s downright silly and utterly pointless that such a format exists I would think, it just makes life more complicated! ISO files are good enough I would have thought.</p>
<p>If I&#39;ve said it once I&#39;ve said it a thousand times: proprietary file formats are evil. Microsoft Office files, these DAA files… they&#39;re all evil!</p>
<p>Sorry if you&#39;re disappointed by the lack of good news, but I thought I&#39;d share my experience to prevent similar frustration.</p>
<blockquote><p><strong>UPDATE:</strong> A lot has changed since I created this post two years ago. Without me realising it there’s been a fantastic conversation going here, and since 2006 there have been some utilities created to read DAA files. View the comments for more info.</p>
<p>Cheers! &#8212; Ruben</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: daa" href="http://technorati.com/tag/daa">daa</a>,
<a title="Technorati tag: open daa on mac" href="http://technorati.com/tag/open-daa-on-mac">open daa on mac</a>,
<a title="Technorati tag: mac os x" href="http://technorati.com/tag/mac-os-x">mac os x</a>,
<a title="Technorati tag: mac" href="http://technorati.com/tag/mac">mac</a>,
<a title="Technorati tag: iso" href="http://technorati.com/tag/iso">iso</a>,
<a title="Technorati tag: poweriso" href="http://technorati.com/tag/poweriso">poweriso</a></p>
 
