---
title: 'Operation Move to Malaysia' 
date: "2006-09-15T02:00:00+10:00"
year: "2006"
category: Travel
tag: 
- malaysia
- personal
- simpletagged
---
<p><img src="https://rubenerd.com/files/uploads/media.KualaLumpurskyline.jpg" alt="Photo of the Kuala Lumpur skyline" style="width:400px; height:267px;" /></p>
<p>Well I&#39;m off to Kuala Lumpur to live tomorrow morning. Therefore vis-a-vis ergo wysiwyg there probably won&#39;t be any more <a href="//rubenerd.com/">Rubenerd Blog</a> posts until I arrive there tomorrow night.</p>
<p>See you there.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: malaysia" href="http://technorati.com/tag/malaysia">malaysia</a>,
<a title="Technorati tag: kuala lumpur" href="http://technorati.com/tag/kuala-lumpur">kuala lumpur</a>,
<a title="Technorati tag: selangor" href="http://technorati.com/tag/selangor">selangor</a>,
<a title="Technorati tag: moving" href="http://technorati.com/tag/moving">moving</a>,
<a title="Technorati tag: third culture kid" href="http://technorati.com/tag/third-culture-kid">third culture kid</a>,
<a title="Technorati tag: tck" href="http://technorati.com/tag/tck">tck</a>,
<a title="Technorati tag: purple monkey dishwashers" href="http://technorati.com/tag/purple-monkey-dishwashers">purple monkey dishwashers</a>,
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: ruben" href="http://technorati.com/tag/ruben">ruben</a>,
<a title="Technorati tag: schade" href="http://technorati.com/tag/schade">schade</a></p>
 
