---
title: 'Orange Juice Cleaning Products?' 
date: "2006-09-02T06:01:16+10:00"
year: "2006"
category: Hardware 
tag:
- australia
- cleaning
- infocomm
- science
- shopping
- simpletagged 
---
<p><a href="http://orangepower.com.au/"><img src="https://rubenerd.com/files/uploads/media.2005-multipurposeproduct.jpg" alt="" /></a></p>
<p>Now this is interesting: a range of household cleaning products based on… <a href="http://orangepower.com.au/">orange juice</a>!</p>
<blockquote><p>The natural ability of orange oil (d-Limonene) combined with advanced surfactant system &#038; sugar based alcohol, makes a safe, environmentally responsible cleaner. It will lift and dissolve grease, grime, fatty deposits and other typical kitchen stains. Orange Power Multi Purpose Cleaner is safe to use on most surfaces including laminated benchtops, cutting boards, cupboards, stainless steel sinks, ovens &#038; cook tops, rangehood filters, basins, tiles, chrome, glass, fridges and dishwashers doors, painted walls etc.</p>
<p>All Orange Power products are &quot;earth friendly&quot; thanks to a combination of natural and renewable ingredients like ‘orange oil’ and cane sugar derived alcohol and a commitment to no added colours, preservatives or perfumes substances. They are biodegradable and water safe. Contains no bleach, Ammonia, or anti bacterial ‘killers’ like Benzalkonium Chloride.</p></blockquote>
<p>And they&#39;re 100% Australian owned and operated, there you go. I&#39;n not sure how effective they are given that they&#39;re all natural (which tend not to work as well as evil, toxic polluting products) but for a confessed tree hugger such as myself, I&#39;d certainly give them a try.</p>
<p><a style="font-size:14px" href="http://orangepower.com.au/">Orange Power Australia</a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: orange power" href="http://technorati.com/tag/orange-power">orange power</a>,
<a title="Technorati tag: oranges" href="http://technorati.com/tag/oranges">oranges</a>,
<a title="Technorati tag: fruit" href="http://technorati.com/tag/fruit">fruit</a>,
<a title="Technorati tag: cleaning products" href="http://technorati.com/tag/cleaning-products">cleaning products</a>,
<a title="Technorati tag: natural" href="http://technorati.com/tag/natural">natural</a>,
<a title="Technorati tag: environmentally friendly" href="http://technorati.com/tag/environmentally-friendly">environmentally friendly</a>,
<a title="Technorati tag: biodegradable" href="http://technorati.com/tag/biodegradable">biodegradable</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: innovation" href="http://technorati.com/tag/innovation">innovation</a></p>
 
