---
title: 'Ourmedia and Server Move Complete!' 
date: "2006-12-11T05:35:24+10:00"
year: "2006"
category: Media 
tag:
- new-time-radio
- podcasting
- simpletagged 
---
<p><a href="//rubenerd.com/category/show/"><img src="https://rubenerd.com/files/uploads/logo.show240.png" alt="Rubenerd Show" style="float:right; margin: 5px 0 10px 20px" /></a></p>
<p>The <a href="//rubenerd.com/category/show/">Rubenerd Show</a> audio episodes have been successfully moved over to the new web server as of a few minutes ago! This will mean a far more reliable show production schedule, no more interruptions, lost transfers and more reliable and zippy downloads. Mmm… zippy downloads!</p>
<p>As a comparison, with the old server it could take anywhere from 10 to 15 minutes to upload a 4.6MiB MP3 file, and there was no guarantee it would actually work when it finished the transfer (as many friendly people have pointed out on the <a href="//rubenerd.com/show/forum/">Rubenerd Forum</a> in the past!). Very often episodes could be delayed by <em>several days</em> because my host would just blatantly refuse to accept uploaded files, even if it was done through their &quot;Web Upload&quot; interface instead of FTP!</p>
<p>Now the entire process takes less that 2 minutes, and so far I have not experienced any upload dropouts or &quot;stalls&quot; as the Terminal FTP program likes to call them. I can also see iTunes and Juice Receiver downloading the files a lot faster now as well which is great news.</p>
<p>Tomorrow&#39;s episode, Episode 191 for Tuesday 12th December 2006 will be the first one to be released entirely on the new server. I just can&#39;t get over how fast and easy uploading is on this new server!</p>
<p><a href="http://ourmedia.org/user/38566/"><img src="http://www.ourmedia.org/sites/ourmedia.org/files/OM-252-full.png" alt="Ourmedia!" style="background:#FFFFFF; padding:5px; float:right; margin: 5px 0 10px 20px" /></a>I&#39;m also giving another serious look at using <a href="http://ourmedia.org/user/38566">Ourmedia</a> as a mirror site to prevent future troubles and to help people access the shows. Ourmedia is great because it lets you upload and share media files for free, and unlike Google Video, YouTube or PodShow and the like, it is based around the <a href="http://archive.org/">Internet Archives</a> and is a non-profit organisation, so I feel far more comfortable using their servers to host my content without fear of it being used inappropriatly because of evil hidden clauses in licence agreements and so forth. Am I paranoid? Probably! But better safe than sorry.</p>
<p>Of course again if you have any problems or suggestions I love talking to people on the <a href="//rubenerd.com/show/forum/">Rubenerd Forum</a>, or you can just leave a comment on this blog post.</p>
<p>Thanks everyone for your patience and support over these last few weeks! :D</p>
<p>Cheers,<br />
<a href="//rubenerd.com/about/">Ruben</a></p>
<p><em>EDIT: I have just been able to get internet access again. I&#39;ve been called to Singapore for an emergency meeting with my employer and won&#39;t be back until Saturday. What&#39;s the point, I ask everyone here, of work when it interferes with your podcast?</em></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: rubenerd show" href="http://technorati.com/tag/rubenerd-show">rubenerd show</a>,
<a title="Technorati tag: the rubenerd show" href="http://technorati.com/tag/the-rubenerd-show">the rubenerd show</a>,
<a title="Technorati tag: rubenerd" href="http://technorati.com/tag/rubenerd">rubenerd</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: ftp" href="http://technorati.com/tag/ftp">ftp</a>,
<a title="Technorati tag: uploading" href="http://technorati.com/tag/uploading">uploading</a>,
<a title="Technorati tag: ourmedia" href="http://technorati.com/tag/ourmedia">ourmedia</a>,
<a title="Technorati tag: podcasting" href="http://technorati.com/tag/podcasting">podcasting</a>,
<a title="Technorati tag: new time radio" href="http://technorati.com/tag/new-time-radio">new time radio</a></p>
 
