---
title: 'Partial-Time Job Vacations, Kerrie !' 
date: "2006-09-10T08:16:28+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- simpletagged
- spam 
---
<p><a href="//rubenerd.com/tag/spam/"><img src="https://rubenerd.com/files/uploads/media.spam.png" alt="" /></a></p>
<p><em>Ruben picks apart the useless spam he receives from the spamming spammers who spam him with their spammingly spammish spam. For all the spam he has picked apart, visit the <a href="//rubenerd.com/tag/spam/">spam category</a>… sounds like a Monty Python routine.</em></p>
<blockquote><p>Reliable workers at home required! Have some spare time to spend? Need to fill it with an easy work at home and get paid for it? We are looking for honest and trustworthy people to work from their homes! We offer a high income potential and an interesting activities with the right cause. No experience necessary. We will train. No start-up costs required.</p>
<p>Want to apply ? Send your resume to: <em>[[address removed]]</em><br />
Do you have additional questions? Don’t hesitate to contact us!</p></blockquote>
<p>So you&#39;re on the hunt for reliable workers eh? The kind of reliable worker who reads spam email messages and takes them seriously? The kind of reliable worker who thinks that your sentence &quot;and an interesting activities&quot; is gramatically correct? And by &quot;No start-up costs required&quot; do you mean no costs for <em>you</em> or for <em>me</em>? Big difference there fellas.</p>
<p>I think it&#39;s ironic too that they claim they want honest and trustworthy people, when they themselves are sending out this so called job notice through a dishonest and untrustworthy spam message! And what the hell is a &quot;partial-time job&quot;? Is that something like a part-time job but one you are quite partial too?</p>
<p>If I&#39;ve said this once I&#39;ve said it a thousand times: spammers, it doesn&#39;t take a lot of effort to actually check your messages before you send them right? Morons.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: spam" href="http://technorati.com/tag/spam/">spam</a>,
<a title="Technorati tag: junk mail" href="http://technorati.com/tag/junk-mail">junk mail</a></p>
 
