---
title: 'PocketMac for BlackBerry' 
date: "2006-09-07T06:28:53+10:00"
year: "2006"
category: Software 
tag:
- blackberry
- gaming
- infocomm
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.blackberry.png" alt="" /></p>
<p>If you have a <a href="http://apple.com/">Mac</a> and a <a href="http://blackberry.com/">BlackBerry</a> (like me), <a href="http://www.pocketmac.net/products/pmblackberry/index.html">PocketMac</a> is indispensable.</p>
<blockquote><p>More than 4 years after we began making unique sync solutions for the Mac, people still ask us, &#8220;Are you guys nuts?&#8221;<br />
Only now they ask, &#8220;What Mac user would want a BlackBerry® device?&#8221;</p>
<p>And just as before, our answer is: All of them!</p>
<p>The BlackBerry device is one of the best devices and the Mac is the best computing platform.</p>
<p>Why not have the best of both worlds? That’s why we created PocketMac® For BlackBerry, the original Mac-To-BlackBerry Sync Solution</p></blockquote>
<p>It still irritates me though that <a href="http://rim.com/">Research In Motion</a> still refuses to acknowledge and natively support anyone who doesn&#39;t use Windows.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: pocketmac" href="http://technorati.com/tag/pocketmac">pocketmac</a>,
<a title="Technorati tag: blackberry" href="http://technorati.com/tag/blackberry">blackberry</a>,
<a title="Technorati tag: rim" href="http://technorati.com/tag/rim">rim</a>,
<a title="Technorati tag: research in motion" href="http://technorati.com/tag/research-in-motion">research in motion</a>,
<a title="Technorati tag: mac" href="http://technorati.com/tag/mac">mac</a>,
<a title="Technorati tag: apple" href="http://technorati.com/tag/apple">apple</a>,
<a title="Technorati tag: mac os x" href="http://technorati.com/tag/mac-os-x">mac os x</a>,
<a title="Technorati tag: blackberry for mac" href="http://technorati.com/tag/blackberry-for-mac">blackberry for mac</a></p>
 
