---
title: 'REC Anime Review'
date: "2006-11-09T04:56:24+10:00"
year: "2006"
category: Anime
tag:
- rec
- reviews
- simpletagged 
---
<p><img id="image488" src="https://rubenerd.com/files/uploads/anime.rec.jpg" alt="REC Anime DVD" style="float:right; margin-left:20px" /></p>
<p>The latest anime I&#39;m watching is REC, based on the manga by Hanamizawa Q-Tarou. It&#39;s a SHAFT production, directed by Ryotaro Nakamura (you can find out more through <a href="http://en.wikipedia.org/wiki/Rec_%28manga%29">Wikipedia</a>, the <a href="http://www.animenewsnetwork.com/encyclopedia/anime.php?id=6008">Anime News Network</a> or the <a href="http://www.tbs.co.jp/rec-aka/">official Japanese website</a>.)</p>
<p>What initially drew me to this series was its peculiar episode format: in the first (and current) series there are nine episodes, but unlike most other anime each episode is only <em>12 minutes long</em>. It&#39;s actually a very watch-able time, it&#39;s not too long for when you don&#39;t have much time and it keeps each episode interesting. I think many other serialised shows could benefit from being shrunk, I&#39;m sure you could have an episode of most Western television shows cut in half and still retain the necessary elements to keep the plot the same.</p>
<p>As with the timing of the episodes, the premise of the story also drew my interest; instead of being yet another series centred around a team of high school girls or evil robotic cyborgs (not that those in certain does are a bad thing mind… ahem) it shows the adventures of a young businessman who seems to be a dead end marketing job and a 20 year old aspiring seiyū (which is ironic in itself considering seiyū artists would be involved in the production of the anime itself) who idolises Audrey Hepburn. An interested premise!</p>
<p>I&#39;m watching the DVD release with English subtitles. I don&#39;t think there&#39;s an English dub available, and I don&#39;t care, I hate dubs! ;). Seeing as I&#39;m so early into the story I&#39;m not going to rate it just yet, but I can tell already that it could be in my top 5.</p>
<p>With this series I&#39;m going to be doing something I haven&#39;t done before; I&#39;m going to review each series as I watch it. Even if nobody else is interested at least it gives me a record of what&#39;s going on!</p>
<p>I&#39;ve seen Episode 1 already but it&#39;s almost 02:00am here and I should get to bed; I&#39;m going with my mum to the hospital for her chemo very early tomorrow. Actually… today, damn it!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: anime" href="http://technorati.com/tag/anime">anime</a>,
<a title="Technorati tag: rec" href="http://technorati.com/tag/rec">rec</a>,
<a title="Technorati tag: rec manga" href="http://technorati.com/tag/rec-manga">rec manga</a>,
<a title="Technorati tag: rec anime" href="http://technorati.com/tag/rec-anime">rec anime</a>,
<a title="Technorati tag: hanamizawa q-tarou" href="http://technorati.com/tag/hanamizawa-q-tarou">hanamizawa q-tarou</a>,
<a title="Technorati tag: shaft" href="http://technorati.com/tag/shaft">shaft</a>,
<a title="Technorati tag: ryotaro nakamura" href="http://technorati.com/tag/ryotaro-nakamura">ryotaro nakamura</a></p>
 
