---
title: 'Registering for Slashdot' 
date: "2006-08-30T11:50:09+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- simpletagged 
---
<p><a href="http://slashdot.org"><img src="https://rubenerd.com/files/uploads/media.slashdot.PNG" alt="Slashdot" /></a></p>
<p>I&#39;ve been a reader of <a href="http://slashdot.org">Slashdot</a> on and off since the end of 1998, but I never registered for an account. The discussions seemed lively and interesting enough without my opinion.</p>
<p>I&#39;ve since registered though. Any truth to that &quot;long time reader, first time poster&quot; logic? Only took 8 years ;).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: slashdot" href="http://technorati.com/tag/slashdot">slashdot</a>,
<a title="Technorati tag: registration" href="http://technorati.com/tag/registration">registration</a></p>
 
