---
title: 'The diesels are coming!' 
date: "2006-10-17T05:14:05+10:00"
year: "2006"
category: Thoughts 
tag: 
- environment
- simpletagged
- transport 
---
<p><img id="image407" src="https://rubenerd.com/files/uploads/logo.jpg" alt="Dvorak Uncensored" /></p>
<blockquote><p>If your only experience with a diesel-powered automobile is founded on a poorly maintained yuppie Volvo or Mercedes from a couple decades ago — or, even worse, absolutely anything powered by the POS diesel V8 shoved out the door by GM, long ago and unforgotten — you have a pleasant surprise coming.</p>
<p>When they get to your neighborhood, try one of the new generation. The diesel fuel should have arrived this weekend.</p></blockquote>
<p>Diesel is still an oil derived fossil fuel that generates dangerous greenhouse gas emissions, and no matter how “clean” they can make it the particles spewed out from diesel engines are dangerous and carcinogenic.</p>
<p>I don’t see the point in exploring something that’s just a heavier version of petrol. (sorry, as an Aussie I can’t bring myself to call it “gas”). I know with all the government red tape and bureaucracy around the world this wouldn’t be possible, but imagine if instead of investing all this money into research into another dirty fuel we spent the money on… oh, I don’t know… public transport?</p>
<p>I’m an expat in Singapore and I never think twice about not using the buses or trains here because they’re just so darned reliable and take you anywhere. When I’m in Kuala Lumpur I need to get into my greenhouse gas machine.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: diesel" href="http://technorati.com/tag/diesel">diesel</a>,
<a title="Technorati tag: diesels" href="http://technorati.com/tag/diesels">diesels</a>,
<a title="Technorati tag: petrol" href="http://technorati.com/tag/petrol">petrol</a>,
<a title="Technorati tag: gas" href="http://technorati.com/tag/gas">gas</a>,
<a title="Technorati tag: fossil fuels" href="http://technorati.com/tag/fossil-fuels">fossil fuels</a>,
<a title="Technorati tag: greenhouse gases" href="http://technorati.com/tag/greenhouse-gases">greenhouse gases</a>,
<a title="Technorati tag: public transport" href="http://technorati.com/tag/public-transport">public transport</a>,
<a title="Technorati tag: mrt" href="http://technorati.com/tag/mrt">mrt</a>,
<a title="Technorati tag: smrt" href="http://technorati.com/tag/smrt">smrt</a>,
<a title="Technorati tag: SBS Transit" href="http://technorati.com/tag/SBS-Transit">SBS Transit</a></p>
 
