---
title: 'Retro Ericsson Melody Maker' 
date: "2006-09-12T12:03:17+10:00"
year: "2006"
category: Software 
tag:
- apple
- infocomm
- simpletagged 
---
<p><a href="http://www.pollet.net/EMM/"><img src="https://rubenerd.com/files/uploads/media.emm.gif" alt="" /></a></p>
<p>Do you have a retro Ericsson phone from the late 1990&#39;s and have always wanted to create your very own custom monotonic ringtone for it? Well if you use Mac OS <a href="http://www.pollet.net/EMM/">your prayers have been answered</a> (since 1998)!</p>
<blockquote><p>This little utility allows you to write melodies for your Ericsson GSM phone. It works on every Macintosh from system 6.0 to MacOS X, includes hundreds of sample melodies to get you started, and costs only $5 !</p>
<p>If you order it now from Kagi Secure Pages, and you will receive it in your emailbox as soon as I receive confirmation!</p></blockquote>
<p>And who says this blog is useless? Don&#39;t answer that.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: ericsson melody maker" href="http://technorati.com/tag/ericsson-melody-maker">ericsson melody maker</a>,
<a title="Technorati tag: retro ericsson phone" href="http://technorati.com/tag/retro-ericsson-phone">retro ericsson phone</a>,
<a title="Technorati tag: mobile phone" href="http://technorati.com/tag/mobile-phone">mobile phone</a>,
<a title="Technorati tag: cell phone" href="http://technorati.com/tag/cell-phone">cell phone</a>,
<a title="Technorati tag: ericsson" href="http://technorati.com/tag/ericsson">ericsson</a></p>
 
