---
title: 'Ridata 8GB CompactFlash Card' 
date: "2006-09-02T05:11:02+10:00"
year: "2006"
category: Hardware 
tag:
- infocomm
- simpletagged 
---
<p><a href="http://www.photokina-show.com/0256/ritek/storage/ridatacompactflash/"><img src="https://rubenerd.com/files/uploads/media.ridata8gb.jpg" alt="Ridata 8GB CompactFlash Card" /></a></p>
<p>8GB on one single CompactFlash card? And to think my first CF card only had a measly 64MB of capacity… ain&#39;t science great!</p>
<p>One thing I&#39;m interested in especially with this card is not only has the capacity been increased, but the read and write speeds have also been drastically improved, a critical and much needed update especially for those who have very high mexapixel cameras! <em>Every write second counts</em>, especially when you&#39;re trying to capture the perfect shot. From <a href="http://www.photokina-show.com/0256/ritek/storage/ridatacompactflash/">PhotoKina</a>:</p>
<blockquote><p>Advanced Media, Inc., manufacturer and marketer of the popular Ridata brand of recordable CD and DVD media, flash memory cards and USB flash drives, has introduced its latest offering to its growing Ridata brand lineup for photographers.</p>
<p>Its new 150X Compact Flash card for SLR digital cameras and other electronic applications features exceptionally fast read and write, solid-state dependability, and up to 8GB capacity. The Type I Ridata 150X Compact Flash memory card is available in the following capacity sizes: 256MB, 512MB, 1GB, 2GB, 4GB, and 8GB.</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: photokina" href="http://technorati.com/tag/photokina">photokina</a>,
<a title="Technorati tag: photokina show" href="http://technorati.com/tag/photokina-show">photokina show</a>,
<a title="Technorati tag: ridata" href="http://technorati.com/tag/ridata">ridata</a>,
<a title="Technorati tag: compactflash" href="http://technorati.com/tag/compactflash">compactflash</a>,
<a title="Technorati tag: cf" href="http://technorati.com/tag/cf">cf</a>,
<a title="Technorati tag: compactflash card" href="http://technorati.com/tag/compactflash-card">compactflash card</a>,
<a title="Technorati tag: photography" href="http://technorati.com/tag/photography">photography</a>,
<a title="Technorati tag: cameras" href="http://technorati.com/tag/cameras">cameras</a>,
<a title="Technorati tag: digital cameras" href="http://technorati.com/tag/digital-cameras">digital cameras</a>,
<a title="Technorati tag: ilse jurrien" href="http://technorati.com/tag/ilse-jurrien">ilse jurrien</a></p>
 
