---
title: 'RSS vs. RSS &#8211; A Tale of Two Icons' 
date: "2006-08-02T10:18:23+10:00"
year: "2006"
category: Software 
tag:
- formats
- infocomm
- new-time-radio
- podcasting
- scripting
- xml 
---
<p><a href="http://www.somerandomdude.net/blog/design/rss-vs-rss"><img src="https://rubenerd.com/files/uploads/media.rss_vs_rss.gif" alt="A tale of two RSS icons" style="background:#ffffff; padding:10px;" /></a></p>
<p>A blog entry posted on <a href="http://www.somerandomdude.net/blog/design/rss-vs-rss">SomeRandomDude.net</a> has got some pretty lively discussion about which icon is better suited for mainstream use to represent XML feeds on websites and in browsers.</p>
<p>Which do I prefer? Dave Winer&#39;s original XML one! <img src="https://rubenerd.com/files/uploads/blog.xml.png" alt="XML" />. Why?</p>
<ol>
<li>It was the first one<p></p></li>
<li>Its still [currently] the most widely used one on websites<p></p></li>
<li>It can be represented with just CSS: <span style="background: #F60; color: #FFF; border-top: 1px solid #FFC8A4; border-left: 1px solid #FFC8A4; border-right: 1px solid #7D3302; border-bottom: 1px solid #7D3302; padding: 0 8px;">XML</span><p></p></li>
<li>Because it doesn’t say <em>rss</em> or <em>atom</em> it can be used to represent any type of XML feed. Aggregators these days are sophisticated enough to tell the difference; we as humans shouldn’t be fussing over what it is at this point… I would hope.<p></p></li>
<li>I think the Mozilla (and now IE7) version with the lines is misleading because it implies a wireless signal, or it could be music, or it could be energy… in any event regardless XML feeds are client pull anyway, they don’t broadcast anything!</li>
</ol>
<p>Eventually though I don&#39;t care which one wins. We&#39;re talking about tiny pixels on a screen, this is not an Earth changing event!</p>
 
