---
title: 'Ruben’s Saturday Night Beer Review: Carlton' 
date: "2006-03-05T03:53:59+10:00"
year: "2006"
category: Thoughts 
tag: 
- beer
- drinks
- reviews
---
<p><strong>Some people drink beer like water with little regard for its taste, for the sake of getting smashed only to wake up on Sunday with no idea what they did. Ruben doesn’t do this. So in this space Ruben celebrates Saturday night in his own style.</strong></p>
<p>Today’s brew: Carlton Draught.</p>
<blockquote>
<p>Carlton Draught, Brewery Fresh<br />
Australian Draught Beer At Its Best<br />
Brewery fresh for a smooth, full-bodied draught beer taste<br />
Since 1864</p>
</blockquote>
<p>First impressions: looking at the bottle it seems like a fairly ordinary brown tinted glass recepticle (look at me with my fancy language!) with a fairly ordinary dark red label. One bottle contains 1.4 standard drinks despite its smaller size.</p>
<p>As for the taste, the flavour is fairly strong but the taste is super ordinary. It tastes mass produced, I&#39;m looking for any slight extra flavour that would set this apart from other draughts but all I taste is beer.</p>
<p>The carbonation too seems just slightly overdone, it feels like I&#39;m drinking a weak soft drink mixed with beer, not in taste, but in the amount of fizz. I&#39;m not sure if refrigeration times etc have affected it, or if it&#39;s been shook up but it seems just a tad overdone.</p>
<p>All that said, the flavour isn&#39;t super terrible; all I would say is if you&#39;re going for a bottle of it for the first time, don&#39;t expect anything outstanding, just a generic beer with nothing overly interesting.</p>
<p>Final verdict? 2 1/2 stars.</p>
 
