---
title: 'Rubenerd Show is Back' 
date: "2006-10-07T10:32:18+10:00"
year: "2006"
category: Media 
tag:
- new-time-radio
- podcasting
- simpletagged 
---
<p><a href="//rubenerd.com/category/show/"><img src="https://rubenerd.com/files/uploads/logo.show144.png" alt="Rubenerd Show" /></a></p>
<p>After several delays, the <a href="//rubenerd.com/category/show/">Rubenerd Show</a> is back on the internet airwaves, now from Kuala Lumpur in Malaysia. I want in particular to thank <a href="http://crapandstuff.com/">Israel</a>, my school buddy <a href="http://ftanjono.blogs.friendster.com/my_blog/">Felix</a> and <a href="http://blog.davesphotogallery.net/blog/">Dave</a> for their support.</p>
<p>Damn those evil exploding air conditioners ;).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: rubenerd show" href="http://technorati.com/tag/rubenerd-show">rubenerd show</a>,
<a title="Technorati tag: rubenerd" href="http://technorati.com/tag/rubenerd">rubenerd</a>,
<a title="Technorati tag: new time radio" href="http://technorati.com/tag/new-time-radio">new time radio</a>,
<a title="Technorati tag: new-time radio" href="http://technorati.com/tag/new-time-radio">new-time radio</a></p>
 
