---
title: 'Rubenerd Show Cassette' 
date: "2006-09-02T03:06:09+10:00"
year: "2006"
category: Thoughts 
tag: 
- funny
- nonsense
- simpletagged 
---
<p>Ever wanted to see your name <a href="http://www.says-it.com/cassette/index.php">professionally printed on a cassette</a></p>
<p>Here&#39;s the official Rubenerd Show Cassette, now in white!</p>
<p><a href="//rubenerd.com/show/"><img src="https://rubenerd.com/files/uploads/media.cassette-1.jpg" alt="" /></a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: make it" href="http://technorati.com/tag/make-it">make it</a>,
<a title="Technorati tag: cassette" href="http://technorati.com/tag/cassette">cassette</a>,
<a title="Technorati tag: cassette tape" href="http://technorati.com/tag/cassette-tape">cassette tape</a>,
<a title="Technorati tag: tape" href="http://technorati.com/tag/tape">tape</a>,
<a title="Technorati tag: rubenerd show" href="http://technorati.com/tag/rubenerd-show">rubenerd show</a>,
<a title="Technorati tag: retro" href="http://technorati.com/tag/retro">retro</a>,
<a title="Technorati tag: classic" href="http://technorati.com/tag/classic">classic</a></p>
 
