---
title: 'Secret Youth Tobacco Ads on YouTube?' 
date: "2006-11-18T09:13:10+10:00"
year: "2006"
category: Internet
tag: 
- australia
- health
- infocomm
- news
- simpletagged 
---
<p><a href="http://www.smh.com.au/news/technology/whiff-of-tobacco-firms-on-net/2006/11/17/1163266787563.html"><img style="float:right; margin:0 0 10px 20px" id="image515" src="https://rubenerd.com/files/uploads/smokingyoutube.jpg" alt="YouTube Cigarette Videos" /></a></p>
<p><a href="http://www.smh.com.au/news/technology/whiff-of-tobacco-firms-on-net/2006/11/17/1163266787563.html">The Sydney Morning Herald</a> website is reporting that <a href="http://youtube.com/">YouTube</a> has been flooded with videos depicting young people smoking. While there appears to be no direct evidence that these videos have been posted by tobacco companies, the speculation is there.</p>
<blockquote><p>IS THIS the last frontier in tobacco marketing or simply a global stage for the look-at-me generation?<br />
Thousands of videos of sexy, smoking teens are appearing on the internet phenomenon YouTube, possibly being posted by tobacco manufacturers to recruit the next generation of smokers.</p>
</blockquote>
<p>Quite frankly I don&#39;t have a problem with cigarette advertising. The way I see it, with all the information and evidence available thesedays about how dangerous smoking is, if you&#39;re stupid enough to start the habit you deserve all the medical consequences. I like to think of it as natural selection at work ;). The only thing I resent is when our tax dollars have to pay for these people&#39;s self inflicted damage in hospitals.</p>
<p>Hey I just got the pun too: YouTube… cigarettes… cigarettes are tubes! <a href="http://en.wikipedia.org/wiki/The_internet_is_a_series_of_tubes">Just like the internet</a> ;).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: tobacco" href="http://technorati.com/tag/tobacco">tobacco</a>,
<a title="Technorati tag: tobacco advertising" href="http://technorati.com/tag/tobacco-advertising">tobacco advertising</a>,
<a title="Technorati tag: cigarettes" href="http://technorati.com/tag/cigarettes">cigarettes</a>,
<a title="Technorati tag: cigarette advertising" href="http://technorati.com/tag/cigarette-advertising">cigarette advertising</a>,
<a title="Technorati tag: smoking" href="http://technorati.com/tag/smoking">smoking</a>,
<a title="Technorati tag: health" href="http://technorati.com/tag/health">health</a></p>
 
