---
title: 'Segway Cops!' 
date: "2006-11-15T11:04:51+10:00"
year: "2006"
category: Thoughts 
tag: 
- funny
- law
- nonsense
- police
- segway
- simpletagged
- transport 
---
<p><img style="width:280px; float:right; margin:0 0 10px 20px" id="image504" src="https://rubenerd.com/files/uploads/segwaycops.jpg" alt="Italian Segway Cops!" /></p>
<p>Don&#39;t you think that would be a great show idea? Segway Cops! Chasing the bad guys down the streat, guns blazing, swear words being thrown everywhere and the cops on Segways! Where&#39;s my television contract? Anyone want to licence it from me?</p>
<p>Actually just for fun I typed Segway into Google Image search and discovered that the <a href="http://www.poliziadistato.it/">Italian Police Force</a> actually use Segways!</p>
<blockquote><p>20-01-2006 &#8211; Segway: un veicolo elettrico per la sicurezza delle stazioni</p>
</blockquote>
<p>I&#39;m sure having people on Segways is much better than having them on smoke spewing petrol motorbikes too. You can read more on the official <a href="http://www.poliziadistato.it/pds/news/index.php?aa=2006&#038;mm=01&#038;id=841">Italian Police Force website</a>.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: segway" href="http://technorati.com/tag/segway">segway</a>,
<a title="Technorati tag: italy" href="http://technorati.com/tag/italy">italy</a>,
<a title="Technorati tag: italia" href="http://technorati.com/tag/italia">italia</a>,
<a title="Technorati tag: polizia distato" href="http://technorati.com/tag/polizia-distato">polizia distato</a>,
<a title="Technorati tag: italian police" href="http://technorati.com/tag/italian-police">italian police</a>,
<a title="Technorati tag: cops" href="http://technorati.com/tag/cops">cops</a>,
<a title="Technorati tag: police" href="http://technorati.com/tag/police">police</a>,
<a title="Technorati tag: funny" href="http://technorati.com/tag/funny">funny</a></p>
 
