---
title: 'September 11th' 
date: "2006-09-11T05:34:18+10:00"
year: "2006"
category: Thoughts 
tag: 
- australia
- news
- simpletagged 
---
<p><a href="http://en.wikipedia.org/wiki/Ben_Lee"><img src="https://rubenerd.com/files/uploads/media.220px-13222871_21e47c06fa_b.jpg" alt="Ben Lee" /></a></p>
<p>With all the gloom and doom thoughts surrounding this ominous day in history, I thought I&#39;d take the opportunity to shine a brighter light on today&#39;s proceedings:</p>
<p>Happy Birthday <a href="http://en.wikipedia.org/wiki/Ben_Lee">Ben Lee</a> :).</p>
<blockquote><p>Ben Lee (born September 11, 1978 in Sydney, Australia) is an Australian musician and actor. Lee began his career as a musician at the age of 14 with the Sydney band Noise Addict, but focused on his solo career when the band broke up. He appeared as the protagonist in the the Australian film The Rage In Placid Lake (2003).</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: 11th september" href="http://technorati.com/tag/11th-september">11th september</a>,
<a title="Technorati tag: music" href="http://technorati.com/tag/music">music</a>,
<a title="Technorati tag: ben lee" href="http://technorati.com/tag/ben-lee">ben lee</a></p>
 
