---
title: 'Should Australia Invade New Zealand?' 
date: "2006-08-03T12:41:31+10:00"
year: "2006"
category: Travel
tag: 
- funny
- nonsense
---
<p><a href="http://www.4bitterguys.com/rants/nz/"><img src="https://rubenerd.com/files/uploads/media.TeKaha.jpg" alt="" /></a></p>
<p>According to <a href="http://www.4bitterguys.com/rants/nz/">4 Bitter Guys</a>:</p>
<blockquote><h3>Step 1: Control their ports</h3>
<p>Everyone knows New Zealand have a shit navy. I mean, we can find out just how shit from their WEBSITE. How daft is that? I quote: &#8220;The current fleet comprises two Anzac class frigates, HMNZS TE KAHA and TE MANA, an older Leander-class frigate HMNZS CANTERBURY, a fleet replenishment ship (fuel tanker) HMNZS ENDEAVOUR and various auxiliary ships for hydrographic survey, mine counter measures, diving support and coastal patrol.&#8221; Phht, s’if two &#8220;Anzac class frigates&#8221; can do shit. Two saboteurs, and they’re out of here. Once we have the ports under control, we can finally ship all the sweet-arse jap imports they’ve been hoarding over to Australia. Huzzah! Cheap jap imports for all the rice boys of Australia.</p>
<h3>Step 2: Gain air superiority</h3>
<p>New Zealand had the sense to sell half their air force to the US, cause, seriously, the US need more military hardware. Read here about how New Zealand likes to sell their planes rather than use them. Our F18s have just proved themselves in Iraq, it’d be a pushover to nail them with our air force. I’d love to see Helen Clark backpedalling over the sale of their military hardware after that.</p>
<p>Ok, it’s at this point we obviously have them stuffed. All that’s left to defend against us are a few sheep and some scattered New Zealanders who didn’t make it over to Australia already. We’ve won boys. Now to crush their moral and own their spirit too:</p>
<h3>Step 3: Show them the usefulness in a male prime minister.</h3>
<p>Ok, I could be digging myself into a ditch here, but in all honesty, how shit have Jenny Shipley and Helen Clark been? Not only have they stuffed up New Zealand’s policy, they’ve made New Zealand the laughing stock of the world. By liberating New Zealanders from a female PM they’d start toppling statues and worshipping Johnny Howard (which isn’t necessarily good, but we’d have &#8216;em under control).</p>
<h3>Then Australia can rule the world!!!!!</h3>
<p><img src="https://rubenerd.com/files/uploads/media.flag_ani.gif" alt="" /></p></blockquote>
<p>The views of <a href="http://schades.org">Ruben Schade</a>, the <a href="//rubenerd.com/">Rubenerd Blog</a>, the <a href="//rubenerd.com/show/">Rubenerd Show</a> and <a href="//rubenerd.com/aboutsolutions/">Ruben Solutions</a> are not expressed in this website. Mostly.</p>
<p><a style="font-weight:bold" href="http://www.4bitterguys.com/rants/nz/">4 Bitter Guys: How To Invade New Zealand and Why</a></p>
 
