---
title: 'Singapore Lifestyle Wiki' 
date: "2006-09-07T03:06:24+10:00"
year: "2006"
category: Travel
tag: 
- infocomm
- simpletagged
- singapore
---
<p><img src="https://rubenerd.com/files/media/Singapore_Skyline_thumb.jpg" alt="Singapore's skyline" /></p>
<p>If you&#39;re going to Singapore any time soon, check out the <a href="http://www.lifestylewiki.com/Singapore/Main_Page">Singapore Lifestyle Wiki</a>. I only found this site this morning, but I&#39;m really impressed: it&#39;s got public transport information, where the best bars are, things to do with kids, hotels, restaurants, and it&#39;s all peer reviewed and created and free, just like the <a href="http://en.wikipedia.org/wiki/">Wikipedia</a> project.</p>
<p>I think I&#39;ll register and contribute some stuff. Wonder if they have anything on Sim Lim Square? ;).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: singapore" href="http://technorati.com/tag/singapore">singapore</a>,
<a title="Technorati tag: singapore travel" href="http://technorati.com/tag/singapore-travel">singapore travel</a>,
<a title="Technorati tag: travel" href="http://technorati.com/tag/travel">travel</a>,
<a title="Technorati tag: hotels" href="http://technorati.com/tag/hotels">hotels</a>,
<a title="Technorati tag: accommodation" href="http://technorati.com/tag/accommodation">accommodation</a>,
<a title="Technorati tag: bars" href="http://technorati.com/tag/bars">bars</a>,
<a title="Technorati tag: lifestyle" href="http://technorati.com/tag/lifestyle">lifestyle</a>,
<a title="Technorati tag: wiki" href="http://technorati.com/tag/wiki">wiki</a></p>
 
