---
title: 'SIOCSIFMEDIA: Invalid Argument' 
date: "2006-11-23T05:24:29+10:00"
year: "2006"
category: Software 
tag:
- bsd
- infocomm
- simpletagged
- tmnet
- unix 
---
<p>Does the error <code>SIOCSIFMEDIA: Invalid Argument</code> look familiar when installing NetBSD 3.1? I got this error when I reached the FTP stage of the installation shown on &quot;Figure 3.24&quot; in the <a href="http://netbsd.org/guide/en/chap-exinst.html#chap-exinst-install-via-ftp">NetBSD Manual</a>:</p>
<p><a href="http://netbsd.org/guide/en/chap-exinst.html#chap-exinst-install-via-ftp"><img id="image533" src="https://rubenerd.com/files/uploads/inst-ftp-media.png" alt="NetBSD Install FTP" /></a></p>
<p>If you just hit <code>return</code> it will give you an error. The trick is to type <code>manual</code> instead of accepting the default value which causes the error.</p>
<p>A couple of the folks on <a href="http://www.nabble.com/NetBSD-3.1-sysinst-ifconfig-error-on-SE-30-t2617323.html">Nabble</a> go into more detail if you continue to have errors. Now if only I didn&#39;t have a crappy DSL connection so as to prevent the dreaded <code>- stalled -</code> message while downloading from the mirror ;).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: netbsd" href="http://technorati.com/tag/netbsd">netbsd</a>,
<a title="Technorati tag: netbsd 3.1" href="http://technorati.com/tag/netbsd-3.1">netbsd 3.1</a>,
<a title="Technorati tag: siocsifmedia" href="http://technorati.com/tag/siocsifmedia">siocsifmedia</a></p>
 
