---
title: 'Slashdot Quote' 
date: "2006-09-30T03:25:15+10:00"
year: "2006"
category: Internet
tag: 
- funny
- infocomm
- simpletagged 
---
<p><a href="http://slashdot.org/"><img id="image393" src="https://rubenerd.com/files/uploads/slashdot-logo.png" alt="Slashdot" /></a></p>
<blockquote><p>Your mode of life will be changed to ASCII.</p></blockquote>
<p>Damn, I thought I would have progressed to <a href="http://unicode.org">Unicode</a> by now :D.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: slashdot" href="http://technorati.com/tag/slashdot">slashdot</a>,
<a title="Technorati tag: slashdot quotes" href="http://technorati.com/tag/slashdot-quotes">slashdot quotes</a>,
<a title="Technorati tag: ascii" href="http://technorati.com/tag/ascii">ascii</a>,
<a title="Technorati tag: unicode" href="http://technorati.com/tag/unicode">unicode</a></p>
 
