---
title: 'Sol Mania for Blackberry' 
date: "2006-09-07T02:28:13+10:00"
year: "2006"
category: Software 
tag:
- blackberry
- gaming
- infocomm
- shopping
- simpletagged 
---
<p><a href="http://blackberry.islandlabs.com/sol-mania-blackberry.htm"><img src="https://rubenerd.com/files/uploads/media.sol_mania_bb.gif" alt="Sol Mania for Blackberry" /></a></p>
<p>I love my Blackberry, its the best phone I have ever owned. Still I&#39;ve always been a bit disenchanted with the built in BrickBreaker game for it: I&#39;ve always been a strategy and card game kinda guy.</p>
<p>My thoughts have been answered :D</p>
<blockquote><p><strong>Sol Mania for Blackberry</strong><br />
<em>$9.00</em></p>
<p>Play 16 of the most popular and challenging solitaire card games &#8211; FreeCell, Klondike, Spider, Pyramid, Golf, Pyramid Golf, Scorpion, Yukon, Spiderette, Canfield, Australian Patience, Will o the Wisp, Aces Up, Calculation, Towers and Minerva.</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: sol mania" href="http://technorati.com/tag/sol-mania">sol mania</a>,
<a title="Technorati tag: solitaire" href="http://technorati.com/tag/solitaire">solitaire</a>,
<a title="Technorati tag: klondike" href="http://technorati.com/tag/klondike">klondike</a>,
<a title="Technorati tag: patience" href="http://technorati.com/tag/patience">patience</a>,
<a title="Technorati tag: blackberry" href="http://technorati.com/tag/blackberry">blackberry</a>,
<a title="Technorati tag: handheld games" href="http://technorati.com/tag/handheld-games">handheld games</a>,
<a title="Technorati tag: blackberry games" href="http://technorati.com/tag/blackberry-games">blackberry games</a>,
<a title="Technorati tag: games" href="http://technorati.com/tag/games">games</a></p>
 
