---
title: 'Starbucks Circle Charm' 
date: "2006-10-08T11:30:27+10:00"
year: "2006"
category: Thoughts 
tag: 
- coffee
- shopping
- simpletagged 
---
<p><img id="image397" src="https://rubenerd.com/files/uploads/starbucks-jewelry.jpg" alt="starbucks-jewelry.jpg" /></p>
<p>I typed Starbucks into eBay and <a href="http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&#038;ih=017&#038;item=270035370740&#038;rd=1&#038;sspagename=STRK%3AMEWA%3AIT&#038;rd=1">this is what I got</a>.</p>
<blockquote><p>The PERFECT addition to any Starbucks coffee lover’s charm bracelet!  This sweet circle charm has been lovingly hand crafted using a piece of Starbucks broken china, which has been encased in a silver alloy bezel.  The charm measures approximately 3/4&#8243; round, and would make a unique gift for anyone &#8211; including you!</p></blockquote>
<p>Wah lah!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: starbucks" href="http://technorati.com/tag/starbucks">starbucks</a>,
<a title="Technorati tag: ebay" href="http://technorati.com/tag/ebay">ebay</a>,
<a title="Technorati tag: jewellery" href="http://technorati.com/tag/jewellery">jewellery</a></p>
 
