---
title: 'Steve Irwin Is Dead' 
date: "2006-09-04T08:10:39+10:00"
year: "2006"
category: Thoughts 
tag: 
- news
- simpletagged 
---
<p><a href="https://flickr.com/photos/rubenerd/233594996/"><img src="https://static.flickr.com/63/233594996_c39ca764a2_m.jpg" alt="" /></a><br />
<em>Channel 7 News Adelaide Australia: Click thumbnail for full sized image</em></p>
<p><a href="https://flickr.com/photos/rubenerd/233595348/"><img src="https://static.flickr.com/93/233595348_11c22032ae_m.jpg" alt="" /></a><br />
<em>Channel 7 News Adelaide Australia: Click thumbnail for full sized image</em></p>
<p>What happened Steve, you were supposed to be indestructible :(.</p>
<p>Steve Irwin, the much beloved Crocodile Hunter and the main bloke behind animal conservation in Australia died today when he was stung fatally in the heart by a stingray. He was a real character and a real part of Australian culture. You will be missed Steve.</p>
<blockquote><p>Deputy Prime Minister Mark Vaile says Australians will be saddened and shocked by Crocodile Hunter Steve Irwin’s death in a marine accident.</p>
<p>The 44-year-old was killed by a stingray barb which pierced his chest while he was shooting a documentary on the Great Barrier Reef.</p>
<p>Mr Vaile, who presented Mr Irwin with an Australian export award in 2004 for his Australia Zoo, said the Queenslander had made an amazing contribution to conservation and business.</p>
<p>&#8220;I was a tremendous fan of Steve Irwin because of his larger-than-life personality and his ability to highlight wildlife conservation in a way that people from all walks of life could identify with,&#8221; the Nationals leader said in a statement.</p>
<p>&#8220;Steve Irwin’s operations included his zoo, television series, The Steve Irwin Conservation Foundation, and International Crocodile Rescue.</p>
<p>&#8220;Steve was an amazing Australian and my thoughts, and those of all the Nationals, are with Steve Irwin’s wife Terri and his two children, Bindi Sue and Robert.&#8221;</p>
<p>Foreign Minister Alexander Downer, who used a photograph of his family at Australia Zoo for his official Christmas card last year, hailed Mr Irwin for his work in promoting Australia.</p>
<p>Mr Irwin was heavily involved in this year’s &#8220;G’Day LA&#8221; campaign.</p>
<p>&#8220;The minister knew him, was fond of him and was very, very appreciative of all the work he’d done to promote Australia overseas,&#8221; a spokesman said.</p>
<p>Tourism Minister Fran Bailey said Mr Irwin was a great Australian icon who contributed enormously to the nation.</p>
<p>&#8220;He was a larger-than-life character who was loved by millions of people worldwide,&#8221; Mrs Bailey said in a statement.</p>
<p>&#8220;Americans adored him. Thousands visited Australia Zoo.</p>
<p>&#8220;At G’Day LA, Steve was the best ambassador for tourism we could ever have. His boundless enthusiasm won everyone over.&#8221;</p>
<p>Mrs Bailey said she had been honoured to present Mr Irwin with his award for services to the tourism industry at the Australian Tourism Awards last February.</p>
<p>Opposition tourism spokesman Martin Ferguson said the whole tourism industry was in shock at the loss.</p>
<p>&#8220;Steve Irwin was a true Aussie icon and a fantastic ambassador for Australia,&#8221; Mr Ferguson said in a statement.</p>
<p>&#8220;His catchcry &#8216;Crikey!’ came to embody his enthusiasm for wildlife and desire to educate, particularly young people about Australia’s incredible biodiversity.&#8221;</p>
<p>He passed on Labor’s sincere condolences to the Irwin family.</p></blockquote>
<p><a style="font-size:14px" href="http://www.smh.com.au/news/National/Politicians-pay-tribute-to-Steve-Irwin/2006/09/04/1157222059581.html">SMH: Politicians pay tribute to Steve Irwin</a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: steve irwin" href="http://technorati.com/tag/steve-irwin">steve irwin</a>,
<a title="Technorati tag: steve" href="http://technorati.com/tag/steve">steve</a>,
<a title="Technorati tag: irwin" href="http://technorati.com/tag/irwin">irwin</a>,
<a title="Technorati tag: aussie" href="http://technorati.com/tag/aussie">aussie</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: australia zoo" href="http://technorati.com/tag/australia-zoo">australia zoo</a>,
<a title="Technorati tag: killed" href="http://technorati.com/tag/killed">killed</a>,
<a title="Technorati tag: dead" href="http://technorati.com/tag/dead">dead</a>,
<a title="Technorati tag: stingray" href="http://technorati.com/tag/stingray">stingray</a>,
<a title="Technorati tag: sting-ray" href="http://technorati.com/tag/sting-ray">sting-ray</a>,
<a title="Technorati tag: sting ray" href="http://technorati.com/tag/sting-ray">sting ray</a></p>
 
