---
title: 'Stop Bush This November 7th!' 
date: "2006-11-07T03:25:45+10:00"
year: "2006"
category: Thoughts 
tag: 
- news
- politics
- simpletagged 
---
<p><img id="image471" src="https://rubenerd.com/files/uploads/inhistracks.jpg" alt="Stop Bush!" /></p>
<p>A message to my American friends: make sure to vote today your time! Stop this redneck Bush madness! You don&#39;t have to vote Democrat, just don&#39;t vote Republican!</p>
<p><em>A message from the always unbiased Rubenerd Anti-George-Bush-in-US Anti-John-Howard-in-Australia commision. ;)</em></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: 7th november" href="http://technorati.com/tag/7th-november">7th november</a>,
<a title="Technorati tag: november 7th" href="http://technorati.com/tag/november-7th">november 7th</a>,
<a title="Technorati tag: november 7" href="http://technorati.com/tag/november-7">november 7</a>,
<a title="Technorati tag: democrats" href="http://technorati.com/tag/democrats">democrats</a>,
<a title="Technorati tag: republicans" href="http://technorati.com/tag/republicans">republicans</a>,
<a title="Technorati tag: george bush" href="http://technorati.com/tag/george-bush">george bush</a>,
<a title="Technorati tag: rednecks" href="http://technorati.com/tag/rednecks">rednecks</a>,
<a title="Technorati tag: george w. bush" href="http://technorati.com/tag/george-w.-bush">george w. bush</a>,
<a title="Technorati tag: dubbya" href="http://technorati.com/tag/dubbya">dubbya</a>,
<a title="Technorati tag: united states" href="http://technorati.com/tag/united-states">united states</a>,
<a title="Technorati tag: usa" href="http://technorati.com/tag/usa">usa</a>,
<a title="Technorati tag: politics" href="http://technorati.com/tag/politics">politics</a></p>
 
