---
title: 'Sun Download Manager' 
date: "2006-09-22T04:59:11+10:00"
year: "2006"
category: Software 
tag:
- apple
- infocomm
- simpletagged
- solaris
- sun-microsystems 
---
<p><img src="https://rubenerd.com/files/uploads/media.Sun_Download_Manager.jpg" alt="Sun Download Manager" /></p>
<p>I was trying to download the latest monthy version of <a href="http://www.sun.com/software/solaris/">Solaris Express</a> from the Sun website, but it kept disconnecting. According to the site, if you have download troubles you can grab yourself a free copy of the Sun Download Manager.</p>
<blockquote><p>Sun Download Manager is a small Java application that makes downloading large software packages from the Sun Download Center fast, easy, and more reliable than ever before.</p>
<p>Features include:</p>
<ul style="font-size:10px; padding:0 0 0 10px;">
<li>Built-in file verification system works with Sun Download Center (SDLC).</li>
<li>Supports resumable downloading.</li>
<li>Cross-platform, cross-browser support.</li>
<li>Free of charge.</li>
</ul>
</blockquote>
<p>I was very impressed with this programme on Mac OS X. It&#39;s less than 165 kilobytes in size, and a great way to organise not only Sun downloads but other stuff too. Definelty worth a sticky beak if you&#39;re interested in a very lightweight download manager for Solaris (really!), Mac OS X, Windows and Linux.</p>
<p><a style="font-size:14px" href="http://www.sun.com/download/sdm/">Sun Download Centre: Sun Download Manager</a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag:
- software sun download manager" href="http://technorati.com/tag/sun-download-manager">sun download manager</a>,
<a title="Technorati tag:
- software sdm" href="http://technorati.com/tag/sdm">sdm</a>,
<a title="Technorati tag:
- software mac os x" href="http://technorati.com/tag/mac-os-x">mac os x</a>,
<a title="Technorati tag:
- software windows" href="http://technorati.com/tag/windows">windows</a>,
<a title="Technorati tag:
- software solaris" href="http://technorati.com/tag/solaris">solaris</a>,
<a title="Technorati tag:
- software linux" href="http://technorati.com/tag/linux">linux</a>,
<a title="Technorati tag:
- software download manager" href="http://technorati.com/tag/download-manager">download manager</a>,
<a title="Technorati tag:
- software downloads" href="http://technorati.com/tag/downloads">downloads</a>,
<a title="Technorati tag:
- software java" href="http://technorati.com/tag/java">java</a>,
<a title="Technorati tag:
- software sun download centre" href="http://technorati.com/tag/sun-download-centre">sun download centre</a>,
<a title="Technorati tag:
- software sun download center" href="http://technorati.com/tag/sun-download-center">sun download center</a>,
<a title="Technorati tag:
- software sdn" href="http://technorati.com/tag/sdn">sdn</a>,
<a title="Technorati tag:
- software rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag:
- software ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag:
- software ruben" href="http://technorati.com/tag/ruben">ruben</a>,
<a title="Technorati tag:
- software schade" href="http://technorati.com/tag/schade">schade</a></p>
 
