---
title: 'Sustainable Style, Living and Design'
date: "2006-07-30T04:51:14+10:00"
year: "2006"
category: Hardware
tag: 
- design
- environment
---
<p><a href="http://sustainablestyle.org/"><img src="https://rubenerd.com/files/uploads/media.test.jpg" alt="" /></a></p>
<p>Found this site when I was searching for alterative energy sources (research for the next <a href="//rubenerd.com/show/">Rubenerd Show</a>). According to the site:</p>
<blockquote><p>British engineers are working on a prototype to convert street vibrations into electricity. By Christmas, they predict a working model capable of powering facility lights in the busiest areas of a city.</p></blockquote>
<p>Damn I would never have thought of that.</p>
<blockquote><p><strong>From the site:</strong> &quot;The Sustainable Style Foundation (SSF) is an international, member-supported nonprofit organization created to provide information, resources and innovative programs that promote sustainable living and sustainable design.&quot;</p></blockquote>
<p>They also have a webzine on sustainable living which, as with the rest of the site, is geared towards women. This season&#39;s issue is a tribute to <strong>global warming</strong> and how damned hot it&#39;s getting. Not that I would know currently because I&#39;m in Australia which is going through winter now; if a girl here wore that costume outdoors she&#39;d die of pnumonia. No laughing matter here folks.</p>
<p><img src="https://rubenerd.com/files/uploads/media.008-SASS-Cover-block.jpg" alt="Global warming…?"/></p>
<p><a href="http://sustainablestyle.org/"><strong>Sustainable Style, Living and Design</strong></a></p>
 
