---
title: 'Technorati Tag Plugin' 
date: "2006-08-27T10:46:07+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- simpletagged
- weblog 
---
<p><img style="padding: 5px 10px; background:#FFF" src="https://rubenerd.com/files/uploads/media.technorati.png" alt="" /></p>
<p>Since this blog started back in 2004 I&#39;ve tried to keep the material here as generic as possible on the server side so in the future if I wanted to move to a new platform I&#39;d be able to do so without a gigantic headache forming. Data independence.</p>
<p>Now that this blog has been around on <a href="http://wordpress.org/">WordPress</a> for a while now and I&#39;m very happy with it, I&#39;ve decided to install some plugins to make administration easier, you can understand the logic. One thing I&#39;m going to tinker with: Automatic Technorati Tags. Let&#39;s see how they work!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: technorati" href="http://technorati.com/tag/technorati">technorati</a>,
<a title="Technorati tag: blog" href="http://technorati.com/tag/blog">blog</a>,
<a title="Technorati tag: data independence" href="http://technorati.com/tag/data-independence">data independence</a>,
<a title="Technorati tag: rubenerd" href="http://technorati.com/tag/rubenerd">rubenerd</a></p>
 
