---
title: 'The GIMP and the Sharpen Filter' 
date: "2006-09-03T04:53:23+10:00"
year: "2006"
category: Software 
tag:
- infocomm
- photos
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.filters-enhance-sharpen.png" alt="Filters Sharpen" /></p>
<p>I&#39;m in the process of moving from my addiction to <a href="http://www.adobe.com/products/fireworks/">Macromedia Fireworks</a> to <a href="http://gimp-app.sourceforge.net">The GIMP</a>. Why? Well for one thing I really don&#39;t have the finances as a lowly uni student to buy new licences all the time, not to mention the uncertain future of the aformentioned program after <a href="http://en.wikipedia.org/wiki/Macromedia">Macromedia</a> was bought out by <a href="http://adobe.com/">Adobe</a>, and the fact that Fireworks isn&#39;t a <a href="http://apple.com/universal">universal binary</a> yet… plus there&#39;s that warm fuzzy feeling you get when you use Open Source software ;).</p>
<p>This is how you use the GIMP&#39;s Sharpen Filter according to the web based documentation:</p>
<blockquote><p>This filter is found in Image&gt;Filters/Enhance/Sharpen</p>
<p>Most of digitized images need correction of sharpness. This is due to digitizing process that must chop a colour continuum up in points with slightly different colors: elements thinner than sampling frequency will be averaged into an uniform colour. So sharp borders are rendered a little blurred. The same phenomenon appears when printing colour dots on paper.</p>
<p>The Sharpen filter accentuates edges but also any noise or blemish and it may create noise in graduated colour areas like the sky or a water surface. It competes with the Unsharp Mask filter, which is more sophisticated and renders more natural results.</p></blockquote>
<p>I use <a href="http://gimp-app.sourceforge.net">Gimp.app</a> on Mac OS X, and regular <a href="http://gimp.org/">GIMP</a> on my FreeBSD box.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: gimp" href="http://technorati.com/tag/gimp">gimp</a>,
<a title="Technorati tag: the gimp" href="http://technorati.com/tag/the-gimp">the gimp</a>,
<a title="Technorati tag: gimp.app" href="http://technorati.com/tag/gimp.app">gimp.app</a>,
<a title="Technorati tag: gimpapp" href="http://technorati.com/tag/gimpapp">gimpapp</a>,
<a title="Technorati tag: sharpen filter" href="http://technorati.com/tag/sharpen-filter">sharpen filter</a>,
<a title="Technorati tag: mac os x" href="http://technorati.com/tag/mac-os-x">mac os x</a>,
<a title="Technorati tag: open source" href="http://technorati.com/tag/open-source">open source</a>,
<a title="Technorati tag: macromedia" href="http://technorati.com/tag/macromedia">macromedia</a>,
<a title="Technorati tag: fireworks" href="http://technorati.com/tag/fireworks">fireworks</a>,
<a title="Technorati tag: macromedia fireworks" href="http://technorati.com/tag/macromedia-fireworks">macromedia fireworks</a>,
<a title="Technorati tag: universal binary" href="http://technorati.com/tag/universal-binary">universal binary</a></p>
 
