---
title: 'The Hinton Train Disaster' 
date: "2006-09-22T05:28:40+10:00"
year: "2006"
category: Thoughts 
tag: 
- hinton-train-disaster
- railways
- simpletagged
- transport 
---
<p><a href="http://en.wikipedia.org/wiki/Image:Cn7402.JPG"><img src="https://rubenerd.com/files/uploads/media.cp1422.jpg" alt="" style="width:320px" /></a></p>
<p>Just finished watching a National Geographic documentary on cable (<a href="http://en.wikipedia.org/wiki/Crash_Scene_Investigation">Crash Scene Investigation</a>) about the Hinton Train Collision in Canada in 1986, just 2 months before I was born. Very scary to think in our &quot;modern&quot; times with all our technology these catastrophic mistakes still happen.</p>
<blockquote><p>The Hinton train collision was a railway accident that occurred on February 8, 1986. Twenty-three people were killed in a collision between a Canadian National Railway freight train and a VIA Rail passenger train. It was the most lethal Canadian rail disaster since the Dugald accident of 1947.</p></blockquote>
<p>Just like the documentary, the <a href="http://en.wikipedia.org/wiki/Hinton_train_collision">Wikipedia article on the disaster</a> is eye opening. <a href="http://www.trainweb.org/galt-stn/cproster/locomotive/1400s/cp1422.htm">TrainWeb</a> also has information regarding the individual locomotives involved.</p>
<blockquote><p>There are events which can shatter the foundations of your life. Shatter the foundations of your life, through no fault of your own. But life goes on. There is tomorrow, and you can recover.</p>
<p>&#8211; Survivor</p></blockquote>
<h3>Update &#8212; written on 22nd April 2010</h3>
<p>I had no idea when I wrote this documentary review in 2006 that it&#39;d turn out to be something I&#39;d continue researching and talking to people about for years afterwards. I wrote a followup post in 2007 where I discuss it in more detail (<strong><a href="//rubenerd.com/the-hinton-train-disaster-revisited/">The Hinton Train Disaster revisited</a></strong>), and I&#39;m in the process of writing up another one.</p>
<p>Thank you to everyone for your comments and emails, it&#39;s clear to me this disaster has had a profound effect on so many people that continues to be felt. Having just prematurely lost my mum to cancer I feel as though I can partly relate to your loss now, though I still don&#39;t pretend to understand what the experience must have been like.</p>
<p>I hope to travel to Canada one day, my dad says it&#39;s the most breathtakingly beautiful place on Earth with some of the friendliest people.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: hinton train disaster" href="http://technorati.com/tag/hinton-train-disaster">hinton train disaster</a>,
<a title="Technorati tag: canada" href="http://technorati.com/tag/canada">canada</a>,
<a title="Technorati tag: 1986" href="http://technorati.com/tag/1986">1986</a>,
<a title="Technorati tag: canadian railways" href="http://technorati.com/tag/canadian-railways">canadian railways</a>,
<a title="Technorati tag: canadian national railway" href="http://technorati.com/tag/canadian-national-railway">canadian national railway</a>,
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: ruben" href="http://technorati.com/tag/ruben">ruben</a>,
<a title="Technorati tag: schade" href="http://technorati.com/tag/schade">schade</a></p>
 
