---
title: 'The Desk: My Mum, China and Coffee'
date: "2006-11-07T02:36:22+10:00"
year: "2006"
category: Thoughts 
tag:
- personal
- simpletagged 
- the-desk
---
<p><img id="image403" src="https://rubenerd.com/files/uploads/desk.jpg" alt="From the desk of Ruben Schade" /></p>
<p><strong><a href="http://en.wikipedia.org/wiki/Rod_Stewart">Song Playing: Dido, White Flag</a></strong></p>
<p>As I was typing the above line I almost put &quot;Dido, White Fag&quot;. Would have had an entirely different meaning!</p>
<p>My mum has now been on chemotherapy again for about a week. She seems to be coping a bit better with this round, though I guess &quot;coping&quot; is a relative term. She&#39;s in a lot of pain in her bones and joints but doesn&#39;t feel like being sick so I guess we can be thankful for that. As long as she takes it easy I&#39;m hoping she&#39;ll be okay.</p>
<p>She&#39;s on two separate treatments, one she&#39;s had before but also a newer one which instead of trying to attack the tumour cells and in the process doing a lot of damage to other perfectly good tissue instead attempts to block the cells blood supply. I&#39;m not sure how that works, but it is reassuring to know that new treatments are coming out all the time.</p>
<p>My dad left for Beijing last night; Shell has apparently purchased a Chinese oil company so he&#39;s over there to inspect their grease plant to see if it&#39;s useful. It&#39;s going to be -4 degrees this Thursday so sounds like fun! He says its surprising how some Singaporeans and Malay Chinese have a lot of difficulty communicating with Mainland Chinese because their work ethic and the way they use the language is so radically different. I was surprised, I just assumed that Mandarin Chinese was Mandarin Chinese.</p>
<p>Time Passes…</p>
<p>Now I&#39;m sitting here in my mum&#39;s bedroom with my MacBook Pro, she&#39;s on the iBook. It&#39;s 11:31 PM and I&#39;ve just made a cup of coffee, awesome! We&#39;re sitting here talking and typing away, it&#39;s nice.</p>
<p>She&#39;s saying now that she&#39;s been in contact with Dr. Fuad and that she&#39;ll be getting some stronger pain killers next time she goes into the hospital which I&#39;m sure will be a relief. I&#39;m worried about the pain she&#39;s feeling, is this normal for this medication? I worry way too much about these things, I&#39;m sure its fine but in the back of my head it worries me. Am I weird?</p>
<p>Anyway this coffee is getting cold and I can&#39;t stand typing with only one hand and drinking coffee with the other.</p>
<p>Signing out,<br />
<cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: diary" href="http://technorati.com/tag/diary">diary</a>,
<a title="Technorati tag: log" href="http://technorati.com/tag/log">log</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a>,
<a title="Technorati tag: debra schade" href="http://technorati.com/tag/debra-schade">debra schade</a>,
<a title="Technorati tag: rainer schade" href="http://technorati.com/tag/rainer-schade">rainer schade</a>,
<a title="Technorati tag: cancer" href="http://technorati.com/tag/cancer">cancer</a>,
<a title="Technorati tag: china" href="http://technorati.com/tag/china">china</a>,
<a title="Technorati tag: beijing" href="http://technorati.com/tag/beijing">beijing</a>,
<a title="Technorati tag: mandarin" href="http://technorati.com/tag/mandarin">mandarin</a>,
<a title="Technorati tag: treatment" href="http://technorati.com/tag/treatment">treatment</a></p>
 
