---
title: 'The Enterprise 64 Computer' 
date: "2006-09-28T06:10:51+10:00"
year: "2006"
category: Software 
tag:
- gaming
- infocomm
- retro
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/enterprise64-console.jpg" alt="Enterprise 64 Console" /></p>
<p>So I was looking for a picture of the Enterprise from Star Trek on Google Images when instead this picture of a retro computer came up: the Enterprise 64.</p>
<p>Now because my dad was working on IBMs at work since the early 1980s all of our computers at home were IBMs (and later compatibles) until I moved to Apple in 1999 when the Windows crashes were starting to affect my ability to maintain my sanity. Yes I know the latest Apples are x86s. Anyway the reason why I say this is because from the beginning we had IBMs at home, no Amigas, no Commodores… we were business machines all the way.</p>
<p>I had never even heard of the Enterprise 64 or 128 until I saw the image on Google Images. It was in Spanish so I went over the the venerable <a href="http://www.homecomputer.de/pages/f_info.html?Enterprise_64.html">Home Computer Museum</a> (English version) and came up with the machine&#39; vitals:</p>
<ul>
<li><strong>Country:</strong> UK</li>
<li><strong>Most Common:</strong> UK, Hungary</li>
<li><strong>Rarity (Euro):</strong> very rare</li>
<li><strong>Year:</strong> 1985</li>
<li><strong>CPU:</strong> Zilog Z80</li>
<li><strong>RAM / ROM:</strong> 64 kB / 32 kB</li>
<li><strong>Colours:</strong> 256</li>
<li><strong>Comment:</strong> Also known as Mephisto PHC 64 in Germany</li>
</ul>
<p>If it had a Zilog Z80 chip, was it capable of running CP/M? That would be wicked!</p>
<p>Reading a bit further I found out one of the defining features of this machine was the abnormally large number of expansion ports. To save costs the ports weren&#39;t actually sockets, but rather just exposed parts of the mainboard with gold contacts.</p>
<p>You can see diagrams of the ports at <a href="http://www.museo8bits.com/enterpri.htm">Museo8Bits</a>, as well as the original advertising for the machine:</p>
<p><a href="//rubenerd.com/files/uploads/enterprise_01.jpg"><img src="https://rubenerd.com/files/uploads/enterprise_01.thumbnail.jpg" alt="" /></a> <a href="//rubenerd.com/files/uploads/enterprise_02.jpg"><img src="https://rubenerd.com/files/uploads/enterprise_02.thumbnail.jpg" alt="" /></a></p>
<p>Blast from the past! I&#39;m off to dust off the Commodore 64c from the storeroom… from eBay a few years back!</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: enterprise" href="http://technorati.com/tag/enterprise">enterprise</a>,
<a title="Technorati tag: enterprise 64" href="http://technorati.com/tag/enterprise-64">enterprise 64</a>,
<a title="Technorati tag: enterprise 128" href="http://technorati.com/tag/enterprise-128">enterprise 128</a>,
<a title="Technorati tag: retro" href="http://technorati.com/tag/retro">retro</a>,
<a title="Technorati tag: classic computers" href="http://technorati.com/tag/classic-computers">classic computers</a>,
<a title="Technorati tag: retro computers" href="http://technorati.com/tag/retro-computers">retro computers</a>,
<a title="Technorati tag: retro computing" href="http://technorati.com/tag/retro-computing">retro computing</a>,
<a title="Technorati tag: 1980s computers" href="http://technorati.com/tag/1980s-computers">1980s computers</a>,
<a title="Technorati tag: zilog" href="http://technorati.com/tag/zilog">zilog</a>,
<a title="Technorati tag: zilog z80" href="http://technorati.com/tag/zilog-z80">zilog z80</a>,
<a title="Technorati tag: cp/m" href="http://technorati.com/tag/cp/m">cp/m</a>,
<a title="Technorati tag: cpm" href="http://technorati.com/tag/cpm">cpm</a></p>
 
