---
title: 'The Sims 2: Fixing Sound, Universal Binary, MacBook Pro'
date: "2006-04-20T06:51:02+10:00"
year: "2006"
category: Software
tag:
- apple
- gaming
- mac
- mac-os-x
- maxis
- the-sims-2
- infocomm 
- troubleshooting
- universal-binaries
---
<p><img src="https://rubenerd.com/files/uploads/media.145-box_B.jpg" alt="" /></p>
<p>For those like me who bought The Sims 2 for my PowerPC-based Mac, it now works beautifully on Intel-based hardware with a bit of tweaking.</p>
<h3>Universal Binary PatchPatch Now Available</h3>
<p>If you have the PowerPC version of The Sims 2, it&#39;s painfully slow on any Intel Mac, but Aspyr has released the <a href="http://www.aspyr.com/detail.php?p_support_article_id=1214&#038;p_game_id=156">The Sims 2 rev.D Universal Patch</a> which, amongst other things, lets you run it natively on Intel: <strong></strong></p>
<h3>Getting Sound Working</h3>
<p>After applying the patch, The Sims 2 still didn&#39;t have any sound on my MacBook Pro. I contacted Pica Australia Technical Support, and promptly got this solution from Kelly which worked like a charm:</p>
<blockquote><p>
1. Open Audio MIDI Setup (/Applications/Utilities/), then check the Audio Output setting.<br />
2. Change the Audio Output setting to 44100.0 Hz.<br />
3. Quit Audio MIDI Setup.
</p></blockquote>
<h3>Other Advice To Solve Problems</h3>
<p>Kelly also gave me this advice to follow if I still had problems. I didn&#39;t need to use it, but if you&#39;re having trouble you might find it useful:</p>
<blockquote><p>
Hi Ruben,</p>
<p>I recommend the following troubleshooting steps. Try running the Repair Disk Permissions function of the Disk Utility located in Applications/Utilities. Also, avoid installing the game to Applications or the Desktop; there are permissions conflicts that can arise when games are installed here. Games work best when they are installed in a separate games folder on the top/root level of your hard drive.</p>
<p>If the game is not currently stored in one of the aforementioned locations then sometimes just moving the game is not enough and it is necessary to reinstall. Reinstalling also gets rid of any game data that may have become corrupt. Be sure to trash the game’s preferences file(s) located in Home/Library/Preferences and Home/Library/Application Support and Home/Documents when you do so. Then just trash the current copy of the game and install a new copy. Then run the patch again. During the installation of the patch you will need to manual choose the folder The Sims 2 inside the Games folder.  The apple installer will automatically choose the folder The Sims 2 in the Applications folder, this is not the right one.
</p></blockquote>
<p>Have fun :D.</p>
 
