---
title: 'The Desk: Mumster Back on Chemo' 
date: "2006-10-16T10:18:07+10:00"
year: "2006"
category: Thoughts 
tag: 
- personal
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/desk.jpg" alt="From the desk of Ruben Schade" /></p>
<p><strong><a href="http://en.wikipedia.org/wiki/10cc">Song Playing: From Rochdale to Ochos Rios, 10cc</a></strong></p>
<p>Today has been a real bummer. After a few months without chemotherapy, last week the mumster went down to KLCC to have a blood test. The results are in today, her tumour markers <em>have doubled</em>. We&#39;re not too sure whether this will mean she&#39;ll have to start treatment again this week or whether we can hold off till next week. Whatever the case, she&#39;ll be tired and in pain again for the next several months. She&#39;ll be sick during her anniversary and Christmas. F.U.S.</p>
<p>She has now been on treatment on and off for 10 years. I remember back in 1996 (or it could have been 1995) when I came out of school and she was there to walk us home. She said she had been to have an examination because she was a bit suspicious about a lump on her chest. And here we are in 2006 and it&#39;s still going. Sometimes it makes me upset, sometimes it makes me so <em>angry</em> I want to punch a hole through the drywall.</p>
<p>As for &quot;The Desk&quot;, I&#39;ve had a log on my machine since 1999 but now that I have been using WordPress on the <a href="//rubenerd.com/show/">Rubenerd Show</a> and this blog for a fair while now I think it makes more sense to post them here. I&#39;m not sure if I&#39;ll import the existing entries… that&#39;s roughly 365 per year (give or take a day or two I missed each month) since 1999… I&#39;m not sure that would be so wise… information overload!</p>
<p>Signing out,<br />
<cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: diary" href="http://technorati.com/tag/diary">diary</a>,
<a title="Technorati tag: log" href="http://technorati.com/tag/log">log</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a></p>
 
