---
title: 'The Desk: James Ross and James Ross' 
date: "2006-11-08T06:07:11+10:00"
year: "2006"
category: Thoughts 
tag: 
- personal
- simpletagged
- the-desk
---
<p><img src="https://rubenerd.com/files/uploads/desk.jpg" alt="From the desk of Ruben Schade" /></p>
<p><strong><a href="http://guyclark.com/">Guy Clark: Like a Coat from the Cold</a></strong></p>
<p>Whenever I type a post on <a href="//rubenerd.com/category/thedesk/">The Desk</a> I tend to type the title first then proceed to fill out the post itself, but today I&#39;m being a rebel and doing it the other way round. Ruben you&#39;re a mischievous little devil.</p>
<p>Got an email from my relative James Ross today which was a pleasant surprise. I call him &quot;my relative&quot; because I&#39;m not exactly sure what to call him! He&#39;s my mum&#39;s dad&#39;s brother&#39;s son! I don&#39;t think he&#39;s a cousin because he&#39;s not a son of my mum&#39;s brother, and he&#39;s not an uncle because he&#39;s not my mum&#39;s brother. Is he my second cousin? What <em>is</em> a second cousin? I&#39;m not going to be able to sleep tonight!</p>
<p>So James emailed which was awesome! I think James is really the only other person in my family that is actively involved in computing other than me. He works in <a href="http://redhillconsulting.com.au/">RedHill Consulting</a> and even did a J2EE project for a major company in Melbourne which is damned impressive!</p>
<p>I want to set up my business in Singapore when I finish university, partly because that&#39;s where I grew up, but also for practical reasons: apparently it ranks in the top five places in the world for ease of setting up a business (think it was in BusinessWeek or something, so it <em>must</em> be true ;) ) and being in Asia its right in the middle of where all the development is happening in the world right now so there are lots of opportunities.</p>
<p>Oh I almost forgot: James has even <a href="//rubenerd.com.listal.com/viewproduct/books/3103115">co-written a book for Wiley on Algorithms</a> of which I have a copy to replace the archaic textbook the uni recommended! I may be a bit biased, but it&#39;s darned good especially in the sections where he explains how the more complex sorts work: James and Simon explain in a fraction of the space AND it actually makes more sense! I&#39;ll be doing a more in-depth review on the <a href="//rubenerd.com/show/">Rubenerd Show</a> soon.</p>
<p>Here&#39;s a shot of the cover, James is on the right.</p>
<p><a href="//rubenerd.com.listal.com/viewproduct/books/3103115"><img id="image480" src="https://rubenerd.com/files/uploads/beginningalgorithms.jpg" alt="Beginning Algorithms, James and Simon" /></a></p>
<p>Now I just need to figure out where he gets his hair cut, where he buys his clothes and what brand of glasses he wears and I&#39;m all set!</p>
<p>Anyway an update on my mum, the chemotherapy gave her pain again today which was no good, but we sat in her room with coffee and biscuts for the better part of the day talking and using the internet on our Apple laptops so life was good. She was investigating cosmetic company websites and asking herself why companies with such high profit margins and revenue can&#39;t hire someone to make a half decent website! She&#39;s put the links in her <a href="http://del.icio.us/sweetische">del.icio.us link blog</a> if cosmetics are your thing.</p>
<p>Wow it&#39;s close to 03:00am here in Kuala Lumpur, though I&#39;m still not tired. I don&#39;t get it.</p>
<p>A bit good luck wish going out to my sister who will be sitting her high school &quot;Legal Studies&quot; exam tomorrow. Damn those Acts of Parliament!</p>
<p>Signing out,<br />
<cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: redhill" href="http://technorati.com/tag/redhill">redhill</a>,
<a title="Technorati tag: james ross" href="http://technorati.com/tag/james-ross">james ross</a>,
<a title="Technorati tag: redhill consulting" href="http://technorati.com/tag/redhill-consulting">redhill consulting</a>,
<a title="Technorati tag: james ross" href="http://technorati.com/tag/james-ross">james ross</a>,
<a title="Technorati tag: simon harris" href="http://technorati.com/tag/simon-harris">simon harris</a>,
<a title="Technorati tag: james ross" href="http://technorati.com/tag/james-ross">james ross</a>,
<a title="Technorati tag: debra schade" href="http://technorati.com/tag/debra-schade">debra schade</a>,
<a title="Technorati tag: james ross" href="http://technorati.com/tag/james-ross">james ross</a>,
<a title="Technorati tag: beginning algorithms" href="http://technorati.com/tag/beginning-algorithms">beginning algorithms</a>,
<a title="Technorati tag: james ross" href="http://technorati.com/tag/james-ross">james ross</a>,
<a title="Technorati tag: 0764596748" href="http://technorati.com/tag/0764596748">0764596748</a></p>
 
