---
title: 'The Queen Opens The Opera House Again' 
date: "2006-03-13T02:17:07+10:00"
year: "2006"
category: Thoughts 
tag:
- australia
- news 
---
<strong>Update:</strong> I somewhat <a href="https://rubenerd.com/queen-elizabeth-ii/">changed my tune here</a> after she moved on in 2022. But I stand by my last line.</p>

<p><img src="https://rubenerd.com/files/uploads/media.queen.jpg" alt="Photo of Liz" /></p>
<p>Just finished watching the Queen&#39;s official opening of the new extention of the Sydney Opera House. I think Channel 9&#39;s reporter on the scene said it right: that in the future Australia will become a republic, but for now the Queen is our head of state, she looked great and she put a lof of effort into coming in, so we should give her our support.</p>
<p>I&#39;m a self-confessed Australian republican, but I admit seeing the Queen there was pretty cool, espcially seeing as she&#39;s touching 80 soon!</p>
<p>Once Prince Charles becomes king, I think that will be the right time to be a republic… King Charles of Australia? ARGH!</p>
 
