---
title: 'There Goes The Neighbourhood' 
date: "2006-11-04T11:34:56+10:00"
year: "2006"
category: Software 
tag:
- funny
- infocomm
- simpletagged 
---
<p><img id="image458" src="https://rubenerd.com/files/uploads/tvpattern_maxis.jpg" alt="tvpattern_maxis.jpg" style="width:320px"/></p>
<p><a href="http://thesims2.ea.com/">The Sims 2</a> site has been down for maintenance recently. There goes the neighbourhood. Get it? There goes the… <em>neighbourhood?</em> Get it? :D</p>
<p>I need a cup of coffee.</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: the sims 2" href="http://technorati.com/tag/the-sims-2">the sims 2</a>,
<a title="Technorati tag: sims 2" href="http://technorati.com/tag/sims-2">sims 2</a>,
<a title="Technorati tag: the sims" href="http://technorati.com/tag/the-sims">the sims</a>,
<a title="Technorati tag: sims 2 website" href="http://technorati.com/tag/sims-2-website">sims 2 website</a>,
<a title="Technorati tag: maxis" href="http://technorati.com/tag/maxis">maxis</a>,
<a title="Technorati tag: electronic arts" href="http://technorati.com/tag/electronic-arts">electronic arts</a></p>
 
