---
title: 'True Lies Quote' 
date: "2006-03-26T12:47:49+10:00"
year: "2006"
category: Media 
tag:
- quotes
- movies
---
<blockquote>
<p>With the turn of this key I can kill 2 million of your people INSTANTLY<br />
2: What key?<br />
1: Ah crap.</p>
<p>- Good Guy</p>
</blockquote>
<p><a href="http://www.imdb.com/title/tt0111503/">IMDB Entry</a></p>
 
