---
title: 'Typing in Malaysia' 
date: "2006-09-21T08:15:53+10:00"
year: "2006"
category: Media 
tag:
- malaysia
- new-time-radio
- podcasting
- simpletagged
- weblog 
---
<p><a href="//rubenerd.com/show/"><img src="https://rubenerd.com/files/uploads/logo.show144.png" alt="Rubenerd Show" /></a> <a href="//rubenerd.com/"><img src="https://rubenerd.com/files/uploads/logo.blog144.png" alt="Rubenerd Blog" /></a></p>
<p>Well it took a long time, but I&#39;m now safely typing away this from Kuala Lumpur in Malaysia. I can&#39;t believe how much it has changed even since I was here in the mid year university break.</p>
<p>My mixer board and audio equipment are still in transit, but I&#39;ve been told by <a href="http://baggagemasters.com.au/">Baggage Masters</a> that they should be in Singapore tomorrow, so early next week my dad and I will drive the 300km&#39;s down there to pick it up. Ergo the <a href="//rubenerd.com/category/show/">Rubenerd Show</a> should be resuming next week.</p>
<p>Now that I have a (stable) internet connection too you should see some regular postings now on the <a href="//rubenerd.com/">Rubenerd Blog</a> now too.</p>
<p>Cheers!<br />
<a href="//rubenerd.com/about/">Ruben</a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: malaysia" href="http://technorati.com/tag/malaysia">malaysia</a>,
<a title="Technorati tag: kuala lumpur" href="http://technorati.com/tag/kuala-lumpur">kuala lumpur</a>,
<a title="Technorati tag: rubenerd show" href="http://technorati.com/tag/rubenerd-show">rubenerd show</a>,
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: ruben schade" href="http://technorati.com/tag/ruben-schade">ruben schade</a></p>
 
