---
title: 'Uni Student Habitat on Flickr' 
date: "2006-10-08T08:10:14+10:00"
year: "2006"
category: Media 
tag:
- personal
- photos
- simpletagged
- studies 
---
<p><a href="https://www.flickr.com/photos/rubenerd/sets/72157594316563461/"><img src="https://static.flickr.com/81/262955088_dbc9f28223.jpg?v=0" alt="Uni Student Habitat on Flickr" /></a><br />
<em>Photo is in my Flickr account, click to view gallery</em></p>
<p>Want to see what the habitat of a computer science university student in Australia looks like? An Apple notebook computer, an iPod, a Blackberry, a bit of money and a cup of hot coffee: what more do you need?</p>
<p><a href="https://www.flickr.com/photos/rubenerd/sets/72157594316563461/">Click here to view the gallery</a> if you dare ;).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: uni" href="http://technorati.com/tag/uni">uni</a>,
<a title="Technorati tag: university" href="http://technorati.com/tag/university">university</a>,
<a title="Technorati tag: college" href="http://technorati.com/tag/college">college</a>,
<a title="Technorati tag: ipod" href="http://technorati.com/tag/ipod">ipod</a>,
<a title="Technorati tag: blackberry" href="http://technorati.com/tag/blackberry">blackberry</a>,
<a title="Technorati tag: student" href="http://technorati.com/tag/student">student</a>,
<a title="Technorati tag: student habitat" href="http://technorati.com/tag/student-habitat">student habitat</a>,
<a title="Technorati tag: nerd" href="http://technorati.com/tag/nerd">nerd</a>,
<a title="Technorati tag: computer science student" href="http://technorati.com/tag/computer-science-student">computer science student</a>,
<a title="Technorati tag: macbook pro" href="http://technorati.com/tag/macbook-pro">macbook pro</a>,
<a title="Technorati tag: apple" href="http://technorati.com/tag/apple">apple</a>,
<a title="Technorati tag: dorm" href="http://technorati.com/tag/dorm">dorm</a></p>
 
