---
title: 'UniSA: Low Repeat Viewing for TV Programs' 
date: "2006-08-28T12:07:33+10:00"
year: "2006"
category: Media 
tag:
- simpletagged
- television 
---
<p><a href="http://www.unisa.edu.au/news/2006/230806.asp"><img style="background:#FFF; padding: 10px; border-bottom:3px solid #2E4492" src="http://ruben.sg/unisa.png" alt="" /></a></p>
<p>A recent study by researchers <a title="UniSA: Low repeat viewing for TV programs" href="http://www.unisa.edu.au/news/2006/230806.asp">at my university</a> has discovered some interesting facts; potentially disturbing to the media companies; regarding the television programme viewing habits of the average person. I was surprised.</p>
<blockquote><p>While ratings for certain television programs might be fairly steady, with about the same number of people watching each week, researchers at the University of South Australia have discovered that week-to-week it is largely different people watching the program.</p>
<p>For example, in the US only 30 per cent of the people who watched a program one week had watched it in the previous week, according to the Director of Ehrenberg-Bass Institute for Marketing Science, Professor Byron Sharp. “Seventy per cent of its audience in any week did not watch it the previous week,” Prof Sharp said.</p>
<p>“We tend to overestimate our loyalty for lots of things so when someone says ‘I always watch that program,’ they mean when I am watching TV, and not watching something else!”</p>
<p>“For example, we can’t predict which fast food outlet or which bank people will go to but we can predict how many people will go there and how often, and how many will go regularly and how many will go occasionally if we simply know the market share of, say, McDonalds. This is the sort of fundamental knowledge being discovered at the Ehrenberg-Bass Institute,”</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: television" href="http://technorati.com/tag/television">television</a>,
<a title="Technorati tag: tv" href="http://technorati.com/tag/tv">tv</a>,
<a title="Technorati tag: research" href="http://technorati.com/tag/research">research</a>,
<a title="Technorati tag: unisa" href="http://technorati.com/tag/unisa">unisa</a>,
<a title="Technorati tag: university of south australia" href="http://technorati.com/tag/university-of-south-australia">university of south australia</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: ratings" href="http://technorati.com/tag/ratings">ratings</a>,
<a title="Technorati tag: viewership" href="http://technorati.com/tag/viewership">viewership</a>,
<a title="Technorati tag: shows" href="http://technorati.com/tag/shows">shows</a>,
<a title="Technorati tag: professor sharp" href="http://technorati.com/tag/professor-sharp">professor sharp</a></p>
 
