---
title: 'Rubenerd Unplugged 001 2006.10.25' 
date: "2006-10-25T10:43:35+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- malaysia
- nature
- rain
- recorded-in-kuala-lumpur
- thunderstorm 
---
<p><a href="http://www.archive.org/download/RubenerdUnplugged001/RubenerdUnplugged001.png"><img src="http://www.archive.org/download/RubenerdUnplugged001/RubenerdUnplugged001.240px.png" alt="Larger cover art" style="height:240px; width:240px; display:inline; float:right; margin:0 0 10px 20px;" /></a><span style="font-weight:bold;">The Malaysian evening thunderstorm recording.</span></p>
<p>Around the same time as recording <a href="//rubenerd.com/show172">Rubenerd Show 172</a> a very vocal (vocal?) thunderstorm starting brewing outside our house in Kuala Lumpur. Fortunately the mic and mixer boards were warmed up and ready to go, it was just a matter of plugging in a longer cable and stretching the mic over to the window.</p>
<p>Why buy an expensive relaxation CD or tape when you can download this? Don&#39;t answer that.</p>
<p><a href="http://archive.org/details/RubenerdUnplugged01/RubenerdUnplugged01.mp3"><span style="font-weight:bold">Download MP3 &darr;</span> 11.5MiB 12:22</a></p>
 
