---
title: 'Useful Ruby Tutorial Websites' 
date: "2006-10-26T11:39:50+10:00"
year: "2006"
category: Software 
tag:
- infocomm
- ruby
- scripting
- simpletagged 
---
<p><a href="http://www.ruby-lang.org/en/"><img style="background:#FFFFFF" src="https://rubenerd.com/files/uploads/logo.gif" alt="Ruby" /></a></p>
<p>Some useful websites I&#39;ve for those who want to learn Ruby:</p>
<ul>
<li><a href="http://www.rubyist.net/~slagell/ruby/">Rubyist.net: Ruby User’s Guide</a><em>(my favourite)</em></li>
<li><a href="http://learnruby.com/sites.html">LearnRuby.com: Web Site Recommendations</a></li>
<li><a href="http://www.ruby-doc.org/docs/ProgrammingRuby/">Programming Ruby: The Pragmatic Programmer’s Guide</a></li>
</ul>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: ruby" href="http://technorati.com/tag/ruby">ruby</a>,
<a title="Technorati tag: ruby on rails" href="http://technorati.com/tag/ruby-on-rails">ruby on rails</a>,
<a title="Technorati tag: rails" href="http://technorati.com/tag/rails">rails</a>,
<a title="Technorati tag: oop" href="http://technorati.com/tag/oop">oop</a></p>
 
