---
title: 'Using WordPress Categories as Tags' 
date: "2006-11-18T07:28:56+10:00"
year: "2006"
category: Software 
tag:
- infocomm
- php
- scripting
- simpletagged
- weblog
- wordpress 
---
<p><img id="image510" style="float:right; margin:0 0 10px 20px" src="https://rubenerd.com/files/uploads/tags.png" alt="Rubenerd Blog tags" />I really like tag clouds. On my <a href="http://del.icio.us/rubenerd/">del.icio.us</a> account I always use the built in tag cloud option, and now I&#39;ve got around to implementing one on the Rubenerd Blog.</p>
<p>Why do I like tag clouds / tag heatmaps? Well aside from the obvious reason that they allow you to view categories or tags based on how many pages they contain or have been tagged with, I like them simply because they <em>take up less space</em> than a static list, and they just look more stylish. Plus they&#39;re all Web 2.0-ish, which we all know <em>must</em> mean they&#39;re cool.</p>
<p>Without really knowing it, ever since I started this blog I&#39;ve really used the categories more as tags, so displaying them in a cloud now seems to be the natural progression of this. Some people like creating sub categories and using a dedicated tag extension as something extra, but personally I feel that using WordPress&#39;s built in category feature just makes more sense… and it&#39;s a lot less effort ;). The advantage we <a href="http://wordpress.org/">WordPress</a> people have is that <a href="http://technorati.com/">Technorati</a> actually recognise WordPress categories and use them as tags anyway which is even more convenient!</p>
<p>I&#39;m using the excellent <a href="http://sw-guide.de/wordpress/category-tagging-plugin/">Category Tagging Plugin</a> which, as the name implies, makes your WordPress categories look and function as tags. The only customisation I made was to change the list elements to be inline in the site&#39;s CSS instead of having them in a bulleted list to make it look more &quot;cloudy&quot;. <a href="http://sw-guide.de/">Michael Woehrer</a> has done a great job on this plugin, and the PHP file itself has very clean and easy to read structure which makes it perfect for customisation. Plus he has a German last name just like me, so you know his stuff has to be good :D.</p>
<p>I&#39;m working this weekend to make the <a href="//rubenerd.com/show/">Rubenerd Show, the </a><a href="//rubenerd.com/">Rubenerd Blog</a> and <a href="//rubenerd.com/show/forum/">Rubenerd Forum</a> working correctly in <a href="http://stopie.com/">Internet Explorer</a> and thought I&#39;d implement this in the process. If you want let me know what you think and if you really like or hate it!</p>
<p>Cheers,<br />
<cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: wordpress" href="http://technorati.com/tag/wordpress">wordpress</a>,
<a title="Technorati tag: wordpress plugins" href="http://technorati.com/tag/wordpress-plugins">wordpress plugins</a>,
<a title="Technorati tag: wordpress categories as tags" href="http://technorati.com/tag/wordpress-categories-as-tags">wordpress categories as tags</a>,
<a title="Technorati tag: wordpress tags" href="http://technorati.com/tag/wordpress-tags">wordpress tags</a>,
<a title="Technorati tag: wordpress categories" href="http://technorati.com/tag/wordpress-categories">wordpress categories</a>,
<a title="Technorati tag: tags" href="http://technorati.com/tag/tags">tags</a>,
<a title="Technorati tag: tagging" href="http://technorati.com/tag/tagging">tagging</a>,
<a title="Technorati tag: tagclouds" href="http://technorati.com/tag/tagclouds">tagclouds</a>,
<a title="Technorati tag: tag heatmaps" href="http://technorati.com/tag/tag-heatmaps">tag heatmaps</a>,
<a title="Technorati tag: tag clouds" href="http://technorati.com/tag/tag-clouds">tag clouds</a>,
<a title="Technorati tag: technorati" href="http://technorati.com/tag/technorati">technorati</a>,
<a title="Technorati tag: php" href="http://technorati.com/tag/php">php</a>,
<a title="Technorati tag: category tagging plugin" href="http://technorati.com/tag/category-tagging-plugin">category tagging plugin</a>,
<a title="Technorati tag: michael woehrer" href="http://technorati.com/tag/michael-woehrer">michael woehrer</a></p>
 
