---
title: 'Virtual Apple ][' 
date: "2006-09-29T06:40:21+10:00"
year: "2006"
category: Software 
tag:
- apple
- infocomm
- simpletagged 
---
<p><a href="http://www.xs4all.nl/~gp/VirtualII/"><img id="image391" src="https://rubenerd.com/files/uploads/appleii.png" alt="Virtual Apple II" /></a></p>
<p>Have you ever wanted to play your classic Apple ][ Games on your new Apple?</p>
<p><a href="http://www.xs4all.nl/~gp/VirtualII/">This programs looks great</a>, it even has a virtual printer that outputs to PDF! As my dad would say &quot;me think it mazing!&quot;</p>
<blockquote><p>Virtual ][ lets you play the old Apple games, because it supports all graphics modes, lets you control the game paddles with a USB game pad or mouse and emulates the internal speaker. When you want to temporarily interrupt gameplay, Virtual ][ allows you to save the entire virtual machine, and continue later on from where you left off.</p>
<p>But Virtual ][ also supports more &#8220;serious&#8221; software, because it emulates many peripheral devices: floppy disk, hard disk, mouse, matrix printer, even cassette tape! It is also able to emulate the Z80A processor, allowing you to run the CP/M operating system.</p>
<p>And for the technically inclined: you can configure the machine by &#8220;inserting&#8221; and &#8220;removing&#8221; emulated peripheral cards, change the CPU speed, or even install your own emulated character generator ROM. The &#8220;Inspector&#8221; feature allows you to closely observe the behavior of the emulated machine and debug Apple II programs.</p>
<p>If you have original diskettes and a working Apple II, Virtual ][ can help you convert the diskettes to the Macintosh, even if they are &#8220;copy protected&#8221;.</p></blockquote>
<p>Here&#39;s the shot of the virtual printer in all it&#39;s monochromic glory:</p>
<p><a href="http://www.xs4all.nl/~gp/VirtualII/"><img id="image392" src="https://rubenerd.com/files/uploads/appleii2.png" alt="Virtual Apple II Printer" /></a></p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: apple ii" href="http://technorati.com/tag/apple-ii">apple ii</a>,
<a title="Technorati tag: apple 2" href="http://technorati.com/tag/apple-2">apple 2</a>,
<a title="Technorati tag: apple 2 emulator" href="http://technorati.com/tag/apple-2-emulator">apple 2 emulator</a>,
<a title="Technorati tag: virtual apple" href="http://technorati.com/tag/virtual-apple">virtual apple</a>,
<a title="Technorati tag: retro computers" href="http://technorati.com/tag/retro-computers">retro computers</a>,
<a title="Technorati tag: classic computers" href="http://technorati.com/tag/classic-computers">classic computers</a>,
<a title="Technorati tag: emulators" href="http://technorati.com/tag/emulators">emulators</a>,
<a title="Technorati tag: roms" href="http://technorati.com/tag/roms">roms</a></p>
 
