---
title: 'Waterfall Software Development' 
date: "2006-11-06T07:23:46+10:00"
year: "2006"
category: Software 
tag:
- infocomm
- scripting
- simpletagged 
---
<p><a href="http://www.redhillconsulting.com.au/blogs/james/"><img id="image468" src="https://rubenerd.com/files/uploads/redhill.jpg" alt="RedHill" /></a></p>
<p>If you haven&#39;t read my relative James Ross&#39;s creatively titled blog <a href="http://www.redhillconsulting.com.au/blogs/james/">Blood, Sweat and Tiers</a> yet, then you haven&#39;t read my relative James Ross&#39;s creatively titled blog <a href="http://www.redhillconsulting.com.au/blogs/james/">Blood, Sweat and Tiers</a> yet!</p>
<p>His latest post concerns Agile versus Waterfall software development.</p>
<blockquote><p>Long time no blog. I’ve been distracted in recent months learning about non-geek stuff like investing in the stock market, which I may blog about at some point. But what has inspired me to pick up my virtual pen again is the apparent mainstream rise in popularity of agile development. Bear in mind that I’m in Australia so your time lines may vary, but these days there are very large organisations stating agile development as a key aspiration and sending head hunters around about scrounging for anyone who can spell it correctly to lead them to the promised land. Five years ago we relatively early adopters of eXtreme Programming would band together and tell each other stories of what a wonderful world it would be when major banks and telcos saw the light and changed their evil waterfall ways. Now it seems we may have gotten what we wished for and perhaps we should have been more careful.</p>
</blockquote>
<p>As soon as I heard the dreaded &quot;W&quot; word (no I&#39;m not referring to George Bush Jr!) I had to respond!</p>
<blockquote><p>G’day James!</p>
<p>From my limited experience in software development I can’t say I’m much of a fan of the waterfall approach.</p>
<p>Throughout Software Design and Dev class in high school and even at university now the teachers and textbooks drum into our heads that waterfall and structured development is the only way to develop software appropriately and that other methodologies such as my beloved RAD or agile time-release development are simply too unreliable for anything other than small projects. They claim less structured approaches are child’s play and that nobody in the real world with a decently sized cranium would consider using them.</p>
<p>The problem I see with the waterfall approach is that there’s simply too much overhead and fluff which gives the illusion that work is being done despite the fact nothing constructive has been achieved. While I agree that going headfirst into a project is foolhardy, I don’t think sitting in a boardroom in suits presenting pretty graphs in Keynote and PowerPoint for months really actually serves a practical purpose other than to make the boss happy; which may or may not be fulfilling your objective! A feasibility study should be produced, a rough schedule hammered out and work should start. Doing what needs to be done versus doing what you want to get done I think can be two very different things.</p>
<p>I’d consider using the Sashimi Waterfall approach I learned about last month, but only because I think its more flexible and sounds like Japanese food of which I am quite partial to.</p>
<p>Microsoft supposedly uses the strictest form of the waterfall approach, and look at Windows Vista! Perhaps when I join the workforce and the weight of the world sets in I’ll change, but for now I’ll just bask in my inexperience and continue to look critically at rigid, structured software development.</p>
<p>Love reading the blog!</p>
<p>Cheers,<br />
<a href="//rubenerd.com/about/">Ruben</a></p>
</blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: james ross" href="http://technorati.com/tag/james-ross">james ross</a>,
<a title="Technorati tag: rad" href="http://technorati.com/tag/rad">rad</a>,
<a title="Technorati tag: rapid application development" href="http://technorati.com/tag/rapid-application-development">rapid application development</a>,
<a title="Technorati tag: agile development" href="http://technorati.com/tag/agile-development">agile development</a>,
<a title="Technorati tag: waterfall development" href="http://technorati.com/tag/waterfall-development">waterfall development</a>,
<a title="Technorati tag: redhill consulting" href="http://technorati.com/tag/redhill-consulting">redhill consulting</a>,
<a title="Technorati tag: australia" href="http://technorati.com/tag/australia">australia</a>,
<a title="Technorati tag: programming" href="http://technorati.com/tag/programming">programming</a>,
<a title="Technorati tag: software project management" href="http://technorati.com/tag/project-management">project management</a></p>
 
