---
title: 'We Have Internet and Telephone Again!' 
date: "2006-10-30T09:32:25+10:00"
year: "2006"
category: Internet
tag: 
- infocomm
- malaysia
- simpletagged 
---
<p><a href="http://tm.com.my/"><img id="image447" src="https://rubenerd.com/files/uploads/logo_telekom_malaysia.gif" alt="Telekom Malaysia" /></a></p>
<p><a href="http://bukitgitabayu.com/">Gita Bayu</a> (our housing complex in <a href="http://kualalumpur.gov.my">Kuala Lumpur</a>) hasn&#39;t been very lucky over the last couple of weeks. A slew of thunderstorms (is that the correct collective noun?) have repeatedly wreaked havoc on the telephone lines, causing outages and causing <a href="//rubenerd.com/about/">Ruben</a> to be very upset. Of course with our DSL internet connection, no phone line meant no internet. Bummer.</p>
<p>Fortunately the latest outage that cost us internet over Friday afternoon, all of Saturday and all of Sunday seems to have been fixed just in the last few minutes. <a href="http://tm.com.my/">Telekom Malaysia</a> sure is fast… I&#39;m just thanking my lucky stars this extended outage didn&#39;t happen during the week when I do daily <a href="//rubenerd.com/show/">Rubenerd Shows</a>; that would have been messy to work around
</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: tmnet" href="http://technorati.com/tag/tmnet">tmnet</a>,
<a title="Technorati tag: tm" href="http://technorati.com/tag/tm">tm</a>,
<a title="Technorati tag: telekom malaysia" href="http://technorati.com/tag/telekom-malaysia">telekom malaysia</a>,
<a title="Technorati tag: telecom malaysia" href="http://technorati.com/tag/telecom-malaysia">telecom malaysia</a>,
<a title="Technorati tag: malaysia telecom" href="http://technorati.com/tag/malaysia-telecom">malaysia telecom</a>,
<a title="Technorati tag: malaysia" href="http://technorati.com/tag/malaysia">malaysia</a>,
<a title="Technorati tag: kuala lumpur" href="http://technorati.com/tag/kuala-lumpur">kuala lumpur</a>,
<a title="Technorati tag: selangor" href="http://technorati.com/tag/selangor">selangor</a>,
<a title="Technorati tag: telecommunications" href="http://technorati.com/tag/telecommunications">telecommunications</a>,
<a title="Technorati tag: gita bayu" href="http://technorati.com/tag/gita-bayu">gita bayu</a>,
<a title="Technorati tag: dsl" href="http://technorati.com/tag/dsl">dsl</a></p>
 
