---
title: 'Windows Gaming on MacBook Pro' 
date: "2006-04-17T05:30:20+10:00"
year: "2006"
category: Software 
tag:
- apple
- games
- infocomm 
- mac
- mac-os-x
- midtown-madness
---
<p>Now that I have Windows XP dual booting on my MacBook Pro (strictly for games only, Mac OS X still occupies a 92% parition on the hard disk ;)) I&#39;ve been testing some of my favourite older games but they&#39;re stuck in a small portion of the screen… the MacBook Pro has a 1440&#215;900 resolution.</p>
<p>Some notes on different games I&#39;ve tried:</p>
<p><img src="https://rubenerd.com/files/uploads/media.game_bc.jpg" alt="Bridge Commander"/><br />
I edited the <kbd>options.cfg</kbd> file as per the instructions on <a href="http://bridgecommander.3dactionplanet.gamespy.com/phpBB/viewtopic.php?t=18570&#038;highlight=resolution+options">this site</a> to use height: 900 and width: 1440, but it crashes when I try playing the actual game (the main menu loads fine). For the time being, looks like I&#39;m stuck with 1024&#215;768.</p>
<p><img src="https://rubenerd.com/files/uploads/media.game_ts.jpg" alt="Train Simulator"/><br />
Works perfetly, but still stuck in 1024&#215;768 as well, haven&#39;t found any way to alter this yet.</p>
<p><img src="https://rubenerd.com/files/uploads/media.game_mm2.gif" alt="Midtown Madness 2: San Francisco &#038; London" /><br />
Works perfectly, graphics are awesome and utilises the full screen resolution :D. To make it work (as with any Windows XP systsem) you need to download <a href="http://www.microsoft.com/games/midtown2/">this official patch</a> from Microsoft, then you&#39;re good to go! If you don&#39;t have a copy of Midtown Madness 2, you can even download an <a href="http://www.microsoft.com/games/midtown2/">official demo!</a></p>
<p><img src="https://rubenerd.com/files/uploads/media.game_hlcs.jpg" alt="Counter-Strike 1.6"/><br />
Of course, the ultimate Windows game of all time! Works flawlessly at the full resolution of the MacBook Pro, classic LAN gaming here I come :D.</p>
<p><img src="https://rubenerd.com/files/uploads/media.game_sol.gif" alt="Solitaire"/><br />
And of course, a game review wouldn&#39;t be complete without Solitaire! How does it perform? Well the MacBook Pro&#39;s graphics card is more than able to move card images across a screen with ease ;).</p>
<p>More will be added as I find them.</p>
 
