---
title: 'Yogi Berra Quote' 
date: "2006-09-02T07:39:59+10:00"
year: "2006"
category: Thoughts 
tag: 
- funny
- quotes
- simpletagged 
---
<p><img src="https://rubenerd.com/files/uploads/media.Yogi_Berra.jpg" alt="" /></p>
<blockquote><p>&#8220;It’s like deja vu all over again!&#8221;<br />
&#8211; Yogi Berra</p></blockquote>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http:://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: yogi berra" href="http://technorati.com/tag/yogi-berra">yogi berra</a>,
<a title="Technorati tag: quotes" href="http://technorati.com/tag/quotes">quotes</a>,
<a title="Technorati tag: funny" href="http://technorati.com/tag/funny">funny</a></p>
 
