---
title: 'You Heard Me! Don’t Shut Down the UN!' 
date: "2006-10-30T10:06:56+10:00"
year: "2006"
category: Thoughts 
tag: 
- news
- simpletagged 
---
<p><a href="http://www.dontshutdowntheun.org/"><img src="http://www.dontshutdowntheun.org/images/gifs/400_240_anim.gif" alt="Don't Shut Down the UN.org, Send a message to world leaders." style="width:180px"/></a></p>
<p>Have you <a href="http://www.dontshutdowntheun.org/">signed the petition yet</a>?</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: un" href="http://technorati.com/tag/un">un</a>,
<a title="Technorati tag: united nations" href="http://technorati.com/tag/united-nations">united nations</a></p>
 
