---
title: 'You Can’t Fight Evil in High Heels' 
date: "2006-03-23T08:23:02+10:00"
year: "2006"
category: Anime 
tag: 
- gaming
- hino-rei
- japanese 
- sailor-mars
- sailor-moon
---
<p>While I was looking for a picture for the XBox post below I saw the latest reincarnation of Techmo&#39;s Dead or Alive fighting game series, I think they&#39;re up to version 920 or something.</p>
<p><img src="https://rubenerd.com/files/uploads/media.hh_lf.jpg" alt="Screenshot of Leifang showing her wearing heels." /></p>
<p>I know anime computer games don&#39;t exactly adhere to any laws of physics, but how can you fight people when you&#39;re wearing high heels? Most people have enough difficulty just walking in them! :D. Not that I would know personally…</p>
<p>Reminds me of what my sister used to say about PS Sailor Moon: &quot;you can&#39;t fight evil in high heels!&quot;</p>
<p><img src="https://rubenerd.com/files/uploads/media.hh_mars.jpg" alt="Key visual of Hino Rei from Sailor Moon showing her red heels." /></p>
 
