{{ partial "head.html" . }}
{{ partial "header.html" . }}

<article class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
  <h2 class="post-title" itemprop="name headline"><a itemprop="url" href="{{ .Permalink }}">{{ .Title }}</a></h2>
  <div class="post-content" itemprop="articleBody">
    {{ .Content }}
  </div>
  <div class="post-meta">
    {{ printf "<time itemprop=\"datePublished dateModified\" datetime=\"%s\">" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTML }}{{ .Date.Format "2006-01-02" }} </time>
    {{ with .Params.category }} <a href="/{{ . | urlize }}/">{{.}}</a>{{ end }}
  </div>
</article>

<nav id="pagination">
  <ul>
    {{ if .Prev }}<li id="page-previous"><a title="{{ .Prev.Date.Format "2006-01-02" }}: {{ .Prev.Title }}" href="{{ .Prev.RelPermalink }}">← Previous</a></li>{{ end }}
    {{ if .Next }}<li id="page-next"><a title="{{ .Next.Date.Format "2006-01-02" }}: {{ .Next.Title }}" href="{{ .Next.RelPermalink }}">Next →</a></li>{{ end }}
  </ul>
</nav>

{{ partial "footer.html" . }}
