{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}

<main>

<article class="archive" id="archive-{{ .Title | lower }}">
  {{ if eq .Title "Show" }}
  <h2><a href="/{{ .Title | lower }}/">Rubénerd Show</a></h2>
  {{ partial "podcast.html" . }}
  {{ else }}
  <h2><a href="/{{ .Title | lower }}/">{{ .Title }} Archive</a></h2>
  {{ end }}
  <p></p>
  <dl>{{ range .Data.Pages }}
    <dt><a href="{{ .Permalink }}">{{ .Title }}</a></dt>
    <dd><small><time>{{ .Date.Format "Monday 02 January 2006" }}</time></small></dd>
  {{ end }}</dl>
</article>

{{ partial "footer.html" . }}
