{{ partial "head.html" . }}
<main id="start">
{{ $paginator := .Paginate (where site.RegularPages "Type" "post") }}{{ range $paginator.Pages }}
<article id="{{ .File.BaseFileName }}" itemprop="blogPost" itemscope="itemscope" itemtype="https://schema.org/BlogPosting" itemid="{{ .Permalink }}">
<h2 itemprop="name"><a itemprop="url" href="{{ .Permalink }}">{{ .Title }}</a></h2>
{{ printf "<time itemprop=\"datePublished\" datetime=\"%s\">" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTML }}{{ .Date.Format "Monday 02 January 2006" }}</time>
<div class="content" itemprop="articleBody">
{{ if .Truncated }}{{ .Summary }}<p><a href="{{ .Permalink }}">Read more&hellip;</a></p>{{ else }}{{ replace .Content "\n\n" "\n" | safeHTML }}{{ end }}</div>
<div itemprop="keywords" class="tags">{{ with .Params.Category }}<a href="/{{ lower . }}/">{{ lower . }}</a>{{ end }}{{ range .Params.Tag }}, <a href="/tag/{{ . }}/">{{ . }}</a>{{ end }}</div>{{ with .Params.Location }}
<meta itemprop="locationCreated" content="{{ . }}" />{{ end }}
<meta itemprop="wordCount" content="{{ .WordCount }}" />
</article>

<hr />{{ safeHTML "<!-- ***************************************************************** -->" }}
{{ end }}
</main>

<nav id="pagination">{{ if .Paginator.HasPrev }}<a id="page-newer" href="{{ .Paginator.Prev.URL }}">Newer posts</a> <span aria-hidden="true" class="page-arrow"> &larr;</span>{{ end }}
<span id="page-number">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
{{ if .Paginator.HasNext }}<span aria-hidden="true" class="page-arrow">&rarr;</span> <a id="page-older" href="{{ .Paginator.Next.URL }}">Older posts</a>{{ end }}
</nav>

{{ partial "sidebar.html" . }}
{{ partial "foot.html" . }}
