---
title: 'Great comment regarding my flat tax system post' 
date: "2007-01-02T11:05:03+10:00"
year: "2007"
category: Thoughts 
tag: 
- economics
- politics
- simpletagged 
---
<p><a href="//rubenerd.com/category/economics/"><img style="float:right; margin:0 0 10px 20px" id="image561" src="https://rubenerd.com/files/uploads/economics.png" alt="Ruben does economics" /></a></p>
<p>On the 22nd of November 2006 I posted <em><a href="//rubenerd.com/comparing-flat-tax-to-variable-tax/">Comparing Flat Tax to Variable Tax</a></em>, my rebuttal to the dubiously titled article <em><a href="http://www.worldviewweekend.com/secure/cwnetwork/article.php?ArticleID=1302">Understanding Tax Cuts: A Must Read For Children, Adults, Journalist and Absolutely for Liberals</a></em> article published on the right wing World View Weekend website that claimed, with no economic logic, that variable tax systems are evil.</p>
<p>Well just today I received one of the best comments I&#39;ve ever received for a post, by Chris in Australia:</p>
<blockquote><p>It’s interesting to note that America’s government debt increased the most during Reagan’s presidency, with his combination of huge tax cuts and his failure to cut government spending at the same time. That’s the problem with politicians who promise big tax cuts &#8211; they fail to cut the government spending and instead borrow the money from other sources, placing the public in debt. The same has happened under George W Bush.</p>
<p>The problem is that people don’t question how the government manages to cut taxes and then go on a spending spree, and end up rewarding politicians who do this by voting for them.</p>
</blockquote>
<p>Thanks for the great post Chris, I agree with you 110%.</p>
<p>One of the more interesting facts I discovered when reading Al Frankin&#39;s latest book is that George W. Bush is the first United States president in history to give tax cuts <em>during war</em>! This kind of short changing when the country needs the revenue the most, and when it has a record debt, is completely unsustainable.</p>
<p>You make a very valid point: how does a government service a tax cut when it itself owes vast amounts of money? It goes further into debt! I think it&#39;s in the interests of the American people to have a government that is working to resolve its debt for the long term rather than making itself look good in the short term, but we all know they&#39;re still going to do the latter.</p>
<p>I guess it&#39;s true what George W. Bush said himself: &quot;a dictatorship would be so much easier!&quot; ;).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: george bush" href="http://technorati.com/tag/george-bush">george bush</a>,
<a title="Technorati tag: economics" href="http://technorati.com/tag/economics">economics</a>,
<a title="Technorati tag: flat tax" href="http://technorati.com/tag/flat-tax">flat tax</a>,
<a title="Technorati tag: variable tax" href="http://technorati.com/tag/variable-tax">variable tax</a>,
<a title="Technorati tag: government debt" href="http://technorati.com/tag/government-debt">government debt</a></p>
 
