---
title: 'Dumbass psychos and KL back to normal lah' 
date: "2007-02-23T04:29:02+10:00"
year: "2007"
category: Internet
tag:
- chinese-new-year
- infocomm
- kuala-lumpur
- malaysia
- weblog 
---
<p><img src="http://farm1.static.flickr.com/78/182407730_1d43f8a7de.jpg?v=0" alt="" /></p>
<p>Well the Chinese New Year festivities are mostly over, and Kuala Lumpur seems to be getting back to normal. Peak hour traffic is back along the highway to Gita Bayu, most the dissapearing people <a href="//rubenerd.com/eerie-saturday-night-in-kuala-lumpur/">I posted about on Saturday</a> have reappeared again and the Coffee Bean and Tea Leaf in KLCC is full of business people and students once more ;).</p>
<p>Took my mum yesterday <a href="http://www.gimc.com.my/">to the hospital</a> for her weekly chemo and all the beds in the therapy ward were taken again. Guess people didn&#39;t want to be sick during their lunar new year break either; understandable. Those chemicals they give you are nasty SOBs.</p>
<p>Obligatory Malaysian flag post:</p>
<p><img id="image677" src="https://rubenerd.com/files/uploads/flag-malaysia.png" alt="Malaysian Flag" /></p>
<p>Some people have the whole week off though, so I guess we won&#39;t see a full change until Monday, but walking around here it certainly feels like the bustle is back. So much so that I&#39;ve even got <a href="//rubenerd.com/eerie-saturday-night-in-kuala-lumpur/#comment-3496">my first blog comment from a Malaysian</a>!:</p>
<blockquote><p>all the chinese went back to their respective hometowns (me included), cant imagine how deserted KL was :p</p></blockquote>
<p>I was going to respond and say g&#39;day, but her latest comment on <a href="http://julee.blogspot.com/2007/02/get-life.html">her blog she linked to</a> made me think twice… ahem:</p>
<blockquote><p>This is what i get when i approve lame dumbass psychos online, i swear it happens more often than i can even say fcuk off. I’ve blocked a couple dozens of them. Oh go out and socialize you poor bastards.</p></blockquote>
<p>And I&#39;m an <strong><em>Aussie-living-in-Asia student ang moh too</em></strong>, we&#39;re the worst kind of dumbass phychos who need to socialise! ;). I mean, look at that freak!</p>
<p><a href="//rubenerd.com/about"><img src="https://static.flickr.com/97/218746355_846375fea1_m.jpg" alt="" /></a></p>
 
