---
title: 'Making Camino look like a Leopard app' 
date: "2007-10-29T02:04:51+10:00"
year: "2007"
category: Software
tag:
- apple
- aqua
- browsers
- camino
- guide
- howto
- infocomm
- leopard
- mac-os-x
- mozilla 
---
<p><img src="https://rubenerd.com/files/2007/1791334686_38486e7012_o@1x.jpg" srcset="https://rubenerd.com/files/2007/1791334686_38486e7012_o@1x.jpg 1x, https://rubenerd.com/files/2007/1791334686_38486e7012_o@2x.jpg 2x" alt="Making Camino look like a Leopard app" style="width:500px; height:312px;" /></p>
<p>With Mac OS X Leopard&#39;s much needed move to a unified interface (aka: Burnt Aqua) some of the applications designed to look sexy in Tiger are left looking a bit silly with their white lines in Leopard. One case is my favourite web browser of all time: <a href="http://caminobrowser.org/">Camino</a>.</p>
<p>Fortunately with a few quick tweaks I was able to bring Camino into the Leopard generation… <em>kinda</em>!</p>
<ol>
<li>Install <a href="http://pimpmycamino.com/parts/unifycamino">UnifyCamino</a>. Go to &quot;<code>Camino &#8594; Preferences…</code>&quot; and click the new &quot;<code>UnifyCamino</code>&quot; option.</li>
<li>Set the &#8220;Shade&#8221; scrollbar to about 60% and choose &#8220;Suppress the toolbar divider</li>
<li>Under &quot;<code>Other interface elements:</code>&quot; choose &quot;<code>Streamlined tabs and status bar</code>&quot;</li>
<li>Download the <a href="http://pimpmycamino.com/parts/leopard-v15">Leopard Iconset</a>. Control+Click Camino.app and choose &quot;<code>Show Package Contents</code>&quot;. Copy the downloaded images to &quot;<code>./Contents/Resources/</code>&quot;</li>
<li>Click &quot;<code>View &#8594; Customise Toolbar</code>&quot; and change the size of the icons to small.</li>
</ol>
<p>That&#39;s the closest I&#39;ve been able to get to mimicking the OS X Leopard interface look in Camino 1.5.2.</p>
<p>Post a comment here if you have any other suggestions <span class="emoticon">^^</span>.</p>
 
