---
title: 'Monday on Anything but Rubenerd. I mean…' 
date: "2007-03-16T06:23:16+10:00"
year: "2007"
category: Media
tag:
- abm
- new-time-radio
- podcasting 
---
<p><img src="https://rubenerd.com/files/uploads/abmshow_free_144.jpg" alt="Anything but Monday" style="float:right; margin: 0 0 10px 20px" /></p>
<p>As of today I&#39;ve been offered a part in the next <a href="http://www.abmshow.com/">Anything but Monday</a> show, the podcast by Frank Edward Nora and Mad Mike Masters through one of their Skypecasts. Booh yah!</p>
<p>I reviewed the Anything but Monday programme on <a href="//rubenerd.com/show221/">Rubenerd Show 221</a> on Monday (I thought it an appropriate day of the week), and I posted regarding the dilemma I faced with paying for it back on the <a href="//rubenerd.com/anything-but-monday-show/">21st of February</a>.</p>
<p>As a sign of thanks Frank even gave me an Anything but Monday present as well! Here&#39;s hoping I won&#39;t be verbally torn to shreds by Mad Mike for my Kuala Lumpur comment retaliation :D.</p>
<p>Space this watch, um, watch this space.</p>
 
