---
title: 'Nokia e61i screenshot of iPhone site' 
date: "2007-10-01T09:57:34+10:00"
year: "2007"
category: Hardware 
tag:
- 3g
- apple
- infocomm
- iphone
- itelephone
- mobile-web
- nokia
- nokia-e61i
- pda
- phones
- screenshots
- singtel
- telcos
- browsers
---
<p><img src="https://rubenerd.com/files/2007/1467181069_01a114fc7a_o.jpg" alt="Screenshot from my Nokia e61i" style="width:320px; height:240px;" /></p>

<p>Is that irony or is that irony? :-)</p>
 
