---
title: 'Pet Shop Boys at SingFest 2007!' 
date: "2007-08-10T02:00:06+10:00"
year: "2007"
category: Media
tag:
- concert
- fort-canning
- fort-canning-hill
- fort-canning-park
- lyrics
- music
- pet-shop-boys
- photos
- singapore
- singfest
- singfest-2007
- suberbia 
---
<p><em>This is part two of my <a href="//rubenerd.com/singfest-2007/">SingFest 2007 post</a>.</em></p>
<p><span style="font-style:italic">I really wanted to take good photos, but given it was just a stage behind metal gates on Fort Canning Hill I was worried my prosumer might get damaged, so I bit the bullet and just took pictures with my camera phone. As you can expect from a camera the quality was horrendous, but it was still fun :)</span></p>
<p>By 2300 the crowd had died down and we stood there as the guys in black assembled the stage for the Pet Shop Boys! It looked really complicated, the lighting crew projected a grid onto the stage to help set up all the LEDs and fluorescent tubes… it took them well over half an hour.</p>
<p><a href="http://www.zooomr.com/photos/rubenerd/2902043/"><img src="http://static.zooomr.com/images/2902043_e8bf1c0cec.jpg?r=320" alt="Setting up the stage" height="375" width="500" /></a></p>
<p>To say the Pet Shop Boys put on an amazing show would be a <strong>criminally punishable understatement</strong>. When Neil Tennent and Chris Lowe walked onto the stage from opposite sides the crowd nearly exploded. It&#39;s bothering me that I can&#39;t remember what exactly he said, but when Neil came to the front and exclaimed we&#39;d be having a visual and audio entertainment experience, he wasn&#39;t lying!</p>
<p><a href="http://www.zooomr.com/photos/rubenerd/2902021/"><img src="http://static.zooomr.com/images/2902021_9a67f693a3.jpg?r=320" alt="The Pet Shop Boys!" height="375" width="500" /></a></p>
<p>Each song had it&#39;s own background images projected onto the rear of the stage and their own carefully timed and precisely placed lighting which made each song seem almost like a &quot;electronic musical&quot;, I really don&#39;t know how else to describe it.</p>
<p><a href="http://www.zooomr.com/photos/rubenerd/2902056/"><img src="http://static.zooomr.com/images/2902056_bec24146ec.jpg?r=320" alt="The Pet Shop Boys!" height="375" width="500" /></a></p>
<p>The costumes for each song in the performance were amazing, though Nick did comment after the first set that &quot;Singapore is pretty hot, isn&#39;t it?&quot;. With his signature long coat taled suit and long pants I really was surprised he didn&#39;t boil!</p>
<p><a href="http://www.zooomr.com/photos/rubenerd/2902050/"><img src="http://static.zooomr.com/images/2902050_b506c0ba4b.jpg?r=320" alt="The Pet Shop Boys!" height="375" width="500" /></a></p>
<p>By the time they left the stage the crowd kept chanting for more, so the came out and did two more songs! They didn&#39;t have any more carefully decided animated backgrounds obviously, but they did the next best thing and arraged on the spot some of the light tubes in the shape of a cross and sang <em>It&#39;s a Sin</em>.</p>
<p><a href="http://www.zooomr.com/photos/rubenerd/2902024/"><img src="http://static.zooomr.com/images/2902024_971a3dd23c.jpg?r=320" alt="The Pet Shop Boys!" height="375" width="500" /></a></p>
<p>But the best song of all was at the end when everyone came on stage and sang <em>Go West!</em>. Everyone on the hill was waving their fists to their left, except for a couple of girls in ther front row who pointed in the wrong direction which I thought was pretty funny :). Neil introduced all the singers and his producer, then they disappeared behind the set.</p>
<p><a href="http://www.zooomr.com/photos/rubenerd/2902062/"><img src="http://static.zooomr.com/images/2902062_2d551c288b.jpg?r=320" alt="The Pet Shop Boys!" height="375" width="500" /></a></p>
<p>I&#39;m not sure whether to say it was the best music concert I ever saw because they didn&#39;t really put on a concert, it was again more of a musical or stage show set to music… I&#39;m sure I&#39;ll never see anything quite the same again. Unless I see the Pet Shop Boys somewhere else ;).</p>
<p><a href="http://www.zooomr.com/photos/rubenerd/2902033/"><img src="http://static.zooomr.com/images/2902033_7dd1958656.jpg?r=320" alt="The Pet Shop Boys!" height="375" width="500" /></a></p>
<p>All in all a great night, so much so that I used <a href="http://twitter.com/rubenerd/">Twitter</a> from my PDA phone the whole night. Hey, it was my first non-Jazz, non-Clasical concert, I need to transition ;).</p>
<p><span style="font-style:italic">I&#39;ve got more photos <a href="http://www.zooomr.com/photos/rubenerd/">on my Zooomr page</a> if you&#39;re as obsessed with the Pet Shop Boys as I am ;)</span></p>
<blockquote><p>
<strong>Good evening Singapore, how are we?</strong><br />
<strong>We continue our musical journey… in Suburbia!</strong></p>
<p>Lost in the high street, where the dogs run<br />
Roaming suburban boys<br />
Mother’s got a hairdo to be done<br />
She says they’re too old for toys<br />
Stood by the bus stop with a felt pen<br />
In this suburban hell<br />
And in the distance a police car<br />
To break the suburban spell</p>
<p>Let’s take a ride, and run with the dogs tonight<br />
In Suburbia<br />
You can’t hide, run with the dogs tonight<br />
In Suburbia</p>
<p>Break the window by the town hall<br />
Listen, the siren screams<br />
There in the distance, like a roll call<br />
Of all the suburban dreams</p>
<p>Let’s take a ride, and run with the dogs tonight<br />
In Suburbia<br />
You can’t hide, run with the dogs tonight<br />
In Suburbia</p>
<p>I only wanted something else to do but hang around<br />
I only wanted something else to do but hang around<br />
I only wanted something else to do but hang around<br />
I only wanted something else to do but hang around</p>
<p>It’s on the front page of the papers<br />
This is their hour of need<br />
Where’s a policeman when you need one<br />
To blame the colour TV?</p>
<p>Let’s take a ride, and run with the dogs tonight<br />
In Suburbia<br />
You can’t hide, run with the dogs tonight<br />
In Suburbia</p>
<p>Take a ride, and run with the dogs tonight<br />
In Suburbia<br />
You can’t hide, run with the dogs tonight<br />
In Suburbia</p>
<p>Run with the dogs tonight<br />
In Suburbia<br />
You can’t hide<br />
In Suburbia… In Suburbia… In Suburbia… In Suburbia… In Suburbia
</p></blockquote>
 
