---
title: 'Ruben takes issue with Anything but Monday again!' 
date: "2007-03-24T08:43:18+10:00"
year: "2007"
category: Media
tag:
- abm
- economics
- funny
- japanese
- new-time-radio
- new-york
- north-america
- podcasting
- singapore 
---
<p><a href="http://abmshow.com/"><img src="https://rubenerd.com/files/uploads/abmshow_free_144.jpg" alt="Anything but Monday" style="float:right; margin: 0 0 10px 20px" /></a> If you listened to <a href="//rubenerd.com/show221">Rubenerd Show 221</a> you would know that while I think the <a href="http://abmshow.com/blog/">Anything but Monday radio programme</a> is good Mad Mike&#39;s comments on Kuala Lumpur were <em>no good lah</em>! Anyway since then on <a href="http://abmshow.com/blog/archives/37">Anything but Monday number 5</a> Mad Mike explained his position, we had a good laugh and everything is just peachy :).</p>
<p>Now I must take aim at my good buddy Frank Edward Nora, the other host of the Anything but Monday show. On the same aforementioned episode he commented that New York is the greatest city in the world. Only one problem with Frank&#39;s logic: New York <em>isn&#39;t</em> the greatest city in the world! It&#39;s actually a tie between Singapore and Tokyo! Remember, you read it here first!</p>
<p>Think about it, Singapore is the fourth biggest centre for currency trading in the world, and it has only 4.5 million people… per capita it would be the biggest! It&#39;s also been rated number one place in the world to do business according to The Economist according to Wikipedia. Plus it&#39;s one of the few places in the world that will allow the import of locally-untested medicines at the recommendation of qualified doctors, meaning my mum is getting some of the best cancer treatments in the world! YEAH!</p>
<p><img id="image708" src="https://rubenerd.com/files/uploads/skyline_sg.jpg" alt="Singapore" /></p>
<p>And Tokyo of course rocks because… well, because the Japanese girls I met in KL thought I was cute and Tokyo would be full of them… ahem. No further explanation necessary ;).</p>
<p>An added bonus as well, people in Tokyo and Singapore also <em>drive on the correct side of the road</em> like us Aussies and like the Brits: on the left, they both use the SI/decimal/metric system along with their decimal currencies and they&#39;re both much cheaper to access from Australia too. Plus the Japanese send more tourists (and tourism dollars!) to Australia than anyone else, and the Singaporeans are amongst the biggest investors in Australian real estate and financial services, so they must be on to something! :D</p>
<p><img id="image710" src="https://rubenerd.com/files/uploads/skyline_tokyo.jpg" alt="Tokyo" /></p>
<p>So Frank, I agree that New York is awesome, I&#39;d love to go there one day, and it&#39;s certainly <em>one of the greatest</em> cities in the world, but it&#39;s not the <em>greatest </em>city in the world! :D</p>
<p>Now who wants to go get some prata or bento?</p>
<p><img id="image711" src="https://rubenerd.com/files/uploads/230px-flag_of_singaporesvg.png" alt="Singapore" /> <img id="image712" src="https://rubenerd.com/files/uploads/230px-flag_of_singaporesvg-1.png" alt="Japan" /></p>
 
