---
title: 'Servage takes site offline for 3 days' 
date: "2007-10-27T06:55:20+10:00"
year: "2007"
category: Internet
tag:
- infocomm
- mysql
- servage
- webhost
- weblog 
---
<p>Well <a href="http://servage.net">Servage</a> went and did it again. For the second time in a year their service was interrupted for more than two consecutive days. This time they stuffed up the MySQL server where all my WordPress installations are stored:</p>

<p><img src="https://rubenerd.com/files/2007/1743886966_f7aa8aeb1b_o@1x.jpg" srcset="https://rubenerd.com/files/2007/1743886966_f7aa8aeb1b_o@1x.jpg 1x, https://rubenerd.com/files/2007/1743886966_f7aa8aeb1b_o@2x.png 2x" alt="Servage's status page" style="width:500px; height:372px;" /></p>

<p>You read it right: they claimed <em>it will cause slowness</em>. I think they were supposed to say <em>not work at all!</em></p>

<p>With the release of OS X Leopard last night, it was if they looked up one of the most important days of the year for this site and made it their mission to take it offline during that time. One of those things that no doubt will be hilarious in a few months, but for now is maddening.</p>

<p>Anyway so the SQL server seems to be having intermittent periods of responsiveness in amongst the phonebook length pages of errors, giving me just enough time to post this message. Word to those who want a reliable web host that has decent uptime and warns you in advance before they take your site offline for <em>several days at a time</em>, stay well clear of <a href="http://servage.net">Servage</a>.</p>
 
