---
title: 'Singapore humble on Google Maps!' 
date: "2007-04-08T06:59:38+10:00"
year: "2007"
category: Internet
tag:
- google
- infocomm
- screenshots
- singapore 
---
<p>Sometimes when you&#39;re in Singapore or have been there before you forget just how friggen small it is. While you&#39;re there it feels like you&#39;re in large city, and it&#39;s easy to forget that outside that large city, there&#39;s… nothing more! No suburbia, no endless plains, nothing.</p>
<p>Case in point I was looking at Google Earth. Singapore is the only city/country in the region that has had its roads and whatnot traced so far. What it shows is something that just looks spooky:</p>
<p><img id="image720" src="https://rubenerd.com/files/uploads/humblesingapore.png" alt="humblesingapore.png" /></p>
<p>That&#39;s the entire friggen country! There are more than 4.5 million people living on that thing that&#39;s less than 50km&#39;s wide! The landmass to the left and most of the islands south of Singapore are part of Indonesia, the landmass directly above Singapore is Malaysia.</p>
<p>You can view it for yourself <a href="https://www.openstreetmap.org/relation/1769123">here</a>.</p>
<p><img id="image722" src="https://rubenerd.com/files/uploads/humblesingapore2.png" alt="humblesingapore2.png" /></p>
<p><img id="image723" src="https://rubenerd.com/files/uploads/humblesingapore3.png" alt="humblesingapore3.png" /></p>
 
