---
title: 'The all new Rubenerd Blog is online!' 
date: "2007-01-03T07:48:19+10:00"
year: "2007"
category: Internet
tag:
- infocomm
- personal
- quotes
- simpletagged
- weblog 
---
<p>Coming to you live from the <a href="http://www.sfcoffee.com/sfc/en/">San Francisco Coffee House</a> in Mid Valley Mega Mall in Kuala Lumpur! Drumroll please…</p>
<p>After millions of hours of blood, sweat and tiers (<a href="http://www.redhillconsulting.com.au/blogs/james/">thanks for that line James</a> ;) ) the updated 2007 <a href="//rubenerd.com/">Rubenerd Blog</a> skin has finally been rolled out. I&#39;ll be mirroring the same design onto the <a href="//rubenerd.com/show/">Rubenerd Show</a> site soon too, but I thought I&#39;d field test it here first.</p>
<h3>Rubenerd Blog c.2006</h3>
<p><img id="image597" src="https://rubenerd.com/files/uploads/rubenerdblog3.png" alt="Rubenerd Blog version 3" /></p>
<h3>Rubenerd Blog c.2007</h3>
<p><img id="image598" src="https://rubenerd.com/files/uploads/rubenerdblog4.png" alt="Rubenerd Blog version 4" /></p>
<p>The biggest challenge when updating this design? <a href="http://stopie.com/">Internet Explorer</a>! I got the design down pat and working in Gecko and WebKit without modification, but loading it up in good old IE6 broke more of the page than I thought would have been possible! Internet Explorer 7 was marginally better, but with so many people still running their XP machines without updates we&#39;ll probably have to continue writing out IE6 CSS hacks for a long time to come.</p>
<p>Steven Colbert from the Colbert Report and Jimbob Kloss from <a href="http://wholewheatradio.org/">Whole Wheat Radio</a> both say that people who have blogs and podcasts that simply talk about their blogs and podcasts are no good. If you agree, then please disregard this post ;).</p>
<p><a title="Favourite this blog on Technorati!" href="http://technorati.com/faves?sub=addfavbtn&amp;add=http://rubenerd.com"><img src="https://rubenerd.com/files/uploads/technorati-button.png" alt="Favourite this blog on Technorati!" style="width:80px; height:15px;" /></a>
<a title="Technorati tag: rubenerd blog" href="http://technorati.com/tag/rubenerd-blog">rubenerd blog</a>,
<a title="Technorati tag: internet explorer" href="http://technorati.com/tag/internet-explorer">internet explorer</a>,
<a title="Technorati tag: internet exploror 6" href="http://technorati.com/tag/internet-exploror-6">internet exploror 6</a>,
<a title="Technorati tag: jimbob kloss" href="http://technorati.com/tag/jimbob-kloss">jimbob kloss</a>,
<a title="Technorati tag: whole wheat radio" href="http://technorati.com/tag/whole-wheat-radio">whole wheat radio</a>,
<a title="Technorati tag: steven colbert" href="http://technorati.com/tag/steven-colbert">steven colbert</a>,
<a title="Technorati tag: css" href="http://technorati.com/tag/css">css</a>,
<a title="Technorati tag: css hacks" href="http://technorati.com/tag/css-hacks">css hacks</a></p>
 
