---
title: 'Watching Leo Laporte at 0400!' 
date: "2007-11-22T12:19:08+10:00"
year: "2007"
category: Media
tag:
- leo-laporte
- macbreak-weekly
- news
- podcasting
- this-week-in-tech
- twit
- ustreamtv 
---
<p><img src="https://rubenerd.com/files/uploads/twittime.png" alt="Timezone differences are a bum!" style="width:420px; height:144px;" /></p>
<p>The problem with living in the 0800+ time zone (Singapore, China, Hong Kong, Perth etc) is that aside from Australia most cool English-language produced stuff online is either in Western Europe or North America which can be problematic for someone here when shows are broadcast live… over there! <strong>It means I either need to get up at a ridiculously early hour or go to bed at a ridiculously late hour which for someone who has lots of stuff to do all the time is not always feasible!</strong></p>
<p>Nevertheless <a href="http://twit.tv/">I can now add TWiT</a> along side the <a href="http://wholewheatradio.org/">Whole Wheat Radio</a> morning wheat berry broadcast from Alaska to my list of shows I&#39;ve stayed up late for, and have stuffed up my sleeping and work patterns for the whole next day!</p>

<p><img src="https://rubenerd.com/files/2007/2050195473_2607a9e18f_o@1x.jpg" srcset="https://rubenerd.com/files/2007/2050195473_2607a9e18f_o@1x.jpg 1x, https://rubenerd.com/files/2007/2050195473_2607a9e18f_o@2x.jpg 2x" alt="Watching Leo Laporte at 04:00am Singapore time!" style="width:500px" /><br /><cite>Watching Leo Laporte at 04:00am Singapore time!</cite></p>

<p>I watched <a href="http://leoville.com/">Leo Laporte</a> record the latest episodes of <a href="http://twit.tv/sn/">Security Now </a> and <a href="http://twit.tv/mbw/">MacBreak Weekly</a> using his UstreamTV feed <a href="http://twit.tv/live/">on the TWiT website</a>; it was wild! Better still for the first time I also joined the <a href="irc://irc.dslextreme.com">irc.dslextreme.com</a> IRC chat room with <a href="http://colloquy.info/">Colloquy</a> and not only was able to send messages to Leo while he was editing the shows <em>which he replied to</em> but I also subscribed to a whole bunch of cool new people from around the world on Twitter as well!</p>
<p>One of the people on IRC suggested that <strong>this is real Reality TV</strong>! I&#39;d rather watch Leo editing audio files and taking about cool stuff with his listeners after the recording is over than some sleazy and predictable reality TV show on a network or cable TV channel. Then again that&#39;s really not saying much is it? Leo, I didn&#39;t mean it like that ;).</p>
<p><a href="//rubenerd.com/files/uploads/screenie.leolive.png"><img src="https://rubenerd.com/files/uploads/screenie.leolive.jpg" alt="IRC TWiT chatroom" /></a></p>
<p>It is a great system because I can&#39;t watch The Lab with Leo here. Fortunately I&#39;ll be able to when I go back to Australia for my final year of uni.</p>
<p>So a big thanks to Leo for showing me what it&#39;s like to record and edit your fine shows, was lots of fun :).</p>
<p>Now I just need to figure out next time if it&#39;s worth going to bed early and waking up at 04:00am instead of staying up that late. Hey, I could listen to Whole Wheat Radio, then watch TWiT. Who needs sleep?</p>
 
