---
title: 'Weekly Rubenerd Show announcement' 
date: "2007-03-08T06:01:17+10:00"
year: "2007"
category: Media
tag:
- audio-magazines
- new-time-radio
- podcasting 
---
<p><a href="//rubenerd.com/show/"><img style="float:right; margin: 0 0 10px 20px" src="https://rubenerd.com/files/uploads/logo.show240.png" alt="Rubenerd Show!" /></a></p>
<p>It&#39;s with a heavy conscience (does that make sense?) that I announce I&#39;ve decided to make the <a href="//rubenerd.com/show/">Rubenerd Show</a> a <em>weekly programme</em> again instead of weeknightly; mostly due to the numerous delays regarding previous shows but also because of my ever increasing workload at university, my two jobs and the responsibility of looking after my mum which I could not have forseen back in 2005.</p>
<p>Each show will now be <em>45 minutes</em> long and will be released <em>each week</em>, probably on Monday mornings Singapore/KL time so I have most of Sunday to record it. One long programme is far easier to produce than many small programmes, and it will give me the opportunity to reintroduce my pointless but very fun segments from the Episode 70+ era such as <em>Will it Sink</em>, <em>The Top 5</em>, <em>Something Stupid</em>, <em>A Little More Serious</em>, <em>Now for Something Completely Different</em>, <em>Frank Edward Nora What?</em> as well as free song reviews and so forth.</p>
<p>I will also aim each week to have a special guest to talk about crap and stuff (pun intended). I have five people so far interested which should keep me going until April; but I&#39;ll be on the lookout for more.</p>
<p>Given the fact I&#39;m moving myself over to open source software I understand how difficult it is to play MP3s in Linux, FreeBSD and so forth so doing one episode a week (aka: less overhead) will also allow me to export the shows as OGG Vorbis files as well. I may even consider exporting a higher quality 192Kb/s version as well given the fact I&#39;ll be playing music; plus also it&#39;s obviously clearer and easier to understand than the current 64Kb/s format which quite frankly to me sounds like I&#39;m talking through water ;).</p>
<p>It&#39;s in the planning stages at the moment so feel free to post on this entry or over on the <a href="//rubenerd.com/show/forum/">Rubenerd Forum</a> if you have any comments.</p>
<p>Thanks again everyone, will be in touch soon<br />
  &#8211; <cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
 
