---
title: "Rubenerd Show 185: The Atheists celebrating Christmas episode"
date: "2006-11-27T20:08:38+08:00"
thumb: "https://archive.org/download/RubenerdShow185/Side185.png"
year: "2006"
abstract: '10:00 – Exploding Yakult probiotic containers, Hahndorf in the Adelaide Hills, Christmas decorations (on Rubenerd Show), and Rubenerd Blog, Atheists celebrating Christmas (Tim Li, it happens!), the Servage Christmas Competition, and Elke throwing Yakult!'
enclosure_file: "https://archive.org/download/RubenerdShow185/RubenerdShow185.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow185/Side185.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow185/RubenerdShow185.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow185/RubenerdShow185.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Exploding <a href="http://yakult.co.jp/english/">Yakult probiotic</a> containers, <a href="http://en.wikipedia.org/wiki/Hahndorf,_South_Australia">Hahndorf in the Adelaide Hills</a>, Christmas decorations (on <a href="https://rubenerd.com/show/">Rubenerd Show</a>), and <a href="https://rubenerd.com/show/blog/">Rubenerd Blog</a>, Atheists celebrating Christmas (Tim Li, it happens!), the <a href="http://www.servage.net/?coupon=cust11858">Servage Christmas Competition</a>, and <em>Elke throwing Yakult!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
