---
title: "Rubenerd Show 140: Tonight is the the coffee franchise episode"
date: "2006-07-31T11:24:23+08:00"
thumb: "https://archive.org/download/RubenerdShow140/Side140.png"
year: "2006"
abstract: '10:00 – University has officially got hard again (computer science, economics), Australian coffee chains reacting to Starbucks with patriotism, school years starting at the beginning of the year, The Top Five (Signs you’re listening to a bad podcast) MadPlayers eating lithium batteries, and what a podcaster can pick up for four bucks.'
enclosure_file: "https://archive.org/download/RubenerdShow140/RubenerdShow140.mp3"
enclosure_size: 4823366
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow140/Side140.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow140/RubenerdShow140.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow140/RubenerdShow140.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – University has officially got hard again (computer science, economics), Australian coffee chains reacting to Starbucks with patriotism, school years starting at the beginning of the year, The Top Five (Signs you&#39;re listening to a bad podcast) MadPlayers eating lithium batteries, and what a podcaster can pick up for four bucks.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
