---
title: "Rubenerd Show 373: The extinguisher episode"
date: "2018-02-19T19:22:54+11:00"
abstract: '01:04:49 – A discussion on adequate fire extinguisher deployment. Not to be taken seriously. Also cappuccinos, stomach flu, evenings, evolving vocations, writing, sodium lamp feedback from Chad Bowers, film anachronisms, John Nettles, undesirable bulb emissions, ElectroBOOM, a Kallen anime figure, Cyril Figgis, and other randomness. Audio from Back To Work, Security Now, and Who Ha. Recorded January 2018.'
thumb: "https://archive.org/download/RubenerdShow373/RubenerdShow373.png"
enclosure_file: "https://archive.org/download/RubenerdShow373/RubenerdShow373.mp3"
enclosure_size: "62147904"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:04:49"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow373/RubenerdShow373.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow373/RubenerdShow373.png" alt="Rubenerd Show 373" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow373/RubenerdShow373.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow373/RubenerdShow373.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:04:49</span> – A discussion on adequate fire extinguisher deployment. Not to be taken seriously. Also cappuccinos, stomach flu, evenings, evolving vocations, writing, <a href="https://rubenerd.com/show372/">sodium lamp feedback</a> from Chad Bowers, film anachronisms, John Nettles, undesirable bulb emissions, ElectroBOOM, a <a href="https://myfigurecollection.net/item/198">Kallen anime figure</a>, Cyril Figgis, and other randomness. Audio from <a href="http://5by5.tv/b2w/">Back To Work</a>, <a href="https://www.grc.com/sn/">Security Now</a>, and <a href="https://soundcloud.com/thewhoha/who-ha-khaki">Who Ha</a>. Recorded January 2018.</p>

<p class="show-licence">Recorded in North Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released February 2018 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

