---
title: "Rubenerd Show 146: The friendly Chinese girl in Starbucks episode"
date: "2006-08-08T22:12:25+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Ruben trying to speak Mandarin, talking to a Chinese high school girl in Starbucks (Japanese school uniforms not suited to the cold), Adelaide weather (freezing, the &quot;heat factor&quot;), high school not best years of my life (local Singaporean girls at work nicer), another John Howard Joke, and is drinking coffee masculine and macho?'
enclosure_file: "https://archive.org/download/RubenerdShow146/RubenerdShow146.mp3"
enclosure_size: 4823366
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow146/RubenerdShow146.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow146/RubenerdShow146.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow146/RubenerdShow146.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Ruben trying to speak Mandarin, talking to a Chinese high school girl in <a href="http://starbucks.com.au">Starbucks</a> (Japanese school uniforms not suited to the cold), Adelaide weather (freezing, the &quot;heat factor&quot;), high school not best years of my life (local Singaporean girls at work nicer), another John Howard Joke, and is drinking coffee masculine and macho?</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
