---
title: "Rubenerd Show 133: The banks, war and electic sucks episode"
date: "2006-07-20T18:49:31+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Lebanon-Israel Conflict (horrible situation, emergency contact details for Australian Citizens), sorry state of Australian banking (stingy ANZ internet banking, ridiculous ATM fees, bank fees compared to DBS, POSB in Singapore), Tokyo Institute of Tech students create AA battery powered aeroplane (news sources from Mainichi Japan and The Age Australia), winning a writing competition, and why Ruben hates the word &quot;Eclectic&quot;.'
enclosure_file: "https://archive.org/download/RubenerdShow133/RubenerdShow133.mp3"
enclosure_size: 4825710
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow133/RubenerdShow133.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow133/RubenerdShow133.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Lebanon-Israel Conflict (horrible situation, emergency contact details for Australian Citizens), sorry state of Australian banking (stingy ANZ internet banking, ridiculous ATM fees, bank fees compared to DBS, POSB in Singapore), Tokyo Institute of Tech students create AA battery powered aeroplane (news sources from <a href="http://mdn.mainichi-msn.co.jp/national/news/20060717p2a00m0na015000c.html">Mainichi Japan</a> and <a href="http://www.theage.com.au/news/Technology/Worlds-first-batterypowered-plane-flies-in-Japan/2006/07/17/1152988438285.html">The Age Australia</a>), winning a writing competition, and why Ruben hates the word &quot;Eclectic&quot;.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
