---
title: "Rubenerd Show 312: The Adelaide returns episode"
date: "2015-12-13T21:21:13+11:00"
year: "2015"
abstract: '01:22:00 – Travelling back to Adelaide, where I first went to university and where most of the early Rubenerd Shows were recorded in 2005! Clara from the Snake Tea Podcast joins in the pontifications about this beautiful little Australian city as we wander late at night. So much has stayed the same, yet so much has changed. Goodbye, Isobar!'
thumb: "https://archive.org/download/RubenerdShow312/RubenerdShow312.png"
enclosure_file: "https://archive.org/download/RubenerdShow312/RubenerdShow312.mp3"
enclosure_size: "81644971"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:22:00"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow312/RubenerdShow312.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow312/RubenerdShow312.png" alt="Rubenerd Show 312" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow312/RubenerdShow312.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow312/RubenerdShow312.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:22:00</span> – Travelling back to Adelaide, where I first went to university and where most of the early <em>Rubenerd Shows</em> were recorded in 2005! Clara from the <em><a href="http://onsug.com/archives/category/clara">Snake Tea Podcast</a></em> joins in the pontifications about this beautiful little Australian city as we wander late at night. So much has stayed the same, yet so much has changed. Goodbye, Isobar!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released December 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

