---
title: "Rubenerd Show 056: The fuck war episode"
date: "2005-11-13T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – My tribute to people who have died in war in light of the 11th hour of the 11th day of the 11th month which happened last Friday, why there is no justification for war, why we are the most efficient killing machines and playing the Australian National Anthem. In other topics discussing extreme weather around the world including the localised floods and extreme temperature variations that have swept Adelaide this week, my lack of energy and what the doctor found out what the cause was after I took a blood test, beakers full of salt and electrical current, and university exams and exam deferrals.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_56/RubenerdShow056.mp3.mp3"
enclosure_size: 9602807
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_56/RubenerdShow056.mp3.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_56/RubenerdShow056.mp3.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – My tribute to people who have died in war in light of the 11th hour of the 11th day of the 11th month which happened last Friday, why there is no justification for war, why we are the most efficient killing machines and playing the Australian National Anthem. In other topics discussing extreme weather around the world including the localised floods and extreme temperature variations that have swept Adelaide this week, my lack of energy and what the doctor found out what the cause was after I took a blood test, beakers full of salt and electrical current, and university exams and exam deferrals.</p>

<p><strong>Something To Think About Segment</strong>: Famous Australian Women.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
