---
title: "Rubenerd Show 267: The back in Adelaide reminiscing episode"
date: "2009-03-14T17:10:31+08:00"
thumb: "https://archive.org/download/RubenerdShow267/RubenerdShow267.180px.png"
year: "2009"
abstract: '20:55 – Back in Adelaide again; losing control of RubenerdShow.com for some reason; losing an episode source file again; a silly proposal for an onomatopoeic word to describe places; reminiscing about family trips to Ubud in Bali; our end of year holiday to Singapore; food poisoning isn’t as fun as the brochure said; our new family Christmas holiday ritual; story behind my beautiful shiny new Nikon D60 instead of getting a D40 or D40x; remembering I’m supposed to be keeping episodes under 20 minutes; and a lousy joke about wishing I had Nikon VR on my person!'
enclosure_file: "https://archive.org/download/RubenerdShow267/RubenerdShow267.mp3"
enclosure_size: 10041468
enclosure_duration: "20:55"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow267/RubenerdShow267.png"><img src="https://archive.org/download/RubenerdShow267/RubenerdShow267.180px.png" alt="Larger version of cover art" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow267/RubenerdShow267.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow267/RubenerdShow267.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:55</span> – Back in <a href="http://en.wikipedia.org/wiki/Adelaide">Adelaide</a> again; losing control of <a href="https://rubenerd.com/show/">RubenerdShow.com</a> for some reason; losing an episode source file again; a silly proposal for an onomatopoeic word to describe places; reminiscing about family trips to <a href="http://en.wikipedia.org/wiki/Ubud">Ubud</a> in Bali; our end of year holiday to Singapore; food poisoning isn&#39;t as fun as the brochure said; our new family Christmas holiday ritual; story behind my beautiful shiny new <a href="http://imaging.nikon.com/products/imaging/lineup/digitalcamera/slr/d60/index.htm">Nikon D60</a> instead of getting a D40 or D40x; remembering I&#39;m supposed to be keeping episodes under 20 minutes; and a lousy joke about wishing I had <a href="http://en.wikipedia.org/wiki/Image_stabilisation">Nikon VR</a> on my person!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
