---
title: "Rubenerd Show 042: The 42 episode"
date: "2005-09-07T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – The meaning of life the universe and everything! Talking about the all new Rubenerd Show format which you can actually hear for yourself, why I’m not the only one who can’t pronounce exerpt (courtesy of Esther Golton of Whole Wheat Radio!), my favourite and least favourite shows and why, another official Coffee Update, and also people I’d like to thank for the last few weeks (Felix Tanjono in the US, Israel J. Brown from Crap and Stuff, Laura Douglass in Canberra and Jaslyn Goh from Singapore).'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_042/RubenerdShow042.mp3"
enclosure_size: 6436512
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_042/RubenerdShow042.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_042/RubenerdShow042.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – The meaning of life the universe and everything! Talking about the all new Rubenerd Show format which you can actually hear for yourself, why I&#39;m not the only one who can&#39;t pronounce exerpt (courtesy of Esther Golton of Whole Wheat Radio!), my favourite and least favourite shows and why, another official Coffee Update, and also people I&#39;d like to thank for the last few weeks (Felix Tanjono in the US, Israel J. Brown from Crap and Stuff, Laura Douglass in Canberra and Jaslyn Goh from Singapore).</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
