---
title: "Rubenerd Show 275: The inscrutable six year mark episode"
date: "2015-06-08T12:36:00+10:00"
thumb: "https://archive.org/download/RubenerdShow275/RubenerdShow275.png"
year: "2015"
abstract: '49:04 – Topics include Hornsby, Singapore, New York City, the northern suburbs of Sydney, BBEdit, small business “startups”, commutes, Sydney Trains, Singapore MRT, scary parking, air suspension on Range Rovers, Australian Aboriginal names, Malaysia, Kuala Lumpur, New names, the VW Beetle, COEs, wanderlust, living out of boxes, The Overnightscape, the alleged Podcast Renaissance, discovering parks, and choosing alternate diverging time travel paths.'
enclosure_file: "https://archive.org/download/RubenerdShow275/RubenerdShow275.mp3"
enclosure_size: "47216505"
enclosure_type: "audio/mpeg"
enclosure_duration: "49:04"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow275/RubenerdShow275.png" alt="Rubenerd Show 275" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow275/RubenerdShow275.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow275/RubenerdShow275.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">49:04</span> – Topics include Hornsby, Singapore, New York City, the northern suburbs of Sydney, BBEdit, small business “startups”, commutes, Sydney Trains, Singapore MRT, scary parking, air suspension on Range Rovers, Australian Aboriginal names, Malaysia, Kuala Lumpur, New names, the VW Beetle, COEs, wanderlust, living out of boxes, <a href="http://theovernightscape.com/">The Overnightscape</a>, the alleged Podcast Renaissance, discovering parks, and choosing alternate diverging time travel paths.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade. 

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

