---
title: "Rubenerd Show 394: The hierarchical coffee episode"
date: "2019-04-15T17:30:09+10:00"
abstract: "43:59 — Join Ruben in a soulful, bronchital state; a word that almost certainly doesn’t exist. Topics include Maslow’s Hierarchy of Needs, secret apartment doors, Apple keyboards really are that bad, stabbing myself in the eye with a poster, Australia’s obsessive coffee culture, Arashiyama in Kyoto, and accidental beverages. Break song by the delightful Good Mythical Morning gents who trained a predictive text bot."
thumb: "https://archive.org/download/RubenerdShow394/RubenerdShow394.png"
enclosure_file: "https://archive.org/download/RubenerdShow394/RubenerdShow394.mp3"
enclosure_size: "42177190"
enclosure_type: "audio/mpeg"
enclosure_duration: "43:59"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow394/RubenerdShow394.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow394/RubenerdShow394.png" alt="Rubenerd Show 394" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow394/RubenerdShow394.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow394/RubenerdShow394.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">43:59</span> – Join Ruben in a soulful, bronchital state; a word that almost certainly doesn’t exist. Topics include Maslow’s Hierarchy of Needs, secret apartment doors, Apple keyboards really are that bad, stabbing myself in the eye with a poster, Australia’s obsessive coffee culture, Arashiyama in Kyoto, and accidental beverages. Break song by the delightful <a href="https://www.youtube.com/watch?v=5u_7jSPp3aw">Good Mythical Morning gents</a> who trained a predictive text bot.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released April 2019 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

