---
title: "Rubenerd Show 309: The Shambles episode"
date: "2015-11-30T15:24:19+11:00"
year: "2015"
abstract: '53:00 – A follow–up episode in Overnightscape Underground spirit to the latest Radio Free Shambles. Topics include podcast driving, libraries selling books and DVDs, ice and roller skating, George Harrison, physicals and checkups, Sherlock Holmes adaptations, Rubenerd Show 21 from 2005, and pouring to beat the band!'
thumb: "https://archive.org/download/RubenerdShow309/RubenerdShow309.png"
enclosure_file: "https://archive.org/download/RubenerdShow309/RubenerdShow309.mp3"
enclosure_size: "52470582"
enclosure_type: "audio/mpeg"
enclosure_duration: "53:00"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow309/RubenerdShow309.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow309/RubenerdShow309.png" alt="Rubenerd Show 309" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow309/RubenerdShow309.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow309/RubenerdShow309.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">53:00</span> – A follow–up episode in Overnightscape Underground spirit to the latest <a href="http://onsug.com/archives/author/shambles">Radio Free Shambles</a>. Topics include podcast driving, libraries selling books and DVDs, ice and roller skating, George Harrison, physicals and checkups, Sherlock Holmes adaptations, <a href="https://rubenerd.com/show021/">Rubenerd Show 21</a> from 2005, and pouring to beat the band!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released November 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

