---
title: "Rubenerd Show 108: The nice Singaporeans in Starbucks episode"
date: "2006-06-15T00:26:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – From the Rubenerd Dad’s study. Reluctantly adjusting chairs, Ruben’s Review (dual booting Mac OS X and Windows on a MacBook Pro, Windows gaming), Mini Rant Thursday, (Mac, XFce on NetBSD both more polished), The Top Five (Signs your back in South-East Asia), and nice Singaporean girls in Starbucks.'
enclosure_file: "https://archive.org/download/RubenerdShow108/RubenerdShow108.mp3"
enclosure_size: 4823202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow108/RubenerdShow108.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow108/RubenerdShow108.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – From the Rubenerd Dad&#39;s study. Reluctantly adjusting chairs, Ruben&#39;s Review (dual booting Mac OS X and Windows on a MacBook Pro, Windows gaming), Mini Rant Thursday, (Mac, <a href="http://xfce.org/">XFce</a> on NetBSD both more polished), The Top Five (Signs your back in South-East Asia), and nice Singaporean girls in <a href="http://www.starbucks.com.my">Starbucks</a>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
