---
title: "Rubenerd Show 098: The Singapore flashback episode"
date: "2006-05-31T21:51:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Mini Rant Thursday (people who chew with their mouths open, ISP claiming we’ve used our quota, John Cleese), coffee shop in Mawson Lakes, still can’t drive and a Singapore flashback (world class public transport, Anthony Bordain on NYC transport, the EZLink card: Octopus card for you HK peoples). Music by Israel Brown.'
enclosure_file: "https://archive.org/download/RubenerdShow098/RubenerdShow098.mp3"
enclosure_size: 3624802
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow098/RubenerdShow098.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow098/RubenerdShow098.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Mini Rant Thursday (people who chew with their mouths open, ISP claiming we&#39;ve used our quota, John Cleese), coffee shop in Mawson Lakes, still can&#39;t drive and a Singapore flashback (world class public transport, Anthony Bordain on NYC transport, the EZLink card: Octopus card for you HK peoples). Music by <a href="http://crapandstuff.com/">Israel Brown</a>.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
