---
title: "Rubenerd Show 013: The phantom unit episode"
date: "2005-06-04T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – The first week of the daily 15 minute shows is done! Talking about human stupidity, Netspace recap, Coca-Cola bottles, phantom unit inspections, more coffee cups, new listeners from around the world and clearing up the Kevin name issue.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_013/RubenerdShow013.mp3"
enclosure_size: 4686084
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_013/RubenerdShow013.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_013/RubenerdShow013.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – The first week of the daily 15 minute shows is done! Talking about human stupidity, Netspace recap, Coca-Cola bottles, phantom unit inspections, more coffee cups, new listeners from around the world and clearing up the Kevin name issue.</p>
  

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
