---
title: "Rubenerd Show 032: The reality TV dropping can passport episode"
date: "2005-07-02T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – The sorry state of Big Brother 2005 in Australia and reality television in general, dropping cans, stupid inventions (Hans Leg Ham Easy Tear Portion Packs), and how the Australian Government priority passport service… isn’t.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_032/RubenerdShow032.mp3"
enclosure_size: 6549615
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_032/RubenerdShow032.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_032/RubenerdShow032.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – The sorry state of Big Brother 2005 in Australia and reality television in general, dropping cans, stupid inventions (Hans Leg Ham Easy Tear Portion Packs), and how the Australian Government priority passport service… isn&#39;t.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
