---
title: "Rubenerd Show 184: The silly signs and Lion King nostalgia episode"
date: "2006-11-24T19:00:10+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – A cameo appearance by my dad Rainer Schade (with canned applause!), messing around with echo settings (Yamaha MG8/2Fx), Elton John’s Lion King song (I was 9 years old!), collecting warning signs (high voltage bathrooms!) and why Elke hated 183!'
enclosure_file: "https://archive.org/download/RubenerdShow184/RubenerdShow184.mp3"
enclosure_size: 4826337
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow184/Side184.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow184/RubenerdShow184.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow184/RubenerdShow184.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – A cameo appearance by my dad Rainer Schade (with canned applause!), messing around with echo settings (<a href="http://yamaha.com/">Yamaha MG8/2Fx</a>), Elton John&#39;s <a href="http://en.wikipedia.org/wiki/Lion_King">Lion King</a> song (I was 9 years old!), collecting warning signs (high voltage bathrooms!) and <em>why Elke hated <a href="https://rubenerd.com/show183/">183</a>!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
