---
title: "Rubenerd Show 046: The life changing podcast episode"
date: "2005-09-22T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – Talking today about problems with the house and why I’ll be moving back to the uni, how The Overnightscape and Crap and Stuff have literally changed how I live, university living, comparing broadband in Australia and Singapore, getting a new job at NextByte in Rundle Mall (maybe!), periodic leases, more syncronicities and a weird USB card that powers stuff… but that’s it!'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_046/RubenerdShow046.mp3"
enclosure_size: 6440282
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_046/RubenerdShow046.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_046/RubenerdShow046.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – Talking today about problems with the house and why I&#39;ll be moving back to the uni, how The Overnightscape and Crap and Stuff have literally changed how I live, university living, comparing broadband in Australia and Singapore, getting a new job at NextByte in Rundle Mall (maybe!), periodic leases, more syncronicities and a weird USB card that powers stuff… but that&#39;s it!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
