---
title: "Rubenerd Show 419: The musically soaked episode"
date: "2021-09-24T13:50:23+10:00"
abstract: "53:50 — Join your host as he enjoys some milder Sydney weather! Talking about monsoons in Singapore and Hong Kong, wanting to live in the latter after it blew me away (metaphorically, not in a monsoon), slim Japanese clothing, water-retaining socks, always feeling the need to be productive, embarrassing nerd magazines on the train, old-school MP3 players, downtime, meditation, a rant about music streaming platforms, and collecting music again."
thumb: "https://archive.org/download/RubenerdShow419/RubenerdShow419.png"
enclosure_file: "https://archive.org/download/RubenerdShow419/RubenerdShow419.mp3"
enclosure_size: "51735501"
enclosure_type: "audio/mpeg"
enclosure_duration: "53:50"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow419/RubenerdShow419.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow419/RubenerdShow419.png" alt="Rubenerd Show 419" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow419/RubenerdShow419.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow419/RubenerdShow419.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">53:50</span> – Join your host as he enjoys some milder Sydney weather! Talking about monsoons in Singapore and Hong Kong, wanting to live in the latter after it blew me away (metaphorically, not in a monsoon), slim Japanese clothing, water-retaining socks, always feeling the need to be productive, embarrassing nerd magazines on the train, old-school MP3 players, downtime, meditation, a rant about music streaming platforms, and collecting music again.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released September 2021 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow419/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

