---
title: "Rubenerd Show 269: The introverted locomotive episode"
date: "2009-05-16T17:09:24+08:00"
thumb: "https://archive.org/download/RubenerdShow269/RubenerdShow269.180px.png"
year: "2009"
abstract: '21:30 – The reason why people hate the iPhone’s keyboard is the reason why I love it; Riverdance keyboard typists; the fun of being a shy introvert; evening walks around Mawson Lakes; the Australian Bicentennial; childhood steam locomotive nostalgia; the New South Wales 3801 streamliner and the Victorian R761; and obsessively wearing out VHS tapes!'
enclosure_file: "https://archive.org/download/RubenerdShow269/RubenerdShow269.mp3"
enclosure_size: 10440938
enclosure_duration: "21:30"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow269/RubenerdShow269.png"><img src="https://archive.org/download/RubenerdShow269/RubenerdShow269.180px.png" alt="Larger version of cover art" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow269/RubenerdShow269.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow269/RubenerdShow269.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">21:30</span> – The reason why people hate the iPhone&#39;s keyboard is the reason why I love it; <a href="http://en.wikipedia.org/wiki/Riverdance">Riverdance</a> keyboard typists; the fun of being a shy introvert; evening walks around <a href="http://mawsonlakes.com.au/">Mawson Lakes</a>; the Australian Bicentennial; childhood steam locomotive nostalgia; the New South Wales 3801 streamliner and the Victorian R761; and obsessively wearing out VHS tapes!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
