---
title: "Rubenerd Show 293: The microfiche episode"
date: "2015-09-13T22:55:32+10:00"
thumb: "https://archive.org/download/RubenerdShow293/RubenerdShow293.png"
year: "2015"
abstract: '34:44 – It’s getting warmer, Australia Post Parcel Lockers, getting a copy of Onsug Guide, Debra Schade, finding the crunchiest leaves to step on, physical books versus ebooks, physical anchors to the virtual world, bands with multiple guys and one woman, less desirable anime tropes, SCSI, computer scanners and hard drives as personal microfiche, holodecks, and is physicality sufficient to be real?'
enclosure_file: "https://archive.org/download/RubenerdShow293/RubenerdShow293.mp3"
enclosure_size: "34084206"
enclosure_type: "audio/mpeg"
enclosure_duration: "34:44"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow293/RubenerdShow293.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow293/RubenerdShow293.png" alt="Rubenerd Show 293" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow293/RubenerdShow293.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow293/RubenerdShow293.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">34:44</span> – It’s getting warmer, Australia Post Parcel Lockers, getting a copy of <a href="http://onsug.com/guide/">Onsug Guide</a>, Debra Schade, finding the crunchiest leaves to step on, physical books versus ebooks, physical anchors to the virtual world, bands with multiple guys and one woman, less desirable anime tropes, SCSI, computer scanners and hard drives as personal microfiche, holodecks, and is physicality sufficient to be real?</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released September 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

