---
title: "Rubenerd Show 111: The cool things on the internet episode"
date: "2006-06-20T07:42:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – A Moment with Elke Segment (school life sucks, and a stupid joke!), The Church Sign Generator, Ruben’s Review (CHMOX: CHM eBook reader for Mac OS X), and Artemii Lebedev’s photos from North Korea.'
enclosure_file: "https://archive.org/download/RubenerdShow111/RubenerdShow111.mp3"
enclosure_size: 4823448
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---

<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p style="font-weight:bold">The Cool Things on the Internet Episode.</p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow111/RubenerdShow111.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow111/RubenerdShow111.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – <a href="https://rubenerd.com/show/wiki/index.php/A_Moment_with_Elke_Segment">A Moment with Elke Segment</a> (school life sucks, and a stupid joke!), <a href="https://rubenerd.com/show/wiki/index.php?title=Church_Sign_Generator">The Church Sign Generator</a>, Ruben&#39;s Review (<a href="http://chmox.sourceforge.net/">CHMOX: CHM eBook reader for Mac OS X</a>), and <a href="https://rubenerd.com/show/wiki/index.php/Artemii_Lebedev_in_North_Korea">Artemii Lebedev&#39;s photos from North Korea</a>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
