---
title: "Rubenerd Show 123: The awesome episode numbered episode"
date: "2006-07-05T22:20:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Awesome episode number (123!), Wikipedia, Rubenerd Update (status of the Rubenerd Show wiki), A Moment with Elke Segment (the Rubenerd Dad in Paris and London, Ruben giving Elke a cold), almost a Video Episode (from KLCC, Petronas Twin Towers), and ringing phones.'
enclosure_file: "https://archive.org/download/RubenerdShow123/RubenerdShow123.mp3"
enclosure_size: 4823202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow123/RubenerdShow123.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow123/RubenerdShow123.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Awesome episode number (123!), Wikipedia, Rubenerd Update (status of the Rubenerd Show wiki), A Moment with Elke Segment (the Rubenerd Dad in Paris and London, Ruben giving Elke a cold), almost a Video Episode (from KLCC, Petronas Twin Towers), and ringing phones.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
