---
title: "Rubenerd Show 247: The barely listenable web development episode"
date: "2008-06-28T21:48:52+08:00"
thumb: "https://archive.org/download/RubenerdShow247/RubenerdShow247.180px.png"
year: "2008"
abstract: '01:12:11 – Hashing out and talking through some ideas about the future of Rubenerd.com and how I want to move my five separate sites over to it. Might be listenable for a pleasant background distraction if you mess around with weblog engines, databases and whatnot, otherwise don’t feel bad giving this one a miss. Looking at Dave Wares’ Photo Gallery as an example of where I want to be.'
enclosure_file: "https://archive.org/download/RubenerdShow247/RubenerdShow247.mp3"
enclosure_size: 34671630
enclosure_duration: "01:12:11"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-singapore
- onsug
location: singapore
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow247/RubenerdShow247.png"><img src="https://archive.org/download/RubenerdShow247/RubenerdShow247.180px.png" alt="Click for larger image" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow247/RubenerdShow247.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow247/RubenerdShow247.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:12:11</span> – Hashing out and talking through some ideas about the future of <a href="https://rubenerd.com/">Rubenerd.com</a> and how I want to move my five separate sites over to it. Might be listenable for a pleasant background distraction if you mess around with weblog engines, databases and whatnot, otherwise don&#39;t feel bad giving this one a miss. Looking at <a href="http://davesphotogallery.net">Dave Wares&#39; Photo Gallery</a> as an example of where I want to be. To make it somewhat more interesting, I&#39;ve included some retro audio easter eggs :-).</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p>

