---
title: "Rubenerd Show 346: The cereal episode"
date: "2016-07-15T16:37:14+10:00"
year: "2016"
abstract: '36:29 – Ruben discusses mixing your own carbohydrated breakfast, and comments on Shambles’ Facebook adventures. Also feedback from episode 345, aircraft identification, umbrage, MythBusters and Penn and Teller Bullshit, rental inspections, weekend getaways, and debuting the all-new Moment with Clara Segment.'
thumb: "https://archive.org/download/RubenerdShow346/RubenerdShow346.png"
enclosure_file: "https://archive.org/download/RubenerdShow346/RubenerdShow346.mp3"
enclosure_size: "36092361"
enclosure_type: "audio/mpeg"
enclosure_duration: "36:29"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow346/RubenerdShow346.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow346/RubenerdShow346.png" alt="Rubenerd Show 346" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow346/RubenerdShow346.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow346/RubenerdShow346.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">36:29</span> – Ruben discusses mixing your own carbohydrated breakfast, and comments on <a href="http://onsug.com/archives/20646">Shambles' Facebook adventures</a>. Also feedback from <a href="https://rubenerd.com/show345">episode 345</a>, aircraft identification, umbrage, MythBusters and Penn and Teller Bullshit, rental inspections, weekend getaways, and debuting the all-new <em>Moment with Clara Segment</em>.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released July 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

