---
title: "Rubenerd Show 223: The crazy huge moth episode"
date: "2007-04-09T10:55:06+08:00"
thumb: "https://archive.org/download/RubenerdShow223/RubenerdShow223.png"
year: "2007"
abstract: '30:00 – Giant scary tropical flying moths, listener feedback (birthday and departing wishes on Rubenerd Forum by Manny the Mailman, Mr Bunny, Surrealist and Felix) moving back to Singapore (parallel universes, loud removalist packer peoples), birthday celebrations (your host, host’s sister Elke, Ruben’s crappy April fools joke, the Overnightscape show, Dave Winer’s Scripting News), cheap decorating on a MacBook Pro and MacBook (tickets and whatnot), a Jazz club in Singapore, signs you read too many weblogs, Dave Winer’s phonebook of developments, never deleting old podcasts since 2004 and Douglas Adams on things that happen because they happen.'
enclosure_file: "https://archive.org/download/RubenerdShow223/RubenerdShow223.mp3"
enclosure_size: 14431252
enclosure_duration: "30:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tags:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow223/RubenerdShow223.png" alt="" style="float:right; margin:1em 0em 1em 2em; height:180px; width:180px; display:inline; border:0px;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow223/RubenerdShow223.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow223/RubenerdShow223.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">30:00</span> – Giant scary tropical flying moths, listener feedback (<a href="https://rubenerd.com/show/forum/comments.php?DiscussionID=52&page=1#Item_0">birthday</a> and <a href="https://rubenerd.com/show/forum/comments.php?DiscussionID=54&page=1#Item_0">departing</a> wishes on <a href="https://rubenerd.com/show/forum/">Rubenerd Forum</a> by Manny the Mailman, Mr Bunny, Surrealist and Felix) moving back to Singapore (parallel universes, loud removalist packer peoples), birthday celebrations (your host, host&#39;s sister <a href="http://myspace.com/elkeee">Elke</a>, Ruben&#39;s <a href="https://rubenerd.com/show/blog/rubenerd-show-retired/">crappy April fools joke</a>, the <a href="http://theovernightscape.com/">Overnightscape show</a>, <a href="http://www.scripting.com/">Dave Winer&#39;s Scripting News</a>), cheap decorating on a MacBook Pro and MacBook (tickets and whatnot), a Jazz club in Singapore, signs you read too many weblogs, <a href="http://www.scripting.com/">Dave Winer&#39;s</a> phonebook of developments, never deleting old podcasts since 2004 and <em>Douglas Adams on things that happen because they happen</em>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
