---
title: "Rubenerd Show 120: The American/British book cover episode"
date: "2006-07-02T21:16:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Ruben’s Review (Listal - online catalogue for your books, music, DVDs etc), comparing British and American book covers, A Moment with Elke Segment(pronouncing names of people and places) and my second cousin James Ross has published a darned useful book (Beginning Algorithms, Wiley Publishing).'
enclosure_file: "https://archive.org/download/RubenerdShow120/RubenerdShow120.mp3"
enclosure_size: 4823758
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow120/RubenerdShow120.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow120/RubenerdShow120.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Ruben&#39;s Review (<a href="https://rubenerd.listal.com/">Listal - online catalogue for your books, music, DVDs etc</a>), comparing British and American book covers, A Moment with Elke Segment(pronouncing names of people and places) and my second cousin James Ross has published a darned useful book (<a href="https://rubenerd.listal.com/viewproduct/books/3103115">Beginning Algorithms, Wiley Publishing</a>).</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 

