---
title: "Rubenerd Show 286: The hardware store episode"
date: "2015-08-15T23:20:57+10:00"
thumb: "https://archive.org/download/RubenerdShow286/RubenerdShow286.png"
year: "2015"
abstract: '54:48 – Topics include losing and finding things with Tiles, recording phone crashes, living without bags, 24 hour hosting jobs, gym memberships, building file servers, taking lifts, brick and mortar stores, the Australia tax, a live trip to Bunnings Warehouse (cat6 cables, USB power outlets, dust mitts, fun warning signs, floating floors, newspaper circles, cheating with pebbles, self-service checkouts), fake wood laminate on 70s appliances, paying for journalism, The Guardian Australia, disease-resistant tomatoes, worst nightmare bananas, charity sausage sizzles, feedback from Dave Wares, the great Coffee Freezing Debate, IKEA breakfast cereal, high fructose corn syrup, feedback from Julie about crashing podcast clients, and a very creepy dream with one way mirrors and giant 80s rooms.'
enclosure_file: "https://archive.org/download/RubenerdShow286/RubenerdShow286.mp3"
enclosure_size: "53207633"
enclosure_type: "audio/mpeg"
enclosure_duration: "54:48"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow286/RubenerdShow286.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow286/RubenerdShow286.png" alt="Rubenerd Show 286" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow286/RubenerdShow286.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow286/RubenerdShow286.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">54:48</span> – Topics include losing and finding things with Tiles, recording phone crashes, living without bags, 24 hour hosting jobs, gym memberships, building file servers, taking lifts, brick and mortar stores, the Australia tax, a live trip to Bunnings Warehouse (cat6 cables, USB power outlets, dust mitts, fun warning signs, floating floors, newspaper circles, cheating with pebbles, self-service checkouts), fake wood laminate on 70s appliances, paying for journalism, The Guardian Australia, disease-resistant tomatoes, worst nightmare bananas, charity sausage sizzles, feedback from Dave Wares, the great Coffee Freezing Debate, IKEA breakfast cereal, high fructose corn syrup, feedback from Julie about crashing podcast clients, and a very creepy dream with one way mirrors and giant 80s rooms.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released August 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

