---
title: "Rubenerd Show 330: The Oh Marion episode"
date: "2016-03-20T15:17:36+11:00"
year: "2016"
abstract: '40:15 – Autumn cicadas, casual clothing, annual leave, urge to go back to Ubud, hometowns, Paul Simon’s One Trick Pony album (1980), figuring out how not to sweat the big stuff, 2016 hipster terms (thesis, nuance), horrifying long haul flights, IKEA makes awesome cereal now, listener feedback (Jimbo, Shambles), and the world’s worst apartment lift design!'
thumb: "https://archive.org/download/RubenerdShow330/RubenerdShow330.png"
enclosure_file: "https://archive.org/download/RubenerdShow330/RubenerdShow330.mp3"
enclosure_size: "39388218"
enclosure_type: "audio/mpeg"
enclosure_duration: "40:15"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow330/RubenerdShow330.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow330/RubenerdShow330.png" alt="Rubenerd Show 330" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow330/RubenerdShow330.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow330/RubenerdShow330.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">40:15</span> – Autumn cicadas, casual clothing, annual leave, urge to go back to Ubud, hometowns, Paul Simon’s <em>One Trick Pony</em> album (1980), figuring out how not to sweat the big stuff, 2016 hipster terms (thesis, nuance), horrifying long haul flights, IKEA makes awesome cereal now, listener feedback (Jimbo, Shambles), and the world’s worst apartment lift design!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released March 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

