---
title: "Rubenerd Show 216: The dangerous beverage episode"
date: "2007-02-20T12:20:50+08:00"
thumb: "NA"
year: "2007"
abstract: '10:00 – Podcasts outside the US, dangerous hot beverages, Chinese New Year in Malaysia (deserted streets, IT shops), groovy new Starbucks in Times Square, Westerners obsessed with East Asia and all’s quiet on the KL front!'
enclosure_file: "https://archive.org/download/RubenerdShow216/RubenerdShow216.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; height:150px; width:110px;" src="https://archive.org/download/RubenerdShow216/Side216.sultanabdulsamad.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow216/RubenerdShow216.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow216/RubenerdShow216.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Podcasts outside the US, dangerous hot beverages, Chinese New Year in Malaysia (deserted streets, IT shops), groovy new <a href="http://www.starbucks.com.my/">Starbucks</a> in <a href="http://www.timessquarekl.com/aboutus.html">Times Square</a>, Westerners obsessed with East Asia <em>and all&#39;s quiet on the KL front!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
