---
title: "Rubenerd Show 106: The significance of 105 [sic!] episode"
date: "2006-06-13T09:43:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Significance of 105 (didn’t get to it on Episode 105), clearing up the Skype issue (what it is, Rubenerd Voicemail, crappy internet quotas, Malaysian telco conspiracy), A Moment with Elke Segment (MSN more important apparently) and who came up with the name Nintendo Wii?'
enclosure_file: "https://archive.org/download/RubenerdShow106/RubenerdShow106.mp3"
enclosure_size: 4823485
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow106/RubenerdShow106.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow106/RubenerdShow106.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Significance of 105 (didn&#39;t get to it on Episode 105), clearing up the Skype issue (what it is, Rubenerd Voicemail, crappy internet quotas, Malaysian telco conspiracy), A Moment with Elke Segment (MSN more important apparently) and who came up with the name Nintendo Wii?</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
