---
title: "Rubenerd Show 230: The Jack Tramiel Commodore 64 anniversary episode"
date: "2007-12-14T06:50:09+08:00"
thumb: "https://archive.org/download/RubenerdShow230/RubenerdShow230.png"
year: "2007"
abstract: '34:41 – Too much stuff and not enough time, evil overcast-ness, shipping eBay goods overseas, Synclair ZX Spectrums and Commodore 64s, five times at the Singapore Post centre, duty is a bum, Asian obsession with cool gadgets, efficiency escaping snail mail, Bureau of Oversight, using the Griffin iMic and the LAME encoder (hope it makes the show sound better!), celebrating the 25th anniversary of the Commodore 64, old video clip from the Computer Chronicles, wanting to meet Jack Tramiel and Woz, boardroom stupidity, Schade family IBM machines, Gary Kildall, smart Singaporean bus stops, tracking buses with GPS, big brother-ism, live twitter posts from Dave Wares, Dave Winer, Leo Laporte and Robert J. Berger.'
enclosure_file: "https://archive.org/download/RubenerdShow230/RubenerdShow230.mp3"
enclosure_size: 20828635
enclosure_duration: "34:41"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-singapore
- onsug
location: singapore
---
<p class="show-cover"><a href="https://www.flickr.com/photos/rubenerd/2110020879/"><img src="https://archive.org/download/RubenerdShow230/RubenerdShow230.png" alt="Commodore 64 in high definition!" style="background:#000000; height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow230/RubenerdShow230.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow230/RubenerdShow230.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">34:41</span> – Too much stuff and not enough time, evil overcast-ness, shipping eBay goods overseas, <a href="http://en.wikipedia.org/wiki/Sinclair_Research_Ltd">Synclair</a> <a href="http://en.wikipedia.org/wiki/ZX_Spectrum">ZX Spectrums</a> and <a href="http://en.wikipedia.org/wiki/Commodore_64">Commodore 64s</a>, five times at the Singapore Post centre, duty is a bum, Asian obsession with cool gadgets, efficiency escaping snail mail, Bureau of Oversight, using the <a href="http://www.griffintechnology.com/products/imic">Griffin iMic</a> and the <a href="http://lame.sourceforge.net/">LAME encoder</a> (hope it makes the show sound better!), celebrating the <a href="http://www.computerhistory.org/events/index.php?id=1193702785">25th anniversary of the Commodore 64</a>, <a href="https://archive.org/details/LowEndCo1985">old video clip from the Computer Chronicles</a>, wanting to meet Jack Tramiel and Woz, boardroom stupidity, Schade family IBM machines, <a href="http://en.wikipedia.org/wiki/Gary_Kildall">Gary Kildall</a>, smart Singaporean bus stops, tracking buses with GPS, big brother-ism, live twitter posts from <a href="http://twitter.com/DaveWares">Dave Wares</a>, <a href="http://twitter.com/DaveWiner">Dave Winer</a>, <a href="http://twitter.com/LeoLaporte">Leo Laporte</a> and <a href="http://twitter.com/Rberger">Robert J. Berger</a>.</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
