---
title: "Rubenerd Show 270: The Twitter client episode"
date: "2009-05-20T17:44:21+08:00"
thumb: "https://archive.org/download/RubenerdShow270/RubenerdShow270.180px.png"
year: "2009"
abstract: '21:30 – Scaring people who think I’m a chick (ha!); late Friday night train journeys; nostalgia for 2007 Twitterland with Twitterrific; TwitterFon inserting advertisements; moving over to Tweetie on the iTelephone; obsessively using the huge but efficient TweetDeck; and the spectacular cost of mobile phone company text messages!'
enclosure_file: "https://archive.org/download/RubenerdShow270/RubenerdShow270.mp3"
enclosure_size: 10172718
enclosure_duration: "21:30"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow270/RubenerdShow270.png"><img src="https://archive.org/download/RubenerdShow270/RubenerdShow270.180px.png" alt="Larger version of cover art" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow270/RubenerdShow270.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow270/RubenerdShow270.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">21:30</span> – Scaring people who think I&#39;m a chick (ha!); late Friday night train journeys; nostalgia for 2007 Twitterland with Twitterrific; TwitterFon inserting advertisements; moving over to Tweetie on the iTelephone; obsessively using the huge but efficient TweetDeck; and the <a href="http://gthing.net/the-true-price-of-sms-messages/">spectacular cost</a> of mobile phone company text messages!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
