---
title: "Rubenerd Show 149: The English speaker's accents episode"
date: "2006-08-11T20:52:10+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – MadPlayer troubles (lagtime, eating batteries), trapped aliens, Japanese living forever, food culture (&quot;Westerners&quot; can’t take durian, &quot;Asians&quot; can’t take aged cheese), Ruben accents rant (Americans, Kiwis, Aussies, how the accents evolve so damned fast?) and what ever happened to Dr. Marvin Monroe from the Simpsons?'
enclosure_file: "https://archive.org/download/RubenerdShow149/RubenerdShow149.mp3"
enclosure_size: 4823366
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img style="float:left; margin:0px 20px 5px 0px; width:100px;" src="https://archive.org/download/RubenerdShow149/Side149.gif" alt="Show cover." /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow149/RubenerdShow149.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow149/RubenerdShow149.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – MadPlayer troubles (lagtime, eating batteries), trapped aliens, Japanese living forever, food culture (&quot;Westerners&quot; can&#39;t take durian, &quot;Asians&quot; can&#39;t take aged cheese), Ruben accents rant (Americans, Kiwis, Aussies, how the accents evolve so damned fast?) and what ever happened to <a href="http://en.wikipedia.org/wiki/Dr._Marvin_Monroe">Dr. Marvin Monroe</a> from the Simpsons?</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
