---
title: "Rubenerd Show 412: The wandering mug episode"
date: "2020-08-31T09:27:37+10:00"
abstract: "47:35 — An impromptu discussion on everyone’s favourite comestible beverage conveyance, among several other unrelated topics. Recorded July 2020, only getting around to producing... gulp! Hey, that’s the sound someone drinking from a mug makes."
thumb: "https://archive.org/download/RubenerdShow412/RubenerdShow412.png"
enclosure_file: "https://archive.org/download/RubenerdShow412/RubenerdShow412.mp3"
enclosure_size: "45720883"
enclosure_type: "audio/mpeg"
enclosure_duration: "47:35"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow412/RubenerdShow412.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow412/RubenerdShow412.png" alt="Rubenerd Show 412" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow412/RubenerdShow412.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow412/RubenerdShow412.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">47:35</span> – An impromptu discussion on everyone’s favourite comestible beverage conveyance, among several other unrelated topics. Recorded July 2020, only getting around to producing... gulp! Hey, that’s the sound someone drinking from a mug makes.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released August 2020 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

