---
title: "Rubenerd Show 421: The flying progress episode"
date: "2022-01-20T08:20:55+11:00"
abstract: "21:50 — The risk of ordering clothes online, Simon Whistler, AviationTag memorabilia from the A380 and B757, humans needing physical contact, appreciating technological and medical progress, and giving people permission to have new year resolutions!"
thumb: "https://archive.org/download/RubenerdShow421/RubenerdShow421.png"
enclosure_file: "https://archive.org/download/RubenerdShow421/RubenerdShow421.mp3"
enclosure_size: "21063047"
enclosure_type: "audio/mpeg"
enclosure_duration: "21:50"
year: "2022"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: Sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow421/RubenerdShow421.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow421/RubenerdShow421.png" alt="Rubenerd Show 421" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow421/RubenerdShow421.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow421/RubenerdShow421.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">21:50</span> – The risk of ordering clothes online, Simon Whistler, AviationTag memorabilia from the A380 and B757, humans needing physical contact, appreciating technological and medical progress, and giving people permission to have new year resolutions!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released January 2022 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow421/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>
