---
title: "Rubenerd Show 066: The shocking Intel brand change episode"
date: "2006-01-01T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '19:45 – Introduced by my sister: the third episode from Malaysia, for the first day of 2006! Talking about the shocking change of logo for Intel and the trashing of the Pentium brand; also Ben Stiller, Zoolander, Micronesia, marketing talk and crap, and topping off with how angry I am with Wikipedia for deleting the New Time Radio and Overnightscape articles and how it conveniently side steps free speech. Oh and spyware, RAM and another crack at Windows! Apologies for some audio problems, I’m away from home and the machine I’m using is pretty unreliable!'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_066/RubenerdShow066.mp3"
enclosure_size: 9480041
enclosure_duration: "19:45"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_066/RubenerdShow066.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_066/RubenerdShow066.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">19:45</span> – Introduced by my sister: the third episode from Malaysia, for the first day of 2006! Talking about the shocking change of logo for Intel and the trashing of the Pentium brand; also Ben Stiller, Zoolander, Micronesia, marketing talk and crap, and topping off with how angry I am with <a href="http://en.wikipedia.org">Wikipedia</a> for deleting the <a href="http://en.wikipedia.org/wiki/New_Time_Radio">New Time Radio</a> and <a href="http://en.wikipedia.org/wiki/The_Overnightscape">Overnightscape</a> articles and how it conveniently side steps free speech. Oh and spyware, RAM and another crack at Windows! Apologies for some audio problems, I&#39;m away from home and the machine I&#39;m using is pretty unreliable!</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
