---
title: "Rubenerd Show 423: The Tokyo 2022 episode"
date: "2022-12-22T11:05:26+11:00"
abstract: "33:53 — We’re overseas again for the first time in three years! Recorded at the busy Kudanshita Tokyo Subway station (complete with jingles!), then wandering around near the Imperial Palace one night. It’s a bit all over the place, but that was my mental state at the time. Part two coming soon, thanks for listening."
thumb: "https://archive.org/download/RubenerdShow423/RubenerdShow423.png"
enclosure_file: "https://archive.org/download/RubenerdShow423/RubenerdShow423.mp3"
enclosure_size: "32597575"
enclosure_type: "audio/mpeg"
enclosure_duration: "33:53"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-tokyo
- the-overnightscape-underground
- podcast
location: tokyo
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow423/RubenerdShow423.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow423/RubenerdShow423.png" alt="Rubenerd Show 423" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow423/RubenerdShow423.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow423/RubenerdShow423.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">33:53</span> – We’re overseas again for the first time in three years! Recorded at the busy Kudanshita Tokyo Subway station (complete with jingles!), then wandering around near the Imperial Palace one night. It’s a bit all over the place, but that was my mental state at the time. Part two coming soon, thanks for listening.</p>

<p class="show-licence">Recorded in Tokyo, Japan. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released December 2022 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow423/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

