---
title: "Rubenerd Show 291: The veg episode"
date: "2015-09-06T22:07:54+10:00"
thumb: "https://archive.org/download/RubenerdShow291/RubenerdShow291.png"
year: "2015"
abstract: '27:30 – A quiet celebration of one fortnight as a vegetarian. A bit of the philosophy (but not too much), some amazing new food I found along the way, and a big thanks to everyone for your support. Let’s see how long this lasts!'
enclosure_file: "https://archive.org/download/RubenerdShow291/RubenerdShow291.mp3"
enclosure_size: "27029537"
enclosure_duration: "27:30"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow291/RubenerdShow291.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow291/RubenerdShow291.png" alt="Rubenerd Show 291" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow291/RubenerdShow291.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow291/RubenerdShow291.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">27:30</span> – A quiet celebration of one fortnight as a vegetarian. A bit of the philosophy (but not too much), some amazing new food I found along the way, and a big thanks to everyone for your support. Let’s see how long this lasts!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released September 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

