---
title: "Rubenerd Show 080: The pretending to be a synthesiser"
date: "2006-05-07T20:25:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Ruben’s MacBook Pro MagSafe power adaptor failing, using my retro iBook G3 to record the show, Rubenerd Hate Mail (from &quot;the immature ruben?&quot; user), and why do you delete if you believe what you wrote), and Ruben pretending to be a synthesiser.'
enclosure_file: "https://archive.org/download/RubenerdShow080/RubenerdShow080.mp3"
enclosure_size: 4814037
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow080/RubenerdShow080.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow080/RubenerdShow080.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Ruben&#39;s MacBook Pro MagSafe power adaptor failing, using my retro iBook G3 to record the show, Rubenerd Hate Mail (from &quot;the immature ruben?&quot; user), and why do you delete if you believe what you wrote), and Ruben pretending to be a synthesiser.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
