---
title: "Rubenerd Show 314: The Christmas pie episode"
date: "2015-12-24T11:44:31+11:00"
year: "2015"
abstract: '46:14 – An unsurprisingly holiday-themed episode of the show, with discussion on musical cheer (or hipster lack thereof!), Christmas in the media (with Australian news clips), fond family memories, and likely far more stuff that your host can’t recall because he’s royally stuffed with Christmas Eve dinner and can barely think. Seasons Greetings!'
thumb: "https://archive.org/download/RubenerdShow314/RubenerdShow314.png"
enclosure_file: "https://archive.org/download/RubenerdShow314/RubenerdShow314.mp3"
enclosure_size: "45493068"
enclosure_type: "audio/mpeg"
enclosure_duration: "46:14"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow314/RubenerdShow314.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow314/RubenerdShow314.png" alt="Rubenerd Show 314" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow314/RubenerdShow314.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow314/RubenerdShow314.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">46:14</span> – An unsurprisingly holiday-themed episode of the show, with discussion on musical cheer (or hipster lack thereof!), Christmas in the media (with Australian news clips), fond family memories, and likely far more stuff that your host can't recall because he's royally stuffed with Christmas Eve dinner and can barely think. Seasons Greetings!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released December 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

