---
title: "Rubenerd Show 249: The Saturday laughter episode"
date: "2008-09-14T21:19:41+08:00"
thumb: "https://archive.org/download/RubenerdShow249/RubenerdShow249.180px.png"
year: "2008"
abstract: '15:53 – From Adelaide: On Saturday nights some young people go binge drinking at nightclubs. Ruben does the hardcore thing by releasing a ridiculous, disjointed, repetitive, mildly irritating podcast episode with little cohesion or rational thought. And some people say he’s a loser, can you believe it? Including vintage audio from Not Only but Also!'
enclosure_file: "https://archive.org/download/RubenerdShow249/RubenerdShow249.mp3"
enclosure_size: 7739392
enclosure_duration: "15:53"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow249/RubenerdShow249.png"><img src="https://archive.org/download/RubenerdShow249/RubenerdShow249.180px.png" alt="Click for larger version" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow249/RubenerdShow249.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow249/RubenerdShow249.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:53</span> – <a href="http://www.southaustralia.com/Adelaide.aspx">From Adelaide</a>: On Saturday nights some young people go binge drinking at nightclubs. Ruben does the hardcore thing by releasing a ridiculous, disjointed, repetitive, mildly irritating podcast episode with little cohesion or rational thought. And some people say he&#39;s a loser, can you believe it? Including vintage audio from Not Only but Also! This also serves as a crossover for <a href="https://rubenerd.com/unplugged/">Rubenerd Unplugged</a>, the cheap knockoff of the <a href="http://onsug.com/archives/category/rampler">Rampler</a> which is coming soon. This will be the only episode where Unplugged material is played here, unless someone uses an effective form of persuasion against Ruben such a gun, or grilled cheese sandwich.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
