---
title: "Rubenerd Show 388: The archived hat episode"
date: "2019-01-12T20:02:18+11:00"
abstract: '18:11 – The unpublished 2018 spectacular, broken headphones and keyboards and floppy drives and internet quotas and stomachs, social networks turning people into arseholes, Marie Kondo, archiving websites you care about, supplanting Facebook, and the Red Hat FTP archive.'
thumb: "https://archive.org/download/RubenerdShow388/RubenerdShow388.png"
enclosure_file: "https://archive.org/download/RubenerdShow388/RubenerdShow388.mp3"
enclosure_size: "17520327"
enclosure_type: "audio/mpeg"
enclosure_duration: "18:11"
location: "Sydney, Australia"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow388/RubenerdShow388.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow388/RubenerdShow388.png" alt="Rubenerd Show 388" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow388/RubenerdShow388.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow388/RubenerdShow388.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">18:11</span> – The unpublished 2018 spectacular, broken headphones and keyboards and floppy drives and internet quotas and stomachs, social networks turning people into arseholes, Marie Kondo, archiving websites you care about, supplanting Facebook, and the Red Hat FTP archive.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released January 2019 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

