---
title: "Rubenerd Show 114: The Malaysian food remakes episode"
date: "2006-06-22T15:31:01+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Ruben’s Review of Malaysian food remakes (7Up Ice Flavour, Mister Potato chips, Twisties), toothpaste and a school camp recollection (tree falling on tracks, year five, 1997).'
enclosure_file: "https://archive.org/download/RubenerdShow114/RubenerdShow114.mp3"
enclosure_size: 4823202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow114/RubenerdShow114.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow114/RubenerdShow114.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Ruben&#39;s Review of Malaysian food remakes (7Up Ice Flavour, Mister Potato chips, Twisties), toothpaste and a school camp recollection (tree falling on tracks, year five, 1997).</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
