---
title: "Rubenerd Show 424: The Midosuji Line episode"
date: "2023-04-18T12:23:50+09:00"
abstract: "21:44 — Join me on a brief wander through Namba Parks, then onto the Osaka Metro to Daikokujo! Talking about being back in Japan, why Clara and I love the Kansai region even more than Tokyo, topping up Suica and ICOCA cards, the growing number of bikes here, and almost walking into someone. *Sumimasen!*"
thumb: "https://archive.org/download/RubenerdShow424/RubenerdShow424.png"
enclosure_file: "https://archive.org/download/RubenerdShow424/RubenerdShow424.mp3"
enclosure_size: "21222289"
enclosure_type: "audio/mpeg"
enclosure_duration: "21:44"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-osaka
- onsug
location: Osaka
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow424/RubenerdShow424.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow424/RubenerdShow424.png" alt="Rubenerd Show 424" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow424/RubenerdShow424.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow424/RubenerdShow424.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">21:44</span> – Join me on a brief wander through Namba Parks, then onto the Osaka Metro to Daikokujo! Talking about being back in Japan, why Clara and I love the Kansai region even more than Tokyo, topping up Suica and ICOCA cards, the growing number of bikes here, and almost walking into someone. *Sumimasen!*</p>

<p class="show-licence">Recorded in Osaka, Japan. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released April 2023 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow424/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

