---
title: "Rubenerd Show 278: The Onsug scary house Jerry Novak episode"
date: "2015-06-28T10:10:41+10:00"
thumb: "https://archive.org/download/RubenerdShow278/RubenerdShow278.png"
year: "2015"
abstract: '01:20:17 – Topics include Star Trek Voyager and TNG, The Million Dollar Homepage, releasing my first episode on The Overnightscape Underground podcast network, Plateau Zilch, syncronicities, Gaul, evolving from your teenage years, a trip back to my old house (mustiness, terrifying electrical faults, rye bread, voiceover work for Discovery Channel, classic photo–books, DOS machines), musical gifts from The Official Rubenerd Patron Jerry Novak, vinyl records, and 80s electronic instruments in their own right.  '
enclosure_file: "https://archive.org/download/RubenerdShow278/RubenerdShow278.mp3"
enclosure_size: "77135824"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:20:17"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow278/RubenerdShow278.png" alt="Rubenerd Show 278" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow278/RubenerdShow278.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow278/RubenerdShow278.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:20:17</span> – Topics include Star Trek Voyager and <abbr title="The Next Generation">TNG</abbr>, <a href="http://milliondollarhomepage.com/">The Million Dollar Homepage</a>, releasing my first episode on <a href="http://onsug.com/">The Overnightscape Underground</a> podcast network, <a href="http://www.theovernightscape.com/archives/2318">Plateau Zilch</a>, syncronicities, Gaul, evolving from your teenage years, a trip back to my old house (mustiness, terrifying electrical faults, rye bread, voiceover work for Discovery Channel, classic photo–books, DOS machines), musical gifts from The Official <em>Rubenerd Patron</em> Jerry Novak, vinyl records, and 80s electronic instruments in their own right.</p>  

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade. Music by <a href="https://soundcloud.com/thewhoha/who-ha-khaki">Who Ha</a>.</p>

<p class="show-release" >Released June 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

