---
title: "Rubenerd Show 083: The recorded at 5:55am episode"
date: "2006-05-10T20:25:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Recorded by a very tired Ruben at 5:55am! Talking about time travel, timezones, Whole Wheat Radio morning rants, life advice from Jim Kloss, flawed star ratings and what time of day my brain switches on… hint: it’s not on yet!'
enclosure_file: "https://archive.org/download/RubenerdShow083/RubenerdShow083.mp3"
enclosure_size: 4813283
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow083/RubenerdShow083.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow083/RubenerdShow083.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Recorded by a very tired Ruben at 5:55am! Talking about time travel, timezones, <a href="http://wholewheatradio.org/">Whole Wheat Radio</a> morning rants, life advice from <a href="http://www.wholewheatradio.org/wiki/index.php/Jim_Kloss">Jim Kloss</a>, flawed star ratings and what time of day my brain switches on… hint: it&#39;s not on yet!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
