---
title: "Rubenerd Show 285: The construction site photo episode"
date: "2015-08-09T23:23:00+10:00"
thumb: "https://archive.org/download/RubenerdShow285/RubenerdShow285.png"
year: "2015"
abstract: '01:28:37 – Topics include Haunted construction sites, abandoned building shells in Kuala Lumpur, South Park, travelling from Singapore to Malaysia, bus coaches, squeaking chairs, concrete monorails, SMASH!, anime conventions, doujinshi and anime fanart, grey-area fansubs, Reuben Hills coffee from Brasil Souza Farm, coffee plungers, a random observant, fuel caps, rubbish skips, “WE SAVE and YOU $$$”, boy racers, “Only Milk and Juice Come in 2L”, Toradora, root sudo, xkcd, response to Frank discussing fictional coffee shop chains in anime and Need for Speed Most Wanted (Sudoh-bucks, Deep Cups, OMG Coffee), trying Apple Photos, Adobe Creative Cloud (Photoshop, Lightroom, Bridge), anime figures, unintentional pantsu, model ship kits of the RMS Queen Elizabeth and RMS Mauritania, 1940s and 1980s design, and photos as memory supplements, not memories themselves. Music by PHINX.'
enclosure_file: "https://archive.org/download/RubenerdShow285/RubenerdShow285.mp3"
enclosure_size: "57017251"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:28:37"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow285/RubenerdShow285.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow285/RubenerdShow285.png" alt="Rubenerd Show 285" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow285/RubenerdShow285.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow285/RubenerdShow285.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:28:37</span> – Topics include Haunted construction sites, abandoned building shells in Kuala Lumpur, South Park, travelling from Singapore to Malaysia, bus coaches, squeaking chairs, concrete monorails, <a href="http://www.smash.org.au/">SMASH!</a>, anime conventions, doujinshi and anime fanart, grey-area fansubs, <a href="http://reubenhills.com.au/">Reuben Hills</a> coffee from Brasil Souza Farm, coffee plungers, a random observant, fuel caps, rubbish skips, “WE SAVE and YOU $$$”, boy racers, “Only Milk and Juice Come in 2L”, Toradora, root sudo, xkcd, response to <a href="http://onsug.com/archives/17030">Frank</a> discussing fictional coffee shop chains in anime and Need for Speed Most Wanted (Sudoh-bucks, Deep Cups, OMG Coffee), trying Apple Photos, Adobe Creative Cloud (Photoshop, Lightroom, Bridge), anime figures, unintentional pantsu, model ship kits of the <a href="http://www.airfix.com/uk-en/ships/passenger-ships/rms-queen-elizabeth-i-1-600.html">RMS Queen Elizabeth</a> and <a href="http://www.airfix.com/uk-en/ships/passenger-ships/rms-mauretania-1-600.html">RMS Mauritania</a>, 1940s and 1980s design, and photos as memory supplements, not memories themselves. Music by <a href="https://soundcloud.com/lovethecreativecommons/phinx-grey-child">PHINX</a>.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released August 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

