---
title: "Rubenerd Show 344: The fixtery episode"
date: "2016-06-29T17:06:41+10:00"
year: "2016"
abstract: '13:10 – Onsug hosts released Mystery and History, so here’s... Fixtery? Brief topics include fixing things, Australian lifts starting at G instead of 1, QBASIC nostalgia, giant rubbish piles for bulk collection, decluttering, uninspired etymology, and general frostiness.'
thumb: "https://archive.org/download/RubenerdShow344/RubenerdShow344.png"
enclosure_file: "https://archive.org/download/RubenerdShow344/RubenerdShow344.mp3"
enclosure_size: "12984176"
enclosure_type: "audio/mpeg"
enclosure_duration: "13:10:00"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow344/RubenerdShow344.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow344/RubenerdShow344.png" alt="Rubenerd Show 344" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow344/RubenerdShow344.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow344/RubenerdShow344.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">13:10</span> – Onsug hosts released <a href="http://onsug.com/archives/20555">Mystery</a> and <a href="http://onsug.com/archives/20549">History</a>, so here’s... Fixtery? Brief topics include fixing things, Australian lifts starting at G instead of 1, QBASIC nostalgia, giant rubbish piles for bulk collection, decluttering, uninspired etymology, and general frostiness.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released June 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

