---
title: "Rubenerd Show 055: The lucid dreaming 42 Frasier episode"
date: "2005-11-09T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:00 – Tribute to Frasier and how Channel 9 had three episodes back to back, awesome! Also talking about the Cover Art plugin for iTunes, the infamous &quot;software too old&quot; error and software update freezing and screwing up my 3G iPod. Other stuff including lucid dreaming (dreaming and you know you’re dreaming) and my virtual metropolis I’ve been dreaming up since I was 10 (hence the skyline on my website!), a 5 star review of Coopers Dark Ale from South Australia and buying &quot;Hitchhikers Guide to the Galaxy&quot; and &quot;The Terminal&quot; posters from Blockbuster. And why do Credit Unions call it ’Internet BANKING’?'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_055/RubenerdShow055.mp3"
enclosure_size: 9610984
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_055/RubenerdShow055.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_055/RubenerdShow055.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – Tribute to Frasier and how Channel 9 had three episodes back to back, awesome! Also talking about the <a href="http://www.versiontracker.com/dyn/moreinfo/macosx/19933">Cover Art</a> plugin for <a href="http://apple.com.au/itunes">iTunes</a>, the infamous &quot;software too old&quot; error and software update freezing and screwing up my 3G iPod. Other stuff including lucid dreaming (dreaming and you know you&#39;re dreaming) and my virtual metropolis I&#39;ve been dreaming up since I was 10 (hence the skyline on my <a href="http://RubenerdShow.com">website!</a>), a 5 star review of <a href="http://coopers.com.au/home.php?flash=0">Coopers Dark Ale</a> from South Australia and buying &quot;Hitchhikers Guide to the Galaxy&quot; and &quot;The Terminal&quot; posters from Blockbuster. And why do Credit Unions call it &#39;Internet BANKING&#39;?</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
