---
title: "Rubenerd Show 371: The FGO episode"
date: "2017-12-19T11:12:39+11:00"
year: "2017"
abstract: '35:20 – A compendium of random recordings Ruben did with Clara over the last month. Topics include a modern moose, fabric couch advocacy, comparing Fate Grand Order addiction to Hearthstone and Pokemon, a tiny North Sydney park at night, Clara cosplaying Shielder, getting holiday beverages from an Aussie bottle-o, frustrating support questions, and Jimbo ♡. Proper Jimbo show coming up next. Recorded November and December 2017.'
thumb: "https://archive.org/download/RubenerdShow371/RubenerdShow371.png"
enclosure_file: "https://archive.org/download/RubenerdShow371/RubenerdShow371.mp3"
enclosure_size: "33908263"
enclosure_type: "audio/mpeg"
enclosure_duration: "35:20"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow371/RubenerdShow371.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow371/RubenerdShow371.png" alt="Rubenerd Show 371" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow371/RubenerdShow371.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow371/RubenerdShow371.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">35:20</span> – A compendium of random recordings Ruben did with Clara over the last month. Topics include a modern moose, fabric couch advocacy, comparing <a href="http://fate-go.us">Fate Grand Order</a> addiction to Hearthstone and Pokemon, a tiny North Sydney park at night, Clara cosplaying <a href="https://grandorder.wiki/Shielder">Shielder</a>, getting holiday beverages from an Aussie bottle-o, frustrating support questions, and <a href="http://onsug.com/archives/25718">Jimbo</a> ♡. Proper Jimbo show coming up next. Recorded November and December 2017.</p>

<p class="show-licence">Recorded in North Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released December 2017 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

