---
title: "Rubenerd Show 008: The internet withdrawals episode"
date: "2005-05-29T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '60:00 – Announcing changes (as usual!) to the show, where the hell I’ve been for 3 months, adventures with Netspace Australia internet access, podcast withdrawals, the fabulous UniSA student internet in student housing, the state of the entertainment industry and where podcasting fits into it all (an epiphany!), why uni timetables are deceptive, microphone woes and a review of Mac OS X Tiger.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_008/RubenerdShow008.mp3"
enclosure_size: 18781979
enclosure_duration: "60:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_008/RubenerdShow008.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_008/RubenerdShow008.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">60:00</span> – Announcing changes (as usual!) to the show, where the hell I&#39;ve been for 3 months, adventures with Netspace Australia internet access, podcast withdrawals, the fabulous UniSA student internet in student housing, the state of the entertainment industry and where podcasting fits into it all (an epiphany!), why uni timetables are deceptive, microphone woes and a review of Mac OS X Tiger.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
