---
title: "Rubenerd Show 195: The Christmas in KLCC episode"
date: "2006-12-25T14:10:00+08:00"
thumb: "https://archive.org/download/RubenerdShow195/Side195.png"
year: "2006"
abstract: '13:00 – Dedicated to Dr Tan and Dr Fuad. Update on the South Malaysian flood disaster, audio excursion (Coffee Bean in KLCC, Malaysia), Commodore Amiga 500 billboard, an orange Crumpler laptop bag and Ruben doing a Troy McLure!'
enclosure_file: "https://archive.org/download/RubenerdShow195/RubenerdShow195.mp3"
enclosure_size: 6265997
enclosure_duration: "13:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow195/Side195.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow195/RubenerdShow195.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow195/RubenerdShow195.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">13:00</span> – Dedicated to <a href="http://www.gleneagles.com.sg/">Dr Tan</a> and <a href="http://www.gimc.com.my/">Dr Fuad</a>. Update on the <a href="https://rubenerd.com/show194/">South Malaysian flood disaster</a>, audio excursion (<a href="http://coffeebean.com.my/">Coffee Bean</a> in <a href="http://suriaklcc.com.my/">KLCC</a>, Malaysia), Commodore Amiga 500 billboard, <a href="http://www.crumplersg.com">an orange Crumpler laptop bag</a> and <em>Ruben doing a Troy McLure!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
