---
title: "Rubenerd Show 387: The upsidedown Xmas episode"
date: "2018-12-27T15:50:15+11:00"
abstract: '30:06 – A Christmas special coming to you from a Sydney Boxing Day in the heat of summer! Topics include a winter trip in Germany and Ireland, yuletide family traditions, how others celebrate or don’t, the best holiday foods from the UK and Germany, music, and a somewhat minor personal inconvenience! Also retiring the Rubenerd Annexe, self-titled Blogging Experts, a shoutout to Radio Free Shambles and The Midnight Citizen, and best wishes for the season.'
thumb: "https://archive.org/download/RubenerdShow387/RubenerdShow387.png"
enclosure_file: "https://archive.org/download/RubenerdShow387/RubenerdShow387.mp3"
enclosure_size: "28937421"
enclosure_type: "audio/mpeg"
enclosure_duration: "30:06"
location: "Sydney, Australia"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow387/RubenerdShow387.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow387/RubenerdShow387.png" alt="Rubenerd Show 387" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow387/RubenerdShow387.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow387/RubenerdShow387.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">30:06</span> – A Christmas special coming to you from a Sydney Boxing Day in the heat of summer! Topics include a winter trip in Germany and Ireland, yuletide family traditions, how others celebrate or don’t, the best holiday foods from the UK and Germany, music, and a somewhat minor personal inconvenience! Also retiring the Rubenerd Annexe, self-titled Blogging Experts, a shoutout to Radio Free Shambles and The Midnight Citizen, and best wishes for the season.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released December 2018 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

