---
title: "Rubenerd Show 284: The coffee-spy solitaire episode"
date: "2015-08-02T13:32:42+10:00"
thumb: "https://archive.org/download/RubenerdShow284/RubenerdShow284.png"
year: "2015"
abstract: '58:27 – The Five Eyes and ECHELON, US sharing intel on Japan with Australian, radomes, the state of IT security, type safety, The Small Faces, the Nespresso system, Arpeggio Decaffeinato, drinking decaf coffee, George Clooney, scripting away work, the utimate PySolFC card game suite for Linux and Mac, PySolitaire for Windows, the Intel 486SX CPU and playing DOS games on an HDTV. Goodbye 80s~90s song by BeFive.'
enclosure_file: "https://archive.org/download/RubenerdShow284/RubenerdShow284.mp3"
enclosure_size: "57342334"
enclosure_type: "audio/mpeg"
enclosure_duration: "58:27"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow284/RubenerdShow284.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow284/RubenerdShow284.png" alt="Rubenerd Show 284" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow284/RubenerdShow284.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow284/RubenerdShow284.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">58:27</span> – The Five Eyes and ECHELON, <a href="https://www.thesaturdaypaper.com.au/news/politics/2015/07/31/exclusive-us-bugs-japan-trade-and-climate/14383094602196">US sharing intel on Japan with Australian</a>, radomes, the state of IT security, type safety, The Small Faces, the Nespresso system, <a href="https://www.nespresso.com/us/en/order/capsules/original/arpeggio-decaffeinato">Arpeggio Decaffeinato</a>, drinking decaf coffee, George Clooney, scripting away work, the utimate <a href="http://pysolfc.sourceforge.net/">PySolFC</a> card game suite for Linux and Mac, <a href="http://pygames.sourceforge.net">PySolitaire</a> for Windows, the Intel 486SX CPU and playing DOS games on an HDTV. Goodbye 80s~90s song by <a href="https://soundcloud.com/befive/good-bye-80s-demo">BeFive</a>.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released August 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://rubenerd.com/show/feed/">this feed</a> to your podcast client.</p>

