---
title: "Rubenerd Show 183: The W3C standards rant episode"
date: "2006-11-23T18:51:14+08:00"
thumb: "https://archive.org/download/RubenerdShow183/Side183.png"
year: "2006"
abstract: '10:00 – The Sims 2 (building houses, the ultimate boolprop cheat!), cameo coughing appearances by Elke Schade, the W3C rant (unsupported tags, standards that nobody wants to use!), the Rubenerd Forum random images, and Carl Sagen’s billions and billions of stars!'
enclosure_file: "https://archive.org/download/RubenerdShow183/RubenerdShow183.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow183/Side183.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow183/RubenerdShow183.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow183/RubenerdShow183.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – The Sims 2 (building houses, the ultimate boolprop cheat!), cameo coughing appearances by Elke Schade, the W3C rant (unsupported tags, standards that nobody wants to use!), the <a href="https://rubenerd.com/forum-explanation/">Rubenerd Forum</a> random images, and <em>Carl Sagen&#39;s billions and billions of stars!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
