---
title: "Rubenerd Show 215: The economics behind computing episode"
date: "2007-02-19T02:28:15+08:00"
thumb: "NA"
year: "2007"
abstract: '12:00 – Ruben trying to be serious alert! Ruben attempts to apply his university computing and economics studies to answer the question: why are there so many versions of Windows Vista? Oh and seriously being serious!'
enclosure_file: "https://archive.org/download/RubenerdShow215/RubenerdShow215.mp3"
enclosure_size: 5785766
enclosure_duration: "12:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow215/RubenerdShow215.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow215/RubenerdShow215.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow215/RubenerdShow215.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">12:00</span> – <strong>Ruben trying to be serious alert!</strong> Ruben attempts to apply his university computing and economics studies to answer the question: why are there so many versions of Windows Vista? Oh and <em>seriously being serious!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
