---
title: "Rubenerd Show 224: The beautiful Singapore Sunday afternoon episode"
date: "2007-08-12T22:27:37+08:00"
thumb: "https://archive.org/download/RubenerdShow224/RubenerdShow224.png"
year: "2007"
abstract: '47:00 – Son of a diddley, long times and whatnot, moving back to Singapore, Murphey’s law, unpacking stuff, loving living in the tropics, Yakult, a heart attack inducing Singaporean taxi adventure, my two guilty signs of insanity, loud apartment security boom gates, going to Changi Airport at 0630 on a Sunday, the Commodore 64 Family Pack, borderline Twitter addiction, Twitting Felix Tanjono and Frank Nora, shoehorning Symbian, 3G wireless in Singapore, using m.twitter.com on a handphone, Keeping Up Appearances, Hyacinth Bucket, hand painted periwinkles, ratholes, review of Twitterrific and TwitWin, Chocolate Rain, awesome internet memes, time zones, some sort of Apple handphone, listening to podcasts and whatnot, neighbourhood insurance rates, Gold 90.5FM, Paul McCartney versus John Lennon, disowning, Starbucks, Dance Tonight on Memory Almost Full music review, singing for sheets, my Beatles realisation from Larry King Live, fortune telling on YouTube, having a brief booming voice, madams on a phone, voting for podcasts, J.D. Lasica and being a multitasking jaywalker.'
enclosure_file: "https://archive.org/download/RubenerdShow224/RubenerdShow224.mp3"
enclosure_size: 22585413
enclosure_duration: "47:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-singapore
- onsug
location: singapore
---
<p class="show-cover"><a href="http://www.zooomr.com/photos/rubenerd/2911086/"><img src="https://archive.org/download/RubenerdShow224/RubenerdShow224.png" style="float:right; margin:1em 0em 1em 2em; height:180px; width:180px; display:inline; border:0px;" alt="Lazy Sunday Afternoon in the Singapore CBD" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow224/RubenerdShow224.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow224/RubenerdShow224.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">47:00</span> – Son of a diddley, long times and whatnot, <a href="https://rubenerd.com/show/blog/unpacking-singapore-day-one/">moving back to Singapore</a>, Murphey&#39;s law, unpacking stuff, loving living in the tropics, <a href="http://www.yakult.co.jp/english/">Yakult</a>, a heart attack inducing Singaporean taxi adventure, my two guilty signs of insanity, loud apartment security boom gates, going to Changi Airport at 0630 on a Sunday, the Commodore 64 Family Pack, borderline <a href="http://twitter.com/rubenerd">Twitter</a> addiction, Twitting <a href="http://twitter.com/redragon">Felix Tanjono</a> and <a href="http://twitter.com/ons">Frank Nora</a>, shoehorning Symbian, <a href="http://home.singtel.com/3logy/">3G wireless</a> in Singapore, using <a href="http://m.twitter.com/">m.twitter.com</a> on a handphone, Keeping Up Appearances, Hyacinth Bucket, hand painted periwinkles, <a href="http://twit.tv/mbw/">ratholes</a>, review of <a href="http://iconfactory.com/software/twitterrific">Twitterrific</a> and <a href="http://www.twitbin.com/">TwitWin</a>, <a href="http://youtube.com/watch?v=EwTZ2xpQwpA">Chocolate Rain</a>, awesome internet memes, time zones, some sort of <a href="https://rubenerd.com/show/blog/yet-another-iphone-post/">Apple handphone</a>, listening to podcasts and whatnot, neighbourhood insurance rates, <a href="http://www.gold90.sg/">Gold 90.5FM</a>, Paul McCartney versus John Lennon, disowning, <a href="http://www.starbucks.com.sg/">Starbucks</a>, Dance Tonight on <a href="http://www.memoryalmostfull.com/">Memory Almost Full</a> music review, singing for sheets, my Beatles realisation from Larry King Live, fortune telling on YouTube, having a brief booming voice, madams on a phone, <a href="https://rubenerd.com/show/blog/last-day-for-podcast-awards-2007/">voting for podcasts</a>, <a href="http://www.jdlasica.com/">J.D. Lasica</a> and being a multitasking jaywalker.</p>

<p><em>There&#39;s a bit of voice distortion in parts of this show. I&#39;m obviously out of practice, the next one will be much better!</em></p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
