---
title: "Rubenerd Show 096: The when dialup is faster episode"
date: "2006-05-29T19:50:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Music volume in Episode 095, our internet sucks (claimed our quota exceeded, dialup is faster!) The Top Five (worst things that have ever happened to me in the shower) and temperature discrepancies. Music by Israel Brown.'
enclosure_file: "https://archive.org/download/RubenerdShow096/RubenerdShow096.mp3"
enclosure_size: 4826435
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="Cover art" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow096/RubenerdShow096.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow096/RubenerdShow096.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Music volume in <a href="https://rubenerd.com/show095/">Episode 095</a>, our internet sucks (claimed our quota exceeded, dialup is faster!) The Top Five (worst things that have ever happened to me in the shower) and temperature discrepancies. Music by <a href="http://crapandstuff.com/">Israel Brown</a>.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
