---
title: "Rubenerd Show 296: The data centre episode"
date: "2015-09-24T22:48:16+10:00"
thumb: "https://archive.org/download/RubenerdShow296/RubenerdShow296.png"
year: "2015"
abstract: '38:49 – A trip home to start a server, and a data centre trip to install a hard drive and buy crisps! Also coffee power indicators, the six of clubs, exploding computer monitor stands, taking the stairs, ipchicken.com, WiFi, data centres looking like Star Trek corridors, vending machines, Solo, loud fans, and free earplugs.'
enclosure_file: "https://archive.org/download/RubenerdShow296/RubenerdShow296.mp3"
enclosure_size: "37609497"
enclosure_type: "audio/mpeg"
enclosure_duration: "38:49"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow296/RubenerdShow296.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow296/RubenerdShow296.png" alt="Rubenerd Show 296" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow296/RubenerdShow296.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow296/RubenerdShow296.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">38:49</span> – A trip home to start a server, and a data centre trip to install a hard drive and buy crisps! Also coffee power indicators, the six of clubs, exploding computer monitor stands, taking the stairs, <a href="http://www.ipchicken.com/">ipchicken.com</a>, WiFi, data centres looking like Star Trek corridors, vending machines, Solo, loud fans, and free earplugs.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released September 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

