---
title: "Rubenerd Show 182: The mobile phones taking over the world episode"
date: "2006-11-22T17:58:57+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Will mobile phones replace your money, ID and keys? Customising MadPlayer genres, from the Rubenerd Forum (Surrealist’s Episode 180 comments!), my mum, the unfortunately named HSC &quot;IPT&quot; course and Jim Kloss on what makes a crappy podcast!'
enclosure_file: "https://archive.org/download/RubenerdShow182/RubenerdShow182.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow182/Side182.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow182/RubenerdShow182.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow182/RubenerdShow182.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – <a href="http://news.bbc.co.uk/1/hi/technology/6168222.stm">Will mobile phones replace your money, ID and keys?</a> Customising <a href="http://www.madplayer.com/">MadPlayer</a> genres, from the <a href="https://rubenerd.com/show/forum/">Rubenerd Forum</a> (Surrealist’s <a href="https://rubenerd.com/show180">Episode 180</a> comments!), my mum, the unfortunately named <a href="http://hsc.csu.edu.au/ipt/">HSC &quot;IPT&quot; course</a> and <em><a href="http://wholehwheatradio.org/">Jim Kloss</a> on what makes a crappy podcast!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
