---
title: "Rubenerd Show 288: The time nostalgia episode"
date: "2015-08-17T23:38:06+10:00"
thumb: "https://archive.org/download/RubenerdShow288/RubenerdShow288.png"
year: "2015"
abstract: '01:13:51 – Topics include Topics include unintentional three shows in a row, night roadworkers, social awkwardness with public podcasting, the end of my job honeymoon, QANTAS, Australian states, finding lava lamp bulbs, flood lamp power generators, insomnia, listener question from Jimbo, legal status of fire alarms, time (frames of reference, physics, diverging timelines and paths), Star Trek Voyager (Kes, 7 of 9), my own terrible sci-fi novel discussed publicly for the first time, nostalgia as a form of time travel (DOS games, holodecks versus "real" time travel), Nightstation, witty music (Phish, The Grateful Dead, Michael Franks), gooey logos (Holiday Inn, Qantas, Black and Decker, Avery), spraying bitumen around the joint, coffee shops, jaffles, loud motorcycles, and far too many Frank Nora name drops.'
enclosure_file: "https://archive.org/download/RubenerdShow288/RubenerdShow288.mp3"
enclosure_size: "71274872"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:13:51"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow288/RubenerdShow288.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow288/RubenerdShow288.png" alt="Rubenerd Show 288" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow288/RubenerdShow288.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow288/RubenerdShow288.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:13:51</span> – Topics include Topics include unintentional three shows in a row, night roadworkers, social awkwardness with public podcasting, the end of my job honeymoon, QANTAS, Australian states, finding lava lamp bulbs, flood lamp power generators, insomnia, listener question from Jimbo, legal status of fire alarms, time (frames of reference, physics, diverging timelines and paths), Star Trek Voyager (Kes, 7 of 9), my own terrible sci-fi novel discussed publicly for the first time, nostalgia as a form of time travel (DOS games, holodecks versus "real" time travel), Nightstation, witty music (Phish, The Grateful Dead, Michael Franks), gooey logos (Holiday Inn, Qantas, Black and Decker, Avery), spraying bitumen around the joint, coffee shops, jaffles, loud motorcycles, and far too many <a href="http://theovernightscape.com/">Frank Nora</a> name drops.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released August 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

