---
title: "Rubenerd Show 422: The caffeinated travel episode"
date: "2022-07-19T14:03:22+10:00"
abstract: "28:23 — Hey, I remember when I recorded stuff! Making coffee, talking about the state of the world, some personal notes, putting the kettle on, not being fancy with tea, a letter from strata, and thoughts about travel. I’ll be back to doing these regularly again when I feel up to it, thanks for listening :)."
thumb: "https://archive.org/download/RubenerdShow422/RubenerdShow422.png"
enclosure_file: "https://archive.org/download/RubenerdShow422/RubenerdShow422.mp3"
enclosure_size: "27338692"
enclosure_type: "audio/mpeg"
enclosure_duration: "28:23"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow422/RubenerdShow422.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow422/RubenerdShow422.png" alt="Rubenerd Show 422" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow422/RubenerdShow422.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow422/RubenerdShow422.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">28:23</span> – Hey, I remember when I recorded stuff! Making coffee, talking about the state of the world, some personal notes, putting the kettle on, not being fancy with tea, a letter from strata, and thoughts about travel. I’ll be back to doing these regularly again when I feel up to it, thanks for listening :).</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released July 2022 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow422/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

