---
title: "Rubenerd Show 305: The Special Delivery episode"
date: "2015-11-15T23:02:52+11:00"
thumb: "https://archive.org/download/RubenerdShow305/RubenerdShow305.png"
year: "2015"
abstract: '34:03 – A follow–up episode in Overnightscape Underground spirit to Manny’s most recent Special Delivery episode. Topics include internet trolls, autumn leaves and apple trees, early holiday decorations, fantasy sports leagues and Onsug meetups!'
enclosure_file: "https://archive.org/download/RubenerdShow305/RubenerdShow305.mp3"
enclosure_size: "34753651"
enclosure_type: "audio/mpeg"
enclosure_duration: "34:03"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow305/RubenerdShow305.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow305/RubenerdShow305.png" alt="Rubenerd Show 305" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow305/RubenerdShow305.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow305/RubenerdShow305.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">34:03</span> – A follow–up episode in Overnightscape Underground spirit to Manny’s most recent <em><a href="http://onsug.com/archives/18143">Special Delivery</a></em> episode. Topics include internet trolls, autumn leaves and apple trees, early holiday decorations, fantasy sports leagues and Onsug meetups!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released November 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

