---
title: "Rubenerd Show 366: The Kyoto episode"
date: "2017-07-29T12:27:29+10:00"
year: "2017"
abstract: '45:18 – With apologies to Michael Franks, we didn’t spend Christmas in Kyoto, but we did explore the hallowed grounds of the Kyoto Animation gift shop and studios (the greatest anime production house ever, obviously), then down to the market that inspired Tamako Market, the Imperial Palace, and an equally impressive convenience store. Other topics include railfans at JR crossings, cicadas, fog and monsoons, Disney, pretty anime boys, Yahoo and Infoseek, and getting lost at Kyoto station. Sounds from the Osaka-Kyoto Shinkansen, and the Kyoto Municipal Subway.'
thumb: "https://archive.org/download/RubenerdShow366/RubenerdShow366.png"
enclosure_file: "https://archive.org/download/RubenerdShow366/RubenerdShow366.mp3"
enclosure_size: "43466880"
enclosure_type: "audio/mpeg"
enclosure_duration: "45:18"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kyoto
- onsug
location: kyoto
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow366/RubenerdShow366.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow366/RubenerdShow366.png" alt="Rubenerd Show 366" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow366/RubenerdShow366.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow366/RubenerdShow366.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">45:18</span> – With apologies to Michael Franks, we didn't spend <em>Christmas in Kyoto</em>, but we did explore the hallowed grounds of the <a href=http://www.kyotoanimation.co.jp/en/>Kyoto Animation</a> gift shop and studios (the greatest anime production house ever, obviously), then down to the market that inspired <em>Tamako Market</em>, the Imperial Palace, and an equally impressive convenience store. Other topics include railfans at JR crossings, cicadas, fog and monsoons, Disney, pretty anime boys, Yahoo and Infoseek, and getting lost at Kyoto station. Sounds from the Osaka-Kyoto Shinkansen, and the Kyoto Municipal Subway.</p>

<p class="show-licence">Recorded in Kyoto, Japan. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released July 2017 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

