---
title: "Rubenerd Show 151: The John Howard university rant episode"
date: "2006-08-15T22:44:01+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Ruben’s agitated! &quot;Free&quot; university education, why government should damn well pay (expense versus investment, taxes, medical insurance, retirement), the National Party of Australia is useless, explaining HECS, Centrelink doesn’t care, working rather than studying and why Howard would rather bomb Iraq than help Australia’s kids.'
enclosure_file: "https://archive.org/download/RubenerdShow151/RubenerdShow151.mp3"
enclosure_size: 4823366
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow151/Side151.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow151/RubenerdShow151.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow151/RubenerdShow151.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Ruben&#39;s agitated! &quot;Free&quot; university education, why government should damn well pay (expense versus investment, taxes, medical insurance, retirement), the National Party of Australia is useless, explaining HECS, <a href="http://www.centrelink.gov.au">Centrelink</a> doesn&#39;t care, working rather than studying and why Howard would rather bomb Iraq than help Australia&#39;s kids.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
