---
title: "Rubenerd Show 208: The Jimbob Kloss and fake bacon rashers episode"
date: "2007-01-11T00:01:42+08:00"
thumb: "NA"
year: "2007"
abstract: '10:00 – Featuring the Rubenerd sister Elke Schade. Whole Wheat Radio (a Web 2.0 award, metal sheet roofing, Jim is the king of rants!), large nasals, food review (addictive Marks and Spencer wheat bacon rashers) and random Wiggle matching!'
enclosure_file: "https://archive.org/download/RubenerdShow208/RubenerdShow208.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow208/Side208.jimkloss.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow208/RubenerdShow208.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow208/RubenerdShow208.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Featuring the Rubenerd sister Elke Schade. <a href="http://www.wholewheatradio.org/wiki/index.php/Main_Page">Whole Wheat Radio</a> (<a href="http://www.wholewheatradio.org/wiki/index.php/User:Jimkloss/BlogEntry:_Please_Nominate_Whole_Wheat_Radio_For_This_Wiki_Award">a Web 2.0 award</a>, <a href="http://www.wholewheatradio.org/wiki/index.php/Audio_magazines">metal sheet roofing</a>, Jim is the king of rants!), large nasals, food review (addictive <a href="http://www.marksandspencer.com/">Marks and Spencer</a> wheat bacon rashers) and <em>random <a href="http://en.wikipedia.org/wiki/Wiggle_matching">Wiggle matching!</a></em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
