---
title: "Rubenerd Show 408: The deserted tape episode"
date: "2020-04-19T09:22:07+10:00"
abstract: "39:20 — Wandering around a deserted Chatswood late at night, peeking into the empty stores, and watching the regular stream of empty commuter and metro trains roll by. Discussing working from home, trying to reconnect with music, critiquing streaming services, and a rose tinted view of audio tape."
thumb: "https://archive.org/download/RubenerdShow408/RubenerdShow408.png"
enclosure_file: "https://archive.org/download/RubenerdShow408/RubenerdShow408.mp3"
enclosure_size: "37842269"
enclosure_type: "audio/mpeg"
enclosure_duration: "39:20"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow408/RubenerdShow408.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow408/RubenerdShow408.png" alt="Rubenerd Show 408" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow408/RubenerdShow408.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow408/RubenerdShow408.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">39:20</span> – Wandering around a deserted Chatswood late at night, peeking into the empty stores, and watching the regular stream of empty commuter and metro trains roll by. Discussing working from home, trying to reconnect with music, critiquing streaming services, and a rose tinted view of audio tape.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released April 2020 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

