---
title: "Rubenerd Show 326: The 29th of February episode"
date: "2016-02-29T23:30:32+11:00"
year: "2016"
abstract: '40:03 – The only other Rubenerd material posted on this weird day, spam as art for computers, having your own email address, towers of AOL trial CDs, fragility of memory, 1990s IT magazine nostalgia, work fatigue, why ISO dates are so damn good, time speeding up as we age, school holidays, introversion, events that only happen every four years, knowing someone born on the 29th of February, the Lunar New Year, and a proposal for a global public holiday.'
thumb: "https://archive.org/download/RubenerdShow326/RubenerdShow326.png"
enclosure_file: "https://archive.org/download/RubenerdShow326/RubenerdShow326.mp3"
enclosure_size: "39441900"
enclosure_type: "audio/mpeg"
enclosure_duration: "40:03"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow326/RubenerdShow326.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow326/RubenerdShow326.png" alt="Rubenerd Show 326" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow326/RubenerdShow326.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow326/RubenerdShow326.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">40:03</span> – The <a href="https://rubenerd.com/is-embedded-spam-getting-worse/">only other <em>Rubenerd</em> material</a> posted on this weird day, spam as art for computers, having your own email address, towers of AOL trial CDs, fragility of memory, 1990s IT magazine nostalgia, work fatigue, why ISO dates are so damn good, time speeding up as we age, school holidays, introversion, events that only happen every four years, knowing someone born on the 29th of February, the Lunar New Year, and a proposal for a global public holiday.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released February 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

