---
title: "Rubenerd Show 343: The light episode"
date: "2016-06-13T22:02:40+10:00"
year: "2016"
abstract: '32:02 – A quiet, late night by a power transformer pontificating on origins of light and energy, taming nature, work-life balance, “y’know”, quantum observation, robots running the world, Waking Up with Sam Harris, artificial and alien intelligence, and is human evolution really the peak? Recorded 07th June 2016.'
thumb: "https://archive.org/download/RubenerdShow343/RubenerdShow343.png"
enclosure_file: "https://archive.org/download/RubenerdShow343/RubenerdShow343.mp3"
enclosure_size: "31431859"
enclosure_type: "audio/mpeg"
enclosure_duration: "32:02"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow343/RubenerdShow343.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow343/RubenerdShow343.png" alt="Rubenerd Show 343" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow343/RubenerdShow343.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow343/RubenerdShow343.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">32:02</span> – A quiet, late night by a power transformer pontificating on origins of light and energy, taming nature, work-life balance, “y’know”, quantum observation, robots running the world, Waking Up with Sam Harris, artificial and alien intelligence, and is human evolution really the peak? Recorded 07th June 2016.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released June 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

