---
title: "Rubenerd Show 351: The minty creole episode"
date: "2016-09-09T16:27:22+10:00"
year: "2016"
abstract: '28:38 – A somewhat sleep-deprived ramble into promises, fascinating accents and creoles, the wondrous benefits of rampling, recordings for other shows, moving in with significant others, introversion, and FINALLY timing a DHL sign.'
thumb: "https://archive.org/download/RubenerdShow351/RubenerdShow351.png"
enclosure_file: "https://archive.org/download/RubenerdShow351/RubenerdShow351.mp3"
enclosure_size: "27921379"
enclosure_type: "audio/mpeg"
enclosure_duration: "28:38"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow351/RubenerdShow351.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow351/RubenerdShow351.png" alt="Rubenerd Show 351" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow351/RubenerdShow351.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow351/RubenerdShow351.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">28:38</span> – A somewhat sleep-deprived ramble into promises, fascinating accents and creoles, the wondrous benefits of rampling, recordings for other shows, moving in with significant others, introversion, and FINALLY timing a DHL sign.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released September 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

