---
title: "Rubenerd Show 063: The Xmas flight episode"
date: "2005-12-07T14:29:59+08:00"
enclosure_file: "http://archive.org/download/RubenerdShow063/RubenerdShow063.mp3"
enclosure_size: "33865"
enclosure_duration: "09:00"
enclosure_type: "audio/mpeg"
enclosure_bitrate: 64
summary: "The Xmas flight episode."
category: Show
tag:
- audio-magazine
- new-time-radio
- onsug
---
<p class="show-cover"><img src="http://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:0 0 5px 20px;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow063/RubenerdShow063.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow063/RubenerdShow063.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">09:00</span> – A shorter episode today because my flight to Singapore leaves in a few hours! Briefly talking about the trip, the Rubenerd Show Christmas &#39;unplugged&#39; episodes coming up from Singapore and Malaysia, an adventure at Subway and an Aussie-sung Christmas song. See you on Sunday.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
