---
title: "Rubenerd Show 102: The Malaysia geography food episode"
date: "2006-06-07T03:00:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Crappy audio (no mixer board), wireless woes (97 and 31 percent respectively for the same place!), Ruben’s Review (BBQ Curry Best Twisties from Malaysia), and a Geography Lesson (where Malaysia is).'
enclosure_file: "https://archive.org/download/RubenerdShow102/RubenerdShow102.mp3"
enclosure_size: 
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow102/RubenerdShow102.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow102/RubenerdShow102.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Crappy audio (no mixer board), wireless woes (97 and 31 percent respectively for the same place!), Ruben&#39;s Review (BBQ Curry Best Twisties from Malaysia), and a Geography Lesson (where Malaysia is).</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
