---
title: "Rubenerd Show 193: The freaky changes episode"
date: "2006-12-21T01:01:47+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – &quot;Evolution&quot; of singers (Britney Spears going weird, Tony Bennett hasn’t changed!) learning langauges (German, Japanese, Mandarin… Perl!), software feature review (iTunes 7 cover art downloading) and Paulaner on why Germans are always on time!'
enclosure_file: "https://archive.org/download/RubenerdShow193/RubenerdShow193.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow193/Side193.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow193/RubenerdShow193.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow193/RubenerdShow193.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – &quot;Evolution&quot; of singers (Britney Spears going weird, <a href="http://tonybennett.com/">Tony Bennett</a> hasn&#39;t changed!) learning langauges (<a href="http://en.wikipedia.org/wiki/German_language">German</a>, <a href="http://en.wikipedia.org/wiki/Japanese_language">Japanese</a>, <a href="http://en.wikipedia.org/wiki/Standard_Mandarin">Mandarin</a>… <a href="http://perl.com/">Perl</a>!), software feature review (<a href="http://apple.com/itunes/">iTunes 7</a> cover art downloading) and <em><a href="http://paulaner.com.sg/">Paulaner</a> on why Germans are always on time!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
