---
title: "Rubenerd Show 153: The food and beverage spillage episode"
date: "2006-08-17T21:57:53+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Freezing weather in Australia, spilling food for maximum financial loss (my Roger David stain proof jacket, coffee, wine, McDonalds chips), deceptive language from the RIAA, South Australian wine, irritating TV ads, installing Boot Camp successfully on a MacBook (not the MacBook Pro) and flatulent aliens.'
enclosure_file: "https://archive.org/download/RubenerdShow153/RubenerdShow153.mp3"
enclosure_size: 4823366
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img style="float:left; margin:0px 20px 5px 0px; width:110px;" src="https://archive.org/download/RubenerdShow153/Side153.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow153/RubenerdShow153.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow153/RubenerdShow153.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Freezing weather in Australia, spilling food for maximum financial loss (my <a href="http://www.rogerdavid.com.au/">Roger David</a> stain proof jacket, coffee, wine, McDonalds chips), deceptive language from the <a href="http://en.wikipedia.org/wiki/Talk:Recording_Industry_Association_of_America">RIAA</a>, <a href="http://southaustralia.com/product.asp?product_id=9002731">South Australian wine</a>, irritating TV ads, installing <a href="http://apple.com/au/macosx/bootcamp/">Boot Camp</a> successfully on a <a href="http://apple.com/au/macbook/macbook.html">MacBook</a> (not the <a href="http://apple.com/au/macbookpro/">MacBook Pro</a>) and flatulent aliens.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
