---
title: "Rubenerd Show 380: The three-eighty episode"
date: "2018-10-18T18:52:39+11:00"
abstract: '28:02 – This could be the least-inspired episode title ever! But for a good cause, discussing the Mitsubishi 380, Farmer’s Union Iced Coffee, a Rubenerd Show clip from 2005, and other Adelaide nostalgia. Also making a coffee live on the programme, poorly-sized thermos containers, and a recurring sneeze.'
thumb: "https://archive.org/download/RubenerdShow380/RubenerdShow380.png"
enclosure_file: "https://archive.org/download/RubenerdShow380/RubenerdShow380.mp3"
enclosure_size: "26927961"
enclosure_type: "audio/mpeg"
enclosure_duration: "28:02"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow380/RubenerdShow380.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow380/RubenerdShow380.png" alt="Rubenerd Show 380" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow380/RubenerdShow380.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow380/RubenerdShow380.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">28:02</span> – This could be the least-inspired episode title ever! But for a good cause, discussing the Mitsubishi 380, Farmer’s Union Iced Coffee, a Rubenerd Show clip from 2005, and other Adelaide nostalgia. Also making a coffee live on the programme, poorly-sized thermos containers, and a recurring sneeze.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released October 2018 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

