---
title: "Rubenerd Show 139: Tonight's show from Mawson Lakes park"
date: "2006-07-28T22:53:13+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Walking home from uni, pronouncing &quot;Pooraka&quot;, stupid long hair that’s stupid, being unfit, actually walking to places (winter, stress relief, getting exercise), the relaunch of the Rubenerd Blog, and Ruben’s foolproof solution to the oil price/supply crisis.'
enclosure_file: "https://archive.org/download/RubenerdShow139/RubenerdShow139.mp3"
enclosure_size: 4823366
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow139/Side139.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow139/RubenerdShow139.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow139/RubenerdShow139.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Walking home from uni, pronouncing &quot;Pooraka&quot;, stupid long hair that&#39;s stupid, being unfit, actually walking to places (winter, stress relief, getting exercise), the relaunch of the <a href="https://rubenerd.com/show/blog">Rubenerd Blog</a>, and Ruben&#39;s foolproof solution to the oil price/supply crisis.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
