---
title: "Rubenerd Show 104: The Ubuntu and such stuff episode"
date: "2006-06-08T21:14:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Ruben customising the Rubenerd Wiki (too many links, working the CSS), Moment with Elke Segment (Elke’s new theme song, making accusations) and Ruben’s Review (Ubuntu and XFce equals Xubuntu).'
enclosure_file: "https://archive.org/download/RubenerdShow104/RubenerdShow104.mp3"
enclosure_size: 4823202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow104/RubenerdShow104.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow104/RubenerdShow104.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Ruben customising the Rubenerd Wiki (too many links, working the CSS), Moment with Elke Segment (Elke&#39;s new theme song, making accusations) and Ruben&#39;s Review (<a href="http://ubuntu.org">Ubuntu</a> and <a href="http://xfce.org">XFce</a> equals <a href="http://xubuntu.org">Xubuntu</a>).</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
