---
title: "Rubenerd Show 115: The first episode with video episode"
date: "2006-06-25T15:31:01+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Ruben coming to you live from quiet Fraser’s Hill in Pahang, Malaysia.'
enclosure_file: "https://archive.org/download/RubenerdShow115/RubenerdShow115.mp3"
enclosure_size: 4826378
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recoreded-in-pahang
- onsug
---
<p class="show-cover"><img style="margin:0 20px 5px 0; height:160px; width:160px; float:left;" src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" /></p>
<p style="font-weight:bold">First Episode With Video! Audio Also Available.</p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow115/RubenerdShow115.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow115/RubenerdShow115.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Ruben coming to you live from quiet Fraser&#39;s Hill in Pahang, Malaysia.</p>

<p><a href="https://archive.org/download/RubenerdShow115/RubenerdShow115.m4v" style="font-weight:bold">Download M4V Video (59.4MiB)</a>
<a href="https://archive.org/download/RubenerdShow115/RubenerdShow115.mp3" style="font-weight:bold">Download Abridged MP3 10:00 minutes, 6.4MiB</a></p>

<p class="show-licence">Recorded in Pahang, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
