---
title: "Rubenerd Show 095: The what interests Ruben episode"
date: "2006-05-29T14:15:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – What Interests Ruben episode! Economic theories (the European Union, market economies, our European holiday 1998, China ruling the world, markets closed in US and Japan tomorrow) and the Formula 1 in Monaco (best circuit, what a &quot;marble&quot; is, race results, fascinating technology). Music by Israel Brown.'
enclosure_file: "https://archive.org/download/RubenerdShow095/RubenerdShow095.mp3"
enclosure_size: 4824972
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow095/RubenerdShow095.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow095/RubenerdShow095.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – What Interests Ruben episode! Economic theories (the European Union, market economies, our European holiday 1998, China ruling the world, markets closed in US and Japan tomorrow) and the Formula 1 in Monaco (best circuit, what a &quot;marble&quot; is, race results, fascinating technology). Music by <a href="http://crapandstuff.com/">Israel Brown</a>.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
