---
title: "Rubenerd Show 038: The personal episode"
date: "2005-08-18T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – Very personal episode today! Talking about why I hate clubs, clubbing, getting drunk and other pointless endeavours, why I think they’re crap and how its next to impossible to find other people who think the same; includes a couple of audio clips from my favourite podcast Crap and Stuff by Israel J. Brown taking about the exact same thing! If you like this episode, don’t forget to check his podcast out too.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_038/RubenerdShow038.mp3"
enclosure_size: 6374292
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_038/RubenerdShow038.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_038/RubenerdShow038.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – Very personal episode today! Talking about why I hate clubs, clubbing, getting drunk and other pointless endeavours, why I think they&#39;re crap and how its next to impossible to find other people who think the same; includes a couple of audio clips from my favourite podcast Crap and Stuff by Israel J. Brown taking about the exact same thing! If you like this episode, don&#39;t forget to check his podcast out too.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
