---
title: "Rubenerd Show 067: The Ned Flanders figurine episode"
date: "2006-02-19T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '32:00 – Oil, Howard, Kyoto, Water, Signs you’re running Windows, Ned Flanders figurine, Fahrenheit, The Mir Space Station, Convince the world you’re right, Shameless support plea, Night clubbers.'
enclosure_file: "https://archive.org/download/RubenSchadeRubenerdShow067/RubenerdShow067.mp3"
enclosure_size: 9480041
enclosure_duration: "32:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenSchadeRubenerdShow067/RubenerdShow067.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenSchadeRubenerdShow067/RubenerdShow067.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">32:00</span> – Oil, Howard, Kyoto, Water, Signs you&#39;re running Windows, Ned Flanders figurine, Fahrenheit, The Mir Space Station, Convince the world you&#39;re right, Shameless support plea, Night clubbers.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
