---
title: "Rubenerd Show 318: The unverted imbrella episode"
date: "2016-01-06T10:33:41+11:00"
year: "2016"
abstract: '50:15 – Drizzly data centre trips, birds, cryptographic randomness (lava lamps, headphone cables as sources of entropy), uber-ing a crowdsourced paradigm of synergising disruption, listener feedback (Jimbo, Bi-Coastal Becky), hoarses [sic], Jimbo interviewing me on his podcast, Kevin Tan, functionally-challenged data centre bathrooms, trudging through the rain, high school athletics I didn’t suck at (gymnastics, badminton), winning a primary school writing contest, and finding the chipset from the first computer I built in 1998. Now with all-new abrupt endings!'
thumb: "https://archive.org/download/RubenerdShow318/RubenerdShow318.png"
enclosure_file: "https://archive.org/download/RubenerdShow318/RubenerdShow318.mp3"
enclosure_size: "48510216"
enclosure_type: "audio/mpeg"
enclosure_duration: "50:15"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow318/RubenerdShow318.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow318/RubenerdShow318.png" alt="Rubenerd Show 318" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow318/RubenerdShow318.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow318/RubenerdShow318.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">50:15</span> – Drizzly data centre trips, birds, cryptographic randomness (lava lamps, headphone cables as sources of entropy), uber-ing a crowdsourced paradigm of synergising disruption, listener feedback (<a href="http://onsug.com/archives/18665#comment-684644">Jimbo</a>, <a href="http://onsug.com/archives/18665#comment-684653">Bi-Coastal Becky</a>), hoarses [sic], <a href="http://onsug.com/archives/18667">Jimbo interviewing me</a> on his podcast, Kevin Tan, functionally-challenged data centre bathrooms, trudging through the rain, high school athletics I didn't suck at (gymnastics, badminton), winning a primary school writing contest, and finding the chipset from the first computer I built in 1998. Now with all-new abrupt endings!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released January 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

