---
title: "Rubenerd Show 076: The excess grapes episode"
date: "2006-05-02T03:03:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Google Gmail spam filters, specialised junk mail, the Blue Screen of Death in Windows XP, South Australian wine growers and excess grapes, Hawaiians stealing the Macadamia nuts from the Aussies, and what you can do on the Rubenerd Show wiki. Overcast and quiet today.'
enclosure_file: "https://archive.org/download/RubenerdShow076/RubenerdShow076.mp3"
enclosure_size: 4813273
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" />
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow076/RubenerdShow076.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow076/RubenerdShow076.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Google Gmail spam filters, specialised junk mail, the Blue Screen of Death in Windows XP, South Australian wine growers and excess grapes, Hawaiians stealing the Macadamia nuts from the Aussies, and what you can do on the Rubenerd Show wiki. Overcast and quiet today.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
