---
title: "Rubenerd Show 073: The Uses for the Rubenerd Show episode"
date: "2006-03-22T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '23:41 – Ruben’s Monologue (hypothetical situations, useless English classes, economists writing essays, the FTSE), uses for the Rubenerd Show, Rubenerd Skype update, The Top 5 (signs you have a lousy ISP), finding music from TV advertisements (Christchurch Library), Make It Great with Phil Gerbyshak (what real leaders should be doing!), Will It Sink? (a FULL water pistol) pledge for victims of Cyclone Larry, and tomorrow’s weather. Brought to you by Ruben Schade of the Rubenerd Show none the less!'
enclosure_file: "https://archive.org/download/RubenSchadeRubenerdShow073/RubenerdShow073.mp3"
enclosure_size: 11410106
enclosure_duration: "23:41"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenSchadeRubenerdShow073/RubenerdShow073.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenSchadeRubenerdShow073/RubenerdShow073.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">23:41</span> – Ruben&#39;s Monologue (hypothetical situations, useless English classes, economists writing essays, the FTSE), uses for the <a href="https://rubenerd.com/show/">Rubenerd Show</a>, Rubenerd Skype update, The Top 5 (signs you have a lousy ISP), finding music from TV advertisements (<a href="http://library.christchurch.org.nz/music/advertmusic/">Christchurch Library</a>), <a href="http://makeitgreat.org">Make It Great</a> with Phil Gerbyshak (what real leaders should be doing!), Will It Sink? (a FULL water pistol) pledge for victims of <a href="http://news.com.au/story/0,10117,18532292-1248,00.html">Cyclone Larry</a>, and tomorrow&#39;s weather. Brought to you by Ruben Schade of the Rubenerd Show none the less!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
