---
title: "Rubenerd Show 088: The Rant Tuesday episode"
date: "2006-05-18T01:38:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – It’s Rant Thursday! The Commercial Music Industry, not adapting to new business models, overpricing, why DRM is a joke, music subscription services stink, iTunes, and are they going to wake up before they kill themselves? Ha!'
enclosure_file: "https://archive.org/download/RubenerdShow088/RubenerdShow088.mp3"
enclosure_size: 4813402
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow088/RubenerdShow088.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow088/RubenerdShow088.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – It&#39;s Rant Thursday! The Commercial Music Industry, not adapting to new business models, overpricing, why DRM is a joke, music subscription services stink, iTunes, and are they going to wake up before they kill themselves? Ha!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
