---
title: "Rubenerd Show 181: The Rubenerd Windows Vista review episode"
date: "2006-11-21T14:15:13+08:00"
thumb: "NA"
year: "2006"
abstract: '15:00 – Ruben (Mac OS X and NetBSD user!) tries to objectively review Microsoft’s latest desktop operating system: Windows Vista. He asks: Will it help you to be more productive? Has the Aero Glass interface been well executed? How much did Microsoft have on it’s plate? Are the new features necessary? Are there any areas they’ve neglected? Can their market share save them? Microsoft has a lot of talented people, but is it really fully tapping their creativity? And a Windows XP security quote!'
enclosure_file: "https://archive.org/download/RubenerdShow181/RubenerdShow181.mp3"
enclosure_size: 7225213
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow181/Side181.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow181/RubenerdShow181.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow181/RubenerdShow181.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – <a href="https://rubenerd.com/about/">Ruben</a> (<a href="http://apple.com/macosx/">Mac OS X</a> and <a href="http://netbsd.org/">NetBSD</a> user!) tries to objectively review <a href="http://microsoft.com/">Microsoft&#39;s</a> latest desktop operating system: <a href="http://microsoft/windowsvista/">Windows Vista</a>. He asks: Will it help you to be more productive? Has the <a href="http://microsoft.com/windowsvista/features/default.mspx">Aero Glass interface</a> been well executed? How much did Microsoft have on it&#39;s plate? Are the new features necessary? Are there any areas they&#39;ve neglected? Can their market share save them? Microsoft has a lot of talented people, but is it really fully tapping their creativity? <em>And a Windows XP security quote!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
