---
title: "Rubenerd Show 354: The New York ① episode"
date: "2016-10-20T16:51:17+11:00"
year: "2016"
abstract: '49:39 – Join Ruben and Clara on annual leave as they wander from the Top of the Rock in the Rockefeller Center to Wall Street. Topics include revolving doors, the subway, Halloween bears, Airbnb, Brooklyn, Williamsburg Bridge, ubiquitous horns and sirens, NYPD clothing, Wendy’s potatoes, green nooks, and more. Recorded 7th October 2016.'
thumb: "https://archive.org/download/RubenerdShow354/RubenerdShow354.png"
enclosure_file: "https://archive.org/download/RubenerdShow354/RubenerdShow354.mp3"
enclosure_size: "48020617"
enclosure_type: "audio/mpeg"
enclosure_duration: "49:39"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-new-york
- the-overnightscape-underground
- podcast
location: new-york
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow354/RubenerdShow354.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow354/RubenerdShow354.png" alt="Rubenerd Show 354" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow354/RubenerdShow354.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow354/RubenerdShow354.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">49:39</span> – Join Ruben and Clara on annual leave as they wander from the Top of the Rock in the Rockefeller Center to Wall Street. Topics include revolving doors, the subway, Halloween bears, Airbnb, Brooklyn, Williamsburg Bridge, ubiquitous horns and sirens, NYPD clothing, Wendy’s potatoes, green nooks, and more. Recorded 7th October 2016.</p>

<p class="show-licence">Recorded in New York, New York. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released October 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

