---
title: "Rubenerd Show 058: The software security episode"
date: "2005-11-19T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:00 – The Rubenerd Show website outage explained (credit cards are fun!) and the gradual transition to Ourmedia, the global home of grassroots media. Also talking about how pathetic reality TV, ’Lost’ and ’Desperate Housewives’ are (in my eyes and John C. Dvorak’s!), how useful Centrelink is to me for rejecting me, a MAJOR security concern: the Sony Rootkit that installs itself whevener you insert an ’enhanced’ Sony music CD into a Crapdows, sorry Windows, computer that hides files and sends data back to Sony, and how screwed, up record companies are.Something To Think About Segment: Video games don’t actually promote violence, with clip courtesty of TWiT.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_058/RubenerdShow058.mp3"
enclosure_size: 9610995
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_058/RubenerdShow058.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_058/RubenerdShow058.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – The Rubenerd Show website outage explained (credit cards are fun!) and the gradual transition to <a href="http://ourmedia.org/user/38566">Ourmedia</a>, the global home of grassroots media. Also talking about how pathetic reality TV, &#39;Lost&#39; and &#39;Desperate Housewives&#39; are (in my eyes and <a href="http://dvorak.org/blog/">John C. Dvorak&#39;s</a>!), how useful Centrelink is to me for rejecting me, a MAJOR security concern: the Sony Rootkit that installs itself whevener you insert an &#39;enhanced&#39; Sony music CD into a Crapdows, sorry Windows, computer that hides files and sends data back to Sony, and how screwed, up record companies are.<p><strong>Something To Think About Segment</strong>: Video games don&#39;t actually promote violence, with clip courtesty of <a href="http://thisweekintech.com">TWiT</a>.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
