---
title: "Rubenerd Show 024: The damn clean floor episode"
date: "2005-06-18T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – Damn this is a clean floor. Cool new Griffin iPod products, irritating shoe sounds which are irritating, still haven’t returned Seinfeld, precipitation being a fair weather friend (har har) and why can birds be so white but my shirts can’t be?'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_024/RubenerdShow024.mp3"
enclosure_size: 6477269
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_024/RubenerdShow024.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_024/RubenerdShow024.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – Damn this is a clean floor. Cool new Griffin iPod products, irritating shoe sounds which are irritating, still haven&#39;t returned Seinfeld, precipitation being a fair weather friend (har har) and why can birds be so white but my shirts can&#39;t be?</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
