---
title: "Rubenerd Show 386: The somewhat serious episode"
date: "2018-12-12T00:20:57+11:00"
abstract: '26:45 – Light through leaves at night, life-work balance, changing directions, making decisions, being lost in thought, importance of family and friends, and then randomly the HP 620 LX.'
thumb: "https://archive.org/download/RubenerdShow386/RubenerdShow386.png"
enclosure_file: "https://archive.org/download/RubenerdShow386/RubenerdShow386.mp3"
enclosure_size: "25704095"
enclosure_type: "audio/mpeg"
enclosure_duration: "26:45"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow386/RubenerdShow386.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow386/RubenerdShow386.png" alt="Rubenerd Show 386" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow386/RubenerdShow386.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow386/RubenerdShow386.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">26:45</span> – Light through leaves at night, life-work balance, changing directions, making decisions, being lost in thought, importance of family and friends, and then randomly the HP 620 LX.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released December 2018 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

