---
title: "Rubenerd Show 393: The Ikebukuro episode"
date: "2019-03-20T00:02:16+09:00"
abstract: "01:10:35 — Join Clara and I on our second day back in Japan! Today wandering around the lights and sounds of Ikebukuro, including pretty anime boys, a Family Mart snack convenience store snack tour, then taking a couple of Tokyo Metro trains back to Kudanshita, complete with those legendary Departing Melodies."
thumb: "https://archive.org/download/RubenerdShow393/RubenerdShow393.png"
enclosure_file: "https://archive.org/download/RubenerdShow393/RubenerdShow393.mp3"
enclosure_size: "67684801"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:10:35"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-tokyo
- onsug
location: tokyo
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow393/RubenerdShow393.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow393/RubenerdShow393.png" alt="Rubenerd Show 393" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow393/RubenerdShow393.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow393/RubenerdShow393.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:10:35</span> – Join Clara and I on our second day back in Japan! Today wandering around the lights and sounds of Ikebukuro, including pretty anime boys, a Family Mart snack convenience store snack tour, then taking a couple of Tokyo Metro trains back to Kudanshita, complete with those legendary Departing Melodies.</p>

<p class="show-licence">Recorded in Tokyo, Japan. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released March 2019 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

