---
title: "Rubenerd Show 025: The first uni exam episode"
date: "2005-06-20T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '00:00 – First uni exam, getting lost at the Adelaide Showgrounds, people saying I look like Jesse Mcartney (someone shoot me), Kerry Anne and her (lack of) intelligence, infinate numbers and some deep philosophy!'
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="HHTP">Play in new window</a> &middot; <a href="HHTP">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">00:00</span> – First uni exam, getting lost at the Adelaide Showgrounds, people saying I look like Jesse Mcartney (someone shoot me), Kerry Anne and her (lack of) intelligence, infinate numbers and some deep philosophy!</p>

<p>(The Internet Archive has revoked access to the episode, saying <em>“The item is not available due to issues with the item's content”</em>. Not sure why).</p>
<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
