---
title: "Rubenerd Show 164: The River Phoenix and Kaffee Haus episode"
date: "2006-10-06T20:19:16+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Scary bursting air conditioners, the untimely death of River Phoneix, hot coffee, Rubenerd housekeeping (colour scheme), coffee review (Wiener Kaffeehaus near Chinatown in Singapore) and happy Chinese gardens being happy.'
enclosure_file: "https://archive.org/download/RubenerdShow164/RubenerdShow164.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow164/Side164.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow164/RubenerdShow164.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow164/RubenerdShow164.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Scary bursting <a href="https://phaam.panasonic.com.my/default.asp">air conditioners</a>, the untimely death of <a href="http://imdb.com/name/nm0000203/">River Phoneix</a>, hot coffee, <a href="https://rubenerd.com/show/">Rubenerd</a> housekeeping (colour scheme), coffee review (<a href="http://wienerkaffeehaus.com.sg/">Wiener Kaffeehaus</a> near Chinatown in Singapore) and <em>happy Chinese gardens being happy</em>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
