---
title: "Rubenerd Show 313: The Coffee Support Team episode"
date: "2015-12-23T00:19:48+11:00"
year: "2015"
abstract: '49:57 – Rain or shine work, the glorious horrors of another family house move, Sydney Water, a data centre trip, wild Australian weather (multi-day storms, Adelaide heat, Melbourne’s multi-seasonal days), North American states, suits in air conditioning, online postal scammers, Apple Siri, misleading overcast days, Michael Franks’ Watching the Snow album, the Dodge Viper, Fairy Tail, shoulder bags, amusing coffee trucks, teenage angst, Harrison Ford, and a free EPSON backpack!'
thumb: "https://archive.org/download/RubenerdShow313/RubenerdShow313.png"
enclosure_file: "https://archive.org/download/RubenerdShow313/RubenerdShow313.mp3"
enclosure_size: "48124216"
enclosure_type: "audio/mpeg"
enclosure_duration: "49:57"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow313/RubenerdShow313.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow313/RubenerdShow313.png" alt="Rubenerd Show 313" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow313/RubenerdShow313.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow313/RubenerdShow313.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">49:57</span> – Rain or shine work, the glorious horrors of another family house move, Sydney Water, a data centre trip, wild Australian weather (multi-day storms, Adelaide heat, Melbourne's multi-seasonal days), North American states, suits in air conditioning, online postal scammers, Apple Siri, misleading overcast days, Michael Franks' Watching the Snow album, the Dodge Viper, Fairy Tail, shoulder bags, amusing coffee trucks, teenage angst, Harrison Ford, and a free EPSON backpack!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released December 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

