---
title: "Rubenerd Show 173: The crashing aeroplanes and notebooks episode"
date: "2006-10-26T18:10:29+08:00"
thumb: "https://archive.org/download/RubenerdShow173/Side173.png"
year: "2006"
abstract: '10:00 – How to crash a MacBook Pro (hint: use Microsoft software!), Windows Vista crashing Parallels Desktop, television review (Air Crash Investigation, Crash Scene Investigation on Discovery Channel), and Elke thinking Ruben sucks.'
enclosure_file: "https://archive.org/download/RubenerdShow173/RubenerdShow173.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow173/Side173.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow173/RubenerdShow173.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow173/RubenerdShow173.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – How to crash a <a href="http://www.apple.com.sg/macbookpro/">MacBook Pro</a> (hint: use <a href="http://microsoft.com/mactopia/">Microsoft</a> software!), <a href="http://microsoft.com/windowsvista/">Windows Vista</a> crashing <a href="http://www.parallels.com/en/products/desktop/">Parallels Desktop</a>, television review (<a href="http://en.wikipedia.org/wiki/Air_Crash_Investigation">Air Crash Investigation</a>, <a href="http://en.wikipedia.org/wiki/Crash_Scene_Investigation">Crash Scene Investigation</a> on <a href="http://discoverychannelasia.com/">Discovery Channel</a>), and <em>Elke thinking Ruben sucks</em>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
