---
title: "Rubenerd Show 283: The 80s shopping centre episode"
date: "2015-07-27T17:40:17+10:00"
thumb: "https://archive.org/download/RubenerdShow283/RubenerdShow283.png"
year: "2015"
abstract: '46:50 – Topics include spherical alignment, timezones and climate, the friggen cold, going places for work, how spaces impact us, identifying Boeing 737s and Airbus A320s, the interior of 70s and 80s shopping centres, lamenting the rise of 2010s glamour architecture, the new-old Alexandria Homemaker Centre, new-old De Ruuci stores, brutalist architecture, the Singapore Power Building, and those faded showroom lightboxes.'
enclosure_file: "https://archive.org/download/RubenerdShow283/RubenerdShow283.mp3"
enclosure_size: "45165501"
enclosure_type: "audio/mpeg"
enclosure_duration: "46:50"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow283/RubenerdShow283.png" alt="Rubenerd Show 283" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow283/RubenerdShow283.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow283/RubenerdShow283.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">46:50</span> – Topics include spherical alignment, timezones and climate, the friggen cold, going places for work, how spaces impact us, identifying Boeing 737s and Airbus A320s, the interior of 70s and 80s shopping centres, lamenting the rise of 2010s glamour architecture, the new-old <a href="http://www.alexandriahomemakercentre.com.au/">Alexandria Homemaker Centre</a>, new-old De Ruuci stores, brutalist architecture, the <a href="https://en.wikipedia.org/wiki/TripleOne_Somerset">Singapore Power Building</a>, and those faded showroom lightboxes.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released July 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

