---
title: "Rubenerd Show 396: The Brisbane Perth episode"
date: "2019-09-17T10:41:24+10:00"
abstract: "42:30 — Join Ruben as he discusses himself in the third person, and his business trip adventures to two Australian cities on the exact opposite sides of the country for added convenience; the former of which he hadn’t been to since he lived there in the 1990s! Then some nostalgia for coffee chains, specifically the giant Dômes in Singapore. Recorded early September 2019."
thumb: "https://archive.org/download/rubenerdshow396/RubenerdShow396.png"
enclosure_file: "https://archive.org/download/rubenerdshow396/RubenerdShow396.mp3"
enclosure_size: "40897948"
enclosure_type: "audio/mpeg"
enclosure_duration: "42:30"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: Sydney
---
<p class="show-cover"><a href="https://archive.org/download/rubenerdshow396/RubenerdShow396.mp3" title="Listen to episode"><img src="https://archive.org/download/rubenerdshow396/RubenerdShow396.png" alt="Rubenerd Show 396" style="float:left; margin:0px 20px 5px 0px; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/rubenerdshow396/RubenerdShow396.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/rubenerdshow396/RubenerdShow396.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">42:30</span> – Join Ruben as he discusses himself in the third person, and his business trip adventures to two Australian cities on the exact opposite sides of the country for added convenience; the former of which he hadn’t been to since he lived there in the 1990s! Then some nostalgia for coffee chains, specifically the giant Dômes in Singapore. Recorded early September 2019.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released September 2019 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

