---
title: "Rubenerd Show 399: The smokeless Melbourne epispde"
date: "2019-12-11T09:48:16+11:00"
abstract: "28:40 — Bushfires have engulfed Sydney for more than a week now, so it was a relief and joy to wander around back in Melbourne on a business trip with blue skies, even if only for a couple of days! Talking about the inevitable comparisons between Sydney and Melbourne, Stanley Kubrick-inspired data centres, health nonsense about Kombucha, tree-lined streets, and wishing for a Ricoh GR III pocket camera. Creative Commons music by Chris Jurgenson."
thumb: "https://archive.org/download/RubenerdShow399/RubenerdShow399.png"
enclosure_file: "https://archive.org/download/RubenerdShow399/RubenerdShow399.mp3"
enclosure_size: "27559180"
enclosure_type: "audio/mpeg"
enclosure_duration: "28:40"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-melbourne
- onsug
location: melbourne
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow399/RubenerdShow399.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow399/RubenerdShow399.png" alt="Rubenerd Show 399" style="float:right; margin:0 0 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow399/RubenerdShow399.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow399/RubenerdShow399.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">28:40</span> – Bushfires have engulfed Sydney for more than a week now, so it was a relief and joy to wander around back in Melbourne on a business trip with blue skies, even if only for a couple of days! Talking about the inevitable comparisons between Sydney and Melbourne, Stanley Kubrick-inspired data centres, health nonsense about Kombucha, tree-lined streets, and wishing for a Ricoh GR III pocket camera. Creative Commons music by Chris Jurgenson.</p>

<p class="show-licence">Recorded in Melbourne, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released December 2019 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

