---
title: "Rubenerd Show 375: The Commodore 128 episode"
date: "2018-06-22T12:00:07-07:00"
abstract: '47:35 – Screenbeard, aka Josh Nunn, the lead writer and webhoster at The Geekorium, generously sent me his Commodore 128 in response to show 359! This episode is dedicated to him, and includes snippets of Clara and I wandering to an Australia Post parcel locker, and the official unboxing ceremony. We also talk about bubble tea. Recorded May 2018.'
thumb: "https://archive.org/download/RubenerdShow375/RubenerdShow375.png"
enclosure_file: "https://archive.org/download/RubenerdShow375/RubenerdShow375.mp3"
enclosure_size: "45642526"
enclosure_type: "audio/mpeg"
enclosure_duration: "47:35"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow375/RubenerdShow375.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow375/RubenerdShow375.png" alt="Rubenerd Show 375" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow375/RubenerdShow375.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow375/RubenerdShow375.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">47:35</span> – Screenbeard, aka Josh Nunn, the lead writer and webhoster at <a href="https://the.geekorium.com.au/c128-journey/">The Geekorium</a>, generously sent me his Commodore 128 in response to <a href="https://rubenerd.com/show359/">show 359</a>! This episode is dedicated to him, and includes snippets of Clara and I wandering to an Australia Post parcel locker, and the official unboxing ceremony. We also talk about bubble tea. Recorded May 2018.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released June 2018 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

