---
title: "Rubenerd Show 069: The Adelaide Hills trip episode"
date: "2006-03-08T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '30:20 – Ruben’s Monologue (38 degrees in Adelaide, 4WDs, the environment, petrol guzzling monsters), mah naa naa, The New Website (Georgia font, Flash audio player), listening to Techy2, The Top 5 (excuses people give for why Windows &quot;isn’t so bad&quot;), going to Mount Lofty in the Adelaide Hills, why Adelaide is a nice place, iced coffee, The Overnightscape Totem, and why Centrelink needs to know.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_069/RubenerdShow069.mp3"
enclosure_size: 14601640
enclosure_duration: "30:20"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_069/RubenerdShow069.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_069/RubenerdShow069.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">30:20</span> – Ruben&#39;s Monologue (38 degrees in Adelaide, 4WDs, the environment, petrol guzzling monsters), mah naa naa, The New Website (Georgia font, Flash audio player), listening to <a href="http://techy2.com/">Techy2</a>, The Top 5 (excuses people give for why Windows &quot;isn&#39;t so bad&quot;), going to Mount Lofty in the Adelaide Hills, why Adelaide is a nice place, iced coffee, <a href="http://theovernightscape.com/">The Overnightscape Totem</a>, and why <a href="http://centrelink.gov.au">Centrelink</a> needs to know.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
