---
title: "Rubenerd Show 237: The Whole Wheat Renovators episode"
date: "2008-04-15T20:34:44+08:00"
thumb: "https://archive.org/download/RubenerdShow237/RubenerdShow237.png"
year: "2008"
abstract: '39:45 – Elke in Malaysia, different sized pond thingys, scared of copyright law, making more money from concerts than recordings, Answers to my philosophical Twitter question, why I’m confusing even myself, reviewing songs from The Renovators album Rhythm &amp; Blueprints including Rip Up the House, It’s Been Done, Blue Reggae, I Don’t Ski, audio from a Whole Wheat Radio Audio Magazine including an American NBC anchor in the 1970s, the I Could Be Wrong song, and why I also can’t stand Dr. Phil!'
enclosure_file: "https://archive.org/download/RubenerdShow237/RubenerdShow237.mp3"
enclosure_size: 19103533
enclosure_duration: "39:45"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-singapore
- onsug
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow237/RubenerdShow237.png" alt="The Renovators!" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow237/RubenerdShow237.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow237/RubenerdShow237.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">39:45</span> – Elke in Malaysia, different sized pond thingys, scared of copyright law, making more money from concerts than recordings, Answers to my <a href="https://rubenerd.com/show/blog/p1127/">philosophical Twitter question</a>, why I&#39;m confusing even myself, reviewing songs from <a href="http://www.wholewheatradio.org/wiki/index.php/Artists:The_Renovators?artistnum=2330">The Renovators</a> album <a href="http://www.wholewheatradio.org/wiki/index.php/Albums:Rhythm_And_Blueprints">Rhythm &amp; Blueprints</a> including <a href="http://www.wholewheatradio.org/wiki/index.php/Albums:Rhythm_And_Blueprints">Rip Up the House</a>, <a href="http://www.wholewheatradio.org/wiki/index.php/Songs:It's_Been_Done">It&#39;s Been Done</a>, <a href="http://www.wholewheatradio.org/wiki/index.php/Songs:Blue_Reggae">Blue Reggae</a>, <a href="http://www.wholewheatradio.org/wiki/index.php/Songs:I_Don't_Ski">I Don&#39;t Ski</a>, audio from a Whole Wheat Radio <a href="http://www.wholewheatradio.org/wiki/index.php/Audio_magazines">Audio Magazine</a> including an American NBC anchor in the 1970s, the I Could Be Wrong song, and why I also can&#39;t stand Dr. Phil!</p>

<p><strong><em>STRONG LANGUAGE WARNING!</em></strong></p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
