---
title: "Rubenerd Show 361: The Clark episode"
date: "2017-05-04T20:18:51+10:00"
summary: "The Clark episode"
thumb: "https://archive.org/download/RubenerdShow361/RubenerdShow361.png"
enclosure_file: "https://archive.org/download/RubenerdShow361/RubenerdShow361.mp3"
enclosure_size: "35470036"
enclosure_type: "audio/mpeg"
enclosure_duration: "36:58"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow361/RubenerdShow361.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow361/RubenerdShow361.png" alt="Rubenerd Show 361" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow361/RubenerdShow361.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow361/RubenerdShow361.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">36:58</span> – A tribute to the legendary Mr John Clarke of <a href=https://www.youtube.com/user/ClarkeAndDawe>Clarke and Dawe</a> fame, one of the all-time greats. Also the impact of studies and work on hobbies, uni assignments, expectations, abandoned buildings with toxic signs, clouds, looking for affordable housing in 2017 Sydney, unfortunate Mascot street names, and other spontaneous observations. Brought to you by Lars Torders, an incendiary device repairer.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released May 2017 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

