---
title: "Rubenerd Show 417: The stormy apartment episode"
date: "2021-08-28T10:44:31+10:00"
abstract: "27:47 — Why am I out here under a shelter while there’s a storm outside? Talking about the HoloCouncil, why am I out here, missing travel, it’s a bit windy out here, where I’d live if I had a spare billion dollars between the proverbial couch cushions, and why am I out here?"
thumb: "https://archive.org/download/RubenerdShow417/RubenerdShow417.png"
enclosure_file: "https://archive.org/download/RubenerdShow417/RubenerdShow417.mp3"
enclosure_size: "26759217"
enclosure_type: "audio/mpeg"
enclosure_duration: "27:47"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow417/RubenerdShow417.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow417/RubenerdShow417.png" alt="Rubenerd Show 417" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow417/RubenerdShow417.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow417/RubenerdShow417.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">27:47</span> – Why am I out here under a shelter while there’s a storm outside? Talking about the HoloCouncil, why am I out here, missing travel, it’s a bit windy out here, where I’d live if I had a spare billion dollars between the proverbial couch cushions, and why am I out here?</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released August 2021 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow417/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

