---
title: "Rubenerd Show 377: The Golden Gate episode"
date: "2018-07-16T00:03:03-07:00"
abstract: '27:51 – Join Ruben and Clara as they explore around Mission Bay in lieu of taking the Muni Metro T line, then across to explore the grounds of the Transamerica Pyramid, then over to a very foggy crossing of the Golden Gate Bridge. Intro news clip from KPIX5 CBS.'
thumb: "https://archive.org/download/RubenerdShow377/RubenerdShow377.png"
enclosure_file: "https://archive.org/download/RubenerdShow377/RubenerdShow377.mp3"
enclosure_size: "26726004"
enclosure_type: "audio/mpeg"
enclosure_duration: "27:51"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-san-francisco
- onsug
location: san-francisco
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow377/RubenerdShow377.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow377/RubenerdShow377.png" alt="Rubenerd Show 377" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow377/RubenerdShow377.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow377/RubenerdShow377.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">27:51</span> – Join Ruben and Clara as they explore around Mission Bay in lieu of taking the Muni Metro T line, then across to explore the grounds of the Transamerica Pyramid, then over to a very foggy crossing of the Golden Gate Bridge. <a href="https://www.youtube.com/watch?v=qG3DsR8F5rw">Intro news clip</a> from KPIX5 CBS.</p>

<p class="show-licence">Recorded in San Francisco, California. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released July 2018 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

