---
title: "Rubenerd Show 033: The Schadey's back episode"
date: "2005-08-06T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – Guess who’s back? Schady’s back! Tell a friend! Yeah. Talking about the holidays and meeting up with family, meeting Prem Sankaran, Emily Young and Kevin Keirle in Singapore, having Hawker food (LOVE Kaya toast!) with Kevin Tan at 7 in the morning (also in Singapore!), moving to the warehouse and setting up The Office, the domain switch to rubenerdshow.com, the adventures with the now dead rubenerd.com and how Switchfusion is evil, my new 5.6 gigabyte webhost, how fed up I am with changing email addresses, and my gmail email and 49 free invites! Oh and a review of The Island.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_033/RubenerdShow033.mp3"
enclosure_size: 9563963
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_033/RubenerdShow033.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_033/RubenerdShow033.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – Guess who&#39;s back? Schady&#39;s back! Tell a friend! Yeah. Talking about the holidays and meeting up with family, meeting Prem Sankaran, Emily Young and Kevin Keirle in Singapore, having Hawker food (LOVE Kaya toast!) with Kevin Tan at 7 in the morning (also in Singapore!), moving to the warehouse and setting up The Office, the domain switch to rubenerdshow.com, the adventures with the now dead rubenerd.com and how Switchfusion is evil, my new 5.6 gigabyte webhost, how fed up I am with changing email addresses, and my gmail email and 49 free invites! Oh and a review of The Island.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
