---
title: "Rubenerd Show 294: The Emperor's Puff episode"
date: "2015-09-15T17:48:37+10:00"
thumb: "https://archive.org/download/RubenerdShow294/RubenerdShow294.png"
year: "2015"
abstract: '29:00 – The official park studios of the show, getting weird looks, insomnia, the Renaissance Podcaster obsession with “nuance”, street lamps in parks, shadows on grass, Chinese vegetarian food (Chinatown in Sydney, Emperor’s Puffs, Kopitiam and hawker centres in Singapore), Australia has a new Prime Minister (the party spill motion, Turnbull, Abbott, Rudd, Gillard), the Westminster System, tiring of political cynicism, and the glorious placebo effect of pushing pedestrian-crossing buttons.'
enclosure_file: "https://archive.org/download/RubenerdShow294/RubenerdShow294.mp3"
enclosure_size: "28419542"
enclosure_type: "audio/mpeg"
enclosure_duration: "29:00"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow294/RubenerdShow294.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow294/RubenerdShow294.png" alt="Rubenerd Show 294" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow294/RubenerdShow294.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow294/RubenerdShow294.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">29:00</span> – The official park studios of the show, getting weird looks, insomnia, the Renaissance Podcaster obsession with “nuance”, street lamps in parks, shadows on grass, Chinese vegetarian food (Chinatown in Sydney, Emperor’s Puffs, Kopitiam and hawker centres in Singapore), Australia has a new Prime Minister (the party spill motion, Turnbull, Abbott, Rudd, Gillard), the Westminster System, tiring of political cynicism, and the glorious placebo effect of pushing pedestrian-crossing buttons.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released September 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

