---
title: "Rubenerd Show 384: The down low-fi episode"
date: "2018-11-20T21:37:41+11:00"
abstract: '30:11 – Recording on a terrible mic, so taking the opportunity to produce at a ludicrously low bitrate for some nostalgic fun. Topics include Zip drives, work phones, mobiles without cameras, inadvertent box smashing, eschewing (gesundheit) plastic, middle class life qualms needing perspective, Nespresso, regions of Sydney and Los Angeles, difficulty photographing anime figures, nostalgia for my 2004 job while listening to The Overnightscape and Whole Wheat Radio, the fate of internet communities, and coffee shop sounds. Special guest appearance by 1990s Iomega.'
thumb: "https://archive.org/download/RubenerdShow384/RubenerdShow384.png"
enclosure_file: "https://archive.org/download/RubenerdShow384/RubenerdShow384.mp3"
enclosure_size: "7321275"
enclosure_type: "audio/mpeg"
enclosure_duration: "30:11"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow384/RubenerdShow384.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow384/RubenerdShow384.png" alt="Rubenerd Show 384" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow384/RubenerdShow384.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow384/RubenerdShow384.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">30:11</span> – Recording on a terrible mic, so taking the opportunity to produce at a ludicrously low bitrate for some nostalgic fun. Topics include Zip drives, work phones, mobiles without cameras, inadvertent box smashing, eschewing (gesundheit) plastic, middle class life qualms needing perspective, Nespresso, regions of Sydney and Los Angeles, difficulty photographing anime figures, nostalgia for my 2004 job while listening to The Overnightscape and Whole Wheat Radio, the fate of internet communities, and coffee shop sounds. Special guest appearance by 1990s Iomega.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released November 2018 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

