---
title: "Rubenerd Show 001: The first episode episode"
date: "2005-01-24T12:00:36+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '10:00 – The first very raw, cheap, unprofessional, learning-how-to-do-a-radio-show episode of the Rubenerd Show. Talking about my vision for the show, where it’s headed and my inspiration for starting one in the first place. Be kind!'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_001/RubenerdShow001.mp3"
enclosure_size: 6100852
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-singapore
- onsug
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_001/RubenerdShow001.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_001/RubenerdShow001.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – The first very raw, cheap, unprofessional, learning-how-to-do-a-radio-show episode of the <a href="https://rubenerd.com/show/">Rubenerd Show</a>. Talking about my vision for the show, where it's headed and my inspiration for starting one in the first place. Be kind!</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
