---
title: "Rubenerd Show 214: The spooky Chinese New Year in KL episode"
date: "2007-02-16T23:33:41+08:00"
thumb: "https://archive.org/download/RubenerdShow214/Side214.gongxifacai.png"
year: "2007"
abstract: '13:00 – Frank Edward Nora is my radio idol, Singlish rubbing off, spooky night traveling in Kuala Lumpur with missing people, Scottish holidays, listener feedback (Dave, Matt, MannyTheMailman, Felix) and gong xi fa cai everyone!'
enclosure_file: "https://archive.org/download/RubenerdShow214/RubenerdShow214.mp3"
enclosure_size: 6266628
enclosure_duration: "13:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow214/Side214.gongxifacai.png" alt="Gong Xi Fa Cai!" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow214/RubenerdShow214.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow214/RubenerdShow214.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">13:00</span> – <a href="http://theovernightscape.com/">Frank Edward Nora</a> is my radio idol, Singlish rubbing off, spooky night traveling in <a href="http://www.klcc.com.my/">Kuala Lumpur</a> with missing people, Scottish holidays, listener feedback (<a href="http://davesphotogallery.net/">Dave</a>, <a href="http://www.radiofreeporty.org/">Matt</a>, <a href="https://rubenerd.com/show/forum/comments.php?DiscussionID=46&page=1#Item_0">MannyTheMailman</a>, <a href="http://ftanjono.blogs.friendster.com/my_blog/">Felix</a>) and <em>gong xi fa cai everyone!</em></p>

<p>ou can also <a href="https://archive.org/stream/RubenerdShow214">stream it</a> and view its <a href="https://archive.org/details/RubenerdShow214">Internet Archive</a> page.</p>
<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
