---
title: "Rubenerd Show 161: The mixer board and talking episode"
date: "2006-08-28T21:28:08+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Messing around with my mixer console (I thought it was a mixer board), high school memories, debunking the stigmas attached to bipolar disorder and manic depression (they are not the same as depression), Stephen Fry being interviewed on Parkinson and dropping cameras.'
enclosure_file: "https://archive.org/download/RubenerdShow161/RubenerdShow161.mp3"
enclosure_size: 4823366
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow161/Side161.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow161/RubenerdShow161.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow161/RubenerdShow161.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Messing around with my mixer <em>console</em> (I thought it was a mixer <em>board</em>), high school memories, debunking the stigmas attached to bipolar disorder and manic depression (they are not the same as depression), <a href="http://www.stephenfry.com/">Stephen Fry</a> being interviewed on <a href="http://en.wikipedia.org/wiki/Parkinson_(TV_series)">Parkinson</a> and dropping cameras.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
