---
title: "Rubenerd Show 407: The overengineered everything episode"
date: "2020-03-14T21:28:01+11:00"
abstract: "25:32 — What started as a discussion regarding an ugly new concept car turned into pontifications about design, and anti-patterns in cars and websites. If overenginering is to make something intentionally more complicated for no benefit other than to ship product, why are we so compelled to do it? Or did I just answer my own question?"
thumb: "https://archive.org/download/RubenerdShow407/RubenerdShow407.png"
enclosure_file: "https://archive.org/download/RubenerdShow407/RubenerdShow407.mp3"
enclosure_size: "24968884"
enclosure_type: "audio/mpeg"
enclosure_duration: "25:32"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow407/RubenerdShow407.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow407/RubenerdShow407.png" alt="Rubenerd Show 407" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow407/RubenerdShow407.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow407/RubenerdShow407.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">25:32</span> – What started as a discussion regarding an ugly new concept car turned into pontifications about design, and anti-patterns in cars and websites. If overenginering is to make something intentionally more complicated for no benefit other than to ship product, why are we so compelled to do it? Or did I just answer my own question?</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released March 2020 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

