---
title: "Rubenerd Show 053: The Overnightscape 100 episode"
date: "2005-11-02T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:00 – There’s rain in Adelaide! Talking today about Tip Top Swirls: Sultana &amp; Choc Bread ("know zat I vill taste amazink!"), recieving my free copy of the WorkChoices booklet (ie: propaganda crap!), why I hate shallow competitions and the world’s obsession with ’prizes’ (enter this draw and WIN etc...) as a marketing tool, why I hate Flickr and my open source alternative I’m developing, why point schemes on credit cards are pointless, Cooper’s beer is awesome and other Australian beers are crap (only South Australian’s get it!) and some listener email from Alan Boldock! Includes an exclusive Rubenerd News update thingy talking about falling coffee sacks, uni work, photos of me listening to The Overnightscape #100, and IR reforms and casualties.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_053/RubenerdShow053.mp3"
enclosure_size: 9602803
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_053/RubenerdShow053.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_053/RubenerdShow053.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – There's rain in Adelaide! Talking today about Tip Top Swirls: Sultana &amp; Choc Bread ("know zat I vill taste amazink!"), recieving my free copy of the WorkChoices booklet (ie: propaganda crap!), why I hate shallow competitions and the world's obsession with 'prizes' (enter this draw and WIN etc...) as a marketing tool, why I hate Flickr and my open source alternative I'm developing, why point schemes on credit cards are pointless, Cooper's beer is awesome and other Australian beers are crap (only South Australian's get it!) and some listener email from Alan Boldock! Includes an exclusive Rubenerd News update thingy talking about falling coffee sacks, uni work, photos of me listening to The Overnightscape #100, and IR reforms and casualties.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
