---
title: "Rubenerd Show 236: The ridiculous fun with a label printer episode"
date: "2008-04-12T02:05:50+08:00"
thumb: "https://archive.org/download/RubenerdShow236/RubenerdShow236.png"
year: "2008"
abstract: '48:01 – Roel247’s comments on electronic voting, compulsory voting in Australia, Senator Bob Brown of the Greens meeting the Dalai Lama, my label printing obsession! The Brother PT-80, labeling CDs, boxes, magazine holders and everything in my father’s home office, there’s no need to write anything anymore, the growing complexity of CMSs and why I’m moving over to home brew again using Ruby and SQlite, WordPress 2.5, loudly dropping aerosol cans, Elke’s gigantic honey sandwich, converting metric to imperial in Google, Russian mail order brides, Ruben’s idea for a standardised New World Order (patent pending), seeding torrent files, too many tabs in web browsers, why South Park is actually a great show to watch, being able to laugh at yourself, not taking life too seriously!'
enclosure_file: "https://archive.org/download/RubenerdShow236/RubenerdShow236.mp3"
enclosure_size: 23069125
enclosure_duration: "48:01"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow236/RubenerdShow236.png" alt="Fun with a label printer!" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow236/RubenerdShow236.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow236/RubenerdShow236.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">48:01</span> – <a href="http://www.joboxentertainment.com/blog/">Roel247&#39;s</a> comments on electronic voting, compulsory voting in Australia, Senator <a href="http://www.bobbrown.org.au/">Bob Brown</a> of the <a href="http://www.greens.org.au">Greens</a> meeting the Dalai Lama, my label printing <a href="http://www.twhirl.org/">obsession</a>! The <a href="http://www.brother.com.sg/productDetail.asp?model=PT-80&Rnum=12247">Brother PT-80</a>, labeling CDs, boxes, magazine holders and <em>everything</em> in my father&#39;s home office, there&#39;s no need to write <em>anything</em> anymore, the growing complexity of <a href="http://en.wikipedia.org/wiki/Content_management_system">CMSs</a> and why I&#39;m moving over to home brew again using <a href="http://ruby-lang.org/en/">Ruby</a> and <a href="http://sqlite.org/">SQlite</a>, WordPress 2.5, loudly dropping aerosol cans, Elke&#39;s gigantic honey sandwich, converting metric to imperial in Google, Russian mail order brides, Ruben&#39;s idea for a standardised New World Order (patent pending), seeding torrent files, too many tabs in web browsers, why <a href="http://www.southparkstudios.com/">South Park</a> is actually a great show to watch, being able to laugh at yourself, not taking life too seriously!</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
