---
title: "Rubenerd Show 234: The Tasmania and ranting about news episode"
date: "2008-04-08T03:40:42+08:00"
thumb: "https://archive.org/download/RubenerdShow234/RubenerdShow234.png"
year: "2008"
abstract: ''
enclosure_file: "https://archive.org/download/RubenerdShow234/RubenerdShow234.mp3"
enclosure_size: 29875386
enclosure_duration: "1:02:12"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-singapore
- onsug
location: singapore
---
<p class="show-cover"><a href="https://www.flickr.com/photos/rubenerd/2378142401/"><img src="https://archive.org/download/RubenerdShow234/RubenerdShow234.png" alt="Photo from our trip to Tasmania 2006" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
