---
title: "Rubenerd Show 196: The Amiga 500 boxing day episode"
date: "2006-12-26T21:40:36+08:00"
thumb: "https://archive.org/download/RubenerdShow196/Side196.png"
year: "2006"
abstract: '10:00 – Cleaning my awesome vintage Commodore Amiga 500 billboard (photos pending), Wikipedia being the only website, Boxing Day (the origins of the term, Proclamation Day in South Australia), the Sydney to Hobart Yacht Race and Rock Lobster!'
enclosure_file: "https://archive.org/download/RubenerdShow196/RubenerdShow196.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow196/Side196.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow196/RubenerdShow196.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow196/RubenerdShow196.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Cleaning my awesome vintage Commodore Amiga 500 billboard (<a href="https://flickr.com/photos/rubenerd/">photos pending</a>), <a href="http://en.wikipedia.org/wiki/">Wikipedia</a> being the only website, Boxing Day (the origins of the term, <a href="http://en.wikipedia.org/wiki/Proclamation_Day">Proclamation Day</a> in <a href="http://sa.gov.au/">South Australia</a>), the <a href="http://rolexsydneyhobart.com/">Sydney to Hobart Yacht Race</a> and <em><a href="http://en.wikipedia.org/wiki/B52s">Rock Lobster!</a></em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
