---
title: "Rubenerd Show 155: The parody of the Overnightscape episode"
date: "2006-08-21T00:37:15+08:00"
thumb: "https://archive.org/download/RubenerdShow155/Side155.png"
year: "2006"
abstract: '10:00 – This episode of the Rubenerd Show is a good natured parody of the Overnightscape, and does not represent the views of the aforementioned podcast programme or Frank Edward Nora, nor was this program in any way sponsored or endorsed by the Overnightscape or Frank Edward Nora.'
enclosure_file: "https://archive.org/download/RubenerdShow155/RubenerdShow155.mp3"
enclosure_size: 4823388
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img style="float:left; margin:0px 20px 5px 0px; width:110px;" src="https://archive.org/download/RubenerdShow155/Side155.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow155/RubenerdShow155.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow155/RubenerdShow155.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – This episode of the <a href="https://rubenerd.com/show/">Rubenerd Show</a> is a good natured parody of the <a href="http://theovernightscape.com">Overnightscape</a>, and does not represent the views of the aforementioned podcast programme or Frank Edward Nora, nor was this program in any way sponsored or endorsed by the Overnightscape or Frank Edward Nora.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
