---
title: "Rubenerd Show 404: The 29th griddle episode"
date: "2020-02-29T14:49:44+11:00"
abstract: "44:51 — The second Rubenerd Show to be released on the 29th of February, HTTP 404 status codes, a new griddle, SARS, Phua Chu Kang, bushfire update, why you shouldn’t need a reason not to be a dick, and a nostalgic snack review from Singapore. Recorded early Febuary 2020."
thumb: "https://archive.org/download/RubenerdShow404/RubenerdShow404.png"
enclosure_file: "https://archive.org/download/RubenerdShow404/RubenerdShow404.mp3"
enclosure_size: "43618074"
enclosure_type: "audio/mpeg"
enclosure_duration: "44:51"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow404/RubenerdShow404.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow404/RubenerdShow404.png" alt="Rubenerd Show 404" style="float:right; margin:0 0 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow404/RubenerdShow404.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow404/RubenerdShow404.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">44:51</span> – The <a href="https://rubenerd.com/show326/">second</a> Rubenerd Show to be released on the 29th of February, HTTP 404 status codes, a new griddle, SARS, Phua Chu Kang, bushfire update, why you shouldn’t need a reason not to be a dick, and a nostalgic snack review from Singapore. Recorded early Febuary 2020.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released February 2020 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

