---
title: "Rubenerd Show 301: The G3 media episode"
date: "2015-10-18T22:34:44+11:00"
thumb: "https://archive.org/download/RubenerdShow301/RubenerdShow301.png"
year: "2015"
abstract: '55:27 – Cicadas, overhead planes, show 300 feedback, powers of two, the Airbus A380, Wings, unusual clouds, light patterns, abandoned tennis courts with floodlights, Dave Chappelle as Rick James, couldn’t care less about celebrities, Dôme coffee chain in Perth and Singapore, childhood lessons about trusting the media, Chinese whispers,  multimedia encyclopaedia CD-ROMs, citing Wikipedia, Apple IIc, squirrels, 1980s GUIs, nonsense about why Windows 9 was skipped, Mac OS 8.6, and my decade-long adventure with a "dead" PowerMac G3!'
enclosure_file: "https://archive.org/download/RubenerdShow301/RubenerdShow301.mp3"
enclosure_size: "55975909"
enclosure_type: "audio/mpeg"
enclosure_duration: "55:27"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow301/RubenerdShow301.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow301/RubenerdShow301.png" alt="Rubenerd Show 301" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow301/RubenerdShow301.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow301/RubenerdShow301.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">55:27</span> – Cicadas, overhead planes, <a href="https://rubenerd.com/show300/">show 300</a> feedback, powers of two, the Airbus A380, Wings, unusual clouds, light patterns, abandoned tennis courts with floodlights, Dave Chappelle as Rick James, couldn't care less about celebrities, Dôme coffee chain in Perth and Singapore, childhood lessons about trusting the media, Chinese whispers,  multimedia encyclopaedia CD-ROMs, citing Wikipedia, Apple IIc, squirrels, 1980s GUIs, nonsense about why Windows 9 was skipped, Mac OS 8.6, and my decade-long adventure with a "dead" PowerMac G3!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released October 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

