---
title: "Rubenerd Show 263: The money leeching and random cooking episode"
date: "2009-01-20T18:44:46+08:00"
thumb: "https://archive.org/download/RubenerdShow263/RubenerdShow263.180px.png"
year: "2009"
abstract: '20:56 – Can I get a monocle? A monocle? Also discussing my displeasure over companies that just make money from money; the financial crisis; the infamous red light Orchard Towers in Singapore; the Jason’s Gourmet Grocer; hard versus soft energy drinks; Irn-Bru; review of Alton Brown’s Good Eats programme; Jamie Oliver; the joys of steel cut oats; how much Singapore has changed in a decade; Bob’s Red Mill in Oregon; finding out buttermilk isn’t as horrible as it first sounds; Pepsi is in fact better than Coke; why instant oats suck and can I get a monocle?'
enclosure_file: "https://archive.org/download/RubenerdShow263/RubenerdShow263.mp3"
enclosure_size: 10215227
enclosure_duration: "20:56"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow262/RubenerdShow263.png"><img src="https://archive.org/download/RubenerdShow263/RubenerdShow263.180px.png" alt="Larger version of cover art" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow263/RubenerdShow263.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow263/RubenerdShow263.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:56</span> – Can I get a monocle? A monocle? Also discussing my displeasure over companies that just make money from money; the financial crisis; the infamous red light <a href="http://en.wikipedia.org/wiki/Orchard_Towers">Orchard Towers in Singapore</a>; the Jason&#39;s Gourmet Grocer; hard versus soft energy drinks; <a href="http://irn-bru.co.uk">Irn-Bru</a>; review of <a href="http://www.altonbrown.com/">Alton Brown&#39;s</a> <a href="http://www.foodnetwork.com/good-eats/index.html">Good Eats programme</a>; <a href="http://jamieoliver.com/">Jamie Oliver</a>; the joys of steel cut oats; how much Singapore has changed in a decade; Bob&#39;s Red Mill in <a href="http://en.wikipedia.org/wiki/Oregon">Oregon</a>; finding out <a href="http://en.wikipedia.org/wiki/Buttermilk">buttermilk</a> isn&#39;t as horrible as it first sounds; Pepsi is in fact better than Coke; why instant oats suck and can I get a monocle?</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
