---
title: "Rubenerd Show 225: The random music and iLife rant at 0200 episode"
date: "2007-08-15T02:06:09+08:00"
thumb: "https://archive.org/download/RubenerdShow225/RubenerdShow225.png"
year: "2007"
abstract: '42:00 – Insomnia is a bitch, I’m related to Kevin Rudd, Jamiroquai’s virtual insanity, recording a podcast at 0200, great welcome back forum posts, thanking y’all, viagra, TedPod passes 100 episodes, alphabetical order sucks, jetlag, evil sleeping cycles, shocking people, really disappointing iLife 2008 release, dumbing down iMovie, subtle Final Cut Express persuasion speculation, stealing bread and shirts, British Apple advertisements, MacBreak Weekly ratholes, wiping operating systems, big arse apple juicers, self consciousness and why I can’t do video, age and cynicism, online newspapers, genealogy and family trees, convicts going to Australia, Mary Wade to us, living in Singapore, maddening mysterious Champs-Élysees song, Avril Lavigne tries to sing Japanese, slurred stress importance, sitting in a Singaporean coffee shop and making the ultimate kickarse juice!'
enclosure_file: "https://archive.org/download/RubenerdShow225/RubenerdShow225.mp3"
enclosure_size: 20162937
enclosure_duration: "42:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><a href="https://rubenerd.com/show/blog/pointless-photobooth-at-0200/"><img src="https://archive.org/download/RubenerdShow225/RubenerdShow225.png" style="width:180px; height:180px; float:right; margin:1em 0em 1em 2em; display:inline; border:0px" alt="Cover art" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow225/RubenerdShow225.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow225/RubenerdShow225.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">42:00</span> – Insomnia is a bitch, I&#39;m related to <a href="http://www.kevin07.com/">Kevin Rudd</a>, Jamiroquai&#39;s virtual insanity, recording a podcast at 0200, great welcome back <a href="https://rubenerd.com/show/forum/comments.php?DiscussionID=60&page=1#Item_0">forum posts</a>, thanking y&#39;all, viagra, <a href="http://www.tedpod.com/TedPod/TedPod.html">TedPod</a> passes <a href="http://www.tedpod.com/TedPod/432A27C7-D64C-4522-8DD4-FA03FB9108AE.html">100 episodes</a>, alphabetical order sucks, jetlag, evil sleeping cycles, shocking people, really disappointing <a href="http://www.apple.com.sg/ilife/">iLife 2008</a> release, dumbing down iMovie, subtle Final Cut Express persuasion speculation, stealing bread and shirts, British <a href="http://www.apple.com/uk/getamac/ads/">Apple advertisements</a>, <a href="http://twit.tv/mbw">MacBreak Weekly</a> ratholes, wiping operating systems, big arse apple juicers, self consciousness and why I can&#39;t do video, age and cynicism, online newspapers, genealogy and family trees, <a href="http://www.theage.com.au/news/web/convict-records-placed-online/2007/07/25/1185339061055.html">convicts going to Australia</a>, Mary Wade to us, living in Singapore, maddening mysterious Champs-Élysees song, Avril Lavigne tries to sing Japanese, slurred stress importance, sitting in a Singaporean coffee shop and making the <a href="http://www.tedpod.com/TedPod/F67EE6C3-F873-4A63-B2A1-EA87E428310A.html">ultimate kickarse juice</a>!</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
