---
title: "Rubenerd Show 037: The back-to-the-old-days style episode"
date: "2005-08-16T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – Back-to-the-old-days style show! Talking about a funny tutorial I went to today, a review of an SBS documentary on media censorship in war and a hint on what’s to come on episode 40!'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_037/RubenerdShow037.mp3"
enclosure_size: 6502128
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_037/RubenerdShow037.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_037/RubenerdShow037.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – Back-to-the-old-days style show! Talking about a funny tutorial I went to today, a review of an SBS documentary on media censorship in war and a hint on what&#39;s to come on episode 40!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
