---
title: "Rubenerd Show 137: Tonight's guests: Kevin Tan and Chris Szeto"
date: "2006-07-26T19:00:20+08:00"
thumb: "https://archive.org/download/RubenerdShow137/Side137.png"
year: "2006"
abstract: '10:00 – Kenny Rogers, Kevin detailing national service in Singapore, Chris selling his 1990 Nissan Pulsar, Ruben not selling computers, retro computers (rugged and reliable), comparing MacBook Pro and MacBook, why Windows 2000 is still the best Windows. Apologies for audio quality, Kevin’s microphone was pretty crappy!'
enclosure_file: "https://archive.org/download/RubenerdShow137/RubenerdShow137.mp3"
enclosure_size: 4819711
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow137/Side137.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow137/RubenerdShow137.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow137/RubenerdShow137.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Kenny Rogers, Kevin detailing national service in Singapore, Chris selling his 1990 Nissan Pulsar, Ruben not selling computers, retro computers (rugged and reliable), comparing MacBook Pro and MacBook, why Windows 2000 is still the best Windows. Apologies for audio quality, Kevin&#39;s microphone was pretty crappy!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
