---
title: "Rubenerd Show 085: The back luck with old tech episode"
date: "2006-05-14T23:35:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Reactions to the music-free episodes, Ruben’s bad luck with tech (old iPod, V3 RAZR and MacBook Pro), the iBook which has never let down, the Telecom New Zealand resignation, The Top 5 (signs it’s too cold!), and an AppleCare centre adventure (warranty confusion).'
enclosure_file: "https://archive.org/download/RubenerdShow085/RubenerdShow085.mp3"
enclosure_size: 4802896
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow085/RubenerdShow085.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow085/RubenerdShow085.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Reactions to the music-free episodes, Ruben&#39;s bad luck with tech (old iPod, V3 RAZR and MacBook Pro), the iBook which has never let down, the Telecom New Zealand resignation, The Top 5 (signs it&#39;s too cold!), and an AppleCare centre adventure (warranty confusion).</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
