---
title: "Rubenerd Show 200: The 2007 episode… episode"
date: "2007-01-01T22:43:48+08:00"
thumb: "https://archive.org/download/RubenerdShow200/Side200.png"
year: "2007"
abstract: '10:00 – Ingesting actual coffee cups, changing batteries live (again), listener email (Anony Ms from Singapore!), looking back at Rubenerd Show 001 and Rubenerd Show 100, memory, 2007 good wishes and Ruben hopelessly trying to be Horatio Caine!'
enclosure_file: "https://archive.org/download/RubenerdShow200/RubenerdShow200.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow200/Side200.png" alt="Show cover" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow200/RubenerdShow200.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow200/RubenerdShow200.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Ingesting actual coffee cups, changing batteries live (again), listener email (Anony Ms from Singapore!), looking back at <a href="https://rubenerd.com/show001/">Rubenerd Show 001</a> and <a href="https://rubenerd.com/show100/">Rubenerd Show 100</a>, memory, 2007 good wishes and <em>Ruben hopelessly trying to be <a href="http://en.wikipedia.org/wiki/CSI:_Miami">Horatio Caine</a>!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
