---
title: "Rubenerd Show 018: The Second Offline Editions episode"
date: "2005-06-09T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – Second episode of the Offline Editions of The Rubenerd Show. Talking about heaters, the phenomena of digital crap, digital diary log things, inhaling butterflies, and a special COFFEE UPDATE (Farmer’s Union Iced Coffee)! Plus special guest appearances by Steven and Matthew from uni! Plus Ruben embarrasing himself laughing hysterically! UPDATE: If you were in the AIS Class of 2004 you MUST sign up to the new messageboard at boyd-anderson.com.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_018/RubenerdShow018.mp3"
enclosure_size: 4631306
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_018/RubenerdShow018.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_018/RubenerdShow018.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – Second episode of the Offline Editions of The Rubenerd Show. Talking about heaters, the phenomena of digital crap, digital diary log things, inhaling butterflies, and a special COFFEE UPDATE (Farmer&#39;s Union Iced Coffee)! Plus special guest appearances by Steven and Matthew from uni! Plus Ruben embarrasing himself laughing hysterically! UPDATE: If you were in the AIS Class of 2004 you MUST sign up to the new messageboard at boyd-anderson.com.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
