---
title: "Rubenerd Show 347: The Harrison Ford episode"
date: "2016-07-18T14:46:47+10:00"
year: "2016"
abstract: '53:33 – Harrison Ford has done a lot of movies (GET ME OFF THIS PLANE). Also plummeting down a lift shaft, making the mistake of asking a question online, lack of empathy over anonymity, nostalgia for the early days of Twitter, Jimbo listener feedback, American education nomenclature, and drops of Jupiter’s clouds. Music by the fabulously talented Who-ha once more.'
thumb: "https://archive.org/download/RubenerdShow347/RubenerdShow347.png"
enclosure_file: "https://archive.org/download/RubenerdShow347/RubenerdShow347.mp3"
enclosure_size: "53399790"
enclosure_type: "audio/mpeg"
enclosure_duration: "53:33"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow347/RubenerdShow347.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow347/RubenerdShow347.png" alt="Rubenerd Show 347" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow347/RubenerdShow347.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow347/RubenerdShow347.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">53:33</span> – Harrison Ford has done a lot of movies (GET ME OFF THIS PLANE). Also plummeting down a lift shaft, making the mistake of asking a question online, lack of empathy over anonymity, nostalgia for the early days of Twitter, Jimbo listener feedback, American education nomenclature, and drops of Jupiter’s clouds. Music by the fabulously talented <a href="https://soundcloud.com/thewhoha/who-ha-khaki">Who-ha</a> once more.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released July 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

