---
title: "Rubenerd Show 078: The mobile phone episode"
date: "2006-05-04T05:18:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – The Mobile Phone Episode! People complaining about lack of memory in their phones, stupid ringtone subscription services that prey on children, expensive phone addons, my Motorola V3 telling me on screen that it can’t charge, and McDonalds health campaign: a conflict of interests?'
enclosure_file: "https://archive.org/download/RubenerdShow078/RubenerdShow078.mp3"
enclosure_size: 4818818
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow078/RubenerdShow078.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow078/RubenerdShow078.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – The Mobile Phone Episode! People complaining about lack of memory in their phones, stupid ringtone subscription services that prey on children, expensive phone addons, my Motorola V3 telling me on screen that it can&#39;t charge, and McDonalds health campaign: a conflict of interests?</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
