---
title: "Rubenerd Show 142: The Channel 10 reality television sucks episode"
date: "2006-08-03T04:00:50+08:00"
thumb: "https://archive.org/download/RubenerdShow142/Side142.png"
year: "2006"
abstract: '10:00 – Bit of Rubenerd Housekeeping (transferring RubenerdShow.com domain complete, moving to new webhost), blog software subscriptions versus podcast clients, sorry state of reality television in Australia (Channel 7 and 9 fun, Channel 10 sucks, tired and worn out) and the Rubenerd Ultimate Reality Television Show!'
enclosure_file: "https://archive.org/download/RubenerdShow142/RubenerdShow142.mp3"
enclosure_size: 4823366
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow142/Side142.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow142/RubenerdShow142.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow142/RubenerdShow142.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Bit of Rubenerd Housekeeping (transferring RubenerdShow.com domain complete, moving to new webhost), blog software subscriptions versus podcast clients, sorry state of reality television in Australia (Channel 7 and 9 fun, Channel 10 sucks, tired and worn out) and the Rubenerd Ultimate Reality Television Show!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
