---
title: "Rubenerd Show 048: The Uncle Dave celebrity appearance episode"
date: "2005-10-16T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:00 – Celebrity appearance by my awesome uncle: Uncle Dave! Also talking about the ANZ, an exclusive phone interview with Frank Edward Nora (ahem), why Internet Explorer is evil for 8 reasons and why you need to get a different browser if you’re using it (I’m Begging You To!!!), a review of StopIE.com, a schedule clarification, you are here: Adelaide, and some listener email (Felix Tanjono and Stephanie Boole from the US).'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_048/RubenerdShow048.mp3"
enclosure_size: 8577559
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_048/RubenerdShow048.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_048/RubenerdShow048.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – Celebrity appearance by my awesome uncle: Uncle Dave! Also talking about the ANZ, an exclusive phone interview with Frank Edward Nora (ahem), why Internet Explorer is evil for 8 reasons and why you need to get a different browser if you&#39;re using it (I&#39;m Begging You To!!!), a review of <a href="http://StopIE.com">StopIE.com</a>, a schedule clarification, you are here: Adelaide, and some listener email (Felix Tanjono and Stephanie Boole from the US).</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
