---
title: "Rubenerd Show 100: The Rubenerd Show Century Old 20 Minute Special episode"
date: "2006-06-05T03:00:00+08:00"
thumb: "https://archive.org/download/RubenerdShow100/RubenerdShow100.500px.png"
year: "2006"
abstract: '20:00 – Jimbob words of wisdom, embarrassing emails, the world I was living in when the show stared, Episode 001 clips (how the show got it’s name, show evolution), inspirations (Overnightscape, Gillmor Gang, Crap and Stuff, Whole Wheat Radio), drinking Sake to celebrate, Ruben not suited to the university lifestyle, The Top Five (signs you’ve been doing internet radio too long), and a thank you to everyone for your listenership!'
enclosure_file: "https://archive.org/download/RubenerdShow100/RubenerdShow100.mp3"
enclosure_size: 9623293
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/details/RubenerdShow100"><img src="https://archive.org/download/RubenerdShow100/RubenerdShow100.500px.png" alt="" style="height:359px; width:500px; display:inline; border:0px;" /></a></p>
<p style="font-weight:bold">The Rubenerd Show Century Old 20 Minute Special Episode!</p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow100/RubenerdShow100.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow100/RubenerdShow100.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – Jimbob words of wisdom, embarrassing emails, the world I was living in when the show stared, <a href="https://rubenerd.com/show001/">Episode 001</a> clips (how the show got it&#39;s name, show evolution), inspirations (<a href="http://overnightscape.com/">Overnightscape</a>, <a href="http://gillmorgang.podshow.com/">Gillmor Gang</a>, <a href="http://crapandstuff.com/">Crap and Stuff</a>, <a href="http://wholewheatradio.org/">Whole Wheat Radio</a>), drinking Sake to celebrate, Ruben not suited to the university lifestyle, The Top Five (signs you&#39;ve been doing internet radio too long), and a thank you to everyone for your listenership!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
