---
title: "Rubenerd Show 179: The eery Starbucks in Putrajaya episode"
date: "2006-11-17T21:48:44+08:00"
thumb: "NA"
year: "2006"
abstract: '16:00 – From the forum (Internet Explorer problems), coffee review (Coffee Bean and Tea Leaf Mocha), visiting Putrajaya, (Alamanda SC, playing chess at Starbucks), Christmas decorations in an Islamic country and a Liverpool player on chess!'
enclosure_file: "https://archive.org/download/RubenerdShow179/RubenerdShow179.mp3"
enclosure_size: 7703777
enclosure_duration: "16:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow179/Side179.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow179/RubenerdShow179.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow179/RubenerdShow179.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">16:00</span> – From <a href="https://rubenerd.com/show/forum/">the forum</a> (<a href="http://stopie.com/">Internet Explorer</a> problems), coffee review (<a href="http://coffeebean.com.my/">Coffee Bean and Tea Leaf</a> Mocha), visiting <a href="http://en.wikipedia.org/wiki/Putrajaya/">Putrajaya</a>, (<a href="http://www.alamanda.com.my/">Alamanda SC</a>, playing chess at <a href="http://starbucks.com.my/">Starbucks</a>), Christmas decorations in an Islamic country and <em>a Liverpool player on chess!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
