---
title: "Rubenerd Show 316: The Opera House episode"
date: "2016-01-01T22:31:59+11:00"
year: "2016"
abstract: '44:53 – The first episode of 2016! Join Ruben on a stunning morning in Sydney’s Circular Quay as he watches the ferries go past the Sydney Opera House and Harbour Bridge. Also inexplicable discussion on traffic helicopters, naming anime episodes in Plex, puddled iron in the Eiffel Tower, palm trees, Running Man, Americans who like Vegemite, disappointing San Fran coffee, alternate terms for podcasting, The Rocks precinct, and what’s possibly Australia’s oldest surviving house.'
thumb: "https://archive.org/download/RubenerdShow316/RubenerdShow316.png"
enclosure_file: "https://archive.org/download/RubenerdShow316/RubenerdShow316.mp3"
enclosure_size: "44079278"
enclosure_type: "audio/mpeg"
enclosure_duration: "44:53"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow316/RubenerdShow316.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow316/RubenerdShow316.png" alt="Rubenerd Show 316" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow316/RubenerdShow316.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow316/RubenerdShow316.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">44:53</span> – The first episode of 2016! Join Ruben on a stunning morning in Sydney's Circular Quay as he watches the ferries go past the Sydney Opera House and Harbour Bridge. Also inexplicable discussion on traffic helicopters, naming anime episodes in Plex, puddled iron in the Eiffel Tower, palm trees, Running Man, Americans who like Vegemite, disappointing San Fran coffee, alternate terms for podcasting, The Rocks precinct, and what's possibly Australia's oldest surviving house.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released January 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

<p><a href="https://ia601509.us.archive.org/17/items/RubenerdShow316/RecordingLocationPano.jpg"><img src="https://ia601509.us.archive.org/17/items/RubenerdShow316/RecordingLocationPano_thumb.jpg" alt="The recording location!" style="width:500px" /></a></p>

