---
title: "Rubenerd Show 273: The incompetent internets episode"
date: "2009-07-27T12:51:47+08:00"
thumb: "https://archive.org/download/RubenerdShow273/RubenerdShow273.180px.png"
year: "2009"
abstract: '19:18 – Moving lots of blogs into one blog; people like Zombie Plan and Neal from IntoYourHead going the opposite ways; working and living places after university; iTelephone cases and downloading; The Googles and I losing track of core competencies; too much self respect to use Chandler Bing and vacuous people getting angry at Twitter for losing spam followers!'
enclosure_file: "https://archive.org/download/RubenerdShow273/RubenerdShow273.mp3"
enclosure_size: 9384188
enclosure_duration: "19:18"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow273/RubenerdShow273.png"><img src="https://archive.org/download/RubenerdShow273/RubenerdShow273.180px.png" alt="Larger version of cover art" style="height:241px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow273/RubenerdShow273.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow273/RubenerdShow273.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">19:18</span> – Moving lots of blogs into one blog; people like <a href="http://zombieplan.zombieskittles.com/">Zombie Plan</a> and <a href="http://intoyourhead.com/">Neal from IntoYourHead</a> going the opposite ways; working and living places after university; iTelephone cases and downloading; <a href="http://google.com/">The Googles</a> and I losing track of core competencies; too much self respect to use <a href="http://en.wikipedia.org/wiki/Bing_(search_engine)">Chandler Bing</a> and vacuous people getting angry at Twitter for losing spam followers!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
