---
title: "Rubenerd Show 345: The turncoat episode"
date: "2016-07-04T17:12:55+10:00"
year: "2016"
abstract: '01:16:30 – Ruben engages in Australia’s democratic process, motorcycle commutes, frigid weather, preferential voting systems, democracy sausages, colour logic behind wheelie bin lids, and a frustrating rail journey into geo-blocked gaming.'
thumb: "https://archive.org/download/RubenerdShow345/RubenerdShow345.png"
enclosure_file: "https://archive.org/download/RubenerdShow345/RubenerdShow345.mp3"
enclosure_size: "75562636"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:16:30"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow345/RubenerdShow345.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow345/RubenerdShow345.png" alt="Rubenerd Show 345" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow345/RubenerdShow345.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow345/RubenerdShow345.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:16:30</span> – Ruben engages in Australia’s democratic process, motorcycle commutes, frigid weather, preferential voting systems, democracy sausages, colour logic behind wheelie bin lids, and a frustrating rail journey into geo-blocked gaming.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released July 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

