---
title: "Rubenerd Show 257: The freak Aussie weather and iPhone 2.2 episode"
date: "2008-11-23T17:00:46+08:00"
thumb: "https://archive.org/download/RubenerdShow257/RubenerdShow257.180px.png"
year: "2008"
abstract: '21:05 – Freak weather in Australia (torrential storms in Brisbane, fluctuating temperatures in Adelaide, snow in Victoria a week before summer!); my cheesy slogan from primary school; my dad’s plant designs in Pinkenba; the iPhone and iPod Touch 2.2 update (still no copy/paste, the amazing street view feature, the new weird MobileSafari layout); Toronto, Adelaide and Dublin; the IntoYourHead show; and utopian science fiction writers!'
enclosure_file: "https://archive.org/download/RubenerdShow257/RubenerdShow257.mp3"
enclosure_size: 10199525
enclosure_duration: "21:05"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow257/RubenerdShow257.png"><img src="https://archive.org/download/RubenerdShow257/RubenerdShow257.180px.png" alt="Larger version of cover art" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow257/RubenerdShow257.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow257/RubenerdShow257.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">21:05</span> – Freak weather in Australia (torrential storms in Brisbane, fluctuating temperatures in Adelaide, snow in Victoria a week before summer!); my cheesy slogan from primary school; my dad&#39;s plant designs in <a href="http://en.wikipedia.org/wiki/Pinkenba,_Queensland">Pinkenba</a>; the iPhone and iPod Touch 2.2 update (still no copy/paste, the amazing street view feature, the new weird MobileSafari layout); Toronto, Adelaide and Dublin; the <a href="http://intoyourhead.com">IntoYourHead</a> show; and utopian science fiction writers!</p>

<p><strong>UPDATE:</strong> I referred to the CEO of Microsoft as Steve Jobs not Steve Ballmer! The blasphemy! Please forgive me!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
