---
title: "Rubenerd Show 322: The reading into Straya episode"
date: "2016-01-27T23:16:37+11:00"
year: "2016"
abstract: '52:35 – Anyone will tell you it’s a prison island, hidden in the summer for a million years. Happy Australia Day with this discussion of what should be the anthem, Captain Cook, our native peoples, where we all live, cliche Australian tourism advertising, Outback Steakhouse, and humbling flights over the desert. Topped off with a Midnight Citizen-inspired discussion on rapidly fading music and book retail (Coconuts, Borders, Angus & Robertson, Tower Records, HMV in Singapore, the magical late 1990s), and the darn space all those books and DVDs take up. Released late because work has been tough, hope it was worth it!'
enclosure_file: "https://archive.org/download/RubenerdShow322/RubenerdShow322.mp3"
enclosure_size: "52009733"
enclosure_type: "audio/mpeg"
enclosure_duration: "52:35"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow322/RubenerdShow322.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow322/RubenerdShow322.png" alt="Rubenerd Show 322" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow322/RubenerdShow322.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow322/RubenerdShow322.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">52:35</span> – Anyone will tell you it’s a prison island, hidden in the summer for a million years. Happy Australia Day with this discussion of what should be the anthem, Captain Cook, our native peoples, where we all live, cliche Australian tourism advertising, Outback Steakhouse, and humbling flights over the desert. Topped off with a <a href="http://onsug.com/archives/18940">Midnight Citizen-inspired discussion</a> on rapidly fading music and book retail (Coconuts, Borders, Angus & Robertson, Tower Records, HMV in Singapore, the magical late 1990s), and the darn space all those books and DVDs take up. Released late because work has been tough, hope it was worth it!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released January 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

