---
title: "Rubenerd Show 262: The robusta coffee and FireWire drive episode"
date: "2009-01-16T01:53:34+08:00"
thumb: "https://archive.org/download/RubenerdShow262/RubenerdShow262.180px.png"
year: "2009"
abstract: '21:01 – Having delusions of effectiveness; Burnt tongues; differences between robusta and arabica coffee; lack of FireWire ports on the new MacBook; instant coffee crap; the teachers pet phenomena; high school library studying adventures in 2004; Wordpress mistaking m3u for mp3 in enclosures; too many darned files; FireWire 800 versus FireWire 400 versus USB 2.0; review of the Western Digital My Passport Studio FireWire external notebook drive and a heavy bag of bubble wrap!'
enclosure_file: "https://archive.org/download/RubenerdShow262/RubenerdShow262.mp3"
enclosure_size: 10234431
enclosure_duration: "21:01"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow262/RubenerdShow262.png"><img src="https://archive.org/download/RubenerdShow262/RubenerdShow262.180px.png" alt="Larger version of cover art" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow262/RubenerdShow262.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow262/RubenerdShow262.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">21:01</span> – Having delusions of effectiveness; Burnt tongues; differences between <a href="http://en.wikipedia.org/wiki/Coffea_canephora">robusta</a> and <a href="http://en.wikipedia.org/wiki/Coffea_arabica">arabica coffee</a>; lack of FireWire ports on the new MacBook; instant coffee crap; the teachers pet phenomena; high school library studying adventures in 2004; Wordpress mistaking m3u for mp3 in enclosures; too many darned files; FireWire 800 versus FireWire 400 versus USB 2.0; review of the Western Digital My Passport Studio FireWire external notebook drive and a heavy bag of bubble wrap!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
