---
title: "Rubenerd Show 274: The footy buckling spring keyboard episode"
date: "2009-07-29T10:32:25+08:00"
thumb: "https://archive.org/download/RubenerdShow274/RubenerdShow274.png"
year: "2009"
abstract: '21:16 – Getting hate messages a sign of honour; maturity by being able to laugh at yourself; news still being news if its not new; IRC and Twitter mudslinging whatnot; people getting snippy at me quoting David Letterman’s comments on Aussie Rules football; scoring points if you miss; making fun sounds with buckling spring keyboards; the awesomeness of Unicomp in the US of A and this thing called a sense of humour!'
enclosure_file: "https://archive.org/download/RubenerdShow274/RubenerdShow274.mp3"
enclosure_size: 10341897
enclosure_duration: "21:16"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow274/RubenerdShow274.mp3"><img src="https://archive.org/download/RubenerdShow274/RubenerdShow274.png" alt="Larger version of cover art" style="height:241px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow274/RubenerdShow274.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow274/RubenerdShow274.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">21:16</span> – Getting hate messages a sign of honour; maturity by being able to laugh at yourself; news still being news if its not new; IRC and Twitter mudslinging whatnot; people <a href="http://twitter.com/cookster17/status/2899990521">getting snippy</a> at <a href="http://twitter.com/Rubenerd/status/2890442949">me quoting</a> David Letterman&#39;s comments on Aussie Rules football; scoring points if you miss; making fun sounds with buckling spring keyboards; the awesomeness of <a href="http://pckeyboards.stores.yahoo.net/keyboards.html">Unicomp in the US of A</a> and this thing called a sense of humour!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
