---
title: "Rubenerd Show 207: The timezone confuzzlement episode"
date: "2007-01-10T01:30:05+08:00"
thumb: "NA"
year: "2007"
abstract: '10:00 – Trying to fathom timezones, FreeBSD, Macworld speculation (Apple iPhone, larger displays, iLife &amp; iWork 2007), Microsoft at CES (reaction versus innovation), a Rubenerd Rant (what’s the point of a game console?) and MBA light bulbs!'
enclosure_file: "https://archive.org/download/RubenerdShow207/RubenerdShow207.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow207/Side207.osxplanet.jpg" alt="" />

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow207/RubenerdShow207.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow207/RubenerdShow207.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Trying to fathom timezones, <a href="http://freebsd.org/">FreeBSD</a>, Macworld speculation (<a href="http://www.macrumors.com/pages/2007/01/20070108221505.shtml">Apple iPhone</a>, <a href="http://www.macrumors.com/pages/2007/01/20070108205358.shtml">larger displays</a>, <a href="http://www.macrumors.com/pages/2007/01/20070108205358.shtml">iLife &amp; iWork 2007</a>), Microsoft at CES (reaction versus innovation), a Rubenerd Rant (what&#39;s the point of a game console?) and <em>MBA light bulbs!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
