---
title: "Rubenerd Show 310: The bag episode"
date: "2015-12-04T23:03:24+11:00"
thumb: "https://archive.org/download/RubenerdShow310/RubenerdShow310.png"
year: "2015"
abstract: '01:04:00 – Automated system accents, how time affects tone, the crossover episodes done so far, working within constraints, North Arm Cove, the Australian housing bubble, Blu Ray players, Breaking Bad, Internet, Kings Comics, manga version of Big Hero 6, Barakamon, tokens we carry of societal membership (wallets, keys, phones), fiat currencies, Australian expats in Singapore, what we accept as normal, PayPass, why that new Mascot street was already being ripped up, why Ubuntu server, in search of the perfect (cheap) bag, and Fairy Tail!'
enclosure_file: "https://archive.org/download/RubenerdShow310/RubenerdShow310.mp3"
enclosure_size: "64221894"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:04:00"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow310/RubenerdShow310.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow310/RubenerdShow310.png" alt="Rubenerd Show 310" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow310/RubenerdShow310.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow310/RubenerdShow310.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:04:00</span> – Automated system accents, how time affects tone, the crossover episodes done so far, working within constraints, North Arm Cove, the Australian housing bubble, Blu Ray players, Breaking Bad, Internet, Kings Comics, manga version of Big Hero 6, Barakamon, tokens we carry of societal membership (wallets, keys, phones), fiat currencies, Australian expats in Singapore, what we accept as normal, PayPass, why that new Mascot street was already being ripped up, why Ubuntu server, in search of the perfect (cheap) bag, and Fairy Tail!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released December 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

