---
title: "Rubenerd Show 367: The Kansai episode"
date: "2017-08-07T13:32:42+10:00"
year: "2017"
abstract: '01:01:11 – Ruben wanders back from Namba to their Airbnb in Osaka, rambling about visually impaired assistance, political posters, Japanese curry, police, pachinko, lack of street names, complicated bathrooms, and Mashu/Shielder from Fate/Grand Order. Then Clara and Ruben wander around Ninna-ji in Kyoto chatting about the Rurouni Kenshin films, anime flashback episodes, and mushrooms. Then over to Arashiyama talking about soba and Kyoto tofu, beautiful scenery around the Katura River, Kyoto trolley trains, bamboo forests, rickshaws, late-opening shops, and the Togetsukyo bridge. Recorded 29–30th July 2017. Sounds from the Osaka and Kyoto subways, and some spontaneous street music.'
thumb: "https://archive.org/download/RubenerdShow367/RubenerdShow367.png"
enclosure_file: "https://archive.org/download/RubenerdShow367/RubenerdShow367.mp3"
enclosure_size: "58712144"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:01:11"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kyoto
- onsug
location: kyoto
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow367/RubenerdShow367.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow367/RubenerdShow367.png" alt="Rubenerd Show 367" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow367/RubenerdShow367.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow367/RubenerdShow367.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:01:11</span> – Ruben wanders back from Namba to their Airbnb in Osaka, rambling about visually impaired assistance, political posters, Japanese curry, police, pachinko, lack of street names, complicated bathrooms, and Mashu/Shielder from Fate/Grand Order. Then Clara and Ruben wander around Ninna-ji in Kyoto chatting about the <em>Rurouni Kenshin</em> films, anime flashback episodes, and mushrooms. Then over to Arashiyama talking about soba and Kyoto tofu, beautiful scenery around the Katura River, Kyoto trolley trains, bamboo forests, rickshaws, late-opening shops, and the Togetsukyo bridge. Recorded 29–30th July 2017. Sounds from the Osaka and Kyoto subways, and some spontaneous street music.</p>

<p class="show-licence">Recorded in Osaka and Kyoto, Japan. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released August 2017 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

