---
title: "Rubenerd Show 240: The fast food and Starbucks episode"
date: "2008-04-25T16:01:58+08:00"
thumb: "https://archive.org/download/RubenerdShow240/RubenerdShow240.png"
year: "2008"
abstract: '33:10 – On hobgoblins and small minds (courtesy of Cranky Geeks 113!), where we are in Singapore, diamond shaped thingys, pontificating on the reason why McDonald’s started printing nutritional information on place mats, a McChicken burger surprise, discussing the question: would you prefer to study in a Starbucks or in McDonalds? Reading comments by Neil from IntoYourHead, GeekMommy and Sharon in Singapore, Singapore housing boom, ridiculously tall buildings, weird designs that just don’t look stable!'
enclosure_file: "https://archive.org/download/RubenerdShow240/RubenerdShow240.mp3"
enclosure_size: 15920482
enclosure_duration: "33:10"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow240/RubenerdShow240.png" alt="Sitting at Starbucks with a certain brand of computer!" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow240/RubenerdShow240.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow240/RubenerdShow240.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">33:10</span> – On hobgoblins and small minds (courtesy of <a href="http://www.crankygeeks.com/2008/04/episode_113_web_20_conference.php">Cranky Geeks 113!</a>), where we are in Singapore, diamond shaped thingys, pontificating on the reason why McDonald&#39;s started printing nutritional information on place mats, a McChicken burger surprise, discussing the question: would you <a href="https://rubenerd.com/show/blog/p1131/">prefer to study</a> in a Starbucks or in McDonalds? Reading comments by <a href="http://intoyourhead.com/">Neil from IntoYourHead</a>, <a href="http://www.geekmommy.net/">GeekMommy</a> and <a href="http://twitter.com/sharon777/">Sharon in Singapore</a>, Singapore housing boom, ridiculously tall buildings, weird designs that just don&#39;t look stable!</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
