---
title: "Rubenerd Show 145: The bad speaker omen episode"
date: "2006-08-07T22:12:58+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Housekeeping (Rubenerd Blog update, hits), dropping speakers, getting a call from Israel Brown from Crap and Stuff, and unfortunate community church number, and a John Howard joke! Bit of audio overdrive distortion this episode, I’m correcting for tomorrow’s episode.'
enclosure_file: "https://archive.org/download/RubenerdShow145/RubenerdShow145.mp3"
enclosure_size: 4823363
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img style="float:left; margin:0px 20px 5px 0px; width:110px;" src="https://archive.org/download/RubenerdShow145/Side145.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow145/RubenerdShow145.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow145/RubenerdShow145.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Housekeeping (<a href="https://rubenerd.com/show/blog/">Rubenerd Blog</a> update, hits), dropping speakers, getting a call from Israel Brown from <a href="http://crapandstuff.com/">Crap and Stuff</a>, and unfortunate community church number, and a John Howard joke! Bit of audio overdrive distortion this episode, I&#39;m correcting for tomorrow&#39;s episode.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
