---
title: "Rubenerd Show 084: The kitchen as the centre of the house episode"
date: "2006-05-11T20:25:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – The kitchen is the centre of the house, living with Kevin (Singapore) and Chris (Hong Kong), still no music and Ruben’s Review (Adium, world class instant message client that supports ICQ, AOL, MSN, Google Talk, Yahoo etc for Mac OS X).'
enclosure_file: "https://archive.org/download/RubenerdShow084/RubenerdShow084.mp3"
enclosure_size: 4814657
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow084/RubenerdShow084.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow084/RubenerdShow084.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – The kitchen is the centre of the house, living with Kevin (Singapore) and Chris (Hong Kong), still no music and Ruben&#39;s Review (Adium, world class instant message client that supports ICQ, AOL, MSN, Google Talk, Yahoo etc for Mac OS X).</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
