---
title: "Rubenerd Show 324: The withinside episode"
date: "2016-02-04T17:14:31+11:00"
year: "2016"
abstract: '01:08:50 – With inside, within side? Haunted lifts, loud “bark blowers” as an alternative to silo lift things, age is “just a number!”, the three states of apartment building locks and USB plugs, pleasant rain sounds, tragedy of the commons, live brewing coffee and caffeinated adventures, building a gaming machine (AMD versus Intel, the GTX 970 and GTX 980, the i5-6400, the FX-8350, Athlon nostalgia, PCPartPicker.com), congrats to Frank Edward Nora for his full time job, being stalked by a dancing guy in OfficeWorks, and feedback from Jimbo and Chad Bowers regarding fronts falling off.'
thumb: "https://archive.org/download/RubenerdShow324/RubenerdShow324.png"
enclosure_file: "https://archive.org/download/RubenerdShow324/RubenerdShow324.mp3"
enclosure_size: "68377956"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:08:50"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow324/RubenerdShow324.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow324/RubenerdShow324.png" alt="Rubenerd Show 324" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow324/RubenerdShow324.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow324/RubenerdShow324.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:08:50</span> – With inside, within side? Haunted lifts, loud “bark blowers” as an alternative to silo lift things, age is “just a number!”, the three states of apartment building locks and USB plugs, pleasant rain sounds, tragedy of the commons, live brewing coffee and caffeinated adventures, building a gaming machine (AMD versus Intel, the GTX 970 and GTX 980, the i5-6400, the FX-8350, Athlon nostalgia, <a href="http://pcpartpicker.com/">PCPartPicker.com</a>), congrats to Frank Edward Nora for his <a href="http://www.theovernightscape.com/archives/2648">full time job</a>, being stalked by a dancing guy in OfficeWorks, and feedback from <a href="http://onsug.com/archives/19010#comment-686221">Jimbo</a> and <a href="http://onsug.com/archives/19010#comment-686238">Chad Bowers</a> regarding <a href="https://rubenerd.com/show323/">fronts falling off</a>.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released February 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

