---
title: "Rubenerd Show 258: The recycling bin rescue episode"
date: "2008-11-25T00:16:56+08:00"
thumb: "https://archive.org/download/RubenerdShow258/RubenerdShow258.180px.png"
year: "2008"
abstract: '15:19 – The show title says it all. One of the most comprehensive, well researched, intense, respectable, accurate, relevant, without peer, hard hitting and to-the-point episodes ever recorded. Music from the Australian Broadcasting Corporation ABC1 News service.'
enclosure_file: "https://archive.org/download/RubenerdShow258/RubenerdShow258.mp3"
enclosure_size: 7501588
enclosure_duration: "15:19"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tags:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow258/RubenerdShow258.png"><img src="https://archive.org/download/RubenerdShow258/RubenerdShow258.180px.png" alt="Larger version of cover art" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow258/RubenerdShow258.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow258/RubenerdShow258.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:19</span> – The show title says it all. One of the most comprehensive, well researched, intense, respectable, accurate, relevant, without peer, hard hitting and to-the-point episodes ever recorded. Music from the Australian Broadcasting Corporation ABC1 News service.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
