---
title: "Rubenerd Show 065: The last episode for 2005 episode"
date: "2005-12-28T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:41 – The last Rubenerd Show for 2005, isn’t it… what’s the word I’m thinking for… a word like sentimental but less soppy. In any event, talking about my new year’s goals and why I have no resolutions (thank you Phil Gerbyshak), a review of the biggest year of my short life to date (what with starting uni, moving out of home and all) and what I hope to achieve in 2006. A time capsule episode so to speak, be interesting to listen to the same time next year. Have a fantastic new year!'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_065/RubenerdShow065.mp3"
enclosure_size: 9975515
enclosure_duration: "20:41"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_065/RubenerdShow065.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_065/RubenerdShow065.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:41</span> – The last Rubenerd Show for 2005, isn&#39;t it… what&#39;s the word I&#39;m thinking for… a word like sentimental but less soppy. In any event, talking about my new year&#39;s goals and why I have no resolutions (thank you <a href="http://makeitgreat.typepad.com/makeitgreat/2005/12/forget_resoluti.html">Phil Gerbyshak</a>), a review of the biggest year of my short life to date (what with starting uni, moving out of home and all) and what I hope to achieve in 2006. A time capsule episode so to speak, be interesting to listen to the same time next year. Have a fantastic new year!</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
