---
title: "Rubenerd Show 413: The Wheaty 2021 episode"
date: "2021-01-20T15:16:56+11:00"
abstract: "13:57 — Jim Kloss returned to the Whole Wheat Radio airwaves again for a chat! I was not prepared, and even started typing over it towards the end when work pinged me, but I couldn’t let this moment of Internet audio history go unrecorded."
thumb: "https://archive.org/download/RubenerdShow413/RubenerdShow413.png"
enclosure_file: "https://archive.org/download/RubenerdShow413/RubenerdShow413.mp3"
enclosure_size: "13549738"
enclosure_type: "audio/mpeg"
enclosure_duration: "13:57"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow413/RubenerdShow413.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow413/RubenerdShow413.png" alt="Rubenerd Show 413" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow413/RubenerdShow413.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow413/RubenerdShow413.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">13:57</span> – Jim Kloss <a href="http://wholewheatradio.duckdns.org:8000/WWR">returned</a> to the <a href="https://rubenerd.com/tag/whole-wheat-radio/">Whole Wheat Radio</a> airwaves again for a chat! I was not prepared, and even started typing over it towards the end when work pinged me, but I couldn’t let this moment of Internet audio history go unrecorded.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released January 2021 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

