---
title: "Rubenerd Show 429: The pa-paya pa-pa-paya episode"
date: "2024-10-03T12:19:01+10:00"
abstract: "41:19 — A few things today, but mostly a discussion of our beloved Amelia Watson wrapping up her regular English vtuber activities with Hololive, and the adventures of buying our first home! When one thing ends, another thing starts. ♡ Microwave ovens. Custom kitchen delivery."
thumb: "https://archive.org/download/RubenerdShow429/RubenerdShow429.png"
enclosure_file: "https://archive.org/download/RubenerdShow429/RubenerdShow429.mp3"
enclosure_size: "39892878"
enclosure_type: "audio/mpeg"
enclosure_duration: "41:19"
category: Show
tag:
- audio-magazine
- new-time-radio
- onsug
- recorded-in-sydney
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow429/RubenerdShow429.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow429/RubenerdShow429.png" alt="Rubenerd Show 429" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow429/RubenerdShow429.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow429/RubenerdShow429.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">41:19</span> – A few things today, but mostly a discussion of our beloved Amelia Watson wrapping up her regular English vtuber activities with Hololive, and the adventures of buying our first home! When one thing ends, another thing starts. ♡ Microwave ovens. Custom kitchen delivery.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released October 2024 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow429/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

