---
title: "Rubenerd Show 168: The sneaky Mac OS X tips episode"
date: "2006-10-12T14:36:38+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Eating Aussie tinned pudding, creating sneaky hidden folders using the Terminal and Finder, how perfect BeOS was, software review of UNO (change brushed metal programs into white Aqua ones), and Homer Simpson on make believe eskimos.'
enclosure_file: "https://archive.org/download/RubenerdShow168/RubenerdShow168.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow168/Side168.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow168/RubenerdShow168.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow168/RubenerdShow168.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Eating <a href="www.oldaussierecipes.com/custardsandpuddings.htm">Aussie tinned pudding</a>, creating sneaky hidden folders using the Terminal and Finder, how perfect <a href="http://en.wikipedia.org/wiki/BeOS">BeOS</a> was, <a href="http://www.versiontracker.com/dyn/moreinfo/macosx/27932">software review of UNO</a> (change brushed metal programs into white Aqua ones), and <em>Homer Simpson on make believe eskimos</em>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
