---
title: "Rubenerd Show 341: The shoes episode"
date: "2016-05-16T23:29:51+10:00"
year: "2016"
abstract: '01:00:00 – Procuring and philosophising the nature of footwear, leaves, sirens, what the frick is “smart casual”, the Australian International School Singapore’s bowling team, evil insomnia and sleep debt, late night data centre trips, Mercury transiting the sun, pronouncing “vehicle” in true crime shows, resurrecting old theme songs, Van Morrison, and follow-up about decluttering. Thanks to PQ Ribber and Jimbo for their audio contributions!'
thumb: "https://archive.org/download/RubenerdShow341/RubenerdShow341.png"
enclosure_file: "https://archive.org/download/RubenerdShow341/RubenerdShow341.mp3"
enclosure_size: "60089226"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:00:00"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow341/RubenerdShow341.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow341/RubenerdShow341.png" alt="Rubenerd Show 341" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow341/RubenerdShow341.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow341/RubenerdShow341.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:00:00</span> – Procuring and philosophising the nature of footwear, leaves, sirens, what the frick is “smart casual”, the Australian International School Singapore’s bowling team, evil insomnia and sleep debt, late night data centre trips, Mercury transiting the sun, pronouncing “vehicle” in true crime shows, resurrecting old theme songs, Van Morrison, and follow-up about decluttering. Thanks to PQ Ribber and Jimbo for their audio contributions!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released May 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

