---
title: "Rubenerd Show 268: The flustered rent and webhost episode"
date: "2009-04-29T18:11:51+08:00"
thumb: "https://archive.org/download/RubenerdShow268/RubenerdShow268.180px.png"
year: "2009"
abstract: '20:55 – Fun with dealing with broken corrupt backups, misleadingly labelled auto rent payments and my former webhost Servage now that I’m safely typing this from Segment Publishing!'
enclosure_file: "https://archive.org/download/RubenerdShow268/RubenerdShow268.mp3"
enclosure_size: 10172718
enclosure_duration: "20:55"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow268/RubenerdShow268.png"><img src="https://archive.org/download/RubenerdShow268/RubenerdShow268.180px.png" alt="Larger version of cover art" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow268/RubenerdShow268.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow268/RubenerdShow268.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:55</span> – Fun with dealing with broken corrupt backups, misleadingly labelled auto rent payments and my former webhost Servage now that I&#39;m safely typing this from <a href="http://segpub.com.au/">Segment Publishing</a>!</p>

<p>Am particularly flustered and fast talking which saves on file download times for your convenience. Thank you.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
