---
title: "Rubenerd Show 385: The Jeffersonian Keynsham episode"
date: "2018-12-03T23:08:23+11:00"
abstract: '31:36 – An homage to The Overnightscape episode Mother’s New Mineral Dream. Talking about white walls everywhere in new buildings, 1970s era shopping malls, struggles with junk, Staten Island, and personally generated media. Because you can’t take it with you. Cover art of the Metropolitan Museum of Art taken from Clara’s and my trip to NYC in 2016.'
thumb: "https://archive.org/download/RubenerdShow385/RubenerdShow385.png"
enclosure_file: "https://archive.org/download/RubenerdShow385/RubenerdShow385.mp3"
enclosure_size: "30319227"
enclosure_type: "audio/mpeg"
enclosure_duration: "31:36"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow385/RubenerdShow385.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow385/RubenerdShow385.png" alt="Rubenerd Show 385" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow385/RubenerdShow385.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow385/RubenerdShow385.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">31:36</span> – An homage to The Overnightscape episode <em><a href="http://onsug.com/archives/27499">Mother’s New Mineral Dream</a></em>. Talking about white walls everywhere in new buildings, 1970s era shopping malls, struggles with junk, Staten Island, and personally generated media. <em>Because you can’t take it with you</em>. Cover art of the Metropolitan Museum of Art taken from Clara's and my trip to NYC in 2016.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released December 2018 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

