---
title: "Rubenerd Show 349: The nanotube skyscraper episode"
date: "2016-08-21T22:32:06+10:00"
year: "2016"
abstract: '36:50 – Recording in daylight (it burns!). Pontificating on the societal impact of teleportation (noise pollution, replication, construction, food), getting over political cynicism, reciting the Periodic Table, Old Mascot, blogging in coffee shops, Hashicorp Terraform, and blog posts from exactly a decade ago (Jamie Oliver, Security Theatre, The SwiMP3 player).'
thumb: "https://archive.org/download/RubenerdShow349/RubenerdShow349.png"
enclosure_file: "https://archive.org/download/RubenerdShow349/RubenerdShow349.mp3"
enclosure_size: "35773635"
enclosure_type: "audio/mpeg"
enclosure_duration: "36:50"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow349/RubenerdShow349.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow349/RubenerdShow349.png" alt="Rubenerd Show 349" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow349/RubenerdShow349.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow349/RubenerdShow349.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">36:50</span> – Recording in daylight (it burns!). Pontificating on the societal impact of teleportation (noise pollution, replication, construction, food), getting over political cynicism, reciting the Periodic Table, Old Mascot, blogging in coffee shops, <a href="https://www.terraform.io/">Hashicorp Terraform</a>, and blog posts from <em>exactly</em> a decade ago (<a href="https://rubenerd.com/jamie-oliver-quote/">Jamie Oliver</a>, <a href="https://rubenerd.com/liberty-versus-security/">Security Theatre</a>, <a href="https://rubenerd.com/the-swimp3-player/">The SwiMP3 player</a>).</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released August 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

