---
title: "Rubenerd Show 250: The quarter millennium episode"
date: "2008-09-18T14:05:57+08:00"
thumb: "https://archive.org/download/RubenerdShow250/RubenerdShow250.180px.png"
year: "2008"
abstract: '43:34 – Looking back 10x at episode Rubenerd Show 25, flu is fun, fun with IP addresses and DNS servers, Happy 60th birthday to Bem Adolph in Sydney, meeting my old man back in Adelaide, forgetful MadPlayers, music lobby groups and companies making us feel guilty, John Grisham, Disney copyright evils, Whole Wheat Radio artists, Nations application on Facebook (with link to Rubenerdia), Schweppes Lemonade, huge controversy surrounding Ginger, the cute Rundle Mall mascot and silly roller coaster analogies!'
enclosure_file: "https://archive.org/download/RubenerdShow250/RubenerdShow250.mp3"
enclosure_size: 21065099
enclosure_duration: "43:34"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow250/RubenerdShow250.png"><img src="https://archive.org/download/RubenerdShow250/RubenerdShow250.180px.png" alt="Click for larger version" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow250/RubenerdShow250.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow250/RubenerdShow250.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">43:34</span> – Looking back 10x at episode <a href="https://rubenerd.com/show025/">Rubenerd Show 25</a>, flu is fun, fun with IP addresses and DNS servers, Happy 60th birthday to Bem Adolph in Sydney, meeting my old man back in Adelaide, forgetful MadPlayers, music lobby groups and companies making us feel guilty, <a href="http://www.johngrisham.co.uk/displayPage.asp?PageTitle=Homepage">John Grisham</a>, Disney copyright evils, <a href="http://wholewheatradio.org/">Whole Wheat Radio</a> artists, <a href="http://apps.new.facebook.com/nations/index">Nations application</a> on Facebook (<a href="http://apps.facebook.com/nations/643490932">with link to Rubenerdia</a>), <a href="http://www.schweppes.com.au/">Schweppes Lemonade</a>, <a href="http://www.news.com.au/adelaidenow/story/0,22606,24363572-5006301,00.html">huge controversy</a> surrounding <a href="http://pradeclassified.wordpress.com/2008/06/19/completed-work-rundle-mall-tvc/">Ginger</a>, the cute <a href="http://www.cityofadelaide.com.au/scripts/nc.dll?ADCCBRAND:STANDARD::pc=PC_03_01">Rundle Mall</a> mascot and silly roller coaster analogies!</p>

<p>Video and images from the Rundle Mall advertisements can be seen on the Rubenerd Blog: <a href="https://rubenerd.com/p1687/">Not everyone approves of Ginger in Rundle Mall</a>.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
