---
title: "Rubenerd Show 051: The Australian Music Special episode"
date: "2005-10-26T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:00 – The Australian music special featuring the opening of the iTunes Music Store in Australia (FINALLY!), reviewing Ben Lee’s CD &quot;Awake Is The New Sleep&quot;, Missy Higgins’s song &quot;The Special Two&quot; and David Hasselhoff at the Arias!! Also talking about our groovy new landlord and our uptight old one and how some people only care about money, Christians coming to our door preaching other religions as being &quot;fake&quot;, bhuddism and athesiem, and Ruben’s attempt to put on a stereotypical Australian accent that doesn’t go so well!'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_051/RubenerdShow051.mp3"
enclosure_size: 8573983
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_051/RubenerdShow051.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_051/RubenerdShow051.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – The Australian music special featuring the opening of the <a href="http://apple.com.au/itunes/">iTunes Music Store</a> in Australia (FINALLY!), reviewing <a href="http://ben-lee.com/">Ben Lee&#39;s</a> CD &quot;Awake Is The New Sleep&quot;, <a href="http://missyhiggins.com.au">Missy Higgins&#39;s</a> song &quot;The Special Two&quot; and David Hasselhoff at the Arias!! Also talking about our groovy new landlord and our uptight old one and how some people only care about money, Christians coming to our door preaching other religions as being &quot;fake&quot;, bhuddism and athesiem, and Ruben&#39;s attempt to put on a stereotypical Australian accent that doesn&#39;t go so well!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
