---
title: "Rubenerd Show 154: The brilliance of Kevin Kern episode"
date: "2006-08-18T07:08:49+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – The art of sleep (Israel Brown’s sleep idea), why I don’t download music through P2P (and it’s NOT because I’m afraid of the RIAA), a music review of The Enchanted Garden by the amazingly talented Kevin Kern (information from Realmusic and Wikipedia article), and why I still can’t eat Asian food for breakfast.'
enclosure_file: "https://archive.org/download/RubenerdShow154/RubenerdShow154.mp3"
enclosure_size: 4823378
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow154/Side154.jpg" alt="" />

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow154/RubenerdShow154.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow154/RubenerdShow154.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – The art of sleep (Israel Brown&#39;s sleep idea), why I don&#39;t download music through P2P (and it&#39;s NOT because I&#39;m afraid of the <a href="http://riaa.com/">RIAA</a>), a music review of <a href="http://www.realmusic.com/i_kern_enchant.htm">The Enchanted Garden</a> by the amazingly talented Kevin Kern (information from <a href="http://www.realmusic.com/a_kern.htm">Realmusic</a> and <a href="http://en.wikipedia.org/wiki/Kevin_Kern">Wikipedia</a> article), and why I still can&#39;t eat Asian food for breakfast.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
