---
title: "Rubenerd Show 136: The David Letterman in Australia episode"
date: "2006-07-26T02:22:24+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – David Letterman canceled on Channel 9 Australia (relocated to weekends, the horrendous replacement show &quot;QuizMania&quot;, the horrors of late night call-in game shows), America to Asia Pacific time zones, Rubenerd Forum post (surrealist from Edinburgh!), problems with mixer boards, audio recording and post production, and something you may not realise about about &quot;True&quot; and &quot;False&quot;.'
enclosure_file: "https://archive.org/download/RubenerdShow136/RubenerdShow136.mp3"
enclosure_size: 4823202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; width:150px;" src="https://archive.org/download/RubenerdShow136/Side136.jpg" alt="David Letterman!" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow136/RubenerdShow136.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow136/RubenerdShow136.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – David Letterman canceled on Channel 9 Australia (relocated to weekends, the horrendous replacement show &quot;QuizMania&quot;, the horrors of late night call-in game shows), America to Asia Pacific time zones, <a href="https://rubenerd.com/show/forum">Rubenerd Forum</a> post (surrealist from Edinburgh!), problems with mixer boards, audio recording and post production, and something you may not realise about about &quot;True&quot; and &quot;False&quot;.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
