---
title: "Rubenerd Show 340: The stuff episode"
date: "2016-05-06T18:04:52+10:00"
year: "2016"
abstract: '52:57 – Constant construction, preferring apartments to houses (though inconsiderate people suck!), beautiful garden landscapes, humans needing nature for wellbeing, leaf crunching, evil Bondi Beach, weird new truck beeping sounds, restoring Big Ben, Eiffel Tower lifts, the new Mascot woolies, shopping centre and mall exploration, and feeling boxed in by having too much stuff, so getting rid of half of it!'
thumb: "https://archive.org/download/RubenerdShow340/RubenerdShow340.png"
enclosure_file: "https://archive.org/download/RubenerdShow340/RubenerdShow340.mp3"
enclosure_size: "51965179"
enclosure_type: "audio/mpeg"
enclosure_duration: "52:57"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow340/RubenerdShow340.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow340/RubenerdShow340.png" alt="Rubenerd Show 340" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow340/RubenerdShow340.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow340/RubenerdShow340.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">52:57</span> – Constant construction, preferring apartments to houses (though inconsiderate people suck!), beautiful garden landscapes, humans needing nature for wellbeing, leaf crunching, evil Bondi Beach, weird new truck beeping sounds, restoring Big Ben, Eiffel Tower lifts, the new Mascot woolies, shopping centre and mall exploration, and feeling boxed in by having too much stuff, so getting rid of half of it!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released May 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

