---
title: "Rubenerd Show 169: The Aussie news and advertisement shooting episode"
date: "2006-10-13T22:12:54+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Stuffing up episode numbers, video podcast review (Australian National Nine News, Australian nostalgia when living overseas), useful Firefox extensions for blocking crap (FireFTP, Adblock, FlashBlock), and Ruben doing a news voice.'
enclosure_file: "https://archive.org/download/RubenerdShow169/RubenerdShow169.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow169/Side169.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow169/RubenerdShow169.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow169/RubenerdShow169.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Stuffing up episode numbers, video podcast review (<a href="http://channelnine.ninemsn.com.au/">Australian National Nine News</a>, Australian nostalgia when living overseas), useful Firefox extensions for blocking crap (<a href="https://addons.mozilla.org/firefox/684/">FireFTP</a>, <a href="https://addons.mozilla.org/firefox/10/">Adblock</a>, <a href="https://addons.mozilla.org/firefox/433/">FlashBlock</a>), and <em>Ruben doing a news voice.</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
