---
title: "Rubenerd Show 210: The mobile phone whoopsie episode"
date: "2007-01-15T02:25:09+08:00"
thumb: "NA"
year: "2007"
abstract: '10:00 – Recorded at 0230hrs! Vibrating BlackBerry phones (with disastrous results!), the dreaded Motorola V3 RAZR refusing to charge problem, preliminary review of the Apple iPhone and Steve Jobs on inventing stuff!'
enclosure_file: "https://archive.org/download/RubenerdShow210/RubenerdShow210.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow210/Side210.steve.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow210/RubenerdShow210.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow210/RubenerdShow210.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Recorded at 0230hrs! Vibrating <a href="https://rubenerd.com/show/blog/category/blackberry/">BlackBerry phones</a> (with disastrous results!), the dreaded Motorola V3 RAZR refusing to charge problem, preliminary review of the <a href="http://en.wikipedia.org/wiki/iPhone">Apple iPhone</a> and <em>Steve Jobs on inventing stuff!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
