---
title: "Rubenerd Show 363: The everything except episode"
date: "2017-07-14T17:05:03+10:00"
year: "2017"
abstract: '25:22 – Join Ruben as he harkens back to one of the first reboot episodes in 2015, when he was also wandering around an empty house that was once his home. Two years later, and he’s moving out of the place he moved away from that earlier place to. This show description had several variants of the word “move” in it. Recorded 3rd of July 2017.'
thumb: "https://archive.org/download/RubenerdShow363/RubenerdShow363.png"
enclosure_file: "https://archive.org/download/RubenerdShow363/RubenerdShow363.mp3"
enclosure_size: "24359687"
enclosure_type: "audio/mpeg"
enclosure_duration: "25:22"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow363/RubenerdShow363.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow363/RubenerdShow363.png" alt="Rubenerd Show 363" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow363/RubenerdShow363.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow363/RubenerdShow363.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">25:22</span> – Join Ruben as he harkens back to one of the <a href=https://rubenerd.com/show278/>first reboot episodes</a> in 2015, when he was also wandering around an empty house that was once his home. Two years later, and he's moving out of the place he moved away from that earlier place to. This show description had several variants of the word “move” in it. Recorded 3rd of July 2017.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released July 2017 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

