---
title: "Rubenerd Show 213: The good to be back episode"
date: "2007-02-15T23:37:38+08:00"
thumb: "NA"
year: "2007"
abstract: '30:00 – Good afternoon Jeff’s Plumbing, book review (Britain’s answer to Freakonomics: The Under Cover Economist by Tim Harford), John Williams (on Magnatune, Whole Wheat Radio, musical preview of Almond Joy), dropping things, child fantasy, Rubenerd housekeeping (new links, Konqueror), people’s funny phone voices, two sets of grandparents, why it was never &quot;Throw A Shrimp On The Barbie&quot; in Australia, huge Kuala Lumpur shopping centre (Berjaya Times Square, photos) and what music isn’t evil!'
enclosure_file: "https://archive.org/download/RubenerdShow213/RubenerdShow213.mp3"
enclosure_size: 14423520
enclosure_duration: "30:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; height:260px; width:110px" src="https://archive.org/download/RubenerdShow213/Side213.timessquare.jpg" alt="Berjaya Times Square, Kuala Lumpur Malaysia" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow213/RubenerdShow213.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow213/RubenerdShow213.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">30:00</span> – Good afternoon Jeff&#39;s Plumbing, book review (Britain&#39;s answer to Freakonomics: <a href="http://www.littlebrown.co.uk/search/bookdetails.asp?isbn=9780349119854&Source=3">The Under Cover Economist</a> by Tim Harford), John Williams (on <a href="http://magnatune.com/artists/john_williams">Magnatune</a>, <a href="http://wholewheatradio.org/wiki/index.php/Artists:John_Williams">Whole Wheat Radio</a>, musical preview of Almond Joy), dropping things, child fantasy, Rubenerd housekeeping (new links, <a href="http://konqueror.kde.org/">Konqueror</a>), people&#39;s funny phone voices, two sets of grandparents, why it was never <em>&quot;Throw A Shrimp On The Barbie&quot;</em> in Australia, huge Kuala Lumpur shopping centre (<a href="http://www.timessquarekl.com/aboutus.html">Berjaya Times Square</a>, <a href="http://kltalk.com/berjaya/">photos</a>) and <em>what music isn&#39;t evil!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
