---
title: "Rubenerd Show 321: The Ziggy Snape episode"
date: "2016-01-19T18:45:29+11:00"
year: "2016"
abstract: '49:25 – Spicy Thai food, student housing mates, finding out we have Danish relatives, IKEA trips (the wonderful new cafes, custom tables, impulse purchasing), the coffee triangle, remembering David Bowie and Alan Rickman (mix tapes, fabulousness, ultimate villains), stupid things said about their passing (keeping their sicknesses a “secret”, that they “looked” healthy), re-recording episodes, jobs, and the ever-elusive letterbox key from strata.'
thumb: "https://archive.org/download/RubenerdShow321/RubenerdShow321.png"
enclosure_file: "https://archive.org/download/RubenerdShow321/RubenerdShow321.mp3"
enclosure_size: "49397393"
enclosure_type: "audio/mpeg"
enclosure_duration: "49:25"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow321/RubenerdShow321.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow321/RubenerdShow321.png" alt="Rubenerd Show 321" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow321/RubenerdShow321.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow321/RubenerdShow321.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">49:25</span> – Spicy Thai food, student housing mates, finding out we have Danish relatives, IKEA trips (the wonderful new cafes, custom tables, impulse purchasing), the coffee triangle, remembering David Bowie and Alan Rickman (mix tapes, fabulousness, ultimate villains), stupid things said about their passing (keeping their sicknesses a “secret”, that they “looked” healthy), re-recording episodes, jobs, and the ever-elusive letterbox key from strata.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released January 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

