---
title: "Rubenerd Show 252: The airport scare iPhone episode"
date: "2008-09-25T15:37:04+08:00"
thumb: "https://archive.org/download/RubenerdShow252/RubenerdShow252.180px.png"
year: "2008"
abstract: '33:00 – I caved and bought an iPhone; the reasons why I was disappointed with Google Android; sophisticated text messages from my sister; the LG Secret mobile phone; snapping Australian Medicare cards; New Zealand Australia Centrelink migrations; Gordon Brown’s Labour speech in the UK; palindromic numbers; distrusting spell checkers with gibberish; fancy new embedded Rubenerd Show cover art; compressed graphics looking crap; antihistamines; the term podcast; my take on the Andy Kaufman situation on The Overnightscape; my dad setting off security at Adelaide Airport; the iPhone keyboard; the TwitterFon iPhone Twitter client; I love the Objective-C programming language; fond memories of the Palm Tungsten W and Palm OS; basing your opinion of devices just from spec sheets; practical use for GPS and Safari; and hallucinogenic throat lozenges!'
enclosure_file: "https://archive.org/download/RubenerdShow252/RubenerdShow252.mp3"
enclosure_size: 25861260
enclosure_duration: "33:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow252/RubenerdShow252.png"><img src="https://archive.org/download/RubenerdShow252/RubenerdShow252.180px.png" alt="Click for larger version" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow252/RubenerdShow252.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow252/RubenerdShow252.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">33:00</span> – I caved and <a href="https://rubenerd.com/show/blog/p1722/">bought an iPhone</a>; the reasons why I was disappointed with Google Android; sophisticated text messages from my sister; the <a href="http://au.lge.com/products/model/detail/mobilephone_premium__kf750.jhtml">LG Secret</a> mobile phone; snapping <a href="http://www.medicareaustralia.gov.au/">Australian Medicare</a> cards; New Zealand Australia <a href="http://www.centrelink.gov.au/">Centrelink</a> migrations; <a href="http://www.number10.gov.uk/">Gordon Brown&#39;s</a> <a href="http://www.labour.org.uk/">Labour</a> speech in the UK; palindromic numbers; distrusting spell checkers with gibberish; fancy new embedded Rubenerd Show cover art; compressed graphics looking crap; antihistamines; the term podcast; my take on the <a href="http://www.theovernightscape.com/archives/316">Andy Kaufman situation on The Overnightscape</a>; my dad setting off security at Adelaide Airport; the iPhone keyboard; the <a href="http://www.naan.net/trac/wiki/TwitterFon">TwitterFon</a> iPhone <a href="http://twitter.com/rubenerd/">Twitter</a> client; I love the <a href="http://en.wikipedia.org/wiki/Objective-C">Objective-C</a> programming language; fond memories of the <a href="http://en.wikipedia.org/wiki/Tungsten_(handheld)#Tungsten_W">Palm Tungsten W</a> and <a href="http://www.access-company.com/products/platforms/garnet/index.html">Palm OS</a>; basing your opinion of devices just from spec sheets; practical use for GPS and Safari; and hallucinogenic throat lozenges!</p>

<p>Music for this episode performed by <a href="http://www.magnatune.com/artists/chris_juergensen">Chris Juergensen</a> from <a href="http://www.magnatune.com">Magnatune.com</a>.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
