---
title: "Rubenerd Show 401: The on fire episode"
date: "2019-12-31T15:33:14+11:00"
abstract: "20:56 — I intended this episode to be about something completely different, but now that every state in Australia is on fire, and my dad has evacuated his house, suddenly my other interests and topics seem less pressing. Thanks, and please consider donating to the NSW RFS."
thumb: "https://archive.org/download/RubenerdShow401/RubenerdShow401.png"
enclosure_file: "https://archive.org/download/RubenerdShow401/RubenerdShow401.mp3"
enclosure_size: "20167410"
enclosure_type: "audio/mpeg"
enclosure_duration: "20:56"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow401/RubenerdShow401.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow401/RubenerdShow401.png" alt="Rubenerd Show 401" style="float:right; margin:0 0 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow401/RubenerdShow401.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow401/RubenerdShow401.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:56</span> – I intended this episode to be about something completely different, but now that every state in Australia is on fire, and my dad has evacuated his house, suddenly my other interests and topics seem less pressing. Thanks, and please consider donating to the NSW RFS.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released December 2019 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

