---
title: "Rubenerd Show 428: The balcony memories episode"
date: "2024-06-20T09:42:24+10:00"
abstract: "28:16 — Sitting outside on this blustery winter morning talking about Mike Karels, Gordon Bell, Dave Ross, and Jim Kloss, with some trademark digressions and a hot mug of coffee."
thumb: "https://archive.org/download/RubenerdShow428/RubenerdShow428.png"
enclosure_file: "https://archive.org/download/RubenerdShow428/RubenerdShow428.mp3"
enclosure_size: "27192271"
enclosure_type: "audio/mpeg"
enclosure_duration: "28:16"
category: Show
tag:
- audio-magazine
- new-time-radio
- onsug
- recorded-in-sydney
location: Sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow428/RubenerdShow428.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow428/RubenerdShow428.png" alt="Rubenerd Show 428" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow428/RubenerdShow428.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow428/RubenerdShow428.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">28:16</span> – Sitting outside on this blustery winter morning talking about Mike Karels, Gordon Bell, Dave Ross, and Jim Kloss, with some trademark digressions and a hot mug of coffee. Recorded early June 2024.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released June 2024 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow428/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

