---
title: "Rubenerd Show 348: The transient existence episode"
date: "2016-08-17T23:22:49+10:00"
year: "2016"
abstract: '01:30:35 – A late night stroll into last year. Why you can’t schedule creativity, The Who, The Avalanches, cynics on Y2K, an abandoned shop, generic names, Pack n Send nostalgia, startups versus big corporates, being thankful, getting rid of crap, water white noise, parcel lockers, c-c-c-cold, expensive caffeine trips, and exploding coffee machines. Recorded 30th June 2016.'
thumb: "https://archive.org/download/RubenerdShow348/RubenerdShow348.png"
enclosure_file: "https://archive.org/download/RubenerdShow348/RubenerdShow348.mp3"
enclosure_size: "88352767"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:30:35"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow348/RubenerdShow348.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow348/RubenerdShow348.png" alt="Rubenerd Show 348" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow348/RubenerdShow348.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow348/RubenerdShow348.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:30:35</span> – A late night stroll into last year. Why you can’t schedule creativity, The Who, The Avalanches, cynics on Y2K, an abandoned shop, generic names, Pack n Send nostalgia, startups versus big corporates, being thankful, getting rid of crap, water white noise, parcel lockers, c-c-c-cold, expensive caffeine trips, and exploding coffee machines. Recorded 30th June 2016.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released August 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

