---
title: "Rubenerd Show 167: The wireless internet escapades episode"
date: "2006-10-11T12:42:42+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – The Sunscreen Song, 18th century internet (ha!), coffee adventure (Coffee Bean and Tea Leaf in KL, Ice Blended versus Starbucks Frappacino, WiFi), trendy Japanese in SE-Asia, courtesy campaign in Malaysia, and Mr X on making first impressions.'
enclosure_file: "https://archive.org/download/RubenerdShow167/RubenerdShow167.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; width:110px; height:150px;" src="https://archive.org/download/RubenerdShow167/Side167.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow167/RubenerdShow167.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow167/RubenerdShow167.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – <a href="http://en.wikipedia.org/wiki/Wear_Sunscreen#.27Wear_Sunscreen.27_as_a_music_single">The Sunscreen Song</a>, 18th century internet (ha!), coffee adventure (<a href="http://coffeebean.com.my/">Coffee Bean and Tea Leaf</a> in KL, Ice Blended versus <a href="http://starbucks.com.sg/">Starbucks Frappacino</a>, WiFi), trendy Japanese in SE-Asia, courtesy campaign in Malaysia, and <em>Mr X on making first impressions</em>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
