---
title: "Rubenerd Show 276: The moonshine shampoo episode"
date: "2015-06-14T04:08:22+10:00"
thumb: "https://archive.org/download/RubenerdShow276/RubenerdShow276.png"
year: "2015"
abstract: '01:03:01 – Topics include awkward leprechauns, sleep problems, Lipton Green Gunpowder, biodegradability, the 0th thing, Debra Schade (n.e. Debra Ross), Michael Franks, In Search of The Perfect Shampoo, music classification, growing up without internet, editing Wikipedia, flooring, the design process, University of Technology, Sydney, did you ever finded that, kitchen utensils, Steve Wozniak, binary numbered buildings, SunSilk Co-Creations Addictive Brilliant Shine, getting wet in rain, social anxiety, introversion, listener feedback (@YourTwalentine, Neil O’Carrol of IntoYourHead, James Clark, Neil again, Dave Wares, Skulls Ricky, Roel Weijer, Manny Fortunato, Chad Bowers and Frank Nora), Bat Man, becoming part of The Overnightscape Underground podcast network, tops of shows, what inside baseball is, Holy socks, and predictability being predictable.'
enclosure_file: "https://archive.org/download/RubenerdShow276/RubenerdShow276.mp3"
enclosure_size: "47216505"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:03:01"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow276/RubenerdShow276.png" alt="Rubenerd Show 276" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow276/RubenerdShow276.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow276/RubenerdShow276.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:03:01</span> – Topics include awkward leprechauns, sleep problems, <a href="http://www.lipton.com.au/product/detail/682090/green-flavoured-tea">Lipton Green Gunpowder</a>, biodegradability, the 0th thing, Debra Schade (n.e. Debra Ross), <a href="http://tigerintherain.com/">Michael Franks</a>, <a href="https://www.youtube.com/watch?v=p3AHv5DdhA4">In Search of The Perfect Shampoo</a>, music classification, growing up without internet, editing Wikipedia, flooring, the design process, <a href="http://uts.edu.au/">University of Technology, Sydney</a>, did you ever finded that, kitchen utensils, Steve Wozniak, binary numbered buildings, <a href="http://www.sunsilk.com.au/sunsilk_product/addictive-brilliant-shine/">SunSilk Co-Creations Addictive Brilliant Shine</a>, getting wet in rain, social anxiety, introversion, listener feedback (<a href="https://twitter.com/YourTwalentine/status/607962644717436928">@YourTwalentine</a>, <a href="https://twitter.com/intoyourheadpod/status/608382651217661952">Neil O'Carrol</a> of <a href="http://intoyourheadpodcast.com/intoyourheadradio/">IntoYourHead</a>, <a href="https://twitter.com/zombie_plan/status/608540090491502592">James Clark</a>, <a href="https://twitter.com/intoyourheadpod/status/608699829695442944">Neil again</a>, <a href="https://twitter.com/Lensflaredave/status/609332902145486848">Dave Wares</a>, <a href="https://twitter.com/skelly/status/608533588800200704">Skulls Ricky</a>, <a href="https://www.facebook.com/groups/156987161034916/permalink/917919468275011/?comment_id=917920208274937">Roel Weijer</a>, <a href="https://www.facebook.com/groups/156987161034916/permalink/917919468275011/?comment_id=917958031604488">Manny Fortunato</a>, <a href="https://www.facebook.com/groups/156987161034916/permalink/917919468275011/?comment_id=918024851597806">Chad Bowers</a> and <a href="https://www.facebook.com/groups/156987161034916/permalink/917919468275011/?comment_id=917996884933936">Frank Nora</a>), Bat Man, becoming part of <a href="http://onsug.com/">The Overnightscape Underground</a> podcast network, tops of shows, what <a href="https://en.wikipedia.org/wiki/Inside_baseball_%28metaphor%29">inside baseball</a> is, Holy socks, and predictability being predictable.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade. 

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

