---
title: "Rubenerd Show 064: The Christmas episode from Selangor, Malaysia special"
date: "2005-12-25T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '11:50 – The Rubenerd Show Christmas special, coming to you from my parents house in Selangor Malaysia, hence the lack of audio sound effects and music! Talking briefly about being back with family, waking up early in the morning and child enthusiasm, my mum having surgery (again!), Christmas time-zones and how America would just be waking up even though Christmas is over here, PG Wodehouse, Hugh Laurie and Google. Appearances in the background by Elke Schade, the official Rubenerd Show sister…'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_064/RubenerdShow064.mp3"
enclosure_size: 5685112
enclosure_duration: "11:50"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_064/RubenerdShow064.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_064/RubenerdShow064.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">11:50</span> – The Rubenerd Show Christmas special, coming to you from my parents house in Selangor Malaysia, hence the lack of audio sound effects and music! Talking briefly about being back with family, waking up early in the morning and child enthusiasm, my mum having surgery (again!), Christmas time-zones and how America would just be waking up even though Christmas is over here, PG Wodehouse, Hugh Laurie and Google. Appearances in the background by Elke Schade, the official Rubenerd Show sister…</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
