---
title: "Rubenerd Show 282: The transient space episode"
date: "2015-07-20T17:21:55+10:00"
thumb: "https://archive.org/download/RubenerdShow282/RubenerdShow282.png"
year: "2015"
abstract: '22:02 – Topics include bulk haulage, an iPhone pro tip, the possible new Rubenerd Beta concept, July and 2014, transient states between houses and offices, waiting for deliveries, IKEA furniture, Lego, high school economics and chemistry, Baltic states, Latvia, and change in the air. '
enclosure_file: "https://archive.org/download/RubenerdShow282/RubenerdShow282.mp3"
enclosure_size: "15609360"
enclosure_type: "audio/mpeg"
enclosure_duration: "22:02"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow282/RubenerdShow282.png" alt="Rubenerd Show 282" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow282/RubenerdShow282.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow282/RubenerdShow282.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">22:02</span> – Topics include bulk haulage, an iPhone pro tip, the possible new Rubenerd Beta concept, July and 2014, transient states between houses and offices, waiting for deliveries, IKEA furniture, Lego, high school economics and chemistry, Baltic states, Latvia, and change in the air.</p> 

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released July 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

