---
title: "Rubenerd Show 406: The chipped hero episode"
date: "2020-03-08T21:02:56+11:00"
abstract: "31:52 — Wait, didn’t we only just get Rubenerd Show 405?! Discussing the production of chip-based comestibles, submerged data centres, etymology behind radio buttons, being tired of Boomer and Millennial labels, and when meeting your hero perhaps wasn’t such a good idea."
thumb: "https://archive.org/download/RubenerdShow406/RubenerdShow406.png"
enclosure_file: "https://archive.org/download/RubenerdShow406/RubenerdShow406.mp3"
enclosure_size: "30695121"
enclosure_type: "audio/mpeg"
enclosure_duration: "31:52"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow406/RubenerdShow406.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow406/RubenerdShow406.png" alt="Rubenerd Show 406" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow406/RubenerdShow406.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow406/RubenerdShow406.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">31:52</span> – Wait, didn’t we only just get Rubenerd Show 405?! Discussing the production of chip-based comestibles, submerged data centres, etymology behind radio buttons, being tired of Boomer and Millennial labels, and when meeting your hero perhaps wasn’t such a good idea.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released March 2020 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

