---
title: "Rubenerd Show 337: The skimming episode"
date: "2016-04-11T08:40:59+10:00"
year: "2016"
abstract: '28:22 – Now that I’m thirty (GULP), a rambling episode about having my card skimmed in a taxi. Also failed burnouts, beeeeees, the Sydney housing bubble, burglaries, listener feedback (Marc and Shambles), missing an Overnightscape Central, Windows 95 nostalgia, sprinklers, and introverted office cacti.'
thumb: "https://archive.org/download/RubenerdShow337/RubenerdShow337.png"
enclosure_file: "https://archive.org/download/RubenerdShow337/RubenerdShow337.mp3"
enclosure_size: "27677320"
enclosure_type: "audio/mpeg"
enclosure_duration: "28:22"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow337/RubenerdShow337.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow337/RubenerdShow337.png" alt="Rubenerd Show 337" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow337/RubenerdShow337.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow337/RubenerdShow337.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">28:22</span> – Now that I'm thirty (GULP), a rambling episode about having my card skimmed in a taxi. Also failed burnouts, beeeeees, the Sydney housing bubble, burglaries, listener feedback (Marc and Shambles), missing an Overnightscape Central, Windows 95 nostalgia, sprinklers, and introverted office cacti.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released April 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

