---
title: "Rubenerd Show 350: The sandy camera episode"
date: "2016-09-05T18:17:52+10:00"
year: "2016"
abstract: '19:13 – An Officeworks small talk adventure, USB keys, evening beach strolls in North Arm Cove, choosing a pocket travel camera, catching up with people, Seinfeld on the latest QS, podcaster theme songs, and other insufficient catchup material!'
thumb: "https://archive.org/download/RubenerdShow350/RubenerdShow350.png"
enclosure_file: "https://archive.org/download/RubenerdShow350/RubenerdShow350.mp3"
enclosure_size: "18808433"
enclosure_type: "audio/mpeg"
enclosure_duration: "19:13"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow350/RubenerdShow350.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow350/RubenerdShow350.png" alt="Rubenerd Show 350" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow350/RubenerdShow350.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow350/RubenerdShow350.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">19:13</span> – An Officeworks small talk adventure, USB keys, evening beach strolls in North Arm Cove, choosing a pocket travel camera, catching up with people, <a href="http://onsug.com/archives/21216">Seinfeld on the latest QS</a>, podcaster theme songs, and other insufficient catchup material!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released September 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

