---
title: "Rubenerd Show 203: The rudebox forum catchup (part 3) episode"
date: "2007-01-04T01:11:02+08:00"
thumb: "https://archive.org/download/RubenerdShow206/Side203.rudebox.png"
year: "2007"
abstract: '10:00 – Borderline obsession with Rudebox, Jean Luc Picard, rudebox palindromes, the lyrics to Rudebox, Rubenerd Forum topics (mannythemailman’s Christmas wishes, surrealist on Amiga 500 gaming) and Ruben doing Rudebox again, again!'
enclosure_file: "https://archive.org/download/RubenerdShow203/RubenerdShow203.mp3"
enclosure_size: 4825919
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow206/Side203.rudebox.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow203/RubenerdShow203.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow203/RubenerdShow203.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Borderline obsession with Rudebox, Jean Luc Picard, rudebox palindromes, the <a href="http://www.azlyrics.com/lyrics/robbiewilliams/rudebox.html">lyrics to Rudebox</a>, <a href="https://rubenerd.com/show/forum/">Rubenerd Forum</a> topics (mannythemailman's <a href="https://rubenerd.com/show/forum/comments.php?DiscussionID=40">Christmas wishes</a>, surrealist on <a href="https://rubenerd.com/show/forum/comments.php?DiscussionID=42">Amiga 500 gaming</a>) and <em>Ruben doing <a href="http://en.wikipedia.org/wiki/Rudebox_%28album%29">Rudebox</a> again, again!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
