---
title: "Rubenerd Show 103: The KLCC episode"
date: "2006-06-08T03:00:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Will it Sink? (Wrigleys Extra Wild Fruit Drops), going into KLCC (The Coffee Bean and Tea Leaf, Elke not knowing KLCC stands for Kuala Lumpur City Centre!), the first A Moment With Elke Segment (Ruben sucks, you need to play Neopets, wasting life typing WWW), and Ruben’s biological clock out of whack.'
enclosure_file: "https://archive.org/download/RubenerdShow103/RubenerdShow103.mp3"
enclosure_size: 4823201
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow103/RubenerdShow103.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow103/RubenerdShow103.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Will it Sink? (Wrigleys Extra Wild Fruit Drops), going into KLCC (<a href="https://rubenerd.com/show/wiki/index.php/The_Coffee_Bean_And_Tea_Leaf">The Coffee Bean and Tea Leaf</a>, Elke not knowing KLCC stands for Kuala Lumpur City Centre!), the first <a href="https://rubenerd.com/show/wiki/index.php/A_Moment_With_Elke_Segment">A Moment With Elke Segment</a> (Ruben sucks, you need to play <a href="http://neopets.com/">Neopets</a>, wasting life typing WWW), and Ruben&#39;s biological clock out of whack.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
