---
title: "Rubenerd Show 211: The living in KL (part one) episode"
date: "2007-01-16T23:54:14+08:00"
thumb: "NA"
year: "2007"
abstract: '10:00 – Merdeka 2007, why 211 is 211, scary overcast days in Kuala Lumpur that are scary, working in the Petronas Twin Towers, computer hardware review (Microsoft Ergonomic Keyboard 4000), and Ruben embarrassing himself!'
enclosure_file: "https://archive.org/download/RubenerdShow211/RubenerdShow211.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><a href="https://flickr.com/photos/rubenerd/182408943/in/set-72157594188164415/"><img style="float:right; margin:1em 0em 1em 2em; height:150px; width:110px;" src="https://archive.org/download/RubenerdShow211/Side211.kl.jpg" alt="" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow211/RubenerdShow211.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow211/RubenerdShow211.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – <a href="http://www.tourismmalaysia.gov.my/">Merdeka 2007</a>, why 211 is 211, scary overcast days in Kuala Lumpur that are scary, working in the <a href="http://www.petronastwintowers.com.my/">Petronas Twin Towers</a>, computer hardware review (Microsoft <a href="http://www.microsoft.com/australia/hardware/naturalergo4000.mspx">Ergonomic Keyboard 4000</a>), and <em>Ruben embarrassing himself!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
