---
title: "Rubenerd Show 221: With tonight's guest, Felix Tanjono from Indiana in the US"
date: "2007-03-13T18:03:23+08:00"
thumb: "https://archive.org/download/RubenerdShow221/RubenerdShow221.png"
year: "2007"
abstract: '45:00 – Ruben’s sexuality (don’t take that the wrong way), changes to the programme, listener feedback on the Rubenerd Forum (Dave on Plunger coffee, Manny the Mailman’s huge wallet), signs you are too dependent on your laptop, podcast review (Anything but Monday by Frank Nora and Mad Mike), Chinese high school girls, sinking plastic deodorant containers, irritating time zone differences, insane stalling downloads, power(point) struggles at Starbucks, dorky high school codenames, guys with long hair, exam halls next to gyms, John C. Dvorak gets no spam, and a row of cards that go to Jupiter!'
enclosure_file: "https://archive.org/download/RubenerdShow221/RubenerdShow221.mp3"
enclosure_size: 5785766
enclosure_duration: "45:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tags:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow221/RubenerdShow221.png" alt="" style="float:right; margin:1em 0em 1em 2em; height:180px; width:180px; display:inline; border:0px;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow221/RubenerdShow221.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow221/RubenerdShow221.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">45:00</span> – Ruben&#39;s sexuality (don&#39;t take that the wrong way), changes to the programme, listener feedback on the <a href="https://rubenerd.com/show/forum/">Rubenerd Forum</a> (<a href="http://davesphotogallery.net/">Dave</a> on Plunger coffee, <a href="https://rubenerd.com/show/forum/account.php?u=11">Manny the Mailman&#39;s</a> huge wallet), signs you are too dependent on your laptop, podcast review (<a href="http://www.abmshow.com/">Anything but Monday</a> by Frank Nora and Mad Mike), Chinese high school girls, sinking plastic deodorant containers, irritating time zone differences, insane stalling downloads, power(point) struggles at <a href="http://www.starbucks.com.my/">Starbucks</a>, dorky high school codenames, guys with long hair, <a href="http://www.ais.com.sg/">exam halls next to gyms</a>, <a href="http://dvorak.org/blog/">John C. Dvorak</a> gets no spam, and a <em>row of cards that go to Jupiter</em>!</p>

<p class="show-licence">Recorded in . Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
