---
title: "Rubenerd Show 061: The early morning episode"
date: "2005-11-30T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:00 – Early morning episode of show today, recorded while watching the Sunrise breakfast show. Taking about the latest news from the day, , weird songs, how I am a centre-leftie, iPodder changing it’s name to Juice and why I still prefer it to the iTunes podcast feature, why I can’t buy supermarket generic toilet paper (argh!), dead koalas on freeways, comparing Yahoo and Google for technical searches, reviewing CSS 2.0 Pocket Reference from O’Reilly Media and some further financial planning for the show.Something To Think About Segment: How former Australian MP Malcom Fraser views the Liberal party today and how they’re the most ’unliberal’ party in Australia!'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_061/RubenerdShow061.mp3"
enclosure_size: 9610480
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_061/RubenerdShow061.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_061/RubenerdShow061.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – Early morning episode of show today, recorded while watching the <a href="http://en.wikipedia.org/wiki/Sunrise_%28television_program%29">Sunrise</a> breakfast show. Taking about the latest news from the day, , weird songs, how I am a centre-leftie, <a href="ipodder.sourceforge.net">iPodder</a> changing it&#39;s name to <a href="juicereceiver.sourceforge.net/">Juice</a> and why I still prefer it to the iTunes podcast feature, why I can&#39;t buy supermarket generic toilet paper (argh!), dead koalas on freeways, comparing <a href="http://search.yahoo.com.au/">Yahoo</a> and <a href="http://google.com.au">Google</a> for technical searches, reviewing <a href="http://www.oreilly.com/catalog/csspr2/">CSS 2.0 Pocket Reference from O&#39;Reilly Media</a> and some further financial planning for the show.<p><strong>Something To Think About Segment</strong>: How former Australian MP <a href="http://en.wikipedia.org/wiki/Malcolm%5FFraser">Malcom Fraser</a> views the Liberal party today and how they&#39;re the most &#39;unliberal&#39; party in Australia!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
