---
title: "Rubenerd Show 425: The goodbye Jim episode"
date: "2023-05-22T08:46:25+10:00"
abstract: "25:15 — This episode is dedicated to the memory of Jim Kloss, whom I interviewed on the show in 2016. Jim was one of my dearest friends, a mentor in life, and a wonderful human being. Recorded late one evening wandering around a park in Sydney."
thumb: "https://archive.org/download/RubenerdShow425/RubenerdShow425.png"
enclosure_file: "https://archive.org/download/RubenerdShow425/RubenerdShow425.mp3"
enclosure_size: "24462023"
enclosure_type: "audio/mpeg"
enclosure_duration: "25:15"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow425/RubenerdShow425.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow425/RubenerdShow425.png" alt="Rubenerd Show 425" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow425/RubenerdShow425.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow425/RubenerdShow425.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">25:15</span> – This episode is dedicated to the memory of <a href="https://jimkloss.com/">Jim Kloss</a>, whom I <a href="https://rubenerd.com/show356/">interviewed on the show in 2016</a>. Jim was one of my dearest friends, a mentor in life, and a wonderful human being. Recorded late one evening wandering around a park in Sydney.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released May 2023 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow425/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

