---
title: "Rubenerd Show 186: The Michael Franks Christmas CD review episode"
date: "2006-11-28T23:12:22+08:00"
thumb: "https://archive.org/download/RubenerdShow186/Side186.png"
year: "2006"
abstract: '10:00 – Ruben reviews Michael Franks’s 2003 CD: Watching the Snow! Songs reviewed are Island Christmas, The Way We Celebrate New Year’s, Christmas In Kyoto and I Bought You A Plastic Star (For Your Aluminium Tree), and British actors on being famous!'
enclosure_file: "https://archive.org/download/RubenerdShow186/RubenerdShow186.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow186/Side186.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow186/RubenerdShow186.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow186/RubenerdShow186.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Ruben reviews <a href="http://michaelfranks.com/">Michael Franks&#39;s</a> 2003 CD: <a href="http://amazon.com/Watching-Snow-Michael-Franks/dp/B0002W11TA">Watching the Snow</a>! Songs reviewed are <em>Island Christmas</em>, <em>The Way We Celebrate New Year&#39;s</em>, <em>Christmas In Kyoto</em> and <em>I Bought You A Plastic Star (For Your Aluminium Tree)</em>, <em>and British actors on being famous!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
