---
title: "Rubenerd Show 132: The web forum episode"
date: "2006-07-19T21:07:15+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – The Rubenerd Forum has been launched!, Ruben’s Review (Vanilla forum software), the ego driven world of traditional web forums, the phone adapter (throwing it out, planned phone interviews on hold, pun intended), using &quot;Clear Voice&quot; mixer setting, let me know what you think.'
enclosure_file: "https://archive.org/download/RubenerdShow132/RubenerdShow132.mp3"
enclosure_size: 4823202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow132/RubenerdShow132.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow132/RubenerdShow132.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – The <a href="https://rubenerd.com/show/forum/">Rubenerd Forum</a> has been launched!, Ruben&#39;s Review (<a href="http://getvanilla.com/">Vanilla forum software</a>), the ego driven world of traditional web forums, the phone adapter (throwing it out, planned phone interviews on hold, pun intended), using &quot;Clear Voice&quot; mixer setting, let me know what you think.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
