---
title: "Rubenerd Show 289: The CTE 209 VIII episode"
date: "2015-08-23T22:19:43+10:00"
thumb: "https://archive.org/download/RubenerdShow289/RubenerdShow289.png"
year: "2015"
abstract: '01:02:17 – Topics include gentrification, virtual worlds (limitations of physical world, Nightstation) geo-locked console fun, Need for Speed Most Wanted: Terminal Velocity expansion, consoles versus computers, Plex, Crunchyroll, Sydney Kingsford Smith Airport, walking to find ATMs, Singapore’s atm5, paying to get access to your money, lost with maps, insufficient PIN lengths, migraines, family folklore, depressing malls, visiting Mascot parks during the day, us as ant lifeforms, being closed minded, 209 (university days, apartment doors, the number 8 in Chinese, The Overnightscape 1209, email address), etymology behind the Rubenerd name, and fictitious billboards. Music by Who Ha, again!'
enclosure_file: "https://archive.org/download/RubenerdShow289/RubenerdShow289.mp3"
enclosure_size: "39904024"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:02:17"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow289/RubenerdShow289.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow289/RubenerdShow289.png" alt="Rubenerd Show 289" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow289/RubenerdShow289.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow289/RubenerdShow289.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:02:17</span> – Topics include gentrification, virtual worlds (limitations of physical world, Nightstation) geo-locked console fun, Need for Speed Most Wanted: Terminal Velocity expansion, consoles versus computers, Plex, Crunchyroll, Sydney Kingsford Smith Airport, walking to find ATMs, Singapore's <a href="https://en.wikipedia.org/wiki/Atm⁵">atm5</a>, paying to get access to your money, lost with maps, insufficient PIN lengths, migraines, family folklore, depressing malls, visiting Mascot parks during the day, us as ant lifeforms, being closed minded, 209 (university days, apartment doors, the number 8 in Chinese, <a href="http://onsug.com/archives/17189">The Overnightscape 1209</a>, email address), etymology behind the Rubenerd name, and fictitious billboards. Music by <a href="https://soundcloud.com/thewhoha/who-ha-khaki">Who Ha</a>, again!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released August 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

