---
title: "Rubenerd Show 159: The stand up comedy and retro games episode"
date: "2006-08-27T12:05:03+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Rubens Monologue (Adelaide JetBus, real estate, con artists, um ah) shop review (GameTraders in Northgate), buying retro games (Flight Simulator for Windows 95, International Soccer cartridge for the Commodore 64), Rubenerd Forum (Mr Bunny, iTunes issues) and Mr Mad Player.'
enclosure_file: "https://archive.org/download/RubenerdShow159/RubenerdShow159.mp3"
enclosure_size: 4823366
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img style="float:left; margin:0px 20px 5px 0px; width:110px;" src="https://archive.org/download/RubenerdShow159/Side159.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow159/RubenerdShow159.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow159/RubenerdShow159.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Rubens Monologue (<a href="http://adelaidemetro.com.au/">Adelaide JetBus</a>, real estate, con artists, um ah) shop review (<a href="http://gametraders.com.au/">GameTraders</a> in Northgate), buying retro games (Flight Simulator for Windows 95, International Soccer cartridge for the Commodore 64), Rubenerd Forum (<a href="https://rubenerd.com/show/forum/comments.php?DiscussionID=16">Mr Bunny, iTunes issues</a>) and Mr Mad Player.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
