---
title: "Rubenerd Show 342: The DisplayPort episode"
date: "2016-06-05T20:38:42+10:00"
year: "2016"
abstract: '30:13 – What happens when Ruben is too tired, busy and/or stressed to do a show? He does one on a routine work trip to OfficeWorks! Hilarity and deep, philosophical discussion also ensues (not a guarantee). Recorded on Thursday, 02nd of June.'
thumb: "https://archive.org/download/RubenerdShow342/RubenerdShow342.png"
enclosure_file: "https://archive.org/download/RubenerdShow342/RubenerdShow342.mp3"
enclosure_size: "29324828"
enclosure_type: "audio/mpeg"
enclosure_duration: "30:13"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow342/RubenerdShow342.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow342/RubenerdShow342.png" alt="Rubenerd Show 342" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow342/RubenerdShow342.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow342/RubenerdShow342.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">30:13</span> – What happens when Ruben is too tired, busy and/or stressed to do a show? He does one on a routine work trip to OfficeWorks! Hilarity and deep, philosophical discussion also ensues (not a guarantee). Recorded on Thursday, 02nd of June.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released June 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

