---
title: "Rubenerd Show 101: The first episode from Kuala Lumpur episode"
date: "2006-06-06T03:00:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – All you can eat pancakes in Adelaide, time zones, ring tones (roosters, interruptions), bagging out MySpace, setting tables, flights (arriving in Singapore Changi Airport, KLIA) and people logging in. Introduced by the Rubenerd Sister, Elke Schade.'
enclosure_file: "https://archive.org/download/RubenerdShow101/RubenerdShow101.mp3"
enclosure_size: 4823242
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p style="font-weight:bold">First episode from Kuala Lumpur.</p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow101/RubenerdShow101.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow101/RubenerdShow101.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – All you can eat pancakes in Adelaide, time zones, ring tones (roosters, interruptions), bagging out MySpace, setting tables, flights (arriving in Singapore Changi Airport, KLIA) and people logging in. Introduced by the Rubenerd Sister, Elke Schade.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
