---
title: "Rubenerd Show 003: The fixing computers episode"
date: "2005-02-10T15:59:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '1:17 – Very short episode on how to fix a computer. Don’t try this at home! Or anywhere for that matter.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_003_1/RubenerdShow003.mp3"
enclosure_size: 390879
enclosure_duration: "1:17"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-singapore
- onsug
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_003_1/RubenerdShow003.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_003_1/RubenerdShow003.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">1:17</span> – Very short episode on how to fix a computer. Don&#39;t try this at home! Or anywhere for that matter.</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
