---
title: "Rubenerd Show 156: The acidic oranges and Chris Szeto leaving episode"
date: "2006-08-22T01:11:01+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Launch of the University Chronicles of Ruben, registering my own .SG domain, Men’s Health magazine, Rubenerd Health segment (eating citrus fruit but saving your teeth), condolences to the Maori community after the death of Dame Te Atairangikaahu, and farewell to my room mate and friend Chris Szeto.'
enclosure_file: "https://archive.org/download/RubenerdShow156/RubenerdShow156.mp3"
enclosure_size: 4823993
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow156/Side156.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow156/RubenerdShow156.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow156/RubenerdShow156.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Launch of the University Chronicles of Ruben, registering my own <a href="http://en.wikipedia.org/wiki/.sg">.SG domain</a>, <a href="http://menshealth.com/">Men&#39;s Health</a> magazine, Rubenerd Health segment (eating citrus fruit but saving your teeth), condolences to the <a href="http://maori.org.nz">Maori community</a> after the death of <a href="http://en.wikipedia.org/wiki/Te_Atairangikaahu">Dame Te Atairangikaahu</a>, and farewell to my room mate and friend Chris Szeto.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
