---
title: "Rubenerd Show 319: The Lift episode"
date: "2016-01-12T23:22:42+11:00"
year: "2016"
abstract: '24:05 – A shorter exposition of three terrifying scary trends: Ruben messing up Rubenerd Show 318, the changing of Lift to Fanta Lemon, and becoming subservient to computers through floods of information. Listener feedback provided by Jimbo.'
thumb: "https://archive.org/download/RubenerdShow319/RubenerdShow319.png"
enclosure_file: "https://archive.org/download/RubenerdShow319/RubenerdShow319.mp3"
enclosure_size: "24144185"
enclosure_type: "audio/mpeg"
enclosure_duration: "24:05"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow319/RubenerdShow319.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow319/RubenerdShow319.png" alt="Rubenerd Show 319" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow319/RubenerdShow319.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow319/RubenerdShow319.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">24:05</span> – A shorter exposition of three terrifying scary trends: Ruben messing up <em><a href="https://rubenerd.com/show318/">Rubenerd Show 318</a></em>, the changing of <em>Lift</em> to <em>Fanta Lemon</em>, and becoming subservient to computers through floods of information. Listener feedback provided by Jimbo.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released January 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

