---
title: "Rubenerd Show 049: The Ourmedia and Creative Commons episode"
date: "2005-10-19T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:00 – Taking today about Ourmedia, how amazing it is and how it’s going to change the net, a clip from J.D. Lasica and Marc Canter’s interview with Doug Kaye on IT Conversations, the Creative Commons, what is wrong with the world and how the current methods to stop terrorism are worthless, and a thought provoking song from Ourmedia by &quot;The Legendary K.O.&quot;.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_049/RubenerdShow049.mp3"
enclosure_size: 8577559
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_049/RubenerdShow049.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_049/RubenerdShow049.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – Taking today about <a href="http://ourmedia.org/">Ourmedia</a>, how amazing it is and how it&#39;s going to change the net, a clip from J.D. Lasica and Marc Canter&#39;s interview with Doug Kaye on <a href="http://itconversations.com/">IT Conversations</a>, the <a href="https://creativecommons.org/">Creative Commons</a>, what is wrong with the world and how the current methods to stop terrorism are worthless, and a <a href="http://www.ourmedia.org/node/53964">thought provoking song</a> from Ourmedia by &quot;The Legendary K.O.&quot;.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
