---
title: "Rubenerd Show 402: The hidden PPPoE episode"
date: "2020-01-05T23:55:19+11:00"
abstract: "24:25 — Thanking people for Australian bushfire feedback, Malcolm Turnbull’d internet, pronouncing abbreviations as acronyms (PPPoE... pehpehpehooee?), the Ricoh GR III camera, finding a stream and an old key in a forest near Cammeray, the plight of inefficient portable air conditioners, wooden shelving, and various challenges when selling incomplete anime figures."
thumb: "https://archive.org/download/RubenerdShow402/RubenerdShow402.png"
enclosure_file: "https://archive.org/download/RubenerdShow402/RubenerdShow402.mp3"
enclosure_size: "23502972"
enclosure_type: "audio/mpeg"
enclosure_duration: "24:25"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow402/RubenerdShow402.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow402/RubenerdShow402.png" alt="Rubenerd Show 402" style="float:right; margin:0 0 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow402/RubenerdShow402.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow402/RubenerdShow402.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">24:25</span> – Thanking people for Australian bushfire feedback, Malcolm Turnbull’d internet, pronouncing abbreviations as acronyms (PPPoE... pehpehpehooee?), the Ricoh GR III camera, finding a stream and an old key in a forest near Cammeray, the plight of inefficient portable air conditioners, wooden shelving, and various challenges when selling incomplete anime figures.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released January 2020 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

