---
title: "Rubenerd Show 426: The clever curtain episode"
date: "2023-07-08T09:14:53+10:00"
abstract: "30:40 — Join Ruben on a muggy, cold Sydney evening talking about James from James’ Coffee Blog starting his own podcast, why I’m allergic to Melbourne, and meeting my favourite ever vtuber Pavolia Reine from Hololive Indonesia!"
thumb: "https://archive.org/download/RubenerdShow426/RubenerdShow426.png"
enclosure_file: "https://archive.org/download/RubenerdShow426/RubenerdShow426.mp3"
enclosure_size: "29516316"
enclosure_type: "audio/mpeg"
enclosure_duration: "30:40"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow426/RubenerdShow426.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow426/RubenerdShow426.png" alt="Rubenerd Show 426" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow426/RubenerdShow426.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow426/RubenerdShow426.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">30:40</span> – Join Ruben on a muggy, cold Sydney evening talking about James from <a href="https://jamesg.blog/">James’ Coffee Blog</a> starting <a href="https://onsug.com/archives/category/james">his own podcast</a>, why I’m allergic to Melbourne, and meeting my favourite ever vtuber <a href="https://hololive.hololivepro.com/en/talents/pavolia-reine/">Pavolia Reine</a> from Hololive Indonesia!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released July 2023 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow426/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

