---
title: "Rubenerd Show 190: Christmas Apple Dashboard widgets episode"
date: "2006-12-04T22:31:53+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Christmas beverage review (Starbucks Toffee Nut Latte in Putrajaya) Christmas-themed Apple Dashboard widget reviews (Christmas Countdown, Festive Lights) and dashboard lights bringing Christmas spirit… aww!'
enclosure_file: "https://archive.org/download/RubenerdShow190/RubenerdShow190.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow190/RubenerdShow190.jpg" alt="Cover art for show 190" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow190/RubenerdShow190.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow190/RubenerdShow190.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Christmas beverage review (<a href="http://starbucks.com.my/">Starbucks Toffee Nut Latte</a> in <a href="http://www.malaysiasite.nl/putrajayaeng.htm">Putrajaya</a>) Christmas-themed <a href="http://apple.com.sg/macosx/leopard/dashboard.html">Apple Dashboard</a> widget reviews (<a href="http://apple.com/downloads/dashboard/games/christmascountdown.html">Christmas Countdown</a>, <a href="http://interdimensionmedia.com/widgets/index.html">Festive Lights</a>) and <em>dashboard lights bringing Christmas spirit… aww!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
