---
title: "Rubenerd Show 255: The pointless OS rambling episode"
date: "2008-10-11T23:45:21+08:00"
thumb: "https://archive.org/download/RubenerdShow255/RubenerdShow255.180px.png"
year: "2008"
abstract: '17:00 – Recording shows at 03:45am; bizarre South Australian and Indian timezones off by half an hour; installing operating systems in virtual machines, VMware Fusion, VMware Workstation, Parallels Desktop, VirtualBox; getting your hands dirty with real partitioning; choosing from FreeBSD, Draco GNU/Linux, OS/2 Warp 4.x, BeOS, DR-DOS, FreeDOS, NetBSD; why it’s a great time for OS enthusiasts to be alive; and why this should really have been filed under Rubenerd Unplugged and not made into a proper show!'
enclosure_file: "https://archive.org/download/RubenerdShow255/RubenerdShow255.mp3"
enclosure_size: 8238186
enclosure_duration: "17:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow255/RubenerdShow255.png"><img src="https://archive.org/download/RubenerdShow255/RubenerdShow255.180px.png" alt="Larger version of cover art" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow255/RubenerdShow255.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow255/RubenerdShow255.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">17:00</span> – Recording shows at 03:45am; bizarre <a href="http://en.wikipedia.org/wiki/UTC%2B9:30">South Australian</a> and Indian timezones off by half an hour; installing operating systems in virtual machines, <a href="http://www.vmware.com/mac">VMware Fusion</a>, <a href="http://www.vmware.com/products/ws/">VMware Workstation</a>, <a href="http://www.parallels.com/products/desktop/">Parallels Desktop</a>, <a href="http://www.virtualbox.org/">VirtualBox</a>; getting your hands dirty with real partitioning; choosing from <a href="http://www.freebsd.org/">FreeBSD</a>, <a href="http://www.dracolinux.org/">Draco GNU/Linux</a>, <a href="http://en.wikipedia.org/wiki/OS/2#The_.22Warp.22_years">OS/2 Warp 4.x</a>, <a href="http://en.wikipedia.org/wiki/BeOS">BeOS</a>, <a href="http://www.drdos.net/">DR-DOS</a>, <a href="http://freedos.org/">FreeDOS</a>, <a href="http://www.netbsd.org/">NetBSD</a>; why it&#39;s a great time for OS enthusiasts to be alive; and why this should really have been filed under Rubenerd Unplugged and not made into a proper show!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
