---
title: "Rubenerd Show 410: The apothecary coffee episode"
date: "2020-05-31T13:12:43+10:00"
abstract: "25:23 — Not knowing a place till you leave it, the fascinating triangular windows of the old Belle Vue in Singapore, faded knock-off Lego blocks, Albert Einstein’s travels, finding new coffee shops, apothecary tables, government posters, a 1990s-era glass foyer, and a borderline rant on my butterfly Apple keyboard. Recorded early May 2020."
thumb: "https://archive.org/download/RubenerdShow410/RubenerdShow410.png"
enclosure_file: "https://archive.org/download/RubenerdShow410/RubenerdShow410.mp3"
enclosure_size: "24491174"
enclosure_type: "audio/mpeg"
enclosure_duration: "25:23"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow410/RubenerdShow410.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow410/RubenerdShow410.png" alt="Rubenerd Show 410" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow410/RubenerdShow410.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow410/RubenerdShow410.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">25:23</span> – Not knowing a place till you leave it, the fascinating triangular windows of the old Belle Vue in Singapore, faded knock-off Lego blocks, Albert Einstein’s travels, finding new coffee shops, apothecary tables, government posters, a 1990s-era glass foyer, and a borderline rant on my butterfly Apple keyboard. Recorded early May 2020.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released May 2020 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

