---
title: "Rubenerd Show 031: The second Seinfeld DVD episode"
date: "2005-06-30T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – My take on Seinfeld (WARNING: really bad), reviewing the Seinfeld DVDs, sand-boxing the new theme song, how freaky it is that I could be listening to this show 10 years from now (like talking to the future!), the big new revelation with iTunes with podcasting BUILT IN and what podcasting is if you’re not sure what its all about, and my passport adventures and how a birth certificate is not a form of ID but merely as relevant as a slice of cheese… I don’t understand either! Melbourne is Australia’s evil city, and freaky credit card experiences in car parks.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_031/RubenerdShow031.mp3"
enclosure_size: 6476884
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_031/RubenerdShow031.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_031/RubenerdShow031.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – My take on Seinfeld (WARNING: really bad), reviewing the Seinfeld DVDs, sand-boxing the new theme song, how freaky it is that I could be listening to this show 10 years from now (like talking to the future!), the big new revelation with iTunes with podcasting BUILT IN and what podcasting is if you&#39;re not sure what its all about, and my passport adventures and how a birth certificate is not a form of ID but merely as relevant as a slice of cheese… I don&#39;t understand either! Melbourne is Australia&#39;s evil city, and freaky credit card experiences in car parks.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
