---
title: "Rubenerd Show 180: The weird machine gun dream episode"
date: "2006-11-20T17:47:58+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – Laughing like Sandra Bullock, evil Internet Explorer (holding back progress, getting sites working), weird dream review (shopping centre in Singapore, machine guns, Harrison Ford, primary school) and these things I believe!'
enclosure_file: "https://archive.org/download/RubenerdShow180/RubenerdShow180.mp3"
enclosure_size: 4823202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; width:110px; height:150px;" src="https://archive.org/download/RubenerdShow180/Side180.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow180/RubenerdShow180.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow180/RubenerdShow180.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Laughing like Sandra Bullock, evil <a href="http://ie7.com/">Internet Explorer</a> (holding back progress, getting sites working), weird dream review (shopping centre in <a href="https://rubenerd.com/show/articles/singapore">Singapore</a>, machine guns, Harrison Ford, <a href="http://ais.com.sg/">primary school</a>) and <em>these things I believe!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
