---
title: "Rubenerd Show 081: Another Rubenerd Hyperactive Special"
date: "2006-05-08T20:25:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Another Rubenerd Hyperactive Special! Professionalism, disasters resolved (can access Whole Wheat Radio again, new power adaptor for my MacBook Pro), The Top Five (signs someone hates you) and emailing the awesome Stefanie Koster (with an F people!) from school in Singapore!'
enclosure_file: "https://archive.org/download/RubenerdShow081/RubenerdShow081.mp3"
enclosure_size: 4813410
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow081/RubenerdShow081.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow081/RubenerdShow081.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Another Rubenerd Hyperactive Special! Professionalism, disasters resolved (can access <a href="http://wholewheatradio.org/">Whole Wheat Radio</a> again, new power adaptor for my MacBook Pro), The Top Five (signs someone hates you) and emailing the awesome Stefanie Koster (with an F people!) from school in Singapore!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
