---
title: "Rubenerd Show 403: The hot cake episode"
date: "2020-01-12T22:46:01+11:00"
abstract: "52:15 — Forbidden 403 HTML status codes, unhelpful profiling, Australian bushfire updates (looters, conspiracy theories, hot takes), unexpected Adelaide nostalgia and early breakfasts, unintentional philosophical ramblings on the character and motivations of certain people, and an ongoing good natured but otherwise inexplicable retail saga. With thanks to Phil Collins."
thumb: "https://archive.org/download/RubenerdShow403/RubenerdShow403.png"
enclosure_file: "https://archive.org/download/RubenerdShow403/RubenerdShow403.mp3"
enclosure_size: "50255098"
enclosure_type: "audio/mpeg"
enclosure_duration: "52:15"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow403/RubenerdShow403.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow403/RubenerdShow403.png" alt="Rubenerd Show 403" style="float:right; margin:0 0 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow403/RubenerdShow403.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow403/RubenerdShow403.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">52:15</span> – Forbidden 403 HTML status codes, unhelpful profiling, Australian bushfire updates (looters, conspiracy theories, hot takes), unexpected Adelaide nostalgia and early breakfasts, unintentional philosophical ramblings on the character and motivations of certain people, and an ongoing good natured but otherwise inexplicable retail saga. With thanks to Phil Collins.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released January 2020 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

