---
title: "Rubenerd Show 243: The FreeBSD Debian drivers rant episode"
date: "2008-06-06T18:49:43+08:00"
thumb: "https://archive.org/download/RubenerdShow243/RubenerdShow243.png"
year: "2008"
abstract: '27:00 – FreeBSD, Debian amd64 port, NVIDIA UNIX drivers, and DistroWatch.'
enclosure_file: "https://archive.org/download/RubenerdShow243/RubenerdShow243.mp3"
enclosure_size: 12958823
enclosure_duration: "27:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-singapore
- onsug
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow243/RubenerdShow243.png" alt="Free software!" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow243/RubenerdShow243.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow243/RubenerdShow243.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">27:00</span> – Relevant links: <a href="http://www.freebsd.org/">The FreeBSD Project</a>, <a href="http://www.debian.org/ports/amd64/">Debian GNU/Linux AMD64 Port</a>, <a href="http://www.nvidia.com/object/unix.html">NVIDIA UNIX Drivers</a>, and <a href="http://distrowatch.com/">DistroWatch</a>.</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 

