---
title: "Rubenerd Show 430: The two mugs episode"
date: "2025-02-21T09:02:58+11:00"
abstract: "14:22 — Bit of a weirder one today; talking about the time last week when the trolls won! But I got some amazing feedback and some help, so maybe there are lessons here I can pass on. Have you heard of this thing called the block button? I should do that! Thanks again, will be a more normal episode next time."
thumb: "https://archive.org/download/RubenerdShow430/RubenerdShow430.png"
enclosure_file: "https://archive.org/download/RubenerdShow430/RubenerdShow430.mp3"
enclosure_size: "13862292"
enclosure_type: "audio/mpeg"
enclosure_duration: "14:22"
category: Show
tag:
- audio-magazine
- new-time-radio
- onsug
- recorded-in-sydney
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow430/RubenerdShow430.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow430/RubenerdShow430.png" alt="Rubenerd Show 430" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow430/RubenerdShow430.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow430/RubenerdShow430.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">14:22</span> – Bit of a weirder one today; talking about the time last week when the trolls won! But I got some amazing feedback and some help, so maybe there are lessons here I can pass on. Have you heard of this thing called the block button? I should do that! Thanks again, will be a more normal episode next time.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released February 2025 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow430/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

