---
title: "Rubenerd Show 307: The Doc Sleaze episode"
date: "2015-11-21T21:33:48+11:00"
thumb: "https://archive.org/download/RubenerdShow307/RubenerdShow307.png"
year: "2015"
abstract: '55:00 – A follow–up episode in Overnightscape Underground spirit to Doc Sleaze’s latest audio emissions on the network. Topics include looking back, British royalty in Australia, comedy shows and tired sci-fi origin stories (from Sleazecast 10); the expensive and surly proprietors of corner shops (from the latest Overnightscape Central); and his tongue in cheek look at stalking, with reality TV stars and online (from Sleazecast 9). Also includes a bonus correction from Doc regarding the etymology of soccer!'
enclosure_file: "https://archive.org/download/RubenerdShow307/RubenerdShow307.mp3"
enclosure_size: "55435520"
enclosure_type: "audio/mpeg"
enclosure_duration: "55:00"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow307/RubenerdShow307.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow307/RubenerdShow307.png" alt="Rubenerd Show 307" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow307/RubenerdShow307.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow307/RubenerdShow307.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">55:00</span> – A follow–up episode in Overnightscape Underground spirit to Doc Sleaze's latest audio emissions on the network. Topics include looking back, British royalty in Australia, comedy shows and tired sci-fi origin stories (from <a href="http://onsug.com/archives/18269">Sleazecast 10</a>); the expensive and surly proprietors of corner shops (from the latest <a href="http://onsug.com/archives/18257">Overnightscape Central</a>); and his tongue in cheek look at stalking, with reality TV stars and online (from <a href="http://onsug.com/archives/18208">Sleazecast 9</a>). Also includes a bonus <a href="http://onsug.com/archives/18227">correction</a> from Doc regarding the etymology of soccer!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released November 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

