---
title: "Rubenerd Show 259: The Nicole Kidman David Letterman episode"
date: "2008-11-26T00:29:32+08:00"
thumb: "https://archive.org/download/RubenerdShow259/RubenerdShow259.180px.png"
year: "2008"
abstract: '21:09 – The very lovely Nicole Kidman’s awkward interview on David Letterman’s Late Show (YouTube link); an official apology for Rubenerd Show 258; the joys of insomnia; missing my MadPlayer and Armada M300; DavesPhotoGallery.net; my back hates my MacBook Pro; amazing detail exposed with flash photography (ha!); unscrupulously punching holes though property; automatic bright orange snow shovels; Google Reader and curious white powder on recycling bins!'
enclosure_file: "https://archive.org/download/RubenerdShow259/RubenerdShow259.mp3"
enclosure_size: 10245762
enclosure_duration: "21:09"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow259/RubenerdShow259.png"><img src="https://archive.org/download/RubenerdShow259/RubenerdShow259.180px.png" alt="Larger version of cover art" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow259/RubenerdShow259.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow259/RubenerdShow259.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">21:09</span> – The very lovely Nicole Kidman&#39;s awkward interview on David Letterman&#39;s Late Show (<a href="http://au.youtube.com/watch?v=f7IHyTXpz8A">YouTube link</a>); an official apology for <a href="https://rubenerd.com/show258/">Rubenerd Show 258</a>; the joys of insomnia; missing my MadPlayer and <a href="https://rubenerd.com/show/blog/p1156/">Armada M300</a>; <a href="http://davesphotogallery.net/">DavesPhotoGallery.net</a>; my back hates my MacBook Pro; amazing detail exposed with flash photography (ha!); unscrupulously punching holes though property; <a href="http://gizmodo.com/5093510/roofus-robot-eats-snow-for-breakfast-lunch-and-dinner">automatic bright orange snow shovels</a>; Google Reader and curious white powder on recycling bins!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
