---
title: "Rubenerd Show 206: The owning your own country episode"
date: "2007-01-09T01:04:30+08:00"
thumb: "https://archive.org/download/RubenerdShow206/Side206.sealand.png"
year: "2007"
abstract: '10:00 – Housekeeping (new site up, Asia-Pacific network cables), Indonesian disasters (dissapearing aeroplanes, sinking ferries), owning your own country (news story, are countries even still relevant anymore!?) and Weiler’s Law on slack impossibility!'
enclosure_file: "https://archive.org/download/RubenerdShow206/RubenerdShow206.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow206/Side206.sealand.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow206/RubenerdShow206.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow206/RubenerdShow206.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Housekeeping (<a href="https://rubenerd.com/show/">new site up</a>, Asia-Pacific network cables), Indonesian disasters (<a href="http://www.channelnewsasia.com/stories/afp_asiapacific/view/251252/1/.html">dissapearing aeroplanes</a>, <a href="http://www.smh.com.au/news/world/ferry-survivors-found-after-nine-days-at-sea/2007/01/08/1168104913484.html">sinking ferries</a>), owning your own country (<a href="http://www.channelnewsasia.com/stories/lifestylenews/view/251208/1/.html">news story</a>, are countries even still relevant anymore!?) and <em>Weiler&#39;s Law on slack impossibility!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
