---
title: "Rubenerd Show 364: The Hong Kong episode"
date: "2017-07-21T21:53:52+10:00"
year: "2017"
abstract: '24:21 – Join Ruben and Clara on the tarmac of the old Kai Tak Airport as they discuss their current trip to Hong Kong! Topics include the Kowloon Walled City, comparing Hong Kong to Singapore and New York, the view from Victoria Peak, monsoon rains, lemons, and other topics discussed in the first person. We ran out of time, so the next episode will be from Osaka. 唔該.'
thumb: "https://archive.org/download/RubenerdShow364/RubenerdShow364.png"
enclosure_file: "https://archive.org/download/RubenerdShow364/RubenerdShow364.mp3"
enclosure_size: "23453438"
enclosure_type: "audio/mpeg"
enclosure_duration: "24:21"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow364/RubenerdShow364.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow364/RubenerdShow364.png" alt="Rubenerd Show 364" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow364/RubenerdShow364.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow364/RubenerdShow364.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">24:21</span> – Join Ruben and Clara on the tarmac of the old Kai Tak Airport as they discuss their current trip to Hong Kong! Topics include the Kowloon Walled City, comparing Hong Kong to Singapore and New York, the view from Victoria Peak, monsoon rains, lemons, and other topics discussed in the first person. We ran out of time, so the next episode will be from Osaka. 唔該.</p>

<p class="show-licence">Recorded in Kowloon, Hong Kong. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released July 2017 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

