---
title: "Rubenerd Show 011: The hyperactive caffeine episode!!"
date: "2005-06-02T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '15:00 – My hyperactive caffeine episode!!!! Talking about random McCafe’s in Caltex service stations, why Mawson Lakes is like The OC, a correction about Boyd Anderson’s sexy new website, the freezing Adelaide weather is now in full swing, the dangers posed by fan heaters in your home and in trains going inside mountains in Austria, more Netspace support (from listeners not them!), the whole NetBSD vs FreeBSD vs OpenBSD saga, and a guest appearace by Sarab Singh!'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_011/RubenerdShow011.mp3"
enclosure_size: 4680937
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_011/RubenerdShow011.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_011/RubenerdShow011.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – My hyperactive caffeine episode!!!! Talking about random McCafe&#39;s in Caltex service stations, why Mawson Lakes is like The OC, a correction about Boyd Anderson&#39;s sexy new website, the freezing Adelaide weather is now in full swing, the dangers posed by fan heaters in your home and in trains going inside mountains in Austria, more Netspace support (from listeners not them!), the whole NetBSD vs FreeBSD vs OpenBSD saga, and a guest appearace by Sarab Singh!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
