---
title: "Rubenerd Show 228: The Ruben is a cranky geek episode"
date: "2007-09-26T20:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow228/RubenerdShow228.png"
year: "2007"
abstract: '54:46 – New iPods introduced – What Elke thinks of the new Nano, what I think of the Touch, Apple disabling Linux support, downloading cover art in iTunes.'
enclosure_file: "https://archive.org/download/RubenerdShow228/RubenerdShow228.mp3"
enclosure_size: 26309651
enclosure_duration: "54:46"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-singapore
- onsug
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow228/RubenerdShow228.png" alt="Rubenerd Show 228" style="float:left; margin:0px 20px 5px 0px; width:180px; height:180px;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow228/RubenerdShow228.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow228/RubenerdShow228.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">54:46</span> – <span style="font-weight:bold">New iPods introduced</span> – What Elke thinks of the <a href="http://apple.com.sg/ipodnano/">new Nano</a>, what I think of the <a href="http://apple.com.sg/ipodtouch/">Touch</a>, Apple disabling Linux support, downloading cover art in iTunes.</p>

<p><span style="font-weight:bold">Local Singapore news</span> – <a href="http://www.channelnewsasia.com/stories/singaporelocalnews/view/296720/1/.html">World's largest water pumps being built in the Marina Barrage</a>, what prevents people from being sucked in?</p>

<p><span style="font-weight:bold">Facebook news</span> – Microsoft <a href="http://slashdot.org/article.pl?sid=07/09/25/1240249">buying a pointless chunk</a>, profile gluttony, voting for the <a href="http://www.greens.org.au">Aussie Greens</a>, Elke's rant on registration woes, I use Twitter to pretend I update my profile, CSS customisation would mean death.</p>

<p><span style="font-weight:bold">Ruben tries to make Mr Kloss proud</span> – Why doesn't everyone use metric, what they teach you in school is pointless, why the whole Product Red scheme is no good, why can't Microsoft even create a spreadsheet app <a href="http://it.slashdot.org/article.pl?sid=07/09/24/2339203">that multiplies properly</a>, why are all men on television fat and stupid?</p>

<p><span style="font-weight:bold">And the ratholes…</span> – Lava lamp confusion, Lance Armstrong's <q>LiveStrong</q> armbands, eating grapes, failing MadPlayers and tossed salad and scrambled eggs.</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p>

