---
title: "Rubenerd Show 254: The IntoYourHead show war episode"
date: "2008-10-01T20:15:26+08:00"
thumb: "https://archive.org/download/RubenerdShow254/RubenerdShow254.180px.png"
year: "2008"
abstract: '09:18 – It’s official ladies, gentlemen and everyone else: the fine folks at the IntoYourHead show are officially at war. In response to this situation, I have recorded this highly sophisticated response. Please listen to in a well ventilated area, for the fumes of professionalism may overwhelm you.'
enclosure_file: "https://archive.org/download/RubenerdShow254/RubenerdShow254.mp3"
enclosure_size: 4553984
enclosure_duration: "09:18"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow254/RubenerdShow254.png"><img src="https://archive.org/download/RubenerdShow254/RubenerdShow254.180px.png" alt="Larger cover art version" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="http://intoyourhead.com/show111b.mp3">Play in new window</a> &middot; <a href="http://intoyourhead.com/show111b.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">09:18</span> – It&#39;s official ladies, gentlemen and everyone else: the fine folks at the <a href="http://intoyourhead.com/">IntoYourHead</a> show are <a href="http://intoyourhead.com/show111b.mp3">officially at war</a>. In response to this situation, I have recorded this highly sophisticated response. Please listen to in a well ventilated area, for the fumes of professionalism may overwhelm you.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
