---
title: "Rubenerd Show 378: The Docklands episode"
date: "2018-10-02T22:58:41+10:00"
abstract: '17:31 – Taking a business day trip to Melbourne, and realising it looks more and more like Sydney. Also primate cities, taking the tram, evening strolls, and other observations. More California audio coming soon, just popping in for a hello!'
thumb: "https://archive.org/download/RubenerdShow378/RubenerdShow378.png"
enclosure_file: "https://archive.org/download/RubenerdShow378/RubenerdShow378.mp3"
enclosure_size: "16867367"
enclosure_type: "audio/mpeg"
enclosure_duration: "17:31"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-melbourne
- the-overnightscape-underground
- podcast
location: melbourne
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow378/RubenerdShow378.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow378/RubenerdShow378.png" alt="Rubenerd Show 378" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow378/RubenerdShow378.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow378/RubenerdShow378.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">17:31</span> – Taking a business day trip to Melbourne, and realising it looks more and more like Sydney. Also primate cities, taking the tram, evening strolls, and other observations. More California audio coming soon, just popping in for a hello!</p>

<p class="show-licence">Recorded in Melbourne, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released October 2018 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

