---
title: "Rubenerd Show 128: The back in Adelaide and KLIA episode"
date: "2006-07-13T14:18:00+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – Rubenerd is back in Adelaide, South Australia. Better audio quality again, Overnightscape update (Episode 500, my submitted audio from my visit to KLIA: Kuala Lumpur International Airport), a brief Ruben’s Review (Samsung VoiceYepp VY-S100S), and Butter Menthols.'
enclosure_file: "https://archive.org/download/RubenerdShow128/RubenerdShow128.mp3"
enclosure_size: 4823202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow128/RubenerdShow128.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow128/RubenerdShow128.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Rubenerd is back in Adelaide, South Australia. Better audio quality again, Overnightscape update (Episode 500, my submitted audio from my visit to KLIA: Kuala Lumpur International Airport), a brief Ruben&#39;s Review (Samsung VoiceYepp VY-S100S), and Butter Menthols.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
