---
title: "Rubenerd Show 152: The busted iBook episode"
date: "2006-08-16T23:57:00+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – '
enclosure_file: "https://archive.org/download/RubenerdShow152/RubenerdShow152.mp3"
enclosure_size: 4823993
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img style="float:left; margin:0px 20px 5px 0px; width:110px;" src="https://archive.org/download/RubenerdShow152/Side152.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow152/RubenerdShow152.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow152/RubenerdShow152.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – 
Reflections on <a href="https://rubenerd.com/show/?p=182">Show 151</a>, Japanese <a href="http://www.bestdenki.ne.jp">Best Denki</a> in Singapore, my indestructible iBook G3 (&quot;friend&quot; dropping it, working perfectly), replacement hinges (calling Apple, spitting coffee), being too passive, random quotes (Simpsons on marriage, Australian newspapers on YouTube), and messed up days.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
