---
title: "Rubenerd Show 241: The Labour Day forgetting things episode"
date: "2008-05-01T20:31:23+08:00"
thumb: "https://archive.org/download/RubenerdShow241/RubenerdShow241.png"
year: "2008"
abstract: '33:43 – Labour Day in Singapore, sexism you’d be shot down for in Australia, Garfield quotes, mouth clicking is not professional, gorgeous pink sunsets, Jimbob finds out what’s wrong, my cat versus dog debate (which one do you prefer?), Max Brenner restaurant review at the Esplanade, absolutely incredible chocolate! Branches in the US, Singapore, Australia, the Philippines, Israel. Drinking out of Hug Mugs, comparing it to the Starbucks Chantico, Aztec style chocolate goodness!'
enclosure_file: "https://archive.org/download/RubenerdShow241/RubenerdShow241.mp3"
enclosure_size: 16207265
enclosure_duration: "33:43"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-singapore
- onsug
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow241/RubenerdShow241.png" alt="Max Brenner's at the Esplanade in Singapore" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow241/RubenerdShow241.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow241/RubenerdShow241.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">33:43</span> – Labour Day in Singapore, sexism you&#39;d be shot down for in Australia, Garfield quotes, mouth clicking is not professional, gorgeous pink sunsets, <a href="http://wholewheatradio.org/wiki/index.php/User:Jimkloss">Jimbob </a>finds out what&#39;s wrong, my cat versus dog debate (which one do you prefer?), <a href="http://www.maxbrenner.com/">Max Brenner</a> restaurant review at the <a href="http://www.esplanade.com/">Esplanade</a>, absolutely incredible chocolate! <a href="http://www.maxbrenner.com/branches.html">Branches</a> in the US, Singapore, Australia, the Philippines, Israel. Drinking out of Hug Mugs, comparing it to the <a href="http://www.usatoday.com/money/industries/food/2006-02-10-chantico_x.htm">Starbucks Chantico</a>, Aztec style chocolate goodness! <span style="font-style:italic;">I took the sunset photos in such a hurry none of them really turned out that well, so I posted a camera-phone picture from Max Brenner&#39;s instead. Sorry folks!</span></p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
