---
title: "Rubenerd Show 303: The paradox of choice episode"
date: "2015-11-02T23:34:14+11:00"
thumb: "https://archive.org/download/RubenerdShow303/RubenerdShow303.png"
year: "2015"
abstract: '01:00:36 – Car park music, mixing 80s synths with jazz, Spandau Ballet, working at what you love, obsessively researching, KVMs, The Paradox of Choice, shipping to Australia sucks, the Ideapad 100s, Sonnet IDE cards for ancient PowerMac G3s, overcast days, sunburn, going to the Sepang GP in Malaysia, only having enthusiasm for motorsport, hiking, Adelaide, power board boxes, OfficeWorks, cable boxes, shredders, early 1990s childhood TV nostalgia (TMNT, Fireman Sam, Postman Pat, Superted), purchasing and returning an evil monitor stand, and why British power plugs are superior, damn it!'
enclosure_file: "https://archive.org/download/RubenerdShow303/RubenerdShow303.mp3"
enclosure_size: "59921840"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:00:36"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow303/RubenerdShow303.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow303/RubenerdShow303.png" alt="Rubenerd Show 303" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-summary" style="font-weight:bold">The paradox of choice episode.</p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow303/RubenerdShow303.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow303/RubenerdShow303.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:00:36</span> – Car park music, mixing 80s synths with jazz, Spandau Ballet, working at what you love, obsessively researching, KVMs, The Paradox of Choice, shipping to Australia sucks, the Ideapad 100s, Sonnet IDE cards for ancient PowerMac G3s, overcast days, sunburn, going to the Sepang GP in Malaysia, only having enthusiasm for motorsport, hiking, Adelaide, power board boxes, OfficeWorks, cable boxes, shredders, early 1990s childhood TV nostalgia (TMNT, Fireman Sam, Postman Pat, Superted), purchasing and returning an evil monitor stand, and why British power plugs are superior, damn it!</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released November 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

