---
title: "Rubenerd Show 272: The succinct intelligence episode"
date: "2009-06-13T07:30:35+08:00"
thumb: "https://archive.org/download/RubenerdShow272/RubenerdShow272.180px.png"
year: "2009"
abstract: '03:18 – This could very well be the greatest episode of the Rubenerd Show of all time. Even though Into Your Head has a spiffy new layout, it just can’t compete with the quality and intelligent discourse of this episode.'
enclosure_file: "https://archive.org/download/RubenerdShow272/RubenerdShow272.mp3"
enclosure_size: 1724645
enclosure_duration: "03:18"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow271/RubenerdShow272.png"><img src="https://archive.org/download/RubenerdShow272/RubenerdShow272.180px.png" alt="Larger version of cover art" style="height:241px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow272/RubenerdShow272.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow272/RubenerdShow272.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">03:18</span> – This could very well be the greatest episode of the Rubenerd Show of all time. Even though <a href="http://intoyourhead.com/">Into Your Head</a> has a spiffy new layout, it just can&#39;t compete with the quality and intelligent discourse of this episode.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
