---
title: "Rubenerd Show 209: The 209 episode special… episode"
date: "2007-01-12T22:33:56+08:00"
thumb: "https://archive.org/download/RubenerdShow209/Side209.209.png"
year: "2007"
abstract: '15:00 – Spooky. The significance of 209 in the New Time Radio world (fellow NTR show The Overnighscape), the significance of 209 in the New Time Radio world (fellow NTR show The Overnighscape), and non dairy cream dealers!'
enclosure_file: "https://archive.org/download/RubenerdShow209/RubenerdShow209.mp3"
enclosure_size: 7223410
enclosure_duration: "15:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; height:150px; width:110px;" src="https://archive.org/download/RubenerdShow209/Side209.209.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow209/RubenerdShow209.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow209/RubenerdShow209.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">15:00</span> – Spooky. The significance of 209 in the <a href="http://newtimeradio.com/">New Time Radio</a> world (fellow NTR show <a href="http://theovernightscape.com/">The Overnighscape</a>), the significance of 209 in the <a href="http://newtimeradio.com/">New Time Radio</a> world (fellow NTR show <a href="http://theovernightscape.com/">The Overnighscape</a>), and <em>non dairy cream dealers!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
