---
title: "Rubenerd Show 212: The living in KL (part two) episode"
date: "2007-01-17T23:54:05+08:00"
thumb: "NA"
year: "2007"
abstract: '10:00 – Going to the Petaling Street night markets in Kuala Lumpur (Ringgit exchange rate, crafts, roasting chestnuts, shoes… DVDs…), site housekeeping (Rudebox, Konqeuror), why I love KDE, and going where the weather suits my clothes!'
enclosure_file: "https://archive.org/download/RubenerdShow212/RubenerdShow212.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><a href="http://en.wikipedia.org/wiki/Image:YosriMay2005JalanPetaling.JPG"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow212/Side212.petaling.jpg" alt="Petaling Street photo by Yosri" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow212/RubenerdShow212.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow212/RubenerdShow212.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – Going to the Petaling Street night markets in Kuala Lumpur (Ringgit exchange rate, crafts, roasting chestnuts, shoes… DVDs…), site housekeeping (<a href="https://rubenerd.com/show201/">Rudebox</a>, <a href="http://konqueror.kde.org/">Konqeuror</a>), why I love <a href="http://kde.org/">KDE</a>, and <em>going where the weather suits my clothes!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
