---
title: "Rubenerd Show 199: The last episode for 2006 episode"
date: "2006-12-29T23:02:56+08:00"
thumb: "https://archive.org/download/RubenerdShow199/Side199.png"
year: "2006"
abstract: '18:30 – Ruben tries to do a completely ad-lib episode (with mixed results!), reviewing what happened in 2006 (with some glaring omissions!), vaccum cleaners that suck, Saddam’s hanging (why I think he should have got life instead, being turned into a martyr), the Western media, alternate universes, the new Rubenerd Show and Blog rollout (now with more fibre!), and Ruben hopelessly trying to sing Gwen Stefani!'
enclosure_file: "https://archive.org/download/RubenerdShow199/RubenerdShow199.mp3"
enclosure_size: 8903320
enclosure_duration: "18:30"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; height:220px; width:110px" src="https://archive.org/download/RubenerdShow199/Side199.png" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow199/RubenerdShow199.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow199/RubenerdShow199.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">18:30</span> – <a href="https://rubenerd.com/about/">Ruben</a> tries to do a completely ad-lib episode (with mixed results!), reviewing what happened in 2006 (with some glaring omissions!), <a href="http://blackanddecker.com/">vaccum cleaners</a> that suck, Saddam&#39;s hanging (why I think he should have got life instead, being turned into a martyr), the Western media, alternate universes, the new <a href="https://rubenerd.com/show/">Rubenerd Show</a> and <a href="https://rubenerd.com/show/blog/">Blog</a> rollout (now with more fibre!), and <em>Ruben hopelessly trying to sing Gwen Stefani!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
