---
title: "Rubenerd Show 411: The FreeBSD cat(1) episode"
date: "2020-06-16T15:14:18+10:00"
abstract: "28:45 — A discussion about feline creatures liking me despite having never owned one… turned into a rant about desktop software quality, remembering Wintel and desktop Java, running OpenZFS on FreeBSD and NetBSD with cgd, BSD on an iBook back in the day, being burned by btrfs, BSDCan comments about home labs now being production, and wandering outside in beautifully-mild winter weather."
thumb: "https://archive.org/download/RubenerdShow411/RubenerdShow411.png"
enclosure_file: "https://archive.org/download/RubenerdShow411/RubenerdShow411.mp3"
enclosure_size: "27662228"
enclosure_type: "audio/mpeg"
enclosure_duration: "28:45"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow411/RubenerdShow411.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow411/RubenerdShow411.png" alt="Rubenerd Show 411" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow411/RubenerdShow411.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow411/RubenerdShow411.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">28:45</span> – A discussion about feline creatures liking me despite having never owned one… turned into a rant about desktop software quality, remembering Wintel and desktop Java, running <a href="https://openzfs.org/wiki/Main_Page">OpenZFS</a> on <a href="https://www.freebsd.org/">FreeBSD</a> and <a href="http://www.netbsd.org/">NetBSD</a> with <a href="https://www.netbsd.org/docs/guide/en/chap-cgd.html">cgd</a>, BSD on an iBook back in the day, being burned by btrfs, <a href="https://www.bsdcan.org/2020/">BSDCan</a> comments about home labs now being production, and wandering outside in beautifully-mild winter weather.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released June 2020 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

