---
title: "Rubenerd Show 143: The RTFM and showers episode"
date: "2006-08-03T19:24:22+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – The woes of tech phone calls in the middle of a shower (THS-K host, not good lah), girls asking for computer favours at school who would not normally associate with you, installing Singaporean StarHub MaxOnline on a MacBook and etiquette in regards to free help (computer nerds, mechanics, pharmacists etc).'
enclosure_file: "https://archive.org/download/RubenerdShow143/RubenerdShow143.mp3"
enclosure_size: 4802902
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img style="float:left; margin:0px 20px 5px 0px; width:110px;" src="https://archive.org/download/RubenerdShow143/Side143.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow143/RubenerdShow143.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow143/RubenerdShow143.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – The woes of tech phone calls in the middle of a shower (<a href="http://ths-k.com/">THS-K host</a>, not good lah), girls asking for computer favours at school who would not normally associate with you, installing Singaporean <a href="http://starhub.com.sg/">StarHub MaxOnline</a> on a MacBook and etiquette in regards to free help (computer nerds, mechanics, pharmacists etc).</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
