---
title: "Rubenerd Show 070: The Kowloon Walled City urban decline episode"
date: "2006-03-15T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '35:00 – Ruben’s Monologue (The SCO Unix LAMP stack, useless Dell laptops, rams in comedy clubs, people who drive 4WDs), the Commonwealth Games have started in Melbourne, why I envy those who’ve only lived in one country, The Top 5 (signs you’re listening to too much of the Crap &amp; Stuff podcast), the South Australian state elections (how backwards Family First is, why Liberal is less than desirable and why I’ll be voting for The Greens), and the facinating decline of the Kowloon Walled City in Hong Kong in the late 1980s.'
enclosure_file: "https://archive.org/download/RubenSchadeRubenerdShow070/RubenerdShow070.mp3"
enclosure_size: 10251360
enclosure_duration: "35:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-adelaide
- the-overnightscape-underground
- podcast
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenSchadeRubenerdShow070/RubenerdShow070.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenSchadeRubenerdShow070/RubenerdShow070.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">35:00</span> – Ruben&#39;s Monologue (The SCO Unix LAMP stack, useless Dell laptops, rams in comedy clubs, people who drive 4WDs), the <a href="http://commonwealthgames.com/">Commonwealth Games</a> have started in <a href="http://en.wikipedia.org/wiki/melbourne">Melbourne</a>, why I envy those who&#39;ve only lived in one country, The Top 5 (signs you&#39;re listening to too much of the <a href="http://crapandstuff.com/">Crap &amp; Stuff</a> podcast), the South Australian state elections (how backwards Family First is, why Liberal is less than desirable and why I&#39;ll be voting for <a href="http://sa.greens.org.au/">The Greens</a>), and the facinating decline of the <a href="http://en.wikipedia.org/wiki/Kowloon_Walled_City">Kowloon Walled City</a> in Hong Kong in the late 1980s.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
