---
title: "Rubenerd Show 409: The uncanny silhouette episode"
date: "2020-05-06T08:35:04+10:00"
abstract: "29:37 — Join Ruben for a late-night wander around the abandoned Sydney suburb of Chatswood during these lockdown adventures. Topics include 100 days of COVID-19, stairwall-derived exercise, Australia and New Zealand’s potential new travel bubble, finding coffee shops, spooky silhouettes in the night, a Liverpool FC barber, JoAnne Hook paintings, active voice, saying “you too!” to retail staff, and the uncanny valley as it pertains to… sheep‽ Recorded Monday 4th May 2020."
thumb: "https://archive.org/download/RubenerdShow409/RubenerdShow409.png"
enclosure_file: "https://archive.org/download/RubenerdShow409/RubenerdShow409.mp3"
enclosure_size: "28533237"
enclosure_type: "audio/mpeg"
enclosure_duration: "29:37"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow409/RubenerdShow409.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow409/RubenerdShow409.png" alt="Rubenerd Show 409" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow409/RubenerdShow409.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow409/RubenerdShow409.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">29:37</span> – Join Ruben for a late-night wander around the abandoned Sydney suburb of Chatswood during these lockdown adventures. Topics include 100 days of COVID-19, stairwall-derived exercise, Australia and New Zealand’s potential new <a href="https://www.theguardian.com/australia-news/2020/may/05/australia-and-new-zealand-travel-bubble-coronavirus-safe-plan-to-reopen-border">travel bubble</a>, finding coffee shops, spooky silhouettes in the night, a Liverpool FC barber, <a href="https://joannehook.com/">JoAnne Hook paintings</a>, active voice, saying “you too!” to retail staff, and the uncanny valley as it pertains to… sheep‽ Recorded Monday 4th May 2020.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released May 2020 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

