---
title: "Rubenerd Show 235: The Elke Sims 2 bombardment episode"
date: "2008-04-10T07:01:29+08:00"
thumb: "https://archive.org/download/RubenerdShow235/RubenerdShow235.png"
year: "2008"
abstract: '1:07:00 – The Simpsons Bombardment, Elke’s first live morning Whole Wheat Radio show, Elke on The Sims 2, slow Singapore internet today, Microsoft gets new open source chief, Ruben rants about &quot;shared source&quot; nonsense, CalgaryGuru on Flickr’s new video uploading service, is Yahoo’s brand failing, Elke on different social networks across the world, suss people on Bebo, verbose MySpace video profiles, rant on people intentionally misspelling names, Ruben versus Reuben, Miss Cook adventures in primary school in Melbourne, Web 2.0 buyout baiting, Jerry Yang’s haircut, Wikipedia as a drug, Yahoo Mash, Facebook discussion including remembering 30 passwords, Elise Hopkins, The Schade Clan group, rant on how useless nationalities and patriotism are becoming, origin of the word expat, Mr Slave, ridiculously long lists of Facebook requests, fun in my own introversion, testy-pops, 2005 was a very good year, &quot;Liberal&quot; meaning different things in the US and Australia, Lotus SmartSuite, Microsoft Plus 95, my OBSESSION with screeshots, Ruben’s dad Rainer debunks mind-controlling chemtrails, huge ships near the Port of Singapore, illuminati controlling my mind as a sheeple, why it’s hard to find words that rhyme with sheeple.'
enclosure_file: "https://archive.org/download/RubenerdShow235/RubenerdShow235.mp3"
enclosure_size: 32178968
enclosure_duration: "1:07:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow235/RubenerdShow235.png" alt="Elke's Sims 2 family at the time of recoding the show!" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow235/RubenerdShow235.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow235/RubenerdShow235.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">1:07:00</span> – The Simpsons <a href="http://en.wikipedia.org/wiki/My_Fair_Laddy">Bombardment</a>, <a href="http://schade.sg/elke/">Elke&#39;s</a> first live morning <a href="http://wholewheatradio.org/">Whole Wheat Radio</a> show, Elke on The Sims 2, slow Singapore internet today, Microsoft gets <a href="http://tech.slashdot.org/article.pl?sid=08/04/09/1924216">new open source chief</a>, Ruben rants about &quot;shared source&quot; nonsense, <a href="http://twitter.com/CalgaryGuru">CalgaryGuru</a> on Flickr&#39;s new video uploading service, is Yahoo&#39;s brand failing, Elke on different social networks across the world, suss people on <a href="http://bebo.com/">Bebo</a>, verbose MySpace video profiles, rant on people intentionally misspelling names, Ruben versus Reuben, Miss Cook adventures in <a href="http://www.patterson-lakes-ps.vic.edu.au/">primary school in Melbourne</a>, Web 2.0 buyout baiting, Jerry Yang&#39;s haircut, Wikipedia as a drug, Yahoo Mash, <a href="http://www.facebook.com/profile.php?id=643490932">Facebook</a> discussion including remembering 30 passwords, <a href="http://www.facebook.com/profile.php?id=748360468&pc=1">Elise Hopkins</a>, The Schade Clan group, rant on how useless nationalities and patriotism are becoming, origin of the word <a href="http://en.wikipedia.org/wiki/Expatriate">expat</a>, <a href="http://en.wikipedia.org/wiki/Mr_Slave#Mr._Slave">Mr Slave</a>, ridiculously long lists of Facebook requests, fun in my own introversion, testy-pops, 2005 was a very good year, &quot;Liberal&quot; meaning different things in the US and Australia, <a href="http://www-306.ibm.com/software/lotus/products/smartsuite/">Lotus SmartSuite</a>, <a href="http://en.wikipedia.org/wiki/Microsoft_Plus#Microsoft_Plus.21_for_Windows_95">Microsoft Plus 95</a>, my OBSESSION with screeshots, Ruben&#39;s dad Rainer debunks mind-controlling chemtrails, <a href="https://rubenerd.com/show/blog/p1122/">huge ships</a> near the Port of Singapore, illuminati controlling my mind as a sheeple, why it&#39;s hard to find words that rhyme with sheeple.</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
