---
title: "Rubenerd Show 118: The Malaysian cable TV episode"
date: "2006-06-28T15:31:01+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '10:00 – We finally have cable TV in Malaysia (CNN Asia Pacific, free to air TV in Australia, Singapore and Malaysia), Rubenerd Left Wing (American sugar-coated politics, liberation, democracy etc), Elke calling Ruben a dork, bagging out New Zealand accents (again!) and congratulations to the women of Kuwait for getting the vote! News clips from CNN and the Brock Log, found through Technorati.'
enclosure_file: "https://archive.org/download/RubenerdShow118/RubenerdShow118.mp3"
enclosure_size: 4823811
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow118/RubenerdShow118.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow118/RubenerdShow118.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – We finally have cable TV in Malaysia (CNN Asia Pacific, free to air TV in Australia, Singapore and Malaysia), Rubenerd Left Wing (American sugar-coated politics, liberation, democracy etc), Elke calling Ruben a dork, bagging out New Zealand accents (again!) and congratulations to the women of Kuwait for getting the vote! News clips from <a href="http://www.cnn.com/2006/WORLD/meast/06/29/kuwait.elections.reut/index.html">CNN</a> and the <a href="http://brocknet.net/WordPress/?p=581">Brock Log</a>, found through <a href="http://technorati.com/search/kuwait">Technorati</a>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
