---
title: "Rubenerd Show 427: The ramping praties episode"
date: "2023-10-05T11:59:32+11:00"
abstract: "20:47 — The Into Your Head show is returning! I also returned to the Exit Ramp for an episode! Join Ruben as he discusses these, along with brewing coffee, a recovered audio clip from 2008, bad accents, and adventures with audio levels."
thumb: "https://archive.org/download/RubenerdShow427/RubenerdShow427.png"
enclosure_file: "https://archive.org/download/RubenerdShow427/RubenerdShow427.mp3"
enclosure_size: "19991856"
enclosure_type: "audio/mpeg"
enclosure_duration: "20:47"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow427/RubenerdShow427.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow427/RubenerdShow427.png" alt="Rubenerd Show 427" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow427/RubenerdShow427.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow427/RubenerdShow427.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:47</span> – The <a href="https://www.intoyourhead.com">Into Your Head</a> show is returning! I also returned to the <a href="https://onsug.com/archives/34877">Exit Ramp</a> for an episode! Join Ruben as he discusses these, along with brewing coffee, a recovered audio clip from 2008, bad accents, and adventures with audio levels.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released October 2023 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow427/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

