---
title: "Rubenerd Show 302: The metro coffee episode"
date: "2015-10-25T20:47:23+11:00"
thumb: "https://archive.org/download/RubenerdShow302/RubenerdShow302.png"
year: "2015"
abstract: '01:00:00 – Join me on a train trip to Sydney to have a coffee, then the train trip back! Random topics include office space, NABERS (?), venture capitalists, spring hay fever, cubicles, Perl, introversion, what could have been, space and perceptions, commutes, squeaky carriages, not travelling between doors, grade separation, New York schist and Sydney sandstone, junk food for vegetarians, chicken salt, Brands Essence of Chicken, apple flavoured Yakult, Starbucks, light rail, Americanos and long blacks, train platforms, losing wallets or phones, Tiles, micro-obsession with Canned Heat, and how to irritate hipsters.'
enclosure_file: "https://archive.org/download/RubenerdShow302/RubenerdShow302.mp3"
enclosure_size: "58307220"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:00:00"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow302/RubenerdShow302.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow302/RubenerdShow302.png" alt="Rubenerd Show 302" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow302/RubenerdShow302.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow302/RubenerdShow302.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:00:00</span> – Join me on a train trip to Sydney to have a coffee, then the train trip back! Random topics include office space, NABERS (?), venture capitalists, spring hay fever, cubicles, Perl, introversion, what could have been, space and perceptions, commutes, squeaky carriages, not travelling between doors, grade separation, New York schist and Sydney sandstone, junk food for vegetarians, chicken salt, Brands Essence of Chicken, apple flavoured Yakult, Starbucks, light rail, Americanos and long blacks, train platforms, losing wallets or phones, Tiles, micro-obsession with Canned Heat, and how to irritate hipsters.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released October 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

