---
title: "Rubenerd Show 191: The extended Christmas comeback episode"
date: "2006-12-19T01:10:53+08:00"
thumb: "NA"
year: "2006"
abstract: '35:00 – Show is back after two week work hiatus, &quot;live&quot; Christmas audio excursion (Raffles City Starbucks in Singapore, live studio audience, drinking coffee downtown at 11:00pm!) possible wicked new job in Singapore (but going up against graduates, youthful optimism), Wireless@SG (Singapore being first country with nation-wide WiFi), Rubenerd Rant (useless Flash in web pages), informal Software Review (7Zip’s wicked contextual menus), New Zealand bidness, family Christmas traditions (nice smelling pine trees (technical name of course), Bing Crosby, Age of Empires II!), from the Rubenerd Forum (Surrealist’s Christmas photos in Scotland, scones, shortbread!!!) and Keith Olbermann on why you need a sense of humour!'
enclosure_file: "https://archive.org/download/RubenerdShow191/RubenerdShow191.mp3"
enclosure_size: 16823228
enclosure_duration: "35:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; height:315px; width:110px;" src="https://archive.org/download/RubenerdShow191/Side191.jpg" alt="" />

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow191/RubenerdShow191.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow191/RubenerdShow191.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">35:00</span> – Show is back after two week work hiatus, &quot;live&quot; Christmas audio excursion (<a href="http://rafflescity.com/">Raffles City</a> <a href="http://starbucks.com.sg/">Starbucks</a> in Singapore, live studio audience, drinking coffee downtown at 11:00pm!) possible wicked new job in Singapore (but going up against graduates, youthful optimism), <a href="http://www.ida.gov.sg/idaweb/marketing/infopage.jsp?infopagecategory=&infopageid=I3928&versionid=5">Wireless@SG</a> (Singapore being first country with nation-wide WiFi), Rubenerd Rant (useless <a href="http://adobe.com/products/flash/flashpro/">Flash</a> in web pages), informal Software Review (<a href="http://7-zip.org/">7Zip&#39;s</a> wicked contextual menus), New Zealand bidness, family Christmas traditions (nice smelling pine trees (technical name of course), <a href="http://www.google.com/musicl?lid=hbZ27USf0sF&aid=fgcJ7vv6SnD&amp;sa=X&oi=music&ct=result">Bing Crosby</a>, <a href="http://www.microsoft.com/games/age2/">Age of Empires II!</a>), from the <a href="https://rubenerd.com/show/forum/">Rubenerd Forum</a> (<a href="https://rubenerd.com/show/forum/comments.php?DiscussionID=35&page=1#Item_0">Surrealist&#39;s Christmas photos in Scotland</a>, scones, shortbread!!!) and <em><a href="http://msnbc.msn.com/id/3036677/">Keith Olbermann</a> on why you need a sense of humour!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
