---
title: "Rubenerd Show 405: The Walkenbach Envelope episode"
date: "2020-03-07T23:16:28+11:00"
abstract: "34:32 — Making a caffeinated beverage LIVE on the show like I used to, remembering Murni’s Warung in Ubud, the joys of envelope budgeting, John Walkenbach from Whole Wheat Radio helping me through his Excel books all these years later, and why it’s still so difficult for people without IT backgrounds to export data from shut down sites."
thumb: "https://archive.org/download/RubenerdShow405/RubenerdShow405.png"
enclosure_file: "https://archive.org/download/RubenerdShow405/RubenerdShow405.mp3"
enclosure_size: "33211252"
enclosure_type: "audio/mpeg"
enclosure_duration: "34:32"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow405/RubenerdShow405.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow405/RubenerdShow405.png" alt="Rubenerd Show 405" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow405/RubenerdShow405.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow405/RubenerdShow405.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">34:32</span> – Making a caffeinated beverage LIVE on the show like I used to, remembering Murni’s Warung in Ubud, the joys of envelope budgeting, John Walkenbach from Whole Wheat Radio helping me through his Excel books all these years later, and why it’s still so difficult for people without IT backgrounds to export data from shut down sites.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released March 2020 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

