---
title: "Rubenerd Show 176: The Republicans getting hammered episode"
date: "2006-11-14T17:02:59+08:00"
thumb: "NA"
year: "2006"
abstract: '10:00 – The November outage, woeful internet woes (Telekom Malaysia StreamyX, Coffee Bean WiFi, Helen Coonan sucks), new microphone standy things, the American mid-term elections (as seen here in Asia), and Einstein on gravitational lovin’.'
enclosure_file: "https://archive.org/download/RubenerdShow176/RubenerdShow176.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow176/RubenerdShow176.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow176/RubenerdShow176.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow176/RubenerdShow176.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – The November outage, woeful internet woes (<a href="http://tmnet.com.my/">Telekom Malaysia</a> StreamyX, <a href="http://coffeebean.com.my/">Coffee Bean WiFi</a>, <a href="http://minister.dcita.gov.au/">Helen Coonan</a> sucks), new microphone standy things, the American mid-term elections (as seen here in Asia), and <em>Einstein on gravitational lovin&#39;</em>.</p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
