---
title: "Rubenerd Show 218: The GANGgajang hóng bāo episode"
date: "2007-02-22T01:02:56+08:00"
thumb: "NA"
year: "2007"
abstract: '12:00 – Ruben philosophising about money, music nostalgia (GANGgajang, American Money, This is Australia), 12:00, getting hóng bāos (Norwegian Bakery, Starbucks, commercialisation) and having the best or the rest!'
enclosure_file: "https://archive.org/download/RubenerdShow218/RubenerdShow218.mp3"
enclosure_size: 5785766
enclosure_duration: "12:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; width:110px; height:150px;" src="https://archive.org/download/RubenerdShow218/Side218.hongbao.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow218/RubenerdShow218.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow218/RubenerdShow218.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">12:00</span> – Ruben philosophising about money, music nostalgia (<a href="http://en.wikipedia.org/wiki/GANGgajang">GANGgajang</a>, American Money, This is Australia), 12:00, getting hóng bāos (Norwegian Bakery, <a href="http://www.starbucks.com.my/">Starbucks</a>, commercialisation) <em>and having the best or the rest!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
