---
title: "Rubenerd Show 231: The conspiracy theory episode"
date: "2007-12-22T11:11:39+08:00"
thumb: "https://archive.org/download/RubenerdShow231/RubenerdShow231.png"
year: "2007"
abstract: '35:27 – I would post a description, but it would just be a conspiracy! Warning: heavy ironic and satirical undertones!'
enclosure_file: "https://archive.org/download/RubenerdShow231/RubenerdShow231.mp3"
enclosure_size: 21295778
enclosure_duration: "35:27"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-singapore
- the-overnightscape-underground
- podcast
location: singapore
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow231/RubenerdShow231.png" alt="Commodore 64 in high definition!" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow231/RubenerdShow231.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow231/RubenerdShow231.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">35:27</span> – I would post a description, but it would just be a conspiracy! Warning: heavy ironic and satirical undertones!</p>

<p class="show-licence">Recorded in Singapore. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 

