---
title: "Rubenerd Show 379: The Kevin Tan Show episode"
date: "2018-10-07T08:53:01+11:00"
abstract: '01:03:32 – In the first of what I hope to be many episodes in the Rubenerd Rewind series, we take a journey back thirteen years to my university dorm to hear Kevin Tan’s show! He heard me doing Rubenerd Shows when we were both studying in Adelaide, and thought he’d give it a try. Each of his six episodes are preserved and presented here in one easy-to-listen programme. Shows recorded by Kevin Tan in 2005-06, introduction recorded by Ruben Schade in 2018, and an Adelaide Channel 7 news clip from 2006.'
thumb: "https://archive.org/download/RubenerdShow379/RubenerdShow379.png"
enclosure_file: "https://archive.org/download/RubenerdShow379/RubenerdShow379.mp3"
enclosure_size: "60949513"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:03:32"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow379/RubenerdShow379.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow379/RubenerdShow379.png" alt="Rubenerd Show 379" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow379/RubenerdShow379.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow379/RubenerdShow379.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:03:32</span> – In the first of what I hope to be many episodes in the Rubenerd Rewind series, we take a journey back thirteen years to my university dorm to hear Kevin Tan’s show! He heard me doing Rubenerd Shows when we were both studying in Adelaide, and thought he’d give it a try. Each of his six episodes are preserved and presented here in one easy-to-listen programme. Shows recorded by Kevin Tan in 2005-06, introduction recorded by Ruben Schade in 2018, and an Adelaide Channel 7 news clip from 2006.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released October 2018 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

