---
title: "Rubenerd Show 420: The belated holidays episode"
date: "2022-01-01T09:55:14+11:00"
abstract: "36:36 — Join your host as he finally gets around to uploading some festive cheer and other rambling nonsense. Talking about Xmas lights, the programming VCR meme, Travan tapes, health fun, couch potato-ism, coffee chains in Asia, trying a seasonal brew, and the infamous “much more!” Happy new year from us to you ♡."
thumb: "https://archive.org/download/RubenerdShow420/RubenerdShow420.png"
enclosure_file: "https://archive.org/download/RubenerdShow420/RubenerdShow420.mp3"
enclosure_size: "35225047"
enclosure_type: "audio/mpeg"
enclosure_duration: "36:36"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow420/RubenerdShow420.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow420/RubenerdShow420.png" alt="Rubenerd Show 420" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow420/RubenerdShow420.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow420/RubenerdShow420.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">36:36</span> – Join your host as he finally gets around to uploading some festive cheer and other rambling nonsense. Talking about Xmas lights, the programming VCR meme, Travan tapes, health fun, couch potato-ism, coffee chains in Asia, trying a seasonal brew, and the infamous “much more!” Happy new year from us to you ♡.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released December 2021 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow420/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

