---
title: "Rubenerd Show 071: The SA State Election Supplemental Episode"
date: "2006-03-18T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '28:30 – The results of the state election, the seat tally for the lower house and the complete speeches made by Rob Kerin of the Liberal Party and the residing winner Mike Rann of the Labor Party. Includes my take on the results, why I am overjoyed that Labor has been re-elected, why I voted for The Greens 1, Labor 2 and Liberal 5, and my disgust with a few Liberal candidates’ attitudes.'
enclosure_file: "https://archive.org/download/RubenSchadeRubenerdShow071/RubenerdShow071.mp3"
enclosure_size: 13736897
enclosure_duration: "28:30"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p style="font-weight:bold">South Australian State Election Supplemental Episode.</p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenSchadeRubenerdShow071/RubenerdShow071.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenSchadeRubenerdShow071/RubenerdShow071.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">28:30</span> – The results of the state election, the seat tally for the lower house and the complete speeches made by Rob Kerin of the <a href="http://www.sa.liberal.org.au/">Liberal Party</a> and the residing winner Mike Rann of the <a href="http://www.sa.alp.org.au/">Labor Party</a>. Includes my take on the results, why I am overjoyed that Labor has been re-elected, why I voted for The <a href="http://www.sa.greens.org.au/">Greens</a> 1, Labor 2 and Liberal 5, and my disgust with a few Liberal candidates&#39; attitudes.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
