---
title: "Rubenerd Show 390: The Overnightscape Pegasus episode"
date: "2019-02-17T08:48:56+11:00"
abstract: "01:23:35 — A tribute to the last few episodes of The Overnightscape. Topics include wood veneer dishwashers and TVs, moving to Chatswood, when I started listening to The Overnightscape, Lunar New Year, abandoned cityscapes in the real world and in simulations, nostalgia for space, gift giving, Gateway 2000, gaming business models, Fate/Grand Order, and the Carlton Branch, plus Side B."
thumb: "https://archive.org/download/RubenerdShow390/RubenerdShow390.png"
enclosure_file: "https://archive.org/download/RubenerdShow390/RubenerdShow390.mp3"
enclosure_size: "80154073"
enclosure_type: "audio/mpeg"
enclosure_duration: "01:23:35"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow390/RubenerdShow390.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow390/RubenerdShow390.png" alt="Rubenerd Show 390" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow390/RubenerdShow390.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow390/RubenerdShow390.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">01:23:35</span> – A tribute to the last few episodes of <a href="http://www.theovernightscape.com/">The Overnightscape</a>. Topics include wood veneer dishwashers and TVs, moving to Chatswood, when I started listening to The Overnightscape, Lunar New Year, abandoned cityscapes in the real world and in simulations, nostalgia for space, gift giving, Gateway 2000, gaming business models, Fate/Grand Order, and the Carlton Branch... plus Side B (at 01:03:56)... opening production credits for A Chinese Ghost Story (1987), The Computer Chronicles - Windows 3.0 (1990), Hypothetical Institute theme (2019), Clark and Dawe, The Front Fell Off (1991), Cantonese Golden Harvest bumper (1986), Digital Flotsam episode 54, baseballs and music (2004), tech5 episode 38 on early Microsoft magazines (2007), Prospects by Chris Juergensen (2005), Rising Bubbles sound loop from Apple Logic (2007), introduction to construction of the Sydney Harbour Tunnel (1992), and my first MadPlayer recording (2005).</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released February 2019 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

