---
title: "Rubenerd Show 205: The Rubenerd himself listening episode"
date: "2007-01-08T01:28:08+08:00"
thumb: "NA"
year: "2007"
abstract: '10:00 – New mic cables, Rubenerd Forum (MannyTheMailMan), motivational speakers, working for Discovery Channel, catching up (Dr. Karl in Aus Crap &amp; Stuff, Overnightscape, Whole Wheat Radio) and Ruben being a professional… amateur!'
enclosure_file: "https://archive.org/download/RubenerdShow205/RubenerdShow205.mp3"
enclosure_size: 4824202
enclosure_duration: "10:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em;" src="https://archive.org/download/RubenerdShow205/Side205.mic.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow205/RubenerdShow205.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow205/RubenerdShow205.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">10:00</span> – New <a href="http://procosound.com/">mic cables</a>, <a href="https://rubenerd.com/show/forum/">Rubenerd Forum</a> (MannyTheMailMan), motivational speakers, working for <a href="http://www.discoverychannelasia.com/">Discovery Channel</a>, catching up (<a href="http://abc.net.au/science/k2/">Dr. Karl in Aus</a> <a href="http://crapandstuff.com/">Crap &amp; Stuff</a>, <a href="http://theovernightscape.com/">Overnightscape</a>, <a href="http://wholewheatradio.org/">Whole Wheat Radio</a>) and <em>Ruben being a professional… amateur!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
