---
title: "Rubenerd Show 290: The calm episode"
date: "2015-08-30T16:36:56+10:00"
thumb: "https://archive.org/download/RubenerdShow290/RubenerdShow290.png"
year: "2015"
abstract: '46:03 – Grinding coffee live on the show, Hahndorf Inn Hotel coffee mugs, Bourke Street Bakery, coffee, unfriendly hipsters, Weetbix, overcast and sunny days, a regrettably-phantom Rubenerd Show episode, The Overnightscape Central, PQ Ribber, Old-Time Radio, audio museums, Radio Free Shambles, American and Australian accents, Perth, cheap drinks that still smell good (Nescafe, Lipton Tea), studying for my HSC at the AIS, friendly librarians, elitism in music, jazz and Coldplay, What’s Your Plan B?, Snake Tea Podcast, still haven’t finished The Overnightscape 1209, 7-11 and Spar, Atlantic City, Apple Boot Camp, Windows 2000, and liking all the uncool things.'
enclosure_file: "https://archive.org/download/RubenerdShow290/RubenerdShow290.mp3"
enclosure_size: "26899809"
enclosure_type: "audio/mpeg"
enclosure_duration: "46:03"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow290/RubenerdShow290.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow290/RubenerdShow290.png" alt="Rubenerd Show 290" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow290/RubenerdShow290.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow290/RubenerdShow290.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">46:03</span> – Grinding coffee live on the show, <a href="http://hahndorfinn.com.au">Hahndorf Inn Hotel</a> coffee mugs, <a href="http://bourkestreetbakery.com.au">Bourke Street Bakery</a>, coffee, unfriendly hipsters, Weetbix, overcast and sunny days, a regrettably-phantom <em>Rubenerd Show</em> episode, <a href="http://onsug.com/archives/category/overnightscapecentral">The Overnightscape Central</a>, PQ Ribber, Old-Time Radio, audio museums, <a href="http://onsug.com/archives/category/shambles">Radio Free Shambles</a>, American and Australian accents, Perth, cheap drinks that still smell good (Nescafe, Lipton Tea), studying for my <a href="http://www.schools.nsw.edu.au/learning/7-12assessments/hsc.php">HSC</a> at the <a href="http://www.ais.com.sg/">AIS</a>, friendly librarians, elitism in music, jazz and Coldplay, <a href="http://whatsyourplanb.net.au/">What's Your Plan B?</a>, <a href="http://nai.fm/">Snake Tea Podcast</a>, still haven’t finished <a href="http://www.theovernightscape.com/archives/2474">The Overnightscape 1209</a>, 7-11 and Spar, Atlantic City, Apple Boot Camp, Windows 2000, and liking all the uncool things.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released August 2015 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

