---
title: "Rubenerd Show 374: The Odawara episode"
date: "2018-03-16T23:42:48+09:00"
abstract: '41:36 – I’m in Tokyo for AsiaBSDCon 2018 and annual leave. Too much audio to process! So for now, have this clip of Clara and I talking about our day trip to Odawara. Topics include the Train Simulator route of yore that inspired the trip, the Odakyu Luxury Super Express, walking past restaurants, Clara cat spotting, dango balloons, Odawara Castle, Ito En milk coffee, Denny’s, ikiben, shiba inu dogs, Foursquare/Swarm, and getting back to Kudanshita.'
thumb: "https://archive.org/download/RubenerdShow374/RubenerdShow374.png"
enclosure_file: "https://archive.org/download/RubenerdShow374/RubenerdShow374.mp3"
enclosure_size: "39918405"
enclosure_type: "audio/mpeg"
enclosure_duration: "41:36"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-odawara
- onsug
location: odawara
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow374/RubenerdShow374.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow374/RubenerdShow374.png" alt="Rubenerd Show 374" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow374/RubenerdShow374.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow374/RubenerdShow374.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">41:36</span> – I'm in Tokyo for <a href="https://2018.asiabsdcon.org/">AsiaBSDCon 2018</a> and annual leave. Too much audio to process! So for now, have this clip of Clara and I talking about our day trip to Odawara. Topics include the Train Simulator route of yore that inspired the trip, the <a href="http://www.allaboutjapantrains.com/7000-series-lse.html">Odakyu Luxury Super Express</a>, walking past restaurants, Clara cat spotting, dango balloons, Odawara Castle, Ito En milk coffee, Denny's, ikiben, shiba inu dogs, Foursquare/Swarm, and getting back to <a href="https://en.wikipedia.org/wiki/Kudanshita_Station">Kudanshita</a>.</p>

<p class="show-licence">Recorded in Odawara, Japan. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released March 2018 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

