---
title: "Rubenerd Show 281: The lucid island episode"
date: "2015-07-19T23:27:51+10:00"
thumb: "https://archive.org/download/RubenerdShow281/RubenerdShow281.png"
year: "2015"
abstract: '54:05 – Topics include Eddie Murray, Hey Everybody it’s Jimbo, Gangnam Style, critics, Frank Edward Nora’s new job, unemployment, New Horizons photos of Pluto, lucid dreaming, science, why I hate beaches, scary seagulls, one pieces are better than bikinis, gender double standards, Radio Free Shambles, introversion draining, sleep troubleshooting and insomnia, The Law Report, caffeine, energy drinks, and travelling through dreams. '
enclosure_file: "https://archive.org/download/RubenerdShow281/RubenerdShow281.mp3"
enclosure_size: "41412369"
enclosure_type: "audio/mpeg"
enclosure_duration: "54:05"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow281/RubenerdShow281.png" alt="Rubenerd Show 281" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow281/RubenerdShow281.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow281/RubenerdShow281.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">54:05</span> – Topics include Eddie Murray, <a href="http://onsug.com/archives/category/jimbo/">Hey Everybody it's Jimbo</a>, Gangnam Style, critics, Frank Edward Nora's <a href="http://onsug.com/archives/16818">new job</a>, unemployment, New Horizons photos of Pluto, lucid dreaming, science, why I hate beaches, scary seagulls, one pieces are better than bikinis, gender double standards, <a href="http://onsug.com/archives/category/shambles/">Radio Free Shambles</a>, introversion draining, sleep troubleshooting and insomnia, <a href="http://www.abc.net.au/radionational/programs/lawreport/energy-drinks-and-regulation/6604196">The Law Report</a>, caffeine, energy drinks, and travelling through dreams.</p> 

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade. Music by Eddie Murray.</p>

<p class="show-release" >Released July 2015 on <a href="http://onsug.com/archives/16672">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com">this feed</a> to your podcast client.</p>

