---
title: "Rubenerd Show 177: The Rubenerd Sister Elke on The Sims 2 episode"
date: "2006-11-15T17:56:15+08:00"
thumb: "NA"
year: "2006"
abstract: '20:00 – Inappropriate Language Warning! Elke’s bright pink hair, Ruben bashing Microsoft (no existing Microsoft DRM music on Zune, Zune and Vista are incompatible), the net send command, balaclavas, burkas for The Sims 2, the best Weird Al song (White and Nerdy), using del.icio.us to bookmark stuff, Elke Software Review (MSN Messenger vs. Windows Live Messenger), Ruben’s old MSDN subscription, Ruben’s Software Review (Google Desktop), Elke’s high-school subjects, and Putt Putt on flying breakfast!'
enclosure_file: "https://archive.org/download/RubenerdShow177/RubenerdShow177.mp3"
enclosure_size: 9626807
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-kuala-lumpur
- the-overnightscape-underground
- podcast
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; width:110px;" src="https://archive.org/download/RubenerdShow177/Side177.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow177/RubenerdShow177.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow177/RubenerdShow177.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – <em>Inappropriate Language Warning!</em> Elke&#39;s bright pink hair, Ruben bashing Microsoft (no existing Microsoft DRM music on Zune, <a href="http://blogs.zdnet.com/microsoft/?p=104">Zune and Vista are incompatible</a>), the <a href="http://www.microsoft.com/resources/documentation/windows/xp/all/proddocs/en-us/net_send.mspx?mfr=true">net send</a> command, balaclavas, <a href="https://rubenerd.com/show/blog/awesome-burka-head-scarves-for-the-sims-2/">burkas for The Sims 2</a>, the best Weird Al song (White and Nerdy), using <a href="http://del.icio.us/rubenerd">del.icio.us</a> to bookmark stuff, Elke Software Review (<a href="http://messenger.msn.com/">MSN Messenger</a> vs. Windows Live Messenger), Ruben&#39;s old <a href="http://msdn.microsoft.com/">MSDN</a> subscription, Ruben&#39;s Software Review (<a href="http://desktop.google.com/">Google Desktop</a>), Elke&#39;s high-school subjects, and <em>Putt Putt on flying breakfast!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
