---
title: "Rubenerd Show 220: The childhood train and ridiculous cards episode"
date: "2007-02-27T14:16:19+08:00"
thumb: "NA"
year: "2007"
abstract: '12:00 – Home update, childhood nostalgia (Thomas the Tank Engine, Victorian Railways’ H220), Overnightscape with Felix in Singapore, ridiculous numbers of cards (coffee cards of course!) and recharging non-rechargeable batts!'
enclosure_file: "https://archive.org/download/RubenerdShow220/RubenerdShow220.mp3"
enclosure_size: 5789736
enclosure_duration: "12:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-kuala-lumpur
- onsug
location: kuala-lumpur
---
<p class="show-cover"><img style="float:right; margin:1em 0em 1em 2em; width:110px; height:150px;" src="https://archive.org/download/RubenerdShow220/Side220.h220.jpg" alt="" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow220/RubenerdShow220.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow220/RubenerdShow220.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">12:00</span> – Home update, childhood nostalgia (<a href="http://en.wikipedia.org/wiki/Thomas_the_Tank_Engine">Thomas the Tank Engine</a>, <a href="http://www.ajhurst.org/~ajh/trains/vic/Hclass/index.xml">Victorian Railways&#39; H220</a>), <a href="http://theovernightscape.com/">Overnightscape</a> with Felix in Singapore, ridiculous numbers of cards (<a href="http://www.coffeebean.com.sg/coffeebean/card.cfm">coffee cards</a> of course!) and <em>recharging non-rechargeable batts!</em></p>

<p class="show-licence">Recorded in Kuala Lumpur, Malaysia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
