---
title: "Rubenerd Show 261: The changing Singapore and public transport episode"
date: "2009-01-15T03:27:58+08:00"
thumb: "https://archive.org/download/RubenerdShow261/RubenerdShow261.180px.png"
year: "2009"
abstract: '21:15 – Do more people know where Singapore is now? Sleeping with blinking lights; Asia changing every five minutes; gutting the Bishan MRT station; the Singapore Heartland; changing skylines; apartment buildings springing up from nowhere; the feared &quot;en bloc sale&quot; phenomena; the Adelaide Glenelg Tramline; the Sydney Cross City Tunnel; using the Internet Archive for Rubenerd Shows; rating shows with stars; Liberal and Labor guys; an extended rant on building roads instead of public transport; and don’t blame me I voted for The Greens!'
enclosure_file: "https://archive.org/download/RubenerdShow261/RubenerdShow261.mp3"
enclosure_size: 10350189
enclosure_duration: "21:15"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow261/RubenerdShow261.png"><img src="https://archive.org/download/RubenerdShow261/RubenerdShow261.180px.png" alt="Larger version of cover art" style="height:180px; width:180px; float:left; margin:0px 20px 5px 0px" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow261/RubenerdShow261.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow261/RubenerdShow261.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">21:15</span> – Do more people know where Singapore is now? Sleeping with blinking lights; Asia changing every five minutes; gutting the <a href="http://en.wikipedia.org/wiki/Bishan_MRT_Station">Bishan MRT station</a>; the Singapore Heartland; changing skylines; apartment buildings springing up from nowhere; the feared &quot;en bloc sale&quot; phenomena; the <a href="http://en.wikipedia.org/wiki/Glenelg_Tram">Adelaide Glenelg Tramline</a>; the <a href="http://en.wikipedia.org/wiki/Cross_City_Tunnel">Sydney Cross City Tunnel</a>; using the <a href="https://archive.org/search.php?query=creator%3A%22Ruben%20Schade%22/">Internet Archive</a> for Rubenerd Shows; rating shows with stars; Liberal and Labor guys; an extended rant on building roads instead of public transport; and don&#39;t blame me I voted for <a href="http://greens.org.au/">The Greens</a>!</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade.</p> 
