---
title: "Rubenerd Show 280: The exploring virtual worlds to electronica episode"
date: "2015-07-12T00:18:00+10:00"
thumb: "https://archive.org/download/RubenerdShow280/RubenerdShow280.png"
year: "2015"
abstract: '46:57 – Topics include 80s electronica, SoundCloud, The Pet Shop Boys, insomnia, virtual machines, DOSBox, exploring virtual worlds, Challenger, Funan Centre, Sim Lim Square, the Need For Speed franchise, the Midtown Madness franchise, Battlefield 1942, Dust in Counter Strike, Radio Free Shambles, Sailor Moon, the Banpresto Sailor Mercury game prize figure, and musical spookiness. '
enclosure_file: "https://archive.org/download/RubenerdShow280/RubenerdShow280.mp3"
enclosure_size: "36973997"
enclosure_type: "audio/mpeg"
enclosure_duration: "46:57"
enclosure_bitrate: 128
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow280/RubenerdShow280.png" alt="Rubenerd Show 280" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow280/RubenerdShow280.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow280/RubenerdShow280.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">46:57</span> – Topics include 80s electronica, SoundCloud, The Pet Shop Boys, insomnia, virtual machines, DOSBox, exploring virtual worlds, Challenger, Funan Centre, Sim Lim Square, the Need For Speed franchise, the Midtown Madness franchise, Battlefield 1942, Dust in Counter Strike, <a href="http://onsug.com/archives/category/shambles">Radio Free Shambles</a>, Sailor Moon, the <a href="http://myfigurecollection.net/item/217440">Banpresto Sailor Mercury</a> game prize figure, and musical spookiness.</p> 

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>. Attribution: Ruben Schade. Music by <a href="https://soundcloud.com/thewhoha/that-thing">Who Ha</a>.</p>

<p class="show-release" >Released July 2015 on <a href="http://onsug.com/archives/16672">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

