---
title: "Rubenerd Show 328: The Gardeners Road episode"
date: "2016-03-13T23:06:16+11:00"
year: "2016"
abstract: '40:11 – Toilet paper rolls, Sydney’s worst intersection, startup culture, building a data centre, stupid English words, cars in Singapore, ugly new cars with plastic fronts, generic names and slogans, an advertising rant, Mascot construction, listener feedback (Jimbo, Shambles), introversion in children, and the joys of working in coffee shops.'
thumb: "https://archive.org/download/RubenerdShow328/RubenerdShow328.png"
enclosure_file: "https://archive.org/download/RubenerdShow328/RubenerdShow328.mp3"
enclosure_size: "38731163"
enclosure_type: "audio/mpeg"
enclosure_duration: "40:11"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow328/RubenerdShow328.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow328/RubenerdShow328.png" alt="Rubenerd Show 328" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/RubenerdShow328/RubenerdShow328.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/RubenerdShow328/RubenerdShow328.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">40:11</span> – Toilet paper rolls, Sydney's worst intersection, startup culture, building a data centre, stupid English words, cars in Singapore, ugly new cars with plastic fronts, generic names and slogans, an advertising rant, Mascot construction, listener feedback (Jimbo, Shambles), introversion in children, and the joys of working in coffee shops.</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released March 2016 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

