---
title: "Rubenerd Show 057: The holiday shopping episode"
date: "2005-11-16T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2005"
abstract: '20:00 – A very poorly recorded intro! But the rest of the show is okay, talking about how Christmas is in the air, Christmas television commercials and putting up Christmas decorations and ceebrating way to early in the year, thinking about what I’m buying people and how hard it is to shop for dads, reading Amanda Blair’s article &quot;Oh What A Night: It’s The Willsys&quot; from The Sunday Mail incuding the awesome Cunnos Warehouse guy and the Aussie Subway spokesperson who says &quot;You little beauty!&quot;. Clearing up where I’m from and where my parents live, the tallest buildings in the world, and a callout to my mum who might be listening to this and to people from the AIS school in Singapore who’ll be there for Christmas.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_57/RubenerdShow057.mp3.mp3"
enclosure_size: 9610995
enclosure_duration: "20:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="Show cover" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>

<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_57/RubenerdShow057.mp3.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_57/RubenerdShow057.mp3.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:00</span> – A very poorly recorded intro! But the rest of the show is okay, talking about how Christmas is in the air, Christmas television commercials and putting up Christmas decorations and ceebrating way to early in the year, thinking about what I&#39;m buying people and how hard it is to shop for dads, reading Amanda Blair&#39;s article &quot;Oh What A Night: It&#39;s The Willsys&quot; from <a href="http://sundaymail.com/">The Sunday Mail</a> incuding the awesome Cunnos Warehouse guy and the <a href="http://subs.com.au">Aussie Subway</a> spokesperson who says &quot;You little beauty!&quot;. Clearing up where I&#39;m from and where my parents live, the tallest buildings in the world, and a callout to my mum who might be listening to this and to people from the <a href="http://www.ais.com.sg">AIS</a> school in Singapore who&#39;ll be there for Christmas. <strong>Something To Think About Segment:</strong> Tanglin Mall and Christmas decs.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
