---
title: "Rubenerd Show 414: The thingy stuff episode"
date: "2021-05-12T09:11:27+10:00"
abstract: "14:00 — A discussion about how my fervour for independent writing hasn’t translated into improving podcast imposter syndrome! Also RSS, distribution, how social networks have convinced people to only write for them, and related ruminations. Thanks for your patience while I produced this one :)."
thumb: "https://archive.org/download/RubenerdShow414/RubenerdShow414.png"
enclosure_file: "https://archive.org/download/RubenerdShow414/RubenerdShow414.mp3"
enclosure_size: "13529558"
enclosure_type: "audio/mpeg"
enclosure_duration: "14:00"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow414/RubenerdShow414.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow414/RubenerdShow414.png" alt="Rubenerd Show 414" style="width:320px; height:320px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow414/RubenerdShow414.mp3">Play in new window</a> | <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow414/RubenerdShow414.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">14:00</span> – A discussion about how my fervour for independent writing hasn’t translated into improving podcast imposter syndrome! Also RSS, distribution, how social networks have convinced people to only write for them, and related ruminations. Thanks for your patience while I produced this one :).</p>

<p class="show-licence">Recorded in Sydney, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release">Released May 2021 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts; this one notwithstanding. Hosted graciously by the <a href="https://archive.org/details/RubenerdShow414/">Internet Archive</a>.</p>

<p class="show-subscribe">Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

