---
title: "Rubenerd Show 068: The WorldWideWeb episode"
date: "2006-02-26T14:29:59+08:00"
thumb: "https://archive.org/download/RubenerdShow075/CoverArt.png"
year: "2006"
abstract: '32:00 – McDonalds, iPods, Beds, Tony Abbott, Kmart Sales, Signs you’re on Internet Explorer, Carlsberg Bottle Cap, Vacations, The &quot;WorldWideWeb&quot; Browser, 400 posts on MakeItGreat, The Hunger Site, Crap &amp; Stuff.'
enclosure_file: "https://archive.org/download/The_Rubenerd_Show_068/RubenerdShow068.mp3"
enclosure_size: 15858623
enclosure_duration: "32:00"
enclosure_bitrate: 64
enclosure_type: "audio/mpeg"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-adelaide
- onsug
location: adelaide
---
<p class="show-cover"><img src="https://archive.org/download/RubenerdShow075/CoverArt.png" alt="" style="height:160px; width:160px; float:right; margin:1em 0em 1em 2em;" /></p>
<p class="show-download">Podcast: <a target="_blank" href="https://archive.org/download/The_Rubenerd_Show_068/RubenerdShow068.mp3">Play in new window</a> &middot; <a href="https://archive.org/download/The_Rubenerd_Show_068/RubenerdShow068.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">32:00</span> – McDonalds, iPods, Beds, Tony Abbott, Kmart Sales, Signs you&#39;re on Internet Explorer, Carlsberg Bottle Cap, Vacations, The &quot;WorldWideWeb&quot; Browser, 400 posts on <a href="http://makeitgreat.org">MakeItGreat</a>, <a href="http://thehungersite.com/">The Hunger Site</a>, <a href="http://crapandstuff.com/">Crap &amp; Stuff</a>.</p>

<p class="show-licence">Recorded in Adelaide, Australia. Licence for this track: <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5</a>. Attribution: Ruben Schade.</p> 
