---
title: "Rubenerd Show 370: The Canberra episode"
date: "2017-09-26T09:30:12+10:00"
year: "2017"
abstract: '20:44 – Quick report from a business trip to Canberra, with unreality, Australia’s worst Thai food, evil vending machines,  cashew bags, flight delays, and other fun. Then back to Sydney for an apology to Jimbo and fascinating, though dusty, construction sites. Recorded 30th August and 25th September 2017.'
thumb: "https://archive.org/download/RubenerdShow370/RubenerdShow370.png"
enclosure_file: "https://archive.org/download/RubenerdShow370/RubenerdShow370.mp3"
enclosure_size: "19936556"
enclosure_type: "audio/mpeg"
enclosure_duration: "20:44"
category: Show
tag:
- audio-magazine
- internet-radio
- new-time-radio
- recorded-in-sydney
- the-overnightscape-underground
- podcast
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow370/RubenerdShow370.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow370/RubenerdShow370.png" alt="Rubenerd Show 370" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow370/RubenerdShow370.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow370/RubenerdShow370.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">20:44</span> – Quick report from a business trip to Canberra, with unreality, Australia’s worst Thai food, evil vending machines,  cashew bags, flight delays, and other fun. Then back to Sydney for an apology to Jimbo and fascinating, though dusty, construction sites. Recorded 30th August and 25th September 2017.</p>

<p class="show-licence">Recorded in Canberra and Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released September 2017 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

