---
title: "Rubenerd Show 372: The park episode"
date: "2018-01-15T23:10:39+11:00"
abstract: '28:58 – London taxis and scary doors, 33, New Year, sodium lamps and LEDs, melatonin, writing without a backspace key, blogging, finding a fitness magazine late at night, and a moose.'
year: "2018"
thumb: "https://archive.org/download/RubenerdShow372/RubenerdShow372.png"
enclosure_file: "https://archive.org/download/RubenerdShow372/RubenerdShow372.mp3"
enclosure_size: "27818970"
enclosure_type: "audio/mpeg"
enclosure_duration: "28:58"
category: Show
tag:
- audio-magazine
- new-time-radio
- recorded-in-sydney
- onsug
location: sydney
---
<p class="show-cover"><a href="https://archive.org/download/RubenerdShow372/RubenerdShow372.mp3" title="Listen to episode"><img src="https://archive.org/download/RubenerdShow372/RubenerdShow372.png" alt="Rubenerd Show 372" style="float:right; margin:1em 0em 1em 2em; width:180px; height:180px;" /></a></p>

<p class="show-download">Podcast: <a target="_blank" style="font-weight:bold" href="https://archive.org/download/RubenerdShow372/RubenerdShow372.mp3">Play in new window</a> &middot; <a style="font-weight:bold;" href="https://archive.org/download/RubenerdShow372/RubenerdShow372.mp3">Download</a></p>

<p class="show-description"><span class="show-duration" style="font-weight:bold">28:58</span> – London taxis and scary doors, 33, New Year, sodium lamps and LEDs, melatonin, writing without a backspace key, blogging, finding a fitness magazine late at night, and a moose.</p>

<p class="show-licence">Recorded in North Sydney, Australia. Licence for this track: <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>. Attribution: Ruben Schade.</p>

<p class="show-release" >Released January 2018 on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freeform monologue style, with diverse and fascinating hosts.</p>

<p class="show-subscribe" >Subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rubenerd-show">Overcast</a> or add <a href="http://showfeed.rubenerd.com/">this feed</a> to your podcast client.</p>

