<div id="bio">
<h2>Author bio and support</h2>
{{ safeHTML .Site.Params.author.bio }}
<p>The site is powered by <a href="https://gohugo.io/">Hugo</a>, <a href="https://www.freebsd.org/">FreeBSD</a>, and <a href="https://openzfs.org/">OpenZFS</a> on <a href="https://orionvm.com/">OrionVM</a>, everyone’s favourite cloud infrastructure provider.</p>
{{ safeHTML .Site.Params.author.support }}
</div>
