{{ safeHTML "<!-- Essential header stuff です~ ***************************************** -->" }}
<head>
<meta charset="utf-8" />
<title>{{ if eq .RelPermalink "/" }}{{ .Site.Title }}{{ else }}{{ .Site.Title }}: {{ .Title }}{{ end }}</title>
<link rel="stylesheet" href="/stylish.css" title="{{ .Site.Title }} Theme" />
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} post feed" href="{{ .Site.BaseURL }}feed/" />
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Params.Podcast.Title }} podcast feed" href="{{ .Site.Params.Podcast.Feed }}" />
<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}apple-touch-icon.png" />
<link rel="author" href="{{ .Site.BaseURL }}humans.txt" type="text/plain" />
<link rel="canonicial" href="{{ .Permalink }}" />
<link rel="help" href="{{ .Site.BaseURL }}help/" title="How to use this site" />
<link rel="image_src" href="{{ if .Params.Thumb }}{{ .Params.Thumb }}{{ else }}{{ .Site.BaseURL }}{{ .Site.Params.Logo }}{{ end }}" />
<link rel="meta" type="application/rdf+xml" title="FOAF" href="/{{ .Site.Params.Author.Foaf }}" />
<link rel="me" title="Mastodon" href="https://bsd.network/@rubenerd" />
<link rel="search" href="{{ .Site.BaseURL }}osd.xml" type="application/opensearchdescription+xml" title="{{ .Site.Title }} Search" />
