<header id="site-header">
<a id="skip" href="/#content">Skip to content</a>
<h1 id="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }} <img src="/logo.svg" alt="" /></a></h1>
<span id="site-description">{{ .Site.Params.Description }}</span>
</header>
