<hr />{{ safeHTML "<!-- Site navigation です~ ****************************************** -->" }}
<nav id="site-navigation">{{ range .Site.Menus.header }}
<a href="{{ .URL }}">{{ .Title }}</a>{{ end }}
</nav>
