---
title: 'She adores her 64!' 
date: "2013-01-01T11:22:45+10:00"
year: "2013"
category: Hardware 
tag:
- commodore
- commodore-64
- funny
- infocomm
- photos
- retrocomputing
- yule 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.commodorexmas.jpg" alt="" style="width:500px; height:351px;" /></p>
<p>I’d react the same if I were given a mint Commodore 64 box! I got my 64 (and <a href="//rubenerd.com/c16-unicomp-comparison/">16</a>, and Plus 4) second hand on eBay when I was 18, and have loved them. Born too late for the home computer revolution, too early to have the internet in primary school. Never used datasettes, but had 5.25&#8243; floppies. Feeling sorry for me yet?</p>
<p>Found by <a href="https://mobile.twitter.com/elkeee">@elkeee</a> on <a href="http://theclearlydope.tumblr.com/image/39042935847">The Clearly Dope</a>. C=</p>
 
