---
title: '#Anime Evangelion Art Exhibition Tour in Sydney' 
date: "2013-05-11T11:19:53+10:00"
year: "2013"
category: Anime 
tag:
- animeuts
- neon-genesis-evangelion
- nge
- utsanime
location: Sydney
---
<p><a class="transparent" href="https://www.flickr.com/photos/rubenerd/8728408366/" title="Anime@UTS outside Evangelion Art Exhibition by rubenerd, on Flickr"><img src="https://farm8.staticflickr.com/7456/8728408366_d30da7b4b8_b.jpg" style="width:500px" alt="Anime@UTS outside Evangelion Art Exhibition" /></a></p>
<p>Earlier today, the best university anime clubs in Australia (ahem) gathered at the <a href="http://www.jpf.org.au/">Japan Foundation</a> gallery for a sneak peak into some of the original art behind <em>Neon Genesis Evangelion</em>. Seeing the level of detail that goes into each frame, how all the different layers of colours and effects were added, it was an amazing experience.</p>
<p>We weren’t permitted to take photos of the exhibits themselves unfortunately, but the few photos I got from the event are on my <a href="https://secure.flickr.com/photos/rubenerd/sets/72157633468698104/">Anime@UTS Flickr gallery</a>. I have some <a href="http://utsanime.net/">handsome club members</a>, let me just say that!</p>
<p>There was merchandise (of course!), and I was lucky enough to snag a shitajiki (aka: pencil board) to frame on my wall, along with one for <a href="http://kirinyan.net/">Clara</a>.</p>
<p><img src="https://rubenerd.com/files/2013/photo.eva.shitajiki.jpg" style="width:500px;height:373px;" alt="My new Evangelion shitajiki!" /></p>
 
