---
title: 'Baking of bread rolls in the Czech Republic' 
date: "2013-05-28T11:21:00+10:00"
year: "2013"
category: Media
tag:
- bread
- czech-republic
- food
- wikimedia-commons 
location: sydney
---
<p><img src="https://rubenerd.com/files/2013/vyroba_housek_2.jpg" alt="Photo of the aforementioned tasty bread by Chmee2." style="width:500px; height:333px" /></p>
<p>Wikimedia Commons really is an amazing place, and I’m not just saying that because I’m a Wikimedia supporter and contributor! I can spend hours trawling through its archive of images and art.</p>
<p>In this case, while looking for some bread iconography with <a href="http://kirinyan.net/">Clara</a> (for a bad pun to insert into a group presentation), we came across <a href="https://commons.wikimedia.org/wiki/Category:Commercial_baking_of_bread_rolls_in_the_Czech_Republic">an entire photographic series on bread making</a>. Every step is there, from the initial ingredient mixing, to the dough kneading and shaping, to the baking and final presentation.</p>
<p>The bread the bakers are baking (how’s that for an inspired sentence) is <em>houska</em>, a style of Czech roll. I remember having one of these in Plzeň when we took a detour from Bavaria on our last Europe trip, and wanting to smuggle a huge bag of them home with me! The atmosphere of tucking into one of these freshly baked, warm rolls in a small café with my dad and sister while we looked outside at the snow… it had a lasting impression on me.</p>
<p>But back to the photos! I’m a home baker, and am always interested in seeing how others perform the craft. I’m fascinated by their mix of machinery and human touches; while you can automate the entire process and produce boring sandwich bread slices, in this process ultimately the humans still have the final say.</p>
<p>Thanks to <a href="https://commons.wikimedia.org/wiki/User:Chmee2">Chmee2</a> for this great photographic series, you made my morning ^_^.</p>
 
