---
title: 'The Ancient Compaq Presario 5510 spaceship' 
date: "2013-02-07T01:20:22+10:00"
year: "2013"
category: Hardware 
tag:
- 1990s
- compaq
- infocomm
- nostalgia
- presario
- retrocomputing 
location: sydney
---
<p><img src="https://rubenerd.com/files/2013/tumblog_ebay.ancientcompaq.500px.jpg" alt="" style="width:500px; height:311px" /></p>
<p>What started as a post describing what a really ancient Compaq computer would look like spawned an entire investigation into an embarrassing aspect of my childhood, and even promoted WordPress to publish the drafts before they were finished!</p>
<p><!--oldmore--></p>
<h3>That’s an old computer</h3>
<p>I have no idea how I got there, but a few days ago I stumbled across the above so-called <a href="http://www.ebay.com.au/itm/ANCIENT-COMPAQ-PRESARIO-DESKTOP-COMPUTER-FOR-PARTS-OR-REPAIR-/111008979815?pt=Desktop_PCs&amp;hash=item19d8a69b67">Ancient Compaq</a> for sale. With a title like that, who could refuse a look?!</p>
<p>It turns out the machine was decidedly less ancient than <a href="http://oldcomputers.net/compaqi.html">what I was expecting</a>, but it turns out I had a soft spot for the Compaq Preario towers from the 1990s. These later models were less interesting, but I remember as a kid desperately wanting one of the earlier models that looked looked like a little spaceship. I’d buy one of those and fit it with a modern board quicker than you could say <strong>NOSTALGIA</strong>, if I could remember the model number.</p>
<p><img src="https://rubenerd.com/files/2013/compaq5510.jpg" alt="" style="width:500px; height:273px" class="transparent" /></p>
<h3>Tracking it down</h3>
<p>At that stage, I was ready to post this silly entry and move on. But a part of me was interested in what model of Presario I wanted as a kid. A few minutes on Google Images turned up which series it was: the Presario 5510! Relesed in 1998, the entry level Presario 5510 had these impressive specs:</p>
<ul>
<li>266MHz Celeron CPU</li>
<li>64MiB of RAM</li>
<li>4GB hard drive and a</li>
<li>K56Flex fax modem</li>
</ul>
<p>The 5030, 5110 and 5520 to 5560 models had higher specs, such as 8GB drives and 350MHz Pentium IIs.</p>
<p>Clearly my 12 year old self had an overly active imagination, looking at that picture now it’s embarrassing to think I once thought it looked like a spaceship. I suppose the curved lines resemble fins on a rocket… slightly. Maybe. Oh Ruben, you silly kid!</p>
<p>Still, it stuck with me in my head all this time, and now I must locate one and purchase it, if only to satify that little kid in me. If you couldn’t have stuff as a kid, you can get it when you’re older, right? And I could replace the internals with a modern board and use it as a file server. This is called <em>justifying frivolousness</em>.</p>
<p>As I’ve found with a lot of these kinds of searches, it was Japanese sites that had the most information. For detailed technical lists ranging from old computers to mountain bikes, nobody does it better than the Japanese. Their meticulous attention to detail impresses even my German genes.</p>
<p>I’ll be mirroring local copies of these <a href="http://pc.watch.impress.co.jp/docs/article/980615/compaq.htm">PC Watch</a>, <a href="http://www.inversenet.co.jp/pclist/product/COMPAQ/S329088%252D2P.html">InverseNet.co.jp</a>, <a href="http://www.pc-kaitori.jp/COMPAQ_Presario_5010-15_320857-293/20010927C00600/i/">pc-kaitori.jp</a> pages, just because.</p>
 
