---
title: 'Happy Birthday @domossu!' 
date: "2013-05-02T09:35:08+10:00"
year: "2013"
category: Thoughts 
tag:
- animeuts
- art
- domossu 
location: Sydney
---
<p><img src="https://rubenerd.com/files/2013/art.clover.jpg" class="transparent" alt="Art by 綾兎 of a cute bunny and a duck nomming on clover." style="width:500px; height:408px" /></p>
<p>A few million years ago, I celebrated her annual festivities by presenting her a virtual birthday crown made of grass. She’s no longer grass, so instead have a <a href="https://www.pixiv.net/en/artworks/33225707">four leaf clover by 綾兎</a>! Why? Because you don’t see them out all that often, but when you do they’re special and lucky ^_^.</p>
<p>If that doesn’t win the award for lamest birthday greeting she got today, I’ll be thoroughly disappointed.</p>
 
