---
title: 'IDG Connect retro logo is retro' 
date: "2013-06-29T03:35:00+10:00"
year: "2013"
category: Internet
tag:
- graphics
- infocomm
- nostalgia
- retrocomputing 
location: sydney
---
<p><img src="https://rubenerd.com/files/2013/idgconnect_RGBlogo.png" alt="IDG Connect" class="transparent" /></p>
<p>While unsubscribing from an InfoWorld mailing list, I was presented with this rather fabulous 2-bit graphic above the final unsubscribe button. So many 1990s memories, flooding back…!</p>
<p>For what it’s worth though, the original GIF was only 4KiB, and I converted it to a 1KiB PNG. You could convey a lot with so little data back then.</p>
 
