---
title: 'I used to be that guy; the new Mac Pro' 
date: "2013-12-27T04:37:38+10:00"
year: "2013"
category: Hardware 
tag:
- apple
- mac-pro 
location: sydney
---
<p><a class="transparent" href="https://www.flickr.com/photos/rubenerd/8403485137/" title="Photo showing my Mac Pro and 11-inch MacBook Air"><img src="https://farm9.staticflickr.com/8505/8403485137_db1c6f4935_b.jpg" style="width:500px" alt="Mac Pro and 11&quot; MacBook Air" /></a></p>
<p>For at least a decade, I was that guy. After getting hooked on the CRT iMac DV and the iBook G3, I saw my needs only being fulfilled by Apple&#39;s “pro” line of computers. Yes, I was a kid at the time, but computers really were my universe, so shaddup!</p>
<p>My first generation 15&quot; MacBook Pro was an absolute powerhouse and let me whip up on hell of a VM storm over a tall Americano coffee at <em>Coffee Bean and Tea Leaf</em> branches in Singapore and KL. Earlier than that, I was the proud recipient of a PowerMac G5, the very first Apple cheese grater. My current Mac Pro (<a href="https://www.flickr.com/photos/rubenerd/8403485137/" title="Mac Pro and 11&amp;quot; MacBook Air by rubenerd, on Flickr">pictured above</a>) allowed me to clear my Stonehenge of external drives.</p>
<p>There were several things these professional machines offered over their consumer brethren. Aside from their anodised aluminium (thank you Ive!) enclosures looking absolutely beautiful, both were far more expandable than the respective iBooks, MacBooks and iMacs. When a crappy external enclosure fried my FireWire 400 port on the MacBook Pro, I was able to <a href="//rubenerd.com/macbookpro-expresscard/" title="Rubenerd: MacBook Pro ExpressCard slot debacle?">slot in a FireWire 800 ExpressCard</a> and not miss a beat. On my PowerMac G5, I was able to add more hard drives; even more than Apple officially supported thanks to the spare PATA interface on the SuperDrive cable and an additional SATA card for the PCI-X card slot. Remember PCI-X?</p>
<p>The fact their pro line of computers were more powerful/had greater performance was a happy coincidence. Sure, I&#39;ve always been obsessed with compression and encryption and running VMs and building my own software, but in the grand scheme of things I could probably have done these just as well on their consumer hardware. Certainly my limited use of games always put the pro-level graphics in these machines to shame (though when I did want to play The Sims 2 it looked gorgeous).</p>
<h3>So I heard you like fingerprints</h3>
<p>People have been spending inordinate amounts of time talking about the new Mac Pro, how it fits into Apple&#39;s ecosystem, and whether the device is worth spending the money on for their needs. I think this debate on utility versus expansion started with the MacBook Air; a device which when introduced I thought looked lovely but I&#39;d never want one. Now, a lowly 11&quot; MacBook Air is one of my primary machines.</p>
<p>The consensus appears to be that for single threaded performance, the current high end iMacs would suit many of our  purposes far more cheaply than a new Mac Pro. Given the new Mac Pro would require external storage, the benefit of expandability without a spaghetti cable mess the Mac Pro previously offered over the iMac has been nullified.</p>
<p>We also have further expansion options than we did in the past. NAS devices are somewhat cheaper and more ubiquitous. More importantly, interconnects such as iSCSI and Gigabit Ethernet (and to a lesser extent 802.11ac) finally make them competitive performance-wise compared to internal storage. A fully spec&#39;d Mac Pro would require such a box for my needs, and certainly those of many others who&#39;ve discussed this new computer <em>ad nauseum</em> over the last few months. By the time you pay the premium for this expansion in addition to this otherwise brilliant new piece of kit, we&#39;re talking serious folding money here.</p>
<h3>The end of pro hardware purchases?</h3>
<p>Which has me finally thinking I&#39;ll swing back the other way. If Apple came out with a 27&quot; retina iMac, I would rush to buy one as fast as my nerdy legs could carry me. Ironically, walking is one of the few physical activities I relish; a lifetime of public transport, nature hiking and walking in lieu of driving will do that. </p>
<p>For the money and my needs, a retina iMac and a dedicated NAS would seem to be a more cost effective and logical choice than the new Mac Pro. So naturally, knowing me, as soon as I&#39;m able to afford one, I&#39;ll race for a new Mac Pro. Kidding aside though, for my current needs my Mac Pro, MacBook Air and ThinkPad X61s setup does me just fine, not to mention my iPad Mini and e-ink Kindle.</p>
<p>As an aside, thinking about all this stuff, I&#39;m incredibly lucky.</p>
 
