---
title: 'My latest retro multimedia CD-ROM haul' 
date: "2013-04-27T03:30:54+10:00"
year: "2013"
category: Hardware 
tag:
- cdroms
- infocomm
- multimedia
- nostalgia
- retrocomputing 
location: sydney
---
<p><a class="transparent" href="https://www.flickr.com/photos/rubenerd/8685443854/" title="My classic CD-ROM haul! by rubenerd, on Flickr"><img src="https://farm9.staticflickr.com/8406/8685443854_09ed3882ff.jpg" width="500" height="374" alt="My classic CD-ROM haul!"></a></p>
<p>As a child of the 1990s and early 2000s, I grew up with multimedia CD-ROMs. For the time, they were amazing. When drives were counted in the tens or hundreds of megs, a 650MB CD-ROM with text, images, short video clips and sound were amazing. Or perhaps I was just an easily amazed child.</p>
<p>The medium was largely extinguished with the advent of fast internet access that facilitated free, widely available and constantly updated material that an optically-powered sneakernet could never hope to match.</p>
<p>It’s that inflexibility that continues to fascinate me about the multimedia CD-ROM. With so much of the web being created, revised and lost on a daily (hourly… second?) basis, multimedia CD-ROMs are unashamedly frozen in time. While in the past this was a hindrance to wider adoption, today they can serve as time capsules into how the world was seen during the time they were made.</p>
<p>My favourite example: my DK World Atlas 1995 CD-ROM proudly states that &#8220;Singapore is the world’s largest manufacturer of floppy disk drives&#8221;. This is why I collect them!</p>
<h3>Fast forward to the present</h3>
<p>So, long story short, while waiting for some Indian takeaway to be prepared, my father and I inadvertently stumbled across a second hand music shop. While he was immediently drawn to the shelves and shelves of $1 CDs, I ran to a dusty shelf near the door that was chock full of old computer CD-ROM discs!</p>
<p>Within half an hour of rummaging, and for $10, I had these:</p>
<ul>
<li>Borland Delphi for Windows (did stuff in HS with this!)</li>
<li>Cinemania 96</li>
<li>DK Eyewitness History of the World, from 1995</li>
<li>Encyclopaedia Britannica 98, International Edition</li>
<li>Encarta 95</li>
<li>Encarta 97 World Atlas, World English Edition</li>
<li>Encarta 98 Deluxe</li>
<li>Pinball Arcade, from 1998</li>
<li>Red Hat Linux 9.0 Bible (3 CDs!)</li>
<li>Starfleet Academy: Chekov’s Lost Missions (from 1998)</li>
</ul>
<p>Once I’ve cleared out my dearth of assignments, I’ll have to crank up my Windows NT 4.0 Workstation VM and explore some of these. ^_^</p>
 
