---
title: 'NSWFires 2013' 
date: "2013-10-17T11:25:25+10:00"
year: "2013"
category: Thoughts 
tag:
- australia
- bushfires
- natural-disasters
- nsw
- photos
- sydney 
---
<p><a href="https://www.flickr.com/photos/rubenerd/10327269813/" title="Fires out our window, 17:30 by rubenerd, on Flickr"><img style="width:250px; height:167px" src="https://farm8.staticflickr.com/7316/10327269813_c199d7b99e.jpg" alt="Fires out our window, 17:30" /></a><a href="https://www.flickr.com/photos/rubenerd/10327098266/" title="Fires out our window, 18:00 by rubenerd, on Flickr"><img style="width:250px; height:167px" src="https://farm8.staticflickr.com/7340/10327098266_fd461da9da.jpg" alt="Fires out our window, 18:00" /></a></p>
<p>A horrific afternoon for eastern Australia, particularly for those who lost their houses. The photos outside our loungeroom window were taken in the space of half an hour, no colour editing. Clara also took some shots of <a title="Kirinyan: Orange skies over sydney" href="http://kirinyan.net/orange-skies-over-sydney/">Sydney shrouded in thick orange smoke</a>. Of all the tweets, <a href="http://twitter.com/WynRichards/status/390664261069848576/photo/1">this photo outside Newcastle</a> was perhaps the most dramatic shot I saw, with <a href="http://instagram.com/p/fjyJcotgdc/">this photo of the Sydney Harbour Bridge a close second</a>.</p>
<p>A cool southerly breeze cleared the smoke from around Hornsby this evening and brought the temperature right down, though I’ve read this isn’t helping the firefighters all that much. Those noble, noble people.</p>
<p>I’ve put a big bowl of water outside for any injured or parched animals that find their way here this evening. Our garden is yours tonight, my friends.</p>
 
