---
title: 'Podcasts Ruben Listens to, January 2013' 
date: "2013-01-27T03:49:02+10:00"
year: "2013"
category: Media
tag:
- 5by5
- anandtech
- audio-magazine
- back-to-work
- bb-podcast
- chet-chat
- core-intuition
- into-your-head
- mediawatch
- merlin-mann
- new-time-radio
- onsug
- otaku-no-podcast
- podcasts
- podcasts-ruben-listens-to
- security-now
- sophos
- systematic
- tag-abuse
- the-crossover
- the-ihnatko-almanac
- the-incomparable
- the-overnightscape 
location: sydney
---
<p>It’s been a month since my <a href="//rubenerd.com/podcasts-ruben-listens-to-12-2004/">Podcasts Ruben Listens to, December 2012</a> post, so here we are once again!</p>
<h3>New discoveries, old friends</h3>
<p>With <a href="http://5by5.tv/buildanalyze">Build and Analyze</a> and <a href="http://5by5.tv/hypercritical">Hypercitical</a> ending their runs, I’ve filled their niche with <a href="http://coreint.org/">Core Intuition</a>, now my favourite tech show. I also found <a href="http://5by5.tv/systematic/">Systematic</a>, after hearing Brett Terpstra on <a href="http://5by5.tv/crossover/">The Crossover</a>. John Siracusa has also been making appearances on other 5by5 shows which has been fun.</p>
<p>I’ve also rediscovered the Gillmor Gang! I listened to them from their IT Conversations days, but they moved networks so much I lost track of them. I can’t even tell where their website is now, though at least their <a href="https://itunes.apple.com/au/podcast/gillmor-gang-audio-only/id586674889">iTunes feed</a> works.</p>
<h3>Shows I try not to miss</h3>
<ul style="margin:0px; padding:0px;">
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" href="http://5by5.tv/afterdark" title="After Dark: Behind the scenes recordings before and after many 5by5 shows. An interesting alternative view into the hosts. Oh my."><img alt="5by5 After Dark" src="https://rubenerd.com/files/uploads/podcast.cover.afterdark.120x120.jpg" style="width:120px; height:120px;" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" href="https://itunes.apple.com/us/podcast/apple-keynotes-1080p/id509310064" title="Apple Keynotes: Started downloading these automatically when Steve was still around. Really glad I did." ><img src="https://rubenerd.com/files/uploads/podcast.cover.applekeynotes.120x120.jpg" style="width:120px; height:120px;" alt="Apple Keynotes" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" href="http://www.anandtech.com/tag/Podcast" title="Anandtech Podcast: Heard about it from John Siracusa. These guys really, really know their hardware."><img src="https://rubenerd.com/files/uploads/podcast.cover.anandtech.120x120.jpg" style="width:120px; height:120px;" alt="Anandtech Podcast" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" href="http://5by5.tv/b2w" title="Back to Work: A podcast nominally about productivity, but about plenty of other wildly awesome stuff too. First show I listened to on 5by5, because I was already in love with Merlin Mann. Broasted Bird. Is this what people read my blog for?"><img src="https://rubenerd.com/files/uploads/podcast.cover.b2w.120x120.jpg" style="width:120px; height:120px;" alt="Back to Work" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" href="http://5by5.tv/bb" title="The B&amp;B Podcast: No heavily produced radio gimmicks or other junk, just straight-up tech discussion with two fascinating people. I love the ambience, to use a Merlin Mann-ism"><img src="https://rubenerd.com/files/uploads/podcast.cover.bb.120x120.jpg" style="width:120px; height:120px;" alt="The B&amp;B Podcast" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" title="Chet Chat: From Sophos, the only anti-virus company I willingly download and install software from. Security news in bite sized downloads." href="http://nakedsecurity.sophos.com/category/podcast/"><img src="https://rubenerd.com/files/uploads/podcast.cover.chetchat.120x120.jpg" style="width:120px; height:120px;" alt="Chet Chat" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" title="Core Intuition: Real Mac developers talking development and news. They're funny, engaging, and know what they're talking about!" href="http://www.coreint.org/"><img src="https://rubenerd.com/files/uploads/podcast.cover.coreintuition.120x120.jpg" style="width:120px; height:120px;" alt="Core Intuition" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" title="The Crossover: Bi-weekly at the time of writing this. Dan Benjamin and other 5by5 hosts talking about topics without a fixed agenda. The first episode with Merlin and Marco was epicness." href="http://5by5.tv/crossover"><img src="https://rubenerd.com/files/uploads/podcast.cover.crossover.120x120.jpg" style="width:120px; height:120px;" alt="The Crossover" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" href="https://itunes.apple.com/au/podcast/gillmor-gang-audio-only/id586674889"><img src="https://rubenerd.com/files/uploads/podcast.cover.gillmorgang.120x120.jpg" style="width:120px; height:120px;" alt="The Gillmor Gang" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" title="The Ihnatko Almanac: I missed Andy since I stopped listing to most TWiT podcasts, but here his is! I don't know anything about American comics, but thoroughly enjoyable nonetheless!" href="http://5by5.tv/ihnatkoalmanac"><img src="https://rubenerd.com/files/uploads/podcast.cover.ihnatkoalmanac.120x120.jpg" style="width:120px; height:120px;" alt="The Ihnatko Almanac" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" title="Into Your Head: A show by Neal O'Carroll from The Emerald Isle. That's Ireland, you dumb twit. Spoons can't walk by themselves, and Sting isn't a friggen punk artist!" href="http://intoyourheadpodcast.com/"><img src="https://rubenerd.com/files/uploads/podcast.cover.intoyourhead.120x120.jpg" style="width:120px; height:120px;" alt="Into Your Head" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" title="MediaWatch: Media assassination from Australia. Pretty sure Jonathan Holmes was the source of the original troll face." href="http://www.abc.net.au/mediawatch/"><img src="https://rubenerd.com/files/uploads/podcast.cover.mediawatch.120x120.jpg" style="width:120px; height:120px;" alt="MediaWatch" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" title="The Mr Brown Show: From Singapore. Wah, more acting talent than everyone in Caldecott combined. I would know, I've recorded stuff there!" href="http://www.mrbrownshow.com/"><img src="https://rubenerd.com/files/uploads/podcast.cover.mrbrown.120x120.jpg" style="width:120px; height:120px;" alt="The Mr Brown Show" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" href="http://otakunopodcast.com/"><img src="https://rubenerd.com/files/uploads/podcast.cover.otakunopodcast.jpg" style="width:120px; height:120px;" alt="Otaku no Podcast" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" title="Security Now: Been a listener from the start. The rest of TWiT may have evolved into shows I no longer listen to, but Security Now has stuck with the winning formula of security news, science fiction, questions and feedback." href="http://grc.com/securitynow.htm"><img src="https://rubenerd.com/files/uploads/podcast.cover.sn.120x120.jpg" alt="Security Now" style="width:120px; height:120px;" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" href="http://5by5.tv/systematic/"><img src="https://rubenerd.com/files/uploads/podcast.cover.systematic.120x120.jpg" style="width:120px; height:120px;" alt="Systematic: Brett always books really fascinating guests, and is no tech slouch himself!" /></a></li>
</ul>
<h3 style="clear:both">Shows I catch if I like the topics</h3>
<ul style="margin:0px; padding:0px;">
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" href="http://5by5.tv/specials" title="5by5 Specials: Dan Benjamin's appearances on other shows, one off programmes and other such fun!"><img alt="5by5 Specials" src="https://rubenerd.com/files/uploads/podcast.cover.5by5specials.120x120.jpg" style="width:120px; height:120px;" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" href="http://5by5.tv/incomparable"><img alt="The Incomperable: Jason Snell. I don't think I need to say any more. But I will. One of the few 5by5 shows with a full panel of entertaining guests talking about cool stuff." src="https://rubenerd.com/files/uploads/podcast.cover.incomparable.120x120.jpg" style="width:120px; height:120px;" /></a></li>
<li style="float:left; list-style-type:none; margin:0px 4px 0px 0px; padding:0px;"><a class="transparent" title="The Overnightscape Underground: A deeply fascinating alternative podcast network. My favourites are the original Overnightscape, Special Delivery with Manny the Mailman and The Brian Jude Show." href="http://onsug.com/"><img src="https://rubenerd.com/files/uploads/podcast.cover.onsug.120x120.jpg" style="width:120px; height:120px;" alt="The Overnightscape Underground" /></a></li>
</ul>
 
