---
title: 'Sony CDP-101' 
date: "2013-06-21T11:59:00+10:00"
year: "2013"
category: Hardware 
tag:
- infocomm
- music
- nostalgia
- retrocomputing
- sony 
location: sydney
---
<p><img class="transparent" src="https://rubenerd.com/files/2013/sony.CDP101a.jpg" alt="" style="width:320px;" /></p>
<p>Shortly after posting my post about the <a href="//rubenerd.com/cisco-discovery-protocol-eventually/">Cisco Discovery Protocol</a>, I remembered CDP stood for something else in the field of technological technology. That’s right, it was also the model number for the world’s first commercially available CD music player!</p>
<p>From the <a href="https://pl.wikipedia.org/wiki/Sony_CDP-101">Polish Wikipedia</a>, which is also the source of the image by <a href="https://pl.wikipedia.org/wiki/Plik:CDP101a.jpg">Atreyu</a>:</p>
<blockquote cite="https://pl.wikipedia.org/wiki/Sony_CDP-101"><p>Odtwarzacz CD Sony CDP-101 był pierwszym urządzeniem tego typu na rynku konsumenckim. Jego premiera miała miejsce 1 października 1982 roku. Cena w dniu premiery na rynku japońskim wynosiła 168 000 jenów.</p>
</blockquote>
<p>And people say they don’t learn anything from my site.</p>
<p>CDs seem so recent, relatively speaking, and yet there it was years before I was even born. Go figure.</p>
 
