---
title: 'Stephen Fry on Pope Benedict XVI' 
date: "2013-02-17T12:12:51+10:00"
year: "2013"
category: Thoughts 
tag:
- peace
- religion
- stephen-fry
- video
location: Sydney
---
<p><a href="https://www.youtube.com/watch?v=BH0safHyhPo" title="Play Stephen Fry Speaks Out Against the Catholic Church Part 2"><img src="https://rubenerd.com/files/2013/yt-BH0safHyhPo@1x.jpg" srcset="https://rubenerd.com/files/2013/yt-BH0safHyhPo@1x.jpg 1x, https://rubenerd.com/files/2013/yt-BH0safHyhPo@2x.jpg 2x" alt="Play Stephen Fry Speaks Out Against the Catholic Church Part 2" style="width:500px;height:281px;" /></a></p>
<p>In 2009, my beloved Stephen Fry and Christopher Hitchens debated that the Catholic Church was not a force for good in the world. In this part of his opening statements, Steven discusses Pope Benedict XVI.</p>
<p>I hope this <a href="http://www.sbs.com.au/news/article/1737258/Questions-on-Popes-lingering-influence">retiring Pope</a> is proud of his legacy.</p>
<p><cite>(I found a version on YouTube that doesn’t need Flash ^_^)</cite></p>
 
