---
title: '#Anime Princess of the Crystal, from Jeremy!' 
date: "2013-01-23T12:01:46+10:00"
year: "2013"
category: Anime 
tag:
- amazon-wish-list
- anime-figures
- mawaru-penguindrum 
---
<p><img src="https://rubenerd.com/files/uploads/photo.potc.jpg" alt="" style="width:500px; height:365px;" /></p>
<p>When I first started <a href="//rubenerd.com/">Rubenerd</a> here, I did it mostly to express myself, have fun, and for remembering <a href="//rubenerd.com/tag/guide/">how to do things</a>. A few years ago I put a simple <a href="//rubenerd.com/buy-a-coffee/">buy me a coffee</a> link in the sidebar, and have been overwhelmed with all your generosity.</p>
<p>A few weeks ago, I added a link to my <a href="http://www.amazon.com/registry/wishlist/5QRTY3DN39AC/">Amazon wish list</a>. As with the buy a coffee link, I didn’t really expect anyone to buy me anything from it. Still, it was a lot of fun to generate the list!</p>
<p>Well, yesterday morning I got a message in my inbox to say someone had bought me something from my wish list, a <a href="http://www.amazon.com/Company-Mawaru-Penguindrum-Princess-Crystal/dp/B008CJZZDS/">Good Smile Company Princess of the Crystal</a> anime fig, from the Mawaru Penguindrum series! An email later, I learned my benefactor was Jeremy in Singapore. A delightfully self-deprecating, friendly person, all he wished for was to have his last name kept anonymous, and to thank me for all my &#8220;interesting fun blog posts about anime&#8221;. What a gentleman :)</p>
<p>I’m humbled beyond belief. Thank you Jeremy, she will be displayed proudly alongside the rest of the gang ^_^.</p>
 
