---
title: 'Why CSS sucks' 
date: "2013-02-21T03:03:22+10:00"
year: "2013"
category: Internet
tag:
- css
- design 
location: sydney
---
<p><a href="http://shmichael.com/about/">Michael Shynar</a> does a better job than I would distilling the fact of CSS suckage:</p>
<blockquote>
<ul>
<li><p>CSS relies on hierarchy for positioning, visibility &#038; property inheritance. Therefore, it cannot be separated from the markup &#038; interaction like some HTML purists suggest.</p></li>
<li><p>When positioning elements, one of two options can be used:</p><ul>
<li><p>In the flow, which means automatic height &#038; collection of inline assets into blocks, but very hard to tweak the default decisions.</p></li>
<li><p>Out of the flow, which more or less forces use of fixed dimensions for anything positioned this way.</p></li>
</ul>
</ul>
</blockquote>
<p>Of course, often you’ll end up with the following retorts:</p>
<ul>
<li>But I’m an expert at it!</li>
<li>But before, we mixed content and presentation!</li>
<li>But look at the cool things you can make with it</li>
</ul>
<p>Apprecite for a moment what non-sequiters these are.</p>
<p>Don’t see it? Here’s an example. Among my more archaic skills, I’m damn good at optimising conventional DOS memory. It’s such an improvement over core memory. With it, I can run cool things, like Commander Keen! Therefore, by CSS logic, DOS memory must be great.</p>
<p>I need some tea.</p>
 
