{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}

<main id="content"><!-- for skip to content link -->

<article id="post" property="blogPost" typeof="BlogPosting">
  <h2 property="headline"><a property="sameAs url" href="{{ .Permalink }}">{{ .Title }}</a></h2>
  <div property="articleBody">{{ .Content }}</div>
  <small class="postMeta">{{ printf "<time property=\"datePublished\" datetime=\"%s\">" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTML }}
    {{ .Date.Format "Monday 02 January 2006" }}
  </time>{{ with .Params.Category }} in <a href="/{{ . | urlize }}/">{{ . }}</a></small>{{ end }}
</article>
<hr />

<nav class="secondary">
  <ul>
    {{ if .Prev }}<li><a title="Previous post: {{ .Prev.Title }}" href="{{ .Prev.RelPermalink }}">&larr; Previous post</a></li>{{ end }}
    {{ if .Next }}<li><a title="Next post: {{ .Next.Title }}" href="{{ .Next.RelPermalink }}">Next post &rarr;</a></li>{{ end }}
  </ul>
</nav>

{{ partial "footer.html" . }}
