{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}

<main id="content"><!-- for skip to content link -->

<article id="post" property="blogPost" typeof="BlogPosting">
  <h2 property="headline"><a property="sameAs url"
    href="{{ .Permalink }}">{{ .Title }}</a></h2>
  <small><time property="datePublished" 
    datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "Monday 02 January 2006" }}</time></small>
  <div property="articleBody">
    {{ .Content }}</div>
</article>
<hr role="separator" />

<div class="secondary">
  <h2>Imprint</h2>
  <p>This is one of about 5000 posts on <em>{{ .Site.Title }}</em>. View the 
    <a href="/">home page</a> for the latest, or related posts also tagged with:</p>
  <ul>
    {{ if .Params.category }}<li><a href="/{{ .Params.category | urlize }}/">{{ .Params.category | lower }}</a></li>{{ end }}
  {{ range .Params.tag }}
    <li><a href="/tag/{{ . | urlize }}/">{{ . | lower }}</a></li> {{ end }}
  </ul>
  <p>If you liked this post, feel free to 
    <a href="http://ko-fi.com/A625HL">buy me a coffee</a>, leave me a comment
    on <a href="https://twitter.com/Rubenerd">Twitter</a>, 
    or email me at 
    <a href="mailto:weblog2016@rubenschade.com">weblog2016@rubenschade.com</a>.
    Thanks :).</p>
</div>
<hr role="separator" />

<nav class="secondary" role="navigation">
  <h2>Post chronology</h2>
  <ul>
    {{ if .Prev }}<li><a href="{{ .Prev.RelPermalink }}">&larr; {{ .Prev.Title }}</a></li>{{ end }}
    {{ if .Next }}<li><a href="{{ .Next.RelPermalink }}">&rarr; {{ .Next.Title }}</a></li>{{ end }}
  </ul>
</nav>

{{ partial "footer.html" . }}
