{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}

<main id="content"><!-- for skip to content link -->

<article id="post" property="blogPost" typeof="BlogPosting">
  <h1 property="headline"><a property="sameAs url"
    href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <small><time property="datePublished" 
    datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "02 Jan 2006" }}</time></small>
  <div property="articleBody">
    {{ .Content }}</div>
  <div class="tags" property="keywords">Filed under 
    {{ if .Params.category }}<a href="/{{ .Params.category | urlize }}/">{{ .Params.category | lower }}</a>{{ end }}
    {{ range .Params.tag }}<a href="/tag/{{ . | urlize }}/">{{ . | lower }}</a> {{ end }}
  </div>
</article>
<hr role="separator" />

<div class="secondary">
  <h2>Liked this post?</h2>
  <p>Feel free to throw me a
    <a href="/buy-a-coffee/">cup of coffee</a> or an 
    <a href="http://www.amazon.com/registry/wishlist/5QRTY3DN39AC/">Amazon Wish List</a> item. Cheers!</p>

  <p>You can also comment to <a href="https://twitter.com/Rubenerd">@Rubenerd</a>, or email 
    <a href="mailto:weblog2015@rubenschade.com">weblog2015@rubenschade.com</a>. Let me know if you don't
    want your comment posted.</p>
</div>
<hr role="separator" />

<nav class="secondary" role="navigation">
  <h2>Post chronology</h2>
  <ul>
    {{ if .Prev }}<li><a href="{{ .Prev.RelPermalink }}">&larr; {{ .Prev.Title }}</a></li>{{ end }}
    {{ if .Next }}<li><a href="{{ .Next.RelPermalink }}">&rarr; {{ .Next.Title }}</a></li>{{ end }}
  </ul>
</nav>

</main>

{{ partial "footer.html" . }}
