<div id="archive-annexe-description">
<h2><a href="/annexe/">The Annexe</a></h2>
<p>These are preserved posts from old side blogs, retired accounts, or one of the many sites that have ceased to exist.</p>
<p></p>

