<hr />{{ safeHTML "<!-- ***************************************************************** -->" }}

<footer>
{{ safeHTML "<!-- You have your choice of HTML sources. Thank you for reading this one. Bye! -->" }}
</footer>

</body>
</html>
