<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" xml:lang="{{ .Site.LanguageCode }}" itemscope="itemscope" itemtype="https://schema.org/Blog"
data-hes-a-tiger-in-the-rain="It's the thunder and lightning he can't explain.">

{{ safeHTML "<!-- Welcome to Rubenerd! -->" }}
<head>
<title>{{ site.Title }}{{ if not .IsHome }}: {{ .Title }}{{ end }}</title>
<meta charset="utf-8" />
<meta name="generator" content="Hugo" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0" />
<link rel="alternate" type="application/rss+xml" href="{{ absURL "/feed/" }}" title="{{ .Site.Title }} RSS feed" />
<link rel="alternate" type="application/rss+xml" href="{{ .Site.Params.Podcast.Feed }}" title="{{ .Site.Params.Podcast.Title }} feed" />
<link rel="apple-touch-icon" href="https://rubenerd.com/apple-touch-icon.png" />
<link rel="canonical" href="{{ .Permalink }}" />
<link rel="stylesheet" href="{{ absURL "screen.css" }}" />
<link rel="image_src" href="https://rubenerd.com/logo.png" />
<meta name="color-scheme" content="light dark" />
<meta name="theme-color" content="#004599" />

{{ safeHTML "<!-- Stuff about me -->" }}
<link rel="author" href="https://rubenschade.com/" title="Ruben Schade" />
<link rel="author" type="text/plain" href="{{ absURL "humans.txt" }}" title="humans.txt" />
<link rel="lexicon" type="application/pls+xml" href="{{ absURL "xml/lexicon.pls" }}" title="Pronunciation Lexicon" />
<link rel="me" href="https://bsd.network/@Rubenerd" title="Mastodon profile" />
<link rel="meta" type="application/rdf+xml" href="{{ absURL "/xml/foaf.rdf" }}" title="Friend of a Friend profile" />{{ with .Site.Params.Author.Fediverse }}
<meta name='fediverse:creator' content="{{ . }}" />{{ end }}

{{ safeHTML "<!-- I heart Dublin Core -->" }}
<link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" title="Dublin Core Elements 1.1" />
<meta property="dc.creator" name="author" content="{{ .Site.Params.Author.Name }}" />{{ if or (eq .Type "post") (.IsHome) }}
<meta property="dc.date" name="date" {{ printf "content=\"%s\"" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTMLAttr }} />{{ end }}
<meta property="dc.description" name="description" content="{{ if .Params.Abstract }}{{ safeHTML .Params.Abstract }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
<meta property="dc.format" content="{{ if .Params.Enclosure_URL }}audio/mpeg{{ else }}text/html{{ end }}" />{{ if (eq .Type "post") }}
<meta property="dc.identifier" name="url" content="{{ .Permalink }}" />
<meta property="dc.relation" content="{{ .Site.BaseURL }}" />{{ end }}
<meta property="dc.language" name="language" content="{{ .Site.LanguageCode }}" />
<meta property="dc.publisher" name="publisher" content="{{ site.Title }}" />
<meta property="dc.rights" name="copyright" content="© {{ .Site.Params.Author.Name }}, unless otherwise stated." />
<meta property="dc.subject" name="keywords" content="{{ if .Params.Tag }}{{ with .Params.category }}{{ lower . }}{{ end }},{{ delimit .Params.Tag "," }}{{ else }}{{ .Site.Params.Keywords }}{{ end }}" />
<meta property="dc.title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }}{{ end }}" />
<meta property="dc.type" content="{{ if .Params.Enclosure_URL }}Sound{{ else }}Text{{ end }}" />

{{ safeHTML "<!-- Open Graph -->" }}{{ if (eq .Type "post" ) }}
<meta property="article:author" content="{{ .Site.Params.Author.Name }}" />
<meta property="article:published_time" {{ printf "content=\"%s\"" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTMLAttr }} />
<meta property="article:section" content="{{ .Params.Category }}" />{{ range .Params.Tag }}
<meta property="article:tag" content="{{ . }}" />{{ end }}{{ end }}{{ with .Params.Enclosure_URL }}
<meta property="og:audio" content="{{ . }}" />{{ end }}
<meta property="og:description" content="{{ if .Params.Abstract }}{{ safeHTML .Params.Abstract }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
<meta property="og:image" content="{{ if .Params.Thumb }}{{ .Params.Thumb }}{{ else }}{{ absURL "preview.png" }}{{ end }}" />
<meta property="og:locale" content="{{ replace .Site.LanguageCode "-" "_" }}" />
<meta property="og:site_name" content="{{ site.Title }}" />
<meta property="og:title" content="{{ site.Title }}{{ if not .IsHome }}: {{ .Title }}{{ end }}" />
<meta property="og:type" content="{{ if (eq .Type "post") }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
</head>

{{ safeHTML "<!-- *********************************************************************** -->" }}

<body id="{{ if .IsHome }}index{{ else if eq .Kind "category" }}taxonomy{{ else if eq .Kind "term"}}taxonomy{{ else if eq .Kind "taxonomy"}}taxonomy{{ else }}page{{ end }}">

<header>
<h1><a itemprop="url" href="{{ .Site.BaseURL }}"><span itemprop="name">{{ .Site.Title }}</span></a>
<span id="logo" aria-hidden="true"></span></h1>
<a id="skip" href="#start">Skip to content</a>
By <span itemscope="itemscope" itemtype="https://schema.org/Person" itemprop="author copyrightHolder">
<span itemprop="givenName">Ruben</span>
<span itemprop="familyName">Schade</span>
</span> in Sydney,
<span itemprop="countryOfOrigin">Australia</span>. 🌻
</header>

<hr />{{ safeHTML "<!-- ***************************************************************** -->" }}

<nav>{{ range .Site.Menus.header }}
<a href="{{ .URL }}">{{ .Title }}</a>{{end}}
</nav>

<hr />{{ safeHTML "<!-- ***************************************************************** -->" }}
