<!-- TODO: Fix Hugo not rendering the .Site.Params.Podcast array here -->

<h2>Rubenerd Show</h2>

<p>Welcome to my infrequent podcast of observations! Subscribe with your client below, or choose an episode from the archive.</p>

<p style="padding-top:20px;"><a href="http://pca.st/ybXl"><img src="https://rubenerd.com/files/2015/podcast-pocket.png" alt="Subscribe with Pocket Casts" style="width:100px;" /></a> <a href="https://overcast.fm/itunes1003680071/rubenerd-show"><img src="https://rubenerd.com/files/2015/podcast-overcast.png" alt="Subscribe with Overcast" style="width:100px;" /></a> <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071"><img src="https://rubenerd.com/files/2015/podcast-itunes.png" alt="Subscribe with iTunes" style="width:100px;" /></a> <a href="http://showfeed.rubenerd.com/"><img src="https://rubenerd.com/files/2015/podcast-rss.png" alt="Subscribe with RSS with your other podcast client or blog reader" style="width:100px;" /></a></p>

