<aside>
<a href="/about/#mascot" title="Rubi, by Clara"><img src="/rubi2024@1x.png" style="width:140px;" srcset="/rubi2024@2x.png 2x" alt="Rubi, by Clara" /></a><br/>

<h2 id="search">Search</h2>
<p></p>
<form role="search" method="get" action="https://duckduckgo.com/">
<fieldset>
<input type="text" size="10" name="q" placeholder="" />
<input type="hidden" name="ia" value="web" />
<input type="hidden" name="kaj" value="m" />
<input type="hidden" name="k7" value="w" />
<input type="hidden" name="k9" value="b" />
<input type="hidden" name="ks" value="l" />
<input type="hidden" name="sites" value="https://rubenerd.com/" />
<input type="submit" value="Go" />
</fieldset>
</form>

<h2 id="subscribe">Subscribe</h2>
<ul>
<li><a id="rss" href="/feed/"><img src="/rss.svg" alt="RSS Feed" /></a></li>
<li><a href="http://showfeed.rubenerd.com/">Podcast</a></li>
<li><a href="/blogroll.opml">Blogroll</a></li>
</ul>

<!--
<h2 id="pages">Pages</h2>
<ul>
<li><a href="/about/">About</a></li>
<li><a href="/now/">Now</a></li>
<li><a href="/omake.xml">Omake</a></li>
<li><a href="http://retro.rubenerd.com/">Retro Corner</a></li>
<li><a href="http://ruben.coffee/">Ruben.Coffee</a></li>
</ul> -->

<h2 id="archives">Archives</h2>
<ul>
<li><a href="/location/">Locations</a></li>
<li><a href="/pages/">Pages</a></li>
<li><a href="/tag/">Tags</a></li>
<li><a href="/year/">Years</a></li>
</ul>

<h2 id="elsewhere">Elsewhere</h2>
<ul>
<li><a href="https://bsky.app/profile/rubenerd.bsky.social">Bluesky</a>
<li><a href="https://codeberg.org/rubenerd/">Codeberg</a>
<li><a href="https://www.ko-fi.com/A625HL">Ko.fi</a>
<li><a href="https://bsd.network/@Rubenerd">Mastodon</a>
<li><a href="https://www.neopets.com/userlookup.phtml?user=md_dynamo">Neopets</a></li>
<li><a href="https://sasara.moe/">Our Wiki</a></li>
<li><a href="https://twitter.com/rubenerd">Twitter (RIP)</a>
</ul>

<h2 id="categories">Categories</h2>
<ul>{{ range $name, $taxonomy := .Site.Taxonomies.category }}
<li><a href="/{{ $name }}/">{{ $name }}</a></li>{{ end }}
</ul>

<h2 id="tags">Popular Tags</h2>
<ul>
<li><a href="/tag/bsd/">bsd</a></li>
<li><a href="/tag/coffee/">coffee</a></li>
<li><a href="/tag/design/">design</a></li>
<li><a href="/tag/music-monday/">music-monday</a></li>
<li><a href="/tag/pointless/">pointless</a></li>
<li><a href="/tag/privacy/">privacy</a></li>
<li><a href="/tag/retrocomputing/">retrocomputing</a></li>
</ul>

<h2 id="years">Years</h2>
<ul>
<li><a href="/year/2025/">2025</a></li>
<li><a href="/year/2024/">2024</a></li>
<li><a href="/year/2023/">2023</a></li>
<li><a href="/year/2022/">2022</a></li>
<li><a href="/year/2021/">2021</a></li>
<li><a href="/year/2020/">2020</a></li>
<li><a href="/year/2019/">2019</a></li>
<li><a href="/year/2018/">2018</a></li>
<li><a href="/year/2017/">2017</a></li>
<li><a href="/year/2016/">2016</a></li>
<li><a href="/year/2015/">2015</a></li>
<li><a href="/year/2014/">2014</a></li>
<li><a href="/year/2013/">2013</a></li>
<li><a href="/year/2012/">2012</a></li>
<li><a href="/year/2011/">2011</a></li>
<li><a href="/year/2010/">2010</a></li>
<li><a href="/year/2009/">2009</a></li>
<li><a href="/year/2008/">2008</a></li>
<li><a href="/year/2007/">2007</a></li>
<li><a href="/year/2006/">2006</a></li>
<li><a href="/year/2005/">2005</a></li>
<li><a href="/year/2004/">2004</a></li>
</ul>

<h2 id="fun">Capacitive Duractance</h2>
<ul>
<li><a title="Amelia Watson, Bonkson" href="https://www.youtube.com/watch?v=mw2RzWaP5Nc">Amelia Bonkson</a></li>
<li><a href="https://www.youtube.com/watch?v=9lNZ_Rnr7Jc">Bad Apple!!</a></li>
<li><a title="The Trashmen, Surfin Bird" href="https://www.youtube.com/watch?v=DPtn9KzfsGI">Bird is the Word</a></li>
<li><a title="Plastic Bertrand, Ça plane pour moi" href="https://www.youtube.com/watch?v=8soQkubMk1g">Ça plane pour moi</a></li>
<li><a title="By Tom Lehrer" href="https://en.wikipedia.org/wiki/File:1-16_The_Elements.mp3">The Elements</a></li>
<li><a title="Grilled cheese sandwich" href="https://rubenerd.com/tag/grilled-cheese-sandwiches/">Grilled cheese</a></li>
<li><a title="Loituma Girl" href="https://archive.org/details/flash_loituma">Loituma Girl</a></li>
<li><a title="There's nothing in this XML" href="/xml/nothing.xml">nothing.xml</a></li>
<li><a title="Nyancat, in your emacs" href="https://melpa.org/#/nyan-mode">nyan-mode</a></li>
<li><a title="By Paul McCartney" href="https://www.youtube.com/watch?v=IQesWC2rb-s">Où Est Le Soleil?</a></li>
<li><a title="The Cool Side, by Ben Sidran" href="https://www.youtube.com/watch?v=-gzXSei6JjI">On the Cool Side</a></li>
<li><a title="Pompompurin, Clara's and my favourite Sanrio character" href="https://www.sanrio.com/collections/pompompurin">Pompompurin</a></li>
<li><a title="Rockwell Automation's Retro Encabulator" href="https://www.youtube.com/watch?v=RXJKdh1KZ0w">Retro Encabulator</a></li>
<li><a title="Hyper Text Coffee Pot Protocol" href="https://www.rfc-editor.org/rfc/rfc2324.txt">RFC 2324</a></li>
<li><a title="Further Key Words for Use in RFCs to Indicate Requirement Levels" href="https://www.rfc-editor.org/rfc/rfc6919">RFC 6919</a></li>
<li><a title="Tatang, with Pavolia Reine" href="https://www.youtube.com/shorts/3aSitdBTvFs">Tatang</a></li>
<li><a title="The original Turbo Encabulator" href="https://www.youtube.com/watch?v=Ac7G7xOG2Ag">Turbo Encabulator</a></li>
</ul>

<h2 id="fan">Fan</h2>
<a href="https://www.youtube.com/@PavoliaReine/streams" title="Pavolia Reine!"><img alt="Pavolia Reine!" src="/reine@1x.jpg" style="width:140px; height:79px" srcset="/reine@2x.jpg 2x" /></a>
<a href="https://www.youtube.com/@NinomaeInanis/streams" title="Ninomae Ina'nis!"><img alt="Ninomae Ina'nis!" src="/ina@1x.jpg" style="width:140px; height:79px" srcset="/ina@2x.jpg 2x" /></a>

<h2 id="buttons">Buttons</h2>
<ul class="pixelart">
<li><img src="https://rubenerd.com/files/buttons/8015cfe.gif" alt="Coffee Powered" /></li>
<li><a href="https://creativecommons.org/licenses/by/3.0/"><img src="https://rubenerd.com/files/buttons/8015ccby.svg" alt="Creative Commons Attribution 3.0 licenced" /></a></li>
<li><a href="https://www.dublincore.org/"><img src="https://rubenerd.com/files/buttons/8015dublincore.png" alt="Dublin Core Metadata Initiative" /></a></li>
<li><a href="https://www.freebsd.org/"><img src="https://rubenerd.com/files/buttons/8015fbsd.gif" alt="FreeBSD" /></a></li>
<li><img src="https://rubenerd.com/files/buttons/8015haruhi.png" alt="Haruhiism!" /></li>
<li><a href="https://indieweb.org/"><img src="https://rubenerd.com/files/buttons/8015indieweb.svg" alt="IndieWeb" style="width:80px;" /></a></li>
<li><a href="https://www.netbsd.org/"><img src="https://rubenerd.com/files/buttons/8015netbsd.png" alt="NetBSD" /></a></li>
<li><a href="https://openzfs.org/"><img src="https://rubenerd.com/files/buttons/8015openzfs.png" alt="OpenZFS" /></a></li>
<li><a href="https://u24.gov.ua/"><img src="https://rubenerd.com/files/buttons/8015ukr.png" alt="Support Ukraine" /></a></li>
<li><a href="https://home.unicode.org/"><img src="https://rubenerd.com/files/buttons/8015unicode.png" alt="Unicode" /></a></li>
<li><a href="/buttons/"><img src="https://rubenerd.com/files/buttons/8015more.png" alt="More buttons..." /></a></li>
</ul>

<!-- Taking the decorations down
<h2 id="greetings">Seasons Greenthings!</h2>

<p><img src="https://rubenerd.com/files/uploads/media.tree-glitter.gif" alt="Glitter, glitter Xmas tree" style="width:100px;" /></p>
-->
</aside>
