---
title: '10,000 questions from @jeorgina' 
date: "2011-10-29T02:46:09+10:00"
abstract: "Gosh I hate these things!"
year: "2011"
category: Thoughts 
tag: 
- heartdrops-org
- personal
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.sydney.starbucks.jpg" alt="Photo of the inside of the Starbucks near Haymarket in Sydney." style="height:300px; width:500px;" /></p>

<p>I’ve <a href="http://heartdrops.org/10000-questions-or-less/">been officially tagged</a> in a list of questions blog post, so performing my civic duty this evening at a Starbucks in town and responding!</p>
<dl>

<dt style="font-weight:bold;">Worst thing you’ve ever eaten?</dt>
<dd>My pride, when university tutors and/or work require it.<p></p></dd>

<dt style="font-weight:bold;">Name your first crush/girlfriend/boyfriend</dt>
<dd>If crush refers to romantic interest, then it would be Jae Yun. Lovely Korean girl who went to my school in Singapore. If crush refers to being squished, then it would be when an elephant trod on me at a zoo in primary school. My foot go boom.<p></p></dd>

<dt style="font-weight:bold;">What was your worst experience with a teacher?</dt>
<dd>When my mum’s new chemo treatment sent her into cardiac arrest, I took a week of school to stay by her bed side in the ICU, which prompted Ms Samuels to call me a &#8220;part time student&#8221;. My year 10 computing teacher also made me use Visual Basic.<p></p></dd>

<dt style="font-weight:bold;">Name one thing that annoys you about the Internet</dt>
<dd>Not enough people know that <a href="http://www.youtube.com/watch?v=ZThquH5t0ow">The Bird is The Word</a>.<p></p></dd>

<dt style="font-weight:bold;">Have you ever half-arsed a piece of homework or assignment and done really well?</dt>
<dd>Nah, I always use my full arse.<p></p></dd>

<dt style="font-weight:bold;">What is your earliest memory?</dt>
<dd>A 2MiB SIMM for our 486SX. I kid, my first memory was when my mum brought home my sister after she was born. I was 3.<p></p></dd>

<dt style="font-weight:bold;">What is something (anything) that you like that you are embarrassed to tell people about?</dt>
<dd>Cute guys, and microwaved breakfast cereal.<p></p></dd>

<dt style="font-weight:bold;">What is your favourite sport?</dt>
<dd>Extreme programming. To the extreme. Also badminton, though I suck.<p></p></dd>

<dt style="font-weight:bold;">Who is your idol and why?</dt>
<dd>I have a laundry list (many of whom inexplicably died recently) in the tech scene, but #1 is Jim Kloss from the former Whole Wheat Radio in Talkeetna, Alaska. If I turned out with even half his talent, humility, comedic flair and his sense of morals and convictions, I’d know I’m on the right track. Which reminds me, I need to post him another letter.<p></p></dd>

<dt style="font-weight:bold;">If you had to lose one of your senses (taste, touch, hearing, seeing, smelling), which would it be?</dt>
<dd>Sense of direction isn’t one? I barely have that anyway.<p></p></dd>

<dt style="font-weight:bold;">Have you ever had a nosebleed?</dt>
<dd>Only in <a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/Nosebleed">certain situations</a>.<p></p></dd>

<dt style="font-weight:bold;">Why is it that I have two heads?</dt>
<dd>I am not an acting physician, neurosurgeon or biologist, so I am not qualified to answer this question.<p></p></dd>

<dt style="font-weight:bold;">Oh, okay then. Can I buy your TARDIS?</dt>
<dd>Nah, I use it a lot. Plus it wouldn’t fit on the train.<p></p></dd>

</dl>

<p>I’ve now been instructed to tag other people in this list, so I nominate Senjougahara Hitagi, Kotobuki Tsumugi, Mizuno Ami, Teppelin Nia, Shigure Asa, Asahina Mikuru, Merry, Koyomi Araragi and our new official mascot Ruby-Tan. I eagerly await their responses.</p>

<p>If you haven’t been tagged by The Georgina, I also encourage you to answer these questions on your own blog. You… you do have your own blog, right?</p>
 
