---
title: '20 years of the World Wide Web' 
date: "2011-08-09T01:11:20+10:00"
abstract: "Writing 200 words on tech that has affected us."
year: "2011"
category: Internet
tag:
- 1990s
- family
- infocomm
- netscape
- networking
- nostalgia
- personal
- postaday2011
- tech-couldnt-live-without
- tim-berners-lee 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.netscapegold.rubenerd.png" alt="" style="height:265px; width:500px;" /></p>
<p>To test our English proficiency (allegedly to assign us to the right tutorials), UTS  asked us to write 200 words on a technology that has profoundly affected us. Given the recent 20th anniversary of the first World Wide Web page, I felt compelled to select it!</p>
<p style="font-style:italic;">Screenshot is of Rubenerd.com rendered in Netscape Navigator Gold 2.02 on Windows NT 4.0… because I could! Despite some unicode issues and a lack of CSS, it rendered surprisingly readable given my insistence on using &lt;hr /&gt; and image replaced &lt;h1&gt; elements! Well, it was mostly for lynx/links/elinks/dillo, but the point still stands! ^_^</p>
<h3>My GeoCities neighbourhood was SiliconValley</h3>
<p>When my family first moved to Singapore in the mid 1990s, we registered for a dialup plan with Pacific Internet. We paid a small fortune for a 56k fax modem over the midrange 33.3k models, and even registered a second phone line to separate the high pitched squeals from… modem signal noises. We felt so advanced and modern connecting to the World Wide Web for an hour or so to check the weather, update our <a href="https://rubenerd.com/2222-goodbye-geocities.html" title="Friday 24th April 2009: The end of an era: no more GeoCities">GeoCities pages</a> and play NeoPets.</p>
<p>Fast forward to today, and the World Wide Web is everywhere but the kitchen sink. Unsatisfied with being constrained to our desktops, it can be accessed from our laptops and tablets in coffee shops and airports, in our smartphones from anywhere with a signal (that rules out Earlwood, NSW) and from cars to aeroplane cabins. I can’t help but wonder if Sir Tim Berners-Lee from 1991 could travel to 2011 what he’d think of the pervasiveness of the WWW, and if he’d be surprised the protocols and hardware were handling everything so well!</p>
<p>In its meagre 20 years existence, arguably the World Wide Web has facilitated the spread of more knowledge than the Gutenberg press, and has enabled more affordable communication than any phone companies or; perhaps by a logical stretch; airlines.</p>
<p><img src="https://rubenerd.com/files/uploads/graphic.90snostalgia.jpg" alt="90s nostalgia!" style="height:320px; width:500px; padding:0em;" class="transparent" /></p>
<p>While I use it to do practically all my research, assignments and work now, what initially drew me to the web wasn’t what I could glean from it, but rather the opportunity to contribute. I was more excited than a Yui with a graduating Ui that I could update a page and have my relatives back in Australia see it instantly. If we grant ourselves another fast forward (wasn’t that a TV show?), today I have two blogs with thousands of entries, tens of thousands of tweets, hundreds of photos and dozens of domains.</p>
<p>Given my dad was mostly out of the country on business trips and my mum spent much of her time in hospitals and chemo wards, the WWW was fantastic escape. Netscape-sensei never mocked me for my disparate electronic and science fiction interests, never laughed at my innocent childhood questions about sexuality, and didn’t marginalise me when I started questioning organised religion.</p>
<h3>Calm down, Ruben</h3>
<p>That&#39;s not to say the World Wide Web isn&#39;t without its challenges. Much as it took a while for books to spread to all corners of the globe after Gutenberg, much of the world still doesn&#39;t have [reliable] internet access. Internationalisation is not only a needlessly lengthy term (and i17n ranks among the world&#39;s dumbest abbreviations), but along with accessibility is still poorly covered. The web efficiently spreads malware in ways floppy disks can only dream of.  We&#39;re running out of practical addresses. Internet Explorer still exists.</p>
<p>Then there are the legal challenges. Governments and businesses are rapidly realising the WWW&#39;s potential to expose corruption and malpractice, and aren&#39;t willing to cede this power to us without a fight. Industries too lazy to adapt to emerging technologies are punishing their customers with lawsuits and digital restrictions. ISPs are threatening to challenge net neutrality upon which the WWW thrived in order to throttle their customers and give preferential treatment to sponsors.</p>
<p><img src="https://rubenerd.com/files/uploads/icon.peacenotwar.png" alt="Peace, not War." style="height:129px; width:268px;" class="transparent" /></p>
<p>Still, as with every scientific and technological advance since we evolved and learned to rub two sticks together, it has the potential for Good and Evil. Ultimately, I&#39;m confident the World Wide Web easily delivers the former in excess of the latter.</p>
<p>I couldn&#39;t live without it… could you?</p>
 
