---
title: 'On this day in 2006: Blu-Ray and song songs' 
date: "2011-09-10T12:52:58+10:00"
abstract: "Stepping into the time machine."
year: "2011"
category: Internet
tag:
- infocomm
- nostalgia
- on-this-day
- postaday2011
- weblog
- wikipedia 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/icon.oxygen.backtime.png" alt="Icon from KDE Oxygen" style="height:128px; width:128px; float:right; margin:0px 0px 10px 20px;" class="transparent" /></p>
<p>Sometimes I find it fun to trawl through the Rubenerd archives and see what I thought was interesting years ago! In this case, this was what I discussed five years ago:</p>
<ul>
<li><a href="//rubenerd.com/first-blu-ray-disc-drive-won%E2%80%99t-play-blu-ray-movies/">First Blu-ray Disc Drive Won’t Play Blu-ray Movies</a></li>
<li><a href="//rubenerd.com/songs-names-with-song-in-them/">Songs Names with Song in Them on Wikipedia</a></li>
</ul>
<p>Interesting how far we&#39;ve come. BD movies still aren&#39;t supported by too many computers, and that Wikipedia article is long gone. Good thing I quoted it :).</p>
 
