---
title: '#Anime Toradora Sudohbucks!' 
date: "2011-01-23T06:30:40+10:00"
year: "2011"
category: Anime 
tag: 
- 2008-anime
- postaday2011
- starbucks
- sudohbucks
- toradora 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.toradora0304.jpg" alt="Sudohbucks: how is this place not getting sued?" style="height:283px; width:500px;" /></p>
<p>So it was a sunny afternoon and the writer of Rubenerd needed something to cheer him up after writing about IBMs video thing, and he remembered Sudohbucks!</p>
<h3>Toradoradoradora</h3>
<p>When I first started watching this anime back in the day, I surmised it was typical harem fare, but I loved the art and graphics and thought I&#39;d give it a shot. Now years later its still one of my favourites not only because I liked the really strong characters (and art!) but for the little things.</p>
<p>One of those little things was Sudohbucks. Over the course of the show the characters often found themselves sitting at this coffee shop which looked eerily similar to Starbucks from the layout of the chairs to the logo. When Ryuuji kinda-sorta broke the fourth wall and asked how they weren&#39;t getting sued, I laughed out loud far too loudly!</p>
<p>The name was brilliant and worked on so many levels! Sudohbucks sounded like Starbucks; the &quot;Sudoh&quot; sounds like pseudo which implies its a pseudo-Starbucks; it sounded like sudo-bucks from *nix; and best of all the logo was a guy with sunglasses and a waxed moustache in the exact same style as the Starbucks siren! In case you haven&#39;t noticed yet, I&#39;m a bit of a <a href="//rubenerd.com/tag/logos/">logo nerd</a>. That doesn&#39;t mean I <a title="What's with the logo?" href="//rubenerd.com/about/#whats-with-the-logo">can design my own</a>, mind :P.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.toradora.04.sudohbucks.jpg" alt="" style="height:283px; width:500px;" /></p>
<pre>
rubenerd@taiga 1 ~ % bucks
cannot create regular coffee `bucks':
Permission denied
rubenerd@taiga 2 ~ % sudohbucks
omnomnom!
</pre>
<h3>Sudoh/pseudo sudo</h3>
<p>I had a Starbucks thermos in Singapore that had a paper sleeve insert, and one of the first things I did was take the lid off and put in a Sudohbucks logo! I think only two people ever called out to me when they recognised it (in Takashimaya and Kinokuniya respectively!), but it was absolutely worth it :D</p>
<p>One thing I will say that Sudohbucks looks as though they do better than Starbucks is their pan pan pan pan, judging from the numerous shelves of bread in the corner. Aw gosh darn it, now I want to rewatch Yakitate Japan and Shakugan no Shana!</p>
<p>The bread I really like are those little bread rolls with the red bean paste. I forget what they&#39;re called. Bread Talk in Singapore sold them, and they were goooooood.</p>
<p>And finally, because I was talking about Toradora, this picture from the infamous Megami is just too adorable to pass up, even though their boots look suspiciously like uggs, which would just be terrible.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.toradoragirls.jpg" alt="" style="height:419px; width:320px;" /></p>
 
