---
title: '#Anime Gurren Lagann #17' 
date: "2011-09-10T01:56:01+10:00"
year: "2011"
category: Anime 
tag: 
- 2008-anime
- gainax
- gurren-lagann
- heart-nia
- postaday2011
- tengen-toppa-gurren-lagann 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.gl1701.jpg" alt="" style="height:278px; width:500px;" /></p>
<p>A lot happened in the <a href="//rubenerd.com/tag/gurren-lagann/">Gurren Lagann</a> universe in seven years.</p>
<p><strong>Plot:</strong> In the intervening years since the previous episodes, Kamina City (<em>sniffles</em>) was built up around the ruins of Teppelin, the former royal capital. Of course, we join them just as something big is about to go down.</p>
<p><strong>Transition:</strong> As a science fiction fan, such stories often want to jump further into the future to display the ramifications or effects of certain events. Some seem stilted and tacked on, but Gainax did a great job with Gurren Lagann. Kiyoh&#39;s pregnancy and Simon&#39;s proposal tied the timelines together, and they didn&#39;t seem too bound by the rules of their previous story arc. If any of that makes sense, I&#39;m not a media student!</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl1709.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Art:</strong> As close to City pr0n as you could want. Hugely detailed skylines and streams of lights along streets at night. Their landscapes in previous episodes had been pretty amazing, but I revel in art such as this. It was one of the reasons why I enjoyed Bakemonogatari and Railgun so much.</p>
<p><strong>Light:</strong> Related to art (or is art related to light?). The optimism of this new world they&#39;ve created was reflected in the abundant light, and was quickly replaced with darkness when replaced with fear. Hey, maybe I should be a media student.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl1703.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Character development:</strong> It was great seeing them all again. Yoko and the world&#39;s greatest fabulous engineer seemingly haven&#39;t aged a day! Simon and Rossiu are older now, and still contrast each other&#39;s personalities. In previous episodes this worked to their advantage, but in this arc it seems their relationship is pretty strained. Something to keep an eye on.</p>
<p><strong>The enemy:</strong> A million apes. We&#39;d heard the former Spiral King mention a potential lunar threat. We finally got a glimpse of what he meant, something which no doubt will form the plot for the upcoming episodes.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl1704.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Gainax references:</strong> Was it just me, or has Darry turned into the spitting image of Nono from Diebuster, right down to the eye colour and hair?! Though she does seem a little more serious ;).</p>
<p><strong>Nostalgia:</strong> They called it &quot;Kamina City&quot;, and erected a gigantic statue for their fallen hero. This series is so full of win. <em>sniffles</em></p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl1705.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Social commentary:</strong> People who grow up in comfort and excess end up being lazy, and the cost of progress in technology and living standards is… roads choked with traffic. Is that progress? And who would have thought Gainax would make us think.</p>
<p><strong>Divergence:</strong> Simon had bureaucracy thrust upon him, but Yoko was able to avoid it by heading off on her trippy hovering bike, more reasonable clothing and awesome new set of schades. Sorry, &quot;shades&quot; (its a reflex for someone with my last name). Something tells me we&#39;ll be seeing her again though, and that this coalition of strong willed people might not last.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl1708.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl1706.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Suspension of disbelief:</strong> Surely a civilisation that progressed from underground caverns to a state of the art city with gigantic computer screens and futuristic lighting in seven years would have more efficient and technologically advanced methods of conducting a population count that a simple census. Why not orbiting sensor grids, ala Star Trek? They can send ships to the moon, so it would be possible!</p>
<p><strong>Originality:</strong> The Gurren Lagann universe was so different and had contraptions powered by human spirit. The Gurren Lagann Universe 2.0 has… a city with cars and tall buildings. I have to be honest, while it did look terribly futuristic, it was all rather… predictable. Felt like Gainax missed an opportunity to create something truly unconventional.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl1707.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Breaking the fourth wall:</strong> I suppose this isn&#39;t <em>really</em> an example of this given the characters themselves do come from the series, but that standing cutout of Simon and Kamina in the restaurant made me smile, if only for the fact I&#39;ve seen this exact prop in shops ;).</p>
<p><strong>Surprises:</strong> You expect Nia to respond to Simon in the affirmative, but of course she doesn&#39;t… until later. And then it&#39;s intentionally left vague. Geez, these folks sure know how to build suspense! Oh yeah and Nia… I hope she&#39;s okay, she&#39;s my favourite character.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl1702.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Conclusions:</strong> A solid start to the next story arc, with and plenty of unanswered questions and cliffhangers. Was also great to see them all again in this amazing new setting.</p>
 
