---
title: '#Anime Sengoku Nadeko Red Sands' 
date: "2011-02-10T10:16:52+10:00"
year: "2011"
category: Anime 
tag: 
- 2009-anime
- bakemonogatari
- colours
- macbook-pro
- postaday2011
- screenshots
- shorts
- terminal-app 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.mbp.201102.jpg" alt="Screenshot from my MacBook Pro with my Nadeko background" style="height:313px; width:500px;" /></p>
<p>Now that Ruben has his <a title="Entry: MacTheKnife is back in bidness!" href="//rubenerd.com/mactheknife-is-back-in-bidness/">MacBook Pro back</a>, he decided to try a new &quot;theme&quot; kinda thing.</p>
<p>While he thought <a href="//rubenerd.com/tag/bakemonogatari">Bakemonogatari</a> was an interesting show, what he really did love were the graphics and character designs, and while <em>Sengoku Nadeko</em> wasn&#39;t his favourite spirit-possessed character, the colours in this background were too gorgeous to pass up. As a bonus, they match really well with Terminal.app&#39;s &quot;Red Sands&quot; theme which he&#39;d never used before. They&#39;re all like the colours from Ubuntu… only classy!</p>
<p>As a matter of disclosure, Ruben uses <a href="http://www.sabayon.org/">Sabayon</a> and <a href="http://fedoraproject.org/">Fedora</a> as his Linux distros of choice, and only talks about himself in the Third Person occasionally. Like a boss.</p>
 
