---
title: '#Anime Merry Nightmare plushies?' 
date: "2011-07-27T03:15:17+10:00"
year: "2011"
category: Anime 
tag: 
- 2011-anime
- merry-nightmare
- plushies
- postaday2011
- yumekui-merry 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.plushie.merry.jpg" alt="A cute plushie Merry Nightmare." /></p>
<p>Yumekui Merry is now in plushie form <a href="http://tomopop.com/wf2011s-gift-tricks-everyone-with-cute-squishy-plushes-to-hide-their-dark-secret-20285.phtml">according to TomoPop</a>, complete with her cute fang, indestructible hat over her purple hair, and striped socks!</p>
<p>I&#39;m a 25 year old guy who&#39;s last soft toy was a <cite>Jolly the Walrus</cite> Ty Beanie Baby a decade ago. Why do I suddenly have an urge to buy this?! Wait, I know why: Japanese marketers are absolute geniuses.</p>
 
