---
title: '#Anime Gurren Lagann first impressions' 
date: "2011-08-21T01:23:36+10:00"
year: "2011"
category: Anime 
tag: 
- 2008-anime
- gainax
- gurren-lagann
- postaday2011
- tengen-toppa-gurren-lagann 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.gl01.jpg" alt="" style="height:278px; width:500px;" /></p>
<p>I&#39;d already watched a few episodes of <a href="//rubenerd.com/tag/gurren-lagann/">Gurren Lagann</a> before, so this was more of a recap. Still, making <a href="//rubenerd.com/anime-future-rubenerd/" title="Friday 19th August 2011: [Anime] Blogging future on Rubenerd.com">good on my promise</a>!</p>
<p>This is also first trial run of these summary posts!  Instead of bullet points, though, I thought I&#39;d use little heading things instead.</p>
<p><strong>Setting:</strong> The introductory scenes where we first see the characters and their subterranean world is one of the best openings of an anime I&#39;ve ever seen. Despite the implausibility of a society of people living underground, I instantly believed the world they were living in.</p>
<p><strong>Characters:</strong> Likewise, I had an instant liking and respect for Simon; despite being poked fun at he&#39;s doing what he knows is right for his town. He&#39;s noble. Kamina… is simply too awesome for words! Yoko&#39;s sudden dropping in was just brilliant, and Kamina reacted to her exactly as we would have expected!</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl0102.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Coincidences:</strong> It&#39;s unclear how much time elapsed between Simon discovering the Core Drill and the giant head Gunman, but in any case its a staggeringly lucky coincidence! Just imagine how much rock is down there, and he chanced upon these two things… and in the right order! Not only that, despite these complex pieces of machinery having been buried under rock for so long, they still operate perfectly when activated. These things were built to <strong>last</strong>!</p>
<p><strong>Credits:</strong> The opening title card looked like Iron Chef. Imajustsaying.</p>
<p><strong>Fanservice:</strong> I suppose it would be pretty hot living underground, and if I spent all my time drilling I&#39;d have the build to not wear shirts too. And just in case we were lead to believe Yoko&#39;s getup is supposed to be normal for their world, Gainax (of course) wastes no time in showing us just how attractive she is with a few opportune camera angles, and letting Kamina voice his approval, much to her initial disdain. And of course, Simon falls on top of her after they plummet from the sky.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl0103.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Nonchalance:</strong> Yeah, don&#39;t you <strong>hate</strong> when pets do that?!</p>
<p><strong>Heart tugging:</strong> When Simon piloted the Gunman and won the battle with the larger, evil Gunman with very nice teeth, I didn&#39;t bat an eyelid. When they broke through the ceiling and saw the sky for the first time, I actually choked up. From the <strong>first episode</strong> of a series!</p>
<p><strong>Conclusion:</strong> This anime has everything. People saying no to dreams (I meant for that to be less corny) and others still believing regardless. Awesome characters and settings. Weird contraptions. I was a Crown Royal Dumbarse for not watching it in 2008. And if these summary posts are anything to go by, they&#39;re only marginally shorter than what I was doing before! At least this way they&#39;re much faster to write because they don&#39;t have to flow! ^^;
 
