---
title: '#Anime Gurren Lagann #06' 
date: "2011-08-25T11:53:43+10:00"
year: "2011"
category: Anime 
tag: 
- 2008-anime
- diebuster
- gainax
- gurren-lagann
- neon-genesis-evangelion
- postaday2011
- tengen-toppa-gurren-lagann 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.gl0602.jpg" alt="" style="height:278px; width:500px;" /></p>
<p>This episode of <a href="//rubenerd.com/tag/gurren-lagann/">Gurren Lagann</a> brought to you by the fine folks at Gainax, as a tribute to Hayao Miyazaki! Perhaps you&#39;ve seen some of our other productions?</p>
<p><strong>Plot:</strong> We follow our heroes trudging through the desert, though with a few additional crew members. They battle some more Gunmen &#8212; ho hum &#8212; however it quickly turns into something else after the team is prompted to follow an old man. In the desert. In fog. Makes sense.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl0601.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Logic:</strong> Rather than destroy all Gunmen, why not leave some barely functional so in their process of limping back to home base they can lead our heroes to them? I&#39;d thought this before, and finally someone makes the suggestion too.</p>
<p><strong>Setting:</strong> We finally see a semblance of civilisation, even if ultimately it&#39;s fleeting! Not that there&#39;s anything wrong with caves or the noble tunnels our favourite character (or is he just my favourite character?) created back in his village, but this episode featured a building. An <span style="text-decoration:line-through">honest to goodness</span> building!</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl0603.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Hayao Miyazaki Reference:</strong> Previous episodes have made subtle (and not so subtle!) jabs against some anime genres, but this time they make reference to locations. Was it just me, or did I see the bath house of the gods from <a href="http://myanimelist.net/anime/199/Spirited_Away">Spirited Away</a>? And the sneaky, watery Gunmen we meet later looks an awful like a sinister version of <a href="http://myanimelist.net/anime/431/Howls_Moving_Castle">Howl&#39;s Moving Castle</a>. If true, well played Gainax, well played :)</p>
<p><strong>The Underdog:</strong> Just because you&#39;ve lead a sheltered life under a man who&#39;s been lying to you the entire time doesn&#39;t mean you&#39;re incapable of detecting deception. In fact, our new travelling companion was the only one who noticed something was up from the beginning. I was disappointed in you Simon!</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl0605.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>SFX:</strong> Cute winks by Yoko must always be accompanied by a loud, audible <em>&quot;ding&quot;</em> sound reminicent of a 1980s game show. Such <em>&quot;ding&quot;</em> noises must also always result in blushing on Simon&#39;s part.</p>
<p><strong>Gainax Reference:</strong> My knowledge of Gainax productions aren&#39;t what they should be, but I&#39;m sure I recognised the characters from <a href="http://myanimelist.net/anime/1911/Gunbuster_vs._Diebuster">Diebuster</a> and the legendary <a href="http://myanimelist.net/anime/30/Neon_Genesis_Evangelion">Neon Genesis Evangelion</a> amongst the eager workers of the bath house.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl0604.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Rules:</strong> Given the episode was largely played out in a bath house, some sacred rules of anime had to be enforced, and given this is a Gainax production, they had to parody it to an extreme. If men and women are in a bath house, the women have to talk loudly enough to be heard through solid stone, and the men have to want to see what&#39;s happening on the other side. </p>
<p><strong>Censorship:</strong> Pets make a good substitute for black rectangles in covering certain aspects of male anatomy, and bathing suits are good insurance for accidental disrobing, which we all knew would happen. This is still PG folks!</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl0608.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Explanations:</strong> While soaking in the <span style="text-decoration:line-through">hot springs</span> specialised Gunmen, Simon and Kamina discuss their dream to reach the &quot;moon&quot;, along with some pretty graphics. Technically a moon is any naturally occurring mass of sufficient size orbiting a planet of a star, but to specifically call it such suggests this is Earth, not a distant planet far, far away.</p>
<p><strong>Relationships:</strong> For once, Yoko makes a nice comment about Simon behind his back, albeit disguised under another layer of criticism. For those keeping score at home, what are we up to in the nice/nasty ratio? Can my initial frosty opinion of Yoko improve?</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl0607.jpg" alt="" style="height:278px; width:500px;" /></p>
<p><strong>Unanswered questions:</strong> Yoko is so ecstatic that they defeat the giant cauldron or Moving Castle or Gunmen or whatever it was, she jumps out of her top. While plausible… she wears similar garb <em>all the time</em> without this problem! Perhaps her regular bikini top has carbon fibre strings?</p>
<p><strong>Conclusion:</strong> So we&#39;ve come full circle from introductions, to something silly, to something more serious, to a fanservice-filled advertisement for other Gainax shows with a serious cliffhanger. Just when I think I&#39;ve got a grip on this series…</p>
<p><img src="https://rubenerd.com/files/uploads/anime.gl0606.jpg" alt="" style="height:278px; width:500px;" /></p>
 
