---
title: '#Anime Blogging future on Rubenerd.com'
date: "2011-08-20T01:37:32+10:00"
year: "2011"
category: Anime
tag:
- flickr-photos
- gurren-lagann
- postaday2011
- thinking-out-loud
- weblog
location: sydney
---
<p><img src="https://rubenerd.com/files/2011/6058687009_dcd590d06f_o@1x.jpg" srcset="https://rubenerd.com/files/2011/6058687009_dcd590d06f_o@1x.jpg 1x, https://rubenerd.com/files/2011/6058687009_dcd590d06f_o@2x.jpg 2x" alt="Watching Gurren Lagann" style="width:500px; height:334px;" /></p>

<p>To say I&#39;ve been &quot;hounded&quot; by certain people for not finishing this series would be the understatement of a lifetime. To rectify this, I&#39;ve started watching it again, and will be trying something new here!</p>
<h3>So here’s what’s going to happen</h3>
<p>When I had my first anime blog, I would watch several seasons of shows at once, and review each episode in detail. When I lost my anime blog in a database wipe and resurrected it as a category here, I limited myself to only watching one series at a time, but still blogged about each one in detail.</p>
<p>With my current family, work and university commitments, it&#39;s becoming increasingly apparent that if I want to spend as much time watching anime as I have before, I can&#39;t afford to blog as much about it! Amirite?</p>
<p>While all my other blog posts can be written in coffee shops on the train (and most are), it takes a great deal of effort to capture screenshots, wittle them down to half a dozen, compress them, upload them and go about discussing the plot and character development and art and implications and so forth. Ironically, the very activity I credit with nurturing my fascination with anime ended up burning me out!</p>
<p>Perhaps it comes part and parcel with being a developer, but I crave consistency and structure (even if what I&#39;m structuring is my own fractured, poorly constructed prose) but when these impulses result in impeding the very activity they&#39;re supposed be supporting, they&#39;re self destructive and ultimately pointless!</p>
<h3>First world problems</h3>
<p>In light of this, I&#39;ve decided to try something new. When I start watching a series, I&#39;ll be discussing it here, but I&#39;ll be limiting myself to a few observations. How I end up doing this I haven&#39;t decided yet. Bullet points? Hey, I just made a Gurren Lagann related pun. Or is it just a Yoko pun, I&#39;m pretty sure Simon doesn&#39;t have a gun. Or at least he doesn&#39;t have one yet where I&#39;m up to. But I digress.</p>
<p>The irony hasn&#39;t escaped me that I&#39;ve spent paragraphs discussing how I&#39;ll be discussing things less, but I hope at least now you&#39;ll understand where I&#39;m coming from. I know from the email and tweets I&#39;ve received that this is overwhelmingly everyone&#39;s favourite topic here on Rubenerd.com, so I wanted to do it justice. I hope by reducing the amount I discuss each series, I&#39;ll be able to cover more!</p>
<p>Thank you all for your support! Look out for my Gurren Lagann posts in the coming weeks, as I said in the top of the post, several people have recommended this series to me and more than one friend has vented their anger and/or frustration over the fact I haven&#39;t watched more than a few episodes!</p>
<p>Cheers ^_^</p>
 
