---
title: 'Another sophisticated cooling solution' 
date: "2011-01-17T12:35:21+10:00"
year: "2011"
category: Hardware 
tag:
- cooling
- infocomm
- pointless
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.cooling.outsideair.jpg" alt="" style="height:260px; width:500px;" /></p>
<p>Its Sunday, so its time for another terribly useless how-to post. When you have a Mac Pro and several home brew machines in the one room, it can get mighty toasty. How do you solve this problem?</p>
<p><!--oldmore--></p>
<h3>Ruben, tell us your solution!</h3>
<p>Well, its not really a <a title="Wikipedia article on solutions" href="https://secure.wikimedia.org/wikipedia/en/wiki/Solution">solution</a> because this method does not involved air conditioning, hence no refrigerant nor any condensed water that would have to be disposed of with a pipe of some description.</p>
<p>In Singapore I had a pot plant sitting directly next to the outdoor air conditioning unit so every time it was running, it watered the plant. The plant died from over-watering. Point is, it was a devilishly clever idea, or at least it seemed so at the time. It was, like, totally, like, recycling. Except there was no need for reverse cycle in Singapore because the weather was never anything but hot, all year round. Or around, because cycles are round. Wait, what?</p>
<h3>Ruben, tell us your answer!</h3>
<p>Finally, you&#39;re making sense. If your room is a <a title="Wikipedia article on trifle" href="https://secure.wikimedia.org/wikipedia/en/wiki/Trifle">trifle</a> toasty in the evenings but its cool outside, its most likely because you&#39;ve left a cake in the oven as much as it the fault of a few desktops. Hey come on, that was funny.</p>
<p>The solution, no wait, answer to this problem is to put a box fan against an open window that draws <strong>free</strong> cold air from outside into the room at high speed. Why wait for nature to give you a gentle breeze when you can do it much more powerfully and with far more noise?</p>
<p>With this box fan sitting on the floor, it was merely recirculating warm air around, but this way it draws cold air in and mixes it with the hot air, thereby creating a pleasant temperature that facilitates your friendly Rubenerd writer blogging something entirely pointless, like this.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.mbp.boxfan.jpg" alt="My sophisticated MacBook Pro cooling system" style="height:375px; width:500px" /></p>
<h3>Its déjà vu, all over again</h3>
<p>Of course, this wasn&#39;t the first time I found a novel and incredibly sophisticated way of using box fans to solve heating problems: in November 2008 I wrote of a system that allows overheating laptops to perform more effectively when compiling large projects. I called it <a href="//rubenerd.com/p2598/">Ruben&#39;s sophisticated MacBook Pro cooling consulting solution</a>.</p>
<p>Wow, I started this post talking about solutions, and here I am using the term again. You know what that is? Cleverness.</p>
<p>You see, back in 2008 Jim Kloss from the late Whole Wheat Radio was mocking companies that used the word solution in their name, because he claimed if a company wasn&#39;t solving something there was no point to them existing in the first place. I believe that was the reason why the banks failed. That&#39;s right, Jim predicted the current recession before any of you. That reminds me, he bought me a coffee here and I didn&#39;t finish writing an email to him, how slack!</p>
<p>Aw, its really nice in here right now. I just hope I don&#39;t generate a tornado with all these streams of hot and cold air mixing from various fans. That wouldn&#39;t happen… right?</p>
 
