---
title: 'Australian media enquiry misses the point' 
date: "2011-09-15T02:32:13+10:00"
year: "2011"
category: Media
tag:
- australia
- news
- politics
- postaday2011 
location: sydney
---
<p><img class="transparent" src="https://rubenerd.com/files/uploads/icon.tango.news.crop.png" alt="Icon from the Tango Desktop Project" style="height:77px; width:124px; float:right; margin:0px 0px 10px 20px;" /></p>
<p>These latest moves by the Australian government to launch a media inquiry are seemingly well-intentioned, but woefully misguided.</p>
<p>The question of whether media is biased and distorts the truth is a distraction from the real question: do people have the skills to disseminate facts and objectively analyse what they&#39;re told in the media?</p>
<p>Give a man a fish…</p>
 
