---
title: 'AVOS del.icio.us-ness' 
date: "2011-04-28T09:04:17+10:00"
year: "2011"
category: Internet
tag:
- avos
- bidness
- delicious
- infocomm
- nostalgia
- postaday2011
- yahoo 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.delicious.avos.png" alt="Screenshot showing delicious export tool" style="height:190px; width:500px;" /></p>
<p>When attempting to bookmark a page this afternoon, instead of the regular login screen and tagging interface I was presented with a notice that <abbr title="Delicious">del.icio.us</abbr> <a href="http://avos.com/">had been bought</a>, and that I have until July to transfer my material. Swinging between nervousness and relief!</p>
<h3>Let’s do the Timeline again</h3>
<p>The <abbr title="Delicious">del.icio.us</abbr> bookmarking service started in 2003 and I got my account the following year, as evidenced by the fact my login credentials are not a Yahoo ID. In 2005 they were bought by Yahoo, and many of us were excited to see what being owned by a company with substantially more cash and talent would do for the service.</p>
<p>Unfortunately, being a PHP shop Yahoo&#39;s first move was to port the entire system from Perl to PHP, which allegedly necessitated the complete redesign of the UI from something that was simple and space efficient, to a Web 2.0 Foo Foo site. At the time Frank Nora from The Overnightscape and I lamented this reversal, but begrudgingly still used it because nothing else matched it.</p>
<p>In 2007 my increasingly bed-ridden mum was discovering she could keep up to date with Column 8 in the Sydney Morning Herald from Singapore, do crosswords, read about ancient civilisations and alternative fashion, and shop from her Gentoo laptop which her generous son had provided ;). Her single column of bookmarks in Firefox however was becoming increasingly unmanageable, so I set her up with <abbr title="Delicious">del.icio.us</abbr> and less than six months later she&#39;d amassed a collection greater than mine!</p>
<p>In 2008 when rumours started spreading that Yahoo were looking for a suitor and it would most likely be Microsoft, those of us that had used Passport and other Microsoft internet services at the time were terrified that their ownership of the service would result in further degradation, so we began looking for alternatives. Google Bookmarks existed, but was far clumsier to use and harder to share. Ma.gnolia was an alternative <a title="Entry: Migrating from del.icio.us to Magnolia" href="//rubenerd.com/migrating-from-delicious-to-magnolia/">I blogged about</a> that even had a <abbr title="Delicious">del.icio.us</abbr> import function, but we later learned of its laughably bad uptime and at one point the even deleted all our data by mistake.</p>
<h3>The Slide is The Wide… Screen</h3>
<p><img src="https://rubenerd.com/files/uploads/screenie.yahoo.sunsetslide.jpg" alt="The infamous internal Yahoo sunset slide" style="height:260px; width:500px;" /></p>
<p>Since then we&#39;ve been further scared by <a title="Entry: del.icio.us being sunsetted?" href="//rubenerd.com/del.icio.us-being-sunsetted/">that now infamous slide</a> that unceremoniously placed <abbr title="Delicious">del.icio.us</abbr> alongside other services for &quot;sunsetting&quot;. We didn&#39;t know what that meant, but it didn&#39;t sound good.</p>
<p>Fortunately, it was! The two people who started YouTube (this fact is mentioned so many times on their sites, in press releases and on the <abbr title="Delicious">del.icio.us</abbr> site its almost lost all meaning) have formed AVOS (not to be confused for that iffy looking cosmetics company that recruits people to sell their stuff) and <abbr title="Delicious">del.icio.us</abbr> is their first purchase. Ignoring all the yucky marketing speak drivel, their idea sounds interesting:</p>
<blockquote><p>The YouTube founders plan to work closely with the community over the next few months to develop innovative features to help solve the problem of information overload. “We see this problem not just in the world of video, but also cutting across every information-intensive media type,” said Chen.</p></blockquote>
<p>This is what I thought <abbr title="Delicious">del.icio.us</abbr> had the potential to do from the moment I started using it. It was like DMOZ but people actually contributed to it on a regular basis, it kept my bookmarks syncronised and backed up across multiple machines, and helped me organise all the tabs of content I was rapidly accumulating in Phoenix/Firebird/Firefox and so on.</p>
<h3>Now for the worried bit</h3>
<p>I&#39;m glad <abbr title="Delicious">del.icio.us</abbr> is no longer stagnent and will be given a third shot at life; I just hope these so called &quot;innovative features&quot; will enhance the platform, rather than sacrificing the simplicity that drew their users to the service. For example, I&#39;d love to see image previews for all sites not just Flickr. Tumblr entries of what people are wearing, for example.</p>
<p>We have until July 2011 to agree to have our bookmarks transferred over to the new service. I&#39;m relieved that I never merged my Yahoo and <abbr title="Delicious">del.icio.us</abbr> accounts, but here&#39;s hoping I can figure out what my late mum&#39;s password was for her account before then.</p>
 
