---
title: 'I’m back on KDE again' 
date: "2011-08-27T07:52:19+10:00"
year: "2011"
category: Software
tag:
- flickr-photos
- infocomm
- kde
- linux
- nostalgia
- postaday2011
- suzumiya-haruhi
- bakemonogatari
- xorg 
location: sydney
---
<p><img src="https://rubenerd.com/files/2011/6084512923_0112cc3204_o@1x.jpg" srcset="https://rubenerd.com/files/2011/6084512923_0112cc3204_o@1x.jpg 1x, https://rubenerd.com/files/2011/6084512923_0112cc3204_o@2x.jpg 2x" alt="KDE 4.6 on my old ThinkPad" style="width:500px" /></p>

<p>After several years of self-imposed KDE exile, I&#39;m back and loving it :).</p>

<h3>I still have my Red Hat Linux CDs</h3>
<p>KDE and I go a long way back. When I first started using Red Hat Linux 5.0 in primary school I was fascinated by the concept of having multiple installable graphical environments instead of just one, and used Anaconda to install Gnome and KDE at the same time. I quickly settled on KDE because I thought the UI was the nicest, and it felt the most feature complete.</p>
<p><a class="transparent" href="//rubenerd.com/files/uploads/screenie.klia_freebsd.png"><img id="image626" src="https://rubenerd.com/files/uploads/klia_freebsd_thumb.png" alt="Haruhi KDE FreeBSD" /></a></p>
<p>In 2006 (above) when I started experimenting with FreeBSD on the desktop as well as on headless servers, I blogged about my experience with getting those maddening <a title="Wednesday 14th March 2007:X11, FreeBSD, Parallels Desktop, xorg.conf" href="//rubenerd.com/x11-freebsd-parallels/">xorg.conf</a> files working , and <a href="//rubenerd.com/haruhi-suzumiya-on-freebsd/" title="Sunday 14th January 2007: Haruhi Suzumiya dancing on FreeBSD?">installing KDE</a> from the ports system. I was living in Malaysia at the time and we were all obsessed with <a href="//rubenerd.com/tag/suzumiya-haruhi/">The Melancholoy of Haruhi Suzumiya</a>, which naturally made its way into everything I was blogging about at the time!</p>
<p>In 2008 I also briefly ran <a title="Wednesday 19th March 2008: Sleek Openbox in KDE on FreeBSD" href="//rubenerd.com/sleek-openbox-in-kde-on-freebsd/">KDE with Openbox</a>, this time when I was obsessed with Clannad:</p>
<p><a class="transparent" href="//rubenerd.com/files/uploads/screenie.openbox.kde.png"><img style="height:313px; width:500px" src="https://rubenerd.com/files/uploads/screenie.openbox.kde.thumb..jpg"  alt="Openbox running in KDE (with Amarok listening to Whole Wheat Radio!)" /></a></p>
<p>That’s why I love having a blog compared to anything else, you can go back in time and see what you were doing all those years ago. ^_^</p>
<p>At the same time I was also trying Xfce however, and with the release of KDE 4.0 which was more unstable than the Windows OSs I’d left behind, I gradually moved over to it, then to Gnome. I justified my decision by claiming most of my software was GTK+, and it made sense using a DE that was too.</p>
<h3>UTS is Pro Qt</h3>
<p>Fast forward to 2011, and something fateful happened. Walking into my first class for a semester, I noticed our tutor was running KDE 4.6 on a ThinkPad X60, the next model up from my X40. Not only that, it was running fast!</p>
<p>That night, I went home and installed the <a href="https://spins.fedoraproject.org/kde/">KDE spin of Fedora</a> onto my venerable <a title="View all posts tagged with ThinkPad X40" href="//rubenerd.com/tag/thinkpad-x40">ThinkPad X40</a>. I knew Fedora had a (in my opinion an undeserved) reputation for treating KDE as a second class citizen, but it’s the distribution I was most comfortable with and love how easily it can be configured with SELinux and whole drive encryption.</p>
<p><img src="https://rubenerd.com/files/uploads/icon.kdevelop4x.png" alt="KDevelop" style="height:128px; width:128px; float:right; margin:0px 0px 10px 10px;" class="transparent"/>
<p>In an O&#39;Reilly Nutshell (see what I did there?), I was blown away. KDE only took marginally longer to boot than Xfce, and included all the graphical bells and whistles. I was reaKquainted with Konqueror, Konsole, Kate, KNews, amaroK and the venerable KDEGames. I installed KDevelop and instantly remembered why I thought it was the finest F/OSS IDE. I was able to install VLC and Opera without worrying about dependencies!</p>
<p>Other than performance, perhaps most surprising still was just how well my GTK apps like Firefox, the Gimp, Inkscape and LibreOffice (with a little tweaking) looked with the Oxygen-GTK theme. Aside from the  lack of subtle gradient in their title bars and a few other minor visual tells, they were otherwise indistinguishable.</p>
<p>A lot of things have changed since the time I used KDE 3.x, but I’m gradually getting my bearings back. No doubt you’ll be seeing plenty of posts on the subject in the coming weeks.</p>
<p>Ah Qt, how I missed you :’)</p>
 
