---
title: 'A goodbye Bondi Junction Borders trip' 
date: "2011-07-03T12:07:10+10:00"
year: "2011"
category: Media
tag:
- books
- borders
- business
- flickr-photos
- manga
- postaday2011
- shopping 
location: sydney
---
<p><img src="https://rubenerd.com/files/2011/5893640768_325895bef8_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5893640768_325895bef8_o@1x.jpg 1x, https://rubenerd.com/files/2011/5893640768_325895bef8_o@2x.jpg 2x" alt="Borders closing in Bondi Junction." style="width:500px; height:334px;" /></p>

<p>As I <a title="Monday 21st February 2011: Making sense of them Borders shutdowns" href="//rubenerd.com/borders-shutdown/">blogged about in February</a>, Borders had clearly seen better days in Australia and are now in the process of closing down. I headed into their Bondi Junction store today to grab some bargains, and to explore a familiar setting one last time.</p>

<h3>Getting there</h3>

<p>Of course, I couldn&#39;t have timed my expedition any worse! <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Bondi_Junction">Bondi Junction</a> is served by the <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Eastern_Suburbs_%26_Illawarra_railway_line">Eastern Suburbs and Illawara line</a>, which CityRail decided to perform track work on this weekend. Unlike most of the industrialised (or developing) worlds where train work is done overnight so as not to inconvenience ticket holders and taxpayers, CityRail regularly performs such work in broad daylight. Worse still, they replace eight double deck carriage consists with single buses that seemed to arrive and leave as they pleased. I&#39;ve been to Canberra, and if they can operate buses to a fixed schedule, then surely an operation as large as CityRail could!</p>

<p>To their credit the Bus Marshals couldn&#39;t have been friendlier, and the one who served us at Central bore an uncanny resemblance to TechTV and TWiT luminary Leo Laporte. They could have been separated at birth, and raised in different countries. But I digress.</p>

<p><img src="https://rubenerd.com/files/2011/5893086507_de2b26b8f3_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5893086507_de2b26b8f3_o@1x.jpg 1x, https://rubenerd.com/files/2011/5893086507_de2b26b8f3_o@2x.jpg 2x" alt="Replacement bus sign" style="width:500px; height:374px;" /></p>

<h3>Being there</h3>

<p>For those not from Australia, Bondi Junction is one of these upmarket mega shopping centres you would expect to find on Orchard Road or Jalan Ampang. The Borders itself is located at the end of one of the buildings. At its peak it was operating over two floors, though the top floor was empty by the time I got there.</p>

<p>Much of the stuff had already been sold (including a substantial amount of furniture!) but there was still enough there to occupy my time for a while. A couple of friends from my university and I explored the manga and computer book sections without much success, in the former were series we&#39;d never heard of and plenty of Ken Akamatsu  which we&#39;ve all read but would never admit to (whoops), and in the latter there was almost nothing but thick blue Microsoft training tomes remaining! In year 11 and 12 I had to do several assignments in .NET, so I know of those books all too well!</p>

<p>Walking around with most of the shelves empty, burnt out light bulbs on the storefront sign, carpets askew, posters torn and hanging at weird angles, empty powerboards, hazard tape across entire sections, row after row of boxes… it felt eerily dystopian, like the rapture had happened for real this time.</p>

<p><img src="https://rubenerd.com/files/2011/5893074645_0b50194500_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5893074645_0b50194500_o@1x.jpg 1x, https://rubenerd.com/files/2011/5893074645_0b50194500_o@2x.jpg 2x" alt="Sale sins everywhere in the Borders at Bondi Junction" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2011/5893073325_b8103cc04f_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5893073325_b8103cc04f_o@1x.jpg 1x, https://rubenerd.com/files/2011/5893073325_b8103cc04f_o@2x.jpg 2x" alt="View of the sales signs through the front glass of the store" style="width:250px; height:167px;" /></p>

<h3>Buying stuff there</h3>

<p>I left with three manga volumes overall, for $18! That&#39;s a tad more that I would spend on a single volume in Kinokuniya or any of the small comic book stores in town! One was  a copy of <em>The Star Trek Manga</em> which I disgust myself as a Trekkie for not knowing that it even existed! I don&#39;t remember the female characters being quite so… <em>shapely</em>, but the caricatures of Spock and Kirk are eerily accurate!</p>

<p>The other two were the first two volumes of <em>Shakugan no Shana</em>; I absolutely loved the anime with its Rie Kugimiya voiced, ultra cute zettai ryouiki heroine, but as is typically the case I was told by many a fan that the manga was better. Flipping through the books while waiting in the queue I could tell the graphics and art are just gorgeous! :)</p>

<p>You may recognise her on my site from the heading image for my <a href="//rubenerd.com/tag/open-internet">OpenInternet</a> post series… a spooky coincidence given <a href="http://delimiter.com.au/2011/07/01/telstras-interpol-filter-goes-live/">Telstra&#39;s latest filter move</a>! But I digress.</p>

<p><a href="//rubenerd.com/tag/open-internet"><img src="https://rubenerd.com/files/uploads/logo.openinternet.png" alt="No Filter, No Censorship, No Great Firewall of Australia" style="height:160px; width:500px; display:inline; " /></a></p>

<p>Now if only I had arrived there sooner, or had the trains been running as they should have been, perhaps I could have snagged some K-On! I mention this because one of the employees I talked to claimed two people between them had emptied out all the stock of basically every manga volume that <a href="//rubenerd.com/tag/kyoani/">Kyoto Animation</a> had since got their hands on. You know the ones of which I&#39;m referring ;).</p>

<p>With our recent move back to Australia it was mighty tempting to purchase some genuine Borders bookshelves or some of the signs that graced them, but money is a little tight for us right now (international moves and taxes are fun!), and given I had to get a CityRail replacement bus home with less space to breathe than a sardine tin, I wouldn&#39;t have been able to transport them home even if I wanted to! The only sign I was tempted by was a giant white on black ANIME AND MANGA sign, though some of the letters were scratched up. In hindsight it may have been nice to have anyway, just for nostalgia. I&#39;m a sucker for that you see. Oh well.</p>

<p><img src="https://rubenerd.com/files/2011/5893133951_2301e22d1e_o@1x.jpg" srcset="https://rubenerd.com/files/2011/5893133951_2301e22d1e_o@1x.jpg 1x, https://rubenerd.com/files/2011/5893133951_2301e22d1e_o@2x.jpg 2x" alt="Shana and Star Trek manga haul" style="width:500px; height:334px;" /></p>

<h3>Reminiscing about stuff over there</h3>

<p>Granted it was in their branch at <a href="https://www.flickr.com/search/?w=52601770@N00&#038;q=wheelock%20place">Wheelock Place in Singapore</a>, but I spent a large amount of my childhood exploring Borders. I can still remember when they first opened there with much pomp and celebration, and how crazy my little mind thought it was to have a bistro in a coffee shop! Sure Meg Ryans in Brisbane where we&#39;d lived previously had coffee in the shop, but I had a smoked salmon and sour cream pizza with capers and onion, right next to the non fiction books!</p>

<p>Kinokuniya across the street in Ngee Ann City (the red building with Takashimaya) had a wider selection of books, particularly technical manuals, but Borders felt cozier. I bought (and read!) my first O&#39;Reilly programming books in their computer section, and bumped into my first crush there. When high school came around and much of my cohort were experimenting with nighclubs and alcohol, I was spending my Friday and Saturday nights with my good friend Felix Tanjono exploring until they closed at 11pm. When my mum had those brief breaks from her chemotherapy in the 12 years she was having it, we&#39;d make it a date and wander around there together.</p>

<p>I know it&#39;s not politically correct or cool to like chain stores, but Starbucks and Borders and Ikea were where I grew up. I&#39;ll be sad to see Borders go.</p>

<p><img src="https://rubenerd.com/files/2011/1760061239_7049ca607e_o@1x.jpg" srcset="https://rubenerd.com/files/2011/1760061239_7049ca607e_@1x.jpg 1x, https://rubenerd.com/files/2011/1760061239_7049ca607e_o@2x.jpg 2x" alt="Wheelock Place in 2007" style="width:500px; height:375px;" /></p>
 
