---
title: 'Making sense of them Borders shutdowns' 
date: "2011-02-21T09:11:26+10:00"
year: "2011"
category: Media
tag:
- australia
- bidness
- book-stores
- books
- borders
- business
- malaysia
- nostalgia
- postaday2011
- singapore
- super-detailed-diagram
- usa 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/diagram.borders.png" alt="" style="height:251px; width:493px;" class="transparent" /></p>
<p>I love Borders. I spent a ridiculous amount of my childhood there, not to mention my money. I know its not politically correct to admit to liking retail chains, but if they go I really will miss them.</p>
<h3>The Book is The Word</h3>
<p><img src="https://rubenerd.com/files/uploads/blog.icon.usa.140px.png" alt="" style="height:128px; width:128px; float:right; margin:0 0 10px 10px;" class="transparent" />If you&#39;ve been living under a rock, or a rather large hardcover book about geology, you may not be aware of the recent news that Borders has entered chapter 11 bankruptcy protection in the United States. A favourite amongst American airline companies that defaulted on their commitments after airline deregulation (thank you Carter and Reagan), chapter 11 protects businesses from their creditors and allows them a chance to reorganise themselves in the hopes they&#39;ll be able to return to profitability at some point. Theoretically.</p>
<p>According to <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Borders_Group#Developments_in_2011" title="Wikipedia: Borders Group">Wikipedia</a>, a site that perhaps reduced Border&#39;s profits on printed manuals, encyclopaedias and self serving autobiographies:</p>
<blockquote><p>On February 16, 2011, the company announced that it had filed for Chapter 11 bankruptcy protection, listing $1.275 billion in assets and $1.293 billion in debts in its filing</p></blockquote>
<p>Ouch. According to the same article, all of their superstores will be shut down and the number of smaller stores drastically reduced. Presumably if they can make it through the chapter 11 period they&#39;ll continue to operate.</p>
<h3>Singapore</h3>
<p><img src="https://rubenerd.com/files/uploads/blog.icon.singapore.140px.png" alt="" style="height:128px; width:128px; float:right; margin:0 0 10px 10px;" class="transparent" />Of course being heavily influenced by childhood nostalgia, my first thought was whether Borders in Australia and Singapore would be affected.</p>
<p>My sister, parents and I moved to Singapore shortly before Borders opened their now iconic store in Wheelock Place, and as I said at the beginning of this pointless post I spent much of my childhood there. Kinokuniya across the road in the Takashimaya complex had more stuff, but Borders had carpet and nicer lighting. It was huge but felt cozy. I spent many a happy afternoon after school school sitting in their IT section deciding which O&#39;Reilly programming books took my fancy. I loved that they were open so late even on weekends so when other people had social lives and were exploring alcohol and nightclubs, I could go somewhere with my good buddy Felix and just explore. I liked the place, you get my point.</p>
<p>It turns out though that much like Borders UK, Borders in Singapore has no business relation to the presumed parent company in the US. Writers in Singapore acting like the true PR spokespersons that they are were quick to assure readers that the operations in the city state <a href="http://www.todayonline.com/Singapore/EDC110215-0000188/Page-is-still-open-at-Borders-Spore" title="TODAYOnline: Page is still open at Borders Singapore">were safe</a>:</p>
<blockquote><p>Feb 15, 2011<br />
SINGAPORE &#8211; Borders Singapore is not closing down its operations here.</p>
<p>Although The Wall Street Journal has reported that Borders Group is preparing to file for bankruptcy in the United States, book lovers need not fret because, since 2008, Borders stores in Singapore, as well as Australia and New Zealand, are owned by Redgroup Retail &#8211; an Australian book and stationery retailer &#8211; and not the US chain.</p></blockquote>
<p>Nothing to worry about right?</p>
<h3>Australia</h3>
<p><img src="https://rubenerd.com/files/uploads/blog.icon.australia.140px.png" alt="" style="height:128px; width:128px; float:right; margin:0 0 10px 10px;" class="transparent" />Well, maybe not. On the 17th, RedGroup Retail that operates Borders and Angus &amp; Robertson bookstores in Australia, New Zealand and Singapore reported that the were dire straits themselves. Again <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Borders_(Asia_Pacific)#Administration" title="Wikipedia: Borders Asia Pacific">from Wikipedia</a>:</p>
<blockquote><p>On 17 February 2011, RedGroup Retail (including the Borders, Angus &amp; Robertson as well as Whitcoulls chains) were placed into voluntary administration with Ferrier Hodgson appointed as administrators.</p></blockquote>
<p>So it looks as though Borders may be shutting down in Australia after all, and along with the parent company we can presume the stores in Singapore will also be closing. Right? RIGHT?</p>
<p>Well, maybe not. Again from that bastion of journalistic integrity in Singapore known as <a href="http://www.todayonline.com/Singapore/EDC110221-0000147/Staff-sure-Borders-is-not-closing-down-here" title="TODAYonline: Staff sure Borders is not closing down here">TODAYonline</a>:</p>
<blockquote><p>Feb 21, 2011 SINGAPORE &#8211; Go ahead and flip those pages at Borders, for this bookstore is unlikely to close anytime soon […] staff said customers have no cause for concern. The employees believe that the latest reports suggesting financial woes at RedGroup Retail, which oversees Borders here as well as in Asia, Australia and New Zealand, will affect stores located Down Under only.</p></blockquote>
<p>So it seems we can expect Borders in Australia to go, and many of the Borders stores in the US to go… but not New Zealand or Singapore? Can we trust the here-say of staff being asked in their place of employment? Would the powers that be have even informed them yet?</p>
<p>Clear as mud. Oh well, I need a coffee. At least the Borders in Singapore had the <a title="Hungry Go Where review: Borders Bistro" href="http://www.hungrygowhere.com/singapore/borders_bistro/">Borders Bistro</a> in store to serve coffee and snacks while I sat there in delight flipping through my Programming In Perl book; in Australia they peddle the wares of the <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Gloria_Jean's_Coffees">Hillsong Church</a> which is creepy to say the least.</p>
<h3>Hey wait… Malaysia?</h3>
<p><img src="https://rubenerd.com/files/uploads/blog.icon.malaysia.140px.png" alt="" style="height:128px; width:128px; float:right; margin:0 0 10px 10px;" class="transparent" />One other point that I&#39;ve found scant information on: what about Borders Malaysia? Granted I didn&#39;t go there as much because I only lived in Kuala Lumpur for a year, but I did go to their branch at The Curve in Damansara several times. The staff there were super nice, and they had a super impressive manga section, I reckon maybe even bigger than the one in Wheelock Place.</p>
<p>From what I can tell, Borders Malaysia is licenced by the Berjaya Group, which means its also unrelated to Borders USA and to the RedGroup Retail outfit. I think.</p>
 
