---
title: 'Borland C++ 3.1 from 1991' 
date: "2011-03-28T09:22:50+10:00"
year: "2011"
category: Software
tag:
- abandonware
- borland
- infocomm
- postaday2011
- retrocomputing
- shorts 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.borlandcpp3.png" alt="" style="height:272px; width:500px;" /></p>
<p>Running in <a href="http://www.dosbox.com/">DOSBox 0.74</a> on my quad core Mac Pro. <em>Uhhhhhhhhhhhh yeah!</em></p>
<p>Granted my first experience with Borland software was with their GUI-oriented <a href="https://secure.wikimedia.org/wikipedia/en/wiki/C%2B%2BBuilder">C++Builder</a> in 1997, but still cool nonetheless. Have I ever told you I&#39;m a sucker for nostalgia? ;D</p>
 
