---
title: 'Changing my VMware email saga' 
date: "2011-12-18T01:46:38+10:00"
year: "2011"
category: Internet
tag:
- email
- infocomm
- postaday2011
- proton-saga
- support
- vmware 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.vmware.support.png" alt="VMware Support banner" style="height:190px; width:500px;" /></p>

<p>I wanted to change the email address assigned to my VMware account. Should be pretty simple, right?</p>

<h3>What I thought I would have to do</h3>
<ol>

<li>Visit VMware.com, click <a href="https://www.vmware.com/account/login.do">Log In</a> and enter my credentials.<p></p></li>

<li>Click Access and Update Profile<p></p></li>

<li>Under &#8220;Email Address&#8221;, change the address, then click Continue.<p></p></li>
</ol>

<h3>What I ended up doing</h3>
<ol>

<li>Visit VMware.com, click <a href="https://www.vmware.com/account/login.do">Log In</a> and enter my credentials.<p></p></li>

<li>Click <a href="https://www.vmware.com/account/secure/customerRegistration.do?action=existingCustomer">Access and Update Profile</a>.<p></p></li>

<li>Tried to click &#8220;Email Address&#8221; to change the address, but the text field was disabled. Under the field read <em>&#8220;Your email address cannot be updated online. If you need to change it, choose one of our Support contact options&#8221;</em><p></p></li>

<li>Rubbed my eyes, checked to make sure I was reading it correct that I couldn’t update my email address online, and that I’d need to contact a support person to do it.<p></p></li>

<li>Clicked <a href="http://www.vmware.com/support/contacts/">Support contact options</a>.<p></p></li>

<li>Clicked <a href="http://www.vmware.com/support/fileCSR.portal">File a Customer Service Request</a>.<p></p></li>

<li>Filled out the form, said who I was, and what I wanted to change my email address to.<p></p></li>

<li>Step two asked if I wanted to attach a screenshot to my support claim. I took a screenshot of the above email address, but uploading failed with a Java [sic] error. Gave up, just clicked Continue again.<p></p></li>

<li>An unrequested popup window launched asking me to rate through a series of questions my experience with VMware support, despite having only just sending my support message through.<p></p></li>

<li>Was told I’d have to wait 24 to 48 hours. At least fortunately, someone got back to me within 2 hours.<p></p></li>

<li>Was given a link to a different online form where I can register with a new email address, and was informed support staff would transfer my VMware licences to the new registered address. This was due to the fact VMware &#8220;has no option&#8221; to update addresses in existing accounts.<p></p></li>

<li>Changed email address, completed registration.<p></p></li>
</ol>

<p><img src="https://rubenerd.com/files/uploads/saga-front-e1278857917778-450x303.jpg" alt="The pride of Malaysia!" style="height:303px; width:450px;" class="transparent" /></p>

<h3>What has this Saga taught us?</h3>

<p>To VMware&#39;s credit, their support staff were helpful and got the job done in record time, though I still think I shouldn&#39;t have to go through such a rigamarole just to update my email address. Something tells me perhaps my keys are derived from my email address somehow… I have no other reasonable explanation given I&#39;ve been changing email addresses on hundreds of sites over the last week without ever running into an issue like this.</p>

<p>In any event, I think VMware should revise the statement on their Update Profile page to more accurately address what is required to change an email address, rather than just providing an indirect link to contact account support. To me, that&#39;s akin to asking a software user to contact their system administrator when something goes wrong.</p>
 
