---
title: 'CityRail doesn’t employ vampire labour' 
date: "2011-09-20T01:22:48+10:00"
year: "2011"
category: Travel
tag: 
- nsw
- postaday2011
- public-transport
- sydney
- sydney-trains
- trains 
location: sydney
---

<p><img src="https://rubenerd.com/files/2011/replacement-buses_5893086507_o@1x.jpg" alt="Replacement buses" srcset="https://rubenerd.com/files/2011/replacement-buses_5893086507_o@1x.jpg 1x, https://rubenerd.com/files/2011/replacement-buses_5893086507_o@2x.jpg 2x" style="width:500px; height:373px;" /></p>
<p>Upon asking our house guest and my sister what I should discuss for my <a href="http://dailypost.wordpress.com/">PostADay2011</a> challenge, they elected I regale you with our adventures with CityRail on the weekend. As requested, the requested post!</p>
<h3>Disclaimer</h3>
<p>First of all, an admission if you will. The <a href="https://www.flickr.com/photos/rubenerd/5893086507/" title="Replacement buses by rubenerd, on Flickr">above image</a>, while being factually relevant to the current issue we find ourselves discussing this evening, was in fact taken by your narrator in this tale of public transport adventure back on the 2nd of July 2011, for a blog post about the <a title="Saturday 02nd July 2011:A goodbye Bondi Junction Borders trip" href="//rubenerd.com/borders-bondi-junction/">closure of Borders</a>. It still hasn&#39;t sunk in that Borders is gone. But I digress, and rather verbosely I may add.</p>
<h3>Well that was a redundant sentence</h3>
<p><img src="https://rubenerd.com/files/uploads/logo.cityrail.png" alt="CityRail" style="height:53px; width:155px; float:right; margin-left:10px;" class="transparent" />Like all but the most sophisticated self-healing systems, public transport networks require a certain degree of maintenance in order to perform reliably, safely, and within acceptable guidelines.</p>
<p>Most public transport rail operators around the world perform preventative maintenance on their networks during the wee hours of the morning, in some places every night. This has several advantages to performing said work during light hours:</p>
<ul>
<li>The maintenance work doesn’t interfere with the day-to-day operation of the trains, as closures are not required<p></p></li>
<li>Vampire labour is cheaper per hour as they are not bound by the same laws and regulations that govern minimum wage, acceptable working conditions and benefits that must be bestowed upon daywalkers.</li>
</ul>
<p>Sydney&#39;s CityRail network however prefers to perform their network maintenance, track alignment work and inspections in broad daylight, and over the course of several days. This not only ensures the maximum amount of disruption per tax dollar, but causes as much inconvenience as possible.</p>
<p>Secondly, with many of the roads closed due to the Sydney Half Marathon over the weekend, this trackwork along the city circle ensured that some folks couldn&#39;t get to work or other important establishments by either train or car. I suspect this was a conspiracy orchestrated by those who don&#39;t like their brethren working on Sundays.</p>
<p>Because this marathon was done over The Bridge, here&#39;s a <a href="https://www.flickr.com/photos/rubenerd/5921999894/" title="South Sydney Skyline by rubenerd, on Flickr">stock photo</a> of it which I took myself.</p>

<p><img src="https://rubenerd.com/files/2011/south-sydney-skyline_5921999894_o@1x.jpg" alt="South Sydney Skyline" srcset="https://rubenerd.com/files/2011/south-sydney-skyline_5921999894_o@1x.jpg 1x, https://rubenerd.com/files/2011/south-sydney-skyline_5921999894_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<h3>But back to the people at hand…</h3>
<p>Over the weekend, one of our friends from Canberra visited us in our fair, public transport crippled city. Of course we drew the short straw with CityRail, with the Airport and East Hills Line chosen as one of the two to receive scheduled trackwork.</p>
<p>Fortunately, CityRail compensated for their missing eight car, double decker trains with single buses that looked as though they were built in the 1960s. Aside from the waiting at stations and on the side of the road for our sardine trips, the buses themselves had an old timely quaint charm to them, and were reasonably clean. I was just fortunate our friend enjoyed retro design!</p>
<p>As of today the trains are operating again, and to their credit Bardwell Park has received a fresh coat of paint. We still have the only station on the entire line that doesn&#39;t have extended under-cover roofs, or isn&#39;t in the process of having them installed. Here&#39;s hoping this changes soon.</p>
 
