---
title: 'Done the Australian eCensus' 
date: "2011-07-30T07:24:35+10:00"
year: "2011"
category: Thoughts 
tag: 
- australia
- australian-census-2011
- census
- postaday2011 
location: sydney
---

<p><img src="https://rubenerd.com/files/2011/australian-census-forms_5989980348_o@1x.jpg" alt="Australian census forms" srcset="https://rubenerd.com/files/2011/australian-census-forms_5989980348_o@1x.jpg 1x, https://rubenerd.com/files/2011/australian-census-forms_5989980348_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>Coming back from my daily coffee shop run, I found these forms under the door. That&#39;s <em>almost</em> a rhyme, but not quite.</p>
<p><!--oldmore--></p>
<h3>Aw, my first Australian census!</h3>
<p>Having grown up overseas, this was the first census form I&#39;d ever filled out in Australia, having been given the responsibility by my old man and sister. The temptation to exact revenge on them by listing them as three hundred year old wiccan hitmen was there, but I answered honestly and truthfully ;).</p>
<p>Given the only time I ever use a pen is during exams (though I&#39;ve been told UTS has an exception to this, will need to investigate!) and when filling out those massive <a href="http://www.ica.gov.sg/">immigration cards</a>, I was relieved to find one of the pamphlets detailed how to fill out the census online. According to the Census Guide sheet that also came with all the goodies:</p>
<blockquote><p>Use the eCensus to participate online. A Collector [sic] will not return to pick up a paper form.</p></blockquote>
<p>I presume this means the person responsible for collecting the forms around our district will be given a list of those who completed the form online, but just in case the eCensus page also had a space to put our unique <em>receipt number</em> after successful completion.</p>
<p>Of course, having said all that, I just read this on the next page:</p>
<blockquote><p>The eCensus is an option allowing you to participate in the Census [sic] via the Internet. [..] Upon completion, your collector [sic] will be notified that you have participated online, and will not need to return.</p></blockquote>
<p>Interesting how the capitalisation of &quot;collector&quot; isn&#39;t consistent.</p>
<h3>Ruben should read things before commenting</h3>
<p>After entering our <em>Census Form Number</em> and <em>eCensus Numbers</em>, the questions began. Most of it was pretty straight forward, and the online forms were intelligent enough to dynamically hide or automatically fill in questions I didn&#39;t need to answer or that it figured out from previous answers.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.australiancensus2011.sister.png" style="height:270px; width:500px;" alt="" /></p>
<p>That&#39;s not to say it was perfect! After listing my father first, then myself, the eCensus form inquired as to whether my sister Elke was the daughter of me, the daughter of my dad, or the daughter of <strong>both of us</strong>. I suppose <strong>technically</strong> with sex changes that would be possible, but even then, isn&#39;t incest illegal? </p>
<p>The only question that really gave me pause was about religion. My sister and I are <em>atheists</em>, and I was <a href="http://twitpic.com/5y2o4u">tempted to put that</a>, but on <a href="http://www.atheistfoundation.org.au/">advice from the <abbr title="Atheist Foundation of Australia">AFA</abbr></a> we filled in <em>No Religion</em> instead of being specific in the <em>Other</em> box. <em>No Religion</em> is vague enough to be almost entirely meaningless, but its better than not being legitimated counted, or worse.</p>
<p>Other than these, and despite there being more questions than the Singapore ones, we had our response submitted in less than 15 minutes!</p>
 
