---
title: 'My dream about Nicolas Sarkozy' 
date: "2011-07-05T01:22:40+10:00"
year: "2011"
category: Media
tag:
- copyright
- france
- law
- mafiaa
- flickr-photos
- politics
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.sarkozy.wef.jpg" alt="Nicolas Sarkozy at the World Economic Forum" style="height:295px; width:500px;" /></p>
<p>It seems even my subconscious is thinking about copyright law and digital rights! Is that a good thing or not?</p>
<p style="font-style:italic;">(Photo from the <a href="https://www.flickr.com/photos/worldeconomicforum/4309064875/">World Economic Forum</a> Flickr account)</p>
<h3>Allow me to tell you a story…</h3>
<p>We have family friends in Paris, and in the two times we&#39;ve been lucky enough to go to Europe, we&#39;ve stayed with them. They live alongside one of the <em>Paris Métro</em> lines and down the road from a really great bakery and cake shop. Granted, other than Munich and Vienna I don&#39;t think there&#39;s anywhere that has as many amazing bakeries and cake shops per square kilometre than Paris, so statistically we were bound to run into one eventually, but I digress. <em>Imbécile!</em></p>
<p>In my dream, we had left our friends&#39; apartment and were making out way down the street. My old man had taken the Métro into town, and my mother and I were strolling to get some sachertorte. Why we would be eating that in <em>France</em> I have no idea, but it made sense in my dream.</p>
<p>Anyway, I had left her at our table and proceeded inside to order some of the aforementioned gâteau. No wait, sachertorte. Who should be standing in the line in front of me… but a person I didn&#39;t recognise. Ahead of him though was Nicolas Sarkozy!</p>
<p><img src="https://rubenerd.com/files/2011/4231270430_da14971d6a_o@1x.jpg" srcset="https://rubenerd.com/files/2011/4231270430_da14971d6a_o@1x.jpg 1x, https://rubenerd.com/files/2011/4231270430_da14971d6a_o@2x.jpg 2x" alt="Cold Paris afternoon" style="width:500px" /></p>
<h3>I always spell Nicolas with a <em>&quot;ch&quot;</em></h3>
<p>Presumably nobody else in the shop recognised him, or perhaps he was a regular, but either way nobody took any real notice of him. I placed my order, and as I walked past his table I smiled and said <em>&quot;Bonjour Monsieur&quot;</em> in my fractured French accent. To my surprise, he looked up, smiled and said <em>&quot;Bonjour&quot;</em> back!</p>
<p>I glanced down at his table and noticed he had a laptop. I winked and said <span style="font-style:italic;">you&#39;d better be careful someone doesn&#39;t hijack your personal WiFi hotspot or that the malware on your system isn&#39;t downloading stuff behind your back sir, three times and you&#39;ll be banned from having the net at all!&quot;</span></p>
<p>His smile turned to one of cartoon horror, and he exclaimed <span style="font-style:italic;">&quot;what do you mean, they can do that!?&quot;</span></p>
<p><img src="https://rubenerd.com/files/uploads/320px-Logo_de_la_Republique_francaise.svg.png" alt="Logo of the French Republic" style="height:189px; width:320px;" /></p>
<p>At some point I had sat down at his table, and in a way I&#39;m sure was perfectly heterosexual, I had placed my hand on his and was patting it. <span style="font-style:italic;">&quot;Don&#39;t worry sir&quot;</span> I said reassuringly, <span style="font-style:italic;">&quot;I&#39;m sure you&#39;ll be able to cope with the fact its almost completely unenforceable, will do nothing to curb piracy, will ensnare lots of innocent people&quot;.</span></p>
<p>Allegedly these words had done little to comfort him as he gazed back at his laptop, which from the look on his face could have very well been a crazed man brandishing a loaded gun.</p>
<p><span style="font-style:italic;">&quot;Your beloved French Republic was founded on the basis of liberty, equality and fraternity… I&#39;m sure you took these all into account when those foreign media companies told you to do…&quot;</span></p>
<p>Then, back in Sydney, our neighbour started one of his power tools and I was rudely awakened. </p>
 
