---
title: 'I don’t watch the Emmy awards, but…' 
date: "2011-07-15T10:28:39+10:00"
year: "2011"
category: Media
tag:
- common-sense
- copyright
- postaday2011
- television 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/icon.tango.tv.png" alt="Icon from the Tango Desktop Project" style="height:128px; width:128px; margin:0 0 10px 20px; float:right;" class="transparent" /></p>

<blockquote><p>Almost none of the Emmy-nominated shows are viewable on Internet-based TV services <cite>~ <a href="https://twitter.com/#!/mashable">Peter Cashmore, Mashable</a></cite></p></blockquote>

<p>BitTorrent. As I said in my recent <a href="//rubenerd.com/when-legit-isnt-better/" title="Tuesday 12th July 2011: When legit isn't better">DVD post</a>, if you don&#39;t give people the choice to get your media online, people will find their own ways.</p>
 
