---
title: 'NSW post-leadership benefits… wait, what?' 
date: "2011-10-16T09:13:03+10:00"
year: "2011"
category: Thoughts 
tag: 
- australia
- nsw
- politics
- postaday2011
- rant 
location: sydney
---

<p><img src="https://rubenerd.com/files/2011/perfect-weather-for-the-day_5993357207_o@1x.jpg" alt="Perfect weather for the day!" srcset="https://rubenerd.com/files/2011/perfect-weather-for-the-day_5993357207_o@1x.jpg 1x, https://rubenerd.com/files/2011/perfect-weather-for-the-day_5993357207_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>I was going to save this for tomorrow, but a series of tweets from the illustrious <a href="http://mobile.twitter.com/talkingduck">@talkingduck</a> (private account) led me to finish this off and post it today. If you thought I was unfairly ragging on Victoria today, take a gander at this!</p>
<p><!--oldmore--></p>
<h3>The political compass said I was a Liberal Libertarian</h3>
<p>In what other field of work do you get benefits and perks even after you leave the organisation?</p>
<p>The news spreading around The Twitters this morning was that former New South Wales state premier Kristina Keneally <a href="http://www.smh.com.au/nsw/out-of-the-premier-league--keneallys-perks-pulled-20111015-1lqev.html">had her post-leadership travel entitlements revoked</a> by current premier Barry O&#39;Farrell. These include the use of state cars (heaven forfend they take public transport like the rest of us!) and access to the series of catapults on the border that keeps those <a title="Sunday 16th October 2011: Victorian Gaming Minister O’Brien has a dumb haircut" href="//rubenerd.com/michael-obrien-dumb-haircut/">pesky Victorians from fining us</a>. Presumably.</p>
<p>On the surface, I didn&#39;t have a problem with this. My &quot;liberal&quot; side (in the American sense) understands some government spending is necessary to compensate for <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Market_failure">market failures</a> (economic terminology meaning services the private sector can&#39;t or won&#39;t provide), but my &quot;libertarian&quot; side loathes government spending that doesn&#39;t provide anything useful. Like… state government in a country with less people than many cities! Like this one:</p>
<p><img src="https://rubenerd.com/files/uploads/anime.guiltycrown.tokyo.jpg" style="width:500px; height:334px" alt=""/></p>
<p>Yes, I was able to work in another press image for the upcoming <a title="Sunday 16th October 2011: [Anime] Guilty Crown" href="//rubenerd.com/anime-guilty-crown/">Guilty Crown anime</a> I blogged about earlier today, in an post that has <strong>nothing to do with it whatsoever</strong>. Not only that, I did it while enduring an (albeit gradually improving) headache. Is that skill, or what!? Don&#39;t answer that.</p>
<h3>But I digress</h3>
<p>Shortly after posting my frustrations on Twitter,  <a href="http://mobile.twitter.com/joshgnosis/status/125398392422678528">@joshgnosis</a> pointed out to me part of the reason people are up in arms is that O&#39;Farrell only penalised Keneally, not anyone else. While I agree this is dodgy, my point is why should <strong>anyone</strong> voted out of office still be entitled to our funds to use as they see fit? </p>
<p>What I found particularly egregious is the justification that state cars are used to ferry former politicians to charity events. While this may true, imagine if theses politicians <strong>donated</strong> the funds to maintain this fleet of state cars, and drove there themselves or took a taxi? The rest of us don&#39;t take what are essentially taxpayer funded limousines to such events, why should they?</p>
<p>I should contact the companies I worked for back in home and ask them when I can be expecting my return tickets to Singapore! I mean, I don&#39;t work for them anymore, but I&#39;m entitled to them, right?</p>
<p><cite>(Random photo of Sydney taken by… me! <a href="https://www.flickr.com/photos/rubenerd/5993357207/">View on Flickr</a>)</cite></p>
 
