---
title: 'Fortran 4chan' 
date: "2011-10-02T01:58:25+10:00"
year: "2011"
category: Software
tag:
- advertising
- fonts
- fortran
- ibm
- infocomm
- marketing
- nostalgia
- postaday2011
- retrocomputing 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.stanford.fortran.jpg" alt="" style="height:280px; width:207px; float:right; margin:0px 0px 20px 20px;" /></p>
<p>I was born too late to be a part of the Fortran generation, but upon discussing the language with my sister this evening I received the following in response:</p>
<blockquote><p>You mean 4chan?</p></blockquote>
<p>As <a href="https://mobile.twitter.com/rubenerd/status/120151703784927232">I said</a> on The Twitters, I think a part of my brain just melted.</p>
<p>In other news, I <a href="http://infolab.stanford.edu/pub/voy/museum/pictures/display/3-1-Fortran.htm">need that font</a>. Retro futuristic is one of the single greatest design methodologies of all time. I also need their slogan printed on a shirt.</p>
<p style="clear:both;">
 
