---
title: 'Am I the only one not giddy and waving a flag over this?' 
date: "2011-10-21T01:30:03+10:00"
year: "2011"
category: Thoughts 
tag: 
- libya
- news
- peace
- politics
- postaday2011
- war 
location: sydney
---
<p><img class="transparent" src="https://rubenerd.com/files/uploads/icon.tango.news.crop.png" alt="Icon from the Tango Desktop Project" style="height:77px; width:124px; float:right; margin:0px 0px 10px 20px;" /></p>
<p>So Gaddafi, the brutal dictator of Libya has been captured and/or has died, depending on which news you read. Of course, Western political leaders didn&#39;t care about the plight of his country&#39;s people for decades until Chinese oil companies threatened Western hegemony there. Suddenly, we had to start another war (that was only supposed to take days), take him out, and put boots on the ground.</p>
<p>An awful person is gone now, but I&#39;m in no mood to be jovial. The lesson here isn&#39;t that the West will come to the aid of oppressed people, it&#39;s that we&#39;ll protect our own interests under the guise of humanitarianism, and without due process. It&#39;s disgusting. Hey, at least other Twitter folks can celebrate and pretend they helped with their retweets, hashtags, green avatars and Gaddafi jokes.</p>
<p>An uncharacteristically serious post here, but there you have it.</p>
 
