---
title: 'The @GoDaddy to @Hover move begineth' 
date: "2011-12-28T01:16:03+10:00"
year: "2011"
category: Internet
tag:
- flickr-photos
- godaddy
- hover
- infocomm
- marketing
- postaday2011
- sopa
- weblog 
location: sydney
---
<p><img src="https://rubenerd.com/files/2011/6581025147_aa6a04ed2b_o@1x.jpg" srcset="https://rubenerd.com/files/2011/6581025147_aa6a04ed2b_o@1x.jpg 1x, https://rubenerd.com/files/2011/6581025147_aa6a04ed2b_o@2x.jpg 2x" alt="Goodbye GoDaddy, hello Hover by rubenerd, on Flickr" style="width:500px; height:312px;" /></p>
<p>I&#39;m a month early, but I decided to get ahead on my NY resolutions and start transferring my domains from GoDaddy to Hover. So far, so good.</p>
<p style="font-style:italic;">Screenshot by <a href="https://www.flickr.com/photos/rubenerd/6581025147/">me on Flickr</a>.</p>
<h3>The Moves like Jagger</h3>
<p>I was about to launch into a technical discussion of what transferring entails, however I&#39;m half asleep and the super fabulous Dave Winer already <a href="http://scripting.com/stories/2011/10/27/movingFromGodaddyToHover.html">wrote all you need to know</a>. He&#39;s complimented me once and insulted me twice, which if you know the guy well enough is high praise ;).</p>
<p>His steps in a nutshell:</p>
<ol>
<li>Log into GoDaddy</li>
<li>Unlock the domain</li>
<li>Request an authorisation code</li>
<li>Go to Hover</li>
<li>Transfer the domain using the authorisation code</li>
<li>Confirm with GoDaddy</li>
</ol>
<p>The only step where I differed was his assertion that GoDaddy&#39;s transfer confirmation email only includes a link to cancel the transfer, not approve it. This is no longer the case; they provide a link to the page where you approve or cancel transfers.</p>
<h3>That’s a lot of email</h3>
<p><img src="https://rubenerd.com/files/uploads/icon.tango.mail.reply.png" alt="Icon by the Tango Desktop Project" style="height:128px; width:128px; float:right; margin:0px 0px 10px 10px;" class="transparent" /></p>
<p>Every man and his dog is talking about this, so nothing I really could say would be anything new. What I will mention however is the difference between the number of emails I received from Hover, and from GoDaddy.</p>
<p>These were the messages from GoDaddy:</p>
<ol>
<li>DOMAIN STATUS NOTIFICATION (unlocking)</li>
<li>DOMAIN INFORMATION YOU REQUESTED (code)</li>
<li>DOMAIN NAME TRANSFER &#8211; Confirmation of Registrar Transfer Request</li>
<li>AN IMPORTANT NOTICE REGARDING YOUR TRANSFER (successful transfer)</li>
<li>SORRY TO SEE YOU GO. WE’LL ALWAYS WELCOME YOU BACK.</li>
</ol>
<p>And from Hover:</p>
<ol>
<li>Please confirm your contact address</li>
<li>You transfer of [domains] to Hover has completed</li>
</ol>
<p>I suppose the onus is on GoDaddy to confirm what could potentially be an elicit transfer, but still an interesting comparison. I&#39;ll be expecting far less spam from the folks at Hover.</p>
<h3>Before you go, here’s some upselling!</h3>
<p><img src="https://rubenerd.com/files/uploads/anime.kyonkomad.jpg" alt="Kyonko isn't happy." style="height:192px; width:157px; display:inline; float:right; margin:0 0 10px 10px;" class="transparent" /></p>
<p>More surprising though was GoDaddy&#39;s effort to keep my business till the very end… by doing the same sales tactics that drove so many of us away. From their second last email:</p>
<blockquote><p>P.S. Visit GoDaddy.com and SAVE 15%* off your order of $50 or more. Just use source code [gibberish] when you check out to get your special savings. Start shopping now at GoDaddy.com or order by phone at (480) 505-8821.</p></blockquote>
<p>And the footer of the final email:</p>
<blockquote><p>
SAVE 15% OFF* YOUR NEXT ORDER OF $40 OR MORE AT GODADDY.COM!<br />
Use offer code [gibberish].
</p></blockquote>
<p>That was the same offer code as the $50 dollar deal above. It&#39;s as if they&#39;re bargaining with me.</p>
<blockquote><p>
.XXX IS HERE!<br />
Block others from getting your domain name.<br />
Register your .XXX NOW!
</p></blockquote>
<p>Yay, extortion!</p>
<blockquote><p>
CASHPARKING(R)!<br />
Make money with your parked domain!<br />
Let us show you how…
</p></blockquote>
<p>Yay, domain squatters!</p>
<p>I wonder if they expect to win much business back with those exact same tactics? Not that I&#39;m suggesting anything, but the sign of insanity is doing the same thing and expecting different results.</p>
<p>In the meantime, I&#39;m really enjoying Hover :).</p>
 
