---
title: 'Google closed Honeycomb, so what?' 
date: "2011-03-31T12:55:52+10:00"
year: "2011"
category: Hardware 
tag:
- android
- bing-crosby
- google
- infocomm
- mobile-phones
- postaday2011 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/f2112_android-logo.png" alt="Android's creepy logo." style="height:188px; width:250px;" /></p>
<p>What surprises me about this story isn’t that Google &quot;temporarily&quot; closed the source for Honeycomb, but that people are up in arms about it in the first place.</p>
<h3>The gist is the wrist</h3>
<p>The gist of the story is Google claims they’re &quot;pending&quot; the source code to the Honeycomb version of Android because they don’t want OEMs attempting to shoehorn this tablet-oriented release onto mobile phones and ruining their brand.</p>
<p>Allegedly their <a href="https://twitter.com/Arubin/status/27808662429">definition of open</a> has changed. Looks as though Steve was right for saying Google was being &quot;disingenuous&quot; when claiming Android was open… not that most people will admit it ;).</p>
<h3>Google’s point, and they do have one</h3>
<p>To play devil’s advocate for a moment, Google does have a point. Unfortunately one of the aspects of free and open source software that makes it appealing to developers makes it decidedly less palatable to end users. The ability to customise the system means OEMs can differentiate their products from the competition, but for consumers it means there’s less consistency across products they expect work the same.</p>
<p>Ultimately OEMs can use Android in whatever way they see fit, which means they can spread the Android love, but also replace Google with Chanandler Bing, or slap on an even uglier UI, or change it to an extent that users have to wait months or years after a new version of Android is released for their hardware manufacturers to update their phones… if ever. OEMs could even implement the OS &#8212; say, Honeycomb &#8212; in a way its not designed to be used.</p>
<p>Google and its fans have cultivated this image of a cohesive platform taking on Apple’s iOS, which the mainstream tech media has gleefully propagated. While great for inflating market share figures (every other manufacturer combined is outselling Apple lol!!1!one!!), it also means consumers who expect a certain level of consistency across Android devices may be turned off the entire platform by one flawed implementation, such as a phone with Honeycomb on it. Microsoft is acutely aware of this after companies shipped craptops with Vista that clearly weren’t capable of running all the bloat, and Google obviously doesn’t want to take this chance.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.bing.android.jpg" alt="Let me Bing Crosby that for you!" style="height:400px; width:342px;" /></p>
<h3>No surprise!</h3>
<p>Since Android’s inception, its been sold as a free and open source alternative to the perceived closed nature of the iPhone OS/iOS platform, which the mainstream tech media have also been happy to propagate in their &quot;Android versus iOS&quot; articles.</p>
<p>Of course those of us who are technically inclined have known this to be a mixed truth at best. Most of the Google branded applications are closed. OEMs get priority access to newer code. Most of it is still developed in-house rather than being given to the community to develop ala Linux. Their ideals of openness are so quickly and hypocritically jettisoned when they feel they can publicly one-up iOS, such as with the inclusion of Flash.</p>
<p>The temporary closing of the source of this open source project has got a lot of people who were genuinely under the impression Android was open a little disillusioned, but it shouldn’t really be a surprise to the rest of us. <strong>Android was never completely open in the first place.</strong></p>
<p>Its also worth remembering that Google isn’t creating Android out of the goodness of their heart, but as a matter of business. The fact Motorola and Samsung have released tablets when smaller OEMs and the rest of us can’t get access to the code amounts to unfair competition. It also suggests there’s some cozying up and favouritism  going on, exactly the kind of bahviour free and open source software was theoretically designed to prevent. I’m naive though, so I’m willing to give Google the benefit of the doubt on this.</p>
<h3>Common sense isn’t</h3>
<p>Android is an interesting platform, and provided they come clean about the origins of its Java-ish code we all benefit from it being here. Certainly Android is more open than Windows Mobile Phone Enterprise Service Pack Seven or whatever it is, and we’ve all benefited from not having a large install base of IE on phones to support. There are also those who the iOS platform doesn’t meet their needs and Android might, and vice-versa.</p>
<p>I would however appeal to people’s common sense (always an interesting thing to try!) in this issue. Sure its a terribly disingenuous thing for Google to do after we’ve been repeatedly told how wonderful and open the platform is, but its certainly not surprising, and its still a compelling platform if one is realistic about its philosophical and technical limitations and doesn’t buy into all the advertising hype. Hey, just like iOS.</p>
<p>What I’m interested in next is how Maemo/MeeGo/MeeSillyName will fare after Nokia climbed into bed with Microsoft. Now there was a far more open platform.</p>
 
