---
title: 'What does Google know of your interests?' 
date: "2011-07-07T06:09:46+10:00"
year: "2011"
category: Internet
tag:
- google
- infocomm
- postaday2011
- privacy 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.google.interests.png" alt="Screenshot showing Google's Interests settings." style="height:240px; width:500px;" /></p>

<p>Lobbying exposing ninja Alex Sadleir made a <a href="https://plus.google.com/100262004877003295572/posts/Pt7V3EWxFgt">comment on Google+</a> today demonstrating just how much Google knows about our interests. Curiously, I didn&#39;t get anything back.</p>

<h3>Approaching the oracle… wait, bad choice of words</h3>

<p>From <a href="http://www.google.com/ads/preferences/view/">http://www.google.com/ads/preferences/view/</a> in my Google account, on every machine I&#39;ve tried it on:</p>

<blockquote>
<p><strong>Your categories</strong><br />You have opted out of Google’s interest-based advertising. No interest categories are associated with your browser.</p>

<p><strong>Your cookie</strong><br />Google stores the following information in a cookie to associate your ads preferences with the browser you are currently using: <code>id=OPT_OUT</code></p>
</blockquote>

<h3>Come again?</h3>

<p>Opting out of this stuff <strong>sounds</strong> like something I&#39;d do, but I don&#39;t remember doing it. I&#39;m not sure which of the following reasons caused me to not have any information with them, but throwing them all out there as suggestions.</p>

<ul>
<li>Had <a href="http://hackademix.net/2010/12/28/x-do-not-track-support-in-noscript/">DNT enabled in NoScript</a>, then later in <a href="http://dnt.mozilla.org/">Firefox mainline</a></li>
<li>Used TACO and <a href="//rubenerd.com/tag/taco/">Beef Taco</a> for years</li>
<li>Disabled <a href="http://google.com/psearch/">personalised search</a> when it was announced</li>
<li>&quot;Paused&quot; my <a href="https://www.google.com/history/">web history</a>, whatever that means</li>
<li>Deleted old messages from Gmail, relegated it to junk mail</li>
<li>Employ <a href="http://userscripts.org/scripts/show/95092">userscripts like this</a> to strip out tracking from links</li>
</ul>

<p>Finally, it goes without saying that I don&#39;t use Google Chrome or Android, though I do use their Google Search app, Google Maps and on occasion YouTube on <a href="http://www.google.com/mobile/iphone/">my iTelephone</a>. Whoops ;).</p>

<p>Most likely these reasons are placebos and are merely evidence of my paranoia; Alex would be the first to point out this doesn&#39;t mean Google doesn&#39;t know anything about me. One could assume they do gather information, but they just don&#39;t make it public.</p>

<p>Either way, I&#39;m impressed that Google at least acknowledges I don&#39;t want them following me… as much. Right?</p>
 
