---
title: 'The Gottschild-System CBS 3800' 
date: "2011-07-18T01:37:52+10:00"
year: "2011"
category: Thoughts 
tag: 
- design
- engineering
- industrial-cleaning
- pointless-milestone
- postaday2011 
- video
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/CBS3800-009.jpg" alt="Photo of the inner workings of the aforementioned device." style="height:300px; width:480px;" /></p>

<p>For reasons that <strong>escape even me</strong>, starting with <a href="//rubenerd.com/post-id-5700/" title="Friday 18th December 2009: The Tennant 5700 industrial scrubber">this post in 2009</a> whenever I reach a blog post milestone I write an entry about an <a href="//rubenerd.com/tag/industrial-cleaning/">industrial cleaning device</a>. For blog post 3800, we have potentially the spiffyist device ever reviewed here! </p>

<h3>Oh, do tell me more!</h3>

<p>I typed the number 3800 into Google, and I landed on a page about <a href="http://www.gottschild.de/CBS3800/e_cbs3800.htm">The Gottschild-System CBS 3800</a>:</p>

<blockquote><p>The CBS 3800 of the Gottschild-System is a combined trimming and cleaning machine for foil laminated 3D furniture components. The proven overhead trimming system for removing the entire overlapping PVC foil from MDF furniture components is perfectly complemented by a brushing unit. The four-head or eight-head rotating brush system removes the glue overspray from the back of the furniture front components. Combining the trimming and cleaning units allows for trimming and cleaning in a single process. </p></blockquote>

<p>I have to say, while I arrived at the page completely by chance, I’ve really stumbled upon something amazing here. As my old man pointed out, it may be my German side asserting itself, but I’ve always been a sucker for precision engineering and beautiful industrial design (it’s why I’m an Apple guy!). The <a href="http://www.gottschild.de/CBS3800/e_cbs3800.htm">photos they have of this machine</a> are just amazing.</p>

<p><img src="https://rubenerd.com/files/uploads/BILD-CBS3800.jpg" alt="Photo of the entire unit, with its handsome cyan enclosure." style="height:260px; width:500px;" /></p>

<p>This is the general data from their site:</p>

<ul>
<li>Two-head trimming system</li>
<li>Four or eight-head rotating disk brushing system</li>
<li>front size minimal 180 x 89 x 12 mm up to maximal 3000 x 650 x 30 mm</li>
<li>front shape retangular with automatic detection of size and thickness without set-up times</li>
<li>Processing time CBS 3800-4 with four head cleaning unit approx. 1600 parts/8h with an average size of 300 x 400 mm</li>
<li>Processing time CBS 3800-8 with eight head cleaning unit approx. 1600 parts/8h with an average size of 300 x 400 mm</li>
<li>maximum weight of the panel 20 Kg</li>
<li>easy handling</li>
<li>Machine length 3800 mm, width 1500 mm, height 2000 mm</li>
<li>Machine frame height 960 mm ± 25 mm</li>
<li>Machine weight 1500 kg</li>
<li>data connection 400V / 10 KW / 6 Bar</li>
</ul>

<p>Computer science is where my heart is, but I have to say engineers get to play with some pretty amazing toys! They even have a YouTube video demonstrating its automated operation, it looks like something from a movie!</p>

<p><a title="Watch Trimming/ Schneide System CBS"><img src="https://rubenerd.com/files/2011/yt-VivH68s10ew@1x.jpg" srcset="https://rubenerd.com/files/2011/yt-VivH68s10ew@1x.jpg 1x, https://rubenerd.com/files/2011/yt-VivH68s10ew@2x.jpg 2x" alt="Watch Trimming/ Schneide System CBS" style="width:500px; height:375px;" /></a></p>

<p>I was not paid for this post, though if they want to give me a factory tour and a ticket to Germany to get there, I’d be more than happy to disclose it here and accept such a gift ;).</p>
 
