---
title: 'The @hanezawakirika on Ruby-tan!' 
date: "2011-10-30T04:06:52+10:00"
year: "2011"
category: Anime
tag:
- art
- clara-tse
- mascot
- oshibanashiori
- postaday2011
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/hanezawakirika.rubytan.jpg" alt="Hanezawakirika's drawing of Ruby-tan" style="height:375px; width:500px;" /></p>
<p>Since unveiling Ruby-Tan to the world early this month as the official new Rubenerd.com mascot, the outpouring of responses has been nothing short of incredible. I&#39;ve had tweets from people, emails, comments on newsgroups, SMSs from people I haven&#39;t talked to in years, and even skywriting (I assume).</p>
<p>This latest tribute though takes the cake; Ruby-Tan now has some real fan art! From<br />
<a href="http://oshibanashiori.wordpress.com/2011/10/29/what-do-we-have-here-rubenerd/">oshibanashiori</a>, which I just saw in The Google Readers:</p>
<blockquote><p>Inevitably, if you’re going to have a mascot, you’re going to get fanart.</p>
<p>She’s too cute not to draw. &gt;w&lt; I hope I did her justice.</p></blockquote>
<p>Very much so!</p>
<p>In other news, I wish I could draw and use vector software. The last thing I designed was the logo for the site, which was a modified version of my &quot;corporate&quot; logo I had in primary school. Needless to say… I&#39;m glad I&#39;m a developer XD</p>
 
