---
title: 'An Optus phone data post, with cans!' 
date: "2011-03-07T11:27:56+10:00"
year: "2011"
category: Hardware 
tag:
- australia
- infocomm
- nsw
- optus
- phones
- postaday2011
- pringles
- sydney
- telcos 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/diagram.optus.data.earlwood.png" style="height:184px; width:430px;" alt="" class="transparent" /></p>
<p>After all my recent tweets on Optus’s patchy service in Earlwood, it was interesting to see the Sydney Morning Herald’s report on mobile phone <a title="Finding the ring of confidence in city's great beep test" href="http://www.smh.com.au/technology/technology-news/finding-the-ring-of-confidence-in-citys-great-beep-test-20110304-1bhz8.html">data speeds around Sydney</a>. I can confirm… some of it!</p>
<h3>Hope the song was tasteful</h3>
<p>The study tested the average time it takes for different phone networks to deliver a &quot;three minute, three megabyte&quot; song in various locations around Sydney. They &quot;used iPhone 4 handsets provided by each of the networks for its research, and conducted multiple tests at each location.&quot;</p>
<p>The Sydney Morning Herald online editorial staff didn’t deem it necessary to transcribe the tabular data from the crudely uploaded image in their article, but I spent five seconds putting it through my OCR software and came up with this:</p>
<table>
<thead>
<tr>
<th style="text-align:left; padding-right:1em;">Location</th>
<th style="text-align:left; padding-right:1em;">Telstra</th>
<th style="text-align:left; padding-right:1em;">Optus</th>
<th style="text-align:left; padding-right:1em;">Vodafone</th>
<th style="text-align:left;">3</th>
</tr>
</thead>
<tbody>
<tr>
<td>Sydney CBD</td>
<td>9</td>
<td>8</td>
<td>21</td>
<td>23</td>
</tr>
<tr>
<td>North Sydney</td>
<td>6</td>
<td>13</td>
<td>13</td>
<td>48</td>
</tr>
<tr>
<td>Manly</td>
<td>6</td>
<td>4</td>
<td>10</td>
<td>55</td>
</tr>
<tr>
<td>Artamon</td>
<td>9</td>
<td>8</td>
<td>10</td>
<td>85</td>
</tr>
<tr>
<td>Epping</td>
<td>6</td>
<td>22</td>
<td>22</td>
<td>54</td>
</tr>
<tr>
<td>Parramatta</td>
<td>16</td>
<td>13</td>
<td>35</td>
<td>24</td>
</tr>
<tr>
<td style="padding-right:1em;">Baulkham Hills</td>
<td>29</td>
<td>15</td>
<td>22</td>
<td>57</td>
</tr>
<tr>
<td>Blacktown</td>
<td>6</td>
<td>90</td>
<td>8</td>
<td>111</td>
</tr>
<tr>
<td>Penrith</td>
<td>6</td>
<td>20</td>
<td>22</td>
<td>59</td>
</tr>
<tr>
<td>Liverpool</td>
<td>27</td>
<td>176</td>
<td>7</td>
<td>139</td>
</tr>
<tr>
<td>Bankstown</td>
<td>22</td>
<td>5</td>
<td>32</td>
<td>240</td>
</tr>
<tr>
<td>Ashfield</td>
<td>4</td>
<td>5</td>
<td>n/a</td>
<td>199</td>
</tr>
<tr>
<td>Newtown</td>
<td>5</td>
<td>24</td>
<td>19</td>
<td>164</td>
</tr>
<tr>
<td>Randwick</td>
<td>5</td>
<td>7</td>
<td>16</td>
<td>127</td>
</tr>
</tbody>
</table>
<p>As an Optus customer, I can personally vouch for its above average rankings in the CBD. As long as I don’t stray too far from the centre of Sydney, I get full 2G reception on my Palm Centro, full 3G reception on my iPhone 4 and surprisingly zippy data speeds even when the latter is being used as a tethered modem.</p>
<p>Unfortunately, this table also serves to demonstrate how spotty their coverage can be even just a few dozen kilometres from the centre of the largest city in Australia. For someone who’s used to being in Singapore where I can get a full 3G signal in a lift shaft, this is quite jarring!</p>
<p><img src="https://rubenerd.com/files/uploads/photo.pringles.jpg" alt="Mini Pringles cans" style="height:200px; width:472px" class="transparent" /></p>
<h3>Jarring? I thought they used Pringles cantennas</h3>
<p>Get it… jarring? Cans? Jars? See, not only was that joke terrible in its own right, but that photo I included above depicts Pringles cans that are of insufficient length (that’s what SHE said) to create a long range cantenna, rendering my joke even less entertaining. But I digress.</p>
<p>Case in point with regards to spotty Pringles, I mean coverage: our suburb of Earlwood. Despite the surrounding Kingsgrove and Bardwell Park areas getting fairly average coverage, 3G data speeds are painfully slow, dropped calls are a regular occurrence, and at times both my Centro and iPhone 4 find it difficult to even locate a network signal!</p>
<p>A spokewomen for Optus who goes by the name of Simone Bergholcs was upbeat about the findings from this survey:</p>
<blockquote><p>&quot;Our overall network investment positions Optus as the only carrier capable of challenging the incumbent telco’s network on both coverage and speed,&quot; a spokeswoman [for Optus], Simone Bergholcs, said.</p>
</blockquote>
<p>I already said her name was Simone Bergholics, geez.</p>
<p>I would encourage her company to look at the study as as proof that while they’re in an enviable position compared to their competition, they still have a lot of work to do! Australia’s internet and phone networks are pretty poor compared to much of the developed (and even some of the developing) world, so its not as if saying you’re better or as good as… crap… doesn’t magically make you good. It makes you comparatively good. Like a boss. Or a can of Pringles.</p>
<p>I hope their SingTel masters use some of the profits they’re generating to improve their subsidiary’s network. Just saying!</p>
<p>On an unrelated note, I’m hungry.</p>
 
