---
title: 'Internet Explorer IQ' 
date: "2011-08-04T09:44:38+10:00"
year: "2011"
category: Software
tag:
- chrome
- firefox
- hoaxes
- infocomm
- microsoft
- postaday2011
- safari
- webkit
- windows 
location: sydney
---
<p>That silly story that Internet Explorer users have lower IQs than others may have obviously been a hoax, but even comical exaggerations need a kernel of truth to them to be funny, however small such a kernel is. A <em>microkernel</em>, if you will.</p>
<h3>I see your Linux, raise you a Mach</h3>
<p>For those who haven’t seen the story, a report recently surfaced and went viral that Internet Explorer users have a lower IQ than those who use competing browsers. Opera users were graphed as being the most intelligent, and IE6 users the least.</p>
<p>The story had all the hallmarks of a successful viral campaign. The story exploited existing preconceptions about people who refuse to move to newer versions of IE or to more standard compliant browsers, and successfully played on the anger and frustration web designers and developers feel when having to bend over backwards to accommodate Microsoft’s browsers. All the story needed to be perfect was a couple of quotes from a mental healthcare professional working in Minnesota.</p>
<p style="font-style:italic;"><cite>Photo of the Mayo Clinic by <a href="https://secure.wikimedia.org/wikipedia/commons/wiki/User:Nephron">Nephron</a> on <a href="https://secure.wikimedia.org/wikipedia/commons/wiki/File:Mayo_MN_Gonda_3884cp.jpg">Wikimedia Commons</a></cite></p>
<p><img src="https://rubenerd.com/files/uploads/500px-Mayo_MN_Gonda_3884cp.jpg" alt="Photo of the Mayo Clinic, by Nephron." style="height:245px; width:500px;" /></p>
<h3>Wasn’t Alexander Downer from Mayo?</h3>
<p>As you probably did too, I <a href="https://twitter.com/#!/Rubenerd/status/98657801408233472">didn’t buy the story</a> from the start, but it did get me thinking. We all know IQ is as effective at gauging intelligence as the BMI is at calculating your health (Adolphe Quetelet would probably have endorsed Atkins), but what does browser use say about the person using it?</p>
<p>Since IBM handed Microsoft their monopoly in the early 1990s, and since Microsoft decided to illegally leverage their clout to drive browser competitors out of business, most internet users accessed sites through a flavour of Internet Explorer. That’s now changing, on three fronts:</p>
<ol>
<li>Since Firefox (arguably) ignited the second browser wars and Microsoft realised they were no longer able to rest on their laurels and stifle the growth of online applications that posed a competitive threat to their expensive desktop software, most technically advanced users have jumped ship to Gecko and Webkit.<p></p></li>
<li>Windows, the system that Microsoft used to move people to IE, is under threat on the consumer desktop. The profitable, high end market has been secured by Apple now, and technically advanced users run flavours of [GNU/]Linux. Neither of these platforms run IE natively; at least not any more!<p></p></li>
<li>In the mobile space, the fleeting dominance Windows Mobile and Pocket Internet Explorer had is also over, and their efforts to break out of this rut are largely being ignored in the face of iOS and Android devices.<p></p></li>
</ol>
<p><img src="https://rubenerd.com/files/uploads/Webkit_Logo.png" alt="WebKit logo" style="height:174px; width:215px; padding:30px 0;" class="transparent" /><img src="https://rubenerd.com/files/uploads/anime.firefoxtan.270233.png" alt="Firefox-tan" style="height:233px; width:270px;" class="transparent" /></p>
<h3>The slip is the dip</h3>
<p>For all but the most die hard Microsoft fans, it’s pretty obvious to us what’s happening here. With the high end and tech savvy markets slipping away from them, users of Internet Explorer now mostly consists of those for whom the blue e is &quot;the internet&quot; because it happened to come with their cut throat priced beige box, or for those who have no choice on their business machines.</p>
<p>While Microsoft’s sudden change of heart with regards to standards has convinced a few to move back, for others its <a href="//rubenerd.com/internet-explorer-9/">too little, too late</a>. It’s hard to find a nerd now not running either Firefox or Chrome, and to a lesser extent Safari and Opera. Web stats on many high profile technical sites are all being reported as favouring these browsers. Not to put too fine a point on this, but those who claim otherwise are ignorant of this, wilfully or otherwise.</p>
<p>What browser a person uses now says nothing about their IQ, but its a safe bet it speaks to their technical proficiency (knowing of alternative browsers, running [GNU/]Linux) or income (Apple hardware), something advertisers might be very interested in.</p>
 
