---
title: 'I got fourteen new iPod nano watches today!' 
date: "2011-10-05T11:10:57+10:00"
year: "2011"
category: Hardware 
tag:
- apple
- infocomm
- ipod
- ipod-nano
- ipod-nano-watch
- postaday2011 
location: sydney
---

<p><img src="https://rubenerd.com/files/2011/my-new-ipod-nano-watch_6213969024_o@1x.jpg" alt="watch" srcset="https://rubenerd.com/files/2011/my-new-ipod-nano-watch_6213969024_o@1x.jpg 1x, https://rubenerd.com/files/2011/my-new-ipod-nano-watch_6213969024_o@2x.jpg 2x" style="width:500px; height:373px;" /></p>
<p>While the iPhone 4S is intriguing, I was most excited to get my hands on the newly announced iPod nano 1.2 firmware which includes fourteen more watch faces, for a total of sixteen. Clearly enough people are using their nanos as watches <a href="//rubenerd.com/files/uploads/photo.mine.birthday25.nanowatch.jpg">as I am</a>!</p>
<p>In typical Apple style, all the new font faces are absolutely gorgeous. I feel like <a title="Sunday 27th March 2011: A quarter century of Ruben Schadeyness" href="//rubenerd.com/my-25th/">it&#39;s my birthday</a> all over again!</p>
 
