---
title: 'It’s the Opal card!' 
date: "2011-09-14T10:55:11+10:00"
year: "2011"
category: Thoughts 
tag: 
- flickr-photos
- postaday2011
- public-transport
- sydney 
location: sydney
---
<p><img src="https://rubenerd.com/files/2011/6146895336_1108d410fc_o@1x.jpg" srcset="https://rubenerd.com/files/2011/6146895336_1108d410fc_o@1x.jpg 1x, https://rubenerd.com/files/2011/6146895336_1108d410fc_o@2x.jpg 2x" alt="Public transport cards" style="width:500px; height:334px;" /></p>
<p>Speaking of <a href="//rubenerd.com/tangara-yellow/" title="Tuesday 13th September 2011: Railfans fixate on stuff like this">trains</a>, it seems Sydney is taking another shot at a contactless stored valued public transport card, and it finally has a name!</p>
<p><cite>Photo by this <a href="https://www.flickr.com/photos/rubenerd/6146895336/" title="Public transport cards by rubenerd, on Flickr">rather dodgy fellow on Flickr</a></cite>.</p>
<h3>EZLink cards make sounds like supermarket checkouts</h3>
<p>I only just recently moved to Sydney, but was already well aware of ticketing problems here having studied the farce in high school commerce class. HSC commerce class taken abroad, ironically enough ;).</p>
<p>Promised in time for the Olympic games in 2000, public transport in Sydney was supposed to have an integrated contactless stored value card for trains, buses and ferries, along with a spiffy new logo they could have used an <a href="http://en.wikipedia.org/wiki/Homer_the_Vigilante">episode of The Simpsons</a> to promote. Unfortunately, a series of legal squabbles over who should develop it, software problems, details of its operation, privacy concerns and usual state government ineptitude killed the project. </p>
<p>These smart cards aren&#39;t new. In the last decade Hong Kong, London and Singapore to name a few have implemented Octopus, Oyster and EZLing card systems respectfully, and most recently Canberra &#8212; a city with a fraction of the population and resources of Sydney &#8212; has adopted their own.</p>
<p><img src="https://rubenerd.com/files/uploads/logo.tcard.png" alt="" style="height:114px; width:147px;" class="transparent" /></p>
<h3>Take two!</h3>
<p>As of 2011 we still use paper cards in Sydney, though apparently <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Opal_card">this is about to change</a>:</p>
<blockquote><p>The Opal card is the name of the contactless smartcard ticketing system that is planned to be introduced on public transport in Sydney by 2012. The smart card is expected to replace the existing Automated Fare Collection System on all CityRail, Sydney Buses, Western Sydney Buses, Sydney Ferries and Newcastle Buses &#038; Ferries services along with incorporating all private-sector bus and ferry operators into the integrated ticketing system.</p></blockquote>
<p>What&#39;s important now though is the card finally has a name as of yesterday: <a href="http://www.transport.nsw.gov.au/sites/default/files/releases/110913_media_release_minister_announces_name_of_ets_will_be_opal.pdf">The Opal Card</a>. When asking for names, I submitted &quot;late&quot;. Oh well, can&#39;t win them all.</p>
<h3>Yeah, so?</h3>
<p>As a public transport advocate and aficionado, I&#39;m a completely impartial source when I claim contactless stored value cards are great because:</p>
<ul>
<li>travellers don’t have to purchase tickets on a regular basis</li>
<li>the system calculates fares as they’re needed, rather than travellers having to calculate before buying each ticket</li>
<li>they save us from masses of dead paper tickets strewn everywhere</li>
<li>they allow speedier validation which helps get people off buses and through stations more quickly</li>
</ul>
<p>Of course, the downside of such a system is the movement of people can be more easily tracked, though this can be somewhat mitigated through the purchase of the cards with cash, and by making some nonsensical trips every now and then to places you wouldn&#39;t normally frequent. It&#39;s a great excuse to explore :).</p>
<p>Anyway, with plans showing a rollout for 2012 for ferries and with other modes of public transport soon following, I predict we&#39;ll have our new ticketing system by around 2035, give or take a couple of years for elections and their effect on political priorities. Not that I&#39;m cynical or anything!</p>
 
