---
title: 'My brand new KDE shirt of awesome!' 
date: "2011-09-07T10:28:19+10:00"
year: "2011"
category: Software
tag:
- clothes
- freewear
- infocomm
- kde
- postaday2011
- shopping 
location: sydney
---

<p><img src="https://rubenerd.com/files/2011/my-kde-shirt-arrived_6123001355_o@1x.jpg" alt="My KDE shirt arrived!" srcset="https://rubenerd.com/files/2011/my-kde-shirt-arrived_6123001355_o@1x.jpg 1x, https://rubenerd.com/files/2011/my-kde-shirt-arrived_6123001355_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>Yesterday I finally received shipment of my KDE shirt from FreeWear!</p>
<p><!--oldmore--></p>
<h3>The shower</h3>
<p>Picture the scene if you will. My <a title="Saturday 27th August 2011: I'm back on KDE again" href="//rubenerd.com/back-on-kde-again/">resurgent interest in KDE</a> after several years of isolation lead me to desiring some form of KDE advertising device for my laptop. A sticker, for example. Alas, I resigned myself to the fact that anywhere that offered KDE stickers had to charge more for the shipping than the actual merchandise.</p>
<p>Which got me thinking… what could I purchase affordably but could still justify having shipped? The answer came to me in the shower, of all places: a shirt. The question was, where to get it?</p>
<p>The advocacy pages on the KDE website were surprisingly unhelpful, and while I got excited at <a href="http://dot.kde.org/2003/02/26/embroidered-kde-shirts-available-soon">this article on Dot KDE</a>, I quickly noticed the publication date. Other sites such as Zazzle had people selling KDE shirts, but I couldn&#39;t find anywhere on their pages that KDE would see any of their proceeds, which seemed a bit dodgy.</p>
<p>After searching for what seemed like an eternity, I laid eyes on the <a href="http://freewear.org/">FreeWear.org</a> site. Enamoured with their delicious pun, I ordered a shirt!</p>
<h3>The shirt</h3>
<p><img src="https://rubenerd.com/files/uploads/kde4logo.png" alt="KDE" style="height:128px; width:128px; float:right; margin:0 0 10px 20px;" class="transparent" /></p>
<p>FreeWear had several different KDE shirts, but I&#39;m a sucker for this shade of blue, so I had very little choice but to <a href="http://www.freewear.org/?page=show_item&#038;id=FW0058">get this one</a>! Pantone 229 is the second best colour after purple.</p>
<p>The shirt is emblazoned (can I employ heraldic language here?) with white KDE letters and the KDE gear logo along the front right hand side, and with a smaller KDE gear logo on the back. The shirt is in my second favourite colour (after purple of course!) and for something a little different, the collar and ends of the sleeves are white.</p>
<p><strong>The quality is amazing</strong>. So often I&#39;ve bought shirts printed in that fashion that feel like they&#39;ll crack up after being folded once or put through the wash, but the silk screening on this shirt is sharp and solid. That was [almost] some pretty spiffy apparel related alliteration there. </p>
<p>As an added bonus, they even shipped me four <a href="http://www.freewear.org/?page=show_item&#038;id=FW0060">circular KDE stickers</a> for free! I&#39;ve had free stickers from sites like Threadless before, but from a small site like this it was a pleasant surprise!</p>
<h3>The company</h3>
<p>FreeWear.org is a small operation based out of Spain that silk screens prints for various different free/open source projects by hand; they have photos on their site showing how they do it.</p>
<p>Most importantly, some of the proceeds from the sale of each item go towards the project you&#39;re choosing to advertise as you walk around. In my case, they made a &euro;3 donation to the KDE e.V. in Germany.</p>
<p>Now all I need to do is wait for the weather to warm up a little so I can wear it to uni and blow the minds of some of those crusty old professors who are probably still on CDE ;D</p>
 
