---
title: 'Krusty Burger' 
date: "2011-09-11T01:11:34+10:00"
year: "2011"
category: Media
tag:
- postaday2011
- quotes
- the-simpsons 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.simpsons0713.jpg" alt="George Bush Sr. at a Krusty drive-through window in The Simspsons." style="height:240px; width:320px;" /></p>

<blockquote>
<p>Ah let’s see now, what do you folks have here? Hmm, a Krusty Burger… that doesn’t sound too appetising…</p>
</blockquote>
 
