---
title: 'Links for 2011-07-17' 
date: "2011-07-17T10:00:58+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.menshealth.com.sg/ask-experts/what-do-i-need-know-when-driving-malaysia-first-time%3F">What do I need to know when driving in Malaysia for the first time? | Men&#039;s Health Singapore</a></dt>
<dd class="delicious-extended">Funny that people in Singapore think Malaysia is big ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/funny">funny</a> <a href="http://www.delicious.com/rubenerd/malaysia">malaysia</a> <a href="http://www.delicious.com/rubenerd/singapore">singapore</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://sorting-hat.com/housera.htm">Ravenclaw + sorting-hat.com +</a></dt>
<dd class="delicious-extended">I&#039;m allegedly from this house, having done several quizzes. I gave up on Harry Potter after the Order of The Phoenix was such a watered down disappointment, but still.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/harrypotter">harrypotter</a> <a href="http://www.delicious.com/rubenerd/books">books</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.twitpic.com/5qkokd">How I currently feel… on Twitpic</a></dt>
<dd class="delicious-extended">Just… wow.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/bakemonogatari">bakemonogatari</a> <a href="http://www.delicious.com/rubenerd/twitpic">twitpic</a> <a href="http://www.delicious.com/rubenerd/twitter">twitter</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://wijeyesakere.com/tech/tech/alpinemail.html">Alpine and Gmail</a></dt>
<dd class="delicious-extended">&quot;After looking through several websites on configuring Alpine, here is how I got it to work with Gmail via IMAP&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/alpine">alpine</a> <a href="http://www.delicious.com/rubenerd/email">email</a> <a href="http://www.delicious.com/rubenerd/howto">howto</a> <a href="http://www.delicious.com/rubenerd/guide">guide</a> <a href="http://www.delicious.com/rubenerd/osx">osx</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.washington.edu/alpine/tech-notes/installation.html">Alpine Technical Notes: Building and Installation</a></dt>
<dd class="delicious-extended">Now just need to figure out how to import Thunderbird/Mozilla mail into it, or if it&#039;s even possible.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/alpine">alpine</a> <a href="http://www.delicious.com/rubenerd/linux">linux</a> <a href="http://www.delicious.com/rubenerd/bsd">bsd</a> <a href="http://www.delicious.com/rubenerd/software">software</a> <a href="http://www.delicious.com/rubenerd/terminal">terminal</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://newsroom.uts.edu.au/news/2011/07/student-homes-away-from-home-with-all-the-mod-cons">Student homes away from home with &#039;all the mod cons&#039; | UTS News Room</a></dt>
<dd class="delicious-extended">Looks pretty fancy!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/studies">studies</a> <a href="http://www.delicious.com/rubenerd/sydney">sydney</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/uts">uts</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.todayonline.com/Sports/EDC110717-0000007/Thorpedo-targets-Sports-School">TODAYonline | Sports | Thorpedo targets Singapore Sports School</a></dt>
<dd class="delicious-extended">It&#039;s an absolute non-story, just shared because I didn&#039;t realise anyone outside Australia knew who he was.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/sport">sport</a> <a href="http://www.delicious.com/rubenerd/singapore">singapore</a> <a href="http://www.delicious.com/rubenerd/news">news</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.vim.org/scripts/script.php?script_id=1658">The NERD tree &#8211; A tree explorer plugin for navigating the filesystem : vim online</a></dt>
<dd class="delicious-extended">&quot;The NERD tree allows you to explore your filesystem and to open files and directories. It presents the filesystem to you in the form of a tree which you manipulate with the keyboard and/or mouse. It also allows you to perform<br />
simple filesystem operations.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/programming">programming</a> <a href="http://www.delicious.com/rubenerd/vim">vim</a> <a href="http://www.delicious.com/rubenerd/linux">linux</a> <a href="http://www.delicious.com/rubenerd/bsd">bsd</a> <a href="http://www.delicious.com/rubenerd/plugins">plugins</a> <a href="http://www.delicious.com/rubenerd/editors">editors</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.bbc.co.uk/news/world-europe-14135523">BBC News &#8211; Austrian driver&#039;s religious headgear strains credulity</a></dt>
<dd class="delicious-extended">Nicely done! &quot;An Austrian atheist has won the right to be shown on his driving-licence photo wearing a pasta strainer as religious headgear.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/funny">funny</a> <a href="http://www.delicious.com/rubenerd/religion">religion</a> <a href="http://www.delicious.com/rubenerd/atheism">atheism</a> <a href="http://www.delicious.com/rubenerd/austria">austria</a> <a href="http://www.delicious.com/rubenerd/europe">europe</a> <a href="http://www.delicious.com/rubenerd/news">news</a>)<p></p></dd>
</dl> 
