---
title: 'Links for 2011-08-11' 
date: "2011-08-11T09:58:39+10:00"
year: "2011"
category: Internet
tag:
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.dcerpc.org/">www.dcerpc.org &#8211; Home</a></dt>
<dd class="delicious-extended">&quot;DCE/RPC is an implementation of the Remote Procedure Call technology developed by the Open Group as part of the Distributed Computing Environment. DCE/RPC is most commonly used to interact with Windows network services.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/rpc">rpc</a> <a href="http://www.delicious.com/rubenerd/dce">dce</a> <a href="http://www.delicious.com/rubenerd/software">software</a> <a href="http://www.delicious.com/rubenerd/samba">samba</a> <a href="http://www.delicious.com/rubenerd/smb">smb</a> <a href="http://www.delicious.com/rubenerd/networking">networking</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://secure.wikimedia.org/wikipedia/en/wiki/File:Dover_Delaware.jpg">File:Dover Delaware.jpg &#8211; Wikipedia, the free encyclopedia</a></dt>
<dd class="delicious-extended">Beautiful</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/delaware">delaware</a> <a href="http://www.delicious.com/rubenerd/unitedstates">unitedstates</a> <a href="http://www.delicious.com/rubenerd/desktops">desktops</a> <a href="http://www.delicious.com/rubenerd/backgrounds">backgrounds</a> <a href="http://www.delicious.com/rubenerd/photos">photos</a> <a href="http://www.delicious.com/rubenerd/wikipedia">wikipedia</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://news.cnet.com/8301-17938_105-20084309-1/celebrating-30-years-of-ms-dos/">Celebrating 30 years of MS-DOS | Crave &#8211; CNET</a></dt>
<dd class="delicious-extended">I remember and use it for nostalgic reasons, but it really was  terrible OS!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/dos">dos</a> <a href="http://www.delicious.com/rubenerd/msdos">msdos</a> <a href="http://www.delicious.com/rubenerd/history">history</a> <a href="http://www.delicious.com/rubenerd/news">news</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://news.cnet.com/8301-10797_3-20089085-235/happy-20th-birthday-world-wide-web/">Happy 20th birthday, World Wide Web! | Gaming and Culture &#8211; CNET News</a></dt>
<dd class="delicious-extended">&quot;On August 6, 1991&#8211;20 years ago&#8211;Tim Berners-Lee posted a summary of a project for organizing information on a computer network using a &quot;web&quot; of hyperlinks: the &quot;WorldWideWeb,&quot; or W3. At the same time, the W3 made its debut as a publicly available service on the Internet.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/internet">internet</a> <a href="http://www.delicious.com/rubenerd/web">web</a> <a href="http://www.delicious.com/rubenerd/history">history</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.imaging-resource.com/PRODS/ND60/ND60A.HTM">Imaging Resource &#8211; Nikon D60 Camera &#8211; Full Review</a></dt>
<dd class="delicious-extended">Didn&#039;t realise just how large the Nikon kit lens for the D60 really was!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/photography">photography</a> <a href="http://www.delicious.com/rubenerd/reviews">reviews</a> <a href="http://www.delicious.com/rubenerd/cameras">cameras</a> <a href="http://www.delicious.com/rubenerd/nikon">nikon</a> <a href="http://www.delicious.com/rubenerd/nikond60">nikond60</a> <a href="http://www.delicious.com/rubenerd/dslr">dslr</a>)<p></p></dd>
</dl> 
