---
title: 'Links for 2011-05-02' 
date: "2011-05-02T10:00:58+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.ipaustralia.gov.au/trademarks/index.shtml">IP Australia : Trade Marks</a></dt>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/trademarks">trademarks</a> <a href="http://www.delicious.com/rubenerd/law">law</a> <a href="http://www.delicious.com/rubenerd/business">business</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.ipos.gov.sg/leftNav/tra/Application+Process+in+Singapore.htm">Trade Mark Application Process in Singapore</a></dt>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/trademarks">trademarks</a> <a href="http://www.delicious.com/rubenerd/law">law</a> <a href="http://www.delicious.com/rubenerd/business">business</a> <a href="http://www.delicious.com/rubenerd/singapore">singapore</a>)<p></p></dd>
</dl> 
