---
title: 'Links for 2011-03-10' 
date: "2011-03-10T11:00:29+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://css3pie.com/about/">About PIE – CSS3 PIE: CSS3 decorations for IE</a></dt>
<dd class="delicious-extended">&quot;PIE stands for Progressive Internet Explorer. It is an IE attached behavior which, when applied to an element, allows IE to recognize and display a number of CSS3 properties.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/css">css</a> <a href="http://www.delicious.com/rubenerd/ie">ie</a> <a href="http://www.delicious.com/rubenerd/microsoft">microsoft</a> <a href="http://www.delicious.com/rubenerd/browser">browser</a>)<p></p></dd>
</dl> 
