---
title: 'Links for 2011-07-27' 
date: "2011-07-27T10:00:00+10:00"
year: "2011"
category: Internet
tag:
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://mashable.com/2011/07/26/google-plus-icons/">10 Sleek Google+ Icons for Your Website or Blog</a></dt>
<dd class="delicious-extended">I&#039;d be happy with just the ability to have text links, but if icons rock your boat.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/google">google</a> <a href="http://www.delicious.com/rubenerd/google%2B">google+</a> <a href="http://www.delicious.com/rubenerd/art">art</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/icons">icons</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://raventools.com/blog/">Raven Blog</a></dt>
<dd class="delicious-extended">This site design had the potential to be clean and simple, yet eye catching. That said, of all these types of design agencies I&#039;ve seen, it&#039;s the least overdone.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/blogs">blogs</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/web">web</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://news.cnet.com/8301-30685_3-20079827-264/redesign-set-to-make-firefox-more-responsive/">Redesign set to make Firefox more responsive | Deep Tech</a></dt>
<dd class="delicious-extended">Firefox 4.x and 5.x (which is basically the 4.x stream before they got Google Chrome versioning-itis) have been snappy enough for me, but I suppose any improvement is a good thing.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/firefox">firefox</a> <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/cnet">cnet</a> <a href="http://www.delicious.com/rubenerd/browser">browser</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.nyaa.eu/?page=separate&amp;user=45878">THORAnime tracker</a></dt>
<dd class="delicious-extended">If I downloaded fansubs, THORAnime would be the ones I&#039;d get them from. Because I don&#039;t. Yeah, that&#039;s it.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/fansubs">fansubs</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://plus.google.com/112063946124358686266/posts">Tom Anderson &#8211; Google+</a></dt>
<dd class="delicious-extended">Tom from MySpace is on Google+, and he even has the same avatar! Almost nostalgic.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/google">google</a> <a href="http://www.delicious.com/rubenerd/google%2B">google+</a> <a href="http://www.delicious.com/rubenerd/myspace">myspace</a> <a href="http://www.delicious.com/rubenerd/nostalgia">nostalgia</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.crunchbase.com/product/google">Google+ | CrunchBase Profile</a></dt>
<dd class="delicious-extended">Glad to see at least CrunchBase doesn&#039;t have that garish new TechCrunch site theme!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/google%2B">google+</a> <a href="http://www.delicious.com/rubenerd/google">google</a>)<p></p></dd>
</dl> 
