---
title: 'Links for 2011-05-11' 
date: "2011-05-11T10:00:49+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.kokidokom.net/">Kokido Kombine :: Home</a></dt>
<dd class="delicious-extended">They host some great anime and tech blogs.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/blogs">blogs</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://live.gnome.org/GnomeKeyring/RunningDaemon">GnomeKeyring/RunningDaemon &#8211; GNOME Live!</a></dt>
<dd class="delicious-extended">Starting and stopping the Gnome Keyring Daemon, and technical details.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/gnome">gnome</a> <a href="http://www.delicious.com/rubenerd/howto">howto</a> <a href="http://www.delicious.com/rubenerd/guide">guide</a> <a href="http://www.delicious.com/rubenerd/opensource">opensource</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://live.gnome.org/GnomeGames">GnomeGames &#8211; GNOME Live!</a></dt>
<dd class="delicious-extended">There&#039;s a certain charm to these games, just like the old Windows Entertainment Packs of yesteryear :)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/gnome">gnome</a> <a href="http://www.delicious.com/rubenerd/opensource">opensource</a> <a href="http://www.delicious.com/rubenerd/games">games</a> <a href="http://www.delicious.com/rubenerd/fun">fun</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://colormesubbed.com/">ColorMeSubbed</a></dt>
<dd class="delicious-extended">Looks like the best fansub group doing The World God Only Knows.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/fansub">fansub</a> <a href="http://www.delicious.com/rubenerd/anime">anime</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://www.archlinux.de/?page=MirrorStatus">archlinux.de &#8211; Mirror-Status</a></dt>
<dd class="delicious-extended">Useful for tracking how long you can expect an update to reach you.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/linux">linux</a> <a href="http://www.delicious.com/rubenerd/archlinux">archlinux</a> <a href="http://www.delicious.com/rubenerd/mirrors">mirrors</a>)<p></p></dd>
</dl> 
