---
title: 'Links for 2011-09-03' 
date: "2011-09-03T09:59:05+10:00"
year: "2011"
category: Internet
tag:
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.p4a.jp/">ペルソナ４アニメーション 公式サイト</a></dt>
<dd class="delicious-extended">Persona4 is going to be made into an anime?</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/p4">p4</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.wickedlysmart.com/">Wickedly Smart</a></dt>
<dd class="delicious-extended">The JPEG artefacting and Comic Sans are what sell me.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/software">software</a> <a href="http://www.delicious.com/rubenerd/programming">programming</a> <a href="http://www.delicious.com/rubenerd/blogs">blogs</a> <a href="http://www.delicious.com/rubenerd/design">design</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://blogs.msdn.com/b/b8/archive/2011/08/26/improvements-in-windows-explorer.aspx">Improvements in Windows Explorer &#8211; Building Windows 8 &#8211; Site Home &#8211; MSDN Blogs</a></dt>
<dd class="delicious-extended">&quot;For love of Pete. How come Microsoft always ends up making their core apps look like the cockpit of an airplane?&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/fail">fail</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/microsoft">microsoft</a> <a href="http://www.delicious.com/rubenerd/windows">windows</a> <a href="http://www.delicious.com/rubenerd/usability">usability</a> <a href="http://www.delicious.com/rubenerd/ui">ui</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://tides.mobilegeographics.com/locations/5729.html?y=1970&amp;m=4&amp;d=9">Sembawang, Singapore</a></dt>
<dd class="delicious-extended">Ever wanted to know what the tides were in 1970?</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/data">data</a> <a href="http://www.delicious.com/rubenerd/maps">maps</a> <a href="http://www.delicious.com/rubenerd/geodata">geodata</a> <a href="http://www.delicious.com/rubenerd/singapore">singapore</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://site.volksusa.com/blog/2009/04/04/tengen-toppa-gurren-lagann-dollfie-dream-pre-order-now/">Tenshi-no-Sumika in LA Blog » Blog Archive » Tengen Toppa Gurren Lagann Dollfie Dream Pre-Order Now!</a></dt>
<dd class="delicious-extended">Oh well, two years late!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/gurrenlagann">gurrenlagann</a> <a href="http://www.delicious.com/rubenerd/shopping">shopping</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://goodmorningyesterday.blogspot.com/2011/08/wisma-indonesia-in-mid-1960s.html">Good Morning Yesterday: Wisma Indonesia (in the mid-1960’s)</a></dt>
<dd class="delicious-extended">I arrived in the mid 1990s, so Wisma Atria was there already.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/singapore">singapore</a> <a href="http://www.delicious.com/rubenerd/nostalgia">nostalgia</a> <a href="http://www.delicious.com/rubenerd/history">history</a> <a href="http://www.delicious.com/rubenerd/photos">photos</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://en.wikipedia.org/wiki/File:Thiruvananthapuram_Green_Road.jpg">File:Thiruvananthapuram Green Road.jpg &#8211; Wikipedia, the free encyclopedia</a></dt>
<dd class="delicious-extended">The roads in Kerala are better than in Sydney!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/photos">photos</a> <a href="http://www.delicious.com/rubenerd/transport">transport</a> <a href="http://www.delicious.com/rubenerd/roads">roads</a> <a href="http://www.delicious.com/rubenerd/india">india</a> <a href="http://www.delicious.com/rubenerd/asiapacific">asiapacific</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.o-s-a.de/english/geschichte6.html">OSA milestones: 1967-1974 – OSA GmbH &amp; Co. KG</a></dt>
<dd class="delicious-extended">They might want to update their photo of Singapore ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/singapore">singapore</a> <a href="http://www.delicious.com/rubenerd/photos">photos</a> <a href="http://www.delicious.com/rubenerd/business%2C">business,</a> <a href="http://www.delicious.com/rubenerd/bidness">bidness</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.diecastaircraftforum.com/1-400-scale-model-aircraft/28739-1-400-dragon-wings-dw55466-singapore-airlines-bae-aerospatiale-concorde.html#post270216">1:400 : Dragon Wings : DW55466 : Singapore Airlines : BAe / Aerospatiale Concorde &#8211; DA.C</a></dt>
<dd class="delicious-extended">Most people don&#039;t realise Singapore Airlines had a Concorde. Kinda.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/aviation">aviation</a> <a href="http://www.delicious.com/rubenerd/concorde">concorde</a> <a href="http://www.delicious.com/rubenerd/singaporeairlines">singaporeairlines</a> <a href="http://www.delicious.com/rubenerd/sia">sia</a> <a href="http://www.delicious.com/rubenerd/retro">retro</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.unica.com/australia/MRM-software.htm">Interactive Marketing, Campaign Management, Web Analytics &#8211; Unica</a></dt>
<dd class="delicious-extended">MRM software.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/mrm">mrm</a> <a href="http://www.delicious.com/rubenerd/ibm">ibm</a> <a href="http://www.delicious.com/rubenerd/commerce">commerce</a> <a href="http://www.delicious.com/rubenerd/business">business</a> <a href="http://www.delicious.com/rubenerd/bidness">bidness</a> <a href="http://www.delicious.com/rubenerd/uts">uts</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://en.wikipedia.org/wiki/File:BA_New_Club_World_seat.jpg">File:BA New Club World seat.jpg &#8211; Wikipedia, the free encyclopedia</a></dt>
<dd class="delicious-extended">Hey, that&#039;s my machine! :D</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/macbookpro">macbookpro</a> <a href="http://www.delicious.com/rubenerd/hardware">hardware</a> <a href="http://www.delicious.com/rubenerd/aeroplanes">aeroplanes</a> <a href="http://www.delicious.com/rubenerd/photos">photos</a> <a href="http://www.delicious.com/rubenerd/wikimediacommons">wikimediacommons</a> <a href="http://www.delicious.com/rubenerd/wikipedia">wikipedia</a> <a href="http://www.delicious.com/rubenerd/travel">travel</a>)<p></p></dd>
</dl> 
