---
title: 'Links for 2011-08-01' 
date: "2011-08-01T03:00:37+10:00"
year: "2011"
category: Internet
tag:
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="https://www.flickr.com/photos/chrisrudge/5024970662/">Mac Pro Farm | Flickr &#8211; Photo Sharing!</a></dt>
<dd class="delicious-extended">That&#039;s a lot of pro Apple kit!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/macpro">macpro</a> <a href="http://www.delicious.com/rubenerd/powermacg5">powermacg5</a> <a href="http://www.delicious.com/rubenerd/apple">apple</a> <a href="http://www.delicious.com/rubenerd/hardware">hardware</a> <a href="http://www.delicious.com/rubenerd/desktops">desktops</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.hackergate.co.uk/">Hackergate &#8211; How Steven Nott tried to raise the alarm in 1999</a></dt>
<dd class="delicious-extended">If this site is true (and @StephenFry seems to think it is) there are some grave questions to be answered.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/politics">politics</a> <a href="http://www.delicious.com/rubenerd/twitter">twitter</a> <a href="http://www.delicious.com/rubenerd/hackergate">hackergate</a> <a href="http://www.delicious.com/rubenerd/notw">notw</a> <a href="http://www.delicious.com/rubenerd/journalism">journalism</a> <a href="http://www.delicious.com/rubenerd/security">security</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://atheists.org/blog/2011/07/29/fox-news-facebook-page-on-911-cross-generates-death-threats-against-atheists">FOX News Facebook Page on 9/11 Cross Generates Death Threats Against Atheists « No God Blog</a></dt>
<dd class="delicious-extended">That&#039;s okay, it&#039;s politically correct to attack atheists like me.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/religion">religion</a> <a href="http://www.delicious.com/rubenerd/facebook">facebook</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://tweet.grader.com/rubenerd">rubenerd | Twitter Grader</a></dt>
<dd class="delicious-extended">Got a grade of 97.2 out of 100. Now if only I cared about these &quot;grading&quot; systems, I&#039;d be impressed!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/twitter">twitter</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.problogger.net/archives/2011/07/30/the-23-blogger-breeds-%E2%80%93-which-are-you/">The 23 Blogger Breeds—Which Are You?</a></dt>
<dd class="delicious-extended">I generally loathe these kinds of lists that seek to quash individuality and place people into easy to delineate buckets… but according to them I&#039;m most likely a #1: The Machine. Not sure if that&#039;s good or not.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/blogs">blogs</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.video-drivers.com/drivers/0/882.htm">Cirrus Logic CL-GD5446 driver &#8211; Cirrus Logic Video Drivers &#8211; k54462e.zip</a></dt>
<dd class="delicious-extended">Cirrus drivers here no longer work with 0.14.1 and Windows 3.1, or at least I haven&#039;t been able to get them to work.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/drivers">drivers</a> <a href="http://www.delicious.com/rubenerd/qemu">qemu</a> <a href="http://www.delicious.com/rubenerd/windows31">windows31</a> <a href="http://www.delicious.com/rubenerd/windows">windows</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.claunia.com/qemu/drivers/index.html">Drivers for QEMU devices</a></dt>
<dd class="delicious-extended">Cirrus drivers here no longer work with 0.14.1 and Windows 3.1, or at least I haven&#039;t been able to get them to work.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/drivers">drivers</a> <a href="http://www.delicious.com/rubenerd/windows">windows</a> <a href="http://www.delicious.com/rubenerd/qemu">qemu</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.tripcase.com/travelsmarter/df">TripCase &#8211; Get a Handle on Your Travel</a></dt>
<dd class="delicious-extended">Wish I&#039;d had that when I was living in two different places at once!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/travel">travel</a> <a href="http://www.delicious.com/rubenerd/iphone">iphone</a> <a href="http://www.delicious.com/rubenerd/software">software</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.abc.net.au/news/2011-07-31/commercial-jet-crashes-in-guyana/2817946">Commercial jet crashes in Guyana &#8211; ABC News (Australian Broadcasting Corporation)</a></dt>
<dd class="delicious-extended">Incredible. &quot;A Caribbean Airlines flight with 163 people on board crashed and snapped in half as it landed, causing several injuries but no deaths.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/video">video</a> <a href="http://www.delicious.com/rubenerd/aviation">aviation</a> <a href="http://www.delicious.com/rubenerd/disaster">disaster</a>)<p></p></dd>
</dl> 
