---
title: 'Links for 2011-04-06' 
date: "2011-04-06T10:00:38+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="https://wordpress.org/extend/themes/simplex">WordPress › simpleX « Free WordPress Themes</a></dt>
<dd class="delicious-extended">Beautiful. Simple! Clean.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/wordpress">wordpress</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/graphics">graphics</a> <a href="http://www.delicious.com/rubenerd/html">html</a> <a href="http://www.delicious.com/rubenerd/themes">themes</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://ascarter.net/2010/02/22/homebrew-for-os-x.html">coding in the rain · Homebrew for OS X</a></dt>
<dd class="delicious-extended">Nice summary for those of us turned off by the suggestion that Homebrew should be installed by a user taking ownership of /usr/local!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/osx">osx</a> <a href="http://www.delicious.com/rubenerd/mac">mac</a> <a href="http://www.delicious.com/rubenerd/apple">apple</a> <a href="http://www.delicious.com/rubenerd/ports">ports</a> <a href="http://www.delicious.com/rubenerd/homebrew">homebrew</a>)<p></p></dd>
</dl> 
