---
title: 'Links for 2011-04-08' 
date: "2011-04-08T10:01:09+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.toxel.com/inspiration/2010/12/20/simplified-packaging/">Simplified Packaging</a></dt>
<dd class="delicious-extended">&quot;Minimalist effect in the maximalist market&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/food">food</a> <a href="http://www.delicious.com/rubenerd/packaging">packaging</a>)<p></p></dd>
</dl> 
