---
title: 'Links for 2011-04-27' 
date: "2011-04-27T10:00:39+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://forrst.com/">Forrst is a community for developers and designers &#8211; Forrst</a></dt>
<dd class="delicious-extended">Seems like a good idea, even if the site design is another cliche bubblegum web 2.0 thing.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/code">code</a> <a href="http://www.delicious.com/rubenerd/programming">programming</a> <a href="http://www.delicious.com/rubenerd/web">web</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.amazon.com/Lies-Sarah-Palin-Untold-Relentless/dp/0312601867">Amazon.com: The Lies of Sarah Palin: The Untold Story Behind Her Relentless Quest for Power (9780312601867): Geoffrey Dunn: Books</a></dt>
<dd class="delicious-extended">&quot;The Lies of Sarah Palin is a journalistic tour de force that vividly reveals the Queen of the Tea Party movement as a vengeful and manipulative empress without clothes. This is the definitive book on Sarah Palin.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/politics">politics</a> <a href="http://www.delicious.com/rubenerd/books">books</a> <a href="http://www.delicious.com/rubenerd/unitedstates">unitedstates</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.lobotomo.com/products/FanControl/">Lobotomo Software: MoofMenu</a></dt>
<dd class="delicious-extended">&quot;Fan Control adjusts the minimum fan speed depending on the current CPU temperature. For safety, it leaves the original automatic fan speed control intact.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/mac">mac</a> <a href="http://www.delicious.com/rubenerd/osx">osx</a> <a href="http://www.delicious.com/rubenerd/software">software</a> <a href="http://www.delicious.com/rubenerd/macbook">macbook</a> <a href="http://www.delicious.com/rubenerd/apple">apple</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://safebooru.org/index.php?page=post&amp;s=view&amp;id=596510">Safebooru &#8211; Anime picture search engine! &#8211; kitsu chiri</a></dt>
<dd class="delicious-extended">Epic art, go the colour! :D</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/sayonara-zetsubou-sensei">sayonara-zetsubou-sensei</a> <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/art">art</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://twitpic.com/4ohfix">How to differentiate your Asian languages. on Twitpic</a></dt>
<dd class="delicious-extended">Cute, though knew it already ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/language">language</a> <a href="http://www.delicious.com/rubenerd/twitter">twitter</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.economist.com/blogs/gulliver/2011/04/express_buses?fsrc=scn/tw/te/bl/isthereamegabuseffect">Express buses: Is there a &quot;Megabus effect?&quot; | The Economist</a></dt>
<dd class="delicious-extended">&quot;The problem, as Businessweek&#039;s Ben Austen decribes it, is that express buses have so changed &quot;the way Americans—especially the young—travel&quot; that &quot;they may help kill plans for new railroads.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/travel">travel</a> <a href="http://www.delicious.com/rubenerd/railfan">railfan</a> <a href="http://www.delicious.com/rubenerd/railways">railways</a> <a href="http://www.delicious.com/rubenerd/hsr">hsr</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.engadget.com/2011/02/14/intel-shows-off-more-of-its-meego-tablet-ui-still-needs-lots-of/">Intel shows off more of its MeeGo Tablet UI, still needs lots of work &#8212; Engadget</a></dt>
<dd class="delicious-extended">Hope this goes somewhere, interface looks gorgeous and QML would be too much fun.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/tablets">tablets</a> <a href="http://www.delicious.com/rubenerd/intel">intel</a> <a href="http://www.delicious.com/rubenerd/meego">meego</a> <a href="http://www.delicious.com/rubenerd/qml">qml</a> <a href="http://www.delicious.com/rubenerd/qt">qt</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.salon.com/news/politics/war_room/2011/04/06/barbour_children/index.html">Haley Barbour doesn&#039;t care about born children &#8211; War Room &#8211; Salon.com</a></dt>
<dd class="delicious-extended">&quot;Mississippi leads the nation in almost everything that a state doesn&#039;t want to lead the nation in. Mississippi is the poorest state in the union, with the highest poverty rate and the lowest quality of life. And the state government is ineffective and oblivious when it isn&#039;t just plain corrupt.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/unitedstates">unitedstates</a> <a href="http://www.delicious.com/rubenerd/politics">politics</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.abc.net.au/news/stories/2011/04/26/3200564.htm">Greens fear return to temporary visas &#8211; ABC News (Australian Broadcasting Corporation)</a></dt>
<dd class="delicious-extended">&quot;Asylum seekers who commit criminal offences in detention are likely to be denied permanent visas in a move opponents say is a return to the temporary protection visas of the Howard government.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/humanrights">humanrights</a> <a href="http://www.delicious.com/rubenerd/johnhoward">johnhoward</a>)<p></p></dd>
</dl> 
