---
title: 'Links for 2011-08-04' 
date: "2011-08-04T09:59:20+10:00"
year: "2011"
category: Internet
tag:
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.lib.uts.edu.au/about-uts-library/location/opening-hours">Opening hours | UTS Library</a></dt>
<dd class="delicious-extended">Ironically, the library at UniSA was open later.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/uts">uts</a> <a href="http://www.delicious.com/rubenerd/sydney">sydney</a> <a href="http://www.delicious.com/rubenerd/studying">studying</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://official.fm/">Official.fm &#8211; Your music. Your way.</a></dt>
<dd class="delicious-extended">Looks great.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/music">music</a> <a href="http://www.delicious.com/rubenerd/audio">audio</a> <a href="http://www.delicious.com/rubenerd/socialnetworking">socialnetworking</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://matthewhatton.id.au/?p=850">The Rant-O-Matic » High Speed Rail – The Great Australian Pipe Dream</a></dt>
<dd class="delicious-extended">&quot;It’s an idea that has been kicked around for so long it’s basically become The Great Australian Pipe Dream TM&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/publictransport">publictransport</a> <a href="http://www.delicious.com/rubenerd/highspeedrail">highspeedrail</a> <a href="http://www.delicious.com/rubenerd/trains">trains</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/politics">politics</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.fileformat.info/info/unicode/block/miscellaneous_symbols/list.htm">Unicode Characters in the Miscellaneous Symbols Block</a></dt>
<dd class="delicious-extended">Useful chart showing random UTF dingbats.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/reference">reference</a> <a href="http://www.delicious.com/rubenerd/fonts">fonts</a> <a href="http://www.delicious.com/rubenerd/dingbats">dingbats</a> <a href="http://www.delicious.com/rubenerd/utf">utf</a> <a href="http://www.delicious.com/rubenerd/unicode">unicode</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.smh.com.au/nsw/teenager-safe-and-well-after-tenhour-bomb-ordeal-20110804-1ic0b.html">Mosman bomb &#8211; Sydney Morning Herald</a></dt>
<dd class="delicious-extended">&quot;Sydney police have safely resolved a situation in which an 18-year-old woman attached to what they thought could be a bomb.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/sydney">sydney</a> <a href="http://www.delicious.com/rubenerd/nsw">nsw</a> <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.cityrail.info/about/our_performance/otr_summary.jsp">CityRail &#8211; Our Performance</a></dt>
<dd class="delicious-extended">&quot;The graphs below track our on-time running in the suburban and intercity peaks for the last five business days.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/publictransport">publictransport</a> <a href="http://www.delicious.com/rubenerd/sydney">sydney</a> <a href="http://www.delicious.com/rubenerd/nsw">nsw</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/trains">trains</a>)<p></p></dd>
</dl> 
