---
title: 'Links for 2011-05-31' 
date: "2011-05-31T10:01:00+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.animepaper.net/gallery/pictures/anime/kimi_ga_nozomu_eien">Kimi ga Nozomu Eien pictures &#8211; Anime pictures &#8211; Pictures gallery &#8211; Anime Paper</a></dt>
<dd class="delicious-extended">They have a &quot;frenemies&quot; tag for anime as well? ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/kimiganozomueien">kimiganozomueien</a> <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/art">art</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://sourceforge.net/projects/bsdadminscripts/">BSD Administration Scripts | Download BSD Administration Scripts software for free at SourceForge.net</a></dt>
<dd class="delicious-extended">The original reason I got a SourceForge account! Then… subsequently changed my password for said SourceForce account.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/software">software</a> <a href="http://www.delicious.com/rubenerd/bsd">bsd</a> <a href="http://www.delicious.com/rubenerd/freebsd">freebsd</a> <a href="http://www.delicious.com/rubenerd/utilities">utilities</a> <a href="http://www.delicious.com/rubenerd/sysadmin">sysadmin</a>)<p></p></dd>
</dl> 
