---
title: 'Links for 2011-04-15' 
date: "2011-04-15T10:00:37+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://html5doctor.com/html-5-xml-xhtml-5/">HTML 5 + XML = XHTML 5 | HTML5 Doctor</a></dt>
<dd class="delicious-extended">Me too! &quot;I like the xhtml syntax. It’s how I learned. I’m used to lowercase code, quoted attributes and trailing slashes on elements like br and img. They make me feel nice and comfy, like a cup of Ovaltine and The Evil Dead on the telly.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/xhtml">xhtml</a> <a href="http://www.delicious.com/rubenerd/html5">html5</a> <a href="http://www.delicious.com/rubenerd/html">html</a> <a href="http://www.delicious.com/rubenerd/web">web</a> <a href="http://www.delicious.com/rubenerd/standards">standards</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://taplynx.com/">Build iPhone Apps, iPad Apps &amp; iPod Touch/iTouch Apps &#8211; iPhone Application Framework|Taplynx</a></dt>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/iphone">iphone</a> <a href="http://www.delicious.com/rubenerd/programming">programming</a> <a href="http://www.delicious.com/rubenerd/sdk">sdk</a> <a href="http://www.delicious.com/rubenerd/software">software</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.homepriceguide.com.au/?s_rid=rainbowstrip:fastestgrowingsubs">Home Price Guide &#8211; House &amp; Property Prices, Auction Results</a></dt>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/sydney">sydney</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.abc.net.au/unleashed/56470.html">Why are heads rolling at the ADFA? &#8211; The Drum Opinion (Australian Broadcasting Corporation)</a></dt>
<dd class="delicious-extended">What a crock. This passes as journalism?</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/abc">abc</a> <a href="http://www.delicious.com/rubenerd/australia">australia</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.bitchx.com/">BitchX IRC Client</a></dt>
<dd class="delicious-extended">Uuuuuuh yeah :)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/irc">irc</a> <a href="http://www.delicious.com/rubenerd/software">software</a> <a href="http://www.delicious.com/rubenerd/linux">linux</a> <a href="http://www.delicious.com/rubenerd/unix">unix</a> <a href="http://www.delicious.com/rubenerd/mac">mac</a> <a href="http://www.delicious.com/rubenerd/chat">chat</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://bugs.xampp.org/view.php?id=145">0000145: Mysql Starting error &#8211; XAMPP BUGS</a></dt>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/apache">apache</a> <a href="http://www.delicious.com/rubenerd/xampp">xampp</a> <a href="http://www.delicious.com/rubenerd/software">software</a> <a href="http://www.delicious.com/rubenerd/macosx">macosx</a> <a href="http://www.delicious.com/rubenerd/mysql">mysql</a> <a href="http://www.delicious.com/rubenerd/php">php</a> <a href="http://www.delicious.com/rubenerd/errors">errors</a> <a href="http://www.delicious.com/rubenerd/bugs">bugs</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://search.cpan.org/dist/HTML-Parser/">Gisle Aas / HTML-Parser &#8211; search.cpan.org</a></dt>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/perl">perl</a> <a href="http://www.delicious.com/rubenerd/programming">programming</a> <a href="http://www.delicious.com/rubenerd/cpan">cpan</a> <a href="http://www.delicious.com/rubenerd/parser">parser</a>)<p></p></dd>
</dl> 
