---
title: 'Links for 2011-07-28' 
date: "2011-07-29T12:00:10+10:00"
year: "2011"
category: Internet
tag:
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://twitpic.com/5vbvf9">McDonalds Wi-Fi Guide. Windows VS Mac</a></dt>
<dd class="delicious-extended">Says it all.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/mac">mac</a> <a href="http://www.delicious.com/rubenerd/windows">windows</a> <a href="http://www.delicious.com/rubenerd/wifi">wifi</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://net.tutsplus.com/tutorials/other/vim-essential-plugin-nerdtree/">Vim Essential Plugin: NERDTree | Nettuts+</a></dt>
<dd class="delicious-extended">Still my favourite extension for Vim.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/howto">howto</a> <a href="http://www.delicious.com/rubenerd/programming">programming</a> <a href="http://www.delicious.com/rubenerd/vim">vim</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://arstechnica.com/open-source/guides/2009/05/vim-made-easy-how-to-get-your-favorite-ide-features-in-vim.ars">Vim made easy: how to get your favorite IDE features in Vim</a></dt>
<dd class="delicious-extended">Nice guide, really got to try TagList.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/software">software</a> <a href="http://www.delicious.com/rubenerd/howto">howto</a> <a href="http://www.delicious.com/rubenerd/programming">programming</a> <a href="http://www.delicious.com/rubenerd/vim">vim</a>)<p></p></dd>
</dl> 
