---
title: 'Links for 2011-07-16' 
date: "2011-07-16T10:00:51+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://209.167.114.38/support/download/files_Archive/Index/display_drivers.htm">Retro Toshiba Display Drivers</a></dt>
<dd class="delicious-extended">Latest drivers are from 1997. For their machines from that time.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/libretto">libretto</a> <a href="http://www.delicious.com/rubenerd/hardware">hardware</a> <a href="http://www.delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://www.delicious.com/rubenerd/drivers">drivers</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.csd.toshiba.com/cgi-bin/tais/support/jsp/modelContent.jsp?ct=SB&amp;os=&amp;category=&amp;moid=1073769619&amp;rpn=PA1260U&amp;modelFilter=70CT&amp;selCategory=2756709&amp;selFamily=1073768659">Libretto 70CT Model Content Page</a></dt>
<dd class="delicious-extended">Official drivers page for the Toshiba 70CT. There are better ones, but these are the fall back.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/libretto">libretto</a> <a href="http://www.delicious.com/rubenerd/libretto70ct">libretto70ct</a> <a href="http://www.delicious.com/rubenerd/hardware">hardware</a> <a href="http://www.delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://www.delicious.com/rubenerd/drivers">drivers</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://pichipichibitchy.tumblr.com/post/1195797405/gender-bent-k-on">lynlotus:     genderbent mugi and yui ftw</a></dt>
<dd class="delicious-extended">I cosplayed as Genderbent Mugi :)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/art">art</a> <a href="http://www.delicious.com/rubenerd/tumblr">tumblr</a> <a href="http://www.delicious.com/rubenerd/k-on">k-on</a> <a href="http://www.delicious.com/rubenerd/keion">keion</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.particles.org/forums/viewtopic.php?f=3&amp;t=1140">Project: Retroputing ‹ View topic &#8211; FS: Toshiba Libretto 70CT</a></dt>
<dd class="delicious-extended">Nice comparison between the Libretto 70CT and an iPhone. Such a compact little machine, a decade before netbooks!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/libretto">libretto</a> <a href="http://www.delicious.com/rubenerd/libretto70ct">libretto70ct</a> <a href="http://www.delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://www.delicious.com/rubenerd/photos">photos</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.uwe-sieber.de/umbpci_e.html">UMBPCI &#8211; a hardware UMB driver for DOS and Win95</a></dt>
<dd class="delicious-extended">Ultimate low memory use replacement for DOS EMM386 on PCI hardware.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/dos">dos</a> <a href="http://www.delicious.com/rubenerd/drivers">drivers</a> <a href="http://www.delicious.com/rubenerd/umbpci">umbpci</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.mdgx.com/umb.htm#HIR">MDGx Complete UMBPCI.SYS Guide</a></dt>
<dd class="delicious-extended">Excellent guide on maximising conventional memory in DOS, provided your machine has the luxury of a PCI bus ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/dos">dos</a> <a href="http://www.delicious.com/rubenerd/umbpci">umbpci</a> <a href="http://www.delicious.com/rubenerd/drivers">drivers</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://sunsite.ualberta.ca/Documentation/Misc/perl-5.6.1/jpl/docs/Tutorial.html">Tutorial &#8211; Perl and Java</a></dt>
<dd class="delicious-extended">&quot;[..] we are generating Java opcodes by walking Perl&#039;s syntax tree. This is very different from converting Perl to Java. It&#039;s a lot easier!&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/howto">howto</a> <a href="http://www.delicious.com/rubenerd/programming">programming</a> <a href="http://www.delicious.com/rubenerd/perl">perl</a> <a href="http://www.delicious.com/rubenerd/java">java</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://today.java.net/pub/a/today/2005/07/14/sleep.html">Perl on Java? An Introduction to the Sleep Language | Java.net</a></dt>
<dd class="delicious-extended">&quot;The most popular scripting languages are available in some form for the Java platform. [..] Sleep is a Java-based scripting language heavily inspired by Perl.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/programming">programming</a> <a href="http://www.delicious.com/rubenerd/perl">perl</a> <a href="http://www.delicious.com/rubenerd/java">java</a> <a href="http://www.delicious.com/rubenerd/sleeplanguage">sleeplanguage</a>)<p></p></dd>
</dl> 
