---
title: 'Links for 2011-04-24' 
date: "2011-04-24T10:00:43+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://dl.dropbox.com/u/1499227/shaun.html">shaun&#039;s website</a></dt>
<dd class="delicious-extended">Quite possible the greatest website ever.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/shaunlorrain">shaunlorrain</a> <a href="http://www.delicious.com/rubenerd/twitter">twitter</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/gifs">gifs</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.theotaku.com/wallpapers/view/211990/merry_nightmare/">Merry Nightmare by saiki2</a></dt>
<dd class="delicious-extended">If only it were larger for a full screen desktop background!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/merrynightmare">merrynightmare</a> <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/yumekuimerry">yumekuimerry</a> <a href="http://www.delicious.com/rubenerd/art">art</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.guardian.co.uk/technology/2011/apr/21/android-phones-record-user-locations?CMP=twt_gu">Android phones record user-locations according to research | Technology | The Guardian</a></dt>
<dd class="delicious-extended">Seems MeeGo is the only option, and its being made by a sinking ship. Just our luck.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/android">android</a> <a href="http://www.delicious.com/rubenerd/phones">phones</a> <a href="http://www.delicious.com/rubenerd/google">google</a> <a href="http://www.delicious.com/rubenerd/privacy">privacy</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://itunes.apple.com/us/album/the-falafel-album-ep/id390314529#">The Falafel Album &#8211; EP by GoRemy &#8211; Download The Falafel Album &#8211; EP on iTunes</a></dt>
<dd class="delicious-extended">Saudis in Audis and the Metro Song are my favourites :). Despite the stronger Aussie dollar we still have to pay double though.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/music">music</a> <a href="http://www.delicious.com/rubenerd/goremy">goremy</a> <a href="http://www.delicious.com/rubenerd/funny">funny</a> <a href="http://www.delicious.com/rubenerd/comedy">comedy</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.animetake.com/yumekui-merry-episode-8/">Download Yumekui Merry Episode 8 – Anime Take</a></dt>
<dd class="delicious-extended">Who did that artwork? Its amazing!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/art">art</a> <a href="http://www.delicious.com/rubenerd/graphics">graphics</a> <a href="http://www.delicious.com/rubenerd/anime">anime</a> <a href="http://www.delicious.com/rubenerd/yumekuimerry">yumekuimerry</a> <a href="http://www.delicious.com/rubenerd/merrynightmare">merrynightmare</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://i.imgur.com/YYxn4.jpg">Jesus Venn DiagramYYxn4.jpg (JPEG Image, 342×320 pixels)</a></dt>
<dd class="delicious-extended">Zombie, Dracula, Frankenstein… ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/religion">religion</a> <a href="http://www.delicious.com/rubenerd/funny">funny</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://www.flickr.com/photos/mariancall/5612315891/in/photostream">Poster for Fundraiser 2011 | Flickr &#8211; Photo Sharing!</a></dt>
<dd class="delicious-extended">Finally got a Marian Call poster! She&#039;s awesome :)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/mariancall">mariancall</a> <a href="http://www.delicious.com/rubenerd/art">art</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/posters">posters</a> <a href="http://www.delicious.com/rubenerd/music">music</a> <a href="http://www.delicious.com/rubenerd/independentmusic">independentmusic</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://code.google.com/p/flukeformac/">flukeformac &#8211; Play FLACs in iTunes &#8211; Google Project Hosting</a></dt>
<dd class="delicious-extended">&quot;Fluke is a small utility for Mac OS that lets you play FLAC files right within iTunes.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/itunes">itunes</a> <a href="http://www.delicious.com/rubenerd/quicktime">quicktime</a> <a href="http://www.delicious.com/rubenerd/audio">audio</a> <a href="http://www.delicious.com/rubenerd/flac">flac</a> <a href="http://www.delicious.com/rubenerd/apple">apple</a> <a href="http://www.delicious.com/rubenerd/macosx">macosx</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.macworld.com/article/142096/2009/08/play_wmaoggflac_itunes.html">Play .wma, Ogg, and FLAC files in iTunes | iPod &amp; Entertainment | Playlist | Macworld</a></dt>
<dd class="delicious-extended">Wonder if there&#039;s a way to do this for FLAC &gt; Apple Lossless?</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/itunes">itunes</a> <a href="http://www.delicious.com/rubenerd/music">music</a> <a href="http://www.delicious.com/rubenerd/audio">audio</a> <a href="http://www.delicious.com/rubenerd/apple">apple</a> <a href="http://www.delicious.com/rubenerd/howto">howto</a> <a href="http://www.delicious.com/rubenerd/flac">flac</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.digitimes.com/news/a20110421PD211.html">Intel, Micron open US$3 billion NAND flash facility in Singapore</a></dt>
<dd class="delicious-extended">Micron are huge in Singapore, as are AMD. Interesting to see Intel was part of the mix too.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/singapore">singapore</a> <a href="http://www.delicious.com/rubenerd/flashmemory">flashmemory</a> <a href="http://www.delicious.com/rubenerd/memory">memory</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.youshouldtravel.com/specials/flights_singapore.html">IKB Travel &#8211; Singapore</a></dt>
<dd class="delicious-extended">Go the old photo!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/singapore">singapore</a> <a href="http://www.delicious.com/rubenerd/retro">retro</a> <a href="http://www.delicious.com/rubenerd/1980s">1980s</a> <a href="http://www.delicious.com/rubenerd/photos">photos</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.pub.gov.sg/Marina/Pages/default.aspx">Marina Barrage</a></dt>
<dd class="delicious-extended">&quot;Built across the mouth of the Marina Channel, the Marina Barrage creates Singapore’s 15th reservoir, and the first in the heart of the city. With a catchment area of 10,000 hectares, or one-sixth the size of Singapore, the Marina catchment is the island’s largest and most urbanised catchment.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/singapore">singapore</a> <a href="http://www.delicious.com/rubenerd/architecture">architecture</a> <a href="http://www.delicious.com/rubenerd/design">design</a> <a href="http://www.delicious.com/rubenerd/water">water</a>)<p></p></dd>
</dl> 
