---
title: 'Links for 2011-06-30' 
date: "2011-06-30T10:00:51+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.pocket-lint.com/news/40643/nokia-n9-meego-phone-hands-on">Nokia N9 hands-on &#8211; Pocket-lint</a></dt>
<dd class="delicious-extended">Absolutely gorgeous! I want!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/MeeGo">MeeGo</a> <a href="http://www.delicious.com/rubenerd/nokia">nokia</a> <a href="http://www.delicious.com/rubenerd/nokian9">nokian9</a> <a href="http://www.delicious.com/rubenerd/hardware">hardware</a> <a href="http://www.delicious.com/rubenerd/phones">phones</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.pocket-lint.com/news/40731/apple-is-in-big-trouble">&#039;Apple in big trouble &#8211; can&#039;t survive&#039; &#8211; Pocket-lint</a></dt>
<dd class="delicious-extended">Can I see the source code for the controllers in your engines then please? ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/funny">funny</a> <a href="http://www.delicious.com/rubenerd/overhishead">overhishead</a> <a href="http://www.delicious.com/rubenerd/business">business</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://camendesign.com/windows/stop_writing_software">windows · A List of People Who Need to Stop Writing Software</a></dt>
<dd class="delicious-extended">Thank [deity] on the Mac and *nix side we&#039;ve largely been spared from this.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/software">software</a> <a href="http://www.delicious.com/rubenerd/programming">programming</a> <a href="http://www.delicious.com/rubenerd/windows">windows</a> <a href="http://www.delicious.com/rubenerd/crapware">crapware</a> <a href="http://www.delicious.com/rubenerd/boatware">boatware</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.bloomberg.com/news/2011-06-24/generic-tuberculosis-medicine-shows-promise-for-reversing-type-1-diabetes.html">Generic Tuberculosis Medicine Shows Promise for Reversing Type 1 Diabetes &#8211; Bloomberg</a></dt>
<dd class="delicious-extended">Would be great, if it works. My family has a history of Type I diabetes, but my father and I seem to have dodged the bullet.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/health">health</a> <a href="http://www.delicious.com/rubenerd/diabetes">diabetes</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.antipope.org/charlie/blog-static/2011/06/reality-check-1.html">Three arguments against the singularity &#8211; Charlie&#039;s Diary</a></dt>
<dd class="delicious-extended">Best argument I&#039;ve read against the concept. I&#039;ve never bought the idea of the singularity, though it seems most people into the subject think its all but a certainty.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/tech">tech</a> <a href="http://www.delicious.com/rubenerd/science">science</a> <a href="http://www.delicious.com/rubenerd/singularity">singularity</a>)<p></p></dd>
</dl> 
