---
title: 'Links for 2011-07-15' 
date: "2011-07-15T10:09:55+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://sydney-harbour-bridge.bos.nsw.edu.au/">Sydney Harbour Bridge &#8211; BOS</a></dt>
<dd class="delicious-extended">More of a studying site, but still interesting.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/australia">australia</a> <a href="http://www.delicious.com/rubenerd/history">history</a> <a href="http://www.delicious.com/rubenerd/sydney">sydney</a> <a href="http://www.delicious.com/rubenerd/studies">studies</a> <a href="http://www.delicious.com/rubenerd/engineering">engineering</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.chron.com/disp/story.mpl/chronicle/7645662.html">Uncertainty starts to set in as the shuttle&#039;s roar fades | Chronicle | Chron.com &#8211; Houston Chronicle</a></dt>
<dd class="delicious-extended">No kidding. Sad, really sad.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/space">space</a> <a href="http://www.delicious.com/rubenerd/nasa">nasa</a>)<p></p></dd>
</dl> 
