---
title: 'Links for 2011-07-06' 
date: "2011-07-06T10:00:41+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.goodreads.com/author/quotes/7963.P_G_Wodehouse">Goodreads: P.G. Wodehouse Quotes</a></dt>
<dd class="delicious-extended">&quot;I am Psmith,&quot; said the old Etonian reverently. &quot;There is a preliminary P before the name. This, however, is silent. Like the tomb. Compare such words as ptarmigan, psalm, and phthisis.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/literature">literature</a> <a href="http://www.delicious.com/rubenerd/comedy">comedy</a> <a href="http://www.delicious.com/rubenerd/wodehouse">wodehouse</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://squiby.net/">SQUIBY &#8211; Welcome to Squiby</a></dt>
<dd class="delicious-extended">An artists, non-Disney version of NeoPets? Might need to tell my sister about this!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/internet">internet</a> <a href="http://www.delicious.com/rubenerd/art">art</a> <a href="http://www.delicious.com/rubenerd/cute">cute</a> <a href="http://www.delicious.com/rubenerd/games">games</a>)<p></p></dd>
</dl> 
