---
title: 'Links for 2011-07-07' 
date: "2011-07-07T10:04:15+10:00"
year: "2011"
category: Internet
tag:
- delicious
- links 
location: sydney
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.geek.com/articles/geek-pick/google-cheat-sheet-offers-helpful-tips-and-tricks-2011075/">Google+ Cheat Sheet offers helpful tips and tricks | Geek.com</a></dt>
<dd class="delicious-extended">I did formatting by accident before I found this.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/tips">tips</a> <a href="http://www.delicious.com/rubenerd/google%2B">google+</a> <a href="http://www.delicious.com/rubenerd/socialnetworking">socialnetworking</a> <a href="http://www.delicious.com/rubenerd/google">google</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://blogs.telegraph.co.uk/news/peteroborne/100095686/david-cameron-is-in-the-sewer-because-of-his-news-international-friends/">David Cameron is in the sewer because of his News International friends – Telegraph Blogs</a></dt>
<dd class="delicious-extended">Even the conservative Telegraph on the UK is ragging on David Cameron over the #NOTW scandal. Incredible.</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/news">news</a> <a href="http://www.delicious.com/rubenerd/politics">politics</a> <a href="http://www.delicious.com/rubenerd/uk">uk</a> <a href="http://www.delicious.com/rubenerd/newscorporation">newscorporation</a> <a href="http://www.delicious.com/rubenerd/corruption">corruption</a> <a href="http://www.delicious.com/rubenerd/journalism">journalism</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.tuaw.com/2011/07/06/carrying-your-apple-tv-in-style/?utm_medium=referral&amp;utm_source=pulsenews">Carrying your Apple TV in style | TUAW &#8211; The Unofficial Apple Weblog</a></dt>
<dd class="delicious-extended">&quot;I&#039;m not sure why you need to haul your Apple TV around [..], but if you do find yourself moving Apple&#039;s set-top box often, you might as well do it in style, right?&quot; Aw yeah :)</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/apple">apple</a> <a href="http://www.delicious.com/rubenerd/appletv">appletv</a> <a href="http://www.delicious.com/rubenerd/hardware">hardware</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.hardwarezone.com.sg/tech-news/view/189998">RIM Suffers Further Decline in U.S Smartphone Market Share &#8211; HardwareZone.com</a></dt>
<dd class="delicious-extended">Both Android and iOS pushing ahead, if you&#039;ll pardon the pun. Where&#039;s my beloved MeeGo and webOS?</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/blackberry">blackberry</a> <a href="http://www.delicious.com/rubenerd/android">android</a> <a href="http://www.delicious.com/rubenerd/ios">ios</a> <a href="http://www.delicious.com/rubenerd/iphone">iphone</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://ant.sillydog.org/blog/2007/001785.php">AntBlog701: Hello Windows 95</a></dt>
<dd class="delicious-extended">I didn&#039;t know Microsoft bundled Plus! with Windows 95! I loved Plus!, it had those system themes ^_^</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/retro">retro</a> <a href="http://www.delicious.com/rubenerd/abandonware">abandonware</a> <a href="http://www.delicious.com/rubenerd/windows95">windows95</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://lincity-ng.berlios.de/wiki/index.php/Main_Page">LincityWiki</a></dt>
<dd class="delicious-extended">Huge SimCity fan since I was a kid, maybe I should check this out!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/software">software</a> <a href="http://www.delicious.com/rubenerd/linux">linux</a> <a href="http://www.delicious.com/rubenerd/simcity">simcity</a> <a href="http://www.delicious.com/rubenerd/lincity">lincity</a> <a href="http://www.delicious.com/rubenerd/games">games</a> <a href="http://www.delicious.com/rubenerd/simulators">simulators</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://richarddawkins.net/articles/642037-update-a-few-more-photos-richard-dawkins-celebrates-4th-of-july-in-jackson-hole-wyoming">[UPDATE &#8211; a few more photos] Richard Dawkins celebrates 4th of July in Jackson Hole Wyoming &#8211; &#8211; &#8211; &#8211; &#8211; RichardDawkins.net</a></dt>
<dd class="delicious-extended">Sometimes I worry Dr Dawkins is *too* awesome!</dd>
<dd class="delicious-tags">(categories: <a href="http://www.delicious.com/rubenerd/richarddawkins">richarddawkins</a> <a href="http://www.delicious.com/rubenerd/photos">photos</a> <a href="http://www.delicious.com/rubenerd/unitedstates">unitedstates</a>)<p></p></dd>
</dl> 
