---
title: 'My shiny new MikroTik 750GL!' 
date: "2011-09-26T11:39:10+10:00"
year: "2011"
category: Hardware 
tag:
- infocomm
- mikrotik
- nagato-yuki
- networking
- postaday2011
- routers 
location: sydney
---

<p><img src="https://rubenerd.com/files/2011/unboxing-my-new-mikrotik-750gl_6184564820_o@1x.jpg" alt="Unboxing my new MikroTik 750GL" srcset="https://rubenerd.com/files/2011/unboxing-my-new-mikrotik-750gl_6184564820_o@1x.jpg 1x, https://rubenerd.com/files/2011/unboxing-my-new-mikrotik-750gl_6184564820_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>Got a new router today! ^_^</p>
<p><!--oldmore--></p>
<h3>Rooter means something else</h3>
<p>Ever since I connected two of our home computers together with a D-Link 5-port 10/100 hub, I&#39;d been under the impression well known brands like Linksys, Netgear and D-Link were the way to go. Which is to say, they were the only brands I&#39;d ever heard of. This all changed when I met Eugene Li in Singapore, and Andrew Cox in Adelaide who shared knowledge of an infinitely better mob.</p>
<p><a href="http://www.mikrotik.com/">MikroTik</a> are a company out of Latvia of all places that (I&#39;ve been informed) produce the most sophisticated, robust and flexible networking hardware on the market, so when we&#39;d finally grown tired of our bargain basement Netgear modem/router we&#39;d got for free from Optus, I knew who to investigate.</p>
<p>As with our EPSON GT-S50 document scanner, the <a href="http://www.routerboard.com/RB750GL">RouterBOARD 750GL</a> comes in a relatively nondescript box, presumably because only those who&#39;ve done their research are aware of them, and their customers don&#39;t need to be told what a router is! Buying from a local distributor, I was also given an Australian power supply unit in the box instead of a regular European PSU.</p>
<p>Compared to the large switches with lots of unnecessary plastic I&#39;m used to buying from generic consumer brands, the device itself is tiny and rather svelte, and it&#39;s a fully featured router! It was also cheaper than most of the consumer grade networking hardware I&#39;d bought, and having had it running for several hours now it also runs cooler than any networking hardware I&#39;ve bought before.</p>

<p><img src="https://rubenerd.com/files/2011/unboxing-my-new-mikrotik-750gl_6184042659_o@1x.jpg" alt="Unboxing my new MikroTik 750GL" srcset="https://rubenerd.com/files/2011/unboxing-my-new-mikrotik-750gl_6184042659_o@1x.jpg 1x, https://rubenerd.com/files/2011/unboxing-my-new-mikrotik-750gl_6184042659_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<h3>Our Netgear gear can cook eggs</h3>
<p>After years of putting up with combined devices that don&#39;t do any of their tasks very well and that burn carpet and table surfaces, I&#39;ve realised my dream of having a separate modem and router. My TP-Link 8840 (another Andrew Cox recommendation) that I got for peanuts which I&#39;ll be using in bridge mode should be arriving in the next couple of days, and I&#39;ll finally be able to retire our current creaky setup.</p>
<p>I can&#39;t wait to put it to the test: seeing how it can handle two concurrent, always on VPNs, dozens of torrents from several different machines (ahem), multiple Skype connections and enough Vimeo/YouTube to substitute not having terrestrial TV. Because we don&#39;t.</p>
<h3>What’s with Yuki?</h3>
<p>For the sake of disclosure, yes I&#39;m aware there&#39;s an anime fig in my pictures here. For several years Yuki has been featured in posts whenever I buy new computer hardware; considering her character in the anime series it made sense!</p>
<p>I just wish her skirt were a little bit longer, often times I have to take pictures again because she ends up showing a little more than perhaps she&#39;d like. Which is a shame, because I got a great picture of her that looked as though she was wearing the router as a rocket pack. Yes, I put my new devices through strenuous testing!</p>
<p>And finally for all my Latvian friends out there, all two of you!</p>
<p><img src="https://rubenerd.com/files/uploads/icon.latvia.png" alt="" style="height:128px; width:128px;" class="transparent" /></p>
 
