---
title: 'My own TechCrunch template' 
date: "2011-07-15T03:12:27+10:00"
year: "2011"
category: Internet
tag:
- design
- gigaom
- nonsense
- postaday2011
- techcrunch
- web-design
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.crunchpad.jpg" alt="The CrunchPad from TechCrunch" style="height:234px; width:400px; display:inline; border:0px; padding:0px; background:#ffffff;" /></p>

<blockquote><p>To make it even easier for you to share your thoughts, I’ve created a handy copy-and-paste note for you to customize and mail back.<br />

<cite>~ <a href="http://techcrunch.com/2011/07/11/the-techcrunch-redesign-a-copy-and-paste-hatemail-template/">Paul Carr, TechCrunch</a></cite></p></blockquote>

<p>We will, provided you’re able to answer this one for us!</p>

<blockquote><p>Dear TechCrunch Readers,</p>

<p>Our site has a new design. Rather than deferring all questions and comments to the designers themselves, I decided to patronise my readers who’s advertising viewership pays my salary because:</p>

<p><span style="font-weight:bold;">[ &nbsp; ]</span>&nbsp; I’m not a fan either but I’ll mock you for thinking the same<br />

<span style="font-weight:bold;">[ &nbsp; ]</span>&nbsp; It’s not as bad as Gawker!<br />

<span style="font-weight:bold;">[ &nbsp; ]</span>&nbsp; Because its &#8220;too early to tell&#8221; that design elements are misplaced</p>

<p>I assert only professional designers are fit to critique designs because:</p>

<p><span style="font-weight:bold;">[ &nbsp; ]</span>&nbsp; Designers are the only people who consume our content<br />

<span style="font-weight:bold;">[ &nbsp; ]</span>&nbsp; As a journalist I only critique other journalism</p>

<p>I believe these mock forms are still funny because :</p>

<p><span style="font-weight:bold;">[ &nbsp; ]</span>&nbsp; They’ve never been done before<br />

<span style="font-weight:bold;">[ &nbsp; ]</span>&nbsp; They haven’t been done enough<br />

<span style="font-weight:bold;">[ &nbsp; ]</span>&nbsp; I’m being ironic lol!</p>

<p>The new site design is fantastic. And if you don’t like it you can:</p>

<p><span style="font-weight:bold;">[ &nbsp; ]</span>&nbsp; <del>leave a comment</del> leave a comment if you’re on Facebook<br />

<span style="font-weight:bold;">[ &nbsp; ]</span>&nbsp; go to <a href="http://tcfast.com/?t=ot">http://tcfast.com/</a> which doesn’t support us

</p></blockquote>

<p>Now if you&#39;ll excuse me, I&#39;m off to read <a href="http://gigaom.com/">GigaOM</a> :).</p>
 
