---
title: 'Neil Collins, Esquire' 
date: "2011-06-27T03:34:45+10:00"
year: "2011"
category: Internet
tag:
- copyright
- infocomm
- postaday2011
- quotes
- twitter 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/logo.twitter.bird.png" alt="The Twitter bird" style="height:151px; width:306px;" /></p>
<blockquote cite="https://twitter.com/NeilCollinsEsq/status/85140358262046720"><p>Wow, people really are shameless with the &#8220;borrowing&#8221; of blog content these days. ~ <cite><a href="https://twitter.com/NeilCollinsEsq/status/85140358262046720">@NeilCollinsEsq</a></cite></p></blockquote>
<p>Does Twitter count as a blog? Whoops.</p>
<p>I&#39;m also assuming <em>Esq</em> refers to <em>Esquire</em>, and not the <a href="http://www.esq.org.au/">Entomological Society of Queensland</a> which possibly has the finest website I&#39;ve ever seen.</p>
 
