---
title: 'Nostalgia, SuperDisk drives under OS X' 
date: "2011-01-26T03:06:07+10:00"
year: "2011"
category: Hardware 
tag:
- disks
- infocomm
- mac-os-x
- nostalgia
- postaday2011
- retrocomputing
- superdisk 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.superdisk.jpg" alt="My SuperDisk drive" style="height:300px; width:500px;" /></p>
<p>Not to be confused with Apple&#39;s SuperDrives, SuperDisks were a 120MB competitor to Iomega&#39;s Zip disks. As a bonus, their drives could also read regular 3.5 inch floppy disks, and I&#39;ve confirmed they even work under Snow Leopard without extra drivers!</p>
<p><!--oldmore--></p>
<h3>Pointless nostalgia</h3>
<p>When I was in high school in 2004 I was tasked with moving my English teacher&#39;s data from her green iMac G3 to her shiny new iMac G4. I think she expected me to use disks, but I took a cross over ethernet cable, configured some static IPs and had it all done in 15 minutes! To thank me for helping her, she gave me her green iMac and her Imation SuperDisk drive which she no longer used. Nice lady!</p>
<p><img src="https://rubenerd.com/files/uploads/Imation-LogoAndSuperDisk.png" alt="System Profiler" class="transparent" style="height:82px; width:189px; float:right; margin:0 0 10px 20px;" />I never owned a single SuperDisk given Zip disks were well entrenched in the family (I had around 70 of the things) but to this day I&#39;ve used the drive with my Macs to read regular floppy disks. It requires a power supply unlike other USB powered floppy drives, but I&#39;ve read anecdotal evidence that it reads disks twice as fast as a regular drive, and is almost completely silent. For those of you who remember regular floppy drives (CHUG CHUG CLICK CLICK CHUG CHUG READ ERROR) these are two huge pluses!</p>
<p>Anyway, after a trip from Singapore back to Sydney recently in a poorly packed box (thank you Allied Pickfords) I tried it on my new Mac Pro and she still works!</p>
<p>Now its time to backup all our floppy disks. We have <strong>bags</strong> of them, many containing family financial documents from the 1980s. We still have a copy of 1-2-3 to read them… right?</p>
<h3>System Profiler information</h3>
<blockquote><p><img src="https://rubenerd.com/files/uploads/icon.osx.sysprofiler.png" alt="System Profiler" class="transparent" style="height:120px; width:96px; float:right;" />E-USB Bridge:<br />
Capacity: 1.5 MB (1,474,560 bytes)<br />
Removable Media: Yes<br />
Detachable Drive: Yes<br />
BSD Name: disk6<br />
Product ID: 0x0001<br />
Vendor ID: 0x04e6 (SCM Microsystems)<br />
Version: 2.00<br />
Speed: Up to 12 Mb/sec<br />
Manufacturer: Shuttle Technology Inc.<br />
Location ID: 0x3d100000<br />
Current Available (mA): 500<br />
Current Required (mA): 0<br />
Partition Map Type: Unknown<br />
S.M.A.R.T. status: Not Supported
</p></blockquote>
<h3>hdiutil information</h3>
<p>Shown with a 720KB disk mounted. Yes, I still have 720KB floppy disks, shaddup.</p>
<blockquote><p>
Name: MATSHITA LS-120 VER4 07 Media<br />
Type: Disk<br />
Partition Map Scheme: Unformatted<br />
Disk Identifier: disk6<br />
Media Name: MATSHITA LS-120 VER4 07 Media<br />
Media Type: Generic<br />
Connection Bus: USB<br />
Device Tree: IODeviceTree:/PCI0@0/UHC2@1D,1<br />
Writable: Yes<br />
Ejectable: Yes<br />
Location: External<br />
Total Capacity: 737 KB (737,280 Bytes)<br />
S.M.A.R.T. Status: Not Supported<br />
Disk Number: 6<br />
Partition Number: 0
</p></blockquote>
 
