---
title: '#OfficialUnofficialMeetUp' 
date: "2011-11-30T12:54:40+10:00"
year: "2011"
category: Thoughts 
tag: 
- animeuts
- friends
- postaday2011
- sydney 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.mine.dollarking.jpg" alt="Photo outside the DollarKing store." style="height:300px; width:500px;" /></p>

<p>Having decided to write an extended entry today regarding my midday out with some of my new epic Anime@UTS friends, sudden family responsibilities and a worsening headache rendered me unavailable to do so. Fortunately, the illustrious Seb penned (typed?) a <a href="http://alonelyseptember.org/officialunofficialmeetup/">brilliant post</a>, which I will briefly quote here:</p>

<blockquote><p>Wasn’t that song they played at Galaxy World great?</p></blockquote>

<p>Thanks to <a href="https://mobile.twitter.com/#Jamiejakov">@Jamiejakov</a>, <a href="https://mobile.twitter.com/Sebasu_tan">@Sebasu_tan</a> <a href="https://mobile.twitter.com/hanezawakirika">@Hanezawakirika</a>, <a href="https://mobile.twitter.com/akai_ringo09">@Akai_ringo09</a>, <a href="https://mobile.twitter.com/Gli_Glitched">@Gli_Glitched</a>, <a href="https://mobile.twitter.com/Adasifs">@Adasifs</a> and <a href="https://mobile.twitter.com/Sashin9000">@Sashin9000</a> for a friggen wonderful time :).</p>
 
