---
title: 'Started as a post about Optus YouTube access' 
date: "2011-03-26T12:57:34+10:00"
year: "2011"
category: Internet
tag:
- australia
- far-too-long
- infocomm
- nsw
- optus
- postaday2011
- sydney
- telcos
- youtube 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/logo.youtube.png" alt="" style="height:122px; width:240px;" class="transparent" /></p>
<p>So here&#39;s something random, this afternoon I got an SMS from Optus, right?</p>
<blockquote><p><strong>OptusMSG:</strong> Important info: From 17 April 2011 we are changing the way that YouTube access appears on your bill. Visit <a href="http://optus.com.au/changes/">optus.com.au/changes</a> for more info</p></blockquote>
<p>The link redirected me to an <abbr title="Universal Resource Locator">Earl</abbr> that <a href="http://personal.optus.com.au/web/ocaportal.portal?_nfpb=true&#038;_pageLabel=Template_woRHS&amp;FP=/personal/customerhelp/accountsandbillinghelp/upcomingpricechanges&amp;site=personal">was so long</a>  it took several megabytes of my data plan to access. I kid, but it was long! If you didn&#39;t see it linked to earlier in this paragraph, <a href="http://personal.optus.com.au/web/ocaportal.portal?_nfpb=true&#038;_pageLabel=Template_woRHS&amp;FP=/personal/customerhelp/accountsandbillinghelp/upcomingpricechanges&amp;site=personal">here it is again</a>.</p>
<p>I&#39;ll be addressing this message in three parts, which is one less than four but five greater than negative two. You read it here first, folks.</p>
<h3>Ruben is highly-larious</h3>
<p>Firstly, I just realised <strong>addressing</strong> and <strong>message</strong>  is a huge pun, and it was entirely unintentional. Wait, I mean, it was intentional, and I&#39;m a comic mastermind.</p>
<p>Secondly, according to Optus, YouTube videos are actually <strong>appearing</strong> on my bills! That&#39;s pretty clever. I don&#39;t understand why they would do this though, unless they were going to play ads with lots of zoo animals.</p>
<p>These jokes doing anything for you?</p>
<p><img src="https://rubenerd.com/files/uploads/anime.ym0604.jpg" alt="Merry Nightmare with her cross face." style="height:281px; width:500px;"/></p>
<h3>Department of Redundancy Department</h3>
<p>Okay, down to what this post was going to be about. My point, and I do have one! Pencils have points, if they&#39;re well sharpened.</p>
<p>As far as I know, I haven&#39;t ever accessed YouTube content on my iTelephone 4 or my earlier iTelephone 3G on Optus. Never. Well, as a matter of disclosure, I haven&#39;t on my Motorola L Series or my Palm III either, but for another reason entirely. For the iTelephones, there are two reasons.</p>
<ol>
<li>Their data speeds in the CBD of Sydney are exceptional (and now I know <a title="Entry: An Optus phone data post, with cans!" href="//rubenerd.com/hey-look-optus-is-patchy/">its not just me</a>), but out in Earlwood where I live the speeds are so abhorrent it can barely send SMSs reliably let alone download a video file on the fly.<p></p></li>
<li>Even if their network did allow me to watch YouTube video as advertised (in video advertising, ironically enough), I also find it difficult enough to navigate across city streets, down escalators and in class with my face buried in my iTelephone’s magical and revolutionary screen just when reading text. I imagine watching video on such a device would push my dexterity from crafty crowd weaver to head bump express, or worse.<p></p></li>
</ol>
<p>I hope Optus isn&#39;t trying to kill me, because then I wouldn&#39;t be able to pay my bills. Where&#39;s the logic in that? But I digress.</p>
<p>This isn&#39;t the first time Optus has sent me an SMS about a feature or billing procedure that doesn&#39;t affect me (<a href="//rubenerd.com/optus-redundant-sms/">Optus and their redundant SMSs</a>), but I suppose its better they have a few false positives than sending them to people who need the information.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.gowalla.error.png" style="height:293px; width:320px;" alt="" /></p>
<h3>So what was the message about?</h3>
<p>After clicking through to that <a href="http://personal.optus.com.au/web/ocaportal.portal?_nfpb=true&#038;_pageLabel=Template_woRHS&amp;FP=/personal/customerhelp/accountsandbillinghelp/upcomingpricechanges&amp;site=personal">really long link</a>, I was presented with this information. If you missed that link, <a href="http://personal.optus.com.au/web/ocaportal.portal?_nfpb=true&#038;_pageLabel=Template_woRHS&amp;FP=/personal/customerhelp/accountsandbillinghelp/upcomingpricechanges&amp;site=personal">here it is again</a>.</p>
<blockquote><p>From April 17th 2011 Optus will be correcting a technical issue, and any customers accessing YouTube […]</p></blockquote>
<p>Oooh! Wait! Let me guess! They&#39;ve realised the terrible 3G data speeds and coverage around Earlwood is a technical issue and they&#39;re going to rectify the situation on the 17th of April?</p>
<blockquote><p>From April 17th 2011 Optus will be correcting a technical issue, and any customers accessing YouTube <strong>will now see data usage appearing on their bills.</strong>
</p></blockquote>
<p>Ah crap. Oh well, at least I [involuntarily] don&#39;t access YouTube videos on my iTelephone devices anyway.</p>
<p>To be fair, after reading the whole page it looks as though they won&#39;t be looking for retroactive payments from people who have used YouTube on their handphones in the past. If they really took after their corporate overlords back in Singapore, they would ;).</p>
 
