---
title: 'Paying more for stuff and whatnot in Australia' 
date: "2011-08-19T11:54:41+10:00"
year: "2011"
category: Hardware 
tag:
- apple
- australia
- infocomm
- jerry-harvey
- postaday2011
- shopping 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.mine.kallen.aussiecard.jpg" alt="" style="height:250px; width:500px;" /></p>
<p>After months of silence, Apple Australia managing director Tony King has <a title="Aussie Apple boss comes out of the shadows to confront rip-off claims" href="http://www.smh.com.au/digital-life/digital-life-news/aussie-apple-boss-comes-out-of-the-shadows-to-confront-ripoff-claims-20110819-1j17p.html">finally come out and commented</a> on why Australians pay significantly more for Apple products and media on the iTunes store than our friends in the US. Which is to say, he didn&#39;t say much!</p>
<p><!--oldmore--></p>
<p style="font-style:italic;">(Photo of Kallen Stadtfeld holding an Australian credit card application form by… <a href="https://www.flickr.com/photos/rubenerd/3524120629/">me!</a>)</p>
<h3>&quot;It’s even worse than it appears.&quot;</h3>
<p>I can only speak from my own experience, but all electronics in Australia are vastly overpriced. Worse still, optical equipment is so laughably expensive I would never buy any of it here. Last time I checked at a mass market camera chain, my beloved but ageing D60 was the same price as the much higher end D90 was in Singapore, and the markup on lenses is even worse.</p>
<p>Unfortunately, Apple is emblematic of a much larger trend of tech companies seeking to exploit Australian consumers, for one simple reason: they can. </p>
<p>I haven&#39;t lived back here long enough to comment on the politics, but it sure is hard to justify Australia&#39;s geographic isolation and higher taxes as being the reasons for these steep prices, particularly for online stores that sell digital downloads. The numbers don&#39;t add up, and those who claim they do are being disingenuous at best.</p>
<p>It&#39;s taking far longer than I thought it would, but the internet is finally helping the public to cast a light on these market practices, to wake up as it were. Wow, two convoluted metaphors in one sentence, forgive me. The point is, people are seeing prices overseas, converting into Australian Dollars, seeing what&#39;s charged locally, and asking why. Unsatisfied with the excuses given by folks like Jerry Harvey and his GST red herring, and turn to buying material online.</p>

<p><img src="https://rubenerd.com/files/2011/sim-lim-square-atrium_1319070178_o@1x.jpg" alt="Sim Lim Square atrium" srcset="https://rubenerd.com/files/2011/sim-lim-square-atrium_1319070178_o@1x.jpg 1x, https://rubenerd.com/files/2011/sim-lim-square-atrium_1319070178_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<h3>With apologies to Garcia and Hunter</h3>
<p>For the most part I&#39;m a liberal (in the American sense) but unfortunately I don&#39;t see the ACCC regulating these industries as being a solution, for two reasons. One, whenever you involve money directly, as is the case with pricing, there are enough loopholes that these companies would quickly make a farce of any such regulation. Two, every industry from publishing to electronics is doing this, for their own reasons. This is a structural problem with our economy.</p>
<p>Oh well, as long as I can bypass this and buy stuff overseas there won&#39;t be a problem. </p>
<p>Right.</p>
<p>Right?</p>
 
