---
title: 'Made it through Post A Day 2011!' 
date: "2011-12-31T09:47:47+10:00"
year: "2011"
category: Internet
tag:
- infocomm
- personal
- postaday2011
- weblog 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/postaday-badge-wide.png" alt="" style="height:62px; width:274px;" class="transparent" /></p>

<p>To celebrate posting every day this year, here are some highlights from each month!</p>

<p><!--oldmore--></p>

<h3>January</h3>

<p><img src="https://rubenerd.com/files/uploads/2195398829_835b97bf4d_m.jpg" alt="" style="height:240px; width:240px;" /></p>

<p>Little did I know that I&#39;d be quoting this Steve Jobs <a href="https://rubenerd.com/steve-jobs-2011/">retiring from Apple post</a> later in the year though. Or perhaps, I did.</p>

<blockquote><p>Dear Steve,</p>

<p>Even with a similar recent family experience with health, I won’t pretend to relate with what you and your family are going through right now, particularly with a tasteless media circus chasing you.</p>

<p>Please don’t let them get to you. Stay strong, and get better in your own time, for yourself and your family. *manhug*</p>

<p>Peace, health and happiness,<br />

Ruben :)</p>

<p>Sent from my iPhone</p></blockquote>

<h3>February</h3>

<p><img src="https://rubenerd.com/files/uploads/photo.me.20110224.02.thumb.jpg" alt="" style="height:335px; width:500px;" /></p>

<p>Towards the end of the month, my old man, sister and I took a trip into inner NSW to visit the <a href="https://rubenerd.com/taronga-western-plains-zoo/">Taronga Western Plains Zoo</a>, which gave me a great excuse to try out some new DSLR skills I&#39;d picked up.</p>

<p>A professional could have done a lot better, but it was great to get out of the city for a few days and go exploring :).</p>

<h3>March</h3>

<p><img src="https://rubenerd.com/files/uploads/photo.mine.weirdal.jpg" alt="" style="height:335px; width:500px;" /></p>

<p>An easy choice, we fulfilled one of my lifelong ambitions and dreams since I was in primary school: <a href="https://rubenerd.com/seeing-weird-al-yankovic/">seeing Weird Al Yankovic</a>! Now that I look back, I only wrote a stub entry, clearly I need to upload more photos from it! Best. Concert. Ever.</p>

<h3>April</h3>

<p><img src="https://rubenerd.com/files/uploads/dj.qpwmwbsk.170x170-75.jpg" alt="Ben Sidram's Cool Paradise" style="height:170px; width:170px; float:right; margin:0px 0px 10px 20px;" /></p>

<p>For some reason I can&#39;t fathom, I decided hilarity would ensue if I quoted lyrics from each and every song from Ben Sidran&#39;s 1990 album <em>Cool Paradise</em>. <a href="https://rubenerd.com/cool-paradise-07/">This post</a> was representative of this entirely pointless series:</p>

<blockquote><p>

&quot;Hot, like the yellow sun;<br />

Uh oh…. FIIIIIIIIRE!&quot;</p>

<p>As far as I know Ben, the sun isn’t on fire, its undergoing a sustained fusion reaction.</p></blockquote>

<h3>May</h3>

<p>A lot happened in May. Allegedly <a href="https://rubenerd.com/osama-bin-laden-2011/">Osama Bin Laden was killed</a> without due process, and the <a href="https://rubenerd.com/rapture-is-nigh/">rapture</a> was supposed to kill us all.</p>

<p>Most importantly though, I was obsessed with the <a href="https://rubenerd.com/anime-yumekui-merry-09/">Yumekui Merry</a> anime series, and was blogging each and every episode! I don&#39;t have time to do that any more, perhaps series summaries are called for?</p>

<p><img src="https://rubenerd.com/files/uploads/anime.ym0908.jpg" alt="" style="height:281px; width:500px;" /></p>

<h3>June</h3>

<p>Lots of one off posts in June, though I was most excited about being accepted into the University of Technology in Sydney despite a several year absence from tertiary education for family reasons. It&#39;s good to be back!</p>

<p><img src="https://rubenerd.com/files/uploads/photo.mine.utsimac.sign.jpg" alt="" style="height:300px; width:500px;" /></p>

<h3>July</h3>

<p>I was informed of <a href="https://rubenerd.com/ponponpon-kyary-pamyu-pamyu/">Kyary&#39;s PonPonPon</a>. Nothing more needs to be said, or should be said.</p>

<p><a href="http://www.youtube.com/watch?v=yzC4hFK5P3g" title="Play きゃりーぱみゅぱみゅ - PONPONPON , Kyary Pamyu Pamyu - PONPONPON"><img src="https://rubenerd.com/files/2011/yt-yzC4hFK5P3g@1x.jpg" srcset="https://rubenerd.com/files/2011/yt-yzC4hFK5P3g@1x.jpg 1x, https://rubenerd.com/files/2011/yt-yzC4hFK5P3g@2x.jpg 2x" alt="Play きゃりーぱみゅぱみゅ - PONPONPON , Kyary Pamyu Pamyu - PONPONPON" style="width:500px;height:281px;" /></a></p>

<h3>August</h3>

<p>A rather packed month from a blogging perspective, traditionally that&#39;s always been the case on Rubenerd.com for some reason! We finally said farewell to the <a href="https://rubenerd.com/farewell-old-twitter/">old Twitter</a>, I did a series of UTS-inspired posts on what I <a href="https://rubenerd.com/tag/tech-couldnt-live-without/">couldn&#39;t live without</a>, but most importantly of all I <a href="https://rubenerd.com/animeuts/">joined the UTS Anime club</a> where I&#39;ve made friends with so many nice, lovely people.</p>


<p><img src="https://rubenerd.com/files/2011/registered-for-animeuts_6034986929_o@1x.jpg" alt="Registered for Anime@UTS!" srcset="https://rubenerd.com/files/2011/registered-for-animeuts_6034986929_o@1x.jpg 1x, https://rubenerd.com/files/2011/registered-for-animeuts_6034986929_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>

<h3>September</h3>

<p>A big month for the site as I <a href="https://rubenerd.com/4000th-post/">reached 4000</a> <span style="text-decoration:line-through;">quality</span> entries! I also started obsessing and <a href="https://rubenerd.com/anime-gurren-lagann-15/">blogging about Gurren Lagann</a> after so many had told me to watch it.</p>

<p><img src="https://rubenerd.com/files/uploads/anime.gl1501.jpg" alt="" style="height:278px; width:500px;" /></p>

<h3>October</h3>

<p>October was the month we lost <a href="https://rubenerd.com/dennis-ritchie/">Dennis Richie</a> and <a href="https://rubenerd.com/steve-jobs/">Steve Jobs</a>. RIP.</p>

<p><img src="https://rubenerd.com/files/uploads/dmr.jpg" alt="dmr" style="width:355px; height:342px;" /></p>

<h3>November</h3>

<p>If I can be a hapless consumer for a moment, November was the time I finally caved and <a href="https://rubenerd.com/my-kindle/">bought a Kindle</a>. Between then and now, I&#39;ve read more novels and non fiction books than I&#39;d read for the whole rest of the year! </p>

<p>For me though, the month will be remembered for the fact it contained the epic, once in a lifetime <a href="https://rubenerd.com/1111-on-111111/">11:11 on 11/11/11</a> which I celebrated in a binary-esque pointless way.</p>

<p><img src="https://rubenerd.com/files/uploads/photo.mine.1111111111.png" alt="" style="height:335px; width:500px;" /></p>

<h3>December</h3>

<p>A month of ups and downs. On the one hand I <a href="https://rubenerd.com/mumster2011/">remembered the passing</a> of my beautiful late mum, and the intellectual and humanistic world lost one of its heavyweights with the passing of <a href="https://rubenerd.com/christopher-hitchens/">Christopher Hitchens</a>. On the upside, we celebrated Yuletide as a family again after a four year absence, with <a href="https://rubenerd.com/xmas-tree-2011/">tree and all</a> :).</p>

<p><img src="http://farm8.staticflickr.com/7141/6491758599_9f1b57270f.jpg" width="500" height="334" alt="Our Christmas Tree" /></p>

<h3>2012</h3>

<p>It seems folks are thanking their deity of choice (or lack thereof) for the fact 2011 is over. Personally it was a year of development and progress for me, though I&#39;m under no illusion the year went well for most. Here&#39;s hoping 2012 will have more peace, health and happiness for all. <em>Cheers</em></p>

<p>As to the challenge itself, I wrote <a href="https://rubenerd.com/tag/postaday2011/">587 posts</a> of varying length and quality, maybe more given I often forgot to tag each post with the postaday2011 tag. Undecided whether I&#39;ll try for 2012!</p>
 
