---
title: 'Recycled shipping container house' 
date: "2011-09-21T07:41:03+10:00"
year: "2011"
category: Thoughts 
tag: 
- design
- housing
- postaday2011
- recycling 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/1036204298_770a69a2a2.jpg" alt="Shipping container house" style="height:375px; width:500px;" /></p>
<p>What a great idea! I have a thing for ultra modern buildings surrounding or complimenting older structures rather than just replacing them. In this case, the older structures aren&#39;t a classic building, but unused shipping containers which would take a large amount of energy to break up.</p>
<p>By <a href="https://www.flickr.com/photos/roludsgn/1036204298/">rosenlof/lucas</a> on Flickr.</p>
 
