---
title: 'Ruben’s review of Gnome 3!' 
date: "2011-05-08T10:40:07+10:00"
year: "2011"
category: Software
tag:
- arch-linux
- design
- gnome
- gnome3
- gnu
- gui
- infocomm
- linux
- postaday2011
- review 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.gnome3.applications.png" alt="" style="height:270px; width:500px;" /></p>
<p>I’ll admit I had reservations about Gnome 3 and the new Gnome-Shell, but having used them for 48 hours now I’m pleasantly surprised… despite some serious artefacting issues!</p>
<h3>In defence of change!</h3>
<p>After years of work, the latest iteration of the Gnome desktop environment was unleashed upon the FLOSS world in late April. Like the fateful KDE 4, Gnome 3 brings with it a slew of controversy, most of which surrounds its fundamental rethink of the typical desktop metaphor… something I personally think has been long overdue.</p>
<p>It’s no secret most contemporary desktop environments for *nix have been modelled on Windows. While I could sympathise with their reasons for doing so, Mac OS X demonstrated you don’t need be constrained by start menus and taskbars, and it always felt to me as though they were missing an opportunity to be bold and try something new themselves.</p>
<p>So how did they do at it?</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.gnome3.default.jpg" alt="" style="height:375px; width:500px;" /></p>
<h3>My test machine</h3>
<p>My test machine is my venerable IBM ThinkPad X40 with a freshly installed and updated Arch Linux i686. The Intel integrated graphics are crappy, but they sure made it a cinch to get 3D acceleration working with the open xf86-video-intel drivers.</p>
<p>Gnome 3 is also the default version of Gnome in Arch now, and my hat goes off to the team for making it so easy to install.</p>
<pre>
# pacmam -S gnome
# pacman -S gnome-extra
</pre>
<p>Like previous Gnome releases, you also need dbus. I went ahead and installed fuse and NetworkManager as well given this was for a laptop I’d be taking to coffee shops and wanting quick WiFi access with.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.gnome3.tiled.jpg" alt="" style="height:375px; width:500px;" /></p>
<h3>My impressions</h3>
<p>Having used Gnome 3 for two days at uni and at my favourite coffee shop, I’ve been surprised at just how responsive and fast the system is even on this old machine (no, really!), and how quickly I’ve adapted to the Gnome-Shell way of doing things.</p>
<p>Instead of a messy desktop of icons or a Start Menu, Gnome-Shell puts your application shortcuts and active windows behind a screen you activate by merely throwing your mouse into the top left corner. I forgot what rule of GUI design this adheres to, but its the same philosophy behind Mac OS X’s application menus: instead of having to specifically aim for something, you just throw the mouse against the screen edge and you’re where you want to be. Threshold something, I forget.</p>
<p>When you activate the Gnome-Shell, the screen of icons and active windows takes up the entire screen, which also makes sense to me. The Start Menu on Windows (or KDE) has your complete attention when you’re using it, so why limit its size to a tiny box? </p>
<p>Like Mac OS X’s dock, your favourite applications are located in a favourites panel for easy access, or you can navigate all your applications in categories. Previews of all your active windows are also contained in a tab, much like Mac OS X’s Expose which is vastly superior to Windows’s awkward Alt+Tab and cluttered taskbar.</p>
<p>Unfortunately like Windows, Linux applications put their files all over the place so you can’t merely expose an Applications folder in a file manager and let users launch what they want, like in Mac OS X. This seems to be an acceptable compromise.</p>
<p>What I’m really excited about however is the quick keyboard application launcher. I religiously use Alfred on my Macs (QS before that) and dmenu on my Linux and BSD boxes, so being able to simply type the name of an application I want and hitting enter is so convenient I’m lost when I go to a machine that doesn’t have it!</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.gnome3.windows.jpg" alt="" style="height:375px; width:500px;" /></p>
<h3>The bad</h3>
<p>Unfortunately, while great to use even on this older ThinkPad, there are few glaring problems.</p>
<p>1. For some reason some of the fonts are rendered virtually unintelligible despite installing a ton of FLOSS fonts from pacman before installing xorg.</p>
<p>2. There are persistent white artefacts over much of the UI, specifically corners of windows and icons. If I didn’t know any better, I’d say it was a CSS border-radius rendering error!</p>
<p>3. Finally, the top bar in Gnome 3 is supposed to be black, but in my setup its completely transparent, and many of the notification icons are missing unless I hover over them with my mouse.</p>
<p>I suspect these issues are PEBKAC though; I’ll be enquiring on the Arch forums.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.gnome3.command.png" alt="" style="height:100px; width:500px;" /></p>
<h3>Overall</h3>
<p>A solid release, and I’m surprised by how much I’m enjoying using it! I go back to Xfce on my FreeBSD tower and even my Macs and they feel like a step backwards. I suspect a few of the detractors might like it if they were to actually give it a try. I haven’t been this pleasantly surprised by a piece of software in a long time!</p>
 
