---
title: 'RIP Ken Olsen 1926-2011' 
date: "2011-02-09T06:15:31+10:00"
year: "2011"
category: Hardware 
tag:
- dec
- history
- infocomm
- ken-olsen
- pdp-8
- postaday2011
- retrocomputing 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.dec1.jpg" alt="Ken Olsen, Charles Townes, Peter Elias with a PDP-1" style="height:330px; width:500px;" /></p>
<p>DEC is a company that a surprising number of people my age and younger are simply unaware of, and Ken Olsen (left in the photo) even fewer. It&#39;s a shame when one considers what a huge impact he and the company he started with Harlan Anderson had and how we all have benefited from their innovations, even if they did leave with a whimper in 1998.</p>
<p>I was born far too late to have used his company&#39;s machines directly, though I proudly hack away at my <a title="A PDP-8/E Simulator for the Apple Macintosh" href="http://www.bernhard-baehr.de/pdp8e/pdp8e.html">virtual PDP-8</a>. Rest In Peace Mr Olsen, another IT legend.</p>
 
