---
title: 'Ruben’s Australian immigration rant of 2011' 
date: "2011-10-03T08:10:04+10:00"
year: "2011"
category: Thoughts 
tag: 
- australia
- immigration
- postaday2011
- rant 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/logo.government.au.png" alt="Australian Government logo." style="height:247px; width:420px;" class="transparent" /></p>
<p>After hearing of <em>yet another struggle</em> against The System from a friend, I felt compelled to finally finish this post and publish it.</p>
<h3>It’s not easy being green</h3>
<p>Before I launch into what is no doubt going to be a rant to end all rants here at Rubenerd.com, I would like to play devil’s advocate for a moment and acknowledge the incredible pressure politicians in this country are under. After breaking so many promises and continuing to stun us with incompetence, corruption, short-sightedness and poor behaviour unbecoming of someone holding public office, it’s completely understandable why they would resort to distracting the public with hot button topics.</p>
<p>Immigration is a perfect topic for such a distraction, and immigrants are seen as the perfect patsies. No matter that Australia is the destination for less than 1% of the world’s immigrants, politicians and talk show pundits can loudly proclaim we’re being swamped, and our tax dollars wasted. Politicians on one side can secure the progressive vote by pretending to be more compassionate without doing anything, and the other side can pander to insular xenophobics who regard Alan Jones and The Australian newspaper as news and who consider themselves worldly because they’ve seen Sydney <em>and</em> Melbourne.</p>
<p>In other words, as long as you’re not caught in their net, everybody wins.</p>
<p>Unlike so many pundits and journalists, I won’t pretend to understand the hardship or heartache that immigrants forced to leave their homelands to come here experience, but what I can discuss are two specific examples.</p>
<h3>Someone coming back</h3>
<p>In 1996 my family moved to Singapore to support my father’s job. We were only supposed to be stationed there for two years, but we enjoyed it so much and my mother’s medical care was so far ahead of anything available in Australia that we decided to stay. We only just moved back in 2010, and I have every intention of moving back there one day. It’s home, my sister and I are thoroughly third culture kids, and I’m not ashamed to admit this.</p>
<p>In the time we lived there, we travelled through much of South East Asia and even spent a brief time living in Kuala Lumpur, Malaysia. Despite not being citizens, when we arrived back from each trip immigration officials treated us with respect, humility and a smile. Green card applications were never a problem, and the few times there were issues with other immigration matters they were surprisingly understanding and flexible.</p>
<p>Unfortunately, this only made the shock that was Australian immigration that much more acute. Perhaps it was because we &#8220;ex-patriated&#8221;, but in the times we travelled back to our home country we were hassled every time. A few examples: we’d always be rudely asked if we knew where the address we’d listed on our immigration cards were, what we’d had being doing overseas, and invariably we’d almost always be chosen for &quot;random&quot; bag checks.</p>
<p>When I came back to Australia to study at university, it only got worse. Government agencies wanted in writing that I had &quot;severed all ties&quot; and &quot;rescinded my allegiances&quot; to &quot;foreign powers&quot;, as if I had spent my entire time in Singapore leaking intelligence from ASIO. There’s more I could say here, but I won’t!</p>
<p>None of these situations are unusual, there are thousands of Australians who for their own personal reasons decide to live overseas. I have no evidence that we’re flagged in a federal database as being deserters, but one can understand my suspicions!</p>
<h3>People wanting to stay</h3>
<p>The problems I mentioned above were whinging, first world issues by a rich white guy, and I would be willing to tolerate them a thousand times over if it meant friends I knew didn’t have to go through the following nonsense.</p>
<p>At the Australian International School in Singapore, we were often visited by people representing Australian universities, and inevitably even most of the non-Aussies there decided to study at them.</p>
<p>Despite completing the New South Wales HSC with Advanced and/or Extension English as some of their subjects, friends of mine couldn’t study in Australia without completing IELTS, a test of English proficiency. Appreciate for a second how absurd that was: they studied Advanced English at an Australian school, passed with higher marks than most of the Australians, and they still had to perform a test, simply because they were from countries where English isn’t an official language. Its almost as absurd, as the infighting between Australian states and the federal government. Yes, a country with less people than many cities has states. Why aren’t people getting angry at the tax dollars being spent on another layer of pointless government instead of people &quot;arriving in boats&quot;? But I digress.</p>
<p>Lately I’ve been made aware of another friend’s struggles with Australian immigration, and this time it makes even less sense. Despite completing a degree at an Australian university and receiving one of the highest marks of their graduating cohort, they had to take an IELTS test before their application for a worker’s permit can even be considered. To add insult to injury, because they’re not an engineer or a scientist, finding &quot;qualifying&quot; work just to stay in the country is a struggle.</p>
<p>The problem is only compounded by requests for information that aren’t stated in the forms, and that if are not provided cause suspension of consideration. Government bureaucracy and red tape have so thoroughly co-opted common sense that some folk I talk to even thing this is reasonable. Seriously!</p>
<h3>Common sense isn’t</h3>
<p>As I argued at great length about last year, Australia is competing in an increasingly networked world where workers are more mobile than ever before. Many of the world’s most talented and intelligent people no longer feel an obligation to an arbitrary state, and choose to work and live in places that inspire them, that they can afford, and that value them and their skills.</p>
<p>Fortunately for the government, Australia has something going for it. Universities here are increasingly some of the top tertiary study destinations for Asian students; drive down any street in Canberra with its block after block of student housing and you rapidly realise just how valuable a part of the economy they are.</p>
<p>What boggles my mind is that they’re willing to collect tax on the exorbitant fees levied against international students, but they don’t think beyond that. If I were a government wanting to compete globally, I would want to do anything and everything in my power to retain these talented and intelligent people, to get them a job here or to give them a reasonable chance to look for one, and eventually have them pay taxes here.</p>
<h3>Irrelevancy</h3>
<p>Inevitably though, immigration policy is becoming increasingly irrelevant anyway. The quaint notions of nation states forged as a way to allow kings and nobility to control the peasant classes are being superseded not necessarily by grand organisations such as the UN, but by global communications such as The Internets, multi national corporations, and a mobile class who live and work where they want, not just where they happened to be born. Treat these people badly, and they’ll leave.</p>
<p>I suppose governments figure the nation state still has enough steam in it to exploit for a while longer, and this mobile class is too small to make a difference. I wish them luck as they look backwards or up their collective behinds, but they won’t be able to hold back the tide indefinitely. I just wish in the meantime they would adopt some Common Sense, though I’m not holding my breath.</p>
<p>In the meantime, to all the politicians, bureaucrats, officials and pundits in Australia, I salute thee with my middle finder for being so superlatively out of touch I’d be surprised if you had fingers at all.</p>
 
