---
title: 'Scrabble HAPPY' 
date: "2011-05-19T01:33:48+10:00"
year: "2011"
category: Thoughts 
tag: 
- impromptu-scrabble-series
- postaday2011
- scrabble 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.scrabble.20110518.outlandcrop.png" alt="" style="height:200px; width:500px;" /></p>
<p>As the sun sets on another day, I have one more post to make in this <a href="//rubenerd.com/tag/impromptu-scrabble-series/">impromptu Scrabble series</a>. Coincidently, this is also Rubenerd post <strong>3636</strong>, if that means anything!</p>
<p><!--oldmore--></p>
<h3>Your Scrabble posts were pointless, Ruben</h3>
<p>For someone with a terrible 42% Scrabble win/loss record, a measely top score of 231 and the vocabulary of… someone with a poor vocabularly (see what I did there?) I not only ended my losing streak but did it by winning two games in a row! Granted they were also with fairly average scores of <a href="//rubenerd.com/files/uploads/screenie.scrabble.20110517.177.png">177</a> and <a href="//rubenerd.com/files/uploads/screenie.scrabble.20110518.186.png">186</a>, but still! I also topped my previous record of EARFLAPS with 72 points, with TICKLED/OUTLAND for <a href="//rubenerd.com/files/uploads/screenie.scrabble.20110518.outland.png">84</a>. </p>
<p>While giving me an excuse to post about Scrabble again (I had no idea I&#39;d be mentioning it three times in a row now with my <a href="//rubenerd.com/scrabble-drive-icons/">desktop drive icon</a> and <a href="//rubenerd.com/went-to-typo-today/">stationary shop</a> posts), the point was to simply end the day with a reflection. My mum and I used to play Scrabble, so when she moved on it was placed in the &quot;brings back painful memories&quot; box. Simply put, it&#39;s so wonderful to be able to play it again and with good friends. I&#39;m happy ^_^.</p>
<h3>Had to use a blank tile!</h3>
<p><img src="https://rubenerd.com/files/uploads/screenie.scrabble.happy.png" alt="" style="height:100px; width:500px;" class="transparent" /></p>
 
