---
title: '@Sebasu_tan and @hanezawakirika on design' 
date: "2011-10-24T11:50:36+10:00"
year: "2011"
category: Internet
tag:
- clara-tse
- design
- hanezawakirika
- infocomm
- postaday2011
- sebasu_tan
- twitter 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.alonelyseptember.20111024.jpg" alt="Screenshot of the Lonely September site." style="height:315px; width:500px;" /></p>
<p>This site design post is even more fractured than usual, owing to continued <a title="Sunday 23rd October 2011: Made one of them Japanese eel things" href="//rubenerd.com/anago-crap-eel/">sleep deprivation</a>. As such, you shouldn&#39;t read it, other than to read the tweets from other people.</p>
<h3>The @hanezawakirika observational observation</h3>
<p>Something entirely unexpected, from <a href="https://mobile.twitter.com/hanezawakirika/">hanezawakirika</a> on Twitter:</p>
<blockquote cite="https://mobile.twitter.com/hanezawakirika/status/128121980703621121"><p><a href="https://mobile.twitter.com/hanezawakirika/status/128121980703621121">hanezawakirika</a>: Though I don’t have @Rubenerd &#8216;s CSS skill, and I can’t find any templates I’m happy with either. I usually edit templates. ==a&#8221;&#8221;</p></blockquote>
<p>And this when I replied with exclaimed surprise:</p>
<blockquote cite="https://mobile.twitter.com/hanezawakirika/status/128212731659681793"><p><a href="https://mobile.twitter.com/hanezawakirika/status/128212731659681793">hanezawakirika</a>: Well, your blog looks good anyway. :&lt; RT @Rubenerd: I have CSS skills? This is news to me!</p></blockquote>
<p>This is quite possibly the first time anyone has complimented my CSS skills on Twitter, perhaps ever! Assuming you&#39;re not reading this through RSS and are seeing this post on the original site, you can probably see why!</p>
<p>Alas, as owning an easel and some tubes of paint don&#39;t make you an artist, my perhaps above-average knowledge of CSS doesn&#39;t make me a designer. Still, given my ridiculous workload over the last few days and my ensuing lack of sleep, I appreciated the ego stroking XD.</p>
<p>Now we just need a certain person to start blogging again themselves. Imajustsaying.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.alonelyseptember.20111011.222036.png" alt="" style="height:281px; width:500px;" /></p>
<h3>The @Sebasu_tan conspiracy</h3>
<p>For those who either don&#39;t remember or have the attention span of an Antarctic Newt (wait, are there newts in Antarctica? What about Gingriches?), last week I <a href="//rubenerd.com/the-blog-of-sebasu_tan/" title="Tuesday 11th October 2011: The blog of @Sebasu_tan">blogged</a> about <a href="http://alonelyseptember.org/">A Lonely September</a>, the blog site of our close friend Sebastian from the UTS Anime club. I lamented the fact fewer people seem to be blogging now, and celebrated the fact he was bucking the trend. Like the proud Antarctic Newt.</p>
<p>Despite this glowing endorsement however, Seb was quick to mess with our minds. No sooner had I blogged about his blog (yo dawg, I heard you like…) than he changed his site theme. He timed it eerily well, leading me to believe he has hidden cameras installed in my place of residence, or has access to my MySQL tables and was able to see my draft posts. Is it weird to admit I&#39;d be more terrified of the latter?</p>
<p>But I digress. To further mess with our minds, Seb claims to have changed his blog theme again. </p>
<blockquote cite="https://mobile.twitter.com/Sebasu_tan/status/128405755165540352"><p><a href="https://mobile.twitter.com/Sebasu_tan/status/128405755165540352" title="Read tweet">Sebasu_tan</a>: Changed blog layout… AGAIN. We’ll see how I feel about this one in the coming days…</p></blockquote>
<p>And now, in the time it took me to quote that tweet, he&#39;s <a href="https://mobile.twitter.com/sebasu_tan/status/128406627970854912">announced</a> that he may scrap all these changes and move back to TwentyTen:</p>
<blockquote cite="https://mobile.twitter.com/sebasu_tan/status/128406627970854912"><p><a href="https://mobile.twitter.com/sebasu_tan/status/128406627970854912">Sebasu_tan</a>: I’m tempted to go back to twentyten, to be honest… &gt;.&gt;</p></blockquote>
<p>We&#39;ll be following this story as it develops.</p>
 
