---
title: 'The oncoming second IT bubbly thing' 
date: "2011-01-10T07:01:49+10:00"
year: "2011"
category: Internet
tag:
- bidness
- business
- facebook
- infocomm
- news
- postaday2011
- shorts
- social-networking 
location: sydney
---
<p><img class="transparent" src="https://rubenerd.com/files/uploads/icon.tango.click.png" alt="Icon from the Tango Desktop Project" style="height:128px; width:128px; float:right; margin:0 0 10px 20px;" /> Alexei Oreskovi over at IT News Australia is <a title="Facebook ignites Bubble 2.0 chatter: Can the next hottest dotcoms live up to Wall Street's expectations?" href="http://www.itnews.com.au/News/243446,facebook-ignites-bubble-20-chatter.aspx">asking</a>:</p>
<blockquote cite="http://www.itnews.com.au/News/243446,facebook-ignites-bubble-20-chatter.aspx"><p>Can the next hottest dotcoms live up to Wall Street’s expectations?</p></blockquote>
<p>Certainly with regards to Facebook: nah. At least, not long term anyway. I&#39;d stake my reputation as the most respected person on Rubenerd.com on it. None of the other writers here have anything on me.</p>
<p>That said, Wall Street doesn&#39;t need to worry about being profitable, they&#39;ll get a bailout if they screw up, right? Its corporate welfare which (unlike those super evil commies that want it for regular people) is totally okay! Not that I&#39;m cynical or anything. Or cyclical, I don&#39;t have a bike yet.</p>
 
