---
title: 'Sophos CityRail memory key adventures' 
date: "2011-12-07T08:03:32+10:00"
year: "2011"
category: Hardware 
tag:
- infocomm
- malware
- nagato-yuki
- postaday2011
- privacy
- security
- sophos
- sydney
- sydney-trains
- viruses 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.yuki.memorykey.jpg" alt="My Yuki fig with a memory key" style="height:320px; width:500px;" /></p>
<p><a title="Wednesday 07th December 2011: Words of Ticketed Wisdom from CityRail #01" href="//rubenerd.com/cityrail-ticket-01/">Speak of the devil</a>, security research firm Sophos performed a study on fifty USB keys they purchansed from a New South Wales RailCorp lost property auction. Personally, I didn&#39;t find the results too shocking.</p>
<p style="font-style:italic;">(Starting in 2009 I got into the habit of always taking tech hardware photos with Yuki in them. This time I tried to use really harsh light to make her look sinister, did it work?)</p>
<h3>Report rhymes with… port. That was inspired.</h3>
<p><img src="https://rubenerd.com/files/uploads/icon.sophos.png" style="height:128px; width:128px; float:right; margin:0px 0px 10px 10px;" alt="Sophos icon" class="transparent" /></p>
<p>From the <a href="http://nakedsecurity.sophos.com/2011/12/07/lost-usb-keys-have-66-percent-chance-of-malware/">report on Sophos Naked Security</a>, a must read blog that you must read.</p>
<blockquote><p>Lost USB keys have 66% chance of malware<br />
by Paul Ducklin on December 7, 2011</p>
<p>We ended up with Lots 671, 672 and 674: bags containing a motley assortment of 20, 21 and 16 keys respectively. For this rag-tag collection of 57 USB sticks, we paid $409.96 once the auctioneer’s 16.5% fee was added in. We could have bought brand-new for slightly less than half that price.</p></blockquote>
<p>The data on drives are more valuable than the drives themselves now. Not surprising.</p>
<blockquote><p>
Five of the keys were broken, including the two novelty items in the set (a car and a Lego-like block). Two of the rest were unreliable, so we excluded them, although one gave up just enough data to reveal an Autorun worm but little else.</p>
<p>That left a conveniently-round number of 50 devices in the test.</p>
<p>The study revealed that two-thirds were infected with malware, and quickly uncovered information about many of the former owners of the devices, their family, friends and colleagues.</p>
<p>Disturbingly, none of the owners had used any sort of encryption to secure their files against unauthorised snoopers.</p></blockquote>
<p>In perhaps a socioligically optimistic way, the Sophos team in Sydney were &quot;surprised&quot; at the prevelence of malware. To be honest, I would have been more surprised if <em>fewer</em> of the memory keys contained malware.</p>
<h3>Professor Mal Ware of some dodgy uni thing</h3>
<p><img src="https://rubenerd.com/files/uploads/icon.windows.shadow.png" style="height:128px; width:128px; float:right; margin:0px 0px 10px 10px;" alt="Windows logo" class="transparent" /></p>
<p>As I&#39;ve reiterated here many times, Windows itself can be a usable operating system provided it&#39;s thoroughly patched and well maintained. Unfortunately, for most people the chore of doing so is simply still too great, and those who think otherwise are kidding themselves. Nerds are not typical users.</p>
<p>These findings can also be seen as further proof that despite the increased prevalence of network attacks, sneakernet infections are still alive and well. I can still remember the first time I brought home an infected floppy disk from school and our McAfee AntiVirus for Windows 95 had a fit. <a href="http://virusall.com/virus/screenshots/w32spacefiller.php">Chernobyl W32</a>, I&#39;m looking at you. Hey, that rhymed.</p>
<p>Pointless nostalgia aside though, the prevelence of these worms on memory keys only adds further evidence for their effectiveness as an attack vector. Stuxnet is but one contemporary example of malware using this system, which conveniently avoids firewalls and other such network intrusion detection.</p>
<h3>He would be Professor Person Aldata</h3>
<p><img src="https://rubenerd.com/files/uploads/icon.truecrypt.renderhead44.png" style="height:128px; width:128px; float:right; margin:0px 0px 10px 0px;" alt="TrueCrypt icon by Renderhead44" class="transparent" /></p>
<p>As for the personal data they contain, it&#39;s also no surprise to me people are so cavalier, and don&#39;t use encryption of any sort. I use <a href="http://truecrypt.org/">TrueCrypt</a> and/or <a href="http://www.gnupg.org/">GnuPG</a> on my memory keys and external hard drives I intend to use for anything other than media transfer (ahem), but again I&#39;m not a typical use case, and assuming you&#39;re reading my blog, you&#39;re probably not either.</p>
<p>Either everyone becomes more adept at understanding the need for encryption and how to use it, or people stop losing things, or encryption software becomes easier/more transparent for users. I can predict which of the three already is more feasible, but will it happen?</p>
<p>Finally, it appears we can also draw some other conclusions. Those who take public transport in New South Wales &mdash; trains in particular &mdash; lose infested memory keys on a regular basis. Is it the fact they take train that&#39;s the cause of them having malware on their memory keys? I report, you decide!</p>
 
