---
title: 'Randomly awesome Star Trek paraphernalia' 
date: "2011-02-14T11:41:14+10:00"
year: "2011"
category: Media
tag:
- linked-lists
- postaday2011
- random
- scifi
- star-trek 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.tos.jpg" alt="Cute Star Trek Original Series fanart." style="height:310px; width:370px;" /></p>
<p>Here&#39;s some random stuff that fell through subspace into this Trekkie&#39;s browser over the course of the last few days and thought deserved more than a frantic bookmarking on del.icio.us, et al.</p>
<p>We start with the cast of the original series chibbified! Obviously I&#39;m arriving at this party seven years too late ;). As my sister quickly pointed out, these were clearly based on the original cast not the remake. I like the original Trek timeline, she only likes the 2009 Star Trek film, enough said!</p>
<p>I&#39;ve since lost where I got this image from, if I find it I&#39;ll link to it here. Danbooru has a copy, but it hosts some <abbr title="Not Safe for Work">NSFW</abbr> material.</p>
<h3>A Spock Minifig</h3>
<p><img src="https://rubenerd.com/files/uploads/photo.startrek.minifig.jpg" alt="Photo of the Spock LEGO Minifig" style="height:280px; width:262px;" class="transparent" /></p>
<p>I only just found out about <a href="http://www.customminifig.co.uk/spock-star-trek-custom-minifig/">CustomMiniFigs</a>, but already I&#39;ve poured through a ton of their posts and am loving the creativity! This is a minifig of everyone&#39;s favourite Vulcan, complete with pointy ears and a combadge!</p>
<blockquote><p>MiniFig customization is an art, and whilst they can be as simple as mixing and matching logo body parts, they can also be as complex as creating entirely new minifigs and minifig accessories, not necessarily using Lego pieces.</p></blockquote>
<h3>All Good Things…</h3>
<p><img src="https://rubenerd.com/files/uploads/photo.startrek.allgoodthings_01.jpg" alt="Galaxy-esque Dreadnought ship render" style="height:313px; width:500px;" class="transparent" /></p>
<p>A press photo from <a href="http://startrek.com/">Star Trek Online</a>. For those who remember their <em>Next Generation</em> episodes, this Dreadnought class ship was from the last episode <a href="https://secure.wikimedia.org/wikipedia/en/wiki/All_Good_Things">All Good Things</a> set in the distant future.</p>
<h3>Star Trek Fish</h3>
<p><img src="https://rubenerd.com/files/uploads/photo.startrek.thinkgeek.jpg" alt="" style="height:240px; width:320px;" class="transparent" /></p>
<p>You know those Christian fish that some people feel compelled to put on their cars, along with the same fish with legs that Darwin supports use to poke fun of the former? <a title="ThinkGeek: Trek Fish Car Emblem" href="http://www.thinkgeek.com/homeoffice/stickers/ddf4/">Here&#39;s one</a> for Trekkies!</p>
<p>The ratio of the warp nacelles to the rest of the graphic and the shape of the fish saucer section suggest to me an Intrepid class, but the nacelles aren&#39;t mounted in the right position. Its an Intrepid Fish! I&#39;ll stop now.</p>
 
