---
title: 'Steve Jobs' 
date: "2011-10-06T02:35:16+10:00"
year: "2011"
category: Thoughts 
tag: 
- apple
- goodbye
- postaday2011
- steve-jobs 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.stevejobs2011.png" alt="" style="height:349px; width:500px;" /></p>
<p>I had no idea my <a title="Thursday 25th August 2011: Goodbye Steve" href="//rubenerd.com/goodbye-steve/">goodbye from Apple</a> post would turn into an obituary. Reading it back now, it all still holds true.</p>
<blockquote cite="https://rubenerd.com/goodbye-steve/"><p>For those of us who’ve been following Apple for a while, Steve’s resignation as CEO was expected, but it was still a sudden surprise.</p>
<p>Twice at the helm of the company he co-created, Steve took on mediocrity, short sighted tech pundits and endless betas to create integrated products with elegant industrial design and software that just works. Customers rewarded his company for it with fierce brand loyalty, and his competitors employed their sincerest form of flattery. Love or hate his company, but you can’t ignore it.</p>
<p>I wish him the best at his new position at Apple, and hope it allows him to focus more on his health and his family who love him, both of which are more important. Peace.</p></blockquote>
<p>I’m relieved and glad he was able to spend more time with his family before he left. My condolences to his family, friends and co-workers who I’m sure have lost a close friend as well as the visionary we all share in feeling the loss of this morning.</p>
<h3>My message to rememberingsteve@apple.com</h3>
<blockquote><p>To reward me for good grades and to shut me up about these amazing new computers I’d seen, my parents caved and bought me an iMac DV for Christmas when I was 13. It was unlike anything I’d ever used before, and I took to it like a duck to water. I actually loved the cute little hockey puck mouse!</p>
<p>A couple of years later, I got an iBook G3 for my birthday. I used it to help my first crush with her homework, in high school classes when I wasn’t supposed to, in place of the terrible beige box PC in my first IT job, and during my first year of university. I upgraded to the very first Intel MacBook Pro in 2006 which has been with me to Europe, around Asia and Australia, and to this day is still my primary mobile workhorse.</p>
<p>I’ve had black and white and colour iPods, two iPhones and PowerMacs, and a second hand Apple II. I did my first serious programming in Terminal sessions on Mac OS X, the OS derived from his NeXTSTEP system. To say Steve had an effect on my studies, my career and my life would be the understatement of the century.</p>
<p>I didn’t know Steve personally so I can only speak from the perspective of someone who used the fruits of his company’s labours that he helped craft, then reshape upon his return. Compared to every other computer manufacturer, I could see the unique amount of love and care that went into all his company’s products. His obsession with detail, and the marriage of form and function. Others have imitated his work, but have never surpassed it.</p>
<p>My beautiful late mum was born in the same year as Steve, and was also taken away from us too soon from the same cause. As I did with her, while we wish they were still here with us, we can take a measure of comfort from the fact they’re no longer scared, or in pain.</p>
<p>You will be missed Steve, I’m sorry I never got to meet you. I love you man.</p>
<p>Your fan,<br />
~ Ruben Schade</p>
<p>Sent from my iPhone
</p></blockquote>
 
