---
title: 'Steve Jobs vigil at the flagship Sydney Apple Store' 
date: "2011-10-07T02:54:47+10:00"
year: "2011"
category: Thoughts 
tag: 
- apple
- australia
- postaday2011
- steve-jobs
- sydney 
location: sydney
---

<p><img src="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216923335_o@1x.jpg" alt="Apple Store vigil for Steve Jobs in Sydney" srcset="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216923335_o@1x.jpg 1x, https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216923335_o@2x.jpg 2x" style="width:500px; height:373px;" /></p>
<p>Originally I wasn&#39;t going to go, but around 11pm something snapped inside me and I took the last train into town.</p>

<p><img src="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216914557_o@1x.jpg" alt="Apple Store vigil for Steve Jobs in Sydney" srcset="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216914557_o@1x.jpg 1x, https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216914557_o@2x.jpg 2x" style="width:250px; height:186px;" /><img src="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216915701_o@1x.jpg" alt="Apple Store vigil for Steve Jobs in Sydney" srcset="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216915701_o@1x.jpg 1x, https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216915701_o@2x.jpg 2x" style="width:250px; height:186px;" /></p>

<p>It was misty outside with a gentle amount of rainfall, though not enough to extinguish the candles or run the ink on the notes people left.</p>

<p><img src="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6217434922_o@1x.jpg" alt="Apple Store vigil for Steve Jobs in Sydney" srcset="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6217434922_o@1x.jpg 1x, https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6217434922_o@2x.jpg 2x" style="width:250px; height:186px;" /><img src="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6217436258_o@1x.jpg" alt="Apple Store vigil for Steve Jobs in Sydney" srcset="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6217436258_o@1x.jpg 1x, https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6217436258_o@2x.jpg 2x" style="width:250px; height:186px;" /></p>

<p><img src="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216919245_o@1x.jpg" alt="Apple Store vigil for Steve Jobs in Sydney" srcset="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216919245_o@1x.jpg 1x, https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216919245_o@2x.jpg 2x" style="width:250px; height:186px;" /><img src="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6217440186_o@1x.jpg" alt="Apple Store vigil for Steve Jobs in Sydney" srcset="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6217440186_o@1x.jpg 1x, https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6217440186_o@2x.jpg 2x" style="width:250px; height:186px;" /></p>

<p>Since the photo <a href="http://delimiter.com.au/2011/10/06/memorial-gathers-at-apple-store-sydney/">Renai posted on Delimiter</a> this afternoon, people have since left apples, notes, candles and even a forth generation iPod.</p>

<p><img src="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216920639_o@1x.jpg" alt="Apple Store vigil for Steve Jobs in Sydney" srcset="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216920639_o@1x.jpg 1x, https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216920639_o@2x.jpg 2x" style="width:250px; height:186px;" /><img src="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216924411_o@1x.jpg" alt="Apple Store vigil for Steve Jobs in Sydney" srcset="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216924411_o@1x.jpg 1x, https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216924411_o@2x.jpg 2x" style="width:250px; height:186px;" /></p>

<p>In he insight, I&#39;m glad I went late in the evening than during the day. There were still a few people crowded around, but I was able to stand there like a fanboi loser for a few minutes and pay respects without people bumping into me. The light of the candles was also rather warm and pretty in the darkness.</p>

<p><img src="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216926265_o@1x.jpg" alt="Apple Store vigil for Steve Jobs in Sydney" srcset="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216926265_o@1x.jpg 1x, https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216926265_o@2x.jpg 2x" style="width:250px; height:186px;" /><img src="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216925385_o@1x.jpg" alt="Apple Store vigil for Steve Jobs in Sydney" srcset="https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216925385_o@1x.jpg 1x, https://rubenerd.com/files/2011/apple-store-vigil-for-steve-jobs-in-sydney_6216925385_o@2x.jpg 2x" style="width:250px; height:186px;" /></p>

<p>A comment my sister just made: how many other CEOs can you name would have such a fan created vigil made in their honour?</p>
 
