---
title: 'Our Taronga Western Plains Zoo trip!' 
date: "2011-02-25T07:53:50+10:00"
year: "2011"
category: Media
tag:
- animals
- cute
- dubbo-trip-2011
- photos
- postaday2011 
location: sydney
---
<p><a href="//rubenerd.com/files/uploads/photo.me.20110224.02.jpg"><img src="https://rubenerd.com/files/uploads/photo.me.20110224.02.thumb.jpg" alt="" style="height:335px; width:500px;" /></a></p>
<p>On Wednesday and Thursday my old man, sister and I made a spontaneous trip up to <a href="http://www.dubbotourism.com.au/">Dubbo, NSW</a> to visit the <a href="http://www.taronga.org.au/taronga-western-plains-zoo">Taronga Western Plains Zoo</a>. The trip took substantially longer than we thought it would, but overall had a great time :).</p>
<p><!--oldmore--></p>
<p>After travelling most of Wednesday from Sydney on the Great Western Highway (route 32 on the map) and the <a href="http://www.golden-highway.com.au/">Golden Highway</a> and spending the night at a <a href="http://www.goldenwestmotorinn.com.au/">quiet motel</a>, we hit the zoo early on Thursday morning. The entrance looked like something from Jurassic Park, though for some reason none of us took any pictures of it! </p>
<p><img src="https://rubenerd.com/files/uploads/map.nsw.dubbo.png" alt="" style="height:305px; width:500px;" /></p>
<p>Thanks to <a href="https://secure.wikimedia.org/wikipedia/commons/wiki/File:Dubbo_location_map_in_New_South_Wales.PNG">Roke on Wikimedia Commons</a> for that map!</p>
<p>The zoo is spread out around a six kilometre track which you can either hike through, drive a car, cycle, or in our case hire an electric golf cart looking thing. As with the tickets themselves it was a bit of an expensive option, but it let us leap out and see a ton of the animals and hear all this &quot;nature&quot; stuff that I&#39;m not used to hearing inside my computer room or in trains or cars or uni. If you plan on going there, we definitely recommend doing this!</p>
<p><a href="//rubenerd.com/files/uploads/photo.me.20110224.03.jpg"><img src="https://rubenerd.com/files/uploads/photo.me.20110224.03.thumb.jpg" alt="" style="height:167px; width:249px;" /></a>
<a href="//rubenerd.com/files/uploads/photo.me.20110224.04.jpg"><img src="https://rubenerd.com/files/uploads/photo.me.20110224.04.thumb.jpg" alt="" style="height:167px; width:249px;" /></a></p>
<p>The park originally started as a lion safari, and today most of the animals are still African, though there were plenty of Aussie critters are well. The foliage and colours looked particularly authentic; I&#39;ve never been to Africa but my old man has been on several business trips and commented that at times he felt like he was back there! </p>
<p><a href="//rubenerd.com/files/uploads/photo.me.20110224.07.jpg"><img src="https://rubenerd.com/files/uploads/photo.me.20110224.07.thumb.jpg" alt="" style="height:167px; width:249px;" /></a>
<a href="//rubenerd.com/files/uploads/photo.me.20110224.08.jpg"><img src="https://rubenerd.com/files/uploads/photo.me.20110224.08.thumb.jpg" alt="" style="height:167px; width:249px;" /></a></p>
<p>As with the Singapore Zoo there&#39;s very little visible fencing, instead steep embankments separate you from the animals. What I appreciated was the size of each enclosure; the animals had plenty of breathing and playing space, and most even had their own streams and shelters to keep cool in. It was a fairly warm day and I was tempted to leap in with the turtles after seeing them swimming about! I would have also hugged the adorable baby endangered rhino, but I also wanted to live ;).</p>
<p><a href="//rubenerd.com/files/uploads/photo.me.20110224.05.jpg"><img src="https://rubenerd.com/files/uploads/photo.me.20110224.05.thumb.jpg" alt="" style="height:167px; width:249px;" /></a>
<a href="//rubenerd.com/files/uploads/photo.me.20110224.06.jpg"><img src="https://rubenerd.com/files/uploads/photo.me.20110224.06.thumb.jpg" alt="" style="height:167px; width:249px;" /></a></p>
<p>Of all the animals, the most entertaining were the giraffes! As if they&#39;d rehearsed a routine, as we approached they leaped to life and started eating large swaths of leaves from the tops of the trees, as if to rub our noses in the fact that we have regularly proportioned necks ;).</p>
<p><a href="//rubenerd.com/files/uploads/photo.me.20110224.09.jpg"><img src="https://rubenerd.com/files/uploads/photo.me.20110224.09.thumb.jpg" alt="" style="height:167px; width:249px;" /></a>
<a href="//rubenerd.com/files/uploads/photo.me.20110224.10.jpg"><img src="https://rubenerd.com/files/uploads/photo.me.20110224.10.thumb.jpg" alt="" style="height:167px; width:249px;" /></a></p>
<p>LLAMAS! Oh yeah and as promised, some more of the Aussie critters! Kangaroos, wallabies are so memorising to watch jumping around.</p>
<p><a href="//rubenerd.com/files/uploads/photo.me.20110224.11.jpg"><img src="https://rubenerd.com/files/uploads/photo.me.20110224.11.thumb.jpg" alt="" style="height:167px; width:249px;" /></a>
<a href="//rubenerd.com/files/uploads/photo.me.20110224.12.jpg"><img src="https://rubenerd.com/files/uploads/photo.me.20110224.12.thumb.jpg" alt="" style="height:167px; width:249px;" /></a></p>
<p>The welcome centre had a really nice cafe by the water where we had lunch afterwards in amongst the peacocks. They did a pretty good coffee, I must say. The barista, not the peacock I mean. Though I didn&#39;t give the peacock a chance to make one, so I suppose I can&#39;t be too sure. Neither did the ducks, which were everywhere! XD</p>
<p><a href="//rubenerd.com/files/uploads/photo.me.20110224.13.jpg"><img src="https://rubenerd.com/files/uploads/photo.me.20110224.13.thumb.jpg" alt="" style="height:167px; width:249px;" /></a>
<a href="//rubenerd.com/files/uploads/photo.me.20110224.14.jpg"><img src="https://rubenerd.com/files/uploads/photo.me.20110224.14.thumb.jpg" alt="" style="height:167px; width:249px;" /></a></p>
<p>Our only tips: if you&#39;re coming from Sydney make sure you leave VERY early in the morning, otherwise you arrive too late to do anything that day. Take plenty of water and sunscreen if you go in the warmer months, and by all means come during the week. While they don&#39;t offer the evening events then, we were really fortunate that at times it felt like we were the only ones there. Absolutely worth it :).</p>
 
