---
title: 'Technorati symptoms of something bigger?' 
date: "2011-06-11T01:52:28+10:00"
year: "2011"
category: Media
tag:
- facepalm
- politics
- postaday2011
- technorati
- united-states 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/page0_blog_entry19_1.gif" style="height:40px; width:221px;" class="transparent" alt="Technorati logo." /></p>
<p>So I checked Technorati.com this evening, that former darling of the blogosphere (do people use that term anymore?) I <a href="//rubenerd.com/technorati/">joined in 2005</a>. Four of the twelve top stories were about American politician Anthony Weiner and his schlong. <strong>One third</strong>.</p>
<p>It&#39;s so disappointing that for all the blatant ratings grabbing and race-to-the-bottom journalism we accuse the mainstream media of pushing on us, blogs seem to be following the same path with vapid news stories that just aren&#39;t news. At least when I post <a href="//rubenerd.com/anime-and-im-really-enjoying-this-iced-cream/">pointless entries</a>, they&#39;re cute! But I digress.</p>
<p>I guess a sex scandal sells, it&#39;s why Clinton was impeached and not Bush.</p>
 
