---
title: 'Text editor bloodlines' 
date: "2011-09-28T11:54:24+10:00"
year: "2011"
category: Software
tag:
- dos
- hacker-news
- infocomm
- macvim
- nostalgia
- text-editors
- vim
- zedit 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.zedit.png" alt="ZEdit" style="height:200px; width:500px;"  /></p>

<p>A <a href="http://news.ycombinator.com/item?id=3038247">discussion on Hacker News about TextMate 2.0</a> spawned a fascinating general discussion on text editors, specifically what people have replaced TextMate with in its intervening abandonware years. Because I have a blog, I leave my comments here! ^_^</p>

<table>
<thead>
<tr>
<th style="text-align:left;">Editor</th>
<th style="text-align:left; padding-right:1em">Platform</th>
<th style="text-align:left;">Comment</th>
</tr>
</thead>
<tbody>
<tr>
<td style="height:1em;" colspan="3"></td>
</tr>
<tr>
<td>ZEdit</td>
<td>DOS</td>
<td>Syntax highlighting, in 1993! Wonderful editor</td>
</tr>
<tr>
<td style="padding-right:1em;">MS-DOS Edit</td>
<td>MS-DOS</td>
<td>Mostly in it’s QBasic form</td>
</tr>
<tr>
<td>IBM E Editor</td>
<td>PC DOS</td>
<td>Should have been the default for MS-DOS too</td>
</tr>
<tr>
<td style="height:1em;" colspan="3"></td>
</tr>
<tr>
<td>Taco HTML</td>
<td>OS X</td>
<td>Beautiful little editor</td>
</tr>
<tr>
<td>Smultron</td>
<td>OS X</td>
<td>Formally free editor with side tabs</td>
</tr>
<tr>
<td>TextMate</td>
<td>OS X</td>
<td>Great for small projects, but I replaced it with…</td>
</tr>
<tr>
<td>MacVim</td>
<td>OS X</td>
<td>With NERDTree, it’s my new favourite editor!</td>
</tr>
<tr>
<td style="height:1em;" colspan="3"></td>
</tr>
<tr>
<td>nano</td>
<td>Console</td>
<td>My first job used this, surprisingly!</td>
</tr>
<tr>
<td>Vim</td>
<td>Console</td>
<td>With vi compatibilty mode set to… off ;)</td>
</tr>
<tr>
<td>nvi</td>
<td>*BSD</td>
<td>Not my first choice, but can use now if need be</td>
</tr>
<tr>
<td>Emacs</td>
<td>Console</td>
<td>Not bad, just not my cup of tea</td>
</tr>
<tr>
<td style="height:1em;" colspan="3"></td>
</tr>
<tr>
<td>Kate</td>
<td>KDE</td>
<td>My favourite graphical *nix editor ^_^</td>
</tr>
<tr>
<td>Gedit</td>
<td>Gnome</td>
<td>Very capable and lightweight</td>
</tr>
<tr>
<td>Geany</td>
<td>GTK+</td>
<td>More of an IDE, but worth a mention!</td>
</tr>
<tr>
<td style="height:1em;" colspan="3"></td>
</tr>
<tr>
<td>C=BASIC</td>
<td>Plus/4</td>
<td>Retroactively learned on some 2nd hand hardware ^_*</td>
</tr>
</tbody>
</table>
<p>As a matter of disclosure, this post was created in one of the aforementioned text editors.</p>
 
