---
title: 'The RMS Campania' 
date: "2011-05-14T11:22:50+10:00"
year: "2011"
category: Thoughts 
tag: 
- design
- history
- ocean-liners
- postaday2011
- retro 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.campania_cunard_pier.jpg" alt="Photo of the RMS Campania at Cunard's New York Pier." /></p>
<p>A <a href="https://secure.wikimedia.org/wikipedia/en/wiki/File:Campania_at_Cunard_Pier.jpg">photo</a> of the RMS <em>Campania</em> at a New York pier having come from Liverpool. When she was launched in 1892 she was the world&#39;s largest, fastest ocean liner, though compared to the <a href="https://secure.wikimedia.org/wikipedia/en/wiki/File:The_Lusitania_at_end_of_record_voyage_1907_LC-USZ62-64956.jpg">Lusitania</a> and <a href="https://secure.wikimedia.org/wikipedia/en/wiki/File:RMS_Titanic_3.jpg">Titanic</a> that were only a decade or two away, she looks tiny! Check out the people on deck in their bowler hats and coats!</p>
<p>I love old photos like this; Wikipedia has all of a sudden become far more fascinating and deeply time wasting. I wish I could see some of her interior decor, apparently she was done out in true Victorian era style.</p>
 
