---
title: '@djackmanson, @omegatron and trolls' 
date: "2011-06-30T11:17:53+10:00"
year: "2011"
category: Internet
tag:
- funny
- infocomm
- postaday2011
- social-networks
- trolls
- twitter 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.bluetroll.jacopo_prisco.jpg" alt="" style="height:270px; width:500px;" /></p>
<p>An incident on Twitter this afternoon has given me food for thought. Barbera Streisand.</p>
<p style="font-style:italic;">(Adorable blue troll photo by Jacopo Prisco on <a href="https://secure.wikimedia.org/wikipedia/commons/wiki/File:Blue_troll.JPG">Wikimedia Commons</a>).</p>
<h3>Saga is a Proton car</h3>
<p>For those of you who didn&#39;t see the saga unfold, a couple of days ago I <a href="https://twitter.com/Rubenerd/statuses/83762205266427905">tweeted</a> a fairly innocuous question on Twitter about how safe it was for freight and passenger trains to be sharing the same lines in Sydney, after a derailment of a freight train caused large delays on the Eastern Suburbs &amp; Illawarra Line, which I <a title="Thursday 23rd June 2011: #CityFail for 2011.06.23"  href="//rubenerd.com/cityfail-for-2011-06-23/">blogged about</a>.</p>
<p>I&#39;m used to getting nasty messages online, for some people they just seem to get off on it, and the cloak of anonymity gives them the confidence to do so. None of this is new, and I&#39;ve stopped taking them personally a long time ago, as I&#39;m sure you have too. So when <span style="font-weight:bold;">[redacted]</span> rudely tweeted me about how I hadn&#39;t been using my head [link redacted], I <a href="//rubenerd.com/cityrail-post-followup-with-redacted-and-sally/">quoted his tweet in a blog post</a> and made a joke about how I&#39;d been thinking with my elbow!</p>
<p>Low and behold, a few hours later <span style="font-weight:bold;">[redacted]</span> tweeted me with this:</p>
<blockquote><p>@Rubenerd_Blog &#8211; Remove the links to my account now, I do not authorise any of that being on your site. This is your first/final warning.</p></blockquote>
<h3>Adjusts his suspenders</h3>
<p>Now I&#39;m no big city lawyer! Aside from several flirtations with macroeconomics in high school and university, I have no legal training and am unsure as to whether a link to a public resource is owned by that person. I&#39;d hazard a guess and say it&#39;s not. Still, I took the high road and granted his request by removing all links to his rude message.</p>
<p>I have some theories. He either:</p>
<ol>
<li>likes trolling people in public, but not when his trolling is used against him.<p></p></li>
<li>wasn’t aware his tweets were public.<p></p></li>
<li>doesn’t understand how Twitter works and/or the architecture of the Internet.<p></p></li>
<li>didn’t want his name attached to such a bad joke about an elbow. I’m leaning towards this.<p></p></li>
</ol>
<p>In any case, <span style="font-weight:bold;">[redacted]</span> and other trolls simply need to learn to only troll people if they have the balls to be called out for it, and to realise that any attempt to hide their trolling only results in the <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Streisand_effect">Streisand Effect</a>. Mmm, <a href="//rubenerd.com/barbara-streisand/">Duck Sauce</a>. As <a href="https://twitter.com/omegatron/status/86380275071860736">@omegatron pointed out</a>… and I&#39;m sure he&#39;s okay with me quoting him!</p>
<blockquote><p><span style="font-weight:bold;">[redacted]</span> should think about privating his account if he’s going to get precious about what he’s said in a public sphere.</p></blockquote>
<p>As for me, I&#39;ve learned simply not to feed them. They&#39;re just not good sports.</p>
<p>Big thanks to <a href="https://twitter.com/djackmanson">@djackmanson</a> in Brisbane and <a href="https://twitter.com/omegatron">@omegatron</a> in Adelaide for their support :).</p>
 
