---
title: 'This Week in Rubenerd Mobile Computing' 
date: "2011-07-21T01:58:19+10:00"
year: "2011"
category: Hardware 
tag:
- android
- apple
- infocomm
- lenovo
- macbook
- macbook-air
- meego
- thinkpad 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.2011.mba.thinkpadtab.jpg" alt="" style="height:262px; width:500px;" class="transparent" /></p>
<p>It&#39;s time for everybody&#39;s favourite blog post series, <strong>This Week in Rubenerd Mobile Computing</strong>! Rolls off the tongue quite nicely, does it not? I&#39;m Ruben Schade, and today&#39;s post features Apple&#39;s new line of MacBook computers, and a new ThinkPad tablet?</p>
<p><!--oldmore--></p>
<h3>The MacBook</h3>
<p>Apple continues their march for global domonation with their sudden drop in price of the MacBook Air, with the stated intention that <em>&quot;Everyone should have a notebook this advanced. And now everyone can.&quot;</em>. While the author belives the the term <em>&quot;advanced&quot;</em> is in line with Apple&#39;s typical overhyped marketing, the form factor and the inclusion of i5 and i7 CPUs in said form factor is wonderous. The price is also low enough that he can&#39;t help but wonder why anyone in their right mind would pay the Microsoft Tax for a crappy plastic netbook in its place now.</p>
<p>More surprising still though is the dropping of the MacBook line altogether. The author always thought the MacBook and the MacBook Pro to be an awkward distinction from the start given they had so many parts in common, were both unibody machines at one point, and that the Pros didn&#39;t really have the high end features the real Dell and HP professional workstation laptops had.</p>
<h3>The ThinkPad</h3>
<p>The erosion of the once mighty bastion of advanced technology, quality and design continues in ernest with the annoucement of a ThinkPad branded tablet running Google&#39;s closed source Android <del>Ice Cream Microsoft Long Name Envy</del> Honeycomb operating system. One shouldn&#39;t get too emotionally attached to brands, but to see the ThinkPad line with a Lenovo badge was hard enough without seeing one running a <del>Java</del> iOS interface knockoff. <del>Hey, but its open right, so no problem!</del></p>
<p>The author supposes if one could run MeeGo it would be infinitely more attractive, provided the build quality that the ThinkPad line has earned a reputation for will continue in this tablet form. He will be keeping a close eye on this, for despite having large amounts of Apple hardware and an iPad in the family he feels little desire to own one of the latter.</p>
<h3>The End</h3>
<p>And that concludes this installment of everybody&#39;s favourite blog post series, <strong>This Week in Rubenerd Mobile Computing</strong>! It was the first, and hopefully, will be the last. I&#39;m Ruben Schade. Goodnight.</p>
 
