---
title: '[Video] Ken’s Sushi Bar Dining dolls!' 
date: "2011-09-27T01:34:17+10:00"
year: "2011"
category: Media
tag:
- food
- postaday2011
- video
- vimeo 
location: sydney
---
<p><a href="https://vimeo.com/29606425" title="Play Dolls at Ken’s Sushi Bar Dining"><img src="https://rubenerd.com/files/2011/vimeo-198410754@1x.jpg" srcset="https://rubenerd.com/files/2011/vimeo-198410754@1x.jpg 1x, https://rubenerd.com/files/2011/vimeo-198410754@2x.jpg 2x" alt="Play Dolls at Ken’s Sushi Bar Dining" style="width:500px; height:281px;" /></a></p>

<p>My first Vimeo upload with my <a href="http://vimeo.com/rubenerd">new(ish) account</a>. Dancing dolls at <a href="https://www.openstreetmap.org/way/172811271">Ken&#39;s Sushi Bar Dining</a> in Bexley North tonight.</p>

<p>I love that you can customise the colours, and the UI is much slicker than YouTube.</p>
 
