---
title: 'Bruce Clement asks why you blog' 
date: "2011-03-05T09:03:52+10:00"
year: "2011"
category: Internet
tag:
- bruce-clement
- far-too-long
- infocomm
- postaday2011
- super-detailed-diagram
- weblog 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/diagram.whyblog.png" alt="Is it entertaining or usefuk? Grill a cheese sandwich, develop an idea, blog it!" style="height:127px; width:493px;" class="transparent" /></p>
<p>Bruce Clement, a new friend of mine on <a href="https://twitter.com/Bruce_Clement">The Twitters</a>, recently asked his followers <a title="Weblog New Zealand: Why I blog" href="http://www.weblog.co.nz/aE1">why they blog</a>. This is my attempt at an answer!</p>
<p>Having opened a dialogue about battery oddities under Linux, Bruce Clement and I started following each other a few days ago. He&#39;s an IT professional hailing from across the pond in New Zealand who&#39;s Twitter profile description is eerily familiar to mine:</p>
<blockquote><p>Software developer. Internet branding. Linux user. No I can’t fix your computer. Can’t design decent looking websites either.</p></blockquote>
<p>Swap out <em>&quot;internet branding&quot;</em> with <em>&quot;anime fan&quot;</em> or something equally less productive, and his profile sounds just like mine ;).</p>
<p><img src="https://rubenerd.com/files/uploads/diagram.usefulness.png" alt="" style="height:143px; width:387px;" class="transparent" /></p>
<h3>Here I go, attempting an answer to his post!</h3>
<p>While I&#39;d like to say I blog because I have valuable insights, am participating in citizen journalism that&#39;s bringing down corrupt governments and institutions, that I&#39;m entertaining and informative, that Dave Winer insulted me into doing it, or that I&#39;m being held captive on a space station and being forced to do so with a phaser pointed at me, I&#39;d be full of nonsense if I claimed to be.</p>
<p>There are secondary reasons aplenty:</p>
<dl>
<dt style="font-weight:bold;">It helps me remember things</dt>
<dd>Blogging gives me a virtual record of what I’ve found interesting and procedures I’ve come up with to do things over time. The former is fun for nostalgic reasons, the latter is helpful and may as well be online instead of sitting in some random text file somewhere!<p></p></dd>
<dt style="font-weight:bold;">It keeps me in contact with people</dt>
<dd>I’m a terribly shy and antisocial person in public, but blogging keeps me in contact with people from all over the place, some of whom only know me because they happened to see something in a search engine or a tweet. Sometimes they even <a title="Buy Ruben a coffee!" href="//rubenerd.com/buy-a-coffee/">reward me with coffee</a> :)<p></p></dd>
<dt style="font-weight:bold;">It lets people know they’re right and I’m wrong</dt>
<dd>As the internet meme goes, everyone’s entitled to my opinion. Trolls love my opinion because it gives them fodder to justify their existence, and people who agree with me leave nice comments!<p></p></dd>
<dt style="font-weight:bold;">It’s great for downtime</dt>
<dd>I’m not really into gaming and am a fairly solitary person, so blogging is just a natural fit. If I were entertaining and a good writer, it’d fit me even more.<p></p></dd>
<dt style="font-weight:bold;">It makes me look legit</dt>
<dd>There is nothing, <strong>nothing</strong> more valuable to a person’s reputation than having a well stocked weblog or blog or website or whatever it is people call them. I read it in Fortune or Time or Newsweek or something.<p></p></dd>
<dt style="font-weight:bold;">It legitimises activities</dt>
<dd>If I were satisfied with being a passive consumer I’d spend all day watching anime, messing around with programming languages and operating systems that are outdated or seldom used outside fan circles, and I’d have no qualms about it. Somehow writing about doing things helps to legitimise them, even if they’re still entirely pointless.<p></p></dd>
</dl>
<p>Ultimately though, I blog primarily for two simple reasons: I&#39;m being held captive on a space station and its operators claim they&#39;ll throw me out an airlock if I don&#39;t produce material that helps them to understand the inner workings of the early 21st century male nerd mind. Also, I just find it a terribly fun thing to do. :)</p>
<p><img src="https://rubenerd.com/files/uploads/diagram.soviet.png" alt="In Soviet Russia, blog diagrams you." style="height:79px; width:474px;" class="transparent" /></p>
 
