---
title: '[Possibly NSFW] Commons image of the day' 
date: "2011-05-17T12:41:06+10:00"
year: "2011"
category: Media
tag:
- art
- censorship
- colour
- postaday2011
- rant
- wikimedia
- wikimedia-commons 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/blank.png" alt="Obscured version for angry people." style="height:220px; width:500px; background:url('//rubenerd.com/files/uploads/On_the_edge_-_free_world_version_500px.jpg') top no-repeat;" /></p>
<p>Anyone else notice Wikimedia Common&#39;s <a href="https://secure.wikimedia.org/wikipedia/commons/wiki/Commons:Picture_of_the_day">Picture of the day</a>  today?</p>
<h3>No Ruben, do tell!</h3>
<blockquote><p><a href="https://secure.wikimedia.org/wikipedia/commons/wiki/File:On_the_edge_-_free_world_version.jpg" style="font-weight:bold;">File:On the edge &#8211; free world version.jpg</a></p>
<p><span style="font-weight:bold;">English</span>: Drawing of a fictional landscape with a figure in manga/anime style. The title of this image is: On the Edge. Programs used: GIMP, Inkscape, Blender. ~ <a href="https://secure.wikimedia.org/wikipedia/commons/wiki/User:Niabot">Niabot</a></p></blockquote>
<h3>Okay then, so what?</h3>
<p>Aside from being a really colourful and creative image in its own right (love the light coming in through the trees onto the Shinto gate), I applaud the editors at Wikimedia for not only allowing material like this, but gracing their homepage with it for a day and tagging it as <span style="font-style:italic;">&quot;a featured picture on Wikimedia Commons&quot;</span> and  <span style="font-style:italic;">&quot;This image has been assessed using the Quality image guidelines and is considered a Quality image&quot;</span>. Seriously!</p>
<p>I think it speaks volumes about our culture that images like this warrent a <abbr style="border-bottom:1px dotted" title="not safe for work">NSFW</abbr> warning, but gory violence where people are graphically maimed or killed is perfectly acceptable, or at the very least is more leniently censored. I have my suspicions as to why that is, but at the risk of getting into further trouble, I won&#39;t discuss it here!</p>
<p>This was the first &#8212; and will be the last &#8212; NSFW image on Rubenerd.com. I hope I didn&#39;t offend, or at the very least scar you for life!</p>
<p><a href="https://secure.wikimedia.org/wikipedia/commons/wiki/File:On_the_edge_-_free_world_version.jpg"><img src="https://rubenerd.com/files/uploads/On_the_edge_-_free_world_version_500px.jpg" style="height:389px; width:500px;" alt="" /></a></p>
<p style="font-style:italic;"><strong>UPDATE:</strong> It seems the image isn’t the picture of the day anymore, in the time I wrote this it changed to something completely different. There’s a Monty Python reference in there somewhere. Anyway, dang timezones, I keep forgetting their servers are in the US! There’s probably an archive of previous pictures of the day somewhere on their site.</p>
 
