---
title: 'A Windows 7 cleaning saga' 
date: "2011-01-16T01:36:22+10:00"
year: "2011"
category: Software
tag:
- far-too-long
- fedora
- infocomm
- postaday2011
- privacy
- security
- windows
- windows-7 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/screenie.windows7.taskbarnorton.png" alt="Windows, Internet Explorer, Norton…" style="height:75px; width:500px;" /></p>
<p>Yesterday someone approached me and asked if I could take a look at their laptop. Below is a tale of terror, horror and the eventual conversion of someone to Linux, of all things!</p>
<h3>Hey, you look like a nerd!</h3>
<p>So I was sitting at one of my favourite coffee shops in Sydney blogging about Malcolm Turnbull (<a href="//rubenerd.com/malcolm-turnbull-adsl2-enough/">Malcolm Turnbull’s 640KiB moment</a>) when a person who will remain anonymous approached me and asked if I could take a look at their laptop. They&#39;d noticed me sitting here furiously typing away and that I &quot;looked like I knew what I was doing&quot;. Clearly he&#39;s never read anything here ;).</p>
<p>I agreed, and he came back with a giant ugly Dell laptop and put it on the table. I&#39;m aware the term &quot;ugly&quot; is a tautology when referring to Dell in the same sentence, but threw it in there anyway. Hey, at least they&#39;re slightly less of a gross eyesore than HPs. Give me a sexy unibody MacBook Pro or a classy ThinkPad any day of the week. Or some of the new Samsung notebooks which are still generic glossy Plastic Fantastic but at least their styling is minimal and sleek. But I digress.</p>
<p><img src="https://rubenerd.com/files/uploads/rubenerd.digression.png" alt="You've just read another pointless Rubenerd Digression!" style="height:35px; width:500px;" /></p>
<p>He claimed the general issue with the machine was general sluggishness and unreliable operation which gradually got worse after each boot. I could tell why as soon as it turned on, it was running Windows 7 with full Aero turned on in all its ugly glory. Hah, there I go with that word again ;). Oh yeah and I turned the menu back on again, sheesh.</p>
<p>Hey, remember when all the bloggers and reviewers and Microsoft were telling us with all those great astroturfing sites that Windows 7 was not only infinitely faster than XP, but was the single greatest thing ever invented in the history of personal computing? <a href="//rubenerd.com/windows-7-not-faster/">I called shenanigans on this back in 2009</a>, and I still do!</p>
<p>Anyway, after disabling Aero and restoring a tiny shred of class to the Windows UI, the machine continued to act sluggish, albeit better than before.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.norton.scaremongering.png" alt="Screenshot of Norton 360 saying YOU ARE AT RISK!" style="height:265px; width:500px;" /></p>
<h3>Make it easy on yourself Norton!</h3>
<p>A reference to <a title="Wikipedia article link" href="https://secure.wikimedia.org/wikipedia/en/wiki/The_Shawshank_Redemption">The Shawshank Redemption</a>, another movie that so many people love that you&#39;re not supposed to, but I don&#39;t care, its one of my favourite movies of all time. Its just behind <a title="Wikipedia article link" href="https://secure.wikimedia.org/wikipedia/en/wiki/The_Count_of_Monte_Cristo">The Count of Monte Cristo</a> as my pick for the ultimate comeuppance story! I liked the movie adaptation, but you really have to read the book. Napoleon, you scoundrel!</p>
<p>I was then alerted to something else, and in a terribly rude fashion: Norton&#39;s AntiVirus product flashed onto the side of the screen and alerted us impending doom was inevitable because the owner of this machine hadn&#39;t renewed his protection racket. We&#39;re defenceless! All our email will have creepy looking bugs in them! We&#39;ll be spied on by people wielding large telescopes and even larger cricket bats!</p>
<p>The poor guy was running Norton, good heavens! You can&#39;t blame him though, most Windows machines are loaded up with it with one of those dodgy 12 months free then pay later deals. The technical term is crapware (<a href="//rubenerd.com/ed-bott-windows-crapware/">Ed Bott misses reason for Windows crapware</a>), the legal term is extortion. Are my biases showing through yet?</p>
<p>What followed was a hasty uninstallation of the offending software, and the hasty downloading and installing of Lavasoft&#39;s free <a href="http://www.lavasoft.com/products/ad_aware_free.php">AdAware</a> product, <a href="http://www.microsoft.com/security_essentials/">Microsoft Security Essentials</a> tool (which is surprisingly good even if it does ship with a phonebook length name and creepy corporate stock photos like virtually everything Microsoft does), and the latest monthly <a href="http://www.microsoft.com/security/malwareremove/default.aspx">Malicious Software Removal Tool</a>.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.wse.jpg" alt="Screenshot with stock photos of random people on the Microsoft site advertising their security software." style="height:175px; width:500px;" /></p>
<h3>Oh… my… [insert deity here]</h3>
<p>That&#39;s when we uncovered something fierce. AdAware had barely started its scan before it started reporting a litany of trojans and spyware apps, and Security Essentials took less than five minutes on a full system scan to detect what it reported as five &quot;critical&quot; vulnerabilities. The Malicious Software Removal Tool &#8212; which I refer to by its executable name MRT because I grew up in Singapore and get a kick out of it &#8212; found Confiker! No joke!</p>
<blockquote><p>&quot;<a title="Wikipedia article: Singapore Mass Rapid Transit" href="https://secure.wikimedia.org/wikipedia/en/wiki/Mass_Rapid_Transit_%28Singapore%29">The Mass Rapid Transit or MRT</a> is a rapid transit system that forms the backbone of the railway system in Singapore, spanning the entire city-state.</p>
<p>The trains are faster, cleaner, more accessible, in more locations, more frequent, more reliable, more affordable (and ironically more profitable) than their Australian counterparts, and they wonder why Aussies love their cars. The carriages are also aware of dozens of Windows exploits and can clean them, surprisingly.&quot;</p></blockquote>
<p>Are those Rubenerd Digression alerts getting annoying yet? But I digress.</p>
<p><img src="https://rubenerd.com/files/uploads/rubenerd.digression.png" alt="You've just read another pointless Rubenerd Digression!" style="height:35px; width:500px;" /></p>
<p>Eventually I told the guy at the coffee shop his machine was far too compromised to be effectively cleaned, and the only way to be safe would be a complete clean system install. Because I&#39;m a hopeless nerd loser I had a portable notebook drive in my bag which we used to backup his photos and music onto, then we reinstalled Windows 7.</p>
<p>Once his data was back in his Library or whatever silly, nonsensical thing Windows 7 uses, I reinstalled the security tools I&#39;d installed before, then proceeded to re-install his software. Except… he had virtually none. He used Internet Explorer for the web, the built in image viewer and Windows Explorer for browsing, and Windows Media Player for his MP3s. About the only things he&#39;d installed were the official BitTorrent client and… get this… Microsoft Works! XD</p>
<p><img src="https://rubenerd.com/files/uploads/microsoftworks.jpg" alt="Microsoft Works." style="height:379px; width:500px;" /></p>
<h3>It had to be said</h3>
<p>On a hunch, I asked him if he&#39;d ever heard of Linux. I told him that while it was possible for average users to keep Windows machines running smoothly and securely, its frustrating and a lot of work, ultimately for little gain.</p>
<p>Being a nerd I also had a memory key in my bag that&#39;d I&#39;d imaged with with <a href="http://fedoraproject.org/">Fedora 14 x64 LiveCD</a>. We rebooted his machine and he thought Gnome was so &quot;clean and simple&quot; I started the installer and dual booted his machine with it!</p>
<p>Less than five minutes of instruction and he knew how to run Firefox, VLC, Nautilus, Eye of GNOME, Exaile, OOo and Transmission instead of their Windows counterparts, and he even had some extra games installed with Yum. There was a software update available on the menu, so it installed itself and we rebooted. No muss, no fuss.</p>
<h3>This was an unprofessionally long post</h3>
<p>We kept Windows 7 on the machine just in case he&#39;d ever need something Windows specific, but he&#39;ll be trialling Linux for everything else, especially internet banking!</p>
<p>Now granted I&#39;m still more of a <a href="http://freebsd.org/">FreeBSD</a> guy, but I have to give kudos where kudos are due, the Fedora folks have done a wonderful job developing a cohesive system for people who have lives outside computers, and they now have a new user in their ranks :).</p>
<p><img src="https://rubenerd.com/files/uploads/icon.tango.heart.png" alt="Icon from the Tango Desktop Project" style="height:128px; width:128px;" class="transparent" /><img src="https://rubenerd.com/files/uploads/fedora-logo-icon.png" alt="Fedora icon" style="height:96px; width:96px; padding:16px 0;" class="transparent"  /></p>
 
