---
title: 'We had Yuletide cheer again!' 
date: "2011-12-26T02:43:45+10:00"
year: "2011"
category: Thoughts 
tag:
- flickr-photos
- family
- postaday2011
- yuletide 
location: sydney
---
<p><img src="https://rubenerd.com/files/2011/6568914801_8d56226aa8_o@1x.jpg" srcset="https://rubenerd.com/files/2011/6568914801_8d56226aa8_o@1x.jpg 1x, https://rubenerd.com/files/2011/6568914801_8d56226aa8_o@2x.jpg 2x" alt="Happy Yuletide 2011 ^_^" style="width:500px; height:334px;" /></p>

<p>We swapped gifts, had a turkey roast and freshly made fruit cake, played Wii games, flew a RC helicopter to scare the dogs courtesy of the illustrious <a href="http://mobile.twitter.com/omegatron">@omegatron</a>, built Lego, then took a long family walk in the park. The first real home Yule we&#39;ve had since my mum moved on, and it was absolutely wonderful :). </p>

<p>My old man and I decided to call it <em>Yule</em> given our German heritage, because the holiday was originally a winter festival before it was adapted, and because &quot;solstice&quot; isn&#39;t entirely accurate. We&#39;re precise scientific folk, you see!</p>
 
