{{ partial "head.html" . }}

{{ safeHTML "<!-- Title and description です -->" }}
<header id="site-header">
<h1 id="site-title"><a href="/">{{ .Site.Title }} <img aria-hidden="true" src="/logo.svg" alt="" /></a></h1>
<a id="skip" href="#content">Skip to content</a>
<div id="site-description">{{ .Site.Params.Description }}</div>
</header>


<hr />{{ safeHTML "<!-- ******************************** -->" }}


{{ safeHTML "<!-- Navigation bar です -->" }}
<nav id="site-navigation">{{ range .Site.Menus.header }}
<a href="{{ .URL }}">{{ .Title }}</a>{{ end }}
</nav>

<hr />{{ safeHTML "<!-- ******************************** -->" }}


{{ safeHTML "<!-- Content starts です -->" }}
<main id="content">

<div style="background:#f4e4ea; color:#990044; line-height:20px; font-size:14px; font-weight:bold; text-align:center; padding:1em; margin-top:2em;">Please <a href="https://www.rfs.nsw.gov.au/volunteer/support-your-local-brigade">donate</a> to the <abbr title="New South Wales" style="border:0; text-decoration:none;">NSW</abbr> Rural Fire Service if you want to help with the unfolding Australian bushfire disaster. Thank you. ♡</div>
