<form role="search" method="get" action="https://duckduckgo.com/" id="search"> 
<fieldset>
<legend>Search blog posts with DuckDuckGo</legend>
<input type="text" size="40" name="q" placeholder="Search with DuckDuck" /> 
<input type="hidden" name="ia" value="web" />
<input type="hidden" name="kaj" value="m" />
<input type="hidden" name="k7" value="w" />
<input type="hidden" name="k9" value="b" />
<input type="hidden" name="ks" value="l" />
<input type="hidden" name="sites" value="http://localhost:1313/" />
<input type="submit" value="Go!" /> 
</fieldset>
</form>
