<hr />

<footer>
  <h2>And here’s the footer</h2>

  <p><span property="copyright">Original material © 2004–16
    <a href="/about/">Ruben Schade</a>.</span> 
    Dedicated to <a href="/dedication/">my mum</a>.<br />
    Subscribe to <a href="https://rubenerd.com/feed/">RSS</a> or follow 
    <a href="https://twitter.com/Rubenerd_Blog">@Rubenerd_Blog</a> for 
    updates.</p>

  <form role="search" method="get" id="search" action="https://duckduckgo.com/html/">
    <fieldset>
      <legend>Search the site with DuckDuckGo.</legend>
      <input type="hidden" name="ko" value="s" />
      <input type="hidden" name="k3" value="RubenerdBlog" />
      <input type="hidden" name="sites" value="Rubenerd.com" />
      <input type="text" name="q" maxlength="255" placeholder="&#x1f50e; Search" />
      <input type="submit" value="DuckDuckGo Search" />
    </fieldset>
  </form>

  <p><a href="https://joviam.com/" title="Hosted on Joviam, the Australian cloud hosting company"><img 
    src="https://rubenerd.com/joviam.png" 
    srcset="https://rubenerd.com/joviam.png 1x, https://rubenerd.com/joviam@2x.png 2x" 
    alt="Hosted on Joviam, the Australian cloud hosting company" style="width:240px; height:56px;" /></a></p>

  <p style="font-style:italic">Time for a meeting, in digital space;<br />
    Because for thousands of years, we couldn’t agree on a place.</p>

</footer>

</main>

</div><!-- /sandwich-wrapper -->

</body>
</html>
