<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ .Site.LanguageCode }}" xml:lang="{{ .Site.LanguageCode }}" vocab="http://schema.org/" typeof="Blog">

<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <link rel="alternate" href="{{ .Site.BaseUrl }}/feed/" type="application/rss+xml" />
  <meta name="author" content="{{ .Site.Author.name }}" />
  <meta name="description" content="{{ .Site.Params.subtitle }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
  <link rel="profile" href="http://microformats.org/profile/specs" />
  {{ .Site.Params.html5shim | safeHtml }}
  {{ .Site.Params.respect | safeHtml }}
</head>

<body>
