<p>The Rubénerd Show is my podcast of esoteric interests. I started recording in Singapore, but it's sin    ce appeared in Adelaide, Kuala Lumpur and Sydney.</p>

<p>You can subscribe with <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">iTunes</a>, <a href="http://pca.st/ybXl">Pocket Casts</a>, <a href="https://overcast.fm/itunes1003680071/rub-nerd-show">Overcast</a>, or add <a href="http://rubenerd.com/show/feed/">this feed</a> to your podcast client. More links are available on the <a href="http://rubenerd.com/subscribe/">subscribe</a> page.</p>

<p>The show is proudly released on The Overnightscape Underground, an Internet talk radio channel focusing on a freedom monologue style, with diverse and clever hosts (me notwithstanding!) presenting unique programmes, historic archive material, and nocturnal audio emissions.</p>

