<div id="archive-show-description">
<p>Welcome to the harmless <em>Rubénerd Show</em> podcast, I'm your host Ruben Schade. It’s always a pleasure having your company <em>etc, so forth, and all the formalities</em>, coming to you from $places:</p>

<ul>
<li><a href="https://rubenerd.com/tag/recorded-in-sydney/">Sydney</a> (2015-)</li>
<li><a href="https://rubenerd.com/tag/recorded-in-kuala-lumpur/">Kuala Lumpur</a> and 
    <a href="https://rubenerd.com/tag/recorded-in-adelaide/">Adelaide</a> (2005-09)</li>
<li><a href="https://rubenerd.com/tag/recorded-in-singapore/">Singapore</a> (2005)</li>
</ul>

<p>It’s humbly released on <a href="http://onsug.com/">The Overnightscape Underground</a>, an Internet talk radio channel focusing on a freedom monologue style, with diverse and fascinating hosts, this one not withstanding!</p>

<h3>Subscribe</h3>

<p><a href="http://pca.st/ybXl"><img src="https://rubenerd.com/files/2015/podcast-pocket.png" alt="Subscribe with Pocket Casts" style="width:100px;" /></a> <a href="https://overcast.fm/itunes1003680071/rub-nerd-show"><img src="https://rubenerd.com/files/2015/podcast-overcast.png" alt="Subscribe with Overcast" style="width:100px;" /></a> <a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071"><img src="https://rubenerd.com/files/2015/podcast-itunes.png" alt="Subscribe with iTunes" style="width:100px;" /></a> <a href="https://rubenerd.com/show/feed/"><img src="https://rubenerd.com/files/2015/podcast-rss.png" alt="Subscribe with RSS with your other podcast client or blog reader" style="width:100px;" /></a></p>

<h3>Universally Praised by Critics</h3>

<p><a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">Josh Nunn on iTunes</a>:</p>

<blockquote>
<p>After a 5 year hiatus, Ruben has picked up his 10 year old podcast and begun recording again. Full of personality and joy, happy to share stories about his life and his facination with the amazing world around him, Ruben is entertaining and lovable. </p>
</blockquote>

<p><a href="http://noagendashow.com/">No Agenda Show</a>:</p>

<blockquote>
<p>Ruben Shah-der, or Shard? ~ John C. Dvorak<br />
Could be Shade! ~ Adam Curry</p>
</blockquote>

<p><a href="http://www.podcastpickle.com/forums/lofiversion/index.php/t5097-1950.html">Podcast Pickle</a>:</p>

<blockquote>
<p>Rubenerd Show – Never listened to it, but searched ruben in pickle and it came up.</p>
</blockquote>

</div>

<h3>Episode Archive</h3>
<p></p>
