<div id="sidebar">

<header>
  <h1><a property="url" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}"><span property="name">{{ .Site.Title }}</span></a></h1>
  <p id="site-description">By <span property="author">Ruben Schade</span> in s/<span property="homeLocation">Singapore</span>/<span property="workLocation">Sydney</span>/.</p>
</header>

<nav>
  <a id="skip" href="#content">Skip to content</a>

  <h3>Navigation</h3>
  <ul id="primary-nav">
    <li id="home"><a href="{{ .Site.BaseURL }}/">Latest &#x1F3E1;</a></li>     
    <li id="about"><a href="{{ .Site.BaseURL }}about/">About &#x1F516;</a></li>
    <li id="subscribe"><a type="application/rss+xml" href="{{ .Site.BaseURL }}feed/">Subscribe &#x1F4F0;</a></li>
    <li id="topics"><a href="{{ .Site.BaseURL }}topics/">Topics &#x1F4DA;</a></li>
    <li id="coffee"><a href="http://ko-fi.com/A625HL">Buy Coffee &#x1F4B5;</a></li>
    <li id="omake"><a href="{{ .Site.BaseURL }}omake/">Omake &#x1f5c2;</a></li>
  </ul>

  <h3>Archives</h3>
  <ul id="category-nav">
    <li><a title="Angmoh weeaboo posts about anime, manga and desu" href="{{ .Site.BaseURL }}anime/">Anime &#x1f338</a></li>
    <li><a title="Posts on Apple, phones, mechanical keyboards and such" href="{{ .Site.BaseURL }}hardware/">Hardware &#x1f4bb;</a></li>
    <li><a title="Posts on browsers, web standards, security and privacy" href="{{ .Site.BaseURL }}internet/">Internet &#x1f310;&#xFE0E;</a></li>
    <li><a title="Posts with photos, music and other things" href="{{ .Site.BaseURL }}media/">Media &#x1F4F7;</a></li>
    <li><a title="My long-running slice-of-life podcast of esoteric interests" href="{{ .Site.BaseURL }}show/">Podcast &#x1F399;</a></li>
    <li><a title="Posts on the Mac and *nix, where I work and spend my free time" href="{{ .Site.BaseURL }}software/">Software &#x1f4be;</a></li>
    <li><a title="Posts on multifarious ruminations about 42" href="{{ .Site.BaseURL }}thoughts/">Thoughts &#x1F38D;</a></li>
  </ul>
</nav>

<p><a href="{{ .Site.BaseURL }}mascot/"><img id="mascot" src="/rubi-seifuku.png" alt="Rubi, the official Rubénerd mascot" /></a></p>

</div><!--/sidebar-->

<hr />
