<div id="sidebar">

<header>
  <h1><a property="url" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}"><img src="/logotext.svg" property="name" alt="{{ .Site.Title }}" /></a></h1>
  <p id="site-description">By <span property="author">Ruben Schade</span> in s/<span property="homeLocation">Singapore</span>/<span property="workLocation">Sydney</span>/.</p>
</header>

<nav>
  <a id="skip" href="#content">Skip to content</a>

  <ul id="primary-nav">
    <li id="about"><a href="{{ .Site.BaseURL }}about/">About</a></li>
    <li id="topics"><a href="{{ .Site.BaseURL }}topics/">Topics</a></li>
    <li class="topic"><a title="Angmoh weeaboo posts about anime, manga and desu" href="{{ .Site.BaseURL }}anime/">Anime</a></li>
    <li class="topic"><a title="Posts on virtualisation, software, devices, dev, and my work" href="{{ .Site.BaseURL }}infocomm/">Infocomm</a></li>
    <li id="show"><a title="My long-running slice-of-life podcast of esoteric interests" href="{{ .Site.BaseURL }}show/">Podcast</a></li>
    <li class="topic"><a title="Posts on multifarious ruminations, the media, and whatnot" href="{{ .Site.BaseURL }}thoughts/">Thoughts</a></li>
    <li id="linkblog"><a href="https://pinboard.in/u:rubenerd">Linkblog</a></li>
    <li id="omake"><a href="{{ .Site.BaseURL }}omake/">Omake…</a></li>
  </ul>
</nav>

<p><a href="{{ .Site.BaseURL }}mascot/"><img id="mascot" 
    src="{{ .Site.BaseURL }}rubi-seifuku@1x.png" 
    alt="Rubi, the official Rubénerd mascot" 
    srcset="{{ .Site.BaseURL }}rubi-seifuku@1x.png 1x, {{ .Site.BaseURL }}rubi-seifuku@2x.png 2x" /></a></p>

</div><!--/sidebar-->

<hr />
