{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}

<main id="content"><!-- for skip to content link -->
{{ range .Paginator.Pages }}
  <article resource="{{ .Permalink }}#post" property="blogPost" 
    typeof="BlogPosting">
    <h2 property="headline"><a property="sameAs url" 
      href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <small><time property="datePublished" 
      datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "Monday 02 January 2006" }}</time></small>
    <div property="articleBody">{{ .Content }}</div>
  </article>
<hr />
{{ end }}

<nav role="navigation" class="secondary">
  <h2>You're on page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}. Where to now?</h2>
  <ul>
    {{ if .Paginator.HasPrev }}<li><a href="{{ .Paginator.Prev.URL }}">&larr; Previous page</a></li>{{ end }}
    {{ if .Paginator.HasNext }}<li><a href="{{ .Paginator.Next.URL }}">&rarr; Next page</a></li>{{ end }}
  </ul>
</nav>

{{ partial "footer.html" . }}

