---
title: '18,000 tweets and all that' 
date: "2009-08-02T03:18:54+10:00"
abstract: "That's 1 more than 17,999 tweets."
year: "2009"
category: Internet
tag:
- infocomm
- obsessive
- pointless
- twitter
- tweetdeck
---
<p><img src="https://rubenerd.com/files/2009/18000-tweets-3777155307_55241ec0ec_o@1x.jpg" srcset="https://rubenerd.com/files/2009/18000-tweets-3777155307_55241ec0ec_o@1x.jpg 1x, https://rubenerd.com/files/2009/18000-tweets-3777155307_55241ec0ec_o@2x.jpg 2x" alt="" style="width:500px; height:312px;" /></p>

<blockquote cite="http://twitter.com/Rubenerd/status/3069446361"><p>I HAVE JUST REACHED 18,000 TWEETS. It’s official: I’m a loser! Do I get a pie or something? #18000 #Obsessive #TwitterAbuse #HashtagAbuse</p></blockquote>
 
