---
title: 'Nostalgia for the 1990s' 
date: "2009-08-30T06:29:36+10:00"
abstract: "Sailor Moon Windows 3.1 PowerMenu Mambo No. 5."
year: "2009"
category: Thoughts 
tag: 
- 1990s
- dos
- nostalgia
- pointless
- pointless-milestone
- powermenu
- retrocomputing
- sailor-moon
- starbucks
- television
- windows-3-1 
---
<p><img src="https://rubenerd.com/files/uploads/photo.1995.tech.jpg" alt="Tech in 1995" style="height:370px; width:500px; display:inline; border:0px;" /></p>
<p>Given I&#39;ve done <a href="//rubenerd.com/tag/pointless_milestone">pointless milestone</a> posts celebrating <a href="//rubenerd.com/reached-1960s/">1960</a> and <a href="//rubenerd.com/reached-1980s/">1980</a> posts, it seems only fitting to now do one about the 1990s now that I&#39;m inching closer to 2000. Wonder if my blog will have a Y2K like explosion when it reaches that?</p>
<p>Yes so I was born in the 1980s, but I think it&#39;s safe to say I &quot;grew up&quot; in the 1990s. The decade was about a ton of change for us as a family, we moved interstate three times and finally moved to our de facto home in Singapore, then moved apartment buildings twice. My sister and I changed schools three times, our schools changed campuses twice. About the only constant in that decade was the knowledge we had that it was useless to become too attached to a particular place because we weren&#39;t going to be there that long. It was a hell of a ride, and I wouldn&#39;t have traded it for anything… most of the time!</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.powermenu.png" alt="PowerMenu for DOS" style="height:400px; width:500px; display:inline; border:0px;" /></p>
<p>Of course the 1990s was when I first got interested in this little field called computing. Our first home computer that we bought ourselves instead of my dad bringing it home from work was a 486SX tower with a huge 4MiB of RAM, a 100MiB hard drive and MS-DOS with PowerMenu and XTree Gold, later Windows 3.0 with Multimedia Extensions, later Windows 3.1. We had Commander Keen 1-3 and Monopoly Deluxe 1.0 both of which my sister, dad and I play now! After that I got a Pentium MMX machine with a spiffy Zip drive (I escaped the click of death problem), we got Pacific dialup internet in 1997 and we got our first broadband connection with SingTel Magix in 1999.</p>
<p>On the entertainment front my sister and I grew up watching Agro&#39;s Cartoon Connection in the mornings when we lived in Melbourne and Brisbane, and cartoons on Premier 12 and Channel 5 in Singapore. Much of what we watched was British TV from Fireman Sam and Postman Pat to Banana Man and SuperTed. We also had really weird shows like LiftOff which I can still hear the guy complaining about all the silly things you&#39;re not supposed to do in the Foyer even now! Then there was Gumby which my mum hated but tolerated when it came on and we had to see.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.pssm.jpg" alt="Sailor Moon!" style="height:347px; width:500px; display:inline; border:0em" /></p>
<p>Then there was the Japanese pop culture invasion. We all had Tamagotchis (my sister had a dozen!), we watched DragonBall Z and Sailor Moon (we both still do!). We had yo-yos upon yo-yos upon yo-yos which neither of us were very good at but they were nonsensical fun! We had Pokemon Red and Blue, I can remember a school camp to Thailand where the jocks got fed up trying to tease all us nerds because we were ignoring them as we were glued to our Gameboys trading Pokemon with those purple cables!</p>
<p>What else? Oh yeah the Beanie Baby shop in Wheelock Place in Singapore which closed down and is now a Japanese pasta shop. I didn&#39;t have too many of them but my sister collected them religiously, even when we went to Europe she&#39;d get my parents to buy her bags full of them! Ah the blatent consumerism, that was the real hallmark of the 1990s, you gotta love it!</p>
<p><img src="https://rubenerd.com/files/uploads/photo.beanies.jpg" alt="Beanie Babies!" style="height:311px; width:300px; display:inline; border:0em" /></p>
<p>Ever since I was a little kid I never really liked pop music, one of the first CD sets I ever got for my birthday was a complete works of Ravel and another set of the Rat Pack! In the 1990s though we had the blasted Macarena and Mambo No. 5, we had Britney Spears back before she became a symbol for all that&#39;s wrong with the music industry, we had Oasis, Alanis Morissette and Robbie Williams, we had Ricky Martin who seemed to literally come out of nowhere.</p>
<p>Unfortunately the 1990s also marked the last time my late mum was healthy before she got cancer and spent most of my sister&#39;s and my living memory going to oncology wards and not having the energy to do anything. I can still vaguely remember when I was very little her painting and stitching all those stunningly beautiful pictures for our bedrooms with all the bright colours as well as her drawings and paintings of angels and views outside windows. Her favourite thing to draw was eyes. She also had a calligraphy business for place cards at formal events and weddings. She fought the f*cking Big C for over 12 years when most people give up after only a few because she said she wanted us to have memories of her. We do, and there isn&#39;t a day that goes by where we don&#39;t miss her.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.sg.starbucks.jpg" alt="" style="height:298px; width:500px; display:inline; border:0em" /></p>
<p>Anyway what else about the 1990s? Oh yeah, my dad drove me up to Malaysia to see my first Formula 1 race! And while waiting for my mum at the hospital at weird times of night I unwittingly started my love affair with the coffee bean, later going to the then-new Starbucks and the surprisingly titled Coffee Bean and Tea Leafs that were popping up all over the island. We&#39;d occasionaly make trips back to Australia to see relatives and I&#39;d feel surprised at how little I rememberd about my birthplace and how disconnected I&#39;d become. I&#39;d feel weird walking around with my parents and seeing caucasian people everywhere! Where are the MRT stops? Why is there litter on the street? Why do people smile at me at shops even when I don&#39;t know them?</p>
<p>If you grew up in the 1990s what memories do you have? I&#39;m sure I&#39;ve left out a ton of stuff!</p>
 
