---
title: '2000 posts and a TweetDeck desktop!' 
date: "2009-08-31T12:49:32+10:00"
abstract: "Or how an application became my de-facto desktop background."
year: "2009"
category: Internet
tag:
- addiction
- infocomm
- pointless
- pointless-milestone
- tweetdeck
- twitter
- weblog 
---
<p><img src="https://rubenerd.com/files/2009/who-needs-desktop-backgrounds-3870186739_81b9108841_o@1x.jpg" srcset="https://rubenerd.com/files/2009/who-needs-desktop-backgrounds-3870186739_81b9108841_o@1x.jpg 1x, https://rubenerd.com/files/2009/who-needs-desktop-backgrounds-3870186739_81b9108841_o@2x.jpg 2x" alt="Screenshot showing Tweetdeck maximised on my MacBook Pro" style="width:500px; height:312px;" /></p>

<p>It&#39;s the <a href="//rubenerd.com/">Rubenerd Blog&#39;s</a> 2000th blog post, and what better way to celebrate than to show my current desktop background. Yup, on my MacBook Pro which is my primary workhorse I&#39;ve given up on them because as I put in <a href="http://twitter.com/Rubenerd/status/3644540730">this tweet here</a>:</p>
<blockquote cite="http://twitter.com/Rubenerd/status/3644540730"><p>I just realised something: I don’t need a desktop background/wallpaper anymore because I never minimise TweetDeck! <a href="http://twitter.com/search?q=%23Obsessive">#Obsessive</a></p></blockquote>
<p>It looks like I&#39;m <a href="http://twitter.com/mrbrown/status/3644644453">not</a> the <a href="http://twitter.com/eliasttw/status/3644779702">only</a> <a href="http://twitter.com/KENJITSU/status/3644660103">one</a> either. Who would have thought back in 2007 how much Twitter would become such an <a href="http://twitter.com/monnie/status/3644766162">integral</a> <a href="http://twitter.com/Rubenerd/status/3644773890">part</a> of our lives?</p>
<p><strong>Happy 2000 posts everybody!</strong> Not that <a href="//rubenerd.com/tag/pointless-milestone/">I&#39;m counting</a> ;-).</p>
 
