---
title: 'Third culture kids and high school ramble' 
date: "2009-08-24T12:50:47+10:00"
year: "2009"
category: Thoughts 
tag: 
- aiss
- high-school
- singapore 
---
<p><img src="https://rubenerd.com/files/2009/p1010570jpg_131264011_o@1x.jpg" alt="P1010570.JPG" srcset="https://rubenerd.com/files/2009/p1010570jpg_131264011_o@1x.jpg 1x, https://rubenerd.com/files/2009/p1010570jpg_131264011_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>For people of my age who have left high school and university and haven&#39;t been in the workforce long (or for people like me who for family reasons ended up taking a leave of absence and are just starting to study again) invariably conversations tend to drift towards discussion of people we knew from high school and spent so much of our lives with, and how little we see them now. I guess it&#39;s normal for us to think we&#39;ll buck the trend compared to every other generation and stay in constant contact with those in our last high school year when we graduate, but it never happens!</p>
<p>There are two conflicting phenomena here I can talk about from personal experience related to this, one of which is the problem with being a third culture kid from an international school where people I went to high school with have since scattered themselves around the globe. Unlike other kids who grew up with a common history for where they were living, we were together simply by the chance that our expatriate parents happened to wind up working in the same country. Don&#39;t get me wrong, the expat lifestyle was fantastic, but we weren&#39;t kidding ourselves that for the most part we were a tenuously held together, closed little community in a foreign country that would break apart when year 12 ended. A meaningful reunion in our case would be next to impossible, at last count I have people in my year living in Korea, Japan, the US, the UK, Canada, New Zealand, Australia, Taiwan… I could go on.</p>
<p>By being third culture kids we experienced life outside the comfort zone of our home country and got used to somewhere else which I can say really changed me in profound ways. Patriotism seemed less important, roots even less so. I guess you could say it turned many of us into nomads without a sense of where home is. Many of us (like me) who lived the formative years of our life there lost what little connection we had to our home countries, but unfortunately we didn&#39;t entirely assimilate into the new one either. Given what we got in return though, I&#39;m not complaining!</p>
<p>With the advent of sites like Facebook (or MySpace and Friendster before that) people of my generation have been able to keep in contact and see what the people we shared our high school experience with are doing in a way nobody else has been able to do. The ironic thing is, one thing we expat kids have in common with those who grew up and lived in the same city their entire lives, is that many of us are apathetic towards such people! I guess that&#39;s another thing us expat kids have to our advantage, we can choose to study in cities where nobody else from our year group went to!</p>
<p>I honestly wonder sometimes what it&#39;d be like to be studying at university in the same city with the same people you went to high school with, you&#39;d be bound to bump into some of them sometimes. While I don&#39;t envy that, I do envy the sense of attachment and purpose people must get from being able to point out where they went to primary school, and high school, and where they had their first date, and where they got their first car… all in the one place. I&#39;m sure there are plenty who would be willing to dismiss such stuff as trivial, but they&#39;re lucky.</p>
<p>I suppose for me I don&#39;t feel tied down, so if I did take that job offer in Toronto I wouldn&#39;t hesitate. Would be harder to leave your loved ones, friends and history to a place you&#39;ve lived your whole life. Heck, most of my extended family live in Sydney and around Germany.</p>
<p>Adelaide has been a great adopted Aussie home for me so far though, I&#39;ll grant it that. It&#39;s nice to have a place in Australia where I have memories and some resemblance of history that happened after I was 5 years old and therefore incapable of remembering much. I did live in Melbourne, Sydney and Brisbane I&#39;m told!</p>
 
