---
title: 'Three million Wikipedia articles!' 
date: "2009-08-18T10:58:22+10:00"
year: "2009"
category: Internet
tag:
- infocomm
- wikipedia 
---
<p><img src="https://rubenerd.com/files/2009/3-million-wikipedia-articles_3833634670_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3-million-wikipedia-articles_3833634670_o@1x.jpg 1x, https://rubenerd.com/files/2009/3-million-wikipedia-articles_3833634670_o@2x.png 2x" alt="3 million Wikipedia articles!" style="width:500px" /></p>

<p>As <a href="http://en.wikipedia.org/wiki/Arnott%27s_Biscuits_Holdings">Arnott&#39;s</a> is always quick to tell us, there&#39;s no <a href="http://en.wikipedia.org/wiki/First-order_logic#Substitution">substitute</a> for <a href="http://en.wikipedia.org/wiki/Quality_(business)">quality</a>. That said, <a href="http://en.wikipedia.org/wiki/List_of_Haruhi_Suzumiya_episodes#2009_version">three million</a> articles is still pretty damned <a href="http://en.wikipedia.org/wiki/Impression_seal">impressive</a>.</p>
<p>Unfortunately I&#39;ve had a few too many <a href="http://en.wikipedia.org/wiki/Manners">negative experiences</a> with dealing with some of the, shall we say <a href="http://en.wikipedia.org/wiki/Malicious_compliance">terse</a> <a href="http://en.wikipedia.org/wiki/Middle_management">senior editors</a>, but that&#39;s not to say it hasn&#39;t become an important part of <a href="http://en.wikipedia.org/wiki/Extraversion_and_introversion#Introversion">my life</a>. For better or worse I nearly always <a href="http://en.wikipedia.org/wiki/Wiki_Wiki_Shuttle">Wikipedia</a> something before I <a href="http://en.wikipedia.org/wiki/Googol">Google</a> something now. Good think I got out of creating verbs out of product names. Speaking of which I need to <a href="http://en.wikipedia.org/wiki/Hoover_dam">Hoover</a> the house and <a href="http://en.wikipedia.org/wiki/Xenon">Xerox</a> a few documents. Damn <a href="http://en.wikipedia.org/wiki/Dimensional_lumber">Kleenex</a> and <a href="http://en.wikipedia.org/wiki/Numerical_digit">papercuts</a>.</p>
<p>At least I don&#39;t get papercuts from Wikipedia!</p>
 
