---
title: 'Adding my Twitter account to WeFollow' 
date: "2009-06-24T09:11:54+10:00"
year: "2009"
category: Internet
tag:
- infocomm
- pointless
- social-networks
- twitter 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.wefollow.png" style="height:200px; width:500px; display:inline; border:0px;" alt="WeFollow screenshot." /></p>
<p>I finally caved in and added myself to the <a href="http://wefollow.com/">WeFollow</a> directory thingy. Personally I think the whole idea of ranking people based on how many followers they have is juvenile and a bit silly, but there you have it.</p>
<p>The <a href="http://twitter.com/Rubenerd/status/2308178425">automagically generated tweet</a>:</p>
<blockquote cite="http://twitter.com/Rubenerd/status/2308178425"><p>Just added myself to the http://wefollow.com twitter directory under: #adelaide #singapore #tech</p></blockquote>
 
