---
title: 'Photo of much awaited Adelaide rain' 
date: "2009-04-24T08:33:28+10:00"
year: "2009"
category: Media
tag:
- adelaide
- australia
- flickr
- mawson-lakes
- photos
- rain
- south-australia 
---
<p><img src="https://rubenerd.com/files/2009/thar-be-water-in-thar-mawson-lakes-again_3470666544_o@1x.jpg" alt="Thar be water in thar Mawson Lakes again!" srcset="https://rubenerd.com/files/2009/thar-be-water-in-thar-mawson-lakes-again_3470666544_o@1x.jpg 1x, https://rubenerd.com/files/2009/thar-be-water-in-thar-mawson-lakes-again_3470666544_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>We got our first good dose of rain here in Adelaide yesterday and today for the first time in months. The river here in Mawson has that stuff in it again… what&#39;s it called? Water!</p>
<p>I usually correct the white balance when I take RAW images on my D60, but I left it as is on this one, it really shows the sudden cool change and whatnot. Just straight shooting with my 50mm f/1.8D. I might not be a good photographer, but it doesn&#39;t make it any less fun!</p>
 
