---
title: 'AdelaideNow newspaper comments' 
date: "2009-05-11T12:23:14+10:00"
year: "2009"
category: Thoughts 
tag: 
- adelaide
- australia
- economics
- public-transport
- south-australia 
---
<p><img src="https://rubenerd.com/files/2009/273728940_204a2e4d9a_o@1x.jpg" srcset="https://rubenerd.com/files/2009/273728940_204a2e4d9a_o@1x.jpg 1x, https://rubenerd.com/files/2009/273728940_204a2e4d9a_o@2x.jpg 2x" alt="Photo of the Adelaide CBD by Mozul" style="width:500px" /><br /><cite>Photo of the Adelaide CBD by <a href="https://www.flickr.com/photos/mozul/">Mozul</a></cite></p>

<p>Two comments I submitted on articles on the AdelaideNow website (the online version of the Adelaide Advertiser):</p>
<blockquote><p>
<cite><a style="font-weight:bold" href="http://www.news.com.au/adelaidenow/story/0,22606,25458631-2682,00.html">Australian’s not buying local produce</a></cite></p>
<p>AUSTRALIANS will stand up for the flag and the anthem but not for their mates when it comes to buying Australian, a study suggests.</p>
<p>An Australia SCAN survey shows only 28 per cent of consumers consider buying Australian-made goods necessary.</p>
<p>In 1995, 46 per cent of Australians ranked it highly.</p>
<p>Social analyst David Chalke said that as the recession continued, people would become even less inclined to buy domestic products which cost more than an imported alternative.</p>
<p>&#8220;I think we’re going to hunker down a bit more,&#8221; he said.
</p></blockquote>
<p>I would love to buy Australian and help people here, but as a computer guy I don&#39;t have a choice than to buy from overseas, all the stuff I get is from the US, Taiwan, Singapore, Japan and Korea. Even though I&#39;m Aussie I&#39;ve lived most of my life overseas and I realise the reality that some places are better at producing things than other places, it&#39;s Economics 101. Food I proudly buy Australian at the supermarket not just because &quot;it comes from here&quot; but because of it&#39;s superior quality.</p>
<p>Perhaps with further local development and investment in education I could one day buy my electronics from Aussie companies too; I certainly believe the entrepreneurial spirit and creativity needed are already here.</p>
<blockquote><p>
<cite><a style="font-weight:bold" href="http://www.news.com.au/adelaidenow/story/0,22606,25458631-2682,00.html">Adelaide’s Gallipoli underpass a traffic nightmare</a></cite></p>
<p>THE much-vaunted $118 million Gallipoli underpass &#8211; open for just over six weeks &#8211; has become a nightmare for commuters during afternoon peak-hour.</p>
<p>Thousands of motorists are now being caught in anp exasperating daily crawl &#8211; but authorities say drivers will have to put up with the problems for now.</p>
<p>During Friday night’s rush hour, traffic banked up more than 1.5km between the Anzac Hwy turnoff on South Rd to Greenhill Rd.</p>
<p>The almost daily gridlock occurs because Anzac Hwy commuters are forced to give way to south-bound underpass traffic.
</p></blockquote>
<p>Public transport public transport public transport grilled cheese sandwiches public transport.</p>
 
