---
title: 'An Adelaide public transport ramble' 
date: "2009-05-01T08:55:41+10:00"
year: "2009"
category: Thoughts 
tag: 
- adelaide
- australia
- public-transport
- south-australia 
---
<p><img src="https://rubenerd.com/files/2009/busy-gloria-jeans-at-harbourtown_3489704729_o@1x.jpg" alt="Busy Gloria Jean's at HarbourTown" srcset="https://rubenerd.com/files/2009/busy-gloria-jeans-at-harbourtown_3489704729_o@1x.jpg 1x, https://rubenerd.com/files/2009/busy-gloria-jeans-at-harbourtown_3489704729_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>One of the great things about living in Adelaide from a lifestyle point of view compared to most other Aussie cities is it&#39;s relatively small and urban sprawl hasn&#39;t taken hold to the extent it has in Sydney and Melbourne for example. What this means is any trip via the CBD is easy to plan, especially on public transport. It also helps that the <a href="http://adelaidemetro.com.au/">Adelaide Metro</a> has unified timetables and signage for trains, trams, buses and jaffles, a huge relief if you&#39;re from Melbourne where each bus company does their own thing!</p>
<p>Despite being smaller though, Adelaide&#39;s public transport system is still far too complex in my opinion. Back in Singapore you can pick up a <a href="http://www.transitlink.com.sg/">TransitLink</a> guide book which is slightly larger than a stack of playing cards and in it each bus route is clearly defined with fare stops and frequency that don&#39;t change. In Adelaide each set of bus routes has it&#39;s own foldout broadsheet guide with a dizzying array of tables containing detailed times, stops and exceptions, all of which change depending on the time of day, what day it is, whether there&#39;s a full moon and so on. If you rely on puplic transport you rapidly accumulate these foldout broadsheet things, and nine times out of ten the information is inaccurate anyway!</p>
<p>Adelaide has just over 1 million people, Singapore has over 4.5 million, yet if you were to look at their public transport information you&#39;d swear it was the other way around!</p>
<p><a href="http://www.lightrailnow.org/features/f_ade_2007-11a.htm"><img src="https://rubenerd.com/files/uploads/photo.adelaide.traffic.bill.drury.jpg" alt="Traffic on North Terrace in Adelaide by Bill Drury" style="height:335px; width:500px;" /></a><br /><cite>Traffic and trams on North Terrace in Adelaide by Bill Drury</cite></p>
<p>As more people become aware of the impact they&#39;re having on the planet or just don&#39;t want to have to deal with the costs and hassle of owning cars, an efficient and predictable public transport system becomes even more important. I see all this needless complexity and shake my head because I see the potential for the government to spend the same amount of money but provide better service. If it were simpler, more people would use it.</p>
<p>This afternoon my sister and I went to the HarbourTown shopping centre at Westbeach which meant we had to take the 132 from the city. We waited in line at the bus stop and caught it, only to be told halfway the service stopped there because it was the 132B. Sure enough when I figured out how to unfold the huge guide for the 13X buses, ONLY at the time we boarded was the scheduled bus the 132B. Then after a certain time and after a certain part of the way along the route the number changes to something else entirely! I took responsibility for not reading the bus number properly and received deserved head smacks from my sister, but it still begs the question why different bus numbers are needed at different times and why some have to have letters after them. Sheesh!</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.adelaidemetro.132BT.png" alt="Wait, the bus stops here?! Ah crap!" style="height:240px; width:500px;" /><br /><cite>Wait, the bus stops here?! Ah crap!</cite></p>
<p>I&#39;d still feel guilty owning a car at this point because I can live without one and the last thing the world needs is another single guy in a rich country burning petrol because they&#39;re too lazy to walk or research public transport, but experiences like this do really test my patience!</p>
<p>I&#39;ve been typing this at a coffee shop on my iTelephone, but now it&#39;s time for us to leave. I hope we don&#39;t accidentally board the bus which despite it&#39;s number goes to The Ocean because between 18:00 and 18:15 it travels west not east.</p>
 
