---
title: 'AFL coach comparing lost game to Anzacs?' 
date: "2009-04-26T04:16:27+10:00"
year: "2009"
category: Thoughts 
tag: 
- afl
- australia
- clipmarks
- war 
---
<p>I just can&#39;t begin to explain what&#39;s wrong with this.</p>

<p>I guess I should disclose that I intensely dislike AFL and the religious following it seems to generate, but even if I liked it comparing a victory or loss to the fallen Australian and New Zealand diggers of war is just… it&#39;s like <a href="//rubenerd.com/wikipedia-problems/">comparing a ritualistic bonfire to war</a>. Sheesh.</p>

<p><a href="http://clipmarks.com/clipmark/90238439-6E77-41E6-BBFF-4161B1FE1F05/">Clipmarked</a> from <a href="http://www.abc.net.au/news/stories/2009/04/26/2552760.htm">ABC News</a>:</p>

<blockquote cite="http://www.abc.net.au/news/stories/2009/04/26/2552760.htm">
<p>Furious Collingwood coach Mick Malthouse says the Magpies let the Anzacs down after Essendon booted three late goals to snatch a thrilling five-point victory in the annual AFL blockbuster at the MCG.</p>
</blockquote>
 
