---
title: 'Don’t write blog posts at 01:30am' 
date: "2009-05-18T02:16:11+10:00"
year: "2009"
category: Thoughts 
tag: 
- andy-kaufman
- late-night-blogging
- pointless
- random
- wasnt-supposed-to-make-sense 
---
<p>From the Department of Passing Interests comes a message from a person claiming to be the comedian, writer and entertainer Andy Kaufman, someone whom I admit I did not know before listening to <a href="http://theovernightscape.com/">The Overnightscape</a>, but then again I suspect that was the point.</p>
<p>Here it is, straight from <a href="http://www.andykaufmanlives.com/">AndyKaufmanLives.com</a> which has more redundant HTML than even my site here has. Microsoft Office products should not be used to generate web documents!</p>
<blockquote><p>I have spent the last 15 years haunting the internet. People ask when I am going to “return”.  You do not seem to understand. You left me 25 years ago. I have no use for you now. My message to the world is this… f*ck every last one of you.</p>
<p>I also really love frosty chocolate milkshakes.</p></blockquote>
<p>Do I know of whom I&#39;m talking about? Not really. If you read my blog, you probably don&#39;t either. Come to think of it, do we <em>&quot;know&quot;</em> anyone? What&#39;s the definition of <em>&quot;know&quot;</em>? Is to know to have met them, talked to them or intimately know details about their life that perhaps at times you could even remind them of? Is it more of an issue of acquaintance, or perhaps something deeper than even friendship?</p>
<p>We&#39;re all looking for answers in life and have met challenges we&#39;ve either taken by the shoulders and knocked senseless, or have accepted the feeling that it&#39;s the inevitable and not worth fighting against. I admit I&#39;ve felt far too much of the latter, less of the former, and from the sound of it Andy has as well.</p>
<p>Making lemonade when life gives you lemons is tough when life hasn&#39;t given you any sugar to make it with.</p>
<p><img src="https://rubenerd.com/files/2009/flinders-ranges_2917627657_o@1x.jpg" alt="Flinders Ranges" srcset="https://rubenerd.com/files/2009/flinders-ranges_2917627657_o@1x.jpg 1x, https://rubenerd.com/files/2009/flinders-ranges_2917627657_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>In an ironic twist, in his message discussing the world&#39;s ignoring of him, he is ignoring those who were born after the fact, say less than 25 years ago. Like me. Like a not so statistically small percentage of the world, many of whom I suspect would have been his target market. That&#39;s fine.</p>
<p>The water goes under the bridge, the grilled cheese sandwiches get cooked, the world keeps spinning and the people who&#39;ve decided life is precious and beautiful don&#39;t just try to live through another day, we appreciate the fact they&#39;ve been given the opportunity. When I see how lucky I am to have a roof over my head, plenty of food to eat and several dozen people who give me some of their time every day to read my posts here because they think I&#39;m interesting, I feel darn lucky. I&#39;m 23, still haven&#39;t finished studying and I don&#39;t have a mum, a girlfriend. I have nobody to hug. Some days it&#39;s tough. Other days I just think of those other things and in the words of Michael J Fox I just &quot;think it&#39;ll get better from here&quot;.</p>
<p>You can take the phrasing of this next part however you wish. I&#39;m a rationalist so I&#39;m going to take it literally as it sounds. Andy Kaufman died 25 years ago. The hardest part of getting over something isn&#39;t the anger, the lashing out at the very people online who were interested in you and who could have helped a revival, it&#39;s the acceptance. Acceptance is tough.</p>
<p><img src="https://rubenerd.com/files/uploads/icon.tango.findreplace.png" alt="Icon from the Tango Desktop project" style="height:92px; width:92px; display:inline; border:0px;" /><img src="https://rubenerd.com/files/uploads/icon.tango.contact.png" alt="Icon from the Tango Desktop project" style="height:92px; width:92px; display:inline; border:0px;" /><img src="https://rubenerd.com/files/uploads/icon.tango.findreplace.png" alt="Icon from the Tango Desktop project" style="height:92px; width:92px; display:inline; border:0px;" /><img src="https://rubenerd.com/files/uploads/icon.tango.send.png" alt="Icon from the Tango Desktop project" style="height:92px; width:92px; display:inline; border:0px;" /><img src="https://rubenerd.com/files/uploads/icon.tango.findreplace.png" alt="Icon from the Tango Desktop project" style="height:92px; width:92px; display:inline; border:0px;" /></p>
<p>This person claiming to be Andy Kaufman (I&#39;m old fashioned, I need evidence) seems to have worn our his patience. Well to be fair my curiosity was piqued but not overly aroused. Frankly I&#39;m just worried that when I die there will be someone who says they&#39;re me and claim that my death was staged. What a scary prospect.</p>
<p>Philosophy goes in circles doesn&#39;t it? Lots of things do. Car wheels, the reasoning of so many politicians, conspiracy theories. Some are essential to the success and function of our planet and our lives, some are superfluous. It&#39;s up to us to make that distinction, but given our shared past it seems it&#39;s not so easy to reach a consensus after all.</p>
<p>AndyKaufmanLives.com. So does the alien in my basement, the supposed replacement of Paul McCartney, the apparent lie that we landed on the moon, the mind control chemicals spewing from every air conditioning unit. I guess if we keep telling ourselves something is true, eventually to us, it is. If he really does exist though, I wish him all the best and hope he finds a better group of people than us that he clearly deserves. Deserves sound like desert, like a big cheese cake. With strawberries and turkey gravy.</p>
<p>You take the good, you take the bad, and there you have… my Sunday philosophy post. In the eternal words of Mr Mackey: &quot;mmmkay&quot;.</p>
 
