---
title: '#Anime New Senjougharaness background!' 
date: "2009-09-19T04:41:19+10:00"
year: "2009"
category: Anime 
tag: 
- 2009-anime
- bakemonogatari
- desktop-backgrounds
- senjougahara-hitagi
---
<p><img src="https://rubenerd.com/files/2009/3933659092_0a537c03ba_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3933659092_0a537c03ba_o@1x.jpg 1x, https://rubenerd.com/files/2009/3933659092_0a537c03ba_o@2x.jpg 2x" alt="New Bakemonogatari background" style="width:500px; height:312px;" /></p>

<p>Because <a href="//rubenerd.com/anime-bakemonogatari-10">another episode</a> of <a href="//rubenerd.com/tag/bakemonogatari/">Bakemonogatari</a> is out, it means a new vector desktop background of Her Senjougharaness! Here&#39;s hoping her lack of appearances in <a href="//rubenerd.com/anime-bakemonogatari-09/">episode 09</a> and <a href="//rubenerd.com/anime-bakemonogatari-10/">episode 10</a> are rectified next week!</p>
<p>Honestly, she is one of the most compelling characters I&#39;ve ever seen in an anime series and one of the first truly weird and unconventional people since Haruhi before her disastrous second season. Maybe it&#39;s because I love office supply shops ^_^. I see your stapler Hitagi, and I counter with… my stack of multicoloured <strong>post it notes</strong>! Haiya!</p>
<p>I&#39;d also say that I like her character because she has purple hair and <strong>purple is my favourite colour</strong>, but that might give people the wrong idea at a time when I&#39;m mistaken for someone I&#39;m not far too often enough as it is. My sister clearly doesn&#39;t have that problem! Ruben-ko? Wait, <a href="//rubenerd.com/anime-bakemonogatari-07/">Suruga</a> would be interested in me then not Hitagi, whoops!</p>
<p>I had a point somewhere in this post, but I forgot what it was. Oh yeah, new desktop background. As Marvin Martian would say, <code>Earth shattering kaboom</code> stuff!</p>
 
