---
title: '#Anime Know your Senjougahara Hitagi moods II' 
date: "2009-08-11T12:43:13+10:00"
year: "2009"
category: Anime 
tag: 
- 2009-anime
- bakemonogatari
- know-your-anime-moods
- pointless
- senjougahara-hitagi
- shaft 
---
<p><img src="https://rubenerd.com/files/uploads/anime.bakemonogatari.moods.06.jpg" alt="Absolutely insane" style="height:281px; width:500px; display:inline; border:0px;" /><br /><span style="font-weight:bold;">&quot;Absolutely insane&quot;</span></p>
<p>You may recall last week I <a href="//rubenerd.com/anime-bakemonogatari-03/">reviewed the third episode</a> of <a href="//rubenerd.com/tag/bakemonogatari/">Bakemonogatari</a> and that I made the comment that Hitagi got so many head shots that I lost count after 14. Well I had a brilliant idea to use all those superflous eye frames (didn&#39;t realise that was kind of a pun until after I wrote it) to make an entire long-winded series about being able to tell Hitagi moods, but today I had a sudden onset of &quot;better judgement&quot; and decided this will be the last one.</p>
<p><!--oldmore--></p>
<p>I know, I know, I can already tell you&#39;re disappointed and upset beyond belief, but I&#39;m sure you&#39;ll be able to survive. It wasn&#39;t you, really, it was me.</p>
<p>As I said in <a href="//rubenerd.com/anime-hitagi-moods/">part one of know your Senjougahara Hitagi moods</a>, this post is purely for educational purposes only, I will not be held responsible if you find yourself with a stapler in your mouth. Thank you.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.bakemonogatari.moods.07.jpg" alt="Fanciful" style="height:281px; width:500px; display:inline; border:0px;" /><br /><span style="font-weight:bold;">&quot;Fanciful&quot;</span></p>
<p><img src="https://rubenerd.com/files/uploads/anime.bakemonogatari.moods.08.jpg" alt="Mad" style="height:281px; width:500px; display:inline; border:0px;" /><br /><span style="font-weight:bold;">&quot;Mad&quot;</span></p>
<p><img src="https://rubenerd.com/files/uploads/anime.bakemonogatari.moods.10.jpg" alt="Apprehensive" style="height:281px; width:500px; display:inline; border:0px;" /><br /><span style="font-weight:bold;">&quot;Apprehensive&quot;</span></p>
<p><img src="https://rubenerd.com/files/uploads/anime.bakemonogatari.moods.09.jpg" alt="Cheeky" style="height:281px; width:500px; display:inline; border:0px;" /><br /><span style="font-weight:bold;">&quot;Cheeky&quot;</span></p>
 
