---
title: '#Anime Restarting my deleted blog here' 
date: "2009-07-24T12:21:21+10:00"
year: "2009"
category: Anime 
tag: 
- end-is-new-beginning
- wordpress 
---
<p><img src="https://rubenerd.com/files/2009/proofreading-blog-posts_3580473020_o@1x.jpg" alt="Proofreading blog posts" srcset="https://rubenerd.com/files/2009/proofreading-blog-posts_3580473020_o@1x.jpg 1x, https://rubenerd.com/files/2009/proofreading-blog-posts_3580473020_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>For the longest time I was thinking whether or not to take the <a href="http://zombieplan.zombieskittles.com/">Zombie Plan</a> approach and import my anime blog into it&#39;s own subdomain WordPress install here, or import the posts into rubenerd.com with their own <a href="//rubenerd.com/wp-category-templates/">seperated category</a>.</p>
<p>Seems the decision was made for me, my university wiped my database and the SQL backups I had made in my home folder. All my screenshots from three years of blogging are still there as well as the original theme files, but the posts themselves are gone. Like a Pythonesque dead parrot, they have ceased to exist. It&#39;s entirely my own <em>baka baka baka</em> fault of course, I should have put my backups in a separate location. Lesson learned!</p>
<p>Never fear though (I can hear you fearing… wait what?) I&#39;ve decided to pick myself up and start again, only this time I&#39;ll be posting my anime reviews and senseless Japanese culture discussion here on Rubenerd.com in the sparsely populated <a href="//rubenerd.com/anime/">anime category</a> which ironically happens to be <a href="//rubenerd.com/urchin-stats/">one of my most visited pages</a>!</p>
<p>And here I was thinking <strong>Haruhi&#39;s Endless 8</strong> would be the thing irritating me most about anime currently. I blame <strong>Kyoto Animation</strong>. Yeah, that works. Could <strong>Mikuru</strong> go back in time for me and rescue my old posts? Or perhaps with her bizarre and endless amount energy <strong>Minori</strong> could rewrite them all one afternoon. Or <strong>Negi</strong> and <strong>Louise</strong> could just use their magic wands to recreate them. After <strong>Britannia</strong> that doesn&#39;t control Britain has been defeated, <strong>Mio</strong> has got over her stage shyness, those wooden starfish for <strong>Fuko</strong> have been carved and <strong>Mai</strong> has moved to her new school with that huge smouldering crater in the front garden. Yes I&#39;m a hopeless closet anime watching geek who&#39;s not cool enough to be an otaku, <em>shaddup</em>!</p>
<p><img src="https://rubenerd.com/files/uploads/anime.harihiabove.jpg" alt="Haruhi and the gang" style="height:361px; width:500px; display:inline; border:0px;" /></p>
<p>I haven&#39;t decided whether or not I&#39;ll use the <a href="//rubenerd.com/wp-category-templates/">WordPress magic I learned</a> to theme the anime category differently and prevent posts from appearing on the home page and master RSS feed to still make it appear as a separate site. Might be a bit jarring seeing all this new and unrelated stuff start appearing here.</p>
<p>I over-think things too much. Or do I over-think things too much after all? Or do I just over-think to the extent that it impedes my abilities to make decisions? Is that the definition of over-think?</p>
<p>Perhaps a moment with Kyou in the gym supply closet would calm my nerves about this loss and subsequent indecision about where to go from here. Nah, Mizuno Ami is still the best ^_^.</p>
<p>Now do you see why I kept my anime blog posts separate?</p>
 
