---
title: '#Anime Akiyama Mio just a moeblob… so?' 
date: "2009-08-15T03:42:50+10:00"
year: "2009"
category: Anime 
tag: 
- akiyama-mio
- dont-say-lazy
- k-on
- keion
- kyoani
- pointless
- twitter 
---
<p><img src="https://rubenerd.com/files/uploads/anime.kon.mio.moeblob.jpg" alt="The K-On girls!" style="height:328px; width:500px; display:inline; border:0px; " /></p>
<p>I&#39;m starting to notice more of my blog posts are being spawned from tweets on Twitter of all things. So much for all the doomsday predictions that Twitter was going to kil blogs!</p>
<p>For example, after seeing <a href="http://twitter.com/jlist/status/3307621375">this latest tweet</a> about yet another blogger complaining that K-On!&#39;s <strong>Akiyama Mio</strong> is merely a moeblob I felt compelled to reply with a word and punctuation mark that together form the ultimate rebuttal of such a proposition if it is said while shrugging shoulders:</p>
<p><strong><em>So?</em></strong></p>
<p>Yes I&#39;m a stereotypical nerd for having Mio as my favourite character of a series like K-On. To negative reviewers, I say it&#39;s your own fault for expecting Shakespeare in the first place, it&#39;s called having realistic expectations for a series you knew what it was going to be about in advance and that you didn&#39;t need to watch if you didn&#39;t want to! But we&#39;re getting sidetracked. Wait, that would imply I have a point to be getting sidetracked from. I blame this pebble that&#39;s been in my left shoe all morning.</p>
<p>If you haven&#39;t watched K-On (I assume most of you fine readers here) you probably could figure out which girl Mio is just from looking at the picture above. As I say about many things, if you&#39;re unable to I&#39;m both surprised and fascinated at the same time.</p>
<p>Just <a href="https://duckduckgo.com/?q=don%27t%20say%20lazy%20k-on">don&#39;t say lazy</a>!</p>
 
