---
title: 'Aussie ISPs responsible for copyright?' 
date: "2009-11-28T02:21:47+10:00"
year: "2009"
category: Thoughts 
tag: 
- australia
- copyright
- iinet
- isps
- mafiaa 
---
<p><img src="https://rubenerd.com/files/uploads/graphic.copyright.fail.png" alt="Copyright Fail" style="height:258px; width:258px; display:inline; padding:0em;" /></p>
<p>IT News Australia <a href="http://www.itnews.com.au/News/161447,day-22-film-studios-issue-ultimatum-to-isps.aspx">is reporting</a> that film studios are issuing an ultimatum to Aussie ISPs to <em>&quot;get out of the business&quot;</em> if they can&#39;t stop copyright infringement. Yes, you read that right!</p>
<blockquote cite="http://www.itnews.com.au/News/161447,day-22-film-studios-issue-ultimatum-to-isps.aspx"><p>&#8220;They provide a facility that is able to be used for copyright infringement purposes. If they don’t like having to deal with copyright notices then they should get out of the business.</p>
<p>&#8220;They’re quite happy to deal with customer complaints or shaping accounts when it comes to making money, but there’s a responsibility which is a requirement of law &#8211; one of which is the Copyright Act.&#8221;</p></blockquote>
<p>He&#39;s got a point with internet shaping; limits on downloads put Australia at a severe disadvantage to the rest of the world, though I suspect that&#39;s not the point he was making.</p>
<p>As to his claim that ISPs facilitate copyright infringement and therefore they should be responsible, I would also like to draw Tony Bannon&#39;s attention to these other systems and devices:</p>
<ul>
<li>VCRs and DVRs could be used to make illegal copies of television programmes, therefore their manufacturers should also be responsible.<p></p></li>
<li>Photographic equipment manufacturers produce devices that can be used to capture visual copies of film, and therefore their manufacturers should also be responsible.<p></p></li>
<li>Stationary manufacturers produce pencils that could be used to sketch and scene from a film and be sold on paper, both of which facilitate illegal duplication and therefore their manufacturers should be held responsible.<p></p></li>
<li>Human beings that retain certain memories including visual and audio information from a film have unauthorised stored copies of the film in their head and therefore they should be held responsible, as well as doctors who have helped to keep that person’s brain functioning, and all that person’s ancestors who allowed that person to exist.<p></p></li>
</ul>
<p>That legal advice wasn&#39;t free Mr Bannon, and unless you click the <em>Buy Ruben a Coffee</em> button on the side of my page at least three hundred times you&#39;re in violation of my copyrights by reading this material for free. Deadbeat.</p>
 
