---
title: 'Revised Aussie coal lobbyist video' 
date: "2009-10-12T07:51:29+10:00"
year: "2009"
category: Thoughts 
tag: 
- australia
- climate-change
- energy
- environment
- politics
---
<p><a href="https://www.youtube.com/watch?v=mB0wSN2xD48" title="Play Spoof of the Australian Coal Association ad campaign"><img src="https://rubenerd.com/files/2009/yt-mB0wSN2xD48@1x.jpg" srcset="https://rubenerd.com/files/2009/yt-mB0wSN2xD48@1x.jpg 1x, https://rubenerd.com/files/2009/yt-mB0wSN2xD48@2x.jpg 2x" alt="Play Spoof of the Australian Coal Association ad campaign" style="width:500px;height:281px;" /></a></p>

<p>It&#39;s never a good idea to be drinking a hot cup of coffee when any kind of paid political message is played on television, but in this case the claims were so outrageous I nearly jumped out of my chair which would have caused the entire contents of the cup to be sent flying all over the computer devices on my table.</p>
<p>If you don&#39;t have the stomach for the original advertisement from the <a href="http://www.youtube.com/user/CutEmissionsNotJobs">Australian Coal Association</a>, they have a handy summary on their YouTube page:</p>
<blockquote><p>The Australian Coal Industry takes climate change very seriously. Were investing one billion dollars in the development of low emission technologies to reduce green house gas emissions. […]</p></blockquote>
<p>Fortunately someone else on YouTube going by the apt name of <a href="http://www.youtube.com/user/beyondcoal">beyondcoal</a> submitted a new version with revised subtitles. For example:</p>
<blockquote><p>[…] investing less than 5% of revenue over the next decade […]</p></blockquote>
<p>I&#39;m sceptical of both sets of figures, but it&#39;s good to see it doesn&#39;t take long for responses like this to come up online, and that there are people willing to think independently of what the lobbyists are saying. Unfortunately there aren&#39;t enough of them.</p>
 
