---
title: 'Songs with B words in them' 
date: "2009-07-01T06:15:16+10:00"
year: "2009"
category: Media
tag:
- music
- pointless 
location: Singapore
---
<p><img src="https://rubenerd.com/files/uploads/photo.michaelfranks.thetrashmen.jpg" alt="Michael Franks and The Trashmen" style="height:250px; width:500px; display:inline; border:0px;" /></p>
<p>Reporting from the <a href="https://www.openstreetmap.org/way/46612311">Tanglin Mall Starbucks</a> at <a href="www.tanglinmall.com.sg/">Tanglin Mall</a>, surprising though it may seem. At Tanglin Mall.</p>
<p>I’ve noticed a reoccurring theme of posts on the <a href="http://j-walkblog.com/">J-Walk Blog</a> wherein either John Walkenbach (or another person from J-Walk and Associates…) searches his music library for song titles based on the presence of a particular word. The last time I did this <a href="//rubenerd.com/p3934/">was on my birthday earlier this year</a>, so I figure now is as good a time as any to do some more.</p>
<p>Here is a list of songs from my music library on my MacBook Pro that contain the following whole words. Granted I only have a few gigs of music on here compared to my desktop back home, but it&#39;ll suffice.</p>
<h3>Banchen</h3>
<ol>
<li><a href="http://wholewheatradio.org/wiki/index.php/Songs:Banchen_Danlih_%28132376%29">Banchen Danlih</a> &#8212; <a href="http://wholewheatradio.org/wiki/index.php/Artists:Karjam_Saeji?artistnum=8955">Karjem Saeji</a></li>
</ol>
<h3>Barefoot</h3>
<ol>
<li>Barefoot on the Beach &#8212; Michael Franks</li>
</ol>
<h3>Bet</h3>
<ol>
<li>Bet I’ll Never Have a Whole Wheat Radio Artist Page &#8212; Ruben Schade</li>
</ol>
<h3>Boat</h3>
<ol>
<li>I’m On A Boat!!! &#8212; The Lonely Island</li>
<li>Six Months in a Leaky Boat &#8212; Split Enz</li>
<li>Volga Boatmen &#8212; The Glenn Miller Orchestra</li>
<li>Volga Boatmen &#8212; Leningrad Cowboys</li>
</ol>
<h3>Boring</h3>
<ol>
<li>Being Boring &#8212; Pet Shop Boys</li>
</ol>
<h3>Brazil</h3>
<ol>
<li>Brazil &#8212; Pink Martini</li>
<li>Down In Brazil &#8212; Michael Franks</li>
<li>Non-Stop To Brazil &#8212; 小野リサ (Lisa Ono)</li>
</ol>
<h3>Burchfield</h3>
<ol>
<li>Burchfield Nines &#8212; Michael Franks</li>
</ol>
<p>With all this talk about words in songs beginning with B though, we must not forget that <a href="http://alpha.libre.fm/artist/The%20Trashmen/track/Surfin%27%20Bird">The Bird is the Word</a>. The bird bird bird. The bird is the word. Papa-oom-mow-mow-mow. Papa-oom-mow-mow-mow. Don&#39;t you know about the bird? Everybody knows that the bird is the word!</p>
<h3>Related Posts</h3>
<ul>
<li>2009.03.27 <a href="//rubenerd.com/p3934/">Shampoo J-Walk eggplant songs</a></li>
<li>2006.09.09 <a href="//rubenerd.com/songs-names-with-song-in-them/">Songs Names with Song in Them</a></li>
</ul>
 
