---
title: 'BASIC on the iPhone Commodore 64' 
date: "2009-09-09T01:03:58+10:00"
year: "2009"
category: Hardware 
tag:
- app-store
- apple
- commodore-64
- infocomm
- iphone
- iphone-user-news
- iron-fist
- itelephone
- nostalgia
- phones
- retrocomputing 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.iphone.c64.png" alt="" style="height:480px; width:320px; display:inline; border:0em;" /></p>
<p>It turned out to be another epic saga involving Apple and the denial of an application on the iPhone App Store, then approval, then a hasty revoke. The problem is Apple doesn&#39;t want programming languages and virtual machines for other programming languages running on the iPhone because they claim it would adversely affect the user experience by making the device less secure. Presumably I would think they&#39;re more worried about sidestepping and potentially allowing another competing app store.</p>
<p>After disabling the BASIC interpreter, Apple finally approved a beautifully written and faithful reproduction of a Commodore 64 for sale which I <a href="http://twitter.com/Rubenerd/status/3829881626">hastily snatched up</a>. I played a <a href="http://twitter.com/Rubenerd/status/3830096821">few rounds of Jack Attack</a> and was instantly hooked! Today though, Apple has since revoked the app meaning people who didn&#39;t download it yet can&#39;t once again.</p>
<p>While the initial splash screen says BASIC has been disabled, it turns out you can sneakily get to it by enabling the full keyboard at all times, then loading a game and pressing Reset on the Extra keyboard. In Steve Jobs parlance, BOOM, you&#39;re at a Commodore 64 BASIC interpreter!</p>
<p>Presumably the app won&#39;t be allowed back in the store (if ever) until this backdoor way to get to the BASIC interpreter is removed, but it means people like me who were extraordinarily lucky enough to download it before Apple discovered the hidden feature just don&#39;t upgrade if it ever does reappear.</p>
<p>The <a href="http://iphoneusernews.com/">iPhone User News</a> site has more information about <a href="http://iphoneusernews.com/?p=1191">the initial application approval</a> and <a href="http://iphoneusernews.com/?p=1191">subsequent workaround and rejection</a>.</p>
 
