---
title: 'How I blog too much' 
date: "2009-08-02T01:18:43+10:00"
year: "2009"
category: Thoughts 
tag: 
- blogging
- boatdeck-cafe
- coffee-shops
- starbucks
- weblog
- zombieplan 
---
<p><img src="https://rubenerd.com/files/2009/starbucks-in-tanglin-mall_3708710385_o@1x.jpg" alt="Starbucks in Tanglin Mall" srcset="https://rubenerd.com/files/2009/starbucks-in-tanglin-mall_3708710385_o@1x.jpg 1x, https://rubenerd.com/files/2009/starbucks-in-tanglin-mall_3708710385_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>I was asked a question yesterday from someone other than a person from high school who had almost never spoken to me unless they had a computer problem, so for once I felt obligated to answer. <a href="http://zombieplan.zombieskittles.com/">Zombie Plan</a> (yes, <a href="//rubenerd.com/zombieplann-cryptic/">THAT ZombiePlan</a>) wanted to know how it is I can blog so much and where I get my ideas from.</p>
<p>There are two ways to address the question, the first is the academic way. I am able to blog so much because I endeavour to discover new and exciting fields of study both in my life and in the world around me and therefore I am able to produce blog posts of a high calibre and social value for my readers. As with most academic answers of this nature though, this reason is a lot of hot air and complete nonsense.</p>
<p>As I&#39;ve said many times here over the years I find blogging a fun distraction from studying and work, I guess you could call it a coping mechanism. It may sound counter-intuitive, but often I blog the most when I have the most amount of work to do! When I&#39;m distracted, my brain can come up with more material. Perhaps when said brain is stimulated it&#39;s thinks better, alas I&#39;m no Sam Harris neurologist I&#39;m only interpreting the results in my own frame of reference.</p>
<p>The other thing to try is not something if you&#39;re a serious person attempting to write a serious blog. <strong>Write nonsense!</strong> I&#39;m sure I&#39;m not the only one who gets tired of reading dry, impersonal posts on blogs; buck the trend and put material in posts regarding your own life and experiences when you talk about things. Recently I took this one step further by having a dedicated nonsense category where I can put fun silliness. I remember when I used to work for Discovery Channel as a voice over guy one of the things the director said is that people can tell when you speak whether or not you&#39;re smiling just by listening; I reckon the same could be said for blogging.</p>
<p>And while I&#39;m giving away my super duper secrets, my other trick is to just go online and find silly or completely random pictures, often they trigger something in my head and I can write about something. I try to have at least one image associated with each post because I feel text-only blogs kinda defeat the purpose of having a website on the multimedia intertubes anyway. While we&#39;re talking about triggers I also have a notebook page on my iTelephone for blog and show topics too which I frantically jot nonsense into whenever I get the chance.</p>
<p>I almost forgot! The other thing is I create the vast majoraty of my blog posts in coffee shops; in Adelaide I sit at the <a href="http://www.theboatdeck.com.au/">Boatdeck Cafe</a> in Mawson Lakes, in Singapore I sit at any number of <a href="http://www.starbucks.com.sg">Starbucks Coffee</a> thingys. Don&#39;t ask me why I&#39;m more productive or mentally stimulated in places like that, because I don&#39;t know the answer myself!</p>
<p>Is my blog a good one? Heavens no, it&#39;s awful! But that wasn&#39;t the question, Zombie Plan wanted to know <strong>how I blog so much</strong>. I hope this sheds some light onto it. Do lights have fur?</p>
 
