---
title: 'My second bread baking attempt' 
date: "2009-11-04T10:56:40+10:00"
year: "2009"
category: Thoughts 
tag: 
- baking
- bread
- food 
---
<p><img src="https://rubenerd.com/files/2009/another-homemade-bread-loaf-attempt_4074217589_o@1x.jpg" alt="Another homemade bread loaf attempt" srcset="https://rubenerd.com/files/2009/another-homemade-bread-loaf-attempt_4074217589_o@1x.jpg 1x, https://rubenerd.com/files/2009/another-homemade-bread-loaf-attempt_4074217589_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>Today was another extremely stressful stuyding and family related problems kind of day, so I decided to step away from the computer again for an hour or so and bake some more bread. Anyone who has ever been a roommate of mine knows I can&#39;t cook, but bread is forgiving enough that even if you mess up the recipe and/or cooking time its still a lot of fun and still ends up tasting great.</p>
<p><!--oldmore--></p>
<p>For my second attempt I increased the amount of flour, milk and the cooking time from last time by a third, though this time I think I dusted too much flour when I was kneading and folding so there were some pretty deep cracks where the dough hadn&#39;t stuck together properly when it baked, but with a tiny bit of cream and some generous dollops of raspberry jam the end result tasted great, as I eluded to in the first paragraph of this overly long post!</p>
<p>For my next attempt I might use the sugar, butter and salt even more sparingly than this time; I&#39;m already using far less than most of the recipes I&#39;ve found asked for, but it still tastes great without, as I&#39;ve eluded to three times now.</p>
<p>In any event, such exercises have been a ton of fun and a great distraction from life which has been valuable in and of itself. Plus I get to eat nice tasting home baked bread :).</p>
 
