---
title: 'Broken Mac The Sims 2 equals bummer' 
date: "2009-05-25T03:04:48+10:00"
year: "2009"
category: Software
tag:
- apple
- aspyr
- errors
- games
- infocomm
- mac-os-x
- the-sims-2 
---
<p><img src="https://rubenerd.com/files/2009/3559249651_1471ecd529_o.png" alt="The Sims 2 loading screen showing just a red X" style="width:400px; height:300px;" /><br /><cite>Screenshot taken with <code>[CMD]</code>+<code>[C]</code> as the game starts</cite></p>

<p>I like to reformat my computers at least once a year to keep them from accumulating too much clutter. Unfortunately after reinstalling a fresh copy of Mac OS X Leopard on my first generation Core Duo MacBook Pro, a copy of The Sims 2 without expansions refuses to load. This despite the fact <a href="//rubenerd.com/p3878/">it was working just fine</a> before the reformat!</p>
<p>When loading The Sims 2 on Mac OS X 10.5.7 with QuickTime 7.6, it displays the Electronic Arts logo, then shows the above screen instead of the Maxis logo. After the the introductory video has played, the game quits and displays a &quot;<code>The application The Sims 2 has quit unexpectedly</code>&quot; error dialog box. Bummer.</p>
<p><img src="https://rubenerd.com/files/uploads/icon.sims2.hl.png" alt="The Sims 2 dock icon" style="height:128px; width:128px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />Considering I had just reformmated the machine and didn&#39;t have anything else on it yet, I reformatted it again back to 10.5.4 with QuickTime 7.5 and didn&#39;t do any software updates. The exact same error appears.</p>
<p>These were the steps I took to reinstall the game.</p>
<ol>
<li>Repaired permissions with <code>Disk Utility.app</code></li>
<li>Copied &quot;<code>The Sims 2</code>&quot; directory from the installation DVD to &quot;<code>/Applications/</code>&quot;</li>
<li>Downloaded and applied the <a href="http://support.aspyr.com/index.php?x=&amp;mod_id=2&amp;root=36&amp;id=488">Sims2<em>1.0</em>RevF.dmg</a> update without issues</li>
<li>Downloaded and copied over the <a href="http://support.aspyr.com/index.php?x=&amp;mod_id=2&amp;root=239target=&amp;id=597">Sims2<em>1.0</em>RevF.reissue</a> executable</li>
</ol>
<p>As I said before what&#39;s frustrating is that this <em>worked before</em>, so I know this machine is capable of it. Twice I&#39;ve tried running it, with the latest software updates installed and with the bare 10.5.4 DVD install. Nothing. Nada. Zippo.</p>
<p>I&#39;ve emailed Aspyr technical support, in the meantime it seems I&#39;ll need to find another means of escaping!</p>
 
