---
title: 'More Commodore 16 Unicomp keyboard comparions' 
date: "2009-07-13T08:45:11+10:00"
year: "2009"
category: Hardware 
tag:
- commodore
- commodore-16
- infocomm
- keyboards
- retrocomputing
- unicomp 
---
<p><img src="https://rubenerd.com/files/2009/my-unicomp-versus-my-commodore-16_3707291126_o@1x.jpg" alt="My Unicomp versus my Commodore 16" srcset="https://rubenerd.com/files/2009/my-unicomp-versus-my-commodore-16_3707291126_o@1x.jpg 1x, https://rubenerd.com/files/2009/my-unicomp-versus-my-commodore-16_3707291126_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>Speaking of <a href="//rubenerd.com/rubenerd-javascript-free/">latest photos on Flickr</a>, I recently uploaded another comparison photo of my <a href="http://en.wikipedia.org/wiki/Commodore_16">Commodore 16 (Wikipedia)</a> and my <a href="//rubenerd.com/my-unicomp-keyboard/">new Unicomp SpaceSaver</a> which you can see above.</p>
<blockquote cite="https://www.flickr.com/photos/rubenerd/3706864710/"><p>
A photo of my Commodore 16 home computer from the 1980s above my new Unicomp SpaceSaver buckling spring keyboard made to the same specifications as the venerable IBM Model M keyboard which came out around the same time.</p>
<p>They’re uncannily similar, right down to the texture of the plastic! Perhaps I need to get a Commodore 16 sticker to put on this :)
</p></blockquote>
<p>In this photo their similarities are less striking than <a href="//rubenerd.com/unicomp-commodore-16/">this photo I took</a> which really shows the colour and texture of the plastic to be similar, if not exactly the same.</p>
<p>I love tech nostalgia from a bygone era. If as I said in the photo comment above I could get a Commodore 16 sticker to place on my Unicomp SpaceSaver that&#39;d just be… what was it the kids were saying in the 1980s? It&#39;d be… radical!</p>
 
