---
title: 'Coffee shops starting to ban laptops?' 
date: "2009-08-09T08:20:26+10:00"
year: "2009"
category: Hardware 
tag:
- boatdeck-cafe
- infocomm
- starbucks 
---
<p><img src="https://rubenerd.com/files/2009/boat-deck-cafe-mawson-lakes_226686041_o@1x.jpg" alt="Boat Deck Cafe, Mawson Lakes" srcset="https://rubenerd.com/files/2009/boat-deck-cafe-mawson-lakes_226686041_o@1x.jpg 1x, https://rubenerd.com/files/2009/boat-deck-cafe-mawson-lakes_226686041_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p><a href="http://iphoneusernews.com/?p=737">Neal over at iPhone User News is reporting</a> that some coffee shop owners have started cutting down on people taking up space and using precious electricity that could be better spent heating up milk for someone’s Iced Frappa Munga Cappacinolatte.</p>
<blockquote><p>Coffee shop owners are reportedly cutting down on people taking up space and using precious electricity that could be better spent heating up milk for someone’s Iced Frappa Munga Cappacinolatte.</p></blockquote>
<p>I just said that.</p>
<blockquote><p>More and more branches of Starbucks and other  coffee chains  are banning laptop use at certain times of day, preventing use of power outlets, and generally becoming less amicable to Internet users.</p></blockquote>
<p>I&#39;m all for limiting the time people can sit there taking up space with their laptops, but banning them outright is akin to telling your best customers they&#39;re no longer welcome. I&#39;m doing computer science and economics at university not business, but I&#39;m pretty sure alienating your customers is not the smartest thing to do. The RIAA in the US hasn&#39;t learned that 101 lesson either it seems.</p>
<p>I can just imagine people frantically waiting for tablet computers to come out so they can use them instead of laptops at coffee shops to game the system! And with EVDO cards and tethered iPhones making it possible to use wireless internet without the need for a WiFi connection, it seems to me instigators of such bans would be fighting an uphill battle. I can just imagine nerds sitting in comfy chairs with their lattes hiding their tablet computers under their coats!</p>
<p>For the record, the owner of the <a href="http://www.theboatdeck.com.au/">Boatdeck Cafe</a> here in Mawson Lakes has no trouble with me sitting at his shop for a couple of hours with my laptop. Why? Because I&#39;m a good customer, and he&#39;s a nice guy!</p>
 
