---
title: 'Pouring coffee on a laptop wasn’t a good idea' 
date: "2009-05-16T06:43:42+10:00"
year: "2009"
category: Hardware 
tag:
- bummer
- infocomm
- whoops 
---
<p><img src="https://rubenerd.com/files/2009/xeon-sticker-on-2002-p3-notebook_3534840683_o@1x.jpg" alt="Xeon sticker on 2002 P3 notebook" srcset="https://rubenerd.com/files/2009/xeon-sticker-on-2002-p3-notebook_3534840683_o@1x.jpg 1x, https://rubenerd.com/files/2009/xeon-sticker-on-2002-p3-notebook_3534840683_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<blockquote><p><strong>UPDATE:</strong> For some reason reseating the alt key for the nine millionth time made it work again! Still haven’t got either the space bar or the cursor keys working properly, but I’m going to keep fiddling if there’s a chance I can get this working without having to buy a new one! Here’s hoping…</p></blockquote>
<p>As if the lords were spiting me for talking in such glowing terms about how much I love my tiny <a href="//rubenerd.com/tag/armada-m300/">Armada M300 subnotebook</a> and think it&#39;s the ultimate budget-budget netbook, yesterday morning while sipping a cup of coffee I managed to pour a third of the cup onto the keyboard. Without a keyboard cover like my venerable MacBook Pro has, the liquid got under all the keys but fortunately didn&#39;t get much further than that.</p>
<p>Unplugging it, removing the battery and hard drive, leaving it to dry out and using a hair dryer with the heat turned off has saved it, but unfortunately the keyboard is a complete write-off. Despite exhaustively taking off the keys, cleaning them and replacing them back on the circuit board, the <code>ALT</code> key doesn&#39;t respond (a disaster for a FreeBSD guy), the space bar doesn&#39;t pop back up properly and all but the down cursor keys seem to have a mind of their own. It&#39;s heartbreaking that this beautiful little machine lasted from 2002 until now only to be damaged by a friggen cup of coffee!</p>
<p>Fortunately there seems to be plenty of people selling replacement keyboards for this model of notebook for around AU$70.00 including shipping, but it means the money I&#39;d been putting aside to buy the discounted <em>&quot;David Francey Starter Kit&quot;</em> from <a href="http://davidfrancey.com/">David Francey&#39;s website</a> and some prescription sunglasses (I&#39;ve been told they can help prevent headaches during the day) will have to go towards that instead. Bummer.</p>
<p>Isn&#39;t it frustrating when instead of buying something new that you want or need you have to buy a replacement for something that was working fine before? I guess it&#39;s a life lesson in Murphey&#39;s Law, right?</p>
<p>On the plus side, the <a href="//rubenerd.com/xeon-stickers-arrived/">Intel Xeon stickers I picked up</a> for a couple of bucks recently <a href="https://www.flickr.com/photos/rubenerd/3534840683/">look smashing on it</a>! Before this disaster happened I had one person comment in a coffee shop that they very much doubted a server CPU was in my old notebook, and that it was a great idea they&#39;d be doing now too!</p>
 
