---
title: 'Comparing the New Brighton Tower and the Lusitania' 
date: "2009-01-05T05:02:43+10:00"
year: "2009"
category: Media
tag:
- 1900s
- engineering
- lusitania
- ocean-liners
- photos 
---
<p><img src="https://rubenerd.com/files/2009/390539510_54007cc55c_o@1x.jpg" srcset="https://rubenerd.com/files/2009/390539510_54007cc55c_o@1x.jpg 1x, https://rubenerd.com/files/2009/390539510_54007cc55c_o@2x.jpg 2x" alt="New Brighton Tower and Lusitania" style="width:500px; height:316px;" /><br />
<cite>The New Brighton Tower and Lusitania by <a href="https://www.flickr.com/photos/noctorum/">noctorum</a> on Flickr</cite></p>

<blockquote><p>Famous old postcard comparing the tower at New Brighton to the RMS Lusitania. Features in the intro to Martin Parr’s book The Last Resort. </p></blockquote>
<p>How does <strong><em>your</em></strong> amazing tower or ocean liner compare to these fine, modern examples of engineering?</p>
<p>What unit of measurement are they using though? A foot? Do you measure your feet and use them as a guide?</p>
 
