---
title: 'Some fun Friday evening philosophy' 
date: "2009-08-15T12:11:13+10:00"
year: "2009"
category: Thoughts 
tag: 
- conspiracy-theories
- fun
- nonsense
- not-to-be-taken-seriously
- pointless 
---
<p><img src="https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3391309061_o@1x.jpg" alt="Earth Hour in Mawson Lakes, Adelaide, Australia" srcset="https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3391309061_o@1x.jpg 1x, https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3391309061_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>There are lots of conspiracy theorists on Twitter which I think mirrors their high degree of exposure on the internet in general. Without a reliable way of checking and verifying facts in many circumstances online, this breeds such ideas like a week old loaf of bread does mould. That&#39;s fine though, as well as people aren&#39;t getting hurt it&#39;s just free speech asserting itself.</p>
<p>I never thought I would consider myself a member of the conspiracy theory clique, but I am a conspiracy theory conspiracy theorist. I am of the opinion conspiracy theorists around the world are members of a loose, underground alliance designed to distort facts, spread misinformation and sew seeds of doubt in order to disrupt scientific, political and technological progress, all while using the guise that they&#39;re the ones trying to expose said shenanigans. It&#39;s very clever!</p>
<p>When conspiracy theorists saying the world is changing and there&#39;s a New World Order being established, I assert they would know better than anyone else because they&#39;re the ones guilty of perpetrating it, whether they realise it or not.</p>
<p>Look out conspiracy theorists, I&#39;m onto your conspiracy! Who&#39;s the sheeple now? ;-)</p>
 
