---
title: 'Creating clouds of links instead of long lists' 
date: "2009-05-19T06:20:02+10:00"
year: "2009"
category: Internet
tag:
- css
- guide
- howto
- infocomm
- xhtml 
---
<p><img src="https://rubenerd.com/files/2009/beautiful-colours-and-clouds_3055705014_o@1x.jpg" alt="Beautiful colours and clouds" srcset="https://rubenerd.com/files/2009/beautiful-colours-and-clouds_3055705014_o@1x.jpg 1x, https://rubenerd.com/files/2009/beautiful-colours-and-clouds_3055705014_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>I admit I tend to do more back-end programming than front-end website design, but I have picked up a lot of little tricks. One such trick is instead of displaying links in a dry vertical list, to display lists of links in so called &quot;clouds&quot;. This has the benefit of using a tiny fraction of the vertical screen real estate, and they look cooler!</p>
<p>For example, here&#39;s a cloud list of the links from the blogroll of this site here. If these links were displayed as a plain list, it would take up over 30 lines!</p>
<blockquote>
<ul style="margin:0em; padding:0em;">
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://greens.org.au/" rel="contact">Australian Greens</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://www.schneier.com/blog/">Bruce Schneier</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://defendingscoundrels.com/" rel="contact">Dale Clapperton</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://davesphotogallery.blogspot.com/" rel="friend">Dave Wares</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://www.blogarithms.com/">Doug Kaye</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://duddingstonbooks.com/arcade/activity.php">Duttingston Arcade</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://efa.org.au/">Electronic Frontiers Australia</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://blog.esthergolton.com/" rel="contact">Esther Golton</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="https://www.flickr.com/photos/ftanjono/" rel="friend">Felix Tanjono</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://theovernightscape.com/blog/" rel="friend">Frank Nora</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://geekmommy.wordpress.com/" rel="contact">Geek Mummy</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://neopythonic.blogspot.com/">Guido van Rossum</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://j-walkblog.com/">J-Walk</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://www.redhillconsulting.com.au/blogs/james/" rel="friend met kin">James Ross</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://www.socialmedia.biz/" rel="contact">JD Lasica</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://blogs.sun.com/jonathan/">Jonathan Schwartz</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://julee.blogspot.com/" rel="friend met">Julee Ng</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://www.inspiringwomen.org.au/" rel="friend met">Little Sue</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://markparnell.org.au/blog.php" rel="contact">Mark Parnell</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://schizoamerica.com/" rel="contact">Mary Wallace</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://columnsofsmoke.net/nimi/" rel="friend met kin">Nimiiiiiiii</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://atuuschaaw.blogspot.com/" rel="friend">Randy Fullerton (Atuuschaaw)</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://richarddawkins.net/" rel="contact">Richard Dawkins</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://www.joboxentertainment.com/blog/" rel="friend">Roel Weijer</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://www.samharris.org/" rel="contact">Sam Harris</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://scottyob.com/" rel="contact">Scott O’Brein</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://yoursdp.org/">Singapore Democrats</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://gesturelab.com/" rel="contact">Steve Gillmor</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://www.stephenfry.com/">THE Stephen Fry</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://tyrtle.wordpress.com/" rel="friend">Todd Tyrtle</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://www.w3.org/">W3C</a></li>
<li style="display:inline; margin-right:0.6em; white-space: nowrap; list-style-type:none;"><a href="http://wholewheatradio.org/jbb/weblog.php" rel="friend">Whole Wheat Radio</a></li>
</ul>
</blockquote>
<p>The key is to use a regular unordered list of links as you would for a plain vertical list of links, but then use CSS to display the list items inline instead.</p>
<p>For example, this is an example of a basic unordered list of links:</p>
<pre>&lt;ul class=&quot;cloud_list&quot;&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;K-On&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Code Geass R2&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Sola&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Strike Witches&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Zero No Tsukaima&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Grilled Cheese Sandwich&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</pre>
<p>To display them as a cloud, you use CSS to change each link into an inline element which will cause them to group together, along with a few other properties to clean up their appearance:</p>
<pre>
.cloud_list li {
  display: inline;       /* DISPLAY LINKS ON SAME LINE */
  margin-right: 1em;     /* SPACE LINKS OUT */
  white-space: nowrap;   /* DON'T START NEW LINES IN LINKS */
  list-style-type: none; /* REMOVE BULLETS IN IE6 */
}
</pre>
<p>And this is only scratching the surface! With CSS you could also theoretically use different classes to define different font sizes and styles for certain links to create more of tag cloud look.</p>
<blockquote>
<ul style="margin:0em; padding:0em; width:320px;">
<li style="display:inline; list-style-type:none; white-space: nowrap; margin-right:0.6em; font-size:x-large; font-family:Georgia"><a href="#">K-On</a></li>
<li style="display:inline; list-style-type:none; white-space: nowrap; margin-right:0.6em"><a href="#">Code Geass R2</a></li>
<li style="display:inline; list-style-type:none; white-space: nowrap; margin-right:0.6em; font-size:x-large; font-family:Georgia"><a href="#">Sola</a></li>
<li style="display:inline; list-style-type:none; white-space: nowrap; margin-right:0.6em; font-family:'Courier New'"><a href="#">Strike Witches</a></li>
<li style="display:inline; list-style-type:none; white-space: nowrap; margin-right:0.6em"><a href="#">Zero No Tsukaima</a></li>
<li style="display:inline; list-style-type:none; white-space: nowrap; margin-right:0.6em; font-family:'Courier New'"><a href="#">Grilled Cheese Sandwich</a></li>
</ul>
</blockquote>
<p>And here&#39;s the appended CSS showing the different classes we can add to links to differentiate them, in this case my criteria is my opinions of the shows contained in the list:</p>
<pre>
.cloud_list .love  { font: x-large Georgia; }
.cloud_list .like  { font: medium; }
.cloud_list .weird { font: medium &quot;Courier New&quot;; }
</pre>
<p>Anyway that&#39;s just one possible use for CSS and lists, there are certainly many more!</p>
 
