---
title: 'Credit card fraud on rise, IT security thoughts' 
date: "2009-05-15T03:44:53+10:00"
year: "2009"
category: Software
tag:
- abc-news
- banks
- betterprivacy
- browsers
- credit-cards
- economics
- financial-institutions
- firefox
- infocomm
- security
- ssl-blacklist 
---
<p><img src="https://rubenerd.com/files/2009/2135074572_32769e56b3_o@1x.jpg" srcset="https://rubenerd.com/files/2009/2135074572_32769e56b3_o@1x.jpg 1x, https://rubenerd.com/files/2009/2135074572_32769e56b3_o@2x.jpg 2x" alt="ANZ and Westpac bank buildings on an appropriately drizzly day in central Adelaide" style="width:420px; height:560px;" /><br /><cite>ANZ and Westpac bank buildings on an appropriately drizzly day in central Adelaide, by <a href="https://flickr.com/photos/dodge76/sets/72157601241522720/">Dodge 76</a> on Flickr</cite></p>
<p>After reading the headline, I was expecting this news story from the ABC (Australia) to be about <a href="//rubenerd.com/credit-union-respect/">predatory lending</a>,<a href="//rubenerd.com/banks-exploiting-consumers/">exploitation</a> or other <a href="//rubenerd.com/p3592/">unwarranted behavior</a> on the part of financial institutions. Alas no, it was a report on how people are becoming victims to people who steal their credit card information, not banks!</p>
<blockquote cite="http://www.abc.net.au/news/stories/2009/05/15/2571546.htm"><p><a style="font-weight:bold" href="http://www.abc.net.au/news/stories/2009/05/15/2571546.htm">ABC News: Credit card fraud on the rise: report</a></p>
<p>By Online business reporter Michael Janda and staff</p>
<p>An industry report has identified a rise in the rate of internet and telephone credit card fraud.</p>
<p>Figures from the Australian Payments Clearing Association (APCA) show the credit card fraud rate was 45 cents per $1,000 in 2007, but in 2008 it had climbed to 53 cents.</p>
<p><cite><a href="http://clipmarks.com/clipmark/491C7BFA-1A3B-4969-A305-F0D91FD1DAE2">Original Clipmark link</a></cite>
</p></blockquote>
<p><img src="https://rubenerd.com/files/uploads/icon.tango.finance.png" alt="Icon from the Tango Desktop project" style="height:128px; width:128px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />There were very good points regarding why banks themselves don&#39;t in fact do more to prevent fraud which I encourage you to look at if you&#39;re interested.</p>
<p>Several comments though were about using your credit card to shop online, but they were mostly limited to discussing virus protection. I usually just click the <em>&quot;Agree&quot;</em> link next to comments because people on the ABC News website are generally more eloquent and succinct than I am, but this time I figured an explanation was in order.</p>
<blockquote><p>Kudos to people saying they were expecting the article to be about exorbitant credit interest rates, I did too!</p>
<p>As for the technical question, virus protection and firewalls are only a tiny part of the equation. Especially if you run Microsoft Windows you absolutely MUST keep your system current with patches and security fixes. Viruses, worms and trojan horses (three very different beasts) take advantage of weaknesses that often have already been fixed but that people haven’t bothered to guard against. Confiker is the latest example of this.</p>
<p>There’s also the issue of &#8220;social engineering&#8221; where instead of blindly sending messages out to millions of addresses, they watch your online activity so they can gather enough information about you to send you an email as a trusted person who you may let your guard down for.</p>
<p>If you use Mozilla Firefox (anyone still using Internet Explorer is dumb, sorry that’s just accepted fact now) the SSL Blacklist plugin from CodeFromThe70s.org helps guard you against suspicious &#8220;secure&#8221; web authorities, and the &#8220;BetterPrivacy&#8221; plugin (just Google it) helps guards against the next generation of malicious cookie spying. The weakest part of any system though is the USER, so just stay vigilant and remember if something is too good to be true it usually is. Like those misleading &#8220;low balance transfer&#8221; advertisements!</p></blockquote>
<p>In retrospect I shouldn&#39;t have called Internet Explorer users dumb. Some casual computer users may still not know, other people like my dad wish they could change but can&#39;t because their company machines can&#39;t be altered.</p>
 
