---
title: 'Well there goes my respect for credit unions' 
date: "2009-05-12T05:41:35+10:00"
year: "2009"
category: Thoughts 
tag: 
- australia
- banks
- credit-unions
- economics
- worrying-out-loud 
---
<p><img src="https://rubenerd.com/files/2009/kallen-doesnt-like-predatory-mail-credit-card-applications-either_3524120629_o@1x.jpg" alt="Kallen doesn't like predatory mail credit card applications either!" srcset="https://rubenerd.com/files/2009/kallen-doesnt-like-predatory-mail-credit-card-applications-either_3524120629_o@1x.jpg 1x, https://rubenerd.com/files/2009/kallen-doesnt-like-predatory-mail-credit-card-applications-either_3524120629_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>As I&#39;ve previously blogged about here on several occasions under the <a href="//rubenerd.com/category/economics/">economics category</a>, when I moved back to Australia on a part time basis to study, I decided to go with a credit union instead of a bank. My decision was based on my previously poor experiences with banks such as the long queues at branches where half the teller desks are closed; what I consider exorbitant fees; having to prove I&#39;m a student every five minutes to keep my rates down; being bullied into purchasing services I don&#39;t want or need; I could go on. I also take issue with some of their business practises such as predatory lending and their seemingly indifferent view to consumer rights.</p>
<p>While I still stand by my decision, the honeymoon period with credit unions for me is now officially over thanks to a personally addressed letter from the <a href="australiancentral.com.au">Australian Central Credit Union</a> I received this morning. Inside was a letter explaining how I can use balance transfers to lower my interest repayments along with a &quot;fast track&quot; application form to apply for one of their MasterCard plastics.</p>
<p><img src="https://rubenerd.com/files/uploads/icon.tango.finance.png" alt="Icon from the Tango Desktop project" style="height:128px; width:128px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />Financial regulations in Australia are some of the strictest in the developed world, but as far as I know there&#39;s no law against sending people letters like this which I consider akin to predatory lending. Encouraging people to take advantage of lower interest rates on credit transfers only to crank up the interest rates to the same or higher than the debtor had before reeks of misinformation at best and exploitation at worst.</p>
<p>What also worries me about this is what criteria they used to send these credit card application forms. I still use my bank account in Singapore for most tasks, relegating my credit union account here in Australia for small purchases and for paying bills. If I were a responsible financial institution I wouldn&#39;t offer to lend someone like me money in this form if I had the knowledge that they only had this amount of money in their accounts.</p>
<p>To play Devil&#39;s advocate, on the application form they do ask for employment and income details, but my point above still stands. The Australian Central Credit Union knew my balance and transaction history, and they offered me an application for credit.</p>
<p>It&#39;s reckless lending behaviour like this that was part of the reason for the current financial crisis. If I get time I&#39;ll be writing a brief letter to the Australian Central Credit Union telling them that I&#39;ll be keeping my account with them because their service is still exemplary especially when compared to dealing with banks, but that I&#39;m disappointed with their behaviour and hope they reconsider sending out such material to people in the future.</p>
 
