---
title: '#crocs4ever? They’re made of plastic!' 
date: "2009-07-17T11:40:58+10:00"
year: "2009"
category: Thoughts 
tag: 
- environment
- fashion
- twitter 
---
<p><img src="https://rubenerd.com/files/uploads/photo.maher.crocks.jpg" alt="Bill Maher's New Rules segment on Real Time" style="height:375px; width:500px; display:inline; border:0px;" /></p>
<p>One of the current trending topics as of 22:00 Singapore Time on Twitter is <a href="http://twitter.com/search?q=%23crocs4ever">#crocs4ever</a>. Of course  <a href="http://twitter.com/search?q=%23crocs4ever">#crocs4ever</a>, they&#39;re made from <em>non-biodegradable plastic</em>!</p>
<p>This is of course a <a href="http://twitter.com/Rubenerd/status/2688151390">shameless reposting of this tweet</a> I wrote on Twitter, just in case you were smart enough never to have got addicted to the service.</p>
 
