---
title: 'Does Crucial.com mess up your iPhone 3G?' 
date: "2009-08-15T09:22:17+10:00"
year: "2009"
category: Hardware 
tag:
- apple
- errors
- infocomm
- iphone
- itelephone
- phones 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.iphone.crucial.png" alt="Screenshot taken on the iPhone 3G in Safari after using the Crucial RAM upgrade site" style="height:320px; width:480px; display:inline; border:0em;" /></p>
<p>One of my tricks when I get second hand computer for myself or when I&#39;m refurbishing for a friend or whatnot is to go to use the Memory Upgrade screen on the <a href="http://www.crucial.com/index.aspx#">Crucial website</a> to check what sort of RAM the hardware can take, what the maximum capacity is and how much the chips would be.</p>
<p>So there I was consulting Crucial.com in Safari on my iTelephone for my <a href="https://rubenerd.com/thinkpad-x40/">new ThinkPad X40</a> when the screen went completely grey except for the time bar along the top, making it completely unusable. Rotating the screen 90 degrees into landscape mode rotated the time bar but the rest of the screen stayed grey. Returning to the iTelephone home screen then launching Safari made no difference. The only way I could use Safari again was to turn off the phone and start it again!</p>
<p>I might need to employ the help of the <a href="http://iphoneusernews.com/">iPhoneUserNews</a> iPhone guru to confirm whether or not using the Crucial Memory upgrade screen on their website automatically stuffs up all iPhone browsers, or just regular iPhone 3G browsers, or whether or not I just have a dodgy iPhone.</p>
<p>Rebooting the phone and launching Safari reproduced these results for me. I might contact the Crucial folks once I can confirm other iPhones have problems loading this page and not just mine.</p>
 
