---
title: 'D60 photos of overcast Mawson Lakes' 
date: "2009-05-13T01:31:44+10:00"
year: "2009"
category: Media
tag:
- adelaide
- australia
- flickr
- mawson-lakes
- nikon-d60
- photos
- south-australia 
---
<p><img src="https://rubenerd.com/files/2009/threatening-skies-at-the-mawson-lakes-train-station_3524936322_o@1x.jpg" alt="Threatening skies at the Mawson Lakes train station" srcset="https://rubenerd.com/files/2009/threatening-skies-at-the-mawson-lakes-train-station_3524936322_o@1x.jpg 1x, https://rubenerd.com/files/2009/threatening-skies-at-the-mawson-lakes-train-station_3524936322_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>I found myself waiting a few days ago with my Crumpler computer bag at the Mawson Lakes Interchange train/bus station (<a href="https://www.openstreetmap.org/node/1765087164">OpenStreetMap</a>, <a href="http://en.wikipedia.org/wiki/Mawson_Interchange,_Adelaide">Wikipedia</a>) a block away from our house. I tell you what (and I reckon <a href="http://tyrtle.wordpress.com/">Todd Tyrtle</a> would agree!), my quality of life is so much higher living so close to a public transport hub like this, I can get to the city and the surrounding suburbs so easily and without needing a car.</p>
<p>Anyway to pass the time I whipped out my little D60 with my AF 50mm f/1.8 and manually focused a couple of scenery shots. Why? I hate rhetorical questions. Why? Because I do! Wait, I asked another rhetorial question didn&#39;t I? Argh that was one too! I&#39;ll stop now.</p>
<p><img src="https://rubenerd.com/files/2009/threatening-skies-at-the-mawson-lakes-train-station_3524128483_o@1x.jpg" alt="Threatening skies at the Mawson Lakes train station" srcset="https://rubenerd.com/files/2009/threatening-skies-at-the-mawson-lakes-train-station_3524128483_o@1x.jpg 1x, https://rubenerd.com/files/2009/threatening-skies-at-the-mawson-lakes-train-station_3524128483_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>After several months of painfully dry weather (speaking on behalf of the struggling farmers) Adelaide and other parts of SA have been getting some much needed rain over the last few weeks. Coming from Singapore where it seems to rain almost every day I was struck by how sudden the scenery everywhere changes so quickly here. Not only does sunburned ground become green again, but the darker clouds here seem to even paint human structures a different colour somehow. I can&#39;t really describe it, but buildings, paved surfaces and even cars just <em>look</em> different. Can you go senile when you&#39;re 23?</p>
<p>I reckon it would be worth taking these exact same shots sitting in the same chair in six months time.</p>
 
