---
title: 'Chatting with Dana Gardner on Twitter' 
date: "2009-07-30T03:42:47+10:00"
year: "2009"
category: Internet
tag:
- briefingsdirect
- dana-gardner
- gillmor-gang
- infocomm
- twitter
- zdnet 
---
<p><img src="https://rubenerd.com/files/2009/3768301345_195bd4a605_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3768301345_195bd4a605_o@1x.jpg 1x, https://rubenerd.com/files/2009/3768301345_195bd4a605_o@2x.jpg 2x" alt="Dana Gardner on Twitter" style="width:500px" /></p>

<p>Remember back when I discussed how since I started using it in 2007 <a href="//rubenerd.com/twitter-mike-rann/">Twitter had allowed me to contact famous people I admire</a> and actually get replies from them? At last count I had <a href="http://twitter.com/SteveGillmor">Steve Gillmor</a>, <a href="http://twitter.com/JDLasica">JD Lasica</a>, <a href="http://twitter.com/StephenFry">Stephen Fry</a>, <a href="http://twitter.com/THErealDVORAK">John C. Dvorak</a>, <a href="http://twitter.com/PremierMikeRann">Mike Rann</a>, and <a href="http://twitter.com/AlexLindsay">Alex Lindsay</a>, now I can include <a href="http://twitter.com/Dana_Gardner">Dana Gardner</a>!</p>
<p>For someone with so many (sometimes conflicting) interests, I&#39;m clearly still quite a simple person; one brief chat with someone like Dana is enough to make my evening :). You can keep your Britney Spears and other Twitter celebs, these people are the real deal.</p>
<p>What we swapped tweets about will be the subject of a future post, specifically Microhoo&#39;s ability to undercut Google. Interesting for lots of different reasons.</p>
 
