---
title: 'Dave Winer on Hollywood blogger stereotypes' 
date: "2009-11-24T01:47:21+10:00"
year: "2009"
category: Media
tag:
- blogging
- dave-winer
- movies
- scripting-news
- stereotypes
- weblog 
---
<p><img src="https://rubenerd.com/files/uploads/media.dave2.gif" alt="Dave Winer" style="height:240px; width:320px;" /></p>
<p>I&#39;m socially awkward, anxious, terribly shy and I tend to obsess about obscure and unconventional things, but I was like that before I started blogging! That notwithstanding, Dave Winer has an <a href="http://www.scripting.com/stories/2009/11/22/howHollywoodPortraysBlogge.html">excellent post</a> on Scripting News about the stereotypes surrounding bloggers in Hollywood movies.</p>
<blockquote><p>[State of Play was a] remake of a brilliant BBC series that was so bad, that portrayed the blogger in such a superficial and humiliating fashion, that I actually walked out in disgust. (A movie has to be very bad for me to walk out on it.)</p>
<p>I’d love to see a movie that captures the heroic spirit of blogging. Like all inspiration, it’s rare, but that’s why it’s worth making a movie about. The story of the nobility of blogging largely remains, imho, untold.</p></blockquote>
<p><strong>Here</strong> friggen <strong>here</strong>. It probably won&#39;t change for a long time though, unless people start developing clichés about Twitter users instead and bloggers are given a break. That could work.</p>
<p>By the way, I don&#39;t equate my pointless blog here with people out there doing real work and producing amazing citizen journalism and analysis, but we&#39;re all bloggers and I&#39;m as frustrated as Dave sometimes with the way bloggers (and tech people in general) are portrayed in films.</p>
<p>On an unrelated note, I first posted about Dave Winer on my blog here in 2006 when I said he looked a bit like my dad in the above photo (<a style="font-style:italic" href="//rubenerd.com/dave-winer-versus-rainer-schade/">Dave Winer versus Rainer Schade</a>). Turns out they look nothing alike in the real world ;).</p>
 
