---
title: 'PC DOS 7 on a ThinkPad X40?' 
date: "2009-09-03T05:51:44+10:00"
year: "2009"
category: Hardware 
tag:
- dos
- ibm
- infocomm
- nostalgia
- operating-systems
- pc-dos
- retro
- thinkpad
- thinkpad-x40
- windows-3-x 
---
<p><img src="https://rubenerd.com/files/uploads/photo.mine.x40.jpg" alt="My ThinkPad X40" style="height:334px; width:500px;" /></p>
<p>It may come as <strong>complete shock</strong> to you to find out our first home computer from the early 1990s was a DOS machine. Certainly I&#39;ve never mentioned this ever before on my blog here (cough!), and I certainly have <a href="//rubenerd.com/tag/dos/">never blogged about running DOS</a> on modern hardware for nostalgic fun.</p>
<p>Turns out one of the unintended positives of procuring a <a href="//rubenerd.com/tag/thinkpad-x40/">ThinkPad X40</a> dating back to before IBM&#39;s hardware division was purchased by Lenovo is that IBM were themselves a DOS vendor (an oversimplification of history but it&#39;ll suffice) and supported running DOS well after everyone else jumped on the Windows bandwagon.</p>
<p><img src="https://rubenerd.com/files/uploads/icon.ibm.pcdos.png" alt="" style="height:128px; width:128px; float:right; display:inline; border:0px; background:transparent; padding:0em" />What this means is even for a 2004 vintage notebook computer from their <a href="http://www-307.ibm.com/pc/support/site.wss/product.do?template=/product.do?template=%2Fproductpage%2Flandingpages%2FproductPageLandingPage.vm&amp;sitestyle=lenovo&amp;brandind=10&amp;familyind=159337&amp;machineind=0&amp;modelind=0&amp;partnumberind=0&amp;subcategoryind=0&amp;doctypeind=9&amp;doccategoryind=0&amp;operatingsystemind=51375&amp;validate=true">download page</a> they have complete DOS software for updating the BIOS and diagnosing problems along with drivers for networking, external optical drives, sound and their obscure, limited run USB grilled cheese sandwich waffle irons that came bundled with I&#39;m so full of crap.</p>
<p>I&#39;m stretched for time as is and probably won&#39;t be able to test any of this out for a while, but I do have a licenced copy of IBM PC DOS 7 and a ThinkPad with drivers… it might be time to get my nostalgia freak on :).</p>
 
