---
title: 'DOS nostaligia post with links and no point' 
date: "2009-10-20T08:28:27+10:00"
year: "2009"
category: Software
tag:
- commander-keen
- dos
- dosbox
- gaming
- infocomm
- lemmings
- nostalgia
- pointless
- powermenu
- retrocomputing
- windows-3-0
- windows-3-1 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.lemmings.tree.png" alt="" style="height:270px; width:500px; display:inline;" /></p>
<p>I wasn&#39;t born when the <a href="http://www.aracnet.com/~healyzh/pdp8emu.html">DEC PDP-8</a> computer came out and was only a few months old when the <a href="http://www.commodore.ca/products/128/Commodore_128.htm#The%20Commodore%20128D:">Commodore 128D</a> did with it&#39;s <a href="http://www.zilog.com/">Zilog Z80</a> awesomeness, so the earliest nostalgic computer memories I have are of our old DOS machine from the early 90s. As I&#39;ve said here many times before we ran DOS with PowerMenu and originally <a href="http://www.microsoft.com/windows/winhistorydesktop.mspx#EKB">Windows 3.0</a> with Multimedia Extensions, then <a href="http://www.microsoft.com/windows/winhistorydesktop.mspx#EFC">Windows 3.1</a>.</p>
<p><!--oldmore--></p>
<p>In my spare time for the last couple of years I&#39;ve been collecting legitimate copies of some of the software we used to have on that <a href="http://www.cpu-collection.de/?l0=co&#038;l1=Intel&#038;l2=i486%20SX">486SX</a> tower so I could recreate it in some form of virtual machine on my <a href="http://apple.com/macbookpro/">MacBook Pro</a> or <a href="http://freebsd.org/">FreeBSD</a> machines for silly, irrelevant, nostalgic purposes. So far I&#39;ve found <a href="http://dosbox.org/">DOSBox</a> has been the easiest, lightest and most portable solution to use, even if it is a little slower. I consider slower a feature though, makes it feel more authentic :).</p>
<p>In the same manner as our original DOS machine we dubbed the &quot;Melbourne Computer&quot; because my dad&#39;s job had us living there at the time we bought it, I have DOSBox set up to load <a href="//rubenerd.com/tag/powermenu/">PowerMenu</a> upon booting, with our DOS apps available from the menus and Windows configured to launch if we want it. At the time this meant we didn&#39;t have too much of our precious 4.0MiB of RAM being used by Windows when we only wanted to run DOS apps like <a href="//rubenerd.com/xtreegold-dosbox/">XTreeGold</a> or <a href="http://www.columbia.edu/~em36/wpdos/">WordPerfect</a>, and games like <a href="//rubenerd.com/tag/commander-keen/">Commander Keen</a>, <a href="http://www.lemmingsuniverse.net/index.html">Lemmings</a> and <a href="http://simcity.ea.com/play/simcity_classic.php">SimCity Classic</a>! I was born in the 1980s, but I grew up in the 90s :).</p>
<p>Anyway I had a point for this post, but I long since lost sight of it and rambled on for a few paragraphs about silly nostalgia. Perhaps I&#39;ll get back to what I was supposed to be posting about some other time.</p>
 
