---
title: 'Quicken and Agenda: DOSBox to the rescue!' 
date: "2009-10-06T01:25:17+10:00"
year: "2009"
category: Software
tag:
- dos
- dosbox
- infocomm
- lotus-agenda
- quicken
- retrocomputing
- virtualisation
- windows-3-1 
---
<p><a href="https://www.flickr.com/photos/rubenerd/3985247877/"><img src="https://rubenerd.com/files/uploads/screenie.dosbox.quicken.png" alt="Running Quicken 2.0 and Lotus Agenda in DOSBox" style="height:280px; width:500px; display:inline;" /></a></p>
<p>This weekend I was helping a guy in Singapore who needed to use some an ancient version of Quicken for Windows and Lotus Agenda on his shiny new Mac. I instinctively reached for <a href="http://vmware.com/mac/">VMware Fusion</a> to create a virtual machine, but it dawned on me there might be an easier way. A few hours later I had him using his software with only a tiny amount of overhead thanks to <a href="http://www.dosbox.com/">DOSBox</a>!</p>
<p>If you haven&#39;t read my raving about DOSBox by now, its a beautiful little cross-platform application that emulates a 486 class DOS computer complete with a fully usable command line, sound, input devices and graphics. Unlike other VM software you don&#39;t need to install a guest OS, and instead of using disk images you merely mount a directory from your existing hard drive. Too easy.</p>
<p>Because it emulates DOS its capable of running most DOS software, including graphical environments such as Gem and early versions of Windows! In this case all I had to do was copy the setup files for Windows 3.11 into a directory on my hard drive, mount the directory in DOSBox and install it. From there I had a fully working Windows 3.11 install which I was able to install and run his old software in, and more importantly export his old data from.</p>
<p>I think it&#39;s funny that what started as a hobby to recreate our old home computer from the early 1990s here has ended up getting me work on a few dozen occasions! <strong>Ruben Schade: Retro Software Consultant</strong>. I like the sound of that ^_^.</p>
 
