---
title: 'Eerie afternoon in Mawson Lakes photos' 
date: "2009-08-16T02:56:24+10:00"
year: "2009"
category: Media
tag:
- adelaide
- australia
- mawson-lakes
- photos
- south-australia 
---
<p><img src="https://rubenerd.com/files/2009/spooky-afternoon-in-mawson-lakes_3825418002_o@1x.jpg" alt="Spooky afternoon in Mawson Lakes" srcset="https://rubenerd.com/files/2009/spooky-afternoon-in-mawson-lakes_3825418002_o@1x.jpg 1x, https://rubenerd.com/files/2009/spooky-afternoon-in-mawson-lakes_3825418002_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>I finally got around to uploading some photos I took in late July and adding them to the surprisingly titled <a href="https://www.flickr.com/photos/rubenerd/sets/72157622050565804/">Mawson Lakes 2009</a> set on The Flickrs. These were taken one afternoon in Mawson Lakes, the suburb in Adelaide where I&#39;m studying. Even though it had finished raining by late morning, by the afternoon the sky was still dark, the air was eerily still and presumably because people were afraid of venturing outside for fear of being soaked the entire neighbourhood felt deserted. No people, no moving cars, nobody! Not only that but one small gap in the clouds was casting some pretty crazy long shadows everywhere to add to said eeriness.</p>
<p>It was surreal, like I was walking on the set for a movie or something. It was as if I was Will Smith in I Am Legend. It was as if everybody had been beamed aboard a space ship and I had somehow been spared. These analogies doing anything for you?</p>
<p><img src="https://rubenerd.com/files/2009/spooky-afternoon-in-mawson-lakes_3825418798_o@1x.jpg" alt="Spooky afternoon in Mawson Lakes" srcset="https://rubenerd.com/files/2009/spooky-afternoon-in-mawson-lakes_3825418798_o@1x.jpg 1x, https://rubenerd.com/files/2009/spooky-afternoon-in-mawson-lakes_3825418798_o@2x.jpg 2x" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2009/spooky-afternoon-3824615595_o@1x.jpg" srcset="https://rubenerd.com/files/2009/spooky-afternoon-3824615595_o@1x.jpg 1x, https://rubenerd.com/files/2009/spooky-afternoon-3824615595_o@2x.jpg 2x" alt="" style="width:250px; height:167px;" /></p>
 
