---
title: 'Eurotrip Post the First!' 
date: "2009-12-26T12:27:35+10:00"
year: "2009"
category: Travel
tag: 
- eurotrip
- family
location: Singapore
---
<p><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Europe_%28orthographic_projection%29.svg/200px-Europe_%28orthographic_projection%29.svg.png" alt="Europe" style="background:transparent" /></p>
<p>My dad, sis and I are just about to leave the door to start our Europe trip. We&#39;ll be heading to Germany via Dubai to catch up with relatives in Frankfurt am Main and friends in Munich, then to Plzeň in the Czech Republic, then driving back through Germany to Paris, then a flight to Cork and a tour of Ireland.</p>
<p>I&#39;m going to take a ton of photos and will be blogging as much about it as I can! In the meantime you can follow our adventures <a href="http://twitter.com/Rubenerd/">on Twitter</a> and <a href="http://gowalla.com/users/Rubenerd">Gowalla</a> too.</p>
<p>Selamat tinggal! Wait, wrong language :D</p>
 
