---
title: 'Firefox 3.6 makes tabs slighty more useful' 
date: "2009-11-26T05:38:52+10:00"
year: "2009"
category: Software
tag:
- browsers
- firefox
- infocomm
- mozilla
- opera
- tabbed-browsing 
---
<p><img src="https://rubenerd.com/files/2009/3930687778_568acd6be2_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3930687778_568acd6be2_o@1x.jpg 1x, https://rubenerd.com/files/2009/3930687778_568acd6be2_o@2x.jpg 2x" alt="I'm hungry :)" style="width:500px; height:312px;" /></p>

<p>This picture was originally from <a href="//rubenerd.com/monniecakes-launch/">my blog post</a> about <a href="http://vanillasilence.com/">Monnie&#39;s</a> <a href="http://www.monniecakes.com/2009/welcome/">MonnieCakes.com</a> (which I couldn&#39;t go to because I had an exam the next day and had to study, ugh!), but it demonstrates how I use tab thingys. It&#39;ll make sense after you read this post, trust me. I hope :).</p>
<p>Unlike a few months ago when I was eagerly using the latest <a href="//rubenerd.com/mozilla-firefox-35b4/">beta versions</a> of Firefox 3.5, I&#39;ve especially needed my machine for studying over the last few weeks so I haven&#39;t had the chance to check out the <a href="http://developer.mozilla.org/devnews/index.php/2009/11/18/firefox-beta-3-6-revision-3-now-available-for-download/">latest beta of Firefox 3.6</a>.</p>
<p>I&#39;m really not fussed about the ugly <a href="http://www.getpersonas.com/">Personas</a> feature that&#39;ll make your browser look like a throwaway from the 1990s, but <a href="http://news.cnet.com/8301-30685_3-10404666-264.html">according to Stephen Shankland</a> Firefox 3.6 also handles tabs differently.</p>
<blockquote><p>Specifically, when you open a link in a new tab, it appears immediately to the right of the active tab. Before, the new tabs would appear to the far right of the strip of tabs. </p></blockquote>
<p>I&#39;ve read a few people on The Twitters who abhor the feature, but as someone who&#39;s already used to it because <a href="https://addons.mozilla.org/en-US/firefox/addon/5890">Tree Style Tabs</a> implemented it, I have to say that after the initial disorienting confusion subsides (a few minutes tops) you quickly become far more productive. By keeping them organised in this fashion It&#39;s easier to keep track of which tabs were opened from where which is especially useful when you start opening hundreds of them!</p>
<p>While we&#39;re making tabs more useful, the next step is for Firefox to have true side tab support. As far as I know <a href="http://opera.com/">Opera</a> is the only browser that supports them natively, and while Tree Style Tabs does a fantastic job stacking tabs along the side of my browser windows which allows me to have more of them open and know where they came from, it&#39;d be nice to have the option whenever I do a clean install.</p>
<p>I suppose at that point we start getting into the debate over what constitutes a feature, and what&#39;s more useful and practical having as an extension to keep the base software small. Though with the increasing bloat and sluggishness of Firefox in general that seems to be a moot point :P.</p>
 
