---
title: 'Saturday night foodstuff philosophy' 
date: "2009-06-27T11:10:21+10:00"
year: "2009"
category: Thoughts 
tag: 
- food
- grilled-cheese-sandwiches
- philosophy
- pointless
- singapore 
---
<p><img src="https://rubenerd.com/files/2009/2329348154_84e44147ab_c.jpg" alt="Photo of Singapore at night by Yohanes Budiyanto" style="width:400px" /></p>

<p>Thanks to <a href="https://www.flickr.com/photos/joe-joe/2329348154/sizes/c/">Yohanes Budiyanto</a> for the Singapore night photo. I&#39;ll have to take my 35mm lens out tomorrow night to try and top it!</p>
<p>This philosophy post is so philosophical, you may very well go insane thinking about it. You&#39;ve been warned.</p>
<blockquote><p>How many grilled cheese sandwiches could a grilled cheese sandwich grill if a grilled cheese sandwich could grill grilled cheese sandwiches?</p></blockquote>
<p>Or the uniquely Australian version:</p>
<blockquote><p>How many toasted jaffles could a toasted jaffle toast if toasted jaffles could toast toasted jaffles?</p></blockquote>
<p>Or the uniquely Singaporean/Malaysian version, which doesn&#39;t work quite as well:</p>
<blockquote><p>How many teh tariks could a teh tarik tarik if a teh tarik could tarik teh tariks?</p></blockquote>
<p>I spend my Saturday evenings blogging in <a href="http://www.starbucks.com.sg/">Starbucks</a> coffee shops in Singapore, and at the <a href="http://www.theboatdeck.com.au/">Boatdeck Cafe</a> when I&#39;m in Adelaide. This makes me hard core, in case you didn&#39;t know.</p>
 
