---
title: 'I don’t need no stinkin FormSpring' 
date: "2009-09-27T10:45:36+10:00"
year: "2009"
category: Internet
tag:
- boatdeck-cafe
- formspring
- infocomm
- pointless
- questions
- too-many-tags
- vanilla-silence
- zombieplan 
---
<p><img src="https://rubenerd.com/files/2009/broken-footpath_3829731456_o@1x.jpg" alt="Broken footpath" srcset="https://rubenerd.com/files/2009/broken-footpath_3829731456_o@1x.jpg 1x, https://rubenerd.com/files/2009/broken-footpath_3829731456_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>It seems both the Adelaide proprietors of <a href="http://zombieskittles.com/question-2">The ZombieSkittleness</a> and <a href="http://vanillasilence.com/?p=88">The Vanilla Silenceness</a> have been drawn to this newfangled <a href="http://formspring.com/">FormSpring</a> site which allows people to ask questions anonymously and get replies, and to presumably populate their forms with springs. Why you would want to do that is beyond the scope of this post, and beyond me entirely.</p>
<p><!--oldmore--></p>
<p>I for one don&#39;t need a site like that to get people to ask me random questions, for some reason I get asked questions by complete strangers often enough as it is. I was asked this by a very overweight man while waiting for the traffic lights to change this morning:</p>
<blockquote><p>I suppose you think you look good in that stupid jumper, am I right?</p></blockquote>
<p>To which I replied with <em>&quot;Purple monkey dishwasher&quot;</em> and a string of Singapore Hokkien swear words, by which time the lights had changed! He had no idea what I was saying, but then again I&#39;m used to that even when I&#39;m talking normally. I talk normally?</p>
<p>Another question I was posed a few weeks ago while standing in line at the <a href="http://www.theboatdeck.com.au/">Boatdeck Cafe</a> for my morning coffee:</p>
<blockquote><p>Could you hold my position for a sec?</p></blockquote>
<p>Why, is it in pain?</p>
<p>And finally this gem:</p>
<blockquote><p>Daijoubu?</p></blockquote>
<p>Ugh, not so good. For what it&#39;s worth though I did end up having a great cup of coffee at the Boatdeck Cafe and I crossed the street safely ^_^.</p>
 
