---
title: 'FreeBSD in VMware Fusion 3.0 is amazing!' 
date: "2009-10-29T06:23:51+10:00"
year: "2009"
category: Software
tag:
- apple
- bsd
- k-on
- keion
- pointless-anime-reference
- freebsd
- infocomm
- mac-os-x
- macbook-pro
- reviews
- virtualisation
- vmware
- vmware-fusion 
---
<p><img src="https://rubenerd.com/files/2009/4055237116_dc5603745e_o@1x.jpg" srcset="https://rubenerd.com/files/2009/4055237116_dc5603745e_o@1x.jpg 1x, https://rubenerd.com/files/2009/4055237116_dc5603745e_o@2x.jpg 2x" alt="FreeBSD in new VMware Fusion 3" style="width:500px; height:328px;" /></p>

<p>When I finally got around to installing the new <a href="https://www.vmware.com/products/fusion/">VMware Fusion 3.0</a> update I <a href="//rubenerd.com/vmware-fusion-3-released/">downloaded yesterday</a> I expected to get a slight performance improvement for my <a href="http://www.freebsd.org/">FreeBSD</a> guests, but not as much as I would have got had I been running a Windows guest. The VMware Mac team have made it clear <a href="//rubenerd.com/files/uploads/logo.fusion3.jpg">in their advertising</a> they consider Fusion to be a product to run Windows on your Mac, and while other operating systems such as FreeBSD and Linux are supported, they&#39;re not a priority. I&#39;m really pleased and relieved to say I was wrong!</p>
<p>Aside from one minor glitch which I&#39;ll describe below, the improvements for FreeBSD guests under VMware Fusion 3.0 have been <strong>huge</strong>. Given I imagine the market for people running this OS in their product must be tiny I really appreciate them putting in this effort.</p>
<p>First of all, its faster. Not <em>&quot;OMG I Just Got A New Computer!&quot;</em> faster, but extracting archives such as a portsnap image and booting the machine in the first place takes less time.</p>
<p>The biggest usability change though is more seamless X11 integration. As you could with Windows guests (and perhaps Linux ones, not sure) before, you can capture and release control of your mouse pointer between the FreeBSD guest and Mac host as if the VM was just a regular Mac window. This means you don&#39;t need to enter a key combination to &quot;break out&quot; which makes it infinitely more usable.</p>
<p>The only one downside that still lingers from VMWare Fusion 2.x is the software&#39;s continued reliance on the <a href="http://www.freshports.org/misc/compat6x/">compat6x port</a> if you want to run the latest stable version of FreeBSD which is currently 7.2. There&#39;s probably an architectural reason why this is, but it&#39;d be nice if I didn&#39;t need to install a compatibility layer and set of libraries for a legacy earlier version of my OS to get the Fusion Additions. That said, once this is installed the Additions perform flawlessly.</p>
<p>To sum up, the performance difference combined with the vastly improved and seamless experience with X11 means I can run FreeBSD in full screen on my MacBook Pro for my studies and general messing around <strong>without</strong> having to reboot my machine and use Boot Camp. I believe the term I&#39;m looking for is: <strong>awesome!</strong></p>
<p>Thank you VMware guys, you&#39;ve made me a really happy camper :).</p>
 
