---
title: 'FreeBSD 7.2 has been released' 
date: "2009-05-10T12:44:52+10:00"
year: "2009"
category: Software
tag:
- bsd
- freebsd
- infocomm
- screenshots 
---
<p><img src="https://rubenerd.com/files/2009/3515866590_3302511241_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3515866590_3302511241_o@1x.jpg 1x, https://rubenerd.com/files/2009/3515866590_3302511241_o@2x.jpg 2x" alt="FreeBSD 7.2 in VMware Fusion" style="width:500px; height:312px;" /><br /><cite>The all new FreeBSD 7.2 with the all new svelte Xfce 4.6.0 desktop running in VMware Fusion on my MacBook Pro.</cite></p>
<p>If you love <a href="http://freebsd.org/">FreeBSD</a> as much as me you probably already know about this, but FreeBSD 7.2 has officially been released. I&#39;m really excited about all this good stuff, particularly point 2 shown below in the annoucement. <a href="http://www.freebsd.org/doc/en_US.ISO8859-1/books/handbook/jails.html">Jails</a> are another reason why I&#39;ve stuck to FreeBSD instead of GNU/Linux, and now being able to assign mutiple addresses means they&#39;re even closer to a virtual machine alternative. Thinking about the possibilities is making my head spin! I&#39;ll be looking into it further and posting more about Jails sometime soon.</p>
<blockquote><p>
The FreeBSD Release Engineering Team is pleased to announce the availability of <a href="http://www.freebsd.org/releases/7.2R/announce.html">FreeBSD 7.2-RELEASE</a>. This is the third release from the 7-STABLE branch which improves on the functionality of FreeBSD 7.1 and introduces some new features. Some of the highlights:</p>
<ul>
<li style="list-style-type:square;">support for fully transparent use of superpages for application memory</li>
<li style="list-style-type:square;">support for multiple IPv4 and IPv6 addresses for jails</li>
<li style="list-style-type:square;">csup(1) now supports CVSMode to fetch a complete CVS repository</li>
<li style="list-style-type:square;"><a href="http://www.gnome.org/">Gnome</a> updated to 2.26, <a href="http://www.kde.org/">KDE</a> updated to 4.2.2</li>
<li style="list-style-type:square;"><a href="http://www.freebsd.org/platforms/sparc.html">sparc64</a> now supports <a href="http://www.sun.com/processors/UltraSPARC-III/">UltraSparc-III processors</a></li>
</ul>
<p>For a complete list of new features and known problems, please see the online release notes and errata list, available at:</p>
<ul>
<li style="list-style-type:square;"><a href="http://www.FreeBSD.org/releases/7.2R/relnotes.html">http://www.FreeBSD.org/releases/7.2R/relnotes.html</a></li>
<li style="list-style-type:square;"><a href="http://www.FreeBSD.org/releases/7.2R/errata.html">http://www.FreeBSD.org/releases/7.2R/errata.html</a></li>
</ul>
<p>For more information about FreeBSD release engineering activities, please see <a href="http://www.FreeBSD.org/releng/">http://www.FreeBSD.org/releng/</a>.
</p></blockquote>
<p><img src="https://rubenerd.com/files/uploads/bsd.daemon.png" alt="The BSD Daemon" style="height:182px; padding:5px 0px; width:168px; display:inline; margin:0 0 10px 20px; float:right" />I downloaded the FreeBSD 7.2 DVD image <a href="http://mirror.internode.on.net/pub/FreeBSD/">from Internode&#39;s mirror</a> because our internet connection here is capped (yuck), but uploads aren&#39;t capped so I&#39;ll be setting up the torrent from the <a href="http://torrents.freebsd.org:8080/">FreeBSD Bittorrent tracker</a> so I can seed the heck out of it!</p>
<p>As I&#39;ve said every time, I wish to thank all the people at the FreeBSD project for their tireless efforts. Combined, they continue to create and develop some of the most beautiful software in the world, and I consider it a honour that I&#39;m allowed to use it. Congratulations everyone.</p>
 
