---
title: 'Friendly Mawson Lakes ducks' 
date: "2009-09-05T01:40:39+10:00"
year: "2009"
category: Media
tag:
- ducks
- fun
- mawson-lakes
- photos 
---
<p><img src="https://rubenerd.com/files/2009/friendly-ducks_3887467236_o@1x.jpg" alt="Friendly ducks" srcset="https://rubenerd.com/files/2009/friendly-ducks_3887467236_o@1x.jpg 1x, https://rubenerd.com/files/2009/friendly-ducks_3887467236_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>Time to quickly share some more photos I remember I took earlier today with my iTelephone before I head off to bed.</p>
<p>With all the recent rain Mawson Lakes has been getting a lot more ducks quietly waddling along and quacking. Perhaps these ducks grew up around the sounds of people and are used to us, because unlike the other birds that fly away as soon as you approach them, these are more than happy to walk over and say hello.</p>
<p><img src="https://rubenerd.com/files/2009/friendly-ducks_3886668069_o@1x.jpg" alt="Friendly ducks" srcset="https://rubenerd.com/files/2009/friendly-ducks_3886668069_o@1x.jpg 1x, https://rubenerd.com/files/2009/friendly-ducks_3886668069_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>I was walking back from the post office this afternoon and saw these two rather well fed little ducks walking alongside me. I sat down on the footpath cross-legged and reached out with my hand and they came over and started tapping on my fingers :). I was even able to pat them lightly on their heads before I stood up and kept walking.</p>
<p>As with watching a silly series like <a href="//rubenerd.com/tag/k-on/">K-On</a>, when you&#39;re dealing with a lot of stress sometimes it&#39;s worth taking time out and doing something like this to make you feel happy again, even if only for a short while.</p>
<p>Quack quack :)</p>
 
