---
title: 'Ten more Rubenerd Fun Facts!' 
date: "2009-05-15T09:22:21+10:00"
year: "2009"
category: Thoughts 
tag: 
- fun-facts
- funny
- mikuruism
- nonsense
- pointless 
---
<p><img src="https://rubenerd.com/files/uploads/title.funfacts.covers.jpg" alt="Fun Facts!" style="height:191px; width:500px; display:inline; border:0px; margin-right:1em;" /></p>
<p>If you missed them, feel free to refer to the previous Rubenerd Fun Facts posts (<a href="//rubenerd.com/p2978/">part one</a>, <a href="//rubenerd.com/p3082/">part two</a>, <a href="//rubenerd.com/p3557/">part three</a>, <a href="//rubenerd.com/p3593/">part four</a>, <a href="//rubenerd.com/p3636/">part five</a>). And as usual, feel free to take notes. Danke.</p>
<table style="border:0px; border-collapse:collapse">
<tr>
<td><a href="http://en.wikipedia.org/wiki/File:Wild_Pig_KSC02pd0873.jpg"><img src="https://rubenerd.com/files/uploads/graphic.funfacts.pig.64px.png" alt="Wild Pig image by NASA. Yes!" style="height:64px; width:64px; display:inline; border:0px; margin-right:1em;" /></a></td>
<td>Despite the name Swine Flu, most pigs still can’t fly.</td>
</tr>
<tr>
<td><a href="http://twitter.com/nn7"><img src="https://rubenerd.com/files/uploads/graphic.funfacts.ocarroll.64px.png" alt="" style="height:64px; width:64px; display:inline; border:0px; margin-right:1em;" /></a></td>
<td>Due to a clerical typographic error in 2003, Neal O’Caroll was briefly mistaken for a cut of young beef.</td>
</tr>
<tr>
<td><a href="http://en.wikipedia.org/wiki/File:Trans-Alaska_Pipeline_System_Luca_Galuzzi_2005.jpg"><img src="https://rubenerd.com/files/uploads/graphic.funfacts.heatexchangers.64px.png" alt="Trans-Alaska Pipeline System by Luca Galuzzi" style="height:64px; width:64px; display:inline; border:0px; margin-right:1em;" /></a></td>
<td>Industrial heat exchangers often can’t be returned for refunds.</td>
</tr>
<tr>
<td><img src="https://rubenerd.com/files/uploads/graphic.funfacts.marker.64px.png" alt="Permanent markers" style="height:64px; width:64px; display:inline; border:0px; margin-right:1em;" /></td>
<td>Permanent makers are made out of plastic so they are.</td>
</tr>
<tr>
<td><a href="http://www.netbsd.org/"><img src="https://rubenerd.com/files/uploads/graphic.funfacts.netbsd.64px.png" alt="" style="height:64px; width:64px; display:inline; border:0px; margin-right:1em;" /></a></td>
<td>NetBSD is the most commonly used operating system on fishing trawlers.</td>
</tr>
<tr>
<td><a href="https://www.flickr.com/photos/rubenerd/3516964459/"><img src="https://rubenerd.com/files/uploads/graphic.funfacts.dos.64px.png" alt="PC DOS Mem screen" style="height:64px; width:64px; display:inline; border:0px; margin-right:1em;" /></a></td>
<td>Fun fact blog posts are up to 12x more useless even than blog posts talking about maximising conventional memory in DOS. Speaking of which…</td>
</tr>
<tr>
<td><a href="http://www.startrekmovie.com/"><img src="https://rubenerd.com/files/uploads/graphic.funfacts.startrek.64px.png" alt="" style="height:64px; width:64px; display:inline; border:0px; margin-right:1em;" /></a></td>
<td>Acceptance by the general public is the Final Frontier.</td>
</tr>
<tr>
<td><img src="https://rubenerd.com/files/uploads/graphic.funfacts.mikuru.64px.png" alt="Asahina Mikuru" style="height:64px; width:64px; display:inline; border:0px; margin-right:1em;" /></td>
<td>If moe-ness were a currency, Mikuru could buy her own reality given she can’t just dream it up like Haruhi.</td>
</tr>
<tr>
<td><a href="http://en.wikipedia.org/wiki/File:Apertura_hard_disk_05.jpg"><img src="https://rubenerd.com/files/uploads/graphic.funfacts.hdd.64px.png" alt="Hard drive photo by Alessio Sbarbaro" style="height:64px; width:64px; display:inline; border:0px; margin-right:1em;" /></a></td>
<td>Western Digital hard drives are manufactured in the East.</td>
</tr>
<tr>
<td><a href="https://www.flickr.com/photos/rubenerd/3524120629/"><img src="https://rubenerd.com/files/uploads/graphic.funfacts.paper.64px.png" alt="Kallen holding a letter" style="height:64px; width:64px; display:inline; border:0px; margin-right:1em;" /></a></td>
<td>Anime figures make for expensive but cute paper holders.</td>
</tr>
<tr>
<td><a href="http://truecrypt.org/"><img src="https://rubenerd.com/files/uploads/graphic.funfacts.tc.64px.png" alt="TrueCrypt" style="height:64px; width:64px; display:inline; border:0px; margin-right:1em;" /></a></td>
<td>Despite the name, most vampires find it difficult to use TrueCrypt.</td>
</tr>
<tr>
<td><a href="https://www.flickr.com/photos/rubenerd/3529432775/"><img src="https://rubenerd.com/files/uploads/graphic.funfacts.xeon.64px.png" alt="Xeon stickers" style="height:64px; width:64px; display:inline; border:0px; margin-right:1em;" /></a></td>
<td>Computers have to have their &#8220;Xeon&#8221; stickers removed in Scientology strongholds to avert fears of demonic possession.</td>
</tr>
</table>
 
