---
title: 'Rubenerd Fun Fact #77: Shane Rogers' 
date: "2009-08-12T10:36:05+10:00"
year: "2009"
category: Thoughts 
tag: 
- australia
- eyetv
- fun-facts
- nonsense
- pointless
- television 
---
<p><img src="https://rubenerd.com/files/2009/3754391231_1866211f52_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3754391231_1866211f52_o@1x.jpg 1x, https://rubenerd.com/files/2009/3754391231_1866211f52_o@2x.jpg 2x" alt="Kenny Rogers over Shane Warne" style="width:500px; height:289px;" /></p>

<p>Here&#39;s another <a href="//rubenerd.com/tag/fun-facts/">Rubenerd Fun Fact</a> for all you rabid Official Rubenerd Fun Fact fans. I know you&#39;re out there, I can hear you breathing. Oh wait, that&#39;s me.</p>

<blockquote><p>Placing a photo of Kenny Rogers over Shane Warne’s head on a live TV stream does not make Shane Warne Kenny Rogers.</p></blockquote>
<p>Thank you.</p>
 
