---
title: 'Getting ready for Snow Leopard' 
date: "2009-08-29T12:07:03+10:00"
year: "2009"
category: Software
tag:
- apple
- infocomm
- mac-os-x
- murpheys-law
- screenshots
- senjougahara-hitagi
- snow-leopard 
---
<p><img src="https://rubenerd.com/files/2009/3865045298_959f0b7f65_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3865045298_959f0b7f65_o@1x.jpg 1x, https://rubenerd.com/files/2009/3865045298_959f0b7f65_o@2x.jpg 2x" alt="My MacBook Pro's last Leopard desktop" style="width:500px; height:312px;" /></p>

<p>After much anticipation my copy of Snow Leopard <a href="//rubenerd.com/ordered-snow-leopard/">I pre-ordered back on Monday</a> arrived in our mailbox early this morning. Of course Murphy&#39;s Law was in full force: I had classes, a ton of assignments and work, I tagged along with <a href="http://twitter.com/Rubenerd/status/3591420749">my sister to the airport</a> for her flight to Canberra and I set our toaster oven on fire when I tried to make a slice of toast and forgot about it. Imagine the damage if it had been a <a href="//rubenerd.com/tag/grilled-cheese-sandwich/">grilled cheese sandwich</a>.</p>
<p>Well here we are at 23:30 and I finally have some time to install this here Snow Leopard. Problem is I absolutely loathe upgrades, I much prefer starting a new install of an operating system from scratch so there&#39;s the lowest chance of something going wrong and it also forces me to do a thorough system clean out and to check the few files I don&#39;t have backed up daily.</p>
<p>There probably won&#39;t be many blog posts today while I frantically work on this here Snow Leopard install preparation, so you can take five. Speak of the devil, I&#39;m listening to that now. Genius.</p>
<p>Oh bummer, one of my external hard drives is almost full already. This is going to be a long evening!</p>
 
