---
title: 'Using Gnome icons in the Xfce desktop' 
date: "2009-06-11T11:03:55+10:00"
year: "2009"
category: Software
tag:
- bsd
- freebsd
- gnome
- guide
- howto
- icons
- infocomm
- linux
- x11
- xfce 
---
<p><img src="https://rubenerd.com/files/2009/3616007325_52f7b4bf13_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3616007325_52f7b4bf13_o@1x.jpg 1x, https://rubenerd.com/files/2009/3616007325_52f7b4bf13_o@2x.jpg 2x" alt="Xfce wtih Gnome icons" style="width:500px; height:375px;" /></p>

<p>For a bit of a change in <a href="http://xfce.org/">Xfce</a> on my <a href="http://freebsd.org/">FreeBSD</a> machines I&#39;ve decided to eschew the <a href="http://tango.freedesktop.org/">Tango Project</a> iconset and use the <a href="http://gnome.org/">Gnome Desktop</a> icons available from the <a href="http://www.freshports.org/x11-themes/gnome-icons/">ports collection</a>:</p>
<pre>
# cd /usr/ports/x11-themes/gnome-icons
# make install clean
# echo &quot;Grilled Cheese Sandwiches&quot;
</pre>
<p>They&#39;re very classy and quite minimalistic which really appeals to me, and even though I use Xfce instead of Gnome which the icons were originally designed for, they work smashingly. Did I just say &quot;smashingly?&quot;</p>
<p>Now if only the folder icons weren&#39;t that dull sand colour we&#39;d be in business!</p>
 
