---
title: 'Reader comment: Google Chrome TV Ads' 
date: "2009-05-10T06:46:58+10:00"
year: "2009"
category: Software
tag:
- browsers
- clipmark
- google
- google-chrome
- google-reader-down
- infocomm
- news 
---
<p><img src="https://rubenerd.com/files/uploads/google-chrome-201561.png" alt="Google Chrome" style="height:171px; width:498px; display:inline; border:0px" /></p>
<p>I seem to be having trouble with <a href="http://www.google.com/reader/shared/09454950261221562208">Google Reader</a> this afternoon, it won&#39;t let me comment on stories (perhaps it&#39;s frustrated I haven&#39;t cooked a grilled cheese sandwich in a few days). So instead I&#39;m posting the story summaries here and commenting on them with <a href="http://clipmarks.com/clipper/rubenerd/">Clipmarky goodness</a>!</p>

<blockquote><p><a style="font-weight:bold" href="http://tech.slashdot.org/article.pl?sid=09/05/09/1320209">Slashdot: Google To Air Chrome Ads On TV </a></p>
<p>Google plans on <a href="http://googleblog.blogspot.com/2009/05/google-chrome-ads-on-tv.html">advertising with spots promoting its Chrome browser this weekend</a>. Google Japan had already released a <a href="http://chrome.blogspot.com/2009/04/11-short-films-about-browser.html">30-second video</a> promoting Chrome on YouTube, but the company will distribute that video through the Google TV Ads network this weekend as an experiment to see if it can drum up interest in Chrome. Google advertised their browser <a href="http://stuff.techwhack.com/6565-google-chrome-new-york-times">on the New York Times’ website</a> on Wednesday.</p></blockquote>

<p>I get the feeling the kind of people who would be technologically literate enough now to install software after watching a TV advertisement are the kind of people who are mostly watching shows online anyway not on TV.</p>
<p>Aside from the evening news on the ABC or SBS here in Australia or BBC World and CNN International in Singapore, I can&#39;t remember the last time I watched television. Or TV. TV or Television, both.</p>
 
