---
title: 'Grilled cheese object reference diagrams'
date: "2009-07-27T09:27:26+10:00"
year: "2009"
category: Software
tag:
- diagrams
- documentation
- infocomm
- java
- object-reference-diagrams
- pointless
- programming
- ruby 
---
<p><img src="https://rubenerd.com/files/uploads/diagram.ord.grilledcheese.java.png" style="height:150px; width:500px;" alt="A grilled cheese sandwich object reference diagram." /></p>
<p>Here&#39;s an interesting thought for those of you interested in interesting thoughts. Well okay it would only be interesting for those doing object oriented programming if you want to be pedantic. Pedantic sounds like a cheap brand of paracetamol.</p>
<p>We&#39;re often told the advantage of using pseudocode and diagrams like ORDs is beneficial because they&#39;re programming language agnostic, but that&#39;s not entirely true. Take the above example of a grilled cheese sandwich class; it&#39;s all fair and good if we were using Java because only the String here is an object not a primitive data type. But what about something like Ruby in which <strong>everything</strong> is an object? Huh? Would it be something like this?</p>
<p><img src="https://rubenerd.com/files/uploads/diagram.ord.grilledcheese.ruby.png" style="height:150px; width:500px;" alt="Another equally pointless diagram, this time with Ruby and grilled cheese sandwiches" /></p>
<p>That&#39;s a lot of duplicated boxes. Clearly the ORD was envisioned when what I call &quot;hyper dynamic&quot; programming/scripting languages didn&#39;t exist! I can&#39;t think they&#39;d be terribly practical to draw all the time as a Ruby developer unless you wanted to bend the rules a bit for it.</p>
<p>The diagram looks like my bedroom in Singapore, if my bedroom in Singapore contained boxes with attributes regarding instances of grilled cheese sandwich objects. I&#39;d go for a nice Colby or Extra Tasty Cheddar. Makes sense to me.</p>
<p>I need a stiff cup of coffee.</p>
 
