---
title: 'Happy birthday wishes for Tetris!' 
date: "2009-06-06T05:43:19+10:00"
year: "2009"
category: Software
tag:
- commander-keen
- dos
- games
- infocomm
- nostalgia
- retrocomputing
- tetris 
---
<p><img src="https://rubenerd.com/files/uploads/tetris09.gif" alt="Google's Tetris logo" style="background:#ffffff; padding:10px; height:144px; width:300px; display:inline; border:0px;" /></p>
<p>Sending birthday wishes to Tetris which turns 25 today. It&#39;s two years older than I am!</p>
<p>I was born slightly too late to have been a part of this amazing early computer game revolution, but that&#39;s not to say I didn&#39;t partake of many early DOS games on our IBM machines, then our 486SX clone. While I always have a special place in my heart for Commander Keen as the greatest game of all time I used to rush home from school excited to play, we did have a DOS clone of Tetris too.</p>
<p>What strikes me about Tetris (and to a certain extend Commander Keen) was the design and premise were so beautifully elegant they didn&#39;t need flashy 3D graphics to become immersive, addictive and a real pleasure to play. The people who developed games like this were geniuses, plain and simple.</p>
<p>Aside from the Sim City and The Sims franchises, I don&#39;t really play many games any more. In fact my current obsession is still Bejeweled on my iTelephone because it&#39;s simple, addictive and fun. More games need to be made like Tetris!</p>
 
