---
title: 'Horizontal remote controls anyone?' 
date: "2009-11-24T05:19:03+10:00"
year: "2009"
category: Hardware 
tag:
- cc
- code-geass
- infocomm
- pointless
- remote-controls
- zombieplan 
---
<p><img src="https://rubenerd.com/files/uploads/anime.cc.remote.png" alt="C.C. wanting a horizontal remote control!" style="height:390px; width:300px; display:inline; border:0em; padding:0em; background:transparent;" /></p>
<p>A few days ago <a href="http://twitter.com/zombie_plan">@Zombie_Plan</a> of <a href="http://zombieskittles.com/">ZombieSkittles</a> fame <a href="http://twitter.com/Zombie_Plan/status/5858116113">asked</a> his Twitter followers to dispense ideas for a blog post he could write about. Having suggested an idea to him that was promptly ignored, I decided I may as well write about it myself :).</p>
<p>You could be forgiven for not thinking about this because the devices in question are so ubiquitus and have become such an integral part of our lazy Western lives, but have you ever considered why remote controls have to be vertical? They all are, from the lowly air conditioner remote with half a dozen buttons to those combined entertainment system remotes with built in screens and enough buttons to control a nuclear reactor.</p>
<p>But why are they vertical? Were they originally designed in this way to help train people to use them by making it clear which direction they should be pointed? Was it to make it somewhat easier to use with only one hand, but was later abused by being so long and so fully crammed with buttons the benefits are no longer existent?</p>
<p>No ladies and gentleman I propose remote controls don&#39;t need to be vertical, they could be <strong>horizontal</strong>. Think about it, with the exception of the Wii which makes sparing use of buttons in place of motion, most gaming controllers are horizontal not vertical, and you could lay out buttons more logically on a horizontal plane than a vertical one. I know this is true because I <a href="//rubenerd.com/horizontal-remote-controls">read this post</a> on a smart guy&#39;s blog and he agrees.</p>
<p>So whaddya think? Are horizontal remote controls a great idea, or the <strong>greatest</strong> idea? Be honest, I know you want to say it&#39;s brilliant and you want to give me trillions in venture capital for me to start manufacturing them and afford a private jet on the side with one of those fancy walk-in grilled cheese sandwich jaffle making whatsits with the anti-stick surfaces and those really super bright LEDs that tell you when it&#39;s finished cooking that you could blind a deer with from several hundred kilometres away. That&#39;d be schweet.</p>
<p>Who&#39;s with me?</p>
 
