---
title: 'Don’t fix Outlook, ditch HTML email!' 
date: "2009-06-26T01:40:23+10:00"
year: "2009"
category: Internet
tag:
- email
- infocomm
- outlook
- rant
- screenshots
- twitter 
---
<p><img src="https://rubenerd.com/files/2009/3660499398_41a5547d7b_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3660499398_41a5547d7b_o@1x.jpg 1x, https://rubenerd.com/files/2009/3660499398_41a5547d7b_o@2x.jpg 2x" alt="FixOutlook.org?" style="width:500px; height:312px;" /></p>

<p>There are reports circulating the intertubes that Microsoft will be using the Microsoft Word (or Microsoft Office Word or whatever mouthful name they&#39;ve chosen now) rendering engine for Outlook 2010, their personal disinformation manager. Well meaning websites like <a href="http://fixoutlook.com/">FixOutlook.org</a> that is <a href="http://search.twitter.com/search?q=fixoutlook">so popular with Twitter folk</a> demonstrate with screenshots this move will break rich HTML email message formatting.</p>
<p>I&#39;m frustrated by this story, not because of the rendering engine change but rather because there&#39;s a debate about this at all. In my view (grilled cheese pun) email with HTML to change appearance and layout <strong>is one of the most nonsensical online inventions of all time</strong>. Why?</p>
<ul>
<li>Spammers can include specially crafted embedded images to verify an email address is active and can include hyperlinks to malicious websites that unsuspecting users will click.</li>
<li>Such messages take up far more disk space and take longer to download without really adding anything of value.</li>
<li>When fatigued people get hundreds or thousands of messages a day, the last thing they need is superflous junk; just give us your message and move on!</li>
</ul>
<p>I&#39;ve always opted to receive &quot;plain&quot; versus &quot;HTML&quot; messages, but sometimes I don&#39;t have a choice. Rich HTML email needs to be quietly shot, buried and never spoken of again. Not that I&#39;m biased.</p>
 
