---
title: 'IBM Model M and Northgate Omnikey keyboards' 
date: "2009-06-21T11:09:32+10:00"
year: "2009"
category: Hardware 
tag:
- history
- ibm-model-m
- infocomm
- keyboards
- northgate-omnikey
- retrocomputing 
---
<p><a href="http://en.wikipedia.org/wiki/File:OmniKey_ULTRA.JPG"><img src="https://rubenerd.com/files/uploads/photo.omnikey.jpg" alt="Northgate Omnikey ULTRA keyboard, by OwenX on Wikipedia" style="height:212px; width:500px; display:inline; border:0px" /></a></p>
<p>For better or worse (I’ve heard plenty of convincing arguments from both sides) I’ve resigned myself to the fact most of my thoughts in life will be expressed by being funnelled from my brain, through my nervous system to the muscles in my fingers where they’ll twitch and spasm in predictable ways with the resulting actions being directed at some form of computer keyboard.</p>
<p>After listening to some more recent episodes of <a href="http://www.grc.com/securitynow.htm">Security Now</a> where Steve Gibson has talked at great length about his coding practices I’ve been really interested to learn specifically about the keyboard he uses. Despite having numerous new machines over the years, he still uses his original <a href="http://en.wikipedia.org/wiki/Northgate_Computers">Northgate Omnikey 102</a> he purchased in the 1980s because he claims it’s more solidly built and gives superior tactile and audible feedback compared to the cheap, disposable keyboards most of us now use.</p>
<p><a href="http://en.wikipedia.org/wiki/File:ModelM.jpg"><img src="https://rubenerd.com/files/uploads/photo.modelm.jpg" alt="IBM Model M keyboard, by BorgHunter on Wikipedia" style="height:210px; width:500px; display:inline; border:0px" /></a></p>
<p>Looking into this further I’ve found out there’s an entire cottage industry online for the maintenance and reselling of second hand, early generation keyboards; people literally swear by their timeless designs. It seems with the commoditisation of personal computers, keyboards gradually became the victims of cost cutting measures which resulted in cheaper materials being used, membranes instead of dedicated mechanical components and generally crappier and flimsier designs.</p>
<p>The two series of keyboards most sought after seem to be the <a href="http://en.wikipedia.org/wiki/Model_M_keyboard">IBM Model M</a> and the <a href="http://en.wikipedia.org/wiki/Northgate_Computers">Northgate Omnikey</a>. I believe they both use the <a href="http://en.wikipedia.org/wiki/Buckling_spring">buckling spring</a> system which give the characteristic clickety-clack keyboard sound. It’s been joked that Northgate went out of business because when people bought one of their keyboards they were so solidly built people never needed to buy another one!</p>
<p>It&#39;s my nature to fixate on something obscure like this and research it to death for several weeks. You&#39;ll be reading more about it.</p>
 
