---
title: 'iTunes Rubenerd Show problems' 
abstract: "Or when mishandled redirects attack."
date: "2009-07-29T03:14:22+10:00"
year: "2009"
category: Show 
tag: 
- audio-magazine
- internet-radio
- new-time-radio
- podcast 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.itunes.weirduri.png" style="width:364px; height:292px; display:inline; border:0px;" alt="Screenshot from iTunes with the incorrect URL" /></p>

<h3>Update 2015</h3>

<p>I've given up trying to fix this, the show is now available at a new URL:</p>

<p><a href="https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071">https://itunes.apple.com/au/podcast/rubenerd-show/id1003680071</a></p>

<h3>Original Post</h3>

<p>I&#39;ve figured out why some iTunes users have been reporting problems with <a href="http://showfeed.rubenerd.com/">subscribing</a> to the <a href="//rubenerd.com/show/">Rubenerd Show</a> through the <a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=79495934&amp;s=143441">iTunes Store</a>. I deleted my own subscription, searched for <strong>&quot;Rubenerd Show&quot;</strong> in the iTunes Store and resubscribed to only be given a small circle and an exclamation point.</p>

<p>When I right clicked and chose <strong>&quot;Show Description&quot;</strong> I was given the above dialog box. No wonder it isn&#39;t working, it&#39;s trying to access new shows from <strong>http:///show/feed/</strong> for some reason!</p>

<p>I don&#39;t know how or why this happened. I&#39;ll be contacting Apple about this to see if I can get it pointing back to the proper URI again. I believe my good friend Felix Tanjono submitted my podcast to the iTunes Store back in 2005 back when Australia and Singapore didn&#39;t have access to it.</p>

<p>While I&#39;m sorting this out you can still go to <strong>iTunes</strong>, choose the <strong>Advanced</strong> menu and click <strong>Subscribe to Podcast</strong>, then enter the following address as a stopgap:</p>

<blockquote cite="http://showfeed.rubenerd.com/">
<p>http://showfeed.rubenerd.com/</p>
</blockquote>

<p>Sorry about this, I don&#39;t know how this could have happened :-(.</p>
 
