---
title: 'Java telling us The Tale of Alan A’Dale' 
date: "2009-09-30T01:54:12+10:00"
year: "2009"
category: Software
tag:
- alan-adale
- comedy
- infocomm
- java
- not-only-but-also
- peter-cook-and-dudley-moore
- pointless-anime-references
- senjougahara-hitagi
- pointless
- programming 
---
<p><img src="https://rubenerd.com/files/2009/3967409139_5dea096ce8_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3967409139_5dea096ce8_o@1x.jpg 1x, https://rubenerd.com/files/2009/3967409139_5dea096ce8_o@2x.jpg 2x" alt="Java telling us The Tale of Alan A'Dale!" style="width:500px; height:375px;" /></p>

<p>I was sitting at the Boatdeck Cafe this morning thinking of all the work I was supposed to be doing, and it was so overwhelming I decided to write a nonsensical Java application to tell us The Tale of Alan A&#39;Dale instead.</p>
<p>Feel free to paste the code into your favourite text editor then execute it on your machine if you wish to feel the wondrousness. That is a word isn&#39;t it?</p>
<pre>
/**
 * Tells us The Tale of Alan A'Dale
 * Adapted by Ruben Schade 2009
 */

public class AlanADale {
  private String theTale = "n";

  public String tellUsTheTale() {
    for (int count = 0; count &lt; 3; count++)
      theTale += "This is The Tale… ";
    theTale += "of Alan A'Dale!n";
    return theTale;
  }

  public static void main(String[] args) {
    AlanADale NotOnlyButAlso = new AlanADale();
    while(true)
      System.out.println(NotOnlyButAlso.tellUsTheTale());
  }
}
</pre>
 
