---
title: 'Jerry Novak’s new Lensbaby Composer' 
date: "2009-06-25T02:39:28+10:00"
year: "2009"
category: Media
tag:
- flickr
- jerry-novak
- lensbaby-compser
- photos
- twitter 
---
<p style="font-style:italic">(Update: Flickr profile was taken down)</p>
<p>A very good friend of mine and a nice guy <a href="http://twitter.com/jerrynovak/">Jerry Novak</a> just <a href="https://www.flickr.com/photos/jerrynovak/3657562546/">uploaded a photo to Flickr</a> he took using his new <a href="http://www.lensbaby.com/lenses-composer.php">Lensbaby Composer</a>. I thought it was beautiful until I reread his tweet, this was his <strong><em>first</em></strong> photo with it, now I&#39;m also in absolute awe with waves of jealousy flowing through me like… waves.</p>
<p>I get the feeling I&#39;ll be describing myself as an amateur-amateur photographer for quite some time!</p>
<p>Jerry told on Twitter he was only able to get this one shot before security told him to stop; to their credit, the did let him keep this one picture. I think that&#39;s part of my problem as an amateur photographer (and podcaster, and blogger…), I&#39;m far too self concious. Perhaps I just need to start taking my little D60 with my everywhere and just getting used to whipping it out in public.</p>
 
