---
title: 'SG$700 for a Kindle? Thanks but no thanks' 
date: "2009-05-07T10:06:01+10:00"
year: "2009"
category: Hardware 
tag:
- amazon
- ebook
- eink
- infocomm
- kindle 
---
<p><img src="https://rubenerd.com/files/2009/amazon-shipment-arrived_3038973747_o@1x.jpg" alt="Amazon shipment arrived!" srcset="https://rubenerd.com/files/2009/amazon-shipment-arrived_3038973747_o@1x.jpg 1x, https://rubenerd.com/files/2009/amazon-shipment-arrived_3038973747_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>As soon as I saw <a href="http://news.cnet.com/8301-17938_105-10234355-1.html">this story on News.com</a> about the new large screen Amazon Kindle I got excited thinking about all the textbooks I would no longer need to lug around, but as I soon as I saw the price I <em>turned the page</em> as it were. Even if it were available outside the US, SG$700.00+ is highway robbery; though to be fair at least you could ride down the highway on a bike with it instead of a stack of books.</p>
<p>If the cost of regular books from the Amazon store are also any indication, I doubt the exorbitant cost of textbooks wouldn&#39;t change much either despite the fact distribution costs would be taken out completely for the publishers. And you could also say goodbye to textbook buybacks thanks to our good friend Mr DRM.</p>
<p>eInk might be nice, but it&#39;s not that nice.</p>
 
