---
title: 'Landscape iTelephone keyboard everywhere!' 
date: "2009-06-26T01:04:59+10:00"
year: "2009"
category: Hardware 
tag:
- apple
- infocomm
- iphone
- ipod
- itelephone
- phones 
---
<p><img src="https://rubenerd.com/files/2009/3661851828_532b5a0c99_o.png" alt="Landscape keyboard in iPhone 3.0" style="width:480px; height:320px;" /></p>

<p>Of all the fun new features introduced in the <a href="http://www.apple.com/iphone/softwareupdate/">iTelephone 3.0 software</a>, I have to say making the landscape keyboard available in more than just the email client has been the biggest boon. Even though I&#39;m just using my thumbs, As I type this post in the Notes application I&#39;m noticing just how quickly and accurately I&#39;m able to enter text. It&#39;s no full size keyboard I can hammer on with all my fingers at once, but it&#39;s good. Very good.</p>
<p>I noticed when Leo Laporte was reviewing the Palm Pre (another smart phone I&#39;m very interested in) he noted that while he made far less errors on the Pre&#39;s physical keyboard compared to the iTelephone&#39;s touch screen, he was still able to type faster on the iTelephone because the on-the-fly error correction is so well executed. I have a Centro and used to had a Nokia e61i and I can also attest to this.</p>
<p>With this landscape keyboard though, I get the speed from merely touching a flat surface and the smart error correction, but because the keys are wider I&#39;m making less mistakes and am able to type even faster.</p>
<p>While I like Apple products I&#39;m not a fanboy and readily admit that the iTelephone&#39;s touch screen keyboard might not be everybody&#39;s cup of tea. I encourage you though if you&#39;ve been holding out for precisely that reason to go down to an Apple shop or reseller and have a play around with the landscape keyboard on either the iTelephone or the iPodlington Touch. You might be surprised.</p>
<p>In the meantime, I just noticed the time in the screenshot there was 23:45. How very trippy.</p>
 
