---
title: 'For real, my last atheism post' 
date: "2009-07-14T10:41:34+10:00"
year: "2009"
category: Thoughts 
tag: 
- atheism
- family
- intolerance-against-atheists
- philosophy 
---
<p><img src="https://rubenerd.com/files/2009/me-and-mummy-in-2006_3509540425_o@1x.jpg" alt="Me and mummy in 2006" srcset="https://rubenerd.com/files/2009/me-and-mummy-in-2006_3509540425_o@1x.jpg 1x, https://rubenerd.com/files/2009/me-and-mummy-in-2006_3509540425_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>Okay everyone I&#39;m going to be blunt here and just come out. If you follow me on Twitter or read my blog here you may have noticed I sometimes talk about religion, and most of the time I have nothing positive to say about it.</p>
<p>I&#39;ve mentioned here and on Twitter I&#39;m an atheist and people ask me why. I responded in the past the same way virtually every other atheist does; by saying there has been no scientific or empirical evidence ever put forward to justify the belief in any god from any religion. People distort this to claim I&#39;m saying there is no god and that it takes as much faith to deny it as it does to believe, claims which are nonsense of course. It turns out at least for me this is only part of the story.</p>
<p>For most of my life I was agnostic, but it wasn&#39;t until my mum died that I finally figured it out. I guess you could say it was a cynical Newton moment. She was one of the nicest, most moral people I have ever known, but she spent the last 12+ years of her life in slow, agonising pain and died around Christmas in 2007.</p>
<p>Now here&#39;s the part I don&#39;t understand. I&#39;m told God stands by as earthquakes and the like happen because of the concept of free will, that god can&#39;t stop us living in earthquake-prone areas. If we lend this explanation credence we&#39;re still left asking: why did God create fault lines that cause earthquakes in the first place? And why go to all the trouble to create us in His image but leave dangerous and sloppy imperfections in our genetic coding that predispose us to diseases and mutations like cancer? Why did He invent bacteria, to punish those who can&#39;t afford sanitation? God can&#39;t stop us smoking to cause lung cancer, but my mum was healthy. It&#39;s obvious when we dig below the surface of this free will explanation, its bunk.</p>
<p>It&#39;s claimed god is <em>all powerful</em>, <em>all knowing</em> and <em>all wise</em>, and that most importantly <em>he loves us</em>. Much like a good piece of computer software cannot be made <em>quickly</em>, <em>cheaply</em> and <em>well</em> at the same time, all four of these conditions about God can&#39;t be true. The classical Greek philosopher Epicurus made this observation 2,000 years ago.</p>
<p>Given the amount of hate mail I get this doesn&#39;t seem to be self evident when I thought it would be, but if religious people are allowed to discuss the ways in which they saw the light and converted to their particular faith, it seems only fair I should be allowed to discuss why I became an atheist. If you were offended by what I said, I encourage you to take as open a view as you would with a person of another faith to your own instead of reading it as if I were an atheist and try reading this entry again.</p>
<p>Because this is a very personal family matter, I&#39;m doing something unprecedented on the Rubenerd Blog and <strong><em>turning comments off</em></strong>. Believe me, I&#39;ve heard every single possible response to this anyway. Feel free to comment on other sites and places, but don&#39;t expect a reply.</p>
<p>I&#39;m now putting this issue to rest and moving on. I may discuss spirituality and science at some point though, I&#39;m absolutely fascinated by the idea. When we applied science to astrology we got astronomy, when we applied science to alchemy we got chemistry: what will science yield when we apply it to spirituality? I&#39;m really excited by the idea!</p>
<p>Thank you everyone. Peace, health and happiness,<br />
<cite>Ruben</cite></p>
 
