---
title: 'Last.fm and the biggest text file of all time' 
date: "2009-05-24T03:05:03+10:00"
year: "2009"
category: Media
tag:
- data
- hard-drives
- lastfm
- mac-os-x
- music 
---
<p><img src="https://rubenerd.com/files/2009/3557944721_7e565cb4b3_o.png" alt="Screenshot of Last.fm's 13.74 GB log file" style="width:500px" /></p>

<p>For the last couple of weeks I was having issues with the <a href="http://www.last.fm/download">Last.fm scrobbler</a> on my MacBook Pro. Whenever I launched it, it went into hiding without showing an icon in the Dock or the menu bar. After 15 minutes or so of playing music in iTunes the cooling fans for the machine would kick into overdrive and a quick inspection of the actively running processes with <code>top</code> would show the Last.fm app running at close to 100% CPU power. Thank heavens for dual core chips.</p>
<p>I admit I&#39;ve been so busy these last couple of weeks I just gave up and stopped using it as you can tell from <a href="http://www.last.fm/user/rubenerd">my lack of scrobbling activity</a>. Doing some hard drive cleaning this morning though I came across possibly one of the biggest files on my drive.</p>
<p>That&#39;s right folks, as you can see above Last.fm&#39;s log file on my hard drive is <strong>13.74GB</strong>. To put this into context if you&#39;re not aware, a log file is simply a <strong><em>text file</em></strong>! Most of my ripped movies are smaller in size than this text file!</p>
<p>No wonder Last.fm has been crapping out on this machine. And no wonder I couldn&#39;t account for where all my drive space was going.</p>
 
