---
title: 'Moving on from DBS and POSB in Singapore' 
date: "2009-08-08T01:12:58+10:00"
year: "2009"
category: Thoughts 
tag: 
- banks
- dbs-bank
- finance
- money
- singapore 
---
<p><a href="https://www.flickr.com/photos/rubenerd/1294884177/" title="View from Marina Bay MRT by rubenerd, on Flickr"><img src="https://rubenerd.com/files/2009/1294884177_bfe50ab348_o@1x.jpg" srcset="https://rubenerd.com/files/2009/1294884177_bfe50ab348_o@1x.jpg 1x, https://rubenerd.com/files/2009/1294884177_bfe50ab348_o@2x.jpg 2x" alt="View from Marina Bay MRT by rubenerd, on Flickr" style="width:500px; height:375px;" /></a></p>
<p>When I was in <a href="http://www.ais.com.sg/">primary school in Singapore</a> I entered into a Skippy Peanut Butter writing contest and won 800 bucks. Especially for a 12 year old kid this amount was gigantic, so the first thing I did (without my parents telling me to I might add!) was open a bank account to put it in. At the time most Singaporean banks required a minimum deposit of $1000 so I went with a <a href="http://www.dbs.com.sg/posb/">POSB</a> student account.</p>
<p>Now I&#39;m 23 and I still have that account, but am thinking of moving to something else. <a href="http://www.dbs.com.sg/">DBS</a> has long since owned POSB (but curiously kept the brand alive) which was convenient given my dad had a few DBS accounts, but every time I go back to Singapore I&#39;m reminded of why I dislike them.</p>
<ol>
<li>They <strong>closed their Liat Towers branch</strong> (the building next to Wheelock Place) meaning if I need to fulfil banking needs or however you’re supposed to phrase that my closest branch is Plaza Singapura which is several MRT stops away and is always packed.<p></p></li>
<li>They <strong>might be too popular</strong>, whenever there’s a series of ATMs there’s almost never anyone queuing for the UOB or OCBC ATMs but the DBS and POSB ones often have as many as 10-15 people, especially in student hotspots along Orchard like Far East Plaza and Plaza Singapura.<p></p></li>
<li>On a related note to 2, why is DBS/POSB not part of the <strong><a href="http://en.wikipedia.org/wiki/Atm5">Atm5 network</a></strong> which lets you use your card in a different bank’s ATM?<p></p></li>
<li>Finally, DBS on occasion <strong>supports creepy ultra conservative organisations</strong> like Focus On The Family which spread misinformation, fear and prejudice against women and the LGBT community, as I <a href="//rubenerd.com/p3324/">wrote about last year</a> and <a href="//rubenerd.com/p3487/">followed up on here</a>.</li>
</ol>
<p>So now I&#39;m left wondering which Singapore bank I&#39;ll create an account with. I&#39;ve heard <a href="http://www.ft.com/cms/s/0/807af9f6-8220-11de-9c5e-00144feabdc0.html">ANZ is buying out RBS</a> in Singapore, perhaps I&#39;ll be able to keep my local ANZ account and use that in Singapore too. Nah probably not, there are probably charges for accessing funds in foreign currencies all the time.</p>
<p>Why must dealing with banks be so messy and confusing? Why can&#39;t they pink, fuzzy and squishy?</p>
 
