---
title: 'Less than four hours before Obama inauguration' 
date: "2009-01-21T02:44:30+10:00"
year: "2009"
category: Thoughts 
tag: 
- barack-obama
- news
- obama-inauguration
- politics
- us-elections
- usa 
---
<p><img src="https://rubenerd.com/files/2009/less-than-four-hours-before-obama-inauguration_3212811566_o@1x.jpg" alt="Less than four hours before Obama inauguration" srcset="https://rubenerd.com/files/2009/less-than-four-hours-before-obama-inauguration_3212811566_o@1x.jpg 1x, https://rubenerd.com/files/2009/less-than-four-hours-before-obama-inauguration_3212811566_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>That&#39;s a lot of people!</p>
 
