---
title: 'Links for 2009-08-13' 
date: "2009-08-13T10:02:29+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.fotothing.com/Xaragma/photo/b9acd3fbaf574e259f1b79afa60c5aad/">Victoria Square, looking north to GPO clock and Westpac Tower &#8211; February 2008</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/adelaide">adelaide</a> <a href="http://delicious.com/rubenerd/photos">photos</a> <a href="http://delicious.com/rubenerd/australia">australia</a>)<p></p></dd>
</dl> 
