---
title: 'Links for 2009-06-15' 
date: "2009-06-15T10:01:37+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://blogs.sun.com/rslee/entry/zfs_delegated_administration">ZFS Delegated Administration :</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/zfs">zfs</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/filesystems">filesystems</a> <a href="http://delicious.com/rubenerd/blog">blog</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.mygeekproject.com/?cat=110">My Geek Project » ZFS</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/zfs">zfs</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/filesystems">filesystems</a> <a href="http://delicious.com/rubenerd/blog">blog</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://alblue.blogspot.com/search/label/zfs">AlBlue&#39;s Weblog: zfs</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/zfs">zfs</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/filesystems">filesystems</a> <a href="http://delicious.com/rubenerd/blog">blog</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://whatconsumesme.com/2009/what-im-writing/how-to-be-happy-in-business-venn-diagram/">what consumes me, bud caddell » how to be happy in business &#8211; venn diagram</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/true">true</a> <a href="http://delicious.com/rubenerd/business">business</a> <a href="http://delicious.com/rubenerd/life">life</a> <a href="http://delicious.com/rubenerd/design">design</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://zfs.macosforge.org/trac/wiki/downloads">ZFS – MacOS Forge</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/filesystems">filesystems</a> <a href="http://delicious.com/rubenerd/zfs">zfs</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/macports">macports</a>)<p></p></dd>
</dl> 
