---
title: 'Links for 2009-11-13' 
date: "2009-11-13T11:01:52+10:00"
year: "2009"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.mocom.ru/Wallpapers/ibm.htm">Обои для рабочего стола, посвященные IBM</a></dt>
<dd class="delicious-extended">Series of IBM ThinkPad wallpapers</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a> <a href="http://delicious.com/rubenerd/design">design</a> <a href="http://delicious.com/rubenerd/desktops">desktops</a> <a href="http://delicious.com/rubenerd/wallpapers">wallpapers</a> <a href="http://delicious.com/rubenerd/ibm">ibm</a> <a href="http://delicious.com/rubenerd/lenovo">lenovo</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.mocom.ru/Wallpapers/Pictures/ibm/ibm1_copia.html">Обои IBM Logo</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/ibm">ibm</a> <a href="http://delicious.com/rubenerd/logo">logo</a> <a href="http://delicious.com/rubenerd/retro">retro</a> <a href="http://delicious.com/rubenerd/design">design</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.logodesignworks.com/blog/time-to-say-goodbye-to-ibm-thinkpad-logo">Time to Say Goodbye to IBM ThinkPad Logo | Logo Design Blog</a></dt>
<dd class="delicious-extended">&quot;Lenovo, the world’s 4th largest PC manufacturer who bought the IBM PC business 3 years ago, has decided to stop using the IBM ThinkPad logo earlier than expected. Given its robust financial performance, this Chinese company believes it does not need the IBM brand to drive the sales of its laptops and notebooks. Instead, it will re-brand the IBM ThinkPad to Lenovo ThinkPad.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/design">design</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a> <a href="http://delicious.com/rubenerd/logos">logos</a> <a href="http://delicious.com/rubenerd/ibm">ibm</a> <a href="http://delicious.com/rubenerd/lenovo">lenovo</a>)<p></p></dd>
</dl> 
