---
title: 'Links for 2009-09-07' 
date: "2009-09-07T10:01:30+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://antonyloewenstein.com/2009/09/06/when-the-rabbis-start-speaking-out-against-gazan-outrage/?utm_source=Twitter%20Referral&amp;utm_medium=Twitter&amp;utm_campaign=Twitter">When the Rabbis start speaking out against Gazan outrage | Antony Loewenstein</a></dt>
<dd class="delicious-extended">&quot;Observing American Rabbis unite over Palestinian rights is an inspiring sight.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/middleeast">middleeast</a> <a href="http://delicious.com/rubenerd/givepeaceachance">givepeaceachance</a> <a href="http://delicious.com/rubenerd/humanrights">humanrights</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www0.au.shopping.com/xPO-Kingston-KTT3311A-1G">Kingston 1 GB PC2700 DDR RAM (KTT3311A/1GI)</a></dt>
<dd class="delicious-extended">&quot;Kingston Random Access Memory (RAM), Computer Memory, Computers at Shopping.com Australia&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/shopping">shopping</a> <a href="http://delicious.com/rubenerd/ram">ram</a> <a href="http://delicious.com/rubenerd/memory">memory</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.pc.ibm.com/ww/lenovo/product_photos.html">Lenovo &#8211; Product photos</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/photos">photos</a> <a href="http://delicious.com/rubenerd/ibm">ibm</a> <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/images">images</a> <a href="http://delicious.com/rubenerd/lenovo">lenovo</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://forums.macrumors.com/archive/index.php/t-396179.html">All of a sudden a blank screen. Damaged Inverter board or bulb [Archive] &#8211; Mac Forums</a></dt>
<dd class="delicious-extended">&quot;It&#39;s hard to say for sure exactly what the problem is. But, the inverter lights up the light in LCD panel. Your cheapest fix is to replace the inverter located in the LCD panel and if that doesn&#39;t work then the light is burned out in the LCD panel itself. You would be then looking at replacing LCD panel. Could also be a loose wire, but not likely.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/parts">parts</a> <a href="http://delicious.com/rubenerd/macbookpro">macbookpro</a> <a href="http://delicious.com/rubenerd/apple">apple</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.powerbookmedic.com/xcart1/product.php?productid=16873&amp;cat=0&amp;page=1">MacBook Pro Inverter Board Assembly &#8211; Powerbook Medic</a></dt>
<dd class="delicious-extended">&quot;922-7191. This is a brand new inverter board assembly for the MacBook Pro&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/parts">parts</a> <a href="http://delicious.com/rubenerd/macbookpro">macbookpro</a> <a href="http://delicious.com/rubenerd/apple">apple</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.powerbookmedic.com/xcart1/product.php?productid=16893&amp;cat=465&amp;page=1#">Apple Macbook Pro Screen LCD 15 inch &#8211; Powerbook Medic</a></dt>
<dd class="delicious-extended">&quot;661-3950 or 661-4015. This is the 15&quot; LCD TFT Display and backlight for the MacBook Pro.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/parts">parts</a> <a href="http://delicious.com/rubenerd/macbookpro">macbookpro</a> <a href="http://delicious.com/rubenerd/apple">apple</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a>)<p></p></dd>
</dl> 
