---
title: 'Links for 2009-10-26' 
date: "2009-10-26T11:01:43+10:00"
year: "2009"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://wallpapers.pixxp.com/19__Windows_XP_Titanic.htm">Desktop Wallpapers · Gallery · Computers · Windows XP Titanic | 1024&#215;768</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/windows">windows</a> <a href="http://delicious.com/rubenerd/windowsxp">windowsxp</a> <a href="http://delicious.com/rubenerd/desktops">desktops</a> <a href="http://delicious.com/rubenerd/wallpapers">wallpapers</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.pottsoft.com/home/titanic/belfast_titanic_model.html">Titanic Model, Belfast City Hall, Belfast, Northern Ireland</a></dt>
<dd class="delicious-extended">Wow, that model is amazing!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/titanic">titanic</a> <a href="http://delicious.com/rubenerd/oceanliners">oceanliners</a> <a href="http://delicious.com/rubenerd/models">models</a> <a href="http://delicious.com/rubenerd/history">history</a>)<p></p></dd>
</dl> 
