---
title: 'Links for 2009-12-22' 
date: "2009-12-22T11:02:03+10:00"
year: "2009"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://hiphopo.posterous.com/how-fanboys-see-operating-systems-29">How Fanboys See Operating Systems &#8211; hiphop-o-posterous, my lyrics are bottomless</a></dt>
<dd class="delicious-extended">Very true ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/operatingsystems">operatingsystems</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/windows">windows</a> <a href="http://delicious.com/rubenerd/linux">linux</a> <a href="http://delicious.com/rubenerd/floss">floss</a> <a href="http://delicious.com/rubenerd/fanboyism">fanboyism</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.atheistfoundation.org.au/forums/showpost.php?p=46729&amp;postcount=1">AFA Forums &#8211; View Single Post &#8211; Letters to the editor &#8211; Internet Censorship</a></dt>
<dd class="delicious-extended">Appalling they were allowed to get away with that. They should all be outed.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/openinternet">openinternet</a> <a href="http://delicious.com/rubenerd/censorship">censorship</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/internet">internet</a> <a href="http://delicious.com/rubenerd/greatfirewallofaustralia">greatfirewallofaustralia</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://ogiuemaniax.wordpress.com/2009/12/20/2000-2009-part-1-looking-back/">2000-2009 Part 1: Looking Back « OGIUE MANIAX</a></dt>
<dd class="delicious-extended">Very well written!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/reviews">reviews</a> <a href="http://delicious.com/rubenerd/analysis">analysis</a> <a href="http://delicious.com/rubenerd/2000s">2000s</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.alibaba.com/product-gs/50918900/PCMCIA_to_IDE_Zender_for_2_5_HD_.html">PCMCIA to IDE Zender (for 2.5 HD) PCMCIA to IDE zender PCMCIA China products</a></dt>
<dd class="delicious-extended">Thinking I may need to get something like this</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/pcmcia">pcmcia</a> <a href="http://delicious.com/rubenerd/ide">ide</a> <a href="http://delicious.com/rubenerd/cables">cables</a> <a href="http://delicious.com/rubenerd/adaptors">adaptors</a>)<p></p></dd>
</dl> 
