---
title: 'Links for 2009-06-24' 
date: "2009-06-24T10:01:16+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://colorschemedesigner.com/">Color Scheme Designer 3</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/design">design</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a> <a href="http://delicious.com/rubenerd/html">html</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://www.flickr.com/photos/epytwen/2770054939/in/set-72157616542996659/">Batman villains on Flickr &#8211; Photo Sharing!</a></dt>
<dd class="delicious-extended">Amazing detail, these guys did a great job!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/comics">comics</a> <a href="http://delicious.com/rubenerd/photos">photos</a> <a href="http://delicious.com/rubenerd/flickr">flickr</a>)<p></p></dd>
</dl> 
