---
title: 'Links for 2009-12-19' 
date: "2009-12-19T11:02:19+10:00"
year: "2009"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://phosphor-escence.blogspot.com/2009/03/build-qtruby-with-ruby-191-and-qt-45.html">phosphorescence: Build QtRuby with Ruby 1.9.1 and Qt 4.5 #1</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/osx">osx</a> <a href="http://delicious.com/rubenerd/ruby">ruby</a> <a href="http://delicious.com/rubenerd/gui">gui</a> <a href="http://delicious.com/rubenerd/qt">qt</a> <a href="http://delicious.com/rubenerd/programming">programming</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://osake.wordpress.com/2009/08/21/qt4-qtruby-mac-os-x/">Getting qt4-qtruby-2.0.3 running on Mac OS X (and Qt) « Josh’s Journal</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/osx">osx</a> <a href="http://delicious.com/rubenerd/ruby">ruby</a> <a href="http://delicious.com/rubenerd/gui">gui</a> <a href="http://delicious.com/rubenerd/qt">qt</a> <a href="http://delicious.com/rubenerd/programming">programming</a>)<p></p></dd>
</dl> 
