---
title: 'Links for 2009-07-04' 
date: "2009-07-04T10:04:42+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://headdowneyesopen.blogspot.com/2009/06/gaza-15-million-people-trapped-in.html">Head Down Eyes Open: Gaza: 1.5 million people trapped in despair</a></dt>
<dd class="delicious-extended">Not good. &quot;Last March, as the international community grandly pledged an impressive U$4.5 billion dollars for the reconstruction of Gaza, HDEO welcomed the support but &#8211; based on a long list of previous and direct experiences &#8211; cautioned against optimism. Why so skeptical? Because recent history has shown the detached intransigence of Israeli authorities to allow the transit of vital goods and materials to meet the needs of long-suffering Gazans. Regrettably, we were not wrong.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/middleeast">middleeast</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a>)<p></p></dd>
</dl> 
