---
title: 'Links for 2009-07-12' 
date: "2009-07-12T10:01:27+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.ispaawards.org.uk/page/home">Home &#8211; The Internet Industry Awards 2009</a></dt>
<dd class="delicious-extended">&quot;Internet Villain: Stephen Conroy and the Australian Government!&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/nocleanfeed">nocleanfeed</a> <a href="http://delicious.com/rubenerd/censorship">censorship</a> <a href="http://delicious.com/rubenerd/internet">internet</a> <a href="http://delicious.com/rubenerd/australia">australia</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.google.com/support/webmasters/bin/answer.py?hl=en&amp;answer=139394">About rel=&quot;canonical&quot; &#8211; Webmasters/Site owners Help</a></dt>
<dd class="delicious-extended">&quot;A canonical page is the preferred version of a set of pages with highly similar content.<br />
&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/video">video</a> <a href="http://delicious.com/rubenerd/html">html</a> <a href="http://delicious.com/rubenerd/google">google</a> <a href="http://delicious.com/rubenerd/search">search</a> <a href="http://delicious.com/rubenerd/seo">seo</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://stackoverflow.com/questions/877736/301-redirect-index-html-to-or-index-php">301 redirect index.html to / or /index.php &#8211; Stack Overflow</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/seo">seo</a> <a href="http://delicious.com/rubenerd/301">301</a> <a href="http://delicious.com/rubenerd/redirects">redirects</a> <a href="http://delicious.com/rubenerd/apache">apache</a> <a href="http://delicious.com/rubenerd/howto">howto</a>)<p></p></dd>
</dl> 
