---
title: 'Links for 2009-08-18' 
date: "2009-08-18T10:02:12+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://wiki.debian.org/Java">Java &#8211; Debian Wiki</a></dt>
<dd class="delicious-extended">&quot;Debian provides many Java implementations. Each of them have a development environment (JDK) and a runtime (known as JRE, or Java Virtual Machines JVM).&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/java">java</a> <a href="http://delicious.com/rubenerd/programming">programming</a> <a href="http://delicious.com/rubenerd/sun">sun</a> <a href="http://delicious.com/rubenerd/debian">debian</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www-307.ibm.com/pc/support/site.wss/MIGR-54078.html">Lenovo Support &amp; downloads &#8211; Drivers and software &#8211; ThinkPad X40, X41</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/thinkpad">thinkpad</a> <a href="http://delicious.com/rubenerd/x40">x40</a> <a href="http://delicious.com/rubenerd/ibm">ibm</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/drivers">drivers</a> <a href="http://delicious.com/rubenerd/windows">windows</a> <a href="http://delicious.com/rubenerd/dos">dos</a>)<p></p></dd>
</dl> 
