---
title: 'Links for 2009-08-17' 
date: "2009-08-17T10:01:34+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://singaporeskycam.tumblr.com/">Singapore Sky/Weather Cam</a></dt>
<dd class="delicious-extended">&quot;Singapore weather webcam time lapse images&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/singapore">singapore</a> <a href="http://delicious.com/rubenerd/webcam">webcam</a> <a href="http://delicious.com/rubenerd/weather">weather</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://theintelligentcrowd.com/kmblog/">TheIntelligentCrowd Blog</a></dt>
<dd class="delicious-extended">Mark Ashworth&#39;s blog</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/blog">blog</a> <a href="http://delicious.com/rubenerd/thoughts">thoughts</a> <a href="http://delicious.com/rubenerd/management">management</a> <a href="http://delicious.com/rubenerd/business">business</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.stickmanbangkok.com/living.html">Stickman Bangkok.com Living and Working in Bangkok</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/southeastasia">southeastasia</a> <a href="http://delicious.com/rubenerd/asia">asia</a> <a href="http://delicious.com/rubenerd/travel">travel</a> <a href="http://delicious.com/rubenerd/thailand">thailand</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.newscientist.com/article/dn17577-payperemail-plan-to-beat-spam-and-help-charity.html">Pay-per-email plan to beat spam and help charity &#8211; tech &#8211; 13 August 2009 &#8211; New Scientist</a></dt>
<dd class="delicious-extended">&quot;Yahoo! wants to reinvent the postage stamp to cut spam. Researchers are testing a scheme where users pay a cent to charity for each email they send&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/spam">spam</a> <a href="http://delicious.com/rubenerd/email">email</a> <a href="http://delicious.com/rubenerd/news">news</a>)<p></p></dd>
</dl> 
