---
title: 'Links for 2009-07-08' 
date: "2009-07-08T10:05:16+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.inquisitr.com/28336/florida-christians-protest-atheist-billboard-wait-till-you-see-the-sign/">Florida Christians protest atheist billboard, wait till you see the sign</a></dt>
<dd class="delicious-extended">The &quot;Top Ten Signs that You&#39;re a Christian&quot; is pretty funny!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/atheism">atheism</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/religion">religion</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.boston.com/bigpicture/2009/07/president_obamas_first_167_day.html">President Obama&#39;s first 167 days &#8211; The Big Picture &#8211; Boston.com</a></dt>
<dd class="delicious-extended">&quot;As he and his family arrive in Moscow today for an official visit, find here a look back at some of the first 167 days of the Obama administration. (38 photos total)&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/photos">photos</a> <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/barackobama">barackobama</a> <a href="http://delicious.com/rubenerd/usa">usa</a>)<p></p></dd>
</dl> 
