---
title: 'Links for 2009-06-27' 
date: "2009-06-27T10:01:24+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://spreadsheets.google.com/ccc?key=raLI23AyUNONAjAkmE1kHTQ">Singapore Twitterers List</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/twitter">twitter</a> <a href="http://delicious.com/rubenerd/singapore">singapore</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://netbooks.modaco.com/content/msi/270099/pauls-complete-guide-to-installing-osx-leopard-on-your-msi-wind-advent-4211/">Paul&#39;s complete guide to installing OSX Leopard on your MSI Wind / Advent 4211 &#8211; Netbooks @ MoDaCo</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/osx">osx</a> <a href="http://delicious.com/rubenerd/netbook">netbook</a> <a href="http://delicious.com/rubenerd/leopard">leopard</a>)<p></p></dd>
</dl> 
