---
title: 'Links for 2009-10-12' 
date: "2009-10-12T11:01:35+10:00"
year: "2009"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://thinkoracle.blogspot.com/2005/07/oracle-boolean.html">OracleBlog: Oracle BOOLEAN</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/oracle">oracle</a> <a href="http://delicious.com/rubenerd/databases">databases</a> <a href="http://delicious.com/rubenerd/sql">sql</a> <a href="http://delicious.com/rubenerd/howto">howto</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.techonthenet.com/oracle/check.php">Oracle/PLSQL: Check Constraints</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/oracle">oracle</a> <a href="http://delicious.com/rubenerd/databases">databases</a> <a href="http://delicious.com/rubenerd/sql">sql</a> <a href="http://delicious.com/rubenerd/howto">howto</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.dba-oracle.com/t_sql_patterns_constraints.htm">Oracle tools tips &#8211; SQL Function Based Constraints &#8211; Symmetric Functions</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/oracle">oracle</a> <a href="http://delicious.com/rubenerd/databases">databases</a> <a href="http://delicious.com/rubenerd/sql">sql</a> <a href="http://delicious.com/rubenerd/howto">howto</a>)<p></p></dd>
</dl> 
