---
title: 'Links for 2009-09-12' 
date: "2009-09-12T10:01:59+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://gdayworld.thepodcastnetwork.com/2009/09/11/history%e2%80%99s-troubling-silence-about-jesus/">TPN :: GDay World » Blog Archive » History’s Troubling Silence About Jesus</a></dt>
<dd class="delicious-extended">&quot;A good summary from Lee Salisbury, a former Pentecostal pastor: History’s Troubling Silence About Jesus.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/religion">religion</a> <a href="http://delicious.com/rubenerd/thoughts">thoughts</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.coredata.com.au/limesurvey/index.php?sid=51964&amp;newtest=Y">CoreData :: AMBER awards &#8211; eServices Customer experience ::</a></dt>
<dd class="delicious-extended">The Amber Awards are a new series of awards to recognise national excellence in eServices. The emphasis is on Australian online transaction-based services such as banking, booking travel and online shopping.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/banking">banking</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/feedback">feedback</a> <a href="http://delicious.com/rubenerd/finance">finance</a> <a href="http://delicious.com/rubenerd/business">business</a>)<p></p></dd>
</dl> 
