---
title: 'Links for 2009-12-12' 
date: "2009-12-12T11:02:24+10:00"
year: "2009"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.last.fm/music/Tour%C3%A9+Kunda">Touré Kunda – Discover music, concerts, &amp; pictures at Last.fm</a></dt>
<dd class="delicious-extended">Just heard their music for the first time, and already I&#39;m looking for a CD! Fantastic stuff!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/music">music</a> <a href="http://delicious.com/rubenerd/africa">africa</a> <a href="http://delicious.com/rubenerd/senegal">senegal</a> <a href="http://delicious.com/rubenerd/worldmusic">worldmusic</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.latko.org/downloads/">Downloads | Dreaming Of Beetles</a></dt>
<dd class="delicious-extended">Excellent optimised Mac builds of Shiretoko/Firefox and Camino</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/camino">camino</a> <a href="http://delicious.com/rubenerd/firefox">firefox</a> <a href="http://delicious.com/rubenerd/shiretoko">shiretoko</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/osx">osx</a> <a href="http://delicious.com/rubenerd/browser">browser</a> <a href="http://delicious.com/rubenerd/apple">apple</a> <a href="http://delicious.com/rubenerd/optimized">optimized</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://reallycuteasians.net/2008/12/cosplay-queen-arisa-mizuhara/">Cosplay Queen: Arisa Mizuhara | Really Cute Asians</a></dt>
<dd class="delicious-extended">Her Mikuru cosplay was the best ^_^ :)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/cosplay">cosplay</a> <a href="http://delicious.com/rubenerd/cute">cute</a> <a href="http://delicious.com/rubenerd/japanese">japanese</a> <a href="http://delicious.com/rubenerd/anime">anime</a>)<p></p></dd>
</dl> 
