---
title: 'Links for 2009-06-10' 
date: "2009-06-10T10:01:26+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://macmatte.wordpress.com/">MacMatte</a></dt>
<dd class="delicious-extended">An official blog encouraging Apple to bring back the matte display options in MacBooks. Much needed.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/apple">apple</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/blog">blog</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://news.bbc.co.uk/2/hi/technology/8089508.stm">BBC NEWS | Technology | Twitter hype punctured by study</a></dt>
<dd class="delicious-extended">I use and love Twitter because I have so many dear international friends on it, because it&#39;s fun and because it&#39;s a pleasant distraction from studying. While I have largely given up on blog aggregators because Twitter and trending topics let me know when things happen almost instantly (India&#39;s new PM, the recent Air France crash appeared before anything came through Google Reader), people claiming it&#39;s the future of journalism and the greatest thing since grilled cheese sandwiches I think could benefit from a reality check personally.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/twitter">twitter</a> <a href="http://delicious.com/rubenerd/internet">internet</a> <a href="http://delicious.com/rubenerd/bbc">bbc</a>)<p></p></dd>
</dl> 
