---
title: 'Links for 2009-08-27' 
date: "2009-08-27T10:02:58+10:00"
year: "2009"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.otadesho.com/">Ota desho? ota desu! · Otaku blog based in Melbourne, Australia ~ otadesho.com</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a> <a href="http://delicious.com/rubenerd/games">games</a> <a href="http://delicious.com/rubenerd/figures">figures</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://bloggerdesign.com/593/exposure/">6 Simple Ways To Give Older Blog Posts Additional Exposure &#8211; BloggerDesign.com</a></dt>
<dd class="delicious-extended">&quot;As blogs grow, and new content gets created, old blog posts can quickly get lost in the archives. As much as bloggers try to keep everything organized, it’s hard to ensure that all posts get the exposure they deserve. However, there are ways to help ensure that older posts get additional exposure.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/blogs">blogs</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/wordpress">wordpress</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.debian-news.net/">Debian-News</a></dt>
<dd class="delicious-extended">&quot;Debian-news is about one simple thing &#8211; news about Debian GNU/Linux and the top free distributions based on Debian GNU/Linux.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/debian">debian</a> <a href="http://delicious.com/rubenerd/linux">linux</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a>)<p></p></dd>
</dl> 
