---
title: 'Links for 2009-09-21' 
date: "2009-09-21T10:02:13+10:00"
year: "2009"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://au.php.net/manual/en/function.strpos.php">PHP: strpos &#8211; Manual</a></dt>
<dd class="delicious-extended">&quot;strpos — Find position of first occurrence of a string&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/programming">programming</a> <a href="http://delicious.com/rubenerd/php">php</a> <a href="http://delicious.com/rubenerd/web">web</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.sitecrafting.com/blog/php-patterns-part-ii/">SiteCrafting &gt; Blog &gt; PHP Patterns, Part II</a></dt>
<dd class="delicious-extended">&quot;In this installment, we will be looking at two patterns that have been &#39;borrrowed&#39; from Java. If you&#39;ve had any development experience with J2EE, you are probably well aware of how handy Data Access Objects and Value Objects can be. If you haven&#39;t, don&#39;t fret! This article was written especially for you!&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/programming">programming</a> <a href="http://delicious.com/rubenerd/php">php</a> <a href="http://delicious.com/rubenerd/web">web</a> <a href="http://delicious.com/rubenerd/design">design</a> <a href="http://delicious.com/rubenerd/sql">sql</a> <a href="http://delicious.com/rubenerd/databases">databases</a>)<p></p></dd>
</dl> 
