---
title: 'My little loaf of bread' 
date: "2009-10-31T12:12:32+10:00"
year: "2009"
category: Thoughts 
tag: 
- baking
- bread
- cooking
- food
- photos
- tastyness 
---
<p><img src="https://rubenerd.com/files/2009/tiny-home-baked-bread-tastyness-_4058231748_o@1x.jpg" alt="Tiny home baked bread! Tastyness :)" srcset="https://rubenerd.com/files/2009/tiny-home-baked-bread-tastyness-_4058231748_o@1x.jpg 1x, https://rubenerd.com/files/2009/tiny-home-baked-bread-tastyness-_4058231748_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>To celebrate getting over my bad flu thingy I baked a tiny loaf of bread for dinner from scratch to have with jam. The crust was hollow in some places, cracked on the bottom (tee hee) and slightly burnt on one side, but it was really scrummy and just what I needed. :)</p>
<p>It&#39;s only the second time I&#39;ve baked bread, I&#39;m learning new things each time I try. More than anything it helped me to forget all my troubles while I concentrated on it which was also just what I needed.</p>
 
