---
title: 'Affordable MacBook Air, Green Hummers' 
date: "2009-07-03T06:08:05+10:00"
year: "2009"
category: Hardware 
tag:
- advertising
- apple
- hummer
- infocomm
- macbook-air
- rant 
---
<p><img src="https://rubenerd.com/files/uploads/green_hummer.jpg" alt="A Green Hummer. I take that to mean just the colour!" style="height:315px; width:500px; display:inline; border:0px" /></p>
<p>Just got another newsletter from Apple talking about some of the features of their MacBook Air notebook computer:</p>
<blockquote><p>The advantages of a solid-state drive. With no moving parts, solid-state drives enhance durability and use less power. And now with MacBook Air, this 128GB option is more affordable than ever. <a href="http://www.apple.com/au/macbookair/features.html?cid=AOS-AU-149028-C0010062">Learn more</a></p></blockquote>
<p>Don&#39;t get me wrong Apple, I absolutely adore your products and would love to own this device your advertising, but referring to <em>anything</em> about the MacBook Air as &quot;affordable&quot; is like The Governator saying he&#39;s helping the environment by using hybrid Hummer… <em>in context</em> it doesn&#39;t really mean much!</p>
<p>As a token of apology, I would gladly accept a MacBook Air from Apple. If you work in their PR department, <a href="//rubenerd.com/about/#contact">feel free to contact me</a>. Cheers :-)</p>
 
