---
title: 'Tokiha Mai mocking my messy room' 
date: "2009-08-16T02:48:37+10:00"
year: "2009"
category: Anime 
tag: 
- anime-figures
- mai-hime
- mess
- my-hime
- pointless
- tokiha-mai 
---
<p><img src="https://rubenerd.com/files/2009/mai-mocking-my-bedroom-mess_3824604677_o@1x.jpg" alt="Mai mocking my bedroom mess" srcset="https://rubenerd.com/files/2009/mai-mocking-my-bedroom-mess_3824604677_o@1x.jpg 1x, https://rubenerd.com/files/2009/mai-mocking-my-bedroom-mess_3824604677_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>I&#39;ve been spending my afternoon programming in my room because my sister is still feeling crook and I don&#39;t want to wake her with my loud bucking spring keyboard. I blame her condition on the fact she hasn&#39;t ever put a <a href="//rubenerd.com/productnose/">Toblerone box on her nose</a>. Yeah, that works.</p>
<p>Having spent a few hours in here I&#39;ve noticed just how messy it is, from my chair here I can count four empty takeaway coffee cups, nine coat hangers, an upside down box fan, a power supply cable that I&#39;ve forgotten what it plugs in to, a rolled up quilt I took off the bed last night when it got too warm, and several tons of documentation and other paper strewn everywhere back when I was looking for my Oracle serial number.</p>
<blockquote><p><strong>ASIDE:</strong> This has got to be one of the most ridiculous premises for a blog post I’ve ever done, except for literally everything in the <a href="//rubenerd.com/nonsense/">nonsense</a> category.</p></blockquote>
<p>Just from where you&#39;re sitting now, how much mess can you see? If your room is spotless don&#39;t answer, I don&#39;t want your snide judgement ;).</p>
 
