---
title: 'On online mail, email and mail online' 
date: "2009-06-12T12:14:51+10:00"
year: "2009"
category: Internet
tag:
- email
- infocomm
- journalism
- pointless 
---
<p><a href="http://www.dailymail.co.uk/sciencetech/index.html"><img src="https://rubenerd.com/files/uploads/screenie.mailonline.png" style="height:210px; width:500px;" alt="Screenshot showing Mail Online" /></a></p>

<p>What a quaint way to refer to email :-D</p>
 
