---
title: 'Huge evening rainbow in Mawson Lakes' 
date: "2009-09-04T06:54:04+10:00"
year: "2009"
category: Media
tag:
- adelaide
- mawson-lakes
- photos
- pretty
- rainbow 
---
<p><img src="https://rubenerd.com/files/2009/huge-rainbow-in-mawson-lakes_3886790348_o@1x.jpg" alt="Huge rainbow in Mawson Lakes" srcset="https://rubenerd.com/files/2009/huge-rainbow-in-mawson-lakes_3886790348_o@1x.jpg 1x, https://rubenerd.com/files/2009/huge-rainbow-in-mawson-lakes_3886790348_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>By the time I rushed home and grabbed my D60 it was far less vivid, but it was still pretty.</p>
 
