---
title: 'Importance of mentors to young people' 
date: "2009-07-03T08:29:41+10:00"
year: "2009"
category: Thoughts 
tag: 
- education
- singapore 
---
<p><img src="https://rubenerd.com/files/2009/flinders-ranges_2917608685_o@1x.jpg" alt="Flinders Ranges" srcset="https://rubenerd.com/files/2009/flinders-ranges_2917608685_o@1x.jpg 1x, https://rubenerd.com/files/2009/flinders-ranges_2917608685_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>I was asked by a friendly person this afternoon who&#39;s writing a book what I thought of the importance of mentors to young people. In 140 character Twitter goodness:</p>
<blockquote><p> I’d say mentors are applied educators that take help young people develop. You can’t learn such experience from books or classes.</p></blockquote>
<p>I can really attest to this. When I left high school in 2005 I got a job a Veritas writing Perl and MySQL code for a friend of my mother here in Singapore. I drew a paycheck, I had a desk in their offices, I worked alongside other people, and I reported to someone who was genuinely interested in my progress and offered patient help and guidance. I learned more from studying and working with Mr Whiting for several months than I have from several long years of university education that are still ongoing. It&#39;s absolutely, 100% true, and I suspect a great number of people who&#39;ve experienced both would agree with me.</p>
<p>Unfortunately the prestige bestowed upon people with a magical piece of paper that says that person completed a university degree is still far higher than those who developed experience and character in the workforce under the watchful eye of a mentor. I think this really needs to change.</p>
 
