---
title: 'Messing with light at night' 
date: "2009-11-26T01:51:09+10:00"
year: "2009"
category: Media
tag:
- darkness
- night
- photos 
---
<p><img src="https://rubenerd.com/files/2009/messing-with-light-at-night_4133755942_o@1x.jpg" alt="Messing with light at night" srcset="https://rubenerd.com/files/2009/messing-with-light-at-night_4133755942_o@1x.jpg 1x, https://rubenerd.com/files/2009/messing-with-light-at-night_4133755942_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<blockquote><p>Had trouble sleeping, so took my D60 out in the middle of the night and swirled it around a bit. Don’t know why.</p></blockquote>
 
