---
title: 'Got a copy of Microsoft Dinosaurs from 1993!' 
date: "2009-10-20T10:34:46+10:00"
year: "2009"
category: Software
tag:
- ebay
- infocomm
- microsoft-home
- nostalgia
- retrocomputing
- shopping
- windows-3-0
- windows-3-1 
---
<p><img src="https://rubenerd.com/files/2009/retro-cd-rom-disc-from-1993_4029214316_o@1x.jpg" alt="Retro CD-ROM disc from 1993!" srcset="https://rubenerd.com/files/2009/retro-cd-rom-disc-from-1993_4029214316_o@1x.jpg 1x, https://rubenerd.com/files/2009/retro-cd-rom-disc-from-1993_4029214316_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>Barely had I finished that previous <a href="//rubenerd.com/dos-nostaligia-links/">whimsical post about DOS nostalgia</a> than something arrived in the mail that I just have to ramble on about here now too! I&#39;ll pretend it was intentional. Yeah, that works :).</p>
<p><!--oldmore--></p>
<p>In 1994 or 1995 after we&#39;d had our original DOS machine for a while, my dad  invested a small fortune upgrading it with a Creative Hex Speed CD-ROM drive and SoundBlaster card. By that point we&#39;d long since upgraded from Windows 3.0 MME to Windows 3.1 which meant we could now finally run some of the Microsoft Home multimedia titles we&#39;d been using at school and at my grandfather&#39;s place.</p>
<p>Since then I&#39;ve long since moved over to the Mac and FreeBSD and don&#39;t run Windows any more, but I&#39;ve been really impressed by how DOSBox has been able to cope under the stress of running Windows 3.1, then running these old CD-ROM titles!  So far we have:</p>
<ul>
<li>Dangerous Creatures</li>
<li>Dinosaurs</li>
<li>Explorapedia: The World of People</li>
<li>Explorapedia: The World of Nature</li>
<li>Musical Instruments</li>
<li>Oceans</li>
</ul>
<p>It&#39;s surprising the company responsible for the tacky and clumsy Windows XP, Vista, Windows 7 and Office 2007 interfaces were able to come up with such polished, cool software before. While the idea of the multimedia CD-ROM has long since been eclipsed by the web, these were fantastic products when they came out.</p>
<p>Anyway I can now add Dinosaurs to our collection (well look at that, I already did!) having picked it up on eBay for $8 including shipping!</p>
 
