---
title: 'Microsoft’s most epic fail of all time, researching Cibai!' 
date: "2009-05-19T06:57:15+10:00"
year: "2009"
category: Software
tag:
- cibai
- cultural-ignorance
- hokkien
- infocomm
- malaysia
- microsoft
- not-what-they-thought-it-meant
- singapore 
---
<p><img src="https://rubenerd.com/files/2009/3544747349_36ca394977_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3544747349_36ca394977_o@1x.jpg 1x, https://rubenerd.com/files/2009/3544747349_36ca394977_o@2x.jpg 2x" alt="Microsoft Research's Cibai" style="width:500px; height:312px;" /></p>

<p>I&#39;ve felt embarrassed for Microsoft when they introduced the Zune, Windows Vista, the Office Ribbon interface, Windows Genuine Advantage, MSN and Windows Live search, the near constant security threats, their latest announcement of a Windows 7 version that will only run 3 applications at a time… but this could very well be their crowning achievement.</p>
<p>As someone who grew up in Singapore, I was buckled over in fits of laugher when I saw this report from Microsoft&#39;s Research division!</p>
<blockquote><p>
<a style="font-weight:bold" href="http://research.microsoft.com/apps/pubs/default.aspx?id=78035">Cibai: An abstract interpretation-based static analyzer for modular analysis and verification of Java classes</a></p>
<p>We introduce Cibai a generic static analyzer based on abstract interpretation for the modular analysis and verification of Java classes. We present the abstract semantics and the underlying abstract domain, a combination of an aliasing analysis and octagons.</p>
<p>We discuss some implementation issues, and we compare Cibai with similar tools, showing how Cibai achieves a higher level of automation and precision while having comparable performances.</p></blockquote>
<p>Clearly they don&#39;t have any Hokkien creole speakers in their ranks! Then again to be fair, I&#39;m sure plenty of Microsoft employees in their research division would like nothing more than to do more cibai research ;) A cibai […] analyser? Cibai […] tools?! :D</p>
 
