---
title: 'Bing ain’t a Wolfram Alpha, Google, Yahoo' 
date: "2009-06-01T07:35:14+10:00"
year: "2009"
category: Internet
tag:
- business-envy
- google
- infocomm
- microsoft
- msn
- windows-live
- wolfram-alpha 
---
<p><img src="https://rubenerd.com/files/2009/3584282769_f0f11a584e_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3584282769_f0f11a584e_o@1x.jpg 1x, https://rubenerd.com/files/2009/3584282769_f0f11a584e_o@2x.jpg 2x" alt="Bing thinks I'm in the UK?" style="width:500px; height:312px;" /></p>

<p>Microsoft&#39;s new <a href="http://twitter.com/tylermassey/status/1989497622">Chandler Bing</a> search engine thinks I&#39;m in the United Kingdom. I&#39;m flattered that they&#39;ve correctly recognised the history of my mum&#39;s side of the family, but it sure ain&#39;t true now! is it because I&#39;m using the GB English version of Firefox? Or that I have the <a href="https://addons.mozilla.org/en-US/firefox/addon/3366">British English Dictionary</a> plugin?</p>
<p>This observation aside I yawned, closed the tab and opened <a href="http://www.wolframalpha.com/ ">Wolfram Alpha</a>. Now there&#39;s a company doing something interesting, fresh and different with data and search!</p>
<p>I know this dead horse has been beaten to… death, but Microsoft needs to stop doing all this haphazardly branded online stuff, divest themselves of their existing assets, and work on Office and Windows. The only people I&#39;ve seen with MSN or Windows Live search boxes on their pages are people on Microsoft&#39;s payroll, or those with their material hosted on their servers, and I have very serious doubts Mr Chandler will be any different.</p>
<p>I guess they could <a href="http://antitrust.slated.org/www.iowaconsumercase.org/011607/3000/PX03096.pdf">do some astroturfing</a>.</p>
 
