---
title: 'If you’ve never tried Midnight Commander…' 
date: "2009-05-22T06:00:34+10:00"
year: "2009"
category: Software
tag:
- bsd
- freebsd
- infocomm
- mac-os-x
- midnight-commander
- reviews 
---
<p>Perhaps it&#39;s because the first computer I ever used had DOS on it, but ever since I started using it in late 2005 I absolutely adore the <a href="http://www.midnight-commander.org/">Midnight Commander</a> and use it almost exclusively to deal with file management tasks on my Macs and FreeBSD machines. If you&#39;ve never used it before, you&#39;re missing out on a treat.</p>
<p>Midnight Commander is a text based, &quot;orthodox&quot; file maneger that adopts the interface of the venerable <a href="http://en.wikipedia.org/wiki/Norton_Commander">Norton Commander (Wikipedia)</a> on DOS. The screen is split into two panes for showing the contents of folders, along with a menu bar, a shortcut key help pane at the bottom and a prompt you can use to enter regular shell commands, view their results and return. I often joke that last feature means you often never have to leave!</p>
<p>As Norton Commander did in DOS, Midnight Commander can be used to easily create and modify your file system without having to use Unix commands with possibly confusing arrays of options. If you&#39;re like me you already know how to create folders and symbolic links, move files, change permissions, rename folders and so forth, but as the existence of numerous graphical file managers attests to, sometimes it&#39;s just easier for larger projects and tasks to let a program do it for you.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.mc.png" style="width:495px; height:339px; border:0px; display:inline" alt="Midnight Commander Light" /><br /><cite>Midnight Commander Light &gt; in urxvt &gt; in Openbox &gt; on FreeBSD!</cite></p>
<p>Regardless of whether you choose to use the original Midnight Commander or <a href="http://mc.linuxinside.com/cgi-bin/dir.cgi">Midnight Commander Light</a> they&#39;re also a cinch to configure via easy to use dialog boxes under the Options menu, no need to edit text files then relaunch the applications! Things that can be customised include the view (between horizontal or vertical panes), colour schemes, file highlighting and audible alerts. They also contain a slew of other features such as virtual filesystems which I admit I haven&#39;t even tried yet!</p>
<p>Most people who use Unix-like operating systems probably already are well aware of Midnight Commander, but for those of you just giving Linux, FreeBSD and so forth a try, you might want to look into it. The fact you don&#39;t need to launch an X11 graphical environment to do file management tasks is a huge plus, and you can even use it to easily maintain systems remotely through a secure shell. Very cool.</p>
<p>Midnight Commander is available from <a href="http://pkgsrc.se/sysutils/mc">NetBSD&#39;s pkgsrc under <code>/sysutils</code></a>, the <a href="http://www.freshports.org/misc/mc/">FreeBSD ports system under <code>/misc</code></a> and Mac OS X&#39;s <a href="http://trac.macports.org/browser/trunk/dports/sysutils/mc/Portfile">MacPorts under <code>/sysutils</code></a> amongst others.</p>
 
