---
title: 'Mummy, melodrama, Penn and Teller Bullshit' 
date: "2009-11-13T12:44:57+10:00"
year: "2009"
category: Thoughts 
tag: 
- debra-schade
- far-too-long
- mummy 
---
<p><a href="http://xkcd.com/502/"><img src="https://rubenerd.com/files/uploads/xkcd.502.dark_flow.png" alt="XKCD 502" style="height:145px; width:500px; display:inline;" /></a></p>
<p>At the risk of sounding melodramatic and drawing too much attention to myself, I often find talking about this kind of stuff helps. And heck, if I can&#39;t blog about on my blog, where else do I blog about it?</p>
<p><!--oldmore--></p>
<p>It was an episode of <a href="http://en.wikipedia.org/wiki/Penn_%26_Teller:_Bullshit!">Penn &amp; Teller Bullshit</a> discussing how television psychics who claim they can talk to the dead are performance artists and nothing more. My hero and an awesome guy Penn Jillette had taken an uncharacteristically stern yet humbled tone on screen as he started talking about both his parents who had recently passed on. He bowed his head, closed his eyes then looked back at the screen and said <em>&quot;There isn&#39;t a day that goes by that I don&#39;t miss them&quot;</em>. I&#39;ve since started following Penn on Twitter and he <a href="http://twitter.com/pennjillette/status/5526110774">posted similar sentiment recently</a>:</p>
<p><a href="http://twitter.com/pennjillette/status/5526110774"><img src="https://rubenerd.com/files/uploads/screenie.twitter.penn.mum.png" alt="Penn Jillette on Twitter" style="height:230px; width:420px; display:inline;" /></a></p>
<p>Reading this along with all the blog posts Dave Winer has been publishing about his recently departed dad on <a href="http://scripting.com/">Scripting News</a>, I&#39;ve been thinking a lot about my mum again even more so than usual. Over the last few days it&#39;s been really, really hard to concentrate and my dreams have been a mixture of happiness and crushing despair when I wake up. I also made the mistake of visiting the Whole Wheat Radio page <a href="http://wholewheatradio.org/wiki/index.php/Mother%27s_Day">we all wrote together in 2006</a> talking about our mums back when she was still alive.</p>
<p>In a kind of cruel paradox, I believe her illness drew us even closer as friends which made it even more difficult to say goodbye. She&#39;d often be in a hospital ER for weeks at a time after having cardiac arrests or a host of other treatment complications, so it was normal for me not to have her around aside from visits for extended periods of time. Part of me still expects to have her arrive home back in Singapore or even here in the clothes she last went to the hospital in and asking what happened while she was gone. I expect people who&#39;ve lost loved ones in war have the exact same kind of feelings.</p>
<p><img src="https://rubenerd.com/files/2009/flinders-ranges_2918473852_o@1x.jpg" alt="Flinders Ranges" srcset="https://rubenerd.com/files/2009/flinders-ranges_2918473852_o@1x.jpg 1x, https://rubenerd.com/files/2009/flinders-ranges_2918473852_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>I wouldn&#39;t call it a midlife crisis given I&#39;m 23, but up until she left us my primary motivations in life all had something to do with her. I wanted to do well in high school and university so I could be eligible for a Singapore work permit so I could be around her again, to take care of her well into her old age  and help financially with her medical bills. I wanted to help give her back all the things her illness had so cruelly robbed from her. I wanted to sit with her and loudly laugh our arses off to British comedy on my laptop as we sat at a coffee shop. I wanted to make her breakfast in bed, to be there to help her up the stairs, to give her bear hugs and to remind her that her condition and other family issues were not her fault. I wanted to take care of her forever, and above all I wanted to make her happy.</p>
<p>She was an <strong>extraordinarily powerful force to want to succeed</strong>, beyond anything a self help book could teach. To be blunt, I don&#39;t know who (or what) I&#39;m living for now. After sailing so strong towards a definite destination for over 12 years, there&#39;s no longer wind in my sails and my ship doesn&#39;t have a rudder or a compass.</p>
<blockquote><p><strong>ASIDE:</strong> And to those religious people on Twitter who said I lack direction because I haven’t accepted their particular god(s), that’s a cheap shot even for you guys :P.</p></blockquote>
<p>I&#39;m not the first person to lose a loved one so soon from a debilitating disease, and heck I&#39;m a damned lucky person in other aspects of my life. I suppose all I&#39;m looking for is purpose without her in my life any more, because since she&#39;s been gone I haven&#39;t found it.</p>
<p>Don&#39;t worry, this will be the last time I blog about this. I will resist future temptation to!</p>
 
