---
title: 'I love my new Unicomp buckling spring keyboard!' 
date: "2009-07-09T07:47:36+10:00"
year: "2009"
category: Hardware 
tag:
- infocomm
- keyboards
- reviews
- shopping
- unicomp 
---
<p><img src="https://rubenerd.com/files/2009/my-new-unicomp-keyboard_3703984972_o@1x.jpg" alt="My new Unicomp keyboard!" srcset="https://rubenerd.com/files/2009/my-new-unicomp-keyboard_3703984972_o@1x.jpg 1x, https://rubenerd.com/files/2009/my-new-unicomp-keyboard_3703984972_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>Well ladies and gentleman I am typing this blog post from my brand new custom <a href="http://pckeyboards.stores.yahoo.net/en104bl.html">Unicomp SpaceSaver</a> buckling spring computer keyboard! Though it may look like a regular keyboard, it&#39;s as far from a modern keyboard inside as you could possibly get. From <a href="http://en.wikipedia.org/wiki/IBM_Model_M">Wikipedia&#39;s article on the IBM Model M</a> which this keyboard traces it&#39;s ancestry to:</p>
<blockquote cite="http://en.wikipedia.org/wiki/IBM_Model_M"><p>[…] Model M keyboards have been prized by computer enthusiasts and heavy typists because of the tactile and auditory feedback resulting from a keystroke.</p>
<p>The Model M is also regarded as an extremely durable piece of hardware. Many units manufactured since the mid 1980s are still in use today, while the computers and monitors of the day are obsolete. Unicomp, which now owns the rights to the design, now sells the keyboards. Recently, the keyboards have made a comeback amongst writers and computer techs.</p></blockquote>
<p>Let me just say right up front this keyboard feels absolutely amazing! It&#39;s almost impossible to describe, but typing on regular keyboards now makes me feeling like I&#39;m pressing on a squishy pizza. It&#39;s so responsive; each key is registered and makes a clicking sound when a button is pressed down, not when the key snaps back up again. It doesn&#39;t sound like that would make a big difference, but it does. It&#39;s like the difference between sleeping on a hardwood floor or a mattress.</p>
<p>The other benefit being a bucking spring type keyboard is it makes such a satisfyingly loud noise! What I type on this thing may not have been any different to what I was entering on my MacBook Pro&#39;s internal keyboard, but it sounds like real work is being done. This thing is louder than all outdoors; might need to start closing my bedroom door here while I work or using the study in our house in Adelaide instead of the dining room to prevent my dad and sister going absolutely crazy!</p>
<p><img src="https://rubenerd.com/files/2009/unboxing-my-unicomp-keyboard_3703165547_o@1x.jpg" alt="Unboxing my Unicomp keyboard!" srcset="https://rubenerd.com/files/2009/unboxing-my-unicomp-keyboard_3703165547_o@1x.jpg 1x, https://rubenerd.com/files/2009/unboxing-my-unicomp-keyboard_3703165547_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>I got the <a href="http://pckeyboards.stores.yahoo.net/en104bl.html">SpaceSaver</a> model instead of the full sized <a href="http://pckeyboards.stores.yahoo.net/customizer.html">Customizer</a> which means the keys are full size but the bezel around the case is much thinner. This means I&#39;ll be able to put it more easily in luggage when I&#39;m flying from Adelaide to Singapore and back.</p>
<p>I was tempted to get the retro beige colour like our IBM machine from the late 1980s at home, but ended up getting the grey and black model so it matched my other computer hardware better. According to the pictures the colour and style looked just like a Commodore 16, and looking at them side by side now here I can confirm it&#39;s true! It&#39;s like I&#39;m using a slimmer, buckling spring Commodore 16 with a numeric keypad to code into my MacBook Pro, brilliant!</p>
<p>Another great feature is just how easy it is to remove the keys and place them back again. One of the first things I did was to swap the Windows (Command key on the Mac) and Alt keys around then change my keyboard mappings in System Preferences to match the layout of a regular Mac keyboard. <a href="http://jseliger.com/2009/01/31/ibm-model-m-unicomp-customizer-keyboard-update-mac-edition/">According to this reviewer</a> it&#39;s possible to remove the offensive Windows logo entirely and order some custom Mac keys from Unicomp you can stick in their place. Might look into that.</p>
<p>I just don&#39;t know how to articulate what a sheer delight it is to type on this keyboard, it is absolutely amazing. The only scary thing now is, I may never want to type on anything else ever again! And I may be killed for making too much noise. What&#39;s the point of having a buckling spring keyboard without making noise though I ask you?</p>
<p>If you want to grab a Unicomp bucking spring keyboard made to the same specifications as the original IBM Model M, rush over to their website and place and order. I am satisfied beyond words with their sales support and their products!</p>
<p>I will be taking more photos of it and putting them in my <a href="https://www.flickr.com/photos/rubenerd/sets/72157621036604909/">Flickr Unicomp SpaceSaver gallery</a> you can check out if you&#39;re interested.</p>
 
