---
title: 'How NASA can crash lunar spacecraft' 
date: "2009-10-09T12:23:18+10:00"
year: "2009"
category: Thoughts 
tag: 
- moon
- nonsense
- science
- space
- technology 
---
<p><img src="https://rubenerd.com/files/2009/the-moon-in-a-clear-sky_3678308392_o@1x.jpg" alt="The moon in a clear sky" srcset="https://rubenerd.com/files/2009/the-moon-in-a-clear-sky_3678308392_o@1x.jpg 1x, https://rubenerd.com/files/2009/the-moon-in-a-clear-sky_3678308392_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>BBC World reports from The World which is useful for me because I live there. Genius, right? One of their latest stories concerns a NASA mission whereby they&#39;ll be deliberately crashing two spacecraft into the moon to determine whether or not water ice exists.</p>
<blockquote><p><a href="http://twitter.com/bbcworld" style="font-weight:bold">@bbcworld</a>: Nasa is set to deliberately crash two spacecraft into the Moon to try to learn whether there is water-ice on i.. <a href="http://news.bbc.co.uk/2/hi/science/nature/8297811.stm">http://bit.ly/hqUYM</a></p></blockquote>
<p>Well that blockquote didn&#39;t really introduce anything I hadn&#39;t already mentioned. I&#39;m better at summarising than I thought I was.</p>
<p>Leaving aside the knee jerk reaction I had initially (&quot;oh great, humans are going to start dumping garbage on the moon now!&quot;) I thought of a way they could accomplish this without having to invest money in new procedures. Get a team together and inform them they want a probe that will orbit the moon, and make sure some of the contractors are programming in metres, some in feet. We know this works already!</p>
<p>I say this with confidence because I&#39;m perfect and never make mistakes, of course.</p>
 
