---
title: 'New MyUniSA home page launch' 
date: "2009-09-16T03:33:13+10:00"
year: "2009"
category: Internet
tag:
- browsers
- firefox
- infocomm
- opera
- outlook-sucks
- studies
- unisa
- university-of-south-australia 
---
<p><img src="https://rubenerd.com/files/2009/3924600205_61f455ee05_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3924600205_61f455ee05_o@1x.jpg 1x, https://rubenerd.com/files/2009/3924600205_61f455ee05_o@2x.jpg 2x" alt="New MyUniSA in Firefox 3.0.14" style="width:500px; height:255px;" /></p>

<p>The <a href="http://unisa.edu.au/">University of South Australia</a> which I am attending for university (surprising though it may seem) recently updated their MyUniSA student home page with more information and swishier graphics. So far I&#39;m liking it to the extent that it&#39;s good to have something new to look at after seeing the same thing for ages, and I like being able to define my own links and see the weather on the sidebar.</p>
<p>Unfortunately they&#39;re still using the dreadful Outlook Web Access interface for email which only works in it&#39;s enhanced mode in Internet Explorer 6 (ugh, don&#39;t get me started!) and granted I&#39;m sure very few of their users use Opera but the menubar looks a bit messed up even in version 10. The latter I can live with, but they really, really, REALLY need to ditch Outlook Web Access.</p>
 
