---
title: 'Eating Norwegian sandwiches in KL' 
date: "2009-07-18T01:52:50+10:00"
year: "2009"
category: Travel
tag: 
- food
- malaysia
- norway
- nostalgia
---
<p><img src="https://rubenerd.com/files/2009/norwegian-sandwich-shop-at-the-curve-in-damansara_3731405208_o@1x.jpg" alt="Norwegian sandwich shop at The Curve in Damansara" srcset="https://rubenerd.com/files/2009/norwegian-sandwich-shop-at-the-curve-in-damansara_3731405208_o@1x.jpg 1x, https://rubenerd.com/files/2009/norwegian-sandwich-shop-at-the-curve-in-damansara_3731405208_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>As I eluded in the previous post where I was <a href="//rubenerd.com/ebay-women-coffee/">talking about eBay nonsense</a>, earlier this week I spent two days and one night back in Kuala Lumpur. Doing errands mostly, nothing too exciting.</p>
<p>One thing I was able to do in the spare time before we <a href="http://www.aeroline.com.sg/">boarded the bus</a> back was to go to <a href="http://www.malaysiavacationguide.com/ikano.html">The Ikano Power Centre</a> in Damansara. Because my family lived here from 2006-07 my dad and I often went there to pick up <a href="http://ikea.com.my/homepage/default.asp">IKEA furniture</a> and we&#39;d always grab a bite to eat at the Norwegian sandwich shop. They desperately need to open a franchise in Singapore, their salmon sandwiches are incredible and the outdoor atmosphere was great.</p>
<p>It&#39;s funny the things we remember isn&#39;t it? Going through my blog archives here for example I remember <a href="//rubenerd.com/we-have-internet-and-telephone-again/">I talked a lot about internet and phone problems</a> in Malaysia. Also funny that the design of this site hasn&#39;t changed much at all since then either.</p>
<p>We <a href="//rubenerd.com/unpacking-singapore-day-one/">moved back to Singapore in June 2007</a>.</p>
 
