---
title: 'A Keith Olbermann Bobblehead!' 
date: "2009-11-01T11:25:03+10:00"
year: "2009"
category: Thoughts 
tag: 
- countdown
- figures
- funny
- keith-olbermann
- nonsense
- politics
- shopping
- usa 
---
<p><img src="https://rubenerd.com/files/uploads/photo.olbermann.bobble.jpg" alt="Keith Olbermann bobblehead" style="height:275px; width:275px; display:inline; padding:0em; background:transparent;" /></p>
<p>Having just talked about him yesterday (<a style="font-style:italic" href="//rubenerd.com/olbermann-countdown-podcast/">Keith Olbermann’s Countdown as a podcast</a>), I just found out through his show&#39;s site you can buy a Keith Olbermann bobblehead complete with a little desk!</p>
<blockquote cite="http://www.nbcuniversalstore.com/detail.php?p=88284&#038;v=nbc_msnbc"><p><a style="font-weight:bold" href="http://www.nbcuniversalstore.com/detail.php?p=88284&#038;v=nbc_msnbc">Keith Olbermann Bobblehead</a> &#8212; Now you can sit down with your favorite MSNBC personality, Keith Olbermann. This new bobblehead features the talk show host seated at his Countdown desk. You’ll have a front row seat for all the action.</p></blockquote>
<p>I reckon he&#39;d go great with my anime figures, they could all set up some sort of weird newsroom ^_^. If anyone wants to buy me one, let me know and I&#39;ll forward you my address. Don&#39;t all rush to offer at once!</p>
 
