---
title: 'Open house inspection peoples' 
date: "2009-11-29T03:21:13+10:00"
year: "2009"
category: Thoughts 
tag: 
- australia
- life
- rent 
---
<p><img src="https://rubenerd.com/files/2009/rented-house-inspection_3858055212_o@1x.jpg" alt="Rented house inspection" srcset="https://rubenerd.com/files/2009/rented-house-inspection_3858055212_o@1x.jpg 1x, https://rubenerd.com/files/2009/rented-house-inspection_3858055212_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>Having spent the last hour sitting here programming while my landlord has an open house and has prospective buyers walking through and having a tour, I now know what it feels like to be a goldfish in a bowl, or a zoo animal in a zoo. Yes, you read that right, a zoo animal in a zoo, as opposed to zoo animals in a goldfish bowl.</p>
<p><!--oldmore--></p>
<p>It&#39;s now been a couple of hours and I think I can break down the kind of people that walk through inspecting houses. Many people may be a part of multiple groups.</p>
<dl>
<dt style="font-weight:bold;">The Friendly Folk</dt>
<dd>These people ask how you’re going, say they love your anime wall hangings and say they’re impressed with the way you’ve maintained the house. They might even ask how your day is going!</dd>
<dt style="font-weight:bold;">The Inquisitive Folk</dt>
<dd>These people stray off from the realtor’s tour and interrupt what you’re doing so they can ask you more detailed questions than an ASIO agent.</dd>
<dt style="font-weight:bold;">The Third Person Folk</dt>
<dd>These people are aware the tenant is still here, but they insist on talking about the people who live there in the third person right in front of you.</dd>
<dt style="font-weight:bold;">The Arsehole Folk</dt>
<dd>These people voice loudly their disappointment about how much the property sucks and give you cold stares as they walk past.</dd>
<dt style="font-weight:bold;">The Mandarin Hokkien Folk</dt>
<dd>These people may be from Singapore or Malaysia and are unaware that the caucasian tenant who’s sitting there programming understands some of what they’re saying. They probably wouldn’t be so open if they knew ;).</dd>
</dl>
<p>Possibly more as the story develops!</p>
 
