---
title: 'MacBook Pro trackpad on OpenSolaris' 
date: "2009-08-05T12:32:26+10:00"
year: "2009"
category: Hardware 
tag:
- bsd
- errors
- freebsd
- infocomm
- mouses
- opensolaris
- sun-microsystems
- trackpads
- unix 
---
<p>My experimentation with <a href="http://opensolaris.org/">OpenSolaris</a> on my MacBook Pro (<a href="//rubenerd.com/opensolaris-macbook-pro/">Dual-booting OpenSolaris on a MacBook Pro</a>, <a href="//rubenerd.com/opensolaris-mac-partition-order/">OpenSolaris, MacBook Pro, partition order</a>) has come to an abrupt end, tragically because of only one basic but fundamental problem.</p>
<p>After trying it so I could run Java and Oracle stuff on it for my studies using the same OS they use at my university, it worked beautifully with all the internal hardware, <strong><a href="http://bugs.opensolaris.org/bugdatabase/view_bug.do%3Bjsessionid=d0e71261349c9d2a7fd0cdd40f74?bug_id=6477019">except the trackpad</a></strong>. The workaround proposed on various forums and newsgroups is to just use an external mouse which is simply not an option when I&#39;m in classes and only have a small desk to work on. I also think it&#39;s a bit ridiculous to expect to use a notebook computer and not expect to be able to use the internal mouse.</p>
<p>OpenSolaris booted from the CD was far more polished than any Linux distribution I&#39;ve tried, but I&#39;ve decided to wipe it off the drive and reinstall <a href="http://freebsd.org/">FreeBSD</a> in that partition which supports all my hardware out of the box so to speak. Not having the internal mouse working on a laptop is absolutely unworkable and a complete show-stopper.</p>
<p>Here&#39;s hoping the next release addresses this problem. I&#39;d love to use it; I even picked out a <a href="https://www.flickr.com/photos/maccu/2470487273/">snappy desktop background</a> to use with it!</p>
 
