---
title: 'Just ordered Snow Leopard' 
date: "2009-08-24T11:41:48+10:00"
year: "2009"
category: Software
tag:
- apple
- broke-daily-five-post-limit
- infocomm
- mac-os-x
- shopping
- snow-leopard 
---
<p><img src="https://rubenerd.com/files/uploads/banner_snowleopard_090824.jpg" alt="Snow Leopard" style="height:250px; width:204px; display:inline; border:0em; padding:0em;" /></p>
<p>I&#39;ve been so good these last few weeks restraining myself by not blogging more than five new posts a day, but this sudden, spur of the moment event desperately called for something to be posted… in this case quite literally! Sometimes I have to remind people I&#39;m hilarious otherwise they&#39;d forget you see.</p>
<p>Shortly after it went live here in Australia <a href="http://store.apple.com/au/product/MC223?mco=NzgxMTI1NA">I placed a pre-order</a> for <a href="http://www.apple.com/au/macosx/">Snow Leopard</a>! According to them it&#39;ll be shipped on the 28th.</p>
<p>Take that Windows 7 Starter, Windows 7 Home Basic, Windows 7 Home Premium, Windows 7 Business, Windows 7 Enterprise, Windows 7 Ultimate and Windows 7 Whatnot! :)</p>
<blockquote><p>
Dear Apple Customer,</p>
<p>Thank you for shopping at the Apple Store. We’re processing your order now.</p>
<p>Please visit <a href="http://www.apple.com/AustraliaOrderStatus">Order Status</a> to review, maintain, and track your order at any time.</p>
<p>If you have questions about Payment Details, What Happens Next, or Shipping and Delivery Details, please visit <a href="http://www.apple.com.au/support/store/">Customer Service</a>.</p>
<p>We will let you know by email when your order ships.</p>
<p>ORDER<br />
Part Number:   MC223Z/A<br />
Product Name:  Mac OS X 10.6 Snow Leopard<br />
Unit Amount (ex GST):    A$35.45<br />
Quantity:      1<br />
Net Amount (ex GST):     A$35.45<br />
Ships by:    By August 28th</p>
<p>ORDER SUBTOTAL: A$35.45<br />
GST AMOUNT: A$3.55</p>
<p>ORDER TOTAL: A$39.00
</p></blockquote>
<p>And to think it only seemed like yesterday when <a href="//rubenerd.com/mac-os-x-leopard-launch-in-singapore/">I was in Singapore for the launch of Leopard</a> and <a href="https://www.flickr.com/photos/rubenerd/sets/72157602716725832/">uploaded some photos</a>. Can&#39;t believe that was in 2007, time flies huh?</p>
<p><img src="https://rubenerd.com/files/2009/singapore-mac-os-x-leopard-launch_1760879666_o@1x.jpg" alt="Singapore Mac OS X Leopard launch!" srcset="https://rubenerd.com/files/2009/singapore-mac-os-x-leopard-launch_1760879666_o@1x.jpg 1x, https://rubenerd.com/files/2009/singapore-mac-os-x-leopard-launch_1760879666_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
 
