---
title: 'A refreshed Windows disgust rant!' 
date: "2009-01-10T08:07:18+10:00"
year: "2009"
category: Software
tag:
- bsd
- clamwin
- freebsd
- infocomm
- microsoft
- rant
- security
- windows 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.stupidxp.hardware.png" alt="Screenshot of Found New Hardware Wizard" style="height:385px; width:503px;" /><br /><cite>Your asking me for drivers for <em>&quot;Unknown?&quot;</em> Yeah, thanks!</cite></p>
<p>Given I&#39;ve spent the better part of the last few months defending how I was able to tolerate Windows in the past, you could be forgiven for thinking I was growing soft for the OS again. I admit I was feeling slightly nostalgic too. I remember Solitaire, I remember Reversi then Minesweeper, I remember pointless utilities such as WINVER.EXE and how Microsoft Word was called WINWORD.EXE to differentiate it from Word for DOS.</p>
<p>Well over the last few days I&#39;ve been working to reinstall Windows XP Tablet Edition on my dad&#39;s Fujitsu Lifebook after it contracted a series of persistent spyware infections. Let&#39;s just say it completely refreshed my disgust for the platform!</p>
<p><strong>Windows is an unabashed disaster.</strong> It really does have an inexcusably horrible and counter intuitive interface. While I put up with it back in the early years, it took me moving to FreeBSD and the Mac to really realise it. I mean, it is BAD.</p>
<p>First of all, Windows is so maddingly (is that a word?) verbose. I don&#39;t care that you can see a wireless network, I&#39;ll tell you when I want you to connect to one! I don&#39;t care that you&#39;ve 74% downloaded an update, just tell me when it&#39;s done! Don&#39;t tell me I don&#39;t have antivirus software installed after I just installed Windows fresh and therefore wouldn&#39;t have even had an opportunity to do so! I don&#39;t care what the serial number for my battery is, just tell me the percentage of power remaining! Don&#39;t patronise me by instructing me to click the Finish button when I&#39;m done a pointless three screen wizard that could have been condensed into a succinct one window screen. I know you&#39;ve found nine new hardware devices given I just installed Windows, so don&#39;t automatically shove nine consecutive Add New Hardware Wizard windows that when I close one another appears! Don&#39;t perform a Windows Update, then tell me to restart, then perform another Windows Update, then tell me to restart, then perform another Windows Update!</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.stupidxp.virus.png" alt="Screenshot of Windows Security Centre" style="height:141px; width:460px;" /><br /><cite>There is an anti-virus installed, it&#39;s called <a href="http://www.clamwin.com/">ClamWin</a> you jackarse! It&#39;s free and open source, why would you refuse to… oh wait.</cite></p>
<p>Then there are the downright, head-banging-on-a-table stupid ideas. Product Activation? Someone really thought that would make a difference while proposing it in a board room somewhere… and the others agreed with them?! They really thought repeatedly asking questions for the most mundane of tasks would somehow improve security? They really thought that unzipping a ZIP file needed a wizard? They really thought Areo Glass in Vista with all it&#39;s ugly translucency and the ugly blue and green XP interface were great?</p>
<p>I think if someone can survive the first 20 minutes of a fresh Windows install, they&#39;re prepared for anything. What a nerve wrecking experience. And to think less than 10 years ago I used to think this was normal!</p>
<p>Unfortunately my fabulous father doesn&#39;t have a choice and has to use Windows for his work. He&#39;s been having fun with my 800MHz iBook G3 with Mac OS X Tiger though, he said it&#39;s so simple and easy to understand… and there are no irritating stupid popup windows or balloons! He&#39;s said the same thing with my Armada M300 FreeBSD laptop with the beautifully crafted, lightweight and simple <a href="http://www.xfce.org/">Xfce Desktop</a> which you can <a href="http://www.xfce.org/about/tour">take a tour of here</a>.</p>
<blockquote><p><strong>ASIDE:</strong> Fortunately once you’ve pulled the reins and brought the Windows Beast under control it is possible to make it a more palatable machine to use. The trick is to launch Internet Explorer to download <a href="http://www.mozilla.com/">Firefox</a>, <a href="http://www.opera.com/">Opera</a> or another browser of your choice, then going to Add/Remove Programs and removing everything. From there you can download from Firefox or Opera everything you need.</p></blockquote>
<p>I think Windows users tend to label other things as difficult because it&#39;s just unlike how Windows does things, not necessarily because of any difference in technicality. <strong>The next person who tells me that Windows applications and hardware are easier to install than on Mac OS X or even FreeBSD will get a roaring, hearty laugh!</strong></p>
<p>Whew, I needed that :). Now if you&#39;d excuse me, I need to restart that blasted laptop. The network driver installation wizard has been sitting on the same screen at with the same 98% complete indicator for the last 45 minutes. It needs a fist through it, that&#39;d make it work. Unbelievable.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.stupidxp.hardware2.png" alt="Screenshot of Found New Hardware Wizard" style="height:385px; width:503px;" /></p>
<p>Okay it just finished. What, Hardware Add Failed? You can&#39;t find the driver you say? I just gave you the exact location where the darned drivers are you stupid, stupid, stupid operating system! Look again!</p>
<p>Why can&#39;t you <strong>just add a single line</strong> to your <code>/boot/loader.conf</code> or <code>/etc/rc.conf</code> file? Because it would be too hard? Yeah, that&#39;s right… a darn wizard that fails more than it works is much more user friendly!!!</p>
<p>That does it, it&#39;s 2am now and I&#39;m walking down to the 24 hour prata shop for a <a href="http://en.wikipedia.org/wiki/Roti_prata">bite to eat</a> and for some <a href="http://en.wikipedia.org/wiki/Teh_tarik">teh tarik</a>. That&#39;ll cool my nerves.</p>
 
