---
title: 'Perhaps 2009 isn’t a complete write off yet' 
date: "2009-01-17T09:06:50+10:00"
year: "2009"
category: Internet
tag:
- infocomm
- new-year
- news
- weblog
- year-2009 
---
<p><img src="https://rubenerd.com/files/2009/3176161209_ce65de7f09_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3176161209_ce65de7f09_o@1x.jpg 1x, https://rubenerd.com/files/2009/3176161209_ce65de7f09_o@2x.jpg 2x" alt="Singapore 2009 New Year Fireworks by Marco Weduwer" style="width:500px; height:401px;" /><br /><cite>Singapore 2009 New Year Fireworks by <a href="https://www.flickr.com/photos/21877627@N03/3176161209/">Marco Weduwer</a>.</cite></p>

<p>I was about ready to write off 2009 already after so many problems I had been having, but within 24 hours the year seems to have redeemed itself. Perhaps I&#39;ll be able to live through this year after all!</p>
<p>Starting from the 1st of January, the following internet problems had sprouted, but since Friday they&#39;ve all been fixed. Phew.</p>
<ol>
<li>Code injection attack (fixed)</li>
<li>Twitter account password failure (fixed)</li>
<li>Ourmedia account failure (no reply, moved to Internet Archive, fixed)</li>
<li>Grilled cheese sandwich maker firing out waffles instead (punched, fixed)</li>
<li>Couldn’t find Haskell book (finally found at Borders)</li>
<li>University blog database corrupted from old plugin (cleaned, fixed)</li>
</ol>
 
