---
title: 'Welcome back to the world America, we missed you' 
date: "2009-01-21T07:36:51+10:00"
year: "2009"
category: Media
tag:
- barack-obama
- inauguration
- joe-biden
- no-more-george-w-bush
- photos
- politics
- television
- usa 
---
<p><img src="https://rubenerd.com/files/2009/welcome-back-to-the-world-america-we-missed-you_3213356652_o@1x.jpg" alt="Welcome back to the world America. We missed you." srcset="https://rubenerd.com/files/2009/welcome-back-to-the-world-america-we-missed-you_3213356652_o@1x.jpg 1x, https://rubenerd.com/files/2009/welcome-back-to-the-world-america-we-missed-you_3213356652_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>Now just don’t screw it up.</p>
 
