---
title: 'A ridiculously pointless 1111 post celebration' 
date: "2009-01-25T04:56:20+10:00"
year: "2009"
category: Internet
tag:
- far-too-long
- infocomm
- llama
- pointless
- pointless-anime-references
- pointless-milestone
- weblog
- zero-no-tsukaima 
---
<p><img src="https://rubenerd.com/files/uploads/anime.zero.jpg" alt="Key visual from Zero no Tsukaima." style="height:316px; width:500px" /></p>
<p>If this post elicits from you response <code>x</code>, where <code>x</code> is the response shown above:</p>
<ol>
<li>I am pleased you found it so silly and therefore entertaining! Or…</li>
<li>To be truthful I’m not surprised! Or…</li>
<li>I’m shocked beyond belief and I’ll be checking to make sure you’re not trying to distract me while your partner steals my mobile phone.</li>
</ol>
<p>Ladies and gentlemen, if you&#39;ve been reading my blog in any great detail over the past twenty years, I would first question your memory given the posts on this site only stretch back as far as 2004.While I am humbled and flattered that you would admit to me that your loyalty stretches back some two decades, I must point out that for you to have been reading my blog for twenty years, you would have had to start reading posts since 1989 which presents a perplexing problems as said year falls a full fourteen years before anything I&#39;ve ever written here existed. And while I was using a computer in 1989 at the age of three, I hardly knew what I was doing and could barely read, let alone electronically construct prose. Unless <em>&quot;dajsdfhcaewiucvb&quot;</em> counts. Or <code>deltree C:\</code>. Whoops.</p>
<p>But I digress… as I tend to do infrequently do here and in regular conversation. See, I did it again. Ridiculous. Today we celebrate yet another ridiculous and overrated phenomena known as a pointless milestone. With the publishing of this post, the Rubenerd Blog will feature exactly 1,111 posts.</p>
<blockquote><p><strong>ASIDE:</strong> Who decided that infrequently and inflammable essentially mean the same thing as their non in- appended component words? Should I start saying I inpodcast? English really is a silly language!</p></blockquote>
<p><a href="http://en.wikipedia.org/wiki/Llama"><img src="https://rubenerd.com/files/uploads/250px-Llama,_peru,_machu_picchu.jpg" alt="" style="height:336px; width:250px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" /></a>Let us deconstruct this interesting number down for a second and make a few observations.</p>
<ol>
<li>If spelled out, the number one thousand, one hundred and eleven is the only number which contains the world <em>&quot;one&quot;</em> in <em>every single word</em>. Go ahead, try looking for others.<p></p></li>
<li><code>1111</code> has the same four numbers in succession without interruptions, unless you use commas to visually aid people in reading the number in the case of <code>1,111</code> or <code>1'111</code> or <code>1<em>sandwich</em>111</code>.<p></p></li>
<li><code>1111</code> in decimal base 10 is <code>1111</code>, surprising though it may seem. <code>1111</code> in binary base 2 is only <code>15</code>, a far less impressive number.<p></p></li>
<li><code>1111</code> is the simplest four digit number to write, besides <code>0000</code> which isn't even really there because it's nothing.<p></p></li>
<li>The addition problem <code>1+1+1+1</code> is one of the few sums that even the most uneducated primary school student and the above-average intelligence politician can perform.<p></p></li>
<li><code>1111</code> does not contain the number <code>11</code> twice, rather the number <code>111</code> preceded or followed by <code>1</code>.<p></p></li>
</ol>
<p>Don&#39;t worry though, for if I have bored you to tears, panic, rage or a perplexing combination of all three, you can take a small measure of comfort knowing that the next time I could conceivably create a long winded and pointless post such as this one with little merit or value to any society let alone our own, it would have to be post 11111, a full 10000 posts ahead of this one. Given a fortune teller told me I would be hit by a bus later this year, it is doubtful I will ever reach that number.</p>
<p>Thank you, and have a pleasant morning. I&#39;m not Bill Kurtis.</p>
 
