---
title: 'Gong Xi Fa Cai and Happy Australia Day!' 
date: "2009-01-27T12:30:16+10:00"
year: "2009"
category: Thoughts 
tag: 
- australia
- chinese-new-year
- holidays
- singapore
---
<p><img src="https://rubenerd.com/files/2009/3227651923_60515915b6_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3227651923_60515915b6_o@1x.jpg 1x, https://rubenerd.com/files/2009/3227651923_60515915b6_o@2x.jpg 2x" alt="Photo by zipped06 on Flickr of Singapore last night." style="width:500px" /></p>

<p><cite>Photo by <a href="https://flickr.com/photos/roughcutmedia/">zipped06 on Flickr</a> of Singapore last night (CNYE). Literally the only time of the year when none of the lights are on in the office towers!</cite></p>

<p>The only times when Singapore and Australia have public holidays at the same time is generally if they&#39;re Christian or British holidays. In this case though Chinese New Year and Australia Day fall on the same day, so I could call my grandfather in Firefly in rural New South Wales and say hello during the day. It&#39;s nice when the moon decides to usher in a new lunar new year on Australia day, how decent of it!</p>
<p>Chinese New Year is of course the biggest holiday in Singapore. We have Christmas, Hari Raya, Deepavali and Vesak days off for the respective faiths here, but the two day Chinese New Year holiday is the time when Singapore feels the most like a Western country around Christmas. The roads are practically deserted; the hugely crowded Orchard Road shopping precinct can be navigated on foot with ease; you can get a table at a Starbucks or a prata shop with little to no trouble whatsoever; there are no queues to ATMs; you can get a seat on the MRT trains… yes, you can actually get a seat! Wild!</p>
<p>It&#39;s particulary eerie today given that it&#39;s extremely overcast, and very few people are walking around. It&#39;s the middle of the day and it&#39;s dark in this otherwise tropical country, and here I am sitting in a coffee shop typing this and half the tables are deserted. If I were to sit here during a regular Monday lunch hour, it would be packed with lots of people chatting loudly.</p>
<p><a href="https://flickr.com/photos/roughcutmedia/">zipped06 on Flickr</a> has taken some <strong><a href="https://flickr.com/photos/roughcutmedia/sets/72157612960407355/">amazing photos of the River Festival</a></strong> last night if you&#39;re interested, such as the one below. I wish I had been able to go!</p>
<p>This year of course is the year of the Ox for those not keeping track at home. I&#39;m not into zodiacs personally (Western or Eastern), but if it&#39;s your cup of tea here&#39;s what you can expect:</p>
<blockquote><p>The Ox (牛) is one of the 12-year cycle of animals which appear in the Chinese zodiac related to the Chinese calendar. The Year of the Ox is denoted by the earthly branch character 丑.</p>
<p>The Ox is the sign of prosperity through fortitude and hard work. This powerful sign is a born leader, being quite dependable and possessing an innate ability to achieve great things. As one might guess, such people are dependable, calm, and modest. Like their animal namesake, the Ox is unswervingly patient, tireless in their work, and capable of enduring any amount of hardship without complaint.</p></blockquote>
<p><img src="https://rubenerd.com/wp-content/media/P1040888.jpg" style="height:320px; width:240px; display:inline; border:0px;" alt="Me standing in front of Parliament House in Canberra in 2006" /><br /><cite>Me standing in front of Parliament House in Canberra in 2006</cite></p>
<p>Of course we must also not forget that today is also Australia day, the day the First Fleet from Britain arrived on the Australian mainland in 1788. It&#39;s a somewhat conflicting day for while the Australian society I was born into was born on that day, it also marked the beginning of the marginalisation of the Abroriginal peoples of Australia who still have not recovered.</p>
<p>I guess it would be more constructive to say <a href="http://en.wikipedia.org/wiki/Australia_Day">Australia Day (Wikipedia link)</a> is more about thinking about where we&#39;ve come from, and thinking about where we would like to go, rather than celebrating a specific event. Or that could just be me. I&#39;m not Bill Kurtis.</p>
<p>Gong Xi Fa Cai and Happy Australia Day all!</p>
<p><a href="http://en.wikipedia.org/wiki/File:Sydney_Opera_House,_Australia_Day.JPG"><img src="https://rubenerd.com/files/uploads/500px-Sydney_Opera_House,_Australia_Day.jpg" style="height:353px; width:500px; display:inline; border:0px" alt="" /></a></p>
 
