---
title: 'I’d love to meet Python inventor Guido van Rossum' 
date: "2009-01-29T10:25:30+10:00"
year: "2009"
category: Software
tag:
- guido-van-rossum
- infocomm
- monty-python
- python
- scripting 
---
<p><a href="http://en.wikipedia.org/wiki/File:Guido_van_Rossum_OSCON_2006.jpg"><img src="https://rubenerd.com/files/uploads/230px-Guido_van_Rossum_OSCON_2006.jpg" alt="Guido van Rossum at OSCON 2006, by Doc Searls" style="display:inline; border:0px; width:230px; height:345px; float:right; margin:0 0 10px 20px;" /></a>While I admire Larry Wall and Yatsuhiro Matzumoto and use their respective <a href="http://perl.org/">Perl</a> and <a href="http://ruby-lang.org/en/">Ruby</a> programming languages, I can really relate on an entirely different level to <a href="http://python.org/">Python</a> inventor <a href="http://neopythonic.blogspot.com">Guido van Rossum</a>.</p>
<p>I only just discovered his <a href="http://neopythonic.blogspot.com">new blog</a> today, but I&#39;ve read a lot of what he&#39;s written so far and have have agreed with a ridiculously high 99.995% of it. It&#39;s as if he&#39;s my older, wiser, wittier Dutch cousin living in California!</p>
<p>For example, it pains me to admit this, but I didn&#39;t know that Python was named as such because Guido was obsessed with Monty Python&#39;s Flying Circus and other absurd, hilarious British comedy:</p>
<blockquote>
<p>By the way, the language is named after the BBC show <em>&quot;Monty Python’s Flying Circus&quot;</em> and has nothing to do with reptiles. Making references to Monty Python skits in documentation is not only allowed, it is encouraged!
</p>
</blockquote>
<p>Frankly, if people have never watched any Monty Python, I have to question their sanity. I&#39;ve also questioned the sanity of those chaps behind Monty Python too, but that&#39;s for another post! <em>And now for something, completely different!</em></p>
<p>What I&#39;ve always thought was curious was how both Larry Wall and Yatsuhiro Matzumoto could be designers of programming languages which require such logical thought, and yet be advocates of their associated churches. I didn&#39;t intend for that comparison to imply you can&#39;t be a logical person of faith, but it does strike me as a non-believer (<em>to use the HIGHLY controversial term Barack Obama used!</em>) to be a surprising and perplexing combination.</p>
<p>I&#39;m not sure if Guido van Rossum is a non-believer too, but we both do seem to share similar philosophical viewpoints. For example, when he discussed the One Laptop Per Child Programme in his post <a href="http://neopythonic.blogspot.com/2008/11/bibles-or-computers-its-same-thing.html">Bibles or computers: Its the same thing</a>:</p>
<blockquote>
<p>I’m not surprised that the pope is pleased by the OLPC program. The mentality from which it springs is the same mentality which in past centuries created the missionary programs. The idea is that we, the west, know what’s good for the rest of the world, and that we therefore must push our ideas onto the &#8220;third world&#8221; by means of the most advanced technology available. In past centuries, that was arguably the printing press, so we sent missionaries armed with stacks of bibles.</p>
<p>These days, we have computers, so we send modern missionaries (of our western lifestyle, including consumerism, global warming, and credit default swaps) armed with computers</p>
</blockquote>
<p>I certainly hadn’t thought of it that way before, and my secular mind did appreciate the comparison.</p>
<p><img src="https://rubenerd.com/files/uploads/something_completely_different.jpg" alt="And now for something, completely different!" style="display:inline; border:0px; width:407px; height:300px;" /></p>
<p>But back to computer science: I’ve never really looked into Python as a programming language, though I’ve heard good things about it from other &quot;scripting language&quot; users… C/C++ users don’t count in this case because any language that’s interpreted instead of compiled/tested/compiled sends them into fits of agony!</p>
<p>I was going to look into experimenting with Haskell before I head back to Adelaide in March, but perhaps I’ll check out Python instead. As a Perl and Ruby guy I suspect the jump would be much easier than Haskell anyway, which is both good and bad of course. Python definitely looks like it has a very clean and minimalistic syntax which appeals to me visually as well as mentally, if that makes sense.</p>
<pre>
#!/usr/bin/env python
print 'You rock Guido van Rossum!'
</pre>
<p><a href="http://en.wikipedia.org/wiki/Guido_van_Rossum">Guido van Rossum</a> also has quite a good Wikipedia page. I&#39;m not Bill Kurtis.</p>
 
