---
title: 'My feedback for Security Now 181' 
date: "2009-02-06T02:33:34+10:00"
year: "2009"
category: Software
tag:
- file-transfers
- hashes
- infocomm
- md5
- security
- security-now
- sha 
---
<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;<br />
THIS MESSAGE HAS BEEN SCANNED WITH SUPER AWESOME VIRUS SCANNER 2009. IT WILL SELF DESTRUCT IF DELETED.</p>
<p><img src="https://rubenerd.com/files/uploads/logo.securitynow.jpg" alt="Security Now" style="height:192px; width:192px; float:right; margin:0 0 10px 20px; display:inline; border:0px" />My feedback regarding the latest episode of <a href="http://www.grc.com/SecurityNow.htm">Security Now</a>:</p>
<blockquote><p>To whomever Gibsons and Laportes this may concern,</p>
<p>I&#39;m not Bill Kurtis.</p>
<p>I thought I&#39;d just throw a message over to you guys to clarify one point that was raised on Security Now Episode 181 &quot;Crypto Rehash&quot;.</p>
<p>Steve, you commented that you failed to see the point of putting MD5 or SHA hashes on websites that offered downloads given that if a website was compromised the hash could easily be changed as well. I must admit I had never thought of it that way myself either; I had a hearty chuckle on the train along with you guys much to the bewilderment of my fellow commuters!</p>
<p>I would comment though that I was under the impression that hashes under download links are not provided for the purposes of verifying a file hasn&#39;t been tampered with for security reasons, but was instead provided so you could verify that the downloaded file had been received intact. As a FreeBSD user I download ISO images and regularly use the hashes to verify that the finished download wasn&#39;t corrupted while downloading before I burn a coaster with one. Not sure if this is really necessary, but it has alerted me to a couple of failed downloads in the past.</p>
<p>Thanks for the great show and all the effort and preparation you put into each one.</p>
<p>Most humbly and securely yours,<br />
Ruben Schade in A Little Street in Singapore</p>
</blockquote>
