---
title: 'Sitting at an outdoor Starbucks near Orchard Rd' 
date: "2009-02-19T06:24:44+10:00"
year: "2009"
category: Media
tag:
- coffee
- orchard-road
- photos
- scotts-road
- singapore
- starbucks 
---
<p><img src="https://rubenerd.com/files/uploads/photo.starbucks.singapore.jpg" alt="Sitting at an outdoor Starbucks near Orchard Rd" style="height:375px; width:500px; border:0px; display:inline" /></p>
<p>Taken on my iPhone in December at the Starbucks outside Pacific Plaza on Scotts Rd (<a href="https://www.openstreetmap.org/way/46518144">OpenStreetMap</a>), just a block away from Orchard. Beautiful weather.</p>
<p>Come to think of it’s beautiful weather right now too. Might go for a walk.</p>
 
