---
title: 'Please use Sumatra PDF instead of Adobe Reader!' 
date: "2009-02-22T01:54:55+10:00"
year: "2009"
category: Software
tag:
- acrobat
- adobe
- bloatware
- feature-creep
- infocomm
- rant
- reviews
- sumatra-pdf 
---
<p><img src="https://rubenerd.com/files/uploads/photo.getamac.bloat.jpg" alt="Software bloat personified from an Apple Get A Mac advertisement" style="height:344px; width:455px; display:inline; border:0px;" /></p>
<p>One of the things that dismays me about most computer software is how incrementally newer versions are heavier and larger than the number of new features and useful functions they contain could explain. <em>&quot;Feature creep&quot;</em> is a term that describes the inevitable phenomena of increased sizes as a result of new features, but we start referring to software as <em>&quot;bloatware&quot;</em> when the increased sizes really can’t be justified anymore!</p>
<p>Case in point, this afternoon my dad’s corporate computer died and as a result he needed to use his backup home laptop which I hastily installed his work software onto (that’s an adventure for another post!). One of the design applications he uses requires a PDF reader so it can show documents internally. I thought &quot;easy!&quot; and proceeded to download the <a href="http://blog.kowalczyk.info/software/sumatrapdf/index.html">Sumatra PDF Viewer</a>, an extremely lightweight (less than 1.3MiB) and lightening fast free and open source application that I’ve been recommending over Adobe [Acrobat] Reader and <a href="http://www.foxitsoftware.com/pdf/rd_intro.php">FoxIt Reader</a> for my friends on Windows for a few months now.</p>
<blockquote><p><strong>ASIDE:</strong> I placed the Acrobat brand in square braces because Adobe pulled a Microsoft, only instead of changing a brand by adding superfluous information (such as Windows Internet Explorer) they dropped the Acrobat name from the reader, but kept it in their professional paid products. I wish I understood why people decide to do such things.</p></blockquote>
<p>No such luck, this particular application <strong><em>requires</em></strong> Adobe Reader, despite Sumatra PDF’s ability to read and search PDF documents. I figured the application used some APIs in the Adobe Reader which the Sumatra PDF reader doesn’t provide, so I figured I’d bite the bullet and download Adobe Reader after all.</p>
<p><a href="//rubenerd.com/files/uploads/screenie.adm.png"><img src="https://rubenerd.com/files/uploads/screenie.adm.thumb.png" alt="Adobe Download Manager" style="height:320px; width:319px; display:inline; border:0px;" /></a><br /><cite>You know you’re in for a big download when the vendor provides you with a… download manager!</cite></p>
<p>Now you must understand that given I’m a Mac OS X and FreeBSD desktop guy I’ve long since been used to having PDF reading functionality in my OS and desktop software so I haven’t needed to grab the Adobe Reader in a while. I had forgotten what a pain it really was! The condensed saga in three points:</p>
<ol>
<li>I visited the download page on the Adobe website in Mozilla Firefox on my dad’s laptop, but the page refused to load. I turned off NoScript and part of the page loaded, but then got stuck in an infinite loop and refused to finish. No amount of page reloads or waiting solved the problem. Giving up, I launched Internet Explorer (sorry, Windows Internet Explorer) and the page loaded fine. Crappy JavaScript, crappy page or both? Not sure.<p></p></li>
<li>Once I clicked the download it became apparent this reader I was replacing Sumatra PDF with was almost 30 times the file size! I know it can do more, but 30MiB versus 1.3MiB?<p></p></li>
<li>It seemed though that Adobe recognised the large size of this file, so they implemented their own <em>download manager</em> which downloads and decompresses the file as it goes on. It’s also designed in such a way that if you close the browser window containing the page where you started the download, the download manager closes too. Brilliant!<p></p></li>
</ol>
<p><img src="https://rubenerd.com/files/uploads/icon.tango.installer.png" alt="Icon from the Tango Desktop Project" style="height:128px; width:128px; float:right; margin:0 0 10px 20px; display:inline; border:0px" />I’ve never really liked Adobe or their software, in fact I’d probably use Windows Vista or Windows 7 loaded up with Microsoft Office and Windows Internet Explorer before I touched a breathtakingly overpriced and bloated Adobe application. And believe me I have plenty more stories!</p>
<p>As for my dad’s laptop, he now has a functional replacement system which is slower than his work laptop was when it worked, but let’s just say it runs rings around it now that it’s not functional at all. Oh come on, you try and be funny when you’ve been traumatised by software! Reckon Bill Kurtis could still pull it off.</p>
 
