---
title: 'On Windows, file systems and shallow directories' 
date: "2009-02-24T01:37:25+10:00"
year: "2009"
category: Software
tag:
- errors
- fat32
- file-sytems
- infocomm
- microsoft
- ntfs
- windows 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.windows.copyerror.png.png" alt="The path is too deep… wait, what?" style="height:119px; width:362px;" /></p>
<p>Another day, yet another problem with Microsoft Windows. It’s not that I dislike Microsoft Windows, as much as I wish it had never existed in the first place. Well okay that was a bit harsh, in a healthy operating system ecosystem there is room for everyone, it’s just a problem when a system such as Windows is the overwhelmingly dominant one on the desktop. I feel for people who don’t have a choice.</p>
<p>Another adventure in the never-ending saga that is my dad’s Tablet PC? Actually no, this time it involves our media computer downstairs running Windows XP Professional. After a bit of an internal hard drive data scare recently we decided to invest in an external drive to backup our ripped music, videos and downloaded software images, plus it means when we finally upgrade it to a shiny new iMac or Mac Mini (eventually!) we’ll be able to simply attach the drive to the new machine. Easy!</p>
<p>I can confidently say that while I’ve encountered my fair share of vague, cryptic and ridiculous Windows errors in the past, I wasn’t expecting to be told that the destination directory for a series of copied files was <em>&quot;too deep&quot;</em>. I was especially surprised given that the directory was <em>only one step away</em> from the drive letter! It was hardly nested down anywhere in thousands of directories!</p>
<pre>
C:\&gt; CD WINDOWS
C:\WINDOWS&gt; PLEASE_GET_A_CLUE.EXE
UNKNOWN INPUT… TERMINATING
</pre>
<p>Formatting the external drive and trying again resulted in the same error message for dozens of files. Only by formatting the external drive as FAT32 instead of NTFS did the darned files transfer properly; if you’re a Windows person you can appreciate the subtle irony that an older, less efficient and more limiting file system did its job better!</p>
<p>I’m going to pretend Windows threw those error messages at me because those particular files were for outdated versions of software, and that it intentionally forced me to format as FAT32 so that a future Mac computer would be able to write to it. Yeah, that works.</p>
 
