---
title: 'Jon Stewart in his finest form ever' 
date: "2009-03-06T06:46:17+10:00"
year: "2009"
category: Media
tag: 
- cnbc
- daily-show
- economics
- jon-stewart
- news
- politics
---
<p><a href="http://media.mtvnservices.com/mgid:cms:item:comedycentral.com:220252">(Original video has been taken down).</a>
<p>You’ll need to temporarily disable <a href="http://noscript.net/">NoScript</a> to view this video if you use it, and unfortunately it does need Flash. It will be worth it though, a soberingly hilarious video of Jon Stewart from <a href="http://www.thedailyshow.com/">The Daily Show</a> reviewing <a href="http://en.wikipedia.org/wiki/CNBC">CNBC <span style="font-size:x-small">[Wikipedia link]</span></a>.</p>
<p>I watched CNBC’s <a href="http://en.wikipedia.org/wiki/Squawk_Box">Squawk Box <span style="font-size:x-small">[Wikipedia link]</span></a> a few times for economics homework a few years ago. It really was painful. Glad to know it wasn’t just me who thought these people were full of hot air, smoke, mirrors and other such whatnot.</p>
<p>The description from the video:</p>
<blockquote><p><strong>Daily Show: CNBC Gives Financial Advice</strong><br />CNBC’s Rick Santelli is angry that those loser homeowners are going to get bailed out.</p>
</blockquote>
<p>This post doesn’t validate as XHTML 1.0; I just copied the code they gave me. Perhaps one day I’ll figure out how to reformulate this to be standards compliant, but for now I figured the message was more important.</p>
<p>Viva Jon Stewart.</p>
 
