---
title: 'Scary tornado warnings in South Australia' 
date: "2009-03-11T10:08:50+10:00"
year: "2009"
category: Thoughts 
tag: 
- adelaide
- australia
- eyre-peninsula
- scary
- south-australia
- state-emergency-service
- tornadoes
- warnings
- weather 
---
<p><a href="https://www.openstreetmap.org/relation/6345515"><img src="https://rubenerd.com/files/uploads/map.google.eyrepeninsula.png" alt="Google Map showing the Eyre Peninsula (blue pushpin)" style="height:400px; width:500px; display:inline; border:0px;" /></a><br /><cite>Map showing the Eyre Peninsula (blue pushpin)</cite></p>
<p><a href="http://www.news.com.au/adelaidenow/story/0,22606,25172357-2682,00.html">AdelaideNow is reporting</a> that a tornado and freak storms ravaged parts of the Eyre Peninsula in South Australia with as much as 37mm of rain falling in less than an hour and a half. Adelaide isn’t in it’s path but they say it could potentially reach Mount Gambier, Naracoorte, Bordertown and Lucindale.</p>
<blockquote><p>The Bureau of Meteorology is warning &quot;severe thunderstorms&quot; are likely to produce very heavy rainfall and flash flooding across the south-east in the next few hours. An updated warning will be issued at 8.45pm.</p>
</blockquote>
<p><img src="https://rubenerd.com/files/uploads/icon.tango.severe.weather.png" alt="Icon from the Tango Desktop project" style="height:128px; width:128px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />For future reference for us; or if you find yourself in the path of a tornado; The <a href="http://www.ses.sa.gov.au/site/home.jsp"> State Emergency Service</a> advises people to:</p>
<ul>
<li><strong>SECURE</strong> or put away loose items around your property.</li>
<li><strong>MOVE</strong> cars under cover or away from trees.</li>
<li><strong>STAY</strong> clear of fallen power lines.</li>
<li><strong>NOT</strong> to drive, ride or walk through flood water.</li>
<li><strong>KEEP</strong> clear of creeks and storm drains.</li>
<li><strong>REMAIN</strong> indoors and away from windows, while storms are nearby.</li>
</ul>
<p>Having lived in the tropics most of my life I’ve had my share of huge, loud and scary thunderstorms, but certainly not a tornado. Until now I wouldn’t have known what to do if I did encounter one… aside from jumping out of my skin.</p>
<p><a href="http://www.ses.sa.gov.au/site/home.jsp"><img src="https://rubenerd.com/files/uploads/ses_banner_contact_details.jpg" alt="Banner on the SES website as of this evening" style="height:121px; width:263px; display:inline; border:0px;" /></a><br /><cite>Current banner on the SES website</cite></p>
 
