---
title: 'J-Walk’s sinister plan to harvest personal information' 
date: "2009-03-20T11:42:49+10:00"
year: "2009"
category: Thoughts 
tag: 
- far-too-long
- j-walk-blog
- john-walkenbach
- pointless 
---
<p><img src="https://rubenerd.com/files/uploads/beltsander4.jpg" style="height:260px; width:400px; display:inline; border:0px;" alt="A belt sander" /><br /><cite>A belt sander which curiously has absolutely nothing to do with this post whatsoever.</cite></p>
<p>J-Walk has <a href="http://j-walkblog.com/index.php?/weblog/posts/submit_your_interview_answers/">published a series of questions</a> on the <a href="http://j-walkblog.com/">J-Walk Blog</a> (of all places) for readers of his to answer and submit to him through electronic mail so he can perform identity theft and advance his own personal wealth beyond his revenues from printed Excel guides and consulting.</p>
<p>I don’t think I could match the wit or sheer interestingness (is that a word?) of so many of his other readers, so instead I’m posting my responses here in the hopes they’ll be mildly entertaining. At worst there’s enough material here for you to print and make an armada of paper planes to throw at unsuspecting coworkers, room mates, family members or people on the train.</p>
<dl>
<dt style="font-weight:bold">1. How did you first hear of the J-Walk Blog, and how long have you been reading it?</dt>
<dd>I’ve been reading the J-Walk blog since I was in high school in 2004 after I heard Jim Kloss mention it on the Whole Wheat Radio audio magazine I downloaded out of curiosity. It’s been one of those stable, reliable things I’ve turned to over the years when everything else in my life has been changing.</dd>
<dt style="font-weight:bold">2. What’s the significance of your screen name?</dt>
<dd>I’ve been using the name &quot;rubenerd&quot; since 1997 when I was 11 and had registered for a Hotmail account of all things. My little brain was horrified to find <em>&quot;Ruben&quot;</em> was taken, so in what I thought at the time was a stroke of unadulterated genius, I merged my name and <em>&quot;nerd&quot;</em> and removed the superflous n.</dd>
<dt style="font-weight:bold">3. Do you read this blog from work or at home? How many times a day?</dt>
<dd>I have it subscribed in Google Reader and read it during lectures. If you’re a professor reading this, I mean all the lectures except yours.</dd>
</dl>
<p>We then got to choose five from a list of =18-3 questions. I’d enter that subtraction problem into Excel, but I’m a Gnumeric guy.</p>
<dl>
<dt style="font-weight:bold">4. Basic stats: Age, sex, location, marital status, employment, etc.</dt>
<dd>Almost 23 years, male, Adelaide and Singapore (but not at the same time!), painfully available, part time computer system consultant, studying computer science and economics, atheist, no, yes, a Japanese girl who digs introverts, none of your business, the episode where she steals the computer, yes but I tell people no, purple monkey dishwasher.</dd>
<dt style="font-weight:bold">5. Send a copy of the weirdest photo of yourself that you can find, and describe what was going on.</dt>
<dd>This is a photo of me attempting to make a phone call and look philosophical in the middle of a gigantic canola field on <a href="https://www.flickr.com/photos/rubenerd/sets/72157607781602712/">our trip to the Flinders Ranges</a> outside Adelaide in Australia last year.
<p><a href="https://www.flickr.com/photos/rubenerd/2918512290/in/set-72157607781602712/"><img src="https://rubenerd.com/files/uploads/photo.me.canola.jpg" style="height:281px; width:375px; display:inline; border:0px;" alt="Photo of me attempting to make a phone call and look philosophical in the middle of a gigantic canola field" /></a></dd>
<dt style="font-weight:bold">7. How many different places have you lived in?</dt>
<dd>I was born in <a href="http://en.wikipedia.org/wiki/Sydney,_Australia">Sydney</a> but moved to <a href="http://en.wikipedia.org/wiki/Melbourne,_Australia">Melbourne</a> when I was a few months old, then <a href="http://en.wikipedia.org/wiki/Brisbane,_Australia">Brisbane</a>, then to <a href="http://en.wikipedia.org/wiki/Singapore">Singapore</a> where I spent most of my life but moved three times when they kept knocking down the apartment buildings we were living in, then to <a href="http://en.wikipedia.org/wiki/Kuala_Lumpur">Kuala Lumpur</a>, then back to Singapore. I’m now studying in both Adelaide and Singapore with plans to move back to the latter permanently because it’s the closest I’ve ever had to a &quot;home&quot;. Always fantasised about living for a few months in Kyoto and Stockholm though.</dd>
<dt style="font-weight:bold">8. What other blogs to you follow?</dt>
<dd>Blogs where computer spell checkers go two dye. I’d never be caught baking such an obvious mistake on my blog. Why am I Hungary all of a sudden? I’d be a hilarious comedian if I could form and deliver good jokes.</dd>
<dt style="font-weight:bold">9. Which are your favourite topics covered at the J-Walk Blog?</dt>
<dd>To be honest: <strong>religion</strong>. It’s a sinful guilty pleasure.</dd>
<dt style="font-weight:bold">17. Which celebrity would you most like to have a beer with?</dt>
<dd>Michael Franks at the Blue Note Jazz lounge in Tokyo after a set with Aya Hirano, the voice actress who played Suzumiya Haruhi. Is that cheating?</dd>
</dl>
<p>Wait a minute, I think Gnumeric computed that wrong, I answered six questions instead of five. Must have forgotten to turn on the Analysis Toolpak. Wait, Gnumeric doens’t have an Analysis Toolpak. I’ve already said enough.</p>
 
