---
title: 'Quick lessons for NoScript and Firefox' 
date: "2009-03-13T02:10:52+10:00"
year: "2009"
category: Software
tag:
- browsers
- extensions
- firefox
- guides
- infocomm
- noscript
- security 
---
<p><img src="https://rubenerd.com/files/uploads/icon.noscript.png" alt="NoScript icon" style="height:128px; width:128px; display:inline; border:0px;" /><img src="https://rubenerd.com/files/uploads/icon.tango.heart.png" alt="Tango heart icon" style="height:128px; width:128px; display:inline; border:0px;" /><img src="https://rubenerd.com/files/uploads/firefox_icon.png" alt="Firefox icon" style="height:128px; width:128px; display:inline; border:0px;" /></p>
<p>As I’ve eluded to previously, the <strong><em>primary reason</em></strong> why I use <a href="http://getfirefox.com/">Mozilla Firefox</a> is for it’s security and privacy extensions as I’ve <a href="//rubenerd.com/p3849/">discussed previously here</a>; in particular <a href="http://noscript.net/">NoScript</a>. My cousin Nim can’t stand it when I say killer, so I’m going to say Firefox and NoScript are a killer combination. I really mean it!</p>
<p>Two random points from my family’s use of NoScript I thought I’d quickly share here:</p>
<ol>
<li>It dawned on me though that when I upgraded my sister’s MacBook to the latest version of Firefox that it should have been doing it for her automatically along with her plugins. She’s a NoScript user too but both her Firefox and her NoScript installations were woefully out of date. Checking the Update tab under Advanced in her preferences pane, I noticed her automatic updates were turned off. I don’t quite know why, she claims she never unchecked the boxes, but be that as it may it meant she was running older and potentially less secure versions of software for a while now.<p></p></li>
<li>NoScript is updated on a very regular basis! Because I just put my MacBook to sleep instead of turning it off I can go for days without closing Firefox, and when I reopen it, it almost always has updates available for NoScript.<p></p></li>
</ol>
<p><img src="https://rubenerd.com/files/uploads/icon.tango.lock.png" alt="Tango lock icon" style="height:128px; width:128px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />Two important lessons to take away from this post: if you’re a very, very happy NoScript user make sure firstly you have automatic updates enabled by default and that if you leave Firefox open for longer periods of time to check for updates more often. Again NoScript and Firefox are a match made in heaven, but they need constant updating to work optimally and securely.</p>
<p>A public service announcement from the Department of Ruben Schade Redundant Language Department, a red tape subsidiary of the Bureau of Oversight and the Ministry of Hot Air.</p>
 
