---
title: 'A Sunday Boatdeck Cafe Mugaccino post' 
date: "2009-03-15T06:04:50+10:00"
year: "2009"
category: Thoughts 
tag: 
- adelaide
- australia
- autumn
- boatdeck-cafe
- coffee
- rambling
- sunday
- weather 
---
<p><img src="https://rubenerd.com/files/2009/mugaccino-from-the-boatdeck-cafe_3355853454_o@1x.jpg" alt="Mugaccino from the Boatdeck Cafe" srcset="https://rubenerd.com/files/2009/mugaccino-from-the-boatdeck-cafe_3355853454_o@1x.jpg 1x, https://rubenerd.com/files/2009/mugaccino-from-the-boatdeck-cafe_3355853454_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<blockquote><p><strong>UPDATE:</strong> This post was originally written yesterday on Sunday, but I hit the <em>&quot;Save Draft&quot;</em> button instead of <em>&quot;Publish&quot;</em>. Looking back at it now, I wish it were still Sunday.</p>
</blockquote>
<p>I’m sitting here at the <a href="http://www.theboatdeck.com.au/">Boatdeck Cafe</a> this Sunday afternoon with just my iPhone and a stable wireless network. Sometimes I need to lug the glorified monitor and keyboard stuck together, but today just typing on this feels fine.</p>
<p><img src="https://rubenerd.com/files/uploads/icon.tango.shower.png" alt="Icon from the Tango Desktop project" style="height:128px; width:128px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />It is definitely starting to show that it’s Autumn here in Adelaide; after almost every day being as hot as Singapore when we came back here, this weekend has been in the low 20s and drizzling. To the astonishment of many a person in the real world and online I’ve readily admitted I prefer overcast days; there’s something about them that allows me to relax more. Perhaps it was the positive cool change overcast days have on tropical climates that made me think of them positively.</p>
<p>Mugachinos are good!</p>
<p>As for today, despite university now being back for a fortnight now I’ve still been having a nagging enrollment issue that I thought would have been fixed but clearly not, so I had intended this afternoon to work on that, but unwittingly I forgot the online enrollment system isn’t functional on Sundays! Or at least the part I’m trying to access. I still haven’t even got a new student card yet!</p>
<p>So to be productive I’ve been watching some more Code Geass and going to the Boardeck Cafe! I figure my life is so dreadfully confusing and filled with anxiousness and dread that a Sunday where I only have a few responsibilities is, for an Atheist wanting a better word, a godsend! Plus it’s overcast, good times!</p>
<p><a href="//rubenerd.com/show267/"><img src="http://www.archive.org/download/RubenerdShow267/RubenerdShow267.240px.png" alt="Rubenerd Show 267" style="height:240px; width:240px; " /></a></p>
<p>I’ve also finally recorded a <a href="//rubenerd.com/show/">Rubenerd Show</a> again, the <a href="//rubenerd.com/show267/">first since coming back to Adelaide</a>. I had forgotten that I was supposed to be keeping shows under 10MiB so people on iPhones and iPod Touches (the phrase <em>&quot;iPod Touches&quot;</em> just doesn’t sound right, if you know what I mean) can download them on mobile phone networks, so I rambled on just as I’m doing here without any thought to the time until it was just time. The result was I had four things I wanted to discuss and I ended up discussing one thing, then getting sidetracked and talked about something else! Good times.</p>
<p>Well that’s my Sunday! Now if you’d excuse me, I’m going to turn to the Stanza iPhone app and continue reading <a href="http://en.wikipedia.org/wiki/The_Count_of_Monte_Cristo">The Counte of Monte Cristo <span style="font-size:x-small">[Wikipedia]</span></a> while I finish my Mugaccino. Sundays are fun.</p>
 
