---
title: 'Businesses that are too big to fail' 
date: "2009-03-16T05:55:00+10:00"
year: "2009"
category: Thoughts 
tag: 
- bailouts
- business
- capitalism
- economics 
---
<p><a href="http://en.wikipedia.org/wiki/File:Aigtower.jpg"><img src="https://rubenerd.com/files/uploads/photo.aigtower.hk.jpg" alt="AIG Tower in Hong Kong, by Jack8080 on Wikipedia" style="height:427px; width:320px; display:inline; border:0px" /></a></p>
<p>I do economics at university. I’ve been doing economics since high school. I read Bloomberg every day and have their iPhone application. I sometimes talk about here on my blog.</p>
<p>With the recent ridiculous bailout of AIG in the United States though, I’ve come back to this one inevitable question that I’ve been asking for years and have never got a satisfactory answer for. I’ll put it in a blockquote for emphasis:</p>
<blockquote><p>If companies become large enough that they’re deemed too big to fail, why were they allowed to get that big in the first place?</p></blockquote>
<p>The only answer I’ve ever heard about this is that capitalism is designed to allow businesses that can most efficiently produce goods and services to do so. My two counterpoints have been:</p>
<ul>
<li>how true to the idea of capitalism is the bailing out of gigantic companies with incompetent management by… government? To me, you can’t claim you’re being a capitalist then cry to a government when you screw up!<p></p></li>
<li>just because this is the potentially inevitable endgame of capitalism doesn’t make it desirable, just as the inevitable endgame of communism isn’t.<p></p></li>
</ul>
<p>It also bothers me that we’re supposed to bail huge companies out when their greed and arrogrance gets them into trouble, but when they do well we still hear people complaining they’re being taxed too much. Again, there are clear double standards at work here. That was a terrible pun.</p>
<p>To me, capitalism is like democracy. They’re both awful systems but they’re unfortunately the best systems we have to choose from! Aside from the question I asked above, the other then becomes: what now?</p>
 
