---
title: 'Clipmark: Senator Conroy on Twitter' 
date: "2009-03-23T05:34:49+10:00"
year: "2009"
category: Internet
tag: 
- australia
- clipmarks
- funny
- nocleanfeed
- politics
- stephen-conroy
- twitter 
---
<p><a href="http://clipmarks.com/clipmark/CC56B76C-3A0D-4445-82C6-8C12EB4DC916/">Clipmarked</a> from <a href="http://twitter.com/stephenconroy/status/1374283501">Twitter</a>:</p>

<blockquote cite="http://twitter.com/stephenconroy/status/1374283501">
<p><a href="http://twitter.com/SilkCharm">@SilkCharm</a> There are 76 unique Australian Twitter users. The rest are Fake politicians.</span></p>
</blockquote>
