---
title: 'Night thoughts about WXR, PHP, MySQL…' 
date: "2009-03-22T09:42:16+10:00"
year: "2009"
category: Software
tag:
- infocomm
- php
- thinking-out-loud
- wordpress
- wxr 
---
<p><img src="https://rubenerd.com/files/2009/flinders-ranges_2917608685_o@1x.jpg" alt="Photo from my Flinders Ranges photoset on Flickr. Think it says it all really." srcset="https://rubenerd.com/files/2009/flinders-ranges_2917608685_o@1x.jpg 1x, https://rubenerd.com/files/2009/flinders-ranges_2917608685_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>Thought I’d just post another quick update on my adventure to get the <a href="http://wordpress.org/">WordPress WXR/RSS</a> export feature working. In an earlier post <a href="//rubenerd.com/p3904/">I claimed I had given up on this</a>, but since then it’s been gnawing at my mind enough to make me want to figure out what’s going on!</p>
<blockquote><p><strong>ASIDE:</strong> Sometimes I find thinking out loud helps me work through a problem. Please forgive me if I make no sense! Well, less sense than I usually do.</p>
</blockquote>
<p>I read in several WordPress forum posts that sometimes faulty authors (ha) in the database are enough to confuse the exporter, <a href="//rubenerd.com/p3906/">so I merged my authors into one</a>. Not only didn’t this fix the problem it actually made it worse; before it would export 4.4MiB of data, now it exports 4.2MiB worth. This translates to exporting all the posts I’ve created here up to early October last year.</p>
<p>I’m <a href="http://maurus.net/resources/programming-languages/php/">not a PHP guy</a>, but I figure if this problem was being caused by an insufficient maximum file size value in my host’s PHP settings, doing something on the database end wouldn’t make any difference. I’ve also seen people throw around numbers like 25MiB and discussing the need to use Gzip on PhpMyAdmin for example; my blog would not reach that.</p>
<p><img src="https://rubenerd.com/files/uploads/icons.tango.php.png" alt="Icon from the Tango Desktop project" style="height:128px; width:128px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />My next thought was that it might be a poorly formed post that trips the exporter and stops it. If this were true though, I would expect the exported file to abruptly end; instead it’s well formed (well, as best as a WXR/RSS file could be expected to be) and has all the correct end tags in place. It’s a valid file, it’s just missing a large swath of posts! Also, every single post validates as XHTML 1.0 Strict except one which has an embedded video, and that was written much later than when the exporter stops.</p>
<p>I also doubt it has something to do with the server configuration because my Rubenerd Show WordPress installation on the same server was able to export all the posts without any problems at all. I can only logically surmise that there must be something up with my WordPress install on here, or a fatal error in one or more of the MySQL database tables. I’ve only been running this install since early 2006 but who knows, perhaps something corrupted it.</p>
<p>I will figure this out if I have to stay up all night… if only the <a href="http://www.theboatdeck.com.au/">Boatdeck Cafe</a> was open 24 hours!</p>
 
