---
title: 'Clipmarks test post with a photo'
date: "2009-03-23T04:38:23+10:00"
year: "2009"
category: Internet
tag:
- clipmarks
- infocomm
- photos
---
<p><a href="http://clipmarks.com/clipmark/8A99DC05-05C3-483A-BA1A-BFBBA99B5FAC/">Clipmarked</a> from <a href="">Flickr</a>:</p>

<blockquote cite="https://www.flickr.com/photos/rainerschade/3325859048/">
<p><img src="https://rubenerd.com/files/2009/3325859048_d092a4b287_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3325859048_d092a4b287_o@1x.jpg 1x, https://rubenerd.com/files/2009/3325859048_d092a4b287_o@2x.jpg 2x" alt="Photo by my dad in Singapore at night, showing a tree-lined pathway with benches." style="width:500px" /></p>
</blockquote>
 
