---
title: 'New Clipmarks account test post' 
date: "2009-03-23T03:54:58+10:00"
year: "2009"
category: Internet
tag:
- clipmarks
- infocomm
- whole-wheat-radio
---
<p><a href="http://clipmarks.com/clipmark/D2F77C4B-8A2A-49FE-89EE-2BCB08078D6B/">Clipmarked</a> from <a href="http://wholewheatradio.org/wiki/index.php?title=Artists:Northern_Lights&#038;oldid=1091822">Whole Wheat Radio</a></p>

<blockquote cite="http://wholewheatradio.org/wiki/index.php?title=Artists:Northern_Lights&#038;oldid=1091822">
<p><strong>Northern Lights</strong>, the Northeast’s superlative veteran string band, doesn’t qualify as typical traditionalist. But over a three-decade career, the band has created its own tradition &#8211; a constant exploration of new musical territory without ever losing its acoustic and vocal bearings. From 1990’s &quot;Take You to the Sky,&quot; to 2005’s &quot;New Moon&quot; (Fifty-Fifty Music), the band has fused an eclectic mix of traditional roots music, rock, country, soul and gospel with the high, lonesome vocal sound and instruments of bluegrass.</p>
</blockquote>

