---
title: 'Clipmark: Slashdot Aussie censorship comment' 
date: "2009-03-24T12:02:54+10:00"
year: "2009"
category: Internet
tag:
- australia
- censorship
- clipmarks
- free-speech
- great-firewall-of-australia
- infocomm
- nocleanfeed
- slashdot 
---
<p><a href="//rubenerd.com/tag/nocleanfeed/"><img src="https://rubenerd.com/files/uploads/logo.nocleanfeed.png" alt="No Filter, No Censorship, No Clean Feed, No Great Firewall of Australia" style="height:160px; width:500px; display:inline; " /></a></p>

<p><a href="http://clipmarks.com/clipmark/4632DCB2-B012-41A6-B238-6BC51B962061/">Clipmarked</a> from <a href="http://yro.slashdot.org/article.pl?sid=09/03/23/0418227">Slashdot</a>:</p>

<blockquote cite="http://yro.slashdot.org/article.pl?sid=09/03/23/0418227">
<p>By <a href="http://slashdot.org/~xenobyte">xenobyte (446878)</a> on Monday March 23, @05:35PM (<a href="http://yro.slashdot.org/comments.pl?sid=1171579&#038;cid=27295215">#27295215</a>)</p>

<p>Good for them if they did.</p>

<p>This whole censorship scheme is deeply flawed and morally bankrupt. Any society that feel the need to implement censorship in order to ‘function’ is already badly broken and censorship will only prolong the suffering and delay the inevitable, making it unavoidable. If there really is a need to prevent access to something, use sound advice and education so the need to access ‘the forbidden’ goes away. It is this need to will be the downfall of any society that use censorship because the human spirit can never be kept in a cage, no matter how many bars and locks you add to it.</p>
</blockquote>

