---
title: 'Clipmark: Greens call for China spy alert in Australia' 
date: "2009-03-30T07:25:59+10:00"
year: "2009"
category: Thoughts 
tag: 
- australia
- bob-brown
- clipmarks
- news
- politics
- the-greens 
---
<p><a href="http://clipmarks.com/clipmark/9609BB2A-5212-4A64-B9F4-69BE3033F988/">Clipmarked</a> from <a href="http://greensmps.org.au/content/media-release/greens-call-china-spy-alert-australia">Greens MPs</a>:</p>

<blockquote cite="http://greensmps.org.au/content/media-release/greens-call-china-spy-alert-australia">
<p>Monday, 30 March 2009</p>

<p>Australian Greens Leader Bob Brown has called on the Australian Government to reveal the extent to which the alleged Chinese cyber-spy network has infiltrated Australia.</p>

<p>Overseas reports are that China has hacked into Tibet-related networks in 103 countries.</p>

<p>&quot;It is extremely unlikely that China has not spied on the Tibetan representatives in Australia and New Zealand and the government should reveal what measures it will take to counter this type of espionage in Australia,&quot; Senator Brown said.</p>

<p>Senator Brown has written to the Attorney-General asking for reassurances on the security of the internet in Australia from Chinese government hackers.</p>

<p>&quot;With the Dalai Lama due to visit Australia again later this year, it is important to know that we are not infiltrated by the so-called GhostNet network,&quot; Senator Brown said.</p>

<p>Senator Brown said that there are more than 20,000 internet police inside China.</p>

</blockquote>
 
