---
title: 'Clipmark: Last.fm’s now ironic About page' 
date: "2009-03-30T03:35:04+10:00"
year: "2009"
category: Media
tag:
- clipmarks
- ironically-named-sites
- lastfm
- music 
---
<p>Funny how these things change isn’t it? Wonder how long it will be before the <a href="http://www.last.fm/about/">Last.fm About</a> page is revised and edited now that they’ve <a href="//rubenerd.com/p3943/">sold out</a> and that democratic and independent music are <a href="//rubenerd.com/p3945/">lower priorities</a> than making money?</p>
<p>I guess it’s true what they say: most people have a price for their ideals. It’s sad :(</p>

<p><a href="http://clipmarks.com/clipmark/58D4B56C-C139-410C-A6B6-485A29900548/">Clipmarked</a> from <a href="http://www.last.fm/about">www.last.fm</a>:</p>

<blockquote cite="http://www.last.fm/about">
<p>Back in the 20th Century, <a href="http://www.last.fm/user/rnr">Felix Miller</a> and <a href="http://www.last.fm/user/mainstream">Martin Stiksel</a> were running an online record label whose mission was to get independent music out to the people who wanted to hear it. A few years later, university student <a href="http://www.last.fm/user/rj">Richard Jones</a> started tracking what he and his friends were listening to on their computers with a project he called Audioscrobbler. Last.fm  brought these ideas and desires together. Luckily, these days it’s about letting people choose the music themselves &#8211; rather than subjecting the world to Felix’s music taste (or we’d all be listening to Elvis and Japanese surf garage). Last.fm has always been about making music culture more democratic: everyone listening to music how they want to, when they want to. Without a middle man making your decisions for you.</p>
</blockquote>

