---
title: 'Even Google now has an Earth Hour page' 
date: "2009-03-28T10:33:18+10:00"
year: "2009"
category: Thoughts 
tag: 
- earthhour
- environment
- voteearth3009 
---
<p><img src="https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3392119458_o@1x.jpg" alt="Earth Hour in Mawson Lakes" srcset="https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3392119458_o@1x.jpg 1x, https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3392119458_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p><a href="http://www.earthhour.org/">Earth Hour</a> is <a href="//rubenerd.com/p3940/">over in Adelaide</a> and most of Australia now, but it’s still coming up for Singapore and most of the rest of the world! Don’t forget at 20:30 / 8:30pm your time to turn your lights off for one our to spread awareness of energy conservation… and have some fun of course :).</p>
<p>Google has just added a link to their own Earth Hour page on many of their international home pages, passing the information on for what it may be worth, even if they claimed you’d save <strong><em>&quot;C02&quot;</em></strong> instead of <strong><em>&quot;CO2&quot;</em></strong> ;-). I guess to be fair <strong><em>&quot;CO2&quot;</em></strong> doesn’t have the right subscript notation as well.</p>
<blockquote><p>
Earth Hour invites one billion people in more than <a href="http://www.earthhour.org/mediacentre/default:en/article?id=eh3285929202200241913">2800 cities representing 83 countries</a> to turn off their lights for one hour – <strong>tonight, Saturday, March 28 from 8:30pm to 9:30pm in their local time zone</strong>. On this day, cities around the world, including Paris, Sydney, London, Cairo, New York, Los Angeles and Cape Town, will join together to demonstrate their commitment to energy conservation and sustainability. Here’s how you can participate:</p>
<ul>
<li>All you have to do to <a href="http://www.earthhour.org/">Vote Earth</a> is turn your lights out for one hour tonight, Saturday, March 28 from 8:30pm to 9:30pm local time, in your city. Your light switch is your vote!</li>
<li>Set your computer’s power management and save up to $60 on your electricity bill and nearly half a ton of C02 over the next twelve months. <a href="http://www.climatesaverscomputing.org/">Climate Savers Computing Initiative</a> provides instructions on how you can save electricity all year long through efficient computing.</li>
<li>Join <a href="http://www.earthhour.org/#EarthConnect">Earth Connect</a> and share your opinions about climate change through blogs, e-mails, and Twitter. The goal is to gather one billion words to present at the <a href="http://en.cop15.dk/">United Nations Climate Change Conference</a> in Copenhagen in December.</li>
<li>If you are affiliated with a college, help your university reduce its environmental impact by adopting green computing practices. Pledge to <a href="http://www.powerdownfortheplanet.org/">Power Down for the Planet</a> and <a href="http://www.powerdownfortheplanet.org/video/">create a video</a> to teach others about the importance of energy efficient computing in the fight against climate change.</li>
</ul>
<p>Earth Hour is about more than dimming lights for sixty minutes; it’s about making a commitment to reduce energy consumption throughout the year. As Google’s business grows, we want to make sure we minimize our impact on the Earth’s climate through responsible environmental practices every hour, every day.</p>
</blockquote>
<p><a href="http://www.voteearth3009.org/home/"><img src="https://rubenerd.com/files/uploads/voteearth.gif" alt="Vote Earth 2009" style="height:300px; width:200px; display:inline;border:0px" /></a></p>
 
