---
title: 'Earth Hour 2009 in Mawson Lakes, Adelaide, South Australia, Earth' 
date: "2009-03-28T10:09:01+10:00"
year: "2009"
category: Media
tag:
- australia
- boatdeck-cafe
- earth
- earthhour
- environment
- fun
- mawson-lakes
- photos 
---
<p><img src="https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3392119458_o@1x.jpg" alt="Earth Hour in Mawson Lakes" srcset="https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3392119458_o@1x.jpg 1x, https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3392119458_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>I have a healthy dose of scepticism regarding this whole <a href="https://earthhour.org/">Earth Hour</a> business and how much of a difference it’s really making to our planet, but I must admit it was kind of a fun thing to take part in :).</p>
<p>These are the photos I took around Mawson Lakes (our suburb near uni) a few minutes ago with my D60. I was nervous about what people would think of a weird guy walking around a neighbourhood at night with a camera, so I bumped up the ISO a few more levels and lowered the aperture number to take the photos faster!</p>
<p>You can also view these photos on my <a href="https://www.flickr.com/photos/rubenerd/sets/72157615929592031/">Earth Hour in Mawson Lakes</a> gallery.</p>
<p><img src="https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3391309061_o@1x.jpg" alt="Earth Hour in Mawson Lakes" srcset="https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3391309061_o@1x.jpg 1x, https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3391309061_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p><img src="https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3392120350_o@1x.jpg" alt="Earth Hour in Mawson Lakes" srcset="https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3392120350_o@1x.jpg 1x, https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3392120350_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p><img src="https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3392120868_o@1x.jpg" alt="" srcset="https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3392120868_o@1x.jpg 1x, https://rubenerd.com/files/2009/earth-hour-in-mawson-lakes-adelaide-australia_3392120868_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
 
