---
title: 'My life is finally back on track people!' 
date: "2009-04-03T12:24:41+10:00"
year: "2009"
category: Thoughts 
tag: 
- happy
- mawson-lakes
- personal
- studies
- university-of-south-australia 
---
<p><img src="https://rubenerd.com/files/2009/road-marker-near-flinders-ranges_2917629429_o@1x.jpg" alt="Road sign in the Flinders Ranges in South Australia" srcset="https://rubenerd.com/files/2009/road-marker-near-flinders-ranges_2917629429_o@1x.jpg 1x, https://rubenerd.com/files/2009/road-marker-near-flinders-ranges_2917629429_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>It would bore you to tears if I were to relay all the gritty details, but suffice to say when I took my extended leave of absence to be with my mum before she passed on it messed up my university timetable because the degree I started changed during the time I was away. I was able to start studying again, but there was lots of ambiguity and confusion as to what I was supposed to be doing.</p>
<p>One quick session at the Student Advisory Centre at the Mawson Lakes campus this morning fixed it all right up. I sat down with one of the friendly councillers who drafted a new study plan and timetable, explained to me in detail what the new courses are and how they’re structured, and even gave me some help and advice on the Federal government study payment scheme whatnot. I now know what I’m doing again.</p>
<p>I’m all for flexibility but there’s some security and comfort in knowing that things have been taken care of and something is definitive. I’ve been living week by week with far too many variables, health scares and negative experiences over my now 23 year life that something stable and set in stone is refreshingly consoling, if that makes any sense.</p>
<p>For the first time since 2006 I have a 100% clear and structured path to achieve my study goals. I’m not sure what <em>&quot;study goals&quot;</em> means, but it sounded fancy. No matter what it is, my life is finally back on track. Look out world, Ruben Schade is back!</p>
<blockquote><p><strong>ASIDE:</strong> I’d cite the &quot;Shady’s back&quot; lines from an Eminem song, but I respect you, dear reader, too much to subject you to it.</p>
</blockquote>
 
