---
title: 'Whole Wheat Radio to become a commercial site' 
date: "2009-04-01T04:11:42+10:00"
year: "2009"
category: Media
tag:
- april-fools
- independent-music
- indie-media
- jim-kloss
- music
- whole-wheat-radio 
---
<p><img src="https://rubenerd.com/files/uploads/300px-2006-12-12_14-06-46~4221.JPG" alt="I wholeheartedly endorse this decision, building and/or product." style="height:225px; width:300px" /><br />
<cite>&quot;I wholeheartedly endorse this product, decision, service, building or idea.&quot;</cite></p>
<blockquote><p><strong>UPDATE:</strong> Yes, this was an April Fools joke!</p>
</blockquote>
<p>Given Last.fm’s recent commercialisation where they now force listeners from outside the United Kingdom, the United States and Germany to pay a subscription fee to listen to what was previously free music, it has got me thinking about independent singer songwriters. If they release their content for free in the hopes you’ll love their material and subsequently attend their concerts and buy their music… you know, <em>promotion</em>… then what right does Last.fm have to charge people to hear it?</p>
<p>Therefore Jim Kloss has decided to fight fire with fire, and has asked me to relay the following information. He has decided to inform the community through Google Reader that <a href="http://wholewheatradio.org/">Whole Wheat Radio</a>, <em>the</em> bastion of independent music online will soon become become a commercial paid site.</p>
<p>This would be achieved through phases in order not to alienate existing users and the artists who bought into the notion that they’re music was being sent to a non profit website that was designed to promote them and their cause instead of generate large volumes of cash for it’s proprietors and investors.</p>
<p>These are suggestions interim steps for Whole Wheat Radio’s commercialisation:</p>
<ol>
<li style="clear:both;"><img src="https://rubenerd.com/files/uploads/icon.tango.chat.png" alt="Icon from the Tango Desktop project" style="height:92px; width:92px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />Remove any references to the Core Mission and make the chat page the main page for the site. This will allow WWR to leverage the power of social networking of the community, which is our key demographic and the largest potential source of revenue. Changing the Core Mission isn’t revisionist history because we don’t call it that.<p></p></li>
<li style="clear:both;"><img src="https://rubenerd.com/files/uploads/icon.tango.contact.png" alt="Icon from the Tango Desktop project" style="height:92px; width:92px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />Every user page on the WWR wiki will be donned with a large, non-removable box indicating what compulsory paid subscription rate they’ve chosen. This will help to guilt trip and shame people into paying more.<p></p></li>
<li style="clear:both;"><img src="https://rubenerd.com/files/uploads/icon.tango.click.png" alt="Icon from the Tango Desktop project" style="height:92px; width:92px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />Make about 200px of room above the content for each page for banner advertisements. Each advertisement could be delivered by Google AdSense which would intelligently pick up on the text of the individual wiki page and return advertisements that are relevant and interesting to all Whole Wheat Radio listeners. For doing so, Jim Kloss would receive 0.1% of the profits from Google as a referral.<p></p></li>
<li style="clear:both;"><img src="https://rubenerd.com/files/uploads/icon.tango.volumehigh.png" alt="Icon from the Tango Desktop project" style="height:92px; width:92px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />Monatise the audio streams themselves to deliver content that will enrich listeners lives and enhance their audio experience. Plugging into Google AdSense, the EJs will be programmed to to download the lyrics to the currently playing song from the song’s wiki page and read five to ten text advertisements after each song. Because these advertisements are relevant to the songs, listeners will appreciate them.<p></p></li>
<li style="clear:both;"><img src="https://rubenerd.com/files/uploads/icon.tango.findreplace.png" alt="Icon from the Tango Desktop project" style="height:92px; width:92px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />Start generating profits from the artists themselves. By banning user generated playlists and shows artists could compete for airtime by using an auction system plugged into the master WWR donation PayPal account of which PayPal would take a 92% cut of as a service fee. By rigging the auction system, Jim could still choose what songs are played but give the impression the music is being legitimately chosen by the artists.<p></p></li>
<li style="clear:both;"><img src="https://rubenerd.com/files/uploads/icon.tango.send.png" alt="Icon from the Tango Desktop project" style="height:92px; width:92px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />Once WWR has generated large sums of cash, Jim Kloss will insure and subsequently burn down the Wheat Palace and move the WWR headquarters to Los Angeles, California to be closer to the commercial music companies.<p></p></li>
<li style="clear:both;"><img src="https://rubenerd.com/files/uploads/icon.tango.bin.png" alt="Icon from the Tango Desktop project" style="height:92px; width:92px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />Jim will then abuse his position as a trusted friend of the independent musicians to start advising them to sign with one of the major record labels and subsequently become a part of the RIAA. The record labels and the RIAA have consistently shown through their fair and reasonable music monopoly that lawsuits and their own compelling products can also generate revenue above and beyond traditional, old fashioned promotional avenues like independent music websites. As a bonus, WWR would get a commission from these record labels.<p></p></li>
<li style="clear:both;"><img src="https://rubenerd.com/files/uploads/icon.tango.star.png" alt="Icon from the Tango Desktop project" style="height:92px; width:92px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />Once Jim Kloss has become a social networking guru, he will advise people of such by appending social-networking-guru to every profile page on every website and will proceed to charge people $10,000 per speaking appearance.<p></p></li>
<li style="clear:both;"><img src="https://rubenerd.com/files/uploads/icon.tango.devilsmile.png" alt="Icon from the Tango Desktop project" style="height:92px; width:92px; display:inline; border:0px; float:right; margin:0 0 10px 20px;" />At this point WWR will become a publicly traded company with the stated purpose of generating enough capital to expanding their operations, when in fact they’re really setting themselves up to be bought. Once majority control is relinquished, WWR will be purchased by News Corporation or Microsoft for a substantial profit and Jim Kloss will retire to a tropical island in the Caribbean or South Pacific, secure in the knowledge that his website and actions have helped independent musicians around the world.</li>
</ol>
<p>The Whole Wheat Radio board of directors wishes to advise that your reading of this blog post constitutes a silent, legally binding agreement in which you agree with everything that has been said to the extent that if you’re asked to provide testimony in a court of law you will be obligated to say as much.</p>
 
