---
title: 'Lesson 7 in grilled cheese sandwich observation' 
date: "2009-04-05T06:41:15+10:00"
year: "2009"
category: Thoughts 
tag: 
- grilled-cheese-sandwich-observation
- grilled-cheese-sandwiches
- nonsense
- photos
- pointless 
---
<p><img src="https://rubenerd.com/files/2009/flinders-ranges_2918462866_o@1x.jpg" alt="Flinders Ranges" srcset="https://rubenerd.com/files/2009/flinders-ranges_2918462866_o@1x.jpg 1x, https://rubenerd.com/files/2009/flinders-ranges_2918462866_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>Welcome to your seventh (no kidding, we’re really in that need of help?!) grilled cheese sandwich observation lesson. Feel free to take notes.</p>
<p>As far as I know this is <strong><em>not</em></strong> a grilled cheese sandwich, and quite frankly it concerns me that you think it is. Please seek counselling.</p>
<h3>Previous lessons</h3>
<ul>
<li><a href="//rubenerd.com/p3932/">Lesson six</a> on 2009.03.27</li>
<li><a href="//rubenerd.com/p3581/">Lesson five</a> on 2008.12.07</li>
<li><a href="//rubenerd.com/p2921/">Lesson four</a> on 2008.11.14</li>
<li><a href="//rubenerd.com/p2617/">Lesson three</a> on 2008.11.04</li>
<li><a href="//rubenerd.com/p1453/">Lesson two</a> on 2008.08.21</li>
<li><a href="//rubenerd.com/p1284/">Lesson one</a> on 2008.08.12</li>
</ul>
 
