---
title: 'Clipmark: Joe the Plumber a political William Hung?' 
date: "2009-04-06T04:52:54+10:00"
year: "2009"
category: Thoughts 
tag:
- clipmarks
- politics
- united-states 
---
<p><img src="https://rubenerd.com/files/uploads/joe-the-green-plumber.jpg" alt="Joe the Plumber with President Barack Obama" style="height:320px; width:470px; display:inline; border:0px" /> </p>

<p>Brilliant analogy but I don’t entirely agree: William Hung was fun and entertaining!</p>

<p><a href="http://www.google.com/reader/shared/09454950261221562208">As I said on Google Reader</a>, I reckon apathy is one of the most destructive forces out there. I don’t know much about ol’ Joe (only from watching The Late Show with David Letterman here and from what people have shared on Google Reader) but I know enough to reckon as long as some people still take him seriously, he’s a scary guy.</p>

<p><a href="http://clipmarks.com/clipmark/19F0ED0A-71C5-4796-B1CB-C48A65A69BDE/">Clipmarked</a> from <a href="http://scienceblogs.com/dispatches/2009/04/joe_the_plumber_admits_his_ign.php">ScienceBlogs</a>:</p>

<blockquote cite="http://scienceblogs.com/dispatches/2009/04/joe_the_plumber_admits_his_ign.php">

<p><strong><a href="http://scienceblogs.com/dispatches/2009/04/joe_the_plumber_admits_his_ign.php" id="a115251">Joe the Plumber Admits His Ignorance</a></strong><br />Posted on: April  5, 2009  9:23 AM, by <a href="http://scienceblogs.com/dispatches/">Ed Brayton</a></p>

<p>He was invited to speak at a rally against the Employee Free Choice Act in Harrisburg, PA, but it turns out he knows almost nothing about the act. So he just sputters some platitudes about politics when asked about the issues.</p>

<p>He keeps trying to say what he’s really there for is to stand up for the American people, but here’s the unspoken truth: he was there because someone was paying him to be there. What else can he do? He’s turned into the William Hung of politics, just desperate to appear in any mall food court they’ll book him at.</p>

</blockquote>
