---
title: 'Lesson eight in grilled cheese sandwich observation' 
date: "2009-05-01T10:19:24+10:00"
year: "2009"
category: Thoughts 
tag: 
- grilled-cheese-sandwich-observation
- grilled-cheese-sandwiches
- nonsense
- pointless 
---
<p><img src="https://rubenerd.com/files/2009/ferrari-testarossa-in-our-apartment-block-parking-lot_3491324252_o@1x.jpg" alt="Ferrari Testarossa in our apartment block parking lot" srcset="https://rubenerd.com/files/2009/ferrari-testarossa-in-our-apartment-block-parking-lot_3491324252_o@1x.jpg 1x, https://rubenerd.com/files/2009/ferrari-testarossa-in-our-apartment-block-parking-lot_3491324252_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>Oh come on, <em>eight</em> lessons? Now we&#39;re just getting silly people. Welcome to your eighth grilled cheese sandwich observation lesson. As usual, feel free to take notes.</p>
<p>As far as I know this is <strong><em>not</em></strong> a grilled cheese sandwich, and quite frankly it concerns me that you think it is. Please seek counselling.</p>
<blockquote><p><strong>ASIDE:</strong> I have been advised by my solicitors to disclose that while this information has been deemed accurate by most gastronomes, it should not be taken as sound legal advice when attempting to identify grilled cheese sandwiches in criminal and civil cases. If you do attempt to use such advice in legal proceedings, as far as you know this series of posts was created by <a href="http://intoyourhead.com/">Neal O’Carroll</a> and not me. Thank you ever so much.</p></blockquote>
<h3>Previous lessons</h3>
<ul>
<li><a href="//rubenerd.com/p3971/">Lesson seven</a> on 2009.04.05</li>
<li><a href="//rubenerd.com/p3932/">Lesson six</a> on 2009.03.27</li>
<li><a href="//rubenerd.com/p3581/">Lesson five</a> on 2008.12.07</li>
<li><a href="//rubenerd.com/p2921/">Lesson four</a> on 2008.11.14</li>
<li><a href="//rubenerd.com/p2617/">Lesson three</a> on 2008.11.04</li>
<li><a href="//rubenerd.com/p1453/">Lesson two</a> on 2008.08.21</li>
<li><a href="//rubenerd.com/p1284/">Lesson one</a> on 2008.08.12</li>
</ul>
 
