---
title: 'Lucy in the park with flowers' 
date: "2009-10-19T12:49:56+10:00"
year: "2009"
category: Media
tag:
- adelaide
- around-the-park
- environment
- mawson-lakes
- photography
- photos 
---
<p><img src="https://rubenerd.com/files/2009/fragile_4021725112_o@1x.jpg" alt="Fragile" srcset="https://rubenerd.com/files/2009/fragile_4021725112_o@1x.jpg 1x, https://rubenerd.com/files/2009/fragile_4021725112_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>

<p>There seems to be a theme developing here. In <a href="//rubenerd.com/break-photos-01/">part one</a> of my mid semester walk around the park photo set I had images of ducks and other aviary animal critter thingys, and in <a href="//rubenerd.com/food-in-nature-photos/">part two</a> I had photos of plants that looked like breakfast cereals. True story.</p>

<p>Here we have some photos of flowers I thought were particularly pretty and all that. If anything these serve to show I have yet to master the art of composition, but at least they make nice desktop backgrounds :). You can also view the <a href="https://www.flickr.com/photos/rubenerd/sets/72157622471354226/">full Flickr gallery</a>.</p>

<p><img src="https://rubenerd.com/files/2009/wattle-bout-that_4021718978_o@1x.jpg" alt="Wattle bout that?" srcset="https://rubenerd.com/files/2009/wattle-bout-that_4021718978_o@1x.jpg 1x, https://rubenerd.com/files/2009/wattle-bout-that_4021718978_o@2x.jpg 2x" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2009/fireworks_4021720896_o@1x.jpg" alt="Fireworks" srcset="https://rubenerd.com/files/2009/fireworks_4021720896_o@1x.jpg 1x, https://rubenerd.com/files/2009/fireworks_4021720896_o@2x.jpg 2x" style="width:250px; height:167px;" /></p>

<p><img src="https://rubenerd.com/files/2009/painting_4020962025_o@1x.jpg" alt="Painting" srcset="https://rubenerd.com/files/2009/painting_4020962025_o@1x.jpg 1x, https://rubenerd.com/files/2009/painting_4020962025_o@2x.jpg 2x" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2009/polka-dots_4021724424_o@1x.jpg" alt="Polka dots" srcset="https://rubenerd.com/files/2009/polka-dots_4021724424_o@1x.jpg 1x, https://rubenerd.com/files/2009/polka-dots_4021724424_o@2x.jpg 2x" style="width:250px; height:167px;" /></p>
 
