---
title: 'PC DOS 2000 boots on an Armada M300!' 
date: "2009-05-10T03:22:53+10:00"
year: "2009"
category: Hardware 
tag:
- armada-m300
- connectix
- dos
- drivers
- emm386
- himem
- infocomm
- operating-systems
- pc-dos 
---
<p><img src="https://rubenerd.com/files/2009/taking-screenshots-the-old-fashioned-way_3516964459_o@1x.jpg" alt="Taking screenshots the old fashioned way" srcset="https://rubenerd.com/files/2009/taking-screenshots-the-old-fashioned-way_3516964459_o@1x.jpg 1x, https://rubenerd.com/files/2009/taking-screenshots-the-old-fashioned-way_3516964459_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>After I had decided to replace Arch Linux with the <a href="//rubenerd.com/freebsd72-released/">latest version of FreeBSD</a> on my Armada M300 (reasons for another post), I decided during the partitioning stage to save 512MiB of space. Why? So that instead of relegating my DOS nostalgia to virtual machines on my MacBook Pro I could dual boot this subnotebook with it! Genius right? Don&#39;t answer that.</p>
<p>When I first bought <a href="http://en.wikipedia.org/wiki/Connectix">Connectix Virtual PC (Wikipedia)</a> for my first iMac back in the day it came with a fully licenced ISO disc image of <a href="http://en.wikipedia.org/wiki/IBM_PC_DOS">IBM PC DOS 2000</a> which essentially was PC DOS 7 with Y2K and Euro character support, so this morning I burned a copy of it to disc and loaded it up!</p>
<p>Even 2002 era, 600MHz hardware with 320MiB of RAM is still ridiculously high for DOS so it loads instantly. I&#39;m also pleasantly surprised by how much of it works right out of the box! The generic drivers for the CD-ROM let me access the optical drive in the docking station; the bundled <code>MOUSE.COM</code> detects and lets me use the touchpad; and the bundled <code>HIMEM.SYS</code> and <code>EMM386.EXE</code> can assign high memory without any the problems I had when <a href="//rubenerd.com/virtualbox-review/">running PC DOS in VirtualBox</a>. When I&#39;ve had more time to play around with it (and when I swap in UMBPCI, Cute Mouse etc) I&#39;ll post my experiences here. Suffice to say preliminary results are extremely encouraging.</p>
<p>Before anyone comments here asking why, I decided not to use FreeDOS because their Windows 3.x support is still in the experimental stage and it&#39;s still has some issues with some old games. Even though we also still have a valid licence for MS-DOS 6.22 I also chose not to use it because PC DOS 7 has some really nice features that can save much more conventional memory, plus it comes with all the tools Microsoft omitted from MS-DOS 5 like the DOSSHELL and I prefer the <a href="http://en.wikipedia.org/wiki/E_(PC-DOS)">IBM E Editor</a> to <a href="http://en.wikipedia.org/wiki/EDIT.COM">MS-DOS EDIT</a>. I&#39;m also intrigued by <a href="http://en.wikipedia.org/wiki/REXX">REXX</a> having never used it before.</p>
<p>I think it was my good friend Felix Tanjono who said on Twitter that no amount of virtualisation is good enough, sometimes you just have to go all the way and dual boot! I agree. There&#39;s something cool about being asked whether you want to boot PC DOS or FreeBSD… the first OS I used versus the latest. I&#39;m a sucker for symbolic crap like that.</p>
<p>So what&#39;d you do on your Sunday? ^_^</p>
 
