---
title: 'The Tennant 5700 industrial scrubber' 
date: "2009-12-18T05:17:39+10:00"
year: "2009"
category: Hardware 
tag:
- industrial-cleaning
- infocomm
- pointless-milestone
- syncronicity
- weblog 
---
<p><img src="https://rubenerd.com/files/uploads/photo.5700-right.jpg" alt="The Tennant 5700 industrial scrubber" style="height:262px; width:320px; display:inline; padding:0em;" /></p>
<p>According to the internal WordPress installation here, for some reason the the ID of this post is 5700 which you can confirm by going to the <a rel="nofollow" href="//rubenerd.com/?p=5700">non-prettified address</a>. What&#39;s more stupendously amazing is 5700 is also the model number for a sophisticated piece of equipment, the <a href="http://www.tennantco.com/na-en/products/machines/5700-walk-behind-scrubber.aspx?media=image">Tennant 5700 Industrial-strength Walk-behind Scrubber</a>. Read on if you dare!</p>
<blockquote cite="http://www.tennantco.com/na-en/products/machines/5700-walk-behind-scrubber.aspx"><p><strong>Consistent, quality cleaning results that set the standard</strong></p>
<p>Just like this decade is drawing to a close and everything is infinitely more important if it has a rounded bunch of zeros at the end of it, at this 5700 mark we sit back and reflect all that we&#39;ve accomplished here, with me and the writer and you as the readers and commentators… well, that didn&#39;t take long!</p>
<p>I kid folks, I still maintain this is one of the few blogs where the comments are usually more substantive, interesting, witty and useful than what I write here myself. You guys contain awesomeness. Thank you :).</p>
<blockquote cite="http://www.tennantco.com/na-en/products/machines/5700-walk-behind-scrubber.aspx"><p><strong>Key available features</strong></p>
<ul>
<li>The Tennant 5700 dislodges and picks up stubborn dirt, grime, oil or sand – even nuts and bolts.</li>
<li>This scrubber’s got a long-lasting machine thanks to expert engineering and industrial-grade construction.</li>
<li>Scrub without chemicals with ec-H2O™ electrically converted water scrubbing technology.</li>
<li>Fewer empty/fill cycles and more time for cleaning with foam-based FaST® technology.</li>
<li>Industry-leading engineering, industrial-grade construction and a 10/3/3 warranty on the 5700.</li>
<li>Aluminum squeegee assembly and scrub heads, shock-absorbing frame and durable polyethylene construction.</li>
<li>Up to 300 lb / 136 kg of down pressure with heavy-duty motor options.</li>
<li>Available in disk or cylindrical scrub heads with three path widths: 28 in / 710 mm, 32 in / 810 mm or 36 in / 910 mm.</li>
<li>Off-aisle power wand extends cleaning reach.</li>
<li>Dual vac fan increases vacuum lift by up to 30 percent to pick up bulky, tough soils found in industrial facilities.</li>
<li>Optional heavy-duty brush motors (32 in / 810 mm disk model) and cylindrical scrub heads for our best hard-surface soil removal.</li>
<li>Chemical-free scrubbing and FaST foam scrubbing technologies for cleaner, higher-traction floors.</li>
</ul></blockquote></blockquote>
<p>In talking to my fabulous father, he relayed that Tennant make some amazing equipment. Personally I&#39;d love to have one of these floor scrubbers as a Segway, all you&#39;d need is a platform to stand on and a really, really long power cable. Or maybe they could develop a solar floor scrubber I could ride around on!</p>
<p>You know, I really didn&#39;t know how this post was going to turn out, but I wholeheartedly approve of it. And people tell me I get off topic here, can you believe it?</p>
<p>Zoom zoom! Thank you.</p>
 
