---
title: 'Prohibition works! Wait, what?' 
date: "2009-09-07T09:09:24+10:00"
year: "2009"
category: Thoughts 
tag: 
- adelaide
- australia
- beverages
- grilled-cheese-sandwiches
- problems 
---
<p><img src="https://rubenerd.com/files/2009/bar-at-the-hahndorf-inn-hotel_3391766442_o@1x.jpg" alt="Bar at the Hahndorf Inn Hotel" srcset="https://rubenerd.com/files/2009/bar-at-the-hahndorf-inn-hotel_3391766442_o@1x.jpg 1x, https://rubenerd.com/files/2009/bar-at-the-hahndorf-inn-hotel_3391766442_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>Adelaide Now is reporting that <a href="http://www.news.com.au/adelaidenow/story/0,22606,26037367-5006301,00.html">millions of Australians have had their first drink by age 10</a>, and that it&#39;s the reason for alcohol abuse later in life. I don&#39;t buy it.</p>
<p><!--oldmore--></p>
<blockquote cite="http://www.news.com.au/adelaidenow/story/0,22606,26037367-5006301,00.html"><p>MILLIONS of Australians have been put at risk of developing alcohol problems later in life by drinking before the age of 10, new research shows.</p>
<p>Research commissioned by The Salvation Army shows more than two million Australians were under 10 years old when they first tried alcohol.</p>
<p>The Roy Morgan research also showed that 12 million Australians were unaware of new national guidelines which advise the safest option for teenagers is to delay drinking for as long as possible.</p>
<p>The Salvos said the research was alarming, adding it was concerned the message that children under 18 should not drink is not getting through.
</p></blockquote>
<p>Leaving aside the title which doesn&#39;t say anything about alcohol, I completely fail to see the connection between this alleged research into the age alcohol was first consumed, and the problems with alcohol abuse.</p>
<p>My father&#39;s side of the family is from Germany which has no age limit on the consumption of alcohol, and many other countries in Europe that have proud traditions surrounding beer and wine have similar laws. Do these European countries have problem drinkers? Absolutely. Are there any more than in Australia where the early age of alcohol is being blamed without evidence for so many youth trouble drinkers? I&#39;d wager a grilled cheese sandwich the answer is no.</p>
<p>The fundamental problem with banning a substance outright is that socially it just doesn&#39;t work. Banning hard drugs doesn&#39;t stop the drug trade, prohibition in the United States didn&#39;t stop drinking, and abstinence classes don&#39;t stop woohoo. In fact often such efforts backfire simply because they&#39;re seen as forbidden fruit.</p>
<p>The real problem the Anglosphere is facing with alcohol abuse (Australia, the United States et al) is that heavy drinking is seen as a rite of passage to adulthood. Our society dictates that young people who get completely wasted and smashed are in, and the people who choose not to are losers. Frankly I don&#39;t know the answer to this problem, but I&#39;m not pretending that we can blame it all on the fact trillions of under-age youths had their first taste of alcohol earlier than the law says they should have.</p>
<p>As a matter of disclosure, I had my first glass of red wine when I was 12. I&#39;m 23 and I have a standard drink perhaps once or twice a month, if that. Now if we wanted to talk about coffee…!</p>
 
