---
title: 'Rental inspection went swimmingly' 
date: "2009-08-26T12:49:33+10:00"
year: "2009"
category: Thoughts 
tag: 
- australia
- housing
- rent
- studies 
---
<p><img src="https://rubenerd.com/files/2009/rented-house-inspection_3858055212_o@1x.jpg" alt="Rented house inspection" srcset="https://rubenerd.com/files/2009/rented-house-inspection_3858055212_o@1x.jpg 1x, https://rubenerd.com/files/2009/rented-house-inspection_3858055212_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>We just had our student house inspection for our rental property here in Awesome Mawson (I thought I was so clever when I came up with that) and after the regular checking of each room for damage and booby traps, the woman wrote on the form &quot;house in excellent condition&quot;.</p>
<p>While the rent is a bit higher than I would like, I think it&#39;s worth it to have a great landlord and a realtor who talks to us like human beings not cash registers. When I used to live in the Mertz UniSA student housing they were also pretty good, but a few other houses in Mawson and Pooraka I shared with folks after that were made almost living hell because of landlords. I used to think it was interesting they could let faulty hot water heaters slide for weeks in winter, but if we were late for a payment we&#39;d get rude calls that afternoon. I guess it&#39;s like insurance companies that demand payment but don&#39;t pay out, or talking to that cute Japanese barista only to discover she&#39;s been in a relationship for three years with a Caucasian guy who bears a striking resemblance to Jamie Cullum. D&#39;oh.</p>
<p>For the next few days it&#39;s going to be great living in a house that looks like a page from an Ikea catalogue (certainly that&#39;s where the furniture is all from!) before the inevitable mess creeps back. We&#39;re very clean, but not the tidiest people on the planet :).</p>
<p>Speaking of which I haven&#39;t made a pointless trip to Ikea for a hot dog and WiFi in a while.</p>
 
