---
title: 'My belated review of Q.app' 
date: "2009-04-21T09:45:45+10:00"
year: "2009"
category: Software
tag:
- apple
- bsd
- dos
- freebsd
- infocomm
- mac-os-x
- q-app
- qemu
- reviews
- virtualisation
- windows
- windows-2000
- windows-nt
- windows-nt-4 
---
<p><img src="https://rubenerd.com/files/2009/3458039431_89c75633c9_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3458039431_89c75633c9_o@1x.jpg 1x, https://rubenerd.com/files/2009/3458039431_89c75633c9_o@2x.jpg 2x" alt="Classic OSs in Q.app" style="width:500px; height:311px;" /></p>

<p>Due to some <a href="//rubenerd.com/we-are-back/">silly distractions</a> I had to postpone my reviews of <a href="//rubenerd.com/mac-vm/">Mac virtualisation software</a>. Today&#39;s review is  for <a href="http://www.kju-app.org/">Q.app</a>, a free and open source native Mac port of the <a href="http://www.nongnu.org/qemu/">QEMU</a> processor emulator.</p>
<p>Q.app can be described in one word: <strong>svelte</strong>! In a download that weighs in at under 10MiB, this tiny application can create and run fully contained virtual machines; it&#39;s very impressive! It&#39;s also clear a lot of care and attention has been put into the interface: because it&#39;s a native Cocoa port the interface <em>feels</em> like a real Mac application and the guests you create are bundled into native OS X packages.</p>
<blockquote><p><strong>ASIDE:</strong> As a matter of disclosure, I am not affiliated with the Q.app project or  QEMU, nor was I given a financial incentive to positively review their application, though now it’s after the fact I would be more than happy to accept such payments. Thank you.</p></blockquote>
<p><img src="https://rubenerd.com/files/uploads/icon.q.png" alt="Q.app icon" style="height:128px; width:128px; display:inline; border:0px; float:right; margin:0 0 10px 20px" />Because Q.app uses QEMU it doesn&#39;t have the sophisticated performance or graphics of much heavier (and far more expensive) apps like VMware Fusion which I&#39;ve <a href="//rubenerd.com/just-bought-vmware-fusion/">previously blogged about</a>, but apps that require those kinds of resources aren&#39;t the intended use of it anyway.</p>
<p>Provided you use more modest operating systems instead of trying to shoehorn Windows 7 or Ubuntu with Gnome into it, it&#39;s very usable. Windows 2000, the BSDs and lighter distributions of GNU/Linux run just fine. Windows 95 and DOS (including the latest FreeDOS) absolutely scream! As with any VM software, the key is finding the oldest OS that can run the software you need, unless you intend on using the Internet in it for security reasons.</p>
<p>I have had some stability issues with Q on my first generation Core Duo MacBook Pro, and the Q drivers to enable a Samba share between my Windows 2000 guest and my Mac stubbornly refuse to work, but I&#39;m willing to chalk both these problems up to a problem with the operator not necessarily the software! <a href="//rubenerd.com/my-beautiful-ibook-is-working-again/">My iBook G3</a> was obviously slower, but didn&#39;t have either of these issues.</p>
<p>If you need to run a application written for another OS (or with caveats perhaps even another processor!) and you don&#39;t have time or inclination to register for and download a huge product like Fusion or Parallels, or if you&#39;re like me and just want to run a ton of older OSs for silly nostalgic reasons, you can&#39;t go wrong with Q.app. The folks behind this app have done a great job.</p>
 
