---
title: 'Our dog Romeo is feeling better' 
date: "2009-12-20T02:01:59+10:00"
year: "2009"
category: Thoughts 
tag: 
- family
- health
- personal
- pets 
---
<p><img src="https://rubenerd.com/files/2009/who-are-you-looking-at_3216830207_o@1x.jpg" alt="Who are YOU looking at?" srcset="https://rubenerd.com/files/2009/who-are-you-looking-at_3216830207_o@1x.jpg 1x, https://rubenerd.com/files/2009/who-are-you-looking-at_3216830207_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>Had a bit of a scare with our oldest little doggie Romeo yesterday, he completely lost his usually veracious appetite and looked as though he was struggling to move. We rushed him to the vet where a blood test revealed his white blood cell count was through the roof, so he was hospitalised overnight. We were told the symptoms pointed to a a severe infection, but there was a chance he had a tumour in his liver. Needless to say, we didn&#39;t get much sleep last night worrying about it.</p>
<p>Fortunately he was discharged today after being placed on several vitamin drips and his blood returned to normal. We have to keep him under close observation over the next few days and have a cocktail of medications to give him, but he&#39;s already looking more like his old self. Hopefully he&#39;ll be looking as happy and silly as the photo above again soon :).</p>
 
