---
title: 'A philosophical revelation: I’m a humanist' 
date: "2009-05-06T04:46:59+10:00"
year: "2009"
category: Thoughts 
tag: 
- agnosticism
- atheism
- evidence
- humanism
- philosophy
- rationality
- religion
- science
- will-be-getting-hate-mail 
---
<p><a href="http://commons.wikimedia.org/wiki/File:Epicurus_Louvre.jpg"><img src="https://rubenerd.com/files/uploads/photo.epicurus.louvre.jpg" style="height:320px; width:500px; display:inline; border:0px;" alt="Epicurus bust at the Louvre" /></a><br /><cite>Epicurus bust at the Louvre</cite></p>
<p>Ever since my coming out as an atheist and subsequent family events that were made more complex by religion, I&#39;ve been posting occasionally on the topic on Twitter and on my blog here; some have supported me, most have sent hate mail! I find it ironic that some religious people feel they have a right to post comments about their faith, but if agnostics or atheists do the same thing we&#39;re being rude. Ah well, you can&#39;t win them all!</p>
<p>In the years since this self realisation I&#39;ve come to think the term &quot;atheist&quot; is a bit too narrow, and with the automatic angry knee jerk reaction so many religious people seem to have when they see the term, I&#39;ve been looking into others. Think of it as a philosophical quest to save my arse.</p>
<p>For example, as an <a style="font-weight:bold" href="http://en.wikipedia.org/wiki/Atheism">atheist</a> I assert there has never been sufficient scientific or empirical evidence produced to rationally believe in deities; as an <a style="font-weight:bold" href="http://en.wikipedia.org/wiki/Antitheism">antitheist</a> I believe the religions themselves are the problem given they can be interpreted in so many ways and that the perceived benefits of religions pale in comparison to the corrosive effects on politics and medicine they&#39;re having around the world; as a <a style="font-weight:bold" href="http://en.wikipedia.org/wiki/Science">scientist</a> I reject the disproved and implausible (if not completely impossible) theories of young earth creationism and intelligent design, as well as the stories of Noah&#39;s Ark and so on.</p>
<p>With all this combined, I just feel as though if as much time, money and effort was accorded to real people instead, the world would be a better place. I know there almost certainly isn&#39;t a God or an afterlife, so the best moral guides we have are the universal golden rule, and instead of waiting for a Heaven, we should be trying to create it here.</p>
<p><img src="https://rubenerd.com/files/2009/wildflowers-alongside-the-mawson-lakes-river_2920691476_o@1x.jpg" alt="Wildflowers alongside the Mawson Lakes river" srcset="https://rubenerd.com/files/2009/wildflowers-alongside-the-mawson-lakes-river_2920691476_o@1x.jpg 1x, https://rubenerd.com/files/2009/wildflowers-alongside-the-mawson-lakes-river_2920691476_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<h3>But wait, there’s more! Order now and…</h3>
<p>As it turns out, there is a school of thought that thinks like all of the above, and it&#39;s called <a style="font-weight:bold" href="http://en.wikipedia.org/wiki/Humanism">humanism</a>. When I read the first paragraph on Wikipedia about it, I felt like leaping out of my computer chair and shouting Eureka!</p>
<blockquote><p>Humanism is a broad category of ethical philosophies that affirm the dignity and worth of all people, based on the ability to determine right and wrong by appealing to universal human qualities, particularly rationality, without resorting to the supernatural or alleged divine authority from religious texts.</p></blockquote>
<p>The article goes on to explain how morals should evolve and be derived from social necessity not rigid texts:</p>
<blockquote><p>Humanism can be considered as a process by which truth and morality is sought through human investigation; as such, views on morals can change when new knowledge and information is discovered. In focusing on the capacity for self-determination, humanism rejects transcendental justifications, such as a dependence on faith, the supernatural, or texts of allegedly divine origin.</p></blockquote>
<p>I also really related to this one line under the Knowledge subheading:</p>
<blockquote><p>In demanding that humans avoid blindly accepting unsupported beliefs, [humanism] supports scientific skepticism and the scientific method, rejecting authoritarianism and extreme skepticism, and rendering faith an unacceptable basis for action.</p></blockquote>
<p>I&#39;m usually not a fan of labels because they tend to oversimplify people&#39;s beliefs and views on a subject, but I feel proud identifying myself as a humanist now. It just surprises me that a movement like this has existed for so long and that is identical to my own views and beliefs, and I didn&#39;t really know about it!</p>
<p>It&#39;s also relieving in a way to discover there are other people out there who share my views. I feel much less isolated today.</p>
 
