---
title: 'See you on the 1st of June' 
date: "2009-05-27T04:18:31+10:00"
year: "2009"
category: Internet
tag:
- infocomm
- webhosting
- weblog 
---
<p>Given my current <a href="//rubenerd.com/189-transfer-limit/">bandwidth crunch</a> here, until the 1st of June when my monthy allocation is reset I won&#39;t be creating any new blog posts. It&#39;s going to be tough and one of the longest gaps I&#39;ve had here, but I&#39;ll get through it!</p>
<p>In the meantime I&#39;m still available on <a href="http://twitter.com/rubenerd">Twitter</a> for a chat, and you can check on my progress over at <a href="http://alpha.libre.fm/user/rubenerd/">Libre.fm</a>.</p>
<p>See you on the other side,<br />
<cite><a href="//rubenerd.com/about/">Ruben</a></cite></p>
 
