---
title: 'GRC’s SpinRite can’t be licenced for students' 
date: "2009-06-01T12:28:30+10:00"
year: "2009"
category: Software
tag:
- grc
- infocomm
- licencing
- shopping
- spinrite
- steve-gibson 
---
<p><img src="https://rubenerd.com/files/2009/running-spinrite-at-0300hrs_1468704793_o@1x.jpg" alt="Running SpinRite at 0300hrs" srcset="https://rubenerd.com/files/2009/running-spinrite-at-0300hrs_1468704793_o@1x.jpg 1x, https://rubenerd.com/files/2009/running-spinrite-at-0300hrs_1468704793_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>Sent an email yesterday to <a href="http://www.grc.com/cs/prepurch.htm">GRC&#39;s sales department</a> asking if they had a licence for student use:</p>
<blockquote><p>Hello there!</p>
<p>I’m a computer science student in Australia interested in buying a licence for SpinRite for preventitive maintainence on several drives I use for my 100GB+ assignments. I have backups, but I work these drives pretty hard and am worried about looking after them properly.</p>
<p>Unfortunately AU$115.00 for a full licence for me is prohibitively expensive, so I was wondering if you offer student pricing? I understand such a licence would limit me to use only on my own machine I’m actively using for studiying, and I would be obligated to purchase a regular full licence when I finish my degree and am no longer a student.</p>
<p>Cheers, Ruben
</p></blockquote>
<p>Just got a reply last night Adelaide time, or yesterday morning California time:</p>
<blockquote><p>
Hi Ruben,</p>
<p>We’re sorry but we do not offer any type of educational discounts on SpinRite.</p>
<p>Thanks for your interest.</p>
<p>Sincerely,</p>
<p>Sue<br />
GRC<br />
Sales Dept.
</p></blockquote>
<p>After my initial dissapointment ebbed I was left with a sense of confusion. I would think if I were the creator of a product like SpinRite that&#39;s mostly sold through word of mouth sales, I would <em>especially</em> want computer science students actively using it and showing it to friends and classmates in a university environment.</p>
<p>Fresh computer science graduates would be a huge market for specialised software like this. Imagine if they reduced the price by 20% for students, but as a result a dozen people saw me use it and subsequently got their own student licences. I&#39;ve seen this activity happen numerous times, friends of mine have combined bought hundreds of dollars worth of Mac software after seeing me demo it, and vica versa. Given we&#39;re in the formtive stages of our careers, software we start using and liking now could very well become indispesable parts of the toolkits we carry with us for many long years.</p>
<p>GRC absolutely has the right to deny me this request, on no part of their site do they make any suggestion of student pricing. I guess I&#39;m just frustrated that I don&#39;t understand their business logic. To be fair, I am doing computer science and economics <em>not</em> business, so perhaps I&#39;m not supposed to.</p>
<p>If you ever read this Steve, I&#39;m a huge fan, but I encourage you to think about this.</p>
 
