---
title: 'On Steve Jobs, Tony Snow and health' 
date: "2009-06-05T06:36:45+10:00"
year: "2009"
category: Thoughts 
tag: 
- apple
- health
- steve-jobs 
---
<p>Back on the 21st of May I reported here that I was giving up posting comments on News.com because I couldn&#39;t be bothered dealing with the mudslinging (<a href="//rubenerd.com/cnet-news-comments/">CNET News.com comments are getting old</a>). Well, I lied! I saw a few comments from people on <a href="http://news.cnet.com/8301-13579_3-10257987-37.html">this article about Steve Jobs&#39; health and subsequent return to Apple</a> and had to post something.</p>
<blockquote cite="http://news.cnet.com/8301-13579_3-10257987-37.html"><p>
joetesta70, ace10134, you guys have no class whatsoever. You may dislike Steve Jobs, but this article was merely a report regarding his return to work after going through medical hell. My mother died of a related condition that lasted over 12 years, let me tell you it’s brutally painful and difficult.</p>
<p>If you don’t like the guy or his business, there are plenty of places online to voice your anger, frustration (or I suspect envy). In the meantime, don’t go trolling on news stories about a person’s health; if anything all it does is attest to your lack of character.</p>
<p>It’s sad that intelligent discourse online is drowned out by such childish antics, same goes for &quot;fanboyism&quot;. For me I’m only 23 and it’s already getting really old.
</p></blockquote>
<p>My basic point is, even if you don&#39;t like somebody bashing them for health problems is just wrong. I really did not like former American White House Press Secretary and Fox News commentator Tony Snow one bit, but that didn&#39;t mean I couldn&#39;t wish him the best during some scary medical problems back in 2007 (<a href="//rubenerd.com/wishes-for-tony-snow/">Wishes for Tony Snow</a>) which he only just died from last year.</p>
<blockquote cite="//rubenerd.com/wishes-for-tony-snow/"><p>
[…]</p>
<p>Let me make it clear, I think George W. Bush (along with my home country’s Prime Minister John Howard) is a war criminal and that his administration is dangerously incompetent when it comes to handling world and domestic affairs, and I agree with virtually nothing that Tony Snow has said or apparently believes. But I can imagine what his family is going through, and I would not want anyone to have to live through that. Nobody deserves it.</p>
<p>I wish you and your family the best Mr Snow.</p></blockquote>
<p>I guess I&#39;m just old fashioned in that way.</p>
 
