---
title: 'Message in a Bottle #SongsInCode' 
date: "2009-08-22T06:38:31+10:00"
year: "2009"
category: Software
tag:
- infocomm
- java
- memes
- music
- pointless
- twitter 
---
<p><img src="https://rubenerd.com/files/uploads/photo.sting2009.jpg" alt="Sting" style="height:362px; width:280px; display:inline; border:0em;" /></p>
<p>This afternoon I did something extraordinarily productive and created an extended <a href="//rubenerd.com/songsincode/">#SongsInCode</a> rendition of <a href="http://en.wikipedia.org/wiki/Message_in_a_Bottle_(song)">Message in a Bottle</a> that compiles. Now all somebody in this distant future needs to do is create a new class to fetch Sting&#39;s bottle and read his message!</p>
<h3>Sting.java</h3>
<pre>
public class Sting {
  public static void main(String[] args) {
    Bottle oceanBottle = new Bottle("SOS!");
  }
}
</pre>
<h3>Bottle.java</h3>
<pre>
public class Bottle {
  String message = "";
  boolean opened = false;

  public Bottle(String message) {
    this.message = message;
  }

  public void pullCork() {
    opened = true;
  }

  public String getMessage() throws NotOpenException {
    if (opened)
      return message;
    else
      throw new NotOpenException();
  }
}
</pre>
<h3>NotOpenException.java</h3>
<pre>
public class NotOpenException extends Throwable {
  public NotOpenException() {
    super("You haven't opened the bottle yet!");
  }
}
</pre>
 
