---
title: 'Sue Heins from Inspring Women on Twitter!' 
date: "2009-07-13T07:26:16+10:00"
year: "2009"
category: Internet
tag:
- family
- infocomm
- inspiring-women
- sue-heins
- twitter 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.sue.twitter.png" alt="Sue Heins' Twitter profile" style="height:245px; width:500px; border:0px; display:inline;" /></p>
<p>It&#39;s always fantastic when someone or something comes along to bridge two disparate parts of your life. Like talking about Haruhi with Felix Tanjono from high school, or talking about Leo Laporte to my cousin James, or finding out that girl I talked to at Starbucks knew what FreeBSD was! Okay I lied, she didn&#39;t know but she knew what Linux was, that&#39;s pretty close!</p>
<p>Overnight Twitter just became infinitely more awesome thanks to <a href="http://twitter.com/inspiringwomen">Sue Heins following me</a>! Sue worked with my mum before I was born back in Australia and is now (amongst several billion other projects I no doubt am not aware of) working at <a href="http://inspiringwomen-au.blogspot.com/">Inspiring Women</a>, an organisation she spearheaded that encourages and supports women in business. I didn&#39;t take her focus group personally ;-).</p>
<p>Now that I got my sister on it, and now that Sue is on it, this just leaves <a href="http://rainerschade.com/">my dad</a>. He&#39;ll crack eventually.</p>
 
