---
title: 'Telstra doesn’t like Mawson footpaths' 
date: "2009-08-17T10:02:30+10:00"
year: "2009"
category: Thoughts 
tag: 
- adelaide
- australia
- fail
- mawson-lakes
- telcos
- telstra 
---
<p><img src="https://rubenerd.com/files/2009/broken-footpath_3829731456_o@1x.jpg" alt="Broken footpath" srcset="https://rubenerd.com/files/2009/broken-footpath_3829731456_o@1x.jpg 1x, https://rubenerd.com/files/2009/broken-footpath_3829731456_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>Now ladies and gentlemen, as far as being a neighbour goes I reckon I&#39;m pretty easy to get along with. All I need is a reliable internet connection, water and electricity. The only loud music I play is jazz fusion. When people living across from me have a gas leak and call the fire department in at 3am I just roll over and go back to sleep. When Jehovah&#39;s Witnesses come to the door, I hide my copies of The God Delusion and The Portable Atheist and pretend to care about what they&#39;re saying.</p>
<p>Presenting exhibit 1936a, the photograph above. Ever since I started studying here in July last year these telephone access covers have been sitting here without a footpath around them. When it rains it becomes a river of mud, when it&#39;s dry the temporary fencing which has been standing there longer than some of the houses surrounding it serves to snag feet and bags.</p>
<p>I submit dear reader that Telstra should stop sitting on whatever part of their corporate body they primary sit on instead of helping taxpayers and come down to Mawson Lakes here to fix this problem, because I&#39;d very much like one of these days to be able to walk to uni without tracking mud for a few hundred metres or tripping and falling flat on my arse which not only hurts but looks terribly unsophisticated and tends to make me look as though I&#39;m trying to pull off a John Cleese walking impression. I&#39;m flattered by the comparison, but honestly all I want to do is walk without the aforementioned events occurring.</p>
<p>Please Telstra, look at the rambling nonsense you&#39;ve reduced me to.</p>
 
