---
title: 'Testing pkgsrc on my MacBook Pro' 
date: "2009-05-24T10:37:12+10:00"
year: "2009"
category: Software
tag:
- apple
- bsd
- figlet
- infocomm
- mac-os-x
- netbsd
- package-managers
- pkgsrc 
---
<p><a href="//rubenerd.com/files/uploads/anime.netbsd.mai.colour.png"><img style="height:262px; width:420px;" alt="Mai from Mai HiME showing her orange NetBSD colours!" src="https://rubenerd.com/files/uploads/anime.netbsd.mai.colour.420.jpg" /></a></p>
<p>Testing whether I got the <a href="http://www.netbsd.org/docs/software/packages.html">NetBSD pkgsrc system</a> installed properly on my MacBook Pro. Everything seems to be in order! Now to install Gnumeric and other free and open source goodness.</p>
<pre>
% uname -mrs
Darwin 9.7.0 i386
% figlet Rubenerd
 ____        _                             _ _ 
|  _ \ _   _| |__   ___ _ __   ___ _ __ __| | |
| |_) | | | | '_ \ / _ \ '_ \ / _ \ '__/ _` | |
|  _ &lt;| |_| | |_) |  __/ | | |  __/ | | (_| |_|
|_| \_\\__,_|_.__/ \___|_| |_|\___|_|  \__,_(_)
                                               
</pre>
 
