---
title: 'The Midnight Commander… editor?' 
date: "2009-06-10T11:10:54+10:00"
year: "2009"
category: Software
tag:
- bsd
- editors
- freebsd
- infocomm
- linux
- midnight-commander
- openbox 
---
<p><img src="https://rubenerd.com/files/2009/3612703566_52304223da_o.png" alt="Midnight Commander editor" style="width:486px" /></p>

<p>This shows my own ignorance, but did you know the <a href="www.midnight-commander.org/">Midnight Commander</a> I talked about recently (<a href="//rubenerd.com/midnight-commander/">If you&#39;ve never tried Midnight Commander…</a>) also comes with it&#39;s own fully featured editor? I&#39;ve been using MC for years and never knew this!</p>
<p>To edit a file with the Midnight Commander editor, invoke it with the <code>e</code> option:</p>
<pre>% mc -e [filename]</pre>
<p>The key commands are similar to Midnight Commander&#39;s file management mode and are presented along the bottom of the screen, and a convenient bar along the top lets you know the current line and character position of your cursor amongst other things. Hitting <code>[F10]</code> brings up up an easy to use menu system.</p>
<p>I won&#39;t be giving up on my beloved Vim and nano editors any time soon, but using an editor with a blue background, grey text and menus is a nice DOS nostalgia trip!</p>
 
