---
title: 'Taking Paul Thurrott to task on the Zune HD' 
date: "2009-07-23T11:49:02+10:00"
year: "2009"
category: Hardware 
tag:
- apple
- infocomm
- iphone
- ipod
- itelephone
- microsoft
- phones
- zune 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.iphone.zunehd.png" alt="Zune HD verses iPhone resolution" style="height:320px; width:480px; display:inline; border:0px;" /></p>
<p>Normally I don&#39;t indulge in the writing of posts such as this one, but when I finally got around to reading <a href="http://www.winsupersite.com/zune/zunehd_preview.asp">Paul Thurrott&#39;s initial review of the Zune HD</a> I couldn&#39;t help but notice something worthy of comment. Thurrott is of course the colourful chap who runs the <a href="http://www.winsupersite.com/">Windows Supersite</a>, co-hosts <a href="http://twit.tv/ww">Windows Weekly</a> with Leo Laporte and who has made clear his dislike of that company with the bitten Apple for a logo. Fair enough, we all have our grudges.</p>
<p>In the review in question though, the following passage stood out:</p>
<blockquote><p>Critics may note that 480 x 272 is a &#8220;lower&#8221; resolution than that offered by the iPod touch and iPhone (480 x 320), but the Zune HD display is of much higher quality and offers a true 16:9 aspect ratio.</p></blockquote>
<p>Now don&#39;t get me wrong Mr Thurrott, the HD video output capabilities are just as impressive as the move towards using OLED display technology, but I believe your use of inverted commas around the word <em>&quot;lower&quot;</em> with regard to resolution is misleading, and you made two mathematical errors.</p>
<ol>
<li>The last time I checked, 480&#215;272 <em>is</em> a lower resolution than 480&#215;320. Despite your use of inverted commas suggesting doubt, there is no question about this. The claim that the screen is of a higher quality, even if it had merit, has no bearing on this specific detail whatsoever.<p></p></li>
<li>I also take to task your odd assertion that the Zune HD &quot;offers a true 16:9 aspect ratio&quot; compared to the iPod touch and iPhone screens. The latter two devices have more pixels than the Zune HD, not less. This means with letterboxing the iPhone and iPod touch offer the same &quot;true 16:9 aspect ratio&quot; with the same number of pixels as the Zune HD. You invited the comparison sir, not me.</li>
</ol>
<p>As an addendum for my readers here to be interpreted as you wish, the phrase <em>&quot;iPod touch&quot;</em> is used six times in Mr Thurrott&#39;s review.</p>
 
