---
title: 'Why are lobbyists tolerated at all?' 
date: "2009-09-06T09:16:55+10:00"
year: "2009"
category: Thoughts 
tag: 
- adelaide
- business
- corruption
- democracy
- economics
- government
- lobbyists
- politics 
---
<p><img src="https://rubenerd.com/files/uploads/media.P1040888.jpg" alt="Me in front of Parliament house in Canberra!" style="height:320px; width:240px; display:inline; border:0em" /></p>
<p><strong>I value government integrity and I&#39;m willing to pay for it!</strong></p>
<p>This evening while grabbing a bite to eat I made the mistake of reading the <a href="http://www.news.com.au/adelaidenow/">Adelaide Sunday Mail</a>. I know, I know, it was reckless and irresponsible, but sometimes I feel as though with my news sources from around the world on Twitter and predominately from Singapore I forget about more local news. Ah but The Sunday Mail tabloid newspaper has nothing to do with news… touché sir/madam.</p>
<p>What I did read though in the opinion section was a brief letter from someone in <a href="https://www.openstreetmap.org/relation/7381960">Hahndorf</a> (beautiful place in the Adelaide Hills) talking about how <strong>having a registry of lobbyists won&#39;t solve any problems</strong>. Now right off the bat I don&#39;t have the faintest idea what this proposed lobbyist registry is, but I&#39;m assuming its something lobbyists have to register with before they can pay politicians to do their bidding. Maybe?</p>
<p><img src="https://rubenerd.com/files/uploads/photo.2009.0906.sundaymail.jpg" alt="" style="height:260px; width:190px; display:inline; border:0em; padding:0em; background:transparent;" /></p>
<p>Onto the primary issue though: can anyone actually explain to me <strong>why lobbyists are tolerated at all</strong>? Isn&#39;t the idea of paying off or financially persuading a politician to advance your position in the hopes of legislation in your favour going against everything democracy stands for? Doesn&#39;t lobbying concentrate the power in the hands of the few instead of the many that democracy is supposed to be about?</p>
<p>I&#39;m not a legal student, but I am an economics student (and computer science, but not sure what bearing that has) and all I see of lobbying from my perspective is the means for the rich or powerful in business to institute change or to get around perceived government &quot;problems&quot; in their businesses which may or may not be in place for a reason. For example, not being allowed to dump waste into rivers or allowing people to grill cheese sandwiches in areas where the population is lactose intolerant.</p>
<p>Leaving aside the more sarcastic answers that could be given, why is it that lobbying is legal in most democracies? Do they serve a legitimate function I&#39;m not aware of? Am I being overly simplistic by dismissing them?</p>
 
