---
title: 'Tony Abbott, Liberal Party self destructing' 
date: "2009-12-02T02:12:11+10:00"
year: "2009"
category: Thoughts 
tag: 
- australia
- climate-change
- denial
- environment
- liberal-party
- politics 
---
<p>It just goes from worse to even worse for these guys. The <a href="http://www.liberal.org.au/">Liberal Party</a> in Australia has a new ultra conservative leader, has moved even further to the far-right and is self destructing. And darn NoScript blocking Flash in a humorous way on their website.</p>
<p>I know close to 90% of the people who read my blog here aren&#39;t from Australia so I&#39;ll try to accommodate. The current [in theory] centre-left <a href="http://www.alp.org.au/">Australian Labor Party</a> headed by Prime Minister Kevin Rudd introduced a bill to be debated and passed called the Emissions Trading Scheme (ETS) which [in theory] would introduce a similar system that some European countries have in place that [in theory] provides incentives for heavily polluting industries to become more efficient. It doesn&#39;t go anywhere near far enough to deal with climate change, but at least after 10 years of Liberal party John Howard government (aka: <a href="http://news.bbc.co.uk/2/hi/3196524.stm">George W. Bush&#39;s Sheriff</a>) there&#39;s actual discussion about this issue.</p>
<h3>The Malcolm Turnbull</h3>
<p>Malcolm Turnbull was, up until this morning, the Liberal leader and the Leader of the Opposition in Parliament. While still being fiscally conservative he seemed far more socially progressive than others in his party and was even a member of the Australian Republican movement that aims to sever Australia&#39;s ties to the British Crown which is unprecedented for someone from that party. I wouldn&#39;t have voted for him, but it was nice to have an opposition leader I could actually respect.</p>
<p>Anyway his leadership seemed to be tenuous from the start, but when he wanted to vote for the ETS some climate change denialists/sceptics in the party got their knickers in a knot and figured it was the last straw, so the started resining en masse. Leaving all the dry, boring, childish antics that proceeded out, this morning there was a successful challenge and Tony Abbott is in control.</p>
<p>In other words, Turnbull lost his job over wanting action on climate change on the eve of the Copenhagen summit. Ominous.</p>
<h3>Congratulations call from Sarah Palin in order?</h3>
<p>Tony Abbott seems more like an imported politician from the GOP than an Aussie, even by American standards he&#39;s socially conservative which is saying something! He&#39;s completely out of touch with the overwhelming consensus of the Australian public on religion, abortion/womens rights and the environment. Rupert Murdoch (all us Aussies apologise for him, we really do!) and Sarah Palin would like him, probably.</p>
<p>Because I&#39;m an evil red commie bastard I&#39;m a voter for the <a href="http://greens.org.au/">Australian Greens</a> party which may be appealing socially for the progressives the Liberal Party has now so brutally thrown out, but they&#39;d sooner vote for Labor and the trade unions than vote for the Greens on economic policy! It&#39;s a shame they don&#39;t have the <a href="http://www.democrats.org.au/">Australian Democrats</a> to vote for any more; it seems as though Don Chipp left the Liberals and formed that party in the 1980s for similar reasons to what the party is facing now. Could they have a resurgence, maybe? Doubtful, but it could happen.</p>
<h3>Conspiracy theory time</h3>
<p>Two words: <strong>Peter Costello</strong>. He&#39;s responsible! He&#39;ll wait for the party to fall apart, then he&#39;ll come swooping back in. He&#39;s certainly <a href="http://www.smh.com.au/opinion/politics/malcolm-the-belittler-a-ruthless-climber-cut-down-to-size-20091201-k3xi.html?autostart=1">savaged Turnbull</a>.</p>
<h3>Twitter is the newsroom!</h3>
<p>I&#39;ll be heading back to Singapore for the Christmas holidays and will be leaving all this stuff behind, though I&#39;ll probably still see a lot on Twitter. It&#39;s interesting that while North America and Europe sleeps, Australia is basically the only sizeable English speaking population awake on Twitter, so we define the trending topics. I expect to see a lot more <a href="http://twitter.com/search?q=Abbott">Abbott</a> and <a href="http://twitter.com/search?q=Turnbull">Turnbull</a> before the year is out.</p>
 
