---
title: 'This is a title for a TweetDeck outage post' 
date: "2009-08-20T06:56:55+10:00"
year: "2009"
category: Internet
tag:
- infocomm
- tweetdeck
- twitter 
---
<p><img src="https://rubenerd.com/files/2009/3838738125_75b43a58e3_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3838738125_75b43a58e3_o@1x.jpg 1x, https://rubenerd.com/files/2009/3838738125_75b43a58e3_o@2x.jpg 2x" alt="Blank TweetDeckness" style="width:500px; height:312px;" /></p>

<blockquote><p><strong>UPDATE:</strong> As of 18:21 it’s all good again. Stand down Red Alert!</p></blockquote>
<p>Once again the fragility of my current primary means of communication has been highlighted by it&#39;s absence. In this case it&#39;s <a href="//rubenerd.com/2009-06-08-twitter-fail/">not Twitter that&#39;s down</a>, it&#39;s my twitter client <a href="http://tweetdeck.com/">TweetDeck</a>. All afternoon I haven&#39;t had a single friend tweet, reply, mention, search, group tweet or direct message come through.</p>
<p>I liked to think TweetDeck turned Twitter from a fun distraction into a <a href="http://edition.cnn.com/">CNN replacement</a>; taking up my whole 1920&#215;1200 screen I can see what&#39;s happening all around the planet with my friends and current events in near real time. I&#39;ve used <a href="//rubenerd.com/twitterrific-lovingly-sending-errors/">Twitterrific</a>, <a href="//rubenerd.com/snitter-gets-a-leopard-makeover/">Snitter</a> and <a href="//rubenerd.com/p1167/">Twhirl</a> but since jumping to TweetDeck nothing has come close to replacing it.</p>
<p>As of 17:55 Australian Central / 08:25 GMT TweetDeck is still refusing to download my columns, and even attempts to re-download the client software result in errors.</p>
<p>Time to give <a href="http://seesmic.com/">Seesmic Desktop</a> another try?</p>
 
