---
title: 'Comparing my Unicomp to my Commodore 16' 
date: "2009-07-10T07:17:52+10:00"
year: "2009"
category: Hardware 
tag:
- commodore
- commodore-16
- infocomm
- keyboards
- retrocomputing
- unicomp 
---
<p><img src="https://rubenerd.com/files/2009/my-unicomp-versus-my-commodore-16_3706864710_o@1x.jpg" alt="Unicomp versus Commodore 16" srcset="https://rubenerd.com/files/2009/my-unicomp-versus-my-commodore-16_3706864710_o@1x.jpg 1x, https://rubenerd.com/files/2009/my-unicomp-versus-my-commodore-16_3706864710_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>The colour scheme, the texture of the keys and the plastic bezel… it&#39;s uncanny isn&#39;t it?</p>
<p>I guess the Commodore 16 and IBM&#39;s buckling spring keyboard came out around the same time, all they need is to be the same colours and it makes me feel like I&#39;m using the C16 to type up blog posts. I guess I&#39;m silly and nostaligic in that way.</p>
<p>And in case you&#39;re wondering, the Unicomp keyboard is still much louder when typing than the Commodore 16.</p>
 
