---
title: 'Mac keycaps for Unicomp keyboards' 
date: "2009-07-28T11:58:54+10:00"
year: "2009"
category: Hardware 
tag:
- apple
- bucking-spring-keyboard
- infocomm
- keyboards
- unicomp 
---
<p><img src="https://rubenerd.com/files/2009/new-option-and-command-keys_3764313378_o@1x.jpg" alt="New Option and Command keys" srcset="https://rubenerd.com/files/2009/new-option-and-command-keys_3764313378_o@1x.jpg 1x, https://rubenerd.com/files/2009/new-option-and-command-keys_3764313378_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>You remember just in passing here I mentioned that I got a <a href="//rubenerd.com/my-unicomp-keyboard/">Unicomp buckling spring keyboard</a>? I certainly didn&#39;t talk about it too much, only in… <a href="//rubenerd.com/tag/unicomp/">seven separate posts</a>, eight including this one. I ended up getting the <a href="http://pckeyboards.stores.yahoo.net/en104bl.html">USB SpaceSaver</a> buckling spring model and its been a real pleasure to use.</p>
<p>The problem with using said keyboard with my MacBook Pro though is IBM and Mac keyboards have their Alt/Option and Windows/Command keys in opposite places. Fortunately as of this morning I&#39;ve got this all sorted out with software and some new keycaps from <a href="http://pckeyboards.stores.yahoo.net/keyboards.html">Unicomp</a>.</p>
<p>Firstly, one of the great think about these robust keyboards is their keys can be easily popped off and rearranged, so it took no effort at all to take off the Alt and Windows keys on both sides of the spacebar and swap their positions. Of course all this does is change the lettering on the keys not the keystroke signals, but if you go to <strong>System Preferences</strong>, <strong>Keyboard and Mouse</strong>, <strong>Keyboard</strong> and click <strong>Modifier Keys</strong>, you can swap the Alt/Option and Windows/Command keys to match your new layout.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.keyboard.swap.png" alt="Swapping keys in the System Preferences modifier key window" style="height:293px; width:431px; display:inline; border:0px;" /></p>
<p>The second piece of the puzzle is purely cosmetic but as a guy like me with a restraining order against Microsoft Windows it felt a bit creepy using a Windows logo key instead of a Mac Command key. Fortunately I was able to contact the Unicomp sales department and for a few bucks they sent me some Option and Command keys to replace the Alt and Windows keys. They arrived this morning and I popped them into position, they look great!</p>
<p>They&#39;re not offered on their online store as an option so if you want them too you need to contact <strong>sales at pckeyboard dot com</strong> and quote them which model and colour keyboard you have so they can match the appropriate keys. Ask for their optional Mac keycaps.</p>
<p>Now I have quite possibly the best Mac keyboard you can possibly buy! I implore you, if you&#39;re a Mac user to contact Unicomp and get your hands on a keyboard of theirs with optional Mac keys. As I said before, it&#39;s akin to upgrading your bed from a sheet on the floor to a mattress, it makes that much of a difference.</p>
<p>It also makes it an even easier decision to pick up one of their keyboards because the Unicomp people themselves are down to earth, friendly and honest and as an international purchaser they went out of their way to find the cheapest and fastest shipping options and asked me what I wanted to do. They&#39;re good people who make great products, simple as that. And I wasn&#39;t even paid to say so, though I would gladly accept a discount on their future products if they felt so inclined :).</p>
 
