---
title: 'UniSA virus #fail' 
date: "2009-11-18T06:19:05+10:00"
year: "2009"
category: Software
tag:
- errors
- infocomm
- problems
- security
- studies
- viruses
- vulnerabilities
- windows 
---
<p><img src="https://rubenerd.com/files/2009/4113573708_01a3e8c89e_o@1x.jpg" srcset="https://rubenerd.com/files/2009/4113573708_01a3e8c89e_o@1x.jpg 1x, https://rubenerd.com/files/2009/4113573708_01a3e8c89e_o@2x.jpg 2x" alt="UniSA Virus Uh Oh" style="width:500px; height:400px;" /></p>

<p>Logging onto one of the shared computers at the UniSA Mawson Lakes campus this morning I got this error message. Again.</p>
<blockquote cite="https://www.flickr.com/photos/rubenerd/4113573708/"><p>The virus definition file is more than 7 days old. Updating to a new virus definition file will help catch the most recent viruses.</p>
<p>Also, I like grilled cheese sandwiches. Put one in my CD-ROM tray.</p></blockquote>
<p>Remember back in the day when having month old definitions was still cutting edge? Now Windows users are considered vulnerable if definitions are 7 days old. Is that why despite being version 6.1 the called it Windows 7?</p>
<p>What&#39;s more worrying is shared UniSA computers use a system that wipes them and reimages a clean install of Windows and custom software onto them over the network; it combines the negative insecurity and heavy hardware requirements of a thick client with the bandwidth problems of thin clients while delivering the benefits of neither &#8212; genius! But we&#39;re getting <a href="//rubenerd.com/sidekick-it/" style="text-decoration:line-through">sidekicked</a> sidetracked: this system means each shared computer across the university would have these old definitions.</p>
<p>Even though my notebooks run FreeBSD, Linux and/or OS X, I think I&#39;ll be using Hotspot VPN or GoToMyPC more often when I&#39;m on campus.</p>
 
