---
title: 'Using my unlocked iTelephone in Singapore' 
date: "2009-06-24T01:58:20+10:00"
year: "2009"
category: Hardware 
tag:
- apple
- infocomm
- iphone
- itelephone
- phones 
---
<p><img src="https://rubenerd.com/files/2009/3653935155_b0ebd2700c_o.png" alt="Unlocked Aussie iPhone in Singapore" style="width:320px; height:480px;" /></p>

<p>Successfully got Optus to unlock my iTelephone, also upgraded to the 3.0 software at the same time. I <em>NEVER</em> get full bars on the Optus 3G network in Australia, go SingTel! (The irony isn&#39;t lost on me that I bag out Optus while praising SingTel by the way!)</p>
<p>There&#39;s something poetic about having a phone connected to a Singapore network that has a weather application for Australia. Is poetic the word I&#39;m thinking of? Maybe I meant grilled cheese sandwich. Yeah, that works.</p>
 
