---
title: 'New photos: water drop and green carpet' 
date: "2009-07-31T02:42:00+10:00"
year: "2009"
category: Media
tag:
- mawson-lakes
- nature
- photography
- plants 
---
<p><img src="https://rubenerd.com/files/2009/waterdrop_3773496391_o@1x.jpg" alt="Waterdrop" srcset="https://rubenerd.com/files/2009/waterdrop_3773496391_o@1x.jpg 1x, https://rubenerd.com/files/2009/waterdrop_3773496391_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p><img src="https://rubenerd.com/files/2009/leafy-carpet_3774303876_o@1x.jpg" alt="Leafy carpet" srcset="https://rubenerd.com/files/2009/leafy-carpet_3774303876_o@1x.jpg 1x, https://rubenerd.com/files/2009/leafy-carpet_3774303876_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>Both these photos were taken in Mawson Lakes with my beloved little Nikon D60. I only had my 18-55mm kit lens with me instead of my prime 35mm f/1.8 but I think they came out okay. Aside from a little cropping/scaling they are exactly as they were taken without alteration and all that whatnot.</p>
 
