---
title: 'How web business still surprises me'
date: "2009-12-20T04:04:09+10:00"
year: "2009"
category: Internet
tag:
- business
- grilled-cheese-sandwiches
- infocomm
- thinking-out-loud 
- venture-capital
---
<p><img src="https://rubenerd.com/files/uploads/screenie.423369_beenz300.gif" alt="Beenz, the defunct internet currency" style="height:121px; width:300px;" /></p>
<p>I&#39;ve studied economics extensively in school, university and by myself but I haven&#39;t really done any business studies; perhaps with these points on why current internet business still surprises me will show this! Some random observations:</p>
<ul>
<li>I’m still surprised how short the half life of web companies are. The turnover rate is stunningly quick, what other industries have businesses like this?<p></p></li>
<li>I’m also surprised at the assumption that if a company isn’t worth $X it just naturally has to be bought out and consolidated. I suppose people expect if a small company isn’t bought, a huge company will clone its features and let it die instead.<p></p></li>
<li>I’m also surprised internet venture capital firms still get so excited over investing in hundreds of new firms when only perhaps one or two will succeed enough to recoup their funds and turn a profit. I suppose that kind of ratio is still enough if so many VC firms still do it.<p></p></li>
<li>I’m finally still surprised that nobody has launched a grilled cheese sandwich delivery website with complimentary oven mitts and/or a subscription model.</li>
</ul>
<p>New rules of business? I&#39;m sure astute folks could cite other examples.</p>
 
