---
title: 'A week off blogging looks like this' 
date: "2009-06-02T09:26:21+10:00"
year: "2009"
category: Internet
tag:
- google-reader
- infocomm
- weblog 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.googlereader.gap.png" alt="Google Reader showing a gap of five days" style="height:265px; width:500px; display:inline; border:0px;" /></p>
<p>What does a five day gap on an obsessively updated blog look like? According to Google Reader, it looks like the affixed graph.</p>
<p>Kinda sad that such a large part of my life can be expressed in a simple two-dimensional bar graph. Then again, it&#39;s better than the other way of visually expressing a week without blogging:</p>
<p><img src="https://rubenerd.com/files/2009/a-week-without-blogging-does-terrible-things-to-people_3588999222_o@1x.jpg" alt="A week without blogging does terrible things to people!" srcset="https://rubenerd.com/files/2009/a-week-without-blogging-does-terrible-things-to-people_3588999222_o@1x.jpg 1x, https://rubenerd.com/files/2009/a-week-without-blogging-does-terrible-things-to-people_3588999222_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
 
