---
title: 'Sophisticated Windows 3.0 sound!' 
date: "2009-10-22T11:50:48+10:00"
year: "2009"
category: Software
tag:
- abandonware
- dos
- infocomm
- retrocomputing
- windows
- windows-3-0 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.win30.sound.png" alt="Windows 3.0 Sound Control Panel" style="height:240px; width:500px; display:inline; border:0px;" /></p>
<p>Earlier this month I detailed how I was able to <a href="//rubenerd.com/dosbox-to-rescue/">use DOSBox to run</a> Windows 3.1 versions of software for someone in Singapore, and how what started as a silly nostalgic hobby was getting me some work! Well I figured why stop there, and over the weekend with a few spare hours I looked into running Windows 3.0! In other news, I really should publish posts instead of hitting the draft button.</p>
<p><!--oldmore--></p>
<p>Presenting the single greatest control panel window of all time: The Sound panel in Windows 3.0! We&#39;re presented with a single option to enable the shrill PC Speaker beep, along with an OK button to save changes if we&#39;re satisfied with our check box choice, or Cancel if we&#39;d rather revert to what you had before, in case you don&#39;t remember. I love it ^_^.</p>
<p>Of course it was probably just a place holder screen for something bigger, but from real world experience at the time we had long since moved up to Windows 3.1 when we got our Creative Sound Blaster sound card. In this virtual machine now I&#39;m running Windows 3.00a (in full 386 enhanced mode!) but at the time we had the version with Multimedia Extensions which I think (someone could correct me on this) was the first version of Windows to have sound support amongst other things.</p>
<p>Turns out tracking down a second hand copy of Windows 3.0 with Multimedia Extensions is extraordinarily difficult though, perhaps given it was only available for such a limited time. Speaking of limited time, it&#39;s been fun reliving all this nostalgia again, but I have assignments and exams coming up soon, so it&#39;ll probably be the last you hear about it for a while. I know you&#39;ll all be disappointed!</p>
<p>And don&#39;t worry, I&#39;m only using this classic Windows stuff for nostalgic purposes, I&#39;m thoroughly a Mac OS X and FreeBSD guy now.</p>
 
