---
title: 'Not so pleasent World Vision encounter' 
date: "2009-09-15T07:39:43+10:00"
year: "2009"
category: Thoughts 
tag: 
- adelaide
- australia
- charity
- world-vision 
---
<p><img src="https://rubenerd.com/files/2009/spooky-afternoon-on-our-street-in-mawson-lakes_3824615595_o@1x.jpg" alt="Spooky afternoon in Mawson Lakes" srcset="https://rubenerd.com/files/2009/spooky-afternoon-on-our-street-in-mawson-lakes_3824615595_o@1x.jpg 1x, https://rubenerd.com/files/2009/spooky-afternoon-on-our-street-in-mawson-lakes_3824615595_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>This is a very sensitive subject with lots of emotions tied to it so I&#39;m hesitant to even speak my position on it, but I feel things need to be said.</p>
<p>We just had a visit from a person from World Vision, the organisation which claims to be dedicated to helping children in developing countries that are in crushing poverty. Money is put towards funding food, shelter and clothing.</p>
<p>Perhaps resent is too harsh of a word, but I must be blunt and admit I resent being forced into something from a person who has arrived at my door, whether the person is from a company, a religion or in this case a religious charity. I understand these people need help, but they don&#39;t seem to be able to just tell me about the work they&#39;re trying to do, they try and use the same high pressure sales tactics insurance agents do. If I&#39;m not sure or if I want more information, I shouldn&#39;t have to sign a contract on the spot I&#39;m not comfortable with, even if their intentions are good.</p>
<p>I donate to secular charities that don&#39;t try to strong arm me (such as Oxfam) and make it a habit not to for those that try to force me into giving up credit card details and other personal information on the spot at my house. Am I a bad person?</p>
 
