---
title: 'Seperate templates for WordPress categories' 
date: "2009-07-14T04:34:56+10:00"
year: "2009"
category: Internet
tag:
- guide
- howto
- infocomm
- metadata
- taxonomy
- weblog
- wordpress 
---
<p><img src="https://rubenerd.com/files/uploads/graphic.wordpress.icon.png" alt="WordPress icon." style="height:140px; width:380px; border:0px; display:inline;" /></p>
<p>Here&#39;s something interesting. If you use <a href="http://wordpress.org/">WordPress</a> you can assign separate templates for different categories; presumably I&#39;m assuming (what a redundant few words) this also means you could give different categories different CSS styles too.</p>
<p>The <a href="http://codex.wordpress.org/Category_Templates">WordPress Codex says</a> you can define different templates in your current theme based on the ID of the category you want to customise. If it doesn&#39;t find a specific template for the category, it reverts back to the theme default.</p>
<p>For example, the <a href="//rubenerd.com/show/">Rubenerd Show category</a> here has an ID of 277 (the unfortunate legacy of <a href="//rubenerd.com/p2564/">using categories as tags</a> before WordPress has native tag support) which means if I wanted to create a custom theme template for it, I&#39;d create a <code>category-227.php</code> file. Other categories don&#39;t have that ID, so they&#39;d continue to use the basic <code>category.php</code> template.</p>
<p>My plan of merging all my blogs into this one <em>while giving the appearance of separate sites</em> seems to be a neverending story, but all the pieces seem to be falling into place. So far I&#39;ve learned:</p>
<ul>
<li>Each category can have its own RSS and Atom feeds</li>
<li>Categories can be <a href="//rubenerd.com/excluding-wp-categories/">selectively blocked</a> from appearing in the master site and feeds</li>
<li>Using the <a href="//rubenerd.com/wordpress-category-uris/">this plugin and method</a> the term <code>/category/</code> can be hidden from URIs</li>
</ul>
<p>I&#39;m starting to think it may have been less work to just move my blog here to my <a href="http://www.djangoproject.com/">Django</a> system after all, but I guess I have the advantage in this case that someone else is maintaining the code. I&#39;ve gone this far though I guess, so no point stopping now!</p>
 
