---
title: 'My Intel Inside Xeon stickers arrived' 
date: "2009-05-14T01:06:30+10:00"
year: "2009"
category: Hardware 
tag:
- ebay
- funny
- germany
- infocomm
- intel-xeon
- processors
- ridiculous
- shopping
- stamps 
---
<p><img src="https://rubenerd.com/files/2009/my-xeon-stickers-from-ebay-arrived_3529432775_o@1x.jpg" alt="My Xeon stickers from eBay arrived!" srcset="https://rubenerd.com/files/2009/my-xeon-stickers-from-ebay-arrived_3529432775_o@1x.jpg 1x, https://rubenerd.com/files/2009/my-xeon-stickers-from-ebay-arrived_3529432775_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>I like to think one of the things I inherited from my beautiful late mum was her absurd, ridiculous sense of humour! Mmm, grilled cheese sandwiches.</p>
<p>With this in mind, last week I noticed someone on eBay in Germany was selling a set of those <em>&quot;Intel Inside&quot;</em> Xeon processor computer stickers for a couple of Euros. For those of you who don&#39;t know, the Xeons are Intel&#39;s server class CPUs that are found in the Mac Pro and other high end desktop and server hardware.</p>
<p>My first reaction was to snap them up without question, with the intention of affixing them to… my 600MHz Pentium 3 Compaq Armada M300 subnotebook! Genius right?</p>
<p>Well they just arrived in the mail this morning complete with stamps from Germany! My father is from Hesse and he was quite the stamp collector in his youth so I imagine I inherited part of his fascination with them.</p>
<p>As for the stickers themselves, if you know you&#39;re shameless Intel advertising these stickers here are the second generation logos using the new Intel logo, before they moved over to those new crystal or landscape-oriented holographic ones. Wikipedia has a <a href="http://en.wikipedia.org/wiki/Xeon#Overview">photo comparing the the styles</a>. I reckon the ones I got are the classiest.</p>
<p>I&#39;ll wait until I have some more of that foaming computer cleaning product so I can give the case on the notebook a quick once-over before putting the Xeon sticker on. I don&#39;t know why I find the prospect of putting a Xeon sticker on such old hardware so hilarious, but it just is!</p>
 
