---
title: 'Xfce 4.6.1’s I18n and bug fix improvements' 
date: "2009-06-04T03:58:55+10:00"
year: "2009"
category: Software
tag:
- bsd
- freebsd
- infocomm
- linux
- netbsd
- updates
- xfce 
---
<p><img src="https://rubenerd.com/files/2009/3593924781_da06c90a82_o@1x.jpg" srcset="https://rubenerd.com/files/2009/3593924781_da06c90a82_o@1x.jpg 1x, https://rubenerd.com/files/2009/3593924781_da06c90a82_o@2x.jpg 2x" alt="Xfce 4.6.1 on FreeBSD" style="width:500px; height:375px;" /></p>

<p>Given it&#39;s been over a month since this milestone it almost seems silly posting about it here, but for some reason I never got around to doing it. I blame the current financial crisis and several weeks of bad hair days. Yeah, that works.</p>
<p>If you&#39;re as avid a user as me of <a href="http://xfce.org/">Xfce</a>, the latest 4.6 release <a href="//rubenerd.com/p3901/">which I blogged about back in March</a> has been updated to 4.6.1. There have been quite a <a href="http://www.xfce.org/documentation/changelogs/4.6.1">substantial list of improvements and additions</a> including more comprehensive I18n support and many bug fixes.</p>
<p>Now if you speak Polish, Japanese, Galician, Portuguese, Norwegian and/or Spanish, you don&#39;t have an excuse any more to try this beautiful piece of software!</p>
<p>If you&#39;re a FreeBSD user like me, you can access 4.6.1 from the <a href="http://www.freshports.org/x11-wm/xfce4/">ports collection</a>.</p>
<p>Thanks go out as always to Olivier Fourdan and the team for their tireless effort on this project. Show &#39;em how it&#39;s done guys :).</p>
 
