---
title: 'Ruben and Malcolm’s technology mix' 
date: "2014-04-13T10:27:59+10:00"
year: "2014"
category: Internet
tag:
- abc
- australia
- heartbleed
- https
- malcolm-turnbull
- sbs
- security
- ssl
- tls 
location: sydney
---
<p><img src="https://rubenerd.com/files/2014/art.yk.jpg" alt="" style="width:500px; height:285px;" /></p>
<p>Happy Sunday. It’s been an incredibly busy few days, with plenty of fish to fry. Though given the choice, I’d rather bake.</p>
<p>In lieu of my own writing, I’ll be indulging briefly in the Simpsons-Clip-Show style of blogging so popular today. Have a lovely evening.</p>

<dl>

<dt style="font-weight:bold;"><a href="http://heartbleed.com/">Heartbleed.com</a></dt>
<dd>I’ll be talking about this in the coming week, but for now this is a pretty solid review of the OpenSSL exploit all us sysadmins in the world are dealing with right now. Spare a thought!<p></p></dd>

<dt style="font-weight:bold;"><a href="http://www.smh.com.au/federal-politics/political-news/abbott-to-break-abc-no-cuts-promise-20140412-zqty9.html#ixzz2yliJaKDj">Tony Abbott to consider ABC funding cuts</a></dt>
<dd>This despite his 2013 election promise of “no cuts to education, no cuts to health, no change to pensions, no change to the GST and no cuts to the ABC or SBS. In his defence, he did say he would be a no surprises prime minister.<p></p></dd>

<dt style="font-weight:bold;"><a href="http://www.canberratimes.com.au/photogallery/federal-politics/cartoons/david-pope-20120214-1t3j0.html?selectedImage=2">David Pope on Malcolm Turnbull’s Technology Mix</a></dt>
<dd>Delicious depiction of Malcolm Turnbull’s alternative to the National Broadband Network in Australia. I’ve always said if a current government built the Sydney Harbour Bridge today, it would be two lanes wide and built as a &#8220;public-private partnership&#8221;.<p></p></dd>

<dt style="font-weight:bold;"><a href="http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=42733520">「Forever」/「Y-K」のイラスト [pixiv]</a></dt>
<dd>The image at the top of this post. An apt title by this artist; I’ve been staring at it all evening.</dd>

</dl>
 
