---
title: 'Easter dinner again' 
date: "2014-04-20T11:17:06+10:00"
year: "2014"
category: Thoughts 
tag:
- family
- food
- holidays 
---
<p><img src="https://farm3.staticflickr.com/2908/13949125654_b6a832ea9b_b.jpg" style="width:500px; height:335px" alt="Easter dinner with family" /></p>
<p>We’re not religious, but Christmas and Easter were always times for big roast dinners with family. Mummy would go out of her way to set the table with ornate placemats, the best china, and enough candles to launch a hot air balloon.</p>
<p>This year, we <a href="https://www.flickr.com/photos/rubenerd/13949125654" title="Easter dinner with family by Ruben Schade, on Flickr">celebrated</a> with my dad, my sister <a rel="friend family met" href="http://elkeschade.com/">Elke</a>, her boyfriend, my girlfriend <a rel="friend met co-worker kin muse crush date sweetheart" href="http://kirinyan.net/">Clara</a> and I. Good food, lots of smiles and silly banter.</p>
<p>This, this is what Elke and I missed. Happy long weekend everyone :&#8221;).</p>
 
