---
title: 'Electronic inclusionism' 
date: "2014-03-21T05:43:02+10:00"
year: "2014"
category: Internet
tag:
- data
- inclusionism
- information
- stack-exchange
- super-user
- top 
location: sydney
---
<p>Recently I came across an answer on SuperUser, one of the Q&amp;A sites on the StackExchange network. It was incredibly useful, but the discussion had been closed with the following boilerplate:</p>
<blockquote><p>closed [sic] as too localized by [people] [time]</p>
</blockquote>
<p>Why does that matter?</p>
<h3>Artificial constraints</h3>
<p>In the age of printed books, newspapers and encyclopædias, limited space and slow distribution necessarily meant only select information could be published. This had the benefit of quality control, but I think that was incidental. When you have a limited amount of a resource, it’s only natural you’d want to utilise it in the most efficient way possible.</p>
<p style="font-style:italic" class="aside">(Also, despite what my primary school teachers assured me, being printed in a book isn’t a guarantee of accuracy or quality either)!</p>
<p>In print, this means not publishing information that:</p>
<blockquote cite="http://superuser.com/"><p>[..] is unlikely to help any future visitors; is only relevant to a small geographic area, a specific moment in time, or an extraordinarily narrow situation that is not generally applicable to the worldwide audience of the internet.</p>
</blockquote>
<p>Except that’s not a statement from a newspaper editor, that’s the reasoning StackExchange contributors give for closing a question.</p>
<p>I understand the StackExchange network’s desire to maintain high quality, general purpose questions, but it seems short sighted to discount other questions on the basis of limited appeal. The same applies to Wikipedia, and other sites that routinely close questions or delete text.</p>
<p>Without the constraints of space, printing or distribution, the internet has liberated us from having to justify the availability of information. Part of the very beauty of this global network is somewhere, someone may find what we have to say interesting, and have the answer to a question we have. You’re an Amenian heavy metal sewing machine enthusiast? Great! We’d love to have you.</p>
<p>For those concerned about sites drowning in niche content, the issue also seems self–correcting. The most popular answers and articles on sites will naturally attract more attention, inbound links and potentially advertising revenue, if that’s your jive.</p>
<h3>Preserving culture and ideas</h3>
<p>I’ll be blunt. We have all this digital storage, processing and bandwidth. Rather than just deleting things a “limited” number of others may find useful, why not just let the more generally accessible content bubble up, while letting those with niche interests still access that information? We lose enough digital information from shut down sites, let’s not accelerate it.</p>
<p>Fortunately, there is a more inclusive form of discussion online: running your own site. For those who use that as a reason why StackExchange doesn’t need to accept all answers, touché. That’s why I think personal publishing is still superior.</p>
