---
title: 'An unexpected FreeBSD 10.1 RC4' 
date: "2014-11-11T03:24:00+10:00"
year: "2014"
category: Software
tag:
- bsd
- freebsd
- news 
location: sydney
---
<p><img src="https://rubenerd.com/files/2014/freebsd-retina.png" alt="FreeBSD" style="width:242px; height:88px;" /></p>
<p>According to the <a href="https://www.freebsd.org/releases/10.1R/schedule.html">original schedule</a>, FreeBSD 10.1-RELEASE was due out recently. Judging from the newsgroup chatter, there were enough problems to hold back and release an unscheduled <a href="https://lists.freebsd.org/pipermail/freebsd-stable/2014-November/080872.html">forth release candidate</a>.</p>
<p>10.1 looks great; it’s got a slew of new virtualisation and storage enhancements. More information is on the <a href="https://www.freebsd.org/releases/10.1R/relnotes.html">announcement page</a>.</p>
<p>Get it right and ship when ready guys/girls, we can wait.</p>
 
