---
title: 'Got a little carried away raking'
date: "2014-02-11T05:38:39+10:00"
year: "2014"
category: Media
tag:
- gardening
- personal
- whoops
location: sydney
---
<p><a href="https://www.flickr.com/photos/rubenerd/12452156344/"><img src="http://farm6.staticflickr.com/5471/12452156344_81817c486c_b.jpg" alt="A photo showing a broken rake." style="width:500px; height:335px;" /></a></p>
<p>Pretty sure this had a handle at one point.</p>
 
