---
title: 'Jekyll timezones' 
date: "2014-01-10T12:06:21+10:00"
year: "2014"
category: Software
tag:
- adelaide
- guides
- jekyll
- kuala-lumpur
- singapore
- sydney
- timestamps
- timezones 
location: sydney
---
<p><img src="https://rubenerd.com/files/2014/photo.singapore.jpg" alt="Photo I took of Singapore in 2012" style="width:500px; height:216px;" /></p>
<p style="font-style:italic;"><strong>UPDATE:</strong> This date issue seems to be resolved as of Jekyll 1.5.1. As such, this post should be considered <del>hysterical</del> historical.</p>
<p>With almost four thousand posts written in different countries over the last nine years, I often feel as though my use case really tests the limits of Jekyll. To be fair, it has performed admirably.</p>
<p>One area where I&#39;ve continued to struggle is with timezones. According to the <a href="http://jekyllrb.com/docs/variables/" title="Jekyll Variables">Jekyll documentation</a>, you declare timezones within the date <a href="http://jekyllrb.com/docs/frontmatter/" title="Jekyll Front Matter">YAML front matter</a> for a post, such as this:</p>
<pre>date: 2014-01-10 12:06:21 +1100</pre>
<p>For posts written in Singapore and KL, I set the date with &quot;+0800&quot;, with Adelaide as &quot;+0930&quot; and Sydney as &quot;+1000&quot; or &quot;+1100&quot; depending on daylight savings. Suddently, my times are even more accurate than they were when I exported them from WordPress last year, a nice feature!</p>
<p>There&#39;s just one catch. When Jekyll generates my site, these dates are converted to UTC. Under most circumstances this is fine; it&#39;s a more universally understood representation of the same time. Where this becomes a problem is human readable dates.</p>
<p>Say for example I posted this entry at 01:00 +1100. This means I&#39;d expect my site to say <em>Friday 10 January</em>. Because it gets converted to UTC internally however, my blog says it was posted <em>Thursday 09 January</em>.</p>
<h3>A temporary workaround</h3>
<p>It&#39;s not very elegant, but for now I define a separate timezone variable in my post YAML front matter:</p>
<pre>layout: post
title: "Jekyll timezones"
date: "2014-01-10T12:06:21+1100
tz: "+1100"
[..]</pre>
<p>Now, whenever I need to show the date in my Liquid markup, I substitute the default Jekyll date functions with these:</p>
<pre>
&#123;&#123; page.date | date: "%Y-%m-%dT%H:%M:%S" &#125;&#125;&#123;&#123; page.tz &#125;&#125;
&#123;&#123; page.date | date: "%A %d %B %Y" &#125;&#125;
</pre>
<p>Which generates these:</p>
<p style="font-style:italic">(Update 2021: Seven years later, and while fixing some HTML I realised this post was truncated! I have no idea what was supposed to be here. I suppose it's a moot point, given the issue was resolved years ago. Cheers).</p>
