---
title: 'Mozilla Firefox advertiles' 
date: "2014-02-12T12:25:25+10:00"
year: "2014"
category: Software
tag:
- advertising
- firefox
- lucky-star
- mozilla 
location: sydney
---
<p><img src="https://rubenerd.com/files/2014/firefox.konata.jpg" alt="Konata from Lucky Star as the Firefox logo" style="width:500px; height:280px" /></p>
<p>Will this be a case of a storm in a teacup, or the beginning of the end of Firefox?</p>
<h3>Sponsored content</h3>
<p>Recent versions of Firefox display thumbnails for your nine most frequently accessed pages when you open a new tab. If you&#39;ve only just installed the browser, you haven&#39;t visited enough sites for these boxes to be populated, so they appear blank.</p>
<p>No longer. <a href="https://blog.mozilla.org/advancingcontent/2014/02/11/publisher-transformation-with-users-at-the-center">Mozilla&#39;s Darren Herman</a> wants these blank tiles replaced with &quot;sponsored&quot; content:</p>
<blockquote>
<p>&quot;The sponsored tiles will be clearly labeled as such, while still leading to content we think users will enjoy.&quot;</p>
</blockquote>
<p>We could consider the ethical implications, or the spin, or their real world need to raise revenue to cover their costs, but we&#39;d be dealing with moot points. If word gets out that installing Firefox will bundle ads, why would someone go out of their way to replace their system&#39;s default browser anymore?</p>
<h3>Tiles, Metro, am I sensing a trend?</h3>
<p>I assume, like Windows 8&#39;s Metro, we&#39;ll be able to disable this. Third parties and package managers will probably build their own versions without it. Trust nerds to find comfort in pragmatism and routing around the problem. Still, I worry more about the damage to Firefox&#39;s reputation, especially given the number of people who&#39;ve already jumped to competing browsers.</p>
<p>Through the highs of the Phoenix years and the lows of 3.6 memory leaks, I&#39;ve stuck with Firefox (and <a href="//rubenerd.com/giving-seamonkey-a-try/" title="Rubenerd: Giving SeaMonkey a try">back to Mozilla SeaMonkey in 2011</a>). For me it wasn&#39;t just a browser choice; I trusted the Mozilla Foundation had my best interests at heart. We may have disagreed on issues like video codecs, but I respected their decisions because they respected me as a user. Is this starting to change?</p>
<p>Personally, they&#39;ve earned me giving them the benefit of the doubt on this until we get more details, but I am concerned.</p>
<h3>Update</h3>
<p>As usual, John Gruber <a href="http://daringfireball.net/linked/2014/02/16/mozilla" title="Mozilla Plans to Sell Ads in Firefox Browser">says it more succinctly</a> than I could.</p>
 
