---
title: 'An RSA randomart camel' 
date: "2014-11-20T01:38:10+10:00"
year: "2014"
category: Media
tag:
- art
- cryptography
- randomart
- rsa
- ssh 
location: sydney
---
<p>Sometimes I generate RSA and ECDSA keys for the randomart. Here, we have a camel. We’ve also had a <a href="//rubenerd.com/rsa-randomart-boots/">boot</a>, and a <a href="//rubenerd.com/ecdsa-randomart-vulture/">vulture</a>.</p>

<pre>
---
|                 
|              o .|
|      . .    . ++|
|     . o o    +.E|
|  . + . S o. o ..|
|   = o o .. o   .|
|  . . .  . o     |
|       .. . .    |
|       ..  .     |
---
</pre>

<div style="text-align:right; font-size:small"><a href="https://gist.github.com/RubenSchade/0ce2e8c8efffb6127a24">Github Gist</a></div>
 
