---
title: 'My second workstation: Unicomp keyboards' 
date: "2014-03-18T05:10:00+10:00"
year: "2014"
category: Hardware 
tag:
- keyboards
- unicomp 
location: sydney
---
<p><img src="//farm8.staticflickr.com/7362/12358194695_347e3ce97b_b.jpg" alt="Photo of my Mac Pro with two external monitors." style="width:500px; height:335px;" /></p>
<p>For as long as I can remember, chages of environment have been key to maintaining my concentration and productivity. Now that my Mac Pro runs Mavericks, I can get meaninfgul work done on it again, along with my <a title="Photo of my SOHO" href="//rubenerd.com/about/#soho">MacBook Air in the other room</a>. Finally, I have my dual workstation setup!</p>
<h3>Okay, what’s the catch</h3>
<p>There’s just one problem. In the time the Mac Pro was relegated to being a server, my MacBook Air workstation got my best monitor, Unicomp keyboard and Logitech trackball. Like a younger child who gets hand-me-down clothes, the Mac Pro has since got a late 1990s IBM membrane keyboard and an HP mouse from the time when optical was new and exciting.</p>
<p>I’d like to think the benefit of having two working locations outweighs any productivity losses incurred from using a keyboard that feels like a pancake, or a mouse that induses RSI if used for extended time periods. Still, just as the master chef has her or his favourite knife, I do long for these specialised tools.</p>
<p>Over the coming week, I’ll be spending a little time each day reviewing where keyboards and mouses have come since I <a title="Rubenerd: IBM Model M and Northgate Omnikey keyboards" href="//rubenerd.com/ibm-model-m-northgate/">last looked into this seriously</a> in 2009. Today, we’ll check in with Unicomp!</p>
<h3>The Unicomp IBM Model M</h3>
<p><img src="https://rubenerd.com/files/2014/spacesaver-m.jpg" alt="The Unicomp Spacesaver M White Buckling Sping USB keyboard" style="width:500px; height:222px;" /></p>
<p>As I mentioned, I <a title="Rubenerd: I love my new Unicomp buckling spring keyboard!" href="//rubenerd.com/my-unicomp-keyboard/">got my Unicomp keyboard in 2009</a>. Machined from the same hardware that created the legendary IBM Model M from the 1980s, these keyboards are made to order and are built like battleships. My Spacesaver has already outlasted the machine it was bought for, and I anticipate it’ll be in use for many more years to come.</p>
<p>Along with its durability, this keyboard has let me type faster, more accurately and with greatly reduced finger and wrist strain. The springs under each key provide a degree of responsiveness that makes it hard to go back to regular keyboard with their gross, mushy membranes.</p>
<p>The biggest thing that has changed is the introduction of a dedicated Mac model, the Spacesaver M White Buckling Spring USB. It comes in their regular black/grey combination, but also in a classic &#8220;pearl white&#8221; which resembles the beigetastic we all grew up with in the 1990s. The nostalgia factor for that alone would be worth it!</p>
<h3>Thoughts</h3>
<p>For the loungeroom environment though, there are some factors that give me pause. I’ve since learned I don’t really use the numeric keypad, though I still heavily rely on the PigUp/PigDown and arrow cursor islands. The Spacesaver is already much smaller than their <a href="http://pckeyboard.com/page/UKBD/UNI044A">full sized Classic boards</a>, but on a desk others also may have to use, I’d rather save the space.</p>
<p>Additionally, while I think buckling springs are superior even to mechanical switches, they do emit a great deal of noise. In my closeted SOHO/bedroom this isn’t an issue, but if I wanted to use this loungeroom Mac Pro with others at home, I’m thinking it may be a little inconsiderate.</p>
<p>For now, I’ll be adding it to that oft–mentioned Maybe Pile&trade;. One keyboard down, four more to go!</p>
 
