---
title: 'The LEGO Acropolis' 
date: "2014-01-02T10:24:09+10:00"
year: "2014"
category: Hardware 
tag:
- archaeology
- art
- design
- history
- lego
- museums
- sydney 
location: sydney
---
<p><img src="//farm6.staticflickr.com/5476/11706525083_54b24c5a38_b.jpg" alt="Photo showing a LEGO ridiculously-detailed acropolis." style="width:500px; height:335px;" /></p>
<p>This afternoon, <a rel="friend met co-worker kin muse crush date sweetheart" href="http://kirinyan.net/">Clara</a> and I headed to the <a href="http://sydney.edu.au/museums/index.shtml">University of Sydney Museum</a> to check out their <a href="http://sydney.edu.au/museums/exhibitions-events/lego-acropolis.shtml">LEGO Acropolis exhibit</a>. Hey floor, I heard you like jaw!</p>
<blockquote>
<p>Following on from the extraordinary success of the LEGO Colosseum in 2012, the Brickman, Ryan McNaught,<br />
has turned his hand to one of the most iconic architectural monuments of Ancient Greece – the Acropolis!</p>
<p>The LEGO model displays the Acropolis both as it was in the fifth century BC and as it is today, as one of<br />
Greece&#39;s most popular tourist attractions. Captured in LEGO are some of the Acropolis&#39; more famous<br />
visitors including Pericles, Lord Elgin, Dame Agatha Christie, and even Elton John.</p>
</blockquote>
<p>Beside the stunning model were tables and chairs with LEGO bricks. Naturally, Clara and I proceeded to spend the early evening building. Clara built a flying house; and I attempted my own Greek building. You can view our efforts (and theirs!) in my <a href="https://secure.flickr.com/photos/rubenerd/sets/72157639301659906/">Flickr gallery</a>.</p>
<p><img src="//farm6.staticflickr.com/5531/11706534973_3f3098b41c.jpg" alt="Photo of Clara's and my little LEGO houses." style="width:250px; height:168px;" /><img src="//farm6.staticflickr.com/5515/11706499563_e3e5c02a5c.jpg" alt="Photo showing a LEGO ridiculously-detailed acropolis from the side." style="width:250px; height:168px;" /></p>
 
