---
title: 'The Bic Orange Finepoint most certainly is' 
date: "2014-09-15T04:11:50+10:00"
year: "2014"
category: Hardware 
tag:
- bic
- pens
- writing 
location: sydney
---
<p><img src="https://rubenerd.com/files/2014/mai-pen@1x.jpg" alt="Photo of Mai with a box of Bic pens" style="width:500px; height:333px;" srcset="https://rubenerd.com/files/2014/mai-pen@2x.jpg 2x" /></p>
<p>I used to joke that the only time I use pens is for exams and immigration cards. As everyone has their favourite instrument for expressing themselves, mine is a computer keyboard and markup. So when I can find a pen that gets out of the way and writes with a minimum of fuss and cost, I latch onto it.</p>
<p>Of all the ink types and brands available, I keep coming back to the <em><a href="http://www.bicworld.com/en/products/details/8/orange-fine">Bic Orange Finepoint</a></em>, as held by our <a href="https://www.flickr.com/photos/rubenerd/15361940601/">orange–haired mahou shoujo Mai</a> above.</p>
<p> Some markets list them as the <em>Bic Classic Fine</em>, or the <em>Bic Orange Ballpen</em>, or mistakently as the <em>Bic Crystal</em>.</p>
<p>Whatever they’re called, the <em>Orange Finepoints</em> are sturdy, draw <strong>incredibly smooth</strong> lines without smudgeworthy gel inks, and are available everywhere for cheap. They’re also bright orange, which makes them easier for absentminded people like me to spot.</p>
<p>Jony Ive spent a large amount of time when introducing the MacBook talking about the &#8220;perfect coefficient of friction&#8221; for their glass trackpads. These pens are almost the same to paper. </p>
<p>A variant is the famous <em>Bic Cristal</em> [sic], which is the same but with a transparent shell. You can see the remaining ink with those, but I just like the feel of these more.</p>
 
