---
title: 'This is my 77,777th tweet' 
date: "2014-04-30T12:46:00+10:00"
year: "2014"
category: Internet
tag:
- photos
- railways
- twitter
location: sydney
---
<p><img src="https://rubenerd.com/files/2014/Au_mnl_exmouth_june05.jpg" alt="Photo of abandoned train line, by Kiwifruitboi in 2005" style="350px; height:262px;" /></p>
<p>And it only took me <a style="font-weight:bold;" href="https://twitter.com/Rubenerd/statuses/6385011">seven years</a>. If that isn’t a sign, then the <a title="The Main North Line at Exmouth near Armidale, New South Wales." href="https://en.wikipedia.org/wiki/File:Au_mnl_exmouth_june05.jpg">above image</a> is.</p>
<blockquote><p>The Main North Line at Exmouth near Armidale, New South Wales. Taken by Kiwifruitboi June 2005.</p>
</blockquote>
<p>The 600 refers to the distance to Central Station, Sydney. Such a lonely outpost in the middle of nowhere. I get lost in photos like this.</p>
<p>Thanks to <a href="https://twitter.com/AlanJLee">@AlanJLee</a> for pointing out this milestone I otherwise would have steamed past.</p>
 
