---
title: 'The Topre RealForce looks absolutely perfect' 
date: "2014-04-26T11:23:59+10:00"
year: "2014"
category: Hardware 
tag:
- japan
- keyboards
- mechanical-keyboards
- topre
- topre-realforce 
location: sydney
---
<p><img src="https://rubenerd.com/files/2014/topre.104u.wside.jpg" alt="Side view of the Topre RealForce 104U" style="width:500px; height:310px;" /></p>
<p>Remember when I blogged about things other than keyboards? Yeah, me neither. But this may be the keyboard post to end all keyboard posts.</p>
<p>In my opinion, everything is a compromise compared to the Model M. But I can’t use that in the evenings, and I wouldn’t want to subject coworkers to it. For this, over the past few weeks I’ve been looking for a quieter alternative that still has some nice tactile feedback. As the master chef has quality knifes, those who spend their days at a computer should have a quality input device to reduce finger strain.</p>
<p>For this, I’d mostly turned to the Cherry MX line of mechanical key switches. The range offers offer everything from tactile bumps and clicks and in all manner of actuation weights. <a href="https://www.wasdkeyboards.com">WASD’s customisable keyboards</a> seemed to be the best choice; all that was missing was my payment details for them to start shipping one over.</p>
<p>
<p>And then I found the Topre RealForce. Specifically, the numpad-less 87U and the full 104U. They’re Japanese, have &#8220;silky smooth keycaps&#8221; and are awesome.</p>
<p><img src="https://rubenerd.com/files/2014/topre.104u.capsoff.jpg" alt="View of the Topre switches" style="width:500px; height:310px;" /></p>
<p>The technology behind the RealForces is fascinating. The keys consist of a rubber dome sitting atop a large metal spring, which activate an electrostatic capacitive switch. This arrangement offers &#8220;smooth&#8221; tactile feedback, while being quieter than the mechanical Cherry MX series or buckling springs. I like springs.</p>
<p>As some people do by mixing Cherry MX Greens and Blues, the RealForce keyboard keys are tuned to finger strength. For example, keys under your index fingers require more force to press than the ones under your pinkie. I’m a medicore touch typist, but this could provide the impetus for me to get better if I knew it could further reduce finger strain in the long term.</p>
<p>And finally, along with black (the beige of 2014) the keyboards are offered with the same beigetastic colour scheme of the first keyboards I grew up with. I’d customised the WASD keyboard to resemble this, but this even has that beige colour on the bezel. All I need is a WordPerfect shortcut key sticker to run along the top, and I’d be home free.</p>
<p>It seems to be the ultimate balance of performance, quietness and retro appeal I was looking for. So naturally, you have to sacrifice a goat and part with upwards of $270 Australian. With that, I could almost buy two WASDs, or a couple thousand cheapies. Would I want to though, when I could get one keyboard that satisfies all my pedantic needs?</p>
<h3>Other posts in this series</h3>
<ul>
<li><a href="//rubenerd.com/wasd-keyboard-design-fun/">WASD keyboard design fun</a></li>
<li><a href="//rubenerd.com/coolermaster-quickfire/">CoolerMaster QuickFire, via @screenbeard</a></li>
<li><a href="//rubenerd.com/the-code-keyboard/">The CODE keyboard</a></li>
<li><a href="//rubenerd.com/setting-up-my-second-workstation/">My second workstation: Unicomp keyboards</a></li>
<li><a href="//rubenerd.com/my-unicomp-keyboard/">My Unicomp keyboard</a></li>
</ul>
 
