---
title: 'Using (or not) Markdown' 
date: "2014-01-12T11:44:52+10:00"
year: "2014"
category: Software
tag:
- markdown
- nvalt
- productivity 
location: sydney
---
<p><img src="https://rubenerd.com/files/2014/icon.nvalt.png" alt="" style="width:128px; height:128px;" /></p>
<p>In response to my previous post about <a title="Rubenerd: Something @Gruber dot Markdown" href="//rubenerd.com/something-gruber-dot-markdown/">Markdown file extensions</a>, a few people asked me what I use it for.</p>
<p>For the most part, I don’t use it for web authoring. I understand the argument that Markdown is not a replacement for HTML, but given it’s exporting to it I don’t find the distinction pragmatic or useful here. I use inline HTML attributes, styles, citations and such for accessibility, RSS portability and semantics, all of which are beyond the scope of Markdown.</p>
<p>Where I do use Markdown is in my notes files. I previously ran a local MediaWiki install for note taking and general life organisation; I adored the hassle-free structure it gave my notes, the way I was able to assign them to categories, and then link those notes together. Markdown and nvALT have since given me these same features with greatly reduced overhead. This will be a topic in a future post I’m drafting now.</p>
<p>I suppose it also comes down to inertia. I’m used to coding in HTML, and have developed quite a library of <a title="TextExpander" href="http://smilesoftware.com/TextExpander/index.html">snippets</a> and macros for dealing with it in an automated, easy fashion. My inner developer likes that the code I write is the exact code the browser sees. Conversely, my notes files didn’t take long to port to Markdown, and now I benefit from other programs being able to parse them.</p>
<p><strong>TL;DR</strong> Markdown isn’t a HTML Panacea, but it’s crazy useful for text notes. You are using text notes, right?</p>
 
