/***************************************
 * Rubénerd : Refactored December 2016 *
 ***************************************/


/*** Reset ***/
html, body, h1, h2, h3, form, fieldset, figure,
#sidebar ul, #sidebar ul li, .recommended, .recommended li,
.secondary ul, .secondary ul li {
    border:0;
    border-collapse:collapse;
    list-style-type:none;
    margin:0;
    padding:0;
    vertical-align:baseline;
}
* {
    /* Reset if (for whatever reason) someone has changed the system
       default way of handling subpixel rendering in the browser.
       If you're a web dev and you change this, you're a bad person
       and you should feel bad. */
    -webkit-font-smoothing:subpixel-antialiased;
}

/*** Top ***/
html {
    background:#f0f2f5 url("sydney-singapore.png") top center repeat-x;
    background-size:798px 100px;
    color:#2e4256;
    height:100%;
    overflow-y:scroll;
}
body {
    font:16px "Helvetica Neue",Helvetica,"Source Sans Pro","Liberation Sans",sans-serif;
    margin:120px auto;
    width:760px;
}
h1, h2, h3 {
    letter-spacing:-1px;
    /* DON'T USE THIS EVERYWHERE, unless you like the smell of toasted mobiles */
    text-rendering:optimizeLegibility;
}
h1 a, h2 a, h3 a {
    text-decoration:none;
}
img {
    max-width:100%;
}
a { 
    color:#0066ff; #036ad3; #0066ff;
    text-decoration:underline;
}
a:hover, #sidebar nav a {
    color:#9961d5;
}


/*** Top for Retina ***/
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    html { background-image:url("sydney-singapore@2x.png") }
}


/*** Accessibility ***/
legend, #skip, #skip:hover, #skip:visited,
header h1 a span {
    height:1px;
    left:0px;
    overflow:hidden;
    position:absolute;
    top:-1000px;
    width:1px;
}
hr, #topics, .secondary #tag-fb {
    display:none;
    visibility:hidden;
}


/*** Boxes ***/
#sidebar nav, article, .secondary li a  {
    background:#ffffff;
    box-shadow: 0px 0px 5px #e1e2ef;
}


/*** Smaller ***/
#sidebar, footer { 
    font-size:14px;
    line-height:22px;
}


/*** Subheadings ***/
article .postMeta,
article .postMeta a,
.archive small {
    color:#7e92a6;
    font-size:13px;
    font-weight:normal;
    text-align:center;
}


/*** Sidebar ***/
#sidebar {
    float:left;
    width:140px;
}
#sidebar #mascot {
    width:130px;
}


/*** Header ***/
header h1 a {
    background:url("/logotext.svg") no-repeat;
    display:block;
    height:139px;
}


/*** Navigation ***/
#sidebar nav ul {
    margin:5px 0 20px 0;
    padding:15px 0;
}
#sidebar nav ul li a {
    display:block;
    line-height:23px;
    height:23px;
    padding-left:25px;
    text-decoration:none;
}
#sidebar nav ul li a:hover {
    background:#0066ff;
    color:#ffffff;
}


/*** Main ***/
main {
    float:right;
    width:580px;
}


/*** Articles ***/
article h2, .secondary h2 {
    font-size:26px;
    padding-bottom:5px;
    text-align:center;
}
article h3, .secondary h3 {
    font-size:20px;
    margin-top:30px;
}
article, .secondary {
    line-height:24px;
    margin-bottom:40px;
    padding:35px 40px 25px 40px;
}
article blockquote {
    border-left:1px solid #e1e8eD; //#dce3ec;
    color:#5e7286;
    padding-left:20px;
    margin-left:0;
}
article .postMeta {
    display:block;
    padding-bottom:0.6em;
}


/*** Article : Includes ***/
pre, code {
    font-size:12px;
    font-family:"Source Code Pro",Menlo,Monaco,"Liberation Mono","DejaVu Mono",monspace;
}
pre {
    border:1px dotted #dce3ec;
    background:#f0f2f5;
    line-height:16px;
    padding:15px 20px;
    overflow-x:scroll
}
table {
    border-collapse:collapse;
    border:1px solid #f0f0f0;
    line-height:22px;
    font-size:13px;
    margin:20px 0;
}
table th {
    background:#f0f0f0;
    text-align:left;
}
table th,
table td {
    padding:5px 10px;
    vertical-align:top;
}
table tr:nth-child(even) {
    background:#f9f9f9;
}  
figure {
    padding-top:4px;
    text-align:center;
}


/*** Article : Forms ***/
/* Gecko makes a dog's breakfast of line heights and forms */
form {
    line-height:1em;
    padding-bottom:4px;
}


/*** Article : Podcast ***/
.show-licence, .show-release, .show-subscribe {
    color:#7e92a6;
}


/*** Article : Recommended ***/
.recommended {
    line-height:auto;
}
.recommended li {
    display:inline;
}
.recommended li img {
    background:#f0f3f6;
    margin:0 10px 10px 0;
    width:150px;
}
.podcasts li img {
    height:150px;
}
.manga li img {
    height:215px;
}


/*** Pagination ***/
.secondary {
    padding-top:40px;
    text-align:center;
}
.secondary li {
    display:inline;
    letter-spacing:-1px;
    font-size:20px;
    font-weight:bold;
}
.secondary li a {
    margin:0 20px;
    padding:10px 20px;
    text-decoration:none;
    white-space:nowrap;
}
.secondary li a:hover {
    background:#0066ff;
    color:#ffffff;
}


/*** Footer ***/
footer {
    padding:0 0 230px 0;
    text-align:center;
    font-size:14px;
}
footer input[type=text] {
    width:260px;
}


/*** Responsive ***/
@media screen and (max-width: 800px) {
    
    /*** Top Level ***/
    html {
       background-size:532px 66px;
    }
    body {
        margin-top:30px;
        padding-bottom:40px;
        width:580px;
    }
    main,#sidebar {
        float:none;
    }
    
    /*** Sidebar: Header and Navigation ***/
    #sidebar {
        width:580px;
    }
    
    
    /*** Sidebar: Header ***/
    #sidebar header h1 a {
        background:url("/logo-white-round.svg") top left no-repeat;
        background-size:38px;
        font-size:32px;
        padding-left:48px;
        height:38px;
        line-height:38px;
        margin-bottom:10px;
    }
    #sidebar header h1 a::after {
        content:"Rubénerd"
    }
    #sidebar header {
        padding-left:30px;
    }
    #sidebar nav {
        padding-left:25px;
    }
    
    /*** Sidebar: Navigation ***/
    #sidebar nav ul {
        background:transparent;
        box-shadow:none;
        padding:10px 0;
    }
    #sidebar nav ul li a {
        display:inline;
        margin:0;
    }
    #sidebar nav ul li {
        display:inline;
    }
    #sidebar nav ul li a {
        padding:5px;
    }
    #sidebar nav ul li::before {
        content:"";
    } 
    
    /*** Hide and Show ***/ 
    #mascot, 
    #site-description, 
    #primary-nav .topic,
    #primary-nav #linkblog {
        display:none;
        visibility:hidden;
    }
    #topics {
        display:inline;
        visibility:visible;
    }

    



    /*** Footer ***/
    footer {
        padding-bottom:530px;
        background-image:url("rubi-seifuku.png");
        background-position: center bottom;
        background-repeat:no-repeat;
        background-size:140px 502px;
    }

    
}

@media screen and (max-width: 580px) {
    html,body,main,#sidebar,footer {
        width:100%;
    }
    
    #sidebar header {
        padding-left:20px;
    }
    #sidebar nav {
        padding-left:15px;
    }

    article {
        padding:30px 20px 20px 20px;
        margin-bottom:20px;
    }
    
    article img, article iframe, article object { 
        height:auto !important;
        max-width:100%;
    }

    footer p {
        padding:0 30px;
    }

}

/** EOF **/



