---
title: 'Answering @JJProjects about $100 million' 
date: "2010-03-04T03:36:56+10:00"
abstract: "Or how I'd live off the interest and contribute to software projects."
year: "2010"
category: Thoughts 
tag: 
- bidness
- bsd
- business
- environment
- freebsd
- hypothetical
- jjprojects
- oxfam
- philosophy
- rie-kugimiya
- seiyuus
- thinking-out-loud 
---
<p><img src="https://rubenerd.com/files/uploads/icon.tango.finance.png" alt="" style="height:128px; width:128px; display:inline; border:0px; background:transparent; padding:0em;" /></p>
<p>It&#39;s one of those <a href="http://twitter.com/jjprojects/status/9956910845">age old questions</a> (adjusted for inflation), what would you do if you suddenly had 100 million dollars?</p>
<p><!--oldmore--></p>
<p>Of course one can&#39;t predict how one would react in such a situation, and any careful planning we&#39;d made before for such a scenario would no doubt be cast out the window like a WiMo phone that just lost all your data… again… once said money had been received.</p>
<h3>The living thing</h3>
<p>That said though, what I&#39;ve always wanted is a huge pile of money in a bank somewhere (presumably not an American one) so I can live off the interest and donate regularly to scientific and humanitarian projects. That way I have security in case something terrible happens, I&#39;m helping people and I can live quite comfortably doing the things I love like blogging, as well as coding for projects that help so many people but can&#39;t pay me or that I would prefer not pay me, such as FreeBSD or as a full time volunteer systems engineer for Oxfam.</p>
<p>@JJProjects <a href="http://twitter.com/jjprojects/status/9957248232">replied</a> by saying such use would mean &quot;a lot of spare dough lying around doing not very much.&quot;, but as I see it it&#39;s far more sensible to use money sustainably for myself and others than in a sudden splash of short term donations or fun.</p>
<p><img src="https://rubenerd.com/files/uploads/bsd_daemon.jpg" style="width:150px; height:150px; padding:0em; display:inline;" alt="Beastie!" /> <img src="https://rubenerd.com/files/uploads/greenoxfamlogo.png" alt="Oxfam" style="height:150px; width:160px; display:inline; background:transparent; padding:0em;" /></p>
<p>For all the talk of being a depressed person, I&#39;m under no illusion that I&#39;m not living a comfortable life right now, particularly compared to most people on the planet who barely have enough food to eat. I suppose with money I wouldn&#39;t want to change my lifestyle that much, just have some added security and be able to travel a bit more.</p>
<h3>The bidness thing</h3>
<p>I&#39;d also give some consideration to starting a boutique software company free of the needs of venture capital, again using the projects I would have contributed to as a base. I love writing small applications that fill niches, if I could run a business doing just that my profits would not obviously be astronomical, but I&#39;d have such a dizzying amount of fun doing it. If I could somehow apply these applications to sustainable energy projects then I wouldn&#39;t just be donating money but expertise. My offices could be friendly coffee shops in different places, and I could employ my dad who&#39;s given me so much as a father and a friend and I&#39;d love to relieve him of the overly stressful job he has now.</p>
<h3>The splurge thing</h3>
<p>Okay, I&#39;m human, I&#39;d splurge a little as well :)</p>
<p>What I would splurge on (if I had money left from my interest payment for that month) is a new Mac Pro tower and a Segway, I tried the latter in Sentosa recently and they were insanely fun! Who would need a flashy sports car if you had a Segway, and a Piaggio scooter while I&#39;m at it?</p>
<p>And finally, I&#39;d rent out one of the Harry&#39;s jazz clubs in Singapore, send tickets to all my friends from The Real World (wouldn&#39;t be hard, gulp) as well as people I&#39;ve got to know on Twitter and Google Reader, and have a huge concert with Marian Call performing who would have flown first class to get there, as well as Jim Kloss who would introduce everyone and run the sound systems. Mr and Mrs O&#39;Carrol would probably need a kitty carrier, that would also be arranged. I&#39;d also get Rie Kugimiya to insult and hug everyone as only she can, it&#39;d be a blast.</p>
 
