---
title: 'Voting Green in the South Aussie election thingy' 
date: "2010-03-20T03:32:24+10:00"
year: "2010"
category: Thoughts 
tag: 
- elections
- mark-parnell
- politics
- south-australia
- tasmania
- the-greens 
---
<p><img src="https://rubenerd.com/files/uploads/greenslogo-pms375-196x170.png" alt="The Greens logo." style="width:196px; height:170px; display:inline; padding:0em; background:transparent; display:inline;" /></p>
<p>Voting for <a href="http://sa.greens.org.au/">The Greens</a> in the South Aussie state elections today, and you&#39;d better too if you know what&#39;s good for you. That goes for <a href="http://tas.greens.org.au/">you too Tasmania</a>. I mean come on, Labor? Liberal? Family First?!</p>
<p>First some shameless, self serving <a href="http://markparnell.org.au/mr.php?mr=752">quoting</a>:</p>
<blockquote cite="http://markparnell.org.au/mr.php?mr=752"><p>
Tomorrow, South Australian voters have a genuine alternative to the old parties, and can join over million voters Australia wide who vote Green, says Greens MLC Mark Parnell.</p>
<p>This election the Greens have run on a positive platform of green jobs, water security and ensuring a better government.</p>
<p>“I urge all South Australians to consider a fresh, positive alternative to the old parties and vote for the fastest growing political force in the country – the Greens,” he said.</p></blockquote>
<p>I still think it&#39;s ironic I&#39;ve only been here a few years (cumulatively) but I have full voting rights because of my passport, and I lived in Singapore most of my life and I have no voice there at all. I could tell you more about <a href="http://en.wikipedia.org/wiki/Group_Representation_Constituency">GRCs</a> than <a href="http://en.wikipedia.org/wiki/Divisions_of_the_Australian_House_of_Representatives">electorates</a>. I know more about Goh Chok Tong than Rob Kerin. That&#39;s politics for you.</p>
<p>Some related thoughts, when I was in Adelaide back in 2006 I remember Nick Xenophon walking around wearing those sandwich boards in Rundle Mall. Are people angry that he went Federal? What ever happened to his state seat thingy?</p>
<p>As an extra fun tidbit, <a href="http://markparnell.org.au/">Mark Parnell</a> is one of the few politicians who has ever replied to emails I&#39;ve sent. Heck, he has his own <a href="//rubenerd.com/tag/mark-parnell">dedicated tag</a> here! Even when I was back in Singapore and technically outside of his jurisdiction (and cares) entirely he still took the time to answer my questions and have some lighthearted discussion. That counts for a lot in my book :).</p>
 
