---
title: 'Celebrating 30 years of Post-It Notes!' 
date: "2010-10-26T01:57:32+10:00"
year: "2010"
category: Hardware 
tag:
- infocomm
- inventions
- post-it-notes
- why-didnt-i-think-of-that 
---
<p><img src="https://rubenerd.com/files/2010/5114301736_b4fb6ee926_o@1x.jpg" srcset="https://rubenerd.com/files/2010/5114301736_b4fb6ee926_o@1x.jpg 1x, https://rubenerd.com/files/2010/5114301736_b4fb6ee926_o@2x.jpg 2x" alt="Screenshot showing a lot of MacOS Stickies." style="width:500px" /></p>

<p>To celebrate the 30th anniversary of those gloriously simple squares of coloured paper and adhesive that were a godsend to people like my father (who&#39;s probably bought and used more of them than anyone else) and the bane of people like me who constantly have to pluck discarded ones from the soles of my shoes like Paul Simon diamonds, I created the <a href="https://www.flickr.com/photos/rubenerd/5114301736/">above screenshot</a> and this post.</p>

<h3>Anyone remember these?</h3>
<p>I&#39;ve used more than my share of these obnixous little squares, but the thing I remember the most about them was their electronic manifestations, the first being <strong>Post-It Software Notes</strong>. I can still remember when my father triumphantly brought home a bright yellow floppy disk one fateful afternoon in the 90s for our Windows 9x desktop. I hadn&#39;t seen him that excited about anything in a long time before or since. I mean, real, authorised, Post-It Note brand notes for your computer desktop, it was genius!</p>
<p>As of today, you can still download the classic &quot;lite&quot; version of Post-It Software Notes, albeit through a third party <a href="http://www.tucows.com/preview/337614">in the form of Tucows</a>. If I had a Windows machine handy, I&#39;d give it a shot ;). REMEMBER TUCOWS? I remember Tucows!!!</p>
<p>I wonder if that yellow disk my dad brought home was made by 3M?</p>
<h3>The Mac is the Smack</h3>
<p>Of course classic Mac users didn&#39;t need a third party utility to fill their screens with clutter… for one thing they could cover their monitors with real pieces of paper and achieve the same effect. They could also elect to use <strong>Stickies</strong>, a small application that also drew coloured boxes on the screen for people to type things in. I remember creating <strong>Stickies</strong> simply for the sake of creating Stickies on my first iMac DV back in 2000.</p>
<p>What&#39;s cool is even the latest versions of Mac OS X have modern cocoa implementations of <strong>Stickies</strong> in the form of <strong>Stickies.app</strong>, and slightly more realistic versions in the Dashboard. At least, I think they do, I haven&#39;t used the Dashboard since Tiger, except for this afternoon to generate this screenshot:</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.postitnote.birthday.png" alt="" style="height:206px; width:225px; background:transparent; border:0em; padding:0em;" /></p>
<h3>You can’t spell conclusion without Bird is The Word</h3>
<p>Post-It Notes are the classic example of that ever-so-rare collision between an elegant and easy to understand invention and the fulfilling of a need in the marketplace. When I was a kid I once made a computer mouse with a pen taped on the top so you&#39;d need one less thing on your table, because the mouse had a built in pen! Obviously very elegant, but it didn&#39;t satisfy that market demand for… wait it wasn&#39;t elegant either, it was butt ugly and fell apart instantly. Good thing I didn&#39;t get into engineering.</p>
<p>In terms of their electronic brethren, I do remember thinking at the time how deliciously silly the whole concept of taking these notes and making electronic versions of them was, especially when graphical computer interfaces are so malleable and able to store notes in far more efficient and easy to use ways.</p>
<p>In any case, happy birthday my friends, may you continue to coat office surfaces the world over for many years to come <strong>^___^</strong>.</p>
 
