---
title: 'After the jump… into a BP lake' 
date: "2010-06-08T08:02:22+10:00"
year: "2010"
category: Anime
tag:
- blogging
- infocomm
- language
- rant
- weblog 
---
<p><img src="https://rubenerd.com/files/uploads/Bantam_jeep_flying_37mm_sm.jpg" alt="Bantam car in mid-air, taken 1940. Photo from Wikimedia Commons, released to the public domain as a work of the United States government" style="height:200px; width:360px;" /></p>
<p>Ladies and gentlemen there comes a time in a bloggers life where he must take the time to discuss something that may seem trivial at first but is in fact critical to the infrastructure of the net and ultimately to its very survival. I&#39;m talking of course about the phrase <strong>&quot;after the jump&quot;</strong>, hereafter referred to as ATJ to spare you having to read it again.</p>
<h3>Context sounds like a SMS convention</h3>
<p>To cast this post in the proper context, let me start by saying I&#39;m aware that I&#39;m not an ideal blogger. I sportaically talk about a wide array of topics. During periods of absense I explain why I was gone. My grammar and spelling are The Terrible. While these alleged vices may be irrirating to some, I am confident none can eclipse the sheer pain inducing awfulness that is the ATJ phrase.</p>
<p>For those of you fortunate enough to have not encountered this, authors who write blog posts will typically type this godawful phrase after a short description, blurb or summary of a post to let their readers know there&#39;s more to it, as if they&#39;re too stoopid to figure this out for themselves without being talked to like an infant.</p>
<p>I can&#39;t ascertain when this cutesy, awful phrase started being used by cliche &quot;Web 2.0&quot; authors that are so hip they can&#39;t see over their own pelvises, but as with Flash and external JavaScript comment systems it seemed to be dying out only to have a baffling resurgence. Its as if collectively they&#39;ve decided they can best serve the web community by making their readers want to claw their eyes out then bash what&#39;s remaining of their heads against a wall until they&#39;re in a world where they don&#39;t have to read such phrases anymore.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.pixiv.3317006.jpg" alt="Graphic by monoyuu on Pixiv, ID 3317006" style="height:346px; width:420px;" /></p>
<h3>Why this phrase sucks (not this one, that one)</h3>
<p>Firstly, from a practical standpoint using such a phrase doesn&#39;t make sense. ATJ takes 15 characters to type and reproduce when phrases such as &quot;read more&quot; or &quot;continued&quot; take far less. They&#39;re making more work for themselves and their system administrators who must maintain ever larger and larger databases with their useless text in them. Any CompSci major will tell text is expensive to serve, almost as much as streaming video.</p>
<p>Secondly, they&#39;re condescending, patronising and insulting to readers. ATJ implies we&#39;re unaware as to the function of hyperlinks, a baffling conclusion for a blog author to come to when you consider most people would have arrived at their blog by doing a search and clicking said hyperlinks.</p>
<p>Thirdly, to demonstrate that no jumping is involved when people use the ATJ phrase, enclosed below is an image of Taneshima Popura jumping. Notice how she can balance a precariously positioned beverage on a serving tray while doing so. How many people who claim to have websites with ATJs all over the place can claim their site is doing that, let alone themselves!?</p>
<p><img src="https://rubenerd.com/files/uploads/anime.working.jump.jpg" alt="Taneshima Popura from Working!!" style="height:423px; width:320px;" /></p>
<h3>Pervasiveness-ness</h3>
<p>As I said above, this phrase&#39;s resurgence is perhaps the most worrying aspect of all of this. Whereas it was once confined to gadget blogs it seems every second  photography site now uses it, and general bloggers have started using it to appear more legit, whatever that means. <a href="http://www.google.com/support/blogger/bin/answer.py?hl=en&amp;answer=154172">Even Google</a> discusses summaries for their Blogger service by referring to them as BTJ and ATJ… shocking.</p>
<p>Perhaps the worst perpetrators of this crime now are anime bloggers. It seems to be an unwritten requirement that if your blog is hosted with AnimeBlogger.net you <strong>must</strong> sprinke the ATJ phrase over every post you or your nine hundred other writers write. Don&#39;t believe me? A <a href='https://duckduckgo.com/?q=site%3Aanimeblogger.net%20after%2Bthe%2Bjump&t=h_&ia=web'>Google search</a> on <strong>just their domain</strong> for the ATJ phrase <strong>returns over 20,000 results</strong>, only 5,000 short of just doing a search for their domain! Crazyness!</p>
<h3>Conclusions-ness</h3>
<p>Together we must rid the online world of this curse before its too late and aliens will want to avoid contact with us because they&#39;ve intercepted our wireless network signals and read this phrase a few million times. What, you don&#39;t care about aliens and the future of humanity? Well fine then, keep using ATJ then! I suppose I&#39;m just more humble.</p>
<p>Now if you&#39;ll excuse me I&#39;m off to down thirty cups of coffee then check my blood pressure. It&#39;s an insurance thing.</p>
 
