---
title: '#Anime Sailor Kyonko, Sailor Rubenko' 
date: "2010-05-10T01:55:52+10:00"
year: "2010"
category: Anime 
tag: 
- kyonko
- pointless
- rubenko
- sailor-moon
- scary 
---
<p><img src="https://rubenerd.com/files/uploads/anime.rubenko.crop.png" alt="" style="height:400px; width:500px; display:inline; padding:0em; background:transparent;" /></p>
<p>Don’t read this post. Honestly.</p>
<p>Be warned, when I’m feeling depressed and need something to cheer me up I’m bound to do something quite silly. In this case, this morning while waiting for a cup of coffee I played around with the <a href="http://www.dolldivine.com/sailor.html">Sailor Moon generator</a> my sister found.</p>
<h3>Lesser known scouts who should have stayed that way</h3>
<table style="border:0; border-collapse:collapse; width:100%">
<thead>
<tr style="border-bottom:1px solid white">
<th style="text-align:left; padding-right:0.6em; vertical-align:top;"></th>
<th style="text-align:left; vertical-align:top;">Kyonko</th>
<th style="text-align:left; padding-right:0.6em; vertical-align:top;">Rubenko</th>
</tr>
</thead>
<tbody>
<tr style="border-bottom:1px solid white">
<th style="text-align:left; padding-right:0.6em; vertical-align:top;">Untransformed</th>
<td style="text-align:left; vertical-align:top;">Kyon</td>
<td style="text-align:left; padding-right:0.6em; vertical-align:top;">Ruben M. Schade</td>
</tr>
<tr style="border-bottom:1px solid white">
<th style="text-align:left; padding-right:0.6em; vertical-align:top;">Transform music</th>
<td style="text-align:left; vertical-align:top;">Haruhi &amp; ENOZ</td>
<td style="text-align:left; padding-right:0.6em; vertical-align:top;">Michael Franks</td>
</tr>
<tr style="border-bottom:1px solid white">
<th style="text-align:left; padding-right:0.6em; vertical-align:top;">Colours</th>
<td style="text-align:left; vertical-align:top;">Cardigan brown</td>
<td style="text-align:left; padding-right:0.6em; vertical-align:top;">From Rubenerd.com</td>
</tr>
<tr style="border-bottom:1px solid white">
<th style="text-align:left; padding-right:0.6em; vertical-align:top;">Element</th>
<td style="text-align:left; vertical-align:top;">Tea served by Mikuru</td>
<td style="text-align:left; padding-right:0.6em; vertical-align:top;">Arabica coffee</td>
</tr>
<tr style="border-bottom:1px solid white">
<th style="text-align:left; padding-right:0.6em; vertical-align:top;">Special Moves</th>
<td style="text-align:left; vertical-align:top;">The Cardigan Whip,<br />The Brow Furrow</td>
<td style="text-align:left; padding-right:0.6em; vertical-align:top;">The Infinite Loop,<br />The Ramble</td>
</tr>
<tr style="border-bottom:1px solid white">
<th style="text-align:left; padding-right:0.6em; vertical-align:top;">Enemy</th>
<td style="text-align:left; vertical-align:top;">Frustrating antics</td>
<td style="text-align:left; padding-right:0.6em; vertical-align:top;">Direct sunlight</td>
</tr>
<tr style="border-bottom:1px solid white">
<th style="text-align:left; padding-right:0.6em; vertical-align:top;">Weaknesses</th>
<td style="text-align:left; vertical-align:top;">Transformative gods,<br />The Mikuru Beam</td>
<td style="text-align:left; padding-right:0.6em; vertical-align:top;">Eye contact,<br />Robusta coffee</td>
</tr>
<tr style="border-bottom:1px solid white">
<th style="text-align:left; padding-right:0.6em; vertical-align:top;">Fight capable</th>
<td style="text-align:left; vertical-align:top;">Define with who</td>
<td style="text-align:left; padding-right:0.6em; vertical-align:top;">Define &quot;fight&quot;</td>
</tr>
<tr style="border-bottom:1px solid white">
<th style="text-align:left; padding-right:0.6em; vertical-align:top;">Abomination</th>
<td style="text-align:left; vertical-align:top;">Not the weirdest<br />incarnation!</td>
<td style="text-align:left; padding-right:0.6em; vertical-align:top;">Probably,<br />running away…</td>
</tr>
</tbody>
</table>
<h3>Explain yourself</h3>
<p>For those who don’t know, Kyon is from The Shenanigans of Haruhi Suzumiya, and his fan inspired female Kyonko form has become a cult icon. A <a title="Google Image search for Kyonko" href="http://www.google.com/images?q=kyonko">Google Image search</a> or looking at any of the image boards will give you an idea of his/her/its pervasiveness, some even going as far as to say his female form is the hottest character that did/didn’t exist. Only in anime fandom, sheesh!</p>
<p>As a defence for us being Sailor Scots, in the original series of Sailor Moon <a title="Wikipedia article on The Three Lights" href="http://en.wikipedia.org/wiki/Sailor_Starlights">The Three Lights</a> were sought after idol men who transformed to superwomen, so is this really a stretch? You know what, don’t answer that, owe this whole fiasco to a lack of coffee at that time of day and embarrassment at the fact I was able to so successfully shred what remaining masculinity I had.</p>
<p><a href="//rubenerd.com/files/uploads/anime.rubenko.1385.png"><img src="https://rubenerd.com/files/uploads/anime.rubenko.thumb.jpg" alt="Sailor Rubenko!" style="height:361px; width:250px;" /></a><a href="//rubenerd.com/files/uploads/anime.kyonko.1385.png"><img src="https://rubenerd.com/files/uploads/anime.kyonko.thumb.jpg" alt="Sailor Kyonko!" style="height:361px; width:250px;" /></a></p>
<h3>Come again?</h3>
<p>Wait, I had masculinity? This is news to me. By the way, this is your cue to leave a comment telling me otherwise. This is how things like this work, you see.</p>
<p>Okay I admit it, I didn’t make Rubenko, a friend of mine from Singapore did and sent me the screenshot along with several disparaging remarks. I’m just glad she covered me up as much as she could, because as the table demonstrates, sunlight is my enemy. That table and Kyonko were entirely my fault, you can tell because the design is suckier, to use the technical terms. Because the desginer didn’t have a cardigan I had to make the gloves cardigan coloured which didn’t really work.</p>
<p>I’m going to need a really, really big… cup of coffee.</p>
 
