---
title: '#Anime K-On! 07: Kurisumasu!' 
date: "2010-05-04T01:56:16+10:00"
year: "2010"
category: Anime 
tag: 
- 2009-anime
- better-late-than-never
- everything-is-out-of-season
- k-on
- keion
- kyoani 
---
<p><img src="https://rubenerd.com/files/uploads/anime.kon.07.1.jpg" alt="" style="height:281px; width:500px;" /></p>
<p>John Farnham <a href="http://www.youtube.com/watch?v=lmdD21-wO4A">once sang</a> that Everything Is Out of Season (great piece of Australiana in that video by the way). No mate, just this blog post is!</p>
<p>With the second season of <strong>K-On!!</strong> starting (hence the double exclamation mark thingy, how linguistically clever!) I figured it was about time to finish watching the first dang season so I could pick it up. And I’ve been instructed by two girls and a guy, so I have very little choice in the matter. Yes, I talk to girls… shocking, I know!</p>
<p><img src="https://rubenerd.com/files/uploads/anime.kon.07.2.jpg" alt="" style="height:281px; width:500px;" /></p>
<h3>The Reason sounds like a John Grisham novel</h3>
<p>I’ve been telling people the reason I stalled in watching and blogging about K-On was because I was busy, but the truth is I’ve been kinda scared to. I know, it sounds ridiculous and silly, a moeblob anime about fun loving people that doesn’t take itself seriously, how could I possibly be afraid of that?</p>
<p>I know it sounds childish, but because my mum died around Christmas a few years ago, the feelings around that season are still a little raw. Perhaps its the stereotype of families being together in a happy environment celebrating togetherness and all that, but I really can’t deal with it, and the thought of watching an entire anime episode where happy folks celebrate it seemed way too much. It was like a roadblock.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.kon.07.3.jpg" alt="" style="height:281px; width:500px;" /></p>
<p>Aww, wow! Hello! ^^;;; I mean, sorry, I um, gulp, <em>cough</em> <em>cough</em> got distracted for a second. In hindsight I should have done one of two things instead of eschewing the entire series indefinitely:</p>
<ul>
<li>skip it if it was going to make me worry and be upset</li>
<li>watch it anyway because it turned out to be just as adorable, sweet and hilarious as I’ve come to expect and would make me feel better as it always does</li>
</ul>
<p>Anyway I finally grew a pair today and watched it. And it was awesome! They had Secret Santas. Their Christmas party was friends and food (and sensei!) at Yui’s house, followed by a visit to the shrine to wish for good luck for the new year. I couldn’t have thought of a better way to do it ^^. I know so, because save for the shrine part, before my mum got sick and my sister and I were still little, we used to do the exact same thing as a family. Here’s hoping one day I’ll be able to do it again. Good times.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.kon.07.4.jpg" alt="" style="height:281px; width:500px;" /></p>
<p>As far as K-On episodes go, the art in this one was beautiful too, did anyone else notice that? I get the feeling more people were interested in seeing Mio look scared :P.</p>
<h3>Uh oh, the anti-moe brigade marches</h3>
<p>There’s been some serious backlash against moeblob anime being shallow, silly and a detriment to the artform, something which I’ll be addressing in a separate post now that I’m &quot;back in the game&quot; as it were. In summary here though: I don’t care, and as with any artform, for some people if something is popular it means it can’t be good. It’s the reason why people dismiss Rubenerd.com, because it’s too wildly popular. Yeah, that must be it (&gt;^_^ )&gt;.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.kon.07.6.jpg" alt="" style="height:281px; width:500px;" /></p>
<p>My only criticism of this episode was it didn’t have enough Muginess. I know the fans <strong>all</strong> want Mio, but we all know Tsumugi with her eyebrows and keyboard and voice contains far more awesomeness. This is undisputed fact.</p>
<p>I love that this review was a dozen paragraphs long and yet contained no details on the episode whatsoever! I should get a job reviewing products for Gizmodo. Nah, I’d have to steal something first though.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.kon.07.5.jpg" alt="" style="height:281px; width:500px;" /></p>
 
