---
title: '#Anime It started as a Senjoughara figure post'
date: "2010-04-03T01:12:19+10:00"
year: "2010"
category: Anime
tag:
- 2009-anime
- figures
- bakemonogatari
- pointless
- senjoughara-hitagi
- shaft 
---
<p><img src="https://rubenerd.com/files/uploads/anime.bakemonogatari.figures.jpg" alt="" style="height:350px; width:500px;" /></p>
<p>Sometimes you can forgive yourself when you miss a news story, other times you want to hit your head against the wall with a sledgehammer. That sentence made no sense. Her Senjougharaness is now available in figure form!</p>
<p>According to several online news sources online (well that was a redundant sentence, and it hasn’t even finished yet), several houses are releasing Senjoughara figures from last years best show <a title="Show all my Bakemonogatari related posts" href="//rubenerd.com/tag/bakemonogatari/">Bakemonogatari</a>. I added that bit about it being the best show, I know a lot of people disagree with me but I thought it was awesome on so many levels.</p>
<h3>I’m pleased, but…</h3>
<p>While I’m pleased Her Senjougharaness is now getting some attention, I don’t think I’ll get either of these. I don’t collect many anime figures (I’m picky and they’re expensive even with my friend from Singapore in Japan &quot;helping&quot; me out), so I like the ones I do get to be really awesome.</p>
<p>I can’t quite put my finger on it, and I know Hitagi was sneaky with her tsundereness, but to me she looks a little cold and vacant in both her renditions (is that the word?) not her usual awesome (and friendly dere dere) self. Her skirt in the GoodSmile Company version is also much shorter than in the show which also doesn’t match her personality. For those not in the know, outcast characters always wear longer skirts, it’s like a visual cue. Except for the outcast guys. Wait, virtually all guys in anime are outcasts. Never mind :P</p>
<p>Anyway, by comparison an Alter Hitagi figure would be awesome. And a Koyomi to stand with her with his sentient antenna hair. Just saying.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.bakemonogatari.03.04.jpg" alt="" style="height:281px; width:500px;" /></p>
<h3>The O’Pointless Factor</h3>
<p>You must understand, under most circumstances I’m the kind of person who must ruthlessly justify everything he buys. If a product doesn’t do something functional or fulfill a specific need, I can’t bring myself to buy it; I’m flooded with a sense of guilt and I back away.</p>
<p>The only non-productive things I find myself oddly obsessed with are nostalgic computer hardware and software, and anime figures. While the former could be tepidly justified as &quot;learning about computer history&quot; there is absolutely <strong>ZERO</strong> justification for collecting anime figures. NONE. They just stand there, doing absolutely nothing. And I can’t get enough of them. ^_^</p>
<p>My first anime blog (which I lost in that now infamous database wipe) had a whole section on these curious collectibles. I’m seriously considering spinning off my anime posts into a separate blog again, the first one was terrible but it was lots of fun. Come to think of it I even have an epic domain I could use!</p>
 
