---
title: '#Anime Ow! My earrings are poking me!' 
date: "2010-04-30T03:27:48+10:00"
year: "2010"
category: Anime 
tag: 
- not-a-clue
- pointless
- sailor-mars
- sailor-moon
- thinking-out-loud 
---
<p><img src="https://rubenerd.com/files/uploads/anime.pssm.mars.attack.jpg" style="height:318px; width:420px;" alt="Sailor Mars attacking, with very spikey earrings." /></p>

<p>That&#39;s what women worry about, right? Sharp earrings?</p>
 
