---
title: '#Anime Smalluswallpaperusphobia' 
date: "2010-01-24T02:53:51+10:00"
year: "2010"
category: Anime 
tag: 
- 2009-anime
- akiyama-mio
- art
- graphics
- k-on
- keion 
---
<p><img src="https://rubenerd.com/files/uploads/anime.yangniangniang.mio.jpg" alt="Mio by Yang Niangniang" style="height:300px; width:500px;" /></p>

<blockquote><p><strong>Smalluswallpaperusphobia</strong> <em>noun</em><br />
The fear of finding an epic picture you want to use it as your desktop background but can&#39;t because of its diminutive size.</p></blockquote>

<p><a href="https://www.pixiv.net/en/artworks/7329186">By X YANG on Pixiv</a>.</p>
 
