---
title: 'Yo BBC, leave the Asian Network’s 6Music alone' 
date: "2010-03-02T10:49:29+10:00"
year: "2010"
category: Media
tag:
- bbc
- made-up-words
- music
- not-ireland
- petitions
- public-broadcasting
- radio
- united-kingdom 
---
<p><img src="https://rubenerd.com/files/uploads/logo.bbc.wide.png" alt="BBC" style="height:73px; width:254px; padding:0em; background:transparent;" /></p>
<p>I&#39;m not British, I don&#39;t live in the UK and the only radio station I&#39;ve listened to in the Isles is <a href="//rubenerd.com/tag/todayfm/">Today FM</a> in <a href="http://www.intoyourheadpodcast.com/aaaapodcastblog/">The Republic</a>, but a ton of my English friends are up in arms about this latest move by the BBC to <a href="http://www.love6music.com/">chop programming</a>, so I&#39;m doing my bit to help spread the word, however trivially insignificant it&#39;ll be in the grand scheme of things; wow this was a really long sentence.</p>
<p><!--oldmore--></p>
<p>From the self-doucumentingly (pretty sure that&#39;s not a word) titled <a href="http://www.love6music.com/">Love6Music.com</a>:</p>
<blockquote><p>The BBC needs to make cuts reported as £600M of which 6Music represents a reported £7M</p>
<p>6Music &#038; AM to close!!! Take Action NOW!</p>
<p><a href="trust.enquiries@bbc.co.uk">trust.enquiries@bbc.co.uk</a></p>
<p><strong>PROTEST</strong> &#8212; We’ve been asked to publicise the following but love6music is in no way responsible for it.</p>
<p>A fool knows the cost of everything and the value of nothing. The closure of 6Music is cultural vandalism. This Must Not Stand!</p></blockquote>
<p>They have a petition you can sign, though I assume it&#39;s only for British folk. Don&#39;t let them make such a breathtaking mistake! The BBC I mean, not the petition people.</p>
<p><a href="http://www.petition.fm/petitions/6musicasiannet/1000/"><img src="https://rubenerd.com/files/uploads/graphic.savebbcradio.jpg" alt="Save the Asian Network and 6Music" style="height:188px; width:213px; padding:0em; background:transparent;" /></a></p>
 
