---
title: 'Comparing cancer to… computer games?' 
date: "2010-03-05T09:36:24+10:00"
year: "2010"
category: Thoughts 
tag: 
- debra-ross
- debra-schade
- gaming
- health
- in-memoriam
- michael-atkinson
- r18au 
---
<p><img src="https://rubenerd.com/files/uploads/photo.atking.jpg" alt="Michael Atkinson" style="height:237px; width:316px; display:inline;" /></p>
<p>Up until recently, the worst crimes South Australian Attorney-General <a href="//rubenerd.com/tag/michael-atkinson/">Michael Atkinson</a> committed were against common sense, civil liberties, free speech and defamation of law abiding computer gamers. Now it&#39;s personal.</p>
<blockquote style="font-family:serif">
<p>Dear Michael Atkinson,</p>
<div style="text-align:center; font-weight:bold;">Regarding the spending of public funds on questionable research</div>
<p>A couple of years ago I lost my mum and best friend to cancer after she lost her 12 year struggle with the debilitating disease &#8212; a struggle I can’t begin to relate to &#8212; and now we all discover you willingly supplied funds to an organisation that places such a disease in the same league as… computer gaming?</p>
<p>I would like to print (nay, spit) the string of four letter words spinning in my head and express in detail how you’ve further crushed my faith in humanity, but Debra (my late mum) used to tell me people like you aren’t worth it. She was right.</p>
<p>Peace, health and happiness,<br />
Ruben Schade</p></blockquote>
<p>I&#39;m over politicians.</p>
 
