---
title: 'Aussie Across America and using email better' 
date: "2010-04-17T03:26:42+10:00"
year: "2010"
category: Internet
tag:
- causes
- duncan-schieb
- email
- health
- infocomm
- jdrf
- marketing 
---
<p><img src="https://rubenerd.com/files/uploads/banner.aaa.jdrf.png" alt="Aussie Across America" style="height:73px; width:500px;" /></p>
<p>Usually I ignore email addressed to me that isn&#39;t relevant to me, but in this case I&#39;m making an exception because it&#39;s for a good cause and becuase I&#39;m in an awesome mood :).</p>
<blockquote><p>G’day Ruben,</p>
<p>For all of you Australians in America is time to rally behind a good cause. My good friend Duncan Schieb is driving across America to raise funds for the Juvenile Diabetes Research Foundation and he needs our help. Whether you can say hi along the way, help him with a fund raising event if he is coming through your city or just make a donation yourself, then its time to stand up and help a fellow Australian help others.</p>
<p>We have got behind him and are offering a prize to those that get involved or donate, so here is some incentive. How about a trip for 2 to New York, 3 nights accommodation and coming into the VIP Suite at Yankee Stadium for the game on the 19th June between the Yankees and Mets!</p>
<p>Hopefully that is enough incentive for you to get up, dust off your wallets and make a small effort to make a big difference.</p>
<p>You can find out more about the trip and competition at Duncans Website at <a href="http://www.aussieacrossamerica.com">http://www.aussieacrossamerica.com</a> but hurry, he has already started and left LA and moving across the middle towards New York. You can find a travel path on his website.</p>
<p>Come on, get involved and lets show them how much spirit we have in our<br />
Australian blood.</p>
<p>Cheers
</p></blockquote>
<h3>I sincerely mean no offence, but…</h3>
<p>The internet is an incredible place to gather grassroots support for noteworthy and important causes such as Duncan Schieb&#39;s ride to support the American Juvenile Diabetes Research Foundation. I absolutely support Duncan 110% and if I were in America I would absolutely be doing my bit to support him.</p>
<p><img src="https://rubenerd.com/files/uploads/icon.tango.mail.reply.png" alt="Icon by the Tango Desktop Project" style="height:128px; width:128px; display:inline; background:transparent; padding:0em; float:right; margin:0 0 5px 10px;" />That said, the internet also makes it much easier to tailor messages to individual recipients rather than mass mailing messages to people who may or may not be eligible for their contents. All good email marketing applications have this capability.</p>
<p>For example, if someone like me on their  account profiles with a site states they&#39;re an <a href="http://en.wikipedia.org/wiki/Anti-patriotism">anti-patriot</a>, that they do not live in America, nor are they interested in sport, then it should be simple to modify emails to either include relevant passages, or to not send them to certain people at all. It&#39;s not just non-profits that don&#39;t do this, even organisations such as CNET which has a ton of public data to mine routinely sends out email that&#39;s irrelevant to many of their recipients, as I <a title="Post: CNET email marketing fail" href="//rubenerd.com/cnet-email-marketing-fail/">talked about in February</a>.</p>
<p>I don&#39;t mean to come across as rude or that I don&#39;t care about good causes like this &#8212; far from it. I feel as though if these techniques were used, grassroots efforts would garner <strong>more</strong> support. As a tiny example, imagine if in their email they had recognised where someone was living and had a specific PayPal donate link in the recipient&#39;s local currency.</p>
<h3>In the meantime</h3>
<p>Go to Duncan&#39;s site and support his worthy cause!</p>
<p><a style="font-weight:bold" href="http://www.aussieacrossamerica.com/">http://www.aussieacrossamerica.com/</a></p>
 
