---
title: 'Bruce Schneier facts, again!' 
date: "2010-03-11T01:11:22+10:00"
year: "2010"
category: Media
tag:
- bruce-schneier
- cryptography
- facts
- funny
- privacy
- security 
---
<p><a href="http://geekz.co.uk/schneierfacts/"><img src="https://rubenerd.com/files/uploads/chuck-schneier-3.jpg" alt="Bruce Schneier" /></a></p>
<p>Back in 2006 <a href="//rubenerd.com/bruce-schneier/">I posted</a> some of my favourite Bruce Schneier facts. Here we are in 2010 and I still read ones that make me laugh out loud!</p>
<ul>
<li>The sum of the ASCII values of the characters in Bruce Schneier’s passwords is always a prime number. Their product is too.<p></p></li>
<li>Bruce Schneier; brain the size of a planet…. Reduced to writing about encryption for mortals; gets very depressed.<p></p></li>
<li>Bruce Schneier can read and understand Perl programs.<p></p></li>
<li>There are no prime numbers, only numbers Bruce Schneier lets you factorise.<p></p></li>
<li>Bruce Schneier knows a deterministic algorithm to generate non-pseudo random numbers without need of an entrophy source.<p></p></li>
</ul>
 
