---
title: 'Celebrating 2800 posts with shinyness' 
date: "2010-04-24T01:25:51+10:00"
year: "2010"
category: Thoughts 
tag: 
- industrial-cleaning
- nonsense
- pointless
- pointless-milestone 
---
<p><img src="https://rubenerd.com/files/uploads/photo.pullman.s2800.jpg" style="height:280px; width:192px; padding:0em; background:transparent;" alt="Photo of the Pullman S2800" /></p>
<p>Yup, it&#39;s time for another one of our beloved <a href="//rubenerd.com/tag/pointless-milestone/">Rubenerd Pointless Milestones</a>, and this time we&#39;re continuing another fine tradition! I live to write posts like this :)</p>
<p>Last year I celebrated the <a href="//rubenerd.com/post-id-5700/">reaching of WordPress ID 5700</a> by posting information about the Tennent 5700 industrial scrubber, so it only seems fitting then to keep this silly little tradition we&#39;ve been sharing alive. A <strong>great</strong> idea, or the <strong>greatest</strong> idea of all time?</p>
<h3>Don’t answer that</h3>
<p>To celebrate the auspicious posting of 2800 blog posts, here for your reading delight is information about the fine <a href="http://www.pullman-ermator.se/eng/produkter/sline.html">Pullman Ermantor 5700</a> industrial vaccum cleaner &#8212; no wait, <strong>dust extractor</strong>. Sounds lean, mean and awesome, and it&#39;s shiny in both appearance and Firefly parlance. What is it?</p>
<blockquote><p>A powerful two motor dust extractor equipped with pre filter and a H13 main filter. Quiet and compact design. 40 litre recovery bag Jets pulsing for effective filter cleaning. 5 meter hose complete with cleaning equipment. Suitable for large quantities of concrete and plaster dust.</p></blockquote>
<p>Sounds awesome! And finally its technical specifications:</p>
<table>
<tr>
<th>MOTOR EFFECT (W)</th>
<td>2&#215;1260</td>
</tr>
<tr>
<th>WEIGHT (kg)</th>
<td>43</td>
</tr>
<tr>
<th>SUCTION CAPACITY (m3/h)</th>
<td>220</td>
</tr>
<tr>
<th>VACUUM (kPa)</th>
<td>24</td>
</tr>
<tr>
<th>FINE FILTER</th>
<td>pol/cell</td>
</tr>
<tr>
<th>HEPA FILTER</th>
<td>H13</td>
</tr>
<tr>
<th>AIR PULSE CLEANING</th>
<td>yes</td>
</tr>
<tr>
<th>SIZE (LxBxH in cm)</th>
<td>71x61x110</td>
</tr>
<tr>
<th>COLLECTION</th>
<td>40-litre plastic bag</td>
</tr>
</table>
<p>Who says I never blog about anything interesting and/or relevant here? Again, best if you don&#39;t answer that.</p>
 
