---
title: 'Debra Schade, three years on today' 
date: "2010-12-23T08:35:18+10:00"
year: "2010"
category: Thoughts 
tag: 
- debra-ross
- debra-schade 
---
<p><img src="https://rubenerd.com/files/2010/me-and-mummy-in-2006_3509540425_o@1x.jpg" alt="Me and mummy in 2006" srcset="https://rubenerd.com/files/2010/me-and-mummy-in-2006_3509540425_o@1x.jpg 1x, https://rubenerd.com/files/2010/me-and-mummy-in-2006_3509540425_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>Rest in peace mummy. I love you. And I still think about you every day. Lot has happened in three years, wish I could tell you.</p>
 
