---
title: 'Encyclopedia Brand Generica' 
date: "2010-03-14T09:21:25+10:00"
year: "2010"
category: Media
tag:
- advertising
- brands
- confusing
- pebkac
- rant 
---
<p><img src="https://rubenerd.com/files/uploads/logo.tradelink.png" alt="Tradelink" style="height:200px; width:500px;" /></p>
<p>Am I the only one who gets a bit frustrated when I see a brand and either thing the company sells something else, or when the brand is so generic the company literally could be selling <strong>anything</strong>?</p>
<h3>Brands that sound like something else!</h3>
<p>For example, here are some brands I&#39;ve been exposed to in Adelaide recently (how indecent) that sound like they sell something different:</p>
<ul>
<li><a style="font-weight:bold" href="http://www.packers.com.au/">Packers</a> aren’t removalists, they sell… doors?<p></p></li>
<li><a style="font-weight:bold" href="http://www.chessmovers.com.au/">Chess Moving</a> don’t teach you how to move chess pieces like a Russian chess master who can beat a number crunching space heater, they’re removalists.<p></p></li>
<li><a style="font-weight:bold" href="http://en.wikipedia.org/wiki/Shuffle!">Shuffle!</a> is an anime about a nerdy guy who’s sought after by dozens of cute girls, NOT about mad blackjack skills or a particular style of dancing.<p></p></li>
<li><a style="font-weight:bold" href="//rubenerd.com/">Rubenerd.com</a> is a blog the proprietor claims to be about computing but has as many useless and off topic posts such as this one as real content.<p></p></li>
<li><a style="font-weight:bold" href="http://www.visitcorkcounty.com/">Cork County</a> isn’t a gigantic bottle sealant sitting on the lower side of Ireland, it’s an entire region with people and scenery and all that stuff.<p></p></li>
</ul>
<h3>Brands that sound like… nothing?</h3>
<p>And here are some brands I&#39;ve been exposed to in Adelaide recently (how indecent, is that joke old yet?) that from looking at I didn&#39;t have the foggiest idea what they were.</p>
<ul>
<li>The folks at the gloriously generic <a style="font-weight:bold" href="http://www.generaltrader.com.au/">General Trader</a> sells high end kitchen utensils and appliances with a website that <strong>requires</strong> Flash without gracefully falling back on an alternative. Apparently they think FreeBSD people (that Adobe refuses to support) either don’t have kitchens, or more likely they can’t cook. Touché.<p></p></li>
<li>The similarly generic <a style="font-weight:bold" href="http://www.tradelink.com.au/">Tradelink</a> company sells bathrooms and plumbing supplies. There’s a joke there about bad brands and certain things that go on in bathrooms, but it would be far too low brow for a site such as this.<p></p></li>
</ul>
<p>It&#39;s madness I tell you, madness!</p>
 
