---
title: '[Eurotrip] Longwinded through free Dublin WiFi' 
date: "2010-01-10T05:18:14+10:00"
year: "2010"
category: Travel
tag:
- advertising
- big-freeze
- europe
- eurotrip
- family
- funny
- infocomm
- ireland
- irony
- weather
- wifi
location: Dublin
---
<p><img src="https://rubenerd.com/files/uploads/graphic.dublin.airport.png" alt="Free Dublin WiFi advertisement" style="height:250px; width:300px;" /></p>
<p>I&#39;m typing this post from a small café next to our hotel in Dublin and boy it&#39;s freezing! There&#39;s snow lightly falling outside and the footpaths are slick with ice which has caused more than a few bruises in the last few days, but we&#39;ve still been thoroughly enjoying ourselves! Anyway I was going to save blogging until I got back to Singapore, but I couldn&#39;t resist when I saw the above ad.</p>
<p>Yes, having just logged into the free WiFi at said coffee establishment, I was presented with the above advertisement which, if you care, looks almost like a square but is in fact a stumpy rectangle. A pointless and utterly stupid observation about size is not the humerous part of this yarn though, I found it to be pretty ironic this free WiFi hotspot is sponsored by <a href="http://www.dublinairport.com/">Dublin Airport</a> with the slogan <strong>&quot;flying has never been easier&quot;</strong> given its <strong>closed</strong> due to the freak Arctic weather conditions! Then again I can&#39;t seem to access Twitter tweets on it anyway, so perhaps saying the two are alike was intentional. Makes sense.</p>
<p>We&#39;ll be back in Singapore in a few days, can&#39;t believe we&#39;ve been in Europe now for over two weeks. WiFi has been very hard to find so I gave up the prospect for live blogging, so instead I&#39;ll be uploading photos and blogging about places upon our returny substances. Return-y substances?</p>
<h3>Update</h3>
<p>I&#39;ve been informed the above graphic, had I cared to click on it, is for an airport in the UK and is in fact <em>not</em> Dublin. Must be all the Guinness :). Given many of the airports in the UK are closed too the point of the post still seems to stand though!</p>
<h3>Can’t see the image?</h3>
<p>Neither can I now that I&#39;m using Firefox again. Perhaps Adblock Plus attacked it!</p>
 
