---
title: 'Fedora 13 Goddard cooked' 
date: "2010-05-26T12:55:43+10:00"
year: "2010"
category: Software
tag:
- bittorrent
- fedora
- infocomm
- linux 
---
<p><a href="http://fedoraproject.org/en/get-fedora"><img src="https://rubenerd.com/files/uploads/f13release.png" alt="Fedora 13." style="height:100px; width:200px;" /></a></p>
<p>From the <a href="http://torrent.fedoraproject.org/">Fedora tracker</a>. I&#39;ll be grabbing the DVD and Xfce releases :).</p>

<ul>
<li style="font-weight:bold;"><a href="http://torrent.fedoraproject.org/torrents/Fedora-13-x86_64-DVD.torrent">Fedora-13-x86_64-DVD.torrent</a></li>
<li><a href="http://torrent.fedoraproject.org/torrents/Fedora-13-x86_64-CDs.torrent">Fedora-13-x86_64-CDs.torrent</a></li>
<li><a href="http://torrent.fedoraproject.org/torrents/Fedora-13-x86_64-Live.torrent">Fedora-13-x86_64-Live.torrent</a></li>
<li><a href="http://torrent.fedoraproject.org/spins/Fedora-13-x86_64-Live-XFCE.torrent">Fedora-13-x86_64-Live-XFCE.torrent</a></li>
<li><a href="http://torrent.fedoraproject.org/torrents/Fedora-13-x86_64-Live-KDE.torrent">Fedora-13-x86_64-Live-KDE.torrent</a></li>
</ul>

<ul>
<li style="font-weight:bold;"><a href="http://torrent.fedoraproject.org/torrents/Fedora-13-i386-DVD.torrent">Fedora-13-i386-DVD.torrent</a></li>
<li><a href="http://torrent.fedoraproject.org/torrents/Fedora-13-i386-CDs.torrent">Fedora-13-i386-CDs.torrent</a></li>
<li><a href="http://torrent.fedoraproject.org/torrents/Fedora-13-i686-Live.torrent">Fedora-13-i686-Live.torrent</a></li>
<li><a href="http://torrent.fedoraproject.org/spins/Fedora-13-i686-Live-XFCE.torrent">Fedora-13-i686-Live-XFCE.torrent</a></li>
<li><a href="http://torrent.fedoraproject.org/torrents/Fedora-13-i686-Live-KDE.torrent">Fedora-13-i686-Live-KDE.torrent</a></li>
</ul>
 
