---
title: 'Rubenerd Fun Fact #98 and #99: Robert Frost' 
date: "2010-11-01T01:34:50+10:00"
year: "2010"
category: Thoughts 
tag: 
- fun-facts
- nonsense
- poetry
- pointless
- robert-frost
- thinking-out-loud 
---
<p><img src="https://rubenerd.com/files/uploads/graphic.funfact98.png" alt="Ruben is a terrible graphics designer" style="height:160px; width:500px;" /></p>
<p>Another one of our beloved <a href="//rubenerd.com/tag/fun-facts/">Rubenerd Fun Facts</a>. Put the brick down.</p>
<blockquote><p>Two roads diverged in a yellow wood. I took a plane.</p></blockquote>
<p>And a related fact:</p>
<blockquote><p>Ruben should never attempt graphic design.</p></blockquote>
 
