---
title: 'Futurama is being un-Wonderfalls-ed!' 
date: "2010-03-19T10:07:22+10:00"
year: "2010"
category: Media
tag:
- baka-to-test-to-shoukanju
- futurama
- professor-zoidberg
- television
- wonderfalls 
---
<p><img src="https://rubenerd.com/files/uploads/graphic.zoidberg.gif" alt="Zoidberg dancing on Freedom Day." style="height:240px; width:320px;" /></p>
<p>Heaven forbid this site ever start talking about things completely unrelated to tech (despite it absorbing my anime blog when I <a href="//rubenerd.com/anime-restarting/">lost it</a> ;_;) but this is big enough news to warrant a post here. <strong><a href="http://www.forevergeek.com/2010/03/futurama_returns_in_june_/">Futurama is coming back!</a></strong></p>
<p>The Fox network in the US has a breathtaking history of cancelling great shows, some people claim it&#39;s because they&#39;re evil but I rather thing they&#39;re incredible shrewd business folk. Better to cancel a show when people like it than let it drag on and fizzle out. Wait, they do The Simpsons don&#39;t they?</p>
<p>Anyway Futurama is coming back… I can see Zoidberg again! Only <a href="http://en.wikipedia.org/wiki/Doctor_%28Star_Trek%29">The Doctor</a> from Star Trek Voyager is a more awesome doctor than Zoidberg.</p>
<p>Now they just need to start Wonderfalls (which I <a href="//rubenerd.com/wonderfalls-tv-series-review-firefly-all-over-again/">talked about</a> in 2006) and Firefly again and we&#39;ll be in business. Or perhaps that wouldn&#39;t be such a good idea, I already have far too many distractions in my life at the moment. Heck, I&#39;m still getting over the fact that guy from <a href="http://www.animenewsnetwork.com.au/encyclopedia/anime.php?id=10816">Baka to Test to Shōkanjū</a> is a guy :P.</p>
 
