---
title: 'My Gillard, Abbott comparison chart' 
date: "2010-08-16T06:33:59+10:00"
year: "2010"
category: Thoughts 
tag: 
- australia
- australian-election-2010
- doh
- julia-gillard
- politics
- tony-abbott 
---
<p><a href="//rubenerd.com/tag/australian-election-2010/"><img src="https://rubenerd.com/files/uploads/logo.australia2010.png" alt="Australian Election 2010" style="height:150px; width:500px;" /></a></p>
<p>With the Australian federal elections less than a week away, I decided to plot on a handy table the positions of the leading two parties and their leaders that matter to me. This way I can make a more informed decision, and ultimately help others.</p>
<p>By my definition, <strong>plan</strong> is shorthand for <strong>comprehensive plan</strong>. This means they’ve made them public, debated them and have a clear direction backed up with these trifling things called &quot;facts&quot;. If they do have a good plan but it contradicts something else they stand for, I reduce it to a <em>nah</em>.</p>
<table style="border-collapse:collapse;">
<tr>
<th style="text-align:left; padding-right:0.8em;">Candidate for Prime Minister</th>
<td style="padding-right:0.8em;">Julia Gillard</td>
<td>Tony Abbott</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">Political party</th>
<td style="padding-right:0.8em;">Labor</td>
<td>The Coalition</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">Position (officially)</th>
<td style="padding-right:0.8em;">Centre left</td>
<td>Centre right</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">Position (probably)</th>
<td style="padding-right:0.8em;">Centre right</td>
<td>Far right</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">What to do</th>
<td style="padding-right:0.8em;">Nothing!</td>
<td>Go backwards!</td>
</tr>
<tr>
<td colspan="3" style="text-align:center;">&nbsp;</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">Grown up immigration position</th>
<td style="padding-right:0.8em;">Nah</td>
<td>Nah</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">Plan for IT, communications</th>
<td style="padding-right:0.8em;">Nah</td>
<td>Nah</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">Plan for public transport</th>
<td style="padding-right:0.8em;">Nah</td>
<td>Nah</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">Plan for higher education</th>
<td style="padding-right:0.8em;">Nah</td>
<td>Nah</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">Plan for environment, energy</th>
<td style="padding-right:0.8em;">Nah</td>
<td>Science-what?</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">Supports equal marriage rights</th>
<td style="padding-right:0.8em;">Nah</td>
<td>Nah</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">Represent us well globally</th>
<td style="padding-right:0.8em;">Nah</td>
<td>Nah</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">No juvenile attack attacks</th>
<td style="padding-right:0.8em;">Nah</td>
<td>Nah</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">Returned any of my emails</th>
<td style="padding-right:0.8em;">Nah</td>
<td>Nah</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">Has double letters in name</th>
<td style="padding-right:0.8em;">Yup</td>
<td>Yup</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">Stepped over</th>
<td style="padding-right:0.8em;">Rudd</td>
<td>Turnbull</td>
</tr>
<tr>
<th style="text-align:left; padding-right:0.8em;">Would make a good laksa</th>
<td style="padding-right:0.8em;">Maybe?</td>
<td>What’s Asia?</td>
</tr>
</table>
<p>I’ll be voting for the Greens, but I must be frank and admit it’s mostly because the two biggest parties are such a joke now. I watched two of their debates. I’ve been watching the news. If I hear one more mention of so-called &quot;boat people&quot;, I’ll scream.</p>
<p>Ideally I’d like Labor to get back in, but with a much reduced mandate to govern. Let them know we’re not happy with their performance, and we only kept them in because they scare us less than someone who’d like to set women’s causes and progress back 50 years.</p>
<p>Then again that’s just me. This whole mandatory internet filter talk made me come this close to voting for Liberal for the first time, no joke! Eh, I’m depressed, I’m off for a coffee. Wait, I’m already at a coffee shop. Time for another one then.</p>
 
