---
title: 'The iPhone, iPad forcing people off Flash' 
date: "2010-04-03T12:46:20+10:00"
year: "2010"
category: Internet
tag:
- adobe
- android
- apple
- flash
- infocomm
- standards 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.wirelesssg.flash.png" alt="Prompt asking me to install Flash" style="height:175px; width:500px;" /></p>
<p>From the very beginning of the first iPhone I defended Apple&#39;s position against adding Flash support, and the same went for the iPad. Now it seems their position has finally started to pay off, and you won&#39;t even need to be an Apple customer to benefit.</p>
<p>First, the two arguments Flash proponents almost universally take when debating this issue are:</p>
<ol>
<li>There’s lots of useful, important Flash material out there</li>
<li>Why not include Flash by default, but allow people to turn it off?</li>
</ol>
<p>Except in a few extreme cases where the developers don&#39;t provide an open alternative (and they&#39;re disappearing rapidly), the first point is patently false, and the second one ignores the fact that much of Flash wouldn&#39;t work on a portable device (how do you hover a cursor?) and would just encourage developers to merely put a warning on their pages telling iPhone users to switch on Flash support. Either way, no progress gets made.</p>
<p>Now it seems pages have started popping up across the net with Flash-free, HTML5 support for Apple&#39;s iPad. Love or hate the device (and there&#39;s certainly lots of material discussing both sides), both it and the iPhone are making a noticeable difference in the adoption of open web standards over closed, proprietary web APIs such as Flash, and Silverlight if that even mattered in the first place.</p>
<h3>The iPhone is better for standards than Android?</h3>
<p>What I find ironic is that it took a traditionally closed company such as Apple to get the web moving away from the slow, buggy, closed Flash API with limited platform support instead of the so called open Android platform which either comes with or supports Flash. If we were all using Android devices, we&#39;d probably still be using more Flash.</p>
<p>I am a proponent of free and open source software in general, but what I&#39;m a zealot for is open standards. As far as I&#39;m concerned, a proprietary product that exports, saves, opens and manipulates data in open formats is superior to an open source platform that either pays lip service to closed APIs or approves of them.</p>
<p>That&#39;s not to say Android hasn&#39;t also done amazing things, one of which was to usurp Microsoft&#39;s terrible WiMo and make free(er) software the norm on mobile phones which is unprecedented. Have you ever used Pocket Office on WiMo, ugh!</p>
<h3>Related posts</h3>
<ul>
<li><strong>2010-01-30</strong>: <a href="//rubenerd.com/ipad-flash-is-google-ie6/">iPad without Flash is Google without IE6</a></li>
<li><strong>2010-01-30</strong> <a href="//rubenerd.com/adobe-attacks-with-figures/">Adobe attacks… with figures!</a></li>
</ul>

