---
title: 'Kallen Stadtfeld celebrates Sweden Day!' 
date: "2010-06-06T09:55:57+10:00"
year: "2010"
category: Anime
tag: 
- code-geass
- events
- global-citizen
- holidays
- sweden 
---
<p><img src="https://rubenerd.com/files/2010/i-claim-this-land-for-sweden_3579043194_o@1x.jpg" alt="My Kallen Stadtfeld fig posing with a Swedish flag!" srcset="https://rubenerd.com/files/2010/i-claim-this-land-for-sweden_3579043194_o@1x.jpg 1x, https://rubenerd.com/files/2010/i-claim-this-land-for-sweden_3579043194_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>Another post I thought was only going to be one line long, but it turned into a mini saga!</p>
<p>Wishing all the Swedish people of the world a happy <a href="https://en.wikipedia.org/wiki/National_Day_of_Sweden">National Day</a>! In true cliché fashion I&#39;m eating Swedish meatballs, potatoes and gravy on my IKEA table while listening to Abba, and for lunch I had a dill and smoked salmon sandwich from the… Norwegian bakery down the street. We&#39;ll pretend it&#39;s Swedish though, but don&#39;t tell anyone!</p>
<p>I&#39;ve always wanted to go to Stockholm; Malaysia Airlines inexplicably has a regular service to it from Kuala Lumpur, not sure about Singapore Airlines. I suppose I should be going with SAS though, right?</p>
<p>WIth the mini-obsession I&#39;ve had with Sweden for so long, I&#39;m surprised I&#39;ve only blogged about them <a title="Post: Sweden allows same sex marriage!" href="//rubenerd.com/sweden-same-sex-marriage/">once before</a>. That&#39;s okay though, because with this post the <a title="All posts tagged with Sweden" href="//rubenerd.com/tag/sweden/">Sweden tag</a> will have two entries which is <strong>double</strong> what it had before.</p>
<h3>What’s with the photo?</h3>
<p>And <a href="https://www.flickr.com/photos/rubenerd/3579043194/sizes/o/">as for the photo</a>, it&#39;s Kallen Stadtfeld from Code Geass holding a bunch of Swedish flags that came with some food from IKEA when I was still in Adelaide. <a href="https://www.flickr.com/photos/rubenerd/3579040910/sizes/l/in/set-72157618922430103/">This</a> is my favourite photo of her I took, but she wasn&#39;t carrying Swedish flags in that one!</p>
<p>I had no idea why I gave the flags to her to use, perhaps it&#39;s because in the story Sweden was annexed into Britannia too and she&#39;s showing solidarity. Yeah, that must be it.</p>
 
