---
title: 'Kubatana Marimba Ensemble on WWR' 
date: "2010-05-28T06:58:27+10:00"
year: "2010"
category: Media
tag:
- indie-media
- kubatana-marimba-ensemble
- music
- whole-wheat-radio 
---
<p><img style="width:467px; height:313px;" alt="" src="https://rubenerd.com/files/uploads/Kubatana-bio.jpg" /></p>
<p>I like most of the music that plays on <a href="http://wholewheatradio.org/wiki/index.php/Main_Page">Whole Wheat Radio</a>, but sometimes a song comes on that grabs my attention so much it deserves an opening sentence far better than this one! Today&#39;s such song was by the <a href="http://wholewheatradio.org/wiki/index.php/Artists:Kubatana?artistnum=10295">Kubatana Marimba Ensemble</a>, that just happened to be the Artist of the Day.</p>
<blockquote cite="http://wholewheatradio.org/wiki/index.php/Artists:Kubatana?artistnum=10295"><p>Kubatana Marimba Ensemble plays a style of polyrhythmic, polyphonic music largely transcribed and arranged from songs played on Zimbabwean mbiras &#8212; traditional instruments (&quot;thumb pianos&quot;) of the Shona cultures of Zimbabwe. In the Shona language Kubatana  roughly means &#8220;to come together and unite&#8221;, an apt description of how and why the band was formed in the summer of 2004.</p>
<p>Originally comprised of four beginning and four more accomplished players, the group has continued to practice, progress, evolve and learn both from native Zimbabwean teachers as well as numerous American friends who have gone before them. The current membership of Kubatana is eight. In addition to playing on as many as seven marimbas (three sopranos, two tenors, a baritone, and a bass), Kubatana uses other instruments including gourd shakers, amplified mbiras, and African hand drums. The music is energizing and exhilarating and usually induces people to get up and dance! </p></blockquote>
<p>My first instinct when I hear music like this is to rate it five stars, tag it as <a href="http://wholewheatradio.org/wiki/index.php/Category:Ruben_schade_bagus!">Ruben Bagus</a> and check out CD Baby. Unfortunately they don&#39;t seem to have anything up on there, and their <a href="http://kubatanamarimba.org/">official website</a> is fairly sparse. I&#39;ve emailed them asking where I can get their stuff.</p>
<p>I also want their clothes! :D</p>
<p><a rel="nofollow" href="http://wholewheatradio.org/wiki/index.php/Artists:Kubatana">(Link to the origianl wiki; the photo hosted there no longer exists).</a></p>
<p>As a final footnote, after this we were treated to an amazing blues tune with Luther Kent. Try getting that amount of variety on your Top 40 station!</p>
 
