---
title: 'Links for 2010-03-10' 
date: "2010-03-10T11:01:59+10:00"
year: "2010"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.mac-forums.com/forums/os-x-applications-games/77133-enabling-sftp-ssh.html">Enabling sftp and ssh? &#8211; Mac-Forums.com</a></dt>
<dd class="delicious-extended">Not right, of course.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/osx">osx</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/ssh">ssh</a> <a href="http://delicious.com/rubenerd/sftp">sftp</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://forums.virtualbox.org/viewtopic.php?p=14118&amp;sid=f7c5eb8b11edef5be711c5f92deed9a6">Boot from bootable USB drive in VB? (View topic) • virtualbox.org</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/virtualbox">virtualbox</a> <a href="http://delicious.com/rubenerd/virtualisation">virtualisation</a> <a href="http://delicious.com/rubenerd/booting">booting</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.julie-bishop.com/transcripts/310-abc-qaa-god-science-and-sanity-.html">ABC Q&amp;A &#8211; God, Science and Sanity</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/richarddawkins">richarddawkins</a> <a href="http://delicious.com/rubenerd/religion">religion</a> <a href="http://delicious.com/rubenerd/rationality">rationality</a> <a href="http://delicious.com/rubenerd/television">television</a> <a href="http://delicious.com/rubenerd/transcripts">transcripts</a>)<p></p></dd>
</dl> 
