---
title: 'Links for 2010-01-19' 
date: "2010-01-19T11:02:29+10:00"
year: "2010"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://imgfave.lg1x8z.simplecdn.net/image_cache/1254865830803043.jpeg">1254865830803043.jpeg (JPEG Image, 377&#215;480 pixels)</a></dt>
<dd class="delicious-extended">&quot;Death machines… life machines&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/cars">cars</a> <a href="http://delicious.com/rubenerd/bikes">bikes</a> <a href="http://delicious.com/rubenerd/transport">transport</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://pm-lib.sourceforge.net/README.html">Procmail strategies against spam</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/spam">spam</a> <a href="http://delicious.com/rubenerd/documentation">documentation</a> <a href="http://delicious.com/rubenerd/email">email</a> <a href="http://delicious.com/rubenerd/procmail">procmail</a>)<p></p></dd>
</dl> 
