---
title: 'Links for 2010-06-17' 
date: "2010-06-17T10:01:25+10:00"
year: "2010"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://news.ninemsn.com.au/article.aspx?id=1032338">Vogue Australia scrubs anti-ad comments</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/advertising">advertising</a> <a href="http://delicious.com/rubenerd/corruption">corruption</a> <a href="http://delicious.com/rubenerd/censorship">censorship</a> <a href="http://delicious.com/rubenerd/magazines">magazines</a>)<p></p></dd>
</dl> 
