---
title: 'Links for 2010-03-12' 
date: "2010-03-12T11:02:33+10:00"
year: "2010"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="https://www.flickr.com/photos/_sk/4414227446/">Minaiture Food &#8211; Croissants and Choc Croissants #2 on Flickr &#8211; Photo Sharing!</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/photos">photos</a> <a href="http://delicious.com/rubenerd/cute">cute</a> <a href="http://delicious.com/rubenerd/food">food</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.efa.org.au/2009/02/17/would-the-extreme-cyber-libertarians-please-stand-up/">Would the extreme cyber-libertarians please stand up? | EFA</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/censorship">censorship</a> <a href="http://delicious.com/rubenerd/nocleanfeed">nocleanfeed</a> <a href="http://delicious.com/rubenerd/openinternet">openinternet</a> <a href="http://delicious.com/rubenerd/australia">australia</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.michaelwolff.com/">MichaelWolff.com: The official website of jazz pianist Michael Wolff</a></dt>
<dd class="delicious-extended">This guy&#39;s music is AMAZING!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/jazz">jazz</a> <a href="http://delicious.com/rubenerd/music">music</a> <a href="http://delicious.com/rubenerd/cool">cool</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://wiki.linuxquestions.org/wiki/Clone_a_disk_using_dd">Clone a disk using dd &#8211; LQWiki</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/dd">dd</a> <a href="http://delicious.com/rubenerd/linux">linux</a> <a href="http://delicious.com/rubenerd/bsd">bsd</a> <a href="http://delicious.com/rubenerd/freebsd">freebsd</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/cloning">cloning</a> <a href="http://delicious.com/rubenerd/hdd">hdd</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://forums.whirlpool.net.au/forum-replies-archive.cfm/1055242.html">Parted Magic/PartImage issue &#8211; Linux/BSD</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/partedmagic">partedmagic</a> <a href="http://delicious.com/rubenerd/partitions">partitions</a> <a href="http://delicious.com/rubenerd/freebsd">freebsd</a> <a href="http://delicious.com/rubenerd/bsd">bsd</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://crossfitfx.com/products-page/">CrossFit FX » Store</a></dt>
<dd class="delicious-extended">&quot;Don’t use machines become one&quot;… wait what?</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/shopping">shopping</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/australia">australia</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://holykaw.alltop.com/how-to-keep-windows-relevant">How to keep Windows relevant &#8211; Holy Kaw!</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/microsoft">microsoft</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a> <a href="http://delicious.com/rubenerd/windows">windows</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://i.imgur.com/rg35g.jpg">rg35g.jpg</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/art">art</a> <a href="http://delicious.com/rubenerd/internet">internet</a> <a href="http://delicious.com/rubenerd/twitter">twitter</a> <a href="http://delicious.com/rubenerd/google">google</a> <a href="http://delicious.com/rubenerd/facebook">facebook</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.silverace.com/libretto/">adorable toshiba libretto &#8211; The latest information and links on the Toshiba Libretto</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://delicious.com/rubenerd/retro">retro</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://partmaps.org/era/unix/libretto.html">My Linux Toy &#8212; the Libretto 50CT</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://delicious.com/rubenerd/retro">retro</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.skidzopedia.com/2009/01/15/hideshow-close-button-on-tabs-firefox-tips/">Hide/Show Close Button On Tabs | Firefox Tips | Skidzopedia</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/firefox">firefox</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/tips">tips</a> <a href="http://delicious.com/rubenerd/software">software</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://holykaw.alltop.com/iphone-addiction-creating-ijunkies">iPhone addiction creating iJunkies &#8211; Holy Kaw!</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/iphone">iphone</a> <a href="http://delicious.com/rubenerd/apple">apple</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/funny">funny</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://53rg10.wordpress.com/2008/12/31/favorite-anime-characters-of-2008/">Favorite Anime Characters of 2008 « Open Your Mind</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/toradora">toradora</a> <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.straitstimes.com/BreakingNews/Singapore/Story/STIStory_500458.html">Moves to lift English proficiency &#8211; Straits Times</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/singapore">singapore</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/language">language</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://code.google.com/p/textmate-missingdrawer/">textmate-missingdrawer &#8211; Project Hosting on Google Code</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/apple">apple</a> <a href="http://delicious.com/rubenerd/programming">programming</a> <a href="http://delicious.com/rubenerd/editors">editors</a> <a href="http://delicious.com/rubenerd/gui">gui</a> <a href="http://delicious.com/rubenerd/plugins">plugins</a> <a href="http://delicious.com/rubenerd/textmate">textmate</a>)<p></p></dd>
</dl> 
