---
title: 'Links for 2010-02-08' 
date: "2010-02-08T11:02:10+10:00"
year: "2010"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.somacon.com/p145.php">Permanent Redirect with HTTP 301</a></dt>
<dd class="delicious-extended">&quot;his article describes how to properly redirect a web page using an HTTP 301 status code and Location header. The 301 status code is used to indicate that a page has permanently moved. Multiple techniques are presented with recommendations.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/programming">programming</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/web">web</a> <a href="http://delicious.com/rubenerd/301">301</a> <a href="http://delicious.com/rubenerd/html">html</a> <a href="http://delicious.com/rubenerd/htaccess">htaccess</a> <a href="http://delicious.com/rubenerd/redirects">redirects</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.pageresource.com/cgirec/ptut14.htm">Perl: Reading from a File</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/perl">perl</a> <a href="http://delicious.com/rubenerd/scripting">scripting</a> <a href="http://delicious.com/rubenerd/programming">programming</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.devshed.com/c/a/Perl/Array-Manipulation-in-Perl/6/">Page 7 &#8211; Array Manipulation in Perl</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/perl">perl</a> <a href="http://delicious.com/rubenerd/scripting">scripting</a> <a href="http://delicious.com/rubenerd/programming">programming</a>)<p></p></dd>
</dl> 
