---
title: 'Links for 2010-06-06' 
date: "2010-06-06T10:02:15+10:00"
year: "2010"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.carboncapturereport.org/cgi-bin/dailyreport?PROJID=3&amp;date=20090422">Climate Change News for 04/22/2009: The Carbon Capture Report</a></dt>
<dd class="delicious-extended">I was quoted on a climate change site… sort of!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/climatechange">climatechange</a> <a href="http://delicious.com/rubenerd/environment">environment</a> <a href="http://delicious.com/rubenerd/green">green</a> <a href="http://delicious.com/rubenerd/earth">earth</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.newsweek.com/2010/05/26/north-korea-s-exit-strategy.html">Kim Jong-il Is Looking for a Way out of the Crisis &#8211; Newsweek</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/korea">korea</a> <a href="http://delicious.com/rubenerd/northkorea">northkorea</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://hacktux.com/fedora/rar/fedora/10">Fedora 10 Rar and Unrar | HACKTUX</a></dt>
<dd class="delicious-extended">&quot;By default, Rar  is not available in Fedora 10. If all you need to do is extract files from a Rar archive, unrar from RPM Fusion&#39;s YUM repositories will work.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/closedsource">closedsource</a> <a href="http://delicious.com/rubenerd/rar">rar</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/compression">compression</a> <a href="http://delicious.com/rubenerd/fedora">fedora</a> <a href="http://delicious.com/rubenerd/linux">linux</a> <a href="http://delicious.com/rubenerd/rpm">rpm</a> <a href="http://delicious.com/rubenerd/yum">yum</a> <a href="http://delicious.com/rubenerd/howto">howto</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.theregister.co.uk/2010/05/25/fedora_13_review/">Fedora 13 – Linux for Applephobes • The Register</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/fedora">fedora</a> <a href="http://delicious.com/rubenerd/linux">linux</a> <a href="http://delicious.com/rubenerd/reviews">reviews</a> <a href="http://delicious.com/rubenerd/gnu">gnu</a> <a href="http://delicious.com/rubenerd/redhat">redhat</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://mattmckeon.com/facebook-privacy/#">The Evolution of Privacy on Facebook</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/facebook">facebook</a> <a href="http://delicious.com/rubenerd/privacy">privacy</a> <a href="http://delicious.com/rubenerd/fail">fail</a> <a href="http://delicious.com/rubenerd/evolution">evolution</a> <a href="http://delicious.com/rubenerd/security">security</a> <a href="http://delicious.com/rubenerd/web">web</a> <a href="http://delicious.com/rubenerd/data">data</a>)<p></p></dd>
</dl> 
