---
title: 'Links for 2010-03-08' 
date: "2010-03-08T11:02:02+10:00"
year: "2010"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.fixup.net/tips/l70200.htm">Overclock Libretto 70</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/overclocking">overclocking</a> <a href="http://delicious.com/rubenerd/mods">mods</a> <a href="http://delicious.com/rubenerd/howto">howto</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.csd.toshiba.com/cgi-bin/tais/support/jsp/modelContent.jsp?ct=SB&amp;os=&amp;category=&amp;moid=1073769619&amp;rpn=PA1260U&amp;modelFilter=70CT&amp;selCategory=3&amp;selFamily=1073768659">Model Content Page: Toshiba 70CT</a></dt>
<dd class="delicious-extended">Official Toshiba page for the Libretto 70CT</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/drivers">drivers</a> <a href="http://delicious.com/rubenerd/manuals">manuals</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.madanthony.net/archive/2007_04_01_archive.html">mad anthony: 04/01/2007 &#8211; 05/01/2007</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/photos">photos</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://w3.ualg.pt/~rsolivei/asusb1.html">Asus B1 Linux Laptop</a></dt>
<dd class="delicious-extended">Comparing sizes of a full laptop to a Libretto :)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.photech.com.au/Controls/Products/ViewProductDetails.aspx?ProductID=4853">Photech: USB 2.0 to SATA, 2.5&quot;, 3.5&quot; IDE Adapter</a></dt>
<dd class="delicious-extended">That&#39;s what I need. Now if only I weren&#39;t in Australia on a Sunday when all the shops are shut -__-</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/sata">sata</a> <a href="http://delicious.com/rubenerd/pata">pata</a> <a href="http://delicious.com/rubenerd/hdd">hdd</a> <a href="http://delicious.com/rubenerd/cables">cables</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.silverace.com/libretto/overclocking.html">adorable toshiba libretto &#8211; Overclocking the Libretto</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/overclocking">overclocking</a> <a href="http://delicious.com/rubenerd/mods">mods</a> <a href="http://delicious.com/rubenerd/howto">howto</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://hobby.plala.jp/performance/lib70.html">Libretto 70 ‚Ìƒy[ƒW</a></dt>
<dd class="delicious-extended">How to bump the FSB speed for a Libretto 70 from 60 to 66MHz.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/overclocking">overclocking</a> <a href="http://delicious.com/rubenerd/mods">mods</a> <a href="http://delicious.com/rubenerd/howto">howto</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.pao.jpn.org/pc.html">PAO&#39;s PC</a></dt>
<dd class="delicious-extended">He has a Libretto with a Card Captor Sakura background, I approve ^_^ :)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/ccs">ccs</a> <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/toshiba">toshiba</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://home.att.net/~gobruen/progs/dos_batch/dos_batch.html">Creating DOS Batch Files</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/code">code</a> <a href="http://delicious.com/rubenerd/programming">programming</a> <a href="http://delicious.com/rubenerd/dos">dos</a> <a href="http://delicious.com/rubenerd/guide">guide</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/software">software</a>)<p></p></dd>
</dl> 
