---
title: 'Links for 2010-03-15' 
date: "2010-03-15T11:02:02+10:00"
year: "2010"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.notcliche.com/lbw/heartwarming-winter-2010-anime-previews">Heartwarming Winter 2010, Anime Previews! @ NotCliche</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/reviews">reviews</a> <a href="http://delicious.com/rubenerd/2010">2010</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.toshibaweb.co.uk/toshiba/libretto/70.htm">Toshiba Libretto, 70 Laptop, desktop, notebook, spares parts and exploded parts diagramme.</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/libretto">libretto</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/teardown">teardown</a> <a href="http://delicious.com/rubenerd/parts">parts</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://communities.vmware.com/thread/244674">VMware Communities: Access Physical Disk from VM on USB OS …</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/vmware">vmware</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/backup">backup</a> <a href="http://delicious.com/rubenerd/hdd">hdd</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.robertpeaslee.com/index.php/converting-a-physical-disk-to-a-virtual-disk-for-free/">Converting a Physical Disk to a VMWare Virtual Disk at Cooking With Technology</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/vmware">vmware</a> <a href="http://delicious.com/rubenerd/backup">backup</a> <a href="http://delicious.com/rubenerd/dd">dd</a> <a href="http://delicious.com/rubenerd/diskimage">diskimage</a> <a href="http://delicious.com/rubenerd/hdd">hdd</a> <a href="http://delicious.com/rubenerd/howto">howto</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.forevergeek.com/2010/03/working_-_a_potential_hit/">Working!! – A Potential Hit</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/reviews">reviews</a> <a href="http://delicious.com/rubenerd/2010">2010</a>)<p></p></dd>
</dl> 
