---
title: 'Links for 2010-07-27' 
date: "2010-07-27T10:01:20+10:00"
year: "2010"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="https://brianandrew.wordpress.com/">Bokutachi no BLOG</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://bigt1987.blogspot.com/2009/01/toradora-14.html">A Product of Wasted Time: ToraDora! 14</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/reviews">reviews</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://secure.wikimedia.org/wikipedia/commons/wiki/File:Disney-infinite-copyright.svg">File:Disney-infinite-copyright.svg &#8211; Wikimedia Commons</a></dt>
<dd class="delicious-extended">Sad but true.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/mafiaa">mafiaa</a> <a href="http://delicious.com/rubenerd/copyright">copyright</a> <a href="http://delicious.com/rubenerd/eff">eff</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a> <a href="http://delicious.com/rubenerd/disney">disney</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://community.animax-asia.com/events/you-can-decide-how">YOU can decide how JasmineAtAnimax looks! &#8211; Animax Asia</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/design">design</a> <a href="http://delicious.com/rubenerd/graphics">graphics</a> <a href="http://delicious.com/rubenerd/art">art</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://kb.mozillazine.org/Chrome_element_names_and_IDs">Chrome element names and IDs &#8211; MozillaZine Knowledge Base</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/css">css</a> <a href="http://delicious.com/rubenerd/documentation">documentation</a> <a href="http://delicious.com/rubenerd/firefox">firefox</a> <a href="http://delicious.com/rubenerd/mozilla">mozilla</a> <a href="http://delicious.com/rubenerd/reference">reference</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.google.com/custom?hl=en&amp;client=google-coop-np">- Google Search</a></dt>
<dd class="delicious-extended">Much cleaner, simpler layout</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/google">google</a> <a href="http://delicious.com/rubenerd/search">search</a> <a href="http://delicious.com/rubenerd/internet">internet</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.auda.org.au/news-archive/bottledomains/">auDA &gt; auDA News Archive &gt; Information about Australian Style Pty Ltd trading as Bottle Domains</a></dt>
<dd class="delicious-extended">&quot;On 26 July 2010, auDA terminated the accreditation of Australian Style Pty Ltd trading as Bottle Domains due to a serious breach of its obligations under the Registrar Agreement &quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/domains">domains</a> <a href="http://delicious.com/rubenerd/registrars">registrars</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.itworld.com/offbeat/105778/vintage-tech-ads-the-15-funniest-videos?page=0%2C3&amp;source=smlynch">Vintage Tech Ads: The 15 Funniest Videos | ITworld</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/retro">retro</a> <a href="http://delicious.com/rubenerd/tech">tech</a> <a href="http://delicious.com/rubenerd/1980s">1980s</a> <a href="http://delicious.com/rubenerd/nostalgia">nostalgia</a> <a href="http://delicious.com/rubenerd/computing">computing</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/media">media</a> <a href="http://delicious.com/rubenerd/advertising">advertising</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.emc.com/collateral/demos/microsites/idc-digital-universe/iview.htm">IDC Go-to-Market Services: The Digital Universe Decade &#8211; Are you Ready?</a></dt>
<dd class="delicious-extended">Alas its Flash, but has some uplifting information</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/infocom">infocom</a> <a href="http://delicious.com/rubenerd/ict">ict</a> <a href="http://delicious.com/rubenerd/it">it</a> <a href="http://delicious.com/rubenerd/data">data</a> <a href="http://delicious.com/rubenerd/information">information</a> <a href="http://delicious.com/rubenerd/internet">internet</a> <a href="http://delicious.com/rubenerd/statistics">statistics</a> <a href="http://delicious.com/rubenerd/storage">storage</a> <a href="http://delicious.com/rubenerd/trends">trends</a> <a href="http://delicious.com/rubenerd/video">video</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://whatsmytwitteraccountworth.com/">What is my Twitter account worth?</a></dt>
<dd class="delicious-extended">Whatever they say mine is, it&#039;s too much!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/twitter">twitter</a> <a href="http://delicious.com/rubenerd/fun">fun</a> <a href="http://delicious.com/rubenerd/internet">internet</a> <a href="http://delicious.com/rubenerd/socialnetworking">socialnetworking</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.umlet.com/changes.htm">UMLet Homepage &#8211; Free UML Tool</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/design">design</a> <a href="http://delicious.com/rubenerd/studies">studies</a> <a href="http://delicious.com/rubenerd/diagrams">diagrams</a> <a href="http://delicious.com/rubenerd/java">java</a> <a href="http://delicious.com/rubenerd/opensource">opensource</a> <a href="http://delicious.com/rubenerd/foss">foss</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/uml">uml</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.phishtank.com/">PhishTank | Join the fight against phishing</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/collaboration">collaboration</a> <a href="http://delicious.com/rubenerd/internet">internet</a> <a href="http://delicious.com/rubenerd/security">security</a> <a href="http://delicious.com/rubenerd/web">web</a> <a href="http://delicious.com/rubenerd/privacy">privacy</a> <a href="http://delicious.com/rubenerd/antispam">antispam</a> <a href="http://delicious.com/rubenerd/spam">spam</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://edition.cnn.com/2010/WORLD/europe/05/09/russia.parade/index.html?eref=edition&amp;utm_source=twitterfeed&amp;utm_medium=twitter&amp;utm_campaign=cnni">Western troops join Russia&#039;s Victory Day parade &#8211; CNN.com</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/history">history</a> <a href="http://delicious.com/rubenerd/russia">russia</a> <a href="http://delicious.com/rubenerd/uk">uk</a> <a href="http://delicious.com/rubenerd/ussr">ussr</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://tckacademy.com/class/blog/expert-what-types-of-work-is-best-suited-for-third-culture-kids/">Expert: “What Type of Work is Best Suited for Third Culture Kids?” | TCK Academy Class</a></dt>
<dd class="delicious-extended">So far I haven&#039;t found it.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/tck">tck</a> <a href="http://delicious.com/rubenerd/thirdculturekids">thirdculturekids</a> <a href="http://delicious.com/rubenerd/business">business</a> <a href="http://delicious.com/rubenerd/bidness">bidness</a> <a href="http://delicious.com/rubenerd/familyguy">familyguy</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://www.eff.org/deeplinks/2010/04/facebook-timeline">Facebook&#039;s Eroding Privacy Policy: A Timeline | Electronic Frontier Foundation</a></dt>
<dd class="delicious-extended">&quot;To help illustrate Facebook&#039;s shift away from privacy, we have highlighted some excerpts from Facebook&#039;s privacy policies over the years. Watch closely as your privacy disappears, one small change at a time!&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/ethics">ethics</a> <a href="http://delicious.com/rubenerd/facebook">facebook</a> <a href="http://delicious.com/rubenerd/history">history</a> <a href="http://delicious.com/rubenerd/internet">internet</a> <a href="http://delicious.com/rubenerd/privacy">privacy</a> <a href="http://delicious.com/rubenerd/socialnetworking">socialnetworking</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://blog.kickasstorrents.com/">KickassTorrents.com Blog</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/bittorrent">bittorrent</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a> <a href="http://delicious.com/rubenerd/media">media</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.economist.com/node/16116939/comments">Comments on Rewarding American bosses: Nay on pay | The Economist</a></dt>
<dd class="delicious-extended">&quot;America’s shareholders find a voice to condemn undeserved compensation&quot;. Sounds good, but not holding my breath</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/business">business</a> <a href="http://delicious.com/rubenerd/bidness">bidness</a> <a href="http://delicious.com/rubenerd/publiccompanies">publiccompanies</a> <a href="http://delicious.com/rubenerd/economics">economics</a> <a href="http://delicious.com/rubenerd/shares">shares</a> <a href="http://delicious.com/rubenerd/ethics">ethics</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.google.com.au/search?q=per_user_tmp%3Dyes&amp;ie=utf-8&amp;oe=utf-8&amp;aq=t&amp;rls=org.mozilla:en-US:unofficial&amp;client=firefox-a">per_user_tmp=yes &#8211; Google Search</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/netbsd">netbsd</a> <a href="http://delicious.com/rubenerd/bsd">bsd</a> <a href="http://delicious.com/rubenerd/kernel">kernel</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.nativeintelligence.com/ni-free/itsec-quips-02.asp">Security Awareness Quotations &#8211; Quips and Quotes</a></dt>
<dd class="delicious-extended">Funny because they&#039;re true</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/security">security</a> <a href="http://delicious.com/rubenerd/privacy">privacy</a> <a href="http://delicious.com/rubenerd/quotes">quotes</a> <a href="http://delicious.com/rubenerd/funny">funny</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://blogs.discovermagazine.com/badastronomy/2010/05/14/nimoy-sunset-pie/">Nimoy. Sunset. Pie. | Bad Astronomy | Discover Magazine</a></dt>
<dd class="delicious-extended">&quot;This is without doubt the single greatest thing on Earth, and the very reason the Internet was invented.&quot; +1!</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/startrek">startrek</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/photoshopping">photoshopping</a> <a href="http://delicious.com/rubenerd/pointless">pointless</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://godisimaginary.com//index.htm">God is Imaginary &#8211; 50 simple proofs</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/freethought">freethought</a> <a href="http://delicious.com/rubenerd/god">god</a> <a href="http://delicious.com/rubenerd/humour">humour</a> <a href="http://delicious.com/rubenerd/religion">religion</a> <a href="http://delicious.com/rubenerd/skepticism">skepticism</a> <a href="http://delicious.com/rubenerd/science">science</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.newscientist.com/article/mg20627606.100-living-in-denial-why-sensible-people-reject-the-truth.html?full=true">Living in denial: Why sensible people reject the truth &#8211; opinion &#8211; 19 May 2010 &#8211; New Scientist</a></dt>
<dd class="delicious-extended">Bummer, it&#039;s behind a paywall now. Oh well.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/creationism">creationism</a> <a href="http://delicious.com/rubenerd/denial">denial</a> <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/religion">religion</a> <a href="http://delicious.com/rubenerd/science">science</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://www.amazon.com/Shogun-James-Clavell/dp/0440178002">Amazon.com: Shogun (9780440178002): James Clavell: Books</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/books">books</a> <a href="http://delicious.com/rubenerd/japan">japan</a> <a href="http://delicious.com/rubenerd/history">history</a> <a href="http://delicious.com/rubenerd/fiction">fiction</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://blogotariat.com/node/196817">Isn’t a vote for the Greens a wasted vote? | Blogotariat</a></dt>
<dd class="delicious-extended">&quot;By giving your first preference to a major party, you’re helping lock in more of the same policies. By giving it to the Greens, you’re helping to give them real competition.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/greens">greens</a> <a href="http://delicious.com/rubenerd/elections">elections</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.groupthink.com.au/2010/06/21/not-for-your-eyes/">Not for your eyes « Groupthink</a></dt>
<dd class="delicious-extended">Already looks funny now with hindsight: &quot;Tonight, the leaders of Australia’s two main political parties will square off in a nationally broadcast debate that will discuss issues likely to dominate political debate in the lead up to this year’s federal election.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/religion">religion</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/elections">elections</a> <a href="http://delicious.com/rubenerd/kevinrudd">kevinrudd</a> <a href="http://delicious.com/rubenerd/tonyabbott">tonyabbott</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://english.aljazeera.net/focus/2010/06/2010614114457900167.html">ICC makes waging war a crime &#8211; Focus &#8211; Al Jazeera English</a></dt>
<dd class="delicious-extended">Won&#039;t change anything, of course.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/wars">wars</a> <a href="http://delicious.com/rubenerd/un">un</a>)<p></p></dd>
</dl> 
