---
title: 'Links for 2010-07-24' 
date: "2010-07-24T10:02:09+10:00"
year: "2010"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://www.jjprojects.com/2010/07/21/i-take-issue-with-the-label-green-heres-why/">I take issue with the label Green, here’s why. | jjprojects: our social web</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/environment">environment</a> <a href="http://delicious.com/rubenerd/blog">blog</a> <a href="http://delicious.com/rubenerd/business">business</a> <a href="http://delicious.com/rubenerd/sustainable">sustainable</a> <a href="http://delicious.com/rubenerd/australia">australia</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://blog.songbirdnest.com/2010/04/02/songbird-singing-a-new-tune/">Songbird Blog » Songbird Singing A New Tune</a></dt>
<dd class="delicious-extended">Goodbye Songbird, I hardly used thee</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/music">music</a> <a href="http://delicious.com/rubenerd/opensource">opensource</a> <a href="http://delicious.com/rubenerd/foss">foss</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/linux">linux</a> <a href="http://delicious.com/rubenerd/windows">windows</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.metrolyrics.com/my-hippy-angel-lyrics-bob-geldof.html">BOB GELDOF &#8211; MY HIPPY ANGEL LYRICS</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/lyrics">lyrics</a> <a href="http://delicious.com/rubenerd/music">music</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://eatliver.com/i.php?n=5999">Want a bite of my sandwich?</a></dt>
<dd class="delicious-extended">I LOVE this! Have no idea why.</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/humour">humour</a> <a href="http://delicious.com/rubenerd/cartoons">cartoons</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.labrigadasosdan.es.tl/_gif-de-la-brigada-.-.htm">SOS Dan Chile! &#8211; -gif de la brigada.</a></dt>
<dd class="delicious-extended">That&#039;s a lot of animations</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/avatars">avatars</a> <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/haruhi">haruhi</a> <a href="http://delicious.com/rubenerd/animation">animation</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.abc.net.au/unleashed/stories/s2959328.htm">ABC The Drum Unleashed &#8211; Greens power supply</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/election">election</a> <a href="http://delicious.com/rubenerd/greens">greens</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/truthiness">truthiness</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.formspring.me/GreensMPs">GreensMPs (GreensMPs) | Formspring</a></dt>
<dd class="delicious-extended">Greens answering questions online. Wonder why none of the other parties are doing this?</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/greens">greens</a> <a href="http://delicious.com/rubenerd/politics">politics</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/elections">elections</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.jimmcgowan.net/Site/StickEmUp.html">StickEmUp</a></dt>
<dd class="delicious-extended">It&#039;d be worth using just for the icon and the terrible pun ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/apple">apple</a> <a href="http://delicious.com/rubenerd/freeware">freeware</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/osx">osx</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/stickies">stickies</a> <a href="http://delicious.com/rubenerd/postitnotes">postitnotes</a> <a href="http://delicious.com/rubenerd/tasks">tasks</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://davebc.com/">1FPS</a></dt>
<dd class="delicious-extended">&quot;Tech, culture, nuance. By David Shar-tea-yay, an Associate Editor at Macworld&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/blog">blog</a> <a href="http://delicious.com/rubenerd/tumblr">tumblr</a> <a href="http://delicious.com/rubenerd/macworld">macworld</a> <a href="http://delicious.com/rubenerd/mac">mac</a> <a href="http://delicious.com/rubenerd/apple">apple</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.channelnewsasia.com/stories/singaporelocalnews/view/1070453/1/.html">Channel NewsAsia &#8211; Holland Tower up for sale by tender &#8211; channelnewsasia.com</a></dt>
<dd class="delicious-extended">Eh, a little out of my price range ;)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/architecture">architecture</a> <a href="http://delicious.com/rubenerd/realestate">realestate</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/singapore">singapore</a> <a href="http://delicious.com/rubenerd/apartments">apartments</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.airliners.net/photo/Air-France/Airbus-A320-211/1744199/L/">Photos: Airbus A320-211 Aircraft Pictures | Airliners.net</a></dt>
<dd class="delicious-extended">I love these &quot;retrojets&quot;. Companies need to make more of them :)</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/airbus">airbus</a> <a href="http://delicious.com/rubenerd/a320">a320</a> <a href="http://delicious.com/rubenerd/aviation">aviation</a> <a href="http://delicious.com/rubenerd/aeroplanes">aeroplanes</a> <a href="http://delicious.com/rubenerd/retrojet">retrojet</a> <a href="http://delicious.com/rubenerd/airliners.net">airliners.net</a> <a href="http://delicious.com/rubenerd/photos">photos</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://mirror-in-bom1.gallery.hd.org/_c/calibration/electrical-discharge-in-multiple-sparks-from-prongs-pins-of-UK-electric-mains-plug-3-prong-fuse-carrier-in-base-AJHD.jpg.html">Calibration: electrical-discharge-in-multiple-sparks-from-prongs-pins-of-UK-electric-mains-pl…</a></dt>
<dd class="delicious-extended">Amazing photos :O</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/photos">photos</a> <a href="http://delicious.com/rubenerd/art">art</a> <a href="http://delicious.com/rubenerd/electricity">electricity</a> <a href="http://delicious.com/rubenerd/energy">energy</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.topnews.in/heavy-tea-drinkers-can-come-across-bone-problems-2266959">Heavy tea drinkers can come across with bone problems | TopNews</a></dt>
<dd class="delicious-extended">&quot;Medical College of Georgia has conducted a new research on tea which shows that Heavy tea drinkers can come across with bone problems.&quot; ~ Is it true, though?</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/tea">tea</a> <a href="http://delicious.com/rubenerd/beverages">beverages</a> <a href="http://delicious.com/rubenerd/drinks">drinks</a> <a href="http://delicious.com/rubenerd/health">health</a>)<p></p></dd>
<dt class="delicious-link"><a href="https://secure.wikimedia.org/wikipedia/en/wiki/File:Broadway-on-the-Mal_Harvey-Norman_sign.jpg">File:Broadway-on-the-Mal Harvey-Norman sign.jpg &#8211; Wikipedia, the free encyclopedia</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/retro">retro</a> <a href="http://delicious.com/rubenerd/architecture">architecture</a> <a href="http://delicious.com/rubenerd/design">design</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/brisbane">brisbane</a> <a href="http://delicious.com/rubenerd/qld">qld</a> <a href="http://delicious.com/rubenerd/shoppingcentre">shoppingcentre</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.projectharuhi.net/?p=3978">The Four Laws of Moe « Project Haruhi</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/moe">moe</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/blogs">blogs</a> <a href="http://delicious.com/rubenerd/keion">keion</a> <a href="http://delicious.com/rubenerd/kon">kon</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.zdnet.com.au/liberals-promised-cuts-to-hit-ict-339304671.htm">Liberals&#039; promised cuts to hit ICT &#8211; Business &#8211; News</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/election">election</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/2010">2010</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/ict">ict</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.zdnet.com.au/coalition-ict-policy-weeks-away-339304626.htm">Coalition ICT policy weeks away &#8211; Business &#8211; News</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/election">election</a> <a href="http://delicious.com/rubenerd/australia">australia</a> <a href="http://delicious.com/rubenerd/2010">2010</a> <a href="http://delicious.com/rubenerd/news">news</a> <a href="http://delicious.com/rubenerd/ict">ict</a>)<p></p></dd>
</dl> 
