---
title: 'Links for 2010-04-21' 
date: "2010-04-21T10:02:01+10:00"
year: "2010"
category: Internet
tag:
- delicious
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://nyjobsource.com/magazines.html">Largest U.S. Magazines by Circulation</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/culture">culture</a> <a href="http://delicious.com/rubenerd/statistics">statistics</a> <a href="http://delicious.com/rubenerd/usa">usa</a> <a href="http://delicious.com/rubenerd/magazines">magazines</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://twitpic.com/1fc1i7">巡音ルカさんと言ってもいいですか？ on Twitpic</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/twitter">twitter</a> <a href="http://delicious.com/rubenerd/twitpic">twitpic</a> <a href="http://delicious.com/rubenerd/art">art</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://danbooru.donmai.us/post/show/650780/cosplay-costume_switch-hirano_aya-izumi_konata-izu">cosplay costume switch hirano aya izumi konata izumi konata (cosplay) kikutake ranmaru lucky star school uniform seiyuu joke suzumiya haruhi suzumiya haruhi (cosplay) suzumiya haruhi no yuuutsu</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/cosplay">cosplay</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/haruhi">haruhi</a> <a href="http://delicious.com/rubenerd/luckystar">luckystar</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://taichinoyume.blogspot.com/2009/08/saimoe-2009-torneo-principal-grupo-f_23.html">Taichi no Yume: Saimoe 2009: Torneo principal: Grupo F &#8211; Día 2</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/moe">moe</a> <a href="http://delicious.com/rubenerd/reviews">reviews</a>)<p></p></dd>
</dl> 
