---
title: 'Links for 2010-02-20' 
date: "2010-02-20T11:02:02+10:00"
year: "2010"
category: Internet
tag:
- links 
---
<p>Links shared from <a href="http://del.icio.us/rubenerd/">del.icio.us</a> today:</p>
<dl class="delicious">
<dt class="delicious-link"><a href="http://img4.sankakustatic.com/wp-content/gallery/misc-images-xxviii/k-on-blu-ray-panchira-12.jpg">k-on-blu-ray-panchira-12.jpg (JPEG Image, 1382&#215;777 pixels) &#8211; Scaled (80%)</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/kon">kon</a> <a href="http://delicious.com/rubenerd/anime">anime</a> <a href="http://delicious.com/rubenerd/cute">cute</a> <a href="http://delicious.com/rubenerd/funny">funny</a> <a href="http://delicious.com/rubenerd/screenshots">screenshots</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.anandtech.com/bench/default.aspx?b=2&amp;c=1">AnandTech Bench (beta): SYSMark 2007 &#8211; Overall</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/cpu">cpu</a> <a href="http://delicious.com/rubenerd/benchmark">benchmark</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/intel">intel</a> <a href="http://delicious.com/rubenerd/amd">amd</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.cpubenchmark.net/cpu_list.php">PassMark Software &#8211; CPU Benchmarks &#8211; List of Benchmarked CPUs</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/cpu">cpu</a> <a href="http://delicious.com/rubenerd/benchmark">benchmark</a> <a href="http://delicious.com/rubenerd/hardware">hardware</a> <a href="http://delicious.com/rubenerd/intel">intel</a> <a href="http://delicious.com/rubenerd/amd">amd</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.oooforum.org/forum/viewtopic.phtml?t=78694">OpenOffice.org Forum :: red triangle in table (cell overflow indicator?)</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/openoffice">openoffice</a> <a href="http://delicious.com/rubenerd/howto">howto</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/forums">forums</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://wiki.services.openoffice.org/wiki/Main_Page">The OpenOffice.org Wiki &#8211; OpenOffice.org Wiki</a></dt>
<dd class="delicious-extended">&quot;This wiki is for all projects associated with OpenOffice.org (OOo). It has a good focus on resources for developers. Also other projects work more and more on the wiki.&quot;</dd>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/openoffice">openoffice</a> <a href="http://delicious.com/rubenerd/software">software</a> <a href="http://delicious.com/rubenerd/reference">reference</a> <a href="http://delicious.com/rubenerd/documentation">documentation</a> <a href="http://delicious.com/rubenerd/wiki">wiki</a>)<p></p></dd>
<dt class="delicious-link"><a href="http://www.hungrygowhere.com/singapore/stammtisch/">Stammtisch &#8211; Singapore Food Reviews, Promotions and Information</a></dt>
<dd class="delicious-tags">(categories: <a href="http://delicious.com/rubenerd/food">food</a> <a href="http://delicious.com/rubenerd/singapore">singapore</a> <a href="http://delicious.com/rubenerd/stammtisch">stammtisch</a> <a href="http://delicious.com/rubenerd/restaurant">restaurant</a>)<p></p></dd>
</dl> 
