---
title: 'Majulah Singapura!' 
date: "2010-08-09T04:29:00+10:00"
year: "2010"
category: Thoughts 
tag: 
- ndp
- photos
- singapore 
---
<p><img src="https://rubenerd.com/files/2010/trees_4874145091_o@1x.jpg" alt="" srcset="https://rubenerd.com/files/2010/trees_4874145091_o@1x.jpg 1x, https://rubenerd.com/files/2010/trees_4874145091_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>In celebration of Singapore&#39;s birthday, I uploaded a couple more photos I took just before we left for the last time in July.</p>
<p><!--oldmore--></p>
<p>The last photo, I liked because of the contrast between old and new, and the first I liked for the colours and the contrast between the tropical looking trees and the buildings behind them. I described them in reverse order because I&#39;m being all unconventional and edgy, you see.</p>
<p>My old teachers in high school would have wanted me to use the term <em>&quot;juxtaposed!&quot;</em> to describe pictures like this, but I resisted!</p>
<p><img src="https://rubenerd.com/files/2010/old-and-new-singapore_4874132469_o@1x.jpg" alt="" srcset="https://rubenerd.com/files/2010/old-and-new-singapore_4874132469_o@1x.jpg 1x, https://rubenerd.com/files/2010/old-and-new-singapore_4874132469_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>Happy birthday Singapore, have a kopi-o and kaya toast on me.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.sgflagraffles.jpg" alt="" style="height:175px; width:175px;" /></p>
 
