---
title: 'On @MarianCall and Lady Gaga in Adelaide' 
date: "2010-04-03T06:32:36+10:00"
year: "2010"
category: Media
tag:
- easter
- holidays
- i-heart-marian-call
- marian-call
- music 
---
<p><img src="https://rubenerd.com/files/uploads/photo.mariancall.274.jpg" alt="Marian Call" style="height:274px; width:212px;" /><img src="https://rubenerd.com/files/uploads/photo.ladygaga.274.jpg" alt="Lady Gaga" style="height:274px; width:212px;" /></p>
<p>My sister and her friends are off to see Lady Gaga perform in Adelaide tonight. I&#39;ll be celebrating Easter at home with a cup of <strong>really good</strong> coffee and home made satay listening to a recording of <a href="http://mariancall.com/">Marian Call&#39;s</a> latest Whole Wheat Radio <a href="http://wholewheatradio.org/wiki/index.php/Audio_magazines">house concert</a>. I missed it, so I&#39;m going to pretend it&#39;s live. It&#39;ll still be better!</p>
<p>I&#39;m in love with Marian Call and her music. In a platonic sense of course. Yeah, that must be it. Wait, no! Wait, yes! Wait… have a good long weekend everyone :).</p>
<p><a href='http://wholewheatradio.org/wiki/index.php/Artists:Marian_Call'>(Original link here, but image no longer exists)</a>.</p>
 
