---
title: 'It’s my Jack Bauer, 42 backwards birthday' 
date: "2010-03-27T03:01:43+10:00"
year: "2010"
category: Thoughts 
tag: 
- birthday
- personal
- twenty-four 
---
<p><img src="http://rubenschade.com/me.jpg" alt="Me" style="height:281px; width:420px;" /></p>
<p>It&#39;s official folks, I&#39;ve been on this planet for 24 years, at least according to this timezone. They really need to set up a series of mirrors so the world has daylight at the same time.</p>
<h3>I like rambling lists</h3>
<ul>
<li>It’s my <strong>Jack Bauer birthday</strong>, which means I’ll be living it in real time, with six different views available to me and a digital clock superimposed over my vision. I’ll also hear beeps every second which will no doubt drive me insane.<p></p></li>
<li>Halfway through the year I’ll get to meet <strong>Duck Dodgers</strong>.<p></p></li>
<li>Brace yourself, <strong>24 is 42 backwards</strong>. This doesn’t mean Deep Thought will tell me the answer to life, the universe and everything, but I’m hoping I’ll get a glimpse. I’m no closer to discovering it by myself.<p></p></li>
<li>The <strong>27th of March</strong> is also the birthday of The Overnightscape and is Earth Day. I’m seemingly in good company, though I won’t be able to see it with all the lights turned off :P<p></p></li>
<li>The <strong>24th element is Zinc</strong>. Zinc is pretty and shiny, and Firefly taught me Shiny means awesome. I’m hoping that means this year will be too; I know it won’t be, but it could surprise me :)<p></p></li>
<li>Apparently today <a href="http://twitter.com/cookster17/status/11061808192">Mitsubishi is recording</a> a television commercial in my suburb in Adelaide which I should run out to be in the background of with a giant sign advocating steep road tax hikes and new public transport lines paid for by said hikes!<p></p></li>
<li>It’s been <strong>2 years, 3 months, 3 days, 21 hours and 14 minutes</strong> since I’ve hugged my mum, <strong>3 years</strong> since she wished me Happy Birthday and <strong>2 minutes</strong> since I last thanked her.<p></p></li>
<li>There are <strong>24 hours in a day</strong>… almost. They really need to fix the speed of the Earth’s rotation, these leap years and crap are just irritating, especially for computer programmers. That means there’s been an hour each day for each year of my life, that’s kinda trippy.<p></p></li>
</ul>
<h3>Any questions?</h3>
<p>For now all I hope for is my 24th year will be better than my 23rd. Without sounding too <em>emo</em>, and while acknowledging plenty of other people have far worse problems than me, I feel as though my life has been on a sharp downward curve for many years now. I&#39;ve become even more introverted and shy than I used to be (if that were possible), the studies I do in my own spare time thrill me more than any of the stuff I&#39;m learning at university, but perhaps the most crushing is the constant worrying. I&#39;m always worried, but the problems I&#39;m facing aren&#39;t any more or less than what I&#39;ve had before. It&#39;s draining all my energy.</p>
<p>Anyway on that upbeat note, happy birthday to me and good night!!! Well technically, good morning seeing as it&#39;s 00:18. What am I, a talking clock?</p>
 
