---
title: 'Netscape icon swap nostalgia' 
date: "2010-05-08T07:54:30+10:00"
year: "2010"
category: Software
tag:
- browsers
- firefox
- graphics
- icons
- infocomm
- mozilla
- netscape
- netscape-navigator
- nostalgia
- pointless
- retrocomputing 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.netcapeicon.png" alt="" style="height:112px; width:420px; background:transparent; padding:0em;" /></p>
<p>I&#39;ve decided to replace all the icons for my Mozilla browser installs with the icon from Netscape Navigator in a fit of nostalgia. Technically, it&#39;s not <strong>completely</strong> a falsehood, kinda.</p>
<p><!--oldmore--></p>
<p>If you want to as well:</p>
<ol>
<li>Download this icon: <a style="font-weight:bold" href="//rubenerd.com/files/uploads/firefox.icns">firefox.icns</a></li>
<li>Right click your browser and Show Package Contents</li>
<li>Go to ./Contents/Resources</li>
<li>Replace firefox.icon with the downloaded icon</li>
</ol>
<p>You might need to remove your browser from the dock and add it again for the changes to show.</p>
<p>First browser I ever used was Netscape Navigator Gold two point something, in primary school year five. Lots of numbers in that sentence.</p>
 
