---
title: 'Researching Nikon micro lenses' 
date: "2010-02-09T10:59:14+10:00"
year: "2010"
category: Hardware 
tag:
- infocomm
- lenses
- macro
- micro
- nikkor
- nikon
- photography
- photos 
---
<p><img src="https://rubenerd.com/files/2010/kallen-stadtfeld-from-code-geass_3578234849_o@1x.jpg" alt="Kallen Stadtfeld from Code Geass" srcset="https://rubenerd.com/files/2010/kallen-stadtfeld-from-code-geass_3578234849_o@1x.jpg 1x, https://rubenerd.com/files/2010/kallen-stadtfeld-from-code-geass_3578234849_o@2x.jpg 2x" style="width:500px; height:334px;" /></p>
<p>I&#39;ve been in the market for an affordable macro (<em>micro</em> in Nikkor parlance) lens since I first got my beloved Nikon D60 back in 2008. I might have found one, but I need to do more research… of course!</p>
<p><!--oldmore--></p>
<h3>System requirements</h3>
<p>Any Intel Mac with Leopard or FreeBSD. Oh, you mean the <em>lens</em>! Don&#39;t mind me, some people can do really good nonsensical humour, and I am not one of these people. I&#39;ve just always wanted to use the heading &quot;System requirements&quot; for something that has nothing to do with software.</p>
<h3>System requirements</h3>
<p>Yeah, that title! Firstly, I want a lens for taking photos of small electronic components like retro Zilog Z80s I pick up at Sim Lim Tower for peanuts, and cute anime figures like Asahina Mikuru or Kallen Stadtfeld; in other words small detailed objects. So far my AF NIKKOR 50mm f/1.8 has done a great job, but lets just say I tried my dad&#39;s 105mm macro and was blown away at how much easier it is to use for these tasks. I mean it, it was so much fun and so easy!</p>
<p>As for specifics, I&#39;d prefer a prime lens because it&#39;d be cheaper and sharper and cheaper and cheaper. Did I mention it&#39;d be cheaper? Having AF-S would allow it to autofocus on my Nikon D60, but remembering back to my Finepix S9600 bridge camera I preferred manually focusing on macro shots anyway, so this would be another feature I&#39;d be happy to give up for affordability.</p>
<p>The final consideration is the focal length. As I understand it, having a 105mm lens would give me a bit more breathing room between the camera and the subject, but because I&#39;ll be using the macro lens with a DX frame camera I can get away with a smaller one, which would also be cheaper.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.nikkor.60mm.jpg" alt="AF NIKKOR Micro 60mm f/2.8" style="height:228px; width:320px; display:inline; padding:0em; background:transparent;" /></p>
<h3>The AF NIKKOR Micro 60mm f/2.8D</h3>
<p>Singapore is full of great camera shops, and I&#39;ve been given a really good price on an <strong>AF NIKKOR Micro 60mm f/2.8D</strong> which if you <a href="http://www.amazon.com/Nikon-60mm-Micro-Nikkor-Digital-Cameras/dp/B00005LE77/">believe the reviewers on Amazon.com</a> is an amazingly sharp lens. Given the AF-S version is now available perhaps that&#39;s one reason they&#39;re selling cheaper.</p>
<p>I&#39;ve seen <a href="http://www.sigmaphoto.com/lenses/lenses_all_details.asp?id=3317&amp;navigator=5">a few Sigmas</a> floating around too. Perhaps it&#39;s time to do some homework.</p>
 
