---
title: 'An Irish sandwich refuge in Singapore' 
date: "2010-06-16T11:54:51+10:00"
year: "2010"
category: Thoughts 
tag: 
- food
- jelita
- photos
- pointless
- singapore
- ulu-pandan 
---
<p><img src="https://rubenerd.com/files/uploads/photo.mine.20100616.obrien.jpg" alt="" style="height:375px; width:500px;" /></p>
<p>Singapore&#39;s getting quite a lashing this morning, so my dad and I have camped out at the O&#39;Brien&#39;s sandwich bar at <a href="https://www.openstreetmap.org/way/364452159">Jelita</a>. Back when my school had its campus at Ulu Pandan, I&#39;d go to Jelita all the time for Pizza Hut. Now it&#39;s an Irish sandwich shop, go figure :)</p>
<p><strong>UPDATE:</strong> Typical, I hit the Draft button instead of Publish, again! The timestamp for the photo was around 10am today.</p>
 
