---
title: 'SA Votes 2010: Octopus Battle by Edible_Hat' 
date: "2010-03-21T09:12:18+10:00"
year: "2010"
category: Thoughts 
tag: 
- adelaide
- ediblehat
- iron-chef
- politics
- south-australia 
---
<p><img src="https://rubenerd.com/files/uploads/edible_hat.octopusbattle_large.jpg" alt="Edible_Hat's SA Votes 2010: Octopus Battle image" style="height:299px; width:232px;" /></p>
<p>I bow to the awesomeness of <a title="SA Votes 2010: Octopus Battle by Edible_Hat" href="http://ediblehat.wordpress.com/2010/03/21/sa-votes-2010-octopus-battle/">Edible_Hat</a>!</p>
<p>Contained within my [uncharacteristically] serious post about the South Aussie elections yesterday I hinted that I&#39;d be discussing #octopusbattle today. Edible_hat beat me to it by creating an <strong>epic</strong> work of art and accompanying notes, so in the spirit of not reinventing the wheel I will simply <a title="SA Votes 2010: Octopus Battle by Edible_Hat" href="http://ediblehat.wordpress.com/2010/03/21/sa-votes-2010-octopus-battle/">refer you to his post</a> on the matter!</p>
<p>Here&#39;s a sneak peak:</p>
<blockquote><p>[…] and as Chairman Kaga was laughing a gigantic octopus launched itself at the politicians, sending them into a mad panic. Mike Rann was able to dodge the kerfuffle, leading many to believe he was worthy of a second term, but only just. I am Edible_Hat, hear me roar! Do Octopuses roar? I know raw means it’s sushi. Monnie was supposed to make me cupcakes today, but she gave them all to her roommates and Ruben instead, grrrr. At least I can make better scarfs than Ruben, mua har har!</p></blockquote>
 
