---
title: 'The saga of finding old Windows 98 discs!' 
date: "2010-06-30T01:39:50+10:00"
year: "2010"
category: Software
tag:
- abandonware
- infocomm
- microsoft
- nostalgia
- recycling
- retrocomputing
- windows
- windows-98
- y2k 
---
<p><img src="https://rubenerd.com/files/uploads/photo.mine.win98discs.jpg" alt="" style="height:347px; width:500px;" /></p>
<p>Here&#39;s a little narrative story thing that actually happened, as opposed to all those other narrative story things that kinda happened, but didn&#39;t. Can&#39;t think of any off the top of my head, but they probably have to do with grilled cheese sandwiches, somehow.</p>
<p><!--oldmore--></p>
<h3>&quot;History&quot; is six letters off being &quot;hysterical&quot;</h3>
<p>So having been a computer nerd since before I started school or could talk, I&#39;ve had my fair share of electronic gadgets and whatnot. Couple that with the fact I&#39;m a bit of a <a href="http://en.wikipedia.org/wiki/Compulsive_hoarding">hoarder</a>, and I&#39;ve ended up with more electronic crap than a dump truck outside a Best Denki. Think store rooms. Think full cupboards. Some of my friends had lads mags in boxes under their bed growing up, I had boxes of disks and ISA or PCI cards. Oh yeah and Magic and Pokémon cards. Conclude from that what you will.</p>
<p>With our latest move the cold reality set in that we can&#39;t afford to maintain all the stuff we have, so my dad, sister and I set out on an ambitions plan to get rid of most of it. As a result, I&#39;ve been making some painful (for me!) decisions about some computer crap, and finally deciding to get rid of anything I don&#39;t need. Well okay, most of it that I don&#39;t need ;).</p>
<p>Think bags of parallel port printer cables. Think dead SCSI flatbed scanners. Think 14.1 inch CRTs that never used to sound that impressive to me because as a little kid I thought an inch was the same as a centimetre. Was I in for several rude shocks.</p>
<h3>Recycling old computer crap</h3>
<p>Anyway recycling is one of the few things Singapore really needs some serious work developing, but fortunately we were able to find a computer and electronics recycling centre in a warehouse district not too far out from the city. Well okay by world standards <strong>nothing</strong> is too far from the city because any further than a dozen or so kilometres from where you are in any direction is either ocean or Malaysia. You get my point.</p>
<p>While leaving a practical treasure trove of useless crap at said computer recycling depo this evening, the lift opened to a scene reminiscent of a treasure hunt. From the lift door leading to the warehouse was a line of discarded Windows 98 CD-ROMs glinting in the artificial light of several high intensity halogen lamp things. I&#39;m not talking five or ten, I&#39;m talking at least a hundred or so of these genuine discs strewn all over the floor in a rough line. Someone must have dumped a heck of a lot of old Windows machines from 1998!</p>
<p>Most of the discs or their cases were cracked or smashed to bits, but after we left our stuff my dad and I found two discs that were still in surprisingly good condition on the road outside, even if their cases were a bit worse for wear. They were a genuine copy of <strong>Windows 98</strong>, and the <strong>Windows 98 Year 2000 Update</strong>!</p>
<p>Don&#39;t get me wrong, Windows 98 was a godawful operating system (it came with DOS like Windows 95 so yes, it may as well have been an OS) but I used it for many years and retro is retro, right!?</p>
 
