---
title: 'Only enabling 16 bit PCMCIA in a FreeBSD kernel?' 
date: "2010-03-17T03:40:32+10:00"
year: "2010"
category: Hardware 
tag:
- bsd
- freebsd
- freebsd-kernel
- infocomm
- libretto
- libretto-70ct
- pc-cards
- pcmcia
- retrocomputing 
---
<p><img src="https://rubenerd.com/files/uploads/photo.xircom.jpg" alt="A retro Xircom Ethernet PCMCIA card" style="padding:0em; width:320px; height:240px;" /></p>
<p>As you’re probably aware by now, my current pet project is installing <a href="http://www.freebsd.org/">FreeBSD</a> on my new (a relative term!) <a href="//rubenerd.com/tag/libretto/">Libretto 70CT</a>, and on today’s agenda is building a custom kernel with the right PCMCIA card support.</p>
<p><!--oldmore--></p>
<p>This is the part I’m concerning myself with:</p>
<pre>
# SURFIN BIRD SUPPORT
option WORD=BIRD
device BirdBirdBirdTheBirdIsTheWord
</pre>
<p>Well that’s clearly the wrong section. I’ll try again.</p>
<pre>
# PCCARD (PCMCIA) support
# PCMCIA and cardbus bridge support
device    cbb         # cardbus (yenta) bridge
device    pccard      # PC Card (16-bit) bus
device    cardbus     # CardBus (32-bit) bus
</pre>
<p>The Libretto only has 16bit PCMCIA card support which means the Cardbus line can be safely commented out, but I’m not so sure about the bridge. This machine is so… <em>retro</em> that I’d like to slash and burn <strong>all</strong> the device support I don’t need (USB, FireWire, SCSI, RAID, TLA…), but on the other hand I’d hate to wait for this thing to compile for an age and then no be able to use PC cards.</p>
<p>One of the great things about FreeBSD is how trivially easy it is to build and install a custom kernel (and world!) to remove unessisary hardware support and make the machine boot faster, run faster, use less memory and potentially be more secure. Or perhaps it just seems really easy after doing it on certain other free operating systems ;).</p>
<p><img src="https://rubenerd.com/files/uploads/bsd_daemon.jpg" style="width:150px; height:150px; padding:0em; display:inline; float:right;" alt="Beastie!" /></p>
<h3>The hardware itself</h3>
<p>The other thing to think about is what kind of networking card I can actually use with this machine! I have plenty of 16bit 10/100 PCMCIA cards back home in Singapore that I inherited from my dad’s numerous dead computers which all work fine (maybe), but I’m assuming I won’t be able to get a 16bit non-Cardbus Gigabit Ethernet card, or a 16-bit 802.11g wireless card that supports WPA encryption. Just a hunch.</p>
<p>One thing that piqued my interest though was this line from the kernel confiuguration file:</p>
<pre>
# SURFIN BIRD SUPPORT
option WORD=BIRD
device BirdBirdBirdTheBirdIsTheWord
</pre>
<p>Hey, HEY, stop messing with me!</p>
<pre>
# Parallel port
device    ppc
[…]
device    plip # TCP/IP over parallel
</pre>
<p>I can only imagine that’d be insanely slow, but it sounds so cool I might need to look into it. The Libretto has an adorable little docking cradle which has a parallel port, if I could use that and leave the only PCMCIA slot for something else, that’d be pretty schweet. And in retrospect it wouldn’t need to be that fast anyway for the things I’ll be using this machine for. I don’t even intend to SSH into it!</p>
 
