---
title: 'What is this Australia I do not even' 
date: "2010-12-29T04:16:05+10:00"
year: "2010"
category: Thoughts 
tag: 
- australia
- nonsense
- photoshopped
- pointless
- random 
---
<p><img src="https://rubenerd.com/files/uploads/photo.freakingnews.36694.jpg" alt="Uluru with the Sydney Opera House perched on top, and an Outbake Stakouse blimp" style="height:342px; width:500px;" /></p>
<p>There are at least five things wrong with that picture. The most glaring thing is… there&#39;s an Outback Steakhouse in <a href="https://www.openstreetmap.org/way/747734200">Millenia Walk</a> [sic] in Singapore, and it has American flags outside. Then again that could be a mistake on the restaurant&#39;s part, in which case there&#39;s nothing wrong with this picture whatsoever. </p>
<p>Photo from <a href="http://www.freakingnews.com/Uluru-Sydney-Opera-House-Pics-43748.asp">FreakingNews.com</a>. Another photo and site for which I have no recollection on how I found it. Like a boss, most likely.</p>
 
