---
title: 'Palm for sale, and some drawn out nostalgia' 
date: "2010-04-12T04:37:53+10:00"
year: "2010"
category: Hardware 
tag:
- android
- far-too-long
- infocomm
- nostalgia
- palm
- palm-iiix
- palm-pre
- palm-tungsten-w
- webos 
---
<p><img src="https://rubenerd.com/files/uploads/logo.palm.90.png" alt="Palm logo." style="height:140px; width:140px; padding:0em; background:transparent;" /></p>
<p>I think it&#39;s safe to say we all <a href="http://www.bloomberg.com/apps/news?pid=20601087&amp;sid=aNDFY8m7vaSg&amp;pos=5">saw it coming</a>. Well, either this or bankruptcy. It makes me sad.</p>
<p><!--oldmore--></p>
<blockquote><p>April 12 (Bloomberg) &#8212; Palm Inc., creator of the Pre smartphone, put itself up for sale and is seeking bids for the company as early as this week, according to three people familiar with the situation. </p></blockquote>
<h3>Pointless nostalgia</h3>
<p><img src="https://rubenerd.com/files/uploads/photo.palmiiix.jpg" alt="The Palm IIIx" style="float:right; height:300px; width:210px; display:inline; background:transparent; padding:0em; margin:0 0 5px 10px;" />The first PDA I ever had was a Palm IIIx. I was in primary school at the time and I really didn&#39;t need one, but I was already obsessed with computers and my dad figured it was cheaper to get me one of those for Christmas than a fully fledged laptop. Perhaps it was because we were growing up in tech-obsessed Singapore, but it was common for lots of kids my age to have such business oriented gadgets! I was the only guy in my circle with a Palm though, everyone else had those Microsoft Palmtop thingys.</p>
<p>The Palm IIIx had 4MiB of memory for data and applications, which was double that of the cheaper Palm III. Amazing, right?! It used volatile memory, meaning if you didn&#39;t replace the AAA batteries within a few minutes of them losing a charge, your data was wiped. It sounds bad, but the HotSync software made it so easy to backup and restore that I only lost stuff once. It had a 2-bit black and white display (no, not even monochrome) that was incredibly sharp, and it used the same new inverted backlight as the sleeker Palm V. And the Graffiti writing system was awesome.</p>
<p>I loved that little PDA, I loaded it up with all sorts of little applications and had it as a backup entertainment device right up until I started university a few years ago and a roommate of mine &quot;borrowed&quot; it then moved out. I never saw it again :(.</p>
<h3>The Tungsten W</h3>
<p><img src="https://rubenerd.com/files/uploads/photo.palmtw.jpg" alt="The Palm Tungsten W" style="float:right; height:300px; width:175px; display:inline; background:transparent; padding:0em; margin:0 0 5px 10px;" />As the Palm IIIx was my first PDA, the Palm Tungsten W was my first smartphone. I was in late high school and the idea of having a full colour PDA that doubled as a phone sent tingles of excitement down my nerdy spine. For some reason the design department thought it was a good idea to use the aging DragonBall processor and require the use of a hands-free cable to place calls, but other than those it was a fantastic device.</p>
<p>Shortly after I got the Tungsten W, Palm bought Handspring and replaced their Tungsten smartphone line with Handspring&#39;s Treo. In many ways the Tungsten was the superior device, it was slimmer, had a cleaner and more elegant design, the QWERTY keyboard was much easier to use, it had a much smaller antenna with the same phone call quality and reception and the screen resolution was 320&#215;320 instead of the crappy 160&#215;160 the Treo had.</p>
<h3>The end of Palm’s fortunes?</h3>
<p>I started losing interest in Palm shortly after they bought Handspring. I have no hard numbers to back this up from a business standpoint, but personally, all their decisions from around that time didn&#39;t seem to make much sense. In no particular order:</p>
<ul>
<li>they divested themselves of their software division</li>
<li>re-branded themselves with the clumsy PalmOne trademark</li>
<li>changed their names back again</li>
<li>started developing the Folio concept, then canceled it</li>
<li>started selling Windows Mobile versions of the Treo…</li>
</ul>
<p><img src="https://rubenerd.com/files/uploads/photo.palmpre.jpg" alt="The Palm IIIx" style="float:right; height:300px; width:177px; display:inline; background:transparent; padding:0em; margin:0 0 5px 10px;" />When Palm announced their intentions with WebOS, I was excited about Palm again. When the Palm Pre came out and everyone said it was slow as molasses, my temporary re-interest (is that a word?) waned and I got an iPhone. Then they came out with the Pixi which was even slower than the Pre.</p>
<p>As I&#39;ve enumerated many times on Twitter, I looked forward to Palm releasing a new smartphone with much faster hardware that could run WebOS well, because the OS had such potential. I <strong>wanted</strong> to love Palm and to have another one of their devices, I really, really did. Instead it seems they have no interest in doing that, but rather selling themselves off to the highest bidder.</p>
<p>I&#39;m not an MBA nor do I know all the reasons behind their decisions, but it seemed Palm in the 2000s was run by people who simply had no idea what they were doing, much like Microsoft has been sinking since Ballmer has been CEO. It was almost as though Palm&#39;s board went out of their way to make sure it failed, because nobody could make that many bad decisions. Well, other than Microsoft under Ballmer.</p>
<h3>The future</h3>
<p>Pundits say Palm is worthless and nobody in their right mind would want them. While its executives have successfully gutted the company and reduced it to a shell of its former self, I suppose their warchest of patents would still be worth something.</p>
<p>What I&#39;d love to see is WebOS released as either open source, or available for licencing if Palm gets sold. If I could get a Android phone, wipe the firmware off of it and put WebOS on instead, I&#39;d be a really happy camper. It won&#39;t happen though, for political and technical reasons.</p>
<p>Goodbye Palm, I grew up using your devices and it was nice knowing you.</p>
 
