---
title: 'The Paris Métro IKEA advertising stunt' 
date: "2010-03-17T10:27:40+10:00"
year: "2010"
category: Travel
tag:
- advertising
- eurotrip
- france
- germany
- ireland
- mrt
- munich-u-bahn
- paris
- public-transport
- railfan
- singapore
- trains 
location: Singapore
---
<p><img src="https://rubenerd.com/files/uploads/photo.me.parismetro.jpg" alt="One of my photos of the Paris Métro" style="height:288px; width:500px;" /></p>
<p>Along with <a href="http://search.twitter.com/search?q=ikea+subway+paris">all the talk</a> about <a href="http://www.urlesque.com/2010/03/15/ikea-subways/">IKEA decking out</a> Paris Métro stations with couches and lamps as an advertising stunt, there have been a ton of comments that pretty much follow this formula: <em>&quot;That&#39;d never work in New York, the subways here aren&#39;t clean like the ones in Europe!&quot;</em></p>
<p>As someone who recently zipped around in Paris on the Métro, the word clean wouldn&#39;t be one of the words I&#39;d use to describe it! Intensely interesting, reliable, fast, affordable, comprehensive, yes. Clean? Eh, maybe not ;). The photo I took above shows one of the few good ones, but often there&#39;s litter everywhere and… certain odors which we won&#39;t discuss here.</p>
<h3>As a matter of disclosure…</h3>
<p><img src="https://rubenerd.com/files/2010/punggol-mrt-station_130711963_o@1x.jpg" alt="The Munich U-Bahn" srcset="https://rubenerd.com/files/2010/punggol-mrt-station_130711963_o@1x.jpg 1x, https://rubenerd.com/files/2010/punggol-mrt-station_130711963_o@2x.jpg 2x" style="width:250px; height:187px;" /></p>
<ul>
<li>Everything&#39;s relative, expensive private hospitals in Australia seems dirty after riding the <a href="https://www.flickr.com/photos/rubenerd/tags/mrt/">Singapore MRT</a>.<p></p></li>
<li>I&#39;m a self confessed IKEA nut because it&#39;s like Lego for adults, which <a href="http://www.scripting.com/stories/2010/03/14/theLessonOfIkea.html">allegedly</a> means I&#39;m a loser with too much free time. Yeah, thanks <a href="//rubenerd.com/beware-davewiner-wrath/">again</a> Dave :P<p></p></li>
<li>On our latest Eurotrip we also spent time in Munich before heading off to Paris and the Munich U-Bahn is beautiful. I&#39;ll upload my own photos eventually, for now <a href="http://en.wikipedia.org/wiki/Munich_U-Bahn">check them out</a> on Wikipedia and see for yourself :O<p></p></li>
<li>And because it&#39;s St Patty&#39;s Day, don&#39;t mock Dublin&#39;s <a href="http://en.wikipedia.org/wiki/Luas">Luas</a> system for its silly name (that probably means something which means I just made myself look like an arse), it&#39;s pretty cool too!<p></p></li>
<li>Oh yeah, and my father&#39;s side of the family is also German, which means I&#39;m biased ;). I kid, Paris is amazing, but Munich is a nicer place. I think I&#39;ll stop now before I get myself intro trouble!<p></p></li>
</ul>
 
