---
title: 'Phantom package manager messages' 
date: "2010-07-11T01:29:14+10:00"
year: "2010"
category: Software
tag:
- fedora
- infocomm
- linux
- package-managers
- rpm
- yum
---
<p><img src="https://rubenerd.com/files/uploads/screenie.error.fedora.yum.png" alt="Screenshot showing 1 message from the  package manager... but it has no messages." style="height:290px; width:500px;" /></p>
<p>I&#39;m still getting used to using YUM and RPMs again after being a FreeBSD ports guy for so long. YUM certainly makes it much simpler and faster to update packages, but there are still a few little <strong><em>gotchas!</em></strong> I&#39;m getting used to ;).</p>
 
