---
title: '[Photos] New apartment building out my window!' 
date: "2010-02-13T10:47:33+10:00"
year: "2010"
category: Media
tag:
- 18mm
- buildings
- nikon-d60
- photography
- photos
- singapore 
---
<p><img src="https://rubenerd.com/files/2010/brilliant-white-new-apartment-block_4352627047_o@1x.jpg" alt="Brilliant white new apartment block" srcset="https://rubenerd.com/files/2010/brilliant-white-new-apartment-block_4352627047_o@1x.jpg 1x, https://rubenerd.com/files/2010/brilliant-white-new-apartment-block_4352627047_o@2x.jpg 2x" style="width:500px; height:746px;" /></p>
<p>Speaking of <a href="//rubenerd.com/photos-singapore-deserted/">photos in Singapore</a>, here&#39;s one I also took this afternoon of the brand spanking new apartment building outside me bedroom window here. When I was in Singapore in January last year it wasn&#39;t there, now just over a year later it&#39;s finished! It took them longer for the people next door to us in Adelaide to build a semi detatched one story house!</p>
<p>The colours seem a bit over-saturated, but I did very little post production other than converting from RAW. And no, I didn&#39;t build the building.</p>
 
