---
title: '[Photos] CNY Singapore feels so deserted!' 
date: "2010-02-13T08:42:32+10:00"
year: "2010"
category: Media
tag:
- chinese-new-year
- photos
- singapore
- sky
- trees 
---
<p><img src="https://rubenerd.com/files/2010/chinese-new-year-on-orchard-rd_4353372480_o@1x.jpg" alt="Chinese New Year on Orchard Rd" srcset="https://rubenerd.com/files/2010/chinese-new-year-on-orchard-rd_4353372480_o@1x.jpg 1x, https://rubenerd.com/files/2010/chinese-new-year-on-orchard-rd_4353372480_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>

<p>For those of you who&#39;ve never been to Singapore, Chinese New Year weekend is similar to Christmas in that everywhere is almost completely deserted! It was such a stunningly bright and gorgeous day I replaced my workhorse 35mm with the much slower but wider 18-55mm VR to take some photos around the neighbourhood :)</p>

<p><img src="https://rubenerd.com/files/2010/chinese-new-year-on-orchard-road_4353395640_o@1x.jpg" alt="Chinese New Year on Orchard Road" srcset="https://rubenerd.com/files/2010/chinese-new-year-on-orchard-road_4353395640_o@1x.jpg 1x, https://rubenerd.com/files/2010/chinese-new-year-on-orchard-road_4353395640_o@2x.jpg 2x" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2010/4353373380_1ea741dbdb_o@1x.jpg" srcset="https://rubenerd.com/files/2010/4353373380_1ea741dbdb_o@1x.jpg 1x, https://rubenerd.com/files/2010/4353373380_1ea741dbdb_o@2x.jpg 2x" alt="A Ferrari on Orchard Road" style="width:250px; height:167px;" /></p>

<p>The photos of the roads around the Orchard-Tanglin area don&#39;t seem terribly interesting until you realise this was taken on an early Saturday afternoon. It&#39;s usually one of the busiest roads in the country and it&#39;s almost deserted! And check out the footpaths!</p>

<p><img src="https://rubenerd.com/files/2010/trees-in-our-neighbourhood_4352628155_o@1x.jpg" alt="Trees in our neighbourhood" srcset="https://rubenerd.com/files/2010/trees-in-our-neighbourhood_4352628155_o@1x.jpg 1x, https://rubenerd.com/files/2010/trees-in-our-neighbourhood_4352628155_o@2x.jpg 2x" style="width:250px; height:167px;" /><img src="https://rubenerd.com/files/2010/4352629407_6aee3c8e6a_o@1x.jpg" srcset="https://rubenerd.com/files/2010/4352629407_6aee3c8e6a_o@1x.jpg 1x, https://rubenerd.com/files/2010/4352629407_6aee3c8e6a_o@2x.jpg 2x" alt="" style="width:250px; height:167px;" /></p>

<p>Coming back from Starbucks where my dad and I chilled for an hour or so to take a break from scanning, digitising and collating his work documents I couldn&#39;t get over how beautiful the sky and trees looked, so I took a few more shots. They&#39;re not the sharpest photos, but set on 18mm the kit lens really captured the light and shadows well I thought. My 35mm would have been much sharper with less effort, but you would have obviously seen less.</p>

<p>Am I a professional photographer? No! Do I obey the Rule of Thirds? Only when I could be bothered. Do I have fun? Yes! ^_^</p>

<p>The <a href="https://www.flickr.com/photos/rubenerd/sets/72157623425125234/">full Flickr gallery is here</a> if you want to see a few more terrible shots.</p>

<p><img src="https://rubenerd.com/files/2010/our-local-starbucks_4353371584_o@1x.jpg" alt="Our local Starbucks" srcset="https://rubenerd.com/files/2010/our-local-starbucks_4353371584_o@1x.jpg 1x, https://rubenerd.com/files/2010/our-local-starbucks_4353371584_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
 
