---
title: 'Excited, verbose review of Joe’s Own Editor' 
date: "2010-04-30T01:58:28+10:00"
year: "2010"
category: Software
tag:
- bsd
- editors
- far-too-long
- freebsd
- infocomm
- joe
- joes-own-editor
- linux
- netbsd 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.joe.png" alt="Joe's Own Editor editing this very blog post!" style="height:120px; width:500px;" /></p>
<p>I’ve been using Unix-like operating systems for years and, much like programming languages, I’ve never been able to settle on one editor. Today I may have finally found the perfect one!</p>
<p><strong>Joe</strong> is one of them recursive acronyms like GNU and stands for <a title="Joe's Own Editor on SourceForge" href="http://joe-editor.sourceforge.net/">Joe’s Own Editor</a>, so named for its creator, Joseph H. Allen. I had a crush on a girl in  high school who’s last name was Allen, but I don’t think he’s any relation. It even has a page on <a href="http://en.wikipedia.org/wiki/Joe%27s_Own_Editor">The Wikipedias</a>.</p>
<p>From the introduction to Joe’s well written and comprehensive manpage (you know, those things the GNU people used to write and the *BSD folks still do):</p>
<blockquote><p>JOE is a powerful ASCII-text screen editor.  It has a &#8220;mode-less&#8221; user interface which is similar to many user-friendly PC editors. Users of Micro-Pro’s WordStar or Borland’s &#8220;Turbo&#8221; languages will feel at home. </p></blockquote>
<h3>Editor nostalgia!</h3>
<p>While I’ve got used to <a title="Vim editor" href="http://vim.org/">Vim</a>, as I’ve mentioned numerous times on Twitter my favourite of all time is still the <a title="Local Google search for IBM E Editor" href="https://duckduckgo.com/?q=site%3Arubenerd.com%20ibm%20e%20editor">E Editor</a> that IBM bundled with  their later versions of PC DOS. The problem was, back in the day IBM had a spectacular falling out with Microsoft and couldn’t bundle QuickBASIC and it’s associated editor into their flavour of DOS any more, so they bundled the E Editor and REXX instead. I <strong>still</strong> run it in DOSBox even to this day. I know I know, I’m crazy!</p>
<p>While the shortcut keys are completely different, in perhaps a subjective  way the E Editor and Joe &quot;feel&quot; very similar, right down to the  prompt bar at the bottom of the screen where you enter file names. Because it’s modeless and many of its commands are issued with control keys it should  also appeal to users of pico/nano and Emacs who have DOS nostalgia too.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.joe.help.png" alt="Joe's Own Editor showing its help screen" style="height:190px; width:500px;" /></p>
<p>It can also emulate a series of other editors by invoking it in different ways. My dad used to use and love WordStar back in the day, so he’ll be hearing about this!</p>
<blockquote><p> JSTAR is a close  imitation of WordStar with many &#8220;JOE&#8221; extensions. JPICO is a close imitation  of the Pine mailing system’s PICO editor, but with many extensions and  improvements.  JMACS is a GNU-EMACS imitation.  RJOE  is  a  restricted version  of  JOE,  which allows you to edit only the files specified on the command line.</p></blockquote>
<h3>It works right out of the philosophical box thing</h3>
<p>Unlike Vim or pico/nano which I use with huge <a title="My software configuration dotfiles" href="http://rubenschade.com/dotfiles/">custom configuration dotfiles</a>, I could tell Joe was written for someone like me because it works almost perfectly its default state. Technically I could copy over the master configuration file to my home folder and customise it to make the software work more the way I want to, but so far I haven’t felt the need to. That hasn’t happened in a <strong>long</strong> time outside the realm of Apple or Xfce wares.</p>
<p style="font-weight:bold">It’s as if Joseph H. Allen sat down with me and asked what I wanted out of an editor and <em>made it</em>. It almost creeps me out. Get out of my head sir!</p>
<p>Aside from feeling like a CP/M or DOS editor ported to Unix with modern, common sense commands that gives me the warm fuzzies, Joe has a lot more going for it:</p>
<ul>
<li>The automatic syntax highlighting is gorgeous and turned on by default.</li>
<li>The commands make sense and can be learned as you use the software with a help screen attached to the top of the console reminiscent of ee on FreeBSD.</li>
<li>Error messages are written in plain, non-cryptic English.</li>
<li>It supports double-space characters such as Hiragana which even the expensive TextMate doesn’t have.</li>
<li>I get a childish, giddy kick out of calling my text editor &quot;joe&quot;. Hey Joe, can you open this code file for me? <strong>^_^</strong></li>
</ul>
<h3>Grab it, use it, enjoy it!</h3>
<p>You can grab the source for Joe’s Own Editor on its <a href="http://joe-editor.sourceforge.net/">SourceForce page</a>, as well as from <a href="http://www.freebsd.org/cgi/cvsweb.cgi/ports/editors/joe/">FreeBSD Ports</a>, <a href="http://pkgsrc.se/editors/joe">pkgsrc</a>, <a href="http://trac.macports.org/browser/trunk/dports/editors/joe/Portfile">MacPorts</a> and other good package managers.
<p>I really, <strong>really</strong> encourage you to give it a try, I haven’t been this excited about an application in a long time. As I said, I gives me a warm fuzzy feeling :).</p>
 
