---
title: 'Sparx on why people weren’t bailed out' 
date: "2010-04-05T03:46:50+10:00"
year: "2010"
category: Thoughts 
tag: 
- economics
- financial-crisis
- hoodwinked
- losing-faith-in-humanity 
---
<p><img src="https://rubenerd.com/files/2010/flinders-ranges_2917608477_o@1x.jpg" alt="Flinders Ranges" srcset="https://rubenerd.com/files/2010/flinders-ranges_2917608477_o@1x.jpg 1x, https://rubenerd.com/files/2010/flinders-ranges_2917608477_o@2x.jpg 2x" style="width:250px; height:187px;" /></p>
<blockquote><p><strong>Ruben asks:</strong> Cynical responses aside, why didn’t the American government pay the mortgages of people so they could keep their homes with that $700 billion? Then the banks would have got their money too. It would have helped PEOPLE. I did economics classes for years, but I still don’t get this.</p>
<p><strong>Sparx replies:</strong> In a word, corruption.</p></blockquote>
 
