---
title: '#SpiritDay 2010' 
date: "2010-10-21T02:27:34+10:00"
year: "2010"
category: Thoughts 
tag: 
- human-rights
- gay-rights
- love
- peace
location: Sydney
---
<div style="width:500px; background:#660099; color:#ffffff;">
<div style="padding:1px 20px;">
<p>I’m too tired to write a full post now, but I wore a purple scarf around Sydney today for #SpiritDay to raise awareness of gay bullying. Got a few strange looks, but a very attractive young man shook my hand on Elizabeth St and thanked me. To be honest I really wasn’t doing his cause much at all, I can’t imagine the kind of crap he has to go through on a daily basis.</p>
<p>It’s saddening that in the 21st century gay people are still persecuted and that a day like this even needs to exist at all. Love is love folks.</p>
<p>As I always say in my typical cliché form:<br />
<cite>Peace, health and happiness</cite></p>
</div>
</div>
 
