---
title: 'Nighttime Sydney out our window' 
date: "2010-07-13T11:32:37+10:00"
year: "2010"
category: Media
tag:
- australia
- fun
- nikkor-afs-35mm-f1-8d
- nikon-d60
- nsw
- photos
- sydney 
---
<p><img src="https://rubenerd.com/files/2010/sydney-out-our-window_4790208154_o@1x.jpg" alt="Sydney out our window" srcset="https://rubenerd.com/files/2010/sydney-out-our-window_4790208154_o@1x.jpg 1x, https://rubenerd.com/files/2010/sydney-out-our-window_4790208154_o@2x.jpg 2x" style="width:500px; height:335px;" /></p>
<p>The rule of thirds is way off, but I like this picture for some reason. Really like all the blue, especially those random flares at the bottom which I can&#39;t account for at all. Ghosts?</p>
<p>Also makes for an interesting contrast with my <a href="//rubenerd.com/goodbye-singapore/">photo of Singapore</a> a few days ago.</p>
 
