---
title: 'Teabaggers rebuttal, dedicated to Sparx' 
date: "2010-04-24T02:05:27+10:00"
year: "2010"
category: Thoughts 
tag: 
- annette-shaklett
- economics
- sparx
- teabaggers
- usa
- wheatheads 
---
<p><img src="https://rubenerd.com/files/uploads/photo.teabags.jpg" alt="Teabags photo by André Karwath on Wikimedia Commons" style="height:234px; width:320px;" /></p>
<p>While rational, logical people with common sense, decency and a sense of humour are doing their bit to discredit the increasingly scary self described &quot;teabaggers&quot; in the United States, I reckon I have the ultimate rebuttal.</p>
<ol>
<li>The &quot;teabaggers&quot; claim they derived their name not from the sexual act, but from the Boston Tea Party in 1773 where people threw crates of tea into Boston Harbour.<p></p></li>
<li>Teabags weren’t invented until 1901.</li>
</ol>
<p>I rest my case.</p>
<h3>Dedication</h3>
<p>This post is dedicated to <a href="http://www.makinitupasigo.com/">Annette Shaklett</a> who enlightens and keeps me informed of the goings on in the States everyday with <a href="http://www.google.com/reader/shared/10200665017172938052">her shared items</a> in Google Reader. If you&#39;re reading this Sparx, you probably already pointed out this logical fallacy a long time ago, but if we could pretend I came up with this on the spot because I&#39;m so super smart and all that, I&#39;d appreciate it. I mean, who are they going to believe, a wickedly talented artist and a nice person like you, or a guy with a terrible blog like me? Wait, don&#39;t answer that.</p>
<p>And thanks to <a href="http://commons.wikimedia.org/wiki/User:Aka">André Karwath</a> on the socialist Wikimedia Commons for the <a href="http://en.wikipedia.org/wiki/File:Tea_bags.jpg">tea bag photo</a>. Those evil Creative Commons and free media people should go move to Cuba.</p>
 
