---
title: 'Thinking about WWDC 2010' 
date: "2010-06-08T12:03:34+10:00"
year: "2010"
category: Hardware 
tag:
- apple
- infocomm
- ipad
- iphone
- mac-os-x
- thinking-out-loud
- wwdc 
---
<p><img src="https://rubenerd.com/files/uploads/logo.wwdc-10.jpg" alt="WWDC 2010" style="height:190px; width:420px;" /></p>
<p>Looking forward to seeing what Apple delivers at WWDC this year. Some quicky thoughts thingys:</p>
<ul>
<li>Despite having a lowly iPhone 3G that won’t support it, I’ll be interested to see how they really implement multitasking. The Microsoft and Google approaches clearly leave a lot to be desired, especially when one considers the best selling apps for Android for a long time were app and process killers.<p></p></li>
<li>Looking forward to seeing the new Xcode and developer tools for the desktop. We will be getting them, right?<p></p></li>
<li>Will all the rumours be true about ditching the Apple TV and fusing its software with the Mac Mini pan out? That’d be cool, because then I’d have a mint, limited edition hardware thingy :D.<p></p></li>
<li>I’m interested in the iPad as an alternative category of device, but given I can’t afford one and use FreeBSD on my netbook I’m not too interested in specifics. Probably will be a lot about it though.<p></p></li>
<li>Given there aren’t going to be any Mac software awards this year this seems even less likely, but some news about Mac OS X 10.7 would be schweet. Unless Snow Leopard is seen as the final version of this line and they’ll be moving to Mac OS 11. Would it be Mac OS XI? I suppose that’s too close to X11 to cause confusion. Some more FreeBSD contributions like Grand Central would also be epic.</li>
</ul>
<h3>Don’t fret!</h3>
<p>Even if you don&#39;t follow Apple or don&#39;t use their products, don&#39;t fret: the Android people will no doubt taking meticulous notes to copy all Apple&#39;s features, implementations and interfaces of said features so you&#39;ll probably have them later this year with 2.4 Cherry Fudge Pie or whatever it is. In the case of Microsoft, you&#39;ll have them by 2013 ;).</p>
<p>I jest of course, Apple needs competition to keep them on their toes. Speaking of which, where&#39;s the new HP WebOS phone? I&#39;d get one of those in a heartbeat, WebOS is beautiful.</p>
 
