---
title: 'Kuala Lumpur, Singapore, Adelaide, pause' 
date: "2010-02-23T02:31:06+10:00"
year: "2010"
category: Travel
tag:
- adelaide
- australia
- kuala-lumpur
- malaysia
- singapore
---
<p><img src="https://rubenerd.com/files/2010/view-out-the-hotel-window-kl_4378634259_o@1x.jpg" alt="View out the hotel window, KL" srcset="https://rubenerd.com/files/2010/view-out-the-hotel-window-kl_4378634259_o@1x.jpg 1x, https://rubenerd.com/files/2010/view-out-the-hotel-window-kl_4378634259_o@2x.jpg 2x" style="width:500px; height:375px;" /></p>
<p>Just came back this evening from our (brief) trip to <a href="http://en.wikipedia.org/wiki/Kuala_Lumpur">KL</a>, as evidenced from the view from our hotel window above! I lived here in 2007-08 so it was good to go to all my old haunts. Will be posting proper photos and whatnot later this week.</p>
<p>We&#39;ve got Tuesday in Singapore (going to make the most of it), then 09:00 on Wednesday morning I&#39;m back to Adelaide to face those &quot;people&quot; at that university. Can&#39;t wait.</p>
<p>With that in mind they&#39;re will probably be a further interruption to your regularly scheduled blog posts here. If you feel the urge to read more Ruben sanctioned nonsense, feel free to <a href="//rubenerd.com/archive/">browse the archive</a> or barring that visit any of the fine folks on the site sidebar. They&#39;re far more interesting, succinct, eloquent and funny than me anyway.</p>
<p>Danke schön, see you on the other side ^_^.</p>
 
