---
title: 'Healtcare reform passes in the US' 
date: "2010-03-22T02:48:58+10:00"
year: "2010"
category: Thoughts 
tag: 
- barack-obama
- hcr
- health
- love
- ted-kennedy
- yes-we-can 
---
<p>Congratulations to all my American friends!</p>
<p><!--oldmore--></p>
<p>I just finished watching Barack Obama&#39;s moving <a title="White House live video feed" href="http://www.whitehouse.gov/live">live speech</a> about the passing of healthcare reform. It isn&#39;t everything we wanted, but the fact it was able to pass is nothing short of miraculous. History will judge this as not only the defining moment of the Obama administration, but the day when America started caring for her people as she <a title="Wikipedia article on the inscription on the Statue of Liberty" href="http://en.wikipedia.org/wiki/Statue_of_Liberty#Inscription">promised</a> to.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.tedkennedy.jpg" style="height:291px; width:225px; display:inline;" alt="Ted Kennedy" /></p>
<blockquote><p>&quot;For all those whose cares have been our concern,<br />
the work goes on, the cause endures, the hope still lives<br />
and the dream shall never die.&quot;</p>
<p>~ Edward M. Kennedy, RIP</p></blockquote>
 
