---
title: 'Watching Tasmanian South Aussie election thing' 
date: "2010-03-20T10:33:43+10:00"
year: "2010"
category: Thoughts 
tag: 
- elections
- iron-chef
- octopusbattle
- octopuselection
- politics
- south-australia
- you-had-to-be-there 
---
<p><!--oldmore--></p>
<p>Quite a big swing against Labor, but looks like they&#39;re back for another term in <a href="http://www.abc.net.au/elections/sa/2010/">South Australia</a>, the outcome is less clear for <a href="http://www.abc.net.au/elections/tas/2010/">Tasmania</a>. And to think just a few years ago even the Singapore news was awash of Labor&#39;s federal win, I wonder what the results would be if there were a national election tomorrow?</p>
<p>I was pleased with Labor&#39;s win over the Libs in the state and federal elections last time, but this <a href="//rubenerd.com/tag/openinternet/">internet filtering</a> and <a href="//rubenerd.com/tag/michael-atkinson/">Michael Atkinson nonsense</a> leaves me somewhat disappointed. Then again, what would the alternative be? :(</p>
<p>Discussion about the #octopusbattle will be undertaken tomorrow as I have already blogged far too much this evening. Good night.</p>
<p><img src="https://rubenerd.com/files/2010/kevin-rudd-wins-2007-australian-federal-elections_2059846520_o@1x.jpg" alt="Kevin Rudd wins 2007 Australian federal elections!" srcset="https://rubenerd.com/files/2010/kevin-rudd-wins-2007-australian-federal-elections_2059846520_o@1x.jpg 1x, https://rubenerd.com/files/2010/kevin-rudd-wins-2007-australian-federal-elections_2059846520_o@2x.jpg 2x" style="width:250px; height:187px;" /></p>
 
