---
title: 'Wikileaks now available on Wikileaks.ch' 
date: "2010-12-04T10:53:30+10:00"
year: "2010"
category: Internet
tag:
- infocomm
- journalism
- politics
- wikileaks 
---
<p><img src="https://rubenerd.com/files/2010/tumblr_lcwds9i0ma1qz77sbo1_500.jpg" alt="It's time to open the archives" style="height:321px; width:500px;" /></p>

<p>Just quickly doing my part to spread the word, Wikileaks is available on <a href="http://wikileaks.ch">Wikileaks.ch</a> now, and at <a href="http://213.251.145.96">213.251.145.96</a>.</p>

<p>Wikileaks.org was suspended by EveryDNS, as it had been in the past with DynDNS and Amazon, for being the victim of repeated DDoS attacks. Allegedly. Now that Julian Assange is being <a href="https://secure.wikimedia.org/wikipedia/en/wiki/Anwar_Ibrahim#Charges_of_corruption_and_sodomy">Anwar Ibrahim-ed</a>, one can&#39;t be too sure.</p>
 
