---
title: 'Windows Phone 7 thoughts' 
date: "2010-10-22T10:38:07+10:00"
year: "2010"
category: Hardware 
tag:
- android
- infocomm
- ios
- iphone
- lists
- microsoft
- windows
- windows-mobile
- windows-phone-7 
---
<p><img src="https://rubenerd.com/files/uploads/WP7logo.png" alt="Windows Phone 7" style="height:45px; width:321px; margin:0em; background:#ffffff;" /></p>
<p>A small but diehard portion of the intertubes are all abuzz about the latest Windows Phone 7 handsets and their associated operating system of which I just mentioned. If they&#39;re abuzz, this would imply they have their phones on silent.</p>
<p>I don&#39;t often accord Microsoft&#39;s efforts with anything more than abject disdain or complete apathy, but in this case I&#39;m impressed they didn&#39;t release another me-too device. As Blackberry and Android scramble to copy anything and everything from the iPhone, in this case at least Microsoft&#39;s GUI desiners took a step back and tried to differentiate their platform with an entirely new interface and working paradigm.</p>
<p>When I was a kid, I thought paradigm was pronounced para-digm, not para-dime. English really is a nonsensical language.</p>
<h3>But I digress. Like a boss</h3>
<p>Microsoft faces several problems with their new operating system. </p>
<ul style="margin:0em; padding:0em;">
<li style="list-style-type:square; list-style-position:inside; margin:0em; padding:0em;">Apple (and to a far less extent Google) have captured the app market for mobile devices. Perhaps this was part of Microsoft’s logic behind the new interface that emphasises the OS rather than individual applications. I don’t like it when people refer to it as &quot;data centric&quot;… anytime you use an application that modifies stuff you’re changing data.<p></p></li>
<li style="list-style-type:square; list-style-position:inside; margin:0em; padding:0em;">Aside from the diehard fans who thought having a squirt feature on a brown music player was amazing, Microsoft is awfully uncool. Coolness isn’t a consideration when I buy Apple gear, but for some people it is.<p></p></li>
<li style="list-style-type:square; list-style-position:inside; margin:0em; padding:0em;">WM7 doesn’t appeal to open source people the way Android does (slightly disingenuously, I’d add), nor does it offer the vertically integrated model Apple does. Android is also free to licence, and arguably does everything WM7 does and then some. At this stage, I’m really not sure who they’re targeting.<p></p></li>
<li style="list-style-type:square; list-style-position:inside; margin:0em; padding:0em;">Kin. Sidekick. Zune. Recent history isn’t on their side.<p></p></li>
<li style="list-style-type:square; list-style-position:inside; margin:0em; padding:0em;">It took Microsoft years to realise what some consider a true contender to the iTelephone; their painfully slow reaction time exposed their weaknesses in this area. This will only become more apparent when newer iOS and Android devices are released and Microsoft is left scrambling. At least with Android the time it takes them to copy the iPhone is mere months.<p></p></li>
</ul>
<h3>Coffee break!</h3>
<p><img src="https://rubenerd.com/files/uploads/anime.nanami.madobe.jpg" alt="Madobe Nanami, Windows 7-tan" style="height:280px; width:500px; display:inline;" /></p>
<ul style="margin:0em; padding:0em;">
<li style="list-style-type:square; list-style-position:inside; margin:0em; padding:0em;">Android has a really cute mascot, and Apple has their invincible branding. Perhaps Microsoft needs to recruit <a href="//rubenerd.com/things-about-microsoft/">Madobe Nanami</a> to help them with WM7 too.<p></p></li>
<li style="list-style-type:square; list-style-position:inside; margin:0em; padding:0em;">Developers who want to write applications for iOS and Android have access to many different classes of devices, currently Windows Phone 7 software would be limited to the namesake of their new platform: phones. It seems short sighted for Microsoft to ignore anything other than phones, such as media players and tablets for their new OS, unless they really intend to ship Windows 7 tablets which I’m sure would be just as horrifying as their previous iterations<p></p></li>
<li style="list-style-type:square; list-style-position:inside; margin:0em; padding:0em;">Microsoft wants desperately to avoid the developer mess Android is in and that Apple is able to avoid by forcing manufacturers to adhere to specific software and hardware guidelines and minimum specifications. Problem is, hardware makers want desperately to differentiate their products so consumers will purchase their generic hardware instead of someone else’s. To me, its unclear how well this will play out.<p></p></li>
<li style="list-style-type:square; list-style-position:inside; margin:0em; padding:0em;">People like to think in pairs. Windows and Mac OS X. iPhone and Android. They’re generally unkind to the third kid, or pay it no attention. Heck, I want one of those new Palm Pre phones that HP has rolled out, but I know I’m in the minority!<p></p></li>
<li style="list-style-type:square; list-style-position:inside; margin:0em; padding:0em;">Does it have copy and paste? Or will we need another Paul Thurrott backflip and Chris Gran <a href="http://blog.chrisgran.de/post/455131811/paul-thurrott-on-windows-phone-7-series">pointing it out</a>?<p></p></li>
</ul>
<h3>The Conclusion is the Word. That didn’t even rhyme</h3>
<p>We really need more competition in the mobile phone space. I absolutely adored my Nokia E61i and I admit I do like Symbian, but they&#39;re basically dead in the water. HP doesn&#39;t seem terribly interested in Palm, at least for now. Android is interesting, but not revolutionary. I doubt Windows Phone 7 will be any kind of success, but I&#39;d like at least for other companies like Google and Apple to feel threatened a little.</p>
<p>Competition is good for consumers.</p>
 
