---
title: 'Nostalgia at Windows 3.0 turning 20' 
date: "2010-05-23T10:22:08+10:00"
year: "2010"
category: Software
tag:
- guis
- history
- infocomm
- nostalgia
- windows
- windows-3-0 
---
<p>It&#39;s official, Microsoft&#39;s breakout Windows 3.0 &quot;operating system&quot; turned 20 today. Well, really it was yesterday but we&#39;ll pretend it was today so I can write this post. Mikuru looks horrified at it running on the desktop ;).</p>
<p><!--oldmore--></p>
<h3>First machine nostalgia</h3>
<p>My dad has worked for multinations his entire career (you can tell by his greying hair and high blood pressure), so he was stocked up with IBM busienss machines throughout the 1980s. As a result, when he bought our first home computer it was an IBM with a flavour and version of DOS I can&#39;t recall now. What I do remember is shortly after this he installed Windows 3.0 with MME on it, and later Windows 3.1 which is perhaps the more famous iteration.</p>
<p>Being a kid at the time I didn&#39;t know anything about the incredible Amiga and my experience with Apple was limited to a few underpowered Apple IIs our school had been given as part of some Aussie education scheme, so I didn&#39;t know what I was missing with Windows 3.0. With heindsight it was another of Microsoft&#39;s lame, crappy knockoffs of competing products, but suffice to say I spent many long hours as a pre-school kid developing myopia staring at that computer screen using software on it.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.windows30.write.png" style="height:215px; width:500px;" alt="Windows Write in Windows 3.0" /></p>
<p>I can remember 3.0 didn&#39;t tax our 486SX with 4MB of RAM as much as other peoples&#39; machines, but we used Brown Bag Software&#39;s PowerMenu to launch it so if we wanted to use DOS applications we wouldn&#39;t need Windows running and consuming resources. As you can see from the screenshot above, I still run it in DOSBox and even use PowerMenu to launch it along with the likes of WordPerfect and Commander Keen :).</p>
<h3>Relative age comparion!</h3>
<div style="font-weight:bold; color:#ffffff; width:520px; background:#000000;">&nbsp; 1984 &nbsp; Apple Macintosh</div>
<div style="font-weight:bold; color:#ffffff; width:500px; background:#000033;">&nbsp; 1985 &nbsp; Commodore Amiga (best GUI for a long time)</div>
<div style="font-weight:bold; color:#ffffff; width:480px; background:#000066;">&nbsp; 1986 &nbsp; Ruben Schade (run away!)</div>
<div style="font-weight:bold; color:#ffffff; width:440px; background:#000099;">&nbsp; 1988 &nbsp; Digital Research GEM</div>
<div style="font-weight:bold;color:#ffffff; width:400px; background:#0000cc;">&nbsp; 1990 &nbsp; Microsoft Windows 3.0</div>
<div style="font-weight:bold;color:#ffffff; width:300px; background:#0000ff;">&nbsp; 1995 &nbsp; Microsoft Windows 95</div>
<h3>Looking back hurts my… back</h3>
<p>On the whole Windows 3.1 was a vast improvement which was reflected in its much stronger sales and the fact more people know of it now than it&#39;s older brother, but there were a few little things that 3.0 did better. I can remember the horror I felt when I discovered Reversi had been replaced with Minesweeper, and I thought that &#8212; while pixellated &#8212; the colour schemes and flat icons in 3.0 were cooler.</p>
<p>Then Windows 95 rolled out later that decade and the likes of Program Manager and File Manager were buried in the Windows folder without icons never to be used again. Oh yeah that reminds me, File Manager in Windows 3.0 was TERRIBLE! I think they were attempting to implement the Mac&#39;s spatial file manager, but it was an unmitigated disaster. I reckoned the File Manager from 3.1 was better than Explorer.exe from Windows 95, but File Manager from 3.0 could take a flying leap off a tall building and collapse into a heap of it&#39;s own fail.</p>
<p>Windows XP (aka the Fisher Price edition) and Windows Vista finally convinced me to move off the slowly sinking Windows ship, but I still run these classic 16-bit shells in DOSBox to relive the old days. Windows 3.0 is so much more reliable when it has 64MB of memory to mess around in instead of 4 ;).</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.windows30.exit.png" style="height:235px; width:500px;" alt="Ending our Windows session" /></p>
 
