---
title: 'Yesterday was UN World Statistics Day' 
date: "2010-10-21T06:43:28+10:00"
year: "2010"
category: Internet
tag:
- infocomm
- politics
- statistics
- united-nations 
---
<p><img src="https://rubenerd.com/files/uploads/worldstatsday2010.png" alt="World Statistics Day 2010" style="height:210px; width:320px;" /></p>
<p>Of course I didn&#39;t notice this until this morning, but yesterday was the United Nations&#39; <a href="http://unstats.un.org/unsd/wsd/">World Statistics Day</a>!</p>
<h3>Say what?</h3>
<blockquote cite="http://unstats.un.org/unsd/wsd/"><p>The celebration of the World Statistics Day will acknowledge the service provided by the global statistical system at national and international level, and hope to help strengthen the awareness and trust of the public in official statistics. It serves as an advocacy tool to further support the work of statisticians across different settings, cultures, and domains.</p></blockquote>
<p>I&#39;ll admit right up front that while mathematics is not one of my strong suits (owing to the fact its hard to make an affordable suit out of carbon fibre), I love statistics and maps. I used to read atlases as a kid, and I&#39;ve always loved looking at graphs. I&#39;m weird.</p>
<p>Anyway this event served to highlight that the UN has a UN Data website with statistics from countries around the world, as opposed to countries from the same place. Remarkably, there are very few of those places around. Unfortunately the page is served up from Active Server Pages which is fairly disappointing, I would think a world body agency thingy would be using something more… open? There&#39;s a joke there about the functioning and effectiveness of the UN somewhere, but I can&#39;t think of one right now.</p>
<h3>&quot;Do you kids want to be like the real UN?&quot;</h3>
<p><img src="https://rubenerd.com/files/uploads/240px-Flag_of_the_Republic_of_China.svg.png" alt="Republic of China" style="height:160px; width:240px;" /></p>
<p>Unfortunately for me, while <a href="http://data.un.org/CountryProfile.aspx?crName=Australia">Australia</a> has a fairly well fleshed out article, <a href="http://data.un.org/CountryProfile.aspx?crName=Singapore">Singapore&#39;s</a> seems not to exist, ditto for <a href="http://data.un.org/CountryProfile.aspx?crName=Malaysia">Malaysia</a>. The <a href="http://data.un.org/CountryProfile.aspx?crName=Republic%20of%20China">Republic of China</a> doesn&#39;t either, but for other reasons.</p>
<p>I celebrated World Statistics Day by wearing a <a href="//rubenerd.com/spiritday2010/">purple scarf</a>.</p>
 
