---
title: 'WWR artist of the day 02: Chicago Blues Reunion' 
date: "2010-03-06T08:51:38+10:00"
year: "2010"
category: Media
tag:
- blues
- indie-media
- music
- whole-wheat-radio
- wwr-artists 
---
<p><a href="http://wholewheatradio.org/wiki/index.php/Artists:Chicago_Blues_Reunion">(Original link here, but image no longer exists).</a></p>
<p>Given I <a href="//rubenerd.com/trying-wwr-widgets/">already linked</a> to John Gorka from Whole Wheat Radio yesterday, I thought it&#39;d be fun to do an artist of the day thingy here for a week and see what new stuff I discover. Today&#39;s band is one I&#39;d never heard before, but they hands down do the best rendition of <a href="http://wholewheatradio.org/wiki/index.php/Songs:Born_In_Chicago_(94544)">Born in Chicago</a> that I&#39;d ever friggen heard in my life, the <strong>Chicago Blues Reunion!</strong></p>
<p>I could transcribe their description, but best to go to <a href="http://wholewheatradio.org/wiki/index.php/Artists:Chicago_Blues_Reunion">their artist page</a> and see for yourself; from there you can also see their links to other social networks and even request some of their songs and the WWR audio stream will accommodate :).</p>
 
