---
title: 'WWR artist of the day 04: Johnsmith' 
date: "2010-03-10T01:50:56+10:00"
year: "2010"
category: Media
tag:
- indie-artists
- ireland
- johnsmith
- music
- whole-wheat-radio
- wwr-artists 
---
<p><a href="http://wholewheatradio.org/wiki/index.php/Artists:Johnsmith">(Original link here, but image no longer exists).</a></p>
<p>Because of my unexpected <a href="//rubenerd.com/hiatus-post/">two day hiatus</a> from blogging I missed two days of my seven day Whole Wheat Radio Artist of the Day experiment. I&#39;m going right ahead and rectifying this by recommending one of my favourites, <a href="http://wholewheatradio.org/wiki/index.php/Artists:Johnsmith">Johnsmith</a>!</p>
<p>There&#39;s no point reinventing the wheel when someone else has already done a great job inventing said wheel, so instead of using my own mangled language I&#39;ll quote this part of his profile from his artist page which I wholeheartedly endorse with the Rubenerd Seal of Approval, if said seal existed.</p>
<blockquote><p>Whenever you read or hear about the music of Johnsmith, certain watchwords always come up, regardless of the source. Words like uplifting, or integrity, heart, or soul. His songs and voice go straight to the heart, because that’s where they come from.</p></blockquote>
<p>Given I know nothing about music and the language used to describe it, I feel as though I&#39;m a wine taster using words such as &quot;mmm tasty!&quot;, but Johnsmith&#39;s music is amazing, original, fresh, with great lyrics and an upbeat attitude, and as with Esther Golton it also helps that he&#39;s a really friendly person.</p>
<p>Well that endorsement was just terrible, please disregard! The first time I heard him back on the 18th of June 2008 (according to the page edit history) I felt compelled to add my Rubenerd Bagus tag to his artist page which even if I tag an artist with a bunch of five star reviews, I often don&#39;t do unless I&#39;ve really found someone special. Was that a better endorsement? I think it was, let&#39;s pretend my attempt at describing music above didn&#39;t happen.</p>
<p>He also has an <a href="http://www.johnsmithmusic.com/">official website</a>, on the internet of all places! Sometimes I worry I&#39;m too funny, but that&#39;s okay because I&#39;m the only one who thinks so.</p>
 
