---
title: 'I kinda didn’t forget @Zombie_Plan’s birthday' 
date: "2010-04-22T11:07:53+10:00"
year: "2010"
category: Thoughts 
tag: 
- adelaide
- fail
- people
- whoops
- zombieplan 
---
<p><img src="https://rubenerd.com/files/uploads/photo.zombieplan.sunnetra.jpg" alt="The Zombie Plan Turing Machine" style="height:250px; width:249px; padding:0; background:transparent;"  /></p>
<p>Ladies and gentlemen, this evening it has come to my attention that I grievously forgot an event so epic in size and importance that I may be feeling the repercussions for many millennia to come, assuming my plan to live forever pans out. I forgot <a href="http://twitter.com/Zombie_Plan">@Zombie_Plan&#39;s</a> Birthday.</p>
<h3>Guards!</h3>
<p>Now you must understand, I&#39;ve never met Mr Plan. Our communications have primarily consisted of 140 character or less Twitter messages and the occasional blog post. As such I have long since suspected that he isn&#39;t real, he&#39;s either:</p>
<ol>
<li>a different person I’ve already met who’s putting on a secondary fake persona (so he can talk about Pokemon without fear of being ostracized by ditsy, arrogant socialites with more hair bleach than intelligence) or…<p></p></li>
<li>he’s in actuality a sophisticated <a href="http://en.wikipedia.org/wiki/Turing_Machine">Turing Machine</a> capable of reproducing all human interactions and thought. The photo above is a rough representation of what the Zombie_Plan Turing Machine could look like.</li>
</ol>
<p>So here&#39;s my thinking. If the former assertion is true, then this person is a fake and therefore doesn&#39;t have a birthday, unless you count the day the fake persona went online. If the latter is true, as far as I know computers don&#39;t have birthdays because they&#39;re not birthed, unless you consider programming and sophisticated fabrication and construction to be a metaphorical equivalent.</p>
<p>In either event, I submit to you dear reader that I did not forget Zombie_Plan&#39;s birthday, for in fact he/she/it does not possess one. Happy Birthday sir, when I make it back to Adelaide for the last time we&#39;ll have to do coffee or beer or pancakes or grilled cheese sandwiches or a sickening combination of all four!</p>
<h3>Guards!</h3>
<p>And finally some blatant spam linking on his behalf:</p>
<ul>
<li><a href="http://zombieskittles.com/">ZombieSkittles</a>, the site I based my navigation bar on</li>
<li><a href="http://twitter.com/Zombie_Plan">@Zombie_Plan</a> on Twitter</li>
<li>His very own Rubenerd Blog <a href="//rubenerd.com/tag/zombieplan/">ZombiePlan tag</a></li>
<li>A <a href="//rubenerd.com/files/uploads/screenie.zombieplan.googles.png">screenshot</a> demonstrating him breaking The Googles</li>
</ul>
 
