@charset "utf-8";

/*****
 * TIMES NEW RUBENERD
 * An attempt at a classic blog theme, with a serif font this time
 *
 * 2024-02-26
 */


/***** RESET です *****/

html, body, h1, h2, h3, form, fieldset {
	border: 0;
	direction: ltr;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, header, main, nav {
	display: block;
}


/***** BODY です *****/

:root {
	color-scheme: light dark;
}

* {
	scrollbar-color:#004599 #e6e7e9;
}

html {
	border-top:10px solid #009199;
}

body {
	background: white;
	font-size: 1.2em;
	font-family: Georgia, "Noto Serif", serif;
	height: 100%;
	line-height: 1.6em;
	margin: 60px auto 140px auto;
	width: 880px;
}



/***** ACCESSIBILITY です *****/

/* Show skip links in text-assisted browsers */
#skip, #skip:hover, #skip:visited, legend {
	height: 1px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: -1000px;
	width: 1px;
}

/* Use these to divide sections in text browsers */
hr {
	display: none;
	visibility: hidden;
}


/***** ELEMENTS です *****/

a, time {
	color: #009199;
}
a:hover {
	text-decoration: none;
}
blockquote {
	font-style: italic;
}
figure {
	margin: 0;
	padding: 4px 0 1px 0;
	text-align: center;
}
h1 a {
	color: #004599;
	text-decoration: none;
}
h1, h2 {
	letter-spacing: -1px;
}
img {
	max-width: 640px;
}
time {
	display: block;
}
p {
	/* Improve hideous Windows font rendering (I'm not biased) */
	/* text-shadow: #eee 0px 0px 1px; */
}
ul li {
	list-style-type: disc;
}


/***** HEADER です *****/

header {
	text-align: center;
	font-size: 0.9em;
}
header #logo {
	background: url("/logo.svg") bottom left no-repeat;
	display: inline-block;
	height: 24px;
	width: 24px;
}

/***** CODE BLOCKS です *****/

pre, code {
	background: #f1f1f3;
	font-size: 14px;
	line-height: 14px;
	color: #004599;
	font-family: "Liberation Mono", "Cascadia Code", Menlo, Consolas, monospace;
}
pre {
	background: #f1f1f3;
	font-size: 0.9em;
	line-height: 0.9em;
	border: 1px solid #ccc;
	margin: 2em 0;
	padding: 1em;
	overflow-x: scroll;
}
pre code {
	background: transparent;
}
code {
	display: inline-block;
	margin: 0 0.2em;
	padding: 0.2em 0.4em;
}


/***** NAVIGATION です *****/

nav {
	margin: 20px 0;
	text-align: center;
	font-size: 0.9em;
}

nav a {
	margin: 0 0.1em;
}


/***** POSTS AND PAGES です *****/

#index main, #taxonomy main {
	width: 640px;
	float: left;
}
#page {
	width: 640px;
}
#page article h2, #page article time {
	text-align: center;
}
article, #auxiliary {
	padding: 50px 0;
}
article h2 a, #auxiliary h2 a {
	text-decoration: none;
	font-size: 0.8em;
	color: #004599;
}
article time {
	font-style: italic;
}

article h3 {
	font-size: 1.1em;
	padding-top: 1.6em;
}
#auxiliary a {
	color: #004599;
}
#auxiliary ol, #auxiliary ol li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.secondary {
	padding-top: 10px;
}
.secondary h2 {
	font-size: 1.1em;
}
.secondary img {
	border-radius: 128px;
}
.content {
	line-height: 1.6em;
}
time, .tags {
	font-size: 0.8em;
}
.meta, .meta li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.meta {
	margin-top: 80px;
	font-size: 0.9em;
	font-weight :bold;
	color: #004599;
	line-height: 1.6em;
	text-align: center;
}
.meta a {
	font-weight: normal;
}


/***** SIDEBAR です *****/

aside {
	margin: 100px 0 0 740px;
	font-size: 0.8em;
	line-height: 1.4em;
	width: 140px;
}
aside h2 {
	margin: 40px 0 10px 0;
	text-transform: uppercase;
	font-size: 0.9em;
	letter-spacing: 1px;
}
aside h2 {
	color: #004D99;
}
aside ul, aside li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#rss img {
	height: 3em;
	width: 3em;
}


/***** PAGINATION です *****/

#pagination {
	font-weight: bold;
	padding-top: 60px;
	width: 640px;
	float: left;
}
#pagination a {
	color: #004d99;
	font-weight: normal;
}


/***** FOOTER です *****/

footer {
	clear: both;
}


/***** PIXELART (ON GOOD DISPLAYS) です *****/

@media screen and (resolution >= 2dppx) { 
	.pixelart img {
		image-rendering: pixelated;
	}
}


/***** RESPONSIVE: SMALLER DISPLAYS です *****/

@media screen and (max-width:940px) { 
	body, main {
		float: none;
		width: 640px;
	}
	article h2, article time {
		text-align:center;
	}
	aside {
		margin: 0;
		width: 100%;
	}
	aside li {
		display: inline;
	}
	aside a {
		margin-right: 0.1em;
	}
	#pagination {
		padding-bottom: 100px;
	}
}


/***** RESPONSIVE: CLARA-SIZED DISPLAYS です *****/

@media screen and (max-width:680px) { 
	body {
		width: 92% !important;
	}

	main, article, #pagination {
		width: 100% !important;
	}

	article figure, article img {
		max-width:100%;
		height: auto !important;
	}
	pre {
		padding-right: 5%;
		padding-left: 5%;
	}
}


/***** DARK MODE です *****/

@media (prefers-color-scheme: dark) {
	body { 
		background: #012;
		color: lightgray;
	}
	a,time { 
		color: #8deaef;	
	}
	/*h1 a, h2, h2 a, pre, code, .meta span, #pagination a {*/
	h1 a, article h2 a, aside h2, #auxiliary h2 a, #auxiliary li a,
       	pre, code, .meta span, #pagination a {
		color: #8db9ef;
	}
	h3 {
		color: white;
	}
	header #logo {
		background-image:url("/logo-dark.svg");
	}
	p {
		text-shadow:none;
	}
	img {
    		filter: brightness(0.8) contrast(1.2);
  	}
	pre, code {
		background: #001;
		color: white;
	}
	pre {
		border: 1px solid #333;
	}
	strong {
		color: white;
	}

/** EOF **/
