---
title: "Are video games addictive? I don’t know"
date: "2022-01-23T23:07:00+11:00"
abstract: "Moral panics, tech being able to tune into people’s reward centres, and research data."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Software
tag:
- ethics
- games
location: Sydney
---
<p>The Economist <a href="https://www.economist.com/leaders/2022/01/01/video-game-makers-must-address-worries-about-addictiveness">ran a story about video game addiction</a> in one of their recent issues, which made three points:</p>

<ul>
<li><p>It compared the moral panic around video games to ones that surrounded other mass media like music, comic books, and crosswords, and that the definition of addiction is &ldquo;too loose&rdquo; to be useful in these contexts.</p></li>

<li><p>Companies have the technology and business motivation to make addictive products, much as social media companies do.</p></li>

<li><p>Companies are basing these business decisions on research data that they should be open about, lest you end up with government censorship and overreach as a result.</p></li>
</ul>

<p>As I’m fond of saying thesesdays, I’m on the fence.</p>

<p>My own brief experience with <a href="https://rubenerd.com/playing-as-the-female-character-in-games/">moralising people</a> made me sympathetic to the idea that this is just another example. Shouting &ldquo;addiction!&rdquo; is but one part of a wider trend toward censorship by Silicon Valley companies. I’ve briefly mentioned the danger of these few companies <a href="https://rubenerd.com/tech-firms-adjudicating-whats-appropriate/">making moral decisions</a> for billions of people without oversight.</p>

<p>But it’s also not that simple. If we define addiction as an activity in which people regularly engage despite negative impact, there are people who have that with games. This is fact. The question is how widespread this is, what its effects are, and how it compares to clinically diagnosed addictions. Put another way, would similar treatments be effective?</p>

<p>Ask me a year ago, and I’ve had said it’s all nonsense. I still <em>probably</em> lean towards this. But consider there is now sworn testimony in houses of government that large social media companies engage in deliberate manipulation to make their products more addictive, and to hell with the societal consequences. There’s no reason to believe large game houses aren’t doing the <em>exact</em> same thing, with the same consequences. It’s no coincidence that terms and behaviour from gambling have seeped into gaming lexicon.</p>

<p>One thing the Economist article didn’t mention was the effect the pandemic has had. Pushing people back indoors and not allowing them to travel has lead a generation of people to live out their lives through games. I can tell you now that it’s been a godsend for people like me! But how many people will come out the other side with an unhealthy relationship or dependency?</p>

<p>Games are like any other media, with the same detractors and business motivations. We’re deluding ourselves if we don’t think producers of other mass media don’t research and tune their offerings for maximum impact, or that panic around games isn’t a convenient excuse for overzealous lawmakers. The only reason I’m given slight pause is the fact these companies have far more data, and better tech to leverage it.</p>

<p>The Economist hit the nail on the head: the only way forward should be the release of this data so we can make better decisions.</p>
