---
title: "Beige-o-Vision introducing the PiDP-11"
date: "2022-01-13T08:28:55+11:00"
abstract: "https://rubenerd.com/files/2022/yt-Mt4aKVozrmw@1x.jpg"
thumb: "That’s a big hard drive!"
year: "2022"
category: Hardware
tag:
- dec
- dec-pdp-11
- retrocomputing
location: Sydney
---
<p>The <a href="https://obsolescence.wixsite.com/obsolescence/pidp-11-get-one">PiDP-11</a> is another project I’ve wanted to get stuck into for <em>years</em>. It’s a kit built around a Raspberry Pi that gives you a functional front panel for a DEC PDP-11/70. It’s absolutely gorgeous, though I don’t think my soldering skills are at the level yet to take on such a project.</p>

<p><a href="https://www.youtube.com/watch?v=Mt4aKVozrmw" title="Play PiDP11 Kit Build - Part 1 (of 4)"><img src="https://rubenerd.com/files/2022/yt-Mt4aKVozrmw@1x.jpg" srcset="https://rubenerd.com/files/2022/yt-Mt4aKVozrmw@1x.jpg 1x, https://rubenerd.com/files/2022/yt-Mt4aKVozrmw@2x.jpg 2x" alt="Play PiDP11 Kit Build - Part 1 (of 4)" style="width:500px;height:281px;" /></a></p>

<p>I watched a Beige-o-Vision video introducing the kit, and it ended up being a great intro into the PDP-11, including some fun video showing just how big hard drives and minicomputers were at the time. He’s made it onto <a href="https://rubenerd.com/omake.opml">the list</a>!</p>
