---
title: "Dev, system design, and screwdrivers"
date: "2022-01-07T10:19:31+11:00"
abstract: "Choosing a screwdriver is a strong opinion."
year: "2022"
category: Software
tag:
- development
- design
location: Sydney
---
<p>I read a post on The Bird Site claiming that choosing tech is equivalent to choosing a screwdriver, and therefore he didn&rsquo;t have strong opinions about it.</p>

<p>This position sounds internally consistent, but I&rsquo;d challenge anyone to not have a strong opinion if you caught me using a belt sander to attach bolts to a door. <em>What!? Use a wrench!!!</em> That visceral opinion is informed by experience and expertise, which is also what a (good) company is paying you for.</p>

<p>The idea that there are perfectly rational people who make cold, detached decisions about everything is a fantasy. Caught in a landslide, no escape from reality.</p>

<p>I get the appeal of the right tool for the job. But I&rsquo;d argue there is no one &ldquo;right tool&rdquo; for a given circumstance in this industry, and even the scope of job itself can be hard to define during the design phase. Choosing these in IT is as much an art as a science, and is part of why I stay in this industry despite frustrations.</p>

<p>If I can also be a bit cheeky, my experience is that those who claim not to have strong opinions are smokescreening. If you ever want to see this in action, check out the responses on Linux forum posts with screenshots showing a pride wallpaper. <em>I don&rsquo;t have a strong opinion about your theme, but&hellip;!</em></p>
