---
title: "Feedback pending post number #9001"
date: "2022-01-12T08:47:47+11:00"
abstract: "My post about playing female characters in games has generated so much heartfelt feedback I’m overwhelmed! Proper follow-up coming."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Thoughts
tag:
- feedback
location: Sydney
---
<p>My silly post about <a href="https://rubenerd.com/playing-as-the-female-character-in-games/">playing female characters in games</a> must have been picked up by a forum or a social media post somewhere, because I’ve been inundated with comments over the last week or so. Most of them have been positive, and many share heartbreaking stories that go far beyond the childhood awkwardness I talked about.</p>

<p>I want to do these respect, but I don’t think have the mental space or time right now to do so. I never expected my blog to be taken any more than half-seriously, so the fact it’s become a magnet for people to come out of their shells and express their innermost feelings is both touching and overwhelming. I’m but a weird computer guy!</p>

<p>If you’ve emailed me over the last week or so with a comment, thank you. I apologise it’s taking me longer to reply than normal. Know that I appreciate all of you, even the dickheads who only motivate me further to keep writing about such stuff.</p>
