---
title: "Finding a cute 386 or 486 desktop"
date: "2022-01-24T22:49:34+11:00"
abstract: "Why do I like these pointless things!?"
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Hardware
tag:
- 486-tower
- nostalgia
- retro
location: Sydney
---
<p>The irony isn’t lost on me that I spent a post on the weekend talking about <a href="https://rubenerd.com/our-january-2022-apartment-cleanout/">getting rid of junk</a> and committing to not buying more. The fact I labour over any decision to buy things thesedays means I’ve internalised it&hellip; right? Is that how it works?</p>

<p>Our first family i486SX ran DOS, then various versions of Windows 3.x. My parents insisted on recycling it when it kicked the bucket in the early 2000s, much to my chagrin. Fortunately I was able to salvage an old Sound Blaster 32 ISA card and a Panasonic 5.25-inch floppy drive from it back then, which both run in my Pentium 1 tower to this day.</p>

<p>That tower now multi-boots everything I care about from the time period, from MS-DOS 3.3 and 6.0, Windows 95, NT, BeOS, Red Hat Linux 6.3, and NetBSD, all behind a pretty PowerQuest BootMagic prompt. It’s amazing how far you can stretch two 32 GiB CompactFlash cards acting as IDE hard drives.</p>

<p>It works surprisingly well with that spread of systems. Being one of the last-generation AT motherboards, it still supports APM instead of ACPI, which DOS and Windows 3.x recognise and support, yet it can still run those newer OSs from the beginning of the 32-bit era with decent UDMA support and faster SDRAM.</p>

<p>But I’m starting to run into a few issues using DOS:</p>

<ul>
<li><p>I want to put more memory in for those newer OSs, but DOS runs into issues with more than 64 MiB.</p></li>

<li><p>There isn’t a decent GPU with support stretching across all those systems. I want to play a few nostalgic 3D games in Windows 95, but good cards for that don’t support 3.x (a post about that is pending). I could piggyback an old Voodoo card, and leave 3.x and DOS using the 2D one, but have you seen the prices for those cards!? And just when I find a card that might be a candidate, I realise it doesn’t like Commander Keen 4+, a series infamous for being touchy with certain cards.</p></li>

<li><p>We scoff at 200 MHz in 2022 (we did in 2012 as well), but it’s simply too fast for some DOS games and applications. Without a classic turbo switch on this box, the best I can do is use software hacks to effectively lower the clock speed. The results are mixed at best.</p></li>

<li><p>Certain older utilities also don’t like the larger CF cards, even if the DOS partition size is tiny, and I’ve hidden other ones with BootMagic.</p></li>
</ul>

<p>I’m starting to see a gap in my lineup of vintage tech that a dedicated machine would serve better. A 386 or 486 would free my P1 tower to be a better W95 and later machine, and would let me pick parts specific for DOS.</p>

<p>I love the idea of eschewing (gesundheit) conveniences like a CD-ROM, TCP/IP NICs, and Jaz drives to ferry data, much as I use my Commodore hardware. Maybe I’d cheat and get one of those USB or SD-card 3.5-inch floppy drive emulators, but it’d still be a disk-based system. I think it’d be fun.</p>

<p>Which leads to <em>what</em> computer I should refurbish or build. Ideally I’d want as small a machine as possible that I could stash under my existing monitor and connect to the VGA KVM my P1 and Commodore 128 use. Dell, Gateway 2000, and Siemens made a few slim &ldquo;pizza box&rdquo; machines that are closer in size to a PCjr or even a SPARCstation, but still accept ISA cards with a riser. But then, they’re getting up there in price too.</p>

<p>Why do I gravitate towards expensive hobbies?</p>
