---
title: "HippopoPenguin’s Rin as Ishtar"
date: "2022-01-19T22:38:09+11:00"
abstract: "I’m not sure I’ve ever seen any art of Rin as one of her pseudo-servants before."
thumb: "https://rubenerd.com/files/2022/hippopopenguin@1x.jpg"
year: "2022"
category: Anime
tag:
- art
- fate
- fate-stay-night
- fate-grand-order
- tohsaka-rin
location: Sydney
---
<p><img src="https://rubenerd.com/files/2022/hippopopenguin@1x.jpg" srcset="https://rubenerd.com/files/2022/hippopopenguin@1x.jpg 1x, https://rubenerd.com/files/2022/hippopopenguin@2x.jpg 2x" alt="" style="width:375px; height:562px;" /></p>

<p>This is so good! Image via <a href="https://www.pixiv.net/en/artworks/88811888">HippopoPenguin’s Pixiv profile</a>.</p>

<p>There’s a lot of context here, but in brief Tohsaka Rin serves as the human vessel for the <a href="https://typemoon.fandom.com/wiki/Ishtar">Ishtar</a> and <a href="https://typemoon.fandom.com/wiki/Ereshkigal">Ereshkigal</a> psuedo-servants in the <em><a href="https://fate-go.us/">Fate/Grand Order</a></em> game&hellip; or so it’s explained. In reality, Rin is a hugely popular character from the <em>Fate</em> franchise (and the gentleman’s story arc choice), so this was a way for TYPE-MOON to plausibly* add her as a servant in the game.</p>

<p>All that said, I’m not sure I’ve ever seen any fanart of Rin as one of those characters before.</p>
