---
title: "Homes and furniture"
date: "2022-01-05T08:34:44+11:00"
abstract: "Heirloom furniture in an age of massive home prices."
year: "2022"
category: Thoughts
tag:
- australia
- economics
- homes
- ikea
- singapore
- sydney
location: Sydney
---
<p>I’ve decided to stop talking about <em>housing</em> and the <em>housing market</em> and start talking about homes. Because that’s what they are, or that’s what people are being deprived of for the sake of speculative investments. But I digress!</p>

<p>I was having a great conversation with my dad just before the Christmas break. He started telling me about his partner’s attempts at selling her antique furniture, but what fetched thousands of dollars a few years ago barely generated hundreds today. It was across the board, regardless of what it was.</p>

<p>It’s easy to see how the pandemic might have affected this. People wanting to hunker down in place might mean fewer people wanting to move, which is the time when you’re probably wanting to get new furniture. People on high disposable incomes are the ones who’d be buying the bulk of antique furniture, and they’re precisely the ones who can afford to stay put rather than moving every year because a landlord has bumped up rent while wages remain flat.</p>

<p>But I get the feeling there’s also something else going on, and it’s the reason why chains like IKEA are doing stupendously well. More and more of people’s incomes are being disproportionately spent on either rent or mortgages in places like Australia than ever before. Even compared to prior decades with high interest rates, prices in cities like Sydney are unprecedented.</p>

<p>With such little disposable income to spend outside these huge sunk costs, it’s no wonder people are shying away from luxuries like heirloom furniture. If you’re always going to be moving, you want something disposable, cheap, or can be easily (re)assembled. Antiques will just get scuffed and damaged each time, which would only add to their cost.</p>

<p>I’m sure this manifests in plenty of other ways too.</p>
