---
title: "Jeb Brooks on the California Zephyr"
date: "2022-01-18T15:29:41+11:00"
abstract: "One of the most beautifully produced rail videos I've ever seen on YouTube."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Travel
tag:
- travel
- trains
- united-states
location: Sydney
---
<p>This has to be one of the most beautifully shot rail videos I’ve ever seen. Those slices of Americana flying by has only reinforced my need to go to the US and explore all these places. I’ve long had the <em>Empire Builder</em> at the top of my list, but now the <em>California Zephyr</em> has made the list too.</p>

<p>Jeb Brooks has a new subscriber :).</p>

<p><a target="_BLANK" href="https://www.youtube.com/watch?v=m1gRPEZdKyI" title="Play Amtrak California Zephyr from Chicago to San Francisco"><img src="https://rubenerd.com/files/2022/yt-m1gRPEZdKyI@1x.jpg" srcset="https://rubenerd.com/files/2022/yt-m1gRPEZdKyI@1x.jpg 1x, https://rubenerd.com/files/2022/yt-m1gRPEZdKyI@2x.jpg 2x" alt="Play Amtrak California Zephyr from Chicago to San Francisco" style="width:500px;height:281px;" /></a></p>
