---
title: "Learning of BlueSCSI"
date: "2022-01-12T08:26:10+11:00"
abstract: "Might need to try this in my childhood PC."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Hardware
tag:
- mmxmachine
- retro
- scsi
location: Sydney
---
<p>This morning I learned of <a href="https://scsi.blue/">BlueSCSI</a>, an open source SCSI to SD-card adaptor for retro computers. <a href="https://twitter.com/bluescsi">Their Twitter profile</a> has some great photos of people using them in their classic Apple hardware.</p>

<p>I’m tempted to try one for my Pentium 1 tower. The more I use it, the more I’m convinced its chipset or IDE controller might be a bit funky. It’s extremely particular with the CompactFlash cards I’m using with passive adaptors, to the point where I don’t want to disrupt the delicate balance I have right now. All the SD to IDE adaptors I’ve tried have introduced their own problems atop this.</p>

<p>I was going to go down the route of buying a new PCI IDE daughterboard, because performance doesn’t matter to me as much as reliability. But the machine already has a Jaz Jet SCSI accelerator card and a spare plug on its ribbon cable, so I’m tempted to give it a shot :).</p>
