---
title: "Lew Wasserman"
date: "2022-01-03T17:10:42+11:00"
abstract: "Stay out of the spotlight. It fades your suit."
year: "2022"
category: Thoughts
tag:
- quotes
location: Sydney
---
<p><a href="https://en.wikiquote.org/wiki/Lew_Wasserman">Via Wikiquote</a>:</p>

<blockquote>
<p>Stay out of the spotlight. It fades your suit.</p>
</blockquote>
