---
title: "Michael Franks, Songbirds"
date: "2022-01-15T10:03:43+11:00"
abstract: "The creator creates; but rarely he replaces."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Media
tag:
- michael-franks
- music
- lyrics
location: Sydney
---
<p>I’ve had these lyrics in my head all morning:</p>

<blockquote>
<p>The creator creates;<br />
But rarely he replaces.</p>
</blockquote>
