---
title: "My “new” IBM WorkPad 20X Palm PDA!"
date: "2022-01-21T10:15:07+11:00"
abstract: "This was such a curiosity for me as a kid. Now I even know how the backlight differs to the IIIx."
thumb: "https://rubenerd.com/files/2022/photo-palmiiix-workpad@1x.jpg"
year: "2022"
category: Hardware
tag:
- ibm
- ibm-workpad
- nostalgia
- palm
- palm-iii
- palm-iiix
location: Sydney
---
<p>My affection for classic PalmOS kit has become a recurring theme here, almost as though I have a thing for childhood tech nostalgia. Now I can add another device from eBay to my growing collection of pointlessness.</p>

<p>The Palm PDA family was a mainstay of 1990s professional life. My dad used one for work, as did my GP, and my bosses from part-time jobs I had in high school. The MRT was always full of commuters looking at them in Singapore. Books and advertisements depicted Palm users carrying briefcases as they sauntered down the street to hail a cab.</p>

<p>Despite this buttoned-up image, I was obsessed with PalmPilots. Which self-respecting nerd <em>wouldn’t</em> want a handheld, touch-screen computer you could sync with your desktop? My parents ended up buying me a Palm IIIx for Christmas one year, no doubt after tiring of me raving about them for so long!</p>

<p>I didn’t need to track appointments or expenses, nor did I have an exhaustive list of contacts or to-do list items. But I loaded it up with games, books, and later the AvantGo suite for reading news. The battery lasted days, the screen was clear and bright, and its rigid plastic shell took a beating without the kid gloves and cases modern smartphones demand. I loved it.</p>

<p>Eventually I inherited my dad’s Palm V when his company moved to Windows Mobile (despite howls of consternation), but the other device I <em>really</em> wanted was an IBM WorkPad. After more than a year of specific eBay saved searches, I managed to track the exact model down! Here she is next to her Palm IIIx cousin, having just been delivered:</p>

<p><img src="https://rubenerd.com/files/2022/photo-palmiiix-workpad@1x.jpg" srcset="https://rubenerd.com/files/2022/photo-palmiiix-workpad@1x.jpg 1x, https://rubenerd.com/files/2022/photo-palmiiix-workpad@2x.jpg 2x" alt="My Palm IIIx (left) next to an IBM WorkPad (right)." style="width:500px; height:375px;" /></p>

<p>Yes, she’s a German model! I may need to reflash her at some point, or use her for studying when I finally pick up German. That might actually be cool! But I digress.</p>

<p>IBM had an arrangement to rebrand Palms in the late 1990s, which they bundled with their own desktop middleware. I was always intrigued how they’d differ from regular Palms, in the same way I wanted to know what made an HP-branded iPod different in the early 2000s. White-labelling wasn’t anything new, but to my childhood self it seemed <em>so weird.</em> Now I <a href="https://www.orionvm.com/">work at a company</a> that does the same thing for infrastructure, go figure.</p>

<p>I don’t think I ever saw a WorkPad in the wild. Magazines gave them but a passing mention, and stores generally didn’t sell them unless you made a request. EDPOL Systems in the late Funan Centre had a few display boxes, but the owner told me they barely shifted any, even with discounts that made them <em>cheaper</em> than their Palm-equivalents. It seems IBMers and those who needed IBM-specific software were the only people who snapped them up.</p>

<p>eBay has plenty of the svelte Palm V-cloned WorkPad C3s, but I was specifically after an earlier 20X, which was a rebadged Palm III. My IIIx used a new backlight system, and I was always interested in comparing it. Why get a Palm III <em>and</em> a WorkPad when I could satisfy both nostalgic cravings in one package?</p>

<p><img src="https://rubenerd.com/files/2022/palms-dark@1x.jpg" srcset="https://rubenerd.com/files/2022/palms-dark@1x.jpg 1x, https://rubenerd.com/files/2022/palms-dark@2x.jpg 2x" alt="Photo showing the inverted backlight on the Palm IIIx (left) next to the IBM WorkPad's traditional backlight (right)." style="width:500px; height:375px;" /></p>

<p>Here’s that backlight in action, with the devices in reverse order to the first photo to confuse us all. Note that the newer IIIx (left) inverts the pixels, whereas the WorkPad (right) and original III illuminates the background. The photo makes the WorkPad look fuzzy, but in person they’re just as sharp as each other.</p>

<p>I remember this backlight change polarised (HAH!) Palm fans and tech journalists, but I loved the effect. I used to keep a detailed journal before I started blogging, which I’d scribble out in the dark before going to sleep. I came to really appreciate how legible it was in low light.</p>

<p>Otherwise, the devices look basically the same. The distinctive Palm teal power button was made grey instead of green, and the shell was black to match IBMs other business tech, but that’s about it. It uses the same stylus, AAA batteries, battery cover, and you can swap the screen lid with a regular Palm which I did for giggles. The label on the back of the device says it was “manufactured for IBM”, but still retains the “Palm Computing Platform” logo.</p>

<p>It also works the same as a regular Palm. I can dock it in the same serial cradle as my Palm IIIx, and it HotSync’d with the same Palm Desktop software on my Pentium 1 tower. The system reports its running PalmOS, and the standard Palm applications look and behave the same&hellip; albeit in German right now!</p>

<p>I’m so glad I was able to snag this and finally answer some childhood questions, as pointless as they were.</p>
