---
title: "Number of posts last year"
date: "2022-01-10T08:34:05+11:00"
abstract: "Why have quality over quantity, when you can have neither? :D"
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Internet
tag:
- personal
- pointless-milestone
- weblog
location: Sydney
---
<p>I didn’t do a post retrospective last year. Post as in blog post, not post as in after. Doing an <em>after retrospective</em> would have been redundant. And not <a href="https://rubenerd.com/redundancy-in-it-isnt/">that kind of redundant</a>.</p>

<p>According to everyone’s favourite tool <a href="https://www.freebsd.org/cgi/man.cgi?query=wc">wc(1)</a>, not to be confused with water closest, this blog had 606 posts last year. That’s a difference of more than 100 compared to 2020, though still fewer than my peak in 2009.</p>

<p>As I always used to say, why have quality over quantity, when you can have both!? Not in this case obviously, I mean more generally. Insert a reference to water closets here again.</p>

<p>For anyone who thinks they need to spam people like me to be a blogger, some of the best writers I’m subscribed to only post once a month, or even annually. They write long form content of a much higher calibre than anything I post. Everyone has their own style, this just happens to be mine.</p>

<p><a href="https://www.youtube.com/watch?v=s5SA6L722kI">My style</a> is the bom digi bom di-deng di-deng diggi-diggi. Thank you.</p>
