---
title: "Our January 2022 apartment cleanout"
date: "2022-01-23T10:42:28+11:00"
abstract: "And some ways we worked around not wanting to part with stuff."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Hardware
tag:
- cleaning
- decluttering
location: Sydney
---
<p>Clara and I are in the midst of another huge apartment cleanout this weekend, and it feels good.</p>

<p>We have the conflicting desire to live in tiny apartments close to amenities (and to make our eventual move back to Singapore easier), alongside my need for retrocomputers and her need for soft toys and manga. The only way the delicate balancing act works is with regular junk cleanouts, which admittedly neither of us have had much enthusiasm for over the last few months.</p>

<p>Part of it comes from the worry that the only reason some of this stuff exists is because we’ve given it value, and that it’ll only end up in landfill otherwise. Parting with something is easier when you know someone else will appreciate it instead. To that end we’ve been trying these approaches:</p>

<ul>

<li><p>Sydney has a bunch of little <a href="https://streetlibrary.org.au/">street libraries</a> scattered around the place, which have been fun getting exercise to find, and for donating books (and remembering that Bill Bryson wrote about the Appalachian Trail&hellip; better add to the Kobo).</p></li>

<li><p>Apartment notice boards are great; you don’t even need to leave the building to sell or give away stuff.</p></li>

<li><p>As much as I detest Zuckface Book, Clara has been able to shift a ton of anime figures and associated merchandise on their Marketplace. A colleague also told me my surplus Hi-Fi gear could also find a place there more easily than something like eBay.</p></li>

<li><p>Gumtree and eBay are more work, but I’ve set things at low prices with the caveat that only local pickups are accepted.</p></li>

<li><p>Scanners and shredders! I tell myself that digital copies are superior because they don’t degrade, can be stored in multiple places, can be OCR’d, and take up less physical space. I’d never throw away any of my late mum’s calligraphy, but all my personal stuff has gone through this. Shelves of space free!</p></li>

</ul>

<p>The only frustrating thing now is being reminded that possessions are a gas, not a liquid. We’ve shifted dozens of boxes and bags of junk, and the apartment looks&hellip; exactly the same. I guess it’s a process&hellip; and a constant reminder <em>not to buy more junk in the first place</em>.</p>

<p>Hmm, I could really use a 386 tower specifically for DOS stuff. Damn it.</p>
