---
title: "Already seeing pandemic-related knock-on effects"
date: "2022-01-15T09:26:10+11:00"
abstract: "Physical and mental health are related, and the about-face in our current situation."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Thoughts
tag:
- covid-19
- health
- psychology
location: Sydney
---
<p><em>Mmm, hyphens!</em> I wrote at the start of this pandemic fun that we’d be living with knock-on effects for years. Some of these didn’t take long at all.</p>

<p>Perhaps unsurprisingly, we have rates of obesity and physical ailments rising as more people work from home and avoid contacting others. <a href="https://www.channelnewsasia.com/commentary/exercise-backache-musculoskeletal-conditions-health-2427671">Singaporean physiotherapist Justin Wee</a> makes the connection between this and our mental health:</p>

<blockquote>
<p>What we see in our clinic shows how the pandemic has increased sedentary lifestyles. An example of a direct impact is the lack of movement when people work from home – if they go into the office, they are likely to take public transport or walk to lunch.</p>

<p>There is also ample research proof that exercise also eases anxiety – the release of endorphins plays a critical role in regulating our thoughts and feelings.</p>
</blockquote>

<p>When I was a kid, I thought the term was <em>sedimentary lifestyle</em>, because gathered sand turns to stone when stuck in one place. Why is it that I’m only proud of observations and ideas I made by accident!?</p>

<p>One thing I learned early on that’s helped me: sit outside if you can. I do most of my work from our balcony, which I’m lucky to have. Even if the weather isn’t great, the sunshine, sounds of nature, and breeze on my face does absolute wonders. I don’t think I’d be half as composed as currently am if I’d spend the last two years working inside in our loungeroom.</p>

<p><em>But I digress!</em> Riffing on that point, <a href="https://www.theguardian.com/commentisfree/2022/jan/14/you-cant-freak-australians-out-about-covid-for-two-years-then-expect-that-fear-to-fade-overnight">Brigid Delaney discusses our collective psychosis</a> over at the Guardian:</p>

<blockquote>
<p>We have shown that we are nothing if not adaptable over the last two years – but I have seen nothing from the politicians acknowledging that this part of the journey is going to be challenging for many. Many Australians got really scared for the better part of two years and the government and the media didn’t let up when it came to hammering in the fear. The fear isn’t going to go away overnight just because many people experience the virus in its mild form.</p>

<p>You can’t freak people out for that long and that hard without expecting some residual traces of that fear to remain in the system.</p>
</blockquote>

<p>This is what the self-professed logical Twitterati armchair epidemiologists and experts fail to understand in all of this. There is nothing rational or normal about our current situation, and even if you agree with the government’s handling of it, the farcical communication has been inexcusable. Instead, confused or scared people are told they have &ldquo;rocks in their head&rdquo;, something which I’m <em>sure</em> has changed minds.</p>

<p>We’re squishy, imperfect animals living in a world we’ve yet to fully grapple. It’s incredible that we’ve shortened the duration of this disease with vaccines and other preventative measures, and that we’ve come together to fight this as much as we have. Yes we can do far more, and yes there are people spreading <span style="text-decoration:line-through">misinformation</span> lies, but I think some exercise and back patting are in order, and maybe a bit of compassion.</p>
