---
title: "Paying with cash, old school"
date: "2022-01-24T08:33:27+11:00"
abstract: "And the societal impact of digits on a computer screen."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Thoughts
tag:
- finance
- money
location: Sydney
---
<p>There’s a coffee shop down the street that has a big outdoor seating area, so I feel safe sitting there for a morning brew and to prepare for <abbr title="working from home">WFH</abbr> that day. This morning I overheard the owner shout out &ldquo;old school&rdquo;! in response to a customer paying with cash which made me smile.</p>

<p>We’ve become accustomed to not paying with cash, but the pandemic may have finally sounded the death knell for it. Cash requires physical contact, which we were all as keen to avoid as the germaphobes were before. Or those of us who don’t want cocaine on our hands.</p>

<p>It’s been a boon for me, and a big part of the reason why I’m able to reconcile as accurately and regularly as I do against our budget spreadsheets. Cash was always a bit of a crapshoot; I tried to keep a text file record on my phone about what I’d spend, but I’d always forget something. I’d forget to ask for receipts, or I’d lose them in a shopping bag.</p>

<p>It also made travel easier, back when that was a viable activity! Clara’s and my first trip to Japan and the US were full of embarrassment as we held up lines counting change in coin denominations we weren’t used to. With a specific bank account that didn’t charge <abbr title="foreign exchange">FOREX</abbr> fees, we could tap and go everywhere, then reconcile in the evening before we overspent.</p>

<p>But it’s not all roses. I remember reading a few years ago that people are more reckless with money when it’s a digit on a computer screen. We feel the weight of our decisions when we’re physically handing over cash, especially for larger transactions. I’m sure credit card companies have the research to back this up.</p>

<p>This &ldquo;detachment&rdquo; from money, coupled with the instant gratification of online shopping, and I worry that we have a societal recipe for buying even more junk and getting deeper into debt. These new pay later schemes (or as I call them, credit cards in a cheap suit) leverage this even further.</p>

<p>Using a virtual envelope budget system has helped me to put meaning back into these numbers. When I see accumulated money in a specific envelope as each month goes by, I’m more wary about blowing it all on something.</p>
