---
title: "Press and politicians abusing medical terms"
date: "2022-01-10T08:14:31+11:00"
abstract: "Those who say Omicron is mild also say elective surgery must be optional."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Thoughts
tag:
- covid-19
- health
- politicians
location: Sydney
---
<p>I’m seeing a lot of justification for certain policy positions based on the fact Omicron is &ldquo;mild&rdquo;. This conflates the medical term with what the general public understands that to mean. Journalists, pundits, politicians, and social media armchair experts doing this are, at <em>best</em>, disingenuously peddling misinformation. At worst, I’d say they’re lying.</p>

<p>It reminds me of those who say elective surgery must be optional, based on the same wilful misunderstanding of the term. My swollen $CENSORED wasn’t life threatening last year, but I sure as hell wouldn’t have considered the surgery for it to be optional!</p>

<p>My incessant whinging about it probably was, though. Can you imagine if I actually got Covid? I think Clara would need to isolate not for medical reasons, but because I’d be listing my symptoms on a regular basis. Have I told you she’s the most patient, caring person I’ve ever met?</p>

<p>I think it’s why I have such a lower tolerance for politicians who can’t communicate these days. It doesn’t matter how intelligent or effective you are in the legislative process if you can’t clearly and unambiguously articulate your positions and unfolding situations to the public. Soft skills are <em>just</em> as important, especially for a population of people who are already on edge.</p>

<p>As I’ve said like a broken record here over the years, being technically accurate isn’t sufficient for being understood. You’d think this would be obvious, but enough people either don’t realise it, or are actively hostile to the idea. Being a human is hard.</p>
