---
title: "Redundancy in IT isn’t"
date: "2022-01-03T08:41:44+11:00"
abstract: "If redundant data is a requirement, it’s not redundant."
year: "2022"
category: Software
tag:
- backups
- language
location: Sydney
---
<p>I had a shower thought of my own this morning, in the shower. Like a gentleman. <em>Redundancy</em>, as we understand it in this industry, isn’t.</p>

<p>All the online dictionary I’ve read equates <em>redundancy</em> with being superfluous, unnecessary, or surplus to requirements. <a href="https://www.collinsdictionary.com/dictionary/english/redundant">Collins</a> takes it a step further by also claiming it can mean:</p>

<blockquote>
<p>duplicated or added as a precaution against failure, error, etc</p>
</blockquote>

<p>This is what I understand redundancy to mean. I want offsite backups, multiple copies of data in a RAID or OpenZFS pool, and read replicas of my live databases. These are all forms of redundancy, because they can improve performace by spreading load, continue to operate in a degraded state and, most critically, recover from loss.</p>

<p>If we consider redundancy to be an essential requirement of a system then, is the existence of said redundant data <em>not</em> redundant? Anyone who claims backups are redundant in the traditional English use of the term isn’t qualified to design or operate computer systems!</p>

<p>Much as my old boss said that anything that isn’t documented doesn’t exist, I’d argue any data without redundancy is ephemeral. If your system can’t tolerate that, redundancy is therefore a requirement.</p>

<p>Each industry has its own vocabulary and nomenclature that may conflict with definitions in other spheres. It’s why nerds get up in arms about the word <em>hacker</em>, despite violent and negative connotations predating our use (Jack the Ripper wasn’t hacking people up to fix them in an innovative way). I wonder what other terms don’t just have different meanings, but are polar opposites?</p>

<p>I always thought <a href="https://datatracker.ietf.org/wg/ospf/charter/">OSPF</a> sounded like a laundry detergent.</p>
