---
title: "SgLinks the next URL shortener to go"
date: "2022-01-04T17:25:58+11:00"
abstract: "We really need to archive these properly, and make sure we never make this mistake again."
year: "2022"
category: Internet
tag:
- singapore
- url-shorteners
location: Sydney
---
<p>Thirteen years ago I wrote about the <a href="https://rubenerd.com/urltea-trim-scary/">dangers of URL shortners</a>, and how adding an extra layer of abstraction was only going to accelerate digital decay:</p>

<blockquote>
<p>Aside from search engines, I can’t think of any other type of website that could disable so many links on so much of the internet in one fell swoop than a URL shortening service. You take out that middleman and suddenly millions of links don’t point to anything. It’s like an electronic basket of eggs, only the basket is used by millions of people and the eggs are links. Hey, and they’re fragile too, that analogy worked better than I intended! I mean… um… yes, that’s exactly what I meant from the start. Smart right?</p>
</blockquote>

<p>I just noticed we can add SgLinks to the list. The site was a URL shortener for the Singaporean SgForums site, which went read-only in 2018. Their links ended up in a bunch of places where Singaporeans shared news and ideas, including Twitter.</p>

<p>I have a bunch of them sprinkled through various online accounts that I’ve since been importing. All no longer resolve. Wah lau eh.</p>
