---
title: "Shopping MallDova"
date: "2022-01-02T14:37:15+11:00"
abstract: "The name of this place makes me happier than it should."
thumb: "https://rubenerd.com/files/2021/shopping-malldova@1x.jpg"
year: "2022"
category: Thoughts
tag:
- europe
- pointless
- shopping
location: Sydney
---
<p>There’s a shopping centre in Moldova called <em><a href="https://en.wikipedia.org/wiki/Malldova">MallDova</a></em>. Here’s a <a href="https://commons.wikimedia.org/wiki/File:Malldova_Shopping,_%D0%9A%D0%B8%D1%88%D0%B8%D0%BD%D0%B5%D0%B2,_%D0%A0%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0_%D0%9C%D0%BE%D0%BB%D0%B4%D0%BE%D0%B2%D0%B0_Malldova_Shopping,_Chisinau,_Republica_Moldova_Moldova_Shopping,_Chisinau,_Republic_of_Moldova_(51187661202).jpg">photo</a> by PhotobankMD hosted on Wikimedia Commons:</p>

<p><img src="https://rubenerd.com/files/2022/shopping-malldova@1x.jpg" srcset="https://rubenerd.com/files/2022/shopping-malldova@1x.jpg 1x, https://rubenerd.com/files/2022/shopping-malldova@2x.jpg 2x" alt="External view of MallDova" style="width:500px; height:251px;" /></p>

<p>This might be the best-named shopping building in the world. It makes me happier than it should.</p>
