---
title: "Steps towards more recycling in Singapore"
date: "2022-01-15T09:07:00+11:00"
abstract: "More recycling bins and bottle refund schemes sound great, especially for a country with a patchy record on this stuff."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Hardware
tag:
- environment
- singapore
location: Sydney
---
<p>There was a lot to love about living in Singapore; so much so that I’m probably moving back after the pandemic. Australia is great, and would sure be easier with my citizenship, but home is home (lah).</p>

<p>One culture shock though was how blasé the country is with recycling. No apartment building we lived in had any facility for it, and the two offices I briefly worked in only had recycling for toner cartridges. Things have improved since I left according to friends, but there’s still a mental barrier.</p>

<p>This always struck me as odd, given the country’s stance in other areas. The government continues to advocate for public transport, spending billions continuously building new train lines in ever more complex environments. Greenery is meticulously maintained along streets to reduce the heat-island effect and provide shade.</p>

<p>Like land-scarce Japan, garbage in Singapore is sent to incinerators. But there’s a huge opportunity to redirect more of that away, like Japan does.</p>

<p>Here are some news stories I’ve read recently about it:</p>

<ul>
<li><p><a href="https://www.straitstimes.com/singapore/environment/recycling-bins-to-be-given-to-each-household-to-raise-domestic-recycling-rate">According to The Straits Times</a>, the National Environment Agency will be distributing recycling bins to every home. Almost everyone lives in apartments, so the expectation would be that the bins would be used to collect recycling, then have it taken to the bins downstairs. A bit awkward, but a step in the right direction.</p></li>

<li><p><a href="https://www.channelnewsasia.com/singapore/recycling-beverage-containers-deposit-refund-scheme-nea-257856">Channel NewsAsia are also reporting</a> that buyback schemes for drink containers will also be implemented next year. This I think will have more of a positive impact.</p></li>

</ul>

<p>Dissenters of such measures will say they’ll be exploited, or claim they’re a waste (wah!) of time. Anything that redirects even a bit of stuff away from being burned isn’t.</p>
