---
title: "iPhone desktop sync has Walken’d away"
date: "2022-01-06T09:10:48+11:00"
abstract: "It might work sometimes."
year: "2022"
category: Software
tag:
- apple
- fatboy-slim
- iphone
location: Sydney
---
<p>It seems like an age ago now, but a big part of the appeal of the original iPhone was that it synced easily with the Mac. Other phones had given up on the Mac platform by the mid-2000s, relegating their syncing duties to clunky intermediate applications. More like <em>SINKING</em>, <strong>am I right Peter!?</strong></p>

<p>The iPhone slurped up your contacts, calendars, todo list items, and mail with the same ease with which the iPod did for music. It shouldn’t be understated just how brilliant this was; I loved my ageing Palms, and my Symbian Nokia E61i was decent, but having a device that <em>just worked</em> with my computer of choice at the time was game changing.</p>

<p><em>My computer&hellip; <a href="https://www.youtube.com/watch?v=wCDIYvFmgW8">computer of choice</a>. You can sync with this, or you can sync with that. You can sync with this, or you can sync with that. You can sync with this, or you sync with that. Or you can sync with us.</em> ♫</p>

<p>Few people sync their phones with their computers anymore, relying instead on remote sync. That’s fine, but I prefer keeping things local under the increasingly misguided belief that it’ll work better. I’ve also only ever synced photos and password manager stores locally, because it’s what I trust. Turns out, that’s was a <a href="https://www.eff.org/deeplinks/2021/11/apple-has-listened-and-will-retract-some-harmful-phone-scanning">good bet</a>.</p>

<p>Unfortunately, the decline of this use case has been mirrored in testing and updates. Pulling a stream of photos off a modern iPhone with Image Capture is often an exercise in futility, with the process grinding to a halt and cryptic error messages sput out that wouldn’t look out of place on a 16-bit version of Windows. &ldquo;Sput?&rdquo; Performing a restore or an update on a phone works as often as it doesn’t.</p>

<p>I’ve been sitting here waiting for this iPhone 8 to do a factory reset so I can send it to Apple this morning for a new battery. I’ve confirmed at least four times that I want to do the restore, after which the Finder sits there doing absolutely nothing. I rebooted the phone, and now the Finder is telling me to unlock it before proceeding. It’s been unlocked for five minutes. In the words of Scotty from <em>Star Trek IV: The Voyage Home</em>: “Hello computer!?”</p>

<p>It shouldn’t be like this. Local sync has fewer moving parts, a guaranteed data channel, and oodles of storage. It feels like I’m back in the 2000s trying to get sync working on another phone through an obtuse, poorly maintained abstraction layer. Probably because I am.</p>

<p><em>Sync without rhythm, and you won’t attract the worm. Sync without rhythm, and you won’t&hellip; attract the worm. Sync without rhythm, and you won’t&hellip; attract&hellip; the worm. If you sync without rhythm, HAH, you’ll never learn.</em> ♫</p>

<p><em>Update!</em> I rebooted the Mac and the phone a couple more times each, swapped out the Lightning cable from a USB-C to an older USB-A with an adaptor, force quit the Finder, plugged the phone into another port, burnt some toast, tailed system.log, charged the phone battery from 70% to 100%, and put some <em>refresh</em> essential oil in our <a href="https://www.muji.com/au/products/cmdty/detail/4548076461913">Muji diffuser</a>. I can’t tell you what combination fixed it, but now I have a phone that’s restoring. Touch sandalwood.</p>

<p><em>As I drift off into the night&hellip; I’m in flight [&hellip; mode]?</em> ♫</p>
