---
title: "The Maja 2 split keyboard"
date: "2022-01-03T08:41:44+11:00"
abstract: "I like the simplicity, though I wish it were sloped."
thumb: "https://rubenerd.com/files/2022/the-maja-2@1x.jpg"
year: "2022"
category: Hardware
tag:
- design
- ergonomics
- keyboard
location: Sydney
---
<p>Last year I wrote about buying a <a href="https://rubenerd.com/the-microsoft-ergonomic-keyborad-2019/">Microsoft Ergonomic Keyboard 2019</a>. I was inintially underwhelmed by the predictable mushiness of the keys, but it became noticably better after breaking in with frequent use. The difference is stark when pressing lesser-used keys on the right.</p>

<p>I had two reasons for getting it. I wanted to address some immediate wrist discomfort, and to see if a split keyboard worked for me without splurging on an expensive piece of kit. It achieved both, only now I&rsquo;m in less of a hurry to replace it than I thought. It just works, and feels fine.</p>

<p>That said! I do keep an eye out for alternatives if and when they surface, and I just saw the <a href="https://kbdfans.com/products/vulcan-x-kbdfans-maja-v2-mechanical-keyboard-diy-kit">Maja 2 by Vulcan and KBDFans</a>:</p>

<p><img src="https://rubenerd.com/files/2022/the-maja-2@1x.jpg" srcset="https://rubenerd.com/files/2022/the-maja-2@1x.jpg 1x, https://rubenerd.com/files/2022/the-maja-2@2x.jpg 2x" alt="Photo showing the Maja 2 keyboard" style="width:500px; height:250px;" /></p>

<p>It has a split keyboard design, a proper set of cursor keys, and a cluster for Insert, Delete, and Page Down (though curiously not Page Up). The physical arrangement looks a little haphazard, but it means a minimal number of custom key shapes need to be created to achieve the split design. The caps also look like they can be customised, so I can add hiragana if and when I pick up Japanese again.</p>

<p>The great thing about indie split keyboards is that they&rsquo;re willing to experiment with modifier keys, something the conservative Microsoft keyboard doesn&rsquo;t have the freedom to. Note the position of the control and shift keys near the spacebar in the photo above. I suspect this would do as much—if not more—to help reduce strain than the split itself.</p>

<p>My main gripe is a lack of a slope. I <em>think</em> the split design has been more important when using the Microsoft board, but I do notice I&rsquo;m holding my hands at a more comfortable angle now that I watch myself type on it, compared to placing my hands on the Commodore 128 sitting next to me. I think?</p>

<p>Mechanical split keyboard fans, do you think slopes are important or is this a placebo?</p>
