---
title: "Uniforms of the future"
date: "2022-01-09T09:43:24+11:00"
abstract: "If we don’t like what the future holds, we’re in the present to change it."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Thoughts
tag:
- economics
- future
- health
location: Sydney
---
<p>One of my favourite ideas is that science fiction is a critique of the present, not the future. It tackles our insecurities, rights what we see are wrongs, or extrapolates our current issues ahead to what we’d see are their natural conclusions. They can be a wish for a utopian
future like <em>Star Trek</em>, or a cautionary tale like <em>Star Wars</em>.</p>

<p>At least, I assume that’s what <em>Star Wars</em> is, I’ve only seen one of the movies and it didn’t gel, despite being an insufferable Trekkie. <em>Se a vida é</em>.</p>

<p>I was going to reference some art I saw on a sci-fi forum here, but <em>turns out</em> the source was very much not NSFW! Suffice to say, is a phrase with three words. The character wore a typical Japanese school uniform, only she had green hair highlights and a large gas mask obscuring much of her face.</p>

<p>Had we seen that a few short decades ago, we might have assumed it was a Cold War critique where biological weapons or nuclear fallout
might have required it. Come closer in time, and you might feel sorry for the future Earth dwellers needing to wear it on account of us
trashing the planet for profits and blockchains. These days, I’ll bet a pandemic is the first thing that comes to mind.</p>

<p>This is why context is so important and interesting when looking at this stuff (even if it does turn out to be an <em>eroge</em>, cough). The image above was constant, but the time in which a viewer lived would inform different conclusions. We project our own views, knowledge, and circumstances onto whatever we analyse.</p>

<p>The good news is, if any future seems scary, we’re still in the present where we can do something about it.</p>
