---
title: "Why are people falling for NFTs?"
date: "2022-01-22T07:32:24+11:00"
abstract: "Trying to figure out why people would act against their own interest."
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Internet
tag:
- blockchain
- nfts
- scams
location: Sydney
---
<p>Twitter recently introduced the misguided feature of NFT avatars. The move has been championed by scammers and <a href="https://rubenerd.com/accounts-calling-out-the-duped/" title="Accounts calling out the duped">the duped</a>, and met with howls of derision by everyone else. Twitter didn’t jump the shark, they launched it into space.</p>

<p>Given NFTs consist only of a hashed URL to an image that can be arbitrarily changed, are backed by technology that’s easily and regularly manipulated, aren’t a legal contract, nor confer any ownership, their popularity is bizarre. But then, if people were informed, no blockchain-backed technology would be taken seriously.</p>

<p>This lead me to think <em>why</em> people are being suckered into this. I think comparisons between Tulip Mania and Beanie Babies are on the right track, but miss a few points that make this bubble especially pernicious.</p>

<p>Hype is probably the most transparent reason for their popularity, a fire Twitter just threw hexagonal petrol cans onto. Fear of missing out (FOMO) is a well established and easily exploited phenomena in financial markets that leads people to make all manner of irresponsible decisions, from real estate to ugly apes. Nothing exploits this better than casinos, which I argue blockchain tech is. <a href="https://www.youtube.com/watch?v=-fH2fFxIJ-A">You can’t beat the house</a>, especially when that house is in the concentrated hands of a few miners and speculators.</p>

<p>NFTs, and their festering cousin Bitcoin, <a href="https://rubenerd.com/crypto-currency-snakeoil/" title="Crypto-“currency” snakeoil">play the disenfranchised</a> like violins. There are legitimate injustices in the world which this tech purports to mitigate or solve, but NFT spruikers have the gall to suggest it help struggling artists. It doesn’t matter if these claims are completely baseless, or have done more <em>harm</em> to artists than any tech in recent memory, emotional manipulation is a powerful tool.</p>

<p>You know that saying that if a business seems to act against its own interests, there must be another force at play? NFTs, and their recent ejaculation on Twitter, represent a community. As sad as it is to contemplate, there are people so desperate for validation that they’ll buy into a Ponzi scheme to get it. This is why sarcasm and appeals to logic don’t stick. When your identity is inextricably tied to something, as destructive as that relationship might be, you internalise any attack against it. People don’t bask in the glow of logic and reason when they feel threatened, they do the opposite.</p>

<p>Like all bubbles, it’s hard to understand by those standing outside it. I still struggle. But if everyone you know and admire is throwing money at it, it suddenly feels entirely reasonable to trade your savings for <span style="text-decoration:line-through">a JPEG</span>  link to one. This is where people like Elon Musk and that bellend podcaster (I can never remember his name) share culpability in people’s losses.</p>

<p>I don’t know what the answer is; whether its compassion, interventions, ostracism, or something else. But I know <a href="https://twitter.com/Rubenerd/status/1484278311694266368">ignoring the problem</a> won’t make it go away.</p>
