---
title: "Wouter Groeneveld digresses"
date: "2022-01-23T22:26:35+11:00"
abstract: "Generating OPML and a great quote from Brit Butler"
thumb: "https://rubenerd.com/logo.png"
year: "2022"
category: Hardware
tag:
- nostalgia
- retrocomputing
location: Sydney
---
<p>Wouter recently wrote of his <a href="https://brainbaking.com/post/2022/01/generating-a-blogroll-with-opml-in-hugo/">OPML blogroll adventures</a> over on Brain Baking.</p>

<blockquote>
<p>So much yet so little has changed! It’s a bit embarrassing. Or should I be proud? I’m not sure. I feel a bit conflicted when looking back at it. Like Brit Butler wrote in “<a href="https://blog.kingcons.io/posts/Deliberate-Action.html">Deliberate Action</a>”:</p>

<blockquote>
<p>A tremendous amount has happened, but I feel like I’ve lost the boy I remember from college a little. He was excited about things: video games, music, common lisp, poetry.</p>
</blockquote>

<p>Anyway. As Ruben would write: I digress.</p>
</blockquote>

<p>What a great quote. I wonder if much of my interest in retrocomputers from my childhood is to do with chasing that optimism and joy I had back then?</p>

<p>And secondly: <em>touché!</em> I don’t this Ruben character, but he sounds a bit dodgy. The last thing he baked was a RAID controller with a loose heatsink.</p>
