---
title: 'Albatross by Fleetwood Mac, 1969' 
date: "2012-10-02T01:55:01+10:00"
year: "2012"
category: Media
tag:
- debra-schade
- fleetwood-mac
- music
- nostalgia
- video
location: sydney
---
<p><a href="https://www.youtube.com/watch?v=xPJZygFYTKI" title="Play Mick Fleetwood And Friends - Albatross (Official Video)"><img src="https://rubenerd.com/files/2021/yt-xPJZygFYTKI@1x.jpg" srcset="https://rubenerd.com/files/2021/yt-xPJZygFYTKI@1x.jpg 1x, https://rubenerd.com/files/2021/yt-xPJZygFYTKI@2x.jpg 2x" alt="Play Mick Fleetwood And Friends - Albatross (Official Video)" style="width:500px;height:281px;" /></a></p>

<p>Sitting at a coffee shop this evening with my lovely girlfriend, one of my <a href="https://en.wikipedia.org/wiki/Albatross_%28instrumental%29">favourite songs</a> of all time started playing on the speakers. My parents used to play this to calm me down as an infant, and it still renders powerful nostalgic feelings in me. That and it&#39;s just a really beautiful song.</p>
<p>This is not to be confused with Albatross the food, distributed by Monty Python audience snack vendors. They didn&#39;t even give me wafers with it.</p>
 
