---
title: '#Anime Picture It – Cityscapes' 
date: "2012-01-20T01:25:09+10:00"
year: "2012"
category: Anime 
tag: 
- animeuts
- art
- cityscapes
- colour
- design
- landscape
- nostalgia
- p12
- picture-it 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/animeuts.yokosurprise.jpg" alt="Banner from Amime@UTS" style="height:105px; width:500px" /></p>
<p>My <a href="http://utsanime.net/2012/01/picture-it-in-a-city-not-sure-what-im-doing/">latest entry to the Anime@UTS blog</a>, and the first about art! If you want to comment, do so over there :D.</p>
<p>It may be regarded as odd that I’m beginning a post discussing what it won’t be about, rather than what it will be. It feel it is necessary however, lest anyone get the mistaken impression I know what I’m talking about when it comes to art. As such, this post will not be as insightful as what you may have come to expect from our <a href="http://utsanime.net/author/kirishima/">resident artist</a>, nor it will it be as eloquent as what you would expect from our <a href="http://utsanime.net/author/sebby/">resident Peruvian</a>. Lima is five in Malay, isn’t that funny? Don’t answer that.</p>
<p>I’ll cut to the chase. We all get off on different things, as it were. Some people need mountains of fan service, mandatory beach episodes and shower scenes showcasing their favourite characters in various stages of duress. Wait, undress. Both work. Personally, I’m a meganekko fan, for some reason. Well, I know the reason, its because I find glasses showcase people eyes better. The other thing is citypr0n, or &quot;cityscapes&quot; to use politically correct terminology.</p>
<p>I could perform an exhaustive history of the representation of cityscapes in anime starting with the earliest known examples, moving through to the 1990s, then to the present, but instead I’ll focus on three specific series’ which I thought best showcased cityscapes at the time.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.pssm.cityscape.jpg" alt="Pastel cityscape from Sailor Moon." style="height:343px;width:500px" /></p>
<p>Some in the club may groan at the sight of <em>Pretty Soldier Sailor Moon</em>, but I had an unnatural obsession with the series growing up, and one of the reasons was for the art. Remove the boilerplate transformation scenes and Usagi being a klutz, and you get some beautiful visual interpretations of 1990s Tokyo. And some lesbians.</p>
<p>What the scenes lacked in detail they made up for in colour; they almost looked as though they were painted in watercolour. For all I know, they could have been. Like all the other series’ from the time, Sailor Moon was hand drawn and painted. Pretty amazing to think about now.</p>
<p>One of my dreams as a kid was to have curtains for my bedroom with a blue Sailor Moon cityscape on it. No doubt my father was disappointed my dream didn’t involve having short-skirted sailor scouts on my curtains instead. I think he was worried that my orientation was unusual. But that’s for the psychiatrists office, not the world’s greatest anime club and their blog. Haiyo!</p>
<p><img src="https://rubenerd.com/files/uploads/anime.railgun.cityscape.jpg" alt="The Railgun girls sitting in front of Academy City." style="height:343px;width:500px" /></p>
<p>Fly forward to 2008, and we get the series that arguably contained more citypr0n that any other. <em>Toaru Kagaku no Railgun</em> wasn’t just a rare example of a spinoff that was better than the original (in the [correct] opinion of your humble [dashing, attractive] author), but it’s artists at JC Staff seemed to spare no expense in creating breathtakingly detailed, immersive cityscapes for the characters to carry out their various deeds.</p>
<p>The style was realistic and fitting with contemporary architecture, but an entirely new <em>Academy City</em> afforded the artists a little creative licence to build up a new modern world from scratch. Wind turbines and expansive, tree lined streets contrasted with tall pale blue buildings that made the adventures of Misaka Mikoto and her compatriots that much more fun to watch.</p>
<p>Your author humbly admits he watched <em>Railgun</em> <strong>prior</strong> to <em>Index</em>, and he did so because he saw screenshots of the world in which their adventures took place. And Mikoto in a polka dot swimsuit thingy. Pity she didn’t wear glasses. You didn’t read any of that. Any of what? <strong>Exactly</strong>.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.bakemonogatari.epiccity.jpg" alt="Screenshot from Bakemonogatari showing a surreal line of cars set in front of a row of large apartment buildings." style="height:200px;width:500px" /><br /><img src="https://rubenerd.com/files/uploads/anime.bakemonogatari.epiccity3.jpg" alt="Screenshot from Bakemonogatari showing a large industrial complex." style="height:200px;width:500px" /></p>
<p>From the artistic to the realistic, we get to the downright surreal. With the broadcast of <em>Nisemonogatari</em> I’m reminded of <em>Bakemonogatari</em>, and how I painstakingly took screenshots from it while watching in 2009 to use as desktop backgrounds (or wallpapers, as you Windows and OS/2 folk seem intent on calling them). A warning in advance, my lack of artistic prowess will show through here!</p>
<p>The cityscapes in Bakemonogatari were some of the most detailed I’d ever seen, almost to a fault. As the quality of the animation of the characters themselves seemed to wane a little over the course of the series, the scenery continued to get the royal treatment. The shockingly bold colours and sharp lines even from a distance were used to great effect; the mood for a scene was often carried more by the colours than the music. At least, that was my impression. Visually, the effect was striking.</p>
<p>What I revelled in while watching though was the downright <em>weirdness</em>. You thought Penguindrum was weird with having pedestrian crossing figures as extras, Bakemonogatari eschewed (gesunteit) them entirely. The gigantic urban parks, imposing apartment buildings (that bore a curious resemblance to HDBs, as more than one Singaporean otaku observed at the time), expressways and tall buildings. We associate all these areas with swarms of people. Hives of activity. Buzzing with energy. These puns sweet or what? Get it, honey bees? I’ll stop now.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.bakemonogatari.epiccity2.jpg" alt="Another Bakemonogarari screenshot showing a level crossing for trains." style="height:281px;width:500px" /></p>
<p>Combine the abandoned state of these scenes with otherwise modern, pristine cityscapes, and you get an artistic style Dali would have scoffed at if I referred to it as surreal. Then again, he melted clocks and waxed pointed moustaches for a living. Waxed lyrical, as it were.</p>
<p>We’ve only just scratched the surface here. Pick any season, and chances are at least one or two of the showcased series’ will have amazing urban landscapes, or citypr0n as I unabashedly refer to it as. It’s a predictable as the one unashamed ecchi release each season, and I’d argue possibly for the same reason ^^;</p>
 
