---
title: '#Anime Gesundheit Chitanda~' 
date: "2012-07-06T11:37:42+10:00"
year: "2012"
category: Anime 
tag: 
- animated-gif
- hnnnnngggg
- hyouka
- kyoani
- p12
- pointless 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/mjci40xkbf2scywwtup4.gif" alt="Chitanda Eru sneezing" style="height:224px; height:224px;" /></p>
<p>Aaaaaah. Chitanda Eru from Hyouka, the latest KyoAni production. Will no doubt be another significant (and entirely voluntary!) financial drain on me at some stage.</p>
<p>Thank you <a href="http://mobile.twitter.com/hanezawakirika">@hanezawakirika</a> ^^;</p>
<p>And yes, this post had merit. Just like <a href="//rubenerd.com/anime-and-im-really-enjoying-this-iced-cream/">this one</a>.</p>
 
