---
title: '#AtheistRollCall' 
date: "2012-02-19T11:26:45+10:00"
year: "2012"
category: Internet
tag:
- atheism
- infocomm
- p12
- peace
- twitter 
location: sydney
---
<p><a class="transparent" href="http://outcampaign.org/"><img class="transparent" height="122" width="143" style="float:right;" src="https://rubenerd.com/files/2012/scarlet_A.png" alt="The Out Campaign. Stop discrimination of atheists, show support for secular causes" /></a> As you may have noticed, I&#39;ve taken a brief Rubenerd.com and Twitter recess to focus on some family matters, though I hope to be back to both soon.</p>
<p>In the meantime, I noticed the <a href="https://mobile.twitter.com/searches?q=%23AtheistRollCall">#AtheistRollCall</a> is Twittering away, and I&#39;d love to voice my support. There are so many reasons one can give, but in the words of the legendary <a href="https://en.wikipedia.org/wiki/Douglas_Adams#Personal_beliefs_and_activism">Douglas Adams</a>, <em>&quot;Isn&#39;t it enough to see that a garden is beautiful without having to believe that there are fairies at the bottom of it too?&quot;</em></p>
<p>Peace out ^_^</p>
 
