---
title: 'Taking journalists to task, with @Jeorgina' 
date: "2012-01-22T01:22:36+10:00"
year: "2012"
category: Media
tag:
- afghanistan
- australia
- heartdrops-org
- iraq
- jeorgina
- news
- p12
- united-states 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.taiga.newspaper.png" alt="Taiga from Toradora reading a newspaper." style="height:335px; width:254px;" class="transparent" /></p>
<p>Checking out one of the <a href="http://heartdrops.org/i-love-the-internet-but/">latest entries on Heartdrops.org</a> that arrived in my RSS reader, one particular section really struck a chord with me.</p>
<h3>Australian news sources</h3>
<blockquote><p>It’s always &quot;three thousand people were killed when a ship ran aground on the east coast of Whatchamacallit. About fifty of them are believed to be Australians&quot;. The latter sentence always ticks me off, because for some reason, when a large number of people have died, the fact is always put forward that so-and-so Australians have died.</p></blockquote>
<p>This x 10<sup>1024</sup>.</p>
<p>For me, nothing showed the shallow nature of much of the Australian media than when the Bali bombings took place. I was still living in Singapore at the time, and remember reading the stories in the Australian newspapers online about how many Australians had died in the attacks. If other nationalities and the greater number of innocent Indonesians were mentioned at all, often it would be in a throwaway remark or in the footer somewhere.</p>
<p>I don&#39;t care about nationalities, or patriotism, or any of that feudal nonsense. We&#39;re humans, and humans died.</p>
<h3>Other news sources</h3>
<p><img src="https://rubenerd.com/files/uploads/icon.tango.news.crop.png" alt="Icon from the Tango Desktop Project" style="height:77px; width:124px; margin:0px 0px 10px 20px; float:right;" class="transparent" /></p>
<blockquote><p>I begin to wonder if it is like that in other countries. Perhaps not.</p></blockquote>
<p>Unfortunately, Australia isn&#39;t alone in this case. As I&#39;ve lamented on Twitter time and time again, I&#39;m so sick of reading about all the American fatalities in Iraq and Afghanistan without any mention of the hundreds of thousands of civilian fatalities. I&#39;m sure you&#39;ve all noticed this too.</p>
<p>I&#39;ve had people try to spin this, but to me all this says is some lives are more important than others. The truly horrifying part is, some people don&#39;t see an issue with that.</p>
<blockquote><p>My brother, on the other hand, gratuitously laughs and repeats lines from newsreaders that follow as such: &quot;Good evening a man has died…&quot; where there is no pause for breath between the greeting and the announcement of a tragic incident. </p></blockquote>
<p>Reminds me of those line from a Jack Johnson song. <span style="font-style:italic;">Why don&#39;t the newscasters cry when they read about people who die? At least they could be decent enough to put just a tear in their eyes.</span></p>
<p>He answers the question in the same verse. <span style="font-style:italic;">It&#39;s just make believe</span>.</p>
 
