---
title: 'CNN Mashable' 
date: "2012-03-13T11:46:46+10:00"
year: "2012"
category: Internet
tag:
- business
- cnn
- infocomm
- mashable
- news
- p12
- takeovers 
location: sydney
---
<p><img class="transparent" src="https://rubenerd.com/files/uploads/icon.tango.news.crop.png" alt="Icon from the Tango Desktop Project" style="height:77px; width:124px; float:right; margin:0px 0px 10px 10px;" /></p>
<p>Everyone is all abuzz at the news that CNN may acquire Mashable. Presumably to tap into their social energy and reach, CNN will use them to adapt their infinitely larger, more bureaucratic, slow moving organisation into a nimble social media powerhouse. As all the tech pundits are saying, it&#39;s a brilliant strategy! A perfect fit! Synergistic paradigms!</p>
<p>Of course not. In reality, I predict Mashable would still be relevant for a year or so, then Peter Cashmore will leave CNN and start a new blog network. It happens. Every. Single. Time.</p>
<p>As an aside, the last (and only other) time I mentioned Mashable here was in 2009 for their Open Web Awards, of which I was <a href="//rubenerd.com/my-open-web-awards/">less than impressed</a> and came up with my own recommendations!</p>
 
