---
title: 'Empty spaces' 
date: "2012-07-06T11:28:54+10:00"
year: "2012"
category: Thoughts 
tag: 
- library
- p12
- personal
- spaces
- uts 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.uts.library.jpg" alt="View inside UTS library with nobody inside." style="width:500px; height:300px;" /></p>
<p>It&#39;s fascinating how the exact same space can feel so different simply with fewer people!</p>
<p>It was just over a month ago now when I ventured into my university&#39;s inner city library to work on several group assignments. We&#39;d met up several weekends in a row, filled up with coffee from the stand downstairs, and converted caffeine to code and UML. Despite being a &quot;library&quot;, it was buzzing with activity, so much so that often we had trouble locating desks to sit at! Packed, noisy, hot, and with internet slower than a busted toaster oven.</p>
<p><strong>Memo to UTS: more group work areas.</strong></p>
<p>Fast forward to now. Given the weather in Sydney over the last few days, I can only assume our local ancient phone exchange was flooded again, rendering our home internet as reliable as a toaster oven door built with slabs of cheese. Where in the hell are theses analogies come from? I was already in town attending various banking duties, so I figured I&#39;d afford myself the use of the university&#39;s wireless, and head to the library for a few hours.</p>
<p>Entering the building, the first thing I became aware of was I could still hear the sound of podcast chatter coming through my headphones. It was… quiet. Really, really quiet! As I identified myself to the gate machines with a swipe of my student ID card thingy, I noticed most of the desks were empty. There were computers free. Books were on shelves, not on tables.</p>
<p>Going upstairs and sitting in my favourite couch by the window I used to sit at before I had friends (shaddup!), it struck me just how empty the place was. The people didn&#39;t make much of a difference, it was more the complete absence of sound. It was eerie.</p>
<p>Of course, none of this is unexpected, with exams and the semester winding down and with most people heading out for holidays and such, clearly most people weren&#39;t as nerdy as me and thought they&#39;d spend a couple of hours there just hanging out! Maybe the [very!] recent memory of all the brain cramming and 11th hour assignment work scared the rest off.</p>
<p>Whatever the case, I&#39;ve always been fascinated with giant spaces with no people. Maybe it appeals to the introvert in me, but abandoned buildings, or buildings at odd times without occupants… there&#39;s just something profoundly different about them that can&#39;t just be explained as being an absence of people. Like school during the holidays, or offices on Sundays. </p>
<p>There&#39;s something else about empty places that usually have people. And I have no idea what it is.</p>
 
