---
title: 'Muppets, mini book review, Goldman Sachs' 
date: "2012-03-17T01:19:44+10:00"
year: "2012"
category: Thoughts 
tag: 
- banks
- books
- goldman-sachs
- money-and-power
- p12 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.GoldmanSachsHeadquarters.jpg" alt="" style="height:260px; width:500px;" /></p>
<p>I know this is rather beyond the scope of a <em>weblog of nerdish interests</em>, but this story really grabbed my attention over the last few days. It also gives me an excuse to an impromptu book review!</p>
<p><!--oldmore--></p>
<p><cite>Artsy image of the Goldman Sachs headquarters by <a href="http://commons.wikimedia.org/wiki/File:GoldmanSachsHeadquarters.JPG">Quantumquark on Wikimedia Commons</a>.</cite></p>
<h3>The story</h3>
<p>For those of you who don&#39;t follow this kind of thing (and I don&#39;t blame you!), a former worker at the investment bank Goldman Sachs has publicly come out describing the firm with some… rather choice words.</p>
<p>From a <a href="http://www.reuters.com/article/2012/03/15/us-goldman-smith-idUSBRE82D0RV20120315">Reuters report</a> by Douwe Miedema and Lauren Tara LaCapra, which you can tell because the first word of the report is &quot;Reuters&quot;:</p>
<blockquote cite="http://www.reuters.com/article/2012/03/15/us-goldman-smith-idUSBRE82D0RV20120315"><p>(Reuters) &#8211; Goldman Sachs faced an unprecedented assault from one of its own on Wednesday after a banker published a withering resignation letter in the New York Times, calling the Wall Street titan a &#8220;toxic&#8221; place where managing directors referred to their own clients as &#8220;muppets.&#8221;</p></blockquote>
<p>Disgruntled staff talking bluntly about their previous place of employment is hardly new, but these comments from Greg Smith made me raise an eyebrow. If I were capable of raising a single eyebrow. I tried my best to teach myself as a kid, but I never could do it. Perhaps I should have spent that time studying finance. But I digress.</p>
<h3>The book review</h3>
<p><img src="https://rubenerd.com/files/uploads/book.moneyandpower.jpg" alt="" style="height:320px; width:207px; display:inline; float:right; margin:0px 0px 10px 15px;" /> One of the first books I read when I procured a Kindle was &quot;Money and Power&quot;. In the book, William D. Cohan outlined in painstaking detail the history of Goldman Sachs, paying particular attenton to the course of events that led to what the firm is today, how they bundled and marketed all their derivatives into &quot;products&quot;, as well as opinions internally and externally about the firm. I find myself shaking my head in disbelief at times, but there was no doubt it was fascinating.</p>
<p>The recurring theme from the book was the idea senior management (the &quot;partners&quot; everyone strove to be) wanted to give the impression that the firm only succeeded when their clients did. There were some glaring examples of where this clearly wasn&#39;t true; such as their numerous conflicts of interest.</p>
<p>Still, the press release from Goldman Sachs in response to Greg&#39;s comments seemed to reinforce this sentiment. Good heavens, that was a long sentence.</p>
<blockquote><p>&#8220;We disagree with the views expressed, which we don’t think reflect the way we run our business. In our view, we will only be successful if our clients are successful. This fundamental truth lies at the heart of how we conduct ourselves.&#8221;</p></blockquote>
<h3>Hmm, wait a minute!</h3>
<p>This is where it gets interesting though. Read this report much further, and towards the end we get this comment from a banker at a competing institution:</p>
<blockquote><p>&#8220;In my experience … client success and firm success can peacefully coexist; in fact thrive,&#8221; Harris Private Bank Chief Investment Officer Jack Ablin said in an open letter.</p></blockquote>
<p>Note the wording. Mr Albin didn&#39;t say client and firm success &quot;always coexist&quot;, or &quot;needs to coexist&quot;, he said &quot;can coexist&quot;. That suggests the capability to coexist, but whether or not that&#39;s what happens in the real world is another point entirely. </p>
<p>Perhaps I&#39;m reading a little too far into a single word, but it sounds like political speak to me. You don&#39;t want to admit your firm is doing something, but on the other hand you don&#39;t want to deny it and later be called out for it.</p>
<p>In any case, Jack Albin doesn&#39;t work for Goldman Sachs, but I think he spoke an untold truth of the whole investment banking community with that comment. No doubt Goldman&#39;s PR department would be far too sharp to let such a comment slip ;).</p>
 
