---
title: 'Did Google Drive rip off Vplayer? Not really!' 
date: "2012-04-30T11:01:22+10:00"
year: "2012"
category: Internet
tag:
- art
- colour
- design
- google
- google-drive
- infocomm
- logos
- marketing
- mobius-strip
- p12 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/Google-Drive-Vplayer-icons-01.jpg" alt="Comparison of Google Drive's icon next to Vplayer, which is basically copied." style="height:337px; width:500px;" /></p>
<p>One of the current memes surrounding Google Drive seems to be how their logo was copied from Vplayer. As a logo nerd, I felt it my duty to clear the air!</p>
<h3>TechInAsia’s post</h3>
<p>From <a href="http://www.techinasia.com/google-drive-icon-resembles-vplayer/">TechInAsia</a>, where the above mockup is from:</p>
<blockquote><p>The Drive icon is essentially the Vplayer one with a bit of dimensional shading added, spun 90-degrees anti-clockwise, and then looked at from the other side. [..]</p>
<p>What do you think of the Drive logo? Perhaps Google got its inspiration elsewhere – maybe from the funky new tech blog The Verge. Let us know in the comments.</p></blockquote>
<p>I would let you know in the comments section of your site, but it needs JavaScript. Oh well!</p>
<h3>You install it on your Möb-ilephone</h3>
<p>While copying isn&#39;t unexpected behaviour from Google necessarily, I find TechInAsia&#39;s claim that their new logo was a copy of Vplayer to be a bit of a stretch. As far as I can tell, both services are employing Möbius Strip-like designs in their logos.</p>
<p>In fact, if we really wanted to discuss which companies are copying off whom, it took me a minute of image searching to come up with these:</p>
<p><a class="transparent" href="http://www.ukpayments.org.uk/"><img class="transparent" src="https://rubenerd.com/files/uploads/logo.mobius.ukpa.jpg" alt="Logo of UK Payments" /></a></p>
<p><a class="transparent" href="http://www.mobius.co.uk/"><img class="transparent" src="https://rubenerd.com/files/uploads/logo.mobius.businesstech.png" alt="Logo of Mobius in the UK" /></a></p>
<p><a class="transparent" href="http://www.appmobi.com/?q=mobius"><img class="transparent" src="https://rubenerd.com/files/uploads/logo.mobius.app.jpg" alt="Logo of MobiUS." /></a></p>
<p>The latter should be of most concern to Android and Google users, for it&#39;s an application for iPhones! It&#39;s name also gives away the design device in question.</p>
<h3>Recycled</h3>
<p>Still, perhaps the best known example of a Möbius Strip in use is the recycling icon. Perhaps it&#39;s making a comment that all these icons for all these services are merely reusing this same idea ;).</p>
<p>Here&#39;s my terrible mockup of the recycling icon, in the Google Drive colours.</p>
<p><img class="transparent" src="https://rubenerd.com/files/uploads/icon.recycling.google.256x248.png" style="height:248px; width:256px;" alt="Classic recycling icon, with colours taken from Google Drive" /></p>
<h3>Conclusion</h3>
<p>So I suppose the case could be made that the Google Drive logo bears a resemblence to Vplayer, but to be fair to Google, they&#39;re icon is a derivative of many, many others which were all based on a single wondrous twist of a belt.</p>
<p>There are many legitimate technical and privacy concerns surrounding Google Drive. This isn&#39;t one of them.</p>
 
