---
title: 'Google still silent on non-JavaScript +1' 
date: "2012-08-30T02:31:43+10:00"
year: "2012"
category: Internet
tag:
- crickets
- google
- google-plus
- infocomm
- javascript 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/icon.googleplus.png" alt="Google Plus icon" style="height:128px; width:128px; float:right; margin:0 0 10px 10px;" class="transparent" /></p>
<p>Remember in <a href="//rubenerd.com/non-js-google-plus/">November 2011</a> when I voted for a non-JavaScript Google +1 button? Let&#39;s see <a href="https://code.google.com/p/google-plus-platform/issues/detail?id=50">how we&#39;re doing</a> with getting an answer.</p>
<blockquote><p><strong>Comment 34 by rlueb…@gmail.com, Aug 27 (2 days ago)</strong>: This was reported September 2011 and is NOT fixed yet. Still no +1 without Javascript, only sharing. And still not a single remark from Google … Please add this feature. Due to laws in Germany +1 is unusable this way.</p></blockquote>
<p>I had my Google+ account <a href="//rubenerd.com/goodbye-googleplus/">suspended</a> for using my real name in March 2012, and I don&#39;t search with Google while logged in anyway. Still, would be nice to let Googlers vote for my stuff without <a href="//rubenerd.com/worrying-javascript/">JavaScript</a>.</p>
 
