---
title: 'Mark Latham on the left' 
date: "2012-04-22T01:18:00+10:00"
year: "2012"
category: Thoughts 
tag: 
- afr
- alp
- australia
- economics
- mark-latham
- p12 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/icon.redrose.png" alt="Red rose icon" style="height:127px; width:90px; float:right;" class="transparent" /></p>
<p>Towards the end of <a href="http://www.afr.com/p/lifestyle/review/climate_change_denial_not_just_for_sFAw16a7QU34KIj2tmN4eJ">his article</a> in the Australian Financial Review:</p>
<blockquote><p>In so many areas, the left is being forced to deal with the byproducts of its own success – achievements within the capitalist system that have generated knock-on problems.</p>
<p>At the beginning of the Industrial Revolution, there were two great socialist goals: widespread economic ownership and universal education. The first has produced a highly materialistic society (undermining traditional left-wing values of compassion and collectivism), while the second has, perversely enough, encouraged anti-enlightenment on climate change.</p></blockquote>
<p>He argues with greater education, we&#39;ve become dabblers in many fields without becoming experts, which predisposes us to be sceptical of traditional sources of authority, such as the scientific community. Interesting idea.</p>
 
