---
title: 'Megauploads to delete user data?' 
date: "2012-01-31T03:04:08+10:00"
year: "2012"
category: Internet
tag:
- infocomm
- law
- megaupload
- p12
- politics 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/icon.megaupload.png" alt="" style="height:153px; width:128px; float:right; margin:0px 0px 10px 20px;" class="transparent" /></p>
<p>Stewart Mitchell <a href="http://www.pcpro.co.uk/news/372478/megauploads-user-data-set-to-be-deleted">writing for PC Pro</a>:</p>
<blockquote cite="http://www.pcpro.co.uk/news/372478/megauploads-user-data-set-to-be-deleted"><p>Prosecutors in the US plan to start deleting data from the servers of file-sharing site Megauploads this week.</p></blockquote>
<p>Uh huh, sure ;).</p>
<blockquote cite="http://www.pcpro.co.uk/news/372478/megauploads-user-data-set-to-be-deleted"><p>The move has lead to claims that wiping files could make it impossible for the accused to defend themselves and deprive millions of users access to their personal files.</p></blockquote>
<p>This doesn&#39;t pass the smell test for me. I fear that access to data will be revoked, but law enforcement will maintain it to mine at a later date. On hard drives without encryption that people leave in taxis by mistake, but that&#39;s another issue.</p>
 
