---
title: 'Are sites storing your passwords securely?' 
date: "2012-08-05T04:08:31+10:00"
year: "2012"
category: Internet
tag:
- cryptography
- encryption
- infocomm
- passwords
- privacy
- security 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/anime.steinsgate.sitting.jpg" alt="Makise from Steins;Gate sitting, perhaps contemplating password hashes." style="height:313px; width:500px;" /></p>
<p>There have been so many password &quot;hacking&quot; stories lately, I thought I&#39;d write this post so I can refer back to it. For added security, I&#39;ve included the above image of <a href="http://myanimelist.net/character.php?id=34470">Makise Kurisu</a>, the scientist in my anime harem.</p>
<h3>Covering my behind</h3>
<p>Crypto is an exact science, so before I go any further I will make these clear.</p>
<ul>
<li>When I say <strong>random</strong>, technically I mean <strong>pseudorandom</strong>. Algorithms are deterministic, and computer order and logic can’t strictly speaking produce &quot;true&quot; randomness. Contemporary algorithms are an order of magnitude better than the BASIC RND() function of yore though.<p></p></li>
<li>When I say <strong>impossible</strong> and <strong>one way</strong>, I mean <strong>practically speaking</strong>. Our current algorithms would take the birth and death of several universes to brute force with current hardware, but that doesn’t mean it’s impossible. Just very very very very improbable!<p></p></li>
</ul>
<h3>How passwords are supposed to be stored</h3>
<p>When you create an account with a well designed, secure website, your chosen password is not stored anywhere. Instead, your password is put through a one way cryptographic hashing algorithm which converts it to random gibberish, along with some salt or random information only the web server knows.</p>
<p>When you attempt to log into your site, the password you give is hashed and compared to the hash on file. If they&#39;re the same the server knows you have the right password.</p>
<p>It&#39;s a proven, tested technique and it works… provided everything is implemented properly. No doubt you&#39;ve seen plenty of news stories suggesting sound security is harder than coming up with some snappy alliteration on a blog post.</p>
<p><img src="https://rubenerd.com/files/uploads/diagram.hashes.png" alt="Diagram showing a password and salt being fed into a hasing algorithm, which becomes a hashed password, which is passed to a database." style="height:202px; width:412px;" class="transparent" /></p>
<h3>Why go to the trouble?</h3>
<p>Rather than storing a hash of a password, you could simply store the password and compare it when someone logs in. It&#39;s simpler, and a worryingly large number sites still do this.</p>
<p>The problem is, if the database is broken into, the malicious hacker has access to all your customer&#39;s passwords. People like conserving energy (politically correct way of saying lazy!), and are probably using those same passwords for all sorts of stuff including their banking sites, email, social networks and so on. You can see what a disaster this could be!</p>
<p>If you store them as hashes, all anyone ever sees is random gibberish… even the site owner!</p>
<h3>How to tell</h3>
<p>Short of asking the site administrator, there are two main tells that a site is storing your passwords instead of a hash:</p>
<ul>
<li>They’re able to provide you with your password. This could happen when you first create your account and they send you a welcome email, or if you’ve said you’ve forgotten your password. A secure site should always direct you to a page to reset it, because they don’t know your password either.<p></p></li>
<li>Hashes take any password length and adjust them to a uniform size (such as 128 bits). Not always, but often if a site puts a limit on your password length, it’s because they’re storing it as plaintext in their database.</li>
</ul>
<p>There may have been (bad) excuses for these practices in the past, but not any more. If a site you access does either of these, it&#39;s time to question how important they are and whether they&#39;re worth risking your data and security over. Blunt, but true.</p>
<p>If you suspect a site you access is storing your password in plain text and you have no choice but to use them, complain, and make sure you pick something random and unique to that one site. If/when they get broken into, you&#39;ll be glad you did.</p>
 
