---
title: 'Retro DEC PDP11 graphics' 
date: "2012-06-04T05:48:25+10:00"
year: "2012"
category: Hardware 
tag:
- advertising
- art
- colour
- dec
- design
- graphics
- infocomm
- p12
- pdp11
- retrocomputing 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/graphic.pdp11.book.jpg" alt="" style="height:420px; width:273px;" /></p>
<p>Aside from the technological significance of the DEC PDP11 computers, I&#39;m also so thoroughly in love with their design, colours, fonts and advertising material. </p>
<p>Quintessentially 70s. I want that chair! The carpet! The red walls! A bank of dead PDP11s for hanging my clothes in, with a Mac Mini running an emulator inside it!</p>
<p>Scan by <a href="https://secure.flickr.com/photos/9479603@N02/3312573792/in/photostream/">PanelswitchMan on Flickr</a>.</p>
 
