---
title: 'pkgng is now in the FreeBSD Handbook' 
date: "2012-11-28T01:36:56+10:00"
year: "2012"
category: Software
tag:
- bsd
- freebsd
- freebsd-handbook
- infocomm
- package-managers
- pkgng
- ports
- portsnap 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/icon.freebsd-logo.png" alt="" style="height:175px; width:178px; float:right; margin:0 0 10px 10px;" class="transparent" /></p>
<p>As far as I&#39;m concerned, this makes it official! Under <a href="http://www.freebsd.org/doc/en_US.ISO8859-1/books/handbook/pkgng-intro.html">5.5 Using pkgng for Binary Package Management</a>:</p>
<blockquote><p>pkgng is an improved replacement for the traditional FreeBSD pkg_install package management tools, offering many features that make dealing with binary packages faster and easier. The first release of pkgng was in August, 2012.</p></blockquote>
<p>My only lingering gripe with pkgng was you still needed to download the ports tree or use pkg_add to install it, which seemed redundant. This has <em>also</em> been addressed:</p>
<blockquote><p>FreeBSD 9.1 and later includes a &#8220;bootstrap&#8221; utility for pkgng. The bootstrap utility will download and install pkgng. [..] To bootstrap the system, run:</p>
<pre>
# /usr/sbin/pkg
</pre>
</blockquote>
<p>I&#39;m counting this as an early Yuletide present from the lovely, epic FreeBSD developers and documentation team. I&#39;d jump in my chair with joy, <a href="//rubenerd.com/veritable-pain-in-the-neck/">if I could</a>!</p>
 
