---
title: 'SCnO-more?' 
date: "2012-09-22T09:06:39+10:00"
year: "2012"
category: Software
tag:
- caldera-linux
- infocomm
- nostalgia
- openserver
- sco
- site-design
- unix
- unixware 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/SCO_logo.png" alt="SCO's logo." style="width:317px; height:192px;" class="transparent" /></p>
<p>Do you all remember SCO? The Santa Cruz Operation? That phoenix of the Unix world that kept resurrecting in different forms to attack Linux? I was shocked to discover today it doesn&#39;t even exist anymore, or may as well not.</p>
<h3>If we remember back…</h3>
<p>It was the early 2000s, and I was an IT-obsessed loner in high school with a part time job writing Perl scripts in Singapore. My favourite jazz arist <a href="http://michaelfranks.com/">Michael Franks</a> had released his first (and entirely original) holiday album about aluminium stars for plastic trees. And The SCO Group had just launched its first lawsuit against IBM regarding Linux.</p>
<p>Seems like an age ago.</p>
<p>Regardless of your opinions of the company, SCO was fascinating. The first dedicated Unix company according to <a href="http://www.catb.org/~esr/">ESR</a>, SCO sold several Unix operating systems for various architectures starting in the late 1980s. Caldera Systems was founded in 1994, and later acquired the rights to these OSs and supporting technologies, eventually changing their name to The SCO Group in 2001. If you&#39;re confused, don&#39;t worry, at the time a lot of us were too.</p>
<p>The SCO Group gained notoriety across the net in 2004 when the company asserted key portions of Linux had been copied from their proprietary Unix code. Ironically, Caldera Systems had released their <a href="http://distrowatch.com/table.php?distribution=sco">own version of Linux</a> in the past, essentially meaning the company had violated itself.</p>
<p><img src="https://rubenerd.com/files/uploads/george_takei_oh_my.jpg" alt="George Takei saying: OH MY." style="width:250px; height:262px;" /></p>
<p>This lead to a series of lawsuits against IBM and several large companies that had used Linux. Novel countersued and claimed they&#39;d never given SCO the rights to Unix, but had instead licenced it, and therefore their entire case was moot. After years of legal wrangling, the cases were eventually either dismissed or lost. </p>
<p><a href="http://www.groklaw.net">Groklaw</a>, perhaps the world&#39;s most well known tech legal blog, has its roots in covering the story of these lawsuits.</p>
<p>Needless to say, despite the technical merits of the UnixWare and OpenServer operating systems, The SCO Group never recovered from these black eyes, and filed for Chapter 11 bankrupcy. Under American law, Chapter 11 gives a company the right to reorganise itself while being protected from it&#39;s creditors.</p>
<h3>And then the world forgot about it</h3>
<p>This was where I (and I suspect most of the world) lost interest and moved on several years ago. Well, there has been another development!</p>
<p><a href="https://en.wikipedia.org/wiki/SCO_Group">According to Wikipedia</a> referencing a legal filing in Delaware, The SCO Group sold their assets to <a href="http://unxis.com/">UnXis</a>, a company I&#39;ve never heard of before. The remaining shell of a company renamed themselves the TSG Group, and last month announced they&#39;d filed for Chapter 7 bankruptcy instead. </p>
<p><a href="http://www.groklaw.net/article.php?story=20120807133033596">According to Groklaw</a>:</p>
<blockquote><p>Chapter 7 means you’ve given up the ghost and are shutting down. But not SCO. They want the litigation with IBM to continue. But there’s almost no money left.</p></blockquote>
<p>I have this mental image of a guy struggling up a steep hill, gasping for breath.</p>
<h3>A site for giving sore eyes</h3>
<p>In any event, I belabour all of this to show you a screenshot of the new owners of the SCO Group&#39;s <a href="http://unxis.com/">website</a>. From what I can tell, they merely kept the same design and navigation as before, but changed the logos to this up-scaled monstrosity.</p>
<p>Far be it for me to critisise someone else&#39;s site design when my own site <a href="//rubenerd.com/">looks like this</a>, but still. A highly compressed JPEG with artifacting, a scaled logo in the centre, grey boxes around everything, off centered dropdown menus. Even their feedback form throws a untrusted site certificate error!</p>
<p><img src="https://rubenerd.com/files/uploads/screenshot.unxis.png" alt="Screenshot from the UNXIS website." style="width:500px; height:395px;" /></p>
<p>The site design doesn&#39;t instil much confidence. All of this looks to me like an operation in name only; either that or this is a very temporary transition site before they unveil something new. UnixWare and OpenServer are decent products, it&#39;s a shame they&#39;re being let down by a site such as this.</p>
<p>I wonder what the future holds for these companies? Wouldn&#39;t it be funny if the companies went bust and they released their software as free/open source? ;)</p>
 
