---
title: 'Sydney in three words, maybe' 
date: "2012-03-09T02:36:49+10:00"
year: "2012"
category: Internet
tag:
- infocomm
- p12 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/photo.sydney.4colours.png" alt="Dithered picture of Sydney's CBD using onlt four colours." style="height:180px; width:500px;" /></p>
<p>Having lived back in Sydney for over a year now, I was interested to read the responses to <em>&quot;How do you describe Sydney in three words?&quot;</em> <a href="http://www.sydneyism.com/how-do-you-describe-sydney-in-three-words/">on Sydneyism</a>. Of the fifteen responses, four used more than three words.</p>
<p>Therefore, my answer: <em>Some Can&#39;t Count!</em></p>
<p>As for the photo, it&#39;s one of mine that I reduced to use three colours (grey of course not being a colour… or is it?). I suddently have DOS nostalgia.</p>
 
