---
title: 'Technorati re-verification' 
date: "2012-11-21T03:33:18+10:00"
year: "2012"
category: Internet
tag:
- infocomm
- nostalgia
- technorati
- verification
- weblog 
location: sydney
---
<p><img src="https://rubenerd.com/files/uploads/page0_blog_entry19_1.gif" style="width:221px; height:40px;" alt="Technorati" class="transparent" /></p>
<blockquote><p>Technorati will need to verify that you are an author of the blog by looking for a unique code. Please put the following short code BWSUEMRM6QG8 within a new blog post and publish it.</p></blockquote>
<p>I already <a href="//rubenerd.com/technorati/">did this in 2005</a>, but somehow <a href="http://technorati.com/blogs/rubenerd.com">Rubenerd.com</a> posts stopped appearing there recently. When I attempted to update the site details, it asked me to re-verify. Done and done, and I mean done.</p>
<p>Incidentally, I&#39;m using the same Technorati logo image on this post as I did in 2005. It has the same awful, mangled <a href="//rubenerd.com/files/uploads/page0_blog_entry19_1.gif">file name</a> that my old CMS gave it at the time. True facts. Any of this helping to verify my site, Technorati?</p>
 
