---
title: 'Our dog Tiger trying to nom pizza' 
date: "2012-01-16T08:33:10+10:00"
year: "2012"
category: Media
tag:
- dogs
- family
- food
- p12
- pets
- pointless
- video
- vimeo
location: sydney
---
<p><a target="_BLANK" href="https://player.vimeo.com/video/35075144" title="Play Our doggie Tiger trying to nom on pizza"><img src="https://rubenerd.com/files/2012/vimeo-35075144@1x.jpg" srcset="https://rubenerd.com/files/2012/vimeo-35075144@1x.jpg 1x, https://rubenerd.com/files/2012/vimeo-35075144@2x.jpg 2x" alt="Play Our doggie Tiger trying to nom on pizza" style="width:500px; height:281px;" /></a></p>

<p>It’s Monday again, so to lift our spirits I thought I’d post something adorable and utterly pointless. Well, more pointless than I usually post. Enjoy.</p>
 
