---
title: 'My first digital camera photo!'
date: "2012-05-24T09:16:21+10:00"
year: "2012"
category: Media
tag:
- nostalgia
- p12
- retrocomputing
- singapore
- sony
- vaio-pcg-c1vm
location: Singapore
---
<p><img src="https://rubenerd.com/files/uploads/P000066F.JPG" style="width:320px; height:240px;" alt="Photo of a soapstone sculpture on our balcony in Singapore taken in 2001." /></p>
<p>Going through my backups this afternoon, I stumbled upon all the photos I took with my <a href="http://www.sony.com.sg/support/product/pcg-c1vm">Sony Vaio PCG-C1VM</a> laptop. It was one of the first laptops to include a built in webcam, and took horribly bad 320&#215;240 images! Still, at the time it was my only digital camera, so I spent ages taking shots with it like the silly nerd I was.</p>
<p>According to the time stamp, this photo was taken on the 11th of July 2001. I think it was on our balcony at <a href="http://www.singaporeexpats.com/singapore-property-pictures/condo/high-point.htm">Highpoint</a> in Singapore. Nostalgia!</p>
 
