---
title: "Trains Ruben Taketh: S60"
date: "2011-07-10T03:30:57+00:00"
source: https://trainsrubentaketh.tumblr.com/post/7441556793
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lo3lruDYR9.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lo3lruDYR9.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lo3lruDYR9@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>Trippy!!!</p>

<p>S60 from Bardwell Park to Kingsgrove.</p>

<p>Cleanliness: Spilled coffee!</p>
