---
title: "Trains Ruben Taketh: Badadvertisementsarebad"
date: "2011-08-03T07:06:27+00:00"
source: https://trainsrubentaketh.tumblr.com/post/8420299123
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lpcbqrGuFV.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lpcbqrGuFV.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lpcbqrGuFV@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>Chromeadvertatmirandastation</p>
