---
title: "Trains Ruben Taketh: T24"
date: "2010-12-11T06:21:29+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2172161567
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ld93pkAWbP.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ld93pkAWbP.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ld93pkAWbP@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T24 from Bardwell Park to St James</p>
