---
title: "Trains Ruben Taketh: M4, again!"
date: "2011-03-12T10:43:43+00:00"
source: https://trainsrubentaketh.tumblr.com/post/3804187714
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lhxy59TtN9.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lhxy59TtN9.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lhxy59TtN9@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M4 from Museum to Bardwell Park.</p>

<p>Cleanliness: Excellent!</p>
