---
title: "Jaiku: 2008-07"
date: "2008-07-26T02:21:00+08:00"
year: "2008"
category: Annexe
tag:
- from-jaiku
---
<p style="font-style:italic">These posts were imported to the Annexe from Jaiku, which Google bought and shut down.</p>
<dl>

<dt>Just got back from Funan. Got a new Cooler Master Notepal thingy for my VERY toasty 1st generation MacBook Pro!</dt>
<dd><time datetime="2008-07-06T09:37:00+08:00">2008-07-06 09:37:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39320551">Jaiku</a><p></p></dd>

<dt>Installing Vim.app :-)</dt>
<dd><time datetime="2008-07-06T10:12:00+08:00">2008-07-06 10:12:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39322079">Jaiku</a><p></p></dd>

<dt>Half way through Neomi Klein's &quot;Shock Doctrine&quot;. Somewhat boosted my scepticism that pure capitalism solves everything!</dt>
<dd><time datetime="2008-07-07T02:11:00+08:00">2008-07-07 02:11:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39366297">Jaiku</a><p></p></dd>

<dt>Off to Subway for a breakfast deli roll while it's still morning :-).</dt>
<dd><time datetime="2008-07-07T02:12:00+08:00">2008-07-07 02:12:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39366372">Jaiku</a><p></p></dd>

<dt>Now that I know I'll be leaving my desktop in Singapore when I go back to Adelaide, I'm reconfiguring to make it easy to remotely connect</dt>
<dd><time datetime="2008-07-07T11:18:00+08:00">2008-07-07 11:18:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39392358">Jaiku</a><p></p></dd>

<dt>I have such a headache again, Tiger Balm to the rescue!</dt>
<dd><time datetime="2008-07-08T05:43:00+08:00">2008-07-08 05:43:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39454898">Jaiku</a><p></p></dd>

<dt>I have to talk to medical insurance agent arses again today, that probably explains this headache. Argh not looking forward to this</dt>
<dd><time datetime="2008-07-08T05:56:00+08:00">2008-07-08 05:56:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39455664">Jaiku</a><p></p></dd>

<dt>Realised I didn't have The Gimp installed on my FreeBSD machine. Typed in &quot;pkg_add -rv gimp&quot;. DONE!</dt>
<dd><time datetime="2008-07-08T13:13:00+08:00">2008-07-08 13:13:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39481048">Jaiku</a><p></p></dd>

<dt>Was added by another 5 spammers on Twitter today!</dt>
<dd><time datetime="2008-07-08T17:01:00+08:00">2008-07-08 17:01:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39496131">Jaiku</a><p></p></dd>

<dt>Backing up a pile of CDs to ISOs on my external hard drive</dt>
<dd><time datetime="2008-07-08T17:59:00+08:00">2008-07-08 17:59:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39499583">Jaiku</a><p></p></dd>

<dt>... while listening to Herb Alpert :-)</dt>
<dd><time datetime="2008-07-08T17:59:00+08:00">2008-07-08 17:59:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39499650">Jaiku</a><p></p></dd>

<dt>Whoops! Retweeting @truemors: Rugby Viewers Treated to 4 Minutes of Porn http://tinyurl.com/68dvdr</dt>
<dd><time datetime="2008-07-08T19:14:00+08:00">2008-07-08 19:14:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39504466">Jaiku</a><p></p></dd>

<dt>Blackaaaaaaaaaaaadder, blackaaaaaaaaaaaaaadder</dt>
<dd><time datetime="2008-07-10T06:38:00+08:00">2008-07-10 06:38:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39638888">Jaiku</a><p></p></dd>

<dt>Reinstalled Leopard on my MacBook Pro, bought new screen protector, keyboard cover, port covers and handrest cover. Feels like a new Mac :)</dt>
<dd><time datetime="2008-07-11T10:17:00+08:00">2008-07-11 10:17:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39683895">Jaiku</a><p></p></dd>

<dt>Nothing like a fresh reinstall of everything to make an older machine feel fast and new :-). Now back to work I'm *supposed* to be doing!</dt>
<dd><time datetime="2008-07-11T10:18:00+08:00">2008-07-11 10:18:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39683902">Jaiku</a><p></p></dd>

<dt>Very cool: Retweeting @bbcscitech: New solar technology could increase the power generated by solar panels tenfold <a href="http://news.bbc.co.uk/2/hi/technology/7501476.stm">http://tinyurl.com/56692m</a></dt>
<dd><time datetime="2008-07-11T10:18:00+08:00">2008-07-11 10:18:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39683904">Jaiku</a><p></p></dd>

<dt>Long live iMovie HD '06! Wouldn't be able to do my assignments with iMovie 08, HD '06 rocks!</dt>
<dd><time datetime="2008-07-11T10:21:00+08:00">2008-07-11 10:21:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39684192">Jaiku</a><p></p></dd>

<dt>My partner sent me the video that he edited, but he sent me the finished version not the project! Going through and re-cutting it up</dt>
<dd><time datetime="2008-07-11T11:26:00+08:00">2008-07-11 11:26:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39690218">Jaiku</a><p></p></dd>

<dt>Perhaps it is time for me to invest in Final Cut Express! Does FCE have a feature to auto-split up scenes in a movie?</dt>
<dd><time datetime="2008-07-11T11:27:00+08:00">2008-07-11 11:27:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39690410">Jaiku</a><p></p></dd>

<dt>Uh-oh, this is no good Retweeting @abcnews: Tensions escalate between Russia and Georgia: <a href="http://www.abc.net.au/news/2008-07-11/tensions-escalate-between-russia-and-georgia/438490">http://tinyurl.com/6dtybm</a></dt>
<dd><time datetime="2008-07-11T11:29:00+08:00">2008-07-11 11:29:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39690484">Jaiku</a><p></p></dd>

<dt>The bookmarking feature in iMovie HD 06 is such a simple feature, but absolutely critically useful!</dt>
<dd><time datetime="2008-07-11T13:22:00+08:00">2008-07-11 13:22:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39700773">Jaiku</a><p></p></dd>

<dt>Argh got another headache all of a sudde, right when I have so much to do!</dt>
<dd><time datetime="2008-07-12T06:48:00+08:00">2008-07-12 06:48:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39794350">Jaiku</a><p></p></dd>

<dt>Spending my Saturday night in the CBD of Singapore... searching through someone else's code trying to figure out why it crashes :-(</dt>
<dd><time datetime="2008-07-12T13:04:00+08:00">2008-07-12 13:04:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39816834">Jaiku</a><p></p></dd>

<dt>Listening to the latest Security Now with Steve Gibson in the background to keep myself sane. Having nostalgia for Pascal ;-)</dt>
<dd><time datetime="2008-07-12T13:05:00+08:00">2008-07-12 13:05:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39816839">Jaiku</a><p></p></dd>

<dt>In case anyone hasn</dt>
<dd><time datetime="2008-07-12T13:06:00+08:00">2008-07-12 13:06:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39816846">Jaiku</a><p></p></dd>

<dt>In case anyone hasn't noticed, my current favourite word is &quot;svelte&quot; again after a 10 year break</dt>
<dd><time datetime="2008-07-12T13:06:00+08:00">2008-07-12 13:06:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39816858">Jaiku</a><p></p></dd>

<dt>If I build Flac from MacPorts with the &quot;Darwin_i386&quot; parameter, will it do what logically we think it will do, or will it do something else?</dt>
<dd><time datetime="2008-07-12T14:01:00+08:00">2008-07-12 14:01:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39819962">Jaiku</a><p></p></dd>

<dt>So tired though, I think my brain is just about dead after all the stuff I've done tonight</dt>
<dd><time datetime="2008-07-12T18:52:00+08:00">2008-07-12 18:52:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39835559">Jaiku</a><p></p></dd>

<dt>Only one problem with strong encryption! <a href="//rubenerd.com/p1205/">//rubenerd.comshow.com/blog/p1205/</a></dt>
<dd><time datetime="2008-07-14T15:08:00+08:00">2008-07-14 15:08:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39966012">Jaiku</a><p></p></dd>

<dt>Encryption is up to 11.56GiB. Perhaps it will take as long as it's saying... uh oh</dt>
<dd><time datetime="2008-07-14T17:28:00+08:00">2008-07-14 17:28:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39974231">Jaiku</a><p></p></dd>

<dt>Finally going to bed. My last night sleeping in this bed in Singapore until Christmas... spooky</dt>
<dd><time datetime="2008-07-14T18:19:00+08:00">2008-07-14 18:19:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39977436">Jaiku</a><p></p></dd>

<dt>Almost forgot... typing in &quot;% rzip -9Pv *.dpa&quot; to compress all those suckers while I</dt>
<dd><time datetime="2008-07-14T18:22:00+08:00">2008-07-14 18:22:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39977505">Jaiku</a><p></p></dd>

<dt>Almost forgot... typing in &quot;% rzip -9Pv *.dpa&quot; to compress all those suckers while I sleep :-)</dt>
<dd><time datetime="2008-07-14T18:22:00+08:00">2008-07-14 18:22:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/39977507">Jaiku</a><p></p></dd>

<dt>Good morning everyone :-). Encryption up to 37.42GiB done.</dt>
<dd><time datetime="2008-07-15T01:37:00+08:00">2008-07-15 01:37:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/40005677">Jaiku</a><p></p></dd>

<dt>TrueCrypt on Mac still isn't on par with the Windows conterpart, but it's still very effective</dt>
<dd><time datetime="2008-07-15T02:56:00+08:00">2008-07-15 02:56:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/40010569">Jaiku</a><p></p></dd>

<dt>Using Twhirl to check my Tweets again instead of using my phone. Lots of direct messages to reply to!</dt>
<dd><time datetime="2008-07-20T12:42:00+08:00">2008-07-20 12:42:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/40440976">Jaiku</a><p></p></dd>

<dt>ADELAIDE UPDATE: Just got some more furniture, got the phone and power connected at home. Internet connected next week :)</dt>
<dd><time datetime="2008-07-26T02:21:00+08:00">2008-07-26 02:21:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/40876235">Jaiku</a><p></p></dd>

</dl>
