---
title: "The Chrysler Building"
date: "2011-03-10T07:50:21+00:00"
source: "https://rubenerd.tumblr.com/post/3760386165"
references: "https://www.flickr.com/photos/obliot/5471450243/in/photostream/"
year: "2011"
category: Annexe
tag:
- from-tumblr
- architecture
- art
- design
- new-york
- united-states
---
<p style="font-style:italic">This post originally appeared on the <a title="Rubenerd Annexe post" href="https://rubenerd.tumblr.com/post/3760386165">Annexe</a>.</p>

<figure class="tumblr-figure">
<a title="Original source" href="https://www.flickr.com/photos/obliot/5471450243/in/photostream/"><img src="https://rubenerd.com/files/museum/tumblr_lhrabqrXDf1qdxummo1_1280.jpg" alt="The Chrysler Building" /></a>
</figure>

<p><a href="http://newlyyorked.tumblr.com/post/3727436387" class="tumblr_blog">newlyyorked</a>:</p>

<blockquote>Chrysler Building</blockquote>

<p>No other Art Deco designed building comes close :).</p>

