---
title: "Trains Ruben Taketh: M15"
date: "2010-12-23T06:17:19+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2427425256
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ldvat6Y1oN.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ldvat6Y1oN.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ldvat6Y1oN@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M15 from Bardwell Park to City</p>
