---
title: "The Known Universe by AMNH"
date: "2011-07-08T13:50:27+00:00"
source: "https://rubenerd.tumblr.com/post/7382127181"
year: "2011"
category: Annexe
tag:
- from-tumblr
- science
- space
- video
---
<p style="font-style:italic">This post originally appeared on the <a title="Rubenerd Annexe post" href="https://rubenerd.tumblr.com/post/7382127181">Annexe</a>.</p>

<p><a href="https://youtube.com/watch?v=17jymDn0W6U" title="Play The Known Universe by AMNH"><img src="https://rubenerd.com/files/museum/yt-17jymDn0W6U@1x.jpg" srcset="https://rubenerd.com/files/museum/yt-17jymDn0W6U@1x.jpg 1x, https://rubenerd.com/files/museum/yt-17jymDn0W6U@2x.jpg 2x" alt="Play The Known Universe by AMNH" style="width:450px;height:360px;" /></a>

<p>THIS.</p>

<p><a href="http://ezcr8.tumblr.com/post/7379453781" class="tumblr_blog">ezcr8</a>:</p>

<blockquote><p>Want to feel insignificant? Want to feel unique in the universe? <strong>Watch the video.</strong> Humans should feel privileged to even exist.  Humans should be impressed they continue to exist in such a HUGE universe. As humans, our lives are governed by our actions in the universe. Make every moment matter. <strong>This video will expand your mind.</strong></p></blockquote>  

