---
title: "Trains Ruben Taketh: T44"
date: "2011-03-22T01:32:37+00:00"
source: https://trainsrubentaketh.tumblr.com/post/4014451496
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lifr06pnwS.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lifr06pnwS.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lifr06pnwS@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T44 from Bardwell Park to Central</p>

<p>Cleanliness: Good</p>
