---
title: "Trains Ruben Taketh: T43"
date: "2012-04-02T02:28:09+00:00"
source: https://trainsrubentaketh.tumblr.com/post/20328131833
year: "2012"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_m1tyuxK8vc.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_m1tyuxK8vc.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_m1tyuxK8vc@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T43 from Bardwell Park to Central.</p>

<p>Cleanliness: Refurbished and squishy!</p>
