---
title: "Trains Ruben Taketh: M22, yet again!"
date: "2011-03-13T07:54:26+00:00"
source: https://trainsrubentaketh.tumblr.com/post/3827224785
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lhzktcGKA9.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lhzktcGKA9.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lhzktcGKA9@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M22 from Bardwell Park to Museum</p>
