---
title: "A DC-9 and 727"
date: "2011-03-01T21:02:02+00:00"
source: "https://rubenerd.tumblr.com/post/3587197148"
references: "http://www.airliners.net/photo/Iberia/Boeing-727-256-Adv/1873925/L/"
year: "2011"
category: Annexe
tag:
- from-tumblr
- funny
- aviation
- dc-9
- boeing
- douglass
- aviation
- photos
- boeing-727
---
<p style="font-style:italic">This post originally appeared on the <a title="Rubenerd Annexe post" href="https://rubenerd.tumblr.com/post/3587197148">Annexe</a>.</p>

<figure class="tumblr-figure">
<a title="Original source" href="http://www.airliners.net/photo/Iberia/Boeing-727-256-Adv/1873925/L/"><img src="https://rubenerd.com/files/museum/tumblr_lhed3eFKIt1qz77sbo1_1280.jpg" alt="" /></a>
</figure>

<p>Ehehehehe :D. DC-9 and 727 at Madrid Airport.</p>

