---
title: "Trains Ruben Taketh: T24, again!"
date: "2010-12-20T07:56:57+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2385415195
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ldpvf6sReY.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ldpvf6sReY.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ldpvf6sReY@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T24 from Museum to Bardwell Park</p>
