---
title: "Trains Ruben Taketh: M15, again!"
date: "2011-01-15T10:36:58+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2758469790
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lf2867kACz.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lf2867kACz.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lf2867kACz@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M15 from Museum to Bardwell Park</p>
