---
title: "Trains Ruben Taketh: S85"
date: "2011-01-19T10:12:28+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2824908723
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lf9lwo7Acv.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lf9lwo7Acv.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lf9lwo7Acv@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>S85 from Museum to Bardwell Park</p>
