---
title: "Trains Ruben Taketh: S29"
date: "2011-01-15T09:21:22+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2758016498
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lf24oucjos.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lf24oucjos.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lf24oucjos@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>S29 from Bardwell Park to Museum</p>
