---
title: "My new years resolution"
date: "2011-01-01T02:37:41+00:00"
source: "https://rubenerd.tumblr.com/post/2548953464"
references: "http://timetoretirethisoldblog.tumblr.com/post/2515025061/my-new-years-resolution"
year: "2011"
category: Annexe
tag:
- displays
- from-tumblr
- jokes
- pointless
---
<p style="font-style:italic">This post originally appeared on the <a title="Rubenerd Annexe post" href="https://rubenerd.tumblr.com/post/2548953464">Annexe</a>.</p>

<p><a href="http://sofapizza.tumblr.com/post/2540827148/my-new-years-resolution">sofapizza</a>:</p>
<blockquote>
<p><a href="http://iamnotyourboyfriend.tumblr.com/post/2515025061/my-new-years-resolution">iamnotyourboyfriend</a>:</p>
<blockquote>
<p>will be 1280x720.</p>
<a title="Original source" href="http://timetoretirethisoldblog.tumblr.com/post/2515025061/my-new-years-resolution"><p><img src="https://rubenerd.com/files/museum/tumblr_le7dmyKnq31qzwoyr.png" alt="HAW HAW HAW! BWA HAH HAH!" /></p></a>
</blockquote>
<p>NERD JOKE FTW!!</p>
</blockquote>

<p>See mine&rsquo;s at least 1920x1200.</p>

