---
title: "Trains Ruben Taketh: T18"
date: "2010-12-12T03:40:16+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2181661796
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ldaq7cNR55.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ldaq7cNR55.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ldaq7cNR55@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T18 from International Airport to Bardwell Park</p>
