---
title: "Trains Ruben Taketh: S8"
date: "2011-09-15T05:29:58+00:00"
source: https://trainsrubentaketh.tumblr.com/post/10232159200
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lrjtxyLr5X.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lrjtxyLr5X.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lrjtxyLr5X@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>S8 from Bardwell Park to Central</p>

<p>Cleanliness: Fine</p>
