---
title: "Trains Ruben Taketh: T15"
date: "2010-12-08T11:38:20+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2142546545
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ld3xoqSpZL.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ld3xoqSpZL.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ld3xoqSpZL@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T15 from Bardwell Park to Central</p>
