---
title: "Sinclairs and a Commodore 64"
date: "2010-11-16T06:20:00+00:00"
source: "https://rubenerd.tumblr.com/post/1588912591"
references: "http://gameon-dublin.ie/home/index.php/gallery"
year: "2010"
category: Annexe
tag:
- from-tumblr
- retrocomputing
---
<p style="font-style:italic">This post originally appeared on the <a title="Rubenerd Annexe post" href="https://rubenerd.tumblr.com/post/1588912591">Annexe</a>.</p>

<figure class="tumblr-figure">
<a title="Original source" href="http://gameon-dublin.ie/home/index.php/gallery"><img src="https://rubenerd.com/files/museum/tumblr_lbysay8pn41qz77sbo1_1280.jpg" alt="" /></a>
</figure>

<p>Size comparison. Wish I had all three of these :)</p>

