---
title: "Trains Ruben Taketh: M23"
date: "2011-03-29T10:52:55+00:00"
source: https://trainsrubentaketh.tumblr.com/post/4182242479
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_litfkkEdZk.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_litfkkEdZk.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_litfkkEdZk@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M23 from Central to Bardwell Park</p>

<p>Cleanliness: Good</p>
