---
title: "Trains Ruben Taketh: T47"
date: "2011-02-08T09:42:01+00:00"
source: https://trainsrubentaketh.tumblr.com/post/3179120111
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lgalmza97X.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lgalmza97X.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lgalmza97X@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T47 from Bardwell Park to Museum</p>
