---
title: "Trains Ruben Taketh: T12"
date: "2010-12-08T13:25:28+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2143127568
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ld42mqTmna.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ld42mqTmna.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ld42mqTmna@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T12 from Town Hall to Bardwell Park</p>
