---
title: "Trains Ruben Taketh: M18"
date: "2011-08-11T05:42:43+00:00"
source: https://trainsrubentaketh.tumblr.com/post/8768333475
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lpr177U0X6.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lpr177U0X6.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lpr177U0X6@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M18 from Bardwell Park to City Circle.</p>

<p>Cleanliness: Shiny!</p>
