---
title: "Jaiku: 2008-08"
date: "2008-08-16T07:05:00+08:00"
year: "2008"
category: Annexe
tag:
- from-jaiku
---
<p>These posts originally appeared on Jaiku, which Google bought and shut down</p>

<dl>

<dt>Hello everone in Twitterland, it's sure been a while! Still don't have interent at home, typing this from a coffee shop in Mawson Lakes.</dt>
<dd><time datetime="2008-08-09T08:13:00+08:00">2008-08-09 08:13:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/42101530">Jaiku</a><p></p></dd>

<dt>If you didn't see my blog recently, approx time for new home DSL connection is going to be several WEEKS!</dt>
<dd><time datetime="2008-08-09T08:14:00+08:00">2008-08-09 08:14:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/42101532">Jaiku</a><p></p></dd>

<dt>I've registered for Virgin Mobile Broadband in the meantime, but won't be approved until Monday. Why isn't anything ever easy here? :-(</dt>
<dd><time datetime="2008-08-09T08:15:00+08:00">2008-08-09 08:15:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/42101535">Jaiku</a><p></p></dd>

<dt>I've also plugged the code injection exploit on the show site too. Can't leave the intertubes for a few weeks at all it seems!</dt>
<dd><time datetime="2008-08-09T08:17:00+08:00">2008-08-09 08:17:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/42101608">Jaiku</a><p></p></dd>

<dt>Hello again everyone, I'm back on the 24 hour internet again, our home ADSL is all connected and ready to go :-)</dt>
<dd><time datetime="2008-08-16T05:42:00+08:00">2008-08-16 05:42:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/42672679">Jaiku</a><p></p></dd>

<dt>Configuring FreeBSD to dowload material from Internode mirrors instead of FreeBSD's servers. MUCH faster, and doesn't count towards quota</dt>
<dd><time datetime="2008-08-16T05:45:00+08:00">2008-08-16 05:45:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/42672771">Jaiku</a><p></p></dd>

<dt>The Haskell.org site is back up!</dt>
<dd><time datetime="2008-08-16T07:05:00+08:00">2008-08-16 07:05:00+08:00</time> on <a href="//rubenerd.jaiku.com/presence/42677720">Jaiku</a><p></p></dd>

</dl>
