---
title: "Retro Gateway ad"
date: "2010-11-28T03:04:00+00:00"
source: "https://rubenerd.tumblr.com/post/1709172688"
year: "2010"
category: Annexe
tag:
- from-tumblr
- retrocomputing
---
<p style="font-style:italic">This post originally appeared on the <a title="Rubenerd Annexe post" href="https://rubenerd.tumblr.com/post/1709172688">Annexe</a>.</p>

<figure class="tumblr-figure">
<img src="https://rubenerd.com/files/museum/tumblr_lckr74YTeq1qz77sbo1_1280.gif" alt="Gateway ad for a 1.2GHz PC with Monitor, CD Burner and Windows Registered Trademark XP" />
</figure>

<p>Looks like a good deal.</p>

