---
title: "Trains Ruben Taketh: A1"
date: "2012-04-09T04:59:27+00:00"
source: https://trainsrubentaketh.tumblr.com/post/20763945862
year: "2012"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_m274j37psk.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_m274j37psk.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_m274j37psk@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>A1 from Bardwell Park to Central.</p>

<p>Cleanliness: New and shiny!</p>
