---
title: "Trains Ruben Taketh: S78, again!"
date: "2012-04-03T06:25:31+00:00"
source: https://trainsrubentaketh.tumblr.com/post/20397842643
year: "2012"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_m1w4ijsnV6.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_m1w4ijsnV6.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_m1w4ijsnV6@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>S78 from Bardwell Park to Central</p>

<p>Cleanliness: Surprisingly good!</p>
