---
title: "Trains Ruben Taketh: S87"
date: "2011-01-02T03:50:59+00:00"
source: https://trainsrubentaketh.tumblr.com/post/2562182319
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_ledmrihRSx.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_ledmrihRSx.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_ledmrihRSx@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>S87 from Bardwell Park to City</p>
