---
title: "The PDP-1"
date: "2010-11-16T10:04:00+00:00"
source: "https://rubenerd.tumblr.com/post/1590124094"
references: "http://gameon-dublin.ie/home/index.php/gallery"
year: "2010"
category: Annexe
tag:
- from-tumblr
- retrocomputing
---
<p style="font-style:italic">This post originally appeared on the <a title="Rubenerd Annexe post" href="https://rubenerd.tumblr.com/post/1590124094">Annexe</a>.</p>

<figure class="tumblr-figure">
<a title="Original source" href="http://gameon-dublin.ie/home/index.php/gallery"><img src="https://rubenerd.com/files/museum/tumblr_lbz2o9NtMU1qz77sbo1_1280.jpg" alt="" /></a>
</figure>

<p>A PDP-1! Most I can write assembler for is the PDP-8, and only a teeny bit ;).</p>

