---
title: "Trains Ruben Taketh: M8"
date: "2011-02-08T11:46:13+00:00"
source: https://trainsrubentaketh.tumblr.com/post/3179956474
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lgardbcNHR.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lgardbcNHR.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lgardbcNHR@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M8 from Central to Bardwell Park</p>
