---
title: "Trains Ruben Taketh: T107, again!"
date: "2012-01-30T09:49:34+00:00"
source: https://trainsrubentaketh.tumblr.com/post/16754606273
year: "2012"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lylvamAUf0.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lylvamAUf0.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lylvamAUf0@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T107 from Bardwell Park to Museum</p>

<p>Cleanliness: Shiny and refurbished FTW!</p>
