---
title: "Trains Ruben Taketh: A3"
date: "2011-08-21T08:48:58+00:00"
source: https://trainsrubentaketh.tumblr.com/post/9201928120
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lq9shmF9kB.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lq9shmF9kB.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lq9shmF9kB@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>A3 from Central to Bardwell Park</p>

<p>Cleanliness: Brand new and shiny!</p>
