---
title: "Trains Ruben Taketh: S56"
date: "2011-03-10T01:56:32+00:00"
source: https://trainsrubentaketh.tumblr.com/post/3754799243
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lhtk34OBf5.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lhtk34OBf5.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lhtk34OBf5@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>S56 from Bardwell Park to Central</p>

<p>Cleanliness: Average</p>
