---
title: "Sinclair ZX Spectrum +3 128K"
date: "2010-12-05T11:46:44+00:00"
source: "https://rubenerd.tumblr.com/post/2106421388"
year: "2010"
category: Annexe
tag:
- from-tumblr
- retrocomputing
- sinclair
- retrocomputing
- disks
---
<p style="font-style:italic">This post originally appeared on the <a title="Rubenerd Annexe post" href="https://rubenerd.tumblr.com/post/2106421388">Annexe</a>.</p>

<figure class="tumblr-figure">
<img src="https://rubenerd.com/files/museum/tumblr_lcye1xUAFD1qz77sbo1_1280.jpg" alt="" />
</figure>

<p>The Sinclair ZX Spectrum +3 128K had a 3.5&quot; disk drive! Cool :)</p>

