---
title: "ZX Spectrum ad"
date: "2010-11-16T06:17:45+00:00"
source: "https://rubenerd.tumblr.com/post/1588889101"
year: "2010"
category: Annexe
tag:
- from-tumblr
- retrocomputing
---
<p style="font-style:italic">This post originally appeared on the <a title="Rubenerd Annexe post" href="https://rubenerd.tumblr.com/post/1588889101">Annexe</a>.</p>

<figure class="tumblr-figure">
<img src="https://rubenerd.com/files/museum/tumblr_lbys5ltYR61qz77sbo1_1280.jpg" alt="A typically 80s kid with a ZX Spectrum, like a boss!" />
</figure>

<p>Yeah man!!!</p>

