---
title: "Trains Ruben Taketh: Punchbowl 446"
date: "2012-01-31T02:00:52+00:00"
source: https://trainsrubentaketh.tumblr.com/post/16794820989
year: "2012"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lyn49gOjlw.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lyn49gOjlw.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lyn49gOjlw@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>Punchbowl 446 from Earlwood to Roselands</p>

<p>Cleanliness: New and shiny!</p>

<p>Wait, this isn't a a train! ^^;</p>
