---
title: "Sinclair 128K"
date: "2010-12-04T08:55:51+00:00"
source: "https://rubenerd.tumblr.com/post/2090000164"
year: "2010"
category: Annexe
tag:
- from-tumblr
- hardware
- sinclair-xz-spectrum
- sinclair
- retrocomputing
- 1980s
---
<p style="font-style:italic">This post originally appeared on the <a title="Rubenerd Annexe post" href="https://rubenerd.tumblr.com/post/2090000164">Annexe</a>.</p>

<figure class="tumblr-figure">
<a title="Original source" href="http://cgi.ebay.com.au/Sinclair-ZX-Spectrum-128-Computer-Boxed-Heatsink-Model-/280593858375?pt=UK_VintageComputing_RL&hash=item4154b27f47"><img src="https://rubenerd.com/files/museum/tumblr_lcwbh3sQS51qz77sbo1_1280.jpg" alt="Close-up photo of the logo on a Sinclair 120K home computer" /></a>
</figure>

<p>Best (and coolest designed!) machine the Z80 found itself attached to. Hope to own one one day, if I had the money :P</p>

