---
title: "Obama"
date: "2010-11-04T06:46:09+00:00"
source: "https://rubenerd.tumblr.com/post/1477626386"
year: "2010"
category: Annexe
tag:
- from-tumblr
- politics
- united-states
---
<p style="font-style:italic">This post originally appeared on the <a title="Rubenerd Annexe post" href="https://rubenerd.tumblr.com/post/1477626386">Annexe</a>.</p>

<p><a href="http://authenticdenim.tumblr.com/post/1472678608/sorry-that-obama-couldnt-clean-up-eight-years">authenticdenim</a>:</p>
<blockquote>
<p>SORRY THAT OBAMA COULDN’T CLEAN UP EIGHT YEARS’ WORTH OF GEORGE W. BUSH’S BULLSHIT IN JUST UNDER TWO YEARS IN OFFICE, AMERICA. BY ALL MEANS, GO CRAWLING <em>RIGHT</em> BACK TO THE PEOPLE WHO GOT US IN THIS MESS IN THE FIRST PLACE.</p>
<p><img src="https://rubenerd.com/files/museum/tumblr_lbamt1Z3hg1qzu5wc.gif" alt="Obama clapping" /></p>
</blockquote>

