---
title: "Trains Ruben Taketh: T104"
date: "2011-08-04T10:46:29+00:00"
source: https://trainsrubentaketh.tumblr.com/post/8467936936
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lpeglhdTSr.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lpeglhdTSr.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lpeglhdTSr@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T104 from Bardwell Park to Central</p>

<p>Cleanliness: Clean and new plush seats! ^_^</p>
