---
title: "Trains Ruben Taketh: M2"
date: "2011-04-21T10:56:54+00:00"
source: https://trainsrubentaketh.tumblr.com/post/4803058802
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lk018gKOtu.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lk018gKOtu.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lk018gKOtu@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M2 from Circular Quay to Bardwell Park</p>

<p>Cleanliness: Great!</p>
