---
title: "Trains Ruben Taketh: M25"
date: "2011-02-11T04:43:34+00:00"
source: https://trainsrubentaketh.tumblr.com/post/3229074487
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lgfruwai35.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lgfruwai35.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lgfruwai35@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>M25 from Bardwell Park to Town Hall</p>
