---
title: "Trains Ruben Taketh: S18"
date: "2011-04-29T06:55:01+00:00"
source: https://trainsrubentaketh.tumblr.com/post/5035495700
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lkej7wA1t8.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lkej7wA1t8.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lkej7wA1t8@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>S18 from Central to Bardwell Park</p>

<p>Cleanliness: Good</p>
