---
title: "Trains Ruben Taketh: T103, yet again!"
date: "2011-08-03T05:28:31+00:00"
source: https://trainsrubentaketh.tumblr.com/post/8417563065
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lpc77k0I6N.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lpc77k0I6N.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lpc77k0I6N@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T103 from Bardwell Park to Wolli Creek.</p>

<p>Cleanliness: Spotless! ^_^</p>
