---
title: "Trains Ruben Taketh: T106"
date: "2011-07-10T03:37:44+00:00"
source: https://trainsrubentaketh.tumblr.com/post/7441788329
year: "2011"
category: Annexe
tag: 
- from-trains-ruben-taketh
- from-tumblr
---
<p style="font-style: italic">This post originally appeared on the Annexe, in a post series pointlessly documenting every train I took.</p>

<p><img src="https://rubenerd.com/files/museum/trainsrubentaketh_lo3m3320wk.jpg" srcset="https://rubenerd.com/files/museum/trainsrubentaketh_lo3m3320wk.jpg 1x, https://rubenerd.com/files/museum/trainsrubentaketh_lo3m3320wk@2x.jpg 2x" style="width:400px; height:299px;" alt="Photo of the forementioned train." /></p>

<p>T106 from Kingsgrove to City Circle</p>

<p>Cleanliness: Nice, and new plushie seats!</p>
