---
title: "Pinterest backup: Retrojets"
date: "2022-03-01T00:00:00+11:00"
year: "2022"
category: Annexe
tag:
- aviation
- japan
- pinterest-backup
- singapore-airlines
location: Sydney
---
<p style="font-style:italic;">This is an archive of my short-lived <a href="https://rubenerd.com/tag/pinterest-backup/">Pinterest</a> board <strong>Retrojets</strong>.</p>
<figure style="width:640px; padding:2em 0; margin-left:auto; margin-right:auto;">
<div style="width:210px; float:left;">
<a href="http://ashuyeah.tumblr.com/post/29115930980/singapore-airlines-b707-london-1974-with-a"><img src="https://rubenerd.com/files/museum/pinterest_c49f78ff67a547018399cc24e209381b@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_c49f78ff67a547018399cc24e209381b@2x.jpg 2x" alt="Singapore Airlines B707, London, 1974 with a handful of other distinct liveries in the background." /></a>
<a href="https://www.simpleplanes.com/a/MZyTnE/Boeing-707-120-Trans-World-Airlines"><img src="https://rubenerd.com/files/museum/pinterest_e47204587efd425796fcd17784562ab8@1x.jpg" style="border-radius:16px; width:200px; height:200px" srcset="https://rubenerd.com/files/museum/pinterest_e47204587efd425796fcd17784562ab8@2x.jpg 2x" alt="an airplane is flying over the water and bridge in the sky with it's landing gear down" /></a>
<a href="https://clickamericana.com/topics/science-technology/boeing-passenger-jet-double-barrel-roll"><img src="https://rubenerd.com/files/museum/pinterest_3ec09afddd4047caa37489fbe9d0745b@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_3ec09afddd4047caa37489fbe9d0745b@2x.jpg 2x" alt="While demonstrating a prototype of the Boeing 707 passenger jet, the pilot decided to show just how remarkable the plane was... and flew it upside down. Twice." /></a>
<a href="http://www.boeingimages.com/C.aspx?VP3=SearchResult&VBID=2JRSN2PMKXH3PD&PN=91#/SearchResult&VBID=2JRSN2PMKXH3PD&PN=88"><img src="https://rubenerd.com/files/museum/pinterest_2ba564d22b0f45ec894e8aaa0d23545a@1x.jpg" style="border-radius:16px; width:200px; height:160px" srcset="https://rubenerd.com/files/museum/pinterest_2ba564d22b0f45ec894e8aaa0d23545a@2x.jpg 2x" alt="an airplane is flying in the sky above clouds and land below it, as well as mountains" /></a>
<a href="http://www.boeingimages.com/C.aspx?VP3=SearchResult&VBID=2JRSN2ZIPLDCO&SMLS=1&RW=1812&RH=951"><img src="https://rubenerd.com/files/museum/pinterest_9dd14d620cd74a839a476d8711573c24@1x.jpg" style="border-radius:16px; width:200px; height:155px" srcset="https://rubenerd.com/files/museum/pinterest_9dd14d620cd74a839a476d8711573c24@2x.jpg 2x" alt="several airplanes are parked on the tarmac at an airport" /></a>
<a href="https://www.ruten.com.tw/item/show?22048076009750"><img src="https://rubenerd.com/files/museum/pinterest_449a9a5319b6491a894a5b03e57d38f1@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_449a9a5319b6491a894a5b03e57d38f1@2x.jpg 2x" alt="an airplane flying over a large city with mountains in the backgrounds" /></a>
<a href="https://www.pinterest.com.au/jpcolella888/1970s-era-aircraft/"><img src="https://rubenerd.com/files/museum/pinterest_fba854a652de463eb0bcd1c8833d92dd@1x.jpg" style="border-radius:16px; width:200px; height:299px" srcset="https://rubenerd.com/files/museum/pinterest_fba854a652de463eb0bcd1c8833d92dd@2x.jpg 2x" alt="an airplane is taking off from the runway in front of some buildings and palm trees" /></a>
<a href="https://www.flickr.com/photos/88867126@N08/12655114985/in/photostream"><img src="https://rubenerd.com/files/museum/pinterest_c9784277d41a4c019dd54bfa59124c5b@1x.jpg" style="border-radius:16px; width:200px; height:134px" srcset="https://rubenerd.com/files/museum/pinterest_c9784277d41a4c019dd54bfa59124c5b@2x.jpg 2x" alt="Shot arriving at RAF Brize Norton, March 2009." /></a>
<a href="https://www.instagram.com/boeingclassics/?ref=chowhound&hl=sv"><img src="https://rubenerd.com/files/museum/pinterest_7796bf2ebc684b2a8e48113e8d193200@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_7796bf2ebc684b2a8e48113e8d193200@2x.jpg 2x" alt="several airplanes are parked on the tarmac at an airport with water in the background" /></a>
<a href="https://clickamericana.com/topics/travel-tourism/pan-am-pan-american-airlines-history"><img src="https://rubenerd.com/files/museum/pinterest_6af24af9ec254812b570f7628170bc53@1x.jpg" style="border-radius:16px; width:200px; height:233px" srcset="https://rubenerd.com/files/museum/pinterest_6af24af9ec254812b570f7628170bc53@2x.jpg 2x" alt="Before it billed itself as the 'World’s Most Experienced Airline,' Pan Am started off a little more humbly - but already making the bold moves that would make the airline so legendary it became synonymous with international travel in the 20th century." /></a>
<a href="http://www.boeingimages.com/C.aspx?VP3=SearchResult&VBID=2JRSN2PMKXH3PD#/SearchResult&VBID=2JRSN2PMKXH3PD&PN=60"><img src="https://rubenerd.com/files/museum/pinterest_a9576a0d7f0546319495819a4d6a84e4@1x.jpg" style="border-radius:16px; width:200px; height:250px" srcset="https://rubenerd.com/files/museum/pinterest_a9576a0d7f0546319495819a4d6a84e4@2x.jpg 2x" alt="'" /></a>
<a href="https://www.instagram.com/boac_speedbird/p/CyKbu0ULqAr/"><img src="https://rubenerd.com/files/museum/pinterest_ce5a6f5257bc4a1690b52da6c4b885e9@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_ce5a6f5257bc4a1690b52da6c4b885e9@2x.jpg 2x" alt="two large passenger jets sitting on top of an airport tarmac next to each other" /></a>
<a href="https://classicairlinememories.tumblr.com/post/623119835885371392/lufthansa-727"><img src="https://rubenerd.com/files/museum/pinterest_141ad21c903042018ceba732c6349117@1x.jpg" style="border-radius:16px; width:200px; height:143px" srcset="https://rubenerd.com/files/museum/pinterest_141ad21c903042018ceba732c6349117@2x.jpg 2x" alt="an airplane sitting on the tarmac with stairs leading up to it's door" /></a>
<a href="https://www.airliners.net/photo/Singapore-Airlines/Boeing-737-112/2650968"><img src="https://rubenerd.com/files/museum/pinterest_f54be0dea45641279bfcccc4cea1f9d7@1x.jpg" style="border-radius:16px; width:200px; height:149px" srcset="https://rubenerd.com/files/museum/pinterest_f54be0dea45641279bfcccc4cea1f9d7@2x.jpg 2x" alt="an airplane is flying in the sky on a cloudy day" /></a>
<a href="https://twitter.com/FlyPanAm"><img src="https://rubenerd.com/files/museum/pinterest_9e4dc7c4f36641f89398f20aa5aad8d4@1x.jpg" style="border-radius:16px; width:200px; height:160px" srcset="https://rubenerd.com/files/museum/pinterest_9e4dc7c4f36641f89398f20aa5aad8d4@2x.jpg 2x" alt="'" /></a>
<a href="https://www.worldflyingcommunity.com/t/classic-aviation-debate/2678?page=39"><img src="https://rubenerd.com/files/museum/pinterest_78da6e570d1344938b156916af87555d@1x.jpg" style="border-radius:16px; width:200px; height:267px" srcset="https://rubenerd.com/files/museum/pinterest_78da6e570d1344938b156916af87555d@2x.jpg 2x" alt="the inside of an airplane with many chairs and couches in it's cabin" /></a>
<a href="https://www.flickr.com/photos/sdasmarchives/4590515714/"><img src="https://rubenerd.com/files/museum/pinterest_0df015455a4540648c03f6fa3bf41c94@1x.jpg" style="border-radius:16px; width:200px; height:154px" srcset="https://rubenerd.com/files/museum/pinterest_0df015455a4540648c03f6fa3bf41c94@2x.jpg 2x" alt="Catalog #: 00068490 Manufacturer: Lockheed Designation: L-1011 Official Nickname: Tristar Notes: Court, Delta, Eastern, LTU, PSA Repository: San Diego Air and Space Museum Archive'" /></a>
<a href="https://www.flickr.com/photos/23199966@N02/16159501746"><img src="https://rubenerd.com/files/museum/pinterest_d3188a771c7f45f5bd8b603b7eaa8190@1x.jpg" style="border-radius:16px; width:200px; height:134px" srcset="https://rubenerd.com/files/museum/pinterest_d3188a771c7f45f5bd8b603b7eaa8190@2x.jpg 2x" alt="N10114 LOCKHEED L1011-385-1 TRISTAR 1 (13L-1079) PSA / PACIFIC SOUTHWEST AIRLINES - FARNBOROUGH AIR SHOW 06-09-1974'" /></a>
<a href="https://www.airliners.net/photo/LAC-Lignes-Aeriennes-Congolaises/Douglas-DC-8-54-F/1870181"><img src="https://rubenerd.com/files/museum/pinterest_a41aa3d497704c248f60664612df41ad@1x.jpg" style="border-radius:16px; width:200px; height:200px" srcset="https://rubenerd.com/files/museum/pinterest_a41aa3d497704c248f60664612df41ad@2x.jpg 2x" alt="an airplane that is sitting on the tarmac at an air port run way with other planes in the background" /></a>
<a href="http://www.ana.co.jp/"><img src="https://rubenerd.com/files/museum/pinterest_616cf2c1826d40479d622fda6cb6f100@1x.jpg" style="border-radius:16px; width:200px; height:374px" srcset="https://rubenerd.com/files/museum/pinterest_616cf2c1826d40479d622fda6cb6f100@2x.jpg 2x" alt="an advertisement with the names of various airlines in english and japanese on blue water background" /></a>
<a href="https://airlinersgallery.smugmug.com/Airlines-Asia/Airlines-Japan/JAL-Japan-Airlines/i-GDsLN5G"><img src="https://rubenerd.com/files/museum/pinterest_bdc3c63207a74d30bad6b3a719e83b7e@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_bdc3c63207a74d30bad6b3a719e83b7e@2x.jpg 2x" alt="JAL-Japan Airlines McDonnell Douglas DC-10-40 JA8530 (msn 46920) (Stephen Tornblom Collection). Image: 932937.'" /></a>
<a href="https://www.flickr.com/photos/8348059@N02/6508605107"><img src="https://rubenerd.com/files/museum/pinterest_4f62df2758804090879aba0796ad7524@1x.jpg" style="border-radius:16px; width:200px; height:145px" srcset="https://rubenerd.com/files/museum/pinterest_4f62df2758804090879aba0796ad7524@2x.jpg 2x" alt="an airplane is parked at the airport terminal" /></a>
<a href="https://www.messynessychic.com/2014/03/13/lets-reminisce-airplanes-piano-bars-cocktail-lounges-pubs-restaurants/"><img src="https://rubenerd.com/files/museum/pinterest_a79fd72672124b64980995d186439955@1x.jpg" style="border-radius:16px; width:200px; height:130px" srcset="https://rubenerd.com/files/museum/pinterest_a79fd72672124b64980995d186439955@2x.jpg 2x" alt="Airlines today just aren’t up for a good party anymore. Look at those fancy folks hanging out in comfy swivel chairs, ordering Martinis and asking attractive strangers, “So, do you come here often?” Don’t they look like they’re about to have the best flight of their lives? The 1970s was without doubt, a golden age of…'" /></a>
<a href="https://www.pinterest.co.uk/pin/217650594485503317/"><img src="https://rubenerd.com/files/museum/pinterest_3692d26d4ed84cfbac251bbd2f5f83e5@1x.jpg" style="border-radius:16px; width:200px; height:131px" srcset="https://rubenerd.com/files/museum/pinterest_3692d26d4ed84cfbac251bbd2f5f83e5@2x.jpg 2x" alt="an air france plane on the tarmac with a truck next to it and another airplane in the background" /></a>
<a href="https://flic.kr/p/JFNeHs"><img src="https://rubenerd.com/files/museum/pinterest_550549e881d0467883ab0fa8b00ab6d6@1x.jpg" style="border-radius:16px; width:200px; height:134px" srcset="https://rubenerd.com/files/museum/pinterest_550549e881d0467883ab0fa8b00ab6d6@2x.jpg 2x" alt="'" /></a>
<a href="https://whatsduemanchestersite.wordpress.com/2017/09/27/24/"><img src="https://rubenerd.com/files/museum/pinterest_464681631b9043f1ac242a7576461bb2@1x.jpg" style="border-radius:16px; width:200px; height:131px" srcset="https://rubenerd.com/files/museum/pinterest_464681631b9043f1ac242a7576461bb2@2x.jpg 2x" alt="several airplanes are parked on the tarmac at an airport in foggy weather conditions" /></a>
<a href="http://www.jal.co.jp/"><img src="https://rubenerd.com/files/museum/pinterest_7e3c35082893418a861b83be99c380d6@1x.jpg" style="border-radius:16px; width:200px; height:344px" srcset="https://rubenerd.com/files/museum/pinterest_7e3c35082893418a861b83be99c380d6@2x.jpg 2x" alt="a book with the title jal world route map written in english and chinese on it" /></a>
<a href="https://www.flickr.com/photos/158949556@N05/26647064869/"><img src="https://rubenerd.com/files/museum/pinterest_5be86af1d81c4916a65910936a79ee6b@1x.jpg" style="border-radius:16px; width:200px; height:120px" srcset="https://rubenerd.com/files/museum/pinterest_5be86af1d81c4916a65910936a79ee6b@2x.jpg 2x" alt="9V-SQG Boeing 747-212B [21439] (Singapore Airlines) Zurich~HB 10/09/1981. From a slide. Broken up Roswell~N @ 2004'" /></a>
<a href="https://ja.wikipedia.org/wiki/%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB:Singapore_Airlines_Boeing_757-200_Rees.jpg"><img src="https://rubenerd.com/files/museum/pinterest_89476546707c41eb8b0e024c5b1cdd87@1x.jpg" style="border-radius:16px; width:200px; height:131px" srcset="https://rubenerd.com/files/museum/pinterest_89476546707c41eb8b0e024c5b1cdd87@2x.jpg 2x" alt="an airplane that is sitting on the runway" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_73329d3d049e496d84dc566c8164d581@1x.jpg" style="border-radius:16px; width:200px; height:130px" srcset="https://rubenerd.com/files/museum/pinterest_73329d3d049e496d84dc566c8164d581@2x.jpg 2x" alt="two airplanes are on the runway at an airport, one is yellow and white while the other is black" /></a>
<a href="https://commons.wikimedia.org/wiki/File:Singapore_Airlines_Concorde_Fitzgerald-2.jpg"><img src="https://rubenerd.com/files/museum/pinterest_41c023cf5fcd44a1abf5cd53c60ea263@1x.jpg" style="border-radius:16px; width:200px; height:107px" srcset="https://rubenerd.com/files/museum/pinterest_41c023cf5fcd44a1abf5cd53c60ea263@2x.jpg 2x" alt="an airplane sitting on the tarmac at an airport" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_b06c78657e284157bccb0660b11bc992@1x.jpg" style="border-radius:16px; width:200px; height:124px" srcset="https://rubenerd.com/files/museum/pinterest_b06c78657e284157bccb0660b11bc992@2x.jpg 2x" alt="an airplane with the door open is parked" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_388ebc212a4f47a880a981b7d0e72323@1x.jpg" style="border-radius:16px; width:200px; height:300px" srcset="https://rubenerd.com/files/museum/pinterest_388ebc212a4f47a880a981b7d0e72323@2x.jpg 2x" alt="an airplane sitting on the tarmac with its door open" /></a>
<a href="http://www.flickr.com/photos/aviatorr727/5267829805/"><img src="https://rubenerd.com/files/museum/pinterest_3086ff4ae53e4e7d9bb67405a78f84b4@1x.jpg" style="border-radius:16px; width:200px; height:102px" srcset="https://rubenerd.com/files/museum/pinterest_3086ff4ae53e4e7d9bb67405a78f84b4@2x.jpg 2x" alt="A brand new shiny B-707 is a thing of beauty." /></a>
<a href="https://www.messynessychic.com/2014/03/13/lets-reminisce-airplanes-piano-bars-cocktail-lounges-pubs-restaurants/"><img src="https://rubenerd.com/files/museum/pinterest_64572ebe430a4d5fa2b9686bba583088@1x.jpg" style="border-radius:16px; width:200px; height:153px" srcset="https://rubenerd.com/files/museum/pinterest_64572ebe430a4d5fa2b9686bba583088@2x.jpg 2x" alt="Airlines today just aren’t up for a good party anymore. Look at those fancy folks hanging out in comfy swivel chairs, ordering Martinis and asking attractive strangers, “So, do you come here often?” Don’t they look like they’re about to have the best flight of their lives? The 1970s was without doubt, a golden age of…" /></a>
<a href="http://es.gizmodo.com/viajar-en-un-boeing-747-en-los-anos-70-era-una-experien-1504934927"><img src="https://rubenerd.com/files/museum/pinterest_f45ad87477b64e04b55f16609028f701@1x.jpg" style="border-radius:16px; width:200px; height:154px" srcset="https://rubenerd.com/files/museum/pinterest_f45ad87477b64e04b55f16609028f701@2x.jpg 2x" alt="Hace décadas hubo una época dorada de la aviación. En los aviones había más espacio y los diseños e interiores tenían clase. No hace falta siquiera remontarse a los años 50 o 60. Debajo os mostramos algunos de los prototipos de interiores de un Boeing 747 en los 70, además de los diseños de verdad. Son increíbles." /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_32023e0de7b94628a9cc8941609e54c2@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_32023e0de7b94628a9cc8941609e54c2@2x.jpg 2x" alt="an aerial view of people standing around and looking at the tail end of a plane" /></a>
</div>
<div style="width:210px; float:left;">
<a href="https://www.flickr.com/photos/lightning72/4187154544"><img src="https://rubenerd.com/files/museum/pinterest_1d2d5bb3991241be8b6120760bb5fca1@1x.jpg" style="border-radius:16px; width:200px; height:91px" srcset="https://rubenerd.com/files/museum/pinterest_1d2d5bb3991241be8b6120760bb5fca1@2x.jpg 2x" alt="Explore torinodave72's 2738 photos on Flickr!" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_60469e7c18f24c199e5b019490b455d6@1x.jpg" style="border-radius:16px; width:200px; height:111px" srcset="https://rubenerd.com/files/museum/pinterest_60469e7c18f24c199e5b019490b455d6@2x.jpg 2x" alt="an airplane flying in the sky above some clouds and blue sky with white, red, and black stripes" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_35a5708785be40f69bdb9746b27dd9c6@1x.jpg" style="border-radius:16px; width:200px; height:159px" srcset="https://rubenerd.com/files/museum/pinterest_35a5708785be40f69bdb9746b27dd9c6@2x.jpg 2x" alt="an airplane flying in the sky over some mountains and land with trees on either side" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_06a9857815e24d8e9edf45f96f23cd90@1x.jpg" style="border-radius:16px; width:200px; height:123px" srcset="https://rubenerd.com/files/museum/pinterest_06a9857815e24d8e9edf45f96f23cd90@2x.jpg 2x" alt="an airplane is parked on the tarmac with other planes in the back ground behind it" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_09aaa893d94f4d7494dbd7c98bc450b9@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_09aaa893d94f4d7494dbd7c98bc450b9@2x.jpg 2x" alt="an airplane is flying in the sky over water and land, with another plane below it" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_2364232fec76421094df8087271efb7e@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_2364232fec76421094df8087271efb7e@2x.jpg 2x" alt="an airplane is sitting on the runway with buildings in the backgrouds behind it" /></a>
<a href="http://retrospectivecivilaviation.tumblr.com/image/115473199754"><img src="https://rubenerd.com/files/museum/pinterest_47caf3032f0e401f92843f202b86daee@1x.jpg" style="border-radius:16px; width:200px; height:129px" srcset="https://rubenerd.com/files/museum/pinterest_47caf3032f0e401f92843f202b86daee@2x.jpg 2x" alt="an airplane sitting on the tarmac with its wheels down and it's engine out" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_34ef909ce5f740c59bd715ba5a616f7b@1x.jpg" style="border-radius:16px; width:200px; height:137px" srcset="https://rubenerd.com/files/museum/pinterest_34ef909ce5f740c59bd715ba5a616f7b@2x.jpg 2x" alt="an airplane is flying in the sky above clouds" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_2a13dd782f8142c788f3b1a7100f4b55@1x.jpg" style="border-radius:16px; width:200px; height:120px" srcset="https://rubenerd.com/files/museum/pinterest_2a13dd782f8142c788f3b1a7100f4b55@2x.jpg 2x" alt="an airplane flying over a city with tall buildings and skyscrapers in the foreground" /></a>
<a href="http://www.flickr.com/photos/48073612@N04/8537023119/in/set-72157632953570589/"><img src="https://rubenerd.com/files/museum/pinterest_6270b2046ced4b5baf22e063e3d2db61@1x.jpg" style="border-radius:16px; width:200px; height:134px" srcset="https://rubenerd.com/files/museum/pinterest_6270b2046ced4b5baf22e063e3d2db61@2x.jpg 2x" alt="Flickr album : London Gatwick pre digital era. A view from the long closed spectators in Gatwick. Airliners include 747,DC-10,767 & A310., from Air New Zealand, Philippines, CAAC, Continental, Britannia, Wardair & Cathay Pacific. Scan from a slide, London Gatwick, June 1988." /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_63f66f197bb7497ea29e166f1449e580@1x.jpg" style="border-radius:16px; width:200px; height:271px" srcset="https://rubenerd.com/files/museum/pinterest_63f66f197bb7497ea29e166f1449e580@2x.jpg 2x" alt="a woman in an orange and white dress standing next to a large airplane with people around it" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_8f8ddc0a6bc94e4fb207012f02bcc674@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_8f8ddc0a6bc94e4fb207012f02bcc674@2x.jpg 2x" alt="an airplane is flying in the sky above clouds and land, with continental on it's side" /></a>
<a href="http://www.flickr.com/photos/30761171@N05/27680994169/"><img src="https://rubenerd.com/files/museum/pinterest_a412cf700cfe463cad12038a32850f43@1x.jpg" style="border-radius:16px; width:200px; height:159px" srcset="https://rubenerd.com/files/museum/pinterest_a412cf700cfe463cad12038a32850f43@2x.jpg 2x" alt="In the paintshop/production line. I flew a similar DC-8 from BDA to JFK in 1972" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_62c6763432754a21b00b3667e47bc388@1x.jpg" style="border-radius:16px; width:200px; height:144px" srcset="https://rubenerd.com/files/museum/pinterest_62c6763432754a21b00b3667e47bc388@2x.jpg 2x" alt="two airplanes are parked on the tarmac at an airport with terminal buildings in the background" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_ffd3e1c196ac458faddde381e55cbb7e@1x.jpg" style="border-radius:16px; width:200px; height:142px" srcset="https://rubenerd.com/files/museum/pinterest_ffd3e1c196ac458faddde381e55cbb7e@2x.jpg 2x" alt="an american airlines plane is parked on the tarmac with other planes in the background" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_2c59276906be44f0870b6e20c9d81ceb@1x.jpg" style="border-radius:16px; width:200px; height:157px" srcset="https://rubenerd.com/files/museum/pinterest_2c59276906be44f0870b6e20c9d81ceb@2x.jpg 2x" alt="an airplane is flying in the sky above clouds" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_dc7549fcdd4f4b3c95c6fbff3a33c2d7@1x.jpg" style="border-radius:16px; width:200px; height:108px" srcset="https://rubenerd.com/files/museum/pinterest_dc7549fcdd4f4b3c95c6fbff3a33c2d7@2x.jpg 2x" alt="an orange and white airplane is on the snow covered ground with it's landing gear down" /></a>
<a href="http://www.ana.co.jp/"><img src="https://rubenerd.com/files/museum/pinterest_3a48e48a97384fd89069a7fe4114875f@1x.jpg" style="border-radius:16px; width:200px; height:420px" srcset="https://rubenerd.com/files/museum/pinterest_3a48e48a97384fd89069a7fe4114875f@2x.jpg 2x" alt="an advertisement for the international airline service in japan" /></a>
<a href="http://www.ana.co.jp"><img src="https://rubenerd.com/files/museum/pinterest_942a89931c684cbab543443b1e1dea31@1x.jpg" style="border-radius:16px; width:200px; height:280px" srcset="https://rubenerd.com/files/museum/pinterest_942a89931c684cbab543443b1e1dea31@2x.jpg 2x" alt="a woman in a black bathing suit is holding a bike and posing for the camera" /></a>
<a href="https://aviationweek.com/air-transport/aircraft-propulsion/archives-timeline-747"><img src="https://rubenerd.com/files/museum/pinterest_e032cf7c09c14ab9a103eaccee3c2704@1x.jpg" style="border-radius:16px; width:200px; height:141px" srcset="https://rubenerd.com/files/museum/pinterest_e032cf7c09c14ab9a103eaccee3c2704@2x.jpg 2x" alt="black and white photograph of two large commercial airplanes on tarmac with buildings in the background" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_e148053a1cb1425f9a210598fc84d6f7@1x.jpg" style="border-radius:16px; width:200px; height:200px" srcset="https://rubenerd.com/files/museum/pinterest_e148053a1cb1425f9a210598fc84d6f7@2x.jpg 2x" alt="the side of an airplane that is parked in a building with its door open and windows closed" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_d82b1681d50b4f389d0681c429212ff6@1x.jpg" style="border-radius:16px; width:200px; height:154px" srcset="https://rubenerd.com/files/museum/pinterest_d82b1681d50b4f389d0681c429212ff6@2x.jpg 2x" alt="an airplane sitting on the tarmac at night with stairs leading up to it's door" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_b2c22feaa44440179135b26ffe688931@1x.jpg" style="border-radius:16px; width:200px; height:142px" srcset="https://rubenerd.com/files/museum/pinterest_b2c22feaa44440179135b26ffe688931@2x.jpg 2x" alt="an airplane is flying over the mountains and snow covered hills in this screensaver image" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_d77329db32a8455786c95910c6e51cc9@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_d77329db32a8455786c95910c6e51cc9@2x.jpg 2x" alt="an airplane is parked on the tarmac with other vehicles around it and mountains in the background" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_4ccabda9eecd4575ac5f5295cd87659f@1x.jpg" style="border-radius:16px; width:200px; height:125px" srcset="https://rubenerd.com/files/museum/pinterest_4ccabda9eecd4575ac5f5295cd87659f@2x.jpg 2x" alt="an airplane is parked on the tarmac with other planes in the back ground behind it" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_3494a666218047d2b4ba522b3c9e122b@1x.jpg" style="border-radius:16px; width:200px; height:285px" srcset="https://rubenerd.com/files/museum/pinterest_3494a666218047d2b4ba522b3c9e122b@2x.jpg 2x" alt="an airplane sitting on the tarmac with other planes in the background at an airport" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_ace8e9d19d1a4c008be0e10d2fad09cf@1x.jpg" style="border-radius:16px; width:200px; height:93px" srcset="https://rubenerd.com/files/museum/pinterest_ace8e9d19d1a4c008be0e10d2fad09cf@2x.jpg 2x" alt="an airplane that is sitting on the tarmac with people standing next to it and another plane in the background" /></a>
<a href="https://twitter.com/classicairline"><img src="https://rubenerd.com/files/museum/pinterest_1887d7ece9bc4f398b7d6ae99b70ec3f@1x.jpg" style="border-radius:16px; width:200px; height:244px" srcset="https://rubenerd.com/files/museum/pinterest_1887d7ece9bc4f398b7d6ae99b70ec3f@2x.jpg 2x" alt="three airplanes are parked on the tarmac at an airport, one is red and white" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_3be02fe0a85d4913ad6acf19d2191a17@1x.jpg" style="border-radius:16px; width:200px; height:132px" srcset="https://rubenerd.com/files/museum/pinterest_3be02fe0a85d4913ad6acf19d2191a17@2x.jpg 2x" alt="an airplane is flying in the sky with it's landing gear down and its wheels out" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_34555c795c5b4bbcbb6344a25b0b20ad@1x.jpg" style="border-radius:16px; width:200px; height:145px" srcset="https://rubenerd.com/files/museum/pinterest_34555c795c5b4bbcbb6344a25b0b20ad@2x.jpg 2x" alt="an air plane flying in the sky above clouds" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_dec6cdc1bd6143928804de7c37ec82a4@1x.jpg" style="border-radius:16px; width:200px; height:125px" srcset="https://rubenerd.com/files/museum/pinterest_dec6cdc1bd6143928804de7c37ec82a4@2x.jpg 2x" alt="an airplane is parked on the tarmac with other vehicles around it and people boarding" /></a>
<a href="http://www.travelstart.co.za/blog/bygone-boeing-photos-from-the-1970s/amp/"><img src="https://rubenerd.com/files/museum/pinterest_d2633fff188b44408001b602b40c4c05@1x.jpg" style="border-radius:16px; width:200px; height:175px" srcset="https://rubenerd.com/files/museum/pinterest_d2633fff188b44408001b602b40c4c05@2x.jpg 2x" alt="When Boeing originally designed the 747 they considered it a low-end product, never suspecting that it would become a cultural icon of the modern era." /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_3663245298eb4ef78b6077a03f3fd807@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_3663245298eb4ef78b6077a03f3fd807@2x.jpg 2x" alt="an airplane is parked on the tarmac in front of some trucks and buildings with palm trees" /></a>
<a href="https://www.heraldweekly.com/planes-that-have-should-never-been-built/"><img src="https://rubenerd.com/files/museum/pinterest_12b036b1c23e46da82fc8b879a4c3573@1x.jpg" style="border-radius:16px; width:200px; height:135px" srcset="https://rubenerd.com/files/museum/pinterest_12b036b1c23e46da82fc8b879a4c3573@2x.jpg 2x" alt="The aspiration for flight has brought us many failures and crash landings. Here we look at the best of the worst in-flight innovation of all time." /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_506957c994ce42b8b7f68c6f5af748f0@1x.jpg" style="border-radius:16px; width:200px; height:131px" srcset="https://rubenerd.com/files/museum/pinterest_506957c994ce42b8b7f68c6f5af748f0@2x.jpg 2x" alt="an airplane that is sitting in the grass" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_c55e9f1395b446c79e0496dbc36b8265@1x.jpg" style="border-radius:16px; width:200px; height:117px" srcset="https://rubenerd.com/files/museum/pinterest_c55e9f1395b446c79e0496dbc36b8265@2x.jpg 2x" alt="three airplanes are parked on the tarmac at an airport, one is red and white" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_68ce2d0fbd064c50837bcbe28f6c120b@1x.jpg" style="border-radius:16px; width:200px; height:138px" srcset="https://rubenerd.com/files/museum/pinterest_68ce2d0fbd064c50837bcbe28f6c120b@2x.jpg 2x" alt="an airplane with people standing in front of it" /></a>
<a href="http://www.flickr.com/photos/12548624@N03/5222338256/"><img src="https://rubenerd.com/files/museum/pinterest_ba49d0e29c5f412dbe337b5d54a757c9@1x.jpg" style="border-radius:16px; width:200px; height:136px" srcset="https://rubenerd.com/files/museum/pinterest_ba49d0e29c5f412dbe337b5d54a757c9@2x.jpg 2x" alt="By 1985, the 767 was EROPS rated for transatlantic runs and TWA installed these 2-1-2 sleeper seats for First Class passengers, while retaining the 2-2-2 Ambassador business cabin as well." /></a>
<a href="http://www.travelstart.co.za/blog/bygone-boeing-photos-from-the-1970s/amp/"><img src="https://rubenerd.com/files/museum/pinterest_a6a41f9dd1c84ab8aa0d72014e369be4@1x.jpg" style="border-radius:16px; width:200px; height:200px" srcset="https://rubenerd.com/files/museum/pinterest_a6a41f9dd1c84ab8aa0d72014e369be4@2x.jpg 2x" alt="When Boeing originally designed the 747 they considered it a low-end product, never suspecting that it would become a cultural icon of the modern era." /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_543d5b86d13e4ce991b1297c6bdc90b3@1x.jpg" style="border-radius:16px; width:200px; height:134px" srcset="https://rubenerd.com/files/museum/pinterest_543d5b86d13e4ce991b1297c6bdc90b3@2x.jpg 2x" alt="an airplane is flying in the sky with its landing gear down and it's engine out" /></a>
</div>
<div style="width:210px; float:left;">
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_fea9a1fbf6c04685b4740f83a7ffcb03@1x.jpg" style="border-radius:16px; width:200px; height:373px" srcset="https://rubenerd.com/files/museum/pinterest_fea9a1fbf6c04685b4740f83a7ffcb03@2x.jpg 2x" alt="the front cover of an annual magazine with a statue of a white fish in it's mouth" /></a>
<a href="https://mobile.twitter.com/galeriautopia19/status/486272759765676032"><img src="https://rubenerd.com/files/museum/pinterest_8eec1496e4a24a1ca0a8fb6f0671785b@1x.jpg" style="border-radius:16px; width:200px; height:128px" srcset="https://rubenerd.com/files/museum/pinterest_8eec1496e4a24a1ca0a8fb6f0671785b@2x.jpg 2x" alt="“Maiquetia cuando el CONCORD Que tiempos aquellos!!! Pero ahora tenemos Patria.”'" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_e445fd3198ee489b9fc0150a2d2b55e7@1x.jpg" style="border-radius:16px; width:200px; height:141px" srcset="https://rubenerd.com/files/museum/pinterest_e445fd3198ee489b9fc0150a2d2b55e7@2x.jpg 2x" alt="an airplane is parked on the tarmac with other planes in the background and people walking around" /></a>
<a href="https://vintageairliners.com/the-big-orange/"><img src="https://rubenerd.com/files/museum/pinterest_f7c40782778e48db9e6d7e406d7448df@1x.jpg" style="border-radius:16px; width:200px; height:201px" srcset="https://rubenerd.com/files/museum/pinterest_f7c40782778e48db9e6d7e406d7448df@2x.jpg 2x" alt="Braniff International Jumbo 747 known as THE BIG ORANGE and The Great Pumpkin –" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_1da0b01bde844ac693257be528ca63e2@1x.jpg" style="border-radius:16px; width:200px; height:131px" srcset="https://rubenerd.com/files/museum/pinterest_1da0b01bde844ac693257be528ca63e2@2x.jpg 2x" alt="an orange airplane is parked in front of the airport terminal with other vehicles around it" /></a>
<a href="https://www.flickr.com/photos/sdasmarchives/49488910473/in/photostream"><img src="https://rubenerd.com/files/museum/pinterest_3be9d3366df94db6a0c5550352e8d234@1x.jpg" style="border-radius:16px; width:200px; height:158px" srcset="https://rubenerd.com/files/museum/pinterest_3be9d3366df94db6a0c5550352e8d234@2x.jpg 2x" alt="Image from the General Dynamics/Convair Negative Collection-----Please tag these photos so information can be recorded.---Note: This material may be protected by Copyright Law (Title 17 U.S.C.)Repository: San Diego Air and Space Museum Archive" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_561e1432c48043bdb9871434641e94c4@1x.jpg" style="border-radius:16px; width:200px; height:378px" srcset="https://rubenerd.com/files/museum/pinterest_561e1432c48043bdb9871434641e94c4@2x.jpg 2x" alt="an international timetable for all nippon airways" /></a>
<a href="http://www.flyertalk.com/forum/travelbuzz/1282073-old-timers-airline-airliner-quiz-117.html"><img src="https://rubenerd.com/files/museum/pinterest_2bac4441b80b442c8a92dbbea7775018@1x.jpg" style="border-radius:16px; width:200px; height:200px" srcset="https://rubenerd.com/files/museum/pinterest_2bac4441b80b442c8a92dbbea7775018@2x.jpg 2x" alt="an airplane hallway with chairs, refrigerators and lights on the ceiling is seen in this image" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_2050a93ff9a64e49b8267cd75e3acab4@1x.jpg" style="border-radius:16px; width:200px; height:125px" srcset="https://rubenerd.com/files/museum/pinterest_2050a93ff9a64e49b8267cd75e3acab4@2x.jpg 2x" alt="the inside of an airplane with red carpeted stairs and empty seats on both sides" /></a>
<a href="http://www.thisdayinaviation.com/16-may-1977/"><img src="https://rubenerd.com/files/museum/pinterest_641aa99972e9467287217d227895302b@1x.jpg" style="border-radius:16px; width:200px; height:262px" srcset="https://rubenerd.com/files/museum/pinterest_641aa99972e9467287217d227895302b@2x.jpg 2x" alt="16 May 1977: At approximately 5:32 p.m. Eastern Standard Time, New York Airways Flight 971, a Sikorsky S-61L helicopter, landed at the Pan Am Building rooftop heliport (JPB) in New York City. Flight 971 had originated at John F. Kennedy International Airport (JFK) and carried 20 passengers and a crew of three. The helipad was … Continue reading 16 May 1977 →" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_bd9ba972dd564897964f208fcd44afb5@1x.jpg" style="border-radius:16px; width:200px; height:290px" srcset="https://rubenerd.com/files/museum/pinterest_bd9ba972dd564897964f208fcd44afb5@2x.jpg 2x" alt="people are sitting in an airplane cabin with green carpet and yellow lights on the ceiling" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_3dea6ba417ef4e14b9760fc4900e6b4d@1x.jpg" style="border-radius:16px; width:200px; height:156px" srcset="https://rubenerd.com/files/museum/pinterest_3dea6ba417ef4e14b9760fc4900e6b4d@2x.jpg 2x" alt="a man and woman standing at the front desk of an airplane with chairs around it" /></a>
<a href="http://www.airlinereporter.com/2014/05/rant-definition-premium-products-changing-good/"><img src="https://rubenerd.com/files/museum/pinterest_f3053335292f459aa026dad0fb2ef90e@1x.jpg" style="border-radius:16px; width:200px; height:252px" srcset="https://rubenerd.com/files/museum/pinterest_f3053335292f459aa026dad0fb2ef90e@2x.jpg 2x" alt="I recently ranted about how people get what they pay for when it comes to air travel, but I feel that I have a few more things to say. I have come realize that there is downgrading trend going on in the industry that needs to change. Let me explain. What if you get to a […]" /></a>
<a href="https://www.thedailybeast.com/airline-style-through-the-years#b908e746-cc66-400f-8e91-ce05dd1b246f"><img src="https://rubenerd.com/files/museum/pinterest_1deb56597e33459c8c9b1b8795833ac2@1x.jpg" style="border-radius:16px; width:200px; height:237px" srcset="https://rubenerd.com/files/museum/pinterest_1deb56597e33459c8c9b1b8795833ac2@2x.jpg 2x" alt="Airline: Style at 30,000 Feet looks at the evolution of airline style, from stewardesses to passengers, through the years." /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_615b5f862a7a453daee65ecf9742323c@1x.jpg" style="border-radius:16px; width:200px; height:135px" srcset="https://rubenerd.com/files/museum/pinterest_615b5f862a7a453daee65ecf9742323c@2x.jpg 2x" alt="an airplane is flying in the sky above the clouds and land below it, with its landing gear down" /></a>
<a href="http://karryon.com.au/industry-news/airline/farewell-jumbo-jet-qantas-replaces-last-747s-with-dreamliners/"><img src="https://rubenerd.com/files/museum/pinterest_9b47a07b672f4646a19c1dcdd726edae@1x.jpg" style="border-radius:16px; width:200px; height:104px" srcset="https://rubenerd.com/files/museum/pinterest_9b47a07b672f4646a19c1dcdd726edae@2x.jpg 2x" alt="If you’re a fan of the Boeing 747 then you’ll want to get your fill of the aircraft while you still can because when the year 2020 comes to an end, […]" /></a>
<a href="https://www.flightglobal.com/pictures-lufthansa-bids-737-farewell-after-near-half-century/122120.article"><img src="https://rubenerd.com/files/museum/pinterest_43e977544d674d4192f8ecc1b788b416@1x.jpg" style="border-radius:16px; width:200px; height:135px" srcset="https://rubenerd.com/files/museum/pinterest_43e977544d674d4192f8ecc1b788b416@2x.jpg 2x" alt="Lufthansa ended operations of the Boeing 737 on 29 October, some 48 years after it gave the short-haul twinjet its world debut." /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_b571f6e809784230986fd8c8a93be10b@1x.jpg" style="border-radius:16px; width:200px; height:135px" srcset="https://rubenerd.com/files/museum/pinterest_b571f6e809784230986fd8c8a93be10b@2x.jpg 2x" alt="the inside of an airplane with red and blue seats, desks and chairs on each side" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_b560fa5ba2f443869c0e8f8f8736bf3e@1x.jpg" style="border-radius:16px; width:200px; height:135px" srcset="https://rubenerd.com/files/museum/pinterest_b560fa5ba2f443869c0e8f8f8736bf3e@2x.jpg 2x" alt="an airplane is flying over the snowy mountains" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_82b5c592b3b0490c87f9d29f4e199453@1x.jpg" style="border-radius:16px; width:200px; height:157px" srcset="https://rubenerd.com/files/museum/pinterest_82b5c592b3b0490c87f9d29f4e199453@2x.jpg 2x" alt="an airplane is parked in a hangar with other equipment around it and workers on the ground" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_f56209e64db74087b0abaaafab3ee865@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_f56209e64db74087b0abaaafab3ee865@2x.jpg 2x" alt="an air plane flying in the sky with clouds and land below it on a sunny day" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_8f382eea00414865afa3ab2c3f834af4@1x.jpg" style="border-radius:16px; width:200px; height:127px" srcset="https://rubenerd.com/files/museum/pinterest_8f382eea00414865afa3ab2c3f834af4@2x.jpg 2x" alt="a red and white airplane is on the runway with another plane in the back ground" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_dd8d2ac8652a42b4a05e103578913ca0@1x.jpg" style="border-radius:16px; width:200px; height:126px" srcset="https://rubenerd.com/files/museum/pinterest_dd8d2ac8652a42b4a05e103578913ca0@2x.jpg 2x" alt="an air canada airplane flying over the mountains" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_50c69c8466e5454d8ab4ea559c9d03f0@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_50c69c8466e5454d8ab4ea559c9d03f0@2x.jpg 2x" alt="an airplane that is sitting on the tarmac with grass around it and blue sky in the background" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_cf5d9dedd76942ab873a4c624b20c7c7@1x.jpg" style="border-radius:16px; width:200px; height:156px" srcset="https://rubenerd.com/files/museum/pinterest_cf5d9dedd76942ab873a4c624b20c7c7@2x.jpg 2x" alt="an airplane being worked on in a hanger with people around it and other equipment" /></a>
<a href="https://www.flickr.com/photos/n747ge/5702427602"><img src="https://rubenerd.com/files/museum/pinterest_e9b3cc0682224a318edcf41f90aea7be@1x.jpg" style="border-radius:16px; width:200px; height:179px" srcset="https://rubenerd.com/files/museum/pinterest_e9b3cc0682224a318edcf41f90aea7be@2x.jpg 2x" alt="CF6 installed on B-52 testbed at Edwards AFB." /></a>
<a href="http://departedwings.com/The%20Airlines/Aircal/OC.htm"><img src="https://rubenerd.com/files/museum/pinterest_92644f700e5347f5b1dfab484e4e9a9c@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_92644f700e5347f5b1dfab484e4e9a9c@2x.jpg 2x" alt="an air california airplane sitting on the tarmac" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_769be6a979684f9b94b88de1d8d76f9b@1x.jpg" style="border-radius:16px; width:200px; height:136px" srcset="https://rubenerd.com/files/museum/pinterest_769be6a979684f9b94b88de1d8d76f9b@2x.jpg 2x" alt="an airplane is taking off from the runway" /></a>
<a href="http://www.ana.co.jp/"><img src="https://rubenerd.com/files/museum/pinterest_269792f5fa224ccf991566860b8e7c97@1x.jpg" style="border-radius:16px; width:200px; height:371px" srcset="https://rubenerd.com/files/museum/pinterest_269792f5fa224ccf991566860b8e7c97@2x.jpg 2x" alt="an advertisement for the international time table and service guide, with information about all nippon airways" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_114dca8990044ee1b5de80ebedd89e2c@1x.jpg" style="border-radius:16px; width:200px; height:135px" srcset="https://rubenerd.com/files/museum/pinterest_114dca8990044ee1b5de80ebedd89e2c@2x.jpg 2x" alt="an old blue car is parked in front of an airplane" /></a>
<a href="https://www.flickr.com/photos/30761171@N05/5275938074"><img src="https://rubenerd.com/files/museum/pinterest_df7d87f4f18c4bf4992d91960b485b27@1x.jpg" style="border-radius:16px; width:200px; height:257px" srcset="https://rubenerd.com/files/museum/pinterest_df7d87f4f18c4bf4992d91960b485b27@2x.jpg 2x" alt="The back cover of a brochure marketing the introduction of the L-1011 to the Eastern fleet.'" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_33950e4984f04cbea56da7df873f0724@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_33950e4984f04cbea56da7df873f0724@2x.jpg 2x" alt="two men are sitting in the cockpit of an airplane" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_85e74afce8814c84814d9dc410979320@1x.jpg" style="border-radius:16px; width:200px; height:381px" srcset="https://rubenerd.com/files/museum/pinterest_85e74afce8814c84814d9dc410979320@2x.jpg 2x" alt="an advertisement for the second japan air lines" /></a>
<a href="https://www.sunshineskies.com/atlanta-late70s.html"><img src="https://rubenerd.com/files/museum/pinterest_d04a4ab773514c6587932384e1d23a1c@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_d04a4ab773514c6587932384e1d23a1c@2x.jpg 2x" alt="'" /></a>
</div>
</figure>

<p style="clear:both;"></p>
