---
title: "Pinterest backup: Fallingwater"
date: "2022-03-01T00:00:00+11:00"
year: "2022"
category: Annexe
tag:
- architecture
- design
- pinterest-backup
location: Sydney
---
<p style="font-style:italic;">This is an archive of my short-lived <a href="https://rubenerd.com/tag/pinterest-backup/">Pinterest</a> board <strong>Fallingwater</strong>, for architecture and photos that vaguely reminded me of one of my favourite buildings.</p>
<figure style="width:640px; padding:2em 0; margin-left:auto; margin-right:auto;">
<div style="width:210px; float:left;">
<a href="https://www.designboom.com/architecture/modernist-pagoda-amey-kandalgaonkar-05-03-19/"><img src="https://rubenerd.com/files/museum/pinterest_512be8dcc8114b839604ca318d3b1785@1x.jpg" style="border-radius:16px; width:200px; height:250px" srcset="https://rubenerd.com/files/museum/pinterest_512be8dcc8114b839604ca318d3b1785@2x.jpg 2x" alt="an artistic rendering of a futuristic building in the middle of trees with foliage growing on it" /></a>
<a href="https://www.1stdibs.com/furniture/seating/sofas/21st-century-modular-mood-sofa-cotton-velvet/id-f_21502572/"><img src="https://rubenerd.com/files/museum/pinterest_c57f4e7a1b3e4396af35ee28faba7779@1x.jpg" style="border-radius:16px; width:200px; height:217px" srcset="https://rubenerd.com/files/museum/pinterest_c57f4e7a1b3e4396af35ee28faba7779@2x.jpg 2x" alt="About Mood sofa is part of the New Malabar's collection, future Classic. Alexander Rodchenko, considered one of the founders of the Constructivism movement, sought new art forms and modes of making art. Art, Alexander believed, had no place in the hermetic space of the artist’s studio. Instead, it should reflect the modern. Rodchenko’s work was heavily influenced by Cubism and Futurism, which featured geometric forms deployed against a white background. Inspired by this movement and its famous realistic abstraction art painting, Malabar designers conceived this future Classic sofa. Define your living room décor with the mood sofa that can be tailored to your design space and taste. Structured in walnut wood by our expert artisans and upholstered in cotton velvet, this modular sofa features a lacquered feet and three pillows. With carefully balanced proportions, its modular design and comfortable ottomans ensure that the mood sofa becomes a focal point of your decor. Customization OptionsWood Materials: Oak, Walnut, Palisander, Beechwood Velvets, Leather, Linen: Available on any RAL Color Request Customization" /></a>
<a href="https://www.behance.net/gallery/92228283/Retro-Futuristic-Living-Room"><img src="https://rubenerd.com/files/museum/pinterest_bb839f0a33ad4788b48e46b6715bb270@1x.jpg" style="border-radius:16px; width:200px; height:255px" srcset="https://rubenerd.com/files/museum/pinterest_bb839f0a33ad4788b48e46b6715bb270@2x.jpg 2x" alt="the interior of a futuristic looking living room" /></a>
<a href="http://laterooms.tumblr.com/"><img src="https://rubenerd.com/files/museum/pinterest_4aaa6fa519484fa6bf622ca8ce4cefd3@1x.jpg" style="border-radius:16px; width:200px; height:302px" srcset="https://rubenerd.com/files/museum/pinterest_4aaa6fa519484fa6bf622ca8ce4cefd3@2x.jpg 2x" alt="the walkway is lined with green trees and brick paversed paths that lead through it" /></a>
<a href="http://www.berggruen.com/exhibitions/tom-mckinley4?view=slider#7"><img src="https://rubenerd.com/files/museum/pinterest_a90ab04ba2dc4c6b9cdf1a55baf3cddb@1x.jpg" style="border-radius:16px; width:200px; height:100px" srcset="https://rubenerd.com/files/museum/pinterest_a90ab04ba2dc4c6b9cdf1a55baf3cddb@2x.jpg 2x" alt="an artist's rendering of a house at night with a pool in the foreground" /></a>
<a href="https://www.amazingarchitecture.com/visualization/sky-point-villa-in-bedford-hills-new-york-usa-designed-by-reza-mohtashami"><img src="https://rubenerd.com/files/museum/pinterest_79205121ed4a4f2da5be4c3adbd2e30f@1x.jpg" style="border-radius:16px; width:200px; height:267px" srcset="https://rubenerd.com/files/museum/pinterest_79205121ed4a4f2da5be4c3adbd2e30f@2x.jpg 2x" alt="The Iranian architect Reza Mohtashami has designed Sky Point Villa, a contemporary house for a family of three to be built in Bedford Hills, a hamlet and census-designated place in the Town of Bedford, Westchester County, New York, United States." /></a>
<a href="https://waterlandlife.org/land-conservation/explore-our-properties/bear-run-nature-reserve/"><img src="https://rubenerd.com/files/museum/pinterest_c9cefcbd0965445e8d8a8663272050a4@1x.jpg" style="border-radius:16px; width:200px; height:246px" srcset="https://rubenerd.com/files/museum/pinterest_c9cefcbd0965445e8d8a8663272050a4@2x.jpg 2x" alt="Bear Run Nature Reserve is the flagship property of the Western Pennsylvania Conservancy. Located on the western flank of Laurel Hill in the Laurel Highlands of southwestern Pennsylvania, the Reserve offers hiking trails, backcountry campsites, and hunting and fishing opportunities. Bear Run Nature Reserve provides the setting for Fallingwater, designed for the Kaufmann family of Pittsburgh... Read More" /></a>
</div>
<div style="width:210px; float:left;">
<a href="https://www.bocadolobo.com/en/inspiration-and-ideas/remarkable-projects-a-new-ebook-that-pays-tribute-to-world-class-modern-interiors/?utm_source=pinterest&utm_medium=pin&utm_content=bocadolobo&utm_campaign=inspiration&utm_term=cmoreira"><img src="https://rubenerd.com/files/museum/pinterest_9a8a9dceaac14142a7114eb06ae58d75@1x.jpg" style="border-radius:16px; width:200px; height:250px" srcset="https://rubenerd.com/files/museum/pinterest_9a8a9dceaac14142a7114eb06ae58d75@2x.jpg 2x" alt="Boca do Lobo, has gathered a selection of their most remarkable and most inspiring modern interiors that will take you on a neverending journey through the ..." /></a>
<a href="https://beautyholo.com/room-decor/"><img src="https://rubenerd.com/files/museum/pinterest_2e06887b236d4c1998db7d07fb2702c7@1x.jpg" style="border-radius:16px; width:200px; height:300px" srcset="https://rubenerd.com/files/museum/pinterest_2e06887b236d4c1998db7d07fb2702c7@2x.jpg 2x" alt="Room decor: Crafting your space, weaving style, and personality into every corner. A canvas for self-expression and comfort. READMORE here! ✨🏡 #decoratewithlove" /></a>
<a href="https://pointdsgn.com/collections/coffee-tables-1"><img src="https://rubenerd.com/files/museum/pinterest_04843055bf104a1d9d7e535308e79a3f@1x.jpg" style="border-radius:16px; width:200px; height:300px" srcset="https://rubenerd.com/files/museum/pinterest_04843055bf104a1d9d7e535308e79a3f@2x.jpg 2x" alt="" /></a>
<a href=""><img src="https://rubenerd.com/files/museum/pinterest_d5e12b13c82e4ffc9aa2536d31deffa5@1x.jpg" style="border-radius:16px; width:200px; height:300px" srcset="https://rubenerd.com/files/museum/pinterest_d5e12b13c82e4ffc9aa2536d31deffa5@2x.jpg 2x" alt="the stairs are made of wood and have plants growing on them in front of glass doors" /></a>
<a href="http://avp.com.mx/Muroverde.html"><img src="https://rubenerd.com/files/museum/pinterest_b53cd5865526407ea6d6a1c29f56c089@1x.jpg" style="border-radius:16px; width:200px; height:235px" srcset="https://rubenerd.com/files/museum/pinterest_b53cd5865526407ea6d6a1c29f56c089@2x.jpg 2x" alt="an image of a wall with plants growing on it and instructions to install the panels" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_da9018a65bb2495a99cae41a5fd5cb55@1x.jpg" style="border-radius:16px; width:200px; height:250px" srcset="https://rubenerd.com/files/museum/pinterest_da9018a65bb2495a99cae41a5fd5cb55@2x.jpg 2x" alt="a modern house surrounded by trees and rocks" /></a>
</div>
<div style="width:210px; float:left;">
<a href="http://www.ebaumsworld.com/pictures/60-fun-filled-killer-pics-to-make-your-week/86575942/?image=86575962"><img src="https://rubenerd.com/files/museum/pinterest_83d1396cf4ba4bcaac6451fa4bd70e13@1x.jpg" style="border-radius:16px; width:200px; height:196px" srcset="https://rubenerd.com/files/museum/pinterest_83d1396cf4ba4bcaac6451fa4bd70e13@2x.jpg 2x" alt="The weekend is winding down so make sure you take some time for yourself to relax and unwind because you know Monday's evil ass is hiding around the..." /></a>
<a href="https://amazingarchitecture.com/visualization/modern-loft-in-the-woods-australia-by-sarah-habib-designs"><img src="https://rubenerd.com/files/museum/pinterest_268ae315cd614452bb0cda639fd6d06d@1x.jpg" style="border-radius:16px; width:200px; height:230px" srcset="https://rubenerd.com/files/museum/pinterest_268ae315cd614452bb0cda639fd6d06d@2x.jpg 2x" alt="An eccentric interior with industrial, modern, and minimalistic features achieves a balance between absolutely divergent styles and shapes. Keeping the palette tightly focused on natural elements, greenery appears throughout the large windows from the great forest outside creating a calm and sophisticated ambiance for the whole space." /></a>
<a href="https://www.flickr.com/photos/188160865@N02/49995687733"><img src="https://rubenerd.com/files/museum/pinterest_aaa5efb62e5e468c9c86fa1a07e73eaf@1x.jpg" style="border-radius:16px; width:200px; height:267px" srcset="https://rubenerd.com/files/museum/pinterest_aaa5efb62e5e468c9c86fa1a07e73eaf@2x.jpg 2x" alt="Explore MateBudai's 254 photos on Flickr!" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_6e6ab54f5fc14bb0863d443fb4fa4645@1x.jpg" style="border-radius:16px; width:200px; height:356px" srcset="https://rubenerd.com/files/museum/pinterest_6e6ab54f5fc14bb0863d443fb4fa4645@2x.jpg 2x" alt="an open gate leading into a garden with lots of trees and bushes on either side" /></a>
<a href="https://twitter.com/INTERIORPORN1/status/1347245313195700224/photo/3"><img src="https://rubenerd.com/files/museum/pinterest_118b2f749386462c9805362dbdf8224c@1x.jpg" style="border-radius:16px; width:200px; height:240px" srcset="https://rubenerd.com/files/museum/pinterest_118b2f749386462c9805362dbdf8224c@2x.jpg 2x" alt="Yes please." /></a>
<a href="https://www.guioteca.com/fotografia/19-de-las-imagenes-mas-sorprendentes-que-podras-ver-en-tu-vida/"><img src="https://rubenerd.com/files/museum/pinterest_c225a57761614ea5858f9cfdbe9e588c@1x.jpg" style="border-radius:16px; width:200px; height:301px" srcset="https://rubenerd.com/files/museum/pinterest_c225a57761614ea5858f9cfdbe9e588c@2x.jpg 2x" alt="Situaciones curiosas, gestos conmovedores entre animales y maravillosas postales que nos regala la naturaleza, son temáticas que llenan esta galería. Martes 26 agosto 2014" /></a>
</div>
</figure>

<p style="clear:both;"></p>
