---
title: "Pinterest backup: Liners"
date: "2022-03-01T00:00:00+11:00"
year: "2022"
category: Annexe
tag:
- architecture
- design
- pinterest-backup
location: Sydney
---
<p style="font-style:italic">This is an archive of my short-lived <a href="https://rubenerd.com/tag/pinterest-backup/">Pinterest</a> board <strong>Liners</strong>, for my favourite ocean liners of the early 20th century. Most of these are historic photos, but I still wish the original people had attributed the sources. I'll add links as I find them.</p>
<figure style="width:640px; padding:2em 0; margin-left:auto; margin-right:auto;">
<div style="width:210px; float:left;">
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_092785e65aba47108de83dbbf801111f@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_092785e65aba47108de83dbbf801111f@2x.jpg 2x" alt="a painting of people sitting at tables in a large room with chandeliers and paintings on the walls" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_8221d1eff16b4be78062107dc5571617@1x.jpg" style="border-radius:16px; width:200px; height:314px" srcset="https://rubenerd.com/files/museum/pinterest_8221d1eff16b4be78062107dc5571617@2x.jpg 2x" alt="" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_c1c84ad767bc4828ba4d603183dba88f@1x.jpg" style="border-radius:16px; width:200px; height:254px" srcset="https://rubenerd.com/files/museum/pinterest_c1c84ad767bc4828ba4d603183dba88f@2x.jpg 2x" alt="an old navy blueprint shows the different types of ships and their names on it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_7e74590fffc14c82b5a84f9e38c0540c@1x.jpg" style="border-radius:16px; width:200px; height:235px" srcset="https://rubenerd.com/files/museum/pinterest_7e74590fffc14c82b5a84f9e38c0540c@2x.jpg 2x" alt="three men standing in front of a large ship" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_9cb8f42fca3c4cfba34fb89428d2dab5@1x.jpg" style="border-radius:16px; width:200px; height:294px" srcset="https://rubenerd.com/files/museum/pinterest_9cb8f42fca3c4cfba34fb89428d2dab5@2x.jpg 2x" alt="two men are standing on the deck of a large ship while another man stands next to it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_151137bb410440d680a2252aaa592abf@1x.jpg" style="border-radius:16px; width:200px; height:160px" srcset="https://rubenerd.com/files/museum/pinterest_151137bb410440d680a2252aaa592abf@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_be93a47860354384a331864df6f31e6f@1x.jpg" style="border-radius:16px; width:200px; height:135px" srcset="https://rubenerd.com/files/museum/pinterest_be93a47860354384a331864df6f31e6f@2x.jpg 2x" alt="an old photo of a large ship in the water with people standing on dock next to it" /></a>
<a href="http://www.flickr.com/photos/smu_cul_digitalcollections/8891973956/"><img src="https://rubenerd.com/files/museum/pinterest_55619a51e5d043269c165850429b80b6@1x.jpg" style="border-radius:16px; width:200px; height:246px" srcset="https://rubenerd.com/files/museum/pinterest_55619a51e5d043269c165850429b80b6@2x.jpg 2x" alt="Title: [Front view of Lusitania on stocks] Creator: Bedford Lemere & Co. Date: ca. 1905-1907 Place: The United Kingdom Part Of: Photographs of Q.S.T.S. ''Lusitania'' Physical Description: 1 photographic print: gelatin silver; 24 x 30 cm. File: ag1982_0183_061_sm_opt.jpg Rights: Please cite DeGolyer Library, Southern Methodist University when using this file. A high-resolution version of this file may be obtained for a fee. For details see the sites.smu.edu/cul/degolyer/research/permissions/ web page. For other information, contact degolyer@smu.edu. For more information and to view the image in high resolution, see: digitalcollections.smu.edu/cdm/ref/collection/eaa/id/186 View the Europe, Asia, and Australia: Photographs, Manuscripts, and Imprints Collection" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_0ed26b8506be419e9d8ea91c5f8aa535@1x.jpg" style="border-radius:16px; width:200px; height:289px" srcset="https://rubenerd.com/files/museum/pinterest_0ed26b8506be419e9d8ea91c5f8aa535@2x.jpg 2x" alt="" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_109f29dc04f64a8d842d058855486bf3@1x.jpg" style="border-radius:16px; width:200px; height:136px" srcset="https://rubenerd.com/files/museum/pinterest_109f29dc04f64a8d842d058855486bf3@2x.jpg 2x" alt="an old black and white photo of a large ship in dry dock with cars parked next to it" /></a>
<a href="http://www.maritimequest.com/liners/lusitania_page_5.htm"><img src="https://rubenerd.com/files/museum/pinterest_11bffce473634f80bde778f3730378bd@1x.jpg" style="border-radius:16px; width:200px; height:139px" srcset="https://rubenerd.com/files/museum/pinterest_11bffce473634f80bde778f3730378bd@2x.jpg 2x" alt="" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_be7b62e19cd147e984f91cf0c3c96be8@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_be7b62e19cd147e984f91cf0c3c96be8@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_599a43ef5eeb4620803ffffb38771249@1x.jpg" style="border-radius:16px; width:200px; height:210px" srcset="https://rubenerd.com/files/museum/pinterest_599a43ef5eeb4620803ffffb38771249@2x.jpg 2x" alt="a large ship docked at a dock with people walking around" /></a>
<a href="http://www.gettyimages.com/detail/JC9077-001"><img src="https://rubenerd.com/files/museum/pinterest_6afec263946f48409689fe069f12c063@1x.jpg" style="border-radius:16px; width:200px; height:148px" srcset="https://rubenerd.com/files/museum/pinterest_6afec263946f48409689fe069f12c063@2x.jpg 2x" alt="an old photo of a large ship in the water with flags on it's mast" /></a>
<a href="http://www.liverpoolecho.co.uk/news/liverpool-news/reflecting-one-greatest-ocean-liners-7233961"><img src="https://rubenerd.com/files/museum/pinterest_f34622167bec4e1696a16136f8b98ac3@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_f34622167bec4e1696a16136f8b98ac3@2x.jpg 2x" alt="On May 30 1914 one of the greatest ocean liners of all time, Cunard’s superlliner RMS Aquitania, started her maiden voyage from Liverpool to New York" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_5d534780d4e04769b23af0c15f6b5bda@1x.jpg" style="border-radius:16px; width:200px; height:244px" srcset="https://rubenerd.com/files/museum/pinterest_5d534780d4e04769b23af0c15f6b5bda@2x.jpg 2x" alt="an old photo of a boat docked in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_bf7bc2c9a8214ddcba4d9a39bc790c20@1x.jpg" style="border-radius:16px; width:200px; height:273px" srcset="https://rubenerd.com/files/museum/pinterest_bf7bc2c9a8214ddcba4d9a39bc790c20@2x.jpg 2x" alt="an old black and white photo of people on the deck of a ship" /></a>
<a href="https://electricnik.tumblr.com/image/161594983004"><img src="https://rubenerd.com/files/museum/pinterest_bf9cfb1154fe4816ab6d0ed923b9ffce@1x.jpg" style="border-radius:16px; width:200px; height:320px" srcset="https://rubenerd.com/files/museum/pinterest_bf9cfb1154fe4816ab6d0ed923b9ffce@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="http://www.cunardline.com.au/cunard-experience/media-centre/press-releases/celebrating-100-years/"><img src="https://rubenerd.com/files/museum/pinterest_619b7424c2ca480daf2ab1a2effc5aaf@1x.jpg" style="border-radius:16px; width:200px; height:151px" srcset="https://rubenerd.com/files/museum/pinterest_619b7424c2ca480daf2ab1a2effc5aaf@2x.jpg 2x" alt="A rare Cunard overnight in Liverpool to celebrate Aquitania Centenary" /></a>
<a href="http://www.ultimatetitanic.com/rms-olympic-britannic/#.VFsCaSjmYkp"><img src="https://rubenerd.com/files/museum/pinterest_2d960c95c5a84bd3a16ed961dfb6fbd8@1x.jpg" style="border-radius:16px; width:200px; height:251px" srcset="https://rubenerd.com/files/museum/pinterest_2d960c95c5a84bd3a16ed961dfb6fbd8@2x.jpg 2x" alt="Learn about the famous Titanic sister ships RMS Olympic and RMS Britannic. How similar were they to the ill fated Titanic and what happened to them." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_002d1d9a23bf4cbbb94dfd1e3f579e29@1x.jpg" style="border-radius:16px; width:200px; height:141px" srcset="https://rubenerd.com/files/museum/pinterest_002d1d9a23bf4cbbb94dfd1e3f579e29@2x.jpg 2x" alt="an aerial view of a large ship docked in the water next to other boats and ships" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_04f9d0e8c2744ec587473553395e2113@1x.jpg" style="border-radius:16px; width:200px; height:249px" srcset="https://rubenerd.com/files/museum/pinterest_04f9d0e8c2744ec587473553395e2113@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_2349c7bc13aa4310a9ead5615cb41778@1x.jpg" style="border-radius:16px; width:200px; height:135px" srcset="https://rubenerd.com/files/museum/pinterest_2349c7bc13aa4310a9ead5615cb41778@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="https://www.cbsnews.com/pictures/the-lusitania-disaster/"><img src="https://rubenerd.com/files/museum/pinterest_e4cf0f17b907436da1e7c68bd839c157@1x.jpg" style="border-radius:16px; width:200px; height:287px" srcset="https://rubenerd.com/files/museum/pinterest_e4cf0f17b907436da1e7c68bd839c157@2x.jpg 2x" alt="It was the fastest luxury liner afloat a century ago - and its sinking by a German U-boat helped steer the United States' entrance into World War I" /></a>
<a href="http://timewastingmachine.tumblr.com/post/83881612796/totheseainships-the-rms-mauretania-just-before"><img src="https://rubenerd.com/files/museum/pinterest_eaf0b5903fce4eee8936f81e6c4f4d5c@1x.jpg" style="border-radius:16px; width:200px; height:272px" srcset="https://rubenerd.com/files/museum/pinterest_eaf0b5903fce4eee8936f81e6c4f4d5c@2x.jpg 2x" alt="totheseainships: “ The RMS Mauretania just before her launch on September 20th, 1906. ”" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_b74f2e814d804ec5b7fda2d09f22e883@1x.jpg" style="border-radius:16px; width:200px; height:145px" srcset="https://rubenerd.com/files/museum/pinterest_b74f2e814d804ec5b7fda2d09f22e883@2x.jpg 2x" alt="an old black and white photo of a large boat in dry dock next to other boats" /></a>
<a href="https://hubpages.com/education/alternatetitanic"><img src="https://rubenerd.com/files/museum/pinterest_ac250853bf074eff89e4b7ea60044b76@1x.jpg" style="border-radius:16px; width:200px; height:187px" srcset="https://rubenerd.com/files/museum/pinterest_ac250853bf074eff89e4b7ea60044b76@2x.jpg 2x" alt="What would have become of the RMS Titanic, herself, has she not sunk on her maiden voyage that fateful April night? The answer may disappoint you." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_75abf8cc89b847c8908dbfcb3b49c591@1x.jpg" style="border-radius:16px; width:200px; height:324px" srcset="https://rubenerd.com/files/museum/pinterest_75abf8cc89b847c8908dbfcb3b49c591@2x.jpg 2x" alt="an old black and white photo of a large boat being built in the shipyard with scaffolding around it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_f087ab9d34b4426db83e585b2a2b24e7@1x.jpg" style="border-radius:16px; width:200px; height:157px" srcset="https://rubenerd.com/files/museum/pinterest_f087ab9d34b4426db83e585b2a2b24e7@2x.jpg 2x" alt="an old photo of a large ship in the ocean" /></a>
<a href="https://www.theguardian.com/uk-news/gallery/2014/oct/14/titanics-belfast-launch-in-pictures"><img src="https://rubenerd.com/files/museum/pinterest_920be6456e0b4994aea6e173ed81616b@1x.jpg" style="border-radius:16px; width:200px; height:149px" srcset="https://rubenerd.com/files/museum/pinterest_920be6456e0b4994aea6e173ed81616b@2x.jpg 2x" alt="A selection of images depicting the launch of the doomed ocean liner at the Belfast shipyard where she was constructed" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_78d0938b1d26445490181f12cab56482@1x.jpg" style="border-radius:16px; width:200px; height:267px" srcset="https://rubenerd.com/files/museum/pinterest_78d0938b1d26445490181f12cab56482@2x.jpg 2x" alt="an old photo of a large boat docked at a dock in the water with a crane on it's side" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_198fea26cdad496fa1da0c1420584510@1x.jpg" style="border-radius:16px; width:200px; height:268px" srcset="https://rubenerd.com/files/museum/pinterest_198fea26cdad496fa1da0c1420584510@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="https://www.flickr.com/photos/twm_news/5656740819/"><img src="https://rubenerd.com/files/museum/pinterest_5f9aebbcbda348e4983264b8092f1a26@1x.jpg" style="border-radius:16px; width:200px; height:147px" srcset="https://rubenerd.com/files/museum/pinterest_5f9aebbcbda348e4983264b8092f1a26@2x.jpg 2x" alt="Heres a view showing the second- class promenades of the Mauretania. The Mauretania was built by the shipbuilders Swan Hunter and Wigham Richardson Ltd, at the Wallsend shipyard and was one of the most famous ships ever built on Tyneside. Ref: TWAS:DS.SWH/4/PH/7/6/54 (Copyright) We're happy for you to share this digital image within the spirit of The Commons. Please cite 'Tyne & Wear Archives & Museums' when reusing. Certain restrictions on high quality reproductions and commercial use of the original physical version apply though; if you're unsure please email archives@twmuseums.org.uk. To purchase a hi-res copy please email archives@twmuseums.org.uk quoting the title and reference number." /></a>
<a href="http://oceansuperliners.blogspot.com.au/2014/05/the-rms-empress-of-britain-was-ocean.html"><img src="https://rubenerd.com/files/museum/pinterest_6f9ae10502a646c9b55e9924cdfab70c@1x.jpg" style="border-radius:16px; width:200px; height:147px" srcset="https://rubenerd.com/files/museum/pinterest_6f9ae10502a646c9b55e9924cdfab70c@2x.jpg 2x" alt="Empress of Britain...Titanic's Sister Olympic is on the left." /></a>
<a href="http://newcastlephotos.blogspot.ca/2015/04/old-photos-of-swan-hunter-wigham.html"><img src="https://rubenerd.com/files/museum/pinterest_3acdfa08280a42a4a3e0114706870403@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_3acdfa08280a42a4a3e0114706870403@2x.jpg 2x" alt="Swan Hunter, formerly known as Swan Hunter & Wigham Richardson, is a shipbuilding design, engineering, and management company, based in Wallsend, Tyne and Wear, England. At its apex, the company represented the combined forces of three powerful shipbuilding families: Swan, Hunter and Wigham Richardson. The company was responsible for some of the greatest ships of the early 20th century, most famously RMS Mauretania which held the Blue Riband for the fastest crossing of the Atlantic, and RMS Carpathia which rescued survivors from RMS Titanic. In 2006 Swan Hunter ceased vessel construction on Tyneside, but continues to provide design engineering services. More information at Wikipedia - Swan Hunters Shipyard. Mauretania Construction c.1906. A view looking forward from the aft end of the engine room during the building of the Mauretania. The vessel was built for the Cunard Steamship Co. in 1905/7 by Swan Hunter of Wallsend and launched from the Tyne in 1906. The photograph is taken from \'Q.T.S.S. MAURETANIA\', The Shipbuilding Souvenir. Photo courtesy of Beamish Collection. Mauretania Construction c.1906. The Low Pressure (L.P.) Rotor fully bladed - a component part of a turbine of the Mauretania. The vessel was built for the Cunard Steamship Co. in 1905/7 by Swan Hunter of Wallsend and launched from the Tyne in 1906. The photograph was taken from Q.T.S.S. Mauretania', The Shipbuilder, Souvenir Number 1907 Figure 73. Photo courtesy of Beamish Collection. Mauretania Construction c.1906. Photo courtesy of Beamish Collection. Assembly Shop 1905. General view of the Assembly Shop at Wallsend Slipway and Engineering Co (became Swan Hunters). From album from The Wallsend Slipway and Engineering Co No 3. 1905. Photo courtesy of Beamish Collection. Mauretania Construction c.1906. Stern of the SS Mauretania on the slipway at Swan Hunters shipyard, Wallsend, c. 1906. From the G.L. Drury Collection - Chief Electrical Engineer for NER. Photo courtesy of Beamish Collection. Mauretania Launch c.1906. Launch of the SS Mauretania from the slipway at Swan Hunters shipyard, Wallsend, c1906. From the G.L. Drury Collection - Chief Electrical Engineer for NER. Photo courtesy of Beamish Collection. Mauretania Construction c.1906. View along lifeboat deck of SS Mauretania at Swan Hunters shipyard, Wallsend, c1906. From the G.L. Drury Collection - Chief Electrical Engineer for NER. Photo courtesy of Beamish Collection. A floating dock under construction. January 1961. Photo courtesy of Beamish Collection. Ship No 1785 on stocks. February 1950. Photo courtesy of Beamish Collection. Dagland launch. July 1952 Dagland going down the ways during launch in July 1952. Photo courtesy of Beamish Collection. More old photos on this site: Armstrong Bridge & Craft Fair Bath Lane Byker Byker - Shields Road Construction of the Tyne & Wear Metro Construction of the Tyne Pedestrian and Cyclist Tunnels Grainger Market, The Grubb Parsons Telescopes Heaton Mayfair Ballroom, The Newcastle in 1970's by John Fox Newcastle in the 1800's Newcastle Shops of the 1940s Newcastle University North Shields Fish Quay Odeon/Paramount Cinema Reader Submitted Old Photos Shipbuilding on the River Tyne, 1960-1977 Swan Hunters - HMS Ark Royal under construction Swan Hunters - RMS Mauretania Town Moor - The Hoppings" /></a>
<a href="https://ocean-liners.tumblr.com/post/151970085903/mikesheaap-lusitania-1907-arriving-in-nyc-on"><img src="https://rubenerd.com/files/museum/pinterest_c4243529b83048b59bc47212f593f520@1x.jpg" style="border-radius:16px; width:200px; height:257px" srcset="https://rubenerd.com/files/museum/pinterest_c4243529b83048b59bc47212f593f520@2x.jpg 2x" alt="Lusitania, 1907, arriving in NYC on maiden voyage." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_5ca3fb70930d44c0984e33e18ac920b4@1x.jpg" style="border-radius:16px; width:200px; height:165px" srcset="https://rubenerd.com/files/museum/pinterest_5ca3fb70930d44c0984e33e18ac920b4@2x.jpg 2x" alt="an old black and white photo of men working on the side of a large ship" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_5620d933beab4f029c51bd9943913a84@1x.jpg" style="border-radius:16px; width:200px; height:112px" srcset="https://rubenerd.com/files/museum/pinterest_5620d933beab4f029c51bd9943913a84@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_db4eaa53324a4cb4b09495168c69ce88@1x.jpg" style="border-radius:16px; width:200px; height:193px" srcset="https://rubenerd.com/files/museum/pinterest_db4eaa53324a4cb4b09495168c69ce88@2x.jpg 2x" alt="" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_1a6ed14b7e0e416eb5669f06be2154ee@1x.jpg" style="border-radius:16px; width:200px; height:247px" srcset="https://rubenerd.com/files/museum/pinterest_1a6ed14b7e0e416eb5669f06be2154ee@2x.jpg 2x" alt="a large boat sitting on top of a dry dock next to people standing near it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_fd406cb85e2e406da01540482fd4dcbe@1x.jpg" style="border-radius:16px; width:200px; height:302px" srcset="https://rubenerd.com/files/museum/pinterest_fd406cb85e2e406da01540482fd4dcbe@2x.jpg 2x" alt="black and white photograph of queen mary in dry dock" /></a>
<a href="https://www.flickr.com/photos/125874736@N06/14600552125/in/photostream/"><img src="https://rubenerd.com/files/museum/pinterest_936e6958f78e4d5c95f52fbebac81e3b@1x.jpg" style="border-radius:16px; width:200px; height:123px" srcset="https://rubenerd.com/files/museum/pinterest_936e6958f78e4d5c95f52fbebac81e3b@2x.jpg 2x" alt="Explore breathlessdaydream's 371 photos on Flickr!" /></a>
<a href="https://www.curbed.com/2017/6/29/15892518/gilded-age-ocean-liner-history-first-class"><img src="https://rubenerd.com/files/museum/pinterest_736fbea52e9144eaab355521aba7f889@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_736fbea52e9144eaab355521aba7f889@2x.jpg 2x" alt="For a brief period of time, giant transatlantic liners dominated the Atlantic ocean, offering new levels of luxury. Here’s why." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_1356c826b0d94c37bcd603aeaff932b2@1x.jpg" style="border-radius:16px; width:200px; height:241px" srcset="https://rubenerd.com/files/museum/pinterest_1356c826b0d94c37bcd603aeaff932b2@2x.jpg 2x" alt="an old photo of a large boat being worked on" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_c6e7f972ad2142e7829901acdd6b2ca0@1x.jpg" style="border-radius:16px; width:200px; height:132px" srcset="https://rubenerd.com/files/museum/pinterest_c6e7f972ad2142e7829901acdd6b2ca0@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_ed5b3ad44c3f485b984e5182ac62e9ba@1x.jpg" style="border-radius:16px; width:200px; height:247px" srcset="https://rubenerd.com/files/museum/pinterest_ed5b3ad44c3f485b984e5182ac62e9ba@2x.jpg 2x" alt="" /></a>
<a href="https://www.laboiteverte.fr/construction-du-titanic/"><img src="https://rubenerd.com/files/museum/pinterest_1ff1b60af3024b42bcce2b7b3f2997b6@1x.jpg" style="border-radius:16px; width:200px; height:126px" srcset="https://rubenerd.com/files/museum/pinterest_1ff1b60af3024b42bcce2b7b3f2997b6@2x.jpg 2x" alt="Voir l’article pour en savoir plus." /></a>
<a href="https://www.gettyimages.com/detail/news-photo/the-cunard-liner-the-aquitania-arrives-at-the-port-of-news-photo/3315833"><img src="https://rubenerd.com/files/museum/pinterest_1e92abb87e2f43eea9ac9845f2a196e5@1x.jpg" style="border-radius:16px; width:200px; height:148px" srcset="https://rubenerd.com/files/museum/pinterest_1e92abb87e2f43eea9ac9845f2a196e5@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="http://www.laboiteverte.fr/construction-du-titanic/"><img src="https://rubenerd.com/files/museum/pinterest_cd44406d9cb841219bee414388c0e8be@1x.jpg" style="border-radius:16px; width:200px; height:266px" srcset="https://rubenerd.com/files/museum/pinterest_cd44406d9cb841219bee414388c0e8be@2x.jpg 2x" alt="Voir l’article pour en savoir plus." /></a>
<a href="https://issuu.com/thehistorypress/docs/titanicinphotographs_sampler"><img src="https://rubenerd.com/files/museum/pinterest_6dc57a4ee3ee49ba84db6743e8dae8db@1x.jpg" style="border-radius:16px; width:200px; height:200px" srcset="https://rubenerd.com/files/museum/pinterest_6dc57a4ee3ee49ba84db6743e8dae8db@2x.jpg 2x" alt="The story of Titanic in pictures, from build to tragic maiden voyage." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_87e3a7f7b0c84253851f66fbb436df5b@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_87e3a7f7b0c84253851f66fbb436df5b@2x.jpg 2x" alt="an old black and white photo of two large ships" /></a>
<a href="http://www.dailymail.co.uk/news/article-2172654/Was-Lusitania-war-crime-1-198-passengers-died-liner-sank-1915--German-torpedo-really-blame.html"><img src="https://rubenerd.com/files/museum/pinterest_3d8247a8a88c49869f017e882b186834@1x.jpg" style="border-radius:16px; width:200px; height:134px" srcset="https://rubenerd.com/files/museum/pinterest_3d8247a8a88c49869f017e882b186834@2x.jpg 2x" alt="Within seconds of the initial shock, the great passenger liner listed and began to sink, her four funnels belching smoke. Women and children shrieked in panic, and lifeboats swung drunkenly." /></a>
<a href="https://www.cunard.com/campaigns/anniversary-cruises/world-club-sale/lusitania-remembered/"><img src="https://rubenerd.com/files/museum/pinterest_f3be61cd93df437fb7e1151a117225f4@1x.jpg" style="border-radius:16px; width:200px; height:79px" srcset="https://rubenerd.com/files/museum/pinterest_f3be61cd93df437fb7e1151a117225f4@2x.jpg 2x" alt="an old photo of a large ship in the water with many people on it's deck" /></a>
</div>
<div style="width:210px; float:left;">
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_3e7aaf94613842d18d17dbc78d9f9aa8@1x.jpg" style="border-radius:16px; width:200px; height:216px" srcset="https://rubenerd.com/files/museum/pinterest_3e7aaf94613842d18d17dbc78d9f9aa8@2x.jpg 2x" alt="a black and white photo of a large ship" /></a>
<a href="http://retrorambling.wordpress.com/2011/07/25/rms-olympic-titanics-sister-ship/"><img src="https://rubenerd.com/files/museum/pinterest_cd6abd86d66f4fa1b9699ef7d21f15cd@1x.jpg" style="border-radius:16px; width:200px; height:142px" srcset="https://rubenerd.com/files/museum/pinterest_cd6abd86d66f4fa1b9699ef7d21f15cd@2x.jpg 2x" alt="From Wikipedia, the free encyclopedia RMS Olympic was the lead ship of the Olympic-class ocean liners built for the White Star Line, which also included Titanic and Britannic. Unlike her sisters, O…" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_204d1fc89e2a404cb70c07d9a4b42e46@1x.jpg" style="border-radius:16px; width:200px; height:143px" srcset="https://rubenerd.com/files/museum/pinterest_204d1fc89e2a404cb70c07d9a4b42e46@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="http://www.smh.com.au/entertainment/tv-and-radio/downton-on-the-sea-20120413-1wxg6.html"><img src="https://rubenerd.com/files/museum/pinterest_f12cbf5cd3ce41459e1b231583b2ac91@1x.jpg" style="border-radius:16px; width:200px; height:178px" srcset="https://rubenerd.com/files/museum/pinterest_f12cbf5cd3ce41459e1b231583b2ac91@2x.jpg 2x" alt="IT IS 100 years since the supposedly unsinkable Titanic hit an iceberg on its maiden voyage and duly sunk, killing 1514 people. It was inevitable, of course, that television would have to mark the occasion with its version of the great disaster. Perhaps it was equally inevitable that Julian Fellowes, the writer of Downton Abbey and Gosford Park, would end up doing the job." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_74c8e1ded37d457bae0f9b7828695021@1x.jpg" style="border-radius:16px; width:200px; height:165px" srcset="https://rubenerd.com/files/museum/pinterest_74c8e1ded37d457bae0f9b7828695021@2x.jpg 2x" alt="an old black and white photo of a large ship in the middle of the ocean" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_9ca638defbde47818c009a3c79281e01@1x.jpg" style="border-radius:16px; width:200px; height:137px" srcset="https://rubenerd.com/files/museum/pinterest_9ca638defbde47818c009a3c79281e01@2x.jpg 2x" alt="" /></a>
<a href="http://silodrome.com/category/boats/page/2/"><img src="https://rubenerd.com/files/museum/pinterest_7bab8caa61ca44458ae887f5442a6337@1x.jpg" style="border-radius:16px; width:200px; height:147px" srcset="https://rubenerd.com/files/museum/pinterest_7bab8caa61ca44458ae887f5442a6337@2x.jpg 2x" alt="an old black and white photo of a large propeller plane on display at a museum" /></a>
<a href="https://www.boredpanda.com/interesting-images-history-atlas/?utm_source=pinterest&utm_medium=social&utm_campaign=organic"><img src="https://rubenerd.com/files/museum/pinterest_6ab7abe810dc49779d8a674e133b4ba3@1x.jpg" style="border-radius:16px; width:200px; height:235px" srcset="https://rubenerd.com/files/museum/pinterest_6ab7abe810dc49779d8a674e133b4ba3@2x.jpg 2x" alt="Today we'd like for you to take a look at an Instagram account by the name of \'The History Atlas\'. This page collects interesting and unseen historic images and shares them with its whopping 81K followers on the platform." /></a>
<a href="https://www.curbed.com/2017/6/29/15892518/gilded-age-ocean-liner-history-first-class?utm_campaign=curbed&utm_content=entry&utm_medium=social&utm_source=pinterest"><img src="https://rubenerd.com/files/museum/pinterest_f7fcfc4b693d4f2a9b39d393aa3e2222@1x.jpg" style="border-radius:16px; width:200px; height:113px" srcset="https://rubenerd.com/files/museum/pinterest_f7fcfc4b693d4f2a9b39d393aa3e2222@2x.jpg 2x" alt="For a brief period of time, giant transatlantic liners dominated the Atlantic ocean, offering new levels of luxury. Here’s why." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_e04f931682434a74a5a2a81a88a46d67@1x.jpg" style="border-radius:16px; width:200px; height:275px" srcset="https://rubenerd.com/files/museum/pinterest_e04f931682434a74a5a2a81a88a46d67@2x.jpg 2x" alt="an old black and white photo of a dining room with fancy chairs, chandeliers and tables" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_67676f0dff66477a90e3f5e301a82fe9@1x.jpg" style="border-radius:16px; width:200px; height:160px" srcset="https://rubenerd.com/files/museum/pinterest_67676f0dff66477a90e3f5e301a82fe9@2x.jpg 2x" alt="an old factory with machinery and people in it" /></a>
<a href="https://wis05101.wordpress.com/2014/12/15/photos-of-titanic/"><img src="https://rubenerd.com/files/museum/pinterest_3837fdcdeb5743e881e0c485b5dde851@1x.jpg" style="border-radius:16px; width:200px; height:242px" srcset="https://rubenerd.com/files/museum/pinterest_3837fdcdeb5743e881e0c485b5dde851@2x.jpg 2x" alt="Elizabeth Walton Allen was travelling with the first class ticket. First Class Room First Class Dining Room First Class Suite Bathroom The Grand Staircase" /></a>
<a href="http://www.maritimequest.com/liners/aquitania_page_2.htm"><img src="https://rubenerd.com/files/museum/pinterest_2a09dc65b0cb453d9d46877424d5df7a@1x.jpg" style="border-radius:16px; width:200px; height:222px" srcset="https://rubenerd.com/files/museum/pinterest_2a09dc65b0cb453d9d46877424d5df7a@2x.jpg 2x" alt="an old black and white photo of a large boat in dry dock with other boats behind it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_8bf31a9fde0c4fdfbb5d5f6792d25576@1x.jpg" style="border-radius:16px; width:200px; height:125px" srcset="https://rubenerd.com/files/museum/pinterest_8bf31a9fde0c4fdfbb5d5f6792d25576@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="http://collections.rmg.co.uk/collections/objects/20528.html"><img src="https://rubenerd.com/files/museum/pinterest_f10d0da0bcf147aaa9e0000cc3846cf7@1x.jpg" style="border-radius:16px; width:200px; height:240px" srcset="https://rubenerd.com/files/museum/pinterest_f10d0da0bcf147aaa9e0000cc3846cf7@2x.jpg 2x" alt="an old airplane sitting on top of a tarmac" /></a>
<a href="https://owlcation.com/humanities/Unsinkable-Legend-Titanic-Greensleeves"><img src="https://rubenerd.com/files/museum/pinterest_f179bf2ec024423a80ae9aabf74c8071@1x.jpg" style="border-radius:16px; width:200px; height:100px" srcset="https://rubenerd.com/files/museum/pinterest_f179bf2ec024423a80ae9aabf74c8071@2x.jpg 2x" alt="No man-made disaster lives in our collective memory quite like the sinking of the \'Titanic.\' Explore the timeline, key people, and deadly details of this historical tragedy." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_bc869c39c6fd470994e739b2bf48957b@1x.jpg" style="border-radius:16px; width:200px; height:157px" srcset="https://rubenerd.com/files/museum/pinterest_bc869c39c6fd470994e739b2bf48957b@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="https://capewolfe.tumblr.com/"><img src="https://rubenerd.com/files/museum/pinterest_abf5c3d7be58447a8918c5db63637be2@1x.jpg" style="border-radius:16px; width:200px; height:263px" srcset="https://rubenerd.com/files/museum/pinterest_abf5c3d7be58447a8918c5db63637be2@2x.jpg 2x" alt="an old black and white photo of a large ship in the water" /></a>
<a href="http://www.dailymail.co.uk/news/article-5949223/The-moment-Carpathia-ship-rescued-700-Titanic-survivors-80-years-sank.html"><img src="https://rubenerd.com/files/museum/pinterest_a993e74e7af74eaabc6b212d6ac15f25@1x.jpg" style="border-radius:16px; width:200px; height:151px" srcset="https://rubenerd.com/files/museum/pinterest_a993e74e7af74eaabc6b212d6ac15f25@2x.jpg 2x" alt="The steamship Carpathia became famous when her crew rescued 700 survivors from the Titanic disaster but within four years she too was at the bottom of the ocean." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_67dd6c5698f14e958f79b4b253fe5f23@1x.jpg" style="border-radius:16px; width:200px; height:175px" srcset="https://rubenerd.com/files/museum/pinterest_67dd6c5698f14e958f79b4b253fe5f23@2x.jpg 2x" alt="" /></a>
<a href="https://www.irishpost.com/news/rms-carpathia-12-facts-titanics-rescue-165987"><img src="https://rubenerd.com/files/museum/pinterest_92349aaf71fd42fabcc4e637c6380b94@1x.jpg" style="border-radius:16px; width:200px; height:140px" srcset="https://rubenerd.com/files/museum/pinterest_92349aaf71fd42fabcc4e637c6380b94@2x.jpg 2x" alt="ON APRIL 15, 1912, a tiny vessel measuring no more than 170 metres in length was thrust into the ..." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_8dd465ab50a04dff8520003f297ffac5@1x.jpg" style="border-radius:16px; width:200px; height:329px" srcset="https://rubenerd.com/files/museum/pinterest_8dd465ab50a04dff8520003f297ffac5@2x.jpg 2x" alt="" /></a>
<a href="https://radaronline.com/photos/black-and-white-photographs-of-the-titanic-and-passengers/"><img src="https://rubenerd.com/files/museum/pinterest_fa42bee67be944efbfaf997fda64c862@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_fa42bee67be944efbfaf997fda64c862@2x.jpg 2x" alt="Black And White Photographs Of The Titanic And Passengers" /></a>
<a href="http://ssmaritime.com/Titanic.htm"><img src="https://rubenerd.com/files/museum/pinterest_0229ea755c6b463babfd1b4474879908@1x.jpg" style="border-radius:16px; width:200px; height:143px" srcset="https://rubenerd.com/files/museum/pinterest_0229ea755c6b463babfd1b4474879908@2x.jpg 2x" alt="an old black and white photo of fire hydrants in the middle of a building" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_efe0562fec5d48e09b92ae89e887ad1a@1x.jpg" style="border-radius:16px; width:200px; height:112px" srcset="https://rubenerd.com/files/museum/pinterest_efe0562fec5d48e09b92ae89e887ad1a@2x.jpg 2x" alt="" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_6f2b328b69094b769da8039da2d767e8@1x.jpg" style="border-radius:16px; width:200px; height:328px" srcset="https://rubenerd.com/files/museum/pinterest_6f2b328b69094b769da8039da2d767e8@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="https://www.etsy.com/listing/180954478/rms-queen-mary-cunard-ocean-liner-8x10"><img src="https://rubenerd.com/files/museum/pinterest_fe9c3dbb862548309668d1023ce523b3@1x.jpg" style="border-radius:16px; width:200px; height:253px" srcset="https://rubenerd.com/files/museum/pinterest_fe9c3dbb862548309668d1023ce523b3@2x.jpg 2x" alt="Hello and welcome! For your consideration is an 8x10 black and white photo of the RMS Queen Mary. This photo was personally taken digitally during my travels through the years, using a Nikon camera, then edited using photo editing software. Your photo will be printed on glossy Fujicolor Crystal Archive paper. Check out my other photo prints available! Please contact me with any questions you may have. Thanks for looking and happy shopping!" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_0e95f5505d2c4fb6847fc8f6c3e50ab6@1x.jpg" style="border-radius:16px; width:200px; height:248px" srcset="https://rubenerd.com/files/museum/pinterest_0e95f5505d2c4fb6847fc8f6c3e50ab6@2x.jpg 2x" alt="an old photo of a large ship in the water with people standing on it's deck" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_2dbdb08a6b254d1ab9a2f9a2ff7c0080@1x.jpg" style="border-radius:16px; width:200px; height:260px" srcset="https://rubenerd.com/files/museum/pinterest_2dbdb08a6b254d1ab9a2f9a2ff7c0080@2x.jpg 2x" alt="the large ship is docked in the harbor at night, with another boat nearby on the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_f504a695e3124262ba228d39bb9d4ad7@1x.jpg" style="border-radius:16px; width:200px; height:138px" srcset="https://rubenerd.com/files/museum/pinterest_f504a695e3124262ba228d39bb9d4ad7@2x.jpg 2x" alt="a large boat floating on top of a body of water" /></a>
<a href="https://www.gettyimages.de/detail/nachrichtenfoto/hudson-river-the-queen-mary-sailing-for-europe-new-nachrichtenfoto/179781346?uiloc=thumbnail_more_from_this_event_adp&uiloc=thumbnail_more_from_this_event_adp"><img src="https://rubenerd.com/files/museum/pinterest_b93c55214f774f05b279d4f8e9da1614@1x.jpg" style="border-radius:16px; width:200px; height:172px" srcset="https://rubenerd.com/files/museum/pinterest_b93c55214f774f05b279d4f8e9da1614@2x.jpg 2x" alt="Hudson River, The Queen Mary sailing for Europe, New York, New York, ca. 1949." /></a>
<a href="https://intimesgoneby.wordpress.com/"><img src="https://rubenerd.com/files/museum/pinterest_94bee153bd07480a89d552dae2c1bb81@1x.jpg" style="border-radius:16px; width:200px; height:226px" srcset="https://rubenerd.com/files/museum/pinterest_94bee153bd07480a89d552dae2c1bb81@2x.jpg 2x" alt="an old photo of a cruise ship in the water with people standing on it's deck" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_2f7128f692974596847f9a4798cbcc9a@1x.jpg" style="border-radius:16px; width:200px; height:248px" srcset="https://rubenerd.com/files/museum/pinterest_2f7128f692974596847f9a4798cbcc9a@2x.jpg 2x" alt="an aerial view of a large ship in the water with other boats around it and people standing on the deck" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_1e8b69e5d160420e930359550a97e8e9@1x.jpg" style="border-radius:16px; width:200px; height:293px" srcset="https://rubenerd.com/files/museum/pinterest_1e8b69e5d160420e930359550a97e8e9@2x.jpg 2x" alt="an old black and white photo of people on the deck of a large cruise ship" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_59564e1669f34d9ab9b94e54617c7075@1x.jpg" style="border-radius:16px; width:200px; height:154px" srcset="https://rubenerd.com/files/museum/pinterest_59564e1669f34d9ab9b94e54617c7075@2x.jpg 2x" alt="" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_cfaa0de7afe04dc099d972e94ccd594a@1x.jpg" style="border-radius:16px; width:200px; height:264px" srcset="https://rubenerd.com/files/museum/pinterest_cfaa0de7afe04dc099d972e94ccd594a@2x.jpg 2x" alt="an old photo of a large boat being worked on" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_03f939caebcc42ab9986309a82a3f062@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_03f939caebcc42ab9986309a82a3f062@2x.jpg 2x" alt="a large boat floating on top of a body of water" /></a>
<a href="https://www.art.com/products/p30276545691/product.htm"><img src="https://rubenerd.com/files/museum/pinterest_5552c54b9c3b4b7cacf688c64935c5b9@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_5552c54b9c3b4b7cacf688c64935c5b9@2x.jpg 2x" alt="Art.com | We Are Art We exist so you can have the art you love. Art.com gives you easy access to incredible art images and top-notch craftsmanship. High-Quality Framed Art Prints Our high-end framed wall art is printed on premium paper using non-toxic, archival inks that protect against UV light to resist fading. Experience unmatched quality and style as you choose from a wide range of designs to enhance your room décor. Professionally Crafted Framed Wall Art Attention to detail is at the heart of our process, as we exclusively use 100% solid wood frames that include 4-ply white core matboard and durable, frame-grade clear acrylic for clarity, long-lasting protection of the artwork and unrivaled quality. With a thoughtfully selected frame and mat combination, this piece is designed to complement your art and create a visually appealing display. Easy-to-Hang & Ready-to-Display Artwork Each framed art piece comes with hanging hardware affixed to the back of the frame, allowing for easy and convenient installation. Ready to display right out of the box. Handcrafted in the USA. Cunard liner RMS Aquitania bw photo English Photographer th century Private Collection Look and Learn Elgar Collection The Bridgeman Art Library Transportation Art Partake in a sailing regatta or feel the wind in your hair cruising in a ‘Vette. Go places without leaving home. Give wings to self-expression with our transportation art collection. Pick the perfect ride for your walls from mega jets, cool kayaks to vintage race cars. Get them wall-ready and fabulous in our handcrafted frames, starting at $59. Famous works of art from this collection include Monet’s Sailboat, Sleep Balloon by Nancy Tillman. Vapor Helicopter by Banksy. Travel Art Art is the best way of seeing the world when travel isn’t possible. Explore our curation of travel art for a trip around the globe. See from tourist favorites landmarks–the Eiffel tower– to hidden gems like the breathtaking landscapes of Yosemite National Park. Whether you find a cozy reminder of home, your dream destinations, or even cool maps of the world, our handcrafted frames will give it the perfect finishing touch. The Print This photographic print leverages sophisticated digital technology to capture a level of detail that is absolutely stunning. The colors are vivid and pure. The high-quality archival paper, a favorite choice among professional photographers, has a refined luster quality. Paper Type: Photographic Print Finished Size: 24\' x 16\' Arrives by Sat, Feb 24 Product ID: 30276545691A" /></a>
<a href="https://www.houzz.com/pvp/rms-aquitania-cunard-line-ocean-liner-in-1913-from-the-story-of-seventy-moment-prpv-pv~123548517?m_refid=houzzmpl-pinterest-pictures-all-2022"><img src="https://rubenerd.com/files/museum/pinterest_095d0b6923c24def8e4aa54d99e42293@1x.jpg" style="border-radius:16px; width:200px; height:200px" srcset="https://rubenerd.com/files/museum/pinterest_095d0b6923c24def8e4aa54d99e42293@2x.jpg 2x" alt="Rms Aquitania Cunard Line Ocean Liner In 1913. From The Story Of Seventy Momentous Years Published By Odhams Press 1937. Poster Print (18 x 11) is a licensed reproduction that was printed on Premium Heavy Stock Paper which captures all of the vivid colors and details of the original. The overall paper size is 18.00 x 11.00 inches and the image size is 18.00 x 11.00 inches. This print is ready for hanging or framing. Brand New and Rolled and ready for display or framingPrint Title: Rms Aquitania Cunard Line Ocean Liner In 1913. From The Story Of Seventy Momentous Years Published By Odhams Press 1937. Poster Print (18 x 11) Paper Size: 18.00 x 11.00 inches Product Type: Photo Print Artist: Ken Welsh / Design Pics" /></a>
<a href="http://capewolfe.tumblr.com/post/147366744246/rms-aquitania-fueling-at-the-port-of-new-york"><img src="https://rubenerd.com/files/museum/pinterest_ed465c05b1a14190aa68483b4c202266@1x.jpg" style="border-radius:16px; width:200px; height:145px" srcset="https://rubenerd.com/files/museum/pinterest_ed465c05b1a14190aa68483b4c202266@2x.jpg 2x" alt="RMS Aquitania fueling at the port of New York, 1930." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_94a8a81f5e43410e853231a2dab26919@1x.jpg" style="border-radius:16px; width:200px; height:138px" srcset="https://rubenerd.com/files/museum/pinterest_94a8a81f5e43410e853231a2dab26919@2x.jpg 2x" alt="an old photo of a large ship in the water with many people standing around it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_6a58af6347a245109e42d26cc846344e@1x.jpg" style="border-radius:16px; width:200px; height:263px" srcset="https://rubenerd.com/files/museum/pinterest_6a58af6347a245109e42d26cc846344e@2x.jpg 2x" alt="an old black and white photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_8714fce58d4846768c3237947f535574@1x.jpg" style="border-radius:16px; width:200px; height:145px" srcset="https://rubenerd.com/files/museum/pinterest_8714fce58d4846768c3237947f535574@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="http://transatlanticera.blogspot.com.br/2015/06/the-big-four-seconda-parte.html"><img src="https://rubenerd.com/files/museum/pinterest_4e6ea60ae85d40c199e71d6ee9a7b19f@1x.jpg" style="border-radius:16px; width:200px; height:317px" srcset="https://rubenerd.com/files/museum/pinterest_4e6ea60ae85d40c199e71d6ee9a7b19f@2x.jpg 2x" alt="RMS Baltic Il terzo transatlantico della classe Big Four, appartenente alla White Star Line, ad essere varato fu l'RMS Baltic. Impostato e costruito presso i cantieri Harland&Wolf di Belfast, fu varato il 21 novembre 1903 e anch'esso conquistò il titolo di \'nave più grande del mondo\' superando di poche tonnellate il transatlantico gemello Cedric, varato l'anno prima. Allestito seguendo gli stessi schemi e progetti delle altre unità della Big Four Class, superò le prove in mare con esiti molto positivi. Ormai completo partì da Liverpool alla volta di New York il 29 giugno 1904 per il suo viaggio inaugurale. Al comando di questo transatlantico vi era E.J. Smith, l'uomo che aveva governato il Titanic nella sua breve vita. La carriera del Baltic è stata intensa, brillante e ricca di riconoscimenti, ma anch'esso è stato spesso vittima della sfortuna. Il 13 maggio 1907 entrò in collisione con una chiatta di carbone affondata nel basso fondale della baia del New Jersey... Riportò lievi danni allo scafo e alcuni feriti. Lo stesso anno, l'8 giugno, mentre partiva per un viaggio verso New York si innalzò una fitta nebbia e per evitare una collisione il capitano tentò una virata di fortuna che però lo fece incagliare nel fondale basso di Swash. Occorsero circa 24 ore per liberarlo... ciò fu reso possibile grazie all'alta marea e all'aiuto di 2 rimorchiatori. Tra l'ira dei passeggeri il Baltic riprese il viaggio a tutta velocità perchè, per fortuna, non riportò nessun danno allo scafo e ai motori. Un evento in cui il Baltic fu protagonista e viene ricordato con grande onore fu il salvataggio dei naufraghi del Republic e del Florida. Quest'ultimi erano entrati in collisione a causa della nebbia fitta al largo di Nantucket il 23 gennaio 1909. Il Baltic rispose all'SOS e a fatica riuscì ad individuare le due navi portando in salvo i naufraghi che si trovavano sulle scialuppe, soprattutto quelli del Republic che si inclinò e affondò il giorno successivo. Il Baltic inoltre fu uno dei diversi transatlantici che quella maledetta domenica del 14 aprile 1912 inviò un messaggio al Titanic per avvisare della presenza di banchi di ghiaccio e iceberg, in quanto stava percorrendo la sua stessa rotta verso New York. Anche il Baltic fu requisito dalla marina inglese durante la Prima Guerra Mondiale e utilizzato come caserma galleggiante e per il trasporto di soldati, armi e munizioni in tutta Europa. Nel 1918 fu riconsegnato alla White Star e riuscì quindi ad uscire salvo dalla guerra nonostante numerosi attacchi e un siluro partito da un U-Boot tedesco nel 1916. Dopo un accurato restyling il Baltic tornò come nuovo sulla sua normale rotta tra Gran Bretagna e Stati Uniti. Il transatlantico navigò indisturbato per anni, sempre efficiente e a pieno carico. Furono migliaia le persone che fuggirono dalle guerre e dalla povertà dell'Europa verso il nuovo mondo a bordo del Baltic.Inoltre questo transatlantico fu nuovamente protagonista di un difficile salvataggio... infatti il 6 dicembre 1929 a causa di una forte tempesta una goletta, la Nothern Lights, stava affondando al largo di Terranova. Con enormi difficoltà il capitano e l'equipaggio del Baltic riuscirono a mettere tutti in salvo ricevendo a New York delle medaglie come premio per il soccorso apportato e la maestria con la quale hanno rischiato la vita per recuperare tutti i naufraghi. Ma nonostante questi grandi successi anche per il Baltic era giunta la fine... a settembre del 1932 fu ritirato dal servizio per essere sostituito da navi più grandi e tecnologicamente più avanzate. Il Baltic arrivò ad Osaka in Giappone dopo il suo ultimo viaggio il 17 febbraio 1933, giorno in cui ebbe inizio la sua lenta demolizione. Scheda tecnica Costruttore: Harland&Wolf, Belfast Armatore: White Star Line Varo: 21 novembre 1903 Entrata in servizio: 29 giugno 1904 Lunghezza: 222,7 metri Larghezza: 23 metri Velocità: 16 nodi Capacità: 1223 passeggeri, 460 equipaggio. RMS Adriatic L'ultimo dei 4 transatlantici della White Star Line appartenente alla Big Four Class fu l'RMS Adriatic. Quest'ultimo, nonostante fosse il più grande dei suoi gemelli, non conquistò mai il titolo di \'nave più grande del mondo\' a differenza appunto delle altre unità della stessa classe, in quanto la Cunard aveva varato le gigantesche Lusitania e Mauretania. L'RMS Adriatic è sceso in acqua per la prima volta il 20 settembre 1906, ma questo evento fu oscurato proprio dal varo della rivale Mauretania avvenuto lo stesso giorno e aveva avuto un impatto mediatico enorme rispetto all'unità della White Star. Dopo gli allestimenti e le prove tecniche l'Adriatic partì per il viaggio inaugurale l'8 maggio 1907 e, proprio come il Titanic, nella sua prima traversata aveva al comando E.J. Smith e a bordo l'amministratore delegato della White Star Ismay. Nonostante la poca notorietà la vita di questo transatlantico fu ricca di successi. il 5 giugno 1907 l'Adriatic fu spostato sulla nuova rotta Southampton - Cherburg - New York, in quanto la White Star aveva spostato la sede principale da Liverpool proprio al nuovo porto di Southampton. La mattina del 4 novembre 1909, l'Adriatic, mentre lasciava il porto di New York, rimase bloccato in un banco di sabbia nel canale di Ambrose. Dopo circa 5 ore, grazie all'alta marea fu possibile liberarlo e per fortuna non riportò alcun danno. Riprese, anche se in ritardo, la sua normale rotta per far rientro in Gran Bretagna. Nel 1911, quando entrò in servizio l'Olympic, l'Adriatic fu nuovamente spostato sulla rotta con partenza da Liverpool. Inoltre nel 1912 fu il transatlantico che rimpatriò gli ufficiali sopravvissuti dell'affondamento del Titanic, compreso Ismay, che erano stati trattenuti a New York per le indagini sulla sciagura. Nel gennaio 1913 ancora una volta l'Adriatic si arenò sul fondale fangoso sulle sponde di Red Hook a causa della nebbia. Era in partenza per una crociera nel Mediterraneo e per liberarlo occorse tutto il pomeriggio e l'aiuto di 4 rimorchiatori. L'Adriatic non riportò danni e fu quindi in grado di continuare la crociera. A differenza degli altri 3 della Big Four Class, questo transatlantico non fu requisito dalla marina inglese durante la Grande Guerra. Nonostante non fosse \'ufficialmente\' una nave militare, nel corso di alcune normali traversate, trasportò rifornimenti bellici dagli USA alla Gran Bretagna, in gran segreto. Inoltre fu anche utilizzato per rimpatriare tutti i soldati americani al termine del conflitto. Nei primi mesi del 1919 fece ritorno in cantiere a Belfast per essere sottoposto ad un accurato restyling e per la modifica degli spazi riservati ai passeggeri. Tornato in servizio fu di nuovo destinato a Southampton per sostituire la perdita del Titanic. Nello stesso anno, il 29 settembre 1919, l'Adriatic entrò in collisione con la nave cargo San Michele. Fortunatamente essendo in uscita dal porto di New York procedeva a velocità ridotta e i danni quindi furono minimi. Ciò nonostante il transatlantico fu costretto a rientrare in porto per accertamenti sull'accaduto e per le dovute riparazioni. Nel 1922 fu ripristinata la rotta da Liverpool e l'Adriatic proseguì con il suo servizio per anni navigando indisturbato e senza rilevare problemi rilevanti. Vi fu solo un incidente l'11 agosto di quello stesso anno mentre navigava verso New York... Cinque tecnici rimasero uccisi mentre effettuavano delle riparazioni nella sala caldaie.A causa di un cavo dell'elettricità vi fu una violenta esplosione ma per fortuna le fiamme furono domate velocemente tanto che la nave non riportò danni significativi e riuscì a raggiungere il porto di destinazione. Fu l'unico dei Big Four a non essere demolito fino a quando la White Star e la Cunard si fusero nel 1934. A questo punto con nuove unità in circolazione e in cantiere, l'Adriatic fu destinato a crociere low cost nel mediterraneo con partenza da Liverpool. Ma i costi di mantenimento eccessivi e la perenne crisi economica che gravava sui costi della società portarono alla decisione di ritirare il transatlantico dal servizio. L'Adriatic, proprio come i suoi fratelli, fu demolito in Giappone nel 1935. Scheda Tecnica Costruttore: Harland&Wolf, Belfast Armatore: White Star Line - Cunard White Star Varo: 20 settembre 1906 Entrata in servizio: 8 maggio 1907 Lunghezza: 222 metri Larghezza: 22 metri Velocità: 17 nodi Capacità: 2875 passeggeri, 486 equipaggio. Alla prossima da Transatlantic Era... Vincenzo" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_f99a36ecd5814b5096698c60b040d19d@1x.jpg" style="border-radius:16px; width:200px; height:199px" srcset="https://rubenerd.com/files/museum/pinterest_f99a36ecd5814b5096698c60b040d19d@2x.jpg 2x" alt="an aerial view of a large ship docked in the water next to another boat on land" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_65e4591c267941b09e02687dd151a81a@1x.jpg" style="border-radius:16px; width:200px; height:168px" srcset="https://rubenerd.com/files/museum/pinterest_65e4591c267941b09e02687dd151a81a@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="http://ocean-liners.tumblr.com/post/54363833015/"><img src="https://rubenerd.com/files/museum/pinterest_40946ad6c2be4e3496d8c57729f4836e@1x.jpg" style="border-radius:16px; width:200px; height:237px" srcset="https://rubenerd.com/files/museum/pinterest_40946ad6c2be4e3496d8c57729f4836e@2x.jpg 2x" alt="RMS Mauretania, 1934" /></a>
<a href="http://infinite-paradox.tumblr.com/post/121930459487/lazyjacks-rudder-and-inner-propellers-of-the"><img src="https://rubenerd.com/files/museum/pinterest_26d4956591d342ca839a340d942c8a13@1x.jpg" style="border-radius:16px; width:200px; height:241px" srcset="https://rubenerd.com/files/museum/pinterest_26d4956591d342ca839a340d942c8a13@2x.jpg 2x" alt="Rudder and inner propellers of the Aquitania, May 1914 National Maritime Museum, Greenwich, London, G10811 (CC BY-NC-SA)" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_a200a617615547318f2692d140fa7863@1x.jpg" style="border-radius:16px; width:200px; height:166px" srcset="https://rubenerd.com/files/museum/pinterest_a200a617615547318f2692d140fa7863@2x.jpg 2x" alt="an old black and white photo of tables and chairs in a room with large windows" /></a>
<a href="http://www.fimfiction.net/blog/481606/100th-anniversary-of-the-sinking-of-the-rms-lusitania"><img src="https://rubenerd.com/files/museum/pinterest_368715f7e0e94f70b16bfe5cb647c234@1x.jpg" style="border-radius:16px; width:200px; height:142px" srcset="https://rubenerd.com/files/museum/pinterest_368715f7e0e94f70b16bfe5cb647c234@2x.jpg 2x" alt="Today marks the 100th anniversary of RMS Lusitania's sinking off the coast of Ireland on May 7th, 1915 by German U-boat U-20. The entire sinking lasted only 18 minutes, compared to RMS Titanic, which stayed on the surface for 2 hours and 40 minutes after colliding with an iceberg. Out of the 1,962 passengers and crew on board, 1,195 people lost their lives that day. May they continue to rest in peace. (Lusitania in the background as RMS Olympic, sister of the Titanic, arrives in New" /></a>
<a href="https://www.cruiselinehistory.com/cruise-history-cunard-lines-rms-mauretania-blue-riband-holder-one-of-the-most-historic-and-remarkable-atlantic-liners-in-history/"><img src="https://rubenerd.com/files/museum/pinterest_833dc45ccd1849cdbdf0ec79de3a0b20@1x.jpg" style="border-radius:16px; width:200px; height:167px" srcset="https://rubenerd.com/files/museum/pinterest_833dc45ccd1849cdbdf0ec79de3a0b20@2x.jpg 2x" alt="The great ship headed to the breakers... The RMS Mauretania entered service a few months after..." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_60ba48fabc174825a20dfeebd10f7711@1x.jpg" style="border-radius:16px; width:200px; height:157px" srcset="https://rubenerd.com/files/museum/pinterest_60ba48fabc174825a20dfeebd10f7711@2x.jpg 2x" alt="an old black and white photo of a man standing in front of a large ship" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_8b154d2ec6e64cf2aa9b9db54b9eed9d@1x.jpg" style="border-radius:16px; width:200px; height:160px" srcset="https://rubenerd.com/files/museum/pinterest_8b154d2ec6e64cf2aa9b9db54b9eed9d@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_1d821a0885814d359bc6775a5d885bc7@1x.jpg" style="border-radius:16px; width:200px; height:120px" srcset="https://rubenerd.com/files/museum/pinterest_1d821a0885814d359bc6775a5d885bc7@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="http://www.independent.co.uk/news/world/world-history/history-of-the-first-world-war-in-100-moments/a-history-of-the-first-world-war-in-100-moments-the-legend-of-the-taxis-of-the-marne-9255225.html"><img src="https://rubenerd.com/files/museum/pinterest_abf4a4d78c4d434998503cca72df8352@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_abf4a4d78c4d434998503cca72df8352@2x.jpg 2x" alt="No.9 Paris, 7 September 1914: In the early weeks of the conflict, getting troops to the right place quickly could be a matter of life or death. One particular episode has passed into French legend. John Lichfield continues our daily series marking the centenary of the First World War" /></a>
<a href="https://scontent-a-iad.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10007415_10204712385308146_8404870891630977975_n.jpg?oh=654a8dfc22dba0dc9671f6e9259166ba&oe=54B9BF3A"><img src="https://rubenerd.com/files/museum/pinterest_325f48283ce44f5582b414f978ba309c@1x.jpg" style="border-radius:16px; width:200px; height:129px" srcset="https://rubenerd.com/files/museum/pinterest_325f48283ce44f5582b414f978ba309c@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_87df056e7ddd45cbbf36ac4e10f8b895@1x.jpg" style="border-radius:16px; width:200px; height:166px" srcset="https://rubenerd.com/files/museum/pinterest_87df056e7ddd45cbbf36ac4e10f8b895@2x.jpg 2x" alt="an empty deck with chairs and railings on the side of a ship in black and white" /></a>
</div>
<div style="width:210px; float:left;">
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_e8f473420d484ea3b3b6d53d624ed71d@1x.jpg" style="border-radius:16px; width:200px; height:251px" srcset="https://rubenerd.com/files/museum/pinterest_e8f473420d484ea3b3b6d53d624ed71d@2x.jpg 2x" alt="an old photo of a large boat docked" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_20c8cce80bee44de8aa8f6face5109f5@1x.jpg" style="border-radius:16px; width:200px; height:132px" srcset="https://rubenerd.com/files/museum/pinterest_20c8cce80bee44de8aa8f6face5109f5@2x.jpg 2x" alt="a large boat floating on top of a body of water next to a dock with lots of boats" /></a>
<a href="http://nzhistory.govt.nz/media/photo/troopship-aquitania"><img src="https://rubenerd.com/files/museum/pinterest_cd4211e1b43f49b3b1777865cf3ec43c@1x.jpg" style="border-radius:16px; width:200px; height:263px" srcset="https://rubenerd.com/files/museum/pinterest_cd4211e1b43f49b3b1777865cf3ec43c@2x.jpg 2x" alt="The Aquitania in Wellington Harbour. This luxurious and fast Cunard Liner served as a troopship during the war and in 1940, when this picture was taken, carried troops of the Second Echelon of 2NZEF." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_4a9155f8de7e45f6946d50f3b8539f4d@1x.jpg" style="border-radius:16px; width:200px; height:132px" srcset="https://rubenerd.com/files/museum/pinterest_4a9155f8de7e45f6946d50f3b8539f4d@2x.jpg 2x" alt="a large boat floating on top of a body of water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_2f5f010983934af6978250ce11bf8543@1x.jpg" style="border-radius:16px; width:200px; height:143px" srcset="https://rubenerd.com/files/museum/pinterest_2f5f010983934af6978250ce11bf8543@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="http://www.telegraph.co.uk/news/uknews/defence/9366985/British-not-to-blame-for-rapid-sinking-and-loss-of-life-on-liner-RMS-Lusitania-find-underwater-researchers.html"><img src="https://rubenerd.com/files/museum/pinterest_7631a4cd8e2f432f838a32bac985bd33@1x.jpg" style="border-radius:16px; width:200px; height:125px" srcset="https://rubenerd.com/files/museum/pinterest_7631a4cd8e2f432f838a32bac985bd33@2x.jpg 2x" alt="Researchers have cleared the British of accusations that a secret cargo of high explosives was hidden on the RMS Lusitania and led to the ship's rapid sinking and loss of more than 1,000 lives." /></a>
<a href="http://www.theatlantic.com/politics/archive/2015/03/over-there-and-overlooked/387367/"><img src="https://rubenerd.com/files/museum/pinterest_14ce10e049db44f4bc7c1aa6f42d05c6@1x.jpg" style="border-radius:16px; width:200px; height:128px" srcset="https://rubenerd.com/files/museum/pinterest_14ce10e049db44f4bc7c1aa6f42d05c6@2x.jpg 2x" alt="WWI still haunts U.S. history, despite the national amnesia." /></a>
<a href="https://capewolfe.tumblr.com/"><img src="https://rubenerd.com/files/museum/pinterest_2c88f5e2b8c347789ebd0f06ae6677ef@1x.jpg" style="border-radius:16px; width:200px; height:320px" srcset="https://rubenerd.com/files/museum/pinterest_2c88f5e2b8c347789ebd0f06ae6677ef@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_5fbe80ffaf1b4690944da4dfe374e27b@1x.jpg" style="border-radius:16px; width:200px; height:209px" srcset="https://rubenerd.com/files/museum/pinterest_5fbe80ffaf1b4690944da4dfe374e27b@2x.jpg 2x" alt="an old black and white photo of a cruise ship in the water with people looking at it" /></a>
<a href="http://www.flickr.com/photos/twm_news/5609933080/in/set-72157626004519942/"><img src="https://rubenerd.com/files/museum/pinterest_9df7736322564c04bb1f99c150ad0552@1x.jpg" style="border-radius:16px; width:200px; height:246px" srcset="https://rubenerd.com/files/museum/pinterest_9df7736322564c04bb1f99c150ad0552@2x.jpg 2x" alt="Here is a stern view showing the disposition of propellers of the Mauretania. Built by the shipbuilders Swan Hunter and Wigham Richardson Ltd, at the Wallsend shipyard, RMS MAURETANIA was one of the most famous ships ever built on Tyneside. Reference: TWAS:DS.SWH/4/PH/7/6/5 (Copyright) We're happy for you to share this digital image within the spirit of The Commons. Please cite 'Tyne & Wear Archives & Museums' when reusing. Certain restrictions on high quality reproductions and commercial use of the original physical version apply though; if you're unsure please email archives@twmuseums.org.uk. To purchase a hi-res copy please email archives@twmuseums.org.uk quoting the title and reference number." /></a>
<a href="https://www.chroniclelive.co.uk/lifestyle/nostalgia/gallery/shipbuilding-on-the-tyne-6509831"><img src="https://rubenerd.com/files/museum/pinterest_f097c29494c54faca62283db80749fdb@1x.jpg" style="border-radius:16px; width:200px; height:149px" srcset="https://rubenerd.com/files/museum/pinterest_f097c29494c54faca62283db80749fdb@2x.jpg 2x" alt="an old photo of a large ship in the water with steam coming out of it" /></a>
<a href="https://www.encyclopedia-titanica.org/the-odell-titanic-album.html"><img src="https://rubenerd.com/files/museum/pinterest_4884b57f73fc468e85cb2b56e616ae4a@1x.jpg" style="border-radius:16px; width:200px; height:212px" srcset="https://rubenerd.com/files/museum/pinterest_4884b57f73fc468e85cb2b56e616ae4a@2x.jpg 2x" alt="" /></a>
<a href="http://www.allposters.com/-sp/R-M-S-Queen-Mary-in-Dry-Dock-Southampton-April-1936_i6856354_.htm"><img src="https://rubenerd.com/files/museum/pinterest_bcf99d1af79e49baaafcaf4a6bcc5012@1x.jpg" style="border-radius:16px; width:200px; height:267px" srcset="https://rubenerd.com/files/museum/pinterest_bcf99d1af79e49baaafcaf4a6bcc5012@2x.jpg 2x" alt="Related Tags Transportation, Top, Transportation Advertisements, Mary Evans, Other Subjects, Black & White, Steamships, Cunard Line, Other Collections, Photography Styles, RMS Queen Mary, Advertisements, Business Collection: Restaurant, Art, Subjects, Business Collection, Ocean Liners, Collections, Cruise Line Advertisements, Travel Ads by Company, Business Collection by Industry, Travel, Photography, Black and White Photography, Water Transportation, Ships, Transportation (B&W Photography), Back to School, Travel Advertisements" /></a>
<a href="http://aftitanic.free.fr/wsl/celtic_1901.html"><img src="https://rubenerd.com/files/museum/pinterest_dc1bfac0a4eb4447bf377d772cf306bb@1x.jpg" style="border-radius:16px; width:200px; height:156px" srcset="https://rubenerd.com/files/museum/pinterest_dc1bfac0a4eb4447bf377d772cf306bb@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="https://historythings.com/21-remarkable-photos-of-the-titanic/"><img src="https://rubenerd.com/files/museum/pinterest_d1e77b631c14418193dd1fc135269412@1x.jpg" style="border-radius:16px; width:200px; height:251px" srcset="https://rubenerd.com/files/museum/pinterest_d1e77b631c14418193dd1fc135269412@2x.jpg 2x" alt="Leaving from Southampton, England, the Titanic embarked on her maiden voyage on April 10th 1912. Considered one of the largest ships during its time, the Titanic would soon sink after hitting a massive iceberg. You’ve probably seen the movie starring Leonardo diCaprio and Kate Winslet, but how well do you really know the Titanic? Let’s take a […]" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_407b8cc101cc481ead20088168b7e165@1x.jpg" style="border-radius:16px; width:200px; height:163px" srcset="https://rubenerd.com/files/museum/pinterest_407b8cc101cc481ead20088168b7e165@2x.jpg 2x" alt="an old photo of the side of a large ship that is being built into concrete" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_c1d32d2b39d14bfbbe2b477e7ae54358@1x.jpg" style="border-radius:16px; width:200px; height:315px" srcset="https://rubenerd.com/files/museum/pinterest_c1d32d2b39d14bfbbe2b477e7ae54358@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_4e779e9953d44e3688e74886cf1927cf@1x.jpg" style="border-radius:16px; width:200px; height:257px" srcset="https://rubenerd.com/files/museum/pinterest_4e779e9953d44e3688e74886cf1927cf@2x.jpg 2x" alt="a group of people standing in front of a large ship" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_7c1e1a42ad084b4890462a8e994e9693@1x.jpg" style="border-radius:16px; width:200px; height:243px" srcset="https://rubenerd.com/files/museum/pinterest_7c1e1a42ad084b4890462a8e994e9693@2x.jpg 2x" alt="black and white photograph of people standing on the deck of a ship" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_b06e446a1cc14a62b0118ec29bb89d1e@1x.jpg" style="border-radius:16px; width:200px; height:296px" srcset="https://rubenerd.com/files/museum/pinterest_b06e446a1cc14a62b0118ec29bb89d1e@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_80474f3bac1a4b95b5bcf020c9dd5256@1x.jpg" style="border-radius:16px; width:200px; height:240px" srcset="https://rubenerd.com/files/museum/pinterest_80474f3bac1a4b95b5bcf020c9dd5256@2x.jpg 2x" alt="an old photo of a ship in the water with people standing on it's deck" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_a1631a3120b747caafd07125768cdc59@1x.jpg" style="border-radius:16px; width:200px; height:267px" srcset="https://rubenerd.com/files/museum/pinterest_a1631a3120b747caafd07125768cdc59@2x.jpg 2x" alt="an old photo of a large ship in the dry dock" /></a>
<a href="http://ssmaritime.com/HMHS-Britannic.htm"><img src="https://rubenerd.com/files/museum/pinterest_3b58f02e437e4f20b122e0a1280d6404@1x.jpg" style="border-radius:16px; width:200px; height:122px" srcset="https://rubenerd.com/files/museum/pinterest_3b58f02e437e4f20b122e0a1280d6404@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_dc0c93da6e294d11982240ec54688403@1x.jpg" style="border-radius:16px; width:200px; height:127px" srcset="https://rubenerd.com/files/museum/pinterest_dc0c93da6e294d11982240ec54688403@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_c1c9126747dd47be8f0a19eb5eaabe00@1x.jpg" style="border-radius:16px; width:200px; height:160px" srcset="https://rubenerd.com/files/museum/pinterest_c1c9126747dd47be8f0a19eb5eaabe00@2x.jpg 2x" alt="many people are standing in front of a large ship" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_992d0eaa133e4b809257909f6b2deca9@1x.jpg" style="border-radius:16px; width:200px; height:103px" srcset="https://rubenerd.com/files/museum/pinterest_992d0eaa133e4b809257909f6b2deca9@2x.jpg 2x" alt="" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_c2f758630c144a7a952ade916ff685c5@1x.jpg" style="border-radius:16px; width:200px; height:139px" srcset="https://rubenerd.com/files/museum/pinterest_c2f758630c144a7a952ade916ff685c5@2x.jpg 2x" alt="an old black and white photo of a large ship" /></a>
<a href="https://www.amber-online.com/collection/the-mauretania/"><img src="https://rubenerd.com/files/museum/pinterest_3855671512bd4a7898319845e001798f@1x.jpg" style="border-radius:16px; width:200px; height:120px" srcset="https://rubenerd.com/files/museum/pinterest_3855671512bd4a7898319845e001798f@2x.jpg 2x" alt="The building of the Mauretania, launched in 1906, photographed by various, mostly unknown, photographers, including James Cleet of South Shields." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_0f71c4ec377f48e8addcdb972faf7c89@1x.jpg" style="border-radius:16px; width:200px; height:126px" srcset="https://rubenerd.com/files/museum/pinterest_0f71c4ec377f48e8addcdb972faf7c89@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_32d2946c5cc54e31a6993da4626c7f13@1x.jpg" style="border-radius:16px; width:200px; height:154px" srcset="https://rubenerd.com/files/museum/pinterest_32d2946c5cc54e31a6993da4626c7f13@2x.jpg 2x" alt="an old photo of a cruise ship in the ocean" /></a>
<a href="http://www.allposters.com/-sp/The-English-Ocean-Liner-Ss-Berengaria_i10583280_.htm"><img src="https://rubenerd.com/files/museum/pinterest_d7bea2a48c1c407ca21d3746b2af787c@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_d7bea2a48c1c407ca21d3746b2af787c@2x.jpg 2x" alt="The Print This photographic print leverages sophisticated digital technology to capture a level of detail that is absolutely stunning. The colors are vivid and pure. The high-quality archival paper, a favorite choice among professional photographers, has a refined luster quality. Paper Type: Photographic Print Finished Size: 24\' x 18\' Arrives by Sat, Mar 2 Product ID: 10583280" /></a>
<a href="http://www.bbc.co.uk/news/uk-england-merseyside-32616231"><img src="https://rubenerd.com/files/museum/pinterest_fcd263cd48504e7da4235c25b80c9f38@1x.jpg" style="border-radius:16px; width:200px; height:113px" srcset="https://rubenerd.com/files/museum/pinterest_fcd263cd48504e7da4235c25b80c9f38@2x.jpg 2x" alt="The centenary of the sinking of the Lusitania, which cost the lives of about 1,200 people, has been remembered at services in Liverpool and Ireland." /></a>
<a href="https://www.cbsnews.com/pictures/the-lusitania-disaster/"><img src="https://rubenerd.com/files/museum/pinterest_6c4cb7f24d1545eea8d0f37a179bdace@1x.jpg" style="border-radius:16px; width:200px; height:111px" srcset="https://rubenerd.com/files/museum/pinterest_6c4cb7f24d1545eea8d0f37a179bdace@2x.jpg 2x" alt="It was the fastest luxury liner afloat a century ago - and its sinking by a German U-boat helped steer the United States' entrance into World War I" /></a>
<a href="http://www.maritimequest.com/liners/lusitania_page_2.htm"><img src="https://rubenerd.com/files/museum/pinterest_a745342700e343faa0c7799a218c10de@1x.jpg" style="border-radius:16px; width:200px; height:140px" srcset="https://rubenerd.com/files/museum/pinterest_a745342700e343faa0c7799a218c10de@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_380f14afdab74a2e9e544785fd42ad75@1x.jpg" style="border-radius:16px; width:200px; height:149px" srcset="https://rubenerd.com/files/museum/pinterest_380f14afdab74a2e9e544785fd42ad75@2x.jpg 2x" alt="" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_98a52452f432442ca0097418cad34aa3@1x.jpg" style="border-radius:16px; width:200px; height:113px" srcset="https://rubenerd.com/files/museum/pinterest_98a52452f432442ca0097418cad34aa3@2x.jpg 2x" alt="black and white photo of ships docked in the water with large tanks behind them on either side" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_eb4df35efb8544b39357e67f5a754dd7@1x.jpg" style="border-radius:16px; width:200px; height:113px" srcset="https://rubenerd.com/files/museum/pinterest_eb4df35efb8544b39357e67f5a754dd7@2x.jpg 2x" alt="an old black and white photo of some boats" /></a>
<a href="https://www.deviantart.com/121199/art/RMS-Oceanic-536513031"><img src="https://rubenerd.com/files/museum/pinterest_2cbe06d3fade4783a8cce673201dde46@1x.jpg" style="border-radius:16px; width:200px; height:164px" srcset="https://rubenerd.com/files/museum/pinterest_2cbe06d3fade4783a8cce673201dde46@2x.jpg 2x" alt="black and white photo of the deck of a ship with ropes on it's sides" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_3c3ec40d38cd4cf989c955ea97923e8c@1x.jpg" style="border-radius:16px; width:200px; height:113px" srcset="https://rubenerd.com/files/museum/pinterest_3c3ec40d38cd4cf989c955ea97923e8c@2x.jpg 2x" alt="an old black and white photo of people eating in a dining room on a cruise ship" /></a>
<a href="https://www.cbsnews.com/pictures/the-lusitania-disaster/"><img src="https://rubenerd.com/files/museum/pinterest_60eb7ca555d54613834aeac8fa296ca5@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_60eb7ca555d54613834aeac8fa296ca5@2x.jpg 2x" alt="It was the fastest luxury liner afloat a century ago - and its sinking by a German U-boat helped steer the United States' entrance into World War I" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_5ba192ca5d43453ba3096c691cb0e5ad@1x.jpg" style="border-radius:16px; width:200px; height:141px" srcset="https://rubenerd.com/files/museum/pinterest_5ba192ca5d43453ba3096c691cb0e5ad@2x.jpg 2x" alt="black and white photograph of people on the deck of a ship" /></a>
<a href="http://ad-orientem.blogspot.com/2013/05/remembering-lusitania.html"><img src="https://rubenerd.com/files/museum/pinterest_c951d6b1ce954afd9728ffed1f44a182@1x.jpg" style="border-radius:16px; width:200px; height:161px" srcset="https://rubenerd.com/files/museum/pinterest_c951d6b1ce954afd9728ffed1f44a182@2x.jpg 2x" alt="On this date in 1915 the RMS Lusitania was torpedoed and sunk by a German U Boat. Endless controversy has surrounded this atrocity ever since. For the record the British aided and abetted by the Wilson Administration lied through their teeth and tried to whitewash the fact that the ship was carrying war contraband from supposedly neutral America. Not that it was a massive amount, but it was there. And of course that doesn't excuse the German's who attacked an unarmed passenger ship that they knew damn well was packed with civilians including women and children. But that's not the point of today's commemoration, which I expect to get a lot more attention in two years. Today I want to pay tribute to the ship itself. At the turn of the 20th century steam ships were what connected the globe in the way airplanes do today. Then as now speed, and for those who could afford it, comfort were paramount. Lusitania was a product of the intense rivalry between Germany and Great Britain in the decades preceding the Great War. Through most of the 19th century Britain had held a more or less unchallenged position as the world's principal maritime power, both in terms of her navy and her commercial fleet. This changed with the accession of Kaiser William II who was a huge maritime enthusiast. Quickly he began dedicating significant resources towards challenging Britain's supremacy, and in 1897 this paid off with the launch of the Kaiser Wilhelm der Grosse. Germany's new Atlantic grey hound stunned Britain and the world by seizing the record for the fastest crossing and with her four giant funnels she established a new era in which the \'four stacker\' became synonymous with size, speed, luxury and safety. For the next ten years, while Britain fumed, the Germans built a seemingly endless series of ships, each bigger faster and more luxurious than the one before, and they had a monopoly on the coveted \'Blue Riband.\' Adding insult to injury, on the other side of the Atlantic the great American financial wizard J. P. Morgan had set his eyes on establishing a monopoly over transatlantic shipping. In 1902 his new conglomerate, the International Mercantile Marine, absorbed the White Star Line, then the second largest British shipping company. This turned British annoyance into outright alarm. Wasting little time, the Cunard Line, Britain's largest shipping firm and White Star's chief rival, quickly warned the British government that they too might be bought out unless something drastic changed. Such an eventuality was unthinkable and the Admiralty quickly approved a huge loan to Cunard that was to be used to build two new transatlantic liners. But there were conditions attached. The ships had to be fast and they had to be built to naval specifications in case they were needed in a war. With cash in hand Cunard set about planning the construction of two ships so revolutionary they would effectively end the transatlantic speed race for two decades. Those ship's were the Lusitania and her sister ship the Mauritania. They were built in different yards and fitted out separately including in their decor. But in terms of their engineering and general layout the two were near twins. Lusitania was finished first and in 1907 on her second voyage she smashed the German speed record and seized the Blue Riband. In 1908 the Mauritania took the record and excepting a brief period in 1909 when Lusitania regained it, she would prove to be the slightly faster of the twin steamers. When completed Lusitania was 787 feet long and 87 feet wide with the requisite four stacks. She had a gross registered tonnage of 31,500 tons that propelled by four brand new and very revolutionary turbine engines geared to four screws could move her at the near blinding speed of 28 knots with a service speed of 25 knots. The race for speed records was over and Lusitania's slightly faster sister would hold the record unchallenged from 1909 to 1928. Externally her appearance was such that she resembled an oversized racing yacht with her raked back funnels and sleek lines. Mauritania by contrast had a rather cluttered appearance on her top decks owing to a large number of ventilation funnles. On the Lusitania these were designed to be smaller and blend in more with the overall appearance of the ship. But Lusitania had a flaw. When she left for her first sea trials the engines caused a severe vibration in the back of the ship which was intended for the second class passengers. The ship was redocked and major changes were made to her second class accommodations to reduce the vibration. Later in her career she would twice have additional adjustments made to her propellers to further reduce it. Even so, the vibration, while greatly diminished, was never completely conquered. More so than in their outer appearance, it was in their interiors that the two ship's were most distinguished from one another. While their layout was nearly identical the Lusitania had a lighter and somewhat more informal air about her. Mauritania on the other hand was very much furnished in the classical Edwardian style with tons of dark wood paneling In this respect Lusitania was somewhat more progressive in her decor. What follows are some photographs of a ship universally regarded as one of the great liners. Sadly most of the images are black and white which generally fail in conveying the elegance of her interior accommodations. One simply cannot grasp the often bright and very colorful decor in her public rooms and cabins. Most of the pictures are large and detailed but the blog automatically reduces them so they fit. If you want to see them full sized click on the image and then right click on the expanded picture, click view image and you can enlarge it to full size. Lusitania being launched. During sea trials. Arriving in New York on her maiden voyage. This a massive and very detailed panoramic photo of her arrival in New York in September 1907. The contrast between the sleek modern liner and the sea of horse drawn cabs waiting on the pier is stark. You will definitely need to enlarge the photo. After a rough crossing. Note the paint has been blasted off her by the North Atlantic. Scenes from the boat deck. As originally configured the Lusitania, like most steamers of the period, carried the minimum number of lifeboats required by law. That was sixteen, four less than what the Titanic carried in 1912. After the Titanic disaster additional lifeboats were added for everyone on board. But many were of the \'some assembly required\' kind. And they proved utterly useless when needed in a hurry on May 7th 1915. The first class dining room. There were two tiers and a stained glass dome. Some views of the lounge and music room. The first class entrance foyer with stairs and electric elevator. The first class foyer off the Promenade deck. The promenade deck. During Atlantic crossings, weather permitting, the deck was filled with passengers lounging in steamer chairs. Tea and bullion were served on trollies every day at four. First class smoking room. Sorry ladies. Gentlemen only please. First class reading and writing room. Quiet please. Second class entrance foyer. Second class dining room. While the cabins (see below) in the second class were much smaller than in first, the public rooms were well appointed and quite comfortable. The passengers here also enjoyed generally very good food (see the menu below). For many years Cunard openly advertised that second class was the best way to travel for the money. Second class lunch menu. Click to enlarge and read. Second class lounge. Second class smoking room. Again, men only. Second class ladies withdrawing room. The purser's office. The verandah cafe. There were huge sliding glass doors that were opened to the back of the first class promenade deck when the weather was agreeable. Some views of first class state rooms. First class state room deluxe with adjoining bedrooms. Some views of the two first class regal suites. These came with such astonishing amenities as separate bedrooms, a sitting room/parlor, a private dining room, a trunk room and room (probably closet sized) for one's personal servants. And the ultimate in sea going luxury for which one would pay out the nose... a private en suite water closet and bathroom. Prior to the Second World War private bathrooms were a rare, and expensive luxury at sea. Even millionaires typically had to put on their slippers and bathrobe when nature called in the middle of the night and hoof it down the hall. Those wishing to take a bath would first have to make an appointment with the ship's bath steward. These rooms also had sinks with both hot and cold running water. Most staterooms had only cold water. Hot water for shaving or washing up was delivered at appointed times, usually in the morning and when the dressing gong was sounded for dinner. It could also be requested at anytime via your cabin steward. A second class cabin. Unlike in first class those traveling in the second class got rooms that were small and would be considered cramped by today's standards. Typically they came with the more traditional berths and in a two berth cabin one would see a small sofa and a chair. They also had a sink with running water, an armoire, and space to stow a couple of suitcases or a small trunk. In those days people often traveled with more than they do today. But on a ship space was limited so you would tag all of your luggage before boarding indicating \'wanted\' or \'not wanted.\' Not wanted was sent to the baggage hold until arrival. Also in second class you were likely to be sharing your cabin with someone unless you booked all of the berths. These cabins were usually two or four berths (for families traveling together). Bed curtains on ships of this period were more than decorative. They also served to offer some privacy if you were sharing your cabin and even in first class they helped keep the heat in and the chill out. Outside of the public rooms, central heating was rare on pre Great War ships. And the North Atlantic is notoriously unpleasant most of the year. Passengers embarking on a transatlantic voyage were well advised to pack warm clothes and long underwear even in the summer. Third class cabin. Contrary to popular belief it was the third class or \'steerage\' who provided the profit for the big steamship companies in the pre-war years. They required the least service and the fewest amenities and could be packed in to much more cramped spaces. On the Lusitania the third class cabins were generally quite spartan but still liveable. There were no dormitory style steerage quarters. All third class passengers had cabins which had between two and six berths. Each cabin had a sink with running water. As in the second class, you could pretty much guarantee that you were going to have roommates. Also there were no \'bath\' facilities on most ships for the third class though Lusitania did have generally decent lavatory and washrooms. Third class dining room. The dining room was located forward and meals were served in two sittings. Food in the third class was generally edible and for many probably better than what they were used to. Unlike in some other immigrant ships of the period, here the third class appear to have been treated as paying customers rather than human cargo. They ate off real plates, with flatware and actual glasses for drinking. It wasn't first class but they were treated better than most immigrants during that time. The third class also had their own smoking room, ladies room and a piano in the dining room which doubled as a social hall in the evenings. The officer's lounge and smoke room. The bridge and wheelhouse. The great liner today." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_960d4bf734214059917c10026f71c306@1x.jpg" style="border-radius:16px; width:200px; height:134px" srcset="https://rubenerd.com/files/museum/pinterest_960d4bf734214059917c10026f71c306@2x.jpg 2x" alt="an old black and white photo of people on the deck of a ship" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_b171797c16154002bed55d538e0a623f@1x.jpg" style="border-radius:16px; width:200px; height:168px" srcset="https://rubenerd.com/files/museum/pinterest_b171797c16154002bed55d538e0a623f@2x.jpg 2x" alt="an old black and white photo of a living room with two couches, chairs and stairs" /></a>
<a href="https://www.vintag.es/2019/09/the-Lusitania-exterior-and-interior.html?m=1"><img src="https://rubenerd.com/files/museum/pinterest_130f87d5409c484caf8af617d8e9c6d2@1x.jpg" style="border-radius:16px; width:200px; height:163px" srcset="https://rubenerd.com/files/museum/pinterest_130f87d5409c484caf8af617d8e9c6d2@2x.jpg 2x" alt="an old photo of a bedroom with white walls" /></a>
<a href="https://www.cbsnews.com/pictures/the-lusitania-disaster/"><img src="https://rubenerd.com/files/museum/pinterest_ce2f4e582a514746bb656a78172dd71d@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_ce2f4e582a514746bb656a78172dd71d@2x.jpg 2x" alt="It was the fastest luxury liner afloat a century ago - and its sinking by a German U-boat helped steer the United States' entrance into World War I" /></a>
<a href="http://www.thevintagenews.com/2016/04/20/titanic-versus-the-lusitania-comparing-the-wreckage-of-both-ships/"><img src="https://rubenerd.com/files/museum/pinterest_5177804c235e40b9b27471e3944110f7@1x.jpg" style="border-radius:16px; width:200px; height:171px" srcset="https://rubenerd.com/files/museum/pinterest_5177804c235e40b9b27471e3944110f7@2x.jpg 2x" alt="It’s safe to say that when people are asked about the Titanic, they can immediately respond and identify the tragic sinking. However, many people cannot" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_b68cf4888f5c4660a66fb9cda377070a@1x.jpg" style="border-radius:16px; width:200px; height:120px" srcset="https://rubenerd.com/files/museum/pinterest_b68cf4888f5c4660a66fb9cda377070a@2x.jpg 2x" alt="an old black and white photo of a large ship" /></a>
<a href="http://www.the-titanic.com/Media-Gallery/Photography/The-Titanic-Build-Belfast.aspx"><img src="https://rubenerd.com/files/museum/pinterest_5f3b1dd8b3f5434884fe88e8ef838171@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_5f3b1dd8b3f5434884fe88e8ef838171@2x.jpg 2x" alt="Welcome to the hometown of the Ship of Dreams" /></a>
<a href="http://www.ssmaritime.com/HMHS-Britannic.htm"><img src="https://rubenerd.com/files/museum/pinterest_bd985c0e27d6419bafa375a06b8c6467@1x.jpg" style="border-radius:16px; width:200px; height:301px" srcset="https://rubenerd.com/files/museum/pinterest_bd985c0e27d6419bafa375a06b8c6467@2x.jpg 2x" alt="an industrial factory with lots of machinery and people working on it's assembly line" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_27f06b8bd7a54bad980b28ec8979610f@1x.jpg" style="border-radius:16px; width:200px; height:272px" srcset="https://rubenerd.com/files/museum/pinterest_27f06b8bd7a54bad980b28ec8979610f@2x.jpg 2x" alt="men are standing on the deck of a large ship while another man stands near it" /></a>
<a href="https://idahospudsblog.blogspot.com/2013/04/steam-engine-progress-transportation.html"><img src="https://rubenerd.com/files/museum/pinterest_036ce1bda46748c899af78ac4c5a695b@1x.jpg" style="border-radius:16px; width:200px; height:257px" srcset="https://rubenerd.com/files/museum/pinterest_036ce1bda46748c899af78ac4c5a695b@2x.jpg 2x" alt="Steam engines for transportation, which began with the original Trevithick locomotive in 1804, advanced continously until phased out by more modern technology. Toward the end, steam locomotives were using high and low pressure steam, uniflow cylinders, superheated steam, and (due to massive steam production) mechanical stokers. Below is a drawing and cutaway of a late-model steam locomotive. I found a couple of things on the cutaway interesting: Item #10, a superheater. Takes advangage of heat remaining in the exhaust gas to increase efficiency. Item #12, a blast tube. Spent steam that is exhausted from the cylinders goes into a venturi. The expanding steam entrains exhaust gas from the smoke box and pulls it out the stack. This puts the fire side of the boiler at a negative pressure and pulls massive amounts of air into the firebox, burning the coal much faster than if it were allowed to smolder. Much simpler than installing fans for the same purpose. Elements of the locomotive 1. Firebox 2. Ashpan 3. Water (inside the boiler) 4. Smokebox 5. Cab 6. Tender 7. Steam Dome 8. Safety Valve 9. Regulator Valve 10. Superheater Header in smokebox 11. Piston 12. Blastpipe 13. Valve Gear 14. Regulator Rod 15. Drive Frame 16. Rear Pony Truck 17. Front Pony Truck 18. Bearing and Axlebox 19. Leaf Spring 20. Brake shoe 21. Air brake pump 22. (Front) Centre Coupler, 23. Whistle 24. Sandbox. Meanwhile at sea, where there is a bit more room to indulge your need for power, a photo of RMS Britannic's (sister ship of Titanic) starboard steam engine, and her boiler room: This is about as far as piston-driven steam engines went, with regard to transportation. Marine engines were replaced with steam turbines in the early 20th century, while it took until the mid-20th century for the steam locomotive to be replaced by the diesel-electric locomotive." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_b655243ac2ea4b649414fcb00c429531@1x.jpg" style="border-radius:16px; width:200px; height:121px" srcset="https://rubenerd.com/files/museum/pinterest_b655243ac2ea4b649414fcb00c429531@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_ae9756e2c27a40ff96c0d72d7f50aaf2@1x.jpg" style="border-radius:16px; width:200px; height:233px" srcset="https://rubenerd.com/files/museum/pinterest_ae9756e2c27a40ff96c0d72d7f50aaf2@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_81055063e4194fd0bb313f16e4fb970a@1x.jpg" style="border-radius:16px; width:200px; height:159px" srcset="https://rubenerd.com/files/museum/pinterest_81055063e4194fd0bb313f16e4fb970a@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
<a href="https://www.amber-online.com/collection/the-mauretania/"><img src="https://rubenerd.com/files/museum/pinterest_d858cf6b68794f1ebd797f4175a1ede4@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_d858cf6b68794f1ebd797f4175a1ede4@2x.jpg 2x" alt="The building of the Mauretania, launched in 1906, photographed by various, mostly unknown, photographers, including James Cleet of South Shields." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_6dc3b344c4804e6296c4f8f5f7e57744@1x.jpg" style="border-radius:16px; width:200px; height:125px" srcset="https://rubenerd.com/files/museum/pinterest_6dc3b344c4804e6296c4f8f5f7e57744@2x.jpg 2x" alt="a group of people standing in front of a large ship" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_d42c1e9b28d94a0dbe3acb5bcffef11b@1x.jpg" style="border-radius:16px; width:200px; height:194px" srcset="https://rubenerd.com/files/museum/pinterest_d42c1e9b28d94a0dbe3acb5bcffef11b@2x.jpg 2x" alt="an old black and white photo of a large ship in the water next to buildings" /></a>
<a href="https://www.flickr.com/photos/twm_news/5686689532/"><img src="https://rubenerd.com/files/museum/pinterest_1db9e0055afc4d589763d865d70526a7@1x.jpg" style="border-radius:16px; width:200px; height:148px" srcset="https://rubenerd.com/files/museum/pinterest_1db9e0055afc4d589763d865d70526a7@2x.jpg 2x" alt="A view of the bridge front of the Mauretania. The Mauretania was built by the shipbuilders Swan Hunter and Wigham Richardson Ltd, at the Wallsend shipyard and was one of the most famous ships ever built on Tyneside. Ref: TWAS:DS.SWH/4/PH/7/6/53 (Copyright) We're happy for you to share this digital image within the spirit of The Commons. Please cite 'Tyne & Wear Archives & Museums' when reusing. Certain restrictions on high quality reproductions and commercial use of the original physical version apply though; if you're unsure please email archives@twmuseums.org.uk. To purchase a hi-res copy please email archives@twmuseums.org.uk quoting the title and reference number." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_f78444b7893643a48f13374d30f30a4b@1x.jpg" style="border-radius:16px; width:200px; height:140px" srcset="https://rubenerd.com/files/museum/pinterest_f78444b7893643a48f13374d30f30a4b@2x.jpg 2x" alt="" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_863b8d87b71a4d02b976294110be8d4c@1x.jpg" style="border-radius:16px; width:200px; height:252px" srcset="https://rubenerd.com/files/museum/pinterest_863b8d87b71a4d02b976294110be8d4c@2x.jpg 2x" alt="an old photo of a large ship in the water" /></a>
</div>
</figure>
<p style="clear:both;"></p>
