---
title: "Pinterest backup: Showa Tech"
date: "2022-03-01T00:00:00+11:00"
year: "2022"
category: Annexe
tag:
- hi-fi
- japan
- pinterest-backup
- retrocomputers
location: Sydney
---
<p style="font-style:italic;">This is an archive of my short-lived <a href="https://rubenerd.com/tag/pinterest-backup/">Pinterest</a> board <strong>Showa Tech</strong>.</p>
<figure style="width:640px; padding:2em 0; margin-left:auto; margin-right:auto;">
<div style="width:210px; float:left;">
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_0bde30689aa74af0932cee002bd97620@1x.jpg" style="border-radius:16px; width:200px; height:217px" srcset="https://rubenerd.com/files/museum/pinterest_0bde30689aa74af0932cee002bd97620@2x.jpg 2x" alt="an advertisement for a laptop computer with people working on the screen and sitting at desks" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_542fcca346fb436698b616d4b989a09d@1x.jpg" style="border-radius:16px; width:200px; height:282px" srcset="https://rubenerd.com/files/museum/pinterest_542fcca346fb436698b616d4b989a09d@2x.jpg 2x" alt="an instruction manual for the original computer pc - 8000 series" /></a>
<a href="http://blog.livedoor.jp/nwknews/lite/article/5660039/image/11467223"><img src="https://rubenerd.com/files/museum/pinterest_c0094244dda84548b63ca1c331e19ab6@1x.jpg" style="border-radius:16px; width:200px; height:280px" srcset="https://rubenerd.com/files/museum/pinterest_c0094244dda84548b63ca1c331e19ab6@2x.jpg 2x" alt="1: 名無しさん＠おーぷん 20/07/05(日)10:45:38 ID:4hj 3年ぐらい前に建てたもんやけどまた貼りたくなったのでただし前回と違って年代別にまとめてないから適当に貼ってく" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_bb2d97bd89c04850b95037f6774de70e@1x.jpg" style="border-radius:16px; width:200px; height:278px" srcset="https://rubenerd.com/files/museum/pinterest_bb2d97bd89c04850b95037f6774de70e@2x.jpg 2x" alt="an advertisement for the original computer pc - 8000 series, with chinese characters on it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_4fa2b6253699460690ff93fd352d987a@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_4fa2b6253699460690ff93fd352d987a@2x.jpg 2x" alt="an advertisement for a computer that is on display with other electronic items in front of it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_707891538ef3416da3cd768a53b91d41@1x.jpg" style="border-radius:16px; width:200px; height:309px" srcset="https://rubenerd.com/files/museum/pinterest_707891538ef3416da3cd768a53b91d41@2x.jpg 2x" alt="an advertisement for a laptop computer with a man in blue shirt on top of it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_02b6a6dce61f4d2d9ee5cc2fd098a022@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_02b6a6dce61f4d2d9ee5cc2fd098a022@2x.jpg 2x" alt="the advertisement for an old computer is shown in english and japanese characters are depicted on the screen" /></a>
<a href="https://www.flickr.com/photos/atb2005/7427017504/"><img src="https://rubenerd.com/files/museum/pinterest_5073738baf9c4205a03ae5590ab3f39a@1x.jpg" style="border-radius:16px; width:200px; height:265px" srcset="https://rubenerd.com/files/museum/pinterest_5073738baf9c4205a03ae5590ab3f39a@2x.jpg 2x" alt="Explore jp.ads' 455 photos on Flickr!" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_9e3ab11c2f624024afb992d18c67174c@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_9e3ab11c2f624024afb992d18c67174c@2x.jpg 2x" alt="an old computer sitting on top of a desk" /></a>
<a href="https://internet.watch.impress.co.jp/img/iw/docs/690/339/html/sharp2.png.html"><img src="https://rubenerd.com/files/museum/pinterest_ce54f872b06942e8921ae934b34271ba@1x.jpg" style="border-radius:16px; width:200px; height:130px" srcset="https://rubenerd.com/files/museum/pinterest_ce54f872b06942e8921ae934b34271ba@2x.jpg 2x" alt="an advertisement for the ibm me - c mzetek computer system in japan" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_7e7a075468374966b77b219e585cd639@1x.jpg" style="border-radius:16px; width:200px; height:286px" srcset="https://rubenerd.com/files/museum/pinterest_7e7a075468374966b77b219e585cd639@2x.jpg 2x" alt="a woman with a floppy hat is looking at an old computer" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_d7cce818804f414b96273f44a3016d77@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_d7cce818804f414b96273f44a3016d77@2x.jpg 2x" alt="an advertisement for the sony cd player and other electronic equipment in japan, circa - 1990s" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_812baa15c1e84646850b5e921dbbd407@1x.jpg" style="border-radius:16px; width:200px; height:281px" srcset="https://rubenerd.com/files/museum/pinterest_812baa15c1e84646850b5e921dbbd407@2x.jpg 2x" alt="a woman holding an old computer in front of her face with the caption htc - 898 epson" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_d812920e3d3d4319aff8462768e09405@1x.jpg" style="border-radius:16px; width:200px; height:278px" srcset="https://rubenerd.com/files/museum/pinterest_d812920e3d3d4319aff8462768e09405@2x.jpg 2x" alt="an advertisement for a computer with a top hat on it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_a6b3d6a539474ae1a789dd2681686d8f@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_a6b3d6a539474ae1a789dd2681686d8f@2x.jpg 2x" alt="an advertisement for the toshiba computer system, featuring a desktop computer and other electronic devices" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_2ee38a1e13244ed49e240a54549c879f@1x.jpg" style="border-radius:16px; width:200px; height:274px" srcset="https://rubenerd.com/files/museum/pinterest_2ee38a1e13244ed49e240a54549c879f@2x.jpg 2x" alt="an advertisement for the nintendo pc with two people standing in front of it and one person holding" /></a>
<a href="https://ameblo.jp/advernya/entry-10278863389.html"><img src="https://rubenerd.com/files/museum/pinterest_d91a9be6b29e49a680387cfaf682238b@1x.jpg" style="border-radius:16px; width:200px; height:278px" srcset="https://rubenerd.com/files/museum/pinterest_d91a9be6b29e49a680387cfaf682238b@2x.jpg 2x" alt="今回は、久しぶりに「お宝広告館」の名にふさわしいネタかと思います。しかし、このブログ長い（笑）。自分で書いておいて、読む気がしなくなる長さです。さて先日、ここ…" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_7f63221a548f4e15822a0d1e9a461c25@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_7f63221a548f4e15822a0d1e9a461c25@2x.jpg 2x" alt="an advertisement for the liberty cd player system with instructions in english and japanese, including instruction on how to use it" /></a>
<a href="https://tanken.com/pc/styled-14/"><img src="https://rubenerd.com/files/museum/pinterest_401ac8b042a94b5c88802daeab3a14ab@1x.jpg" style="border-radius:16px; width:200px; height:257px" srcset="https://rubenerd.com/files/museum/pinterest_401ac8b042a94b5c88802daeab3a14ab@2x.jpg 2x" alt="an old computer with a keyboard and mouse on it's side in the japanese language" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_d51005927b094336be84afc082cf08e9@1x.jpg" style="border-radius:16px; width:200px; height:279px" srcset="https://rubenerd.com/files/museum/pinterest_d51005927b094336be84afc082cf08e9@2x.jpg 2x" alt="an advertisement for the sony car stereo system with japanese writing and english characters on it" /></a>
<a href="https://tanken.com/pc/styled-17/"><img src="https://rubenerd.com/files/museum/pinterest_d64da7532f1149a9bfa7c24cb45117f5@1x.jpg" style="border-radius:16px; width:200px; height:272px" srcset="https://rubenerd.com/files/museum/pinterest_d64da7532f1149a9bfa7c24cb45117f5@2x.jpg 2x" alt="an advertisement for the ibm computer system with four different types of computers in each one" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_8abbcf66a6a847e99d16bb638dd6407c@1x.jpg" style="border-radius:16px; width:200px; height:282px" srcset="https://rubenerd.com/files/museum/pinterest_8abbcf66a6a847e99d16bb638dd6407c@2x.jpg 2x" alt="an advertisement for a computer with a robot on it's back side and the words panasonic written in japanese" /></a>
<a href="http://www.eonet.ne.jp/~taknet21/natsukashipc/nec/pc8001.html"><img src="https://rubenerd.com/files/museum/pinterest_b98aa8c4e4964929b35c39d1191e9c93@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_b98aa8c4e4964929b35c39d1191e9c93@2x.jpg 2x" alt="an old computer sitting on top of a red carpet next to a keyboard and mouse" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_7afc30dd79954ac3acb8ff61cb175ba5@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_7afc30dd79954ac3acb8ff61cb175ba5@2x.jpg 2x" alt="an advertisement for a sony television set with the words sony on it's side" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_4f38f72e93d7488a983a172125d2eab1@1x.jpg" style="border-radius:16px; width:200px; height:281px" srcset="https://rubenerd.com/files/museum/pinterest_4f38f72e93d7488a983a172125d2eab1@2x.jpg 2x" alt="a woman holding an old computer in front of her face with japanese writing on it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_b23a5ef4b4e044fca172f5b5ce593b9c@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_b23a5ef4b4e044fca172f5b5ce593b9c@2x.jpg 2x" alt="an advertisement for the sanyo phc - 25 computer" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_b5a68893d84d466b8c08590abda989d4@1x.jpg" style="border-radius:16px; width:200px; height:286px" srcset="https://rubenerd.com/files/museum/pinterest_b5a68893d84d466b8c08590abda989d4@2x.jpg 2x" alt="" /></a>
<a href="https://coolestvintage.com/seiko-memo-diary-wrist-information-system-uc-3000/"><img src="https://rubenerd.com/files/museum/pinterest_d926f0341ae34e948809dc16c3215398@1x.jpg" style="border-radius:16px; width:200px; height:300px" srcset="https://rubenerd.com/files/museum/pinterest_d926f0341ae34e948809dc16c3215398@2x.jpg 2x" alt="seiko-memo-diary-wrist-information-system-uc-3000 vintage computer watch'" /></a>
<a href="https://bouya.officew.jp/liberty-cd-1983-05/"><img src="https://rubenerd.com/files/museum/pinterest_2e6ff0c678324dd9b4415f550dc1f5fd@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_2e6ff0c678324dd9b4415f550dc1f5fd@2x.jpg 2x" alt="前回のカタログから3ヶ月しか立っていませんが、変化はあるでしょうか。 ちょっと毛色の違うV4なるものが現れまし… 続きを読む »'" /></a>
<a href="http://palmandlaser.tumblr.com/post/60760552567"><img src="https://rubenerd.com/files/museum/pinterest_e1042aebfb9a49d1845dd9071b740c2e@1x.jpg" style="border-radius:16px; width:200px; height:222px" srcset="https://rubenerd.com/files/museum/pinterest_e1042aebfb9a49d1845dd9071b740c2e@2x.jpg 2x" alt="Tumblr Blog'" /></a>
<a href="https://internet.watch.impress.co.jp/docs/news/705618.html"><img src="https://rubenerd.com/files/museum/pinterest_d618b1d7237a45e0a1658be8bbcc9c2f@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_d618b1d7237a45e0a1658be8bbcc9c2f@2x.jpg 2x" alt="'" /></a>
<a href="http://vintage69.blogspot.com/2016/08/photo_72.html"><img src="https://rubenerd.com/files/museum/pinterest_96e3848f51cc4824917a5306a1d173bf@1x.jpg" style="border-radius:16px; width:200px; height:286px" srcset="https://rubenerd.com/files/museum/pinterest_96e3848f51cc4824917a5306a1d173bf@2x.jpg 2x" alt="'" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_bec51896466e4837920c74242030af12@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_bec51896466e4837920c74242030af12@2x.jpg 2x" alt="an advertisement for the sony cd player with its record player on it's side" /></a>
<a href="https://bouya.officew.jp/d-50/"><img src="https://rubenerd.com/files/museum/pinterest_2d4cb88aa51d4b01bfb20d516b1ca713@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_2d4cb88aa51d4b01bfb20d516b1ca713@2x.jpg 2x" alt="このカタログはきっと皆さんに懐かしさを与えることでしょう・・・御覧ください。 2割引ですと40,… 続きを読む »'" /></a>
<a href="https://bouya.officew.jp/liberty-cd-1983-05/"><img src="https://rubenerd.com/files/museum/pinterest_f2edfc03e1e548f095fb4db84c095f54@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_f2edfc03e1e548f095fb4db84c095f54@2x.jpg 2x" alt="前回のカタログから3ヶ月しか立っていませんが、変化はあるでしょうか。 ちょっと毛色の違うV4なるものが現れまし… 続きを読む »'" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_76a124192213417fbebedecb421fb7c5@1x.jpg" style="border-radius:16px; width:200px; height:259px" srcset="https://rubenerd.com/files/museum/pinterest_76a124192213417fbebedecb421fb7c5@2x.jpg 2x" alt="an old computer sitting on top of a blue surface with the words intellivision written above it" /></a>
<a href="https://www.tumblr.com/dashboard"><img src="https://rubenerd.com/files/museum/pinterest_b5c967554dee41abb65f781be149e4ff@1x.jpg" style="border-radius:16px; width:200px; height:269px" srcset="https://rubenerd.com/files/museum/pinterest_b5c967554dee41abb65f781be149e4ff@2x.jpg 2x" alt="'" /></a>
<a href="http://world-fusigi.net/archives/8592671.html"><img src="https://rubenerd.com/files/museum/pinterest_398b67b4412c4b22b167039dd67eb3c1@1x.jpg" style="border-radius:16px; width:200px; height:146px" srcset="https://rubenerd.com/files/museum/pinterest_398b67b4412c4b22b167039dd67eb3c1@2x.jpg 2x" alt="サブカルチャーや関連のまとめ'" /></a>
<a href="http://vhs-80.tumblr.com/post/65790476235/lovejapanese80s-pc-8801mkii"><img src="https://rubenerd.com/files/museum/pinterest_40bac25db1604d4f867dc9ee692bd05b@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_40bac25db1604d4f867dc9ee692bd05b@2x.jpg 2x" alt="PC-8801mkII'" /></a>
<a href="https://issuu.com/retromash/docs/argos-no20-1983-autumnwinter/c/spjskhs"><img src="https://rubenerd.com/files/museum/pinterest_af43610ff48844ce80849866933dd01e@1x.jpg" style="border-radius:16px; width:200px; height:250px" srcset="https://rubenerd.com/files/museum/pinterest_af43610ff48844ce80849866933dd01e@2x.jpg 2x" alt="'" /></a>
<a href="http://s-sasaji.ddo.jp/pccata/hc20.htm"><img src="https://rubenerd.com/files/museum/pinterest_6dd206a79e8740b2a1f75612e9679b71@1x.jpg" style="border-radius:16px; width:200px; height:282px" srcset="https://rubenerd.com/files/museum/pinterest_6dd206a79e8740b2a1f75612e9679b71@2x.jpg 2x" alt="'" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_ee92f6848173493ebd95478701965021@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_ee92f6848173493ebd95478701965021@2x.jpg 2x" alt="an advertisement for the sony television service in japan, with colorful tiles on the building" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_317121fadd8f424eb82d66b3452a79ab@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_317121fadd8f424eb82d66b3452a79ab@2x.jpg 2x" alt="an old computer sitting on top of a blue table" /></a>
<a href="https://bouya.officew.jp/liberty-cd-1983-05/"><img src="https://rubenerd.com/files/museum/pinterest_f0b332c521d045c5ab767b0ac8a3495e@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_f0b332c521d045c5ab767b0ac8a3495e@2x.jpg 2x" alt="前回のカタログから3ヶ月しか立っていませんが、変化はあるでしょうか。 ちょっと毛色の違うV4なるものが現れまし… 続きを読む »'" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_cb37e95c70e44ce28a3d630eb7808b44@1x.jpg" style="border-radius:16px; width:200px; height:282px" srcset="https://rubenerd.com/files/museum/pinterest_cb37e95c70e44ce28a3d630eb7808b44@2x.jpg 2x" alt="an advertisement for sony's new f5 stereo system" /></a>
<a href="https://akiba-pc.watch.impress.co.jp/docs/column/retrosoft/1069592.html"><img src="https://rubenerd.com/files/museum/pinterest_d1dfdd83065c4875b38893047200b469@1x.jpg" style="border-radius:16px; width:200px; height:261px" srcset="https://rubenerd.com/files/museum/pinterest_d1dfdd83065c4875b38893047200b469@2x.jpg 2x" alt="連載「ボクたちが愛した、想い出のレトロパソコン・ゲームたち」の番外編として、この記事では総合科学出版から発売されている「永久保存版 80年代マイコン大百科」(著：佐々木 潤)の一部記事を抜粋し、紹介しよう。'" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_bcbecb8a37f1423ea39c49f300eb0b3c@1x.jpg" style="border-radius:16px; width:200px; height:280px" srcset="https://rubenerd.com/files/museum/pinterest_bcbecb8a37f1423ea39c49f300eb0b3c@2x.jpg 2x" alt="an advertisement for the nintendo family basic system" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_0623855beadc48888007c19556d81eb3@1x.jpg" style="border-radius:16px; width:200px; height:200px" srcset="https://rubenerd.com/files/museum/pinterest_0623855beadc48888007c19556d81eb3@2x.jpg 2x" alt="an old sony cd player and other electronic devices are on display in front of a black background" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_1f8c773fb4d3485ca8b4b606f6c275d7@1x.jpg" style="border-radius:16px; width:200px; height:422px" srcset="https://rubenerd.com/files/museum/pinterest_1f8c773fb4d3485ca8b4b606f6c275d7@2x.jpg 2x" alt="" /></a>
<a href="http://bibberly.tumblr.com/post/47031635002/cd-player-ad-1986"><img src="https://rubenerd.com/files/museum/pinterest_396d6e76c18246818a2278e172acd5fe@1x.jpg" style="border-radius:16px; width:200px; height:244px" srcset="https://rubenerd.com/files/museum/pinterest_396d6e76c18246818a2278e172acd5fe@2x.jpg 2x" alt="CD player ad, 1986.'" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_7dde5515fd5b4ae8843fabf065697888@1x.jpg" style="border-radius:16px; width:200px; height:276px" srcset="https://rubenerd.com/files/museum/pinterest_7dde5515fd5b4ae8843fabf065697888@2x.jpg 2x" alt="an instruction manual for the sony hit 3t computer, with instructions on how to use it" /></a>
<a href="https://www.flickr.com/photos/sa_steve/3390498712/in/album-72157612221868944/"><img src="https://rubenerd.com/files/museum/pinterest_7074b70e822249acac4d13ed13c653e9@1x.jpg" style="border-radius:16px; width:200px; height:281px" srcset="https://rubenerd.com/files/museum/pinterest_7074b70e822249acac4d13ed13c653e9@2x.jpg 2x" alt="Explore SA_Steve's 24437 photos on Flickr!" /></a>
<a href="https://akiba-pc.watch.impress.co.jp/docs/column/retrohard/1199551.html"><img src="https://rubenerd.com/files/museum/pinterest_a1a4417fd3fc4476913f3c92b6c444bf@1x.jpg" style="border-radius:16px; width:200px; height:263px" srcset="https://rubenerd.com/files/museum/pinterest_a1a4417fd3fc4476913f3c92b6c444bf@2x.jpg 2x" alt="想い出に残る、懐かしのマイコン・パソコンを写真とともに振り返る本コーナー。今回取り上げたのは、富士通が1981年にリリースした衝撃のマシン「FM-8」となります。" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_64de1fcc1fe649deb51092ebb65fb01e@1x.jpg" style="border-radius:16px; width:200px; height:378px" srcset="https://rubenerd.com/files/museum/pinterest_64de1fcc1fe649deb51092ebb65fb01e@2x.jpg 2x" alt="an advertisement for sony with cassettes stacked on top of each other in japanese language" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_981c02cebdd049b5b01f12b91c1d69a4@1x.jpg" style="border-radius:16px; width:200px; height:195px" srcset="https://rubenerd.com/files/museum/pinterest_981c02cebdd049b5b01f12b91c1d69a4@2x.jpg 2x" alt="an old sony disc player sitting on top of a red surface with it's lid open" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_b4b13d75c12948a9b8bc506a362d9c68@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_b4b13d75c12948a9b8bc506a362d9c68@2x.jpg 2x" alt="an advertisement for the sony electronics company, with three different types of electronic equipment in it" /></a>
<a href="https://bouya.officew.jp/sl-1986-06/"><img src="https://rubenerd.com/files/museum/pinterest_c2fad3a5911f42bea00c308224369251@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_c2fad3a5911f42bea00c308224369251@2x.jpg 2x" alt="新機種が1台あります。 「サラウンドビデオ」SL-EX7、178,000円。" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_b6928d58903744fcab8f48dad590c2fa@1x.jpg" style="border-radius:16px; width:200px; height:273px" srcset="https://rubenerd.com/files/museum/pinterest_b6928d58903744fcab8f48dad590c2fa@2x.jpg 2x" alt="an advertisement for the best recording system in the world, featuring two old stereos" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_7f9693cf37bf4fb2aa73818a69733db8@1x.jpg" style="border-radius:16px; width:200px; height:276px" srcset="https://rubenerd.com/files/museum/pinterest_7f9693cf37bf4fb2aa73818a69733db8@2x.jpg 2x" alt="an advertisement for the nec pc - 901f3, which is in english and japanese" /></a>
<a href="http://www4.kcn.ne.jp/~sailplan/myComputer/MZ2000/MZ2000.htm"><img src="https://rubenerd.com/files/museum/pinterest_267bc61ece9f4c91a2d5bdb2314b307e@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_267bc61ece9f4c91a2d5bdb2314b307e@2x.jpg 2x" alt="an old computer sitting on top of a wooden table" /></a>
<a href="https://bouya.officew.jp/tc-1981-11/"><img src="https://rubenerd.com/files/museum/pinterest_6bdcd9c9a00146c7b9cec79eaa065710@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_6bdcd9c9a00146c7b9cec79eaa065710@2x.jpg 2x" alt="紹介済みの機種がほとんどですが・・・ TC-K555が新登場！ ありがとうございました。" /></a>
<a href="http://blog.livedoor.jp/kmmh9189/archives/cat_616253.html?p=5"><img src="https://rubenerd.com/files/museum/pinterest_85254a445aea4e12b1cc5cefdcccbd48@1x.jpg" style="border-radius:16px; width:200px; height:238px" srcset="https://rubenerd.com/files/museum/pinterest_85254a445aea4e12b1cc5cefdcccbd48@2x.jpg 2x" alt="an advertisement for a computer that is in japanese" /></a>
<a href="https://bouya.officew.jp/d-50/"><img src="https://rubenerd.com/files/museum/pinterest_f74b02b8b8234f05b440a601c03ce213@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_f74b02b8b8234f05b440a601c03ce213@2x.jpg 2x" alt="このカタログはきっと皆さんに懐かしさを与えることでしょう・・・御覧ください。 2割引ですと40,… 続きを読む »" /></a>
<a href="https://tanken.com/pc/styled-14/"><img src="https://rubenerd.com/files/museum/pinterest_93ca220715fa446687f098fe8d1726b8@1x.jpg" style="border-radius:16px; width:200px; height:262px" srcset="https://rubenerd.com/files/museum/pinterest_93ca220715fa446687f098fe8d1726b8@2x.jpg 2x" alt="an old computer with keyboard and mouse on it's back cover, in japanese" /></a>
<a href="https://www.generation-msx.nl/publication/victor-co-of-japan-jvc/victor-av-personal-computer-hc-6/1433/"><img src="https://rubenerd.com/files/museum/pinterest_a8f5c12126014bca91b6bb52da4f37d5@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_a8f5c12126014bca91b6bb52da4f37d5@2x.jpg 2x" alt="an advertisement for a personal computer" /></a>
<a href="http://www.eonet.ne.jp/~taknet21/natsukashipc/nec/pc6001.html"><img src="https://rubenerd.com/files/museum/pinterest_9c4decdf4a824c65b4be1621f55f581b@1x.jpg" style="border-radius:16px; width:200px; height:281px" srcset="https://rubenerd.com/files/museum/pinterest_9c4decdf4a824c65b4be1621f55f581b@2x.jpg 2x" alt="an old computer sitting on top of a wooden desk" /></a>
<a href="http://r-dino.tumblr.com/post/148502496292/1470399137414jpg"><img src="https://rubenerd.com/files/museum/pinterest_36fb0fb646664f4b8646254e24e86686@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_36fb0fb646664f4b8646254e24e86686@2x.jpg 2x" alt="1470399137414.jpg" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_2a834d100c7c46169507ad89b07d446d@1x.jpg" style="border-radius:16px; width:200px; height:135px" srcset="https://rubenerd.com/files/museum/pinterest_2a834d100c7c46169507ad89b07d446d@2x.jpg 2x" alt="an old computer ad with japanese writing on the front and back pages, in english" /></a>
<a href="https://www.ebaumsworld.com/pictures/31-vintage-computer-and-videogame-ads/85275453/?image=85275473"><img src="https://rubenerd.com/files/museum/pinterest_bab0383fb4594065a28d384b93a6b7a1@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_bab0383fb4594065a28d384b93a6b7a1@2x.jpg 2x" alt="I had a power glove, it was amazing. COMPUTERS ARE THE FUTURE!" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_00bf34e96cb54ac4af910c870f14fb5a@1x.jpg" style="border-radius:16px; width:200px; height:294px" srcset="https://rubenerd.com/files/museum/pinterest_00bf34e96cb54ac4af910c870f14fb5a@2x.jpg 2x" alt="an advertisement for the apple computer" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_4662f8d9adc74fbfade4b03a4921623e@1x.jpg" style="border-radius:16px; width:200px; height:285px" srcset="https://rubenerd.com/files/museum/pinterest_4662f8d9adc74fbfade4b03a4921623e@2x.jpg 2x" alt="an advertisement for sony's new f3 stereo system, in english and japanese" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_42556f735a814ea8b7bd8cc6b4f4ce71@1x.jpg" style="border-radius:16px; width:200px; height:296px" srcset="https://rubenerd.com/files/museum/pinterest_42556f735a814ea8b7bd8cc6b4f4ce71@2x.jpg 2x" alt="" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_3382b55fec444e6b834eac269309ba6e@1x.jpg" style="border-radius:16px; width:200px; height:172px" srcset="https://rubenerd.com/files/museum/pinterest_3382b55fec444e6b834eac269309ba6e@2x.jpg 2x" alt="an old computer sitting on top of a green and black background with the words sharp in front of it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_739b188529ac470ba3ec9a846d68bad9@1x.jpg" style="border-radius:16px; width:200px; height:287px" srcset="https://rubenerd.com/files/museum/pinterest_739b188529ac470ba3ec9a846d68bad9@2x.jpg 2x" alt="an advertisement for toshiba's computer system, which was introduced in japan" /></a>
<a href="http://www.ssplusone.com/%E3%83%9E%E3%82%A4%E3%82%AF%E3%83%AD%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%82%BF/tk-80%E3%81%AE%E6%83%B3%E3%81%84%E5%87%BA/tk-80bs/"><img src="https://rubenerd.com/files/museum/pinterest_2b63bccb2a5f40f9918ae08943306285@1x.jpg" style="border-radius:16px; width:200px; height:143px" srcset="https://rubenerd.com/files/museum/pinterest_2b63bccb2a5f40f9918ae08943306285@2x.jpg 2x" alt="a woman sitting at a desk in front of a computer monitor and other electronic equipment" /></a>
<a href="https://twitter.com/theREZtron/status/655794546958290944/photo/1"><img src="https://rubenerd.com/files/museum/pinterest_855aba6eb9844d9ea9cb5a04d4306435@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_855aba6eb9844d9ea9cb5a04d4306435@2x.jpg 2x" alt="This 8-BIT electrifying beast was released today in 1987....Anyone still got theirs? #retrogaming #SEGA" /></a>
</div>
<div style="width:210px; float:left;">
<a href="http://www.1001hifi.com/"><img src="https://rubenerd.com/files/museum/pinterest_16060e24b8d3408589e047d7c19889f1@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_16060e24b8d3408589e047d7c19889f1@2x.jpg 2x" alt="an ad for sharp electronics with the words 1001 hi - fi presents" /></a>
<a href="http://looksroom.blog.jp/archives/36677765.html"><img src="https://rubenerd.com/files/museum/pinterest_b0742089d7a741498aa08dad562f8543@1x.jpg" style="border-radius:16px; width:200px; height:290px" srcset="https://rubenerd.com/files/museum/pinterest_b0742089d7a741498aa08dad562f8543@2x.jpg 2x" alt="シャープ　パソコン 1984年　モデル：倉沢淳美 1984年　モデル：倉沢淳美" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_d061475eaa404a55ad274ae0d973eb7f@1x.jpg" style="border-radius:16px; width:200px; height:289px" srcset="https://rubenerd.com/files/museum/pinterest_d061475eaa404a55ad274ae0d973eb7f@2x.jpg 2x" alt="an advertisement for a computer that is on display" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_83613e3093a242a9879680b756699039@1x.jpg" style="border-radius:16px; width:200px; height:286px" srcset="https://rubenerd.com/files/museum/pinterest_83613e3093a242a9879680b756699039@2x.jpg 2x" alt="" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_65d4bdf91673462fa20f55ce3299656f@1x.jpg" style="border-radius:16px; width:200px; height:208px" srcset="https://rubenerd.com/files/museum/pinterest_65d4bdf91673462fa20f55ce3299656f@2x.jpg 2x" alt="an advertisement for a computer that is in english and japanese language, with pictures of old computers" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_bd3e6ef235f04cc291761ddcd2862a4c@1x.jpg" style="border-radius:16px; width:200px; height:267px" srcset="https://rubenerd.com/files/museum/pinterest_bd3e6ef235f04cc291761ddcd2862a4c@2x.jpg 2x" alt="" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_154b723a36ab456c83e6a3554cb09e62@1x.jpg" style="border-radius:16px; width:200px; height:285px" srcset="https://rubenerd.com/files/museum/pinterest_154b723a36ab456c83e6a3554cb09e62@2x.jpg 2x" alt="an advertisement for the sony x3 spliter with instructions on how to use it" /></a>
<a href="https://lovejapanese80s.tumblr.com/post/189239478860/%E6%97%A5%E6%9C%AC%E9%9B%BB%E6%B0%97-pc-8200%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA"><img src="https://rubenerd.com/files/museum/pinterest_f6a31d9315fa45be94ee80779775e4c7@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_f6a31d9315fa45be94ee80779775e4c7@2x.jpg 2x" alt="日本電気 PC-8200シリーズ" /></a>
<a href="http://fartstitution.tumblr.com/post/37337772682"><img src="https://rubenerd.com/files/museum/pinterest_5a0baf9bbdb74b759e9bc8a1892bf41e@1x.jpg" style="border-radius:16px; width:200px; height:280px" srcset="https://rubenerd.com/files/museum/pinterest_5a0baf9bbdb74b759e9bc8a1892bf41e@2x.jpg 2x" alt="Tumblr Blog" /></a>
<a href="https://akiba-pc.watch.impress.co.jp/img/ah/docs/1069/592/html/m80nenhard3.jpg.html"><img src="https://rubenerd.com/files/museum/pinterest_9546270eb33e413d9a725b798959e2cc@1x.jpg" style="border-radius:16px; width:200px; height:290px" srcset="https://rubenerd.com/files/museum/pinterest_9546270eb33e413d9a725b798959e2cc@2x.jpg 2x" alt="連載「ボクたちが愛した、想い出のレトロパソコン・ゲームたち」の番外編として、この記事では総合科学出版から発売されている「永久保存版 80年代マイコン大百科」(著：佐々木 潤)の一部記事を抜粋し、紹介しよう。" /></a>
<a href="https://monochrome-monitor.tumblr.com/post/157761788137/sharp-mz-80k2e"><img src="https://rubenerd.com/files/museum/pinterest_7c0a3fbe0ee3477f945c795151068d1c@1x.jpg" style="border-radius:16px; width:200px; height:281px" srcset="https://rubenerd.com/files/museum/pinterest_7c0a3fbe0ee3477f945c795151068d1c@2x.jpg 2x" alt="Sharp MZ- 80K2E" /></a>
<a href="https://bouya.officew.jp/edv-9000-edv-5000/"><img src="https://rubenerd.com/files/museum/pinterest_77dcfb10363046e6a5a13fecb9f9e63a@1x.jpg" style="border-radius:16px; width:200px; height:285px" srcset="https://rubenerd.com/files/museum/pinterest_77dcfb10363046e6a5a13fecb9f9e63a@2x.jpg 2x" alt="EDベータ2号機、EDV-5000が新登場。189,000円。 なかなかシンプルでスマートなデザ… 続きを読む »" /></a>
<a href="https://akiba-pc.watch.impress.co.jp/docs/column/retrohard/1175579.html"><img src="https://rubenerd.com/files/museum/pinterest_0a73f94cfe434a03a30aac73794f58b7@1x.jpg" style="border-radius:16px; width:200px; height:289px" srcset="https://rubenerd.com/files/museum/pinterest_0a73f94cfe434a03a30aac73794f58b7@2x.jpg 2x" alt="想い出に残る、懐かしのマイコン・パソコンを写真とともに振り返る本コーナー。今回取り上げたのは、ソード電算機システム社が1982年にリリースしたパソコン「m5」です。" /></a>
<a href="http://guerreconsoles.canalblog.com/archives/2010/05/05/17790641.html"><img src="https://rubenerd.com/files/museum/pinterest_53278e619135410290e762ac97d745f0@1x.jpg" style="border-radius:16px; width:200px; height:275px" srcset="https://rubenerd.com/files/museum/pinterest_53278e619135410290e762ac97d745f0@2x.jpg 2x" alt="Nintendo et Sega ont affirmé leurs différends tout au long de leur face à face mais c'est dans leurs campagnes de publicités que ce fut le plus virulent.En effet, les deux constructeurs ont tour à tour lancé des pubs visant directement l'autre. Commençons..." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_089582915ead4a128cfac63e01ea8a6a@1x.jpg" style="border-radius:16px; width:200px; height:287px" srcset="https://rubenerd.com/files/museum/pinterest_089582915ead4a128cfac63e01ea8a6a@2x.jpg 2x" alt="" /></a>
<a href="https://akiba-pc.watch.impress.co.jp/docs/sp/1275489.html"><img src="https://rubenerd.com/files/museum/pinterest_e807c82a3ce640fbae61be363f053cd0@1x.jpg" style="border-radius:16px; width:200px; height:133px" srcset="https://rubenerd.com/files/museum/pinterest_e807c82a3ce640fbae61be363f053cd0@2x.jpg 2x" alt="2020年9月10日に大規模無償アップデートが公開されたハル研の「PasocomMini PC-8001」。このアップデートでは、なんと『ディグダグ』、『ラリーX』、『スーパーギャラクシアン』という往年のナムコのアーケードゲームの移植作が遊べるようになる。もちろん、当時販売されていたPC-8001版だ。さらに、同日よりAmazon.co.jpでの販売も始まり、より入手しやすくなる。今回は、追加された3本のゲームを中心に見ていこう。" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_fb849b04eaa9411eb33d25a10e194a1e@1x.jpg" style="border-radius:16px; width:200px; height:286px" srcset="https://rubenerd.com/files/museum/pinterest_fb849b04eaa9411eb33d25a10e194a1e@2x.jpg 2x" alt="the instruction manual for the pc - 8000 series" /></a>
<a href="https://bouya.officew.jp/dtc-1988-02/"><img src="https://rubenerd.com/files/museum/pinterest_0d65825a0cbf47c8ac9b963d5a37651c@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_0d65825a0cbf47c8ac9b963d5a37651c@2x.jpg 2x" alt="後方にPCM-2500が見えます。グレーの塗色が渋いですね。 CDP-338ESDに似てますね。… 続きを読む »" /></a>
<a href="http://ameblo.jp/advernya/image-10278863389-10195368687.html"><img src="https://rubenerd.com/files/museum/pinterest_b2e584b811fe4c74886c201bc16b865f@1x.jpg" style="border-radius:16px; width:200px; height:279px" srcset="https://rubenerd.com/files/museum/pinterest_b2e584b811fe4c74886c201bc16b865f@2x.jpg 2x" alt="an advertisement for a computer game called fm - 777l2, featuring a man in sunglasses and a suit" /></a>
<a href="https://coolestvintage.com/seiko-king-quartz-brown-dial-5856-7020/"><img src="https://rubenerd.com/files/museum/pinterest_35fb45fba2734c1482afc94dc73ce947@1x.jpg" style="border-radius:16px; width:200px; height:293px" srcset="https://rubenerd.com/files/museum/pinterest_35fb45fba2734c1482afc94dc73ce947@2x.jpg 2x" alt="Seiko King Quartz (Brown Dial) 5856-7020" /></a>
<a href="https://bouya.officew.jp/cdp-1988-11/"><img src="https://rubenerd.com/files/museum/pinterest_a3dbadd780f4460f9af1b9d21e3ddd6c@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_a3dbadd780f4460f9af1b9d21e3ddd6c@2x.jpg 2x" alt="表紙には1988-9月現在とありますが、裏面は'88.11となっています。裏面には別途「1988年11月印刷」… 続きを読む »" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_b61752163af84bf984d65e5c8b521412@1x.jpg" style="border-radius:16px; width:200px; height:285px" srcset="https://rubenerd.com/files/museum/pinterest_b61752163af84bf984d65e5c8b521412@2x.jpg 2x" alt="an instruction manual for the nec pc - 8000 series" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_067308c89fc44985aa6a8541de0e27d3@1x.jpg" style="border-radius:16px; width:200px; height:352px" srcset="https://rubenerd.com/files/museum/pinterest_067308c89fc44985aa6a8541de0e27d3@2x.jpg 2x" alt="an old stereo system is stacked on top of each other" /></a>
<a href="https://bouya.officew.jp/components-1984-05/"><img src="https://rubenerd.com/files/museum/pinterest_cd1dc169cd4345c0aa6d3d2f03b1818c@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_cd1dc169cd4345c0aa6d3d2f03b1818c@2x.jpg 2x" alt="今までになかった「オーディオコンポーネント」のカタログです。PCMプロセッサやその他のES機も統合したかったの… 続きを読む »" /></a>
<a href="https://bouya.officew.jp/cdp-1988-11/"><img src="https://rubenerd.com/files/museum/pinterest_88a2401fd94c485ab90827fcf9541bbd@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_88a2401fd94c485ab90827fcf9541bbd@2x.jpg 2x" alt="表紙には1988-9月現在とありますが、裏面は'88.11となっています。裏面には別途「1988年11月印刷」… 続きを読む »" /></a>
<a href="https://bouya.officew.jp/kv-kx-1988-08/"><img src="https://rubenerd.com/files/museum/pinterest_f9fd28ceb2d94bc8b1850dbea346d49e@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_f9fd28ceb2d94bc8b1850dbea346d49e@2x.jpg 2x" alt="表紙には新製品「ゆとりにとろん」。ちょっと地味？ プロフィール・プロ21インチにもS端子が付きました。KX-2… 続きを読む »" /></a>
<a href="https://flic.kr/p/6UGQ41"><img src="https://rubenerd.com/files/museum/pinterest_4a55f36fcd074d989cc369d128680a81@1x.jpg" style="border-radius:16px; width:200px; height:305px" srcset="https://rubenerd.com/files/museum/pinterest_4a55f36fcd074d989cc369d128680a81@2x.jpg 2x" alt="1980's National VCR advertisement." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_d1bcfb09307641d289be2d1bc4482e8c@1x.jpg" style="border-radius:16px; width:200px; height:291px" srcset="https://rubenerd.com/files/museum/pinterest_d1bcfb09307641d289be2d1bc4482e8c@2x.jpg 2x" alt="an advertisement for a cd player with the words wave written in english and japanese on it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_ec177d878e03438eb41db2c70c148009@1x.jpg" style="border-radius:16px; width:200px; height:289px" srcset="https://rubenerd.com/files/museum/pinterest_ec177d878e03438eb41db2c70c148009@2x.jpg 2x" alt="an old computer with keyboard and mouse on it's back cover, in japanese" /></a>
<a href="https://bouya.officew.jp/components-1984-10/"><img src="https://rubenerd.com/files/museum/pinterest_d3ad3150f5564c43907eb9da33d759ff@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_d3ad3150f5564c43907eb9da33d759ff@2x.jpg 2x" alt="右上角のES表記が誇らしげな新しいカタログです。前回のコンポーネントカタログも、ESとは書いていなかったものの… 続きを読む »" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_a3deb650e81c4bb688ce6bd314374339@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_a3deb650e81c4bb688ce6bd314374339@2x.jpg 2x" alt="an advertisement for the new nintendo wii game system, with instructions on how to use it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_c1b0530da3744a0298108ae06532b3bb@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_c1b0530da3744a0298108ae06532b3bb@2x.jpg 2x" alt="an instruction manual for the sony hf6 stereo system, with instructions on how to use it" /></a>
<a href="http://s-sasaji.ddo.jp/pccata/mb6890.htm"><img src="https://rubenerd.com/files/museum/pinterest_bb9e1f581dbe4d44b422fbf830ea91c7@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_bb9e1f581dbe4d44b422fbf830ea91c7@2x.jpg 2x" alt="an old computer sitting on top of a desk" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_d00f0f653423400d861cfd3c1aaf39e1@1x.jpg" style="border-radius:16px; width:200px; height:139px" srcset="https://rubenerd.com/files/museum/pinterest_d00f0f653423400d861cfd3c1aaf39e1@2x.jpg 2x" alt="an old record player is shown in this ad for technic's direct drive player" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_65a1641bd4c0492f905a5c307b7133d4@1x.jpg" style="border-radius:16px; width:200px; height:286px" srcset="https://rubenerd.com/files/museum/pinterest_65a1641bd4c0492f905a5c307b7133d4@2x.jpg 2x" alt="the instruction manual for teac a - 6500 and a - 4800 reels" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_ec03596398364faab6312c52eeee7d09@1x.jpg" style="border-radius:16px; width:200px; height:210px" srcset="https://rubenerd.com/files/museum/pinterest_ec03596398364faab6312c52eeee7d09@2x.jpg 2x" alt="there are four stereos stacked on top of each other" /></a>
<a href="http://www.giantbomb.com/nec-pc-9801/3045-112/"><img src="https://rubenerd.com/files/museum/pinterest_71281376b063437992a5fcf010ccbfa8@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_71281376b063437992a5fcf010ccbfa8@2x.jpg 2x" alt="an advertisement for the macintosh computer system with instructions on how to use it in japanese" /></a>
<a href="https://bouya.officew.jp/components-1984-10/"><img src="https://rubenerd.com/files/museum/pinterest_0d9d6a6b4a77494099a38e161ca61579@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_0d9d6a6b4a77494099a38e161ca61579@2x.jpg 2x" alt="右上角のES表記が誇らしげな新しいカタログです。前回のコンポーネントカタログも、ESとは書いていなかったものの… 続きを読む »" /></a>
<a href="http://www.andysowards.com/blog/2012/80-nostalgic-epic-video-game-magazine-cover-art-vintage-design-print-ads-from-the-past-geek-inspiration/amp/"><img src="https://rubenerd.com/files/museum/pinterest_9c5d552fb67a4e57abb19eae5b25289b@1x.jpg" style="border-radius:16px; width:200px; height:271px" srcset="https://rubenerd.com/files/museum/pinterest_9c5d552fb67a4e57abb19eae5b25289b@2x.jpg 2x" alt="So I found this epic 90's playlist on spotify (love spotify) that i've been listening to and all these memories of my childhood kept rushing back to me -" /></a>
<a href="http://quadrafonica.tumblr.com/image/148613987329"><img src="https://rubenerd.com/files/museum/pinterest_2ed3ede9ad134223b52d35f47581d84a@1x.jpg" style="border-radius:16px; width:200px; height:287px" srcset="https://rubenerd.com/files/museum/pinterest_2ed3ede9ad134223b52d35f47581d84a@2x.jpg 2x" alt="an advertisement for a stereo system with many different types of electronic equipment on it's side" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_127ac3ba3dca4f44b93a1938741e7ae0@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_127ac3ba3dca4f44b93a1938741e7ae0@2x.jpg 2x" alt="an advertisement for the tc - 650ex stereo system" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_f584c0462bad45ecafbfa4aaf3143f78@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_f584c0462bad45ecafbfa4aaf3143f78@2x.jpg 2x" alt="an old red computer sitting on top of a table" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_d2e458ee4fa54e63bdcc5c86a0b487d8@1x.jpg" style="border-radius:16px; width:200px; height:258px" srcset="https://rubenerd.com/files/museum/pinterest_d2e458ee4fa54e63bdcc5c86a0b487d8@2x.jpg 2x" alt="an advertisement for the tck388es receiver system in japan, with instructions on how to use it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_d1ec339088744570884f9c1992c01a6c@1x.jpg" style="border-radius:16px; width:200px; height:286px" srcset="https://rubenerd.com/files/museum/pinterest_d1ec339088744570884f9c1992c01a6c@2x.jpg 2x" alt="an advertisement for the tc - k355e ii stereo system, with instructions on how to use it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_0dfab916dd4d439993d34ed5a33640be@1x.jpg" style="border-radius:16px; width:200px; height:289px" srcset="https://rubenerd.com/files/museum/pinterest_0dfab916dd4d439993d34ed5a33640be@2x.jpg 2x" alt="an advertisement for a computer that is on display" /></a>
<a href="https://akiba-pc.watch.impress.co.jp/img/ah/docs/1069/592/html/m80nenhard3.jpg.html"><img src="https://rubenerd.com/files/museum/pinterest_5f7775c05f1242a8b4a48a5d4f9d5aa4@1x.jpg" style="border-radius:16px; width:200px; height:290px" srcset="https://rubenerd.com/files/museum/pinterest_5f7775c05f1242a8b4a48a5d4f9d5aa4@2x.jpg 2x" alt="連載「ボクたちが愛した、想い出のレトロパソコン・ゲームたち」の番外編として、この記事では総合科学出版から発売されている「永久保存版 80年代マイコン大百科」(著：佐々木 潤)の一部記事を抜粋し、紹介しよう。" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_b20b36baa8634d308a69d6512ffd81eb@1x.jpg" style="border-radius:16px; width:200px; height:286px" srcset="https://rubenerd.com/files/museum/pinterest_b20b36baa8634d308a69d6512ffd81eb@2x.jpg 2x" alt="a woman with a floppy hat is looking at an old computer" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_5c876b8aa3b840fc8550f4962868f373@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_5c876b8aa3b840fc8550f4962868f373@2x.jpg 2x" alt="an old radio and other electronic equipment are shown in this page from the book," /></a>
<a href="https://bouya.officew.jp/tc-1981-11/"><img src="https://rubenerd.com/files/museum/pinterest_d304c7a649e448c5931168960f77758a@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_d304c7a649e448c5931168960f77758a@2x.jpg 2x" alt="紹介済みの機種がほとんどですが・・・ TC-K555が新登場！ ありがとうございました。" /></a>
<a href="https://bouya.officew.jp/mds-1996-08/"><img src="https://rubenerd.com/files/museum/pinterest_24bffae34c324860b62ae36c8c71c186@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_24bffae34c324860b62ae36c8c71c186@2x.jpg 2x" alt="MDです。私は持っていませんでしたので特段の思い入れはありませんが、お持ちだった方々にお楽しみいただければと思… 続きを読む »" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_621f1aeead8543c8a42a06e95afe63ed@1x.jpg" style="border-radius:16px; width:200px; height:260px" srcset="https://rubenerd.com/files/museum/pinterest_621f1aeead8543c8a42a06e95afe63ed@2x.jpg 2x" alt="an instruction manual for the sony stereo system" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_94b8797d9692433c917a2effeb96d987@1x.jpg" style="border-radius:16px; width:200px; height:200px" srcset="https://rubenerd.com/files/museum/pinterest_94b8797d9692433c917a2effeb96d987@2x.jpg 2x" alt="an advertisement for technics electronics, with the words technics above it" /></a>
<a href="https://bouya.officew.jp/components-1984-10/"><img src="https://rubenerd.com/files/museum/pinterest_a708a1268f7f4de09cd1cc58b2af7e2f@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_a708a1268f7f4de09cd1cc58b2af7e2f@2x.jpg 2x" alt="右上角のES表記が誇らしげな新しいカタログです。前回のコンポーネントカタログも、ESとは書いていなかったものの… 続きを読む »" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_409ee3dc69f041dea4f51a9c24e920d0@1x.jpg" style="border-radius:16px; width:200px; height:268px" srcset="https://rubenerd.com/files/museum/pinterest_409ee3dc69f041dea4f51a9c24e920d0@2x.jpg 2x" alt="an advertisement for the sharp radio system with pictures of it and instructions on how to use it" /></a>
<a href="https://www.1001hifi.com/cassette-deck-1981-1990.html"><img src="https://rubenerd.com/files/museum/pinterest_6cc3f2a2480e495b86d896ae1c13ee24@1x.jpg" style="border-radius:16px; width:200px; height:262px" srcset="https://rubenerd.com/files/museum/pinterest_6cc3f2a2480e495b86d896ae1c13ee24@2x.jpg 2x" alt="an advertisement for the akai 6x - f71 stereo system" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_97acd04e527242168a94a43c52262c1b@1x.jpg" style="border-radius:16px; width:200px; height:272px" srcset="https://rubenerd.com/files/museum/pinterest_97acd04e527242168a94a43c52262c1b@2x.jpg 2x" alt="an advertisement for the new tcd - 130 music player, with text that reads everything you hear is true" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_db5237d9aecd4c158dce83ee17266ae8@1x.jpg" style="border-radius:16px; width:200px; height:301px" srcset="https://rubenerd.com/files/museum/pinterest_db5237d9aecd4c158dce83ee17266ae8@2x.jpg 2x" alt="an advertisement for a computer keyboard and monitor with japanese writing on the back side," /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_a1f3546796dd434d8bb23595041b793a@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_a1f3546796dd434d8bb23595041b793a@2x.jpg 2x" alt="an advertisement for sony with the image of a river" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_b9e43b4edc0b4ef29f56d1fde69782e7@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_b9e43b4edc0b4ef29f56d1fde69782e7@2x.jpg 2x" alt="an advertisement for teac electronics, with the image of various electronic equipment on it" /></a>
<a href="http://www.1001hifi.com/"><img src="https://rubenerd.com/files/museum/pinterest_7cfc1a78dab14504b7434c3e0bfd997d@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_7cfc1a78dab14504b7434c3e0bfd997d@2x.jpg 2x" alt="an instruction manual for the sony cd player" /></a>
<a href="http://www.1001hifi.com/"><img src="https://rubenerd.com/files/museum/pinterest_ceeafe9f6302432ab4b5f84dd90cc932@1x.jpg" style="border-radius:16px; width:200px; height:272px" srcset="https://rubenerd.com/files/museum/pinterest_ceeafe9f6302432ab4b5f84dd90cc932@2x.jpg 2x" alt="an instruction manual for the m50 stereo system" /></a>
<a href="http://www.1001hifi.com/"><img src="https://rubenerd.com/files/museum/pinterest_6ffa2cc9938647bd91cb5102a0d9d9a7@1x.jpg" style="border-radius:16px; width:200px; height:191px" srcset="https://rubenerd.com/files/museum/pinterest_6ffa2cc9938647bd91cb5102a0d9d9a7@2x.jpg 2x" alt="two stereos sitting side by side on top of each other" /></a>
<a href="https://jpegfantasy.tumblr.com/post/190687180702/a-gorgeous-akai-compact-stereo-system-the"><img src="https://rubenerd.com/files/museum/pinterest_753e344882834351a869d76d689f522c@1x.jpg" style="border-radius:16px; width:200px; height:247px" srcset="https://rubenerd.com/files/museum/pinterest_753e344882834351a869d76d689f522c@2x.jpg 2x" alt="A gorgeous Akai compact stereo system. The Encyclopedia of Interior Design & Decoration, Niesewand-Lawrence, 1988 📚 Salvaged & scanned by @jpegfantasy 🖨️ Find me on Instagram 📸" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_0a9d9dfa8f0d4c92bbcbd37d174c9e3a@1x.jpg" style="border-radius:16px; width:200px; height:267px" srcset="https://rubenerd.com/files/museum/pinterest_0a9d9dfa8f0d4c92bbcbd37d174c9e3a@2x.jpg 2x" alt="there is a boombox and cd player on the table next to bookshelves" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_5ab0c4b230c24942a91c085b009c8f13@1x.jpg" style="border-radius:16px; width:200px; height:263px" srcset="https://rubenerd.com/files/museum/pinterest_5ab0c4b230c24942a91c085b009c8f13@2x.jpg 2x" alt="an advertisement for sony'86 with sound equipment stacked up on top of each other" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_fd4666f94a2c4b99be3e9293932a651b@1x.jpg" style="border-radius:16px; width:200px; height:288px" srcset="https://rubenerd.com/files/museum/pinterest_fd4666f94a2c4b99be3e9293932a651b@2x.jpg 2x" alt="an advertisement for the sony walkman and other electronic gadgets on a metal surface" /></a>
<a href="https://www.1001hifi.com/classic-cassette-deck.html"><img src="https://rubenerd.com/files/museum/pinterest_86f477b6851249668dfec9778cf252f0@1x.jpg" style="border-radius:16px; width:200px; height:200px" srcset="https://rubenerd.com/files/museum/pinterest_86f477b6851249668dfec9778cf252f0@2x.jpg 2x" alt="an advertisement for the victor super technology digitale radio system, circa to 1970" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_761f3524c3ce4dbf99a98bd0cd3d70b3@1x.jpg" style="border-radius:16px; width:200px; height:285px" srcset="https://rubenerd.com/files/museum/pinterest_761f3524c3ce4dbf99a98bd0cd3d70b3@2x.jpg 2x" alt="an instruction manual for the impact255x receiver" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_098da9fe15544ece9660588014b06a5f@1x.jpg" style="border-radius:16px; width:200px; height:289px" srcset="https://rubenerd.com/files/museum/pinterest_098da9fe15544ece9660588014b06a5f@2x.jpg 2x" alt="two pictures of different types of electronic equipment and one is holding a disk in it's hand" /></a>
<a href="http://www.1001hifi.com/"><img src="https://rubenerd.com/files/museum/pinterest_71e5e0e1e53e4de2b03415c199bcf70d@1x.jpg" style="border-radius:16px; width:200px; height:200px" srcset="https://rubenerd.com/files/museum/pinterest_71e5e0e1e53e4de2b03415c199bcf70d@2x.jpg 2x" alt="an old stereo sitting on top of a table next to a remote control" /></a>
<a href="http://www.theaudioarchive.com/TAA_Tape_Nakamichi_CR-7A.htm"><img src="https://rubenerd.com/files/museum/pinterest_8a3168bb219d4478977014fc75cabf06@1x.jpg" style="border-radius:16px; width:200px; height:281px" srcset="https://rubenerd.com/files/museum/pinterest_8a3168bb219d4478977014fc75cabf06@2x.jpg 2x" alt="" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_c3de666044cd44c484c6b4222f9f0ca6@1x.jpg" style="border-radius:16px; width:200px; height:285px" srcset="https://rubenerd.com/files/museum/pinterest_c3de666044cd44c484c6b4222f9f0ca6@2x.jpg 2x" alt="an old computer sitting on top of a red table next to a keyboard and mouse" /></a>
<a href="https://audio-heritage.jp/TEAC-ESOTERIC/player/v-909rx.html"><img src="https://rubenerd.com/files/museum/pinterest_014c031dd94c409cbd2f61e679cb2ec9@1x.jpg" style="border-radius:16px; width:200px; height:115px" srcset="https://rubenerd.com/files/museum/pinterest_014c031dd94c409cbd2f61e679cb2ec9@2x.jpg 2x" alt="an old radio sitting on top of a table next to a remote control and sound recorder" /></a>
<a href="https://www.vintage-audio.com.ua/ru/cat/402/2175.html"><img src="https://rubenerd.com/files/museum/pinterest_7fcac77f290d452a8acfe45d798f5d52@1x.jpg" style="border-radius:16px; width:200px; height:200px" srcset="https://rubenerd.com/files/museum/pinterest_7fcac77f290d452a8acfe45d798f5d52@2x.jpg 2x" alt="an ad for the toshiba stereo system with two different types of radio equipment" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_dcd0da267ab0454780c61fb45a0af98e@1x.jpg" style="border-radius:16px; width:200px; height:227px" srcset="https://rubenerd.com/files/museum/pinterest_dcd0da267ab0454780c61fb45a0af98e@2x.jpg 2x" alt="an advertisement for the real time revervee radio system, with two different views of it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_c964dc2cb926438ba64e0b6a8bff549e@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_c964dc2cb926438ba64e0b6a8bff549e@2x.jpg 2x" alt="an instruction manual for the yamaha technics cd player" /></a>
</div>
<div style="width:210px; float:left;">
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_4a2051fc4c064b9aa4d5a2a1c5c833ce@1x.jpg" style="border-radius:16px; width:200px; height:135px" srcset="https://rubenerd.com/files/museum/pinterest_4a2051fc4c064b9aa4d5a2a1c5c833ce@2x.jpg 2x" alt="an old fashioned radio sitting on top of a table" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_11b2061c8041442ab7b0f751f26e8c30@1x.jpg" style="border-radius:16px; width:200px; height:285px" srcset="https://rubenerd.com/files/museum/pinterest_11b2061c8041442ab7b0f751f26e8c30@2x.jpg 2x" alt="an advertisement for technic's new stereo system b900" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_6f24e909f4494406b83e4490bbe44baa@1x.jpg" style="border-radius:16px; width:200px; height:278px" srcset="https://rubenerd.com/files/museum/pinterest_6f24e909f4494406b83e4490bbe44baa@2x.jpg 2x" alt="an ad for technic's electronics from the early 1960s, featuring a radio and sound recorder" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_b9232026049740ae9b81f15e9ebbadee@1x.jpg" style="border-radius:16px; width:200px; height:278px" srcset="https://rubenerd.com/files/museum/pinterest_b9232026049740ae9b81f15e9ebbadee@2x.jpg 2x" alt="an advertisement for sony's tc - 650, tc - 350 and tc - 450" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_c1c00424ac724e3f8dd420822bf9d50e@1x.jpg" style="border-radius:16px; width:200px; height:288px" srcset="https://rubenerd.com/files/museum/pinterest_c1c00424ac724e3f8dd420822bf9d50e@2x.jpg 2x" alt="an advertisement for the new vcr - 807 cassette player from japan, in english and japanese" /></a>
<a href="http://www.audioclassic.org/miscellaneous.html#PhotoSwipe1563812690469"><img src="https://rubenerd.com/files/museum/pinterest_09fff8d09e124223943cf55083788a23@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_09fff8d09e124223943cf55083788a23@2x.jpg 2x" alt="an ad for the sony cd player with its manuals and instructions on it's side" /></a>
<a href="http://www.1001hifi.com/"><img src="https://rubenerd.com/files/museum/pinterest_82ef427585d343dd9ab77c3ed5294432@1x.jpg" style="border-radius:16px; width:200px; height:200px" srcset="https://rubenerd.com/files/museum/pinterest_82ef427585d343dd9ab77c3ed5294432@2x.jpg 2x" alt="two old stereos are stacked on top of each other" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_8ae8510dfaba4b2591eefcb62ffdd038@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_8ae8510dfaba4b2591eefcb62ffdd038@2x.jpg 2x" alt="an advertisement for sony electronics with many different types of electronic equipment in japanese language and english" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_a768b2529158473da62817a9c514acae@1x.jpg" style="border-radius:16px; width:200px; height:256px" srcset="https://rubenerd.com/files/museum/pinterest_a768b2529158473da62817a9c514acae@2x.jpg 2x" alt="the back side of a box with some electronic equipment in it's display case" /></a>
<a href="https://www.1001hifi.com/classic-cassette-deck.html"><img src="https://rubenerd.com/files/museum/pinterest_de14cb3824d549eb90889ed2898de5bf@1x.jpg" style="border-radius:16px; width:200px; height:289px" srcset="https://rubenerd.com/files/museum/pinterest_de14cb3824d549eb90889ed2898de5bf@2x.jpg 2x" alt="" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_904b3bde7c304cb2a4f5315516116a57@1x.jpg" style="border-radius:16px; width:200px; height:275px" srcset="https://rubenerd.com/files/museum/pinterest_904b3bde7c304cb2a4f5315516116a57@2x.jpg 2x" alt="an advertisement for kenwood's hi - fi stereo system" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_fc64965d6fea4cabb45b73ed3299165e@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_fc64965d6fea4cabb45b73ed3299165e@2x.jpg 2x" alt="an instruction manual for the shi 4800 stereo system" /></a>
<a href="https://bouya.officew.jp/mds-1996-08/"><img src="https://rubenerd.com/files/museum/pinterest_5b05f6aef65c49b3aa62a7a0965da1e3@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_5b05f6aef65c49b3aa62a7a0965da1e3@2x.jpg 2x" alt="MDです。私は持っていませんでしたので特段の思い入れはありませんが、お持ちだった方々にお楽しみいただければと思… 続きを読む »" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_26da387538744b4299d5f0e54b9361b7@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_26da387538744b4299d5f0e54b9361b7@2x.jpg 2x" alt="an instruction manual for the yamaha vx v88x g7 c5 stereo system" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_25b4485d33b94a2cb355b184799b4eaf@1x.jpg" style="border-radius:16px; width:200px; height:131px" srcset="https://rubenerd.com/files/museum/pinterest_25b4485d33b94a2cb355b184799b4eaf@2x.jpg 2x" alt="two electronic devices sitting side by side on top of each other" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_16d8fb563b3b450aa83ec4319eae6888@1x.jpg" style="border-radius:16px; width:200px; height:268px" srcset="https://rubenerd.com/files/museum/pinterest_16d8fb563b3b450aa83ec4319eae6888@2x.jpg 2x" alt="" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_446582dd7fe8410eb506fa6fc4295b26@1x.jpg" style="border-radius:16px; width:200px; height:269px" srcset="https://rubenerd.com/files/museum/pinterest_446582dd7fe8410eb506fa6fc4295b26@2x.jpg 2x" alt="an advertisement for the naxamichi cr - 7erk - se system" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_9c5020d424db4f61ae003aed924567da@1x.jpg" style="border-radius:16px; width:200px; height:224px" srcset="https://rubenerd.com/files/museum/pinterest_9c5020d424db4f61ae003aed924567da@2x.jpg 2x" alt="an ad for the electronic equipment company, featuring old stereos and turntables" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_7600283bb6c4451682dccdb3fc56e0c3@1x.jpg" style="border-radius:16px; width:200px; height:262px" srcset="https://rubenerd.com/files/museum/pinterest_7600283bb6c4451682dccdb3fc56e0c3@2x.jpg 2x" alt="an advertisement for the new technics rs - 671us receiver" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_b553157b6f15462ba26af1c97fcf492e@1x.jpg" style="border-radius:16px; width:200px; height:268px" srcset="https://rubenerd.com/files/museum/pinterest_b553157b6f15462ba26af1c97fcf492e@2x.jpg 2x" alt="an advertisement for kenwood receiver recorders" /></a>
<a href="http://www.1001hifi.com/system.html"><img src="https://rubenerd.com/files/museum/pinterest_20da8498ee90492ea07edac72a5f7ba6@1x.jpg" style="border-radius:16px; width:200px; height:302px" srcset="https://rubenerd.com/files/museum/pinterest_20da8498ee90492ea07edac72a5f7ba6@2x.jpg 2x" alt="an advertisement for roxy the basic mid - 80's dg3 radio system" /></a>
<a href="http://www.1001hifi.com/"><img src="https://rubenerd.com/files/museum/pinterest_5fb431a377be4d5bbb40fcc834ae633f@1x.jpg" style="border-radius:16px; width:200px; height:200px" srcset="https://rubenerd.com/files/museum/pinterest_5fb431a377be4d5bbb40fcc834ae633f@2x.jpg 2x" alt="two stereos are stacked on top of each other" /></a>
<a href="http://vintage7080.blogspot.com/2017/08/kenwood-19-catalogo-receivers-1987.html"><img src="https://rubenerd.com/files/museum/pinterest_db655eed893f421d8d5b7b1448238a5e@1x.jpg" style="border-radius:16px; width:200px; height:268px" srcset="https://rubenerd.com/files/museum/pinterest_db655eed893f421d8d5b7b1448238a5e@2x.jpg 2x" alt="Kenwood Catálogo Receivers 1987" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_35532fecd20143f6aa7d4884c1d79063@1x.jpg" style="border-radius:16px; width:200px; height:277px" srcset="https://rubenerd.com/files/museum/pinterest_35532fecd20143f6aa7d4884c1d79063@2x.jpg 2x" alt="" /></a>
<a href="https://milestrumpet1.tumblr.com/post/183368795773/technics"><img src="https://rubenerd.com/files/museum/pinterest_cb2e8a120acb415085cc4443d25fc41b@1x.jpg" style="border-radius:16px; width:200px; height:259px" srcset="https://rubenerd.com/files/museum/pinterest_cb2e8a120acb415085cc4443d25fc41b@2x.jpg 2x" alt="Technics'" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_38698494021b475ea55c64c83d5a1030@1x.jpg" style="border-radius:16px; width:200px; height:272px" srcset="https://rubenerd.com/files/museum/pinterest_38698494021b475ea55c64c83d5a1030@2x.jpg 2x" alt="an advertisement for technic's electronic music system, featuring a saxophone and sound equipment" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_2a402202813d4f65b75b1b56e314ae32@1x.jpg" style="border-radius:16px; width:200px; height:270px" srcset="https://rubenerd.com/files/museum/pinterest_2a402202813d4f65b75b1b56e314ae32@2x.jpg 2x" alt="an instruction manual for the kenwood kr - 9600 stereo receiver and amplifier" /></a>
<a href="https://www.flickr.com/photos/mastercontrolmedia/10637449146/"><img src="https://rubenerd.com/files/museum/pinterest_e01a2b3750f04c9580d289dd1687295a@1x.jpg" style="border-radius:16px; width:200px; height:213px" srcset="https://rubenerd.com/files/museum/pinterest_e01a2b3750f04c9580d289dd1687295a@2x.jpg 2x" alt="This 100LB duo is Sony's top of the ES line for 2014, of course it could be if they actually made it! Based upon the TA-N77ES and TA-E77ESD combo from the late 80's. Be sure to view it in full resolution for best drool effect. :)'" /></a>
<a href="https://www.tumblr.com/r-dino/734883460417798144"><img src="https://rubenerd.com/files/museum/pinterest_35ced4f70d454d5ca229794c9bb84ce7@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_35ced4f70d454d5ca229794c9bb84ce7@2x.jpg 2x" alt="保管庫。昭和レトロ・アニメ・特撮・ゲームとか。'" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_f1aad609f2dc446785607c0febd746b8@1x.jpg" style="border-radius:16px; width:200px; height:280px" srcset="https://rubenerd.com/files/museum/pinterest_f1aad609f2dc446785607c0febd746b8@2x.jpg 2x" alt="an old computer sitting on top of a desk next to a keyboard and mouse with the words national written in japanese" /></a>
<a href="https://tanken.com/pc/styled-14/"><img src="https://rubenerd.com/files/museum/pinterest_30cf3ff6251840c5b9147b31e17e1a0a@1x.jpg" style="border-radius:16px; width:200px; height:280px" srcset="https://rubenerd.com/files/museum/pinterest_30cf3ff6251840c5b9147b31e17e1a0a@2x.jpg 2x" alt="'" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_1bd0fe1987bd40149b18318f69da61bc@1x.jpg" style="border-radius:16px; width:200px; height:280px" srcset="https://rubenerd.com/files/museum/pinterest_1bd0fe1987bd40149b18318f69da61bc@2x.jpg 2x" alt="an old computer sitting on top of a table" /></a>
<a href="https://seesaawiki.jp/chitentai/d/%C2%A5%C2%B7%C2%A5%C3%A3%C2%A1%C2%BC%C2%A5%C3%97%20:%20PC-3200S"><img src="https://rubenerd.com/files/museum/pinterest_85fc4b980acb42a7b6e28ac7ee3f8d76@1x.jpg" style="border-radius:16px; width:200px; height:293px" srcset="https://rubenerd.com/files/museum/pinterest_85fc4b980acb42a7b6e28ac7ee3f8d76@2x.jpg 2x" alt="'" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_a589341868354593948a4efedab96ec7@1x.jpg" style="border-radius:16px; width:200px; height:254px" srcset="https://rubenerd.com/files/museum/pinterest_a589341868354593948a4efedab96ec7@2x.jpg 2x" alt="a man in a tuxedo is holding an old computer and pointing to the screen" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_a31059b25e6543f59b4488e39adee9ab@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_a31059b25e6543f59b4488e39adee9ab@2x.jpg 2x" alt="an advertisement for a laptop computer with japanese writing on the front and back cover in english" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_dbd56ff7a1214441aebaeeddfd86c9e1@1x.jpg" style="border-radius:16px; width:200px; height:285px" srcset="https://rubenerd.com/files/museum/pinterest_dbd56ff7a1214441aebaeeddfd86c9e1@2x.jpg 2x" alt="an advertisement for the original computer pc - 805" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_4af4aae5969444a1a2482b9e53ce33ef@1x.jpg" style="border-radius:16px; width:200px; height:288px" srcset="https://rubenerd.com/files/museum/pinterest_4af4aae5969444a1a2482b9e53ce33ef@2x.jpg 2x" alt="an advertisement for a computer keyboard and mouse with japanese characters on the back cover in english" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_2a7cc16cab314339a20772b44545a5d3@1x.jpg" style="border-radius:16px; width:200px; height:278px" srcset="https://rubenerd.com/files/museum/pinterest_2a7cc16cab314339a20772b44545a5d3@2x.jpg 2x" alt="a young man sitting in front of a computer" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_145fcfd4c3b246d9bea0eae504605b75@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_145fcfd4c3b246d9bea0eae504605b75@2x.jpg 2x" alt="an advertisement for a computer that has been designed to look like it is on display" /></a>
<a href="http://msxbanzai.tni.nl/computers/sony.html"><img src="https://rubenerd.com/files/museum/pinterest_baff6816d4474605ad711819c365c099@1x.jpg" style="border-radius:16px; width:200px; height:227px" srcset="https://rubenerd.com/files/museum/pinterest_baff6816d4474605ad711819c365c099@2x.jpg 2x" alt="'" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_b6230d9c0a8e4cc39d2ab9963ad79df6@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_b6230d9c0a8e4cc39d2ab9963ad79df6@2x.jpg 2x" alt="an old computer sitting on top of a table" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_1c1faa73483944979fe5c3758975f095@1x.jpg" style="border-radius:16px; width:200px; height:268px" srcset="https://rubenerd.com/files/museum/pinterest_1c1faa73483944979fe5c3758975f095@2x.jpg 2x" alt="an advertisement for the nec computer system in japan" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_abd87124a64f48019a36fa23410d217f@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_abd87124a64f48019a36fa23410d217f@2x.jpg 2x" alt="an old computer sitting on top of a desk next to a book and some books" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_451b942e07b24abbabf85f3f3904d8fe@1x.jpg" style="border-radius:16px; width:200px; height:285px" srcset="https://rubenerd.com/files/museum/pinterest_451b942e07b24abbabf85f3f3904d8fe@2x.jpg 2x" alt="an advertisement for the toshiba computer system" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_9a12bb0c42184134a5852d6d5dad1ad5@1x.jpg" style="border-radius:16px; width:200px; height:285px" srcset="https://rubenerd.com/files/museum/pinterest_9a12bb0c42184134a5852d6d5dad1ad5@2x.jpg 2x" alt="an advertisement for the ibm 8m - 8 computer" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_9fc597f0f49f40a9b3eec802a2e24d62@1x.jpg" style="border-radius:16px; width:200px; height:288px" srcset="https://rubenerd.com/files/museum/pinterest_9fc597f0f49f40a9b3eec802a2e24d62@2x.jpg 2x" alt="an advertisement for a computer that is in english and japanese language, with the words" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_8c3abaa48ea74b2db82daead5b9b03f4@1x.jpg" style="border-radius:16px; width:200px; height:285px" srcset="https://rubenerd.com/files/museum/pinterest_8c3abaa48ea74b2db82daead5b9b03f4@2x.jpg 2x" alt="an advertisement for a computer system with the words f m - ii on it's screen" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_ae5cdc73c9854f0dbe655f407276d200@1x.jpg" style="border-radius:16px; width:200px; height:267px" srcset="https://rubenerd.com/files/museum/pinterest_ae5cdc73c9854f0dbe655f407276d200@2x.jpg 2x" alt="an advertisement for the sony hb - fxdj, with japanese characters" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_7cf4bdce8e1e43dab19c4bbe504f0508@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_7cf4bdce8e1e43dab19c4bbe504f0508@2x.jpg 2x" alt="an old computer sitting on top of a desk next to a keyboard and mouse," /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_0fe8086566d14d7a9045176ab73d2b37@1x.jpg" style="border-radius:16px; width:200px; height:274px" srcset="https://rubenerd.com/files/museum/pinterest_0fe8086566d14d7a9045176ab73d2b37@2x.jpg 2x" alt="an advertisement for a computer keyboard with two men in front of it and the words, toshiba" /></a>
<a href="https://tanken.com/pc/styled-18/"><img src="https://rubenerd.com/files/museum/pinterest_96a16ed491a04dff8015c7ce45adc7bc@1x.jpg" style="border-radius:16px; width:200px; height:267px" srcset="https://rubenerd.com/files/museum/pinterest_96a16ed491a04dff8015c7ce45adc7bc@2x.jpg 2x" alt="an advertisement for canon's cx1 computer, with the words canon written in japanese" /></a>
<a href="https://sega.jp/fb/segahard/sc3000/05a.html"><img src="https://rubenerd.com/files/museum/pinterest_bdd183c418354cbba26dc7c82972268a@1x.jpg" style="border-radius:16px; width:200px; height:282px" srcset="https://rubenerd.com/files/museum/pinterest_bdd183c418354cbba26dc7c82972268a@2x.jpg 2x" alt="a computer keyboard sitting on top of a white table next to other electronic devices and accessories" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_73b7aa7dce474291a788563797d8854d@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_73b7aa7dce474291a788563797d8854d@2x.jpg 2x" alt="an old computer with two monitors on top of it and several other electronic devices around it" /></a>
<a href="http://beardedgentlemenmusic.com/2017/08/23/japanese-city-pop-1980s/"><img src="https://rubenerd.com/files/museum/pinterest_116f5819cecb4fbd9a8dd59cdcaad257@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_116f5819cecb4fbd9a8dd59cdcaad257@2x.jpg 2x" alt="Unfortunately like all good things must, City Pop, which very much married to Japan's momentarily thriving economy of the 1980s, came to an end." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_04f3e206af934a359d7277cd5d8dbc84@1x.jpg" style="border-radius:16px; width:200px; height:300px" srcset="https://rubenerd.com/files/museum/pinterest_04f3e206af934a359d7277cd5d8dbc84@2x.jpg 2x" alt="an advertisement with many different types of keyboards and mouses in japanese writing on it" /></a>
<a href="http://s-sasaji.ddo.jp/pccata/sony.htm"><img src="https://rubenerd.com/files/museum/pinterest_ece84d143d51412e9a2323c1a296d0cd@1x.jpg" style="border-radius:16px; width:200px; height:289px" srcset="https://rubenerd.com/files/museum/pinterest_ece84d143d51412e9a2323c1a296d0cd@2x.jpg 2x" alt="an advertisement for a computer that is in english and japanese language, with the words fxd on it" /></a>
<a href="http://hideshirou.exblog.jp/19911673/"><img src="https://rubenerd.com/files/museum/pinterest_31c8633414a84f06bc713c4f771e9122@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_31c8633414a84f06bc713c4f771e9122@2x.jpg 2x" alt="▼NEC PC-9801M2 ・発売日：1984年11月 ・価格：415,000円 ・CPU：8086-2(i8086コンパチブル) 8/..." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_8737346a1ff54190b0515e34693d7f4a@1x.jpg" style="border-radius:16px; width:200px; height:287px" srcset="https://rubenerd.com/files/museum/pinterest_8737346a1ff54190b0515e34693d7f4a@2x.jpg 2x" alt="an old computer sitting on top of a white table in front of a sign that says sharp" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_4836d17d7c2e4690851d6df1476f22ff@1x.jpg" style="border-radius:16px; width:200px; height:278px" srcset="https://rubenerd.com/files/museum/pinterest_4836d17d7c2e4690851d6df1476f22ff@2x.jpg 2x" alt="an advertisement for the nec pc - 80lf computer system, with instructions on how to use it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_6a0228756d4349e29d28a724f8eccba8@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_6a0228756d4349e29d28a724f8eccba8@2x.jpg 2x" alt="a man holding a laptop computer in his right hand and wearing a red sweater on top of it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_d44dbf0784f346fc8c8a36d52d2c32cc@1x.jpg" style="border-radius:16px; width:200px; height:280px" srcset="https://rubenerd.com/files/museum/pinterest_d44dbf0784f346fc8c8a36d52d2c32cc@2x.jpg 2x" alt="a man holding an old computer keyboard in front of his face with the words x - m on it" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_29fb02208f77449aa79b3f772d957826@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_29fb02208f77449aa79b3f772d957826@2x.jpg 2x" alt="the instruction manual for an old computer with instructions on how to use it in japanese" /></a>
<a href="https://commodorez.tumblr.com/post/710289521948950528"><img src="https://rubenerd.com/files/museum/pinterest_697e7cdb7a4446819372bf71da7c8365@1x.jpg" style="border-radius:16px; width:200px; height:284px" srcset="https://rubenerd.com/files/museum/pinterest_697e7cdb7a4446819372bf71da7c8365@2x.jpg 2x" alt="A mental coredump of vintage computers, electronic projects, space history, & historical telephony." /></a>
<a href="http://cue80s.tumblr.com/post/66781980542"><img src="https://rubenerd.com/files/museum/pinterest_b55e4177ba614da09ed9113a5ae72f9a@1x.jpg" style="border-radius:16px; width:200px; height:267px" srcset="https://rubenerd.com/files/museum/pinterest_b55e4177ba614da09ed9113a5ae72f9a@2x.jpg 2x" alt="倉沢淳美：シャープ" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_dab4c3f64be84a92ba1de447e3954592@1x.jpg" style="border-radius:16px; width:200px; height:292px" srcset="https://rubenerd.com/files/museum/pinterest_dab4c3f64be84a92ba1de447e3954592@2x.jpg 2x" alt="an advertisement for the toshiba electronic book ez360 with a woman holding up a laptop" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_3e0ebeee28ed41799975c9208723299f@1x.jpg" style="border-radius:16px; width:200px; height:283px" srcset="https://rubenerd.com/files/museum/pinterest_3e0ebeee28ed41799975c9208723299f@2x.jpg 2x" alt="an advertisement for toshiba's computer keyboard and mouse, featuring a young woman smiling" /></a>
<a href="https://mobile.twitter.com/showaspotmegri/status/861573714168631296/photo/1"><img src="https://rubenerd.com/files/museum/pinterest_34c91d1eef534ef6aa65e661330ee6f1@1x.jpg" style="border-radius:16px; width:200px; height:273px" srcset="https://rubenerd.com/files/museum/pinterest_34c91d1eef534ef6aa65e661330ee6f1@2x.jpg 2x" alt="“昭和39年　東芝　広告 #昭和 #昭和レトロ”" /></a>
<a href="https://lovejapanese80s.tumblr.com/"><img src="https://rubenerd.com/files/museum/pinterest_ab00a145604b454783e2e846dde9b00e@1x.jpg" style="border-radius:16px; width:200px; height:279px" srcset="https://rubenerd.com/files/museum/pinterest_ab00a145604b454783e2e846dde9b00e@2x.jpg 2x" alt="an advertisement for the new rx - 788 computer" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_540b44c68ad249d7a54fc9b31a98b779@1x.jpg" style="border-radius:16px; width:200px; height:282px" srcset="https://rubenerd.com/files/museum/pinterest_540b44c68ad249d7a54fc9b31a98b779@2x.jpg 2x" alt="an old fashioned computer sitting on top of a wooden table next to a coffee cup" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_14bce59056124bcfb8d27c6f2d597577@1x.jpg" style="border-radius:16px; width:200px; height:261px" srcset="https://rubenerd.com/files/museum/pinterest_14bce59056124bcfb8d27c6f2d597577@2x.jpg 2x" alt="the advertisement for an old computer is shown in english and japanese characters are also visible" /></a>
<a href="http://vgjunk.tumblr.com/post/48294671150/advert-for-the-panasonic-fs-a1gt-msx-turbo-r"><img src="https://rubenerd.com/files/museum/pinterest_c2f61e74b3164c3cb6d9b5e32e6bd9f6@1x.jpg" style="border-radius:16px; width:200px; height:242px" srcset="https://rubenerd.com/files/museum/pinterest_c2f61e74b3164c3cb6d9b5e32e6bd9f6@2x.jpg 2x" alt="Advert for the Panasonic FS-A1GT MSX turbo R." /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_ba931388bb79405e8ae8a0c84a444268@1x.jpg" style="border-radius:16px; width:200px; height:278px" srcset="https://rubenerd.com/files/museum/pinterest_ba931388bb79405e8ae8a0c84a444268@2x.jpg 2x" alt="an advertisement for toshiba's computer system, which was introduced in japan" /></a>
<a href="https://archive.org/details/MSX_Magazine_1988-06_ASCII_JP/page/n24/mode/thumb"><img src="https://rubenerd.com/files/museum/pinterest_47c827852fe548bb8c73f8990cb2fc35@1x.jpg" style="border-radius:16px; width:200px; height:257px" srcset="https://rubenerd.com/files/museum/pinterest_47c827852fe548bb8c73f8990cb2fc35@2x.jpg 2x" alt="MSX Magazine (1988-06)(ASCII)(JP)" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_812bc0451eb04935af0e16345070d069@1x.jpg" style="border-radius:16px; width:200px; height:253px" srcset="https://rubenerd.com/files/museum/pinterest_812bc0451eb04935af0e16345070d069@2x.jpg 2x" alt="an instruction manual for electronics such as stereo, tape recorders and other electronic equipment" /></a>
<a href="#"><img src="https://rubenerd.com/files/museum/pinterest_e15bf9e4504d46738e0cc9d9142b4e88@1x.jpg" style="border-radius:16px; width:200px; height:150px" srcset="https://rubenerd.com/files/museum/pinterest_e15bf9e4504d46738e0cc9d9142b4e88@2x.jpg 2x" alt="an old computer sitting on top of a white table next to a keyboard and mouse" /></a>
<a href="http://museum.ipsj.or.jp/computer/personal/0007.html"><img src="https://rubenerd.com/files/museum/pinterest_9a7ea3faf1f84e2285f32723531d5d17@1x.jpg" style="border-radius:16px; width:200px; height:235px" srcset="https://rubenerd.com/files/museum/pinterest_9a7ea3faf1f84e2285f32723531d5d17@2x.jpg 2x" alt="'" /></a>
</div>
</figure>

<p style="clear:both;"></p>
