---
title: 'Frank Edward Nora’s electronic makeover!' 
date: "2008-03-26T05:22:15+10:00"
year: "2008"
category: Media
tag:
- hair
- indie-media
- new-time-radio
- photos
- podcasting
- the-overnightscape
- twitter 
---
<p>If you haven&#39;t noticed by now, the visual sorcerer <strong>Frank Edward Nora</strong> has changed a critical graphical element on two of his online endeavours:</p>
<dl>
<dt><a href="http://theovernightscape.com/">The Overnightscape</a></dt>
<dd>The original and best <a href="http://newtimeradio.com/">New Time Radio</a> show has got a makeover in the form of a very swish new logo with a crescent moon:
<p><img src="https://rubenerd.com/files/uploads/ons.newlogo.png" alt="The all new Overnightscape logo!" style="height:135px; width:240px" /></p></dd>
<dt><a href="http://twitter.com/ons/">ONS on Twitter</a></dt>
<dd>Frank’s profile picture is of his former self from several years ago. We have the same hair!
<p><img src="https://rubenerd.com/files/uploads/frank.2002.jpg" alt="Frank Edward Nora circa 2002" style="height:135px; width:240px" /></p></dd>
</dl>
 
