---
title: 'Nokia buying Trolltech!' 
date: "2008-01-29T02:02:23+10:00"
year: "2008"
category: Software
tag:
- gpl
- infocomm
- kde
- nokia
- trolltech
- x11 
---
<p>I know <a href="//rubenerd.com/back-from-sydney-ramblings/">I promised in a previous post</a> that I would be discussing our recent trip to Sydney here and on my show. So <em>now for something completely different</em>: <strong><a href="http://www.nokia.com/A4136001?newsid=1185531">Nokia is buying Trolltech</a></strong>!</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.nokia.trolltech.kde.png" alt="Nokia buying Trolltech" style="height:305px; width:460px;" /></p>
<p><a href="http://trolltech.com/">Trolltech</a> is the trendy Norwegian company responsible for the Qt toolkit which is what my favourite desktop environment <a href="http://kde.org/">KDE</a> is built upon, as well as other well known applications such as <a href="http://earth.google.com/">Google Earth</a> and <a href="http://skype.com/">Skype</a>. However the buyout probably had more to do with their efforts to use Qt on mobile phones. Nokia interested in mobile phones? Who would have thought?</p>
<p>Nokia claims they have purchased Trolltech to &quot;accelerate it&#39;s software strategy&quot; by &quot;facilitating application development for multiple platforms and devices&quot; which is PR speak for &quot;we wanted a new platform to write applications on and it was easier to buy one than create one ourselves &quot; right? ;)</p>
<p>This deal has left me with a lot of questions. Will they keep the non-commercial version of Qt licenced under the GPL indefinitely? Will Nokia close the next release? If so, what will happen to KDE? Will the Harmony project have to be started again? Will Nokia be as committed to open source and free software as Trolltech was? Will being part of a larger company with different business goals inevitably hurt Trolltech and Qt? What will happen to the Green Phone?</p>
<p>Trolltech bought by Nokia, MySQL bought by Sun Microsystems… what is the world [of free and open source software] coming to?</p>
 
