---
title: 'Spreadsheet adventures (and Excel 08 sucks!)' 
date: "2008-04-25T02:14:36+10:00"
year: "2008"
category: Software
tag:
- bsd
- excel
- freebsd
- gnumeric
- infocomm
- kde
- kspread
- mac-os-x
- microsoft
- neooffice
- openofficeorg
- vocaloid
- x11 
---
<blockquote><p>Summary if you don’t have time to read all of this: Excel 2008 for Mac is a piece of junk and slower than Excel 2004 which needed Rosetta! Gnumeric is my new spreadsheet best friend, provided they could fix a few tiny usability problems.</p></blockquote>
<p>You may have read my fun with <a href="//rubenerd.com/p1133/">trying to download a trial version of iWork 2008</a> from Apple and having it fail repeatedly. It seems the adventure was just beginning!</p>
<p>A bit of background first (I&#39;ve chopped this down from 3 paragraphs down to this one!), I&#39;ve been working on a spreadsheet for over a month now that contains information on the results of some GCC optimisations for various different platforms, programming languages and whatnot. The spreadsheet contains in excess of 36,000+ lines of data and reaches to row BA.</p>
<p><a href="http://j-walkblog.com/old/2004/04/09/index.html"><img src="https://rubenerd.com/files/uploads/jwalk.excelgum.jpg" alt="The legendary J-Walk!" style="float:right; margin:0 0 10px 20px; width:240px; height:204px;" /></a>Now here comes the kicker: I&#39;ve been editing this spreadsheet in Microsoft Excel 2004 on my MacBook Pro. Excel is the last Microsoft application I use on a regular basis, mostly because it&#39;s the last Office app that I haven&#39;t been able to replace (Word, PowerPoint and Access have been easy!).</p>
<p>I figured then it was high time to try out some alternatives for Excel both on my Mac and on my FreeBSD desktop. I tested Kspread, Gnumeric and OpenOffice on FreeBSD, and NeoOffice, iWork 2008 and a purchased copy of Microsoft Excel 2008. My three <strong><em>specific</em></strong> requirements, aside from the need for fast general calculation speeds, decent user interface and so forth:</p>
<dl>
<dt>Smooth scrolling speed</dt>
<dd>This may sound trivial, but I spend a <strong><em>huge</em></strong> amount of time scrolling through lines of data and it’s downright maddening when you have to wait for the cursor to catch up to where you are!</dd>
<dt>Fast floating point calculations</dt>
<dd>I don’t think I need to explain!</dd>
<dt>Professional looking charts</dt>
<dd>A lot of data I summarise from this spreadsheet is being done so I can include it in reports and whatnot. Crappy pixellated charts that look like they were done in an early 1990s spreadsheet app don’t cut it</dd>
</dl>
<p><img src="https://rubenerd.com/files/uploads/anime.vocaloid.cells.jpg" alt="" style="width:500px; height:251px" /><br />
<cite>That&#39;s a lot of cells! Wait, that&#39;s a piano, never mind!</cite></p>
<p>The results? Not one of the spreadsheets on offer today do all three of these well! Here are my anecdotal experiences using this software on a MacBook Pro 2.0GHz with 2.0GiB of RAM, and a Intel Core 2 Duo 8400 3GHz FreeBSD box with 4.0GiB or RAM:</p>
<dl>
<dt><a href="http://koffice.kde.org/kspread/">Kspread</a></dt>
<dd><strong>THE GOOD:</strong> Kspread is the <a href="http://kde.org/">KDE project’s</a> spreadsheet application that’s bundled with the <a href="http://koffice.kde.org/">KOffice package</a>. Therefore the the interface is clean, very slick and obviously fits well into my KDE desktop on my FreeBSD box. And of course it’s free and open source software!
<p><strong>THE BAD:</strong> It won’t open my huge spreadsheet <em>without crashing</em>. That’s a problem! Also the charts it generated are pixellated and look quite dated, and scrolling is very jittery. It’s a shame.<p></p>
<p><strong>CONCLUSION:</strong> Has lots of potential, and is certainly the prettiest and easiest to use interface of any spreadsheet app, but currently it has too many shortcomings for me to consider it seriously.<p></p>
<p><a href="//rubenerd.com/files/uploads/screenie.ss.kspread.png"><img src="https://rubenerd.com/files/uploads/screenie.ss.kspread.thumb.png" alt="Kspread screenshot" style="width:420px; height:129px;" /></a><p></p></dd>
<dt><a href="http://www.gnome.org/projects/gnumeric/">Gnumeric</a></dt>
<dd><strong>THE GOOD:</strong> It’s free and open source software, the interface is uncluttered and slick, the charts look smooth and it can open my gigantic spreadsheet without too much trouble.
<p><strong>THE BAD:</strong> Scrolling is very jittery even with plenty of RAM, and it has the insanely irritating habit of scrolling long since I stopped using the mouse scroll wheel or arrow keyboard keys. It offshoots everything I scroll to, sometimes by as many as 100 rows!<p></p>
<p><strong>CONCLUSION:</strong> It’s a huge shame, if this scrolling issue were fixed I could see myself using this as my primary spreadsheet application. Perhaps for smaller sheets with less numbers I could use it now, and maybe I will.<p></p>
<p><a href="//rubenerd.com/files/uploads/screenie.ss.gnumeric.png"><img src="https://rubenerd.com/files/uploads/screenie.ss.gnumeric.thumb.png" alt="Gnumeric screenshot" style="width:420px; height:167px;" /></a></p></dd>
<dt><a href="http://openoffice.org/">OpenOffice.org Calc</a> and <a href="http://www.neooffice.org/neojava/en/index.php">NeoOffice Calc</a></dt>
<dd><strong>THE GOOD:</strong> By far they have the closest feature set to Microsoft Excel, the charts they generate look half-decent and they can both open my giant spreadsheet with ease. They’re also both free and open source software!
<p><strong>THE BAD:</strong> Scrolling is painfully slow, and inconsistent. They can scroll for a few rows just fine, but then will refuse to move, then will splutter back to life again. It makes me seasick! They also are huge memory hogs considering their abilities. Gnumeric can do most of what they can in a fraction of the memory and executable size.</p>
<p><strong>CONCLUSION:</strong> As much as I’ve tried to like OpenOffice and NeoOffice for everything I do, unfortunately their spreadsheets just aren’t as polished from my own experience compared to their word processors and presentation apps. And their speed is hardly stellar.</p>
<p><a href="//rubenerd.com/files/uploads/screenie.ss.neooffice.png"><img src="https://rubenerd.com/files/uploads/screenie.ss.neooffice.thumb.png" alt="NeoOffice screenshot" style="width:420px; height:228px;" /></a></dd>
<dt><a href="http://www.apple.com/iwork/numbers/">Apple iWork Numbers</a></dt>
<dd><strong>THE GOOD:</strong> The interface is gorgeous as we would all expect from Apple software, and the charts it generates are absolutely stunning!
<p><strong>THE BAD:</strong> It can’t open my giant spreadsheet. It doesn’t crash or overload itself, it just displays a message box saying the spreadsheet I told it to open &quot;is too large&quot;, then quits.</p>
<p><strong>CONCLUSION:</strong> I’d love to be able to use Numbers, but if it can’t open my work because of a size constraint I just can’t seriously consider it.</p>
<p><a href="//rubenerd.com/files/uploads/screenie.ss.numbers.png"><img src="https://rubenerd.com/files/uploads/screenie.ss.numbers.thumb.png" alt="Numbers screenshot" style="width:420px; height:242px;" /></a></dd>
<dt><a href="http://www.microsoft.com/mac/products/excel2004/default.mspx">Microsoft Excel for Mac 2004</a></dt>
<dd><strong>THE GOOD:</strong> The interface is half-decent (I’ve always thought Office for Mac was unusually good compared to pretty much all the other junk they produce) and scrolls beautifully without any hickups despite being a PowerPC app running under Rosetta!
<p><strong>THE BAD:</strong> Obviously not the latest version so support could run out soon, being a PowerPC app makes it slower. Was expensive too, and it certainly isn’t free or open source software. Generates XLS files which I need to manually convert to an ODF file.</p>
<p><strong>CONCLUSION:</strong> It’s a shame Microsoft couldn’t just recompile this as an Intel app. I know it’s not as easy as that, but currently from a usability standpoint it’s still the best spreadsheet app on Mac.</p>
<p><em>No screenshot yet, because Excel 2008 deleted my Excel 2004 installation!</em></dd>
<dt><a href="http://www.microsoft.com/mac/products/excel2008/default.mspx">Microsoft Excel for Mac 2008</a></dt>
<dd><strong>THE GOOD:</strong> It can open my spreadsheet without trouble. Uh, that’s pretty much it.
<p><strong>THE BAD:</strong> It is SLOW! I mean really, really, frustratingly slow! This is a native Intel Mac app, and it scrolls, calculates and refreshes values slower than Excel 2004 which was a PowerPC app! Not to mention it’s noticeably slower than any of the other spreadsheet apps in this review, and not by a small amount. And to top it off, I can’t use it for university because VBA and therefore the <em>Analysis Tool Pak</em> isn’t included! What a joke!!</p>
<p><strong>CONCLUSION:</strong> I was expecting this Intel version of Excel to be faster than the PowerPC 2004 version but it managed to be slower! I couldn’t believe it! If I need to hold on to Excel, I’ll need to keep my copy of Office 2004 for Mac handy. How silly is that?
</p>
<p><a href="//rubenerd.com/files/uploads/screenie.ss.office08.png"><img src="https://rubenerd.com/files/uploads/screenie.ss.office08.thumb.png" alt="Excel 2008 screenshot" style="width:420px; height:228px;" /></a></p></dd>
</dl>
<p>So there&#39;s my anecdotal reviews of these spreadsheet applications. For everything I do now I&#39;m going to use <strong>Gnumeric</strong> because it supports more of my complex formulas, generates nice charts and is free and open source software. For my larger, more complicated spreadsheets though I&#39;ll need to stick with Microsoft Excel 2004 for Mac, though hopefully that will change.</p>
 
