---
title: 'JB Singapore urban rails: about time!' 
date: "2008-04-17T10:17:28+10:00"
year: "2008"
category: Thoughts 
tag: 
- cna
- economics
- johor-bahru
- malaysia
- politics
- singapore 
---
<p>The always impartial, unbiased and reliable Channel News Asia is reporting some good news in Singapore-Malaysian relations specifically related to Johor Bahru</p>
<blockquote><p>
SINGAPORE: Prime Minister Lee Hsien Loong has responded positively to a suggestion by Johor’s Chief Minister Abdul Ghani Othman to link up the urban rails of Singapore and Johor Bahru.</p>
<p>[Some of the] issues discussed between the Singapore and Malaysian foreign ministers is how to further integrate the economies of both countries and to enhance connectivity across the causeway.
</p></blockquote>
<p><a href="http://en.wikipedia.org/wiki/Image:Jbskyline1.jpg"><img src="http://upload.wikimedia.org/wikipedia/commons/d/dd/Jbskyline1.jpg" alt="Johor Bahru, Malaysia" /></a><br />
<cite>Photo of JB taken from Wikipedia by <a href="http://en.wikipedia.org/wiki/User:PM_Poon">PM Poon</a></cite></p>
<p>Having lived both in Singapore and Malaysia since the mid 1990s I&#39;m used to hearing a lot of big talk and not much progress on most matters of collaboration, which even just from an economic perspective is such a shame. With so much competition from other players in Asia for the industries and services that Singapore and Malaysia both provide, it seems now that collaboration should be a top priority.</p>
<blockquote><p><strong>ASIDE:</strong> For my readers who aren’t from around these parts, JB is the near universally used name and acronym for Johor Bahru which is the closest Malaysian city to Singapore, separated only by tiny Straits of Johor.</p>
<p>Wikipedia articles on: <a href="http://en.wikipedia.org/wiki/Johor_Bahru">Johor Bahru</a>, <a href="http://en.wikipedia.org/wiki/Malaysia/">Malaysia</a>, <a href="http://en.wikipedia.org/wiki/Singapore">Singapore</a>.
</p></blockquote>
<p>Take Australia and New Zealand as an example: They&#39;re separated by a strait of water (albeit <em>somewhat</em> larger!) and have roughly similar populations to Malaysia and Singapore respectively, but the difference in the amount of trade is huge! Now granted their economies are at different levels of development and the makeup of their exports and imports are different, but it shows that countries with a shared heritage can benefit each other even when socially and politically they may differ in many ways.</p>
<p><a href="https://www.openstreetmap.org/search?query=singapore#map=10/1.3224/104.0673"><img src="https://rubenerd.com/files/uploads/screenie.batam.singapore.jpg" alt="Singapore, Batam and Bintan on Google Earth" style="width:500px; height:280px"/></a><br />
<cite>Google Maps imagery of Singapore and surrounds. The white stripe superimposed over the Straits of Johor is the national border between Singapore and Malaysia which is part of the Asian mainland.</cite></p>
<p>Like it or not, Singapore and Malaysia are neighbours, and the only way they&#39;ll each succeed in the long term is if they cooperate. Some more decent connections between JB and Singapore would be a good start.</p>
 
