---
title: 'On Adobe Air, limited accounts, updating, BSD' 
date: "2008-04-25T03:12:43+10:00"
year: "2008"
category: Software
tag:
- adobe-air
- amd64
- bsd
- flash
- freebsd
- infocomm
- mac-os-x
- scripting 
---
<p>Despite having reached version 1.0, <a href="http://www.adobe.com/products/air/">Adobe Air</a> on Mac OS X still has some glaring usability issues.</p>
<p>When you load your Air application, instead of displaying what you told it to, Air prompts you with an update screen… almost every time. What if I have a good reason for not wanting to update yet? And not only that, but if you&#39;re using a limited account for security reasons, as usual you enter your username and password for you administrative account, and as usual Air hangs during the update and you have to force quit. Adobe Air is the only application which requires me to log into my administrative account at all, just to update it and log out again.</p>
<p><img src="https://rubenerd.com/files/uploads/screenieairupdate-300x168.png" alt="Screenshot of an Adobe Air update." width="300" height="168" /></p>
<p>You could say that I&#39;m bitter than Adobe still refuses to release a <a href="http://taupter.blogspot.com/2007/08/flashy-32bit-diehards.html">64 bit version of Flash</a>, or <a href="http://lists.freebsd.org/pipermail/freebsd-advocacy/2006-January/002640.html">any version of Flash on FreeBSD</a> at all. That&#39;s probably true. But I can confidently say that I&#39;m only putting up with Air because <a href="http://www.twhirl.org/">Twhirl</a> is the best graphical <a href="http://twitter.com/rubenerd/">Twitter</a> client. I certainly won&#39;t be developing anything serious with it myself, nor will I be actively looking for more Air apps.</p>
<p>Adobe&#39;s idea for a cross platform application framework that&#39;s friendly to web developers was a great idea, but alas it seems to have failed in its implementation.</p>
 
