---
title: 'Very expensive podcast folder nostalgia' 
date: "2008-05-13T11:41:08+10:00"
year: "2008"
category: Internet
tag:
- audio-magazines
- infocomm
- itunes
- juice-receiver
- new-time-radio
- podcasting
- too-many-names 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.podcast.folder.png" alt="Screenshot of Podcast folder info" style="height:395px; width:265px; float:right; margin: 0 0 10px 20px;" /></p>
<p>I guess I&#39;ve always been the type of person who likes collecting things, perhaps a bit too much for his own good.</p>
<p>Case in point I reinstalled <a href="//rubenerd.com/mac-os-x-leopard-launch-in-singapore/">Leopard</a> on my MacBook Pro this evening so I could reformat the drive as case sensitive. As I was about to copy over my iTunes music library from one of my backup drives I noticed big the folder was, and how huge the Podcast folder had become!</p>
<p>I guess I&#39;ve been downloading and listening to podcasts since early 2005, and they do build up! The question is though, what do I do with all of them? Some of the shows in this folder are no longer being produced or are even available anymore I think, and it&#39;d be a shame to delete this collection after downloading for so long. In a nostalgic way it&#39;s fun to listen back to old shows to see what people thought was exciting a few years ago. <em>Look, it&#39;s an iPod that plays video! Google will never buy YouTube! Ants on Mars! Irn-Bru in New York!</em></p>
<p>It also raises another question: if I don&#39;t delete this folder, how large will it be in 2009? 2010? 2020? Will I need to contemplate buying <a href="//rubenerd.com/p1152/">even more terabyte hard drives</a> or invest in a Blu-Ray burner and stacks of double sided discs just for this stuff?</p>
<p>So much for podcasts being free right? :-).</p>
<p><img src="https://rubenerd.com/files/uploads/old.cranky.geeks.jpg" alt="Old episode of Cranky Geeks!" style="height:232px; width:320px;" /></p>
 
