---
title: 'FreeBSD AMD64 is good for you' 
date: "2008-07-09T01:26:45+10:00"
year: "2008"
category: Software
tag:
- amd64
- bsd
- freebsd
- infocomm
- reviews
- x64 
---
<p>Now that I&#39;ve redefined the purpose of my primary desktop machine to make it a lean, mean code compiling machine, file server and Bittorrent downloader, it&#39;s graphical performance is much less important. Therefore I&#39;ve wiped <a href="http://www.debian.org/">Debian</a> off it and reinstalled <a href="http://www.freebsd.org/">FreeBSD</a>, but this time instead of settling on the standard x86 version so as to use the <a href="http://www.nvnews.net/vbulletin/showthread.php?t=41545">proprietary Nvidia graphics drivers</a>, I&#39;ve installed the full blown <a href="http://www.freebsd.org/platforms/amd64.html"> AMD64</a> 64-bit version!</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.64bit.freebsd.top.png" alt="top showing on FreeBSD" style="height:114px; width:500px;" /><br />
<cite><code>top</code></cite></p>
<p>It&#39;s so nice to be back in my familiar FreeBSD environment where everything on the drive is logically and securely organised, where I can use the FreeBSD ports system, where <a href="http://www.tcsh.org/Welcome">tcsh</a> is the default shell not <a href="http://tiswww.case.edu/php/chet/bash/bashtop.html">bash</a>, and where everything works the way I&#39;m used to. Plus running the 64-bit version it can access all of my RAM and generally feels more responsive as a result.</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.64bit.freebsd.uname.png" alt="" style="height:240px; width:500px;" /><br />
<cite><code>dmesg</code></cite></p>
<p>For what it&#39;s worth, after dappling in <a href="http://www.debian.org/">Debian</a> GNU/Linux, I still prefer <a href="http://www.slackware.com/">Slackware</a> with <a href="http://www.pkgsrc.org/">Pkgsrc</a>. FreeBSD and NetBSD are still the best though :-).</p>
<p>Any questions?</p>
 
