---
title: 'Olympics tomorrow, and other musings' 
date: "2008-08-07T06:00:05+10:00"
year: "2008"
category: Thoughts 
tag: 
- barack-obama
- clannad
- gymnastics
- jim-kloss
- kevin-rudd
- news
- olympics
- portugal
- us-elections
- whole-wheat-radio 
---
<p>The great thing about disjointed weblog posts is that they can contain lots of good, though unrelated and useless, material. So much so that I would never dream of creating one and uploading it, let alone dream of creating one and uploading it. Can&#39;t wait to get my microphone and mixer from Singapore back so I can start putting this material back on the <a href="//rubenerd.com/show/">Rubenerd Show</a> and letting this blog get back to what it&#39;s supposed to be about!</p>
<p><a href="//rubenerd.com/files/uploads/screenie.beijing2008.png"><img src="https://rubenerd.com/files/uploads/screenie.beijing2008.thumb.png" alt="Beijing 2008 Olympics on ABC News" style="height:241px; width:500px;" /></a></p>
<p>Was just reading the Aussie <a href="http://www.abc.net.au/news/">ABC News</a>. I have to make that distinction because there&#39;s also an American ABC. I wonder if there&#39;s an Argentinean ABC? Or a Dutch ABC? Okay that last one made no sense. According to the first mentioned ABC, the Beijing Olympics starts tomorrow. It&#39;s funny how my dad was in Beijing just last week on a business trip and was talking about how crazy everything is getting over there right about now, and how terrible the air really is!</p>
<blockquote><p><strong>ASIDE:</strong> Right about now. The funk soul brother. Check it out now. The funk soul brother. Right about now. The funk soul brother. Check it out now. The funk soul brother. Right about now… ’bout now… ’bout now… ’bout now.</p></blockquote>
<p>I&#39;d say I&#39;m boycotting the 2008 Olympics by not posting anything else about it and not watching any of it, but it would be a shallow admission from me. I never watch any of the Olympic games anyway, even the one in Sydney! Other than MotoGP and Formula 1, sport to me holds as much fascination potential as sitting on the verandah watching paint grow, or standing next to a wall watching grass dry. Is it possible to grow paint? Get some computer game Olympic events together with nerds from around the world and then I might consider… nah, it would still be boring.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.clannad.gym.jpg" alt="Clannad Gym scene" style="height:270px; width:500px" /><br />
<cite>Am I the only person who thinks gymnastics doesn't qualify as an Olympic sport? By which I mean, why is the only sport worth watching lumped in with boring stuff?</cite></p>
<p>You know what would make an interesting Olympic event? Merge all the sports together into one event. Imagine it: a rhythmic gymnist would need to throw a soccer ball to someone who has to kick it between two water polo nets in a pool being traversed by butterfly and freestyle swimmers but only after a person has high-jumped the long-jumper into a mat next to the pool that&#39;s being raised up by a weightlifter who&#39;s wearing a bulletproof vest being shot at from a distance by a target shooter as she&#39;s diving off a board above a rhythmic gymnist who would need to throw a soccer ball… the entire Olympics could be broadcast and got over with in 2 minutes. PATENT PENDING.</p>
<p>I&#39;m sitting at the <a href="http://www.theboatdeck.com.au/">Boatdeck Cafe</a> coffee shop in <a href="http://www.mawsonlakes.com.au/">Mawson Lakes</a> (<a href="http://maps.google.com/maps?q=MAWSON+LAKES&#038;ie=UTF-8&#038;oe=utf-8&#038;um=1&#038;sa=X&#038;oi=geocode_result&#038;resnum=1&#038;ct=title">Google Maps</a>) watching the news on a very swish plasma TV mounted on the wall with what I assume is some sort of metallic bracket system, or lots and lots and lots of double sided tape. Can you get industrial strength double sided tape? The coffee here is <em>fantastic</em>.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.kevinrudd.backdrop.jpg" alt="Kevin Rudd" style="height:200px; width:500px" /><br />
<cite>Kevin Rudd, our PM. I couldn&#39;t bring myself to post a photo of Paris Hilton.</cite></p>
<p>The current news headline reads <em>&quot;Is Obama Ready To Lead?&quot;</em>. The first person they asked was Kevin Rudd, our PM who&#39;s a member of the Labor party which is broadly equivalent to the Democrats in the US, fair enough. The next person was… Paris Hilton. Suffice to say only 50% of the interviews were worth watching! It begs the question though, why do they think someone like her would be useful in providing political analysis? Are they using her as an example of what Average Joe or Jane is thinking at this point? If that&#39;s the case, what an insult to Joe and Jane!</p>
<p><img src="https://rubenerd.com/files/uploads/photo.sevenewsadelaide.jpg" alt="Seven News Adelaide, from Wikipedia" style="height:143px; width:250px;" /><br />
<cite>Seven News Adelaide, from <a href="http://en.wikipedia.org/wiki/Seven_News#Adelaide">Wikipedia</a></cite></p>
<p>Well look at that, the next news story is about winter in Australia, and how it&#39;s one of the coldest on record. It was snowing in <a href="http://en.wikipedia.org/wiki/Orange%2C_New_South_Wales">Orange, NSW</a> last night! And <a href="http://en.wikipedia.org/wiki/Jane_Doyle">Jane Doyle</a> now has platinum bleached blond hair? Oh dear.</p>
<p>Speaking of commercial airliners, got a <a href="//rubenerd.com/p1212/#comment-51957">suspiciously flattering comment</a> from <a href="http://wholewheatradio.org/">Jim Kloss</a> yesterday on <a href="//rubenerd.com/p1212/">one of my posts</a> over the last few weeks as he takes his much deserved holiday break next to a picturesque lake, which I&#39;m sure he&#39;s convinced himself is better than some Mawson Lake thing… and probably for good reason! He made a comment about how he flew in a Boeing 757 to get there, and how cramped the seats were, and if there was anything I could do to improve the situation, presumably before his return flight.</p>
<p>I spent all night discussing the situation with some friends, contacts and grilled cheese sandwiches in the aviation industry and determined that the fastest and most effective way to improve the seating conditions in narrow body jet airliners would be to fake an emergency recall notice for all narrow-bodies. As such action would no doubt result in my own incarceration, I&#39;ve instead chosen to include a picture of a person in a bear costume:</p>
<p><img src="https://rubenerd.com/files/uploads/anime.clannad.teddybear.jpg" alt="" style="height:320px; width:500px" /><br />
<cite>I wore a teddy bear costume once. It gave people the wrong idea though.</cite></p>
<p>And to end this useless post, did you know Singapore Airlines is one of the only airlines that operates an entirely wide-body commercial airliner fleet? And that Singapore Airlines is not in fact from Portugal, as the name would imply. Singapore Airlines services Adelaide and Perth, but I&#39;m not sure about Talkeetna, Anchorage, Fairbanks or Singapore though.</p>
<p>I&#39;ve never been to Portugal. My dad has been to Lisbon on business many times. I can take comfort in  knowing that his Spanish is quite strong, but not his Portuguese. It&#39;s not that I resent him as much as I just don&#39;t like the fact that he got to go somewhere I didn&#39;t, and that I resent him for that.</p>
 
