---
title: 'I’ve changed Twitter clients, again' 
date: "2008-08-17T04:17:58+10:00"
year: "2008"
category: Software
tag:
- infocomm
- snitter
- ttytter
- twhirl
- twitdeck
- twitter
- twitter-commandline 
---
<p><img src="https://rubenerd.com/files/uploads/twitter1.png" style="width:254px; height:313px; float:right; margin:0 0 10px 20px;" alt="Screenshot of Twitteriffic showing Felix's most recent post about upgrading to Twitterrific 2.0" /> <a href="http://twitter.com/rubenerd/">I&#39;ve been on Twitter</a> since March 2007, and things sure have evolved from those days… check out the picture of Twitterrific 1.0 on the right from early 2007!</p>
<p>During that time I&#39;ve changed Twitter clients 7 times:</p>
<dl>
<dt><a href="http://iconfactory.com/software/twitterrific">Twitterrific</a></dt>
<dd>Fantastic little Aqua Mac OS X native application that was originally free (as in price), but in a controversial move they started forcing inline advertisements on users and wouldn’t remove them unless you paid a registration fee. That move put me off using it.</dd>
<dt><a href="http://getsnitter.com/">Snitter</a></dt>
<dd>Snook’s Twitter, an Adobe Air client that was small and could have it’s themes changed. Seemed to crash all the time though: in hindsight it was probably caused by Air and not his client itself, but at the time I gave up and moved on</dd>
<dt><a href="http://www.twitbin.com/">TwitBin</a></dt>
<dd>A Twitter client sidebar for Mozilla Firefox that I used on my FreeBSD desktop machine before I realised that you’re only allowed to make a certain number of requests to the Twitter servers per hour. Figured it made sense just to use a client on my MacBook Pro.</dd>
<dt><a href="http://www.twhirl.org/">Twhirl</a></dt>
<dd>Another Adobe Air client that felt like Snitter on steroids (a particularly apt comparison given the current athletic competition going on). Acted more like an aggregator than just a Tweet downloader; you could choose to read direct messages, replies, and apply filters.</dd>
<dt><a href="http://www.floodgap.com/software/ttytter/">TTYtter</a></dt>
<dd>A very customizable and powerful Unix command line Twitter client written in Perl. I still have it installed on my FreeBSD desktop when I want to use Twitter remotely, though I moved on to the client below for when I want to keep logs and for day-to-day use</dd>
<dt><a href="http://gabrielcain.com/projects/twitter/">Twitter Commandline</a></dt>
<dd>A much simpler and more lightweight Unix command line Twitter client that can post messages, read friends timelines and send direct messages. Also written in Perl which is nice because I can read and modify it.</dd>
</dl>
<p>For my primary Twittering needs though, I&#39;ve moved over to a very sleek client called <a href="http://www.tweetdeck.com/">TweetDeck</a>. From their site description:</p>
<blockquote><p>TweetDeck is an Adobe Air desktop application that is currently in public beta. It aims to evolve the existing functionality of Twitter by taking an abundance of information i.e twitter feeds, and breaking it down into more manageable bite sized pieces.</p>
<p>TweetDeck enables users to split their main feed (All Tweets) into topic or group specific columns allowing a broader overview of tweets. To do this All Tweets are saved to a local database. The far left column will always contain All Tweets. The GROUP, SEARCH and REPLIES buttons then allow the user to make up additional columns populated from the database. Once created these additional columns will automatically update allowing the user to keep track of a twitter threads far easier.
</p></blockquote>
<p>Unlike all the other graphical Twitter clients I&#39;ve used, it splits up your screen into multiple columns so you can see your timeline, replies and direct messages right next to each other. It also has a very nice buzz column for the latest words and topics being discussed, and a search column you can customise. All the columns can be rearranged to your taste, and if you prefer the window can be &quot;collapsed&quot; into one column like a more traditional client.</p>
<p><a href="//rubenerd.com/files/uploads/screenie.tweetdeck.png"><img src="https://rubenerd.com/files/uploads/screenie.tweetdeck.thumb.png" alt="TweetDeck running on my MacBook Pro" style="height:313px; width:500px;" /></a></p>
<p>Given it takes up your entire screen it works fantastically on widescreens such as the display on a MacBook Pro. I assigned it to it&#39;s own <a href="http://www.apple.com/macosx/features/spaces.html">space</a> in Mac OS X Leopard so whenever I want to check all my Twittery goodness I just navigate to that virtual desktop. Notification messages appear regardless of whatever virtual desktop or space you&#39;re in at the time, which is very useful.</p>
<blockquote><p><strong>ASIDE:</strong> I also love the dark background with light text colour scheme because it’s so much easier on the eyes, especially late at night when my eyes are tired. I think people who use dark backgrounds with light text are very intelligent, smart and bright people who I’m sure are also incredibly attractive, desirable and humble as well.</p></blockquote>
<p>My only gripes are: the font is a tad big, meaning vertically it shows less tweets per column than Snitter, Twitterrific or Twhirl, the icon tends to hide itself on the Dock when my desktop background is dark as well, and it doesn&#39;t respond to mouse gesteres on Macs, though the latter problem is surely a limitation with Air than the application itself.</p>
<p>I&#39;ve well and truly given up on instant messaging clients. Who needs them when you have this good stuff? Reliability aside of course:</p>
<p><img src="https://rubenerd.com/files/uploads/screenie.twitter.down.jpg" style="height:313px; width:500px" alt="Classic Twitter is down message" /><br />
<cite>Classic Twitter-is-down message from Christmas 2007</cite></p>
 
