---
title: 'Wireless networking and podcast musings' 
date: "2008-08-25T08:18:23+10:00"
year: "2008"
category: Media
tag:
- boatdeck-cafe
- breakfast
- mawson-lakes
- musings
- networking
- olympics
- pink-ribbon
- podcasting
- skype
- weblog 

---
<p>Well here we are once again with another useless (or at least somewhat useless) <a href="//rubenerd.com/">Rubenerd Blog</a> Musings Post. As I&#39;ve mentioned previously, the justification for this category of posts&#39; existence is that I don&#39;t have my audio recording and production equipment with me to record my <a href="//rubenerd.com/show/">Rubenerd Show</a> podcast, audio magazine new time radio show, or whatever it is the kids are calling them these days. I&#39;ll be going to the city later today and purchasing a headset, a far cry from the mixers and other fancy riff raff I&#39;ve got back in Singapore, but it&#39;ll let me get on the airwaves again and possibly even get Skype up and working again to hopefully interview some people. If the audio quality is less than stellar, I&#39;ll be able to encode it with LAME at a lower bitrate, saving space and upload time which here is a more important consideration now that we have usage quotas!</p>
<blockquote><p><strong>ASIDE:</strong> I’d better be careful, this is a Rubenerd Blog musings post but the previous paragraph had a sliver of substance to it.</p>
<p>When I was a kid in early primary school I used to pronouce <em>&quot;silver&quot;</em> as <em>&quot;sliver&quot;</em>. I also had trouble remembering which ones were elbows and which ones were shoulders. Good things I can pronounce silver now at least.</p></blockquote>
<p><a href="https://www.openstreetmap.org/relation/9043695#map=19/-34.81107/138.61387"><img src="https://rubenerd.com/files/uploads/screenie.googlemaps.boatdeck.jpg" alt="The front of the Boatdeck Cafe using Google Maps street view" style="height:282px; width:500px" /></a><br />
<cite>The front of the Boatdeck Cafe using Google Maps street view</cite></p>
<p>I&#39;m once again sitting at the <a href="http://www.theboatdeck.com.au">Boatdeck Cafe</a> in <a href="http://www.mawsonlakes.com.au/">Mawson Lakes</a> once again (including this bracketed area, I&#39;ve said once again three times) having some pancakes and a Betty Blue Sea of Espresso. If you live around Parafield or other areas around north Adelaide, make your way over to Mawson Lakes in the morning for brekkie here, the view of the lake out the huge windows and the food are just fantastic. I&#39;m so poetic I could stanza myself. Stanza myself?</p>
<p>Unfortunately for me the WiFi doesn&#39;t seem to be working today. If you&#39;ve listened to any of my shows you&#39;d know how much I loathe wireless networking for the simple reason that it&#39;s even less reliable than regular networking! I can remember back to 1999 when we first got broadband interent (SingTel Magix, anyone from Singapore remember that?) and I had visions of 2010 where every coffee shop and cafe would have a wired Ethernet port and a power socket on every table. I guess I didn&#39;t realise wireless was on the horizon!</p>
<p><img src="https://rubenerd.com/files/uploads/anime.furukawa.nagisa.breakfast.jpg" alt="Nagisa Furukawa with coffee and breakfast" style="height:313px; width:500px" /><br />
<cite>Nagisa Furukawa with coffee and breakfast :-)</cite></p>
<p>Despite the WiFi revolution or whatever the kids are calling it thesedays, at home I refuse to use it: the computers in Singapore and here in Adelaide are connected through Category 6 cables to gigabit Ethernet switches. This means when a network connection fails (and it rarely does) I can figure out what the problem is much more quickly. I think it comes down to control: I&#39;m more in control with cables because I have control over the transmission medium. I said control three times in that last sentence, four times including this sentence.</p>
<p>Until I have the capability to create micro-wormholes that my wireless networking beams can travel through without being interrupted by furniture, concrete walls and stale grilled cheese sandwiches, I feel more comfortable with wired Ethernet. Part of me also is concerned about security: the experts claim the WPA encryption standard is unbreakable, but as I recall the previous WEP (wired equivalent privacy!) standard was told to be just as secure. With cables, static IPs and a whitelist of approved MAC addresses, everything just works faster, more reliably and hopefully more securely.</p>
<p><a href="https://www.openstreetmap.org/relation/9043695#map=19/-34.81107/138.61387"><img src="https://rubenerd.com/files/uploads/screenie.googlemaps.boatdeck.2.jpg" alt="The front of the Boatdeck Cafe using Google Maps street view" style="height:282px; width:500px" /></a><br />
<cite>View of the lake from the Boatdeck Cafe using Google Maps street view</cite></p>
<blockquote><p><strong>ASIDE:</strong> I had no idea that this post would turn into a rant about why everyone should stop using WiFi at home. I mean, wired ethernet is the solution to everything: people only complain when they’re houses become jungles with tangled weaved cables running through every hallway and room. I love it, it makes our house look like a place where <em>work gets done!</em> Nothing says <em>&quot;I work my arse off on computers while you sit around doing nothing&quot;</em> than a tangled mess of cables running along every walkway.</p></blockquote>
<p><img src="https://rubenerd.com/files/uploads/140px-Pink_ribbon.svg.png" alt="Pink Ribbon" style="height:227px; width:140px; float:right; margin:0 0 10px 20px;" /> On a more serious note, I&#39;ve been thinking about mummy a lot more again lately. A few days ago I was at the Boatdeck Cafe enjoying a Betty Blue Sea of Espresso while doing some light programming and having a great conversation with a friendly woman about life the universe and everything. She was about the age of my mum and had gone through the rigamarole of breast cancer treatment herself. She couldn&#39;t believe that mummy had gone through over a decade of almost non-stop chemotherapy and radiation treatment; most people call it quits and move on after the second course. Upon talking about it, I remember one of the things that stuck with me the most when she passed on that my dad told me: he said the reason why she went through all that pain and suffering for such a long time was that she wanted her kids to have memories of her. Had she passed on after the first round back when we still lived in Australia, Elke and I probably won&#39;t have remembered much about her. I&#39;ve been coping better with the colossal void in my life she&#39;s left over the last half year, but talking about it brought back the emotions again. I really, really do miss her.</p>
<p>Another thing I know though, and it is cliche, but the last thing she would want would be for me to still be wallowing in sorrow now. Chin up, moving on! What is it that the gym owner from the Brittas Empire always used to say? I forget, never mind!</p>
<p><a href="http://www.varmintal.com/abeth.htm"><img src="https://rubenerd.com/files/uploads/end-bethel-island-road.jpg" alt="The front of the Boatdeck Cafe using Google Maps street view" style="height:280px; width:500px" /></a><br />
<cite>End of the Bethel Island road, by <a href="http://www.varmintal.com/abeth.htm">Varmint Al</a></cite></p>
<p>I was originally going to talk about the Olympics finishing up and how grateful I am for the fact, but I&#39;m going to save that for a separate post. I learned something about the Aussie Olympic team that just irritates the hell out of me, though in hindsight I shouldn&#39;t have been surprised.</p>
<p>This musings post will be ending now because it&#39;s the end of the post, and the best place to end something is either when it&#39;s finished, when you&#39;ve worn out your welcome, or if you&#39;ve lost the interest of the people who were reading your material. I think I qualify for all three in this circumstance.</p>
 
