---
title: 'Not everyone approves of Ginger in Rundle Mall' 
date: "2008-09-18T08:18:47+10:00"
year: "2008"
category: Media
tag:
- adelaide
- advertising
- australia
- rundle-mall 
---
<p>For the benefit of those who haven&#39;t visited Adelaide, Rundle Mall (<a href="https://www.openstreetmap.org/way/225562373">OpenStreetMap view</a>) is a fresco-styled, outdoor shopping street closed off from traffic. It runs parallel to North Terrace, from King William Street to Pultney Street, and according to <a href="http://en.wikipedia.org/w/index.php?title=Rundle_Mall">Wikipedia</a>, it was the first such shopping street to open in Australia.</p>

<p>As part of a rebranding and promotion effort, <a href="http://pradeclassified.wordpress.com/2008/06/19/completed-work-rundle-mall-tvc/">The People&#39;s Republic of Animation</a> was commissioned along with <a href="http://www.clemengerbbdo.com.au/">Clemenger BBDO Adelaide</a> to create a television commercial and related material. The result was a commercial and banners in the mall itself emphasising the different seasons that can be experienced outdoors in the mall as opposed to enclosed shopping centres.</p>

<p><a href="https://www.youtube.com/v/XgfNYjgDxz0" title="Play Rundle Mall, Four Seasons"><img src="https://rubenerd.com/files/2008/yt-XgfNYjgDxz0@1x.jpg" srcset="https://rubenerd.com/files/2021/yt-XgfNYjgDxz0@1x.jpg 1x, https://rubenerd.com/files/2008/yt-XgfNYjgDxz0@2x.jpg 2x" alt="Play Rundle Mall, Four Seasons" style="width:500px;height:281px;" /></a></p>

<p>According to the site, the scenery drew inspiration from artist Tadahiro Uesugi:</p>

<blockquote><p>The biggest artistic inspiration for us was the Japanese artist Tadahiro Uesugi. Tadahiro’s work captures the colours and light quality of each season and this was something we wanted to replicate in the commercial. We made the ad in a way that if you were to pause on any frame it would look like a piece of artwork in it’s own right.</p></blockquote>

<p>Along with the different scenery, a character called Ginger was created who&#39;s clothes change along with the seasons on the mall banners, along with the hundreds of other animated characters in the background of the television commercial. I thought it was creative and fun, and above all different!</p>
<p>According to James Calvert, who directed the TVC:</p>
<blockquote><p>Recreating the Adelaide institution that is Rundle Mall turned out to be one of the most challenging yet rewarding jobs I have had to do as an animation director. Our main character “Ginger” had to walk down the Mall in one continuous shot, while around her the seasons changed. Ginger had to change costumes and so did each of our 100 background characters.</p></blockquote>
<p><img src="https://rubenerd.com/files/uploads/graphics.thepra.ginger.jpg" style="width:500px; height:313px" alt="The four seasons of Ginger." /></p>
<p>It seems though others don&#39;t approve. In today&#39;s Adelaide Advertiser paper, Tory Shepard writes in an article <em><a href="http://www.news.com.au/adelaidenow/story/0,22606,24363572-5006301,00.html">Children exposed to bizarre body images</a></em>:</p>
<blockquote><p>Toys such as Bratz and animated creations such as Ginger &#8211; the face of the Rundle Mall advertising campaign &#8211; have tiny bodies with long legs, stick-thin arms and waists less than half the size of their heads.</p>
<p>Nutrition and body image experts warn that body shapes such as these &#8211; which are similar to Barbie’s outrageous dimensions &#8211; would not be physically possible in real life.</p>
<p>Butterfly Foundation general manager Julie Thomson said the cartoon-like body shapes were &#8220;quite dangerous&#8221;. &#8220;They’re obviously fantasy, but when they’re being presented in a way that they’re somehow or another based in reality, that’s actually quite dangerous.&#8221;</p></blockquote>
<p><img src="https://archive.org/download/RubenerdShow250/RubenerdShow250.png" alt="Rubenerd Show 250" style="height:240px; width:240px; float:right; margin:0 0 10px 20px;" /></p>
<p>As I discussed rather haphazardly on <a href="//rubenerd.com/show250/">Rubenerd Show 250</a>, I can’t help but think that such comments take such material far too literally. This is a cartoon, not a retouched photograph in a sleazy lad’s magazine! They also don’t seem give much credit to the intelligence of the people whom they’re discussing. I would go even go as far as to say that they’re being condescending.</p>
<p>I also can’t help but feel they’re playing the favoritism guitar. Favouritism guitar? For example, why is there no mention in this article about how men are subjected in advertising as well? Why didn’t I read about the men in cologne advertisements without shirts and testosterone and steroid pumped rugby players who wear tiny shorts? Are they just taking this issue too far?</p>
<p>Fortunately for me the comments section in the online version of the article is full of people who feel the same way:</p>
<blockquote><p>
What an absolute joke this story is, just like with any animation these dolls (as horrible as they may be) are a stylised representation…nothing more. Can’t believe the Advertiser sees it fit for a front page story! <cite>~ Jamie G</cite></p>
<p>I think that children might just be able to tell the difference between animated and real images, unlike these ranting &#8220;experts&#8221;. As one animated and overweight character would say; &#8220;Doh!&#8221; <cite>~ Leslie of Northfield SA</cite></p>
<p>What about the boy Bratz dolls? Aren’t they just as bad for the young boys? <cite>~ SC</cite></p>
<p>Can’t wait for my 6 year old daughter to tell me she is deperate to be like Lisa from the Simpsons &#8211; you know smart but with only 4 fingers. Oh yeah dreading the day that happens! GET REAL. <cite>~ Cheryl Gee</cite></p>
<p>Umm…. It’s called a &#8216;Caricature’. Look it up in the dictionary. <cite>~ Leigh of Adelaide</cite>
</p></blockquote>
<p>These were my favourites though:</p>
<blockquote><p>I would suggest that the saturation of advertisements selling consumption lifestyles out of many people’s grasp contribute more to low self esteem than some mis-proportionate dolls. <cite>~ sa_paperboy of livejournal</cite></p>
<p>Let’s ban all cartoons and animated movies to save our kids from &quot;bizarre body images&quot;!! And while we’re at it, ban stupid &quot;news&quot; stories, in case they have an adverse &quot;subliminal impact&quot; and people take them seriously! <cite>~ A Smith of rural SA</cite>
</p></blockquote>
<p>What&#39;s your opinion?</p>
 
