---
title: 'How do you curb weblog sporadic-ness?' 
date: "2008-09-26T11:16:54+10:00"
year: "2008"
category: Internet
tag:
- infocomm
- pointless-anime-references
- ramblings
- sporadic
- weblog 
---
<p><img src="https://rubenerd.com/files/uploads/anime.clannad.obsessive.jpg" alt="Let the rambling of a blond guy begin!" style="height:240px; width:500px;" /><br />
<cite>Let the rambling of a blond guy with illustrations from <a href="http://en.wikipedia.org/wiki/Clannad_(visual_novel)">Clannad</a> begin again!</cite></p>

<p>A more public aspect of my personality which I think I share with more people than not (or at least I hope so) is the way ideas tend to come out of my brain in spurts rather than continuous streams. Have I lost you yet?</p>

<p>What this means in the context of <a href="//rubenerd.com/show/">podcasts</a> and <a href="//rubenerd.com/">weblogs</a> is that certain days I literally have dozens of ideas for shows and blog posts, and other days I have trouble coming up with more than one. Today would be an example of the former; I have no less than 30 blog post ideas and over 50 show ideas I could ramble on about for paragraphs and hours respectively, when on Tuesday this week I was completely fresh out of ideas.</p>

<p>This raises the inevitable question: in a 24/7 medium such as the Internet, how best do I overcome this problem? There are several solutions I&#39;ve been able to observe, but none seem to have worked as well for me as I would have hoped. One wonders why I call them solutions then! As usual in a situation like this I like to break out the ol&#39; reliable <a href="http://www.w3schools.com/tags/tag_dl.asp">definition list</a>:</p>

<dl>

<dt>The Frank Nora Notes Solution</dt>
<dd>Frank Edward Nora hosts the long running <a href="http://theovernightscape.com/">Overnightscape</a> New Time Radio show and podcast with the help of carefully written notes and ideas that he jots down during the course of his day to discuss at night.
<p>This method would work wonders for someone as intelligent and astute as Frank, but for me it doesn’t work as well; especially for recorded audio; because the initial enthusiasm I might have for an idea that I hastily jot down might have passed by the time I record. Another problem is I tend to fall into the dreaded trap of over-thinking a problem or issue which causes me to bore people with posts that go on for hundreds of lines or shows that ramble!</p></dd>

<dt>The Empty Post Solution</dt>
<dd>A trick I picked up when I first started blogging a few years ago was to create the heading for a post, leave it as a draft and fill out the content later. All that I ended up with after doing this for a few months were a couple of well thought out entries in a sea of drafted posts with titles that I couldn’t understand!
<p>This could work sometimes, but I must learn not to rely solely upon it.</p></dd>

<dt>The Caching Solution</dt>
<dd>I would consider this a form of cheating even though I’m sure many bloggers employ the tactic. To appear as though you’re more reliable to website alliances like <a href="http://9rules.com/">9rules</a> that value regularity over quality, people write several posts a day, but release them over a period of days.
<p>I consider this a problem because it defeats the purpose of a 24/7 internet entirely, what’s the point of releasing something current and interesting if it’s already a few days old? Perhaps some types of posts are more suited to this approach than others, but for now I personally prefer to release posts after I’ve written them.</p></dd>
</dl>

<p><img src="https://rubenerd.com/files/uploads/anime.clannad.cantunderstand.jpg" alt="Are you following anything he's written here?" style="height:301px; width:500px;" /><br />
<cite>Are you following anything he&#39;s written here?</cite></p>

<dl>
<dt style="font-weight:bold">The Optimist Solution</dt>
<dd>If posting at random intervals somehow makes me appear less professional, then why don&#39;t I just quit now while I&#39;m ahead? Because some posts that are well thought out and some that are just plain silly are still better than none at all!</dd>

<dt style="font-weight:bold">The Jim Kloss and Dave Wares Solution</dt>
<dd>While accepting a reduced roll to understandably accomodate other interests, when people think of <a href="http://wholewheatradio.org/wiki/index.php/Main_Page">Whole Wheat Radio</a> they probably still think of the personality of Jim Kloss. His self depreciating humour doesn&#39;t mask his warm personality and strong character which shows through everything he does. When he writes or speaks about something, nobody cares if it&#39;s late or sporatic because it&#39;s just that good.
<p><a href="http://davesphotogallery.net/">Dave Wares&#39; photo gallery</a> blog is another example of this. I don&#39;t get angry if he doesn&#39;t post for a while, I look forward to when I get to see his latest work because it&#39;s just so damned good, even if it does put my photography to absolute shame! This would differ from a news site which if it didn&#39;t update I wouldn&#39;t use them anymore.</p></dd>

<dt style="font-weight:bold">The Rampler Unplugged Solution</dt>
<dd>Another idea from the creative genius Frank Nora, the idea behind a Rampler show is that you record it and upload it online with minimal or no post production. This means you maintain the original mood and atmosphere of the recording, plus it takes much less work which inevitably leads to more material being uploaded which benefits everyone!
<p>I&#39;ve started the Rubenerd Unplugged series as my own take on this solution, and plan to start just as soon as <a href="//rubenerd.com/">Rubenerd.com</a> appears again. I seem to be having hosting problems just like Frank did… perhaps there really is a conspiracy going on here!</p></dd>

<dt style="font-weight:bold">The Bromothymol Blue Solution</dt>
<dd>Get it? Get it?</dd>

<dt style="font-weight:bold">The Obsessive Solution</dt>
<dd>If people associate regularity with professionalism, then give them what they want! Sure the posts you write when you don&#39;t have much inspiration or interest will be dull and not worth reading, but at least they&#39;re regular! I mean, what&#39;s the point of having a hobby like a weblog or podcast if you just do them to relax, present ideas and enjoy yourself?
<p>I&#39;m not a fan of this solution!</p></dd>
</dl>

<p><img src="https://rubenerd.com/files/uploads/anime.clannad.athletic.jpg" alt="Are you following anything he's written here?" style="height:250px; width:500px;" /><br />
<cite>I think Ruben just needs to get out more: that&#39;d solve everything!</cite></p>

<p>In the end, I&#39;ve decided to take a bit from each of these solutions and use one I&#39;ve thought of myself. I&#39;ve decided to call it the <strong><em>Fresh Coffee Solution</em></strong> because it reminds me of the feeling you get after having an especially good cup. Cliche? Never!</p>

<p>My solution bases itself on the fact that sometimes I might have interesting things to talk about or post here on, and sometimes I might not because <em>I&#39;m human!</em>. To maintain quality instead of buying a 1 kilogram of instant coffee that would last every day, I&#39;ll instead focus my energy here when I do have something worth saying, and not when I don&#39;t. Again sites like 9rules that state that they look for regular bloggers as one of their conditions might not like my approach, but I prefer to think of the internet as an alternative to a traditional media model where one-size-fits-all rules.</p>

<p>If this post made absolutely any sense to you at all, or if you have another solution you&#39;d like to share, or if you&#39;ve figured out a way to eat electronic fibre to somehow keep your websites more regular as it were, feel free to comment below! I&#39;d love to do a follow up to it at some point either here, or <a href="//rubenerd.com/show/">on my show</a>.</p>
 
