---
title: 'My view on the role of capitalism, via Twitter' 
date: "2008-10-07T05:30:27+10:00"
year: "2008"
category: Thoughts 
tag: 
- economics
- subprime-mortgage-crisis 
---
<p><a href="//rubenerd.com/files/uploads/screenie.twitter.economics.png"><img src="https://rubenerd.com/files/uploads/screenie.twitter.economics.thumb.png" style="height:327px; width:500px;" alt="Twitter conversation from an hour ago" /></a></p>
<p>Given the current financial situation in the United States and resulting global uncertainty, I could be penning thousands of posts here about economics… however given I&#39;m studying economics as one of my degrees, for some reason I feel I&#39;m writing enough about this issue as it is!</p>
<p>That said, I did have quite an involved (and unintended!) conversation with a couple of people about the current situation which evolved into the role of capitalism in general. For those of you not following me on Twitter, here is is. I&#39;d love to hear your feedback if you have any opinion on the issue(s).</p>
<p>My proudly held Keynesian, regulated, sustainable growth over exponential growth, free market skeptic side seems to show a bit ;-).</p>
<dl>
<dt>Rubenerd</dt>
<dd>Retweet @cburell: As Reagan was to USSR decline, so Bin Laden was to US decline. 10 trillion debt, makes sense. http://tinyurl.com/53mrs4</dd>
<dt>skydaddy</dt>
<dd>@Rubenerd utter foolishness. The USSR was paying its soldiers in cabbages and brassieres at the end. The US economy is hardly decimated.</dd>
<dt>Rubenerd</dt>
<dd>@skydaddy Was just retweeting. Current US economic conditions are certainly no glowing endorsement of unregulated capitalism FWIW.</dd>
<dt>skydaddy</dt>
<dd>@Rubenerd found Clay’s post and replied w/ link. Neither is current condition an indictment of capitalism, nor endorsement of socialism.</dd>
<dt>Rubenerd</dt>
<dd>@skydaddy I do think capitalism is the way to go, but it must, MUST be fully regulated to work. Nobody wins unless we all win.</dd>
<dt>skydaddy</dt>
<dd>@Rubenerd actually, current market woes an indictment of liberal experiment to use govmt to encourage people to borrow beyond their means </dd>
<dt>Rubenerd</dt>
<dd>@skydaddy I agree with you partly. People borrowed beyond their means, but it’s the fault of greedy, unregulated, predatory finance companies.</dd>
<dt>skydaddy</dt>
<dd>@Rubenerd agree it’s not a zero-sum game, but some people do in fact lose. bad luck, bad decisions, bad timing take their toll.</dd>
<dt>Rubenerd</dt>
<dd>@skydaddy True. And in the end the people who really suffer are people, and that’s a travesty.</dd>
<dt>skydaddy</dt>
<dd>@Rubenerd if you’re saying that government should regulate business to prevent all suffering, we disagree. Can’t be done. Capitalism = risks</dd>
<dt>Rubenerd</dt>
<dd>@skydaddy That’s true, capitalism = risks, just as communism = bust. Regulated capitalism with sound monetary policy = less risk.</dd>
<dt>Cburrel</dt>
<dd>@skydaddy patriotism is no argument against economic realities, is it? we’re mid-avalanche right now, &#038; you cite current snapshots.</dd>
<dt>skydaddy</dt>
<dd>@cburell Call me when US Navy puts into port &#038; USAF suspends training flights b/c they can’t buy gas or pay troops. That was USSR in ’80s
<p>@Rubenerd what is the goal of regulation &#8211; that’s key. s/b prevent excesses and abuses, not encourage them. hence current troubles</p></dd>
<dt>Rubenerd</dt>
<dd>@skydaddy True that regulation automatically doesn’t = good.
<p>@skydaddy In this case I’d argue a result of insufficient regulations on financial institutions issuing credit.</p>
<p>@skydaddy Provided China and Japan keep buying US bonds the short term ramifications won’t be as bad, but long term not so sure.</dd>
<dt>skydaddy</dt>
<dd>@Rubenerd other countries buy our bonds b/c they think we will repay in future. Totally puts the lie to the &#8220;binLaden=Reagan&#8221; thesis.</dd>
<dt>Rubenerd</dt>
<dd>@skydaddy No, China and Japan are buying US bonds to artificially lower their currency values, to allow their exports to be cheaper.
<p>@skydaddy But I do agree that poor people being lied too is just an abhorant situation.</p></dd>
<dt>skydaddy</dt>
<dd>@Rubenerd of course, we have to pay back the loans, which means create real value, not just paper wealth.</dd>
<dt>Rubenerd</dt>
<dd>@skydaddy True, that is the point of credit. I guess it bothers me that not enough productive use is being generated from said funds.</dd>
</dl>
<p>Alas I didn&#39;t even get into the real core issues of the subprime mortgage crisis though which are: Greed. Arrogance. Fabrication. Lies. Lack of accountability.</p>
<p>I doubt that this is a signal that the United States Empire is on the decline if only because some of the brightest and sharpest inventors, ethical businesspeople (yes, they do exist), artists, doctors, you name them, live there and continue to do amazing and beautiful things that the world benefits from. I just hope the ship my American friends are sailing on doesn&#39;t sink and drown them.</p>
<p>Of course the other side of this whole issue is that it&#39;s being blown way out of proportion to allow corporate executives and financial institutions to get away with criminal ineptitude. I will restrain myself!</p>
 
