---
title: 'New Apple notebook hardware, waffle irons' 
date: "2008-10-15T12:02:46+10:00"
year: "2008"
category: Hardware 
tag:
- apple
- infocomm
- macbook-pro
- news 
---
<p><a href="https://flickr.com/photos/rubenerd/1422424768/in/set-72157602722004710/"><img src="http://farm2.static.flickr.com/1355/1422424768_6869bc53b4.jpg" alt="Photo from 2007 in Singapore of My MacBook Pro circa 2006, and my cute iBook G3 circa 2002, still kicking!" /></a><br />
<cite>Photo from 2007 in Singapore of My MacBook Pro circa 2006, and my cute iBook G3 circa 2002, still kicking!</cite></p>
<p>Given the sheer volume of work I have to do today, I figured now is as good a time as any to create another rambling Rubenerd Blog post with little substance or meaning. Call it an escape if you will. In this post I&#39;ll be discussing Apple notebook hardware.</p>
<p>Of course Apple fanatics already know about this latest news:</p>
<blockquote cite="http://blogs.zdnet.com/BTL/?p=10367">
<p>Apple is expected to unveil updates to its laptop line next week with the official confirmation issued overnight that it was planning a press event in the US.</p>
<p>The event will be held on October 14 in Cupertino, California, according to an official invite which landed in the inboxes of staff at ZDNet.com.au sister site CNET News.</p>
<p>Not mentioned in the invite is the most persistent rumor about the launch: that at least one of the new systems will hit a price point of US$800.</p>
<p>&#8211; <cite><a href="http://blogs.zdnet.com/BTL/?p=10367">ZDnet.com.au: New Apple laptops to arrive next week</a></cite></p>
</blockquote>
<p>My venerable, original generation MacBook Pro from 2006 is definitely starting to show it&#39;s age, specifically with regards to it&#39;s CPU. Firstly, as my primary and only computer here while I study, it chews through large compilation and video editing tasks at a fraction of the speed of my DIY tower back in Singapore. When you schedule tasks to go on overnight so that you don&#39;t lose any productivity time you start to wonder whether your machine is up to the task!</p>
<p><img src="https://rubenerd.com/files/uploads/appleinvite.jpg" alt="Apple invite for tomorrow's event" style="height:214px; width:270px;" /><br />
<cite>Apple invite for tomorrow&#39;s event</cite></p>
<p>For those of you who remember, the original generation MacBook Pro&#39;s were part of the first rollout of new Intel based Apple computers after using PowerPC chips, and for some reason Apple decided to ship them with 32-bit Core Duo chips, despite the even more confusingly named 64bit Core 2 Duo arriving shortly after. This means virtually all Intel based Apple hardware has used and continues to use 64bit chips, fueling speculation that their next OS <a href="http://www.apple.com/macosx/snowleopard/">Snow Leopard</a> will be a purely 64bit Intel deal. It&#39;s misleading how they advertise Snow Leopard taking advantage of Intel chips without directly addressing the concern that it will only be 64 bit.</p>
<blockquote><p><strong>ASIDE:</strong> Talk about a guy and his developed world problems! Ooh look at me, my computer isn’t fast enough for what I need it to do!</p></blockquote>
<p>But then I come to the inevitable question: what would I like to see in the new MacBook Pros? Time for a trusty unordered list:</p>
<ul>
<li>Same rough dimensions, I’m not obsessive about thinness. I’d rather have a slightly thicker case if it meant it had bigger fans was more thermally efficient.</li>
<li>Increase the size of the LCD by shrinking the surrounding bezel.</li>
<li>The option for matte screens! Some rumour mockups suggest the new MacBook Pro looks like a cross between a current HP laptop and the current iMac. Not good!</li>
<li>If the rumours of dual GPUs come to pass, I would certainly not complain</li>
<li>Retain the silver backlit keyboard and not adopt the awkward chicklet keyboard of the MacBook Air.</li>
<li>Retain a FireWire 400 port as well as having an 800.</li>
<li>Ultimate pipe dream: dual gigabit ethernet ports! Hah, dream on!</li>
<li>More USB ports. My old MBP has two. The current 15&#8243; models have three. Four would do the trick, especially considering this is supposed to be a professional computer.</li>
<li>Built in waffle iron and grilled cheese sandwich maker that feeds off the heat from the CPU.</li>
<li>Option for more RAM. My current MBP can only support 2GiB which I think is even more of a bottleneck than the CPU when video editing especially</li>
<li>Full sized ExpressCard slot instead of a ExpressCard 34 slot</li>
<li>A built in wheatberry which will detect how much bandwidth you have available and automatically tune you into an appropriate quality Whole Wheat Radio audio feed.</li>
</ul>
<p>If we get half a dozen of these, I&#39;ll be a happy little munchkin. Less than half a dozen, and I won&#39;t be surprised. More than half a dozen and I&#39;ll be suspicious.</p>
 
