---
title: 'Avaaz.org message for American friends'
date: "2008-10-24T06:15:16+10:00"
year: "2008"
category: Thoughts 
tag: 
- politics
- video
- united-states
---
<p>(<a href="https://www.youtube.com/watch?v=Au-v2Xpew-8">Original video</a> was taken offline).</p>
<p>I am a subscriber and supporter of <a href="http://avaaz.org/">Avaaz.org</a>, the <em>&quot;independent, not-for-profit global campaigning organization that works to ensure that the views and values of the world&#39;s people inform global decision-making&quot;</em>. They do some really great work.</p>
<p>Their latest email is to do with the American elections. I&#39;m not an American citizen, but I know some of the people who read this site are, in which case I pass on this message for whatever it may be worth:</p>
<blockquote><p>Dear friends,</p>
<p>We know, the outcome of the US election will change the globe. How Americans vote will influence what happens in Iraq, our global response to climate change, our relationships with Iran and North Korea, and whether we finally prioritize the fight to end global poverty.</p>
<p><a href="http://www.avaaz.org/en/for_us_too/">That’s why Avaaz has produced this global ad</a> echoing the voices and concerns of the billions outside the US who can’t vote. Watch it, then send the ad to your friends in America and across the world. If enough people watch it and support its message, it could spread to US talk shows and into the lounge rooms of middle America &#8212; where it really counts!</p>
<p>Thank you, from the entire Avaaz team</p></blockquote>
 
