---
title: 'On RSS, Michael Moore, Jim Kloss and Taxis' 
date: "2008-10-29T02:01:30+10:00"
year: "2008"
category: Internet
tag:
- funny
- google
- indie-media
- infocomm
- jim-kloss
- michael-moore
- pointless-anime-references
- ridiculous
- shigure-asa
- whole-wheat-radio 
---
<p><img src="https://rubenerd.com/files/uploads/200px-Bowling_for_columbine.jpg" alt="Bowling for Columbine promotional poster" style="float:right; margin:0 0 10px 20px; width:200px; height:296px;" /> While I don&#39;t entirely agree 100% with his methods of delivering facts, or even some of his assertions, I have a pretty positive view of <a href="http://michaelmoore.com/">Michael Moore</a> and find his films incredibly thought provoking and wildly entertaining at the same time. I can remember going with the whole of my year 10 English class to see <a href="http://en.wikipedia.org/wiki/Bowling_for_Columbine">Bowling for Columbine</a> at the <a href="http://en.wikipedia.org/wiki/Shaw_House_and_Centre">Lido Cinemas</a> on <a href="http://en.wikipedia.org/wiki/Orchard_Road">Orchard Road</a> in <a href="http://visitsingapore.com/">Singapore</a>, and later seeing <a href="http://en.wikipedia.org/wiki/Fahrenheit_9/11">Fahrenheit 9/11</a>… twice.</p>
<blockquote><p><strong>ASIDE:</strong> I’ve probably permanently lost half my American readers with the admission that I like Michael Moore. I’m tempted to say that the better half have stayed, but that would dig me down even deeper so for the sake of preserving my own life I think I’ll just leave it right there. I like Mike!</p></blockquote>
<p>Anyway it seems Mighty Mike (no I&#39;m not talking about our <a href="http://en.wikipedia.org/wiki/South_Australia">state premier</a> <a href="http://en.wikipedia.org/wiki/Mike_Rann">Mike Rann</a>!) may have the goods, but his site administrators are stuck in a Web 1.0 mindset. Heavens almighty how I hate the &quot;Web 2.0&quot; moniker!</p>
<p><img src="https://rubenerd.com/files/uploads/jim3.jpg" alt="Jim Kloss himself!" style="float:right; margin:0 0 10px 20px; width:125px; height:93px;" /> In a tip of the hat to my presence, <a href="http://wholewheatradio.org/wiki/index.php/User:Jimkloss">Jim Kloss</a> from <a href="http://wholewheatradio.org/">Whole Wheat Radio</a> has stated including some nerdier links in his <a href="http://reader.google.com/">Google Reader</a> weblog and pointed me to the fact that <a href="http://michaelmoore.com/">MichaelMoore.com</a>… doesn&#39;t even have an RSS feed! Come on Mike, you&#39;re nerdy readers need this! Even Fox News has RSS feeds!</p>
<p>For what it&#39;s worth, as an XML guy I infinitely prefer <a href="http://www.atomenabled.org/">Atom</a> to RSS but I know many readers still choke on it. Alas we&#39;re stuck again with a standard that&#39;s good enough, and despite Atom being superior it&#39;s not a compelling enough upgrade for enough people. I could go on talking about <a href="http://en.wikipedia.org/wiki/Betamax">Betamax</a> and <a href="http://en.wikipedia.org/wiki/Plan_9">Plan 9</a> and <a href="http://en.wikipedia.org/wiki/United_Linux">United Linux</a> and <a href="http://wholewheatradio.org/wiki/index.php/Special:Random">waffle irons</a>…</p>
<p><img src="https://rubenerd.com/files/uploads/anime.asashigure2.jpg" alt="Asa Shigure" style="width:500px; height:300px;" /><br />
<cite>Taximetre plus SG$50.00! Where to?</cite></p>
<p>And why don&#39;t we have pink taxis? In Adelaide they&#39;re all white (get it… they&#39;re all white? They&#39;re all right? Right? White? Oh come on, that was funny!), in Singapore they&#39;re mostly yellow and blue with a few reds and teals, why not pink? Think of it, you could paint a really cute anime character on the side, hire cute people in ridiculous cosplay costumes to drive… I know I (as well as other desperately lonely nerds) would pay a huge premium for such a service! You could even update the nerds who would want to travel in such a taxi by creating an RSS feed that contains the locations of the entire fleet at any given time! It would work perfectly!</p>
<p>RSS, Jim Kloss, Atom, Betamax, Pink, Google, Michael Moore, Shuffle, Whole Wheat Radio, Plan 9, Bowling for Fahrenheits on Shaw Road in Orchard Theater… come on people it makes perfect sense!</p>
 
