---
title: 'Reminiscing about DOS, Windows 3.x' 
date: "2008-11-11T08:56:24+10:00"
year: "2008"
category: Software
tag:
- abandonware
- dos
- infocomm
- retrocomputing
- windows
- windows-3-x 
---
<p><a href="//rubenerd.com/tag/dosonmac/"><img src="https://rubenerd.com/files/uploads/logo.retrodos.intelmac.png" alt="Windows 3.1 on Mac OS X: DOS Nostalgia on Intel Mac Hardware!" style="height:150px; width:500px;" /></a></p>
<p>A few days ago you may have scratched your head and wondered why I took the time to post such a ridiculously long post on <a href="//rubenerd.com/p2773/">why I had a falling out with Microsoft</a>. I&#39;ve certainly made no secret of my general contempt for Microsoft&#39;s products, but I wanted to let people know that it hadn&#39;t always been that way. I did this partly to inform people that I&#39;m not a brainless anti-Microsoft shill, but also so I could post about this new topic over the next few days without being called a hypocrite.. not that I&#39;ve ever let such names stop me in the past mind.</p>
<p>As part of an assignment on the TCP/IP stack, I&#39;m researching different historical operating system approaches to networking. Alongside OS/2 Warp, BeOS and early versions of the BSDs, this has allowed me to revisit two classic operating systems that were on our first family home computer: PC-DOS 4.x and later MS-DOS 6.x with Windows 3.0 (with MME) and later Windows 3.1.</p>
<p><img src="https://rubenerd.com/files/uploads/photo.windows31.jpg" alt="Original carton box of Windows 3.1" style="height:400px; width:328px; display:inline" /><br /><cite>Original carton box of Windows 3.1, from <a href="http://www.makingthemodernworld.org.uk/">MakingTheModernWorld.co.uk</a></cite></p>
<p>Because my father has worked with this same multinational corporation since the early 1980s he was an IBM PC user from very early on, so our home computers were always IBM machines. We missed the Commodores, the Amigas, the Ataris, the Apples, the Tandy&#39;s and the Sinclairs, though for my own enjoyment I&#39;ve since purchased lots of classic hardware on eBay and through other sources. As a result of this, we were DOS users from the beginning, and subsequently we were Windows 3.x series users from early on too. Fortunately we missed Windows 1.xx-386!</p>
<blockquote><p><strong>ASIDE:</strong> Which of the mentioned classic home computer makers is my favouite? Sinclair, by a long shot. I may have only got it a few years ago, but my <a href="http://en.wikipedia.org/wiki/ZX_Spectrum">ZX Spectrum</a> is a gorgeous little computer and I love tinkering around with it, especially now I have a compact flash card adaptor for it. The graphics are clear and sharp, the bundled BASIC is lots of fun to use, and the unit itself is very portable. But that’s for another post.</p></blockquote>
<p>When I see screenshots of these early versions of Windows, I&#39;m taken back to Melbourne when I was four and hammering away at a keyboard with a small CRT display not quite knowing what I was doing but having fun anyway. I attribute this to the reason why I have such dreadful myopia, and why I&#39;m so nostalgic for these things. Depending on whether you&#39;re a nerd or not you may consider this sad, but the Windows 3.0 and 3.1 boot screens are some of my earliest memories. Really, I&#39;m serious!</p>
<blockquote><p><strong>ASIDE:</strong> I can feel my beautifully silly mum whacking me over the head with her shiny clear acrylic glass twisted cane for that remark. She always said she’d be checking on me and making sure I wasn’t doing anything too nerdy and/or stupid. I believe her!</p></blockquote>
<p>Our first machine was written off when we moved to Singapore before I was a teenager; during the move it was rattled silly which destroyed the hard drive and zapped the motherboard. It was a shame, that little 486SX with it&#39;s 5.25 inch floppy drive and turbo button, and later a SoundBlaster card with a hex-speed CD-ROM was extremely reliable, even surprisingly when running Windows! Fortunately our second computer (and the first one I &quot;inherited&quot; for my own to mess around with) with it&#39;s 200MHz Pentium MMX CPU and 32MiB of RAM is still running strong, with FreeBSD installed on it no less! Another dependable little battleship, even if I have since upgraded the hard drive and graphics card. The joke is the graphics card has more memory and CPU power than the host machine itself! Isn&#39;t that delightful? :-D</p>
<p><a href="https://flickr.com/photos/rubenerd/1422424768/in/set-72157602722004710/"><img src="http://farm2.static.flickr.com/1355/1422424768_6869bc53b4.jpg" style="height:375px; width:500px; display:inline;" alt="My pad in 2007" /></a><br /><cite>Photo taken in 2007… my venerable, fully functional (and FreeBSD equipped) 200MHz machine is the beige box under the table, on top of the breadbox computer. Yes, I built a computer in a breadbox, I was 17 and crazy!</cite></p>
<p>But I digress, as usual. Over the next few days I&#39;m going to be documenting my adventures with running these classic Windows systems virtually on my MacBook Pro, but with plenty of cross platform references for others to use if you&#39;re a non-Mac user and are interested. As Big Kev used to say on Good Morning Australia with Bert Newton: <em>&quot;I&#39;m Excited!&quot;</em></p>
<p>I clearly don&#39;t get out enough.</p>
 
