---
title: 'Google Reader feature requests' 
date: "2008-11-13T02:48:18+10:00"
year: "2008"
category: Internet
tag:
- atom
- google-reader
- infocomm
- rss
- web-feeds
---
<p><img src="https://rubenerd.com/files/uploads/screenie.iphone.googlereader.mp.png" alt="Screenshot of Google Reader on my iPhone." style="height:320px; width:480px" /></p>
<p>So I&#39;ve been using <a href="http://reader.google.com/">Google Reader</a> again for a week or so now and am enjoying it much more this time around. While virtually nothing has changed from when I used it constantly last year (when I got a <a href="//rubenerd.com/bloglines-versus-google-reader-cant-decide/#comments">response from a Google employee</a> on <a href="//rubenerd.com/bloglines-versus-google-reader-cant-decide/">this post in October 2006</a>), now I&#39;m following and sharing material with some extrodinarily interesting people from around the world, and am learning a lot.</p>
<p>This isn&#39;t to say Google Reader is perfect; in fact if it came down to just the user interfaces I&#39;d still say IAC&#39;s <a href="http://bloglines.com/">Bloglines</a> has it beat. Comparisons aside, here&#39;s a laundry list of features I&#39;d like to see:</p>
<dl>
<dt style="font-weight:bold">Auto posting of comments</dt>
<dd>If someone posts a note about one of your posts in their shared items, it’d be nice if Google reader could leave a trackback link on your blog or even post the comment itself on your blog. I understand if such a system would have to be opt-in, and I understand people should have the ability to block their notes from being sent too if they want to remain private. I just feel as though I might be missing out on some good discussion here by people who don’t use Google Reader.</dd>
<dt style="font-weight:bold">Easier friend adding</dt>
<dd>It seems a bit counter intuitive and convoluted that I needed to have communicated with someone using their Gmail account before a person gets added to my Google Reader &quot;friends&quot; section. If someone is using Google Reader, they MUST have a Google account… so why can’t I, a fellow Google account holder, just press a &quot;Request Friendship&quot; button on their shared items page? Why must it go through Gmail at all?</dd>
<dt style="font-weight:bold">A non-Ajax version</dt>
<dd>I really dislike using pages with lots of Ajax. I don’t agree with the currently held idea that Ajax makes pages more accessible and easier to use… I know I’m in the minority though. Still, couldn’t we have a regular HTML version that works as you would expect?</dd>
<dt style="font-weight:bold">Less iPhone crashing</dt>
<dd>The iPhone version of Google Reader is very slick and easy to use, which makes it great for reading feeds even when I’m on the train! What’s irritating though is it’s one of the few web pages that consistently crashes my iPhone and I don’t know why. It’s probably got something to do with downloading too many elements at the same time.</dd>
<dt style="font-weight:bold">A dark background with light text</dt>
<dd>A simple little toggle button, for those of us who read our Google Reader feeds first thing in the morning and who’s eyes aren’t ready for the onslaught of &quot;blazing white&quot;?</dd>
<dt style="font-weight:bold">A Google Reader… Reader</dt>
<dd>It’d be nice if you could click a button to get a cute person to read your posts for you :)</dd>
<dt style="font-weight:bold">Battery charging ability, coffee generation</dt>
<dd>Whether I’m using Google Reader on my mammoth MacBook Pro, my tiny retro but better-than-a-netbook Armada M300 or my iPhone, I should be able to have it charge my device while I use it. And if browsing on a desktop, the extra energy should feed back into the power grid to supplement my bills. As an extra perk (ha!) it’d be great if it could brew coffee too.</dd>
<dt style="font-weight:bold">Ability to filter huge animated GIFs</dt>
<dd>It surprises me how many people include huge (filesize and dimensions) animated GIFs in their feeds. It’d be nice to turn them off without turning all images off.</dd>
<dt style="font-weight:bold">Automatic blog publishing</dt>
<dd>If you browse my <a href="http://del.icio.us/rubenerd">del.icio.us</a> category, you can see all the posts that del.icio.us generated for me automatically each day with the links I saved back in 2006. I stopped using it because having a post with just a bunch of links didn’t seem that useful. If Google Reader though could automagically create a blog post with links to each article you’ve commented on along with said comments each day, that’d be fantastic.</dd>
<dt style="font-weight:bold">SMS or Twitter alerts</dt>
<dd>It’d be great if I could tell Google Reader to send me a text message or a Twitter tweet every time a particular phrase or keyword is mentioned. I’d love to be one of the first to see a post about what a moron &quot;Ruben Schade&quot; is.</dd>
<dt style="font-weight:bold">People recommendations</dt>
<dd>Google Reader already suggests blogs you may be interested in, why not extend this to people’s shared items you may be interested in?</dd>
<dt style="font-weight:bold">Simple rating system</dt>
<dd>If you didn’t have time to write a comment on a shared story, it’d be great if you could just hit a <em>&quot;Thumbs Up!&quot;</em> or <em>&quot;Thumbs Down&quot;</em> button or link. I emulate this to a certain extent with some of my Google Reader tags such as <em>&quot;corruption&quot;</em>, <em>&quot;funny&quot;</em> and <em>&quot;wish-I-was-as-cool-as-Jimbob-and-Kelli-and-Atuu-and-…&quot;</em></dd>
</dl>
<p>If you have any ideas of your own, or if you&#39;ve talked about a Google Reader wishlist on your blog, feel free to leave a comment. Grilled cheese sandwiches.</p>
 
