---
title: 'David Letterman’s Late Show Fun Facts arrived!' 
date: "2008-11-18T02:39:50+10:00"
year: "2008"
category: Media
tag:
- david-letterman
- shopping 
---
<p><a href="https://www.flickr.com/photos/rubenerd/3038973747/" title="Amazon shipment arrived! by rubenerd, on Flickr"><img src="http://farm4.static.flickr.com/3021/3038973747_23915e590f.jpg" width="500" height="375" alt="Amazon shipment arrived!" /></a></p>
<p>I&#39;ve been ordering a lot of items off the intertubes over the last month: a <a href="//rubenerd.com/show256/">Moleskine book</a>, a university textbook I was able to get at half price compared to the book shop here, Girls for Dummies (is there such a thing?), but all these pale in comparison to the shipment I received today from Amazon.com which included a book for my sister and my very own copy of <em>Late Show Fun Facts</em>!</p>
<p>Now dear reader you may be asking yourself why someone like me would spend over twenty dollars in shipping for two hard cover books, and the answer may shock you. Unfortunately as far as I know, books by David Letterman are unavailable at bookshops in Australia. I tried the Borders in Rundle Mall, Angus and Robertson, Dymocks, the Pancake House on Hindley Street, nothing!</p>
<p>The brach of the American Borders book chain and the gigantic Japanese Kinokuniya in Takashimaya in Singapore claimed the book was available, but was perennially out of stock. Interesting considering the Late Show with David Letterman isn&#39;t shown on any free-to-air or cable TV station in Singapore! My theory is so many people from Singapore (I guess I could count myself in here too) study in Australia and the US where Dave is shown every late night when university students would be up, he&#39;s developed a cult following. There&#39;s a Fun Fact for you right there!</p>
<p><img style="display:inline; width:500px; height:310px;" src="https://rubenerd.com/files/uploads/screenie.small.letterman.jpg" alt="Screenshot of the Late Show from my TV tuner running in the background at 1/2 size. " /><br />
<cite>Screenshot of the Late Show from my TV tuner running in the background at 1/2 size. A little Letterman :)</cite></p>
<p>The Late Show with David Letterman previously aired on Channel Nine here in Australia but he was generally axed from the late night lineup whenever there was a show they had to run long, or if there was a special on something else. Not only that, but the episodes tended to be played completely out of order, and generally weeks out of date. Since Network Ten picked it up, they run the latest episode from the US which aired the previous night (given the timezone difference) at 23:15.</p>
<p>Now if only Aussie bookstores started stocking Dave&#39;s works, and if Network Ten didn&#39;t play advertisements at all so we could hear Paul Schaffer and his fabulous CBS orchestra I&#39;d be an even happier guy!</p>
<p>In the meantime I&#39;ll be carrying my copy of Fun Facts from the American Federal Bureau of Miscellaneous Information everywhere and will be reading them to everyone. And I mean <em>everyone</em>. Except maybe the train and bus drivers, they probably shouldn&#39;t be distracted. I mean, I know they&#39;d be fascinated to know that only six people live in Wyoming, or that the smallest bunch of bananas ever recorded was one banana, but I also value my life. And my copy of Fun Facts.</p>
<h3>Procurement of said book</h3>
<p>If you live in Australia or another part of Asia your best bet to get a copy of Fun Facts is from the <a href="http://amazon.co.jp/Late-Show-Facts-David-Letterman/dp/1401323073/ref=sr_1_1?ie=UTF8&#038;s=english-books&#038;qid=1226567217&#038;sr=8-1">Japanese Amazon</a> website because the shipping is a fraction of the price… of course I only found that out AFTER I bought mine from the <a href="http://www.amazon.com/Late-Show-Facts-David-Letterman/dp/1401323073/ref=pd_bbs_sr_1?ie=UTF8&#038;s=books&#038;qid=1226969560&#038;sr=8-1">American Amazon</a> site. Fun Fact! If you&#39;re in the UK <a href="http://www.amazon.co.uk/Late-Show-Fun-Facts-Letterman/dp/1401323073/ref=sr_1_1?ie=UTF8&#038;s=books&#038;qid=1226969602&#038;sr=8-1">they also stock it</a>.</p>
<p>And of course don&#39;t forget: Edison was not only the <em>inventor</em> of the lightbulb, but he was also the first person to <em>change</em> a lightbulb! You read it here first! Unless you have a copy of David Letterman&#39;s Late Show Fun Facts.</p>
 
