---
title: 'Nostalgic for credit crunch days' 
date: "2008-11-18T03:08:19+10:00"
year: "2008"
category: Thoughts 
tag: 
- australia
- banks
- credit-unions
- economics 
---
<p><img src="http://farm3.static.flickr.com/2077/2135074572_c3d5fb17a3.jpg" alt="Two of the big Aussie banks in Adelaide by Dodge 76" style="height:500px; width:375px" /><br />
<cite>Two of the big Aussie banks on an appropriately overcast Adelaide morning, by <a href="https://flickr.com/photos/dodge76/sets/72157601241522720/">Dodge 76</a></cite></p>
<p>Is it just me or does anyone else long for the days when we were just experiencing a  &quot;credit crunch&quot; and banks around the world were figuring out how to work around it because they didn&#39;t think at the time that they&#39;d be getting a trillion dollar free lunch to make up for their incompetence?</p>
<p>Here in Australia our banks are in good shape, out of the top ten most profitable banks around the world four are Australian and the world&#39;s most &quot;sustainable&quot; bank is Westpac. Still even our government here has now created a guarantee for all deposits in banks, credit unions, building societies and other such financial institutions. I&#39;m with a credit union and trust their operation, but I can&#39;t help but think the promise that they can&#39;t fail might cause our banks here to become a tad cocky and lax. I mean, what&#39;s the point of maintaining fiscal prudence and good judgement if you know that the government will bail you out anyway? Reputation will be damaged? Ha!</p>
<p>I went with a credit union in Australia simply because they treat you like a human. The branch of the <a href="http://accu.com.au/">Australian Central Credit Union</a> (the <em>largest</em> credit union in the state of South Australia… oh you&#39;d better believe it!) I opened my account at has squishy sofa chairs next to low tables which you sit at when meeting a teller; and there are almost never any queues at all, and if there is it&#39;s never more than two or three people. Compare that to the banks I&#39;ve had experience with here where four out of the five teller booths are often closed and the lines extend out the door, down the street and into idling buses and trams which can&#39;t leave because there&#39;s a line of queued people across the road… I forgot where I was going with this.</p>
<p><a href="https://www.flickr.com/photos/rubenerd/1760044023/" title="Singapore Mac OS X Leopard launch! by rubenerd, on Flickr"><img src="http://farm3.static.flickr.com/2356/1760044023_94e5ac2e40.jpg" width="500" height="375" alt="Orchard Road, Singapore" /></a><br />
<cite>Photo of a now vacated DBS branch on Orchard Road, next to Wheelock Place. From my <a href="https://flickr.com/photos/rubenerd/sets/72157602223793366/">Singapore night Flickr gallery</a>.</cite></p>
<p>Then there was the case of DBS (the Development Bank of Singapore) which owns POSB (the Post Office Savings Bank) which I&#39;ve had an account with since I was 12. Fun story, I&#39;ll have to talk about it here at some point. Anyway, DBS branches in Singapore are generally staffed with friendly people but the queues have only been increasing because they keep closing branches. When they closed their branch next to Wheelock Place where the Borders is, an Apple shop is and where it&#39;s next to a Starbucks, at just down the road from where our apartment building is, I thought the world was coming to an end. Perhaps I should read some Fun Facts from my <a href="//rubenerd.com/p2962/">Late Show Fun Facts</a> book from the American Federal Bureau of Miscellaneous Information to cheer me up.</p>
<blockquote><p><strong>DAVID LETTERMAN LATE SHOW FUN FACT:</strong> Did you know that Apple has spent over $200 million developing a wooden iPod for the Amish?</p></blockquote>
<p>My point is, why have credit unions figured out how to work with customers while banks haven&#39;t? Is it as soon as you have shareholders you have to start thinking about them instead of your customers? As usual I think I just answered my own question.</p>
 
