---
title: 'Western Digital Scorpio Black 298GiB goodness' 
date: "2008-11-21T06:50:05+10:00"
year: "2008"
category: Hardware 
tag:
- apple
- hard-drives
- infocomm
- macbook-pro
- shopping
- western-digital
- western-digital-scorpio-black 
---
<p><img src="https://rubenerd.com/files/uploads/photo.wd3200bjkt.jpg" alt="My new Western Digital Scorpio Black 298GiB (320GB) notebook drive" style="width:500px; height:375px" /><br />
<cite>My new Western Digital Scorpio Black 298GiB (320GB) notebook drive</cite></p>
<p>I seem to be starting an alarming number of my posts with the exact same four words: <em>&quot;In a previous post…&quot;</em>. I was able to buck this alarming trend in   this post however by presenting this largely superfluous paragraph instead.</p>
<p>As I&#39;ve mentioned on a previous post (<cite><a href="//rubenerd.com/p1840/">My kingdom for a bigger notebook hard drive</a></cite>), despite having numerous gigabit ethernet and FireWire external hard drives with space to spare, I still have lots of trouble with maintaing a decent amount of free space on the internal drive on this MacBook Pro. No matter how much I try to utilise external drives, their bandwidth and transfer rates simply don&#39;t cut it when it comes to encoding huge swaths of video or compiling source code on gargantuan study projects, or for ports such as KDE. I find external drives to be invaluable for backup and archival purposes, but they&#39;re just not practical for heavy on-the-fly usage; perhaps if I bought a eSATA or FireWire 800 ExpressCard and bought new cases for my existing drives it may improve the situation, but I suspect they&#39;d still be handicapped. And it&#39;d cost a bundle!</p>
<p>So far I&#39;ve had two internal hard drive changes in this MacBook Pro since I bought it back in 2006. It&#39;s become almost a yearly tradition!</p>
<ol>
<li>The original drive was the optional <strong>91.13GiB</strong> (<em>100GB</em>) unit Apple shipped with my then-new new MBP which was smaller than the stock <strong>111.76GiB</strong> (<em>120GB</em>) but it was 7200RPM not 5400RPM. More on that below.<p></p></li>
<li>The second drive was a Western Digital <strong>149.01GiB</strong> (<em>160GB</em>) 7200RPM unit (WD1600BEVS) which was bought in Imbi Plaza in Kuala Lumpur during my family’s one year stint in Malaysia in 2007; this is the drive I’ve had the longest.
<p></p></li>
<li>My fabulous father bought my latest drive during his latest East Asian business trip to Korea and Japan. The drive is a gloriously roomy <a href="http://www.wdc.com/en/products/products.asp?driveid=477">Western Digital Scorpio Black</a> <strong>298.02GiB</strong> (<em>320GB</em>) 7200RPM unit (WD3200BJKT) with 16MiB of onboard cache, a free fall sensor and is advertised as being ultra quiet in operation, as energy efficient as a 5400RPM drive and supports a 3Gb/s transfer rate; the latter three I’ll be checking out myself in due course.</li>
</ol>
<p><img src="https://rubenerd.com/files/uploads/wdfScorpioBlack_BJKT.jpg" style="height:272px; width:176px; float:right; margin:0 0 10px 20px;" alt="" />I&#39;ve had people tell me in as many words I&#39;m stupid for buying 7200RPM notebook drives because they drastically increase heat and reduce battery life, but having used them successfully in iBooks, Armadas, ThinkPads and MacBook Pros for over four years now, I officially call BS. The difference in battery power is negligible to nil; the brightness you set your screen and whether or not you&#39;re using WiFi would have a far greater impact. As for heat, also negligible difference. In fact I can confirm with a laser heat thermometer I borrowed from my Father&#39;s lab at one point that a new 7200RPM drive in my old iBook actually ran <em>cooler</em> than the 5400RPM drive it replaced.</p>
<p>7200RPM drives are definitely worth it, the transfer rates and general responsiveness with applications is noticeably better, and if you&#39;re serious about using your laptop as a production machine for compiling code or video rendering/encoding it&#39;s an absolute must. If you have an older laptop the difference in performance is even greater, my beautiful iBook G3 from 2002 felt noticeably quicker after a 7200RPM drive upgrade, similar story with my retro svelte Armada M300.</p>
<p>I wonder what the capacity of the drive I buy in 2009 will be? Will they have 30TB drives by then you reckon?</p>
 
