---
title: 'Installing Alpine on Mac OS X' 
date: "2008-11-27T05:52:17+10:00"
year: "2008"
category: Software
tag:
- alpine
- bsd
- email
- guide
- howto
- infocomm
- mac-os-x
- netbsd
- pine
- pkgsrc 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.macports.alpine.png" alt="Build options available for Alpine in MacPorts" style="display:inline;height:180px;width:500px" /><br />
<cite>Build options available for Alpine in MacPorts</cite></p>
<p>I&#39;ve been asked by a few people <a href="http://twitter.com/rubenerd/">on Twitter</a> how I installed the lightweight <a href="http://www.washington.edu/alpine/">Alpine</a> console based email client on my Mac. Alpine of course is the current version of the pine email software that <a href="http://en.wikipedia.org/wiki/Pine_(e-mail_client)#Licensing_and_clones">addressed some concerns about licencing</a>. I love Alpine, and the logo reminds me of the classic Altavista :).</p>
<p>As with most free and open source software, by far the easiest way to get it running is just to install it from a package manager. You can go ahead and <a href="http://www.washington.edu/alpine/acquire/">fetch the source tarball</a> and do the usual <code>./configure</code>, <code>make</code>, <code>make install</code> and <code>make clean</code>, but it does have several dependencies which in turn have several dependencies. You know what I mean.</p>
<dl>
<dt style="font-weight:bold">MacPorts</dt>
<dd>For <a href="http://macports.org/">MacPorts</a>, grab yourself the <a href="http://www.macports.org/install.php">latest version</a> and install just as you would any other Mac software that uses a setup assistant. Once you’re up and running it’s simply a matter of firing up your Terminal.app and entering in <code style="white-space:nowrap"># port -v install alpine</code>.
<p>By entering <code style="white-space:nowrap"># port variants alpine</code> you can see all the custom options you can set. If you want to compile Alpine with one or more of these custom options, use the same install command above but append the options you want with plus signs. For example, if I wanted password files support I’d enter <code style="white-space:nowrap"># port -v install alpine +passfile</code>.</dd>
<dt style="font-weight:bold">Fink</dt>
<dd>I haven’t used <a href="http://www.finkproject.org/">Fink</a> myself much, but according to their online package manifest <a href="http://pdb.finkproject.org/pdb/package.php/alpine">it is available</a>.</dd>
<dt style="font-weight:bold">NetBSD’s pkgsrc</dt>
<dd>If you use <a href="http://netbsd.org/docs/software/packages.html">pkgsrc</a> for Mac OS X/Darwin, Alpine can be found in the <a href="http://pkgsrc.se/mail/alpine"><code style="white-space:nowrap">./mail/alpine</code></a> directory in your pkgsrc tree. Once you’re in the right directory, it’s the usual routine of <code style="white-space:nowrap"># bmake install clean clean-depends</code>. As with all pkgsrc packages on OS X, remember to use <code>bmake</code> <strong>NOT</strong> <code>make</code> otherwise it won’t work.
<p>If you’re interested in trying the sophisticated and elegant pkgsrc system on your Mac, <a href="//rubenerd.com/p2595/">I wrote up a tutorial in a previous post</a> you can use to get yourself up and running with it.</dd>
</dl>
<p>Happy emailing!</p>
 
