---
title: 'It started as a post about drafts!' 
date: "2008-12-06T09:30:23+10:00"
year: "2008"
category: Internet
tag:
- astroturfing
- drafts
- infocomm
- too-much-information
- weblog 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.wordpress.drafts.png" alt="Oh… CRAP!" style="height:170px; width:500px; display:inline;" /><br /><cite>Oh… CRAP!</cite></p>
<p>A lot of the time when I create a blog post it&#39;s not an instantaneous event; often I let it stew for a while in the Drafts folder before I submit it. By doing this, I feel I can approach issues more objectively and can write better guides because I have more time to think. Unfortunately some of the posts I create using this system never get published; I have well over a hundred of such half baked posts sitting in my Drafts folder… and I assume all but the most casual bloggers are in the same boat.</p>
<p>Unfortunately it&#39;s not so easy to simply go back at a later date and finish these forgotten posts if you want to maintain a certain level of integrity. If the post was about a current event or if it was a prediction, you could theoretically finish it at a much later date and submit it with the original time stamp, but that strikes me as being dishonest.</p>
<p><a href="//rubenerd.com/category/technology/how-to/">How-to posts</a> are somewhat immune from time delays because if an idea was useful before, it may still be useful later. If the post was regarding a bug or older software though it may simply not be relevant anymore, but then again the same could be said for other how-to posts that a person actually went ahead and submitted.</p>
<p>Depending on how you look at it, opinion pieces (such as this nonsensical post you&#39;re reading now) could in fact end up better if they&#39;re left to sit for a while for the reason I gave at the top. I think opinions in their nature are immune to time perhaps not in their views (such as opinions of slavery) but as a way to document how people thought before and since. I&#39;ve drastically changed my opinions and views since starting this iteration of this blog in early 2006 which makes reading these older posts that much more fun. If you return to edit a post that you left for a long time though, you may find your views have changed, and if you submitted that post with the original time stamp, you&#39;re not being honest.</p>
<p><img src="https://rubenerd.com/files/uploads/anime.onegai.teacher.jpg" alt="I'm sure he has a point in here somewhere…" style="height:350px; width:500px; display:inline;" /><br /><cite>I&#39;m sure he has a point in here somewhere…</cite></p>
<p>In perhaps a hypocritical way, I have no problem with integrating complete posts from other blogs into another one complete with the original time stamps, because people have read and seen them before and you know you&#39;re being genuine. I&#39;ve been doing this myself with posts from my earlier blogs such as my <a href="//rubenerd.com/category/pre2006/">RapidWeaver blog and my Perl blog</a>, and at some point I hope to have all my old material on here… once I find them from my backups! What I am careful to do though is to <strong><em>mark these posts clearly</em></strong> as being from other sites of mine, rather than trying to pass them off as material from the same maintained site.</p>
<p>If you really had no life you could use this loophole to generate page after page of falsified posts with fake timestamps to make it look as though you&#39;d been blogging for much longer than you really have, but I suspect people who had been active on the net at that time period could pretty easily pick inconsistencies (for example, I&#39;ve seen a blogger who claimed to have been writing about the MacBook Pro since 2004. The MacBook Pro came out in 2006).</p>
<p>I know plenty of people who claim the internet can&#39;t be trusted because there are so many fake people, but as with any publishing system, I believe people judge your site for integrity and honesty, and choose to read it as a result. Astroturfers (<a href="http://en.wikipedia.org/wiki/Astroturfing">Wikipedia explanation</a>) are generally hung from the highest tree and ridiculed to death when they&#39;re discovered, and word travels <strong><em>fast</em></strong>!</p>
<p>I guess what I meant to say in this post was that I have far too many draft posts and no real idea what to do with them. As I do with posts I import, perhaps the solution to this problem is not to finish and publish old posts with the original time stamp, but to post them with a current time stamp and preface them with a clear explanation.</p>
<p>I value honesty online, perhaps that makes me old fashioned. If so, I&#39;d best be off to listen to my Rat Pack CDs, no my Rat Pack LPs, while I clean my monocle, have a cup of tea and choose which sleeveless vest to wear under my dark grey pinstriped suit, I say, what ho.</p>
 
