---
title: 'Making Firefox 3 look like a Mac browser' 
date: "2008-12-09T02:01:58+10:00"
year: "2008"
category: Software
tag:
- browsers
- camino
- firefox
- infocomm
- mac-os-x
- mozilla
- themes 
---
<p><img src="https://rubenerd.com/files/uploads/screenie.macbrowsericons.png" style="height:206px; width:500px; display:inline; border:0px;" alt="" /></p>
<p>In response to <a href="//rubenerd.com/p3573/">Google Reader&#39;s altered interface</a> that made it much more difficult to use, I&#39;ve reluctantly started using <a href="http://getfirefox.com/">Mozilla Firefox</a> as my primary browser on my MacBook Pro again. My opinion that Camino is the single greatest Mac browser on the planet remains unchanged, but for the time being I need a browser that has Greasemonkey or other user scriptable capabilities <a href="//rubenerd.com/p3580/">so I can keep using Reader</a>.</p>
<p>Having really only used the Firefox 3.x series lightly in the past, moving over to it now made my appreciate how un-Mac like the interface has become and how much extra screen real estate it takes up without any discernible extra functionality when compared to <a href="http://www.apple.com/safari/">Safari</a> or Camino with <a href="http://willmore.eu/software/unifycamino/">UnifyCamino</a>. Fortunately Firefox is skinnable, so I figured I could make it look more like a Mac app and reclaim some screen real estate. Unfortunately there were so many different Mac-like skins in Mozilla.org&#39;s Add-on database I didn&#39;t know where to start!</p>
<blockquote><p><strong>ASIDE:</strong> I never thought I’d use the words &quot;fortunately&quot; and &quot;skinnable&quot; in the same sentence! It seems with Gmail, Google Reader and Firefox I’m using their skinning features to return them to a previous state when they were far more usable. It’s kind of ironic when you think about.</p></blockquote>
<p>After installing and uninstalling theme after theme (after theme after theme…), I narrowed down what I consider to be the best authentic looking Mac themes to this handful here.</p>
<dl>
<dt style="font-weight:bold">Default Firefox 3.x theme</dt>
<dd>I figured I’d put the default Safari and default Firefox 3.x theme here for comparison.
<p><img src="https://rubenerd.com/files/uploads/screenie.firefoxtheme.default.png" style="height:180px; width:420px; display:inline; border:0px;" alt="" /></p></dd>
<dt style="font-weight:bold">GrApple Yummy <a href="https://addons.mozilla.org/en-US/firefox/addon/6704">Blue</a> and <a href="https://addons.mozilla.org/en-US/firefox/addon/7525">Graphite</a></dt>
<dd>These themes by  <a href="https://addons.mozilla.org/en-US/firefox/user/888">Aronnax</a> from <a href="http://takebacktheweb.org/">TakeBackTheWeb.org</a> are perfect: they reclaim veritable swaths of screen real estate (say what?) and they make Firefox look Safari and Mac like. The Firefox team needs to include this as the default theme.
<p><img src="https://rubenerd.com/files/uploads/screenie.firefoxtheme.yummy.png" style="height:180px; width:420px; display:inline; border:0px;" alt="" /></p></dd>
<dt style="font-weight:bold">GrApple Delicious <a href="https://addons.mozilla.org/en-US/firefox/addon/6703">Blue</a> and <a href="https://addons.mozilla.org/en-US/firefox/addon/7524">Graphite</a></dt>
<dd>Variations on the above themes with more traditional Mac tabs. I prefer the above because they’re smaller and look more modern, but you may Think Different.
<p><img src="https://rubenerd.com/files/uploads/screenie.firefoxtheme.delicious.png" style="height:180px; width:420px; display:inline; border:0px;" alt="" /></p></dd>
<dt style="font-weight:bold">Camifox for <a href="https://addons.mozilla.org/en-US/firefox/addon/7527">3.1b1</a> and for <a href="https://addons.mozilla.org/en-US/firefox/addons/versions/7527">3.0.x</a></dt>
<dd>This theme uses the same gorgeous colours and icons of Camino, though it takes up a bit more screen real estate. It certainly is tempting though :)
<p><img src="https://rubenerd.com/files/uploads/screenie.firefoxtheme.camifox.png" style="height:180px; width:420px; display:inline; border:0px;" alt="" /></p></dd>
</dl>
 
