---
title: 'Scripts to make Google Reader usable again!' 
date: "2008-12-07T02:00:29+10:00"
year: "2008"
category: Internet
tag:
- browsers
- firefox
- google
- google-reader
- greasemonkey
- infocomm 
---
<p><a href="//rubenerd.com/files/uploads/screenie.newreader.standard.png"><img src="https://rubenerd.com/files/uploads/screenie.newreader.standard.thumb.png" alt="The new Google Reader interface" style="height:244px; width:420px; display:inline;" /></a><br /><cite>The new Google Reader interface</cite></p>
<p>I was really worried I was going to have to ditch <a href="http://reader.google.com/">Google Reader</a> because the new blazing white interface with heavy black text was just too difficult to look at as I mentioned yesterday (<a href="//rubenerd.com/p3573/">Google Reader takes a turn for the bland</a>).</p>
<p>Fortunately some quick thinking people have created some great scripts that make me remember why I love <a href="https://addons.mozilla.org/en-US/firefox/addon/748">Greasemonkey</a>! If you do a search for &quot;Google Reader&quot; on <a href="http://userstyles.org/styles/search/google%20reader">UserStyles.org</a> or <a href="http://userscripts.org/scripts/search?q=google+reader">UserScripts.org</a> there are hundreds of scripts you can install with two clicks, many of which have been hastily updated to work with the new interface.</p>
<p>If you use Greasemonkey and were also put off by the new Google Reader interface, give these scripts a try:</p>
<dl>
<dt style="font-weight:bold"><a href="http://userstyles.org/styles/12673">Google Reader (12/05/2008) Tweaks</a></dt>
<dd>This script by <a href="http://userstyles.org/users/2945">trashrockx</a>  reintroduces colour on the sidebar and other elements to decrease the contrast back to the level it was before. It quite literally makes Google Reader usable again!
<p><a href="//rubenerd.com/files/uploads/screenie.newreader.tweaks.png"><img src="https://rubenerd.com/files/uploads/screenie.newreader.tweaks.thumb.png" alt="Google Reader with Google Tweaks" style="height:244px; width:420px; display:inline;" /></a></p></dd>
<dt style="font-weight:bold"><a href="http://userscripts.org/scripts/show/29330">Google Reader vertical space maximiser</a></dt>
<dd>This script  by <a href="http://userscripts.org/users/1552">Simon Lieschke</a> removes everything above the feed heading bar which gives you <strong>MUCH</strong> more space for feed items. I tend to use the Search box a lot myself, but if you never do you may want to check this out.
<p><a href="//rubenerd.com/files/uploads/screenie.newreader.full.png"><img src="https://rubenerd.com/files/uploads/screenie.newreader.full.thumb.png" alt="Google Reader with vertical space maximiser" style="height:244px; width:420px; display:inline;" /></a></dd>
<dt style="font-weight:bold"><a href="http://userscripts.org/scripts/show/38142">Another Dark Google Reader Style</a></dt>
<dd>This updated script by <a href="http://userscripts.org/users/73533">KullDox</a> inverts the background which is much easier on the eyes first thing in the morning and late at night. I like to toggle between this and the first colour scheme above during the day.
<p><a href="//rubenerd.com/files/uploads/screenie.newreader.dark.png"><img src="https://rubenerd.com/files/uploads/screenie.newreader.dark.thumb.png" alt="Google Reader with Another Dark Google Reader Style" style="height:244px; width:420px; display:inline;" /></a></p></dd>
</dl>
<p>If you have any cool Google Reader Greasemonkey script ideas, post a comment :-).</p>
 
