<!--<footer>
	<p id="rumination">Start acting like your life matters. ~ Merlin Mann</p>
</footer>-->

{{ safeHTML "<!-- This is the end of the page. There isn't any more. です ************ -->" }}
</body>
</html>
