<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ .Site.LanguageCode }}" lang="{{ .Site.LanguageCode }}">
<head data-awareness="Bird is the Word">

{{ safeHTML "<!-- Welcome to Rubenerd.com! です ************************************** -->" }}
<title>{{ site.Title }}{{ if not .IsHome }}: {{ .Title }}{{ end }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0" />
<link rel="stylesheet" href="{{ absURL "/screen.css" }}" />
<link rel="alternate" type="application/rss+xml" href="{{ absURL "/feed/" }}" title="{{ .Site.Title }} feed" />
<link rel="alternate" type="application/rss+xml" href="{{ .Site.Params.Podcast.Feed }}" title="{{ .Site.Params.Podcast.Title }} feed" />
<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}apple-touch-icon.png" />
<link rel="author" href="{{ .Site.Params.Author.Home }}" title="{{ .Site.Params.Author.First }} {{ .Site.Params.Author.Last }}" />
<link rel="help" href="{{ .Site.BaseURL }}faqs/#reading" title="How to read {{ .Site.Title }}" />
<link rel="me" href="{{ .Site.Params.Author.Mastodon }}" />
<link rel="image_src" href="{{ with .Params.Thumb }}{{ . }}{{ else }}{{ absURL .Site.Params.Logo }}{{ end }}" />
<meta name="author" property="dc.creator" content="{{ .Site.Params.Author.First }} {{ .Site.Params.Author.Last }}" />{{ if or (eq .Type "post") (.IsHome) }}
<meta name="copyright" property="dc.rights" content="© {{ .Site.Params.Author.First }} {{ .Site.Params.Author.Last }} unless otherwise stated." />
<meta name="date" property="dc.date" {{ printf "content=\"%s\"" (.Date.Format "2006-01-02T15:04:05-07:00") | safeHTMLAttr }} />{{ end }}
<meta name="description" property="dc.description" content="{{ if .Params.Abstract }}{{ safeHTML .Params.Abstract }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
<meta name="generator" content="Hugo and Vim" />
<meta name="keywords" property="dc.subject" content="{{ if .Params.Tag }}{{ with .Params.category }}{{ lower . }}{{ end }},{{ delimit .Params.Tag "," }}{{ else }}{{ .Site.Params.Keywords }}{{ end }}" />
<meta name="language" property="dc.language" content="{{ .Site.LanguageCode }}" />
<meta name="url" property="dc.identifier" content="{{ .Permalink }}" />
</head>

{{ if or (.IsHome) (eq .Type "post") }}{{ safeHTML "<!-- Page starts です *************************************************** -->" }}
{{ end }}<body id="page-{{ if .IsHome }}home{{ else }}{{ urlize .Title }}{{ end }}">
