{{ partial "head.html" . }}
{{ safeHTML "<!-- Header です ******************************************************** -->" }}
<header id="site-header">
<h1 id="site-title"><a href="/">{{ .Site.Title }} <img aria-hidden="true" src="/logo.svg" alt="" /></a></h1>
<a id="skip" href="#content">Skip to content</a>
<div id="site-description">{{ .Site.Params.Description }}</div>
</header>

{{ safeHTML "<!-- Navigation です **************************************************** -->" }}
<nav id="site-navigation">
<ul>{{ range .Site.Menus.header }}
<li><a href="{{ .URL }}">{{ .Title }}</a></li>{{ end }}
</ul><div id="widgets">
<a href="/about/#mascot" title="Rubi, by Clara"><img src="https://rubenerd.com/files/2022/rubi2022@1x.png" style="width:100px;" srcset="https://rubenerd.com/files/2022/rubi2022@2x.png 2x" alt="Rubi, by Clara" /></a><br/>
</div>
</nav>

{{ safeHTML "<!-- Content starts です ************************************************ -->" }}
<main id="content">
