<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" {{ with .Site.Params.Rumination }}data-message="{{ . }}"{{ end }}>


{{ partial "head.html" . }}
{{ partial "meta.html" . }}
{{ partial "schema.html" . }}

{{ safeHTML "<!-- Page starts now です~ ************************************************ -->" }}
<body id="top">


{{ safeHTML "<!-- Header and description です ****************************************** -->" }}
{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<hr />{{ safeHTML "<!-- Content starts now です~ *************************************** -->" }}
<main id="content">
{{ block "main" . }}{{- end }}


{{ partial "footer.html" . -}}
</body>
</html>
