{{ define "main" }}

<div class="post archive-{{ urlize .Title }}" id="archive">
{{ if eq .Title "Show" }}{{ partial "show.html" }}{{ else if eq .Title "Annexe" }}{{ partial "annexe.html" }}{{ else }}
<h2><em>{{ replace .Title "-" " " }}</em> post archive</h2>
{{ end }}

{{ if eq .Title "Tag" }}
<p>These are all the tags to which posts have been assigned. Archives for <a href="/location/">locations</a> and <a href="/archives/">other taxonomies</a> also exist.</p>
<ul>{{ range .Data.Pages.ByTitle }}
<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
</ul>
{{ else if eq .Title "Category" }}
<p>These are all the categories in which posts have been written. Archives for <a href="/tag/">tags</a> and <a href="/location/">locations</a> also exist.</p>
<ul>{{ range .Data.Pages.ByTitle }}
<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
</ul>
{{ else if eq .Title "Location" }}
<p>These are the locations in which posts have been written. It's incomplete because I haven't backfilled every post yet! Archives for <a href="/tag/">tags</a> and <a href="/archives/">other taxonomies</a> also exist.</p>
<ul>{{ range .Data.Pages.ByTitle }}
<li><a href="{{ .Permalink }}">{{ replace .Title "-" " " }}</a></li>{{ end }}
</ul>
{{ else }}
<p></p>
<ol>{{ range .Data.Pages }}
<li><time>{{ .Date.Format "2006-01-02" }}</time> <a href="{{ .Permalink }}">{{ replace .Title "Rubenerd Show" "Show" }}</a></li>{{ end }}
</ol>{{ end }}

</div>

</main>
{{ end }}
