{{ define "main" }}
<article class="post">
{{ if eq .Section "post" }}{{ printf "<time id=\"post-date\" datetime=\"%s\">" (.Date.Format "2006-01-02T15:04:05-07:00") 
    | safeHTML }}{{ .Date.Format "Monday, 02 January, 2006" }}</time>{{ end }}
<h2 class="post-title">{{ .Title }}</h2>
<div class="post-content">
{{ .Content }}</div>
</article>


<hr />{{ safeHTML "<!-- ******************************** -->" }}

{{ if eq .Section "post" }}
{{ partial "bio.html" . }}


<hr />{{ safeHTML "<!-- End of page content です~ ************************************** -->" }}
</main>


<hr />{{ safeHTML "<!-- Pagination for posts です~ -->" }}
<nav id="pagination">{{ if .NextPage }}
Newer post <span aria-hidden="true" class="page-arrow">&larr;</span> <a href="{{ .NextPage.Permalink }}">{{ .NextPage.Title }}</a>{{ end }}{{ if .PrevPage }}
<br />Older post <span aria-hidden="true" class="page-arrow">&rarr;</span> <a href="{{ .PrevPage.Permalink }}">{{ .PrevPage.Title }}</a>{{ end }}
</nav>{{ end }}


<hr />{{ safeHTML "<!-- ******************************** -->" }}
{{ end }}
