@charset "utf-8";

/******************************************************
 *  "DATE WITH RUBI" THEME						      *
 *  Named for the bishoujo mascot Clara drew for me!  *
 *  Aggregates posts based on dates, like a journal   *
 *  https://rubenerd.com/							  *
 ******************************************************/


/***** BLOCKS です********************************************************/
html, body, h1, h2, h3, form, fieldset {
	border:0;
	margin:0;
	padding:0;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, 
menu, nav, section {
	display: block;
}


/***** TOP です***********************************************************/
html {
	font-family:"Helvetica Neue","Liberation Sans",Arial,sans-serif;
	font-size:1em;
	padding:40px 40px 240px 40px;
}
body {
	background:#ffffff url("/rubi@1x.jpg") fixed no-repeat;
	background-position:right 30px top 30px;
	width:580px;
}
pre, code {
	font:0.9em "Liberation Mono", Menlo, Consolas, monospace;
}
a:hover {
	text-decoration:none;
}
table {
	border-collapse:collapse;
	font-size:0.9em;
	padding:1em 0;
}
th, td {
	padding-right:1em;
}


/***** TITLES です********************************************************/
h1, h2, h3 {
	letter-spacing:-1px;
}
h1 a, h2 a, h3 a {
	text-decoration:none;
}
h1 {
	font-size:2em;
}
h2, .post-title {
	font-size:1.4em;
}
.date-title {
	font-size:1.2em;
	margin-bottom:40px;
	padding:16px 20px;
}


/***** PALLETTE です******************************************************/
body {
	color:black; /* https://www.nngroup.com/articles/low-contrast/ */
}
a, code, pre, table { 
	color:#0f6acd;
}
blockquote {
	border-left:4px solid #efeff9;
}
code, pre {
	background:#f3f8fd;
}
nav a, #post-date, .date-title, time {
	color:#349b38;
}
pre { 
	border-left:4px solid #036ad3;
}
summary:hover {
	background:#f3f8fd;
}
.date-title {
	background:#f3fcf8;
	border-left:4px solid #349b38;
}


/***** ACCESSIBILITY です*************************************************/
#skip, #skip:hover, #skip:visited, legend {
	height:1px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:-1000px;
	width:1px;
}
hr { /* For text-based browsers, or where CSS doesn't load */
	display:none;
	visibility:hidden;
}
details[open] summary {
	font-weight:bold;
}
summary:hover {
	cursor:pointer;
}


/***** NAVIGATION です****************************************************/
#site-navigation {
	padding:20px 0 60px 0;
}
#site-navigation a {
	margin-right:0.3em;
}
#pagination {
	font-weight:bold;
	line-height:24px;
}
#pagination a {
	font-weight:normal;
}


/***** POSTS です*********************************************************/
.post, #bio {
	line-height:24px;
	padding-bottom:80px;
}
.post img {
	margin:0.6em 0;
}
.post blockquote {
	margin:0;
	padding:0 20px;
}
.post pre {
	margin:30px 0;
	padding:20px;
}
.post #post-date {
	display:block;
	margin-bottom:1em;
}
.post .post-metadata {
	display:none
}
.post-content h3 {
	margin-top:2em;
}

/***** PODCAST です*******************************************************/
/* The podcast used to be on a separate site. I've always had problems 
   integrating these posts into the rest of this site here, because they 
   have distinct metadata from regular posts. I think this works fine. */

.show-licence, .show-release, .show-subscribe {
	font-size:14px;
	font-style:italic;
	line-height:22px;
}

/***** ARCHIVES です******************************************************/
#archive time {
	font-size:0.9em;
}
#archive ol, #archive li {
	list-style-type:none;
	margin:0;
	padding:0;
}


/***** RETINA です********************************************************/
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:144dpi) {
	body {
		background-image:url("/rubi@2x.jpg");
		background-size:190px 559px;
	}
}


/***** SMALL SCREEN です**************************************************/
@media screen and (max-width:870px) {
	body {
		background-image:none;
		margin:0 auto;
		padding-left:0;
		padding-right:0;
	}
}


/***** CLARA-SIZED SCREEN です********************************************/
@media screen and (max-width:630px) {
	html {
		padding:0;
	}
	body {
		padding:30px 15px;
		width:auto;
	}
	.post img, figure {
		max-width:100% !important;
		height:auto !important;
		width:auto !important;
	}
	table, iframe, pre { 
		overflow-x:scroll;
	}
}


/***** DARK THEME です ***************************************************/
@media (prefers-color-scheme:dark) {
	body {
		background:black;
		color:lightgrey;
	}
	h2, h3 {
		color:white;
	}
	pre, code, a {
		border-color:skyblue;
		color:skyblue;
	}
	pre, code {
		background:#1f203f;
	}
	nav a, #post-date, .date-title {
		color:lightgreen;
	}
	blockquote {
		border-color:grey;
		color:grey;
	}
	.date-title {
		background:#1f3f20;
	}
}


/***** EOF です *****/

